<section class="content" ng-init="FAQCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a>Frequently Asked Question</a></li>
    </ol>
<div id="utama" class="row" style="padding-top: 25px;">
    <div class="col-md-12 center-block" style="float: none!important;">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="afta-font">Frequently Asked Question</h3>
                        </div>
                    </div>
                    <!--<div class="col-md-5">
                        <form method="post" role="form" ng-submit="FAQCtrl.cariBadanUsaha()">
                        <div class="input-group">
                           <input type="text" class="form-control" placeholder="{{'CARI_BADAN_USAHA' | translate}}..." ng-model="FAQCtrl.txtSearch">
                            <span class="input-group-btn">
                                <button ng-click="FAQCtrl.cariBadanUsaha()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'CARI'|translate}}">
                                    <i class="fa fa-search"></i>&nbsp;</button>
                            </span>
                        </div>
                        </form>
                    </div>-->
                </div>
                <div class="row margin-atas" ng-show="FAQCtrl.isProcSupport==true">
                    <div class="col-md-12 text-right">
                        <button type="button" class="btn btn-flat btn-primary" ng-click="FAQCtrl.formFaq(0, true)" title="{{'Tambah'|translate}}">
                            <i class='fa fa-plus-circle'></i>&nbsp;
                        </button>
                    </div>
                </div>
                <div class="row margin-atas">
                    <div class="col-md-12">
                        <uib-accordion close-others="oneAtATime" ng-show="FAQCtrl.jumlahFaq>0">
                            <div ng-repeat="faq in FAQCtrl.listFaq">
                                <div uib-accordion-group class="panel panel-default" is-open="true">
                                    <uib-accordion-heading>
                                        {{faq.Question}} <!--<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': true, 'glyphicon-chevron-right': false}"></i>-->
                                    </uib-accordion-heading>
                                    {{faq.Answer}}
                                    <button ng-show="FAQCtrl.isProcSupport==true" title="{{'Hapus'|translate}}" ng-click="FAQCtrl.hapusFaq(faq.ID)" class="pull-right btn btn-xs btn-danger"><i class="fa fa-trash"></i>&nbsp;</button>
                                    <button ng-show="FAQCtrl.isProcSupport==true" title="{{'Edit'|translate}}" ng-click="FAQCtrl.formFaq(faq, false)" class="pull-right btn btn-xs btn-success"><i class="fa fa-edit"></i>&nbsp;</button>
                                </div>
                                <br />
                                <br />
                            </div>
                            <!--<div uib-accordion-group class="panel panel-default" is-open="false">
                                <uib-accordion-heading>
                                    I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': true, 'glyphicon-chevron-right': false}"></i>
                                </uib-accordion-heading>
                                This is just some content to illustrate fancy headings.
                            </div>-->
                        </uib-accordion>
                        <div class="alert alert-info alert-dismissable" ng-show="FAQCtrl.jumlahFaq==0">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                            <strong><i class="fa fa-warning"></i>  {{'Tidak ada data FAQ' | translate}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>