﻿<div id="idTambahBadan" class="modal-content" ng-init="FormFAQCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="FormFAQCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{FormFAQCtrl.action |translate}} {{'FAQ'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">{{'Pertanyaan'|translate}}</label>
                        <div class="col-sm-8 col-md-8">
                            <textarea ng-model="FormFAQCtrl.Question" class="form-control" rows="3" placeholder="{{'Pertanyaan'|translate}}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">{{'Jawaban'|translate}}</label>
                        <div class="col-sm-8 col-md-8">
                            <textarea ng-model="FormFAQCtrl.Answer" class="form-control" rows="5" placeholder="{{'Jawaban'|translate}}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="FormFAQCtrl.batal()" title="{{'Batal'|translate}}"><i class="fa fa-reply"></i></button>
        <button type="button" class="btn btn-primary" ng-click="FormFAQCtrl.simpan()" title="{{'Simpan'|translate}}"><i class="fa fa-save"></i></button>
    </div>
</div>