<!-- Main content -->
<div ng-init="preqStepCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BERANDA' | translate}}</a></li>
            <li><a>{{'TAHAPAN_PRAKUALIFIKASI' | translate}}</a></li>
        </ol>
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-header">
						<div class="col-md-1">
							<div class="text-left">
								<br />
								<!--<a href="javascript:void(0)" class="popovers" data-toggle="popover" title="Workflow Process" data-content="<b>Tahapan Pengadaan</b> > <a href='#/metodelelang/edit'>Metode Pengadaan</a>" data-original-title="test title">
									<i class="glyphicon glyphicon-info-sign"></i>
								</a>-->
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<form method="post" role="form" ng-submit="preqStepCtrl.loadSteps()">
								<div class="col-md-5">
									<h3 class="afta-font judul-datatabel">{{'TAHAPAN_PRAKUALIFIKASI' | translate }}</h3>
								</div>
								<div class="col-md-3">
									<select class="form-control" ng-model="preqStepCtrl.searchBy" required>
										<option value="1">{{'NAMA_TAHAPAN' | translate }}</option>
										<option value="2">{{'JENIS_TAHAPAN' | translate }}</option>
									</select>
								</div>
								<div class="col-md-4">
									<div class="input-group">
										<input type="text" class="form-control" ng-model="preqStepCtrl.keyword">
										<span class="input-group-btn">
											<button ng-click="preqStepCtrl.loadSteps()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</div>
							</form>
						</div>
						<div class="row">
							<div class="col-md-7">
								<pagination ng-show="preqStepCtrl.totalItems > 10" total-items="preqStepCtrl.totalItems" page="preqStepCtrl.currentPage" items-per-page="10" max-size="preqStepCtrl.maxSize" on-select-page="preqStepCtrl.loadSteps(page)"></pagination>
							</div>
							<div class="col-md-5">
								<a class="btn btn-flat btn-primary turun-15" style="float:right!important" ng-click="preqStepCtrl.addstep()" title="{{'ADD' | translate}}">
									<i class="fa fa-plus-circle"></i>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px;">{{'NO' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'NAMA_TAHAPAN' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'JENIS_TAHAPAN' | translate }}</th>
												<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="step in preqStepCtrl.tahapans">
												<td style="vertical-align: middle;">{{preqStepCtrl.currentPage > 1 ? (preqStepCtrl.maxSize * (preqStepCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
												<td style="vertical-align: middle;">{{step.PrequalStepName | translate}}</td>
												<td style="vertical-align: middle;">{{step.FormTypeName | translate}}</td>
												<td class="text-center" style="vertical-align: middle;">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="preqStepCtrl.viewDetail(step.PrequalStepID)" title="{{'DETAIL' | translate }}"><i class='fa fa-external-link'></i></a>
													<a class="btn btn-flat btn-sm btn-primary" ng-click="preqStepCtrl.editStep(step.PrequalStepID)" title="{{'EDIT' | translate }}">
														<i class="fa fa-edit"></i>
													</a>
													<a ng-click="preqStepCtrl.remove(step)" class="btn btn-flat btn-sm btn-danger" title="{{'DELETE' | translate }}">
														<i class='fa fa-trash'></i>
													</a>
												</td>
											</tr>
											<tr ng-if="preqStepCtrl.totalItems === 0">
												<td colspan="5">{{'NO_DATA' | translate }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<ul uib-pagination boundary-links="true" total-items="preqStepCtrl.totalItems" ng-model="preqStepCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="preqStepCtrl.pageChanged()"></ul><br />
								<!--<pagination ng-show="preqStepCtrl.totalItems > 10" total-items="preqStepCtrl.totalItems" page="preqStepCtrl.currentPage" items-per-page="10" max-size="preqStepCtrl.maxSize" on-select-page="preqStepCtrl.loadSteps(page)"></pagination><br />-->
								<label>{{'TOTAL_DATA' | translate }} : {{preqStepCtrl.totalItems}}</label>
							</div>
							<div class="col-md-5">
								<a class="btn btn-flat btn-primary turun-15" style="float:right!important" ng-if="preqStepCtrl.allowAdd" ng-click="preqStepCtrl.addstep()" title="{{'ADD' | translate}}">
									<i class="fa fa-plus-circle"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script type="text/ng-template" id="editModalStep.html">
	<div class="modal-content" ng-init="editStepCtrl.init()">
		<form>
			<div class="modal-header">
				<h3 class="afta-font">{{'TAHAPAN_PRAKUALIFIKASI' | translate }}</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'JENIS_TAHAPAN' | translate }}</label>
							<select class="form-control" ng-model="editStepCtrl.selectedFormType" required ng-options="val.FormTypeID as val.FormTypeName | translate for val in editStepCtrl.formTypes" ng-change="editStepCtrl.change(editStepCtrl.formTypeID)">
							</select>
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label>{{'NAMA_TAHAPAN' | translate }}</label>
							<input ng-model="editStepCtrl.stepName" class="form-control" type="text" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>{{'REMARKS' | translate }}</label>
							<textarea ng-model="editStepCtrl.remark" class="form-control" rows="3" placeholder="{{'REMARKS_PLACEHOLDER' | translate }}"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
                <button type="submit" class="btn btn-flat btn-success" ng-click="editStepCtrl.saveTenderStep()" title="{{'SAVE' | translate }}">
                    <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-flat btn-danger" ng-click="editStepCtrl.closeModal()" title="{{'CANCEL' | translate }}">
					<i class="fa fa-reply"></i>
				</button>
			</div>
		</form>
	</div>
</script>

<script type="text/ng-template" id="viewDetail.html">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="viewDetailCtrl.closeModal()">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only">{{'CLOSE' | translate }}</span>
			</button>
			<h3 class="modal-title afta-font" id="myModalLabel">{{'TAHAPAN_PRAKUALIFIKASI' | translate }}</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-10 center-block" style="float: none!important;">
					<div class="row well">
						<div class="col-md-12">
							<dl class="dl-horizontal">
								<dt>{{'JENIS_TAHAPAN' | translate }}</dt>
								<dd>{{viewDetailCtrl.prequalStepName | translate}}</dd>
								<dt>{{'NAMA_TAHAPAN' | translate }}</dt>
								<dd>{{viewDetailCtrl.formTypeName | translate}}</dd>
								<dt>{{'REMARKS' | translate }}</dt>
								<dd>{{viewDetailCtrl.remark}}</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-flat btn-primary" ng-click="viewDetailCtrl.closeModal()" title="{{'CLOSE' | translate }}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</script>


<script>
	$(document).ready(function () {
		$('[data-toggle="popover"]').popover({ html: true, placement: "right" });
		//        $("[data-toggle='popover']").popover('show');
	});

</script>