<section class="content" ng-init="dataCRCtrl.init()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a>{{'BREADCRUMB.MASTER_REQUISITION' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.DATA_CONTRACT_REQUISITION' | translate}}</a></li>
	</ol>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-success">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'DATA_CONTRACT_REQUISITION' | translate}}</h3>
						</div>
					</div>
					<!--button Tambah PR-->
					<div class="row" style="margin-bottom: 2px;">
						<div class="col-md-4" ng-if="dataCRCtrl.allowCreate">
							<button class="btn btn-flat btn-primary" ng-click="dataCRCtrl.tambah()" title="{{'TAMBAH' | translate}}">
								<i class="fa fa-plus"></i>
							</button>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<label class="control-label col-lg-1">Filter &nbsp; </label>
								<div class="col-md-4">
									<select class="form-control input-sm" ng-change="dataCRCtrl.onFilterTypeChange(column)" ng-model="column">
										<option value="1" ng-selected="true">{{'FILTER.NOMOR_TENDER' | translate}}</option>
										<option value="2">{{'FILTER.RFQ' | translate}}</option>
                                        <option value="3">Contract Number</option>
									</select>
								</div>
								<div class="col-md-7">
									<form ng-submit="dataCRCtrl.onSearchClick(keyword)">
										<input type="text" placeholder="{{'FILTER.CARI_NOTE' | translate}}" class="form-control input-sm" ng-model="keyword" />
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
											<th class="center-vertical" width="80">{{'TABLE.NOMOR_TENDER' | translate}}</th>
											<th class="center-vertical">{{'TABLE.RFQ' | translate}}</th>
											<th class="center-vertical" width="80">{{'TABLE.JENIS_CR' | translate}}</th>
											<!--<th class="center-vertical" width="60">{{'TABLE.TANGGAL_BUAT' | translate}}</th>-->
											<th class="center-vertical" width="60">{{'TABLE.TANGGAL_PENGAJUAN' | translate}}</th>
                                            <th class="center-vertical" width="60">Final Approve</th>
											<th class="center-vertical" width="80">{{'TABLE.STATUS' | translate}}</th>
											<!--<th class="center-vertical">{{'TABLE.KETERANGAN' | translate}}</th>-->
											<th class="center-vertical">Contract Number</th>
											<th style="width: 150px; min-width: 150px;"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dt in dataCRCtrl.contractRequisition">
											<td class="text-center" style="vertical-align: middle;">{{$index + 1 + (dataCRCtrl.pageSize * (dataCRCtrl.currentPage - 1))}}</td>
											<td style="vertical-align: middle;">{{dt.TenderCode}}</td>
											<td style="vertical-align: middle;">{{dt.ProjectTitle}}</td>
											<td style="vertical-align: middle;">{{dt.IsCSMS === true ? 'CSMS' : (dt.IsCSMS === false ? 'Non CSMS' : '')}}</td>
											<!--<td class="text-center" style="vertical-align: middle;">{{dataCRCtrl.convertDate(dt.Created)}}</td>-->
											<td class="text-center" style="vertical-align: middle;">{{dataCRCtrl.convertDate(dt.ApprovalSubmissionDate)}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{dataCRCtrl.convertDate(dt.FinalApprovedDate)}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <span ng-if="!dt.VariationIsCancelled">
                                                    <span ng-if="!dt.IsOERevision">
                                                        {{dataCRCtrl.statusLabels[dt.StatusName] | translate}}
                                                    </span>
                                                    <span ng-if="dt.IsOERevision">
                                                        {{'STATUS.REVISI_OE' | translate}}
                                                    </span>
                                                </span>
                                                <span ng-if="dt.VariationIsCancelled">{{'STATUS.CANCELLED' | translate}}</span>
                                            </td>
											<!--<td style="vertical-align: middle;">{{dt.Information}}</td>-->
											<td style="vertical-align: middle;">{{dt.VariationOfContractNo}}</td>
											<td class="text-center" style="vertical-align: middle;">
												<a class="btn btn-flat btn-xs btn-primary" ng-click="dataCRCtrl.detailContract(dt)" title="{{'TABLE.DETAIL' | translate}}"><i class='fa fa-external-link'></i>&nbsp;</a>
												<a class="btn btn-flat btn-xs btn-warning" ng-click="dataCRCtrl.menujuDokumen(dt)" title="{{'TABLE.DOKUMEN' | translate}}"><i class="fa fa-file-o"></i>&nbsp; </a>
												<a ng-if="(dt.StatusName === 'CR_DRAFT' || dt.StatusName.substr(0, 9) === 'CR_REJECT') && dt.IsManageable" class="btn btn-flat btn-xs btn-success" ng-click="dataCRCtrl.sendToApproval(dt)" title="{{'TABLE.KIRIM_U_PROSES_APPROVAL' | translate}}">
													<i class="fa fa-envelope"></i>&nbsp;
												</a>
                                                <a ng-if="dt.IsOERevision && dt.IsManageable" class="btn btn-flat btn-xs btn-success" ng-click="dataCRCtrl.sendOERevision(dt)" title="{{'TABLE.KIRIM_REVISI_OE' | translate}}">
                                                    <i class="fa fa-envelope"></i>&nbsp;
                                                </a>
												<a ng-if="dt.StatusName !== 'CR_DRAFT' && dt.StatusName !== 'CR_PROCESS_0.5'" class="btn btn-flat btn-xs btn-success" ng-click="dataCRCtrl.detailApproval(dt)" title="{{'DETAIL_APPROVAL' | translate}}"><i class="fa fa-sitemap"></i></a>
												<a ng-if="dt.CanCreateVariable === true && dt.IsManageable" class="btn btn-flat btn-xs btn-primary" ng-click="dataCRCtrl.buatVariasi(dt)" title="{{'TABLE.BUAT_VARIASI' | translate}}"><i class="fa fa-copy"></i>&nbsp;</a>
											</td>
										</tr>
										<tr ng-if="dataCRCtrl.totalItems === 0">
											<td colspan="9">{{'TIDAK_ADA_DATA' | translate}}</td>
										</tr>
									</tbody>
								</table>
								<div class="row">
									<div class="col-sd-4 col-md-10">
										<ul uib-pagination total-items="dataCRCtrl.totalItems" max-size="10"
											ng-model="dataCRCtrl.currentPage" items-per-page="dataCRCtrl.pageSize"
											previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="dataCRCtrl.loadContracts()"></ul>
										<br /><label>{{'TOTAL_DATA' | translate}} : {{dataCRCtrl.totalItems}}</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-bold">
							<br />
							<!-- untuk keterangan -->
						</div>
					</div>
					<div class="row" style="margin-top: 2px;">
						<div class="col-md-12">
							<span class="pull-right">
								<button class="btn btn-sm btn-flat btn-primary" ng-click="dataCRCtrl.menujuReview()" title="{{'MASUK_SEBAGAI_FINANCE_REVIEWER' | translate}}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;{{'MASUK_SEBAGAI_FINANCE_REVIEWER' | translate}}</button>&nbsp;
								<button class="btn btn-sm btn-flat btn-success" ng-click="dataCRCtrl.menujuApproval()" title="{{'MASUK_SEBAGAI_APPROVER' | translate}}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;{{'MASUK_SEBAGAI_APPROVER' | translate}}</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>