<div class="modal-content" ng-init="FormBuildingCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="FormBuildingCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{'BUILDING' | translate}}   </h3>
    </div>
    <div class="modal-body" >
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-12 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'TABLE.CATEGORY' | translate}} <span style="color:red;">*</span></label>
                            <select class="form-control input-sm" required ng-style="{ background: FormBuildingCtrl.selectedCategory === '' || FormBuildingCtrl.selectedCategory === null || FormBuildingCtrl.selectedCategory === undefined ? '#f2dede' : 'white' }" ng-model="FormBuildingCtrl.selectedCategory"
                                ng-options="item as item.Value | translate for item in FormBuildingCtrl.listCategory"
                                >
                                <option value="">--{{'TABLE.CATEGORY' | translate}}--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'TABLE.LARGE' | translate}}(M<sup>2</sup>)</label>
                            <input type="text" class="form-control" placeholder="{{'TABLE.LARGE' | translate}}" required ng-model="FormBuildingCtrl.dataBuilding.BuildingArea" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'TABLE.OWNERSHIP' | translate}} <span style="color:red;">*</span></label>
                            <select class="form-control input-sm" required ng-style="{ background: FormBuildingCtrl.selectedKepemilikan === '' || FormBuildingCtrl.selectedKepemilikan === null || FormBuildingCtrl.selectedKepemilikan === undefined ? '#f2dede' : 'white' }" ng-model="FormBuildingCtrl.selectedKepemilikan"
                                    ng-options="item as item.Value | translate for item in FormBuildingCtrl.listKepemilikan">
                                <option value="">--{{'TABLE.OWNERSHIP' | translate}}--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'TABLE.ADDRESS' | translate}}</label>
                            <input type="text" class="form-control" required placeholder="{{'TABLE.ADDRESS' | translate}}" 
                                   ng-model="FormBuildingCtrl.dataBuilding.Address" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{'TABLE.PROVINCE' | translate}}</label>
                            <select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedProvince"
                                    ng-options="item as item.Name for item in FormBuildingCtrl.listProvinsi"
                                    ng-change="FormBuildingCtrl.changeProvince()">
                                <option value="">--{{'TABLE.PROVINCE' | translate}}--</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{'TABLE.CITY' | translate}}</label>
                            <select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKabupaten"
                                    ng-options="item as item.Name for item in FormBuildingCtrl.listKabupaten"
                                    ng-change="FormBuildingCtrl.changeCities()">
                                <option value="">--{{'TABLE.CITY' | translate}}--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{'TABLE.DISTRICT' | translate}}</label>
                            <select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKecamatan"
                                    ng-options="item as item.Name for item in FormBuildingCtrl.listKecamatan">
                                <option value="">--{{'TABLE.DISTRICT' | translate}}--</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="FormBuildingCtrl.batal()" class="btn btn-flat btn-danger" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BATAL' | translate}}</button>
        <button type="button" ng-click="FormBuildingCtrl.saveData()" class="btn btn-flat btn-success" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;{{'BTN.SIMPAN' | translate}}</button>
    </div>
</div>