﻿<div class="modal-content" ng-init="addDelegationCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="addDelegationCtrl.cancel()">
			<span aria-hidden="true">&times;</span><span class="sr-only">{{'CLOSE'|translate}}</span>
		</button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'ADD_DELEGATION'|translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>{{'DELEGATION_FROM'|translate}}</label>
					<input class="form-control" type="text" ng-model="addDelegationCtrl.datapegawai.Name" disabled>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>&nbsp;</label>
					<a ng-if="addDelegationCtrl.isAdmin" class="btn btn-primary btn-flat form-control" ng-click="addDelegationCtrl.addDelegationFrom()">
						<i class="fa fa-edit"></i> {{'SELECT_EMP'|translate}}
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>{{'DELEGATION_TO'|translate}}</label>
					<input class="form-control" type="text" ng-model="addDelegationCtrl.datapegawaiTo.Name" disabled>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>&nbsp;</label>
					<a class="btn btn-primary btn-flat form-control" ng-click="addDelegationCtrl.addDelegationTo()">
						<i class="fa fa-edit"></i> {{'SELECT_EMP'|translate}}
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label>{{'START_DATE' | translate}}</label>
					<div class="input-group date form_datetime">
						<input readonly required class="form-control" style="background-color: #ffffff;" size="10" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'CLOSE'|translate}}" is-open="addDelegationCtrl.isCalendarOpened[0]" ng-model="addDelegationCtrl.StartDate" ng-click="addDelegationCtrl.openCalendar(0)" ng-change="addDelegationCtrl.verifyEndDate(addDelegationCtrl.EndDate,addDelegationCtrl.StartDate)" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="addDelegationCtrl.openCalendar(0)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label>{{'END_DATE' | translate}}</label>
					<div class="input-group date form_datetime">
						<input readonly required class="form-control" style="background-color: #ffffff;" size="10" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'CLOSE'|translate}}" is-open="addDelegationCtrl.isCalendarOpened[1]" ng-model="addDelegationCtrl.EndDate" ng-click="addDelegationCtrl.openCalendar(1)" ng-change="addDelegationCtrl.verifyEndDate(addDelegationCtrl.EndDate,addDelegationCtrl.StartDate)" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="addDelegationCtrl.openCalendar(1)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-right">
			<button class="btn btn-sm btn-danger" ng-click="addDelegationCtrl.cancel()">
				<i class="fa fa-arrow-left"></i> {{'BACK'|translate}}
			</button>
			<button class="btn btn-sm btn-primary" ng-click="addDelegationCtrl.saveDelegation()">
				<i class="fa fa-save"></i> {{'SAVE'|translate}}
			</button>
		</div>
	</div>
</div>