<section class="content" ng-init="aanwijzingCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin">{{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{aanwijzingCtrl.IDTender}}/{{aanwijzingCtrl.ProcPackType}}/{{aanwijzingCtrl.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
		<li><a class="active">{{'BREADCRUMB.AANWIJZING'|translate}}</a></li>
	</ol>
	<div class="row">
		<button class="btn btn-flat btn-default" title="Print Preview" ng-click="aanwijzingCtrl.printExport()">
			<i class="glyphicon glyphicon-print"></i>
		</button>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="afta-font text-center">{{aanwijzingCtrl.nama_tahapan}} ( {{aanwijzingCtrl.TypeAanwijzing}} )</h3>
		</div>
	</div>
	<!-- tampilan pertama muncul -->
	<div class="container-fluid">
		<!-- begin jika di pilih metode none -->
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
						<h4 class="afta-font text-center">{{'FORM.TENDERNAME'|translate}}:</h4>
						<div class="text-center">
							<label>{{aanwijzingCtrl.TenderName}}</label><br />
							<label class="text-red" ng-if="aanwijzingCtrl.isCancelled"><i>({{'KET_BATAL'|translate}})</i></label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end jika di pilih metode none -->
		<br />
		<!-- begin forum online -->
		<div id="forum">
			<div class="row" id="metodeOnline">
				<div class="col-md-12 center-block" style="float: none!important;">
					<div class="row">
						<div class="col-md-6">
							<label class="control-label"> {{'FORM.RANGE' | translate}} : &nbsp;</label>
							<!--<span> <i>{{'FORM.NOTSTARTED' | translate}}</i></span>-->
							<span>
								{{aanwijzingCtrl.StartDateVendorEntry | date:"dd-MM-yyyy HH:mm"}} &nbsp; {{'FORM.TO' | translate}}
								&nbsp; {{aanwijzingCtrl.EndDateVendorEntry | date:"dd-MM-yyyy HH:mm"}}
							</span><br />
							<label class="control-label"> {{'FORM.RANGE_ANSWER' | translate}} : &nbsp;</label>

							<!--<span> <i>{{'FORM.NOTSTARTED' | translate}}</i></span>-->
							<span>
								{{aanwijzingCtrl.AnswerStartDate | date:"dd-MM-yyyy HH:mm"}} &nbsp; {{'FORM.TO' | translate}}
								&nbsp; {{aanwijzingCtrl.AnswerEndDate | date:"dd-MM-yyyy HH:mm"}}
							</span><br />
							<!--<div class="row">-->
							<!--<div class="col-md-12">-->
							<button ng-disabled="aanwijzingCtrl.isCancelled || !aanwijzingCtrl.isAllowEdit" ng-if="aanwijzingCtrl.isNeedApproval" ng-click="aanwijzingCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.SEND'|translate}}">
								<i class="fa fa-paste"></i>
							</button>
							<button ng-if="aanwijzingCtrl.isApprovalSent" ng-click="aanwijzingCtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.APPROV_DETAIL'|translate}}">
								<i class="fa fa-sitemap"></i>
							</button>
							<!--</div>
							</div>-->
						</div>
						<div class="col-md-6">
							<br />
							<button ng-if="aanwijzingCtrl.ProcPackType === 4189 && !aanwijzingCtrl.hideDetailVendor" ng-click="aanwijzingCtrl.aturVendorAanwijzing()" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'BTN.DETAIL_VENDOR'|translate}}">
								<i class="fa fa-check"></i>&nbsp; {{'BTN.DETAIL_VENDOR'|translate}}
							</button>
							<button ng-disabled="aanwijzingCtrl.isCancelled || !aanwijzingCtrl.isAllowEdit ||aanwijzingCtrl.isAanwjzCommittee==true " ng-click="aanwijzingCtrl.aturAanwijzing(aanwijzingCtrl.dataAturAanwijzing,aanwijzingCtrl.IsAtur)" class="btn btn-flat btn-sm btn-success pull-right" title="{{'BTN.SET_AANWIJZING'|translate}}">
								<i class="fa fa-gears"></i>&nbsp;
							</button>
							<button ng-show="aanwijzingCtrl.isAanwjzCommittee!=true" ng-disabled="aanwijzingCtrl.isCancelled || !aanwijzingCtrl.isAllowEdit" ng-if="aanwijzingCtrl.IsAtur === true" ng-click="aanwijzingCtrl.postingPertanyaan(aanwijzingCtrl.dataAturAanwijzing)" class="btn btn-flat btn-sm btn-primary pull-right">
								<span ng-show="(aanwijzingCtrl.dataAturAanwijzing.PostedDate === null)">
									<i class="fa fa-plus"></i>&nbsp; {{'BTN.POSTING_TANGGAPAN'|translate}}
								</span>
								<span ng-show="!(aanwijzingCtrl.dataAturAanwijzing.PostedDate === null)">
									<i class="fa fa-pencil-square-o"></i>&nbsp; {{'BTN.EDIT_POST'|translate}}
								</span>
							</button>
							<button ng-show="aanwijzingCtrl.isAanwjzCommittee!=true" ng-disabled="aanwijzingCtrl.isCancelled || !aanwijzingCtrl.isAllowEdit" ng-if="!aanwijzingCtrl.adminPost && aanwijzingCtrl.IsAtur === true" ng-click="aanwijzingCtrl.postingInformasi()" class="btn btn-flat btn-sm btn-primary pull-right">
								<span>
									<i class="fa fa-exclamation-circle"></i>&nbsp; {{'BTN.POST_INFO'|translate}}
								</span>
							</button>
							<button ng-show="aanwijzingCtrl.isAanwjzCommittee==true && aanwijzingCtrl.reviewerPost==null" ng-disabled="aanwijzingCtrl.isCancelled || !aanwijzingCtrl.isAllowEdit" ng-if="aanwijzingCtrl.IsAtur === true" ng-click="aanwijzingCtrl.postingPertanyaan(aanwijzingCtrl.dataAturAanwijzing)" class="btn btn-flat btn-sm btn-primary pull-right">
								<span>
									<i class="fa fa-plus"></i>&nbsp; {{'BTN.POST_ASCOMMITTEE'|translate}}
								</span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-12 center-block">
					<div class="message-wrap col-md-12 center-block" style="float: none!important; box-shadow: none!important;">
						<div class="box box-info">
							<div class="box-body well" ng-if="aanwijzingCtrl.dataAturAanwijzing.PostedDate">
								<div class="row">
									<div class="col-md-12">
										<h4>
											<strong><a class="post-title">{{'BTN.SUMMARY'|translate}}</a></strong>
										</h4>
										<i class="fa fa-clock-o"></i> {{aanwijzingCtrl.dataAturAanwijzing.PostedDate}}&nbsp;
										<b>{{aanwijzingCtrl.dataAturAanwijzing.TitleSummary}}</b>
									</div>
								</div>
								<div class="row post-content">
									<div class="col-md-8">
										<p ng-bind-html="aanwijzingCtrl.dataAturAanwijzing.Remark" style="font-size: 12px; text-align: justify!important;font-family: sans-serif!important;"></p>
									</div>
									<div class="col-md-4">
										<a ng-show="aanwijzingCtrl.dataAturAanwijzing.FileDocument" href="{{aanwijzingCtrl.folderFile+aanwijzingCtrl.dataAturAanwijzing.FileDocument}}" target="_blank" class="btn btn-sm btn-primary btn-flat pull-right"><i class="fa fa-download"></i> {{'BTN.Download'|translate}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<button ng-show="aanwijzingCtrl.isAanwjzCommittee==false" ng-disabled="aanwijzingCtrl.isCancelled || !aanwijzingCtrl.isAllowEdit" ng-if="aanwijzingCtrl.adminPost && aanwijzingCtrl.IsAtur === true" ng-click="aanwijzingCtrl.postingInformasi()" class="btn btn-flat btn-sm btn-primary pull-right">
						<span>
							<i class="fa fa-exclamation-circle"></i>&nbsp; {{'BTN.EDIT_INFO'|translate}}
						</span>
					</button>
				</div>
				<div class="col-md-12 center-block" ng-if="aanwijzingCtrl.adminPost">
					<div class="message-wrap col-md-12 center-block" style="float: none!important; box-shadow: none!important;">
						<div class="box box-info">
							<div class="box-body well">
								<div class="row">
									<div class="col-md-12">
										<h4>
											<strong>
												<a class="post-title">{{aanwijzingCtrl.adminPost.Title}}</a>
											</strong>
										</h4>
										<i class="fa fa-clock-o"></i> {{aanwijzingCtrl.adminPost.PostDate | date : 'yyyy-MM-dd'}}&nbsp;
									</div>
								</div>
								<div class="row post-content">
									<div class="col-md-8">
										<p ng-bind-html="aanwijzingCtrl.adminPost.Post" style="font-size: 12px; text-align: justify!important;font-family: sans-serif!important;"></p>
									</div>
									<div class="col-md-4">
										<a ng-show="aanwijzingCtrl.adminPost.UploadURL" href="{{aanwijzingCtrl.folderFile + aanwijzingCtrl.adminPost.UploadURL}}" target="_blank" class="btn btn-sm btn-primary btn-flat pull-right"><i class="fa fa-download"></i> {{'BTN.Download'|translate}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<button ng-show="aanwijzingCtrl.isAanwjzCommittee==true && aanwijzingCtrl.reviewerPost!=null" ng-disabled="aanwijzingCtrl.isAanwjzCommittee==false || aanwijzingCtrl.isCancelled || !aanwijzingCtrl.isAllowEdit" ng-if="aanwijzingCtrl.IsAtur === true" ng-click="aanwijzingCtrl.postingPertanyaan(aanwijzingCtrl.dataAturAanwijzing,true)" class="btn btn-flat btn-sm btn-primary pull-right">
						<span ng-show="!(aanwijzingCtrl.reviewerPost==null)">
							<i class="fa fa-pencil-square-o"></i>&nbsp; {{'BTN.EDIT_POSTASCOMMITTEE'|translate}}
						</span>
					</button>
				</div>
				<div class="col-md-12 center-block" ng-if="aanwijzingCtrl.reviewerPost!=null">
					<div class="message-wrap col-md-12 center-block" style="float: none!important; box-shadow: none!important;">
						<div class="box box-info">
							<div class="box-body well">
								<div class="row">
									<div class="col-md-12">
										<h4>
											<strong>
												<a class="post-title">{{aanwijzingCtrl.reviewerPost.Title}}</a>
											</strong>
										</h4>
										<i class="fa fa-clock-o"></i> {{aanwijzingCtrl.reviewerPost.PostDate | date : 'yyyy-MM-dd'}}&nbsp;
									</div>
								</div>
								<div class="row post-content">
									<div class="col-md-8">
										<p ng-bind-html="aanwijzingCtrl.reviewerPost.Post" style="font-size: 12px; text-align: justify!important;font-family: sans-serif!important;"></p>
									</div>
									<div class="col-md-4">
										<a ng-show="aanwijzingCtrl.reviewerPost.UploadURL" href="{{aanwijzingCtrl.folderFile + aanwijzingCtrl.reviewerPost.UploadURL}}" target="_blank" class="btn btn-sm btn-primary btn-flat pull-right"><i class="fa fa-download"></i> {{'BTN.Download'|translate}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end jika di pilih metode online -->
			<!-- negoisasi Online -->
			<div class="container-fluid" ng-show="aanwijzingCtrl.IsAtur === true">
				<div ng-repeat="pt in aanwijzingCtrl.listPertanyaan" class="row" style="padding-top: 3px!important; padding-bottom: 5px!important;">
					<div class="col-md-12">
						<div class="message-wrap col-md-12 center-block" style="float: none!important;">
							<div class="msg-wrap" style="padding-top: 10px;">
								<div class="media msg">
									<div class="media-body">
										<small class="pull-right time">
											<i class="fa fa-clock-o"></i> {{pt.QuestionDate}}
										</small>
										<h5 class="media-heading afta-font">
											{{aanwijzingCtrl.currentPage > 1 ? (aanwijzingCtrl.maxSize * (aanwijzingCtrl.currentPage - 1)) + $index + 1 : $index + 1}}) &nbsp; {{pt.QuestionTitle}} , <i>{{'Oleh'|translate}} : {{pt.vendorPosted.VendorName}} </i>
										</h5>
										<div class="row">
											<div class="col-md-10">
												<p style="margin-top: 10px;" ng-bind-html="pt.Question"></p>
											</div>
											<div class="col-md-2">
												<a ng-show="!(pt.UploadURL === '' )" href="{{aanwijzingCtrl.folderFile + pt.UploadURL}}" target="_BLANK" class="btn btn-xs btn-default btn-flat pull-right" style="margin-top: 10px;" title="{{'BTN.ATTACH'|translate}}">
													<i class="fa fa-download"></i>&nbsp;
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<ul uib-pagination boundary-links="true" total-items="aanwijzingCtrl.totalItems" ng-model="aanwijzingCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="aanwijzingCtrl.jLoad(aanwijzingCtrl.currentPage)" items-per-page="aanwijzingCtrl.maxSize"></ul>
					</div>
					<div class="col-md-5" style="margin-top:18px!important;">

						<div class="text-right">
							<a ng-click="aanwijzingCtrl.backpengadaan()" class="btn btn-sm btn-flat btn-primary"><i class="fa fa-arrow-circle-left"></i>&nbsp;{{'BTN.BACK'|translate}}</a>&nbsp;
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end forum online-->
	</div>
</section>
