﻿<div class="modal-content" ng-init="PostSummaryAwjCtrl.init()">
    <div class="modal-header">
        <button type="button" ng-click="PostSummaryAwjCtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT'|translate}}</span></button>
        <h3 class="modal-title afta-font">{{'FORM.RESPONSE_FORM'|translate}} <span ng-if="PostSummaryAwjCtrl.IsAanwijzingCommittee==true">(Reviewer)</span></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'FORM.TITLE_RESPONSE'|translate}}</label>
                                <input type="text" ng-model="PostSummaryAwjCtrl.TitleSummary" class="form-control input-sm" placeholder="{{'FORM.TITLE_RESPONSE'|translate}}" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title afta-font">{{'FORM.RESPONSE'|translate}} <small class="afta-font">{{'FORM.INPUT_RESPONSE'|translate}}</small></h3>
                                </div>
                                <div class="box-body pad">
                                    <textarea ng-model="PostSummaryAwjCtrl.Remark"  class="form-control input-sm" name="editor1" rows="10" cols="80"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group pull-right">
								<button type="button" ng-click="PostSummaryAwjCtrl.getListPertanyaan()"  class="btn btn-flat btn-primary" title="{{'BTN.GENERATE'|translate}}"><i class="fa fa-send"></i>&nbsp;</button>
                                <button type="button" ng-click="PostSummaryAwjCtrl.getTanggapanReviewer()" ng-show="PostSummaryAwjCtrl.IsAanwijzingCommittee!=true" class="btn btn-flat btn-primary" title="{{'BTN.GENERATE'|translate}} Tanggapan Reviewer"><i class="fa fa-send"></i>&nbsp;</button>
							</div>
						</div>
					</div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-10" >
                            <div class="form-group">
                                <label class="control-label">
                                    {{'FORM.DOC'|translate}}
                                    <small> ( <span ng-repeat="ft in PostSummaryAwjCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{PostSummaryAwjCtrl.idUploadConfigs[0].Size}} {{PostSummaryAwjCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                </label>
                                <input type="file" class="form-control" ng-file-select="PostSummaryAwjCtrl.selectUpload()"
                                       ng-model="PostSummaryAwjCtrl.fileUpload" name="ownerIDFile" accept="{{PostSummaryAwjCtrl.idFileTypes}}" />
                            </div>
                        </div>
                        <div class="col-md-2 margintop25">
                            <a ng-show="!(PostSummaryAwjCtrl.fileUpload === null)" href="{{PostSummaryAwjCtrl.folderFile + PostSummaryAwjCtrl.pathfile}}" target="_blank" class="btn btn-sm btn-primary btn-flat pull-right"><i class="fa fa-download"></i> {{'BTN.Download'|translate}}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="PostSummaryAwjCtrl.batal()" class="btn btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
        <button type="button" ng-click="PostSummaryAwjCtrl.save()" class="btn btn-flat btn-success" title="{{'BTN.POST'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>
</div>