﻿<!-- Main content -->
<div ng-init="dataUploadCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
			<li><a href="#/monitoring-po">{{'BREADCRUMB.MONITORING' | translate}}</a></li>
			<li><a>{{'BREADCRUMB.DATA_UPLOAD_PO' | translate}}</a></li>
		</ol>
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-header">
						<div class="row">
							<div class="col-md-12 align-center">
								<h3 class="afta-font center text-center">{{'JUDUL'|translate}}</h3>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<div class="input-group">
										<input type="file" class="form-control" ng-file-select="dataUploadCtrl.selectUpload()" ng-model="dataUploadCtrl.fileUpload" name="ownerIDFile" required accept="{{dataUploadCtrl.idFileTypes}}" />
										<div class="input-group-btn">
											<button class="btn btn-success" ng-click="dataUploadCtrl.uploadFile()" title="{{'UPLOAD_DATA' | translate}}"><i class="fa fa-arrow-circle-o-up"></i> </button>
										</div>
									</div>
									<div class="input-group">
										<small> ( <span ng-repeat="ft in dataUploadCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{dataUploadCtrl.idUploadConfigs[0].Size}} {{dataUploadCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="center-vertical" style="vertical-align: middle; width: 20px; min-width: 20px;">{{'TABLE.NO' | translate }}</th>
												<th class="center-vertical" style="vertical-align: middle;">{{'TABLE.FILE_NAME' | translate }}</th>
												<th class="center-vertical" style="vertical-align: middle;">{{'TABLE.UPLOAD_DATE' | translate }}</th>
												<th class="center-vertical" style="vertical-align: middle;">{{'TABLE.RESPONSE' | translate }}</th>
												<th class="center-vertical" style="vertical-align: middle;">{{'TABLE.ACTION' | translate }}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="data in dataUploadCtrl.listItemPO">
												<td style="vertical-align: middle;">{{dataUploadCtrl.currentPage > 1 ? (dataUploadCtrl.maxSize * (dataUploadCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
												<td style="vertical-align: middle;">{{data.FileName}}</td>
												<td class="text-center" style="vertical-align: middle;">{{dataUploadCtrl.convertDate (data.UploadDate)}}</td>
												<td style="vertical-align: middle;">{{data.reffName.Value}}</td>
												<td style="vertical-align: middle;">
													<a class="btn btn-sm btn-primary" title="{{'BTN.PO_DETAIL'|translate}}" ng-click="dataUploadCtrl.toDetail(data.ID)">
														<i class="fa fa-edit"></i>
													</a>
													<a ng-if="data.reffName.Name === 'RESPON_PO_DRAFT'" title="Compare PO" ng-click="dataUploadCtrl.toDetail1(data.ID)" class="btn btn-sm btn-success">
														<i class="fa fa-check"></i>
													</a>
													<a class="btn btn-sm btn-warning" title="Download File" href="{{dataUploadCtrl.folderFile+data.DocUrl}}">
														<i class="fa fa-download"></i>
													</a>
													<a ng-if="data.reffName.Name !== 'RESPON_PO_NO_VAR'" title="{{'DELETE' | translate}}" ng-click="dataUploadCtrl.deleteFile(data.ID)" class="btn btn-sm btn-danger">
														<i class="fa fa-trash"></i>
													</a>
												</td>
											</tr>
											<tr ng-if="dataUploadCtrl.totalItems === 0">
												<td colspan="5">{{'TIDAK_ADA_DATA' | translate }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<ul uib-pagination total-items="dataUploadCtrl.totalItems"
									ng-model="dataUploadCtrl.currentPage" max-size="10" items-per-page="dataUploadCtrl.maxSize"
									previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="dataUploadCtrl.loadData(dataUploadCtrl.currentPage)"></ul>
							</div>
							<div class="col-md-12">
								<label>{{'TOTAL_DATA' | translate }} : {{dataUploadCtrl.totalItems}}</label>
							</div>
							<div class="col-md-12 text-right">
								<a href="#/monitoring-po" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
									<i class="fa fa-arrow-left"></i>{{'BACK' | translate}}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
