﻿<section ng-init="ApprovalMin3Ctrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#">{{'BREADCRUMB.HOME'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.APPROVAL_DATA'|translate}}</a></li>
	</ol>

	<!-- tampilan pertama muncul -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'APPROVAL_DATA'|translate}}</h3>
							</div>
						</div>
						<hr />
						<div class="row">
							<form class="" ng-submit="ApprovalMin3Ctrl.init()">
								<div class="pull-right col-md-2">
									<select class="form-control input-sm" ng-model="ApprovalMin3Ctrl.columnApprovalStatus" style="float: left; height: 34px;" ng-change="ApprovalMin3Ctrl.changedFilter()">
										<option value="1">{{'APPROVE'|translate}}</option>
										<option value="2">{{'ONPROCESS'|translate}}</option>
										<option value="3">{{'REJECT'|translate}}</option>
										<option value="4">{{'RFQ_ALL'|translate}}</option>
									</select>
								</div>
								<div class="pull-right col-md-4">
									<div class="input-group">
										<input type="text" placeholder="Search..." ng-model="ApprovalMin3Ctrl.textSearch" class="form-control">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-flat btn-primary" ng-click="ApprovalMin3Ctrl.init()">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="box-body">
						<div class="row" style="padding-top: 10px!important;">
							<br />
							<div class="col-md-12">
								<pagination total-items="ApprovalMin3Ctrl.totalItems" page="ApprovalMin3Ctrl.currentPage" items-per-page="10" ng-show="ApprovalMin3Ctrl.totalItems > 10"
											max-size="ApprovalMin3Ctrl.maxSize" on-select-page="ApprovalMin3Ctrl.loadDataApproval(page)"></pagination>
							</div>
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped" id="tabelApprovalForMin3">
										<thead>
											<tr>
												<th class="text-center" width="20px">No.</th>
												<th class="text-center">{{'TABLE.TENDER_NAME'|translate}}</th>
												<th class="text-center">{{'TABLE.STAGE'|translate}}</th>
												<th class="text-center">{{'TABLE.APPROVAL_TYPE'|translate}}</th>
												<th class="text-center">{{'TABLE.STATUS'|translate}}</th>
												<th class="text-center">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="data in ApprovalMin3Ctrl.dataApproval">
												<td style="vertical-align: middle;">{{ApprovalMin3Ctrl.currentPage > 1 ? (ApprovalMin3Ctrl.pageSize * (ApprovalMin3Ctrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
												<td style="vertical-align: middle;">{{data.TenderName}}</td>
												<td style="vertical-align: middle;">{{data.TenderStepName | translate}}</td>
												<td style="vertical-align: middle;">{{data.ApprvTypeName | translate}}</td>
												<td style="vertical-align: middle;">{{data.ApprovalStatusName | translate}}</td>
												<td class="text-center" style="vertical-align: middle;">
													<a class="btn btn-sm btn-flat btn-success" ng-click="ApprovalMin3Ctrl.approve(data)" ng-if="data.ApprovalStatusName === null" title="Approve">
														<i class="glyphicon glyphicon-ok"></i>
													</a>
													<a class="btn btn-sm btn-flat btn-danger" ng-click="ApprovalMin3Ctrl.approvalModal(data,0)" ng-if="data.ApprovalStatusName === null" title="Reject">
														<i class="glyphicon glyphicon-remove"></i>
													</a>
													<a class="btn btn-sm btn-flat btn-default" ng-click="ApprovalMin3Ctrl.viewVendors(data,0)" title="{{'LIHAT_VENDOR'|translate}}">
														<i class="glyphicon glyphicon-search"></i>
													</a>
													<a class="btn btn-sm btn-flat btn-warning" ng-click="ApprovalMin3Ctrl.GotoTenderInfo(data)" title="{{'TENDER_INFO' | translate}}">
														<i class="glyphicon glyphicon-search"></i>
													</a>
												</td>
											</tr>
											<tr ng-if="ApprovalMin3Ctrl.dataApproval.Count === 0"><td colspan="6">{{'NO_DATA'|translate}}</td></tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-12">
								<ul uib-pagination boundary-links="true" total-items="ApprovalMin3Ctrl.totalItems" ng-model="ApprovalMin3Ctrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="ApprovalMin3Ctrl.loadDataApproval(ApprovalMin3Ctrl.currentPage)"></ul>
								<br />
								<label>Total Data: {{ApprovalMin3Ctrl.totalItems}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
