﻿<div ng-init="masterEntityCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.ENTITY' | translate}}</a></li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="afta-font text-center">{{'ENTITY' | translate}}</h3>
                </div>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-flat btn-primary" ng-click="masterEntityCtrl.tambah()" title="{{'BTN.TAMBAH' | translate}}">
                        <i class='fa fa-plus-circle'></i>&nbsp;
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.NAME' | translate}}</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.CODE' | translate}}</th>
                                    <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Status</th>
                                    <th class="text-center" style="width: 120px; min-width: 50px; vertical-align: middle;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in masterEntityCtrl.dataEntity">
                                    <td class="text-center">{{masterEntityCtrl.currentPage > 1 ? (masterEntityCtrl.maxSize * (masterEntityCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td>{{data.EntityName}}</td>
                                    <td>{{data.EntityCode}}</td>
                                    <td class="text-center">
                                        <span ng-if="data.IsActive == 1">{{'AKTIF' | translate}}</span>
                                        <span ng-if="data.IsActive == 0">{{'NONAKTIF' | translate}}</span>
                                    </td>
                                    <td class="text-center">
                                        <a ng-click="masterEntityCtrl.edit(data)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-flat btn-sm btn-danger" ng-if="data.IsActive == 1" ng-click="masterEntityCtrl.nonAktif(data)" title="{{'BTN.NONAKTIF' | translate}}"><i class="fa fa-power-off"></i></a>
                                        <a class="btn btn-flat btn-sm btn-success" ng-if="data.IsActive == 0" ng-click="masterEntityCtrl.aktif(data)" title="{{'BTN.AKTIF' | translate}}"><i class="fa fa-check"></i></a>
                                    </td>
                                </tr>
                                <tr ng-if="masterEntityCtrl.dataEntity.length === 0"> <td colspan="9"> {{'NO_DATA' | translate}}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="masterEntityCtrl.totalItems > 10">
                <div class="col-sd-4 col-md-7">
                    <ul uib-pagination total-items="masterEntityCtrl.totalItems" max-size="10"
                        ng-model="masterEntityCtrl.currentPage" items-per-page="masterEntityCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="masterEntityCtrl.jLoad(masterEntityCtrl.currentPage)"></ul>
                    <br /><label>Total items: {{masterEntityCtrl.totalItems}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
