﻿<section class="content" ng-init="pengPerPrequalCtrl.init()">
	<ol class="breadcrumb">
		<li>
			<a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a>
		</li>
		<li>
			<a class="active">{{'BREADCRUMB.PENGURUS_PERUSAHAAN'|translate}}</a>
		</li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-8">
							<h3 class="afta-font">{{'BREADCRUMB.PENGURUS_PERUSAHAAN'|translate}}</h3>
						</div>
						<div class="col-md-4 text-right">
							<a href="" class="btn btn-flat btn btn-primary turun-15" ng-if="pengPerPrequalCtrl.isEntry==true || pengPerPrequalCtrl.IsNeedRevision == true"  ng-click="pengPerPrequalCtrl.addPerson()" title="{{'TAMBAH'|translate}}">
								<i class="fa fa-plus-circle"></i>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="row">
									<!--<div class="col-md-6">
										<h5 class="box-title"><strong>Data Sebelum Diubah</strong></h5>
										<div class="table table-responsive">
											<table id="example1" class="table table-bordered table-striped">
												<thead>
													<tr>
													<tr>
														<th class="text-center" style="width: 5%;">{{'NO'|translate}}</th>
														<th class="text-center">{{'NAMA'|translate}}</th>
														<th ng-if="pengPerPrequalCtrl.vendorLocation === 'IDN'" class="text-center" style="width: 20%;">{{'NO_KTP'|translate}}</th>
														<th ng-if="pengPerPrequalCtrl.vendorLocation !== 'IDN'" class="text-center" style="width: 20%;">{{'NO_PASPOR'|translate}}</th>
														<th class="text-center" style="width: 15%;">{{'TGL_LAHIR'|translate}}</th>
														<th class="text-center" style="width: 20%;">{{'JABATAN'|translate}}</th>
														<th class="text-center" style="width: 15%;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="pengPerPrequalCtrl.CompPers.length === 0">
														<td colspan="9">
															{{'TIDAK_ADA_DATA' | translate}}
														</td>
													</tr>
													<tr ng-repeat="obj in pengPerPrequalCtrl.CompPers">
														<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
														<td style="vertical-align: middle;">{{obj.PersonName}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.NoID}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.DateOfBirthConverted}}</td>
														<td style="vertical-align: middle;">{{('POSITION_PERSON.' + obj.PositionRef) | translate}}</td>
														<td class="text-center">
															<a class="btn btn-flat btn-sm btn-warning" ng-click="pengPerPrequalCtrl.viewCP(obj)" title="{{'LIHAT'|translate}}">
																<i class="fa fa-file-o"></i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>-->
									<div class="col-md-12">
										<!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
										<div class="table table-responsive">
											<table id="example1" class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="text-center" style="width: 5%;">{{'NO'|translate}}</th>
														<th class="text-center">{{'NAMA'|translate}}</th>
														<th ng-if="pengPerPrequalCtrl.vendorLocation === 'ID'" class="text-center" style="width: 20%;">{{'NO_KTP'|translate}}</th>
														<th ng-if="pengPerPrequalCtrl.vendorLocation !== 'ID'" class="text-center" style="width: 20%;">{{'NO_PASPOR'|translate}}</th>
														<th class="text-center" style="width: 15%;">{{'TGL_LAHIR'|translate}}</th>
														<th class="text-center" style="width: 20%;">{{'JABATAN'|translate}}</th>
														<th class="text-center" style="width: 15%;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="pengPerPrequalCtrl.CompPersPrequal.length === 0">
														<td colspan="9">
															{{'TIDAK_ADA_DATA' | translate}}
														</td>
													</tr>
													<tr ng-repeat="obj in pengPerPrequalCtrl.CompPersPrequal">
														<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
														<td style="vertical-align: middle;">{{obj.PersonName}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.NoID}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.DateOfBirthConverted}}</td>
														<td style="vertical-align: middle;">{{('POSITION_PERSON.' + obj.PositionRef) | translate}}</td>
														<td class="text-center">
															<a class="btn btn-flat btn-sm btn-warning" ng-click="pengPerPrequalCtrl.viewCP(obj)" title="{{'LIHAT'|translate}}">
																<i class="fa fa-file-o"></i>
															</a>
															<a class="btn btn-flat btn-sm btn-primary" ng-if="pengPerPrequalCtrl.isEntry==true || pengPerPrequalCtrl.IsNeedRevision == true" ng-click="pengPerPrequalCtrl.editCP(obj)" title="{{'UBAH'|translate}}">
																<i class="fa fa-edit"></i>
															</a>
															<a ng-click="pengPerPrequalCtrl.deletePerson(obj)" class="btn btn-flat btn-sm btn-danger" title="Delete" ng-if="pengPerPrequalCtrl.isEntry==true || pengPerPrequalCtrl.IsNeedRevision == true">
																<i class="fa fa-trash"></i>
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="center-block text-center">
					<a href="#/assessment-prakualifikasi-detail/{{pengPerPrequalCtrl.PrequalStepAssID}}/{{pengPerPrequalCtrl.VendorPrequalID}}" class="btn btn-primary" title="{{'KEMBALI'|translate}}">
						<i class="fa fa-arrow-circle-left"></i>
					</a>
					<a class="btn btn-success" ng-if="pengPerPrequalCtrl.isEntry==true || pengPerPrequalCtrl.IsNeedRevision == true" ng-click="pengPerPrequalCtrl.Submit(true)" title="{{'SETUJU' | translate}}">
						<i class="fa fa-check"></i>
					</a>
					<a class="btn btn-danger" ng-if="pengPerPrequalCtrl.isEntry==true || pengPerPrequalCtrl.IsNeedRevision == true" ng-click="pengPerPrequalCtrl.notvalid()" ng-disabled="pengPerPrequalCtrl.valid==false" title="{{'TIDAK_SETUJU'|translate}}">
						<i class="fa fa-close"></i>
					</a>
				</div>
				<div class="center-block text-center" ng-if="pengPerPrequalCtrl.valid==false">
					<div class="row margin-atas">
						<div class="col-md-6 col-md-offset-3">
							<label>{{'Alasan'|translate}}</label>
							<textarea class="form-control" ng-model="pengPerPrequalCtrl.remark" placeholder="{{'Alasan'|translate}}"></textarea>
							<a class="btn btn-success" ng-click="pengPerPrequalCtrl.Submit(false)">
								<i class="fa fa-save" title="{{'SIMPAN'|translate}}"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
