<section class="content" ng-init="plantCtrl.init()">
    <ol class="breadcrumb">
        <li>
            <a href="#/homeadmin">
                <i class="fa fa-home"></i>
                {{'BREADCRUMB.BERANDA' | translate}}
            </a>
        </li>
        <li>
            <a class="active">{{'BREADCRUMB.MASTER_PLANT' | translate}}</a>
        </li>
    </ol>
    <div class="row">
        <!--  style="padding-top: 25px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-5">
                            <form method="post" role="form" ng-submit="plantCtrl.cariPlant(keyword)">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{'CARI_JUDUL_ISI' | translate}}" ng-model="keyword">
                                    <span class="input-group-btn">
                                        <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="plantCtrl.cariPlant(keyword)" title="{{'CARI'|translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click="plantCtrl.createPlant()" title="{{'BTN.TAMBAH_DATA'|translate}}">
                                <i class='fa fa-plus-circle'></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" rowspan="2" style="vertical-align: middle; width: 20px; min-width:20px">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" rowspan="2" style="vertical-align: middle; width: 50px;">{{'TABLE.PLANT' | translate}}</th>
                                            <th class="text-center" rowspan="2">{{'TABLE.SEARCH_TERM' | translate}}</th>
                                            <th rowspan="2" class="text-center" style="vertical-align: middle;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pl in plantCtrl.plants">
                                            <td class="text-center">{{(plantCtrl.pageSize * (plantCtrl.currentPage - 1)) + $index + 1}}</td>
                                            <td>{{pl.Plant}}</td>
                                            <td>{{pl.SearchTerm1}}</td>
                                            <td class="text-center">
                                                <button ng-if="pl.IsActive == 0" class="btn btn-flat btn-sm btn-success" ng-click="plantCtrl.aktif(pl)" title="{{'BTN.AKTIF'|translate}}">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button ng-if="pl.IsActive == 1" class="btn btn-flat btn-sm btn-danger" ng-click="plantCtrl.nonAktif(pl)" title="{{'BTN.NONAKTIF'|translate}}">
                                                    <i class="fa fa-power-off"></i>
                                                </button>
                                                <button ng-if="pl.IsActive == 0" class="btn btn-flat btn-sm btn-warning" ng-click="plantCtrl.updatePlant(pl)" title="{{'BTN.UBAH'|translate}}">
                                                    <i class='fa fa-edit'></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sd-4 col-md-7">
                            <ul uib-pagination total-items="plantCtrl.totalItems" max-size="10"
                                ng-model="plantCtrl.currentPage" items-per-page="plantCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="plantCtrl.jLoad(plantCtrl.currentPage)"></ul>
                            <br /><label>{{'TOTAL_DATA' | translate}}: {{plantCtrl.totalItems}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
