<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div class="modal-content" ng-init="tambahUbahPlantCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="tambahUbahPlantCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'Keluar'|translate}}</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel" ng-if="tambahUbahPlantCtrl.create == 1">{{'TAMBAH'|translate}}</h3>
        <h3 class="modal-title afta-font" id="myModalLabel" ng-if="tambahUbahPlantCtrl.create == 0">{{'UBAH'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>{{'TABLE.PLANT'|translate}} </label>
                    <input type="text" class="form-control input-sm" maxlength="20" ng-model="tambahUbahPlantCtrl.plant" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{'TABLE.SEARCH_TERM'|translate}} </label>
                    <textarea class="form-control" maxlength="100" ng-model="tambahUbahPlantCtrl.search_term" style="resize:none;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="tambahUbahPlantCtrl.batal()" title="{{'BTN.BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button type="submit" class="btn btn-primary" ng-click="tambahUbahPlantCtrl.save()" title="{{'BTN.SIMPAN'|translate}}">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>