﻿<div class="modal-content" ng-init="ApprovalVendRegCommodityModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ApprovalVendRegCommodityModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font text-center">{{'BREADCRUMB.DETAIL_COMMODITY' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="row" style="padding-top: 10px!important;">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="tabelApprovalForMin3">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="20px">No.</th>
                                            <th class="text-center">{{'TABLE.COMMODITY_NAME'|translate}}</th>
                                            <th class="text-center">{{'TABLE.COMMODITY_TYPE'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in ApprovalVendRegCommodityModalCtrl.vendcommodityList">
                                            <td style="vertical-align: middle;">{{ApprovalVendRegCommodityModalCtrl.currentPage > 1 ? (ApprovalVendRegCommodityModalCtrl.pageSize * (ApprovalVendRegCommodityModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{data.Name}}</td>
                                            <td style="vertical-align: middle;">{{data.GoodsOrService | translate}}</td>
                                        </tr>
                                        <tr ng-if="ApprovalVendRegCommodityModalCtrl.totalItems == 0"><td colspan="3" class="text-center">{{'NO_DATA'|translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul uib-pagination boundary-links="true" total-items="ApprovalVendRegCommodityModalCtrl.totalItems" ng-model="ApprovalVendRegCommodityModalCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="ApprovalVendRegCommodityModalCtrl.loadCommodity(ApprovalVendRegCommodityModalCtrl.currentPage)"></ul>
                            <br />
                            <label>Total Data: {{ApprovalVendRegCommodityModalCtrl.totalItems}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-sm btn-danger" ng-click="ApprovalVendRegCommodityModalCtrl.batal()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BACK' | translate}}</button>
    </div>
</div>