﻿<section ng-init="RegistrationApprovalCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#">{{'BREADCRUMB.HOME'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.APPROVAL_DATA'|translate}}</a></li>
	</ol>
	<div class="">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="afta-font judul-datatabel">{{'APPROVAL_DATA'|translate}}</h3>
							</div>
						</div>						
					</div>
					<div class="box-body">
						<div class="row" style="margin-top:-30px">
							<form class="" ng-submit="RegistrationApprovalCtrl.init()">
								<div class="col-md-10">
									<div class="input-group">
										<input type="text" placeholder="{{'SEARCH_VENDOR'|translate}}" ng-model="RegistrationApprovalCtrl.textSearch" class="form-control">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-flat btn-primary" ng-click="RegistrationApprovalCtrl.init()">
												<i class="fa fa-search"></i> Cari
											</button>
										</span>
									</div>
								</div>
								<div class="col-md-2">
									<select class="form-control input-sm" ng-model="RegistrationApprovalCtrl.columnApprovalStatus" style="float: left; height: 34px;" ng-change="RegistrationApprovalCtrl.changedFilter()">
										<option value="1">{{'APPROVE'|translate}}</option>
										<option value="2">{{'ONPROCESS'|translate}}</option>
										<option value="3">{{'REJECT'|translate}}</option>
										<option value="4">{{'RFQ_ALL'|translate}}</option>
									</select>
								</div>

							</form>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped" id="tabelApprovalForMin3">
										<thead>
											<tr>
												<th class="text-center" width="20px">No.</th>
												<th class="text-center">{{'TABLE.VENDOR_NAME'|translate}}</th>
												<th class="text-center">{{'TABLE.ALAMAT_VENDOR'|translate}}</th>
												<th class="text-center">{{'TABLE.VENDOR_TYPE'|translate}}</th>
												<th class="text-center">{{'TABLE.ACTIVIED_DATE'|translate}}</th>
												<th class="text-center">{{'TABLE.VERIFIED_DATE'|translate}}</th>
												<th class="text-center">{{'TABLE.STATUS'|translate}}</th>
												<th class="text-center">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="data in RegistrationApprovalCtrl.dataApproval">
												<td style="vertical-align: middle;">{{RegistrationApprovalCtrl.currentPage > 1 ? (RegistrationApprovalCtrl.pageSize * (RegistrationApprovalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
												<td style="vertical-align: middle;">{{data.VendorName | uppercase }}</td>
												<td style="vertical-align: middle;">{{data.VendorAddress}}</td>
												<td style="vertical-align: middle;">{{data.VendorType | translate}}</td>
												<td style="vertical-align: middle;">{{data.ActivedDate | date:"dd MM yyyy"}}</td>
												<td style="vertical-align: middle;">{{data.VerifiedDate | date:"dd MM yyyy"}}</td>
												<td style="vertical-align: middle;">{{data.ApprovalStatusName | translate}}</td>
												<td class="text-center" style="vertical-align: middle;">
													<a class="btn btn-sm btn-flat btn-success" ng-click="RegistrationApprovalCtrl.approve(data)" ng-if="data.ApprovalStatusName === 'RFQ_ONPROCESS' && data.IsNeedUserApproval" title="Approve">
														<i class="glyphicon glyphicon-ok"></i>
													</a>
													<a class="btn btn-sm btn-flat btn-danger" ng-click="RegistrationApprovalCtrl.approvalModal(data)" ng-if="data.ApprovalStatusName === 'RFQ_ONPROCESS' && data.IsNeedUserApproval" title="Reject">
														<i class="glyphicon glyphicon-remove"></i>
													</a>
													<a class="btn btn-sm btn-flat btn-warning" ng-click="RegistrationApprovalCtrl.registrationApprovalDetail(data)" title="{{'DETAIL_APPROVAL' | translate}}">
														<i class="fa fa-sitemap"></i>
													</a>
													<a class="btn btn-sm btn-flat btn-linkedin" ng-click="RegistrationApprovalCtrl.commodityDetail(data, 0)" title="{{'DETAIL_COMMODITY' | translate}}">
														<i class="fa fa-list"></i>
													</a>
												</td>
											</tr>
											<tr ng-if="RegistrationApprovalCtrl.totalItems === 0"><td colspan="8" class="text-center">{{'NO_DATA'|translate}}</td></tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-12">
								<ul uib-pagination boundary-links="true" ng-if="RegistrationApprovalCtrl.totalItems>10" total-items="RegistrationApprovalCtrl.totalItems" ng-model="RegistrationApprovalCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="RegistrationApprovalCtrl.loadDataApproval(RegistrationApprovalCtrl.currentPage)"></ul>
								<br />
								<label>Total Data: {{RegistrationApprovalCtrl.totalItems}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a class="btn btn-xs btn-flat btn-success" title="Approve">
									<i class="glyphicon glyphicon-ok"></i>
								</a> : Approve&nbsp;&nbsp;
								<a class="btn btn-xs btn-flat btn-danger" title="Reject">
									<i class="glyphicon glyphicon-remove"></i>
								</a> : Reject&nbsp;&nbsp;
								<a class="btn btn-xs btn-flat btn-warning" title="{{'DETAIL_APPROVAL' | translate}}">
									<i class="fa fa-sitemap"></i>
								</a> : {{'DETAIL_APPROVAL' | translate}}&nbsp;&nbsp;
								<a class="btn btn-xs btn-flat btn-linkedin" title="{{'DETAIL_COMMODITY' | translate}}">
									<i class="fa fa-list"></i>
								</a> : {{'DETAIL_COMMODITY' | translate}}&nbsp;&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
