﻿<div class="modal-content" ng-init="ApprovalVendRegModalCtrl.init()">
	<div class="modal-body">
		<form role="form" name="formAdd">
			<div class="row">
				<div class="col-md-12 center-block" style="float: none!important;">
					<div class="row">
						<div class="col-md-12">
							<div class="box-header">
								<h4 class="box-title afta-font" style="margin-left:10px;">{{'CONFIRM_REJECT_NOSAP'|translate}} {{ApprovalVendRegModalCtrl.item.VendorName}} ?</h4>
							</div>
							<div class="box-body pad">
								<textarea ng-model="ApprovalVendRegModalCtrl.comment" name="editor1" cols="120" rows="7" placeholder="{{'DESC'|translate}}"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-success" ng-click="ApprovalVendRegModalCtrl.action()" title="Reject">
			<i class="glyphicon glyphicon-ok"></i>&nbsp;Reject
		</button>
		<button type="button" class="btn btn-flat btn-danger" ng-click="ApprovalVendRegModalCtrl.batal()" title="{{'CANCEL'|translate}}">
			<i class="glyphicon glyphicon-remove"></i>&nbsp;{{'CANCEL'|translate}}
		</button>
	</div>
</div>