﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="DetEmailMonFpaCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="DetEmailMonFpaCtrl.cancel()" title="{{'KELUAR'|translate}}">
			<span aria-hidden="true">&times;</span><span class="sr-only"></span>
		</button>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<h4 class="text-center afta-font">{{'MESSAGE.CONFIRM_SEND'|translate}} ? </h4>
			<br />
			<div class="col-md-12">
				<div class="table table-responsive">
					<table id="tabelPeserta" class="table table-bordered table-striped">
						<thead>
							<tr></tr>
							<tr>
								<th class="center-vertical" width='20px'>No.</th>
								<th class="center-vertical">{{'TABLE.VENDOR_NAME'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td class="text-bold">{{DetEmailMonFpaCtrl.list.Vendor.VendorName}} ({{'TABLE.WINNER'|translate}})</td>
							</tr>
							<tr ng-repeat="pe in DetEmailMonFpaCtrl.list.VendorLooser">
								<td>{{$index + 2}}</td>
								<td>{{pe.VendorName}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-12 text-center">
			<button type="button" class="btn btn-flat btn-warning" ng-click="DetEmailMonFpaCtrl.cancel()"><i class="fa fa-arrow-circle-left"></i>&nbsp; {{'KEMBALI'|translate}}</button>
			<button type="button" class="btn btn-flat btn-primary" ng-click="DetEmailMonFpaCtrl.sentMail()" title="{{'SEND_EMAIL'|translate}}"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{'SEND_EMAIL'|translate}}</button>
		</div>
	</div>
</div>