﻿<div class="modal-content" ng-init="DetailItemCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailItemCtrl.back()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font text-center" id="myModalLabel">Detail Item</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body" ng-if="DetailItemCtrl.flag == 0">
            <div class="row" >
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">No.</th>
                                    <th class="text-center" style="vertical-align: middle;">Storage Location</th>
                                    <th class="text-center" style="vertical-align: middle;">Posting Date</th>
                                    <th class="text-center" style="vertical-align: middle;">Reservation</th>
                                    <th class="text-center" style="vertical-align: middle;">Movement Type</th>
                                    <th class="text-center" style="vertical-align: middle;">Special Stock</th>
                                    <th class="text-center" style="vertical-align: middle;">Vendor Code</th>
                                    <th class="text-center" style="vertical-align: middle;">VendorName</th>
                                    <th class="text-center" style="vertical-align: middle;">Material Document</th>
                                    <th class="text-center" style="vertical-align: middle;">Material Doc Item</th>
                                    <th class="text-center" style="vertical-align: middle;">Material</th>
                                    <th class="text-center" style="vertical-align: middle;">Material Description</th>
                                    <th class="text-center" style="vertical-align: middle;">Qty</th>
                                    <th class="text-center" style="vertical-align: middle;">Unit of Entry</th>
                                    <th class="text-center" style="vertical-align: middle;">Currency</th>
                                    <th class="text-center" style="vertical-align: middle;">Unit Price</th>
                                    <th class="text-center" style="vertical-align: middle;">Total Value</th>
                                    <th class="text-center" style="vertical-align: middle;">Unit Price (PIR)</th>
                                    <th class="text-center" style="vertical-align: middle;">Total Value (PIR)</th>
                                    <th class="text-center" style="vertical-align: middle;">Variance MRKO-PIR</th>
                                    <th class="text-center" style="vertical-align: middle;">User ID (Reservation)</th>
                                    <th class="text-center" style="vertical-align: middle;">User Name (Reservation)</th>
                                    <th class="text-center" style="vertical-align: middle;">User ID (GI)</th>
                                    <th class="text-center" style="vertical-align: middle;">User name (GI)</th>
                                    <th class="text-center" style="vertical-align: middle;">Cost Center</th>
                                    <th class="text-center" style="vertical-align: middle;">Order</th>
                                    <th class="text-center" style="vertical-align: middle;">WBS Element</th>
                                    <th class="text-center" style="vertical-align: middle;">G/L Account</th>
                                    <th class="text-center" style="vertical-align: middle;">Network</th>
                                    <th class="text-center" style="vertical-align: middle;">Tax Code in Mat. Doc.</th>
                                    <th class="text-center" style="vertical-align: middle;">Tax Code in Pur. Info Rec</th>
                                    <th class="text-center" style="vertical-align: middle;">Reservation Item</th>
                                    <th class="text-center" style="vertical-align: middle;">Sloc Desc</th>
                                    <th class="text-center" style="vertical-align: middle;">Manufacturer</th>
                                    <th class="text-center" style="vertical-align: middle;">Part No</th>
                                    <th class="text-center" style="vertical-align: middle;">Outline agreement (Contract No)</th>
                                    <th class="text-center" style="vertical-align: middle;">Item no in contract document</th>
                                    <th class="text-center" style="vertical-align: middle;">Purch Group</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="data in DetailItemCtrl.DataDocList">
                                    <td style="vertical-align: middle;">{{DetailItemCtrl.currentPage > 1 ? (DetailItemCtrl.pageSize * (DetailItemCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td style="vertical-align: middle;">{{data.StorageLocation}}</td>
                                    <td style="vertical-align: middle;">{{DetailItemCtrl.convertDate(data.PostingDate)}}</td>
                                    <td style="vertical-align: middle;">{{data.Reservation}}</td>
                                    <td style="vertical-align: middle;">{{data.MovementType}}</td>
                                    <td style="vertical-align: middle;">{{data.SpecialStock}}</td>
                                    <td style="vertical-align: middle;">{{data.VendorCode}}</td>
                                    <td style="vertical-align: middle;">{{data.VendorName}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDocument}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDocItem}}</td>
                                    <td style="vertical-align: middle;">{{data.Material}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDescription}}</td>
                                    <td style="vertical-align: middle;">{{data.Qty}}</td>
                                    <td style="vertical-align: middle;">{{data.Unit}}</td>
                                    <td style="vertical-align: middle;">{{data.Currency}}</td>
                                    <td style="vertical-align: middle;">{{data.UnitPrice}}</td>
                                    <td style="vertical-align: middle;">{{data.TotalValue}}</td>
                                    <td style="vertical-align: middle;">{{data.UnitPricePIR}}</td>
                                    <td style="vertical-align: middle;">{{data.TotalValuePIR}}</td>
                                    <td style="vertical-align: middle;">{{data.VarianceMRKO}}</td>
                                    <td style="vertical-align: middle;">{{data.UserIdReservation}}</td>
                                    <td style="vertical-align: middle;">{{data.UsernameReservation}}</td>
                                    <td style="vertical-align: middle;">{{data.UserIdGI}}</td>
                                    <td style="vertical-align: middle;">{{data.UsernameGI}}</td>
                                    <td style="vertical-align: middle;">{{data.CostCenter}}</td>
                                    <td style="vertical-align: middle;">{{data.OrderId}}</td>
                                    <td style="vertical-align: middle;">{{data.WBSElement}}</td>
                                    <td style="vertical-align: middle;">{{data.GLAcount}}</td>
                                    <td style="vertical-align: middle;">{{data.Network}}</td>
                                    <td style="vertical-align: middle;">{{data.TaxCodeInMatDoc}}</td>
                                    <td style="vertical-align: middle;">{{data.TaxCodeInPur}}</td>
                                    <td style="vertical-align: middle;">{{data.ReservationItem}}</td>
                                    <td style="vertical-align: middle;">{{data.SlocDesc}}</td>
                                    <td style="vertical-align: middle;">{{data.Manufacturer}}</td>
                                    <td style="vertical-align: middle;">{{data.PartNo}}</td>
                                    <td style="vertical-align: middle;">{{data.ContractNumber}}</td>
                                    <td style="vertical-align: middle;">{{data.ItemNoInContractDoc}}</td>
                                    <td style="vertical-align: middle;">{{data.PurchGroup}}</td>
                                </tr>
                                <tr ng-if="DetailItemCtrl.DataDocList.length === 0">
                                    <td colspan="38">{{'TIDAK_ADA_DATA' | translate }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-10">
                    <ul uib-pagination total-items="DetailItemCtrl.totalItems" max-size="10"
                        ng-model="DetailItemCtrl.currentPage" items-per-page="DetailItemCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailItemCtrl.loadPaket(DetailItemCtrl.currentPage)"></ul>
                </div>
                <div class="col-md-10">

                    <label>{{'TOTAL_DATA'|translate}} : {{DetailItemCtrl.totalItems}}</label>

                </div>
            </div>
        </div>

        <div class="modal-body" ng-if="DetailItemCtrl.flag == 1">
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'RFQ Code' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.VENDOR_CODE' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.CREATED_DATE' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.PO_NUMBER' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle; ">{{'TABLE.PO_ITEM' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.MATERIAL_NUMBER' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.Preq_No' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.Preq_Item' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.Agreement' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.Agmt_Item' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.QTY' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.UM' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.ShortText' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.Mfr_No' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.Mfr_Name' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.Manu_Mat' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle; ">{{'TABLE.Purch_OrderText' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.PO_ItemText' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.TariffCode' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.ConcessCat' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.DelivDate' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.Currency' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.NET_PRICE_PO' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.TOTAL_PRICE_PO' | translate }}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.BuyerRemark' | translate }}</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="data in DetailItemCtrl.DataDocListFPA">

                                    <td style="vertical-align: middle;">{{detaildataUploadCtrl.currentPage > 1 ? (detaildataUploadCtrl.maxSize * (detaildataUploadCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td style="vertical-align: middle;">{{data.RFQCode}}</td>
                                    <td style="vertical-align: middle;">{{data.VendorCodeSAP}}</td>
                                    <td style="vertical-align: middle;">{{DetailItemCtrl.convertDate(data.CreatedDate)}}</td>
                                    <td style="vertical-align: middle;">{{data.PONumber}}</td>
                                    <td style="vertical-align: middle;">{{data.POItem}}</td>
                                    <td style="vertical-align: middle;">{{data.Material}}</td>
                                    <td style="vertical-align: middle;">{{data.Preq_No}}</td>
                                    <td style="vertical-align: middle;">{{data.Preq_Item}}</td>
                                    <td style="vertical-align: middle;">{{data.Agreement}}</td>
                                    <td style="vertical-align: middle;">{{data.Agmt_Item}}</td>
                                    <td style="vertical-align: middle;">{{data.Qty}}</td>
                                    <td style="vertical-align: middle;">{{data.UnitMeasure}}</td>
                                    <td style="vertical-align: middle;">{{data.ShortText}}</td>
                                    <td style="vertical-align: middle;">{{data.Mfr_No}}</td>
                                    <td style="vertical-align: middle;">{{data.Mfr_Name}}</td>
                                    <td style="vertical-align: middle;">{{data.Manu_Mat}}</td>
                                    <td style="vertical-align: middle;">{{data.Purch_OrderText}}</td>
                                    <td style="vertical-align: middle;">{{data.PO_ItemText}}</td>
                                    <td style="vertical-align: middle;">{{data.TariffCode}}</td>
                                    <td style="vertical-align: middle;">{{data.ConcessCat}}</td>
                                    <td style="vertical-align: middle;">{{DetailItemCtrl.convertDate(data.DelivDate)}}</td>
                                    <td style="vertical-align: middle;">{{data.Currency}}</td>
                                    <td style="vertical-align: middle;">{{data.NettPricePO | currency:""}}</td>
                                    <td style="vertical-align: middle;">{{data.TotalPricePO| currency:""}}</td>
                                    <td style="vertical-align: middle;">{{data.BuyerRemark}}</td>
                                </tr>
                                <tr ng-if="detaildataUploadCtrl.totalItems === 0">
                                    <td colspan="13">{{'TIDAK_ADA_DATA' | translate }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-10">
                    <ul uib-pagination total-items="DetailItemCtrl.totalItems" max-size ="10"
                        ng-model="DetailItemCtrl.currentPage" items-per-page="DetailItemCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailItemCtrl.loadFPA(DetailItemCtrl.currentPage)"></ul>
                    <br />
                    <label>{{'TOTAL_DATA'|translate}} : {{DetailItemCtrl.totalItems}}</label>
                </div>
            </div>
        </div>





        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="DetailItemCtrl.back()" title="{{'BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
        </div>
    </form>
</div>