﻿<div class="modal-content" ng-init="PriceCtrl.init()">
	<div class="modal-header">
		<h3 class="modal-title afta-font" id="myModalLabel">Price</h3>
	</div>
	<form role="form" name="formAdd">
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 center-block" style="float: none!important;">
					<button ng-click="PriceCtrl.upload()" type="button" name="Import" class="btn btn-sm btn-success" title="Import">
						<i class="fa fa-cloud-upload"></i>Import
					</button>
					<button ng-repeat="data in PriceCtrl.DataDocList" ng-click="PriceCtrl.Export(data, $index)" title="Export" class="btn btn-sm btn-primary">
						<i class="fa fa-cloud-download"></i>Export
					</button>
					<div id="tableToExport" class="table table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr class="bg-greentosca-gradient">
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.MATERIAL_CODE' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.ITEM_DES' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.MANUFACT' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.PART_NO' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.ESTIMATION' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.UOM' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.CURRENCY' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.PRICE' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.EADTIM' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.COUNTRY_OR' | translate }}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.REMASK' | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in PriceCtrl.DataDocList[0]">
									<td style="vertical-align: middle;">{{$index + 1}}</td>
									<td style="vertical-align: middle;">{{data.MaterialCode}}</td>
									<td style="vertical-align: middle;">{{data.ItemDescrip}}</td>
									<td style="vertical-align: middle;">{{data.Manufacture}}</td>
									<td style="vertical-align: middle;">{{data.PartNo}}</td>
									<td style="vertical-align: middle;">{{data.Estimate}}</td>
									<td style="vertical-align: middle;">{{data.Unit}}</td>
									<td style="vertical-align: middle;">{{data.Currency}}</td>
									<td style="vertical-align: middle;">{{data.PriceIDR}}</td>
									<td style="vertical-align: middle;">{{data.LeadTime}}</td>
									<td style="vertical-align: middle;">{{data.CountryOfOrigin}}</td>
									<td style="vertical-align: middle;">{{data.Remark}}</td>
								</tr>
								<tr ng-if="PriceCtrl.totalItems === 0">
									<td colspan="13">{{'TIDAK_ADA_DATA' | translate }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" ng-click="PriceCtrl.cancel()" title="{{'BACK' | translate}}">
				<i class="fa fa-close"></i>
			</button>
			<!--  <button type="button" class="btn btn-success" ng-click="PriceCtrl.save()" title="{{'SIMPAN' | translate}}"><i class="fa fa-save"></i> </button> -->
		</div>
	</form>
</div>