﻿<div class="modal-content" ng-init="PPVHSPrintCtrl.init()">
	<div class="modal-body">
		<div class="row">
			<button class="btn btn-flat btn-default" title="Print Preview" ng-click="PPVHSPrintCtrl.makePDF()">
				<i class="glyphicon glyphicon-print"></i>
			</button>
		</div>
		<div id="print1" class="print-wrap">
			<div class="col-md-12">
				<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'PP_KK'|translate}}</h3>
			</div>
			<div class="col-md-8">
				<label>{{'Tanggal Mulai'|translate}}: {{PPVHSPrintCtrl.StartDate| date: "dd-MM-yyyy HH:mm"}}</label>
			</div>
			<div class="col-md-4">
				<label>{{'Tanggal Selesai'|translate}}: {{PPVHSPrintCtrl.EndDate| date: "dd-MM-yyyy HH:mm"}}</label>
			</div>
			<div class="col-md-9">
				<label>Tender:{{PPVHSPrintCtrl.TenderName}}</label>
			</div>
			<div class="box-body">
				<div class="col-md-12">
					<div class="table table-responsive">
						<table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
							<thead>
								<tr>
									<th class="text-center" width="20px">No.</th>
									<th class="text-center">{{'TABLE.VENDOR_NAME'|translate}}</th>
									<th class="text-center">{{'TABLE.TANGGAL_MASUK'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="dt in PPVHSPrintCtrl.VOFVendor">
									<td style="vertical-align: middle;">{{$index + 1}}</td>
									<td class="text-center" style="vertical-align: middle;">{{dt.VendorName}}</td>
									<td class="text-center" style="vertical-align: middle;">{{dt.VHSDate| date: "dd-MM-yyyy HH:mm"}}</td>
								</tr>
								<tr ng-if="PPVHSPrintCtrl.VOFVendor.length === 0"><td colspan="6" class="text-center" style="vertical-align: middle;">{{'TABLE.DATA_NOT_FOUND'|translate}}</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="container-fluid"></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-4 pull-right">
			<button ng-click="PPVHSPrintCtrl.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</div>