﻿<section class="content" ng-init="LicenseAssPrequalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.TITLE'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.LICENSE'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <h3 class="text-center afta-font">{{'FORM.LICENSEDATA'|translate}}</h3>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                                        <th class="text-center">{{'TABLE.LICENSETYPE' | translate}}</th>
                                                        <th class="text-center">{{'TABLE.STARTDATE' | translate}}</th>
                                                        <th class="text-center">{{'TABLE.ENDDATE' | translate}}</th>
                                                        <th class="text-center">{{'TABLE.INSTITUTION' | translate}}</th>
                                                        <th class="text-center" style="vertical-align: middle;"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="LicenseAssPrequalCtrl.listLicensiPrequal.length <= 0">
                                                        <td colspan="6" cellpadding="0">
                                                            <div class="alert alert-info text-center">
                                                                <span>{{'NO_DATA'|translate}}</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="obj in LicenseAssPrequalCtrl.listLicensiPrequal">
                                                        <td class="text-center" style="vertical-align: middle;">{{LicenseAssPrequalCtrl.currentPage > 1 ? (LicenseAssPrequalCtrl.maxSize * (LicenseAssPrequalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                        <td style="vertical-align: middle;">{{obj.LicenseName}}</td>
                                                        <td class="text-center" style="vertical-align: middle;">
                                                            <span ng-if="!(obj.IssuedDate === null)">{{obj.IssuedDate | date: "dd-MM-yyyy"}}</span>
                                                        </td>
                                                        <td class="text-center" style="vertical-align: middle;">{{obj.ExpiredDate | date: "dd-MM-yyyy"}}</td>
                                                        <td style="vertical-align: middle;">{{obj.IssuedBy}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                            <a ng-click="LicenseAssPrequalCtrl.openForm(obj,false)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'BTN.LIHAT'|translate}}">
                                                                <i class="fa fa-external-link"></i>
                                                            </a>
                                                            <a ng-if="LicenseAssPrequalCtrl.isEntry == true || LicenseAssPrequalCtrl.IsNeedRevision == true" ng-click="LicenseAssPrequalCtrl.openForm(obj,true)" class="btn btn-flat btn-sm btn-primary" role="button" title="{{'BTN.UBAH'|translate}}">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            <a ng-if="obj.ID != 0 && (LicenseAssPrequalCtrl.isEntry === true || LicenseAssPrequalCtrl.IsNeedRevision == true)" ng-click="LicenseAssPrequalCtrl.deleteLic(obj)" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.HAPUS' | translate}}">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-block text-center">
                        <a href="#/assessment-prakualifikasi-detail/{{LicenseAssPrequalCtrl.PrequalStepAssID}}/{{LicenseAssPrequalCtrl.VendorPrequalID}}" class="btn btn-primary btn-sm">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <a ng-if="LicenseAssPrequalCtrl.isEntry == true || LicenseAssPrequalCtrl.IsNeedRevision == true" class="btn btn-success btn-sm" ng-click="LicenseAssPrequalCtrl.Submit(true)" title="{{'SETUJU' | translate}}">
                            <i class="fa fa-check"></i>
                        </a>
                        <a ng-if="LicenseAssPrequalCtrl.isEntry == true || LicenseAssPrequalCtrl.IsNeedRevision == true" class="btn btn-danger btn-sm" title="{{'TIDAK_SETUJU' | translate}}" ng-click="LicenseAssPrequalCtrl.notvalid()" ng-disabled="LicenseAssPrequalCtrl.valid==false">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                    <div class="center-block text-center" ng-if="LicenseAssPrequalCtrl.valid==false">
                        <div class="row margin-atas">
                            <div class="col-md-6 col-md-offset-3">
                                <label>{{'Alasan'|translate}}</label>
                                <textarea class="form-control" ng-model="LicenseAssPrequalCtrl.remark" placeholder="{{'Alasan'|translate}}"></textarea>
                                <a class="btn btn-success" ng-click="LicenseAssPrequalCtrl.Submit(false)">
                                    <i class="fa fa-save" title="{{'SAVE'|translate}}"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

