﻿<div ng-init="MyAccountCtrl.chgPasswdInit()">
	<form name="frmChgPaswd">
		<section class="content">
			<ol class="breadcrumb">
				<li>
					<a><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a>
				</li>
				<li>
					<a href="#/my-account"> {{'BREADCRUMB.MYACCOUNT' | translate}}</a>
				</li>
				<li>
					<a>{{'BREADCRUMB.CHANGEPASSWORD' | translate}}</a>
				</li>
			</ol>
		</section>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'LABEL.OLDPASSWORD' | translate}}</label>
					<input name="oldPassword" style="margin-bottom:0px !important;" placeholder="{{'FORM.OLDPASSWORD' | translate}}" no-space ng-model="MyAccountCtrl.oldPasswd" class="form-control" type="{{showPass ? 'text' : 'password'}}" required />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'LABEL.NEWPASSWORD' | translate}}</label>
                    
					<div >
					<span class="font10">
                        {{'LABEL.INFO_PASS' | translate}}
                    </span>
					</div>
					<input name="password" style="margin-bottom:0px !important;" placeholder="{{'FORM.NEWPASSWORD' | translate}}" no-space ng-model="MyAccountCtrl.passwd" class="form-control" type="{{showPass ? 'text' : 'password'}}" required />
				</div>      
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<br /><br />
					<input type="checkbox" ng-model="showPass">&nbsp;{{'FORM.SHOW_PASS' | translate}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error': MyAccountCtrl.passwd != MyAccountCtrl.confirmPasswd && !MyAccountCtrl.confirmPasswd.$pristine}">
					<label>{{'LABEL.CONFIRMNEWPASSWORD' | translate}}</label>
					<input name="confirmPassword" style="margin-bottom:0px !important;" placeholder="{{'FORM.CONFIRMNEWPASSWORD' | translate}}" no-space ng-model="MyAccountCtrl.confirmPasswd" class="form-control" type="{{showPass ? 'text' : 'password'}}" required />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary pull-right" ng-click="frmChgPaswd.$valid && MyAccountCtrl.changePassword()" title="Change Password" style="margin-left: 10px;">
					<i class="fa fa-save"></i>&nbsp;{{'BUTTON.CHANGEPASSWORD' | translate}}
				</button>
				<button type="button" class="btn btn-danger pull-right" ng-click="MyAccountCtrl.toMyAccount()" title="Back">
					<i class="fa fa-reply"></i>&nbsp;{{'BUTTON.BACK' | translate}}
				</button>
			</div>
		</div>
	</form>
</div>