<section class="content" ng-init="KPIAllCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">All Cost Saving</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Cost Saving</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-3">
                            <label>{{'TABLE.TENDER_TYPES'|translate}}</label>
                            <select id="cmbStatus" name="cmbStatus" ng-model="KPIAllCtrl.tenderType" class="form-control"
                                    ng-options="item as item.Name | translate for item  in KPIAllCtrl.tenderTypes"ng-change="KPIAllCtrl.init()" >
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Status</label>
                            <select id="cmbStatus" name="cmbStatus" ng-model="KPIAllCtrl.status" class="form-control"
                                    ng-options="item as item.Name | translate for item  in KPIAllCtrl.filterStatus"ng-change="KPIAllCtrl.init()" ></select>
                        </div>
                        <!--<div class="col-md-1">
                            <label>&nbsp;</label>
                            <button ng-change="KPIAllCtrl.init()" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                        </div>-->
                    </div>
                    <div ng-if="KPIAllCtrl.tenderType.Value==0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped" id="table-kpiProc">
                                        <thead>
                                            <tr>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Type</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Purchase Requisition</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Item</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Qty</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Unit</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Description</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Historical Price</th>
                                                <th class="text-center" colspan="3" style="vertical-align: middle;">Baseline</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Contract Duration</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Signature</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Vendor Signature</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Award Report Approval Date</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Process Status</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">SARBOX</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Level of Approval</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Currency</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Tender</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Requisition Release Date</th>
                                                <th class="text-center" colspan="3" style="vertical-align: middle;">Ontime Process</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Negotiated Value</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Bid Value</th>
                                                <!--<th class="text-left" rowspan="2" style="vertical-align: middle;">Avoidance</th>-->
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Saving</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Code</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">PAR ID</th>
                                            </tr>
                                            <tr>
                                                <th class="text-left" style="vertical-align: middle;">EPV</th>
                                                <th class="text-left" style="vertical-align: middle;">LPE</th>
                                                <th class="text-left" style="vertical-align: middle;">SC</th>

                                                <th class="text-left" style="vertical-align: middle;">Start Date</th>
                                                <th class="text-left" style="vertical-align: middle;">Finish Date</th>

                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Expected</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Original</th>
                                                <th class="text-left" style="vertical-align: middle;">USD</th>


                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>
                                                <th class="text-left" style="vertical-align: middle;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cs in KPIAllCtrl.costSavingGoods">
                                                <td style="vertical-align: middle;" class="text-left">{{((KPIAllCtrl.pageNumberGoods - 1) * KPIAllCtrl.pageSize) + $index + 1}}</td>
                                                <td style="vertical-align: middle;" class="text-left">Goods</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.PurchaseReq}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.RequisnItem}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.Quantity}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.UnitMeasure}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ShortText}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.UnitCostHistorical | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.UnitCostEPV | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.BudgetedValue | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"><!--{{cs.POSentDate | date:"dd-MM-yyyy"}}-->{{cs.ValeSignPlanDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ValeSignActDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.VendorSignPlanDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.VendorSignActDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.PARApprovedPlanDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.PARApprovedActDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.Status}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.Sarbox}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.HighestApproval}}</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.RFQName}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ReqReleaseDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.DiffDaysPlan}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.DiffDays}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.OntimeStatus}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.FinalValue | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.PurposedValue | currency : 'USD '}}</td>
                                                <!--<td style="vertical-align: middle;" class="text-left">{{cs.Avoidance | currency : 'USD '}}</td>-->
                                                <td style="vertical-align: middle;" class="text-left">{{cs.CostSavingValue | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.RFQCode}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.PONumber}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination boundary-links="true" total-items="KPIAllCtrl.count" ng-model="KPIAllCtrl.pageNumberGoods"
                                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                        ng-change="KPIAllCtrl.loadCostSavingGoods()"></ul>
                                    <br />
                                    <label>{{'TABLE.TOTAL_DATA' | translate}}: {{KPIAllCtrl.count}}</label>
                                    <br />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ng-if="KPIAllCtrl.tenderType.Value==1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped" id="table-kpiProc">
                                        <thead>
                                            <tr>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Type</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Purchase Requisition</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Item</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Qty</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Unit</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Description</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Historical Price</th>
                                                <th class="text-center" colspan="3" style="vertical-align: middle;">Baseline</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Contract Duration</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Signature</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Vendor Signature</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Award Report Approval Date</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Process Status</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">SARBOX</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Level of Approval</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Currency</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Tender</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Requisition Release Date</th>
                                                <th class="text-center" colspan="3" style="vertical-align: middle;">Ontime Process</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Negotiated Value</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Bid Value</th>
                                                <!--<th class="text-left" rowspan="2" style="vertical-align: middle;">Avoidance</th>-->
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Saving</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Code</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">PAR ID</th>
                                            </tr>
                                            <tr>
                                                <th class="text-left" style="vertical-align: middle;">EPV</th>
                                                <th class="text-left" style="vertical-align: middle;">LPE</th>
                                                <th class="text-left" style="vertical-align: middle;">SC</th>

                                                <th class="text-left" style="vertical-align: middle;">Start Date</th>
                                                <th class="text-left" style="vertical-align: middle;">Finish Date</th>

                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Expected</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Original</th>
                                                <th class="text-left" style="vertical-align: middle;">USD</th>

                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>
                                                <th class="text-left" style="vertical-align: middle;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cs in KPIAllCtrl.costSaving">
                                                <td style="vertical-align: middle;" class="text-right">{{((KPIAllCtrl.pageNumber - 1) * KPIAllCtrl.pageSize) + $index + 1}}</td>
                                                <td style="vertical-align: middle;" class="text-left">Service</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-right">{{cs.HistoricalValueToUSD | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-right">{{cs.EPVValueToUSD | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-right">{{cs.LEPValueToUSD | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-right">{{cs.SCValueToUSD | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ContractStartDate | date : 'dd-MM-yyyy'}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ContractEndDate | date : 'dd-MM-yyyy'}}</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.TenderStatus}}</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.HighestApproval}}</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ContractDetailsInfo}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ReqReleaseDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-right">{{cs.OnTimePlan}}</td>
                                                <td style="vertical-align: middle;" class="text-right">{{cs.OnTimeActual}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.OnTimeStatus}}</td>
                                                <td style="vertical-align: middle;" class="text-right">{{cs.FinalValueToUSD | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-right">{{cs.OEPriceToUSD | currency : 'USD '}}</td>
                                                <!--<td style="vertical-align: middle;" class="text-left">{{cs.CostAvoidance | currency : 'USD '}}</td>-->
                                                <td style="vertical-align: middle;" class="text-right">{{cs.CostSaving | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.TenderCode}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ContractNo}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination boundary-links="true" total-items="KPIAllCtrl.count" ng-model="KPIAllCtrl.pageNumber"
                                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                        ng-change="KPIAllCtrl.loadCostSavingService()"></ul>
                                    <br />
                                    <label>{{'TABLE.TOTAL_DATA' | translate}}: {{KPIAllCtrl.count}}</label>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button ng-click="KPIAllCtrl.export()" class="btn btn-flat btn-success turun-15" title="Export Excel" style="float:right!important"><i class="fa fa-file-excel-o"></i></button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="KPIAllCtrl.tenderType.Value==2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped" id="table-kpiProc">
                                        <thead>
                                            <tr>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Type</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Purchase Requisition</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Item</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Qty</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Unit</th>
                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">Description</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Historical Price</th>
                                                <th class="text-center" colspan="3" style="vertical-align: middle;">Baseline</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Contract Duration</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Signature</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Vendor Signature</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Award Report Approval Date</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Process Status</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">SARBOX</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Level of Approval</th>
                                                <th class="text-center" colspan="2" style="vertical-align: middle;">Currency</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Tender</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Requisition Release Date</th>
                                                <th class="text-center"  colspan="3" style="vertical-align: middle;">Ontime Process</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Negotiated Value</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Bid Value</th>
                                                <!--<th class="text-left" rowspan="2" style="vertical-align: middle;">Avoidance</th>-->
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Saving</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">Code</th>
                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">PAR ID</th>
                                            </tr>
                                            <tr>
                                                <th class="text-left" style="vertical-align: middle;">EPV</th>
                                                <th class="text-left" style="vertical-align: middle;">LPE</th>
                                                <th class="text-left" style="vertical-align: middle;">SC</th>

                                                <th class="text-left" style="vertical-align: middle;">Start Date</th>
                                                <th class="text-left" style="vertical-align: middle;">Finish Date</th>

                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Expected</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>

                                                <th class="text-left" style="vertical-align: middle;">Original</th>
                                                <th class="text-left" style="vertical-align: middle;">USD</th>

                                                <th class="text-left" style="vertical-align: middle;">Planned</th>
                                                <th class="text-left" style="vertical-align: middle;">Actual</th>
                                                <th class="text-left" style="vertical-align: middle;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="cs in KPIAllCtrl.costSavingVhs">
                                                <td style="vertical-align: middle;" class="text-left">{{((KPIAllCtrl.pageNumberVhs - 1) * KPIAllCtrl.pageSize) + $index + 1}}</td>
                                                <td style="vertical-align: middle;" class="text-left">
                                                    <span ng-if="cs.RFQ.RFQType==2">FPA</span>
                                                    <span ng-if="cs.RFQ.RFQType==1">VHS</span>
                                                </td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.UnitOfMeasure}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.MaterialDescription}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.UnitCostHistorical | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.UnitCostEPV | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.UnitCost | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.Award.StartContractDate|date:'dd-MM-yyyy'}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.Award.FinishContractDate|date:'dd-MM-yyyy'}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ValeSignPlanDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ValeSignActDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.VendorSignPlanDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.VendorSignActDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.PARApprovedPlanDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.PARApprovedActDate | date:"dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.Status}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.Sarbox}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.HighestApproval}}</td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left"></td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.RFQ.RFQName}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ReqRequisitionDate|date:'dd-MM-yyyy'}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.DiffDaysPlan}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.DiffDays}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.OntimeStatus}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.NegoPrice | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.ProposedValue | currency : 'USD '}}</td>
                                                <!--<td style="vertical-align: middle;" class="text-left">{{cs.Avoidance | currency : 'USD '}}</td>-->
                                                <td style="vertical-align: middle;" class="text-left">{{cs.CostSavingValue | currency : 'USD '}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.RFQ.RFQCode}}</td>
                                                <td style="vertical-align: middle;" class="text-left">{{cs.PONumber}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination boundary-links="true" total-items="KPIAllCtrl.count" ng-model="KPIAllCtrl.pageNumberVhs"
                                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                        ng-change="KPIAllCtrl.loadCostSavingVhs()"></ul>
                                    <br />
                                    <label>{{'TABLE.TOTAL_DATA' | translate}}: {{KPIAllCtrl.count}}</label>
                                    <br />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>