﻿<section ng-init="apprDDCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.APPROVAL_DELIVERY_DATE'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'APPROVAL_DELIVERY_DATE'|translate}}</h3>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom: 20px;">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center">No</th>
                                            <th class="text-center">{{'TABLE.TENDER_CODE'|translate}}</th>
                                            <th class="text-center">{{'TABLE.TENDER_NAME'|translate}}</th>
                                            <th class="text-center">Vendor</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">{{'TABLE.TGL_APPROVE'|translate}}</th>
                                            <th class="text-center">{{'TABLE.KET'|translate}}</th>
                                            <th class="text-center" style="min-width:75px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="appr in apprDDCtrl.list">
                                            <td class="center-vertical">{{((apprDDCtrl.currentPage - 1) * apprDDCtrl.pageSize) + $index + 1}}</td>
                                            <td class="center-vertical">{{appr.TenderCode}}</td>
                                            <td style="vertical-align: middle;">{{appr.TenderName}}</td>
                                            <td style="vertical-align: middle;">{{appr.VendorName}}</td>
                                            <td class="center-vertical">
                                                <span ng-if="appr.ApprovalStatus == null">On Process</span>
                                                <span ng-if="appr.ApprovalStatus == true">Approved</span>
                                                <span ng-if="appr.ApprovalStatus == false">Rejected</span>
                                            </td>
                                            <td class="center-vertical">{{appr.ApprovalDate | date:"dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{appr.Remark}}</td>
                                            <td class="center-vertical">
                                                <button title="Detail" class="btn btn-xs btn-info" ng-click="apprDDCtrl.awardedItem(appr)">
                                                    <i class="fa fa-list"></i>
                                                </button>
                                                <button title="Approve" ng-if="appr.ApprovalStatus == null" class="btn btn-xs btn-success" ng-click="apprDDCtrl.approve(appr)">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button title="Reject" ng-if="appr.ApprovalStatus == null" class="btn btn-xs btn-danger" ng-click="apprDDCtrl.reject(appr)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="apprDDCtrl.count === 0">
                                            <td colspan=10>{{'TIDAK_ADA_DATA'|translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <ul uib-pagination total-items="apprDDCtrl.count" max-size="10"
                                ng-model="apprDDCtrl.currentPage" items-per-page="apprDDCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="apprDDCtrl.jLoad()"></ul>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12 turun-15" style="float:right"><label>Total Data : {{apprDDCtrl.count}}</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
