﻿<div id="idTambahBadan" class="modal-content" ng-init="BUModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="BUModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{BUModalCtrl.action |translate}} {{'DATA_BADAN_USAHA'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">{{'TABLE.NAME'|translate}}</label>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" ng-model="BUModalCtrl.Name" class="form-control" placeholder="{{'Nama Badan Usaha. Contoh : PT, CV, ..'|translate}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">{{'TABLE.KETERANGAN'|translate}}</label>
                        <div class="col-sm-8 col-md-8">
                            <textarea ng-model="BUModalCtrl.Description" class="form-control" rows="3" placeholder="{{'Keterangan Badan Usaha..'|translate}}"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">{{'Kelengkapan Dokumen Pendaftaran Vendor'|translate}}</h4>
            </div>
            <div class="col-md-12 margin-atas">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-sm">
                                <label><input type="checkbox" ng-model="BUModalCtrl.IsNeedNpwp">&nbsp;&nbsp;NPWP</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>{{'LICENSE' | translate}}</label>
                            <select size="5" class="form-control" ng-model="BUModalCtrl.selectedLicense" ng-options="val as val.Name for val in BUModalCtrl.licenses">
                                <option value="" disabled selected>{{'SELECT_LICENSE' | translate }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 center-block">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button ng-click="BUModalCtrl.addLicense()" type="button" class="btn btn-flat btn-default">
                                <i class="fa fa-backward"></i>&nbsp;
                            </button>
                            <button ng-click="BUModalCtrl.removeLicense()" type="button" class="btn btn-flat btn-default">
                                <i class="fa fa-forward"></i>&nbsp;
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>{{'AVAILABLE_LICENSES' | translate}}</label>
                            <select size="5" ng-model="BUModalCtrl.selectedAvailLicense" class="form-control" ng-options="val as val.Name for val in BUModalCtrl.availLicenses">
                                <option value="" disabled selected>{{'SELECT_LICENSE' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label>
                    {{'KETERANGAN'|translate}}<br />
                    {{'KETERANGAN2'|translate}}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="BUModalCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i></button>
        <button type="button" class="btn btn-primary" ng-click="BUModalCtrl.simpan()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>
    </div>
</div>