<div class="container-fluid" ng-init="DataPerlengkapanCtrl.init()">
	<ol class="breadcrumb">
		<li>
			<a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a>
		</li>
		<li>
			<a class="active">{{'BREADCRUMB.STUFFS' | translate}}</a>
		</li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-8">
							<h3 class="afta-font">{{'BUILDING' | translate}}</h3>
						</div>
						<div class="col-md-4 text-right">
							<a ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" href="" class="btn btn-flat btn-primary turun-15" ng-click="DataPerlengkapanCtrl.openForm('building',null,true)" title="{{'BTN.TAMBAH'|translate}}">
								<i class="fa fa-plus-circle"></i>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="row">
									<!--<div class="col-md-6">
										<h5 class="box-title"><strong>Data Sebelum Diubah</strong></h5>
										<div class="table table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CATEGORY' | translate}}</th>
														<th class="center-vertical">{{'TABLE.LARGE' | translate}}(M<sup>2</sup>)</th>
														<th class="center-vertical" width="30%">{{'TABLE.ADDRESS' | translate}}</th>
														<th class="center-vertical">{{'TABLE.OWNERSHIP' |translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="obj in DataPerlengkapanCtrl.listBuilding">
														<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
														<td style="vertical-align: middle;">{{obj.category.Value}}</td>
														<td class="center-vertical">{{obj.BuildingArea}}</td>
														<td class="middle-vertical">{{obj.address.AddressInfo}} {{obj.address.AddressDetail}}</td>
														<td class="middle-vertical">{{obj.ownershipStatus.Value}}</td>
														<td class="center-vertical">
															<a ng-click="DataPerlengkapanCtrl.detailForm('building',obj, false)" class="label label-flat label-sm label-warning" title="Lihat Detail">
																<i class="fa fa-external-link"></i>
															</a>
														</td>
													</tr>
													<tr ng-if="DataPerlengkapanCtrl.listBuilding.length === 0">
														<td colspan="6">{{'TABLE.NODATA' | translate}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>-->

									<div class="col-md-12">
										<!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
										<div class="table table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CATEGORY' | translate}}</th>
														<th class="center-vertical">{{'TABLE.LARGE' | translate}}(M<sup>2</sup>)</th>
														<th class="center-vertical" width="30%">{{'TABLE.ADDRESS' | translate}}</th>
														<th class="center-vertical">{{'TABLE.OWNERSHIP' |translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="obj in DataPerlengkapanCtrl.listBuildingPrequal">
														<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
														<td style="vertical-align: middle;">{{obj.category.Value|translate}}</td>
														<td class="center-vertical">{{obj.BuildingArea}}</td>
														<td class="middle-vertical">{{obj.address.AddressInfo}} {{obj.address.AddressDetail}}</td>
														<td class="middle-vertical">{{obj.ownershipStatus.Value|translate}}</td>
														<td class="center-vertical">
															<a ng-click="DataPerlengkapanCtrl.detailForm('building',obj, false)" class="btn btn-flat btn-warning" title="{{'BTN.VIEW_DETAIL'|translate}}">
																<i class="fa fa-external-link"></i>
															</a>
															<a ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" ng-click="DataPerlengkapanCtrl.openForm('building',obj,false,DataPerlengkapanCtrl.isApprovedCR)" class="btn btn-flat btn-primary" title="{{'BTN.UBAH'|translate}}">
																<i class="fa fa-edit"></i>
															</a>
															<a ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" ng-click="DataPerlengkapanCtrl.deleteData('building',obj,false,DataPerlengkapanCtrl.isApprovedCR)" class="btn btn-flat btn-danger" title="{{'BTN.HAPUS'|translate}}">
																<i class="fa fa-trash"></i>
															</a>
														</td>
													</tr>
													<tr ng-if="DataPerlengkapanCtrl.listBuildingPrequal.length === 0">
														<td colspan="6">{{'TABLE.NODATA' | translate}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<h3 class="afta-font">{{'VEHICLE' | translate}}</h3>
						</div>
						<div class="col-md-4 text-right">
							<a href="" class="btn btn-flat btn btn-primary turun-15" ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" ng-click="DataPerlengkapanCtrl.openForm('vehicle',null,true)" title="{{'BTN.TAMBAH'|translate}}">
								<i class="fa fa-plus-circle"></i>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="row">
									<!--<div class="col-md-6">
										<h5 class="box-title"><strong>Data Sebelum Diubah</strong></h5>
										<div class="table table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
														<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
														<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
														<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CAPACITYPERSON' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
														<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.OWNERSHIP' | translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="objc in DataPerlengkapanCtrl.listVehicle">
														<td class="text-center">{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.maxSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
														<td>{{objc.Name}}</td>
														<td class="center-vertical">{{objc.Brand}}</td>
														<td class="middle-vertical">{{objc.MfgDate | date:'yyyy'}}</td>
														<td class="middle-vertical">{{objc.SerialNo}}</td>
														<td class="center-vertical">{{objc.Capacity}}</td>
														<td class="middle-vertical">{{objc.ConditionRef.Value}} </td>
														<td class="text-center">{{objc.OwnershipRef.Value}}</td>
														<td class="center-vertical">
															<a ng-click="DataPerlengkapanCtrl.detailForm('vehicle',objc, false)" class="label label-flat label-sm label-warning" title="Lihat Detail">
																<i class="fa fa-external-link"></i>
															</a>
														</td>
													</tr>
													<tr ng-if="DataPerlengkapanCtrl.listVehicle.length === 0">
														<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>-->

									<div class="col-md-12">
										<!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
										<div class="table table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
														<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
														<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
														<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CAPACITYPERSON' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
														<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.OWNERSHIP' | translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="objc in DataPerlengkapanCtrl.listVehiclePrequal">
														<td class="center-vertical">{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.maxSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
														<td>{{objc.Name}}</td>
														<td class="center-vertical">{{objc.Brand}}</td>
														<td class="middle-vertical">{{objc.MfgDate | date:'yyyy'}}</td>
														<td class="middle-vertical">{{objc.SerialNo}}</td>
														<td class="center-vertical">{{objc.Capacity}}</td>
														<td class="middle-vertical">{{objc.ConditionRef.Value|translate}} </td>
														<td class="text-center">{{objc.OwnershipRef.Value|translate}}</td>
														<td class="center-vertical">
															<a ng-click="DataPerlengkapanCtrl.detailForm('vehicle',objc, false)" class="btn btn-flat btn-warning" title="{{'BTN.VIEW_DETAIL'|translate}}">
																<i class="fa fa-external-link"></i>
															</a>
															<a  ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" ng-click="DataPerlengkapanCtrl.openForm('vehicle',objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="btn btn-flat btn-primary" title="{{'BTN.UBAH'|translate}}">
																<i class="fa fa-edit"></i>
															</a>
															<a ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" ng-click="DataPerlengkapanCtrl.deleteData('vehicle',objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="btn btn-flat btn-danger" title="{{'BTN.HAPUS'|translate}}">
																<i class="fa fa-trash"></i>
															</a>
														</td>
													</tr>
													<tr ng-if="DataPerlengkapanCtrl.listVehiclePrequal.length === 0">
														<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<h3 class="afta-font">{{'HEAVYEQUIPMENT' | translate}}</h3>
						</div>
						<div class="col-md-4 text-right">
							<a href="" class="btn btn-flat btn btn-primary turun-15" ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" ng-click="DataPerlengkapanCtrl.openForm('equipment',null,true)" title="{{'BTN.TAMBAH'|translate}}">
								<i class="fa fa-plus-circle"></i>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<div class="row">
									<!--<div class="col-md-6">
										<h5 class="box-title"><strong>Data Sebelum Diubah</strong></h5>
										<div class="table table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
														<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
														<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
														<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CAPACITYTON' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
														<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.OWNERSHIP' | translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="objc in DataPerlengkapanCtrl.listEquipmentTools" ng-class="{'bg-danger': objc.IsTemporary === true}">
														<td class="text-center" style="vertical-align: middle;">{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.pageSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
														<td style="vertical-align: middle;">{{objc.Name}}</td>
														<td class="center-vertical">{{objc.Brand}}</td>
														<td class="middle-vertical">{{objc.MfgDate}}</td>
														<td class="middle-vertical">{{objc.SerialNo}}</td>
														<td class="center-vertical">{{objc.Capacity}}</td>
														<td class="middle-vertical">{{objc.ConditionRef.Value}} </td>
														<td class="text-center">{{objc.OwnershipRef.Value}}</td>
														<td class="center-vertical">
															<a ng-click="DataPerlengkapanCtrl.detailForm('equipment',objc, false)" class="label label-flat label-sm label-warning" title="Lihat Detail">
																<i class="fa fa-external-link"></i>
															</a>
														</td>
													</tr>
													<tr ng-if="DataPerlengkapanCtrl.listEquipmentTools.length === 0">
														<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>-->
									<div class="col-md-12">
										<!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
										<div class="table table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
														<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
														<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
														<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CAPACITYTON' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
														<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.OWNERSHIP' | translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="objc in DataPerlengkapanCtrl.listEquipmentToolsPrequal" ng-class="{'bg-danger': objc.IsTemporary === true}">
														<td class="text-center" style="vertical-align: middle;">{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.pageSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
														<td style="vertical-align: middle;">{{objc.Name}}</td>
														<td class="center-vertical">{{objc.Brand}}</td>
														<td class="middle-vertical">{{objc.MfgDate | date:'yyyy'}}</td>
														<td class="middle-vertical">{{objc.SerialNo}}</td>
														<td class="center-vertical">{{objc.Capacity}}</td>
														<td class="middle-vertical">{{objc.ConditionRef.Value|translate}} </td>
														<td class="text-center">{{objc.OwnershipRef.Value|translate}}</td>
														<td class="center-vertical">
															<a ng-click="DataPerlengkapanCtrl.detailForm('equipment',objc, false)" class="btn btn-flat btn-warning" title="{{'BTN.VIEW_DETAIL'|translate}}">
																<i class="fa fa-external-link"></i>
															</a>
															<a ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" ng-click="DataPerlengkapanCtrl.openForm('equipment',objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="btn btn-flat btn-primary" title="{{'BTN.UBAH'|translate}}">
																<i class="fa fa-edit"></i>
															</a>
															<a ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" ng-click="DataPerlengkapanCtrl.deleteData('equipment',objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="btn btn-flat btn-danger" title="{{'BTN.HAPUS'|translate}}">
																<i class="fa fa-trash"></i>
															</a>
														</td>
													</tr>
													<tr ng-if="DataPerlengkapanCtrl.listEquipmentToolsPrequal.length === 0">
														<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 center-block text-center">
							<a href="#/assessment-prakualifikasi-detail/{{DataPerlengkapanCtrl.PrequalStepAssID}}/{{DataPerlengkapanCtrl.VendorPrequalID}}" class="btn btn-primary">
								<i class="fa fa-arrow-circle-left"></i>
							</a>
							<a ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" class="btn btn-success" ng-click="DataPerlengkapanCtrl.Submit(true)" title="{{'SETUJU' | translate}}">
								<i class="fa fa-check"></i>
							</a>
							<a ng-if="DataPerlengkapanCtrl.isEntry == true || DataPerlengkapanCtrl.IsNeedRevision == true" class="btn btn-danger" ng-click="DataPerlengkapanCtrl.notvalid()" title="{{'TIDAK_SETUJU'|translate}}" ng-disabled="DataPerlengkapanCtrl.valid==false">
								<i class="fa fa-close"></i>
							</a>
						</div>
						<div class="center-block text-center" ng-if="DataPerlengkapanCtrl.valid==false">
							<div class="row margin-atas">
								<div class="col-md-6 col-md-offset-3">
									<label>{{'Alasan'|translate}}</label>
									<textarea class="form-control" ng-model="DataPerlengkapanCtrl.remark" placeholder="{{'Alasan'|translate}}"></textarea>
									<a class="btn btn-success" ng-click="DataPerlengkapanCtrl.Submit(false)">
										<i class="fa fa-save" title="{{'BTN.SIMPAN'|translate}}"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
