﻿<div class="modal-content" ng-init="detailTemplateCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailTemplateCtrl.batal()" title="{{'KELUAR'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'DETAIL_WARNING' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.CREATEDDATE' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.CreatedDate | date: 'dd MMMM yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.REPORTERNAME' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.ReporterName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.REPORTER' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.Reporter}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.AREA' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.Area}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.COMPLAINT_DESC' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.Description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.JENIS_PERINGATAN' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.LetterType | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.VENDORNAME' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.businessType}}. {{detailTemplateCtrl.VendorName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.WARNINGTYPE' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.WarningType | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.STATUS' | translate }}</label>
                        <div class="col-md-8">
                            : {{detailTemplateCtrl.Status |translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label class="control-label col-md-4"> {{'TABLE.TEMPLATE'|translate}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-xs-12 well center-block" style="float: none!important;">
                    <div class="form-group">
                        <p ng-bind-html="detailTemplateCtrl.TemplateDoc" name="editor1" rows="10" cols="80"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
