<div class="modal-content" ng-init="detailApprovalNegoVHSCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalNegoVHSCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'BREADCRUMB.DETAIL_APPROVAL' | translate}} </h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="row" ng-if="detailApprovalNegoVHSCtrl.Status == 1">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">{{'TABLE.GOODS_OFFERDETAIL.KETERANGAN'|translate}} : </label>
                                        <input class="form-control input-sm" ng-model="detailApprovalNegoVHSCtrl.ID.Remark" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button class="btn btn-sm btn-success" ng-click="detailApprovalNegoVHSCtrl.cancel()"><i class="fa fa-arrow-left"></i> {{'BTN.BACK' | translate}}</button>
                                        <button class="btn btn-sm btn-danger" ng-click="detailApprovalNegoVHSCtrl.reject()"><i class="fa fa-trash"></i> {{'REJECT' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.LEVEL_INFO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalNegoVHSCtrl.list">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.LevelInfoEmp}}</td>
                                        <td>{{dt.MstEmployee.PositionName}}</td>
                                        <td class="text-center">{{dt.MstEmployee.FullName}} {{dt.MstEmployee.SurName}}<br />
                                            <span ng-if="dt.DelegateEmployeeName">(Delegasi ke : {{dt.DelegateEmployeeName}})</span></td>
                                        <td class="text-center">{{dt.ApprovalDate| date: "dd-MM-yyyy"}}</td>
                                        <td ng-if="dt.ApprovalStatus === null" class="text-center" ></td>
                                        <td ng-if="dt.ApprovalStatus === true" class="text-center" >{{'STATUS.APPROVED'|translate}}</td>
                                        <td ng-if="dt.ApprovalStatus === false" class="text-center" >{{'STATUS.REJECT'|translate}}</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalNegoVHSCtrl.list.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detailApprovalNegoVHSCtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>