<section class="content" ng-init="KPIUploadCtrl.init()" style="overflow: visible!important;">
<ol class="breadcrumb">
    <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
    <li><a href="#/kpi">Supplier Performance Report</a></li>
    <li><a href="#/upload-sap-supplierperformance" class="active">Upload SAP Supplier Performance</a></li>
</ol>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
        <div class="box">
            <!--notife flow-->
            <div class="box-header" >
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="afta-font judul-datatabel">{{'HEAD_TITLE2'|translate}}</h3>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-inline" ng-repeat="dt in KPIUploadCtrl.docTypes">                                
                                <div class="col-md-4">
                                    <input type="checkbox" ng-model="KPIUploadCtrl.checkboxDoctype[$index]" /> {{dt.Value}}                                  
                                </div>
                                <div class="col-md-6">
                                    <input type="file" class="form-control input-sm" ng-disabled="KPIUploadCtrl.checkboxDoctype[dt.RefID]==false" ng-file-select="KPIUploadCtrl.selectUpload(KPIUploadCtrl.fileUpload[dt.RefID],dt.RefID)" ng-model="KPIUploadCtrl.fileUpload[dt.RefID]" ng-change="KPIUploadCtrl.cekinputan(KPIUploadCtrl.checkboxDoctype[dt.RefID])" title="Upload Dokumen" required accept="{{KPIUploadCtrl.idFileTypes}}" />
                                    <!--
                                    <div class="input-group-btn">    
                                        <button class="btn btn-success btn-sm"><i class="fa fa-upload"></i></button>
                                    </div>-->
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-sm btn-primary" ng-click="KPIUploadCtrl.submitfile()" title="{{'BTN.SAVE'|translate}}"><i class="fa fa-upload"></i></button>
                                </div>
                                <div class="col-md-1" ng-if="KPIUploadCtrl.isuploaded[dt.RefID]==true">
                                    <button class="btn btn-sm btn-danger" ng-click="KPIUploadCtrl.hapus(dt.RefID)" title="{{'BTN.DEL'|translate}}"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-sm btn-primary" ng-click="KPIUploadCtrl.submitfile()" title="Simpan"><i class="fa fa-retweet"></i></button>
                        </div>
                    </div>
                        -->
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                    <th class="text-center" style="width: 5%;">No.</th>
                                    <th class="text-center" width="30%" >{{'TABLE.FILE_NAME'|translate}}</th>
                                    <th class="text-center" width="20%">{{'TABLE.UPLOAD_DATE'|translate}}</th>
                                    <th class="text-center" style="width: 10%;">Download</th>
                                    <th class="text-center" style="width: 10%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="uf in KPIUploadCtrl.uploadedfiles.List" >
                                    <td style="vertical-align: middle;">{{KPIUploadCtrl.currentPage > 1 ? (KPIUploadCtrl.pageSize * (KPIUploadCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td style="vertical-align: middle;">{{uf.FileName}}</td>
                                    <td style="vertical-align: middle;" class="text-center">{{uf.UploadDate|date:"dd-MM-yyyy HH:mm"}}</td>  
                                    <td style="vertical-align: middle;" class="text-center"><a target="_blank" href="
                                        {{KPIUploadCtrl.folderFile+uf.DocUrl}}" class="btn btn-flat btn-xs btn-success" title="{{'Download' | translate}}"><i class='fa fa-download'></i></a></td> 
                                    <td style="vertical-align: middle;" class="text-center"><button ng-if="uf.DocType==4351 || uf.DocType==4352 || uf.DocType==4354 || uf.DocType==4445" class="btn btn-sm btn-warning" ng-click="KPIUploadCtrl.detailUpload(uf)" title="Detail"><i class="fa fa-archive"></i> </button></td>
                                    </tr>
                                    <tr ng-if="KPIUploadCtrl.uploadedfiles.length==0">
                                        <td style="vertical-align: middle;" class="text-center" colspan="5">{{'MESSAGE.NOTIF'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination total-items="KPIUploadCtrl.count" max-size="10"
                                ng-model="KPIUploadCtrl.currentPage" items-per-page="KPIUploadCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="KPIUploadCtrl.alldocs(KPIUploadCtrl.currentPage)"></ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h5><strong>Total Data: {{KPIUploadCtrl.uploadedfiles.Count}}</strong></h5>
                    </div>
                </div>

                <div class="row">
                    <br />
                    <hr />
                    <div class="col-md-12">
                        <div class="text-right">
                            <a href="#/kpi" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>