﻿<div class="modal-content" ng-init="BankDetModalCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="BankDetModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'EXIT'|translate}}</span></button>
		<h3 class="modal-title afta-font">{{BankDetModalCtrl.action|translate}} Bank Detail</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'ACCOUNT_NO' | translate}}</label>
					<input type="text" class="form-control" placeholder="{{'ACCOUNT_NO' | translate}}" ng-model="BankDetModalCtrl.NoRek">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'ACCOUNT_NAME' | translate}}</label>
					<input type="text" class="form-control" placeholder="{{'ACCOUNT_NAME' | translate}}" ng-model="BankDetModalCtrl.NamaAkun">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'BANK_NAME' | translate}}</label>
					<input type="text" class="form-control" placeholder="{{'BANK_NAME' | translate}}" ng-model="BankDetModalCtrl.NamaBank">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'BRANCH' | translate}}</label>
					<input type="text" class="form-control" placeholder="{{'BRANCH' | translate}}" ng-model="BankDetModalCtrl.Cabang">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'SWIFT_CODE' | translate}}</label>
					<input type="text" class="form-control" placeholder="Swift Code" ng-model="BankDetModalCtrl.Swift">
				</div>
			</div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'CURRENCY' | translate}}</label>
                    <select class="form-control" ng-model="BankDetModalCtrl.currency"
                            ng-options="item as item.Symbol + ' | ' + item.Label for item in BankDetModalCtrl.currencyList">
                        </select>
                </div>
            </div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">
						Upload File *
						<small> ( <span ng-repeat="ft in BankDetModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{BankDetModalCtrl.idUploadConfigs[0].Size}} {{BankDetModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
					</label>
					<input type="file" class="form-control" ng-file-select="BankDetModalCtrl.selectUpload()" ng-model="BankDetModalCtrl.fileUpload" name="ownerIDFile" required accept="{{BankDetModalCtrl.idFileTypes}}" />
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-6">
                <label>*) {{'ACCOUNT_INFO' | translate}}</label>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-primary" ng-click="BankDetModalCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
		<button type="button" class="btn btn-flat btn-success" ng-click="BankDetModalCtrl.uploadFile()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
	</div>
</div>