<div class="modal-content" ng-init="detailApprovalEvalCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalEvalCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row" ng-if="detailApprovalEvalCtrl.Status === 0">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detailApprovalEvalCtrl.information" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button ng-if="detailApprovalEvalCtrl.approval" class="btn btn-sm btn-success" ng-click="detailApprovalEvalCtrl.approve()"><i class="fa fa-check"></i> {{'APPROVE' | translate}}</button>
                                    <button ng-if="!detailApprovalEvalCtrl.approval" class="btn btn-sm btn-danger" ng-click="detailApprovalEvalCtrl.reject()"><i class="fa fa-times"></i> {{'BTN.REJECT' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="detailApprovalEvalCtrl.Status === 1">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'DETAIL_APPROVAL'|translate}} : </label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">Level Info</th>
                                        <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TIPE_APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                        <th width="100" class="center-vertical">{{'TABLE.PRIORITAS_UTAMA' | translate}} *</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalEvalCtrl.crApps">
                                        <td ng-if="dt.IsActive === true" class="text-center">{{$index + 1}}</td>
                                        <td ng-if="dt.IsActive === true" class="text-center">{{dt.level_info}}</td>
                                        <td ng-if="dt.IsActive === true" ng-class="{'text-bold':dt.EmployeeID == detailApprovalEvalCtrl.employeeID}">{{dt.EmployeeFullName}}<br />
                                            <span ng-if="dt.DelegatedEmployeeName">(Delegasi ke : {{dt.DelegatedEmployeeName}})</span></td>
                                        <td ng-if="dt.IsActive === true">{{dt.EmployeePositionName}}</td>
                                        <td ng-if="dt.IsActive === true">{{dt.SysReference1.Value}}</td>
                                        <td ng-if="dt.IsActive === true" class="text-center">{{dt.ApprovalDate}}</td>
                                        <td ng-if="dt.IsActive === true && dt.ApprovalStatus == 1" class="text-center" >{{'CR_APPROVED'|translate}}</td>
                                        <td ng-if="dt.IsActive === true && dt.ApprovalStatus == 0" class="text-center">{{'APPROVAL_VENDOR_REJECTED'|translate}}</td>
                                        <td ng-if="dt.ApprovalDate == null " class="text-center"></td>
                                        <td ng-if="dt.IsActive === true">{{dt.Remark}}</td>
                                        <td ng-if="dt.IsActive === true" class="text-center">
                                            <i ng-if="dt.IsHighPriority === true" class="fa fa-check-circle" />
                                        </td>
                                    </tr>
                                    <tr ng-if="detailApprovalEvalCtrl.crApps.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    *) {{'KETERANGAN_APPROVAL' | translate}}
                </div>
            </div>            
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detailApprovalEvalCtrl.cancel()"><i class="fa fa-reply" title="{{'BTN.BACK'|translate}}"></i></button>
        </div>
    </div>
</div>