﻿<section class="content" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/paketlelang/viewtahapan/{{paket_lelang_id}}">{{'BREADCRUMB.STAGES_DETAIL'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.NEGOTIATION_FORUM.GOODS'|translate}}</a></li>
    </ol>
    <div class="container-fluid" ng-init="NegosiasiBarangChatVCtrl.init()">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row" style="padding-bottom: 20px;">
                            <div class="col-md-12" style="padding-top: 15px;">
                                <div class="col-md-10 center-block" style="float: none!important;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2 class="afta-font text-center">{{'TITLE.NEGOTIATION_FORUM.GOODS'|translate}}</h2>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <p>{{'VENDOR_NAME'|translate}} : {{NegosiasiBarangChatVCtrl.VendorName}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 center-block">
                                <div class="col-md-6">
                                    <div class="center-block text-left">
                                        <a class="btn btn-sm btn-warning btn-flat" ng-click="NegosiasiBarangChatVCtrl.detailpenawaran()" style="margin-bottom: 15px;" title="{{'BTN.OFFER_DETAIL'|translate}}"><i class="fa fa-eye"></i> {{'BTN.OFFER_DETAIL'|translate}}&nbsp;</a>
                                       </div>
                                </div>
                                <div ng-if="NegosiasiBarangChatVCtrl.IsOvertime === true && NegosiasiBarangChatVCtrl.nego[0].IsActive === true" class="col-md-6">
                                    <div class="center-block text-right">
                                        <a  ng-click="NegosiasiBarangChatVCtrl.tulis()" class="text-right btn btn-sm btn-flat btn-primary" style="margin-bottom: 15px;" title="{{'BTN.WRITE_CHAT'|translate}}">
                                            <i class="fa fa-pencil"></i> {{'BTN.WRITE_CHAT'|translate}}&nbsp;
                                        </a>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row" style="padding-top: 3px!important; padding-bottom: 5px!important;">
                                            <div class="col-md-12">
                                                <div class="message-wrap col-md-11 center-block" style="float: none!important;" >
                                                    <div class="msg-wrap"  >
                                                        <div id="divChat" class="media msg" ng-repeat="chat in NegosiasiBarangChatVCtrl.nego| orderBy : '-ID'" ng-if="!(NegosiasiBarangChatVCtrl.nego.length === 1 && NegosiasiBarangChatVCtrl.nego[0].Description === null)"  >
                                                            <div class="media-body">
                                                                <div >
                                                                    <small class="pull-right time"><i class="fa fa-clock-o"></i> {{chat.ChatDate}}</small>
                                                                    <h5 ng-if="(chat.EvaluatorID)" class="media-heading afta-font">{{'COMMITTEE'|translate}}</h5>
                                                                    <h5 ng-if="!(chat.EvaluatorID)" class="media-heading afta-font" style="color: red;">{{chat.VendorName}}</h5>
                                                                    <p class="col-lg-10" style="margin-top: 10px;" ng-bind-html="chat.Description"></p>
                                                                    <div class="col-md-2">
                                                                        <a ng-show="chat.UrlDoc" href="{{NegosiasiBarangChatVCtrl.folderFile + chat.UrlDoc}}" target="_BLANK" class="btn btn-xs btn-default btn-flat pull-right" style="margin-top: 10px;" title="{{'LIHAT_LAMPIRAN'|translate}}">
                                                                            <i class="fa fa-download"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                            </div>
                                                            <pagination total-items="NegosiasiBarangChatVCtrl.totalItems" page="NegosiasiBarangChatVCtrl.currentPage" items-per-page="10"
                                                                        max-size="NegosiasiBarangChatVCtrl.maxSize" on-select-page="jLoad(page)"></pagination>
                                                        </div>
                                                        <div id="divChat" class="media msg" ng-if="NegosiasiBarangChatVCtrl.nego.length === 1 && NegosiasiBarangChatVCtrl.nego[0].Description === null">
                                                           <h4>{{'TIDAK_ADA_PERCAKAPAN'|translate}}</h4>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- paging -->
                                    <hr />
                                </div>
                        <div class="row">
                            <br />
                            <hr />

                            <div class="col-md-12">

                                <div class="text-right">
                                    <a ng-click="NegosiasiBarangChatVCtrl.back()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i> {{'BTN.BACK'|translate}}&nbsp;</a>&nbsp;
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
            </div>
        </div>
</section>