﻿<section ng-init="PPGVHSCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#/home-admin">{{'BREADCRUMB.HOME'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.VHSAWARD' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'APPROVAL_VHSAWARD'|translate}}</h3>
						</div>
					</div>
					<div class="row">
						<form method="post" role="form" ng-submit="PPGVHSCtrl.pencarian()">
							<div class="col-md-1">
								<label class="form-control" style="border:none">Filter: </label>
							</div>
							<div class="col-md-3">
								<select id="cmbStatus" name="cmbStatus" ng-model="PPGVHSCtrl.Status" class="form-control" ng-options="item.Value as item.Name | translate for item  in PPGVHSCtrl.listDropdown">
									<option value="" selected disabled>
										-- {{'SEARCH_BY' | translate}} --
									</option>
								</select>
							</div>
							<div class="col-md-3" ng-if="PPGVHSCtrl.Status == 1 || PPGVHSCtrl.Status == 2 ">
								<input type="text" ng-model="PPGVHSCtrl.Keyword" class="form-control">
							</div>
							<div class="col-xs-1">
								<div class="input-group">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-flat btn-primary" ng-click="PPGVHSCtrl.jLoad(1)">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="input-group">
									<select ng-model="PPGVHSCtrl.StatusApprv" class="form-control" ng-change="PPGVHSCtrl.show()" ng-options="item.Value as item.Name | translate for item  in PPGVHSCtrl.listDropdownStatus">
										<option value="" selected disabled>
											-- {{'SEARCH_STATUS' | translate}} --
										</option>
									</select>
								</div>
							</div>
						</form>
					</div>

					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">No</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.TENDERCODE' | translate}}</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.TENDERNAME' | translate}}</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDORNAME' | translate}}</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.OFFERENTRYTOTAL' | translate}}</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.TYPETENDER' | translate}}</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTSTART' | translate}}</th>
											<th class="text-center" width="10%">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTDURATION' | translate}}</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTEND'|translate}} (Vendor)</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTEND'|translate}} (PTVI)</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTNO'|translate}}</th>
											<th class="text-center">TaxCode</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.OFFERENTRYEXPIRED'|translate}}</th>
											<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.STATUS'|translate}}</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="PPGVHSCtrl.count !== 0" ng-repeat="eval in PPGVHSCtrl.detail">
											<td class="center-vertical">{{$index+1}}</td>
											<td class="center-vertical">{{eval.TenderCode}}</td>
											<td class="center-vertical">{{eval.TenderName}}</td>
											<td class="center-vertical">{{eval.VendorName}}</td>
											<td class="center-vertical">{{eval.CurrNego}} {{eval.NegoPrice | currency: ""+ labelcurr +" "}}</td>
											<td class="center-vertical">{{eval.RFQTypeName}}</td>
											<td class="center-vertical">
												<div class="input-group date form_datetime">
													<input disabled class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="PPGVHSCtrl.isCalendarOpened[$index]" ng-model="eval.StartContractDate" ng-click="PPGVHSCtrl.openCalendar($index)" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="PPGVHSCtrl.openCalendar($index)"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</td>
											<td class="center-vertical"><input disabled class="form-control input-group-sm" type="text" ng-model="eval.Duration" /></td>
											<td class="center-vertical" ng-if="eval.FinishContractDate !== null ">{{eval.FinishContractDate | date: "dd-MM-yyyy"}}</td>
											<td class="center-vertical" ng-if="eval.FinishContractDate  === null "></td>
											<td class="center-vertical" ng-if="eval.FinishContractDate  === null "></td>
											<td class="center-vertical" ng-if="eval.FinishContractDate  !== null ">{{eval.FinishContractPVIDate | date: "dd-MM-yyyy"}}</td>
											<td class="center-vertical"><input disabled class="form-control input-group-lg" type="text" ng-model="eval.SAPContractNo" /></td>
											<td class="center-vertical">
												<select disabled class="form-control input-sm" ng-model="eval.selectTaxCode"
														ng-options="item as item.Code + ' | ' + item.Description for item in eval.listTaxCode">
													<option value="" selected>
														-- Tax Code --
													</option>
												</select>
											</td>
											<td class="center-vertical">
												{{eval.ExpDate| date: "dd-MM-yyyy"}}
											</td>
											<td class="center-vertical">{{eval.ApprovalStatusReff.Value}}</td>
											<td class="text-center">

												<button title="Approve" ng-if="eval.IsNeedApproval == true" class="btn btn-flat btn-primary" ng-click="PPGVHSCtrl.detailApproval(1, eval)">
													<i class="fa fa-check"></i>
												</button>
												<button ng-if="eval.ID !== 0 && PPGVHSCtrl.flagSave === true " type="button" class="btn btn-flat btn-warning" ng-click="PPGVHSCtrl.edit(eval)" title="{{'BTN.UPLOAD'|translate}}">
													<i class="fa fa-upload" aria-hidden="true"></i>
												</button>
												<a ng-if="eval.ID !== 0 && eval.DocumentUrl != null" target="_blank" type="button" class="btn btn-flat btn-success" title="{{'BTN.DOWNLOAD'|translate}}" href="{{PPGVHSCtrl.folderFile+eval.DocumentUrl}}">
													<i class="fa fa-download" aria-hidden="true"></i>
												</a>
												<button ng-if="eval.Status !== 'Draft'" class="btn btn-flat btn-success" title="{{'BTN.DETAIL'|translate}}" ng-click="PPGVHSCtrl.detailApproval(2, eval)">
													<i class="fa fa-sitemap"></i>
												</button>
                                                <button class="btn btn-flat btn-default" title="Standard Award Report" ng-click="PPGVHSCtrl.awardReport(eval.TenderStepID,eval.VendorID)">
                                                    <i class="fa fa-file-o"></i>
                                                </button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<br />
						<div class="col-md-12">
							{{'CONTRACTDURATION' | translate}} PTVI:
						</div>
						<div class="col-md-12" ng-if="PPGVHSCtrl.detail[0].RFQType === 2">
							FPA : {{'CONTRACTDURATIONORIGINAL' | translate}} + <input type="text" class="text-center" ng-model="PPGVHSCtrl.detail[0].durrA" style="width:25px;" /> + <input type="text" class="text-center" ng-model="PPGVHSCtrl.detail[0].durrB" style="width:25px;" /><br />
						</div>
						<div class="col-md-12" ng-if="PPGVHSCtrl.detail[0].RFQType === 1">
							VHS : {{'CONTRACTDURATIONORIGINAL' | translate}} + <input type="text" class="text-center" ng-model="PPGVHSCtrl.detail[0].durrA" style="width:25px;" /> + <input type="text" class="text-center" ng-model="PPGVHSCtrl.detail[0].durrB" style="width:25px;" /><br />
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<ul uib-pagination total-items="PPGVHSCtrl.totalItems" max-size="10"
								ng-model="PPGVHSCtrl.currentPage" items-per-page="PPGVHSCtrl.maxSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="PPGVHSCtrl.jLoad(PPGVHSCtrl.currentPage)"></ul>
						</div>
						<div ng-if="userBisaMengatur" class="col-md-2">
							<div class="col-md-12 turun-15" style="float:right"><label>Total Data : {{PPGVHSCtrl.totalItems}}</label></div>
						</div>

					</div>

					<div ng-hide="true" class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div id="tableToExport" class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">No.</th>
											<th class="text-center">Vendor</th>
											<th class="text-center">Material</th>
											<th class="text-center">Info Record</th>
											<th class="text-center">Purchasing Org</th>
											<th class="text-center">Plant</th>
											<th class="text-center">Standard</th>
											<th class="text-center">Consignment</th>
											<th class="text-center">Material Group</th>
											<th class="text-center">1st Rem./Exped</th>
											<th class="text-center">2nd Rem./Exped</th>
											<th class="text-center">3rs Rem./Exped</th>
											<th class="text-center">Vendor Mat. No.</th>
											<th class="text-center">Vendor Subrange</th>
											<th class="text-center">VSR Sort No.</th>
											<th class="text-center">Vendor Mat. Grp</th>
											<th class="text-center">Points</th>
											<th class="text-center">Unit</th>
											<th class="text-center">Salesperson</th>
											<th class="text-center">Telephone</th>
											<th class="text-center">Return Agmt</th>
											<th class="text-center">Prior Vendor</th>
											<th class="text-center">Certif. Cat.</th>
											<th class="text-center">Certificate</th>
											<th class="text-center">Valid to</th>
											<th class="text-center">Ctry of Origin</th>
											<th class="text-center">Region</th>
											<th class="text-center">Number</th>
											<th class="text-center">Manufacturer</th>
											<th class="text-center">Available from</th>
											<th class="text-center">Available to</th>
											<th class="text-center">Regular Vendor</th>
											<th class="text-center">Pl. Deliv Time</th>
											<th class="text-center">Tol. Underdl.</th>
											<th class="text-center">Purch Group</th>
											<th class="text-center">Currency</th>
											<th class="text-center">Tol. Overdl.</th>
											<th class="text-center">Standard Qty</th>
											<th class="text-center">Conf. Ctrl</th>
											<th class="text-center">Minimum Qty</th>
											<th class="text-center">Tax Code</th>
											<th class="text-center">Rem Shelf Life</th>
											<th class="text-center">Shipping Instr.</th>
											<th class="text-center">Handl. Type</th>
											<th class="text-center">Procedure</th>
											<th class="text-center">ED Pricing</th>
											<th class="text-center">Max Quanitity</th>
											<th class="text-center">Rndg Prof.</th>
											<th class="text-center">UoM Group</th>
											<th class="text-center">Net Price</th>
											<th class="text-center">Price Unit</th>
											<th class="text-center">Valid to</th>
											<th class="text-center">Cond. Grp</th>
											<th class="text-center">Pr. Date Cat.</th>
											<th class="text-center">Incoterms-1</th>
											<th class="text-center">Incoterms-2</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in PPGVHSCtrl.vendor">
											<td class="center-vertical">{{$index + 1}}</td>
											<td class="text-center">{{eval.VendorCode}}</td>
											<td class="text-center">{{eval.Material}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.PurchasingOrg}}</td>
											<td class="text-center">{{eval.Plant}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.Consignment}}</td>
											<td class="text-center">{{eval.MaterialGroup}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.Unit}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.CertifCat}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.ValidTo | date: "dd-MM-yyyy"}}</td>
											<td class="text-center">{{eval.CtryofOrigin}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.Manufacturer}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.PurchGroup}}</td>
											<td class="text-center">{{eval.VendorCurency}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.StandardQty}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.NetPrice}}</td>
											<td class="text-center">{{eval.PriceUnit}}</td>
											<td class="text-center">{{eval.ValidTo | date: "dd-MM-yyyy"}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.Incoterms1}}</td>
											<td class="text-center">{{eval.Incoterms2}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
