﻿<section class="content" ng-init="approvalProcurementPlanningSCMCtrl.init()" style="overflow: visible!important;">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/data-contract-requisition">{{'APPROVAL_PROCUREMENT_PLAN' | translate}}</a></li>

        </ol>
        <div class="box box-info">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom:50px;margin-top:20px;">
                        <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'APPROVAL_PROCUREMENT_PLAN' | translate}}</h3>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 2px;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-2" style="margin-top: 5px;">
                                <div class="pull-right">
                                    {{'FILTER.SEARCH_BY' | translate}}
                                </div>
                            </div>
                            <!--<label class="control-label col-md-2">{{'FILTER.SEARCH_BY' | translate}} </label>-->
                            <div class="col-md-2" style="padding-left:0px;">
                                <select class="form-control input-sm" ng-model="approvalProcurementPlanningSCMCtrl.searchBy" ng-change="approvalProcurementPlanningSCMCtrl.resetAll()">
                                    <option value="" style="display:none">{{'FILTER.SEARCH_BY' | translate}} </option>
                                    <option value="1">{{'FILTER.DEPARTEMENT' | translate}}</option>
                                    <option value="2">{{'FILTER.TECHFOCPOINT' | translate}}</option>
                                    <option value="3">{{'FILTER.ENTITY' | translate}}</option>
                                    <option value="4">{{'FILTER.TANGGALPERMINTAAN' | translate}}</option>
                                    <option value="5">Material / Service</option>
                                </select>
                            </div>
                            <div class="col-md-3" ng-if="approvalProcurementPlanningSCMCtrl.searchBy == 1">
                                <form class="input-group">
                                    <input type="text" placeholder="{{'FILTER.SEARCH' | translate}} {{'FILTER.DEPARTEMENT' | translate}}" ng-change="approvalProcurementPlanningSCMCtrl.jLoad(1)" class="form-control input-sm" ng-model="approvalProcurementPlanningSCMCtrl.keyword" />
                                    <span class="input-group-btn">
                                        <button name="search" id="search-btn" class="btn btn-flat btn-sm btn-primary" ng-click="approvalProcurementPlanningSCMCtrl.jLoad(1)" title="{{'FILTER.SEARCH' | translate}} {{'FILTER.DEPARTEMENT' | translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </form>
                            
                            </div>
                            <div class="col-md-3" ng-if="approvalProcurementPlanningSCMCtrl.searchBy == 2">
                                <form class="input-group">
                                    <input type="text" placeholder="{{'FILTER.SEARCH' | translate}} {{'FILTER.TECHFOCPOINT' | translate}}" ng-change="approvalProcurementPlanningSCMCtrl.jLoad(1)" class="form-control input-sm" ng-model="approvalProcurementPlanningSCMCtrl.keyword" />
                                    <span class="input-group-btn">
                                        <button name="search" id="search-btn" class="btn btn-flat btn-sm btn-primary" ng-click="approvalProcurementPlanningSCMCtrl.jLoad(1)" title="{{'FILTER.SEARCH' | translate}} {{'FILTER.TECHFOCPOINT' | translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </form>
                            </div>
                            <div class="col-md-3" ng-if="approvalProcurementPlanningSCMCtrl.searchBy == 3">
                                <select class="form-control input-sm" ng-model="approvalProcurementPlanningSCMCtrl.keyword" ng-change="approvalProcurementPlanningSCMCtrl.jLoad(1)">
                                    <option value="">{{'FILTER.ENTITY_ALL' | translate}}</option>
                                    <option ng-repeat="a in approvalProcurementPlanningSCMCtrl.entityData" value="{{a.EntityID}}">{{a.EntityName}}</option>
                                </select>
                            </div>
                            <div class="col-md-4" ng-if="approvalProcurementPlanningSCMCtrl.searchBy == 4">
                                <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="input-group date form_datetime">
                                        <input name="foundedDate" style="background-color: #ffffff;" title="{{'FORM.START_DATE' | translate}}" readonly required class="form-control input-sm" ng-change="approvalProcurementPlanningSCMCtrl.jLoad(1)" size="16" placeholder="{{'FORM.START_DATE' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="approvalProcurementPlanningSCMCtrl.isCalendarOpened[0]" ng-model="approvalProcurementPlanningSCMCtrl.startDate" ng-click="approvalProcurementPlanningSCMCtrl.openCalendar(0)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-default" ng-click="approvalProcurementPlanningSCMCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>S/D</label>
                                </div>
                                <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                                    <div class="input-group date form_datetime">
                                        <input name="foundedDate" style="background-color: #ffffff;" title="{{'FORM.END_DATE' | translate}}" readonly required class="form-control input-sm" ng-change="approvalProcurementPlanningSCMCtrl.jLoad(1)" size="16" placeholder="{{'FORM.END_DATE' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="approvalProcurementPlanningSCMCtrl.isCalendarOpened[1]" ng-model="approvalProcurementPlanningSCMCtrl.endDate" ng-click="approvalProcurementPlanningSCMCtrl.openCalendar(1)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-default" ng-click="approvalProcurementPlanningSCMCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="approvalProcurementPlanningSCMCtrl.searchBy == 5">
                                <select class="form-control input-sm" ng-model="approvalProcurementPlanningSCMCtrl.materialService" ng-change="approvalProcurementPlanningSCMCtrl.jLoad(1)">
                                    <option value="">{{'FILTER.PILIH' | translate}}</option>
                                    <option value="4491">Material</option>
                                    <option value="4492">Service</option>
                                </select>
                            </div>

                            <!--<label class="control-label col-md-2">{{'FILTER.APPROVAL_STATUS' | translate}} </label>-->
                            <div class="col-md-2">
                                <select class="form-control input-sm" ng-change="approvalProcurementPlanningSCMCtrl.jLoad(1)" ng-model="approvalProcurementPlanningSCMCtrl.statusName">
                                    <option value="" style="display:none;">{{'PILIH_STATUS' | translate}}</option>
                                    <option value="ALL">{{'STATUS.ALL' | translate}}</option>
                                    <option value="1">{{'STATUS.COMPLETED' | translate}}</option>
                                    <option value="2">{{'STATUS.DELAYED' | translate}}</option>
                                    <option value="3">{{'STATUS.ON_PROCESS' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped table-condensed text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.DEPARTEMEN' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.ENTITY' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.MATERIAL' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.TECHFOCPOINT' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.TGL_PERMINTAAN_APPROVAL' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.ACTION' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="a in approvalProcurementPlanningSCMCtrl.approvalData">
                                        <td style="vertical-align: middle;">{{approvalProcurementPlanningSCMCtrl.currentPage > 1 ? (approvalProcurementPlanningSCMCtrl.maxSize * (approvalProcurementPlanningSCMCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td style="vertical-align: middle;">{{a.DepartmentName}}</td>
                                        <td class="center-vertical" style="vertical-align: middle;">{{a.EntityName}}</td>
                                        <td class="center-vertical" style="vertical-align: middle;">{{a.Reference}}</td>
                                        <td class="center-vertical" style="vertical-align: middle;">{{a.SCMFocal}}</td>
                                        <td class="center-vertical" style="vertical-align: middle;">{{approvalProcurementPlanningSCMCtrl.UIControl.convertDate(a.CreatedDate)}}</td>
                                        <td class="center-vertical" style="vertical-align: middle;" ng-if="a.ApprovalStatus === 1">{{'TABLE.COMPLETED' | translate}}</td>
                                        <td class="center-vertical" style="vertical-align: middle;" ng-if="a.ApprovalStatus === 0">{{'TABLE.DELAYED' | translate}}</td>
                                        <td class="center-vertical" style="vertical-align: middle;" ng-if="a.ApprovalStatus === null">{{'TABLE.ONPROCESS' | translate}}</td>
                                        <td class="center-vertical" style="vertical-align: middle;">
                                            <button class="btn btn-sm btn-flat btn-warning" title="{{'DETAIL_PROC' | translate}}" ng-click="approvalProcurementPlanningSCMCtrl.detailProc(a)"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-sm btn-flat btn-primary" title="{{'LIST_APPROVER' | translate}}" ng-click="approvalProcurementPlanningSCMCtrl.listApprover(a)"><i class="fa fa-list-alt"></i></button>
                                            <button class="btn btn-sm btn-flat btn-success" title="{{'APPROVE'| translate}}" ng-click="approvalProcurementPlanningSCMCtrl.approvedOrNot(a,1)" ng-if="a.ApprovalStatus === null"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-sm btn-flat btn-danger" title="{{'DENIED'| translate}}" ng-click="approvalProcurementPlanningSCMCtrl.approvedOrNot(a,0)" ng-if="a.ApprovalStatus === null"><i class="fa fa-times"></i></button>

                                        </td>

                                    </tr>
                                    <tr ng-if="approvalProcurementPlanningSCMCtrl.totalItems === 0">
                                        <td colspan="10">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sd-4 col-md-10">
                                <ul uib-pagination total-items="approvalProcurementPlanningSCMCtrl.totalItems"
                                    ng-model="approvalProcurementPlanningSCMCtrl.currentPage" ng-if="approvalProcurementPlanningSCMCtrl.totalItems > 10" items-per-page="approvalProcurementPlanningSCMCtrl.maxSize"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="approvalProcurementPlanningSCMCtrl.jLoad(approvalProcurementPlanningSCMCtrl.currentPage)"></ul>
                                <br /><label>{{'TOTAL_DATA' | translate}} : {{approvalProcurementPlanningSCMCtrl.totalItems}}</label>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-12">
                                <button class="btn btn-flat btn-sm btn-warning" title="{{'DETAIL_PROC' | translate}}"><i class="fa fa-eye"></i> </button> : <span style="margin-right: 10px;">{{'DETAIL_PROC' | translate}}</span>
                                <button class="btn btn-flat btn-sm btn-primary" title="{{'LIST_APPROVER' | translate}}"><i class="fa fa-list-alt"></i> </button> : <span style="margin-right: 10px;">{{'LIST_APPROVER' | translate}}</span>
                                <button class="btn btn-flat btn-sm btn-success" title="{{'APPROVE'| translate}}"><i class="fa fa-check"></i> </button> : <span style="margin-right: 10px;">{{'APPROVE' | translate}}</span>
                                <button class="btn btn-flat btn-sm btn-danger" title="{{'DENIED'| translate}}"><i class="fa fa-times"></i></button> : <span style="margin-right: 10px;">{{'DENIED' | translate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>