﻿<div class="modal-content" ng-init="detailApprovalProcurementPlanSCMModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailApprovalProcurementPlanSCMModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">
            <span>{{'MODAL.APPROVAL' | translate}}</span>
        </h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <h4>{{'MODAL.DETAIL_APPROVAL_SCM' | translate}} :</h4>
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.LEVEL' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.JABATAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.NAMA' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.TANGGAL_PERSETUJUAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.STATUS' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.INFORMATION' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in detailApprovalProcurementPlanSCMModalCtrl.dataApprover">
                                <td style="vertical-align: middle;">{{detailApprovalProcurementPlanSCMModalCtrl.currentPage > 1 ? (detailApprovalProcurementPlanSCMModalCtrl.maxSize * (detailApprovalProcurementPlanSCMModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td style="vertical-align: middle;">{{a.ApprovalLevel}}</td>
                                <td style="vertical-align: middle;">{{a.ApproverPosition}}</td>
                                <td style="vertical-align: middle;">{{a.ApproverName}}</td>
                                <td style="vertical-align: middle;">{{detailApprovalProcurementPlanSCMModalCtrl.UIControl.convertDate(a.ApprovalDate)}}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == 0">{{'MODAL.DITOLAK' | translate }}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == 1">{{'MODAL.DISETUJUI' | translate }}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == null">-</td>
                                <td style="vertical-align: middle;"><p ng-bind-html="a.Remarks"></p></td>

                            </tr>
                            <tr ng-if="detailApprovalProcurementPlanSCMModalCtrl.totalItems === 0">
                                <td colspan="10">{{'TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-10">
                        <ul uib-pagination total-items="detailApprovalProcurementPlanSCMModalCtrl.totalItems"
                            ng-model="detailApprovalProcurementPlanSCMModalCtrl.currentPage" ng-if="detailApprovalProcurementPlanSCMModalCtrl.totalItems > 10" items-per-page="detailApprovalProcurementPlanSCMModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="detailApprovalProcurementPlanSCMModalCtrl.jLoad(detailApprovalProcurementPlanSCMModalCtrl.currentPage)"></ul>
                        <br /><label>{{'TOTAL_DATA' | translate}} : {{detailApprovalProcurementPlanSCMModalCtrl.totalItems}}</label>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <h4>{{'MODAL.DETAIL_APPROVAL' | translate}} :</h4>
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.LEVEL' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.JABATAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.NAMA' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.TANGGAL_PERSETUJUAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.STATUS' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.INFORMATION' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in detailApprovalProcurementPlanSCMModalCtrl.dataApproverNonScm">
                                <td style="vertical-align: middle;">{{detailApprovalProcurementPlanSCMModalCtrl.currentPageNonScm > 1 ? (detailApprovalProcurementPlanSCMModalCtrl.maxSize * (detailApprovalProcurementPlanSCMModalCtrl.currentPageNonScm - 1)) + $index + 1 : $index + 1}}</td>
                                <td style="vertical-align: middle;">{{a.ApprovalLevel}}</td>
                                <td style="vertical-align: middle;">{{a.ApproverPosition}}</td>
                                <td style="vertical-align: middle;">{{a.ApproverName}}</td>
                                <td style="vertical-align: middle;">{{detailApprovalProcurementPlanSCMModalCtrl.UIControl.convertDate(a.ApprovalDate)}}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == 0">{{'MODAL.DITOLAK' | translate }}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == 1">{{'MODAL.DISETUJUI' | translate }}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == null">-</td>
                                <td style="vertical-align: middle;"><p ng-bind-html="a.Remarks"></p></td>

                            </tr>
                            <tr ng-if="detailApprovalProcurementPlanSCMModalCtrl.totalItemsNonScm === 0">
                                <td colspan="10">{{'TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-10">
                        <ul uib-pagination total-items="detailApprovalProcurementPlanSCMModalCtrl.totalItemsNonScm"
                            ng-model="detailApprovalProcurementPlanSCMModalCtrl.currentPageNonScm" ng-if="detailApprovalProcurementPlanSCMModalCtrl.totalItemsNonScm > 10" items-per-page="detailApprovalProcurementPlanSCMModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="detailApprovalProcurementPlanSCMModalCtrl.getDetailApproverNonScm(detailApprovalProcurementPlanSCMModalCtrl.currentPageNonScm)"></ul>
                        <br /><label>{{'TOTAL_DATA' | translate}} : {{detailApprovalProcurementPlanSCMModalCtrl.totalItemsNonScm}}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="detailApprovalProcurementPlanSCMModalCtrl.batal()" class="btn btn-flat btn-danger" title="{{'FORM.BTN_CANCEL'|translate}}"><i class="fa fa-reply"></i>&nbsp;{{'FORM.BTN_CANCEL'|translate}}</button>
    </div>
</div>