﻿<div class="modal-content" ng-init="formDetailProcurementSCMModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formDetailProcurementSCMModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{'LABEL.LIHAT_RENCANA_PENGADAAN' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="col-md-11 center-block ng-scope" style="float: none !important;" >
            <div class="row well">
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>{{'LABEL.DEPT' | translate}}</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.deptName ? formDetailProcurementSCMModalCtrl.deptName: '-'}}</span>
                        <!-- <input type="text" class="form-control"
                            ng-model="formDetailProcurementSCMModalCtrl.deptName"
                            uib-typeahead="b as b.DepartmentName for b in formDetailProcurementSCMModalCtrl.datadept | filter:$viewValue | limitTo:10"
                            typeahead-on-select='formDetailProcurementSCMModalCtrl.ubahDept($item, $model, $label)' disabled ng-change="formDetailProcurementSCMModalCtrl.ubahManualDept(formDetailProcurementSCMModalCtrl.deptName)"
                            placeholder="{{'LABEL.DEPT' | translate}}"> -->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Local Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3" >
                        <span>{{formDetailProcurementSCMModalCtrl.localNumber ? formDetailProcurementSCMModalCtrl.localNumber: '-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>{{'LABEL.DESC' | translate}}</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.description ? formDetailProcurementSCMModalCtrl.description :'-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Entity</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.entity ? formDetailProcurementSCMModalCtrl.entity :'-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Procurement Type</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.materialService ? formDetailProcurementSCMModalCtrl.materialService :'-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>PP Reference</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.ppReference ? formDetailProcurementSCMModalCtrl.ppReference :'-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Current Supplier</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.currentSupplier ? formDetailProcurementSCMModalCtrl.currentSupplier :'-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>SCM Focal Point</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.scmFocalPoint ? formDetailProcurementSCMModalCtrl.scmFocalPoint :'-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Technical Focal Point</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.techFocalPointName ? formDetailProcurementSCMModalCtrl.techFocalPointName :'-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Market Sector</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.marketSector ? formDetailProcurementSCMModalCtrl.marketSector :'-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Sub Sector</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.subSector ? formDetailProcurementSCMModalCtrl.subSector :'-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Category</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.categoryName ? formDetailProcurementSCMModalCtrl.categoryName :'-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Sourcing Activity</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.sourcingActivity ? formDetailProcurementSCMModalCtrl.sourcingActivity :'-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Contract Type</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3" >
                        <span>{{formDetailProcurementSCMModalCtrl.contractTypeName ? formDetailProcurementSCMModalCtrl.contractTypeName :'-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Existing Contract</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.existingContractName ? formDetailProcurementSCMModalCtrl.existingContractName : '-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Existing Contract Award</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.existingContractAwardName ? formDetailProcurementSCMModalCtrl.existingContractAwardName : '-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>PR Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.prNumber ? formDetailProcurementSCMModalCtrl.prNumber : '-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Existing Contract Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.ECNumber ? formDetailProcurementSCMModalCtrl.ECNumber : '-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Existing Contract Value</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span ng-if="formDetailProcurementSCMModalCtrl.ECValue === nul">-</span>
                        <span ng-if="formDetailProcurementSCMModalCtrl.ECValue !== nul">{{formDetailProcurementSCMModalCtrl.ECValue | currency:" "}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Remaining Contract Value</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span ng-if="formDetailProcurementSCMModalCtrl.RCValue === nul">-</span>
                        <span ng-if="formDetailProcurementSCMModalCtrl.RCValue !== nul">{{formDetailProcurementSCMModalCtrl.RCValue | currency:" "}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Remaining Contract Value (%)</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.vm.RCValueP ? formDetailProcurementSCMModalCtrl.vm.RCValueP : '-'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Current Contract Start Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.CCStartDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Current Contract End Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.CCEndDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract Start Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.newContractStartDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract End Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.newContractEndDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract Duration</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.newContractDuration2 ? formDetailProcurementSCMModalCtrl.newContractDuration2 : '0'}} {{'LABEL.MONTH' | translate}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract Extensions Option</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.newContractExtensionsDuration ? formDetailProcurementSCMModalCtrl.newContractExtensionsDuration : '0'}} {{'LABEL.MONTH' | translate}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract Value Including Extension Options</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.newContractIncludeExtensionsDuration ? formDetailProcurementSCMModalCtrl.newContractIncludeExtensionsDuration : '0'}} {{'LABEL.MONTH' | translate}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Status</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.statName ? formDetailProcurementSCMModalCtrl.statName : '-'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Sourcing Date Start</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.sourcingDateStart | date:'dd MMMM yyyy'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>CGC Approval Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.cgcApprovalDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Tender Issue Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.bidIssueDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Tender Due Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.bidDuedDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Tender Evaluation Completion Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.bidEvalCompletionDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Negotiation Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.negotiationDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Award Recommendation</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.awardRecomDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Excom/Board Approval</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.excomBoardApproval | date:'dd MMMM yyyy'}}</span>
                    </div>
                </div>
                <p></p>
                <div class="row" style="margin-bottom: 25px;">
                    <div class="col-md-3" style="width: 20%">
                        <label>Concessionaire / Partners Approval</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.consessPartApproval | date:'dd MMMM yyyy'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Contract Execution Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.contractExecutionDate | date:'dd MMMM yyyy'}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Comments</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementSCMModalCtrl.comments ? formDetailProcurementSCMModalCtrl.comments : '-'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formDetailProcurementSCMModalCtrl.batal()" title="{{'BTN.BACK' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK' | translate}}</button>
    </div>
</div>