<link rel="stylesheet" type="text/css" href="assets/css/rolas-design.css" />
<style>
    .btn:hover, .btn:focus, .btn.focus {
        color: #00694f;
    }
</style><!--style="background-image: url(assets/img/oil-price.jpg);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;"-->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="container" style="margin-top: 30px;" ng-init="PemenangPengadaanCtrl.init()">
    <div class="box">
        <div class="box-body table-responsive">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <h3 class="box-title afta-font">{{"JUDUL" | translate}}</h3>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <form ng-submit="PemenangPengadaanCtrl.cariPemenang()">
                        <div class="input-group" style="padding-top: 15px;">
                            <div class="input-cont">
                                <input type="text" ng-model="PemenangPengadaanCtrl.srcText" placeholder="{{'TEXT_SEARCH' | translate}}" class="form-control">
                            </div>
                            <span class="input-group-btn">
                                <button ng-click="PemenangPengadaanCtrl.cariPemenang()" type="button" class="btn btn-primary" title="{{'BTN_SEARCH' | translate}}">
                                    &nbsp; <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <table id="example2" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center " style="width: 20px; min-width: 20px; text-align: center;">{{"TABLE.NO" | translate}}</th>
                        <th class="text-center ">{{"TABLE.NAMA_TENDER" | translate}}</th>
                        <th class="text-center " style="width: 160px; min-width: 140px; text-align: center;"><i class="fa fa-trophy"></i> {{"TABLE.PEMENANG" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pmn in pemenang">
                        <td>{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                        <td>{{pmn.nama_paket}}</td>
                        <td class="text-center">
                            <a ng-click="detailPemenang(pmn.paket_lelang_id)" title="Detail">
                                <label class="btn btn-xs btn-info">
                                    <i class="fa fa-eye"></i>

                                </label>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-xs-12 col-md-12">
                <div class="center-block text-center">
                    <div ng-show="totalItems > 10">
                        <pagination total-items="totalItems" page="currentPage" items-per-page="10"
                                    max-size="maxSize" on-select-page="jLoad(page)"></pagination>
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
