﻿<div class="modal-content" ng-init="listAppCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="listAppCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL_APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h4 class="afta-font">{{'TABLE.COL_TENDER_NAME'|translate}} : {{listAppCtrl.ContractName}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">{{'TABLE.COL_NO' | translate}}</th>
                                    <th class="text-center">{{'TABLE.NAMA' | translate}}</th>
                                    <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                    <th class="text-center">{{'TABLE.DATE' | translate}}</th>
                                    <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                    <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dt in listAppCtrl.list">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td ng-if="dt.EmployeeName">{{dt.EmployeeName}}</td>
                                    <td ng-if="dt.VendorName">{{dt.VendorName}}</td>
                                    <td class="text-center">{{'APP_TYPE_VHS_' + dt.ApprovalTypeName | translate}}</td>
                                    <td class="text-center">{{dt.ApprovalDate | date : "dd/MM/yyyy"}}</td>
                                    <td class="text-center">
                                        <span ng-if="dt.ApprovalTypeName !== 'STS_PUBLISH'">{{(dt.ApprovalStatus ? 'ACCEPT' : 'REJECT') | translate}}</span>
                                        <span ng-if="dt.ApprovalTypeName === 'STS_PUBLISH'">{{'STS_PUBLISH' | translate}}</span>
                                    </td>
                                    <td>{{dt.Remark}}</td>
                                </tr>
                                <tr ng-if="listAppCtrl.list.length === 0">
                                    <td colspan="6">{{'NO_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="modal-footer">
        <div class="col-md-6">
            <div class="pull-right">
                <button class="btn btn-flat btn-primary" title="{{'BATAL'|translate}}" ng-click="listAppCtrl.cancel()"><i class="fa fa-reply"></i></button>
            </div>
        </div>
    </div>

</div>