﻿<div id="modalUtama" class="modal-content" ng-init="vhsListModal.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vhsListModal.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar{{''|translate}}</span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'Contractor Performance Review'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <h4 class="afta-font vale-green-text" style="margin-top: 25px; margin-bottom: 5px;">Contractor Performance Review (VHS)</h4>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <div class="img-logo-vale-small">
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-atas">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td class="text-left vale-green" width="30%">Assessment Date :</td>
                                <td class="text-left" colspan="2" width="50%">{{vhsListModal.vpdata.VHSDate | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Contract :</td>
                                <td class="text-left" colspan="2" width="50%">{{vhsListModal.vpdata.ContractNo}} - {{vhsListModal.vpdata.TanderName}}</td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Contractor :</td>
                                <td class="text-left" colspan="2" width="50%">{{vhsListModal.vpdata.VendorName}}, {{vhsListModal.vpdata.businessName}}</td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Department Holder :</td>
                                <td class="text-left" width="50%">{{vhsListModal.vpdata.DepartmentName}}</td>
                                <td class="text-left" width="20%" rowspan="2" style="vertical-align:middle;"><h4>Score: {{vhsListModal.vpdata.Score}} %</h4></td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Sponsor/Buyer :</td>
                                <td class="text-left" width="50%">{{vhsListModal.vpdata.Sponsor}} - {{vhsListModal.vpdata.SponsorName}}/{{vhsListModal.vpdata.BuyerId}} - {{vhsListModal.vpdata.BuyerName}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <table id="example1" class="table">
                    <thead class="vale-green">
                        <tr>
                            <th>{{'KPI_DESCRIPTION' | translate}}</th>
                            <th width="150">{{'SCORE' | translate}}</th>
                            <th width="250">{{'REMARK' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="kri in vhsListModal.kriteria">
                            <td style="padding:0px">
                                <div style="height:30px; padding-left:10px; padding-top:5px"><b>{{kri.CriteriaName}}</b></div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:30px; padding-left:20px; padding-top:5px"><b>{{level2.CriteriaName}}</b></div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px;">
                                                                <div style="height:30px; padding-left:30px; padding-top:5px">{{level3.CriteriaName}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding:0px">
                                <div style="height:30px; padding-left:30px; padding-top:5px"><span ng-if="kri.sub.length === 0">{{kri.Score}}</span></div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:30px; padding-left:30px; padding-top:5px"><span ng-if="level2.sub.length === 0">{{level2.Score}}</span></div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px">
                                                                <div style="height:30px; padding-left:30px; padding-top:5px">{{level3.Score}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding:0px">
                                <div style="height:30px; padding-right:60px; padding-top:5px">{{kri.SelectedStandardName}}</div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:30px; padding-right:40px; padding-top:5px">{{level2.SelectedStandardName}}</div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px">
                                                                <div style="height:30px; padding-right:20px; padding-top:5px">{{level3.SelectedStandardName}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{'NOTES'|translate}}</label>
                    <textarea class="form-control input-sm" readonly ng-model="vhsListModal.vpdata.Note"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 turun-15">
                <div class="form-group">
                    <label>{{'CPR_VHS_DOCS'|translate}}</label>
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="50" class="center-vertical">{{'TABLE.COL_NO' | translate}}</th>
                                    <th class="center-vertical">{{'NAMA_DOK' | translate}}</th>
                                    <th width="100" class="center-vertical"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sd in vhsListModal.docs">
                                    <td class="center-vertical">{{$index + 1}}</td>
                                    <td>{{sd.DocName}}</td>
                                    <td class="center-vertical">
                                        <a href="{{vhsListModal.folderFile + sd.DocUrl}}" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-download"></i> Download</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tr ng-if="!vhsListModal.docs || vhsListModal.docs.length <= 0">
                                <td colspan="5" cellpadding="0">
                                    <div class="alert alert-info text-center">
                                        <span>{{'NO_DATA' | translate}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="vhsListModal.cancel()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button ng-show="vhsListModal.flagRole == 1 || vhsListModal.flagRole == 2" ng-click="vhsListModal.printForm('formEEC')" type="button" class="btn btn-flat btn-success" title="Download"><i class="fa fa-download"></i>&nbsp;</button>
    </div>
</div>
<div id="formCPR" class="CPR-container" ng-hide="true" style="background-color:white;">
    <div class="row" style="width:100%;">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-top:10px;padding-left:650px;padding-bottom: 20px;display:block;text-align:right;" width="100px" height="40px" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="CPR-title">
                Contractor Performance Review
            </div>
            <div class="CPR-content">
                <div class="CPR-contentOutside">
                    <div class="row">
                        <div class="formCPR-col3">
                            <b>Assessment Date</b> <br />
                            <b>Contract</b><br />
                            <b>Contractor</b><br />
                            <b>Department Owner</b><br />
                            <b>Sponsor</b><br />
                            <b>Procurement</b><br />
                            <b>Score</b><br />
                        </div>
                        <div class="formCPR-col6">
                            <b>:</b> {{vhsListModal.vpdata.VHSDate | date: 'dd-MM-yyyy'}}<br />
                            <b>:</b> {{vhsListModal.vpdata.ContractNo}} - {{vhsListModal.vpdata.TanderName}}<br />
                            <b>:</b> {{vhsListModal.vpdata.VendorName}}<br />
                            <b>:</b> {{vhsListModal.vpdata.DepartmentName}}<br />
                            <b>:</b> {{vhsListModal.vpdata.SponsorName}} B/N {{vhsListModal.vpdata.Sponsor}}<br />
                            <b>:</b> {{vhsListModal.vpdata.BuyerName}} B/N {{vhsListModal.vpdata.BuyerId}}<br />
                            <b>:</b> {{vhsListModal.vpdata.Score}} %<br />
                        </div>
                    </div>
                </div>
                <div class="CPR-contentOutside">
                    <table class="CPR">
                        <thead>
                            <tr>
                                <th>KPI Description</th>
                                <th>Score</th>
                                <th>Remark</th>
                                <!--th>Weight</th-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="kri in vhsListModal.kriteria" style="border:0px">
                                <td style="padding:0px">
                                    <div style="height:30px; padding-left:10px; padding-top:5px; border-bottom:1px solid"><b>{{kri.CriteriaName}}</b></div>
                                    <table class="table" style="border:0px">
                                        <tbody>
                                            <tr ng-repeat="level2 in kri.sub" style="border:0px">
                                                <td style="padding:0px; border:0px">
                                                    <div style="height:30px; padding-left:30px; padding-top:5px; border-bottom:1px solid"><b>{{level2.CriteriaName}}</b></div>
                                                    <table class="table" style="border:0px">
                                                        <tbody>
                                                            <tr ng-repeat="level3 in level2.sub" style="border:0px">
                                                                <td style="padding:0px; border:0px">
                                                                    <div style="height:30px; padding-left:50px; padding-top:5px; border-bottom:1px solid">{{level3.CriteriaName}}</div>
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                </td>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding:0px">
                                    <div style="height:30px; padding-left:30px; padding-top:5px; border-bottom:1px solid"><span ng-if="kri.sub.length === 0">{{kri.Score}}</span></div>
                                    <table class="table" style="border:0px">
                                        <tbody>
                                            <tr ng-repeat="level2 in kri.sub" style="border:0px">
                                                <td style="padding:0px; border:0px">
                                                    <div style="height:30px; padding-left:30px; padding-top:5px; border-bottom:1px solid"><span ng-if="level2.sub.length === 0">{{level2.Score}}</span></div>
                                                    <table class="table" style="border:0px">
                                                        <tbody>
                                                            <tr ng-repeat="level3 in level2.sub" style="border:0px">
                                                                <td style="padding:0px; border:0px">
                                                                    <div style="height:30px; padding-left:30px; padding-top:5px; border-bottom:1px solid">{{level3.Score}}</div>
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                </td>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding:0px">
                                    <div style="height:30px; padding-right:60px; padding-top:5px">{{kri.SelectedStandardName}}</div>
                                    <table class="table">
                                        <tbody>
                                            <tr ng-repeat="level2 in kri.sub">
                                                <td style="padding:0px">
                                                    <div style="height:30px; padding-right:40px; padding-top:5px">{{level2.SelectedStandardName}}</div>
                                                    <table class="table">
                                                        <tbody>
                                                            <tr ng-repeat="level3 in level2.sub">
                                                                <td style="padding:0px">
                                                                    <div style="height:30px; padding-right:20px; padding-top:5px">{{level3.SelectedStandardName}}</div>
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                </td>
                                        </tbody>
                                    </table>
                                </td>
                                <!--<td style="text-align:right; padding:0px">
                                    <div style="height:30px; padding-right:10px; padding-top:5px; border-bottom:1px solid"><b>{{kri.Weight}}%|</b></div>
                                    <table class="table" style="border:0px">
                                        <tbody>
                                            <tr ng-repeat="level2 in kri.sub" style="border:0px">
                                                <td style="padding:0px; border:0px">
                                                    <div style="height:30px; padding-left:90px; padding-top:5px; border-bottom:1px solid"><b>{{level2.Weight}}%|</b></div>
                                                    <table class="table" style="border:0px">
                                                        <tbody>
                                                            <tr ng-repeat="level3 in level2.sub" style="border:0px">
                                                                <td style="padding:0px">
                                                                    <div style="height:30px; padding-left:80px; padding-top:5px; border-bottom:1px solid"><b>{{level3.Weight}}%|</b></div>
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                </td>
                                        </tbody>
                                    </table>
                                </td>-->
                        </tbody>
                    </table>
                </div>

                <div class="CPR-contentOutside">
                    Catatan untuk Peningkatan Kerja :
                </div>
                <div class="CPR-contentOutside">
                    <div style="border:1px solid  #000000; padding:3px">
                        <span ng-if="vhsListModal.vpdata.Note !== null">{{vhsListModal.vpdata.Note}}</span>
                        <span ng-if="vhsListModal.vpdata.Note === null">-- Tidak Ada Catatan --</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



