﻿<!--section class="content" ng-init="vpvhsDocsCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
        <li><a href="#/data-rekanan">Data Rekanan</a></li>
        <li><a href="#/data-rekanan/vp-vhs" class="active">Contract Performance Review VHS</a></li>
        <li><a class="active">Documents</a></li>
    </ol>
    <div class="row col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center afta-font">{{'CPR_VHS_DOCS' | translate}}</h3>
                        <h4 class="text-center afta-font">{{vpvhsDocsCtrl.vpdata.ContractNo}} - {{vpvhsDocsCtrl.vpdata.TanderName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button ng-click="vpvhsDocsCtrl.add()" class="btn btn-sm btn-success pull-right" title="{{'TAMBAH'|translate}}"><i class="fa fa-plus"></i> </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="50" class="center-vertical">{{'TABLE.COL_NO' | translate}}</th>
                                            <th class="center-vertical">{{'NAMA_DOK' | translate}}</th>
                                            <th width="100" class="center-vertical"></th>
                                            <th width="100" class="center-vertical"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sd in vpvhsDocsCtrl.docs">
                                            <td class="center-vertical">{{$index + 1}}</td>
                                            <td>{{sd.DocName}}</td>
                                            <td class="center-vertical">
                                                <a href="{{vpvhsDocsCtrl.folderFile + sd.DocUrl}}" class="btn btn-xs btn-info" target="_blank" ><i class="fa fa-download"></i> Download</a>
                                            </td>
                                            <td class="center-vertical">
                                                <button ng-click="vpvhsDocsCtrl.edit(sd)" class="btn btn-xs btn-info" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></button>
                                                <button ng-click="vpvhsDocsCtrl.del(sd)" class="btn btn-xs btn-danger" title="{{'HAPUS'|translate}}"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tr ng-if="vpvhsDocsCtrl.docs.length <= 0">
                                        <td colspan="5" cellpadding="0">
                                            <div class="alert alert-info text-center">
                                                <span>{{'NO_DATA' | translate}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button ng-click="vpvhsDocsCtrl.back()" class="btn btn-flat btn-primary" title="{{'KEMBALI' | translate}}"><i class="fa fa-reply"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section-->