﻿<section class="content" ng-init="VPVHSRemCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i>{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-rekanan/vp-vhs">Contractor Performance Review VHS</a></li>
        <li><a class="active">{{'REMINDER_CPR' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'REMINDER_CPR' | translate}}</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pull-right">
                            <form ng-submit="VPVHSRemCtrl.cari(srcText)">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control input-sm" ng-model="srcText" placeholder="{{'HOLDER' | translate}}" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" title="{{'SEARCH' | translate}}"><i class="fa fa-search"></i> </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" style="width: 5%;">{{'TABLE.COL_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.COL_TENDER_NAME' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.COL_VENDORNAME' | translate}}</th>
                                            <th class="center-vertical" style="width: 15%;">{{'TABLE.CPR_COUNT' | translate}}</th>
                                            <th class="center-vertical" style="width: 15%;">{{'TABLE.DUE_DAY' | translate}}</th>
                                            <th class="center-vertical" style="width: 5%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wl in VPVHSRemCtrl.contracts">
                                            <td style="vertical-align: middle;" class="text-center">{{(VPVHSRemCtrl.pageNumber - 1) * VPVHSRemCtrl.pageSize + $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{wl.SAPContractNo}} - {{wl.TenderName}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.VendorName}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.CprCount}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.CprDueDay}} {{'DAYS_TO_GO' | translate}}</td>
                                            <td style="vertical-align: middle;" class="text-center">
                                                <button class="btn btn-xs btn-success" ng-click="VPVHSRemCtrl.buatCPR(wl.ID)" title="{{'BUAT_CPR' | translate}}"><i class="fa fa-pencil"></i></button>
                                            </td>
                                        </tr>
                                        <tr ng-if="VPVHSRemCtrl.contracts.length === 0">
                                            <td colspan="5" style="vertical-align:middle; text-align:center">{{'NO_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="VPVHSRemCtrl.count" max-size="10"
                                    ng-model="VPVHSRemCtrl.pageNumber" items-per-page="VPVHSRemCtrl.pageSize"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="VPVHSRemCtrl.loadAwal()"></ul>
                                <br /><label>{{'TOTAL_DATA' | translate}} : {{VPVHSRemCtrl.count}}</label>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button class="btn btn-sm btn-primary" ng-click="VPVHSRemCtrl.kembali()" title="{{'KEMBALI' | translate}}"><i class="fa fa-reply"></i> {{'KEMBALI' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

