﻿<div id="IdEditPegawai" class="modal-content" ng-init="editPegawaiCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dissmiss="modal" ng-click="editPegawaiCtrl.batal()" title="Keluar">
			<span aria-hidden="true">&times;</span><span class="sr-only"></span>
		</button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'EDIT_EMPLOYEE' | translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-8" style="float: none!important;">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4 col-md-4 control-label">{{'EMPLOYEE_NAME' | translate}}</label>
						<div class="col-sm-6 col-md-6">
							<input type="text" class="form-control" placeholder="Nama Pegawai" ng-model="editPegawaiCtrl.Nama" readonly/>
							<label class="control-label col-sm-8 col-md-8"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8" style="float: none!important;">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4 col-md-4 control-label">{{'PGR_CODE' | translate}}</label>
						<div class="col-sm-8 col-md-8">
							<input type="text" ng-model="editPegawaiCtrl.Kode" class="form-control" placeholder="Kode PGR">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8" style="float: none!important;">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-4 col-md-4 control-label">{{'EPROC_USERNAME' | translate}}</label>
						<div class="col-sm-8 col-md-8">
							<label class="form-control">{{editPegawaiCtrl.Username}}</label>
							<a ng-if="editPegawaiCtrl.Username == null || editPegawaiCtrl.Username.trim() == ''" ng-click="editPegawaiCtrl.createUser()">{{'CREATE_USER' | translate}}</a>
							<a ng-if="editPegawaiCtrl.Username.trim().length > 0" ng-click="editPegawaiCtrl.editUser()">{{'EDIT_USER' | translate}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" ng-click="editPegawaiCtrl.batal()" title="{{'BATAL'|translate}}">
			<i class="fa fa-reply"></i>
		</button>
		<button type="button" class="btn btn-flat btn-success" ng-click="editPegawaiCtrl.prosesSimpan()" title="{{'SIMPAN'|translate}}">
			<i class="fa fa-save"></i>
		</button>
	</div>
</div>