@font-face {
     font-family: "Caecillia";
     src: url('../fonts/Caecilia-LT-Std-85-Heavy_8988.ttf');
     }

@font-face {
     font-family: "Caecillia Light";
     src: url('../fonts/ECL.ttf');
     }
@font-face {
     font-family: "Myriad Pro";
     src: url('../fonts/MyriadPro-Regular.otf');
     }
@font-face {
     font-family: "Nunito";
     src: url('../fonts/Nunito-Regular.ttf');
     }


body {
	font-size: 12px;
}

.footer{
    /*
    background-color:#000000;
    color:#ffffff;
        */
}

.universe-bold-font{
    font-family:Nunito;
}
.dropdown-submenu.ng-binding:hover {
    /*background-color:  #ffffff!important;*/
}

#visitor-menu a.ng-binding:hover {
    /*background-color:  #ffffff!important;*/
}
#visitor .container,#visitor .container-fluid{
	width: 970px;
}
#content {
    min-height:450px;
    margin-top: 60px;
}
#visitor .row {
    margin-left:0px !important;
    margin-right:0px !important;
}
#visitor #slider.col-xs-12{
    padding-left:0px;
    padding-right:0px;
}
#visitor #slider .col-md-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#visitor h3 {
  font-family: Nunito
}
.img-logo {
    background: transparent url("../img/logo-petrosea.png");
    width:180px;
    height:50px;
}
nav#visitor{
    background:#ffffff;
    border:none;
        font-family: Nunito !important;
}
.navbar-toggle {
  background-color: black !important;
  position: fixed !important;
}
.nav#visitor > a{
    color: #000000;
}
.yellow-block {
background-color: #ffffff;
height:30px;
  width: 705px;
}
.nav.navbar-nav.navbar-right {
  width: 705px;
  height:70px;
  margin-top: 5px;
  font-size:13px!important;
}
.white-text{
color:white!important
}
.black-text{
color:black!important
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color:none;
}
.navbar-collapse.collapse.in {
  margin-top: 38px;
}
button.navbar-toggle {
  margin-top: 30px;
}
.no-pad {
	padding: 0px;
}
#header {
	margin-top: 10px;
}
.row-menu {
  margin-top: 30px;
}
.section-menu{
	margin-top: 15px;
}
.section-menu .custom {
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
}
#header a {
  color: #000;
  text-decoration: none;
}
.section-slide{
	margin-top: 30px;
}
.img-slide {
  height: auto !important;
  width: 100%;
}
.section-content{
	margin-top: 30px;
}
.section-content .header{
	font-family: Nunito;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}
.section-content .header-news{
	font-family: Nunito;
	font-size: 16px;
	font-weight: bold;
}
.section-content .row-content{
	margin-bottom: 30px;
}
#visitor.container {
  height:auto;
}
.carousel ng-isolate-scope{
    height:auto;
    width:100%;
}
#footer {
    font-size:11px;
	margin-top: 25px;
}
#footer .img-globe {
    background: transparent url("../img/sprite.png") no-repeat scroll 0 -55px;
    display: block;
    height: 79px;
    /*left: 240px;*/
    position: absolute;
    top: -15px;
    width: 75px;
}
#footer p {
	margin-top: 13px;
}
#footer p.with-left {
	margin-left: 55px;
}