﻿<section ng-init="ttCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{ 'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{ 'TRACKING_DATA_PENGADAAN' | translate}}</a></li>
    </ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-primary">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center afta-font">{{ 'TRACKING_DATA_PENGADAAN' | translate}}</h3>
						</div>
					</div>
					<div class="row margin-atas">
                        <div class="col-md-2">
                            <select id="cmbStatus" name="cmbStatus" ng-model="ttCtrl.column" class="form-control input-sm">
                                <option value="1" ng-selected="true">{{'FILTER.NAMA_PENGADAAN' | translate}}</option>
                                <option value="2">{{'FILTER.KODE' | translate}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <form ng-submit="ttCtrl.cari()">
                                <input type="text" placeholder="{{'ISI_CARI' | translate}}" class="form-control input-sm" ng-model="ttCtrl.Keyword" />
                            </form>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" ng-click="ttCtrl.cari()" title="{{'CARI'|translate}}"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
                                <table id="tabelPaket" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center order1" style="vertical-align: middle;" width="20px">{{'TABLE.NO'|translate}}</th>
                                            <th class="text-center order1" style="vertical-align: middle;">{{'TABLE.KODE'|translate}}</th>
                                            <th class="text-center order1" style="vertical-align: middle;">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
                                            <th class="text-center" style="vertical-align: middle; width: 100px; min-width: 100px;">{{'TABLE.STATUS'|translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.KETERANGAN'|translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pkt in ttCtrl.listTender">

                                            <td class="text-center" style="vertical-align: middle;">{{$index + 1 + (ttCtrl.pageSize * (ttCtrl.currentPage - 1))}}</td>
                                            <td style="vertical-align: middle;">{{pkt.TenderCode}}</td>
                                            <td style="vertical-align: middle;">{{pkt.TenderName}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <div ng-if="pkt.IsCancelled" class="col-md-12">
                                                    <label class="label label-sm label-danger col-md-12">{{'BATAL'|translate}}</label>
                                                </div>
                                            </td>
                                            <td>{{pkt.CancellationRemark}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a class="btn btn-sm btn-flat btn-warning" ng-click="ttCtrl.detail(pkt)" title="{{'DETAIL'|translate}}"><i class="fa fa-external-link"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="ttCtrl.totalItems === 0">
                                            <td colspan="8">{{'TIDAK_ADA_DATA'|translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
								<div></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul uib-pagination boundary-links="true" total-items="ttCtrl.totalItems" ng-model="ttCtrl.currentPage"
								class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
								ng-change="ttCtrl.loadData(ttCtrl.currentPage)"></ul>
							<br />
							<label>{{'TOTAL_DATA' | translate}} : {{ttCtrl.totalItems}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>