<div class="container-fluid viewpengalaman" ng-init="DataPengalamanController.initialize()">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.PENGALAMAN'|translate}}</a></li>
	</ol>
	<div class="row" style="padding-top: 30px!important; padding-bottom: 15px;">
		<!--<div class="col-md-12" ng-if="DataPengalamanController.Vendor.Isverified === null">
			<div class="text-center">
				<a  ng-click="DataPengalamanController.addExp(null, true, DataPengalamanController.isApprovedCR)" class="btn btn-flat btn-primary" title="Tambah Data">
					<i class="fa fa-plus-circle"></i>&nbsp;
				</a>
			</div>
		</div>-->
		<div class="col-md-12" ng-if="DataPengalamanController.CR === true">
			<div class="alert alert-info alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
				<strong>Info!</strong> {{'MESSAGE.NOTIF1' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
			</div>
		</div>
		<div class="col-md-12" ng-if="DataPengalamanController.isApprovedCR === true">
			<div class="text-center">
				<a ng-click="DataPengalamanController.addExp(null, true, DataPengalamanController.isApprovedCR)" class="btn btn-flat btn-primary" title="{{'TAMBAH_DATA'|translate}}">
					<i class="fa fa-plus-circle"></i>&nbsp;
				</a>
			</div>
		</div>
		<div class="col-md-12" ng-if="DataPengalamanController.pqWarning!=''">
			<div class="alert alert-info alert-dismissable">
				<strong>{{DataPengalamanController.pqWarning}}</strong>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 center-block" style="float: none!important;">
			<h3 class="text-center afta-font">{{'PEKERJAAN_SELESAI'|translate}}</h3>
			<h5 class="text-center afta-font">
				<em>{{'TAHUN_TERAKHIR'|translate}}</em>
			</h5>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
							<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="obj in DataPengalamanController.listFinishExp">
							<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
							<td style="vertical-align: middle;">{{obj.ContractName}}</td>
							<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
							<td style="vertical-align: middle;">{{obj.Agency}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
							<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
							<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
							<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center" style="vertical-align: middle;">
								<a ng-click="DataPengalamanController.detailExp(obj)" class="label label-flat label-sm label-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
									<i class="fa fa-external-link"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="label label-flat label-sm label-primary" title="{{'BTN.EDIT' | translate}}">
									<i class="fa fa-edit"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.editActive(obj, false)" class="label label-flat label-sm label-danger" title="{{'BTN.DELETE' | translate}}">
									<i class="fa fa-trash-o"></i>
								</a>
								<!--<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="label label-flat label-sm label-primary" title="Ubah">
									<i class="fa fa-edit"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.editActive(obj, false)" class="label label-flat label-sm label-danger" title="Hapus">
									<i class="fa fa-trash-o"></i>
								</a>-->
							</td>
						</tr>
						<tr ng-if="DataPengalamanController.listFinishExp.length === 0">
							<td colspan="10">{{'NO_DATA'|translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><br />
	<div class="row">
		<div class="col-md-6 center-block" style="float: none!important;">
			<h3 class="text-center afta-font">{{'PEKERJAAN_BERLANGSUNG'|translate}}</h3>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
							<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="obj in DataPengalamanController.listCurrentExp">
							<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
							<td style="vertical-align: middle;">{{obj.ContractName}}</td>
							<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
							<td style="vertical-align: middle;">{{obj.Agency}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
							<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
							<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
							<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center" style="vertical-align: middle;">
								<a ng-click="DataPengalamanController.detailExp(obj)" class="label label-flat label-sm label-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
									<i class="fa fa-external-link"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="label label-flat label-sm label-primary" title="{{'BTN.EDIT' | translate}}">
									<i class="fa fa-edit"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.editActive(obj, false)" class="label label-flat label-sm label-danger" title="{{'BTN.DELETE' | translate}}">
									<i class="fa fa-trash-o"></i>
								</a>
								<!--CR-->
								<!--<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="label label-flat label-sm label-primary" title="Ubah">
									<i class="fa fa-edit"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.editActive(obj, false)" class="label label-flat label-sm label-danger" title="Hapus">
									<i class="fa fa-trash-o"></i>
								</a>-->
							</td>
						</tr>
						<tr ng-if="DataPengalamanController.listCurrentExp.length === 0">
							<td colspan="10">{{'NO_DATA'|translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="col-md-7">
			<ul uib-pagination boundary-links="true" total-items="DataPengalamanController.totalItems" ng-model="DataPengalamanController.currentPage"
				class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
				ng-change="DataPengalamanController.loadAwal(DataPengalamanController.currentPage)"></ul>
			<br />
			<label>{{'TOTAL_DATA' | translate}} : {{DataPengalamanController.totalItems}}</label>
		</div>
	</div>-->

</div>



