﻿<section class="content" ng-init="approvalProcurementPlanCtrl.init()" style="overflow: visible!important;">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/data-contract-requisition">{{'APPROVAL_PROCUREMENT_PLAN' | translate}}</a></li>
        </ol>
        <div class="row center">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row" style="margin-bottom: 20px;margin-top:20px">
                            <div class="col-md-12">
                                <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'APPROVAL_PROCUREMENT_PLAN' | translate}}</h3>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!--<label class="control-label col-md-2">{{'FILTER.SEARCH_BY' | translate}} </label>-->
                                    <div class="col-md-2" style="margin-top: 5px;">
                                        <div class="pull-right">
                                            {{'FILTER.SEARCH_BY' | translate}}
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="padding-left:0px;">
                                        <select class="form-control input-sm" ng-model="approvalProcurementPlanCtrl.searchBy" ng-change="approvalProcurementPlanCtrl.resetAll()">
                                            <option value="" style="display:none">{{'FILTER.SEARCH_BY' | translate}} </option>
                                            <option value="1">{{'FILTER.DEPARTEMENT' | translate}}</option>
                                            <option value="2">{{'FILTER.TECHFOCPOINT' | translate}}</option>
                                            <option value="3">{{'FILTER.ENTITY' | translate}}</option>
                                            <option value="4">{{'FILTER.TANGGALPERMINTAAN' | translate}}</option>
                                            <option value="5">Material / Service</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3" ng-if="approvalProcurementPlanCtrl.searchBy == 1">
                                        <form class="input-group">
                                            <input type="text" placeholder="{{'FILTER.SEARCH' | translate}} {{'FILTER.DEPARTEMENT' | translate}}" ng-change="approvalProcurementPlanCtrl.jLoad(1)" class="form-control input-sm" ng-model="approvalProcurementPlanCtrl.keyword" />
                                            <span class="input-group-btn">
                                                <button name="search" id="search-btn" class="btn btn-flat btn-sm btn-primary" ng-click="approvalProcurementPlanCtrl.jLoad(1)" title="{{'FILTER.SEARCH' | translate}} {{'FILTER.DEPARTEMENT' | translate}}">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </form>
                                    </div>
                                    <div class="col-md-3" ng-if="approvalProcurementPlanCtrl.searchBy == 2">
                                        <form class="input-group">
                                            <input type="text" placeholder="{{'FILTER.SEARCH' | translate}} {{'FILTER.TECHFOCPOINT' | translate}}" ng-change="approvalProcurementPlanCtrl.jLoad(1)" class="form-control input-sm" ng-model="approvalProcurementPlanCtrl.keyword" />
                                            <span class="input-group-btn">
                                                <button name="search" id="search-btn" class="btn btn-flat btn-sm btn-primary" ng-click="approvalProcurementPlanCtrl.jLoad(1)" title="{{'FILTER.SEARCH' | translate}} {{'FILTER.TECHFOCPOINT' | translate}}">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </form>
                                    </div>
                                    <div class="col-md-3" ng-if="approvalProcurementPlanCtrl.searchBy == 3">
                                        <select class="form-control input-sm" ng-model="approvalProcurementPlanCtrl.keyword" ng-change="approvalProcurementPlanCtrl.jLoad(1)"> 
                                            <option value="">{{'FILTER.ENTITY_ALL' | translate}}</option>
                                            <option ng-repeat="a in approvalProcurementPlanCtrl.entityData" value="{{a.EntityID}}">{{a.EntityName}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4" ng-if="approvalProcurementPlanCtrl.searchBy == 4">
                                        <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                                            <div class="input-group date form_datetime">
                                                <input name="foundedDate" style="background-color: #ffffff;" title="{{'FORM.START_DATE' | translate}}" readonly required class="form-control input-sm" ng-change="approvalProcurementPlanCtrl.jLoad(1)" size="16" placeholder="{{'FORM.START_DATE' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="approvalProcurementPlanCtrl.isCalendarOpened[0]" ng-model="approvalProcurementPlanCtrl.startDate" ng-click="approvalProcurementPlanCtrl.openCalendar(0)" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-default" ng-click="approvalProcurementPlanCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label>S/D</label>
                                        </div>
                                        <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                                            <div class="input-group date form_datetime">
                                                <input name="foundedDate" style="background-color: #ffffff;" title="{{'FORM.END_DATE' | translate}}" readonly required class="form-control input-sm" ng-change="approvalProcurementPlanCtrl.jLoad(1)" size="16" placeholder="{{'FORM.END_DATE' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="approvalProcurementPlanCtrl.isCalendarOpened[1]" ng-model="approvalProcurementPlanCtrl.endDate" ng-click="approvalProcurementPlanCtrl.openCalendar(1)" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-sm btn-default" ng-click="approvalProcurementPlanCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-if="approvalProcurementPlanCtrl.searchBy == 5">
                                        <select class="form-control input-sm" ng-model="approvalProcurementPlanCtrl.materialService" ng-change="approvalProcurementPlanCtrl.jLoad(1)">
                                            <option value="">{{'FILTER.PILIH' | translate}}</option>
                                            <option value="4491">Material</option>
                                            <option value="4492">Service</option>
                                        </select>
                                    </div>

                                    <!--<label class="control-label col-md-2">{{'FILTER.APPROVAL_STATUS' | translate}} </label>-->
                                    <div class="col-md-2">
                                        <select class="form-control input-sm" ng-change="approvalProcurementPlanCtrl.jLoad(1)" ng-model="approvalProcurementPlanCtrl.statusName">
                                            <option value="" style="display:none;">{{'PILIH_STATUS' | translate}}</option>
                                            <option value="ALL">{{'STATUS.ALL' | translate}}</option>
                                            <option value="1">{{'STATUS.COMPLETED' | translate}}</option>
                                            <option value="2">{{'STATUS.DELAYED' | translate}}</option>
                                            <option value="3">{{'STATUS.ON_PROCESS' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                                <th class="center-vertical">{{'TABLE.DEPARTEMEN' | translate}}</th>
                                                <th class="center-vertical">{{'TABLE.ENTITY' | translate}}</th>
                                                <th class="center-vertical">{{'TABLE.MATERIAL' | translate}}</th>
                                                <th class="center-vertical">{{'TABLE.TECHFOCPOINT' | translate}}</th>
                                                <th class="center-vertical">{{'TABLE.TGL_PERMINTAAN_APPROVAL' | translate}}</th>
                                                <th class="center-vertical">{{'TABLE.STATUS' | translate}}</th>
                                                <th class="center-vertical">{{'TABLE.ACTION' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="a in approvalProcurementPlanCtrl.approvalData">
                                                <td style="vertical-align: middle;">{{approvalProcurementPlanCtrl.currentPage > 1 ? (approvalProcurementPlanCtrl.maxSize * (approvalProcurementPlanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{a.DepartmentName}}</td>
                                                <td style="vertical-align: middle;" class="center-vertical">{{a.EntityName}}</td>
                                                <td style="vertical-align: middle;" class="center-vertical">{{a.Reference}}</td>
                                                <td style="vertical-align: middle;" class="center-vertical">{{a.SCMFocal}}</td>
                                                <td style="vertical-align: middle;" class="center-vertical">{{a.CreatedDate | date: 'dd-MM-yyyy'}}</td>
                                                <td style="vertical-align: middle;" class="center-vertical" ng-if="a.ApprovalStatus === 1">{{'TABLE.COMPLETED' | translate}}</td>
                                                <td style="vertical-align: middle;" class="center-vertical" ng-if="a.ApprovalStatus === 0">{{'TABLE.DELAYED' | translate}}</td>
                                                <td style="vertical-align: middle;" class="center-vertical" ng-if="a.ApprovalStatus === null">{{'TABLE.ONPROCESS' | translate}}</td>
                                                <td style="vertical-align: middle;" class="center-vertical">
                                                    <button class="btn btn-flat btn-sm btn-warning" title="{{'DETAIL_PROC' | translate}}" ng-click="approvalProcurementPlanCtrl.detailProc(a)"><i class="fa fa-eye"></i></button>
                                                    <button class="btn btn-flat btn-sm btn-primary" title="{{'LIST_APPROVER' | translate}}" ng-click="approvalProcurementPlanCtrl.listApprover(a)"><i class="fa fa-list-alt"></i></button>
                                                    <button class="btn btn-flat btn-sm btn-success" title="{{'APPROVE'| translate}}" ng-click="approvalProcurementPlanCtrl.approvedOrNot(a,1)" ng-if="a.ApprovalStatus === null"><i class="fa fa-check"></i></button>
                                                    <button class="btn btn-flat btn-sm btn-danger" title="{{'DENIED'| translate}}" ng-click="approvalProcurementPlanCtrl.approvedOrNot(a,0)" ng-if="a.ApprovalStatus === null"><i class="fa fa-times"></i></button>

                                                </td>

                                            </tr>
                                            <tr ng-if="approvalProcurementPlanCtrl.totalItems === 0">
                                                <td colspan="10">{{'TIDAK_ADA_DATA' | translate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-sd-4 col-md-10">
                                        <ul uib-pagination total-items="approvalProcurementPlanCtrl.totalItems"
                                            ng-model="approvalProcurementPlanCtrl.currentPage" ng-if="approvalProcurementPlanCtrl.totalItems > 10" items-per-page="approvalProcurementPlanCtrl.maxSize"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="approvalProcurementPlanCtrl.jLoad(approvalProcurementPlanCtrl.currentPage)"></ul>
                                        <br /><label>{{'TOTAL_DATA' | translate}} : {{approvalProcurementPlanCtrl.totalItems}}</label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-md-12">
                                        <!--<button disabled style="background-color: #ecb42f; width: 35px; height:30px; border:none;"><i class="fa fa-eye"></i></button> : <span style="margin-right: 10px;">{{'BTN.LIHAT' | translate}}</span>
                                        <button disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class='fa fa-plus-circle'></i>&nbsp;</button> : {{'BTN.TAMBAH' | translate}}
                                        <button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-edit"></i></button> : <span style="margin-right: 10px;">{{'BTN.UBAH' | translate}}</span>
                                        <button disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-trash"></i></button> : <span style="margin-right: 10px;">{{'BTN.HAPUS' | translate}}</span>
                                        <button disabled style="background-color: #8fbc8f; width: 35px; height:30px; border:none;"><i class="fa fa-bullhorn"></i></button> : <span style="margin-right: 10px;">{{'BTN.PUBLISH' | translate}}</span>-->

                                        <button class="btn btn-flat btn-sm btn-warning" title="{{'DETAIL_PROC' | translate}}"><i class="fa fa-eye"></i> </button> : <span style="margin-right: 10px;">{{'DETAIL_PROC' | translate}}</span>
                                        <button class="btn btn-flat btn-sm btn-primary" title="{{'LIST_APPROVER' | translate}}"><i class="fa fa-list-alt"></i> </button> : <span style="margin-right: 10px;">{{'LIST_APPROVER' | translate}}</span>
                                        <button class="btn btn-flat btn-sm btn-success" title="{{'APPROVE'| translate}}"><i class="fa fa-check"></i> </button> : <span style="margin-right: 10px;">{{'APPROVE' | translate}}</span>
                                        <button class="btn btn-flat btn-sm btn-danger" title="{{'DENIED'| translate}}"><i class="fa fa-times"></i></button> : <span style="margin-right: 10px;">{{'DENIED' | translate}}</span>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>