﻿<div class="modal-content" ng-init="detailApprovalProcurementPlanModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailApprovalProcurementPlanModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">
            <span>{{'MODAL.APPROVAL' | translate}}</span>
        </h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <h4>{{'MODAL.DETAIL_APPROVAL' | translate}} :</h4>
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.LEVEL' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.JABATAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.NAMA' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.TANGGAL_PERSETUJUAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.STATUS' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.INFORMATION' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in detailApprovalProcurementPlanModalCtrl.dataApprover">
                                <td class="center-vertical">{{detailApprovalProcurementPlanModalCtrl.currentPage > 1 ? (detailApprovalProcurementPlanModalCtrl.maxSize * (detailApprovalProcurementPlanModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td class="center-vertical">{{a.ApprovalLevel}}</td>
                                <td class="center-vertical">{{a.ApproverPosition}}</td>
                                <td>{{a.ApproverName}}</td>
                                <td class="center-vertical">{{detailApprovalProcurementPlanModalCtrl.UIControl.convertDate(a.ApprovalDate)}}</td>
                                <td class="center-vertical" ng-if="a.ApprovalStatus == 0">{{'MODAL.DITOLAK' | translate }}</td>
                                <td class="center-vertical" ng-if="a.ApprovalStatus == 1">{{'MODAL.DISETUJUI' | translate }}</td>
                                <td class="center-vertical" ng-if="a.ApprovalStatus == null">-</td>
                                <td class="center-vertical"><p ng-bind-html="a.Remarks"></p></td>

                            </tr>
                            <tr ng-if="detailApprovalProcurementPlanModalCtrl.totalItems === 0">
                                <td colspan="7">{{'TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-10">
                        <ul uib-pagination total-items="detailApprovalProcurementPlanModalCtrl.totalItems"
                            ng-model="detailApprovalProcurementPlanModalCtrl.currentPage" ng-if="detailApprovalProcurementPlanModalCtrl.totalItems > 10" items-per-page="detailApprovalProcurementPlanModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="detailApprovalProcurementPlanModalCtrl.jLoad(detailApprovalProcurementPlanModalCtrl.currentPage)"></ul>
                        <br /><label>{{'TOTAL_DATA' | translate}} : {{detailApprovalProcurementPlanModalCtrl.totalItems}}</label>
                    </div>
                </div>
            </div>

        </div>
        <br />
        <div class="row" ng-if="detailApprovalProcurementPlanModalCtrl.SCMFocalPoint == 0">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="alert alert-warning alert-dismissable">
                    <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                    <strong>Warning!</strong> {{'MESSAGE.SCM_FOCAL_BELUM_DIPILIH' | translate}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>{{'MODAL.DETAIL_APPROVAL_SCM' | translate}} :</h4>
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.LEVEL' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.JABATAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.NAMA' | translate}}</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in detailApprovalProcurementPlanModalCtrl.dataApproverSCM">
                                <td class="center-vertical">{{detailApprovalProcurementPlanModalCtrl.currentPageSCM > 1 ? (detailApprovalProcurementPlanModalCtrl.maxSize * (detailApprovalProcurementPlanModalCtrl.currentPageSCM - 1)) + $index + 1 : $index + 1}}</td>
                                <td class="center-vertical">{{a.ApprovalLevel}}</td>
                                <td class="center-vertical">{{a.ApproverPosition}}</td>
                                <td>{{a.ApproverName}}</td>
                                

                            </tr>
                            <tr ng-if="detailApprovalProcurementPlanModalCtrl.totalItemsSCM === 0">
                                <td colspan="4">{{'TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-10">
                        <ul uib-pagination total-items="detailApprovalProcurementPlanModalCtrl.totalItemsSCM"
                            ng-model="detailApprovalProcurementPlanModalCtrl.currentPageSCM" ng-if="detailApprovalProcurementPlanModalCtrl.totalItemsSCM > 10" items-per-page="detailApprovalProcurementPlanModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="detailApprovalProcurementPlanModalCtrl.getDataApproverSCM(detailApprovalProcurementPlanModalCtrl.currentPageSCM)"></ul>
                        <br /><label>{{'TOTAL_DATA' | translate}} : {{detailApprovalProcurementPlanModalCtrl.totalItemsSCM}}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="detailApprovalProcurementPlanModalCtrl.batal()" class="btn btn-flat btn-danger" title="{{'FORM.BTN_CANCEL'|translate}}"><i class="fa fa-reply"></i>&nbsp;{{'FORM.BTN_CANCEL'|translate}}</button>
    </div>
</div>