﻿<div class="modal-content" ng-init="formDetailProcurementModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formDetailProcurementModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{'LABEL.MODAL_LIHAT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="col-md-10 center-block ng-scope" style="float: none !important;" >
            <div class="row blocked">
                <div class="row well">
                <div class="row" style="margin-bottom:10px;" ng-if="formDetailProcurementModalCtrl.scm == 1">
                    <div class="col-md-3" style="width: 20%">
                        <label>Local Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <!--<input type="text" class="form-control" ng-model="formDetailProcurementModalCtrl.localNumber" placeholder="Local Number" disabled>-->
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3" >
                        <!--<input type="text" class="form-control" ng-model="formDetailProcurementModalCtrl.localNumber" placeholder="Local Number" disabled>-->
                        <span>{{formDetailProcurementModalCtrl.localNumber ? formDetailProcurementModalCtrl.localNumber: '-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>SKK Migas Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <!--<input type="text" class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0" ng-model="formDetailProcurementModalCtrl.skkMigasNumber" placeholder="SKK Migas Number">-->
                        <span>{{formDetailProcurementModalCtrl.skkMigasNumber ? formDetailProcurementModalCtrl.skkMigasNumber: '-'}}</span>
                    </div>
                </div>
                <div class="row" style="margin-bottom:30px;" ng-if="formDetailProcurementModalCtrl.scm == 1">
                    <div class="col-md-3" style="width: 20%">
                        <label>Global Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.globalNumber ? formDetailProcurementModalCtrl.globalNumber : '-'}}</span>
                        <!--<input type="text" class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0" ng-model="formDetailProcurementModalCtrl.globalNumber" placeholder="Global Number">-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Status Procurement Plan</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span ng-if="formDetailProcurementModalCtrl.statusProc == '0'">-</span>
                        <span ng-if="formDetailProcurementModalCtrl.statusProc == '4510'">Planned</span>
                        <span ng-if="formDetailProcurementModalCtrl.statusProc == '4511'">Unplanned</span>
                        <!--<div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="optradio" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.statusProc" value="4510">Planned
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.statusProc" value="4511">Unplanned
                            </label>
                        </div>-->
                    </div>
                </div>
                <p></p>
                <div class="row" ng-if="formDetailProcurementModalCtrl.scm == 1">
                    <div class="col-md-3" style="width: 20%">
                        <label>{{'LABEL.DEPT' | translate}}</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.deptName ? formDetailProcurementModalCtrl.deptName : '-'}}</span>
                        <!--<input type="text" class="form-control"
                            ng-model="formDetailProcurementModalCtrl.deptName"
                            uib-typeahead="b as b.DepartmentName for b in formDetailProcurementModalCtrl.datadept | filter:$viewValue | limitTo:10"
                            typeahead-on-select='formDetailProcurementModalCtrl.ubahDept($item, $model, $label)' ng-change="formDetailProcurementModalCtrl.ubahManualDept(formDetailProcurementModalCtrl.deptName)"
                            placeholder="{{'LABEL.DEPT' | translate}}" disabled>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>{{'LABEL.DESC' | translate}}</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.description ? formDetailProcurementModalCtrl.description :'-'}}</span>
                        <!--<input type="text" class="form-control" ng-model="formDetailProcurementModalCtrl.description" placeholder="{{'LABEL.DESC' | translate}}" disabled>-->
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;" ng-if="formDetailProcurementModalCtrl.scm == 0">
                    <div class="col-md-3" style="width: 20%">
                        <label>{{'LABEL.DEPT' | translate}}</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.deptName ? formDetailProcurementModalCtrl.deptName : '-'}}</span>
                        <!--<input type="text" class="form-control"
                    ng-model="formDetailProcurementModalCtrl.deptName"
                    uib-typeahead="b as b.DepartmentName for b in formDetailProcurementModalCtrl.datadept | filter:$viewValue | limitTo:10"
                    typeahead-on-select='formDetailProcurementModalCtrl.ubahDept($item, $model, $label)' ng-change="formDetailProcurementModalCtrl.ubahManualDept(formDetailProcurementModalCtrl.deptName)"
                    placeholder="{{'LABEL.DEPT' | translate}}" disabled>-->
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;" ng-if="formDetailProcurementModalCtrl.scm == 0">
                    <div class="col-md-3" style="width: 20%">
                        <label>Local Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <!--<input type="text" class="form-control" ng-model="formDetailProcurementModalCtrl.localNumber" placeholder="Local Number" disabled>-->
                        <span>{{formDetailProcurementModalCtrl.localNumber ? formDetailProcurementModalCtrl.localNumber: '-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>{{'LABEL.DESC' | translate}}</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.description ? formDetailProcurementModalCtrl.description :'-'}}</span>
                        <!--<input type="text" class="form-control" ng-model="formDetailProcurementModalCtrl.description" placeholder="{{'LABEL.DESC' | translate}}" disabled>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Entity</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label> </span>
                        <!--<select class="form-control" ng-model="formDetailProcurementModalCtrl.entity" ng-change="formDetailProcurementModalCtrl.ubahEntity(formDetailProcurementModalCtrl.entity)" disabled>
                            <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                            <option value="{{ent.EntityID}}" ng-repeat="ent in formDetailProcurementModalCtrl.dataEntity" ng-selected="ent.EntityID == formDetailProcurementModalCtrl.entity">{{ent.EntityName}}</option>
                        </select>-->
                    </div>
                    <div class="col-md-3" >
                        <span>{{formDetailProcurementModalCtrl.entityName ? formDetailProcurementModalCtrl.entityName : '-'}}</span>
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Procurement Type</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.materialServiceName ? formDetailProcurementModalCtrl.materialServiceName : '-'}}</span>
                        <!--<select class="form-control" disabled ng-model="formDetailProcurementModalCtrl.materialService" ng-change="formDetailProcurementModalCtrl.ubahMaterialService(formDetailProcurementModalCtrl.materialService)">
                            <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                            <option value="{{mtsv.RefID}}" ng-repeat="mtsv in formDetailProcurementModalCtrl.dataMaterialService" ng-selected="mtsv.RefID == formDetailProcurementModalCtrl.materialService">{{mtsv.Value}}</option>
                        </select>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>PP Reference</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.ppReference ? formDetailProcurementModalCtrl.ppReference : '-'}}</span>
                        <!--<input type="text" class="form-control" ng-model="formDetailProcurementModalCtrl.ppReference" placeholder="PP Reference" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')">-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Current Supplier</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span><label>:</label> {{formDetailProcurementModalCtrl.currentSupplier ? formDetailProcurementModalCtrl.currentSupplier : '-'}}</span>
                        <!--<input type="text" class="form-control" ng-model="formDetailProcurementModalCtrl.currentSupplier" placeholder="Current Supplier" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')">-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>SCM Focal Point</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.scmFocalPoint ? formDetailProcurementModalCtrl.scmFocalPoint : '-'}}</span>
                        <!--<selectize ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" name="selectModule" id="dept" placeholder="SCM Focal Point" ng-change="formDetailProcurementModalCtrl.ubahSCM(formDetailProcurementModalCtrl.scmFocalPoint)"
                                options="formDetailProcurementModalCtrl.dataSCMFocalPoint"
                                config="formDetailProcurementModalCtrl.myConfig2" ng-model="formDetailProcurementModalCtrl.scmFocalPoint"></selectize>-->
                        <!--<input type="text" class="form-control"
                            ng-model="formDetailProcurementModalCtrl.scmFocalPoint" ng-disabled="(formDetailProcurementModalCtrl.isDataSCM == 0 || formDetailProcurementModalCtrl.ubah == 0) && formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review'"
                            uib-typeahead="b as b.FullName for b in formDetailProcurementModalCtrl.dataSCMFocalPoint | filter:$viewValue | limitTo:10"
                            typeahead-on-select='formDetailProcurementModalCtrl.ubahSCM($item, $model, $label)'
                            placeholder="SCM Focal Point">-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Technical Focal Point</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.techFocalPointName ? formDetailProcurementModalCtrl.techFocalPointName : '-'}}</span>
                        <!--<input type="text" disabled class="form-control"
                            ng-model="formDetailProcurementModalCtrl.techFocalPointName"
                            uib-typeahead="b as b.FullName for b in formDetailProcurementModalCtrl.dataTFP | filter:$viewValue | limitTo:10"
                            typeahead-on-select='formDetailProcurementModalCtrl.ubahTech($item, $model, $label)'
                            placeholder="Technical Focal Point">-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Market Sector</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.marketSector ? formDetailProcurementModalCtrl.marketSector : '-'}}</span>
                        <!--<selectize ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Market Sector" options="formDetailProcurementModalCtrl.dataMarketSec"
                                config="formDetailProcurementModalCtrl.myConfig3" ng-model="formDetailProcurementModalCtrl.marketSector"
                                ng-change="formDetailProcurementModalCtrl.ubahMarket(formDetailProcurementModalCtrl.marketSector)"></selectize>-->

                        <!--<input type="text" class="form-control"
                            ng-model="formDetailProcurementModalCtrl.marketSector" ng-disabled="(formDetailProcurementModalCtrl.isDataMarket == 0 || formDetailProcurementModalCtrl.ubah == 0) && formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review'"
                            uib-typeahead="b as b.CategoryName for b in formDetailProcurementModalCtrl.dataMarketSec | filter:$viewValue | limitTo:10"
                            typeahead-on-select='formDetailProcurementModalCtrl.ubahMarket($item, $model, $label)'
                            placeholder="Market Sector">-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Sub Sector</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.subSector ? formDetailProcurementModalCtrl.subSector : '-'}}</span>
                        <!--<selectize ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Sub Sector" options="formDetailProcurementModalCtrl.dataSubSec"
                                config="formDetailProcurementModalCtrl.myConfig3" ng-model="formDetailProcurementModalCtrl.subSector"
                                ng-change="formDetailProcurementModalCtrl.ubahSub(formDetailProcurementModalCtrl.subSector)"></selectize>-->
                        <!--<input type="text" class="form-control"
                            ng-model="formDetailProcurementModalCtrl.subSector" ng-disabled="(formDetailProcurementModalCtrl.isDataSub == 0 || formDetailProcurementModalCtrl.ubah == 0) && formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review'"
                            uib-typeahead="b as b.CategoryName for b in formDetailProcurementModalCtrl.dataSubSec | filter:$viewValue | limitTo:10"
                            typeahead-on-select='formDetailProcurementModalCtrl.ubahSub($item, $model, $label)'
                            placeholder="Sub Sector">-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Category</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.category ? formDetailProcurementModalCtrl.category : '-'}}</span>
                        <!--<selectize ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Category" options="formDetailProcurementModalCtrl.dataCategory"
                                config="formDetailProcurementModalCtrl.myConfig3" ng-model="formDetailProcurementModalCtrl.categoryName"
                                ng-change="formDetailProcurementModalCtrl.ubahCategory(formDetailProcurementModalCtrl.categoryName)"></selectize>-->
                        <!--<input type="text" class="form-control"
                            ng-model="formDetailProcurementModalCtrl.categoryName" ng-disabled="(formDetailProcurementModalCtrl.isDataCat == 0 || formDetailProcurementModalCtrl.ubah == 0) && formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review'"
                            uib-typeahead="b as b.CategoryName for b in formDetailProcurementModalCtrl.dataCategory | filter:$viewValue | limitTo:10"
                            typeahead-on-select='formDetailProcurementModalCtrl.ubahCategory($item, $model, $label)'
                            placeholder="Category">-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Sourcing Activity</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.sourcingActivity ? formDetailProcurementModalCtrl.sourcingActivity : '-'}}</span>
                        <!--<selectize ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Sourcing Activity" options="formDetailProcurementModalCtrl.dataSourcingActivity"
                                config="formDetailProcurementModalCtrl.myConfig4" ng-model="formDetailProcurementModalCtrl.sourcingActivity"
                                ng-change="formDetailProcurementModalCtrl.ubahSourcing(formDetailProcurementModalCtrl.sourcingActivity)"></selectize>-->
                        <!--<input type="text" class="form-control"
                            ng-model="formDetailProcurementModalCtrl.sourcingActivity" ng-disabled="(formDetailProcurementModalCtrl.isDataSourcing == 0 || formDetailProcurementModalCtrl.ubah == 0)"
                            uib-typeahead="b as b.MethodName for b in formDetailProcurementModalCtrl.dataSourcingActivity | filter:$viewValue | limitTo:10"
                            typeahead-on-select='formDetailProcurementModalCtrl.ubahSourcing($item, $model, $label)'
                            placeholder="Sourcing Activity">-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Contract Type</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3" >
                        <span>{{formDetailProcurementModalCtrl.contractTypeName ? formDetailProcurementModalCtrl.contractTypeName :'-'}}</span>
                        <!--<select class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.contractType" ng-change="formDetailProcurementModalCtrl.ubahDept(formDetailProcurementModalCtrl.departemen)">
                            <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                            <option value="{{ct.RefID}}" ng-repeat="ct in formDetailProcurementModalCtrl.dataContractType" ng-selected="ct.RefID == formDetailProcurementModalCtrl.contractType">{{ct.Value}}</option>
                        </select>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Existing Contract</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.existingContractName ? formDetailProcurementModalCtrl.existingContractName : '-'}}</span>
                        <!--<select class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.existingContract">
                            <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                            <option value="{{ec.RefID}}" ng-repeat="ec in formDetailProcurementModalCtrl.dataExistingContract" ng-selected="ec.RefID == formDetailProcurementModalCtrl.existingContract">{{ec.Value}}</option>
                        </select>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Existing Contract Award</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.existingContractAwardName ? formDetailProcurementModalCtrl.existingContractAwardName : '-'}}</span>
                        <!--<select class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.existingContractAward">
                            <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                            <option value="{{eca.RefID}}" ng-repeat="eca in formDetailProcurementModalCtrl.dataExistingContractAward" ng-selected="eca.RefID == formDetailProcurementModalCtrl.existingContractAward">{{eca.Value}}</option>
                        </select>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>PR Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.prNumber ? formDetailProcurementModalCtrl.prNumber : '-'}}</span>
                        <!--<input type="text" class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.prNumber" placeholder="PR Number">-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Existing Contract Number</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.ECNumber ? formDetailProcurementModalCtrl.ECNumber : '-'}}</span>
                        <!--<select class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.existingContractAward">
                            <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                            <option value="{{eca.RefID}}" ng-repeat="eca in formDetailProcurementModalCtrl.dataExistingContractAward" ng-selected="eca.RefID == formDetailProcurementModalCtrl.existingContractAward">{{eca.Value}}</option>
                        </select>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Existing Contract Value</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.ECValue ? formDetailProcurementModalCtrl.ECValue : '-'}}</span>
                        <!--<input type="text" class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.prNumber" placeholder="PR Number">-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Remaining Contract Value</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.RCValue ? formDetailProcurementModalCtrl.RCValue : '-'}}</span>
                        <!--<select class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.existingContractAward">
                            <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                            <option value="{{eca.RefID}}" ng-repeat="eca in formDetailProcurementModalCtrl.dataExistingContractAward" ng-selected="eca.RefID == formDetailProcurementModalCtrl.existingContractAward">{{eca.Value}}</option>
                        </select>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Remaining Contract Value (%)</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.vm.RCValueP ? formDetailProcurementModalCtrl.vm.RCValueP : '-'}}</span>
                        <!--<input type="text" class="form-control" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.prNumber" placeholder="PR Number">-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Current Contract Start Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.CCStartDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">
                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Current Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[0]" ng-model="formDetailProcurementModalCtrl.CCStartDate" ng-click="formDetailProcurementModalCtrl.openCalendar(0)"
                                ng-change="formDetailProcurementModalCtrl.ubahCCStart(formDetailProcurementModalCtrl.CCStartDate)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(0)"></span></span>
                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Current Contract End Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.CCEndDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Current Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[1]" ng-model="formDetailProcurementModalCtrl.CCEndDate" ng-click="formDetailProcurementModalCtrl.openCalendar(1)"
                                ng-change="formDetailProcurementModalCtrl.ubahCCEnd(formDetailProcurementModalCtrl.CCEndDate)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(1)"></span></span>

                        </div>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract Start Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.newContractStartDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input disabled placeholder="New Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[2]" ng-model="formDetailProcurementModalCtrl.newContractStartDate" ng-click="formDetailProcurementModalCtrl.openCalendar(2)"
                                ng-change="formDetailProcurementModalCtrl.UbahNewStartDate(formDetailProcurementModalCtrl.newContractStartDate)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(2)"></span></span>

                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract End Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.newContractEndDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input disabled placeholder="New Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[3]" ng-model="formDetailProcurementModalCtrl.newContractEndDate" ng-click="formDetailProcurementModalCtrl.openCalendar(3)"
                                ng-change="formDetailProcurementModalCtrl.UbahNewEndDate(formDetailProcurementModalCtrl.newContractEndDate)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(3)"></span></span>

                        </div>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract Duration</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.newContractDuration2 ? formDetailProcurementModalCtrl.newContractDuration2 : '0'}} {{'LABEL.MONTH' | translate}}</span>
                        <!--<div class="input-group">
                            <input type="text" disabled class="form-control" ng-model="formDetailProcurementModalCtrl.newContractDuration">
                            <span class="input-group-addon" id="basic-addon1">Month</span>
                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract Extensions Option</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.newContractExtensionsDuration ? formDetailProcurementModalCtrl.newContractExtensionsDuration : '0'}} {{'LABEL.MONTH' | translate}}</span>
                        <!--<div class="input-group">
                            <input type="text" ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formDetailProcurementModalCtrl.newContractExtensionsDuration"
                                ng-change="formDetailProcurementModalCtrl.ubahNewContractExt(formDetailProcurementModalCtrl.newContractExtensionsDuration)">
                            <span class="input-group-addon" id="basic-addon1">Month</span>
                        </div>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>New Contract Value Including Extension Options</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.newContractIncludeExtensionsDuration2 ? formDetailProcurementModalCtrl.newContractIncludeExtensionsDuration2 : '0'}} {{'LABEL.MONTH' | translate}}</span>
                        <!--<div class="input-group">
                            <input type="text" disabled class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formDetailProcurementModalCtrl.newContractIncludeExtensionsDuration">
                            <span class="input-group-addon" id="basic-addon1">Month</span>
                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Status</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.statName ? formDetailProcurementModalCtrl.statName : '-'}}</span>
                        <!--<select class="form-control" disabled ng-if="formDetailProcurementModalCtrl.procPlanStatusName == 'Completed' && formDetailProcurementModalCtrl.scmStatusName == ''">
                            <option value="{{formDetailProcurementModalCtrl.procPlanStatus}}">{{formDetailProcurementModalCtrl.procPlanStatusName}}</option>
                        </select>
                        <select class="form-control" disabled ng-if="formDetailProcurementModalCtrl.procPlanStatusName == 'Completed' && formDetailProcurementModalCtrl.scmStatusName != ''">
                            <option value="{{formDetailProcurementModalCtrl.scmStatus}}">{{formDetailProcurementModalCtrl.scmStatusName}}</option>
                        </select>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Sourcing Date Start</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.sourcingDateStart | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Sourcing Date Start" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[4]" ng-model="formDetailProcurementModalCtrl.sourcingDateStart" ng-click="formDetailProcurementModalCtrl.openCalendar(4)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(4)"></span></span>

                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>CGC Approval Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.cgcApprovalDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="CGC Approval Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[5]" ng-model="formDetailProcurementModalCtrl.cgcApprovalDate" ng-click="formDetailProcurementModalCtrl.openCalendar(5)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(5)"></span></span>

                        </div>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Tender Issue Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.bidIssueDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Bid Issue Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[6]" ng-model="formDetailProcurementModalCtrl.bidIssueDate" ng-click="formDetailProcurementModalCtrl.openCalendar(6)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(6)"></span></span>

                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Tender Due Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.bidDuedDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Bid Due Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[7]" ng-model="formDetailProcurementModalCtrl.bidDuedDate" ng-click="formDetailProcurementModalCtrl.openCalendar(7)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(7)"></span></span>

                        </div>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Tender Evaluation Completion Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.bidEvalCompletionDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Bid Evaluation Completion Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[8]" ng-model="formDetailProcurementModalCtrl.bidEvalCompletionDate" ng-click="formDetailProcurementModalCtrl.openCalendar(8)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(8)"></span></span>

                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Negotiation Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.negotiationDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Negotiation Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[9]" ng-model="formDetailProcurementModalCtrl.negotiationDate" ng-click="formDetailProcurementModalCtrl.openCalendar(9)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(9)"></span></span>

                        </div>-->
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Award Recommendation</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.awardRecomDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Award Recommendation" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[10]" ng-model="formDetailProcurementModalCtrl.awardRecomDate" ng-click="formDetailProcurementModalCtrl.openCalendar(10)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(10)"></span></span>

                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Excom/Board Approval</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.excomBoardApproval | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Excom/Board Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[11]" ng-model="formDetailProcurementModalCtrl.excomBoardApproval" ng-click="formDetailProcurementModalCtrl.openCalendar(11)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(11)"></span></span>

                        </div>-->
                    </div>
                </div>
                <p></p>
                <div class="row" style="margin-bottom: 25px;">
                    <div class="col-md-3" style="width: 20%">
                        <label>Concessionaire / Partners Approval</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.consessPartApproval | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Concessionaire / Partners Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[12]" ng-model="formDetailProcurementModalCtrl.consessPartApproval" ng-click="formDetailProcurementModalCtrl.openCalendar(12)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(12)"></span></span>

                        </div>-->
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        <label>Contract Execution Date</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.contractExecutionDate | date:'dd MMMM yyyy'}}</span>
                        <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                            <input readonly ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" placeholder="Contract Execution Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                is-open="formDetailProcurementModalCtrl.isCalendarOpened[13]" ng-model="formDetailProcurementModalCtrl.contractExecutionDate" ng-click="formDetailProcurementModalCtrl.openCalendar(13)" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formDetailProcurementModalCtrl.openCalendar(13)"></span></span>

                        </div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="width: 20%">
                        <label>Comments</label>
                    </div>
                    <div class="col-md-1" style="width: 1%">
                        <span><label>:</label></span>
                    </div>
                    <div class="col-md-3">
                        <span>{{formDetailProcurementModalCtrl.comments ? formDetailProcurementModalCtrl.comments : '-'}}</span>
                        <!--<textarea ng-disabled="formDetailProcurementModalCtrl.ubah == 0 || (formDetailProcurementModalCtrl.statName == 'Reviewed' && formDetailProcurementModalCtrl.statName == 'Approval Review')" ng-model="formDetailProcurementModalCtrl.comments" style="resize:none; width: 100%; height:30%;"></textarea>-->
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formDetailProcurementModalCtrl.batal()" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BATAL' | translate}}</button>
        <button type="button" ng-if="formDetailProcurementModalCtrl.ubah == 1" class="btn btn-flat btn-success" ng-click="formDetailProcurementModalCtrl.simpan()" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>