<div class="container-fluid" ng-init="KuesionerCtrl.initialize('printableArea', 'button', 'divInfo','divInfo1')">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'FORM.HOME' | translate}}</a></li>
        <li><a href="#/suratPernyataan">{{'FORM.AGREEMENT' | translate}}</a></li>
        <li><a class="active">{{'Kuesioner' | translate}}</a></li>
    </ol>
    <div class="row" ng-if="KuesionerCtrl.CR==='1'">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                <strong>Info!</strong> Setelah selesai menyimpan data kuesioner, silahkan klik <strong> Download Kuesioner</strong> kemudian dicetak, ditandatangani dan diupload kembali pada menu <strong>Persetujuan </strong>.
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <!--
                <div class="col-md-6">
                    <div class="box-vale-gray"><h5>Completed by: <br />Vale Internal</h5></div>
                </div>-->
                <div class="col-md-12">
                    <img class="pull-right" src="assets/img/logo-mubadala.png" style="width:120px" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="caecilia-light vale-green-text font-34">Due Diligence Questionnaire</div>
                </div>
            </div>

            <div class="row margin-atas myriad-regular">
                <div class="col-md-12">Company Name and Location: {{KuesionerCtrl.vendor[1].Vendor.VendorName}} / {{KuesionerCtrl.address}}</div>
            </div>
            <div class="row myriad-regular">
                <div class="col-md-12">Registration Number or Tax ID No: {{KuesionerCtrl.npwp}}</div>
            </div>
            <div class="row myriad-regular">
                <div class="col-md-6">Contact Name: {{KuesionerCtrl.name}}</div>
                <div class="col-md-6">Email: {{KuesionerCtrl.email}}</div>
                <div class="col-md-6">Phone: {{KuesionerCtrl.telp}}</div>
            </div>
            <div class="row myriad-regular">
                <div class="col-md-6">Contract Name: </div>
                <div class="col-md-6">Project Name: </div>
            </div>

            <div class="row margin-atas">
                <div class="col-md-12">
                    <p class="myriad-regular">The Mubadala Group established its 3rd Party Due Diligence program to support its ongoing commitment to meet all its legal and compliance obligations. This program is designed to ensure that Mubadala Group companies are in compliance with applicable laws enacted in each country where the Mubadala Group conducts business.</p>
                    <p class="myriad-regular">The Mubadala Group will decide whether to enter into or continue any contractual relationship with you or your Company based in part on the responses to this Due Diligence Questionnaire. If the Mubadala Group determines that you have provided any false, incomplete or misleading statements, Mubadala may immediately terminate 
                        any contractual relationships with you or your Company and take any other action allowed by contract or applicable laws.</p>
                    <p class="myriad-regular">It is necessary for you to answer each question completely. Please be specific and thorough in your responses. If the information does not fit in the spaces provided in this Questionnaire, please provide the information separately.</p>
                </div>
            </div>
            <form class="myriad-regular" name="KuesionerCtrl.questionForm" ng-submit="KuesionerCtrl.save()">
                <div class="row rowQuestion" ng-repeat="pt in KuesionerCtrl.data">
                    <div class="col-md-1" style="width: 10px; display:inline-block!important;">{{$index + 1}}. </div>
                    <div class="col-md-11 col-question">
                        <div class="form-group form-question">
                            <div class="question"><span ng-bind-html="pt.question"></span></div>
                            <div class="row">
                                <div ng-repeat="n in pt.type" class="col-md-3">
                                    <label>
                                        <input ng-disabled="!KuesionerCtrl.IsApprovedCR" type="radio" name="pageNumber{{pt.ID}}" ng-model="pt.Value" ng-value="{{n.ID}}" /> {{n.question}}
                                    </label>
                                </div>
                                <div class="col-md-12" ng-if="pt.DetailId === pt.Value">
                                    <label>{{pt.AnswerName}}</label>
                                    <textarea ng-disabled="!KuesionerCtrl.IsApprovedCR" name="description{{pt.ID}}" class="form-control" required ng-model="pt.Description"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row hidden-content" id="divInfo">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"DATE_INFO" | translate}}
                    </div>
                </div>
                <div class="row hidden-content" id="divInfo1">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"SIGNATURE" | translate}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="text-center">
                <a ng-click="KuesionerCtrl.back()" id="button" class="btn btn-flat btn-primary">
                    <i class="fa fa-arrow-circle-left"></i> &nbsp; {{'KUESIONER.BACK' | translate}}
                </a>
                <button ng-if="KuesionerCtrl.IsApprovedCR" id="button" class="btn btn-flat btn-success" ng-click="KuesionerCtrl.printDiv('printableArea', 'button', 'divInfo','divInfo1')" ng-disabled="KuesionerCtrl.questionForm.$invalid">
                    <i class="fa fa-save"></i> &nbsp; {{'KUESIONER.SIMPAN' | translate}}
                </button>
                <a ng-if="KuesionerCtrl.vendorQues.length != 0"   ng-click="KuesionerCtrl.downloadQuestionnaire()" class="btn btn-flat btn-warning">
                    <i class="fa fa-download"></i> &nbsp; {{'KUESIONER.DOWNLOAD' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>

<div id="form" ng-hide="true" class="container-fluid">
    <div class="row" style="margin-top:50px;">
        <div class="row" style="width:100%;">
            <div class="pull-right">
                <img src="assets/img/logo-mubadala.png" class="img-responsive pull-right" style="padding-left:85%;padding-top:5px; width:100px; height:40px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Kuesioner-title" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                    {{"KUESIONER.TITLE" | translate}}
                </div>
                <!--<hr style="border-top: 1px dotted darkgreen" />-->
            </div>
        </div>
        <br />
        <div class="row" style="width:1000px;">
            <div class="row vendor-info">
                <div class="col-md-3">{{"VENDOR_INFO" | translate}}</div>
                <div class="col-md-9">: {{KuesionerCtrl.vendor[1].Vendor.VendorName}} / {{KuesionerCtrl.address}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"NOMOR_INFO" | translate}}</div>
                <div class="col-md-9">: {{KuesionerCtrl.npwp}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"CONTACT_INFO" | translate}}</div>
                <div class="col-md-9">: {{KuesionerCtrl.name}} / {{KuesionerCtrl.telp}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"DATE_INFO" | translate}}</div>
                <div class="col-md-9">: {{KuesionerCtrl.tglSekarang | date: "dd-MM-yyyy"}}</div>
            </div>
            <br />
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger text-center">
                    <span class="kuesioner-note">
                        <!--
    <p ng-bind-html="'KUESIONER.NOTE' | translate"></p>-->
                        <p>As part of Mubadala Petroleum Global Anti-Corruption Program, please answer the following questions according to the services, materials and/or equipment that are supplied/may be supplied by the Company to Mubadala Petroleum. This includes all subcontractors2, agents or similar that will be used by the Company in connection with such supply</p>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <form name="KuesionerCtrl.questionForm">
                <div class="row rowQuestion" ng-repeat="pt in KuesionerCtrl.data">
                    <div class="col-md-1 number" style="width: 10px; display:inline-block!important;">{{$index + 1}}. </div>
                    <div class="col-md-11 col-question">
                        <div class="form-group form-question">
                            <label class="labelnonbold question"><span ng-bind-html="pt.question"></span></label>
                            <div class="row answer">
                                <label ng-repeat="n in pt.type" class="kuesioner-answer"> 
                                    <input class="col-answer" type="radio" ng-checked="n.DetailAnswer" />{{n.question}}
                                </label>
                            </div>
                            <div class="row  desc-print " ng-if="pt.DetailId === pt.Value">
                                <label class="labelnonbold">{{'DETAIL' | translate}}: </label>
                                <label class="labelnonbold Description">{{pt.Description}}</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="row margin-atas hidden-content" ng-if="KuesionerCtrl.currentLang=='en'">
                    <div class="col-md-12">
                        Definitions:
                        <br />
                        <strong>Government Official</strong> means: <br />
                        <ul>
                            <li>who, albeit on a temporary basis and with no compensation, occupies a position, is employed by, or exercises a public function in government entities, legal entities controlled directly or indirectly by public entities (including state owned enterprises), be them national or foreign</li>
                            <li>an employee, officer or representative of, or any person otherwise acting in an official capacity for or on behalf of, a Government Authority (as defined below);</li>
                            <li>a member of an assembly or a committee, or employees engaged in the performance of public duties in accordance with applicable laws and regulations;</li>
                            <li>a legislative, administrative, or judicial official, regardless of whether elected or appointed;</li>
                            <li>an officer of, or individual who holds a position in, a political party;</li>
                            <li>a candidate for political office;</li>
                            <li>an individual who holds any other official, ceremonial, or other appointed or inherited position with a government or any of its agencies;</li>
                            <li>an officer or employee of an international organization (including, without limitation, the World Bank, United Nations, International Monetary Fund and OECD);</li>
                            <li>a person who is, or hold himself out to be, an intermediary acting on behalf of a government official; or</li>
                            <li>a person who, although not a public officer, is determined by applicable legislation to be equivalent to a public officer.</li>
                        </ul><br />
                        <strong>Govermental Authority</strong> means:<br />
                        <ul>
                            <li>a Governmental Entity: any supra national, national, state, municipal or local government (including any court administrative agency or commission or other governmental authority) or any arbitrator or any quasi governmental or private body exercising any regulatory, judicial or other governmental or quasi governmental powers.</li>
                            <li>an instrumentally, board, commission, court, or agency, whether civilian or military, of any Governmental Entity, however constituted;</li>
                            <li>an association, organization, business or enterprise which is owned or controlled, directly or indirectly, by a Governmental Entity; or</li>
                            <li>a political party</li>
                        </ul>
                    </div>
                </div>
                <hr class="margin-atas"  style="border-top: 1px dotted darkgreen" />
                <div class="row hidden-content" id="divInfo">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"DATE_INFO" | translate}}
                    </div>
                </div>
                <div class="row hidden-content" id="divInfo1">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"SIGNATURE" | translate}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>