﻿<!doctype html>
<html class="no-js font-family: Nunito" lang="id" ng-app="app" ng-controller="MainController as main" ng-init="main.initialize()">

<head id="www-sitename-com" data-template-set="html5-reset">
	<style>
		[ng-cloak] {
			display: none !important;
		}
		/* Firefox old*/
		@-moz-keyframes blink {
			0% {
				opacity: 1;
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		@-webkit-keyframes blink {
			0% {
				opacity: 1;
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}
		/* IE */
		@-ms-keyframes blink {
			0% {
				opacity: 1;
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}
		/* Opera and prob css3 final iteration */
		@keyframes blink {
			0% {
				opacity: 1;
			}

			50% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		.blink-image {
			-moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
			-webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
			-ms-animation: blink normal 2s infinite ease-in-out; /* IE */
			animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
			padding: 10px;
			margin: 20px;
			/*border: 1px solid #b6c8da;*/
		}
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title ng-cloak>{{$root.pageTitle | translate}} - {{main.pageComponent.APP_NAME}}</title>

	<meta name="description" content="">
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<link href="assets/img/icon_petrosea.ico" rel="shortcut icon" type="image/x-icon" />


	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap.css" />
	<!--<link rel="stylesheet" type="text/css" media="print" href="assets/css/print.css" />-->
	<!--    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap-theme.min.css" />-->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap/bootstrap-datepicker3.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/jquery/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/jquery/jquery-ui.theme.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/jquery/jquery-growl.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/itpi-eproc.css" />
	<link rel="stylesheet" type="text/css" href="assets/selectize/selectize.css" />

	<!-- <link rel="stylesheet" type="text/css" href="assets/css/app.min.css" /> -->
	<!-- Local Resource -->
	<link rel="stylesheet" type="text/css" href="assets/css/open-sans.font.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome/css/font-awesome.min.css" />
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/tps-eproc.css" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/custom_front.css" /> -->
	<link rel="stylesheet" type="text/css" href="assets/css/treeGrid.css" />
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/custom.css" /> -->
	<!--<link rel="stylesheet" type="text/css" href="assets/css/caecilia-font.css" />-->
	<link rel="stylesheet" type="text/css" href="assets/css/rolas-design.css" ng-if="main.isLoggedIn()=='true'" />
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/custom-homepage.css" /> -->
	<!-- Sweetalert CSS -->
	<link rel="stylesheet" type="text/css" href="assets/directives/sweetalert2/dist/sweetalert2.min.css" />
	<script async src="assets/directives/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script async src="assets/directives/cacheFactory.js"></script>
	<link rel="stylesheet" href="assets/css/angular-growl.css" />
	<!--<link href="assets/directives/"/>-->
	<style type="text/css">
		/* Menghindari Font Yang Tidak Terinstall di PC User*/
		@font-face {
			font-family: Nunito;
			src: url(assets/fonts/nunito-regular.eot);
		}

		.standard-color {
			color: #ee7214 !important;
		}

		.navbar-default .navbar-nav > li > a {
			color: #00694f !important;
		}

		body, .navbar-default {
			font-family: Nunito !important;
		}

		.date-picker-background {
			background-color: white !important;
		}

		#footer {
			position: absolute;
			bottom: 100;
			width: 100%;
			height: 60px; /* Height of the footer */
			background: #fff;
		}

		#container {
			min-height: 100%;
			position: relative;
		}

		.spinner-text {
			padding: 20px;
		}

		.half-circle-spinner, .half-circle-spinner * {
			box-sizing: border-box;
		}

		.half-circle-spinner {
			width: 60px;
			height: 60px;
			border-radius: 100%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}

		.img-logo {
			background: transparent url("../assets/img/logo-mubadala.jpg");
			width: 182px;
			height: 50px;
			margin-top: 18px;
		}

		.half-circle-spinner .circle {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			border: calc(60px / 10) solid transparent;
		}

			.half-circle-spinner .circle.circle-1 {
				border-top-color: #3958d0;
				animation: half-circle-spinner-animation 1s infinite;
			}

			.half-circle-spinner .circle.circle-2 {
				border-bottom-color: #3958d0;
				animation: half-circle-spinner-animation 1s infinite alternate;
			}

		@keyframes half-circle-spinner-animation {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	</style>





	<!-- Remote Resources -->
	<!--
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:500,400,300' rel='stylesheet' type='text/css'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	-->
	<!--[if gte IE 9]>
	<style type="text/css">
		.gradient {
		   filter: none;
		}
	  </style>
	<![endif]-->
</head>


<body ng-cloak oncontextmenu="return false" ng-class="{'skin-blue fixed': main.isAdmin() || !main.isAdmin()}">
	<!--<body oncontextmenu="return false" ng-class="skin-blue fixed">-->
	<page-header ng-if="main.isLoggedIn()=='false'"></page-header>
	<!--<page-header></page-header>-->
	<div class="view" ng-if="main.isLoggedIn()=='false'" style="outline: solid;">
		<div growl></div>
		<div class="content ui-view" style="padding:0px;"></div>
	</div>

	<admin-top-menu ng-if="main.isLoggedIn()=='true'"></admin-top-menu>
	<div class="wrapper row-offcanvas row-offcanvas-left" ng-if="!main.isAdmin() && main.isLoggedIn()=='true' && !main.isLangChanged">
		<aside ng-if="!main.requireHideSideMenu() && main.menuLoaded">
			<alta-sidebar-menu class="left-side sidebar-offcanvas" menu-items="main.menus"></alta-sidebar-menu>
			<alta-sidebar-menu class="left-side-toogle" menu-items="main.menusMin" onclick="toggleSideBar()"></alta-sidebar-menu>
		</aside>
		<aside class="right-side" ng-class="{'strech':main.requireHideSideMenu()}">
			<div growl></div>
			<ui-view></ui-view>
		</aside>
	</div>

	<div class="wrapper row-offcanvas row-offcanvas-left" ng-if="main.isLoggedIn()=='true' && main.isAdmin() && !main.isLangChanged">
		<aside ng-if="!main.requireHideSideMenu() && main.menuLoaded">
			<alta-sidebar-menu class="left-side " menu-items="main.menus"></alta-sidebar-menu>
			<alta-sidebar-menu class="left-side-toogle" menu-items="main.menusMin" onclick="toggleSideBar()"></alta-sidebar-menu>
		</aside>
		<aside class="right-side" ng-class="{'strech':main.requireHideSideMenu() }">
			<div growl></div>
			<ui-view></ui-view>
		</aside>
	</div>

	<div class="wrapper row-offcanvas row-offcanvas-left" ng-if="main.isLoggedIn()=='true' && main.isLangChanged">
		<aside ng-if="!main.requireHideSideMenu() && main.menuLoaded">
			<alta-sidebar-menu class="left-side sidebar-offcanvas" menu-items="main.menus"></alta-sidebar-menu>
			<alta-sidebar-menu class="left-side-toogle" menu-items="main.menusMin" onclick="toggleSideBar()"></alta-sidebar-menu>
		</aside>
		<aside class="right-side" ng-class="{'strech':main.requireHideSideMenu() }">
			<div growl></div>
			<ui-view></ui-view>
		</aside>
	</div>
	<!--<page-footer></page-footer>-->
	<!-- Local Resource -->
	<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker
				.register('/serviceworker.js')
				.then(function () { console.log('Service Worker Registered'); });
		}
	</script>
	<!-- PDF -->
	<script type="text/javascript" src="assets/js/lib/jquery/jquery.js"></script>
	<!--<script type="text/javascript" src="assets/js/lib/jquery/jquery.min.js"></script>-->
	<script>
		function toggleSideBar() {
			//If window is small enough, enable sidebar push menu
			if ($(window).width() <= 992) {
				$('.row-offcanvas').toggleClass('active');
				$('.left-side').removeClass("collapse-left");
				$(".right-side").removeClass("strech");
				$('.row-offcanvas').toggleClass("relative");
			} else {
				//Else, enable content streching
				$('.left-side').toggleClass("collapse-left");
				$(".right-side").toggleClass("strech");
			}
		}
	</script>
	<script type="text/javascript" src="assets/js/lib/pdfmake/pdfmake.min.js"></script>

	<script type="text/javascript" src="assets/js/lib/pdfmake/vfs_fonts.js"></script>
	<script type="text/javascript" src="assets/js/lib/htlm2canvas/html2canvas.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/jsPDF/jspdf.debug.js"></script>

	<!-- ChartJS -->
	<script type="text/javascript" src="assets/js/lib/chart/Chart.js"></script>

	<!-- Angular -->

	<script type="text/javascript" src="assets/js/lib/angular/angular.js"></script>
	<!--<script type="text/javascript" src="assets/js/lib/angular/angular.min.js"></script>-->
	<script type="text/javascript" src="assets/js/lib/angular/angular-ui-router.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-chart.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-animate.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-aria.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-cookies.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-resource.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-loader.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-sanitize.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-touch.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-loading-bar.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/angular-ngprogress.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/translate/angular-translate.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/translate/angular-translate-static-loader.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/translate/angular-translate-loader-partial.js"></script>
	<script src="assets/js/lib/angular/angular-growl.js" type="text/javascript"></script>
	<script src="assets/js/lib/angular/angular-file-upload.min.js"></script>

	<!-- textAngular -->
	<script type="text/javascript" src="assets/js/lib/textAngular/textAngular-sanitize.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/textAngular/textAngular.min.js"></script>


	<!-- jQuery -->
	<script type="text/javascript" src="assets/js/lib/jquery/jquery-print.js"></script>
	<script type="text/javascript" src="assets/js/lib/jquery/jquery-md5.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/jquery/jquery-blockUI.js"></script>
	<script type="text/javascript" src="assets/js/lib/jquery/jquery-growl.js"></script>
	<script type="text/javascript" src="assets/js/lib/jquery/jquery-masked-input.js"></script>
	<script type="text/javascript" src="assets/js/lib/jquery/jquery-ui.js"></script>
	<script type="text/javascript" src="assets/js/lib/jquery/jquery.signalR-2.0.0.min.js"></script>
	<script type="text/javascript" src="assets/selectize/angular-selectize.js"></script>
	<script type="text/javascript" src="assets/selectize/selectize.js"></script>
	<!-- Sweet Alert JS -->
	<script type="text/javascript" src="assets/js/sweetalert.min.js"></script>
	<!-- Moment JS -->
	<script type="text/javascript" src="assets/js/lib/momentjs/moment.js"></script>
	<!-- sweetaler2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<!-- Bootstrap -->
	<script type="text/javascript" src="assets/js/lib/bootstrap/bootstrap.js"></script>
	<script type="text/javascript" src="assets/js/lib/bootstrap/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="assets/js/lib/bootstrap/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/ui/bootstrap/ui-bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/ui/bootstrap/ui-bootstrap.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/ui/bootstrap/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/ui/ui-mask.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/bootboxjs/bootbox.js"></script>

	<!-- Datatables -->
	<script type="text/javascript" src="assets/js/lib/datatables/jquery.datatables.js"></script>
	<script type="text/javascript" src="assets/js/lib/datatables/bootstrap.datatables.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/datatables/angular-datatables.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular/datatables/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>

	<!-- Oc Lazy Load -->
	<script type="text/javascript" src="assets/js/lib/oclazyload/ocLazyLoad.js"></script>

	<!-- SocketIO (replaced with SignalR) -->
	<!--<script type="text/javascript" src="assets/js/lib/socket.io/socket.io.js"></script>-->
	<!-- angular SignalR -->
	<!--<script type="text/javascript" src="assets/js/lib/angular-signalr-hub/signalr-hub.min.js"></script>-->
	<script type="text/javascript" src="assets/js/lib/angular-signalr-hub/signalr-hub.js"></script>

	<script src="assets/js/angular-file-saver.bundle.min.js"></script>
	<!--<script src="assets/js/lib/angular-filesaver/utils/utils.service.js"></script>
	<script src="assets/js/lib/angular-filesaver/dependencies/file-saver-bundle.service.js"></script>
	<script src="assets/js/lib/angular-filesaver/dependencies/blob-bundle.service.js"></script>
	<script src="assets/js/lib/angular-filesaver/dependencies/file-saver.service.js"></script>
	<script src="assets/js/lib/angular-filesaver/dependencies/blob.service.js"></script>
	<script src="assets/js/lib/angular-filesaver/angular-file-saver.service.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular-filesaver/angular-file-saver-bundle.module.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular-filesaver/angular-file-saver.module.js"></script>-->
	<!-- treeGrid -->
	<script type="text/javascript" src="assets/directives/tree-grid-directive.js"></script>

	<!-- Admin LTE-->
	<script type="text/javascript" src="assets/js/lib/adminlte.js"></script>
	<script type="text/javascript" src="assets/js/lib/angular-adminlte.min.js"></script>

	<script type="text/javascript" src="assets/js/lib/filesaver.js"></script>

	<!-- Remote Resources -->
	<!--
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-aria.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-cookies.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-resource.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-loader.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.6/angular-touch.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.4.0/jQuery.print.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.5/jquery.jgrowl.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.13/jquery.tinymce.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/angular-datatables.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.5.4/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.0.9/ocLazyLoad.min.js"></script>
	-->
	<!-- App Runner -->
	<script type="text/javascript" src="app/app.module.js"></script>

	<script type="text/javascript" src="app/app.config.js?v=1.000002"></script>
	<script type="text/javascript" src="app/app.run.js?v=1.000002"></script>
	<script type="text/javascript" src="app/common/route-helper.provider.js"></script>

	<!-- Global Services -->
	<script type="text/javascript" src="app/common/socket.service.js"></script>

	<script type="text/javascript" src="app/common/page.service.js"></script>
	<script type="text/javascript" src="app/common/ui-control.service.js"></script>
	<script type="text/javascript" src="app/common/auth.service.js"></script>
	<script type="text/javascript" src="app/common/uploader.service.js"></script>
	<script type="text/javascript" src="app/common/common-engine.service.js?v=1.000002"></script>
	<script type="text/javascript" src="app/common/notification.service.js"></script>
	<script type="text/javascript" src="app/common/Mailer.Service.js"></script>


	<!-- Global Directives -->
	<script type="text/javascript" src="app/common/global.directive.js?v=1.000002"></script>
	<script type="text/javascript" src="app/layouts/visitor-menu.directive.js"></script>
	<script type="text/javascript" src="app/layouts/admin-top-menu.js"></script>
	<script type="text/javascript" src="app/layouts/page-header.directive.js"></script>
	<script type="text/javascript" src="app/layouts/sidemenu.directive.js"></script>
	<script type="text/javascript" src="app/layouts/eproc-menu.directive.js"></script>
	<script type="text/javascript" src="app/layouts/page-footer.directive.js"></script>


	<!-- Global Controller -->
	<script type="text/javascript" src="app/common/main.controller.js?v=1.000002"></script>

	<!-- Global filters -->
	<script type="text/javascript" src="app/common/ucwords.filter.js"></script>

	<!-- TinyMCE -->
	<script type="text/javascript" src="assets/js/lib/tinymce/tinymce.js"></script>

	<!-- currency mask -->
	<script type="text/javascript" src="assets/js/lib/angular/angular-currency-mask.js"></script>

	<!-- ng-idle -->
	<script type="text/javascript" src="assets/js/lib/ng-idle/angular-idle.min.js"></script>

	<script type="text/javascript" src="app/common/global-constants.service.js"></script>


</body>
</html>
