﻿<section class="content" ng-init="accessLogAdminCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.LOG_ACCESS_ADMIN' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float:none!important">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<div class="col-md-5">
							<h3 class="judul-datatabel afta-font">{{'BREADCRUMB.LOG_ACCESS_ADMIN' | translate}}</h3>
						</div>
						<div class="col-md-3">
							<select id="cmbFilter" name="cmbFilter" ng-model="accessLogAdminCtrl.filterBy" class="form-control" ng-options="item.Value as item.Name | translate for item in accessLogAdminCtrl.listFilter">
								<option value="" selected disabled>-- {{'SEARCH_BY'|translate}} --</option>
							</select>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{{'KEYWORD' | translate}}" ng-model="accessLogAdminCtrl.srchText" />
								<span class="input-group-btn">
									<button ng-click="accessLogAdminCtrl.show()" type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'BTN_SEARCH' | translate}}">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<!--<div class="row">
						<div class="col-md-7">
							<pagination total-items="accessLogCtrl.totalItems" page="accessLogCtrl.currentPage" items-per-page="10" max-size="accessLogCtrl.maxSize" on-select-page="accessLogCtrl.jLoad()" ng-show="accessLogCtrl.totalItems > 10"></pagination>
						</div>
					</div>-->
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical">No.</th>
											<th class="center-vertical">Activity Name</th>
											<th class="center-vertical">Created By</th>
											<th class="center-vertical">Timestamp</th>
											<!--<th class="center-vertical"></th>-->
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="log in accessLogAdminCtrl.logs">
											<td class="center-vertical">{{accessLogAdminCtrl.currPage > 1 ? (accessLogAdminCtrl.maxSize * (accessLogAdminCtrl.currPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{log.ActivityName}}</td>
											<td style="vertical-align: middle;">{{log.CreatedBy}}</td>
											<td style="vertical-align: middle;">{{log.Timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
											<!--<td class="center-vertical">
												<a ng-click="accessLogAdminCtrl.view(log)" class="btn btn-flat btn-sm btn-primary" title="View">
													<i class='fa fa-edit'></i>&nbsp;
												</a>
											</td>-->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="accessLogAdminCtrl.totalItems" ng-model="accessLogAdminCtrl.currPage"
								class="pagination-sm" previous-text="&lsaquo;" max-number="10" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
								ng-change="accessLogAdminCtrl.jLoad()" max-size="10"></ul>
							<br />
						</div>
					</div><br />
					<label>{{'Total Data' | translate}} : {{accessLogAdminCtrl.totalItems}}</label>
				</div>
			</div>
		</div>
	</div>
</section>