<section class="content" ng-init="AuctionVendorCtrl.init()">
    <ol class="breadcrumb">
        <li>
            <a href="#/home-admin">
                <i class="fa fa-home"></i>
                {{'BREADCRUMB.HOME'|translate}}
            </a>
        </li>
        <li><a href="#">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.AUCTION'|translate}}</a></li>
    </ol>

    <div class="row">
        <div class="col-md-12 col-xs-12 center-block" style="float:none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>Auction</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label style="padding-top:30px;">{{'TENDER_NAME'|translate}} : </label>
                            <strong>{{AuctionVendorCtrl.tenderName}}</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <label class="text-bold">
                                <i class="fa fa-clock-o"></i> {{'START_DATE'|translate}} :
                            </label>
                            <small>{{AuctionVendorCtrl.startDate | date:"dd-MM-yyyy HH:mm"}}</small>
                        </div>
                        <div class="col-md-6 text-right">
                            <label class="text-bold">
                                <i class="fa fa-clock-o"></i> {{'END_DATE'|translate}} :
                            </label>
                            <small>{{AuctionVendorCtrl.endDate | date:"dd-MM-yyyy HH:mm"}}</small>
                        </div>
                    </div>
                    <div class="row" ng-if="AuctionVendorCtrl.isJoin == false">
                        <div class="col-md-12 text-center" style="padding-top:10px;">
                            <button class="btn btn-md btn-flat btn-primary" ng-click="AuctionVendorCtrl.joinAuction()" ng-disabled="AuctionVendorCtrl.batasBawah == null">
                                <i class="fa fa-thumbs-o-up"></i> {{'JOIN_AUCTION'|translate}}
                            </button>
                        </div>
                    </div>

                    <div id="bid" ng-if="AuctionVendorCtrl.isJoin == true">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="panel panel-default text-center">
                                    <div class="panel-heading" style="background:#ecf0f1;">
                                        <div id="progress" ng-show="AuctionVendorCtrl.distance > 0">
                                            <h5>{{'COUNTDOWN'|translate}}</h5>
                                            <small>{{AuctionVendorCtrl.days}} hari, {{AuctionVendorCtrl.hour}} jam, {{AuctionVendorCtrl.minutes}} menit, {{AuctionVendorCtrl.seconds}} detik</small>
                                        </div>
                                        <div id="end" ng-show="AuctionVendorCtrl.distance <= 0">
                                            <h4>{{'END_AUCTION'|translate}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h4>{{'BEST_BID'|translate}}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="text-center">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <!--<div class="row">
                                                <div class="col-md-12">
                                                    <div id="waktuPenawran">
                                                        <small class="pull-right" style="font-size:10px;">
                                                            <i class="fa fa-clock-o"></i> 07-08-2017 10:21
                                                        </small>
                                                    </div>
                                                    <hr />
                                                </div>
                                            </div>-->
                                            <div class="row">
                                                
                                                <div class="col-md-12" style="padding-top: 30px; padding-bottom: 30px;">
                                                    <div id="namaRekanan" ng-if="AuctionVendorCtrl.biddingInformationName == 'ONLY_NAME' || AuctionVendorCtrl.biddingInformationName == 'PRICE_AND_NAME'">
                                                        <small>{{'VENDOR_NAME'|translate}}</small>
                                                        <h4 class="text-bold">{{AuctionVendorCtrl.bestVendorName}}</h4>
                                                        <h4 class="text-bold" ng-if="AuctionVendorCtrl.bestVendorName == null || AuctionVendorCtrl.bestVendorName == undefined">-</h4>
                                                    </div>
                                                    <div id="hargaPenawaran" ng-if="AuctionVendorCtrl.biddingInformationName == 'ONLY_PRICE' || AuctionVendorCtrl.biddingInformationName == 'PRICE_AND_NAME'">
                                                        <small>{{'BID_PRICE'|translate}}</small>
                                                        <h4 class="text-bold">{{AuctionVendorCtrl.bestBidPrice}}</h4>
                                                        <h4 class="text-bold" ng-if="AuctionVendorCtrl.bestBidPrice == null || AuctionVendorCtrl.bestBidPrice == undefined">-</h4>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--<div class="row">
                                                <div class="col-md-12">
                                                    <div id="statusPenawaran" style="padding-top: 20px;">
                                                        <small><b>2</b> Penawaran Masih Diatas HPS</small>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <table>
                                    <tr>
                                        <td class="text-bold">{{'ENTER_OFFER'|translate}}</td>
                                        <td>:</td>
                                        <td><input ng-disabled="AuctionVendorCtrl.isOverTime == true" currency-mask type="text" class="form-control input-sm" ng-model="AuctionVendorCtrl.bidPrice" style="width: auto;" /></td>
                                        <td><button type="button" class="btn btn-sm btn-info" ng-click="AuctionVendorCtrl.detailPenawaran()" style="margin-bottom:10px; margin-left:10px; margin-right:10px;"><i class="fa fa-list"></i> {{'DETAIL_PENAWARAN' | translate}}</button></td>
                                        <td class="pull-right"><button ng-disabled="AuctionVendorCtrl.isOverTime == true" type="button" class="btn btn-sm btn-info" ng-click="AuctionVendorCtrl.saveBidPrice()" style="margin-bottom:10px;"><i class="fa fa-upload"></i> Submit</button></td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">{{'BID_BEFORE'|translate}}</td>
                                        <td>:</td>
                                        <td ng-if="AuctionVendorCtrl.bidPriceBefore != 'Rp. 0.00'">{{AuctionVendorCtrl.bidPriceBefore}}</td>
                                        <td ng-if="AuctionVendorCtrl.bidPriceBefore == 'Rp. 0.00'">-</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold">{{'RANGKING'|translate}}</td>
                                        <td>:</td>
                                        <td ng-if="AuctionVendorCtrl.rangkingNow != 0"><b>{{AuctionVendorCtrl.rangkingNow}}</b> {{'FROM'|translate}} <b>{{AuctionVendorCtrl.totalPeserta}}</b> {{'PESERTA'|translate}}</td>
                                        <td ng-if="AuctionVendorCtrl.rangkingNow == 0">-</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>