﻿<div class="modal-content" ng-init="detPenawaranGoodsCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="detPenawaranGoodsCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'Keluar'|translate}}</span>
        </button>
        <h3 class="modal-title text-center afta-font" id="myModalLabel">Detail Penawaran</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Nama Pengadaan :</label>
                    {{detPenawaranGoodsCtrl.tenderName}}
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Harga Penawaran</label>
                    </div>
                    <div class="col-md-6" style="margin-left:-50px;">
                        <input currency-mask type="text" class="form-control" ng-model="detPenawaranGoodsCtrl.hargaPenawaran" />
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" name="generate" ng-model="detPenawaranGoodsCtrl.isGenerate" ng-click="detPenawaranGoodsCtrl.generate()" /> Generate Presentase Harga Penawaran
                        <!--<button class="btn btn-md btn-primary"><i class="fa fa-spinner"></i> Generate Presentase Harga Penawaran</button>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="5"></th>
                                <th class="text-center" colspan="2">Harga Rekanan</th>
                                <th class="text-center" colspan="2">Harga Auction</th>
                                <th class="text-center" colspan="2"></th>
                            </tr>
                            <tr>
                                <th class="text-center" style="vertical-align:middle;">No</th>
                                <th class="text-center" style="vertical-align: middle;">Material</th>
                                <th class="text-center" style="vertical-align: middle; width: 100px; min-width: 100px;">Part Number</th>
                                <th class="text-center" style="vertical-align: middle; width: 100px; min-width: 100px;">Deskripsi Item</th>
                                <th class="text-center" style="vertical-align: middle;">Jumlah</th>
                                <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;">Harga Satuan</th>
                                <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;">Jumlah Harga</th>
                                <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;">Harga Satuan</th>
                                <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;">Jumlah Harga</th>
                                <th class="text-center" style="vertical-align: middle; width: 120px; min-width: 120px;">Presentase</th>
                                <th class="text-center" style="vertical-align: middle;">Pilih</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in detPenawaranGoodsCtrl.offerEntry">
                                <td style="text-align:center; vertical-align:middle;">{{$index+1}}</td>
                                <td style="text-align:center; vertical-align:middle;">{{data.item.Material}}</td>
                                <td style="text-align:center; vertical-align:middle;">{{data.item.MPNMaterial}}</td>
                                <td style="text-align:center; vertical-align:middle;">{{data.item.ShortText}} {{data.item.ItemText}} {{data.item.MaterialPOText}} {{data.item.HeaderNote}} {{data.item.ItemNote}} {{data.item.DeliveryText}} {{data.item.NoteForBuyer}}</td>
                                <td style="text-align:center; vertical-align:middle;">{{data.item.Quantity}}</td>
                                <td style="text-align:right; vertical-align:middle;">IDR <br />{{data.UnitPrice | currency:'':''}}</td>
                                <td style="text-align:right; vertical-align:middle;">IDR <br />{{data.TotalPrice | currency:'':''}}</td>
                                <td style="text-align:right; vertical-align:middle;">IDR <input currency-mask type="text" class="form-control" ng-model="data.UnitPriceAuction" ng-disabled="detPenawaranGoodsCtrl.isGenerate" ng-change="detPenawaranGoodsCtrl.manualInput(data)" /></td>
                                <td style="text-align:right; vertical-align:middle;">IDR <input currency-mask type="text" class="form-control" ng-model="data.TotalPriceAuction" disabled /></td>
                                <td style="text-align:center; vertical-align:middle;">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="data.PrecentageAuction" disabled />
                                        <div class="input-group-addon">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align:center;vertical-align:middle;">
                                    <input type="checkbox" ng-model="data.isChoosed" />
                                </td>
                            </tr>
                            <tr ng-if="detPenawaranGoodsCtrl.totalItems === 0">
                                <td colspan="11">{{'NO_DATA' | translate }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" style="text-align:right; vertical-align:middle;">Sub Total : </th>
                                <th colspan="2" style="text-align:right; vertical-align:middle;">IDR <br />{{detPenawaranGoodsCtrl.totalHargaRekanan | currency:'':''}}</th>
                                <th colspan="2" style="text-align:right; vertical-align:middle;">IDR <br />{{detPenawaranGoodsCtrl.totalHargaAuction | currency:'':''}}</th>
                                <th colspan="2"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <ul uib-pagination boundary-links="true" total-items="detPenawaranGoodsCtrl.totalItems" ng-model="detPenawaranGoodsCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="detPenawaranGoodsCtrl.pageChanged()"></ul><br />
                <!--<pagination ng-show="detPenawaranGoodsCtrl.totalItems > 10" total-items="detPenawaranGoodsCtrl.totalItems" page="detPenawaranGoodsCtrl.currentPage" items-per-page="10" max-size="detPenawaranGoodsCtrl.maxSize" on-select-page="detPenawaranGoodsCtrl.loadSteps(page)"></pagination><br />-->
                <!--<label>{{'TOTAL_DATA' | translate }} : {{detPenawaranGoodsCtrl.totalItems}}</label>-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="detPenawaranGoodsCtrl.batal()" title="{{'BTN.BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button type="submit" class="btn btn-success" ng-click="detPenawaranGoodsCtrl.save()" title="{{'BTN.SIMPAN'|translate}}">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>