<div class="container-fluid viewpengalaman" ng-init="DataPengalamanController.initialize()">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.PENGALAMAN'|translate}}</a></li>
	</ol>
	<div class="col-md-12 center-block" style="float: none!important;">
		<div class="box">
			<div class="box-body">
				<div class="row">
					<div class="col-md-8">
						<h3 class="afta-font">{{'PEKERJAAN_SELESAI'|translate}}</h3>
						<h5 class="afta-font">
							<em>{{'TAHUN_TERAKHIR'|translate}}</em>
						</h5>
					</div>
					<div class="col-md-4 text-right">
						<a href="" class="btn btn-flat btn btn-primary turun-15" ng-if="DataPengalamanController.isEntry == true || DataPengalamanController.IsNeedRevision == true" ng-click="DataPengalamanController.addExp(obj, true, DataPengalamanController.isApprovedCR)" title="{{'BTN.ADD' | translate}}">
							<i class="fa fa-plus-circle"></i>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="row">
								<!--<div class="col-md-6">
									<h5 class="box-title"><strong>Data Sebelum Diubah</strong></h5>
									<div class="table table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
													<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="obj in DataPengalamanController.listExp">
													<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
													<td style="vertical-align: middle;">{{obj.ContractName}}</td>
													<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
													<td style="vertical-align: middle;">{{obj.Agency}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
													<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
													<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
													<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
													<td class="text-center" style="vertical-align: middle;">
														<a ng-click="DataPengalamanController.detailExp(obj)" class="label label-flat label-sm label-warning" title="Lihat Detail">
															<i class="fa fa-external-link"></i>
														</a> &nbsp;
													</td>
												</tr>
												<tr ng-if="DataPengalamanController.listFinishExp.length === 0">
													<td colspan="10">{{'NO_DATA'|translate}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>-->
								<div class="col-md-12">
									<!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
									<div class="table table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
													<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="obj in DataPengalamanController.listExpPrequal">
													<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
													<td style="vertical-align: middle;">{{obj.ContractName}}</td>
													<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
													<td style="vertical-align: middle;">{{obj.Agency}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
													<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
													<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
													<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
													<td class="text-center" style="vertical-align: middle;">
														<a ng-click="DataPengalamanController.detailExp(obj)" class="btn btn-flat btn-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
															<i class="fa fa-external-link"></i>
														</a>&nbsp;
														<a ng-if="DataPengalamanController.isEntry == true || DataPengalamanController.IsNeedRevision == true" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="btn btn-flat btn-primary" title="{{'BTN.EDIT'|translate}}">
															<i class="fa fa-edit"></i>
														</a>&nbsp;
														<a ng-if="DataPengalamanController.isEntry == true || DataPengalamanController.IsNeedRevision == true" ng-click="DataPengalamanController.deleteData(obj)" class="btn btn-flat btn-danger" title="{{'BTN.DELETE' | translate}}">
															<i class="fa fa-trash"></i>
														</a>
													</td>
												</tr>
												<tr ng-if="DataPengalamanController.listFinishExp.length === 0">
													<td colspan="10">{{'NO_DATA'|translate}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
				<h3 class="text-center afta-font">{{'PEKERJAAN_BERLANGSUNG'|translate}}</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<div class="row">
								<!--<div class="col-md-6">
									<h5 class="box-title"><strong>Data Sebelum Diubah</strong></h5>
									<div class="table table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
													<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="obj in DataPengalamanController.listExpFinsih">
													<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
													<td style="vertical-align: middle;">{{obj.ContractName}}</td>
													<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
													<td style="vertical-align: middle;">{{obj.Agency}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
													<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
													<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
													<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
													<td class="text-center" style="vertical-align: middle;">
														<a ng-click="DataPengalamanController.detailExp(obj)" class="label label-flat label-sm label-warning" title="Lihat Detail">
															<i class="fa fa-external-link"></i>
														</a>
													</td>
												</tr>
												<tr ng-if="DataPengalamanController.listFinishExp.length === 0">
													<td colspan="10">{{'NO_DATA'|translate}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>-->

								<div class="col-md-12">
									<!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
									<div class="table table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
													<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;"></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="obj in DataPengalamanController.listExpFinishPrequal">
													<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
													<td style="vertical-align: middle;">{{obj.ContractName}}</td>
													<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
													<td style="vertical-align: middle;">{{obj.Agency}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
													<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
													<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
													<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
													<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
													<td class="text-center" style="vertical-align: middle;">
														<a  ng-click="DataPengalamanController.detailExp(obj)" class="btn btn-flat btn-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
															<i class="fa fa-external-link"></i>
														</a> &nbsp;
														<a ng-if="DataPengalamanController.isEntry == true || DataPengalamanController.IsNeedRevision == true" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="btn btn-flat btn-primary" title="{{'BTN.EDIT'|translate}}">
															<i class="fa fa-edit"></i>
														</a>
														<a ng-if="DataPengalamanController.isEntry == true || DataPengalamanController.IsNeedRevision == true" ng-click="DataPengalamanController.deleteData(obj)" class="btn btn-flat btn-danger" title="{{'BTN.DELETE' | translate}}">
															<i class="fa fa-trash"></i>
														</a>
													</td>
												</tr>
												<tr ng-if="DataPengalamanController.listFinishExp.length === 0">
													<td colspan="10">{{'NO_DATA'|translate}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<a href="#/assessment-prakualifikasi-detail/{{DataPengalamanController.PrequalStepAssID}}/{{DataPengalamanController.VendorPrequalID}}" class="btn btn-primary">
							<i class="fa fa-arrow-circle-left"></i>
						</a>
						<a ng-if="DataPengalamanController.isEntry == true || DataPengalamanController.IsNeedRevision == true" class="btn btn-success" ng-click="DataPengalamanController.Submit(true)" title="{{'SETUJU' | translate}}">
							<i class="fa fa-check"></i>
						</a>
						<a ng-if="DataPengalamanController.isEntry == true || DataPengalamanController.IsNeedRevision == true" class="btn btn-danger" ng-click="DataPengalamanController.notvalid()" ng-disabled="DataPengalamanController.valid==false" title="{{'TIDAK_SETUJU' | translate}}">
							<i class="fa fa-close"></i>
						</a>
					</div>
					<div class="center-block text-center" ng-if="DataPengalamanController.valid==false">
						<div class="row margin-atas">
							<div class="col-md-6 col-md-offset-3">
								<label>{{'ALASAN' | translate}}</label>
								<textarea class="form-control" ng-model="DataPengalamanController.remark" placeholder="{{'ALASAN' | translate}}"></textarea>
								<a class="btn btn-success" ng-click="DataPengalamanController.Submit(false)">
									<i class="fa fa-save" title="{{'BTN.SAVE'|translate}}"></i>
								</a>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


