﻿<div id="idTambahLibrary" class="modal-content" ng-init="frmBCCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="frmBCCtrl.batal()">
			<span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span>
		</button>
		<h5 ng-if="frmBCCtrl.TenderDocType === 14" class="modal-title afta-font" id="myModalLabel">Ethical Policy</h5>
		<h5 ng-if="frmBCCtrl.TenderDocType === 13 || frmBCCtrl.TenderDocType === 16 || frmBCCtrl.TenderDocType === 15" class="modal-title afta-font" id="myModalLabel">{{'BREADCRUMB.STATEMENT_LETTER' | translate}}</h5>
	</div>
	<div class="modal-body" ng-if="frmBCCtrl.TenderDocType === 14">
		<!--{{'BUSINESS.DATE1' | translate}}<br /><br /><br />-->
		{{frmBCCtrl.DateNow | date: "MMMM yyyy"}}<br /><br />
		{{'BUSINESS.OPENING1' | translate}}<br /><br />
		{{'BUSINESS.TEXT1' | translate}}<br /><br />
		{{'BUSINESS.TEXT2' | translate}}<br /><br />
		{{'BUSINESS.TEXT3' | translate}}<br /><br />
		{{'BUSINESS.TEXT4' | translate}}<br /><br />
		<h4>{{'BUSINESS.ENDING1' | translate}}</h4><br /><br /><br />
		<h3>{{'BUSINESS.MISSIONTITLE' | translate}}</h3><br />
		{{'BUSINESS.MISSION' | translate}}<br /><br />
		<h3>{{'BUSINESS.VISIONTITLE' | translate}}</h3><br />
		{{'BUSINESS.VISION' | translate}}<br /><br />
		<h3>{{'BUSINESS.VALUETITLE' | translate}}</h3><br />
		<ul>
			<li>{{'BUSINESS.VALUE.1' | translate}}<br /></li>
			<li>{{'BUSINESS.VALUE.2' | translate}}<br /></li>
			<li>{{'BUSINESS.VALUE.3' | translate}}<br /></li>
			<li>{{'BUSINESS.VALUE.4' | translate}}<br /></li>
			<li>{{'BUSINESS.VALUE.5' | translate}}<br /></li>
			<li>{{'BUSINESS.VALUE.6' | translate}}<br /></li>
		</ul><br />
		<h3>{{'BUSINESS.INTRODUCTION' | translate}}</h3><br />
		{{'BUSINESS.TEXT5' | translate}}<br /><br />
		{{'BUSINESS.TEXT6' | translate}}<br /><br />
		{{'BUSINESS.TEXT7' | translate}}<br /><br />
		<h3>{{'BUSINESS.COUVERAGE' | translate}}</h3><br />
		{{'BUSINESS.TEXT8' | translate}}<br /><br /><br />
		<h4>{{'BUSINESS.TITLE2' | translate}}</h4><br />
		<h3>{{'BUSINESS.1' | translate}}</h3><br />
		{{'BUSINESS.TEXT9' | translate}}<br /><br />
		{{'BUSINESS.TEXT10' | translate}}<br /><br /><br />
		<h4>{{'BUSINESS.LEGISLATION' | translate}}</h4><br />
		{{'BUSINESS.TEXT11' | translate}}<br /><br /><br />
		<h4>{{'BUSINESS.CONTRACT' | translate}}</h4><br />
		{{'BUSINESS.TEXT12' | translate}}<br /><br />
		{{'BUSINESS.TEXT13' | translate}}<br /><br /><br />
		<h4>{{'BUSINESS.AGREEMENTS' | translate}}</h4><br />
		{{'BUSINESS.TEXT14' | translate}}<br /><br /><br />
		<h4>{{'BUSINESS.ANTI' | translate}}</h4><br />
		{{'BUSINESS.TEXT15' | translate}}<br /><br /><br />
		<h3>{{'BUSINESS.2' | translate}}</h3><br />
		{{'BUSINESS.TEXT16' | translate}}<br /><br />
		<ul>
			<li>{{'BUSINESS.2LIST.1' | translate}}</li>
			<li>{{'BUSINESS.2LIST.2' | translate}}</li>
			<li>{{'BUSINESS.2LIST.3' | translate}}</li>
			<li>{{'BUSINESS.2LIST.4' | translate}}</li>
			<li>{{'BUSINESS.2LIST.5' | translate}}</li>
		</ul><br /><br />
		<h3>{{'BUSINESS.3' | translate}}</h3><br />
		{{'BUSINESS.TEXT17' | translate}}<br /><br />
		<h4>{{'BUSINESS.CORRUPT' | translate}}</h4><br />
		{{'BUSINESS.TEXT18' | translate}}<br /><br />
		<ul>
			<li>{{'BUSINESS.CORRUPTLIST.1' | translate}}</li>
			<li>{{'BUSINESS.CORRUPTLIST.2' | translate}}</li>
			<li>{{'BUSINESS.CORRUPTLIST.3' | translate}}</li>
			<li>{{'BUSINESS.CORRUPTLIST.4' | translate}}</li>
		</ul><br />
		<h4>{{'BUSINESS.OFFER' | translate}}</h4><br />
		{{'BUSINESS.TEXT19' | translate}}<br /><br />
		<h4>{{'BUSINESS.CONFLICT' | translate}}</h4><br />
		{{'BUSINESS.TEXT20' | translate}}<br /><br />
		<h4>{{'BUSINESS.ABUSE' | translate}}</h4><br />
		{{'BUSINESS.TEXT21' | translate}}<br /><br />
		<h4>{{'BUSINESS.UNFAIR' | translate}}</h4><br />
		{{'BUSINESS.TEXT22' | translate}}<br /><br />
		<h4>{{'BUSINESS.SOCIAL' | translate}}</h4><br />
		{{'BUSINESS.TEXT23' | translate}}<br /><br /><br />
		<h3>{{'BUSINESS.4' | translate}}</h3><br />
		{{'BUSINESS.TEXT24' | translate}}<br /><br />
		<ul>
			<li>{{'BUSINESS.4LIST.1' | translate}}</li>
			<li>{{'BUSINESS.4LIST.2' | translate}}</li>
			<li>{{'BUSINESS.4LIST.3' | translate}}</li>
			<li>{{'BUSINESS.4LIST.4' | translate}}</li>
			<li>{{'BUSINESS.4LIST.5' | translate}}</li>
			<li>{{'BUSINESS.4LIST.6' | translate}}</li>
			<li>{{'BUSINESS.4LIST.7' | translate}}</li>
			<li>{{'BUSINESS.4LIST.8' | translate}}</li>
		</ul><br /><br />
		<h3>{{'BUSINESS.5' | translate}}</h3><br />
		{{'BUSINESS.TEXT25' | translate}}<br /><br />
		{{'BUSINESS.TEXT26' | translate}}<br /><br />
		<ul>
			<li>{{'BUSINESS.5LIST.1' | translate}}</li>
			<li>{{'BUSINESS.5LIST.2' | translate}}</li>
			<li>{{'BUSINESS.5LIST.3' | translate}}</li>
			<li>{{'BUSINESS.5LIST.4' | translate}}</li>
			<li>{{'BUSINESS.5LIST.5' | translate}}</li>
		</ul><br /><br />
		<h3>{{'BUSINESS.6' | translate}}</h3><br />
		{{'BUSINESS.TEXT27' | translate}}<br /><br />
		{{'BUSINESS.TEXT28' | translate}}<br /><br />
		<ul>
			<li>{{'BUSINESS.6LIST.1' | translate}}</li>
			<li>{{'BUSINESS.6LIST.2' | translate}}</li>
		</ul><br /><br />
		<h3>{{'BUSINESS.7' | translate}}</h3><br />
		{{'BUSINESS.TEXT29' | translate}}<br /><br />
		<h4>{{'BUSINESS.WORKING' | translate}}</h4><br />
		{{'BUSINESS.TEXT30' | translate}}<br /><br />
		<h4>{{'BUSINESS.DIVERSITY' | translate}}</h4><br />
		{{'BUSINESS.TEXT31' | translate}}<br /><br />
		<h4>{{'BUSINESS.INCLUSION' | translate}}</h4><br />
		{{'BUSINESS.TEXT32' | translate}}<br /><br />
		<h4>{{'BUSINESS.CHILD' | translate}}</h4><br />
		{{'BUSINESS.TEXT33' | translate}}<br /><br />
		{{'BUSINESS.TEXT34' | translate}}<br /><br />
		<h4>{{'BUSINESS.GENDER' | translate}}</h4><br />
		{{'BUSINESS.TEXT35' | translate}}<br /><br />
		{{'BUSINESS.TEXT36' | translate}}<br /><br />
		<h3>{{'BUSINESS.8' | translate}}</h3><br />
		{{'BUSINESS.TEXT37' | translate}}<br /><br />
		{{'BUSINESS.TEXT38' | translate}}<br /><br />
		<ul>
			<li>{{'BUSINESS.8LIST.1' | translate}}</li>
			<li>{{'BUSINESS.8LIST.2' | translate}}</li>
			<li>{{'BUSINESS.8LIST.3' | translate}}</li>
		</ul><br />
		{{'BUSINESS.TEXT39' | translate}}<br /><br />
		<h3>{{'BUSINESS.9' | translate}}</h3><br />
		{{'BUSINESS.TEXT40' | translate}}<br /><br />
		<h3>{{'BUSINESS.10' | translate}}</h3><br />
		{{'BUSINESS.TEXT41' | translate}}<br /><br />
		{{'BUSINESS.TEXT42' | translate}}<br /><br />
		{{'BUSINESS.TEXT43' | translate}}<br /><br />
		{{'BUSINESS.TEXT44' | translate}}<br /><br />
		<h3>{{'BUSINESS.11' | translate}}</h3><br />
		{{'BUSINESS.TEXT45' | translate}}<br /><br />
		{{'BUSINESS.TEXT46' | translate}}<br /><br />
		{{'BUSINESS.TEXT47' | translate}}<br /><br />
		<h3>{{'BUSINESS.12' | translate}}</h3><br />
		{{'BUSINESS.TEXT48' | translate}}<br /><br />
		{{'BUSINESS.TEXT49' | translate}}<br /><br />
		{{'BUSINESS.TEXT50' | translate}}<br /><br /><br />
		<h3>{{'BUSINESS.COMMITMENT' | translate}}</h3><br />
		{{'BUSINESS.TEXT51' | translate}} {{SrtPernyataanModalCtrl.vendorName}}
		{{'BUSINESS.TEXT52' | translate}} {{SrtPernyataanModalCtrl.Country}}
		{{'BUSINESS.TEXT53' | translate}} {{SrtPernyataanModalCtrl.StateName}}
		{{'BUSINESS.TEXT54' | translate}} {{SrtPernyataanModalCtrl.NamaDir}}, {{SrtPernyataanModalCtrl.Country}}, President Direktur
		{{'BUSINESS.TEXT55' | translate}} {{SrtPernyataanModalCtrl.noID}}
		{{'BUSINESS.TEXT56' | translate}}<br />
		<ul>
			<li>{{'BUSINESS.DECLARE.1' | translate}}</li>
			<li>{{'BUSINESS.DECLARE.2' | translate}}</li>
			<li>{{'BUSINESS.DECLARE.3' | translate}}</li>
			<li>{{'BUSINESS.DECLARE.4' | translate}}</li>
		</ul><br />{{frmBCCtrl.DateNow | date: "dd MMMM yyyy"}}<br /><br /><br />
		[Signature]<br />
	</div>
	<div class="modal-body" ng-if="frmBCCtrl.TenderDocType === 15">
		<h4 class="afta-font text-center" style="text-align: center!important;">{{'STATEMENTLETTER.LAW' | translate}} </h4><br /><br />
		{{'LETTER.TEXT1' | translate}}<br /><br />
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT2' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.CompanyPerson[0].PersonName}}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT3' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Vendor.VendorName}}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT4' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Contact.Address.AddressInfo}} {{frmBCCtrl.vendor[0].Contact.Address.AddressDetail }}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT5' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Vendor.Npwp}}</div>
		</div><br /><br />
		{{'LETTER.TEXT8' | translate}}
	</div>
	<div class="modal-body" ng-if="frmBCCtrl.TenderDocType === 16">
		<h4 class="afta-font text-center" style="text-align: center!important;">{{'STATEMENTLETTER.OFFERTIME' | translate}} </h4><br /><br />
		{{'LETTER.TEXT1' | translate}}<br /><br />
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT2' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.CompanyPerson[0].PersonName}}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT3' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Vendor.VendorName}}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT4' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Contact.Address.AddressInfo}} {{frmBCCtrl.vendor[0].Contact.Address.AddressDetail }}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT5' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Vendor.Npwp}}</div>
		</div><br /><br />
		{{'LETTER.TEXT9' | translate}}
	</div>
	<div class="modal-body" ng-if="frmBCCtrl.TenderDocType === 13">
		<h4 class="afta-font text-center" style="text-align: center!important;">{{'STATEMENTLETTER.OFFERLIMIT' | translate}}{{frmBCCtrl.Limit}}% ITEM </h4><br /><br />
		{{'LETTER.TEXT1' | translate}}<br /><br />
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT2' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.CompanyPerson[0].PersonName}}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT3' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Vendor.VendorName}}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT4' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Contact.Address.AddressInfo}} {{frmBCCtrl.vendor[0].Contact.Address.AddressDetail }}</div>
		</div>
		<div class="row">
			<div class="col-md-3">{{'LETTER.TEXT5' | translate}}</div>
			<div class="col-md-8">: {{frmBCCtrl.vendor[0].Vendor.Npwp}}</div>
		</div><br /><br />
		{{'LETTER.TEXT6' | translate}} {{frmBCCtrl.Limit}} {{'LETTER.TEXT6_1' | translate}} Tender Supplier {{'LETTER.TEXT7' | translate}}
	</div>
	<div class="modal-body" ng-if="frmBCCtrl.TenderDocType === 18">
		<div class="row">
			<div class="col-md-6 center-block" style="float: none!important;">
				<h3 class="text-center afta-font">{{'FORM.FINISHEXPERIENCE.TITLE' | translate}}</h3>
				<h5 class="text-center afta-font">
					<em>{{'FORM.FINISHEXPERIENCE.TITLE5YEARS' | translate}}</em>
				</h5>
			</div>
		</div>
		<div class="col-md-2 pull-right">
			<a ng-if="frmBCCtrl.inProcess === true" href="" class="btn btn-flat btn btn-primary turun-15" ng-click="frmBCCtrl.addExperience()" title="{{'BTN.TAMBAH'|translate}}">
				<i class="fa fa-plus-circle"></i>&nbsp;
			</a>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<div class="table table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTNAME' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.ADDRESS' | translate}}</th>
								<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTITUTION' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTVALUE' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDERTYPE' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDERBUSINESSFIELD' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.STARTDATE' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.ENDDATE' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in frmBCCtrl.listFinishExp">
								<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
								<td style="vertical-align: middle;">{{obj.ContractName}}</td>
								<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
								<td style="vertical-align: middle;">{{obj.Agency}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
								<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'Barang'|translate}}</td>
								<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'Jasa'|translate}}</td>
								<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'BarangdanJasa'|translate}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
								<td>
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.editExperience(obj)" class="btn btn-sm btn-primary" title="{{'BTN.EDIT' | translate}}"><i class="fa fa-edit"></i></a>
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.editActiveExp(obj)" class="btn btn-sm btn-danger" title="{{'BTN.DELETE' | translate}}">
										<i class="fa fa-trash"></i>
									</a>
								</td>
							</tr>
							<tr ng-if="frmBCCtrl.listFinishExp.length === 0">
								<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div><br />
		<div class="row">
			<div class="col-md-6 center-block" style="float: none!important;">
				<h3 class="text-center afta-font">{{'FORM.ONGOINGEXPERIENCE' | translate}}</h3>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<div class="table table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTNAME' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.ADDRESS' | translate}}</th>
								<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTITUTION' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTVALUE' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDERTYPE' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDERBUSINESSFIELD' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.STARTDATE' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">{{'TABLE.ENDDATE' | translate}}</th>
								<th class="text-center" style="vertical-align: middle;">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in frmBCCtrl.listCurrentExp">
								<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
								<td style="vertical-align: middle;">{{obj.ContractName}}</td>
								<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
								<td style="vertical-align: middle;">{{obj.Agency}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
								<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'Barang'|translate}}</td>
								<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'Jasa'|translate}}</td>
								<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'BarangdanJasa'|translate}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
								<td>
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.editExperience(obj)" class="btn btn-sm btn-primary" title="{{'BTN.EDIT' | translate}}"><i class="fa fa-edit"></i></a>
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.editActiveExp(obj)" class="btn btn-sm btn-danger" title="{{'BTN.DELETE' | translate}}">
										<i class="fa fa-trash"></i>
									</a>
								</td>
							</tr>
							<tr ng-if="frmBCCtrl.listCurrentExp.length === 0">
								<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-body" ng-if="frmBCCtrl.TenderDocType === 20">
		<div class="row">
			<div class="col-md-10">
				<h3 class="afta-font center">{{'TABLE.VEHICLETITLE' | translate}}</h3>
			</div>
			<div class="col-md-2">
				<a ng-if="frmBCCtrl.inProcess === true" href="" class="btn btn-flat btn btn-primary turun-15" ng-click="frmBCCtrl.editKendaraan('vehicle')" title="{{'BTN.TAMBAH'|translate}}">
					<i class="fa fa-plus-circle"></i>&nbsp;
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
								<th class="center-vertical">{{'TABLE.VEHICLENAME' | translate}}</th>
								<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
								<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
								<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
								<th class="center-vertical">{{'TABLE.CAPACITY' | translate}}</th>
								<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
								<th class="center-vertical">{{'TABLE.OWNERSHIP' | translate}}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="objc in frmBCCtrl.listVehicle">
								<td class="text-center">{{frmBCCtrl.currentPageVhc > 1 ? (frmBCCtrl.maxSizeVhc * (frmBCCtrl.currentPageVhc - 1)) + $index + 1 : $index + 1}}</td>
								<td class="middle-vertical">{{objc.Name}}</td>
								<td class="middle-vertical">{{objc.Brand}}</td>
								<td class="middle-vertical">{{objc.MfgDate | date:'yyyy'}}</td>
								<td class="middle-vertical">{{objc.SerialNo}}</td>
								<td class="middle-vertical">{{objc.Capacity}}</td>
								<td class="middle-vertical">{{objc.ConditionRef.Value | translate}} </td>
								<td class="middle-vertical">{{objc.OwnershipRef.Value | translate}}</td>
								<td class="middle-vertical">
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.openform(objc,'vehicle')" class="btn btn-flat btn btn-primary" title="{{'BTN.EDIT' | translate}}">
										<i class="fa fa-edit"></i>
									</a>
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.editActiveNonBuilding(objc)" class="btn btn-flat btn btn-danger" title="{{'BTN.DELETE' | translate}}">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
							</tr>
							<tr ng-if="frmBCCtrl.listVehicle.length === 0">
								<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<ul uib-pagination boundary-links="true" total-items="frmBCCtrl.totalItemsVhc" items-per-page="frmBCCtrl.maxSizeVhc" ng-model="frmBCCtrl.currentPageVhc" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="frmBCCtrl.pageChangedVhc()"></ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<h3 class="afta-font center">{{'FORM.HEAVYEQUIPTITLE' | translate}}</h3>
			</div>
			<div class="col-md-2">
				<a ng-if="frmBCCtrl.inProcess === true" href="" class="btn btn-flat btn btn-primary turun-15" ng-click="frmBCCtrl.editKendaraan('equipment')" title="{{'BTN.TAMBAH'|translate}}">
					<i class="fa fa-plus-circle"></i>&nbsp;
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
								<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
								<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
								<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
								<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
								<th class="center-vertical">{{'TABLE.CAPACITYTON' | translate}}</th>
								<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
								<th class="center-vertical">{{'TABLE.OWNERSHIP' | translate}}</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="objc in frmBCCtrl.listEquipmentTools" ng-class="{'bg-danger': objc.IsTemporary === true}">
								<td class="text-center" style="vertical-align: middle;">{{frmBCCtrl.currentPageEqp > 1 ? (frmBCCtrl.maxSizeVhc * (frmBCCtrl.currentPageEqp - 1)) + $index + 1 : $index + 1}}</td>
								<td class="middle-vertical">{{objc.Name}}</td>
								<td class="middle-vertical">{{objc.Brand}}</td>
								<td class="middle-vertical">{{objc.MfgDate}}</td>
								<td class="middle-vertical">{{objc.SerialNo}}</td>
								<td class="middle-vertical">{{objc.Capacity}}</td>
								<td class="middle-vertical">{{objc.ConditionRef.Value}} </td>
								<td class="middle-vertical">{{objc.OwnershipRef.Value}}</td>
								<td class="middle-vertical">
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.openform(objc, 'equipment')" class="btn btn-flat btn btn-primary" title="{{'BTN.EDIT' | translate}}">
										<i class="fa fa-edit"></i>
									</a>
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.editActiveNonBuilding(objc)" class="btn btn-flat btn btn-danger" title="{{'BTN.DELETE' | translate}}">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
							</tr>
							<tr ng-if="frmBCCtrl.listEquipmentTools.length === 0">
								<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<ul uib-pagination boundary-links="true" total-items="frmBCCtrl.totalItemsEqp" items-per-page="frmBCCtrl.maxSizeVhc" ng-model="frmBCCtrl.currentPageEqp" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="frmBCCtrl.pageChangedEqp()"></ul>
			</div>
		</div>
	</div>
	<div class="modal-body" ng-if="frmBCCtrl.TenderDocType === 19 || frmBCCtrl.TenderDocType === 17">
		<div class="row">
			<div class="col-md-8 " style="float: none!important;">
				<h3 class="afta-font center">{{'FORM.BUILDINGTITLE' | translate}}</h3>
			</div>
		</div>
		<div class="col-md-2 pull-right">
			<a ng-if="frmBCCtrl.inProcess === true" href="" class="btn btn-flat btn btn-primary turun-15" ng-click="frmBCCtrl.editBuilding()" title="{{'BTN.TAMBAH'|translate}}">
				<i class="fa fa-plus-circle"></i>&nbsp;
			</a>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
								<th class="center-vertical">{{'TABLE.CATEGORY' | translate}}</th>
								<th class="center-vertical">{{'TABLE.LARGE' | translate}}(M<sup>2</sup>)</th>
								<th class="center-vertical" width="30%">{{'TABLE.ADDRESS' | translate}}</th>
								<th class="center-vertical">{{'TABLE.OWNERSHIP' | translate}}</th>
								<th class="center-vertical"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in frmBCCtrl.listOffice" ng-class="{'bg-danger': obj.IsTemporary === true}">
								<td class="text-center" style="vertical-align: middle;">{{frmBCCtrl.currentPageBld > 1 ? (frmBCCtrl.maxSize * (frmBCCtrl.currentPageBld - 1)) + $index + 1 : $index + 1}}</td>
								<td style="vertical-align: middle;">{{obj.category.Value | translate}}</td>
								<td class="center-vertical">{{obj.BuildingArea}}</td>
								<td class="middle-vertical">{{obj.address.AddressInfo}} {{obj.address.AddressDetail}}</td>
								<td class="middle-vertical">{{obj.ownershipStatus.Value | translate}}</td>
								<td class="middle-vertical">
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.openform(obj)" class="btn btn-flat btn btn-primary" title="{{'BTN.EDIT' | translate}}">
										<i class="fa fa-edit"></i>
									</a>
									<a ng-if="frmBCCtrl.inProcess === true" ng-click="frmBCCtrl.editActiveBuilding(obj)" class="btn btn-flat btn btn-danger" title="{{'BTN.DELETE' | translate}}">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
							</tr>
							<tr ng-if="frmBCCtrl.listOffice.length === 0">
								<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<ul uib-pagination boundary-links="true" total-items="frmBCCtrl.totalItems" items-per-page="frmBCCtrl.maxSize" ng-model="frmBCCtrl.currentPageBld" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="frmBCCtrl.pageChangedBld()"></ul>
			</div>
		</div>
	</div>
	<div class="modal-footer" style="text-align: center!important;">
		<button type="button" class="btn btn-warning" ng-click="frmBCCtrl.batal()" title="{{'BTN.BATAL' | translate}}">
			<i class="fa fa-reply"></i>
		</button>
		<!--<button ng-if="frmBCCtrl.flag == false" class="btn btn-danger" ng-click="frmBCCtrl.agree(false)" title="Tidak Setuju"><i class="fa fa-close"></i></button>-->
		<button ng-if="frmBCCtrl.flag == false && frmBCCtrl.inProcess === true" class="btn btn-success" ng-click="frmBCCtrl.agree(true)" title="{{'BTN.AGREE' | translate}}">
			<i class="fa fa-check"></i>
		</button>
	</div>
</div>
