<section class="content" ng-init="WLReportGoodsCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.PERFORMASUPPLIER' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Performa Supplier {{WLReportGoodsCtrl.datenow | date:"yyyy"}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">LOKAL</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[0].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangLokal[0].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[1].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangLokal[1].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[2].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangLokal[2].EndDate | date:"MMM yyyy"}}</th>     
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[3].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangLokal[3].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[4].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangLokal[4].EndDate | date:"MMM yyyy"}}</th>  
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[5].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangLokal[5].EndDate | date:"MMM yyyy"}}</th> 
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Supplier Aktif</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[0].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[1].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[2].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[3].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[4].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[5].PerformaSupplierData.ActiveSupplier}}</td> 
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Supplier WL</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[0].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[1].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[2].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[3].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[4].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[5].PerformaSupplierData.SupplierWL}}</td> 
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Vendor Performa</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[0].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[1].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[2].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[3].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[4].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[5].PerformaSupplierData.VendorPerforma}}</td> 
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">% Performa</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[0].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[1].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[2].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[3].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[4].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangLokal[5].PerformaSupplierData.PersentasePerforma}} %</td> 
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">NASIONAL</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[0].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangnasional[0].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[1].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangnasional[1].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[2].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangnasional[2].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[3].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangnasional[3].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[4].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangnasional[4].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[5].StartDate | date:"MMM yyyy"}} - {{WLReportGoodsCtrl.barangnasional[5].EndDate | date:"MMM yyyy"}}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Supplier Aktif</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[0].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[1].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[2].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[3].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[4].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[5].PerformaSupplierData.ActiveSupplier}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Supplier WL</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[0].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[1].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[2].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[3].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[4].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[5].PerformaSupplierData.SupplierWL}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Vendor Performa</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[0].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[1].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[2].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[3].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[4].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[5].PerformaSupplierData.VendorPerforma}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">% Performa</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[0].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[1].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[2].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[3].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[4].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportGoodsCtrl.barangnasional[5].PerformaSupplierData.PersentasePerforma}} %</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-6">
                            <h4>Performa Supplier Lokal</h4>
                            <canvas id="bar" height="300%" class="chart chart-bar" chart-data="WLReportGoodsCtrl.datalokal" chart-color="WLReportGoodsCtrl.color" chart-series="WLReportGoodsCtrl.serieslokal" chart-labels="WLReportGoodsCtrl.labellokal" chart-dataset="WLReportGoodsCtrl.datasetlokal" chart-options="WLReportGoodsCtrl.optionlokal"></canvas>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-left" style="vertical-align: middle;"></th>
                                                    <th ng-repeat="l in WLReportGoodsCtrl.listlokalbyType[0].ComplainTypes" class="text-left" style="vertical-align: middle;">{{l.TypeName}}</th>
                                                </tr>
                                                <tr ng-repeat="list in WLReportGoodsCtrl.listlokalbyType" >
                                                    <th class="text-left" style="vertical-align: middle;">{{list.StartDate | date:"MMM yyyy"}} - {{list.EndDate | date:"MMM yyyy"}}</th>
                                                    <td ng-repeat="ct in list.ComplainTypes" class="text-left" style="vertical-align: middle;">{{ct.Performa}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Performa Supplier Nasional</h4>
                            <canvas id="bar" height="300%" class="chart chart-bar" chart-data="WLReportGoodsCtrl.datanasional" chart-color="WLReportGoodsCtrl.color" chart-series="WLReportGoodsCtrl.seriesnasional" chart-labels="WLReportGoodsCtrl.labelnasional" chart-dataset="WLReportGoodsCtrl.datasetnasional" chart-options="WLReportGoodsCtrl.optionnasional"></canvas>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-left" style="vertical-align: middle;"></th>
                                                    <th ng-repeat="l in WLReportGoodsCtrl.listnasionalbyType[0].ComplainTypes" class="text-left" style="vertical-align: middle;">{{l.TypeName}}</th>
                                                </tr>
                                                <tr ng-repeat="list in WLReportGoodsCtrl.listnasionalbyType">
                                                    <th class="text-left" style="vertical-align: middle;">{{list.StartDate | date:"MMM yyyy"}} - {{list.EndDate | date:"MMM yyyy"}}</th>
                                                    <td ng-repeat="ct in list.ComplainTypes" class="text-left" style="vertical-align: middle;">{{ct.Performa}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>