﻿<div class="modal-content" ng-init="bantuanModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="bantuanModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">
            <span>{{'BANTUAN' | translate}}</span>
        </h3>
    </div>
    <div class="modal-body">
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table long-table">
                    <tbody>
                        <tr>
                            <td style="width:200px;border:none;">
                                <button type="button" class="btn btn-sm" style="background-color: #eb4d4b;color: white">
                                    <i class="fa fa-ban"></i> Batalkan PR
                                </button>
                            </td>
                            <td style="width:800px;border:none;"><span>: {{'BTN_BATALKANPR' | translate}}</span></td>
                        </tr>
                        <tr>
                            <td style="width:200px;border:none;">
                                <button type="button" class="btn btn-sm" style="background-color: #20B2AA;color: white">
                                    <i class="fa fa-reply"></i> Kembalikan ke Review
                                </button>
                            </td>
                            <td style="width:800px;border:none;"><span>: {{'BTN_KEMBALIKANKEREVIEW' | translate}}</span></td>
                        </tr>
                        <tr>
                            <td style="width:200px;border:none;">
                                <button type="button" class="btn btn-sm" style="background-color: #32CD32;color: white">
                                    <i class="fa fa-edit"></i> Ajukan PR
                                </button>
                            </td>
                            <td style="width:800px;border:none;"><span>: {{'BTN_AJUKANPR' | translate}}</span></td>
                        </tr>
                        <tr>
                            <td style="width:200px;border:none;">
                                <button type="button" class="btn btn-sm btn-primary">
                                    <i class="fa fa-export"></i> Download Excel
                                </button>
                            </td>
                            <td style="width:800px;border:none;"><span>: {{'BTN_DOWNLOADEXCEL' | translate}}</span></td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-sm btn-danger" title="{{'BACK' | translate}}" ng-click="bantuanModalCtrl.batal()"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
    </div>
</div>