﻿<style>
    .long-table {
        overflow-x: scroll;
        overflow-y: visible;
        cursor: grab;
        cursor: -o-grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    .float-column {
        position: absolute;
        width: 35px;
        left: 0;
        top: auto;
    }

    .button-cek-katalog {
        background-color: white;
        color: black;
    }
    /* .button-cek-katalog:hover{
        color: white;
        background-color: rgba(130, 88, 159, 0.8);
    } */
</style>
<script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
<section class="content" ng-init="syncPurchaseRequisitionCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
        <li><a>Master PR</a></li>
        <li><a class="active">Pengadaan via eProc</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-header">
                    <div class="col-md-1">
                        <div class=" text-left">
                            <br />
                            <a href="javascript:void(0)" class="popovers" data-toggle="popover" title="Workflow Process"
                               data-content="<i>Apabila Pelelangan Langsung :</i> <br> <b>Master PR</b> > <a href='#/pr-yg-belum-jadi-lelang'>Purchase Requistion</a> > <a href='#/susunanpanitia/edit'>Tim Pengadaan</a> > <a href='#/paketLelang/manage'>Paket Pengadaan</a> {{link}} <br><br> <i>Apabila Pengadaan Langsung :</i> <br> <b>Katalog</b> > <a href='#/kelola-pr-permintaan-penawaran'>Kelola PR Permintaan Penawaran</a>">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center;"><b>Master Purchase Requisition</b></h3>
                        </div>
                    </div>
                    <!--<div class="container-fluid">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="radio" ng-model="syncPurchaseRequisitionCtrl.mencobaFlag.choice" ng-click="filterPR(1)" value="1">PR Aktif
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio" ng-model="syncPurchaseRequisitionCtrl.mencobaFlag.choice" ng-click="filterPR(0)" value="0">PR Nonaktif
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">-->
                                <!-- button di comment karena dipanggil di halaman lain
                                <button class="btn btn-primary" ng-click="synchronizePrDataModal()"><i class="fa fa-refresh"></i>
                                    Refresh Data PR dari ERP (Synchronize)</button> -->
                            <!--</div>
                        </div>
                    </div>-->
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-inline" style="padding-top: 15px;">
                                            <label style="padding-top: 5px;" class="col-md-5 control-label">
                                                {{'SEARCHBY' | translate}}
                                            </label>
                                            <div class="col-md-7">
                                                <select class="form-control form-group" ng-model="syncPurchaseRequisitionCtrl.selectBy" ng-change="syncPurchaseRequisitionCtrl.setSelectByValue()">
                                                    <option value="">{{'SHOWALL' | translate}}</option>
                                                    <option value="1">{{'PRNUMBER' | translate}}</option>
                                                    <option value="2">{{'GOODSERVICENAME' | translate}}</option>
                                                    <option value="3">PIC</option>
                                                    <option value="4">{{'PRNAME' | translate}}</option>
                                                    <option value="5">Status</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group" style="padding-top: 15px;" ng-show="syncPurchaseRequisitionCtrl.selectBy === '1'">
                                            <div class="input-cont">
                                                <input type="text" placeholder="{{'CARI' | translate}} {{'PRNUMBER' | translate}}" class="form-control"
                                                       ng-model="syncPurchaseRequisitionCtrl.keyword">
                                            </div>
                                            <span class="input-group-btn">
                                                <a class="btn btn-primary" ng-click="syncPurchaseRequisitionCtrl.jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; {{'CARI' | translate}}
                                                </a>
                                            </span>
                                        </div>

                                        <div class="input-group" style="padding-top: 15px;" ng-show="syncPurchaseRequisitionCtrl.selectBy === '2'">
                                            <div class="input-cont">
                                                <input type="text" placeholder="{{'CARI' | translate}} {{'GOODSERVICENAME' | translate}}" class="form-control"
                                                       ng-model="syncPurchaseRequisitionCtrl.keyword">
                                            </div>
                                            <span class="input-group-btn">
                                                <a class="btn btn-primary" ng-click="syncPurchaseRequisitionCtrl.jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; {{'CARI' | translate}}
                                                </a>
                                            </span>
                                        </div>

                                        <div class="input-group" style="padding-top: 15px;" ng-show="syncPurchaseRequisitionCtrl.selectBy === '3'">
                                            <div class="input-cont">
                                                <input type="text" placeholder="{{'CARI' | translate}} PIC" class="form-control" ng-model="syncPurchaseRequisitionCtrl.keyword">
                                            </div>
                                            <span class="input-group-btn">
                                                <a class="btn btn-primary" ng-click="syncPurchaseRequisitionCtrl.jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; {{'CARI' | translate}}
                                                </a>
                                            </span>
                                        </div>

                                        <div class="input-group" style="padding-top: 15px;" ng-show="syncPurchaseRequisitionCtrl.selectBy === '4'">
                                            <div class="input-cont">
                                                <input type="text" placeholder="{{'CARI' | translate}} {{'PRNAME' | translate}}" class="form-control" ng-model="syncPurchaseRequisitionCtrl.keyword">
                                            </div>
                                            <span class="input-group-btn">
                                                <a class="btn btn-primary" ng-click="syncPurchaseRequisitionCtrl.jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; {{'CARI' | translate}}
                                                </a>
                                            </span>
                                        </div>
                                        <div class="input-group" style="padding-top: 15px;" ng-show="syncPurchaseRequisitionCtrl.selectBy === '5'">
                                            <div class="input-cont">
                                                <select class="form-control" ng-model="syncPurchaseRequisitionCtrl.keyword" ng-change="syncPurchaseRequisitionCtrl.jLoad(1)">
                                                    <option value="" style="">{{'SEARCHSTATUS' | translate}}</option>
                                                    <option value="4539" selected>{{'AKTIF' | translate}}</option>
                                                    <option value="4557">{{'COMPLETE' | translate}}</option>
                                                    <option value="4540">{{'REVISION' | translate}}</option>
                                                    <option value="4541">{{'CANCELED' | translate}}</option>
                                                    <option value="4558">{{'UPDATED' | translate}}</option>
                                                    <option value="4548">{{'PROSES' | translate}}</option>
                                                    <option value="4543">{{'SELESAI' | translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sn-12 col-xs-12"></div>
                    <div class="clearfix"></div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <div class="table-responsive dragscroll long-table" style="margin-left: 20px;">
                                    <table class="table table-bordered text-nowrap" style="border-top:1px solid #ddd">
                                        <thead>
                                            <tr>
                                                <th class="text-center float-column" style="vertical-align: middle;border-top:1px solid #ddd;border-right:1px solid #ddd;min-height: 38px;">
                                                    <div class="text-center">
                                                        <!-- <input type="checkbox" id="checksemua" ng-model="checkall"  ng-change="ceksemuachild(checkall)" > -->
                                                    </div>
                                                </th>
                                                <th class="text-center">
                                                   
                                                </th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.ITEMSERVICENAME' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.MATERIALCODE' | translate}}</th>
                                                <!--<th class="text-center" style="vertical-align: middle;">{{'DESCRIPTION'| translate}}</th>-->
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.TOTAL' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.UNIT' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.ESTIMATEDPRICE' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.DEPARTMENT' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">Entity</th>
                                                <th class="text-center" style="vertical-align: middle; ">Buyer</th>

                                                <th class="text-center" style="vertical-align: middle; ">Requestor</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.APPROVEDDATE' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.DOCTENDER' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.LOCATION' | translate}}</th>
                                                <!--<th class="text-center" style="vertical-align: middle; ">Status</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.HISTORY_PR' | translate}}</th>-->

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pr in syncPurchaseRequisitionCtrl.PR track by $index">

                                                <td class="float-column" style="border-right:1px solid #ddd;min-height: 40px;">
                                                    <div class="text-center">
                                                        <input ng-if="pr.parent_pr_line" class="ceksemua" ng-disabled="pr.PRStatus != 4557" type="checkbox" id="check{{pr.PRID}}" ng-model="pr.parentSelected" value="{{pr.parentSelected}}" ng-change="syncPurchaseRequisitionCtrl.CheckParent(pr)">
                                                    </div>

                                                </td>
                                                <!-- action 2 -->
                                                <td ng-if="pr.parent_pr_line" colspan="6">

                                                    <span ng-if='pr.parent_pr_line'>{{pr.PRCode}} - {{pr.PRName}}</span>
                                                     <!--<input ng-if="!pr.parent_pr_line" type="checkbox" ng-model="pr.selected">--> 
                                                </td>
                                                <td ng-if="!pr.parent_pr_line">
                                                    <input ng-if="!pr.parent_pr_line" type="checkbox" ng-disabled="pr.PRLStatusName != 'PRL_STATUS_COMPLETE'"  ng-model="pr.selected" ng-change="syncPurchaseRequisitionCtrl.CheckChild(pr)">
                                                </td>
                                                <td ng-if="!pr.parent_pr_line" class="text-center" style="text-align: left;">{{pr.Name || '-'}}</td>
                                                <td ng-if="!pr.parent_pr_line" class="text-center" style="text-align: left;">{{pr.MaterialCode || '-'}}</td>
                                                <!--<td ng-if="!pr.parent_pr_line">{{pr.description || '-'}}</td>-->
                                                <td ng-if="!pr.parent_pr_line" class="text-right" style="vertical-align: middle;">{{pr.Quantity || '-'}}</td>
                                                <td ng-if="!pr.parent_pr_line" class="text-center" style="vertical-align: middle;">
                                                    <span>{{pr.OrderUnitName || '-'}}</span>
                                                </td>
                                                <td ng-if="!pr.parent_pr_line" class="text-center" style="text-align: right;">{{(pr.UnitCost | currency: pr.LabelCurr+" ") || '-' }}</td>
                                                <td ng-if="pr.parent_pr_line" class="text-center" style="text-align: right;">{{pr.DepartmentName || '-'}}</td>
                                                <td class="text-center" style="text-align: right;">
                                                    <span ng-if="pr.parent_pr_line">{{pr.EntityName || '-'}}</span>
                                                </td>
                                                <td class="text-center" style="text-align: right;"> <span ng-if="pr.parent_pr_line">{{pr.EmployeeName || '-'}}</span></td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="pr.parent_pr_line"> {{pr.PreparePRName || '-'}} </span>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="pr.parent_pr_line"> {{(pr.LastApprovedDate | date: 'dd-MM-yyyy') || '-'}}</span>
                                                </td>
                                                <td class="text-center">
                                                    <button ng-if="pr.parent_pr_line" ng-click="syncPurchaseRequisitionCtrl.lihatDokumenPR(pr)" title="{{'PR_DOKUMEN_DETAIL' | translate}}" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="pr.parent_pr_line">{{pr.LocationName || '-'}}</span>
                                                </td>
                                                <td ng-if="!pr.parent_pr_line"></td>
                                                <!--<td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4539"> {{'AKTIF' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4540"> {{'REVISION' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4541"> {{'CANCELED' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4542"> {{'PROSES' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4557"> {{'COMPLETE' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4558"> {{'UPDATED' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4543"> {{'SELESAI' | translate}} </span>
                                                </td>-->
                                                
                                                <!--<td class="text-center">
                                                    <button ng-if="pr.parent_pr_line" ng-click="syncPurchaseRequisitionCtrl.LihatPRHistory(pr)" title="{{'PR_HISTORY_DETAIL' | translate}}" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                                                </td>-->
                                            </tr>
                                            <tr ng-if="syncPurchaseRequisitionCtrl.PR.length == 0">
                                                <td colspan="11">{{ 'TABLE.NO_DATA' | translate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <!-- <div class="col-md-3">
                                            <b><i>Keterangan</i> :</b><br>
                                            <b style="color: green; font-weight: bold"><i class="fa fa-circle" style="color: green"></i> Pengadaan Langsung</b><br>
                                            <b style="color: orange; font-weight: bold"><i class="fa fa-circle" style="color: orange"></i> Pelelangan</b>
                                        </div> -->
                                        <div class="col-md-12">
                                            <!-- batalkan PR -->
                                            <button type="button" class="btn btn-sm"
                                                    ng-click="syncPurchaseRequisitionCtrl.batalkanPR()" style="background-color: #eb4d4b;color: white">
                                                <i class="fa fa-ban"></i> Batalkan PR
                                            </button>
                                            <!-- batalkan PR -->
                                            <!--<button type="button" class="btn btn-sm"
                                                    ng-click="syncPurchaseRequisitionCtrl.kirimEmail()" style="background-color: #f0932b;color: white">
                                                <i class="fa fa-envelope-o"></i> Kirim email ke penyedia
                                            </button>-->
                                             <!--Kembalikan ke Review-->
                                            <button type="button"
                                                    class="btn btn-sm" ng-click="syncPurchaseRequisitionCtrl.kembaliKeReview()" title="Kembalikan ke Review" style="background-color: #20B2AA;color: white">
                                                <i class="fa fa-reply"></i> Kembalikan ke Review
                                            </button>
                                            <!--Ajukan PR-->
                                            <button type="button"
                                                    class="btn btn-sm" ng-click="syncPurchaseRequisitionCtrl.ajukanPR()" title="Ajukan PR" style="background-color: #32CD32;color: white">
                                                <i class="fa fa-edit"></i> Ajukan PR
                                            </button>
                                            <!-- Pengadaan Langsung -->
                                            <!--<button ng-hide="true" type="button"
                                                    class="btn btn-sm" ng-click="syncPurchaseRequisitionCtrl.confirmUpdate('proses-pembelian-langsung')" style="background-color: #FC427B;color: white">
                                                <i class="fa fa-edit"></i> Pembelian Langsung
                                            </button>-->
                                            <!--  pelelangan -->
                                            <!--<button type="button"
                                                    class="btn btn-sm" ng-click="syncPurchaseRequisitionCtrl.confirmUpdate('proses-pelelangan')" title="Metode Pelelangan Umum Satu Sampul dan Dua Sampul, Metode Pelelangan Terbatas Satu Sampul dan Dua Sampul, dan Metode Penunjukan Langsung" style="background-color: #be2edd;color: white">
                                                <i class="fa fa-list-ol"></i> Pelelangan
                                            </button>-->
                                            <!-- ubah proses -->
                                            <button type="button"
                                                    class="btn btn-sm btn-primary" data-toggle="modal" data-target="#UbahProses"
                                                    ng-click="syncPurchaseRequisitionCtrl.downloadExcel()">
                                                <i class="fa fa-export"></i> Download Excel
                                            </button>
                                            <button type="button" class="btn btn-sm" ng-click="syncPurchaseRequisitionCtrl.bantuan()" style="background-color: #4a47ee;color: white">
                                                <i class="fa fa-info-circle"></i> Bantuan
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="syncPurchaseRequisitionCtrl.totalItems > 10">
                                    <!--<pagination total-items="totalItems" page="currentPage" items-per-page="10"
                                                max-size="maxSize" on-select-page="syncPurchaseRequisitionCtrl.jLoad(page)"></pagination>-->
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="synchronizeDataPR.html">
    <div class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font text-center" id="myModalLabel">{{pr.pr_id ? 'Ubah' : 'Tambah'}} Purchase Requisition</h3>
        </div>
        <form role="form" name="formAdd" ng-submit="testIntegrasi()">
            <div class="modal-body well">
                <div class="row">
                    <div class="col-md-5 center-block" style="float: none!important;">
                        <div class="form-group">
                            <label>Uses</label>
                            <select class="form-control" ng-model="selectedUses" ng-options="a for a in names" ng-change="onStatusChanged(selectedUses)" />
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="flagPilih == 1">
                    <div class="col-md-5 center-block" style="float: none!important;">
                        <div class="form-group">
                            <label>PR Code</label>
                            <input type="text" class="form-control" placeholder="Kode PR" name="prcode" ng-model="tes.prcode">
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="flagPilih == 1">
                    <div class="col-md-5 center-block" style="float: none!important;">
                        <div class="form-group">
                            <label>Bulan Request</label>
                            <select class="form-control" ng-model="tes.selectedBulan" ng-options="z for z in dataBulan" />
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="flagPilih == 1">
                    <div class="col-md-5 center-block" style="float: none!important;">
                        <div class="form-group">
                            <label>Tahun Request</label>
                            <select class="form-control" ng-model="tes.selectedTahun" ng-options="x.value as x.value for x in dataTahun" />
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="flagPilih == 2">
                    <div class="col-md-5 center-block" style="float: none!important;">
                        <div class="form-group">
                            <label>Product Code</label>
                            <input type="text" class="form-control" placeholder="Kode Produk" ng-model="tes.productcode">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 center-block" style="float: none!important;">
                        <div class="form-group">
                            <label>Branch</label>
                            <select class="form-control" ng-model="tes.selectedBranch" ng-options="b.name for b in dataBranch" />
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="batal()"><i class="fa fa-reply"></i> Tutup</button>
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Sinkronisasi</button>
            </div>
        </form>
    </div>
</script>
<!-- tidak dipakai -->
<script type="text/ng-template" id="SetStatusPRLine.html" class="modal fade">
    <div class="modal-content center-block" ng-init="init()">
        <div class="modal-header">
            <button type="button" ng-click="batal()" class="close" data-dismiss="modal">&times;</button>
            <h4 class="text-center"><label class="afta-font">Konfirmasi Proses</label></h4>
        </div>
        <div class="modal-body">
            <label ng-if="flag === 1" class="afta-font">Yakin menjadikan data ini sebagai Pengadaan Langsung?</label>
            <label ng-if="flag === 2" class="afta-font">Yakin menjadikan data ini sebagai Pelelangan?</label>
            <div class="row">
                <div class="col-md-2">
                    No PR
                </div>
                <div class="col-md-3">
                    <span>{{PRL.pr_kode}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Kode
                </div>
                <div class="col-md-3">
                    <span>{{PRL.product_code}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Nama Barang/Jasa
                </div>
                <div class="col-md-3">
                    <span>{{PRL.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Jumlah
                </div>
                <div class="col-md-3">
                    <span>{{PRL.prl_quantity}} {{PRL.prl_order_unit}}</span>
                </div>
            </div>
            <div class="row" ng-if="Ngatur == true">
                <div class="col-md-2">
                    PIC
                </div>
                <div class="col-md-3">
                    <form class="form-inline">
                        <div class="form-group">
                            <select class="form-control" ng-model="selectedPIC" ng-options="val.nama_pegawai for val in Pegawais" ng-change="changePIC(selectedPIC)"
                                    required>
                                <option value="">--Pilih PIC--</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row" ng-show="informasi == false">
                <div class="col-md-2">
                    Penyedia yang ingin diinformasikan
                </div>
                <div class="col-md-10">
                    <form class="form-inline">
                        <div class="form-group">
                            <select class="form-control" ng-model="selectedPenyedia" ng-change="changePenyedia(selectedPenyedia)" ng-options="val.nama_perusahaan for val in rekanan">
                                <option value="">--Pilih Penyedia--</option>
                            </select>
                            <button ng-click="addPenyedia()" class="btn btn-success">Tambah</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" ng-show="informasi == false">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <div class="table table-responsive">
                        <table id="example2" class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-center" style="text-align: center; width: 20px;">No</th>
                                    <th class="text-center" style="text-align: center;">Nama Perusahaan</th>
                                    <th class="text-center" style="text-align: center; width: 20px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in listpenyedia">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-left"> {{data.nama_perusahaan}} </td>
                                    <td class="text-center">
                                        <a ng-click="hapusData(data.rekanan_id)" class="btn btn-xs btn-danger" role="button">
                                            <i class="fa fa-trash-o"></i> Hapus
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="checkbox" ng-model="informasi" ng-change="changeInfo(informasi)"> <em>Informasikan ke seluruh penyedia terkait untuk melakukan pembaruan harga katalog</em>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="simpan(PRL.prl_id)" class="btn btn-success">Ya</button>
            <button ng-click="batal()" class="btn btn-danger" data-dismiss="modal">Tidak</button>
        </div>
    </div>

</script>

<script type="text/ng-template" id="lihatDetailPR.html">
    <div class="modal-content" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{pr_nama}}</h3> <!-- Detail Purchase Requisition -->
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-7 col-sm-8 col-xs-12 center-block well" style="float: none!important;">
                    <ol type="I">
                        <li ng-repeat="sub in subPekerjaan" ng-show="(sub.parent === null)">
                            {{sub.nama}}
                            <ol type="A">
                                <li ng-show="sub.anak.length > 0" ng-repeat="an in sub.anak" style="margin-left: 30px;">
                                    {{an.nama}}
                                    <ol type="1">
                                        <li ng-repeat="pr in an.pr_line" style="margin-left: 20px;">
                                            {{pr.prl_nama}}
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                            <ol type="1">
                                <li ng-show="sub.anak.length === 0" ng-repeat="pr in sub.pr_line" style="margin-left: 30px;">
                                    {{pr.prl_nama}}
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="batal()" type="button" class="btn btn-flat btn-default" ng-click="keluar()"><i class="fa fa-reply"></i> Tutup</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="KembalikanPR.html">
    <div class="modal-content center-block" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="batal()" data-dismiss="modal">&times;</button>
            <h3>Batalkan PR</h3>
        </div>
        <div class="modal-body">
            <label class="afta-font">Apakah anda yakin ingin membatalkan PR berikut ini ?</label>
            <p>Masukkan alasan pembatalan PR</p>
            <textarea class="form-control" rows="3" ng-model="txt.alasanKembalikan"></textarea>
            <br>
            <table class="table table-bordered">
                <tr>
                    <th class="text-center">Kode PR</th>
                    <th class="text-center">Kode Produk</th>
                    <th class="text-center">Nama Barang/Jasa</th>
                </tr>
                <tr ng-repeat="dataPR in PRLine">
                    <!-- Kode PR -->
                    <td ng-if="dataPR.jumlah_batas != 0" rowspan="{{ dataPR.jumlah_batas }}" style=" vertical-align middle !important;">
                        <div class="text-center">
                            <span>{{ dataPR.pr_kode+" - "+dataPR.pr_nama }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-center"> {{ dataPR.product_code }}</div>
                    </td>
                    <td>
                        <div class="text-center"> {{ dataPR.prl_nama }}</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="batal()" data-dismiss="modal">Tutup</button>
            <button class="btn btn-success" ng-click="simpan()">Yakin</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirmUpdate.html">
    <div class="modal-content center-block" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="batal()" data-dismiss="modal">&times;</button>
            <h3>{{ modalTitle }}</h3>
        </div>
        <div class="modal-body">
            <div ng-if="warningUpdate == false || (warningUpdate == true && confirmWarning == true)">
                <p class="afta-font">Apakah anda yakin ingin memasukkan PR tersebut ke {{ modalTitle }} ?</p>
                <div ng-if="eprocStatus == 1" class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Pilih PIC Pengadaan</label>
                    <div class="col-sm-9" style="margin-bottom: 20px;">
                        <select class="form-control" ng-model="pegawai.selectedPIC" ng-options="val.pegawai_id as val.nama_pegawai for val in Pegawais">
                            <option value="">--Pilih PIC--</option>
                        </select>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">Kode PR</th>
                        <th class="text-center">Kode Produk</th>
                        <th class="text-center">Nama Barang/Jasa</th>
                    </tr>
                    <tr ng-repeat="dataPR in PRLine">
                        <!-- Kode PR -->
                        <td ng-if="dataPR.jumlah_batas != 0" rowspan="{{ dataPR.jumlah_batas }}" style=" vertical-align middle !important;">
                            <div class="text-center">
                                <span>{{ dataPR.pr_kode+" - "+dataPR.pr_nama }}</span>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-if='dataPR.eproc_status == 1' style="color:#20B2AA; font-weight: bold">{{ dataPR.product_code }}</span>
                            <span ng-if='dataPR.eproc_status == 2' style="color:#32CD32; font-weight: bold">{{ dataPR.product_code }}</span>
                            <span ng-if='dataPR.eproc_status == 3' style="color:#be2edd; font-weight: bold">{{ dataPR.product_code }}</span>
                            <span ng-if='dataPR.eproc_status == 4' style="color:#FC427B; font-weight: bold">{{ dataPR.product_code }}</span>
                            <span ng-if='!dataPR.eproc_status'>{{ dataPR.product_code }}</span>
                        </td>
                        <td class="text-center">
                            <span ng-if='dataPR.eproc_status == 1' style="color:#20B2AA; font-weight: bold">{{ dataPR.prl_nama }}</span>
                            <span ng-if='dataPR.eproc_status == 2' style="color:#32CD32; font-weight: bold">{{ dataPR.prl_nama }}</span>
                            <span ng-if='dataPR.eproc_status == 3' style="color:#be2edd; font-weight: bold">{{ dataPR.prl_nama }}</span>
                            <span ng-if='dataPR.eproc_status == 4' style="color:#FC427B; font-weight: bold">{{ dataPR.prl_nama }}</span>
                            <span ng-if='!dataPR.eproc_status'>{{ dataPR.prl_nama }}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div ng-if="warningUpdate == true && confirmWarning == false">
                <h3>Apakah anda yakin mengubah metode pemilihan penyedia ? </h3>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="batal()" data-dismiss="modal">Tutup</button>
            <button ng-if="warningUpdate == true && confirmWarning == false" class="btn btn-success" ng-click="confirm()">Ya</button>
            <button ng-if="warningUpdate == false || (warningUpdate == true && confirmWarning == true)" class="btn btn-success" ng-click="simpan()">Yakin</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="alertPelelangan.html">
    <div class="modal-content center-block" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="batal()" data-dismiss="modal">&times;</button>
            <h3 class="text-danger">Peringatan</h3>
        </div>
        <div class="modal-body">
            <!-- PR yang sudah masuk lelang -->
            <div ng-show="PrMasukLelang.length > 0">
                <h5>Maaf, PR dibawah ini</h5>
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">Kode PR</th>
                        <th class="text-center">Nama Barang/Jasa</th>
                    </tr>
                    <tr ng-repeat="pr in PrMasukLelang">
                        <td class="text-center">{{pr.pr_kode}}</td>
                        <td><div class="text-center"> {{ pr.pr_nama }}</div></td>
                    </tr>
                </table>
                <h5>telah dijadikan <b class="text-danger">PELELANGAN</b>. Harap batalkan terlebih dahulu di proses  Pengadaan -> Paket Pengadaan sebelum mengubah metode pemilihan penyedia</h5>
            </div>
            <!-- PR yang jadi e-katalog dan sudah dibelanjakan / PO -->
            <div ng-show="PrMasukPO.length > 0">
                <h5 style="margin-top: 20px">Maaf, PR dibawah ini</h5>
                <table class="table table-bordered">
                    <tr>
                        <th class="text-center">Kode PR</th>
                        <th class="text-center">Nama Barang/Jasa</th>
                    </tr>
                    <tr ng-repeat="pr in PrMasukPO">
                        <td class="text-center">{{pr.pr_kode}}</td>
                        <td><div class="text-center"> {{ pr.pr_nama }}</div></td>
                    </tr>
                </table>
                <h5>telah di <b class="text-danger">BELANJAKAN Pada E-Catalog</b></h5>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="batal()" data-dismiss="modal">OK</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="emailPenyedia.html">
    <div class="modal-content center-block" ng-init="initModal()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="batal()" data-dismiss="modal">&times;</button>
            <h3 style="margin-top: 10px">Kirim Email</h3>
            <div class="row" ng-if="step == 'pilih-bidang-usaha'">
                <div class="col-md-6">
                    <h4 style="color: #7f8c8d"> Pilih Bidang Usaha</h4>
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-primary" ng-click="next('pilih-rekanan')">
                        <span>Next</span>
                        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <h4 ng-if="step == 'pilih-rekanan'" style="color: #7f8c8d"> Pilih Penyedia</h4>
            <h4 ng-if="step == 'pilih-pegawai'" style="color: #7f8c8d"> Pilih CC</h4>
            <h4 ng-if="step == 'template-email'" style="color: #7f8c8d"> Template Email</h4>
        </div>
        <div class="modal-body">
            <!-- step pilih bidang usaha -->
            <div class="row" ng-if="!loading && step == 'pilih-bidang-usaha'">
                <div class="col-md-6">
                    <div>
                        <button ng-click="my_tree.expand_all()" class="btn btn-primary btn-flat btn-sm" id="expand"><i class="fa fa-plus-square"></i>&nbsp; Expand All</button>&nbsp;
                        <button ng-click="my_tree.collapse_all()" class="btn btn-warning btn-flat btn-sm"><i class="fa fa-minus-square"></i>&nbsp; Collapse All</button>&nbsp;
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="padding-top: 5px;" class="col-md-4 control-label text-right">Cari Bidang Usaha :</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" data-ng-model="filterString" placeholder="Filter" ng-change="showAll()"
                                   ng-model-options='{ debounce: 500 }' />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <tree-grid tree-data="bidangUsaha" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property"></tree-grid>
                </div>
            </div>
            <!-- step: pilih penyedia -->
            <div ng-if="!loading && step == 'pilih-rekanan'">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="rekanan in selectedRekanan track by $index" style="display: inline-block;margin-bottom: 5px;">
                            <span class="label" style="margin: 0 2px;border: 1px solid #2c3e50">
                                <span style="color: #34495e">{{ rekanan.nama_perusahaan }}</span>
                                <a href="" ng-click="removeSelectedRekanan(rekanan)" style="color:#e74c3c" tooltip-placement="bottom"
                                   tooltip="Hapus"><i class="fa fa-times-circle"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Masukkan Nama Rekanan" ng-model="search.rekanan" ng-model-options="{ debounce: 500 }" ng-change="getRekananByBidangUsaha(1)">
                            <span class="input-group-btn">
                                <button ng-click="getRekananByBidangUsaha(1)" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary">
                                    <i class="fa fa-search"></i>&nbsp; Cari
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th><input type="checkbox" ng-model="allSelected.rekanan" ng-change="selectAllRekanan()"></th>
                        <th>No</th>
                        <th>Nama Penyedia</th>
                        <th>Alamat</th>
                        <th>Email Address</th>
                    </tr>
                    <tr ng-repeat="rekanan in rekananBidangUsaha">
                        <td>
                            <input type="checkbox" ng-model="rekanan.selected" ng-change="toggleSelectedRekanan(rekanan)">
                        </td>
                        <td>{{ currentPage.rekanan > 1 ? (maxSize * (currentPage.rekanan - 1)) + $index + 1 : $index + 1}}</td>
                        <td>{{ rekanan.nama_perusahaan }}</td>
                        <td>{{ rekanan.alamat }}</td>
                        <td>{{ rekanan.email }}</td>
                    </tr>
                </table>
                <pagination total-items="totalRekanan" page="currentPage.rekanan" items-per-page="10" max-size="maxSize" on-select-page="getRekananByBidangUsaha(page)"
                            ng-show="totalRekanan>10"></pagination>
            </div>
            <!-- step: pilih cc pegawai -->
            <div ng-if="!loading && step == 'pilih-pegawai'">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="pegawai in selectedPegawai track by $index" style="display: inline-block;margin-bottom: 5px">
                            <span class="label" style="margin: 0 2px;border: 1px solid #2c3e50">
                                <span style="color: #34495e">{{ pegawai.nama_pegawai }}</span>
                                <a href="" ng-click="removeSelectedPegawai(pegawai)" style="color:#e74c3c" tooltip-placement="bottom"
                                   tooltip="Hapus"><i class="fa fa-times-circle"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Masukkan Nama Pegawai" ng-model="search.pegawai" ng-model-options="{ debounce: 500 }" ng-change="getPegawai(1)">
                            <span class="input-group-btn">
                                <button ng-click="getPegawai(1)" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary">
                                    <i class="fa fa-search"></i>&nbsp; Cari
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th><input type="checkbox" ng-model="allSelected.pegawai" ng-change="selectAllPegawai()"></th>
                        <th>No</th>
                        <th>Nama Pegawai</th>
                        <th>Jabatan</th>
                        <th>Departemen</th>
                        <th>Email Address</th>
                    </tr>
                    <tr ng-repeat="pegawai in listPegawai">
                        <td>
                            <input type="checkbox" ng-model="pegawai.selected" ng-change="toggleSelectedPegawai(pegawai)">
                        </td>
                        <td>{{ currentPage.pegawai > 1 ? (maxSize * (currentPage.pegawai - 1)) + $index + 1 : $index + 1}}</td>
                        <td>{{ pegawai.nama_pegawai }}</td>
                        <td>{{ pegawai.jabatan }}</td>
                        <td>{{ pegawai.departemen_nama }}</td>
                        <td>{{ pegawai.email }}</td>
                    </tr>
                </table>
                <pagination total-items="totalPegawai" page="currentPage.pegawai" items-per-page="10" max-size="maxSize" on-select-page="getPegawai(page)"
                            ng-show="totalPegawai>10"></pagination>
            </div>
            <!-- step: template-email -->
            <div ng-if="!loading && step == 'template-email'">
                <form class="form-horizontal">
                    <!-- kirim ke -->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kirim ke</label>
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div ng-repeat="rekanan in selectedRekanan track by $index" style="display: inline-block;margin-bottom: 5px">
                                        <span class="label" style="margin: 0 2px;border: 1px solid #2c3e50">
                                            <span style="color: #34495e">{{ rekanan.nama_perusahaan }}</span>
                                            <a href="" ng-click="removeSelectedRekanan(rekanan)" style="color:#e74c3c" tooltip-placement="bottom"
                                               tooltip="Hapus"><i class="fa fa-times-circle"></i></a>
                                        </span>
                                    </div>
                                    <a href="" class="label" style="margin: 0 2px;border: 1px solid #3498db;background-color: #3498db" ng-click="next('pilih-rekanan')" tooltip-placement="bottom"
                                       tooltip="Tambah Rekanan">
                                        <span>Tambah</span>
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CC -->
                    <div class="form-group">
                        <label for="cc" class="col-sm-2 control-label">CC</label>
                        <div class="col-sm-10">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div style="display: inline-block;margin-bottom: 5px">
                                        <span class="label" style="margin: 0 2px;border: 1px solid #2c3e50">
                                            <span style="color: #34495e">eproc@itdc.co.id</span>
                                        </span>
                                    </div>
                                    <div ng-repeat="pegawai in selectedPegawai track by $index" style="display: inline-block;margin-bottom: 5px">
                                        <span class="label" style="margin: 0 2px;border: 1px solid #2c3e50">
                                            <span style="color: #34495e">{{ pegawai.nama_pegawai }}</span>
                                            <a href="" ng-click="removeSelectedRekanan(rekanan)" style="color:#e74c3c" tooltip-placement="bottom"
                                               tooltip="Hapus"><i class="fa fa-times-circle"></i></a>
                                        </span>
                                    </div>
                                    <a href="" class="label" style="margin: 0 2px;border: 1px solid #3498db;background-color: #3498db" ng-click="next('pilih-pegawai')"
                                       tooltip-placement="bottom" tooltip="Tambah CC">
                                        <span>Tambah</span>
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- konten email -->
                    <div class="form-group">
                        <label for="konten" class="col-sm-2 control-label">Konten Email</label>
                        <div class="col-sm-10">
                            <!-- <div class="col-md-12">
                                <button class="btn btn-primary btn-xs pull-right" style="margin-top: 10px" ng-click="generateTemplate()">Generate Template</button>
                            </div> -->
                            <div class="col-md-12">
                                <textarea ui-tinymce="customTinymce" id="template_email" ng-model="email.compiledKonten" rows="15" cols="80"></textarea>
                            </div>
                            <!-- tambah Attachment -->
                            <div class="col-md-8" ng-show="attachmentsUploaded == false">
                                <div class="form-group">
                                    <label>
                                        Tambah Attachment
                                        <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small>
                                    </label>
                                    <div class="input-group">
                                        <input id="uploadFile" style="padding-top: 5px!important;" type="file" onchange="angular.element(this).scope().fileChage(this)" class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}" />
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="pilihFile()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-floppy-o"></i> &nbsp; Pilih File</button>
                                            <button ng-click="uploadAttachment()" class="btn btn-sm btn-primary float-right"><i class="fa fa-upload"></i> &nbsp; Upload Attachment</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- uploaded file -->
                            <div ng-show="fileAttachment.length > 0 && attachmentsUploaded == false">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Nama File</th>
                                                <th class="text-center" style="width: 180px; min-width: 180px;">Ukuran File</th>
                                                <th class="text-center" style="width: 120px; min-width: 100px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="fl in fileAttachment">
                                                <td style="word-wrap: break-word!important;">{{fl.fileName}}</td>
                                                <td class="text-center" style="word-wrap: break-word!important;">{{fl.fileSize}} KB</td>
                                                <td class="text-center" style="word-wrap: break-word!important;">
                                                    <button class="btn btn-xs red center-block" ng-click="removeFile(fl.fileName)">
                                                        Hapus <i class="fa fa-minus-circle"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-show="attachmentsUploaded == true">
                                <span>File Attachment</span>
                                <a href="{{linkAttachment}}">{{uploadedFile.name}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- list barang -->
                    <div class="form-group">
                        <label for="konten" class="col-sm-2 control-label">List Barang</label>
                        <div class="col-sm-10">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Kode Barang</td>
                                    <td>Nama Barang/Jasa</td>
                                </tr>
                                <tr ng-repeat="item in PRLine">
                                    <td>{{ item.product_code }}</td>
                                    <td>{{ item.prl_nama }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div ng-if="step == 'pilih-bidang-usaha'">
                <button class="btn btn-danger" ng-click="batal()" data-dismiss="modal">Tutup</button>
                <button class="btn btn-primary" ng-click="next('pilih-rekanan')">Next</button>
            </div>
            <div ng-if="step == 'pilih-rekanan'">
                <button class="btn btn-danger" ng-click="batal()" data-dismiss="modal">Tutup</button>
                <button class="btn btn-success" ng-click="next('template-email')">Next</button>
            </div>
            <div ng-if="step == 'pilih-pegawai'">
                <button class="btn btn-danger" ng-click="next('template-email')" data-dismiss="modal">Kembali</button>
                <button class="btn btn-success" ng-click="next('template-email')">Ok</button>
            </div>
            <div ng-if="step == 'template-email'">
                <button class="btn btn-danger" ng-click="batal()" data-dismiss="modal">Tutup</button>
                <button class="btn btn-success" ng-click="mail()">Kirim Email</button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="UbahProses.html" class="modal fade">
    <div class="modal-content center-block" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="batal()" data-dismiss="modal">&times;</button>
            Ubah Proses
        </div>
        <br>
        <div class="modal-body">
            <label class="afta-font">Apakah anda yakin mengubah proses PR Line {{prl_nama}}?</label>
            <div class="row">
                <div class="text-center">
                    <form class="form-inline">
                        <label class="radio-inline">
                            <input type="radio" name="radio1" ng-model="catSelected.pilih" value="1">Pengadaan Langsung
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio1" ng-model="catSelected.pilih" value="2">Pelelangan
                        </label>
                    </form>
                </div>
            </div>
            <br>
            <div class="row"> </div>
            <div class="row" ng-if="Ngatur == true">
                <div class="col-md-2">
                    PIC
                </div>
                <div class="col-md-3">
                    <form class="form-inline">
                        <div class="form-group">
                            <select class="form-control" ng-model="selectedPICUbah" ng-options="val.pegawai_id as val.nama_pegawai for val in Pegawais" ng-change="changePIC(selectedPICUbah)"
                                    required>
                                <option value="">--Pilih PIC--</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="row" ng-show="informasi == false && catSelected.pilih == 1">
                <div class="col-md-2">
                    Penyedia yang ingin diinformasikan
                </div>
                <div class="col-md-10">
                    <form class="form-inline">
                        <div class="form-group">
                            <select class="form-control" ng-model="selectedPenyedia" ng-change="changePenyedia(selectedPenyedia)" ng-options="val.nama_perusahaan for val in rekanan">
                                <option value="">--Pilih Penyedia--</option>
                            </select>
                            <button ng-click="addPenyedia()" class="btn btn-success">Tambah</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" ng-show="informasi == false && catSelected.pilih == 1">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <div class="table table-responsive">
                        <table id="example2" class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-center" style="text-align: center; width: 20px;">No</th>
                                    <th class="text-center" style="text-align: center;">Nama Perusahaan</th>
                                    <th class="text-center" style="text-align: center; width: 20px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in listpenyedia">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-left"> {{data.nama_perusahaan}} </td>
                                    <td class="text-center">
                                        <a ng-click="hapusData(data.rekanan_id)" class="btn btn-xs btn-danger" role="button">
                                            <i class="fa fa-trash-o"></i>
                                            Hapus
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10" ng-show="catSelected.pilih == 1">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="checkbox" ng-model="informasi" ng-change="changeInfo(informasi)"> <em>Informasikan ke seluruh penyedia terkait untuk melakukan pembaruan harga katalog</em>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="simpan(prlid)">Yakin</button>
                <button class="btn btn-danger" ng-click="batal()" data-dismiss="modal">Tutup</button>
            </div>
        </div>
</script>

<script type="text/ng-template" id="modalPRGabungan.html" class="modal fade">
    <div class="modal-content center-block" ng-init="init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="batal()" data-dismiss="modal">&times;</button>
            Buat PR Gabungan
        </div>
        <br>
        <div class="modal-body">
            <div class="row">
                <div class="form-inline text-center col-md-8">
                    <div class="form-group">
                        <label>Nama Pengadaan :</label>
                        <input type="text" class="form-control" ng-model="obj.pengadaan">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <label> Daftar PR Line </label>

                    <div class="table table-responsive">
                        <div class="table-responsive dragscroll long-table">
                            <table class="table table-bordered text-nowrap" style="border-top:1px solid #ddd">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>Jumlah</th>
                                        <th>Satuan</th>
                                        <th>Estimasi Harga</th>
                                        <th>Deskripsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in PRLine">
                                        <td>{{$index+1}}</td>
                                        <td>{{p.prl_nama}}</td>
                                        <td>{{p.prl_quantity}}</td>
                                        <td>{{p.prl_order_unit}}</td>
                                        <td>{{p.prl_unit_cost | currency :p.label+" "}}</td>
                                        <td>{{p.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                  <div class="col-md-12">
                      <div class="box box-success" style="width: 100%; margin: 0px auto;">
                          <div class="box-body">
                              <div class="form-group">
                                  <div class="row">
                                      <div class="col-md-8">
                                          <label>Daftar Pic / Tim Pengadaan</label>
                                      </div>
                                      <div class="col-md-4">
                                          <button ng-click="pilihTemplate()" class="btn btn-flat btn-sm btn-primary pull-right" style="margin-bottom: 5px!important;">Pilih Tim Pengadaan</button>
                                      </div>
                                      <div class="col-md-12" align="center">
                                          <div class="table table-responsive">
                                              <table id="example2" class="table table-bordered table-striped">
                                                  <thead>
                                                      <tr>
                                                          <th style="width: 20px; min-width: 20px; text-align: center;">No</th>
                                                          <th class="text-center" style="width: 220px; min-width: 220px;">Jabatan</th>
                                                          <th class="text-center">Nama Pegawai</th>
                                                          <th class="text-center" style="width: 220px; min-width: 220px;">Departemen</th>
                                                          <th style="width: 90px!important; min-width: 90px!important;"></th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr ng-repeat="tmp in templatepanitia">
                                                          <td class="text-center" style="vertical-align: middle;">{{currentPage > 1 ? (maxSize * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                          <td class="text-left" style="vertical-align: middle;">{{tmp.jabatan_nama}}</td>
                                                          <td class="text-left" style="vertical-align: middle;">{{tmp.nama_pegawai}}</td>
                                                          <td class="text-left" style="vertical-align: middle;">{{tmp.departemen_nama}}</td>
                                                          <td class="text-center" style="vertical-align: middle;"><a class="btn btn-sm btn-flat btn-danger" ng-click="hapusPanitia(tmp.id_pegawai)" title="Hapus"><i class="fa fa-trash-o"></i></a></td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div> -->
        </div>
        <div class="modal-footer" style="text-align: center;">
            <button class="btn btn-danger" ng-click="batal()" data-dismiss="modal">Batal</button>
            <button class="btn btn-success" ng-click="simpan()">Simpan</button>
        </div>
    </div>
</script>

<!-- <script type="text/ng-template" id="PilihTemplate.html">
    <div class="modal-content" ng-init="loadData()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">Pilih Tim Pengadaan</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                        <div class="col-md-4 pull-right">
                            <form ng-submit="caritemplate()" role="form" method="post">
                                <div class="input-group pull-right" style="padding-bottom: 15px; width: 100%;">
                                    <input type="text" class="form-control" placeholder="Cari Nama Template, lalu klik Enter" ng-model="$parent.textcari">
                                    <span class="input-group-btn" ng-hide="true">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-default"><i class="fa fa-search"></i>&nbsp; Cari</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 5px; min-width: 5px;">No</th>
                                            <th class="text-center" style="width: 300px; min-width: 300px;">Nama Template</th>
                                            <th class="text-center">Tim Pengadaan</th>
                                            <th class="text-center" style="width: 10px; min-width: 10px; vertical-align: middle;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="temp in template">
                                            <td class="text-center" style="vertical-align: middle;">{{currentPage > 1 ? (limit * (currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{temp.nama_template}}</td>
                                            <td style="vertical-align: middle;">
                                                <ul>
                                                    <li ng-repeat="det in temp.detail">{{det.jabatan_nama}} : {{det.nama_pegawai}}</li>
                                                </ul>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a class="btn btn-flat btn-sm btn-success" ng-click="pilihTemplate(temp.detail)"><i class="fa fa-check-circle"></i>&nbsp; Pilih</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination total-items="totalItems" page="currentPage" items-per-page="10"
                                            max-size="maxSize" on-select-page="jLoad(page)"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="keluar()"><i class="fa fa-reply"></i>&nbsp;Kembali</button>
        </div>
    </div>
</script> -->

<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ html: true, placement: "right" });
    });
</script>

<script type="text/ng-template" id="bantuan.html">
    <div class="modal-content center-block" ng-init="init()">
        <div class="modal-header">
            <h3>Bantuan</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table long-table">
                        <tbody>
                            <tr>
                                <td style="width:200px;border:none;">
                                    <button type="button" class="btn btn-sm" style="background-color: #be2edd;color: white">
                                        <i class="fa fa-list-ol"></i> Pelelangan
                                    </button>
                                </td>
                                <td style="width:800px;border:none;"><span>: Metode Pelelangan Umum Satu Sampul dan Dua Sampul, Metode Pelelangan Terbatas Satu Sampul dan Dua Sampul, dan Metode Penunjukan Langsung</span></td>
                            </tr>
                            <tr>
                                <td style="width:200px;border:none;">
                                    <button type="button" class="btn btn-sm" style="background-color: #32CD32;color: white">
                                        <i class="fa fa-edit"></i> Proses RFQ atau Lelang Cepat
                                    </button>
                                </td>
                                <td style="width:800px;border:none;"><span>: Metode Pengadaan Langsung, Metode Pemilihan Langsung, dan Metode Pelelangan Cepat</span></td>
                            </tr>
                            <tr>
                                <td style="width:200px;border:none;">
                                    <button type="button" class="btn btn-sm" style="background-color: #20B2AA;color: white">
                                        <i class="fa fa-edit"></i> Proses e-Catalog
                                    </button>
                                </td>
                                <td style="width:800px;border:none;"><span>: Pembelian melalui e-Katalog</span></td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()"><i class="fa fa-reply"></i> Tutup</button>
        </div>
    </div>
</script>