﻿<div ng-init="prequalAnnouncementVisitorCtrl.init()" class="container" style="margin-top: 30px;">
	<div class="box">
		<div class="box-body table-responsive">
			<div class="row" style="padding-bottom: 10px;">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h3 class="box-title">{{"TITLE" | translate}}</h3>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<form ng-submit="prequalAnnouncementVisitorCtrl.loadData()">
						<div class="input-group" style="padding-top: 15px;">
							<div class="input-cont">
								<input type="text" ng-model="prequalAnnouncementVisitorCtrl.txtSearch" placeholder="{{'TEXT_SEARCH' | translate}}" class="form-control" />
							</div>
							<span class="input-group-btn">
								<button ng-click="prequalAnnouncementVisitorCtrl.loadData()" type="button" class="btn btn-default" title="{{'BTN_SEARCH' | translate}}">
									&nbsp;<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center " style="width: 20px; min-width: 20px; text-align: center;">{{"TABLE.NO" | translate}}</th>
						<th class="text-center " width="15%">{{"TABLE.DATE" | translate}}</th>
						<th class="text-center " width="15%">{{"TABLE.KODE_TENDER" | translate}}</th>
						<th class="text-center ">{{"TABLE.NAMA_TENDER" | translate}}</th>
						<th class="text-center " width="15%">{{"TABLE.MASA_BERLAKU" | translate}}</th>
						<th class="text-center " width="105">{{"TABLE.SISA_HARI" | translate}}</th>
						<th class="text-center" style="width: 60px; min-width: 50px;"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pgm in prequalAnnouncementVisitorCtrl.listPengumuman">
						<td class="text-center">{{PemenangPengadaanCtrl.currentPage > 1 ? (PemenangPengadaanCtrl.maxSize * (PemenangPengadaanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
						<td class="text-center">{{pgm.TenderStepData.ConvertedStartDate}}</td>
						<td class="text-center">{{pgm.TenderStepData.tender.TenderCode}}</td>
						<td>{{pgm.TenderStepData.tender.TenderName}}</td>
						<td class="text-center">{{pgm.TenderStepData.ConvertedEndDate}}</td>
						<td class="text-center">
							<span ng-show="pgm.expired === false && pgm.masa_berlaku>=0">{{pgm.masa_berlaku}} hari lagi</span>
							<span ng-show="pgm.expired === false && pgm.masa_berlaku===-1">0 hari lagi</span>
							<span ng-show="pgm.masa_berlaku<-1">Kadaluarsa</span>
						</td>
						<td class="text-center">
							<a ng-click="prequalAnnouncementVisitorCtrl.detailData(pgm)" class="btn btn-xs btn-primary" role="button" title="Detail"><i class="fa fa-eye"></i> </a>
						</td>
					</tr>
					<tr ng-if="prequalAnnouncementVisitorCtrl.totalItems === 0">
						<td colspan="7">{{'NO_DATA' | translate}}</td>
					</tr>
				</tbody>
			</table>
			<div ng-show="prequalAnnouncementVisitorCtrl.totalItems > 10"></div>
		</div>
	</div>
</div>