﻿<div id="idTambahLibrary" class="modal-content" ng-init="UbahPPGVHSCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="UbahPPGVHSCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'UBAH'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="box box-success">
                    <!--notife flow-->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">
                                        Upload File
                                        <small> ( <span ng-repeat="ft in UbahPPGVHSCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{UbahPPGVHSCtrl.idUploadConfigs[0].Size}} {{UbahPPGVHSCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                    </label>
                                    <input type="file" class="form-control" ng-file-select="UbahPPGVHSCtrl.selectUpload()"
                                           ng-model="UbahPPGVHSCtrl.fileUpload" name="ownerIDFile" required accept="{{UbahPPGVHSCtrl.idFileTypes}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="UbahPPGVHSCtrl.batal()" title="{{'BTN.BACK'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button class="btn btn-sm btn-primary" ng-click="UbahPPGVHSCtrl.uploadFile()" title="{{'UPLOAD_PROCESS'|translate}}"><i class="fa fa-upload"></i></button>


    </div>
</div>
