<div class="modal-header" ng-init="formExpCtrl.init()">
	<button type="button" ng-click="formExpCtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
	<h3 class="modal-title afta-font">{{'DETAIL_TITLE' | translate}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-10 center-block" style="float: none!important;">
			<div class="row well">
				<div class="col-md-12">
					<dl class="dl-horizontal">
						<dt>{{'FORM.CONTRACT_NAME' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.ContractName}}</dd>
						<dt>{{'FORM.LOCATION' | translate}} </dt>
						<dd>
							{{formExpCtrl.lokasidetail}}
						</dd>
						<dt>{{'FORM.INSTITUTE' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.Agency}}</dd>
						<dt>{{'FORM.ADDRESS' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.Address}}, {{formExpCtrl.lokasidetail}}</dd>
						<dt>{{'FORM.TELP' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.AgencyTelpNo}}</dd>
						<dt>{{'FORM.CONTRACT_NO' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.ContractNo}}</dd>
						<dt>{{'FORM.CONTRACT_VALUE' | translate}}</dt>
						<dd>{{formExpCtrl.CurrencyRef}} {{formExpCtrl.dataExp.ContractValue | currency:""}}</dd>
						<dt>{{'FORM.START_DATE' | translate}}</dt>
						<dd>{{formExpCtrl.datepelaksanaan}}</dd>
						<dt>{{'FORM.END_DATE' | translate}}</dt>
						<dd>{{formExpCtrl.dateselesai}}</dd>
						<dt>{{'FORM.DOWNLOAD_DOC' | translate}}</dt>
						<dd ng-show="!(formExpCtrl.dataExp.DocumentURL === null || formExpCtrl.dataExp.DocumentURL === '')">
							<a href="{{formExpCtrl.folderFile + formExpCtrl.dataExp.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="Download File">
								<i class="fa fa-download"></i>&nbsp;Download File
							</a>
						</dd>
						<dd ng-show="(formExpCtrl.dataExp.DocumentURL === null || formExpCtrl.dataExp.DocumentURL === '')">
							<button class="btn btn-sm btn-default" title="{{'FORM.NO_DOC' | translate}}"><i class="fa fa-download"></i> {{'FORM.NO_DOC' | translate}}</button>
						</dd>
						<dt>{{'FORM.DESCRIPTION' | translate}}</dt>
						<dd>
							<p>
								{{formExpCtrl.dataExp.Remark}}
							</p>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" ng-click="formExpCtrl.batal()" class="btn btn-flat btn-danger" title="{{'BTN.BACK' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK' | translate}}</button>
</div>
