<div class="modal-content" ng-init="detailApprovalFPACtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalFPACtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <label>Requestor: {{detailApprovalFPACtrl.list[0].requestor.FullName}} {{detailApprovalFPACtrl.list[0].requestor.SurName}}</label>
            </div>
            <!--
        <div class="col-md-9">
            <label>Tender: {{ContractSignOffController.detail[0].TenderName}}</label>
        </div>-->
        </div>
        <div>
            <div class="row" ng-if="detailApprovalFPACtrl.Status == 1">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detailApprovalFPACtrl.information" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-success" ng-click="detailApprovalFPACtrl.approve()"><i class="fa fa-check"></i> Approve</button>
                                    <button class="btn btn-sm btn-danger" ng-click="detailApprovalFPACtrl.reject()"><i class="fa fa-times"></i> Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.NO'|translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.APPROVAL'|translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.JABATAN'|translate}}</th>
                                        <th class="text-center">{{'TABLE.TGL_APPROVAL'|translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.STATUS'|translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.KETERANGAN'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalFPACtrl.crApps">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td ng-class="{'text-bold':dt.EmployeeID == detailApprovalFPACtrl.employeeID}">{{dt.EmployeeFullName}}</td>
                                        <td>{{dt.EmployeePositionName}}</td>
                                        <td class="text-center">{{dt.ApprovalDate}}</td>
                                        <td ng-if="dt.ApprovalStatus === null" class="text-center" ></td>
                                        <td ng-if="dt.ApprovalStatus === 1" class="text-center" >{{'STATUS.APPROVED'|translate}}</td>
                                        <td ng-if="dt.ApprovalStatus === 0" class="text-center" >{{'STATUS.REJECT'|translate}}</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalFPACtrl.crApps.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detailApprovalFPACtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>