﻿<section class="content" ng-init="VerifiedSendCtrl.init()" style="overflow: visible!important;">
	<ol class="breadcrumb" style="margin-top: 0px;">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.VERIFIED_SEND' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="alert alert-info col-md-12" ng-if="VerifiedSendCtrl.verified.Isverified ===null && VerifiedSendCtrl.verified.VerifiedSendDate ===null">
					<button type="button" class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">x</button>
					<span><strong>{{'WARNING' | translate}} !</strong> {{'CHECK_VALID' | translate}}!</span>
				</div>
				<div class="alert alert-success col-md-12" ng-if="VerifiedSendCtrl.verified.Isverified===1">
					<button type="button" class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">x</button>
					<span><strong>{{'INFO' | translate}}!</strong>{{'VERIFIED' | translate}} </span>
				</div>
				<div class="alert alert-danger col-md-12" ng-if="VerifiedSendCtrl.verified.Isverified ===null && VerifiedSendCtrl.flag === 0">
					<button type="button" class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">x</button>
					<span><strong>{{'WARNING' | translate}} !</strong> {{'INCOMPLETE' | translate}}</span>
				</div>
				<div class="alert alert-warning col-md-12" ng-if="VerifiedSendCtrl.verified.Isverified ===null && VerifiedSendCtrl.verified.VerifiedSendDate !==null">
					<button type="button" class="close" data-dismiss="alert" aria-label="close" aria-hidden="true">x</button>
					<span>
						<strong>{{'WARNING' | translate}} !</strong> {{'SENT' | translate}}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<img src="assets/img/verifikasi.png" class="img-responsive center-block" style="padding-bottom: 10px;padding-right:90px;padding-left:50px;"/>
	</div>
	<div class="row">
		<div class="col-md-12 text-center" style="float: none!important;" ng-show="VerifiedSendCtrl.verified.Isverified === null && VerifiedSendCtrl.verified.VerifiedSendDate === null && VerifiedSendCtrl.flag === 1">
			<a href="" ng-click="VerifiedSendCtrl.add(VerifiedSendCtrl.verified)" class="btn btn-primary" title="{{'ACCEPT'| translate}}">
				<i class="fa fa-send-o"></i> {{'SEND_VERIFIKASI' | translate}}&nbsp;
			</a>
		</div>
	</div>
</section>