﻿<section class="content" ng-init="formPRCtrl.init()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{ 'FORMINPUTRFQ.BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a href="#/purchase-requisition" class="active">{{ 'FORMINPUTRFQ.BREADCRUMB.MASTER_PR_FORM' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-primary">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 ng-if="formPRCtrl.RFQID == 0" class="afta-font text-center">{{ 'FORMINPUTRFQ.TITLE' | translate}}</h3>
                            <h3 ng-if="formPRCtrl.RFQID > 0" class="afta-font text-center">{{ 'FORMINPUTRFQ.TITLE_EDIT' | translate}}</h3>
						</div>
					</div>
					<div class="row" style="margin-top:20px;">
						<div class="col-md-11 center-block" style="float: none!important">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'FORMINPUTRFQ.TYPE_TENDER' | translate }}</label><br />
                                        <input ng-model="formPRCtrl.isTender" ng-click="formPRCtrl.loadSchemaTenderByIsTender()" ng-checked="formPRCtrl.isTender == true" type="radio" name="tenderType" value="true" required disabled> Tender&nbsp;&nbsp;&nbsp;
                                        <input ng-model="formPRCtrl.isTender" ng-click="formPRCtrl.loadSchemaTenderByIsTender()" ng-checked="formPRCtrl.isTender == false" type="radio" name="tenderType" value="false" required disabled> Pre Tender&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>{{ 'FORMINPUTRFQ.LB_CODE' | translate}}</label>
										<input type="text" required ng-model="formPRCtrl.dataForm.RFQCode" ng-disabled="true" class="form-control input-sm">
									</div>
								</div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{'FORMINPUTRFQ.LB_NAME' | translate}}</label>
                                        <input type="text" required ng-model="formPRCtrl.dataForm.RFQName" class="form-control input-sm" />
                                    </div>
                                </div>
							</div>
							<!--<div class="row">
								<div class="col-md-11" style="float: none!important;">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_PENGUMUMAN' | translate}}</label>
										<textarea disabled ng-model="formPRCtrl.EmailContent" class="form-control input-sm"></textarea>
									</div>
								</div>
							</div>-->
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_COMODITY' | translate}}</label>
										<select class="form-control input-sm" ng-model="formPRCtrl.selectedComodity"
												ng-options="item as item.Name for item in formPRCtrl.listComodity"
												ng-change="formPRCtrl.commodityChange()">
											<option value="" disabled selected> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_COMODITY' | translate}} </option>
										</select>
									</div>
								</div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">{{'FORMINPUTRFQ.LB_MANUFACTURER' | translate}}</label>
                                        <select class="form-control input-sm" ng-model="formPRCtrl.selectedManufacturer"
                                                ng-options="item as item.ManufacturerName for item in formPRCtrl.listManufacturer"
                                                ng-change="formPRCtrl.manufacturerChange()">
                                            <option value="" disabled selected>  {{'FORMINPUTRFQ.LB_MANUFACTURER' | translate}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'FORMINPUTRFQ.PLANT' | translate }}</label>
                                        <select class="form-control input-sm" ng-model="formPRCtrl.selectedPlantID" ng-options="val as val.SearchTerm1 for val in formPRCtrl.plants" style="width: 100%;">
                                            <option value="" disabled selected> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.PLANT' | translate }}</option>
                                        </select>
                                    </div>
                                </div>
								<div class="col-md-2">
                                     <div class="form-group">
                                         <label>&nbsp;</label><br />
                                          <button class="btn btn-sm btn-flat btn-primary" type="button"
                                                  ng-click="formPRCtrl.openItemPR(1)" title="{{ 'FORMINPUTRFQ.BTN_PILIHITEM' | translate}}">
                                              <i class="fa fa-external-link"></i> Item : {{formPRCtrl.itemlistPR.length}}
                                          </button>
                                     </div>
								</div>
							</div>
							<div class="row" style="margin-bottom: 25px;">
								<div class="col-md-3">
									<label class="control-label">{{'FORMINPUTRFQ.LB_LOCATION' | translate}}</label>
									<select class="form-control input-sm" ng-model="formPRCtrl.selectedLocation" ng-options="item as item.Name for item in formPRCtrl.listLocation" ng-change="formPRCtrl.locationChange()">
										<option value="" disabled selected> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_LOCATION' | translate}} </option>
									</select>
								</div>
								<div class="col-md-3">
									<label class="control-label">{{'FORMINPUTRFQ.LB_SUB_LOCATION' | translate}}</label>
									<select class="form-control input-sm" ng-model="formPRCtrl.selectedSubLocation" ng-options="item as item.Name for item in formPRCtrl.listSubLocation">
										<option value="" disabled selected> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_SUB_LOCATION' | translate}} </option>
									</select>
								</div>
								<div class="col-md-6">
									<label class="control-label">{{'FORMINPUTRFQ.LB_DEPARTMENT' | translate}}</label>
									<select class="form-control input-sm" ng-model="formPRCtrl.selectedDepartment" ng-options="item as item.DepartmentName for item in formPRCtrl.listDepartment">
										<option value="" disabled selected> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_DEPARTMENT' | translate}} </option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 center-block" style="float: none!important;border:dotted 1px #808080 !important;">
							<fieldset>
                                <br />
									<!--<input name="cekdata1" type="radio" ng-checked="formPRCtrl.dataForm.IsByArea" ng-model="formPRCtrl.dataForm.IsByArea" ng-click="formPRCtrl.cekForm('area')" ng-change="formPRCtrl.checkArea()"/>-->
									<input type="checkbox" ng-model="formPRCtrl.dataForm.IsByArea" ng-change="formPRCtrl.cekForm('area')"> <label>{{ 'PILIH_VENDOR_AREA' | translate}}</label>
								<div class="row">
									<div class="col-md-12 margin-atas">
										<div class="form-group">
											<label>{{ 'FORMINPUTRFQ.LB_AREA' | translate}}</label>
											<div class="form-inline" style="padding-left: 17px!important;">
												<input type="checkbox" ng-change="formPRCtrl.checkArea()" ng-model="formPRCtrl.dataForm.IsLocal" ng-disabled="formPRCtrl.dataForm.IsByArea === false" /> {{ 'FORMINPUTRFQ.CK_LOCAL' | translate}} <span style="padding-right: 25px;"></span>
												<input type="checkbox" ng-change="formPRCtrl.checkArea(1)" ng-model="formPRCtrl.dataForm.IsNational" ng-disabled="formPRCtrl.dataForm.IsByArea === false" /> {{ 'FORMINPUTRFQ.CK_NATIONAL' | translate}} <span style="padding-right: 25px;"></span>
												<!--<select class="form-control input-sm" ng-model="formPRCtrl.selectedVendorLocation" ng-options="item as item.Name for item in formPRCtrl.listLocation" ng-change="formPRCtrl.vendorLocationChange()">
													<option> {{'FORMINPUTRFQ.LB_LOCATION' | translate}} </option>
												</select><span style="padding-right: 25px;"></span>-->
												<input type="checkbox" ng-change="formPRCtrl.checkArea(2)" ng-model="formPRCtrl.dataForm.IsInternational" ng-disabled="formPRCtrl.dataForm.IsByArea === false" /> {{ 'FORMINPUTRFQ.CK_INTERNATIONAL' | translate}}
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-6">
												<label class="control-label">{{ 'FORMINPUTRFQ.LB_CLASIFICATION' | translate}}</label>
												<select class="form-control input-sm" ng-model="formPRCtrl.selectedClasification"
														ng-options="item as item.Name | translate for item in formPRCtrl.listClasification"
														ng-disabled="formPRCtrl.dataForm.IsByArea === false">
													<option value="" disabled selected>{{ 'FORMINPUTRFQ.CMB_CLASIFICATION.LABEL' | translate}}</option>
												</select>
											</div>
											<div class="col-md-6" style="vertical-align:bottom;margin-top:24px">
												<button type="button" class="btn btn-sm btn-flat btn-success" ng-click="formPRCtrl.viewVendor(1)"
														ng-disabled="formPRCtrl.dataForm.IsByArea === false" title="{{ 'FORMINPUTRFQ.BTN_SHOWVENDOR' | translate}}">
                                                    <i class="fa fa-search"></i> {{'FORMINPUTRFQ.BTN_SHOWVENDOR' | translate }}
												</button>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
                            <br />
						</div>
					</div>

					<div class="row" style="margin-bottom:20px;">
						<div class="col-md-11 center-block margintop20" style="float: none!important;border:dotted 1px #808080 !important;padding-bottom:20px!important;">
							<fieldset>
                                <br />
									<!--<input type="radio" name="cekdata" ng-model="formPRCtrl.dataForm.IsByVendor"  ng-click="formPRCtrl.cekForm('vendor')" ng-checked="formPRCtrldataForm.IsByVendor"/> {{'FORMINPUTRFQ.TITLE_LISTVENDOR' | translate}}-->
                                    <input type="checkbox" ng-model="formPRCtrl.dataForm.IsByVendor" ng-change="formPRCtrl.cekForm('vendor')"> <label>{{ 'PILIH_VENDOR_MANUAL' | translate}}</label>
							</fieldset>
							<div class="row">
								<div class="col-md-12 margin-atas">
                                    <label>{{'FORMINPUTRFQ.TITLE_LISTVENDOR' | translate}}</label>
                                    <div style="float: right;margin-bottom:10px">
                                        <button class="btn btn-sm btn-flat btn-success pull-right" type="button" ng-click="formPRCtrl.openDataVendor()"
                                                ng-disabled="formPRCtrl.dataForm.IsByVendor === false" data-toggle="modal" data-target="#myModal" title="{{'FORMINPUTRFQ.BTN_ADDVENDOR' | translate}}">
                                            <i class="fa fa-plus"></i>&nbsp;{{'FORMINPUTRFQ.BTN_ADDVENDOR' | translate }}
                                        </button>
                                    </div>
                                </div>
							</div>
							<div class="row">
								<div class="col-md-12 marginBottom-1">
									<div class="table table-responsive">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="center-vertical" width="5%">{{'FORMINPUTRFQ.TABLE_VENDOR.NO' | translate}}</th>
													<th class="center-vertical" width="25%">{{'FORMINPUTRFQ.TABLE_VENDOR.CODE' | translate}}</th>
													<th class="center-vertical">{{'FORMINPUTRFQ.TABLE_VENDOR.NAMEV' | translate}}</th>
													<th class="center-vertical" width="10%">Action</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="dt in formPRCtrl.listVendor">
													<td class="center-vertical">{{$index + 1}}</td>
													<td style="vertical-align: middle;">{{dt.Code}}</td>
													<td style="vertical-align: middle;">{{dt.VendorName}}</td>
													<td class="text-center">
														<a class="btn btn-flat btn-xs btn-danger" title="Delete" ng-click="formPRCtrl.hapusVendor($index)" title="Batal">
															<i class="fa fa-trash-o"></i>
														</a>
													</td>
												</tr>
                                                <tr>
                                                    <td class="center-vertical" colspan="4" ng-if="formPRCtrl.listVendor.length == 0">No Data</td>
                                                </tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 center-block margintop20" style="float: none!important;">
							<div class="form-group">
								<label>{{'FORMINPUTRFQ.LB_EMAILVENDOR' | translate}}</label>
								<input type="text" ng-model="formPRCtrl.dataForm.Emails" class="form-control input-sm" />
								<i style="font-size:12px;margin-top:0px!important">{{'FORMINPUTRFQ.LB_EMAILVENDOR_COMMA' | translate}}</i>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-11 center-block margintop20" style="float: none!important;">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_JENISPENAWARAN' | translate}}</label>
										<select required class="form-control input-sm" ng-model="formPRCtrl.selectedTypeTender"
												ng-options="item as item.Value for item in formPRCtrl.listTypeTender">
											<option value="" selected disabled> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_JENISPENAWARAN' | translate}} </option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_DELIVERYTERMS' | translate}}</label>
										<div class="form-inline">
											<label class="radio-inline" ng-repeat="dt in formPRCtrl.listDeliveryTerms">
												<input ng-checked="dt.RefID === formPRCtrl.dataForm.DeliveryTerms" ng-change="formPRCtrl.changeTerm(formPRCtrl.dataForm.DeliveryTerms)"
													   type="radio" value="{{dt.RefID}}" ng-model="formPRCtrl.dataForm.DeliveryTerms" />&nbsp;{{dt.Value | translate}}
											</label>

										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_TYPEPENAWARAN' | translate}}</label>
										<select class="form-control input-sm" ng-model="formPRCtrl.selectedOptionsTender"
												ng-options="item as item.Value for item in formPRCtrl.listOptionsTender" ng-change="formPRCtrl.cekOptionsTender()">

											<option value="" selected disabled>  {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_TYPEPENAWARAN' | translate}} </option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_INCOTERMS' | translate}}</label>
										<select ng-disabled="formPRCtrl.dataForm.DeliveryTerms == 3088" class="form-control input-sm" ng-model="formPRCtrl.selectedIncoTerms"
												ng-options="item as item.Name for item in formPRCtrl.listIncoTerms">
											<option value="" selected disabled>  {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_INCOTERMS' | translate}} </option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_PAYMENTTERMS' | translate}}</label>
										<select class="form-control input-sm" ng-model="formPRCtrl.selectedPaymentTerm"
												ng-options="item as item.Name for item in formPRCtrl.listPaymentTerm">
											<option value="" selected disabled> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_PAYMENTTERMS' | translate}} </option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_BATAS' | translate}} (%)</label>
										<input ng-disabled="formPRCtrl.selectedOptionsTender.RefID == 4173" type="text" class="form-control input-sm" ng-model="formPRCtrl.dataForm.Limit">
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_EXPIRED' | translate}}</label>
										<div class="input-group">
											<input type="text" class="form-control input-sm" ng-model="formPRCtrl.dataForm.ExpiredDay" />
											<span class="input-group-addon">{{'FORMINPUTRFQ.LB_DAY' | translate}}</span>
										</div>
									</div>
								</div>
								<!--<div class="col-md-4">
									 <div class="form-group">
										 <button class="btn btn-sm btn-flat btn-primary form-control margintop20" type="button"
												 ng-click="tambahVendor('lg')">
											 <i class="fa fa-file-archive-o"></i> {{'FORMINPUTRFQ.BTN_DOCTENDER' | translate}}
										 </button>
									 </div>
								 </div>-->
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_STATEDELIVERYTO' | translate}}</label><br />
										<select class="form-control input-sm" ng-model="formPRCtrl.selectedState"
												ng-options="item as item.DeliveryState for item in formPRCtrl.listState" ng-change="formPRCtrl.changeIncoTerm(formPRCtrl.selectedState)">
											<option value="" selected disabled> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_STATEDELIVERYTO' | translate}} </option>
										</select>
									</div>
								</div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'FORMINPUTRFQ.LB_METODEBIDDER' | translate}}</label>
                                        <select class="form-control input-sm" ng-model="formPRCtrl.selectedBidderMethod"
                                                ng-options="item as item.Value for item in formPRCtrl.listBidderMethod">
                                            <option value="" selected disabled> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_METODEBIDDER' | translate}} </option>
                                        </select>
                                    </div>
                                </div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_SKEMATENDER' | translate}}</label>
										<select class="form-control input-sm" ng-model="formPRCtrl.selectedSchemaTender" ng-change="formPRCtrl.getSteps()"
												ng-options="item as item.MethodName for item in formPRCtrl.listSchemaTender">
											<option value="" selected disabled> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_SKEMATENDER' | translate}} </option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label class="control-label">{{'FORMINPUTRFQ.LB_METODEEVALUASI' | translate}}</label><br />
										<select class="form-control input-sm" ng-model="formPRCtrl.selectedEvalMethod"
												ng-options="item as item.EvaluationMethodName for item in formPRCtrl.listEvalMethod">
											<option value="" selected disabled> {{'FORMINPUTRFQ.PILIH' | translate}} {{'FORMINPUTRFQ.LB_METODEEVALUASI' | translate}} </option>
										</select>
									</div>
								</div>
                                <div class="col-md-4" style="vertical-align:bottom;margin-top:24px">
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-flat btn-primary form-control margintop20" type="button"
                                                ng-click="formPRCtrl.aturCE(1)" ng-disabled="formPRCtrl.selectedSchemaTender == undefined">
                                            <i class="fa fa-edit"></i> {{'FORMINPUTRFQ.LB_SETREVIEWER' | translate}}
                                        </button>
                                    </div>
                                </div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label class="control-label pull-left">{{'FORMINPUTRFQ.TITLE_TAHAPAN' | translate}}</label>
									<label class="control-label pull-right">
										<button class="btn btn-sm btn-flat btn-success" type="button" ng-click="formPRCtrl.getSteps()">
											{{'FORMINPUTRFQ.BTN_SHOWSTEP' | translate}}
										</button>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="table table-responsive">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="center-vertical" width="5%">{{'FORMINPUTRFQ.TABLESTEP.NO' | translate}}</th>
													<th class="center-vertical">{{'FORMINPUTRFQ.TABLESTEP.NAMESTEP' | translate}}</th>
													<th class="center-vertical" width="20%">{{'FORMINPUTRFQ.TABLESTEP.FIRSTDATE' | translate}}</th>
													<th class="center-vertical" width="20%">{{'FORMINPUTRFQ.TABLESTEP.ENDDATE' | translate}}</th>
													<th class="center-vertical" width="15%">{{'FORMINPUTRFQ.TABLESTEP.DURATION' | translate}}</th>
													<th class="center-vertical">{{'FORMINPUTRFQ.TABLESTEP.ACTION' | translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="step in formPRCtrl.listStepTender">
													<td class="center-vertical">{{$index+1}}</td>
													<td class="center-vertical">{{step.TenderStepName |translate}}</td>
													<td class="center-vertical">
														<div ng-if="$index === 0" class="form-group">
															<div class="input-group date form_datetime">
																<input readonly required class="form-control" size="10" type="text" uib-datepicker-popup="dd-MMM-yyyy" close-text="{{'CLOSE'|translate}}" is-open="formPRCtrl.isCalendarOpened[$index]" ng-change="formPRCtrl.getEndDate($index)" ng-model="step.StartDate" />
																<span class="input-group-btn">
																	<button type="button" class="btn btn-default" ng-click="formPRCtrl.openCalendar($index)">
																		<i class="glyphicon glyphicon-calendar"></i>
																	</button>
																</span>
															</div>
														</div>
														<span ng-if="$index > 0 && step.StartDate">{{step.StartDate | date:'dd-MMM-yyyy'}}</span>
														<!--<div class="input-group date form_datetime">
															<input readonly required class="form-control"  size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
																   is-open="formPRCtrl.isCalendarOpened[$index]" ng-click="formPRCtrl.openCalendar($index)" ng-model="step.StartDate" />
															<span class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="formPRCtrl.openCalendar($index)"  ng-model="step.StartDate" ><i class="glyphicon glyphicon-calendar"></i></button>
															</span>
														</div>-->
													</td>
													<td style="vertical-align: middle;">
														{{step.EndDate ? (step.EndDate | date:'dd-MMM-yyyy') : ''}}
														<!--<div class="input-group date form_datetime">
															<input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
																   is-open="formPRCtrl.isCalendarOpened2[$index]" ng-model="step.EndDate" ng-click="formPRCtrl.openCalendar2($index)" />
															<span class="input-group-btn">
																<button type="button" class="btn btn-default" ng-click="formPRCtrl.openCalendar2($index)"><i class="glyphicon glyphicon-calendar"></i></button>
															</span>
														</div>-->
													</td>
													<td style="vertical-align: middle;">
														<input type="number" min="0" class="form-control" style="width: 100%;" ng-model="step.Duration" ng-change="formPRCtrl.getEndDate($index)" />
														<!--<div class="input-group">
															<input type="text" class="form-control input-sm" ng-model="step.Duration" />
															<span class="input-group-addon">{{'FORMINPUTRFQ.TABLESTEP.LB_DAY' | translate}}</span>
														</div>-->
													</td>
													<td class="text-center"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box-footer">
					<div class="row">
						<div class="col-md-12 text-center">
							<button class="btn btn-sm btn-flat btn-primary" type="button" ng-click="formPRCtrl.back()" title="{{'FORMINPUTRFQ.BTN_KEMBALI' | translate}}"><i class="fa fa-arrow-circle-left"></i> </button>
							<button type="submit" class="btn btn-sm btn-flat btn-success" ng-click="formPRCtrl.prosesSimpan()" title="{{'FORMINPUTRFQ.BTN_SAVE' | translate}}"><i class="fa fa-save"></i> </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>