﻿<div class="modal-content" style="width:1100px!important" ng-init="ItemPRCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="ItemPRCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="afta-font text-center">{{'ITEMPR.TITLE' | translate}}</h3>
                        <h5 class="afta-font text-center">{{ItemPRCtrl.CommodityName}}</h5>
                    </div>
                </div>
                <div class="row" ng-if="ItemPRCtrl.flag === 1">
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-success" type="button" ng-click="ItemPRCtrl.simpanItem(ItemPRCtrl.listItemPR) "><i class="fa fa-save"></i> {{'ITEMPR.BTN_SAVE' | translate}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.NO' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.DATE' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.APPROVAL' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.NO_PR' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.REQ_ITEM' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.PURCH_GROUP' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.REQUISITIONER' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.STORAGE_LOCATION' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.DESCRIPTION' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.QTY' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.TOTALVALUE' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.MATERIAL' | translate}}</th>
                                        <th ng-if="!ItemPRCtrl.CommodityID" class="center-vertical">{{'ITEMPR.TABLE.COMMODITY' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.DELIVERYDATE' | translate}}</th>
                                        <!--<th class="center-vertical">{{'ITEMPR.TABLE.FILE' | translate}}</th>-->
                                        <th class="center-vertical" ng-if="ItemPRCtrl.flag ===1">
                                            <input type="checkbox" ng-model="ItemPRCtrl.isCekAll" ng-change="ItemPRCtrl.CheckedAll()"> {{'ITEMPR.TABLE.ACTION' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pr in ItemPRCtrl.listItemPR">
                                        <td class="text-center">{{ItemPRCtrl.currentPage > 1 ? (ItemPRCtrl.maxSize * (ItemPRCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td class="text-center">{{pr.InputDate}}</td>
                                        <td class="text-center">{{pr.ApprovalDate}}</td>
                                        <td class="text-center">{{pr.PurchaseReq}}</td>
                                        <td class="text-center">{{pr.RequisnItem}}</td>
                                        <td class="text-center">{{pr.PurchGroup}}</td>
                                        <td>{{pr.Requisitioner}}</td>
                                        <td>{{pr.StorLocation}}</td>
                                        <td class="text-center">{{pr.ShortText}} {{pr.ItemText}} {{pr.MaterialPOText}} {{pr.HeaderNote}} {{pr.ItemNote}} {{pr.DeliveryText}} {{pr.NoteForBuyer}} {{pr.Manufacturer1}} {{pr.Manufacturer2}} {{pr.MPNMaterial}}</td>
                                        <td class="text-center">{{pr.Quantity}}</td>
                                        <td style="text-align:right;">{{pr.TotalValue}}</td>
                                        <td class="text-center">{{pr.Material}}</td>
                                        <td ng-if="!ItemPRCtrl.CommodityID" nowrap>{{pr.CommodityName}}</td>
                                        <td class="text-center">{{pr.DeliveryDate}}</td>
                                        <!--<td style="vertical-align: middle;">{{pr.FileDocumen}}</td>-->
                                        <td class="text-center"  ng-if="ItemPRCtrl.flag === 1" >
                                            <input type="checkbox" ng-checked="{{pr.IsUsed}}" ng-model="pr.IsUsed" ng-change="ItemPRCtrl.Checked(pr)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div ng-if="ItemPRCtrl.RFQId == 0" class="col-md-10 center text-center ">
                        <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="ItemPRCtrl.totalItems" ng-model="ItemPRCtrl.currentPage"
                            class="pagination-sm" previous-text="&lsaquo;" max-number="ItemPRCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            ng-change="ItemPRCtrl.jLoad(ItemPRCtrl.currentPage)" max-size="10"></ul>
                        <br />
                    </div>
                    <div ng-if="ItemPRCtrl.RFQId !== 0" class="col-md-10 center text-center ">
                        <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="ItemPRCtrl.totalItems" ng-model="ItemPRCtrl.currentPage"
                            class="pagination-sm" previous-text="&lsaquo;" max-number="ItemPRCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            ng-change="ItemPRCtrl.jLoadDataItem(ItemPRCtrl.currentPage)" max-size="10"></ul>
                        <br />
                    </div>
                    <div class="col-md-10 text-right">

                        <label>{{'TOTAL_DATA'|translate}} : {{ItemPRCtrl.totalItems}}</label>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>