﻿<section class="content" style="overflow: visible!important;" ng-init="PROutCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{ 'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a href="#/purchase-requisition/synchronize" class="active">{{ 'BREADCRUMB.MASTER_PR' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="afta-font judul-datatabel">{{'ITEMPR.TITLE' | translate}}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="float: none!important;">
                                    <form ng-submit="PROutCtrl.onSearchSubmit(textSearch)" role="form" method="post">
                                        <div class="form-group">
                                            <div class="row well" style="margin-left:1px;margin-right:1px">
                                                <div class="col-md-3" ng-hide="PROutCtrl.selectedSearchBy === '8'">
                                                    <label>{{'PILIH_STATUS_MATERIAL' | translate}}</label>
                                                    <select ng-model="PROutCtrl.materialStatus" class="form-control input-sm">
                                                        <option selected disabled>--{{'PILIH_STATUS_MATERIAL' | translate}}--</option>
                                                        <option value="0">{{'SEMUA' | translate}}</option>
                                                        <option value="1">{{'MATERIAL_KOSONG' | translate}}</option>
                                                        <option value="2">{{'MATERIAL_TERISI' | translate}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Filter Data Item PR</label>
                                                    <select class="form-control input-sm" ng-model="PROutCtrl.selectedSearchBy"
                                                            ng-change="PROutCtrl.changeCombo()">
                                                        <option value="0" selected="selected">--{{ 'ITEMPRUPLOAD.CMB_SEARCH' | translate}}--</option>
                                                        <option value="2">{{ 'ITEMPRUPLOAD.CMB_DATEAPPROV' | translate}}</option>
                                                        <option value="3">{{ 'ITEMPRUPLOAD.CMB_PURCHGROUP' | translate}}</option>
                                                        <option value="4">{{'DESC'|translate}}</option>
                                                        <option value="5">Purchase Requisition</option>
                                                        <option value="6">Manufacture</option>
                                                        <option value="7">Material</option>
                                                        <option value="8">Plant</option>
                                                        <option value="9">Storage Location</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3" style="margin-top:24px" ng-show="(PROutCtrl.selectedSearchBy === '1') || (PROutCtrl.selectedSearchBy === '2')">
                                                    <div class="input-group date form_datetime">
                                                        <input readonly required class="form-control input-sm" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy"
                                                               close-text="{{'TUTUP'|translate}}" is-open="PROutCtrl.isCalendarOpened[1]"
                                                               ng-model="PROutCtrl.textDate" ng-click="PROutCtrl.openCalendar(0)"
                                                               ng-change="PROutCtrl.jLoad(1)" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-sm btn-default" ng-click="PROutCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-ms-3" style="margin-top:24px">
                                                    <div class="input-group">
                                                        <input ng-model="textSearch" ng-show="PROutCtrl.selectedSearchBy === '3' || PROutCtrl.selectedSearchBy === '4' || PROutCtrl.selectedSearchBy === '5' || PROutCtrl.selectedSearchBy === '6' || PROutCtrl.selectedSearchBy === '7' || PROutCtrl.selectedSearchBy === '9'" class="form-control input-sm" />
                                                        <span class="input-group-btn" ng-show="PROutCtrl.selectedSearchBy === '3' || PROutCtrl.selectedSearchBy === '4' || PROutCtrl.selectedSearchBy === '5' || PROutCtrl.selectedSearchBy === '6' || PROutCtrl.selectedSearchBy === '7' || PROutCtrl.selectedSearchBy === '9'" >
                                                            <button type="submit" name="search" id="search-btn" class="btn btn-sm btn-primary" title="{{'ITEMPR.CARI' | translate}}"><i class="fa fa-search"></i>&nbsp;Cari </button>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-md-3" style="margin-top:-25px" ng-show="PROutCtrl.selectedSearchBy === '8'">
                                                    <label>{{'ITEMPR.PILIH_PLANT' | translate}}</label>
                                                    <select class="form-control input-sm" ng-model="Plant" ng-change="PROutCtrl.dataPlant(Plant)">
                                                        <option selected>--{{'ITEMPR.PILIH_PLANT' | translate}}--</option>
                                                        <option value="{{tt.Plant}}" ng-repeat="tt in PROutCtrl.dataPlantCode">{{tt.Plant}} | {{tt.PlantCode}}</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive text-nowrap">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="center-vertical sticky-col first-col">{{'ITEMPR.TABLE.NO' | translate}}</th>
                                                    <!--<th class="center-vertical">{{'ITEMPR.TABLE.DATE' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPR.TABLE.APPROVAL' | translate}}</th>-->
                                                    <th class="center-vertical sticky-col second-col">{{'ITEMPR.TABLE.NO_PR' | translate}}</th>
                                                    <th class="center-vertical sticky-col third-col">{{'ITEMPR.TABLE.PLANT' | translate}}</th>
                                                    <th class="center-vertical sticky-col four-col">{{'ITEMPR.TABLE.REQ_ITEM' | translate}}</th>
                                                    <!--<th class="center-vertical">{{'ITEMPR.TABLE.PURCH_GROUP' | translate}}</th>-->                                                    
                                                    <th class="center-vertical sticky-col five-col" style="min-width:100px">PIC</th>
                                                    <th class="center-vertical">{{'ITEMPR.TABLE.REQUISITIONER' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPR.TABLE.STORAGE_LOCATION' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.DESCRIPTION' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.MANUFACTURE' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPR.TABLE.QTY' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPR.TABLE.TOTALVALUE' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPR.TABLE.CURRENCY' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPR.TABLE.MATERIAL' | translate}}</th>
                                                    <!--<th class="center-vertical" style="min-width:200px">{{'ITEMPR.TABLE.HARMONIZED_CODE' | translate}}</th>
                                                    <th class="center-vertical" style="min-width:200px">{{'ITEMPR.TABLE.CONCESSION_CATEGORY' | translate}}</th>-->
                                                    <th class="center-vertical" style="min-width:200px">{{'ITEMPR.TABLE.COMMODITY' | translate}}</th>
                                                    <th class="center-vertical">{{'ITEMPR.TABLE.DELIVERYDATE' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pr in PROutCtrl.listItemPR">
                                                    <td class="text-center sticky-col first-col">{{PROutCtrl.currentPage > 1 ? (PROutCtrl.maxSize * (PROutCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                    <!--<td class="text-center">{{pr.InputDate}}</td>
                                                    <td class="text-center">{{pr.ApprovalDate}}</td>-->
                                                    <td class="text-center sticky-col second-col">{{pr.PurchaseReq}}</td>
                                                    <td class="text-center sticky-col third-col">{{pr.Plant}}</td>
                                                    <td class="text-center sticky-col four-col">{{pr.RequisnItem}}</td>
                                                    <!--<td class="text-center">{{pr.PurchGroup}}</td>-->
                                                    <td class="text-center sticky-col five-col">
                                                        <span ng-hide="PROutCtrl.isL1">{{pr.PICEmployeeID}}</span>
                                                        <div class="input-group" ng-show="PROutCtrl.isL1">
                                                            <input ng-readonly="true" style="background-color:white;" type="text" class="form-control input-sm text-center" value="{{pr.PICEmployeeID}}" />
                                                            <span class="input-group-btn">
                                                                <button ng-click="PROutCtrl.openPIC(pr)" class="btn btn-sm btn-warning" title="Ubah Kode PGR"><i class="fa fa-external-link"></i></button>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>{{pr.Requisitioner}}</td>
                                                    <td>{{pr.StorLocation}}</td>
                                                    <td>
                                                        {{pr.ShortText}} {{pr.ItemText}} {{pr.MaterialPOText}} {{pr.HeaderNote}} {{pr.ItemNote}} {{pr.DeliveryText}} {{pr.NoteForBuyer}}
                                                    </td>
                                                    <td>{{pr.Manufacturer1 ? pr.Manufacturer1 + ' ;' : ''}}{{pr.Manufacturer2}}</td>
                                                    <td class="text-center">{{pr.Quantity}}</td>
                                                    <td style="text-align:right;">{{pr.TotalValue | currency : ""}}</td>
                                                    <td>{{pr.Currency}}</td>
                                                    <td class="text-center">{{pr.Material}}</td>
                                                    <!--<td class="text-center">-->
                                                        <!--<span ng-show="{{pr.Material}}">{{pr.HarmonizedTariffCode}}</span>-->
                                                        <!--<div class="input-group">
                                                            <input ng-readonly="true" style="background-color:white;" type="text" class="form-control input-sm text-center" value="{{pr.HarmonizedTariffCode}}" />
                                                            <span class="input-group-btn">
                                                                <button ng-click="PROutCtrl.openHarmonizedCode(pr)" class="btn btn-sm btn-warning" title="Input Harmonized Code"><i class="fa fa-external-link"></i></button>
                                                            </span>
                                                        </div>-->
                                                    <!--</td>-->
                                                    <!--<td class="text-center">-->
                                                        <!--<span ng-show="{{pr.Material}}">{{pr.ConcessionCategoryCode}}</span>-->
                                                        <!--<div class="input-group">
                                                            <input ng-readonly="true" style="background-color:white;" type="text" class="form-control input-sm text-center" value="{{pr.ConcessionCategoryCode}}" />
                                                            <span class="input-group-btn">
                                                                <button ng-click="PROutCtrl.openConcessionCategory(pr)" class="btn btn-sm btn-warning" title="Input Concession Category"><i class="fa fa-external-link"></i></button>
                                                            </span>
                                                        </div>-->
                                                    <!--</td>-->
                                                    <td class="text-center">
                                                        <!--
                                                        <div class="input-group">
                                                            <input ng-disabled="true" type="text" class="form-control input-sm text-center" value="{{pr.CommodityName}}" />
                                                            <span class="input-group-btn">
                                                                <button ng-click="PROutCtrl.openCommodity(pr)" class="btn btn-sm btn-warning" title="Input Komoditi"><i class="fa fa-external-link"></i></button>
                                                            </span>
                                                        </div>
                                                        -->
                                                        <select ng-model="pr.Commodity" class="input-sm form-control" ng-options="item.ID as item.Name for item in PROutCtrl.commodities" ng-change="PROutCtrl.updateCommodity(pr.ID, pr.Commodity)"></select>
                                                    </td>
                                                    <td class="text-center">{{pr.DeliveryDate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="PROutCtrl.totalItems" ng-model="PROutCtrl.currentPage"
                                        class="pagination-sm" previous-text="&lsaquo;" max-number="PROutCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                        ng-change="PROutCtrl.jLoad(PROutCtrl.currentPage)" max-size="10"></ul>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label turun-15">TotalData : {{PROutCtrl.totalItems}}</label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button ng-click="PROutCtrl.back()" class="btn btn-sm btn-danger pull-right" title="{{'BTN_BACK'|translate}}"><i class="fa fa-reply"></i>  {{'BTN_BACK'|translate}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <button class="btn btn-xs btn-warning" title="Ubah Kode PGR"><i class="fa fa-external-link"></i></button> : Ubah Kode PGR
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<script type="text/ng-template" id="addCommodity.html">
    <div class="modal-content" ng-init="PRCommodityCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="PRCommodityCtrl.batal()" title="{{'CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"></span>
            </button>
            <h3 class="modal-title afta-font" id="myModalLabel">Data Komoditas</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-7 col-sm-8 col-xs-12 center-block" style="float: none!important;">
                    <form ng-submit="PRCommodityCtrl.onSearchSubmit(textSearch)" role="form" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">
                                    <input ng-model="textSearch" class="form-control" placeholder="Cari Kode atau Deskripsi..." />
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-default" title="{{'ITEMPR.CARI' | translate}}"><i class="fa fa-search"></i>&nbsp; </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Kode</th>
                                        <th>Deskripsi</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="mt in PRCommodityCtrl.listMaterial">
                                        <td class="text-center">{{PRCommodityCtrl.currentPage > 1 ? (PRCommodityCtrl.maxSize * (PRCommodityCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td class="text-center">{{mt.Code}}</td>
                                        <td>{{mt.Description}}</td>
                                        <td class="text-center">
                                            <button ng-click="PRCommodityCtrl.pilihCommodity(mt)" class="btn btn-xs btn-success"><i class="fa fa-check-circle-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label turun-15">TotalData : {{PRCommodityCtrl.totalItems}}</label>
                </div>
                <div class="col-md-9 pull-right ">
                    <ul uib-pagination boundary-links="true" total-items="PRCommodityCtrl.totalItems" ng-model="PRCommodityCtrl.currentPage"
                        class="pagination-sm" previous-text="&lsaquo;" max-number="10" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ng-change="PRCommodityCtrl.loadCommodity(PRCommodityCtrl.currentPage)" max-size="PRCommodityCtrl.maxSize"></ul>
                </div>
            </div>
        </div>
    </div>
</script>
-->

<script type="text/ng-template" id="addConcessionCategory.html">
    <div class="modal-content" ng-init="PRConcatCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="PRConcatCtrl.batal()" title="{{'CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"></span>
            </button>
            <h3 class="modal-title afta-font" id="myModalLabel">Concession Category</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-7 col-sm-8 col-xs-12 center-block" style="float: none!important;">
                    <form ng-submit="PRConcatCtrl.onSearchSubmit(textSearch)" role="form" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">
                                    <input ng-model="textSearch" class="form-control" placeholder="{{'OUTSTANDING.CARI_KODE'|translate}}" />
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-default" title="{{'ITEMPR.CARI' | translate}}"><i class="fa fa-search"></i>&nbsp; </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="20">No.</th>
                                        <th class="text-center">{{'OUTSTANDING.CODE'|translate}}</th>
                                        <th>{{'OUTSTANDING.DESC'|translate}}</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="mt in PRConcatCtrl.listConcat">
                                        <td class="text-center">{{PRConcatCtrl.currentPage > 1 ? (PRConcatCtrl.maxSize * (PRConcatCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td class="text-center">{{mt.ConcessionCategory}}</td>
                                        <td>{{mt.Description}}</td>
                                        <td class="text-center">
                                            <button ng-click="PRConcatCtrl.pilihConcat(mt)" class="btn btn-xs btn-success"><i class="fa fa-check-circle-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label turun-15">TotalData : {{PRConcatCtrl.totalItems}}</label>
                </div>
                <div class="col-md-9 pull-right ">
                    <ul uib-pagination boundary-links="true" total-items="PRConcatCtrl.totalItems" ng-model="PRConcatCtrl.currentPage"
                        class="pagination-sm" previous-text="&lsaquo;" max-number="10" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ng-change="PRConcatCtrl.loadConcat(PRConcatCtrl.currentPage)" max-size="PRConcatCtrl.maxSize"></ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="addHarmonizedCode.html">
    <div class="modal-content" ng-init="PRHarcodCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="PRHarcodCtrl.batal()" title="{{'CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"></span>
            </button>
            <h3 class="modal-title afta-font" id="myModalLabel">Harmonized Code</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-7 col-sm-8 col-xs-12 center-block" style="float: none!important;">
                    <form ng-submit="PRHarcodCtrl.onSearchSubmit(textSearch)" role="form" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">
                                    <input ng-model="textSearch" class="form-control" placeholder="{{'OUTSTANDING.CARI_KODE'|translate}}" />
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-default" title="{{'ITEMPR.CARI' | translate}}"><i class="fa fa-search"></i>&nbsp; </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="20">No.</th>
                                        <th class="text-center">{{'OUTSTANDING.CODE'|translate}}</th>
                                        <th>{{'OUTSTANDING.DESC'|translate}}</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="mt in PRHarcodCtrl.listHarcod">
                                        <td class="text-center">{{PRHarcodCtrl.currentPage > 1 ? (PRHarcodCtrl.maxSize * (PRHarcodCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td class="text-center">{{mt.TariffCode}}</td>
                                        <td>{{mt.Description}}</td>
                                        <td class="text-center">
                                            <button ng-click="PRHarcodCtrl.pilihHarcod(mt)" class="btn btn-xs btn-success"><i class="fa fa-check-circle-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label turun-15">TotalData : {{PRHarcodCtrl.totalItems}}</label>
                </div>
                <div class="col-md-9 pull-right ">
                    <ul uib-pagination boundary-links="true" total-items="PRHarcodCtrl.totalItems" ng-model="PRHarcodCtrl.currentPage"
                        class="pagination-sm" previous-text="&lsaquo;" max-number="10" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ng-change="PRHarcodCtrl.loadHarcod(PRHarcodCtrl.currentPage)" max-size="PRHarcodCtrl.maxSize"></ul>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="addPIC.html">
    <div class="modal-content" ng-init="PRPGRCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="PRPGRCtrl.batal()" title="{{'CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only"></span>
            </button>
            <h3 class="modal-title afta-font judul-datatabel" id="myModalLabel">{{'OUTSTANDING.PGR_CODE'|translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-8 col-xs-12" style="float: none!important;">
                    <form ng-submit="PRPGRCtrl.onSearchSubmit(textSearch)" role="form" method="post">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <label>{{'ITEMPR.CARI' | translate}} {{'OUTSTANDING.PGR_CODE'|translate}}</label>
                                    <div class="input-group">
                                        <input ng-model="textSearch" class="form-control" placeholder="{{'OUTSTANDING.CARI_EMP'|translate}}" />
                                        <span class="input-group-btn">
                                            <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'ITEMPR.CARI' | translate}}"><i class="fa fa-search"></i>&nbsp; Cari</button>

                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                       
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="20">No.</th>
                                        <th width="100" class="text-center">ID</th>
                                        <th>Pegawai</th>
                                        <th width="5%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="mt in PRPGRCtrl.listPGR">
                                        <td class="text-center">{{PRPGRCtrl.currentPage > 1 ? (PRPGRCtrl.maxSize * (PRPGRCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td class="text-center">{{mt.EmployeeID}}</td>
                                        <td>{{mt.FullName}}</td>
                                        <td class="text-center">
                                            <button ng-click="PRPGRCtrl.pilihPIC(mt)" title="Pilih Kode PGR" class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul uib-pagination boundary-links="true" total-items="PRPGRCtrl.totalItems" ng-model="PRPGRCtrl.currentPage"
                        class="pagination-sm" previous-text="&lsaquo;" max-number="10" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                        ng-change="PRPGRCtrl.loadPGR(PRPGRCtrl.currentPage)" max-size="PRPGRCtrl.maxSize"></ul>
                </div>
                <div class="col-md-3">
                    <label class="control-label">TotalData : {{PRPGRCtrl.totalItems}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-xs btn-success"><i class="fa fa-check"></i> </button> : Pilih Kode PGR
                </div>

            </div>
        </div>
    </div>
</script>
<style>
    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: white;
    }

    .first-col {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        left: 0px;
    }

    .second-col {
        width: auto;
        min-width: auto;
        max-width: auto;
        left: 50px;
    }

    .third-col {
        width: auto;
        min-width: auto;
        max-width: auto;
        left: 154px;
    }
    .four-col {
        width: auto;
        min-width: auto;
        max-width: auto;
        left: 205px;
    }
    .five-col {
        width: auto;
        min-width: auto;
        max-width: auto;
        left: 282px;
    }
</style>