<section class="content" ng-init="PurchReqCtrl.init()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{ 'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{ 'BREADCRUMB.MASTER_PR' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-primary">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel"> {{'TITLE1' | translate}}</h3>
						</div>
					</div>
					<div class="row well" style="margin-left:1px;margin-right:1px">

						
						<div class="col-md-3">
							<label>{{'LBL_SEARCH' | translate}}:</label>
							<select class="form-control input-sm" ng-model="PurchReqCtrl.colKeyword" style="float: left;">
								<option value="0" selected disabled>{{'CMB_SEARCH.LABEL' | translate}}</option>
								<option value="2">{{'RFQ_NAME'|translate}}</option>
								<option value="1">{{'RFQ_CODE'|translate}}</option>
							</select>
						</div>
						<div class="col-md-9" style="margin-top:24px">
							<div class="input-group">
								<input type="text" ng-model="PurchReqCtrl.textKeyword" class="form-control input-sm" placeholder="{{'TEXT_SEARCH' | translate}}">
								<span class="input-group-btn">
									<button type="button" ng-click="PurchReqCtrl.jLoad(1)" class="btn btn-flat btn-sm btn-primary"> <i class="fa fa-search"></i> Cari</button>
								</span>
							</div>
							
								
						</div>
						
					</div>
					<div class="row turun-15">
						<div class="col-md-12">
							<button ng-if="PurchReqCtrl.flagButton === false" type="button" class="btn btn-flat btn-sm btn-success pull-right" ng-click="PurchReqCtrl.formInputRFQ(0)" title="{{'BTN_RFQ' | translate}}">
								<i class="fa fa-plus-circle"></i> {{'BTN_RFQ' | translate}}
							</button>
							<button type="button" class="btn btn-flat btn-sm btn-success pull-right" ng-click="PurchReqCtrl.formPROutStanding()" title="{{'BTN_PR_OUTSTANDING' | translate}}">
								<i class="fa fa-plus-circle"></i> {{'BTN_PR_OUTSTANDING' | translate}}
							</button>
						</div>
					</div>
					<div class="row turun-15">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical" style="width:5%;">{{'TABLE.NO' | translate}}</th>
											<th class="center-vertical" style="width:10%;">{{'TABLE.KODE_RFQ' | translate}}</th>
											<th class="center-vertical" style="width:25%;">{{'TABLE.NAMA_RFQ' | translate}}</th>
											<th class="center-vertical" style="width:15%;">{{'TABLE.TANGGAL' | translate}}</th>
											<th class="center-vertical" style="width:10%;">{{'TABLE.STATUS' | translate}}</th>
											<!--<th class="center-vertical" style="width:20%;">{{'TABLE.KET' | translate}}</th>-->
											<th class="center-vertical" style="width:15%;">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="rfq in PurchReqCtrl.PRList">
											<td class="center-vertical">{{PurchReqCtrl.currentPage > 1 ? (PurchReqCtrl.maxSize * (PurchReqCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td class="text-left">{{rfq.RFQCode}}</td>
											<td class="text-left">{{rfq.RFQName}}</td>
											<td class="text-center">{{rfq.RFQDate | date:'dd/MM/yyyy'}}</td>
											<td class="text-center">{{rfq.StatusName | translate}}</td>
											<!--<td style="vertical-align: middle;">{{rfq.NoticeText}}</td>-->
											<td class="center-vertical">
												<a ng-if="rfq.StatusName === 'RFQG_DRAFT' || rfq.StatusName === 'RFQG_CANCELLED'" class="btn btn-flat btn-xs btn-primary" title="{{'TABLE.TITLE_BTNEDIT' | translate }}" ng-click="PurchReqCtrl.formInputRFQ(rfq.ID)">
													<i class="fa fa-edit"></i>
												</a>
												<a class="btn btn-flat btn-xs btn-warning" ng-click="PurchReqCtrl.openFormDokumen(false, rfq)" title="{{'TABLE.TITLE_BTNDETAILDOC' | translate }}">
													<i class="fa fa-file-text-o"></i>
												</a>
												<a ng-if="rfq.StatusName != 'RFQG_DRAFT' && rfq.StatusName != 'RFQG_CANCELLED'" class="btn btn-flat btn-xs btn-info" title="Detail" ng-click="PurchReqCtrl.formViewRFQ(rfq.ID)">
													<i class="fa fa-eye"></i>
												</a>
												<a ng-if="rfq.StatusName === 'RFQG_DRAFT' && rfq.IsPublished === false" ng-click="PurchReqCtrl.Publish(rfq)" class="btn btn-flat btn-xs btn-warning" title="Publish">
													<i class="fa fa-share"></i>
												</a>
												<a ng-if="rfq.StatusName === 'RFQG_APPROVED' && rfq.IsPublished === false" ng-click="PurchReqCtrl.CancelRFQ(rfq)" class="btn btn-flat btn-xs btn-danger" title="Cancel RFQ">
													<i class="fa fa-times"></i>
												</a>
												<a ng-if="!rfq.IsTenderOk" ng-click="PurchReqCtrl.RePublish(rfq)" class="btn btn-flat btn-xs btn-danger" title="Re-Publish">
													<i class="fa fa-share"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div></div>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-md-7">
							<ul uib-pagination boundary-links="true" total-items="PurchReqCtrl.totalItems" max-size="10" ng-model="PurchReqCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="PurchReqCtrl.jLoad(PurchReqCtrl.currentPage)"></ul>
							<br />
							<label>{{'TOTAL_DATA' | translate}} : {{PurchReqCtrl.totalItems}}</label>
						</div>
					</div>
					<div class="row" style="margin-top: 2px;">
						<div class="col-md-12">
							<button class="btn btn-sm btn-success pull-right" ng-click="PurchReqCtrl.menujuApproval()" title="{{'MASUK_SEBAGAI_APPROVER' | translate}}">
								<i class="fa fa-paste"></i> {{'MASUK_SEBAGAI_APPROVER' | translate}}
							</button>
						</div>
					</div>
				</div>
				<div class="row turun-15" >
					<div class="col-md-12" style="margin-bottom:25px">
						<div class="col-md-12">
							<a class="btn btn-flat btn-xs btn-primary" title="{{'TABLE.TITLE_BTNEDIT' | translate }}">
								<i class="fa fa-edit"></i>
							</a> : {{'TABLE.TITLE_BTNEDIT' | translate }}&nbsp;&nbsp;
							<a class="btn btn-flat btn-xs btn-warning" title="{{'TABLE.TITLE_BTNDETAILDOC' | translate }}">
								<i class="fa fa-file-text-o"></i>
							</a> : {{'TABLE.TITLE_BTNDETAILDOC' | translate }}&nbsp;&nbsp;
							<a class="btn btn-flat btn-xs btn-info" title="Detail">
								<i class="fa fa-eye"></i>
							</a> : Detail&nbsp;&nbsp;
							<a class="btn btn-flat btn-xs btn-warning" title="Publish">
								<i class="fa fa-share"></i>
							</a> : Publish&nbsp;&nbsp;
							<a class="btn btn-flat btn-xs btn-danger" title="Cancel RFQ">
								<i class="fa fa-times"></i>
							</a> : Cancel RFQ&nbsp;&nbsp;
							<a class="btn btn-flat btn-xs btn-danger" title="Re-Publish">
								<i class="fa fa-share"></i>
							</a> : Re-Publish&nbsp;&nbsp;
						</div>

					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
