﻿<div class="modal-content" style="width:1100px!important" ng-init="uploadDokCtrl.init()">
    <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" ng-click="uploadDokCtrl.batal()" title="{{'EXIT'|translate}}">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h4 class="afta-font  modal-title ">{{'UPLOADDOC.TITLE'|translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-11 col-sm-11 col-xs-11 center-block" style="float: none!important;">
                
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">{{'UPLOADDOC.DOC_NAME'|translate}}</label>
                        <input type="text" class="form-control input-sm" ng-model="uploadDokCtrl.DocName" /> 
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">
                                {{ 'UPLOADDOC.DOC' | translate}}
                                <small> ( <span ng-repeat="ft in uploadDokCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / {{'ITEMPRUPLOAD.SIZE_FILE' | translate}} : {{uploadDokCtrl.idUploadConfigs[0].Size}} {{uploadDokCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                            </label>
                            <div class="input-group">
                                <input type="file" class="form-control" ng-file-select="uploadDokCtrl.selectUpload()"
                                       ng-model="uploadDokCtrl.fileUpload" name="ownerIDFile" required accept="{{uploadDokCtrl.idFileTypes}}" />
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" ng-click="uploadDokCtrl.uploadFile()" title="{{'ITEMPRUPLOAD.BTN_UPLOAD' | translate}}">
                                    <i class="fa fa-arrow-circle-o-down"></i> 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="table table-condensed">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">No.</th>
                                            <th class="text-center">{{'UPLOADDOC.DOC_NAME'|translate}}</th>
                                            <!--<th width="20%">Download</th>-->
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mt in uploadDokCtrl.listDoc">
                                            <td class="text-center">{{$index + 1}}</td>
                                            <td class="text-left">{{mt.DocName}}</td>
                                            <!--<td class="text-center">
                                                <a href="{{uploadDokCtrl.folderFile+mt.DocUrl}}" class="btn btn-xs btn-success" title="{{'BTN_DOWNLOAD'|translate}}"><i class="fa fa-download"></i> </a>
                                            </td>-->
                                            <td class="text-center">
                                                <a href="{{uploadDokCtrl.folderFile+mt.DocUrl}}" class="btn btn-xs btn-success" title="{{'BTN_DOWNLOAD'|translate}}"><i class="fa fa-download"></i> </a>
                                                <button ng-click="uploadDokCtrl.delDoc(mt)" class="btn btn-xs btn-danger" title="Delete"><i class="fa fa-trash-o"></i> </button>
                                            </td>
                                        </tr>
                                        <tr><td class="text-center" ng-if="uploadDokCtrl.totalItems == 0" colspan="3">No Data</td></tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sd-4 col-md-10">
                                        <ul uib-pagination boundary-links="true" total-items="uploadDokCtrl.totalItems" ng-model="uploadDokCtrl.currentPage"
                                            class="pagination-sm" previous-text="&lsaquo;" max-number="uploadDokCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                            ng-change="uploadDokCtrl.loadData()" max-size="10"></ul>
                                        <br /><label>{{'TOTAL_DATA' | translate}} : {{uploadDokCtrl.totalItems}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-flat btn-primary" type="button" ng-click="uploadDokCtrl.batal()" title="{{'BTN_BACK'|translate}}">
            <i class="fa fa-arrow-circle-left"></i>&nbsp;
        </button>
    </div>
</div>
