﻿<div class="modal-content" ng-init="cprtoCECtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close" ng-click="cprtoCECtrl.batal()"><span aria-hidden="true" title="{{'BTN.CLOSE'|translate}}">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'SEND_APPROVAL_TO_CE'|translate}}</h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">{{'NOTE_FOR_SKIP_VENDOR'|translate}} *</label>
                    <textarea rows="5" type="text" class="form-control input-sm" ng-model="cprtoCECtrl.NoteForSkipVendorAcc"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" ng-click="cprtoCECtrl.batal()" class="btn btn-flat btn-default" title="{{'BATAL_DOC' | translate }}"><i class="fa fa-reply"></i></button>
                <button type="button" ng-click="cprtoCECtrl.simpan()" class="btn btn-flat btn-primary" title="{{'BTN.SEND'|translate}}"><i class="fa fa-save"></i></button>
            </div>
        </div> 
    </div>
</div>