<section class="content" ng-init="CPRCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i>{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-rekanan">{{'DATA_REKANAN'|translate}}</a></li>
        <li><a href="#/data-rekanan/cpr" class="active">{{'BREADCRUMB.CPR'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font" style="font-weight:bold">{{'CONTRACT_PERFORMANCE_REVIEW' | translate}}</h3>

                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="CPRCtrl.FlagRole == 1 || CPRCtrl.FlagRole == 5" class="col-md-3 margintop20 pull-left">
                            <button ng-click="CPRCtrl.tambahform(1,0,0)" class="btn btn-sm btn-primary" title="{{'ADD_DATA' | translate}}"><i class="fa fa-plus"></i> {{'ADD_DATA' | translate}}</button>
                            <button ng-click="CPRCtrl.reminder()" class="btn btn-sm btn-warning" title="{{'REMINDER' | translate}}"><i class="fa fa-lightbulb-o"></i> {{'REMINDER' | translate}}</button>
                        </div>
                        <label ng-show="CPRCtrl.FlagRole == 1" class="control-label col-md-1">{{'TABLE.STATUS'|translate}}&nbsp;:</label>
                        <div ng-show="CPRCtrl.FlagRole == 1" class="col-md-2">
                            <select class="form-control input-sm" ng-model="CPRCtrl.status"
                                    ng-options="opt.RefID as (opt.Name | translate) for opt in CPRCtrl.statusOptions">
                            </select>
                        </div>
                    </div>
                    <div class="row turun-15">
                        <div class="col-md-12">
                            <form ng-submit="CPRCtrl.cari(srcText)">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control input-sm" ng-model="srcText" placeholder="{{'HOLDER' | translate}}/{{'VENDOR' | translate}}/{{'NO_KONTRAK' | translate}}" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" title="{{'SEARCH' | translate}}"><i class="fa fa-search"></i> Cari</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" >{{'TABLE.COL_NO' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.COL_NAME' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.VENDOR_CODE' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.VENDOR_NAME' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.CONTRACT_FROM' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.CONTRACT_TO' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.DEPARTMENT_NAME' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.PM_NAME' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.SPONSOR_NAME' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.ENGINEER_NAME' | translate}}</th>
                                            <!--<th class="text-center" >{{'TABLE.REMINDER_DATE' | translate}}</th>-->
                                            <th class="text-center" >{{'TABLE.STATUS' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.COL_DATE' | translate}}</th>
                                            <!--<th class="text-center" >{{'TABLE.APPROVAL_DATE' | translate}}</th>-->
                                            <th class="text-center" >{{'TABLE.COL_SCORE' | translate}}</th>
                                            <th class="text-center" >{{'TABLE.COL_ACT' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wl in CPRCtrl.cpr">
                                            <td style="vertical-align: middle;">{{(CPRCtrl.pageNumber - 1) * CPRCtrl.pageSize + $index + 1}}</td>
                                            <td style="vertical-align: middle;" >{{wl.ContractNo}} - {{wl.TanderName}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.VendorCode}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.VendorName}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.ContractStartDate | date:"dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.ContractEndDate | date:"dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.Department}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.ProjectManagerId}} - {{wl.ProjManager}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.Sponsor}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.ContractEngineerId}} - {{wl.ContractEngineer}}</td>
                                            <!--<td style="vertical-align: middle;" class="text-center"></td>-->
                                            <td style="vertical-align: middle;" class="text-center">{{wl.SysReference.Name | translate}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.CPRDate | date : "dd/MM/yyyy"}}</td>
                                            <!--<td style="vertical-align: middle;" class="text-center"></td>-->
                                            <td style="vertical-align: middle;" class="text-center">{{wl.Score}}</td>
                                            <td style="vertical-align: middle;" class="text-center">
                                                <!--All-->
                                                <a ng-show="(wl.SysReference.Name == 'STS_PUBLISH' || wl.SysReference.Name == 'STS_ACCVENDOR' ||  wl.SysReference.Name == 'STS_ACCCE' || wl.SysReference.Name == 'STS_ACCPROCSUP') && wl.IsActive == 1" class="btn btn-flat btn-sm btn-primary" title="Detail" ng-click="CPRCtrl.detail(wl)"><i class="fa fa-file-text-o"></i></a>
                                                <a class="btn btn-flat btn-sm btn-primary" title="{{'BTN.DETAIL_APP'|translate}}" ng-click="CPRCtrl.appHistory(wl)"><i class="fa fa-list-ul"></i></a>
                                                <a href="{{CPRCtrl.folderFile + wl.UrlDocument}}" target="_blank" ng-show="(wl.SysReference.Name == 'STS_PUBLISH' || wl.SysReference.Name == 'STS_ACCVENDOR' ||  wl.SysReference.Name == 'STS_ACCCE' || wl.SysReference.Name == 'STS_ACCPROCSUP') && wl.IsActive == 1 && wl.UrlDocument !== null" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.DOWNLOAD_CPR'|translate}}" ng-click="CPRCtrl.download(wl)"><i class="fa fa-download"></i></a>
                                                <!---->
                                                <!--PM-->
                                                <a ng-show="(wl.SysReference.Name == 'STS_DRAFT' || wl.SysReference.Name == 'STS_REVISIONBYVENDOR') && wl.IsActive == 1" class="btn btn-flat btn-sm btn-success" title="Edit Draft" ng-click="CPRCtrl.updateData(1,1,wl.VPCPRDataId)"><i class="fa fa-pencil"></i></a>
                                                <a ng-show="(wl.SysReference.Name == 'STS_DRAFT' || wl.SysReference.Name == 'STS_REVISIONBYVENDOR') && wl.IsActive == 1" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.DEACTIVATE'|translate}}" ng-click="CPRCtrl.switchActive(wl)"><i class="fa fa-trash-o"></i></a>
                                                <!--<a ng-show="(wl.SysReference.Name == 'STS_DRAFT' || wl.SysReference.Name == 'STS_REVISIONBYVENDOR') && wl.IsActive == 0" class="btn btn-flat btn-sm btn-success" title="Aktifkan" ng-click="CPRCtrl.switchActive(wl)"><i class="fa fa-plus-square-o"></i></a>-->
                                                <a ng-show="(wl.SysReference.Name == 'STS_DRAFT' || wl.SysReference.Name == 'STS_REVISIONBYVENDOR') && wl.IsActive == 1" class="btn btn-flat btn-sm btn-primary" title="Publish" ng-click="CPRCtrl.approve(wl)"><i class="fa fa-check-circle-o"></i></a>
                                                <a ng-show="(wl.SysReference.Name == 'STS_PUBLISH' && wl.IsActive == 1)" class="btn btn-flat btn-sm btn-primary" title="Send to CE" ng-click="CPRCtrl.sendToCE(wl)"><i class="fa fa-check-circle"></i></a>
                                                <a ng-show="(wl.SysReference.Name == 'STS_PUBLISH' || wl.SysReference.Name == 'STS_ACCVENDOR') && wl.IsActive == 1 && (CPRCtrl.FlagRole === 1 || CPRCtrl.FlagRole === 5)" class="btn btn-flat btn-sm btn-success" title="{{'BTN.UPLOAD'|translate}}" ng-click="CPRCtrl.upload(wl)"><i class="fa fa-upload"></i></a>
                                                <!--CE-->
                                                <a ng-show="wl.SysReference.Name == 'STS_ACCVENDOR' && wl.IsActive == 1 && CPRCtrl.FlagRole == 2" class="btn btn-flat btn-sm btn-primary" title="Approve" ng-click="CPRCtrl.approve(wl)"><i class="fa fa-check-circle-o"></i></a>
                                                <a ng-show="wl.SysReference.Name == 'STS_ACCVENDOR' && wl.IsActive == 1 && CPRCtrl.FlagRole == 2" class="btn btn-flat btn-sm btn-danger" title="Reject" ng-click="CPRCtrl.reject(wl)"><i class="fa fa-times-circle-o"></i></a>
                                                <!--ProcSup-->
                                                <a ng-show="wl.SysReference.Name == 'STS_ACCCE' && wl.IsActive == 1 && CPRCtrl.FlagRole == 4" class="btn btn-flat btn-sm btn-primary" title="Approve" ng-click="CPRCtrl.approve(wl)"><i class="fa fa-check-circle-o"></i></a>
                                                <a ng-show="wl.SysReference.Name == 'STS_ACCCE' && wl.IsActive == 1 && CPRCtrl.FlagRole == 4" class="btn btn-flat btn-sm btn-danger" title="Reject" ng-click="CPRCtrl.reject(wl)"><i class="fa fa-times-circle-o"></i></a>
                                                <!--<a ng-show="wl.SysReference.Name == 'STS_ACCPROCSUP' && wl.IsActive == 1 && wl.IsPublishToVendor != true && CPRCtrl.FlagRole == 4" class="btn btn-flat btn-sm btn-primary" title="Send To Vendor" ng-click="CPRCtrl.sendToVendor(wl)"><i class="fa fa-send-o"></i></a>-->
                                            </td>
                                        </tr>
                                        <tr ng-if="CPRCtrl.cpr.length === 0">
                                            <td colspan="16" style="vertical-align:middle; text-align:center">{{'NO_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="CPRCtrl.count" max-size="10"
                                    ng-model="CPRCtrl.pageNumber" items-per-page="CPRCtrl.pageSize"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="CPRCtrl.loadAwal()"></ul>
                                <br /><label>{{'TOTAL_DATA' | translate}} : {{CPRCtrl.count}}</label>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-primary" title="Detail"><i class="fa fa-file-text-o"></i></a> : Detail
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-primary" title="{{'BTN.DETAIL_APP'|translate}}"><i class="fa fa-list-ul"></i></a>
                                        :  {{'BTN.DETAIL_APP'|translate}}
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-primary" title="{{'BTN.DOWNLOAD_CPR'|translate}}"><i class="fa fa-download"></i></a> : <span>{{'BTN.DOWNLOAD_CPR'|translate}}</span>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-primary" title="Edit Draft" ng-click="CPRCtrl.updateData(1,1,wl.VPCPRDataId)"><i class="fa fa-pencil"></i></a> : Edit Draft
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-danger" title="{{'BTN.DEACTIVATE'|translate}}"><i class="fa fa-trash-o"></i></a>
                                        : {{'BTN.DEACTIVATE'|translate}}
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-primary" title="Publish"><i class="fa fa-check-circle-o"></i></a>
                                        : Publish
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-success" title="Send to CE"><i class="fa fa-check-circle"></i></a>
                                        : Send to CE
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-success" title="{{'BTN.UPLOAD'|translate}}"><i class="fa fa-upload"></i></a>
                                        : {{'BTN.UPLOAD'|translate}}
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-primary" title="Approve"><i class="fa fa-check-circle-o"></i></a>
                                        : Approve
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-flat btn-xs btn-danger" title="Reject"><i class="fa fa-times-circle-o"></i></a>
                                        : Reject
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>