﻿<div ng-init="roleModalCtrl.init()">
	<form name="frmCreateEditRole">
		<section class="content">
			<ol class="breadcrumb">
				<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
				<li><a href="#/role-management">{{'BREADCRUMB.MASTER_ROLE' | translate}}</a></li>
			</ol>
		</section>
		<div class="row">
			<div class="col-md-6" style="float:none!important">
				<div class="form-group">
					<label>{{'ROLE_NAME' | translate}}</label>
					<input name="roleName" style="margin-bottom:0px!important;" type="text" class="form-control" placeholder="{{'FORM.ROLE_NAME' | translate}}" ng-model="roleModalCtrl.Name" required />
				</div>
			</div>
			<div class="col-md-12 center-block">
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label>{{'MODULES' | translate}}</label>
							<select size="5" class="form-control" ng-model="roleModalCtrl.selectedModule" ng-options="val as val.ModuleName for val in roleModalCtrl.Modules">
								<option value="" disabled selected>{{'SELECT_MODULE' | translate }}</option>
							</select>
						</div>
					</div>
					<div class="col-md-1 center-block">
						<div class="form-group" style="text-align: center;">
							<label>&nbsp;</label><br />
							<button ng-click="roleModalCtrl.addModule()" type="button" class="btn btn-flat btn-default">
								<i class="fa fa-backward"></i>&nbsp;
							</button>
							<button ng-click="roleModalCtrl.removeModule()" type="button" class="btn btn-flat btn-default">
								<i class="fa fa-forward"></i>&nbsp;
							</button>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label>{{'AVAILABLE_MODULES' | translate}}</label>
							<select size="5" ng-model="roleModalCtrl.selectedAvailModule" class="form-control" ng-options="val as val.ModuleName for val in roleModalCtrl.AvailModules">
								<option value="" disabled selected>{{'SELECT_MODULE' | translate }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary pull-right" ng-click="frmCreateEditRole.$valid && roleModalCtrl.saveRole()" title="Save Role" style="margin-left: 10px;">
					<i class="fa fa-save"></i>&nbsp;{{'BUTTON.SAVE' | translate}}
				</button>
				<button type="button" class="btn btn-danger pull-right" ng-click="roleModalCtrl.toMasterRole()" title="Back">
					<i class="fa fa-reply"></i>&nbsp;{{'BUTTON.BACK' | translate}}
				</button>
			</div>
		</div>
	</form>
</div>
<!--<div class="modal-body">
	<div class="row"></div>
	<div class="row">
		<div class="col-md-10" style="float:none!important;">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-1 col-md-1 control-label">&nbsp;</label>
					<div class="well col-md-11 col-sm-11">
						<div class="col-md-12">
							<button class="btn btn-primary" ng-click="roleManagerCtrl.toRoleAccess()" title="Set Role Module Access...">
								<i class="fa fa-lock"></i>&nbsp;{{'BUTTON.SETROLEMODULE' | translate}}...
							</button>
							<button class="btn btn-success" ng-click="roleManagerCtrl.toRoleMenu()" title="Set Role Menu Access...">
								<i class="fa fa-lock"></i>&nbsp;{{'BUTTON.SETROLEMENU' | translate}}...
							</button>
						</div>
					</div>-->
<!--<label class="col-sm-4 col-md-4 control-label">{{'ROLE_NAME' | translate}}</label>-->
<!--<div class="col-md-6 col-sm-6">
	<input type="text" class="form-control" placeholder="Role Name" ng-model="roleManagerCtrl.Nama" />
	<label class="control-label col-sm-8 col-md-8"></label>
</div>-->
<!--</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger" ng-click="roleManagerCtrl.cancel()" title="Close">
			<i class="fa fa-reply"></i>&nbsp;{{'CLOSE' | translate}}
		</button>
		<button type="button" class="btn btn-flat btn-success" ng-click="roleManagerCtrl.save()" title="Save">
			<i class="fa fa-save"></i>&nbsp;{{'SAVE' | translate}}
		</button>
	</div>
</div>-->
