﻿<section class="content" ng-init="detailQuestCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a href="#/purchase-requisition/synchronize" class="active">{{'BREADCRUMB.MASTER_QUEST' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font">{{'DETAIL.TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-3">{{'DETAIL.NAMA_QUEST' | translate}}</label>
                                <div class="col-md-8">
                                    <label class="form-control-static">: &nbsp; {{detailQuestCtrl.nama_questionnaire}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">{{'DETAIL.JENIS_FORM' | translate}}</label>
                                <div class="col-md-8">
                                    <label class="form-control-static">: &nbsp; {{detailQuestCtrl.jenis_form}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="5%" class="text-center">{{'DETAIL.TABLE_NO' | translate}}</th>
                                            <th class="text-center">{{'DETAIL.TABLE_QUESTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pt in detailQuestCtrl.listQuestion">
                                            <td class="text-center">{{$index+1}}</td>
                                            <td>{{pt.Category}}
                                                <table class="table table-bordered">
                                                    <tr ng-repeat="sk in pt.subCategory">
                                                        <td>{{sk.$index+1}}.{{$index+1}}.{{sk.Description}}</td>
                                                        <td width="10%" class="text-center">
                                                        <button class="btn btn-xs btn-primary" ng-click="detailQuestCtrl.openFormJawaban(sk,true)" title="{{'Detail Jawaban'|translate}}">
                                                            <i class="fa fa-plus-circle"></i></button></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-default" ng-click="detailQuestCtrl.back()" title="{{'BTN.BACK'|translate}}">
                            <i class="fa fa-arrow-circle-left"></i></button>
                        </div>
                    </div>
                </div>
             </div>
        </div>
     </div>
</section>
