﻿<!-- Main content -->
<div ng-init="dataMRKOCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a>{{'BREADCRUMB.MONITORING_TENDER' | translate}}</a></li>
            <li><a class="active">{{'BREADCRUMB.DATA_MRKO' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">Detail Approval MRKO</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.LOKASI_PENYIMPANAN' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.CREATE_DATE' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.KODE_VENDOR' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.NAMA_VENDOR' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO_KONTRAK' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.LAST_MOD' | translate }}</th>
                                               <th class="text-center" style="vertical-align: middle;">{{'TABLE.ACTION' | translate }}</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="data in dataMRKOCtrl.listVHS">
                                                <td style="vertical-align: middle;">{{dataMRKOCtrl.currentPage > 1 ? (dataMRKOCtrl.maxSize * (dataMRKOCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{data.monitoringVHSMRKO.UploadDataDetailMRKO[0].StorageLocation}}</td>
                                                <td style="vertical-align: middle;">{{dataMRKOCtrl.convertDate(data.monitoringVHSMRKO.UploadDataDetailMRKO[0].PostingDate)}}</td>
                                                <td style="vertical-align: middle;">{{data.monitoringVHSMRKO.UploadDataDetailMRKO[0].VendorCode}}</td>
                                                <td style="vertical-align: middle;">{{data.monitoringVHSMRKO.UploadDataDetailMRKO[0].VendorName}}</td>
                                                <td style="vertical-align: middle;">{{data.monitoringVHSMRKO.ContractNumber}}</td>
                                                <td style="vertical-align: middle;">{{dataMRKOCtrl.convertDate(data.monitoringVHSMRKO.UploadDataDetailMRKO[0].PostingDate)}}</td>
                                               <td style="vertical-align: middle;">
                                                    <a class="btn btn-sm btn-success" title="Detail MRKO" ng-click="dataMRKOCtrl.toDetail(data)"><i class="fa fa-eye"></i></a>
                                                    <a ng-if="data.ApprovalStatus == null" class="btn btn-sm btn-primary" title="Approve" ng-click="dataMRKOCtrl.approve(data)"><i class="fa fa-check"></i></a>
                                                   <a ng-if="data.ApprovalStatus == null"  class="btn btn-sm btn-danger" title="Reject" ng-click="dataMRKOCtrl.Approval(data)"><i class="fa fa-close"></i></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="dataMRKOCtrl.listVHS.length === 0">
                                                <td colspan="13">{{'TIDAK_ADA_DATA' | translate }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 center text-center">
                                <ul uib-pagination boundary-links="true" total-items="dataMRKOCtrl.totalItems" ng-model="dataMRKOCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="dataMRKOCtrl.pageChanged()"></ul><br />
                                <pagination ng-show="dataMRKOCtrl.totalItems > 10" total-items="dataMRKOCtrl.totalItems" page="dataMRKOCtrl.currentPage" items-per-page="10" max-size="dataMRKOCtrl.maxSize" on-select-page="dataMRKOCtrl.loadSteps(page)"></pagination><br />
                            </div>
                            <div class="col-md-12 text-right">
                                <label>{{'TOTAL_DATA' | translate }} : {{dataMRKOCtrl.listVHS.length}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
