﻿<div class="modal-content" ng-init="DetailItemMRKOCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailItemMRKOCtrl.back()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 center">
                    <h5 class="afta-font text-center" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                        {{DetailItemMRKOCtrl.DataDocList[0].VendorCode}} - {{DetailItemMRKOCtrl.DataDocList[0].VendorName}} ({{DetailItemMRKOCtrl.DataDocList[0].ContractNumber}} {{DetailItemMRKOCtrl.DataDocList[0].StorageLocation}})
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">No.</th>
                                    <th class="text-center" style="vertical-align: middle;">Storage Location</th>
                                    <th class="text-center" style="vertical-align: middle;">Posting Date</th>
                                    <th class="text-center" style="vertical-align: middle;">Reservation</th>
                                    <th class="text-center" style="vertical-align: middle;">Vendor</th>
                                    <th class="text-center" style="vertical-align: middle;">Material Document</th>
                                    <th class="text-center" style="vertical-align: middle;">Material Doc Item</th>
                                    <th class="text-center" style="vertical-align: middle;">Material</th>
                                    <th class="text-center" style="vertical-align: middle;">Material Description</th>
                                    <th class="text-center" style="vertical-align: middle;">Qty</th>
                                    <th class="text-center" style="vertical-align: middle;">Unit of Entry</th>
                                    <th class="text-center" style="vertical-align: middle;">Currency</th>
                                    <th class="text-center" style="vertical-align: middle;">Unit Price</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="data in DetailItemMRKOCtrl.DataDocList">
                                    <td style="vertical-align: middle;">{{DetailItemMRKOCtrl.currentPage > 1 ? (DetailItemMRKOCtrl.pageSize * (DetailItemMRKOCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td style="vertical-align: middle;">{{data.StorageLocation}}</td>
                                    <td style="vertical-align: middle;">{{DetailItemMRKOCtrl.convertDate(data.PostingDate)}}</td>
                                    <td style="vertical-align: middle;">{{data.Reservation}}</td>
                                    <td style="vertical-align: middle;">{{data.VendorCode}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDocument}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDocItem}}</td>
                                    <td style="vertical-align: middle;">{{data.Material}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDescription}}</td>
                                    <td style="vertical-align: middle;">{{data.Qty}}</td>
                                    <td style="vertical-align: middle;">{{data.Unit}}</td>
                                    <td style="vertical-align: middle;">{{data.Currency}}</td>
                                    <td style="vertical-align: middle;">{{data.UnitPrice}}</td>
                                </tr>
                                <tr ng-if="DetailItemMRKOCtrl.DataDocList.lrngth === 0">
                                    <td colspan="16">{{'TIDAK_ADA_DATA' | translate }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <label>Total In USD: {{DetailItemMRKOCtrl.jumlahUSD| currency: ""+ labelcurr +" "}}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <ul uib-pagination total-items="DetailItemMRKOCtrl.totalItems"
                        ng-model="DetailItemMRKOCtrl.currentPage" items-per-page="DetailItemMRKOCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailItemMRKOCtrl.loadPaket(DetailItemMRKOCtrl.currentPage)"></ul>
                </div>
                <div class="row">

                    <label>{{'TOTAL_DATA'|translate}} : {{DetailItemMRKOCtrl.totalItems}}</label>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="DetailItemMRKOCtrl.back()" title="{{'BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
        </div>
    </form>
</div>