﻿<div class="modal-content" ng-init="detailApprovalMRKOCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailApprovalMRKOCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">Detail {{'APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row" ng-if="detailApprovalMRKOCtrl.Status == 1">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detailApprovalMRKOCtrl.information" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-primary" ng-click="detailApprovalMRKOCtrl.cancel()"><i class="fa fa-reply"></i> {{'BATAL' | translate}}</button>
                                    <button class="btn btn-sm btn-danger" ng-click="detailApprovalMRKOCtrl.sendApproval(false)"><i class="fa fa-times"></i> {{'REJECT' | translate}}</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>