﻿<link rel="stylesheet" type="text/css" href="assets/css/rolas-design.css" />
<section class="content" ng-init="AddEvalVPCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{ 'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a href="#/vpevaluation-method">{{'BREADCRUMB.METODE_EVALUASI_VP'|translate}}</a></li>
        <li><a class="active">{{AddEvalVPCtrl.isEdit ? 'BREADCRUMB.UBAH_METODE_EVALUASI' : 'BREADCRUMB.TAMBAH_METODE_EVALUASI' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-12">
                            <div>
                                <h3 class="afta-font" style="font-size: 1.6em; margin-top: 0px;">
                                    {{AddEvalVPCtrl.isEdit ? 'UBAH_METODE_EVALUASI' : 'TAMBAH_METODE_EVALUASI' | translate}}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label>{{'NAMA_METODE_EVALUASI'|translate}}</label>
                                <input ng-model="AddEvalVPCtrl.namaMetode" type="text" class="form-control" placeholder="{{'NAMA_METODE_EVALUASI'|translate}} . . .">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12 ">
                            <div class="form-group">
                                <label>{{'JENIS'|translate}}</label>
                                <select class="form-control input-sm" ng-change="AddEvalVPCtrl.onTypeChange()" ng-options="item as item.Name | translate for item in AddEvalVPCtrl.type"
                                        ng-disabled="AddEvalVPCtrl.isEdit" ng-model="AddEvalVPCtrl.Type">
                                    <option value="" selected disabled class="text-center">--{{"TYPE" | translate}}--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px;" ng-if="AddEvalVPCtrl.Type.Name === 'TYPE_PRAKUAL'">
                        <form method="post" role="form" ng-submit="AddEvalVPCtrl.cari(srcText)">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="input-group" style="padding-top: 15px;">
                                    <div class="input-cont">
                                        <input type="text" placeholder="{{'Masukkan kata kunci'|translate}}" class="form-control" ng-model="srcText">
                                    </div>
                                    <span class="input-group-btn">
                                        <a class="btn btn-flat btn-primary" ng-click="AddEvalVPCtrl.cari(srcText)" title="{{'CARI' | translate}}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-10 " style="float: none!important;">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" style="width: 30px; min-width: 30px; vertical-align: middle;">
                                                <input ng-disabled="AddEvalVPCtrl.Type.Name != 'TYPE_PRAKUAL'" type="checkbox" ng-model="AddEvalVPCtrl.allChecked" ng-change="AddEvalVPCtrl.onCheckAll()" />
                                            </th>
                                            <th class="center-vertical">{{'TABLE.KRITERIA_EVALUASI'|translate}}</th>
                                            <th class="center-vertical" style="width: 120px; min-width: 120px;" ng-show="AddEvalVPCtrl.flagShow">{{'TABLE.BOBOT'|translate}} %</th>
                                            <th class="center-vertical" style="width: 80px; min-width: 80px;" ng-show="AddEvalVPCtrl.isEdit"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="kr in AddEvalVPCtrl.kriteriaListPaged">
                                            <td class="text-center" style="vertical-align: middle;">
                                                <input ng-disabled="AddEvalVPCtrl.Type.Name != 'TYPE_PRAKUAL'" type="checkbox" ng-model="kr.checked" ng-change="AddEvalVPCtrl.onCheck()"/>
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <span ng-if="AddEvalVPCtrl.Type.Name == 'TYPE_VHS' || AddEvalVPCtrl.Type.Name == 'TYPE_CPR'">{{'TIPE.' + kr.kriteria_nama | translate}}</span>
                                                <span ng-if="AddEvalVPCtrl.Type.Name == 'TYPE_PRAKUAL'">{{kr.kriteria_nama}}</span>
                                            </td>
                                            <td class="center-vertical" ng-show="AddEvalVPCtrl.flagShow">
                                                <input ng-disabled="true" ng-show="kr.checked" ng-model="kr.bobot" type="number" min="0" max="100" class="form-control input-sm" />
                                                <!--<input ng-disabled="AddEvalVPCtrl.barangOrJasa != 2" ng-show="kr.checked" ng-model="kr.bobot" type="number" min="0" max="100" class="form-control input-sm" />-->
                                            </td>
                                            <td style="vertical-align: middle;" ng-show="kr.checked && AddEvalVPCtrl.isEdit">
                                                <button class="btn btn-flat btn-sm btn-warning" ng-click="AddEvalVPCtrl.detail(kr.id,kr.kriteria_nama)" title="{{'DETAIL'|translate}}"><i class="fa fa-external-link"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="center-block text-right">
                                <a class="btn btn-flat  btn-primary" ng-click="AddEvalVPCtrl.back()" style="margin-top: 15px;" title="{{'KEMBALI'|translate}}"><i class="fa fa-reply"></i>&nbsp; {{'KEMBALI'|translate}}</a>
                                <a ng-click="AddEvalVPCtrl.save()" class="btn btn-success btn-flat" style="margin-top: 15px;" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp; {{'SIMPAN'|translate}}</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

