﻿<div id="tambahKriteria" class="modal-content" ng-init="copyLv2Ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="copyLv2Ctrl.cancel()" title="Keluar"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title afta-font" id="myModalLabel">{{'SALIN_METODE' | translate}} : {{copyLv2Ctrl.originalMethodName}}</h4>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8 center-block" style="float: none!important;">
                    <div class="col-md-12 form-group">
                        <label>{{'NAMA_METODE_EVALUASI'| translate}}</label>
                        <input type="text" ng-model="copyLv2Ctrl.nama" class="form-control" ng-disabled="copyLv2Ctrl.FlagRole == 1 && copyLv2Ctrl.level != 3 ">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="copyLv2Ctrl.cancel()" title="{{ 'KEMBALI' | translate}}"><i class="fa fa-reply"></i> </button>
            <button type="button" class="btn btn-primary" ng-click="copyLv2Ctrl.save()" title="{{ 'SIMPAN' | translate}}"><i class="fa fa-save"></i> </button>
        </div>
    </form>
</div>

