﻿<div class="modal-content" ng-init="veiwDetailEVP.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="veiwDetailEVP.keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar{{''|translate}}</span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'Detail'|translate}}&nbsp;{{veiwDetailEVP.nama}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid" ng-if="veiwDetailEVP.flagVHS === true">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-10 center-block" style="float: none!important;">
                    <ul>
                        <li ng-repeat="kri in veiwDetailEVP.kriteria">
                            {{kri.CriteriaName}} <span class="pull-right text-center text-bold" style="right: 15px;">{{kri.Weight}}%|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <ul>
                                <li ng-repeat="level2 in kri.sub">
                                    {{level2.CriteriaName}} <span class="pull-right text-center text-blue" style="right: 15px;">{{level2.Weight}}%|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <ul>
                                        <li ng-repeat="level3 in level2.sub">
                                            {{level3.CriteriaName}}  <span class="pull-right text-center text-green" style="right: 15px;">{{level3.Weight}}%|</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
        <div class="container-fluid" ng-if="veiwDetailEVP.flagCPR === true">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-10 center-block" style="float: none!important;">
                    <ul>
                        <li ng-repeat="kri in veiwDetailEVP.kriteria">
                            <h5><b>{{kri.CriteriaName}}</b></h5>
                            <ul>
                                <li ng-repeat="level2 in kri.sub">
                                    <b>{{level2.CriteriaName}}</b>
                                    <ul>
                                        <li ng-repeat="level3 in level2.sub">
                                            {{level3.CriteriaName}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
        <div class="container-fluid" ng-if="veiwDetailEVP.flagPrakual === true">
            <div class="row">
                <div class="col-md-12 center-block" style="float: none!important;">
                    <ul>
                        <li ng-repeat="kri in veiwDetailEVP.kriteria">
                            <b>{{kri.CriteriaName}}</b>
                            <ul>
                                <li ng-repeat="level2 in kri.sub">
                                    {{level2.CriteriaName}}
                                    <ul>
                                        <li ng-repeat="level3 in level2.sub">
                                            <i>{{level3.CriteriaName}}</i>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="veiwDetailEVP.keluar()" title="{{'Batal'|translate}}"><i class="fa fa-reply"></i>&nbsp; {{'Batal'|translate}}</button>
        </div>
    </div>
</div>
