﻿<div id="tambahKriteria" class="modal-content" ng-init="AddKriteriaCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="AddKriteriaCtrl.cancel()" title="Keluar"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{AddKriteriaCtrl.title | translate}} {{AddKriteriaCtrl.placeHolder | translate}}</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8 center-block" style="float: none!important;">
                    <div class="col-md-12 form-group">
                        <label>{{AddKriteriaCtrl.Label_Name| translate}}</label>
                        <input type="text" ng-model="AddKriteriaCtrl.nama" class="form-control" ng-disabled="AddKriteriaCtrl.FlagRole == 1 && AddKriteriaCtrl.level != 3 ">
                    </div>
                    <div ng-if="AddKriteriaCtrl.level === 1" class="col-md-12 form-group">
                        <label>{{'JENIS_KRITERIA' | translate}}</label>
                        <div class="input-cont">
                            <select class="form-control input-sm" ng-model="AddKriteriaCtrl.Type" ng-options="item as item.Name | translate for item in AddKriteriaCtrl.type" ng-disabled="AddKriteriaCtrl.CriId != null || AddKriteriaCtrl.FlagRole == 1 " ng-change="AddKriteriaCtrl.showOption()">
                                <option value="" selected disabled class="text-center">--{{"TYPE" | translate}}--</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="AddKriteriaCtrl.level === 3 && AddKriteriaCtrl.IsVhsCpr === 3" class="col-md-8 form-group">
                        <label>{{'QUESTION_FOR' | translate}} :</label>
                        <div class="input-cont">
                            <select class="form-control input-sm" ng-model="AddKriteriaCtrl.selectedVendorSpec" ng-options="item as item | translate for item in AddKriteriaCtrl.vendorSpecOptions" ng-disabled="AddKriteriaCtrl.FlagRole == 1">
                            </select>
                        </div>
                    </div>
                    <div ng-if="AddKriteriaCtrl.IsVhsCpr === 3" class="col-md-4 form-group">
                        <div style="padding-top:22px" class="input-cont" ng-if="AddKriteriaCtrl.selectedVendorSpec === 'BY_TYPE'">
                            <select class="form-control input-sm" ng-model="AddKriteriaCtrl.selectedVendorTypeId" ng-options="item.RefID as item.Name | translate for item in AddKriteriaCtrl.vendorTypeOptions" ng-disabled="AddKriteriaCtrl.FlagRole == 1"></select>
                        </div>
                        <div style="padding-top:22px" class="input-cont" ng-if="AddKriteriaCtrl.selectedVendorSpec === 'BY_BF'">
                            <button type="button" class="btn btn-info btn-sm" ng-click="AddKriteriaCtrl.selectBFComm()" title="{{'SELECT_BF'|translate}}"><i class="fa fa-check"></i>&nbsp;{{'SELECT_BF'|translate}}</button>
                        </div>
                        <div style="padding-top:22px" class="input-cont" ng-if="AddKriteriaCtrl.selectedVendorSpec === 'BY_COMM'">
                            <button type="button" class="btn btn-info btn-sm" ng-click="AddKriteriaCtrl.selectBFComm()" title="{{'SELECT_COMM'|translate}}"><i class="fa fa-check"></i>&nbsp;{{'SELECT_COMM'|translate}}</button>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <table ng-if="AddKriteriaCtrl.selectedVendorSpec === 'BY_BF'" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="center-vertical">{{'SELECTED_BF'|translate}}</th>
                                    <th class="center-vertical"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in AddKriteriaCtrl.businessFields | filter: { selected: true }">
                                    <td style="vertical-align: middle;">{{item.Name}}</td>
                                    <td style="vertical-align: middle; text-align:center">
                                        <button type="button" class="btn btn-danger btn-sm" ng-disabled="AddKriteriaCtrl.FlagRole == 1"
                                                ng-click="AddKriteriaCtrl.deleteItem(item)" title="{{'HAPUS'|translate}}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table ng-if="AddKriteriaCtrl.selectedVendorSpec === 'BY_COMM'" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="center-vertical">{{'SELECTED_COMM'|translate}}</th>
                                    <th class="center-vertical"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in AddKriteriaCtrl.commodities | filter: { selected: true }">
                                    <td style="vertical-align: middle;">{{item.Name}}</td>
                                    <td style="vertical-align: middle; text-align:center">
                                        <button type="button" class="btn btn-danger btn-sm" ng-disabled="AddKriteriaCtrl.FlagRole == 1"
                                                ng-click="AddKriteriaCtrl.deleteItem(item)" title="{{'HAPUS'|translate}}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 form-group" ng-if="(AddKriteriaCtrl.level === 3 && AddKriteriaCtrl.IsVhsCpr === 3) || (AddKriteriaCtrl.level !== 3 && AddKriteriaCtrl.IsVhsCpr !== 3)">
                        <label>
                            <input ng-model="AddKriteriaCtrl.isOptionStandard" type="checkbox"  ng-disabled="AddKriteriaCtrl.FlagRole == 1" />
                            {{'Opsi Standard Penilaian/Pilihan Jawaban' | translate}}
                        </label>
                    </div>
                </div>
            </div>

            <row ng-if="AddKriteriaCtrl.isOptionStandard == true" class="row">
                <div class="col-md-12" style="float: none!important;">
                    <div class="form-group">
                        
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center-vertical" style="width: 5%;">{{'TABLE.NO'|translate}}</th>
                                <th class="center-vertical">{{'TABLE.DESKRIPSI'|translate}}</th>
                                <th ng-if="AddKriteriaCtrl.isOptionScoreFixed === true" class="center-vertical" style="width: 10%">{{'TABLE.NILAI'|translate}}</th>
                                <th ng-if="AddKriteriaCtrl.isOptionScoreFixed !== true" class="center-vertical" style="width: 10%">{{'TABLE.BATAS_NILAI'|translate}}</th>
                                <th ng-if="AddKriteriaCtrl.isOptionScoreFixed !== true" class="center-vertical" style="width: 10%">{{'TABLE.RANGE'|translate}}</th>
                                <th class="center-vertical" style="width: 10%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="opsi in AddKriteriaCtrl.standardCriteria">
                                <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <input type="text" class="form-control input-sm" ng-model="opsi.DetailScore"  ng-disabled="AddKriteriaCtrl.FlagRole == 1" />
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <input type="number" min="0" ng-blur="AddKriteriaCtrl.maxScoreChange($index)" class="form-control input-sm" ng-model="opsi.MaxScore"  ng-disabled="AddKriteriaCtrl.FlagRole == 1"/>
                                </td>
                                <td ng-if="AddKriteriaCtrl.isOptionScoreFixed !== true" class="text-center" style="vertical-align: middle; "  ng-disabled="AddKriteriaCtrl.FlagRole == 1">
                                    {{opsi.MaxScore}} - {{opsi.MinScore}}
                                </td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <button type="button" class="btn btn-danger"ng-disabled="AddKriteriaCtrl.FlagRole == 1" ng-click="AddKriteriaCtrl.deleteStandard($index, opsi.Id)" title="{{'HAPUS'|translate}}"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <button class="pull-right btn btn-sm btn-success" ng-click="AddKriteriaCtrl.addStandard()"  ng-disabled="AddKriteriaCtrl.FlagRole == 1"><i class="fa fa-plus-circle"></i>&nbsp;{{'Tambah'|translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <i class="font10">
                        *) {{'Isikan mulai dari nilai atau range terendah'|translate}}
                    </i>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>
                            <input ng-model="AddKriteriaCtrl.isOptionScoreFixed" ng-disabled="AddKriteriaCtrl.disFlag == true" type="checkbox" />
                            {{'NILAI_FIX' | translate}}
                        </label>
                    </div>
                </div>
            </row>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="AddKriteriaCtrl.cancel()" title="{{ 'MODAL.BATAL' | translate}}"><i class="fa fa-reply"></i> </button>
            <button type="button" class="btn btn-primary" ng-disabled="AddKriteriaCtrl.level != 3 && AddKriteriaCtrl.FlagRole == 1" ng-click="AddKriteriaCtrl.save()" title="{{ 'MODAL.SIMPAN' | translate}}"><i class="fa fa-save"></i> </button>
        </div>
    </form>
</div>

