﻿<link rel="stylesheet" type="text/css" href="assets/css/rolas-design.css" />

<section class="content" ng-init="CprCtrl.loadKriteriaEvaluasi()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{ 'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{ 'BREADCRUMB.VPKRITERIA_EVALUASI' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-header">
                    <div class="col-md-1">
                        <div class="text-left">
                            <br />
                            <a href="javascript:void(0)" class="popovers" data-toggle="popover" title="Workflow Process" data-content="<b>Kriteria Prakualifikasi</b> > <a href='#/list-metode-evaluasi'>Metode Prakualifikasi</a>" data-original-title="test title"><i class="glyphicon glyphicon-info-sign"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="afta-font judul-datatabel">{{'VENDOR_PERFORMANCE'|translate}}</h3>
                        </div>
                        <div class="col-md-6">
                            <form ng-submit="CprCtrl.cari(srcText)">
                                <div class="form-group">
                                    <label style="padding-top: 5px;" class="col-md-4 control-label text-right">{{'JENIS_KRITERIA'|translate}} :</label>
                                    <div class="col-md-8">
                                        <div class="input-cont">
                                            <select class="form-control input-sm" ng-model="CprCtrl.Type" ng-options="item as item.Name | translate for item in CprCtrl.type" ng-change="CprCtrl.onChangeVhsCpr()">
                                                <option value="" selected disabled class="text-center">--{{"TYPE" | translate}}--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <label style="padding-top: 5px;" class="col-md-4 control-label text-right">{{'CARI'|translate}} :</label>
                                    <div class="col-md-8">
                                        <div class="input-cont">
                                            <input class="input-sm pull-right form-control" type="text" ng-model="srcText" placeholder="{{'NAMA_KRITERIA'|translate}}" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br />
                    <!--
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="width: 35%; vertical-align: middle;">{{'BATAS_NILAI'|translate}} :</th>
                                        <th style="width: 35%">{{'DURASI'|translate}} :</th>
                                        <th style="width: 30%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="number" class="form-control input-sm" min="0" max="100" ng-model="opsi.LimitValue" disabled />
                                            <i class="font10">
                                                jika nilai kurang dari {{UpdateKriteriaCtrl.LimitValue}} dapat warning letter
                                            </i>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control input-sm" ng-model="opsi.Duration" disabled />
                                            <i class="font10">
                                                Durasi Per Bulan
                                            </i>
                                        </td>
                                        <td class="text-center">
                                            <button ng-show="CprCtrl.userBisaMengatur" class="btn btn-primary btn-sm" ng-click="CprCtrl.ubahKriteria()" title="{{'UBAH_KRITERIA_PENILAIAN'|translate}}"><i class='fa fa-edit'> Ubah Kriteria</i>&nbsp; </button>
                                        </td>
                                    </tr>
                                    <tr ng-show="AddKriteriaCtrl.detailscores.length === 0">
                                        <td colspan="4">{{'OPSI_KOSONG'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    -->
                    <br />
                    <div class="row">
                        &nbsp;
                        <button ng-click="my_tree.expand_all()" class="btn btn-info btn-sm" title="{{'EXPAND_ALL'|translate}}"><i class="fa fa-plus-square"></i>&nbsp; </button>&nbsp;
                        <button ng-click="my_tree.collapse_all()" class="btn btn-warning btn-sm" title="{{'COLLAPSE_ALL'|translate}}"><i class="fa fa-minus-square"></i>&nbsp; </button>&nbsp;
                        <button ng-show="CprCtrl.userBisaMengatur" class="btn btn-primary btn-sm" ng-click="CprCtrl.addKPIDescription(0,null)" title="{{'TAMBAH_DESKRIPSI_KRITERIA'|translate}}"><i class='fa fa-plus-circle'></i>&nbsp; </button>
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <tree-grid on-select="CprCtrl.onSelectTree(branch)" tree-data="CprCtrl.kriteria" tree-control="my_tree" col-defs="CprCtrl.col_defs" expand-on="CprCtrl.expanding_property"></tree-grid>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ul uib-pagination total-items="CprCtrl.totalItems" ng-model="CprCtrl.currentPage" items-per-page="CprCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="CprCtrl.loadKriteria()"></ul>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
