﻿        <style>
    .dl-horizontal dd {
        margin-left: 250px;
        padding-bottom: 5px;
    }

    .dl-horizontal dt {
        width: 250px;
    }
</style>
<section class="content" style="overflow: visible;" ng-init="DPCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{DPCtrl.TenderRefID}}/{{DPCtrl.ProcPackType}}/{{DPCtrl.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/negosiasi-barang/{{DPCtrl.TenderRefID}}/{{DPCtrl.StepID}}/{{DPCtrl.ProcPackType}}" class="active">
                {{'BREADCRUMB.NEGOSIASI'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/negosiasi-barang-chat/{{DPCtrl.StepID}}/{{DPCtrl.VendorID}}" class="active">
                {{'BREADCRUMB.NEGOTIATION_FORUM.GOODS'|translate}}
            </a>
        </li>
        <li><a class="active">{{'DETAIL'|translate}}</a></li>
    </ol>
    <div class="container-fluid">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'DETAIL'|translate}}</h3>
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'PROCURE'|translate}}: {{DPCtrl.nego[0].tender.tender.TenderName}}</h3>
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'VENDOR'|translate}}: {{DPCtrl.nego[0].VendorName}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center center-vertical" ng-if="DPCtrl.nego[0].flagAlternative == true" colspan="8"></th>
                                            <th class="text-center center-vertical" ng-if="DPCtrl.nego[0].flagAlternative == false" colspan="7"></th>
                                            <th class="text-center center-vertical" colspan="2">Historical</th>
                                            <th class="text-center center-vertical" colspan="2">EPV</th>
                                            <th class="text-center center-vertical" colspan="2">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_PRICE'|translate}}</th>
                                            <th class="text-center center-vertical" colspan="2">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PRICE'|translate}}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center center-vertical" width="20px">No.</th>
                                            <th class="text-center center-vertical">PR</th>
                                            <th class="text-center center-vertical">{{'ITEM'|translate}}</th    >
                                            <th class="text-center center-vertical">Material</th>
                                            <th class="text-center center-vertical">{{'DESC'|translate}}</th>
                                            <th class="text-center center-vertical" ng-if="DPCtrl.nego[0].flagAlternative == true">Alternative</th>
                                            <th class="text-center center-vertical">{{'OPEN'|translate}}<input ng-disabled="DPCtrl.flagIsOpen == false" type="checkbox" ng-change="DPCtrl.loadOpenAll()" ng-model="DPCtrl.IsOpenAll" ng-click="DPCtrl.save()" /></th>
                                            <th class="text-center center-vertical">Volume</th>
                                            <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                            <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                            <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                            <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                            <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                            <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                            <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                            <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dp in DPCtrl.nego">
                                            <td style="vertical-align: middle;">{{DPCtrl.currentPage > 1 ? (DPCtrl.maxSize * (DPCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{dp.ItemPR.PurchaseReq}}</td>
                                            <td style="vertical-align: middle;">{{dp.ItemPR.Name}}</td>
                                            <td style="vertical-align: middle;">{{dp.Material}}</td>
                                            <td style="vertical-align: middle;">{{dp.ShortText}}</td>
                                            <td style="vertical-align: middle;" ng-if="DPCtrl.nego[0].flagAlternative == true">{{dp.Alternative}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <input type="checkbox" ng-disabled="DPCtrl.flagIsOpen == false || !dp.GOEId" ng-model="dp.IsOpen" ng-click="DPCtrl.saveIsOpen(dp)" />
                                            </td>
                                            <td class="text-center center-vertical">{{dp.Quantity}}</td>
                                            <td class="text-right middle-vertical">{{dp.HistoricalCurrency}} {{dp.HistoricalUnitPrice | currency: "" }}</td>
                                            <td class="text-right middle-vertical">{{dp.HistoricalCurrency}} {{dp.HistoricalTotalPrice | currency: ""}}</td>
                                            <td class="text-right middle-vertical">{{dp.EPVCurrency}} {{dp.EPVUnitPrice | currency: ""}}</td>
                                            <td class="text-right middle-vertical">{{dp.EPVCurrency}} {{dp.EPVTotalPrice | currency: ""}}</td>
                                            <td class="text-right middle-vertical">{{dp.UnitPriceGOE | currency:""+ dp.Currency +" " :(dp.Currency === 'IDR' ? 2 : 6)}}</td>
                                            <td class="text-right middle-vertical">{{dp.TotalPriceGOE | currency:""+ dp.Currency +" ":(dp.Currency === 'IDR' ? 2 : 6)}}</td>
                                            <td class="text-right middle-vertical">{{dp.UnitPrice | currency:""+ dp.Currency +" " :(dp.Currency === 'IDR' ? 2 : 6)}}</td>
                                            <td class="text-right middle-vertical">{{dp.TotalPrice | currency:""+ dp.Currency +" " :(dp.Currency === 'IDR' ? 2 : 6)}}</td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td ng-if="DPCtrl.nego[0].flagAlternative == true" colspan="7"></td>
                                            <td ng-if="DPCtrl.nego[0].flagAlternative == false" colspan="6"></td>
                                            <td class="text-right middle-vertical"><strong>Sub Total : </strong></td>
                                            <td></td>
                                            <td class="text-right middle-vertical"><strong title="Total Harga Historical">{{DPCtrl.totalHistorical ? (DPCtrl.totalHistorical | currency: "") : '-'}} </strong></td>
                                            <td></td>
                                            <td class="text-right middle-vertical"><strong title="Total Harga EPV">{{DPCtrl.totalEPV ? (DPCtrl.totalEPV | currency: "") : '-'}} </strong></td>
                                            <td></td>
                                            <td class="text-right middle-vertical"><strong title="Total Harga Rekanan">{{DPCtrl.cost| currency: ""+ labelcurr +" "}} </strong></td>
                                            <td></td>
                                            <td class="text-right middle-vertical"><strong title="Total Harga Negosiasi">{{DPCtrl.totalNego | currency: ""+ labelcurr +" "}} </strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12 pull-right" style="margin-top:18px !important;">
                            <div class="col-md-6" ng-if="DPCtrl.nego[0].IsNego !== true && DPCtrl.nego[0].IsActive === true && DPCtrl.overtime === true">
                                <input type="checkbox" ng-model="DPCtrl.generet" ng-click="DPCtrl.generate()" /> <strong>{{'GENERATE_NEGO'|translate}}</strong>
                            </div>
                            <div class="col-md-6" ng-if="!(DPCtrl.nego[0].IsNego !== true && DPCtrl.nego[0].IsActive === true && DPCtrl.overtime === true)">
                            </div>
                            <div class="col-md-6">
                                <strong class="pull-right">
                                    {{'SELISIH'|translate}}: {{DPCtrl.selisih | currency:""}}
                                </strong>
                            </div>
                        </div><br />
                        <div class="col-md-12 pull-right">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <strong class="pull-right">
                                    {{'PERSETANSE'|translate}}: {{DPCtrl.presentase | number}}%
                                </strong>
                            </div>
                        </div><br />

                        <div class="col-md-12">
                            <div class="pull-right text-right" style="padding-top: 15px;">
                                <a class="btn btn-sm btn-flat btn-default" ng-click="DPCtrl.back()" title="{{'BTN.BACK'|translate}}"><i class="fa fa-reply"></i>{{'BTN.BACK&nbsp;'|translate}}</a>
                                &nbsp;
                                <span ng-if="DPCtrl.nego[0].IsNego !== true && DPCtrl.nego[0].IsActive === true && DPCtrl.overtime === true">
                                    <button ng-click="DPCtrl.save()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN>SAVE'|translate}}"><i class="fa fa-save"></i>{{'&nbsp;BTN.SAVE'|translate}}</button>
                                </span>
                            </div>
                            <div class="col-md-12" ng-if="DPCtrl.nego[0].IsNego !== true && DPCtrl.nego[0].IsActive === true && DPCtrl.overtime === true">
                                <strong> *{{'MESSAGE.NOTIF'|translate}}</strong>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>