﻿<div class="modal-content" ng-init="SummaryBarangCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="SummaryBarangCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font">{{'BREADCRUMB.FORM_SUMMARY'|translate}}</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="formAdd">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
                        <thead>
                            <tr>
                                <th class="text-center" width="20px">{{'No'|translate}}</th>
                                <th class="text-center">{{'VENDOR'|translate}}</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">{{'TABLE.REMARK'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pnb in SummaryBarangCtrl.nb">
                                <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{pnb.VendorName}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <input ng-disabled="!(pnb.NegotiationPrice !== 0 && !pnb.IsAwarded && pnb.IsDeliveryDateOK)" 
                                           type="checkbox" ng-model="pnb.IsCheckDeal"> {{'AGREED'|translate}}
                                </td>
                                <td style="vertical-align: middle;">
                                    <span ng-if="pnb.NegotiationPrice === 0">{{'ERR_ZERO_NEGOTIATION_PRICE'|translate}}<br /></span>
                                    <span ng-if="pnb.IsAwarded">{{'ERR_IS_AWARDED'|translate}}<br /></span>
                                    <span ng-if="!pnb.IsDeliveryDateOK">{{"NEED_DD_APPROVAL" | translate}}<br /></span>
                                </td>
                            </tr>
                            <tr ng-if="SummaryBarangCtrl.nb.length === 0"><td colspan="4">{{'DATA'|translate}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
       </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="SummaryBarangCtrl.batal()" title="{{'BTN.CANCEL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="SummaryBarangCtrl.simpan()" title="{{'BTN.SAVE'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>