<section class="content" ng-init="BalanceVendorPrequalCtrl.initialize()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.BALANCE' | translate}}</a></li>
	</ol>
	<div id="utama" class="row">
		<!-- style="padding-top: 25px;" -->
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-7">
							<h3 class="afta-font judul-datatabel">{{'FINANCIAL_COMPANY_DATA_PRAKUAL' | translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button ng-if="BalanceVendorPrequalCtrl.isEntry === true"  type="button" class="btn btn-flat btn-primary turun-15" ng-click="BalanceVendorPrequalCtrl.upload()">
									<i class='fa fa-upload'></i> {{'UPLOAD' | translate}}
								</button>
								<a ng-if="BalanceVendorPrequalCtrl.balanceDocUrl" target="_blank" href="{{BalanceVendorPrequalCtrl.folderFile + BalanceVendorPrequalCtrl.balanceDocUrl}}" class="btn btn-flat btn-success turun-15" title="{{'DOWNLOAD' | translate}}">
									<i class='fa fa-download'></i>
								</a>
							</div>
						</div>
					</div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <span ng-if="BalanceVendorPrequalCtrl.isEntry === true" class="pull-right"><a href="" ng-click="BalanceVendorPrequalCtrl.tambah()" class="btn btn-flat btn-success" title="Tambah"><i class='fa fa-plus-square'></i> {{'TABLE.TAMBAH' | translate}}</a></span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 4%">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.FINANCIAL_COMPANY' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="BalanceVendorPrequalCtrl.asset == 0">
                                            <td>1.</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>
                                                            <b>{{'Asset / Kekayaan' | translate}}</b>
                                                        </td>
                                                        <td width="35%">Rp. 0.00</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="sk in BalanceVendorPrequalCtrl.vendorbalance">
                                            <td ng-if="sk.WealthType.Value == 'Asset / Kekayaan'">1.</td>
                                            <td ng-if="sk.WealthType.Value == 'Kewajiban/ Hutang'">2.</td>
                                            <td>
                                                <b>{{sk.WealthType.Value | translate}}</b>
                                                <table class="table table-bordered">
                                                    <tr ng-repeat="pt in sk.subWealth">
                                                        <td ng-if="pt.subCategory.length !== 0">
                                                            {{$index+1}}. {{pt.COAType.Value | translate}}
                                                            <table class="table table-bordered">
                                                                <tr ng-repeat="subcoa in pt.subCategory">
                                                                    <td>
                                                                        {{$index+1}}. {{subcoa.COA.Value | translate}}
                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3106" style="display:inline-block !important;">{{subcoa.Amount | currency: ""+ labelcurr +" "}} {{'gram'|translate}}</span>
                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3107" style="display:inline-block !important;">{{subcoa.Amount}} {{'unit'|translate}}</span>
                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3108" style="display:inline-block !important;">{{subcoa.Amount}} {{'bulan'|translate}}</span>
                                                                    </td>
                                                                    <td width="20%">Rp. {{subcoa.Nominal | currency: ""+ labelcurr +" "}}</td>
                                                                    <td width="15%">
                                                                        <a ng-if="BalanceVendorPrequalCtrl.isEntry === true " ng-click="BalanceVendorPrequalCtrl.edit(subcoa, 1)" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-pencil"></i> </a>
                                                                        <a ng-if="BalanceVendorPrequalCtrl.isEntry === true " ng-click="BalanceVendorPrequalCtrl.ubah_aktif(subcoa,false)" class="btn btn-flat btn-xs btn-danger" title="{{'BTN.NON_AKTIF' | translate}}"><i class="fa fa-trash-o"></i> </a>
                                                                        <a ng-show="!(subcoa.DocUrl === '')" href="{{BalanceVendorPrequalCtrl.folderFile + subcoa.DocUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.VIEW' | translate}}"><i class="fa fa-download"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td ng-if="pt.subCategory.length === 0">
                                                            <table class="table table-bordered">
                                                                <tr>
                                                                    <td>
                                                                        {{$index+1}}. {{pt.COAType.Value | translate}}
                                                                        <span class="pull-right" style="display:inline-block !important;">{{pt.Amount}} unit</span>
                                                                    </td>
                                                                    <td width="20%">Rp. {{pt.nominal | currency: ""+ labelcurr +" "}}</td>
                                                                    <td width="15%">
                                                                        <a ng-if="BalanceVendorPrequalCtrl.isEntry === true " ng-click="BalanceVendorPrequalCtrl.edit(sk.WealthType, pt)" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-pencil"></i> </a>
                                                                        <a ng-if="BalanceVendorPrequalCtrl.isEntry === true " ng-click="BalanceVendorPrequalCtrl.ubah_aktif(pt,false)" class="btn btn-flat btn-xs btn-danger" title="{{'BTN.NON_AKTIF' | translate}}"><i class="fa fa-trash-o"></i> </a>
                                                                        <a ng-show="!(pt.DocUrl === '')" href="{{BalanceVendorPrequalCtrl.folderFile + pt.DocUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.VIEW' | translate}}"><i class="fa fa-download"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <td ng-if="sk.WealthType.Name ==='WEALTH_TYPE_ASSET'">
                                                        <table class="table table-bordered">
                                                            <tr>
                                                                <td class="text-center"><strong>{{'TOTAL' | translate}}</strong></td>
                                                                <td width="35%"><strong>Rp. {{BalanceVendorPrequalCtrl.asset | currency: ""+ labelcurr +" "}}</strong></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-if="BalanceVendorPrequalCtrl.hutang == 0">
                                            <td>2.</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>
                                                            <b>{{'Kewajiban/ Hutang' | translate}}</b>
                                                        </td>
                                                        <td width="35%">Rp. 0.00</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td><b>Modal</b></td>
                                                        <td width="35%">Rp. {{BalanceVendorPrequalCtrl.modal | currency: ""+ labelcurr +" "}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-5">
						</div>
					</div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="center-block text-center">
                                <a href="#/prakualifikasi/pemasukkan-prakualifikasi-vendor/{{BalanceVendorPrequalCtrl.PrequalStepID}}" class="btn btn-primary" title="Kembali" role="button">
                                    <i class="fa fa-arrow-circle-left"></i>
                                </a>
                                <a ng-if="BalanceVendorPrequalCtrl.isEntry === true" title="Submit" class="btn btn-success" ng-click="BalanceVendorPrequalCtrl.Submit()">
                                    <i class="fa fa-check"></i>
                                </a>

                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>

        
	</div>
</section>
