﻿<div ng-init="prequalCertificateVendorCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/home-admin">Home</a></li>
			<li><a class="active">{{'BREADCRUMB.PREQUAL_CERTIFICATE' | translate}}</a></li>
		</ol>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 center-block" style="float: none!important;">
					<div class="box box-info">
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'TITLE.PREQUAL_CERTIFICATE' | translate}}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<label>{{'START_DATE' | translate}}: {{prequalCertificateVendorCtrl.StartDate | date: "dd/MM/yyyy HH:mm"}}</label>
								</div>
								<div class="col-md-4">
									<label>{{'END_DATE' | translate}}: {{prequalCertificateVendorCtrl.EndDate | date:"dd/MM/yyyy HH:mm"}}</label>
								</div>
								<div class="col-md-12">
									<label>{{'PREQUAL_NAME' | translate}}: {{prequalCertificateVendorCtrl.PrequalSetupName}} </label>
								</div>
							</div>
							<hr />
							<div class="row" style="margin-top: 20px;">
								<div class="col-md-12">
									<!--<button ng-hide="goodsTechEvalResulDetermineCtrl.IsPublished" class="pull-right btn btn-success" ng-click="goodsTechEvalResulDetermineCtrl.Determine()">
										<i class="fa fa-save"></i>&nbsp;{{'FORM.SAVE' | translate}}
									</button>-->
									<a ng-if="prequalCertificateVendorCtrl.CertificateUrl !== 'null'" ng-hide="!prequalCertificateVendorCtrl.IsPublished" href="{{prequalCertificateVendorCtrl.folderFile+prequalCertificateVendorCtrl.CertificateUrl}}" target="_blank" class="btn btn-primary" title="Download Certificate">
										<i class='fa fa-download'></i>&nbsp;{{'FORM.DOWNLOAD_CERT' | translate}}
									</a>
									<button disabled ng-if="prequalCertificateVendorCtrl.CertificateUrl === 'null'" ng-hide="!prequalCertificateVendorCtrl.IsPublished" class="btn btn-default" title="Download Certificate">
										<i class='fa fa-download'></i>&nbsp;{{'FORM.DOWNLOAD_CERT' | translate}}
									</button>
									<!--<button ng-hide="!prequalCertificateVendorCtrl.IsPublished" type="button" ng-click="prequalCertificateVendorCtrl.downloadCert('formCertificate')" class="btn btn-primary" title="Download Certificate">
										<i class="fa fa-download"></i>&nbsp;{{'FORM.DOWNLOAD_CERT' | translate}}
									</button>-->
									<label class="text-center">
										<a href="#/detail-tahapan-prakual-vendor/{{prequalCertificateVendorCtrl.PrequalSetupID}}" class="btn btn-danger" title="Back">
											<i class="fa fa-arrow-circle-left"> {{'FORM.BACK' | translate}}</i>&nbsp;
										</a>&nbsp;

										<!--<button type="button" ng-click="prequalCertificateVendorCtrl.backPrequal()" class="btn btn-danger" title="Kembali">
											<i class="fa fa-arrow-circle-left"></i>&nbsp;{{'FORM.BACK' | translate}}
										</button>-->
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div id="formCertificate" class="formEEC-container" ng-hide="true" style="background-color:#ffffff;">
	<div class="row" style="width:100%;">
		<div class="col-md-8"></div>
		<div class="col-md-4">
			<img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-top:10px;padding-left:690px;padding-bottom: 20px;display:block;text-align:right;" width="100" height="40" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="formEEC-title">SERTIFIKAT KELULUSAN PRA-KUALIFIKASI</div><br />
			<div class="formEEC-content">
				<div class="formEEC-contentOutside">
					<!--<p>This document is to ensure that the necessary approvals to support the decision to engage in a contract for work have been obtained in accordance with the contract management accountability prior to contract commitment and issue.</p>-->
					<p>PANITIA PRAKUALIFIKASI PT. VALE INDONESIA, TBK DENGAN INI MENYATAKAN BAHWA,</p>
					<div class="row">
						<div class="formEEC-col9">
							{{prequalCertificateVendorCtrl.CompanyName}}
						</div>
					</div>
				</div>
				<div class="formEEC-col9">
					Telah lulus dalam tahapan {{prequalCertificateVendorCtrl.PrequalSetupName}}
				</div><br />
				<div class="formEEC-contentOutside">
					Detail Kualifikasi, Klasifikasi dan Kemampuan Teknis adalah sebagaimana tercantum dalam bagian belakang sertifikat.
				</div>
				<div class="formEEC-col9">
					<div class="formEEC-col9">Sorowako, &lt;&lt;PREQUAL_RESULT_DATE&gt;&gt;</div>
				</div><br /><br /><br /><br /><br />
				<div class="formEEC-col9">
					&lt;&lt;COMITEE_NAME&gt;&gt;{{prequalCertificateVendorCtrl.ComiteeName}}
				</div>



				<table class="formEEC-table">
					<tr>
						<th style="vertical-align:middle;"></th>
						<th>Accountability</th>
						<th>Responsibility</th>
						<th>Approval</th>
						<th>Date</th>
					</tr>
					<tr ng-repeat="ce in detailApprovalSignOffCtrl.list[0].CE">
						<th width="50px" style="vertical-align:middle;">CONTRACT ENGINEER</th>
						<td>{{ce.FullName}} {{ce.SurName}}<br /><br />CONTRACT ENGINEER</td>
						<td>Prepares the Document. Check the validity of Business License, Contract Terms/Conditions, Legal Sign-off  CB MoM</td>
						<td>Approve</td>
						<td>{{detailApprovalSignOffCtrl.list[0].ApprovalDate | date: "dd-MM-yyyy"}}</td>
					</tr>
					<tr ng-repeat="dt in detailApprovalSignOffCtrl.crAppsActive">
						<th width="50px" style="vertical-align:middle;">{{dt.EmployeeDepartmentName}}</th>
						<td>{{dt.EmployeeFullName}}<br /><br />{{dt.EmployeePositionName}}</td>
						<td>{{dt.Responsibility}}</td>
						<td>Approve</td>
						<td>{{dt.ApprovalDate| date: "dd-MM-yyyy"}}</td>
					</tr>
					<tr>
						<td colspan="5">
							<div class="formEEC-col6">
								Budget Approval : Operating Expense<br />
								Business Case Review : Capital Project
							</div>
							<div class="formEEC-col6">
								Cost Centre : Change to PMO<br />
								CAR :
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="5">
							Comments : 1 USD = IDR {{detailApprovalSignOffCtrl.list[0].rate | currency:""}}
						</td>
					</tr>
				</table>
				<div class="formEEC-contentOutside">
					All commitments must be signed in accordance with the limits set in the Authority Matrix for Expenditure Commitments based on the total cumulative value of the contract.
				</div>
			</div>
		</div>
	</div>
</div>

</div>
