<div class="modal-content" ng-init="DetDokPenawaranCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetDokPenawaranCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h4 class="afta-font modal-title ">{{DetDokPenawaranCtrl.DocumentName}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'FORM.DOCUMENT_NAME'|translate}}</th>
                                        <th class="text-center" width="10%">{{'FORM.DOWNLOAD'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{DetDokPenawaranCtrl.DocumentName}}</td>
                                        <td class="text-center">
                                            <a ng-disabled="(DetDokPenawaranCtrl.FileDoc === null)" href="{{DetDokPenawaranCtrl.folderFile+DetDokPenawaranCtrl.FileDoc}}" class="btn btn-xs btn-success" title="Download"><i class="fa fa-download"></i> </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <span class="pull-right">
                            <button ng-click="DetDokPenawaranCtrl.batal()" class="btn btn-sm btn-default" title="{{'BTN_BACK'|translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>