﻿<div class="modal-content" ng-init="KelengkapanTenderJasaVendorCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="KelengkapanTenderJasaVendorCtrl.batal()">
			<span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.KELUAR'|translate}}</span>
		</button>
		<h4 class="afta-font  modal-title ">{{'TITLE.KELENGKAPAN_DATA_KOMERSIAL'|translate}}</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th colspan="6"><h4 class="afta-font text-center">{{'FORM.CHECKLIST_ITEM'|translate}}</h4></th>
									</tr>
									<tr>
										<th class="text-center" width="5%">{{'TABLE.NO'|translate}}</th>
										<th class="text-center">{{'TABLE.FORMNAME'|translate}}</th>
										<th class="text-center" width="10%">{{'TABLE.FORM_DETAIL'|translate}}</th>
                                        <!--
										<th class="text-center" width="10%">Tanggal Submit</th>
										<th class="text-center" width="7%">Cek List </th>
										<th class="text-center" width="20%">Keterangan</th>-->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="pgm in KelengkapanTenderJasaVendorCtrl.listDocChecks">
										<td class="text-center">{{$index + 1}}</td>
										<td>{{pgm.DocumentName}}</td>
										<td class="text-center">
											<button ng-click="KelengkapanTenderJasaVendorCtrl.detailDokumen(pgm)" class="btn btn-xs btn-warning" title="Detail">
												<i class="fa fa-folder-open-o"></i>
											</button>
										</td>
                                        <!--
										<td class="text-center">{{pgm.ApproveDate}}</td>
										<td class="text-center">
											<input type="checkbox" ng-checked="pgm.IsApproved" ng-model="pgm.IsApproved" ng-click="KDKVCtrl.updateChecklist(pgm)" />
										</td>
										<td></td>
                                            -->
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12">
						<button ng-click="KelengkapanTenderJasaVendorCtrl.back()" class="btn btn-sm btn-default pull-right" title="{{'BTN_BACK'|translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

