<div class="content" ng-init="PengumumanTenderVendorCtrl.init()">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-primary">
				<div class="box-header">
					<ol class="breadcrumb">
						<li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME'|translate}}</a></li>
						<li><a class="active">{{'BREADCRUMB.ANNOUNCEMENT'|translate}}</a></li>
					</ol>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="box-title afta-font text-center">{{'FORM.TITLEANNOUNCEMENT'|translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4 class="afta-font text-center">
								<strong>{{'FORM.ANNOUNCEMENTNAME'|translate}}</strong> ({{PengumumanTenderVendorCtrl.dataTender.TenderName}})
							</h4>
						</div>
						<br />
						<br />
						<br />
						<div class="box-body" ng-if="PengumumanTenderVendorCtrl.GoodsOrService===1 && PengumumanTenderVendorCtrl.offerEntryType==='VHS'">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.QUOTATIONNO' | translate}}</label><br />
												<input type="text" class="form-control input-group-sm" ng-model="PengumumanTenderVendorCtrl.QuotationNo" />
											</div>
										</div>
										<div class="col-md-4" ng-if="(PengumumanTenderVendorCtrl.RFQId.RFQType === 1 && PengumumanTenderVendorCtrl.RFQId.DeliveryTerms == 3087)">
											<div class="form-group">
												<label class="control-label">{{'FORM.LEADTIME' | translate}}</label><br />
												<input type="text" ng-disabled="PengumumanTenderVendorCtrl.RFQId.DeliveryTerms === 3087" class="form-control input-group-sm" ng-model="PengumumanTenderVendorCtrl.RFQId.LeadTime" />
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.QUOTATIONVALIDITY' | translate}}</label><br />
												<input type="text" ng-disabled="PengumumanTenderVendorCtrl.RFQId.RFQType === 1" class="form-control input-group-sm" ng-model="PengumumanTenderVendorCtrl.RFQId.ExpiredDay" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.OFFERTYPE' | translate}}</label><br />
												<select disabled class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedDeliveryTerms" ng-options="item as item.Value | translate for item in PengumumanTenderVendorCtrl.DeliveryTerm">
													<option value="" selected disabled>--{{'FORM.OFFERTYPE' | translate}}--</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.INCOTERMS' | translate}}</label><br />
												<select ng-disabled="PengumumanTenderVendorCtrl.RFQId.DeliveryTerms == 3087" class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedIncoTerms" ng-change="PengumumanTenderVendorCtrl.changeFreightDetai()"
														ng-options="item as item.Name for item in PengumumanTenderVendorCtrl.listIncoTerms">
													<option value="" selected disabled>--{{'FORM.INCOTERMS' | translate}}--</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.DELIVERYPOINT' | translate}}</label><br />
                                                <input type="text" class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.DeliveryStateName" disabled />
                                                <!--<select ng-disabled="PengumumanTenderVendorCtrl.RFQId.DeliveryTerms == 3087" class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedState"
														ng-options="item as item.Name for item in PengumumanTenderVendorCtrl.listFreight">
													<option value="" selected disabled>-- {{'FORM.DELIVERYPOINT' | translate}} --</option>
												</select>-->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="box-body" ng-if="PengumumanTenderVendorCtrl.GoodsOrService===1 && PengumumanTenderVendorCtrl.offerEntryType==='GOODS'">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.QUOTATIONNO' | translate}}</label><br />
												<input type="text" class="form-control" ng-model="PengumumanTenderVendorCtrl.goods[0].goods.QuotationNo" disabled />
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.QUOTATIONVALIDITY' | translate}}</label><br />
												<input type="text" class="form-control" ng-disabled="true" ng-model="PengumumanTenderVendorCtrl.goods[0].goods.StartDate" />
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.PAYMENTTERM' | translate}}</label>
												<select disabled class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedPaymentTerm"
														ng-options="item as item.Name for item in PengumumanTenderVendorCtrl.listPaymentTerm"></select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.DELIVERYTERMS' | translate}}</label><br />
												<select disabled required class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedDeliveryTender"
														ng-options="item as item.Value | translate for item in PengumumanTenderVendorCtrl.listDeliveryTender"></select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.INCOTERMS' | translate}}</label><br />
												<select class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedIncoTerms"
														ng-options="item as item.Name for item in PengumumanTenderVendorCtrl.listIncoTerms" disabled>
													<option value="" selected disabled>
														-- Incoterms --
													</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.DELIVERYPOINT' | translate}}</label><br />
                                                <input type="text" class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.DeliveryStateName" disabled />
                                                <!--<select class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedFreightCost2"
														ng-options="item as item.DeliveryState for item in PengumumanTenderVendorCtrl.listFreightCost2" disabled>
													<option value="" selected disabled>
														-- {{'FORM.DELIVERYPOINT' | translate}} --
													</option>
												</select>-->
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.TENDERTYPE' | translate}}</label>
												<select disabled required class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedTypeTender"
														ng-options="item as item.Value for item in PengumumanTenderVendorCtrl.listTypeTender"></select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.TENDEROPTIONS' | translate}}</label>
												<select disabled class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedOptionsTender"
														ng-options="item as item.Value for item in PengumumanTenderVendorCtrl.listOptionsTender"></select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.CURRENCY' | translate}}</label><br />
												<select class="form-control input-sm" ng-model="PengumumanTenderVendorCtrl.selectedCurrencies" ng-change="PengumumanTenderVendorCtrl.changeCurrent(PengumumanTenderVendorCtrl.selectedCurrencies)"
														ng-options="item as item.Symbol for item in PengumumanTenderVendorCtrl.listCurrencies" disabled>
													<option value="" selected disabled>
														-- {{'FORM.CURRENCY' | translate}} --
													</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.SUBMISSIONLIMIT' | translate}}</label><br />
												<input type="text" class="form-control" disabled ng-model="PengumumanTenderVendorCtrl.goods[0].goods.MaxOE" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<h4>{{'DOK_INFORMASI_TENDER' | translate}}</h4>
											<div class="form-group">
												<div class="table table-responsive">
													<table class="table table-bordered table-striped">
														<thead>
															<tr>
																<th width="10%">No.</th>
																<th>{{'FORM.DOCUMENT_NAME' | translate}}</th>
																<th width="20%">Download</th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="mt in PengumumanTenderVendorCtrl.listDoc">
																<td class="text-center">{{$index + 1}}</td>
																<td class="text-left">{{mt.DocName}}</td>
																<td class="text-center">
																	<a href="{{PengumumanTenderVendorCtrl.folderFile+mt.DocUrl}}" class="btn btn-xs btn-success" title="{{'FORM.DOWNLOAD' | translate}}" target="_blank"><i class="fa fa-download"></i> </a>
																</td>
															</tr>
															<tr ng-if="PengumumanTenderVendorCtrl.listDoc.length===0">
																<td colspan="3">{{"TABLE.NODATA" | translate}}</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--
						<div class="col-md-12" ng-if="PengumumanTenderVendorCtrl.GoodsOrService===1 && PengumumanTenderVendorCtrl.offerEntryType==='GOODS'">
							<h4 class="text-right afta-font">Total Penawaran : {{PengumumanTenderVendorCtrl.offer | currency: ""+ labelcurr +" "}}</h4>
						</div>-->
						<div class="col-md-7" ng-if="PengumumanTenderVendorCtrl.GoodsOrService===1 && PengumumanTenderVendorCtrl.offerEntryType==='GOODS'">
							<pagination total-items="PengumumanTenderVendorCtrl.totalItems" page="PengumumanTenderVendorCtrl.currentPage" items-per-page="10" ng-show="PengumumanTenderVendorCtrl.totalItems > 10"
										max-size="10" on-select-page="PengumumanTenderVendorCtrl.loadGoodsOfferEntry(page)"></pagination>
						</div>
						<div class="col-md-12">
							<div class="table table-responsive">
								<!--vhs-->
								<table ng-if="PengumumanTenderVendorCtrl.GoodsOrService===1 && PengumumanTenderVendorCtrl.offerEntryType==='VHS'" class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
									<thead>
										<tr>
											<th class="text-center" width="20px">{{'TABLE.NO'|translate}}</th>
											<th class="text-center">{{'TABLE.REQUIREMENTS'|translate}}</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in PengumumanTenderVendorCtrl.dataOfferEntry">
											<td class="text-center" style="vertical-align: middle;">{{PengumumanTenderVendorCtrl.currentPage > 1 ? (PengumumanTenderVendorCtrl.maxSize * (PengumumanTenderVendorCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{data.DocName}}</td>
											<td class="text-center" style="vertical-align: middle;">

												<a ng-if="data.TenderDocTypeID === 21" ng-click="PengumumanTenderVendorCtrl.downloadExcel(data)" class="btn btn-flat btn-sm btn-warning" title="Download Template">
													<i class='fa fa-download'></i>&nbsp;
												</a>
												<a ng-if="(data.TenderDocTypeID === 10|| data.TenderDocTypeID === 11 || data.TenderDocTypeID === 12) && data.DocumentUrl !== null " href="{{PengumumanTenderVendorCtrl.folderFile+data.DocumentUrl}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="Download File">
													<i class='fa fa-download'></i>&nbsp;
												</a>
											</td>
										</tr>
										<tr ng-if="PengumumanTenderVendorCtrl.dataOfferEntry.length === 0"><td colspan="6">{{"TABLE.NODATA" | translate}}</td></tr>
									</tbody>
								</table>
								<!--barang-->
								<table class="table table-bordered table-striped" ng-if="PengumumanTenderVendorCtrl.GoodsOrService===1 && PengumumanTenderVendorCtrl.offerEntryType==='GOODS'" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">{{'TABLE.NO' | translate}}</th>
											<th class="text-center">{{'TABLE.ITEMDESCRIPTION' | translate}}</th>
											<th class="text-center" ng-if="PengumumanTenderVendorCtrl.TenderType === 4171">{{'TABLE.ALTERNATIVE' | translate}}</th>
											<th class="text-center">{{'TABLE.LEADTIME'|translate}}(Days)</th>
											<th class="text-center">{{'TABLE.QTY'|translate}}</th>
											<th class="text-center">{{'TABLE.UNIT'|translate}}</th>
											<th class="text-center">{{'TABLE.PRICEUNIT'|translate}}</th>
											<th class="text-center">{{'TABLE.TOTALPRICE'|translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="gods in PengumumanTenderVendorCtrl.goods">
											<td class="center-vertical">{{PengumumanTenderVendorCtrl.currentPage > 1 ? (PengumumanTenderVendorCtrl.maxSize * (PengumumanTenderVendorCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{gods.item.ShortText}} {{gods.item.ItemText}} {{gods.item.MaterialPOText}} {{gods.item.HeaderNote}} {{gods.item.ItemNote}} {{gods.item.DeliveryText}} {{gods.item.NoteForBuyer}} {{gods.item.Manufacturer1}} {{gods.item.Manufacturer2}} {{gods.item.MPNMaterial}}</td>
											<td class="center-vertical" ng-if="PengumumanTenderVendorCtrl.TenderType === 4171"><input type="text" ng-model="gods.Alternative" style="width: 160px;" /></td>
											<td class="center-vertical"><input class="form-control input-sm" disabled currency-mask type="text" ng-model="gods.LeadTime" style="width: 80px;" /></td>
											<td class="center-vertical" style="width: 30px;">{{gods.item.Quantity}}</td>
											<td class="center-vertical" style="width: 30px;">{{gods.item.UnitMeasure}}</td>
											<td class="center-vertical"><input currency-mask type="text" disabled class="form-control input-sm" ng-model="gods.UnitPrice" style="width: 100px;" ng-blur="PengumumanTenderVendorCtrl.changePrice(gods)" /></td>
											<td class="center-vertical"><input currency-mask disabled type="text" class="form-control input-sm" ng-model="gods.TotalPrice" style="text-align: right; width: 100px;" /></td>
										</tr>
									</tbody>
								</table>
								<!--jasa-->
								<table ng-if="PengumumanTenderVendorCtrl.GoodsOrService===2" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" colspan="7">{{'TABLE.REQUIREMENTS'|translate}}</th>
										</tr>
										<tr>
											<th class="text-center" width="10%">{{'TABLE.CODE'|translate}} </th>
											<th class="text-center">{{'TABLE.FORMNAME'|translate}}</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pgm in PengumumanTenderVendorCtrl.listKelengkapan">
											<td class="text-center">{{pgm.DocumentCode}}</td>
											<td>{{pgm.DocumentName}}</td>
											<td class="text-center">
												<button ng-click="PengumumanTenderVendorCtrl.detailDokumen(pgm)" class="btn btn-xs btn-warning" title="Detail"><i class="fa fa-folder-open-o"></i> </button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="row" ng-if="PengumumanTenderVendorCtrl.GoodsOrService===1 && PengumumanTenderVendorCtrl.offerEntryType==='GOODS'">
								<div class="col-md-2">
									<label class="control-label turun-15">{{'TABLE.TOTALDATA' | translate}} : {{PengumumanTenderVendorCtrl.totalItems}}</label>
								</div>
								<div class="col-md-10 pull-right">
									<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="PengumumanTenderVendorCtrl.totalItems" ng-model="PengumumanTenderVendorCtrl.currentPage"
										class="pagination-sm" previous-text="&lsaquo;" max-number="PengumumanTenderVendorCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
										ng-change="PengumumanTenderVendorCtrl.loadGoodsOfferEntry(PengumumanTenderVendorCtrl.currentPage)" max-size="10"></ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="text-center center-block">
								<a class="btn btn-sm btn-primary" ng-click="PengumumanTenderVendorCtrl.back()" title="{{'BTN_BACK'|translate}}"><i class="fa fa-arrow-left"></i>&nbsp;</a>&nbsp;
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<script type="text/ng-template" id="detail-dok-penawaran.html">
	<div class="modal-content" ng-init="DetDokPenawaranCtrl.init()">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" ng-click="DetDokPenawaranCtrl.batal()" title="Keluar">
				<span aria-hidden="true">&times;</span><span class="sr-only"></span>
			</button>
			<h4 class="afta-font modal-title ">{{DetDokPenawaranCtrl.DocumentName}}</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center">Nama Dokumen </th>
											<th class="text-center" width="10%">Download </th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{DetDokPenawaranCtrl.DocumentName}}</td>
											<td class="text-center">
												<a ng-disabled="(DetDokPenawaranCtrl.FileDoc === null)" href="{{DetDokPenawaranCtrl.folderFile+DetDokPenawaranCtrl.FileDoc}}" class="btn btn-xs btn-success" title="Download"><i class="fa fa-download"></i> </a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-12">
							<span class="pull-right">
								<button ng-click="DetDokPenawaranCtrl.batal()" class="btn btn-sm btn-default" title="Kembali"><i class="fa fa-arrow-circle-o-left"></i> </button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</script>
	-->
