<section class="content" ng-init="upContractCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BERANDA' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <!--notife flow-->
                <div class="box-header" >
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="afta-font judul-datatabel">{{'UPLOAD_EXISTING_CONTRACT' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                {{'UPLOAD_EXCEL'|translate}}
                            </label>
                            <div class="input-group">
                                <!--<div class="input-group-btn">
                                    <a href="{{upContractCtrl.folderFile + upContractCtrl.DocUrlTemplate}}" target="_blank" title="{{'TEMPLATE_FORM'|translate}}" class="btn btn-flat btn-warning"><i class="fa fa-download"></i> Form</a>
                                </div>-->
                                <input type="file" class="form-control" ng-model="fileUpload" ng-file-select="upContractCtrl.selectUpload(fileUpload)" accept=".xls,.xlsx" />
                                <div class="input-group-btn">
                                    <button ng-disabled="!upContractCtrl.fileUpload" class="btn btn-success" title="Upload File" ng-click="upContractCtrl.uploadFile()"><i class="fa fa-upload"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>