﻿<!-- Main content -->
<div ng-init="AddMRKOCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/monitoring-mrko">Monitoring MRKO</a></li>
            <li><a class="active">{{'BREADCRUMB.DATA_MRKO' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'CREATE_MRKO' | translate}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row form-group">
                            <div class="col-lg-2" style="width:14%;">
                                <div class="form-group" style="line-height:30px;"><label for="vendor">Storage Location</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="vendor">Vendor Name</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">Periode</label></div>
                            </div>
                            <div class="col-lg-1" style="width:2%; margin-left:-30px;">
                                <div class="form-group" style="line-height:30px;"><label for="vendor">:</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                            </div>
                            <div class="col-lg-4" style="margin-left:-20px;">
                                <div class="form-group">
                                    <select id="cmbStatus"
                                            name="cmbStatus"
                                            ng-model="AddMRKOCtrl.selectStorage"
                                            class="form-control"
                                            ng-change="AddMRKOCtrl.changeStorage()"
                                            ng-options="item as item | translate for item  in AddMRKOCtrl.listStorage">
                                        <option value="" selected disabled class="text-center">Pilih Storage Location</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input ng-if="AddMRKOCtrl.Vendor!=undefined" disabled type="text" class="form-control" value="AddMRKOCtrl.Vendor"
                                           name="Vendor" ng-model="AddMRKOCtrl.VendorName" />
                                    <input ng-if="AddMRKOCtrl.Vendor==undefined" disabled type="text" class="form-control" value="AddMRKOCtrl.Vendor"
                                           name="Vendor" ng-model="AddMRKOCtrl.Vendor" />
                                </div>

                                <div class="form-group">
                                    <div class="input-group date form_datetime">
                                        <input style="background-color: #ffffff;" placeholder="Input Start Date" readonly required class="form-control datepicker" size="4" ng-model="AddMRKOCtrl.StartDate" type="text"  uib-datepicker-popup="dd-MM-yyyy"
                                               is-open="AddMRKOCtrl.isCalendarOpened[1]" ng-click="AddMRKOCtrl.openCalendar(1)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success" ng-click="AddMRKOCtrl.openCalendar(1)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>

                                        <input style="background-color: #ffffff;" placeholder="Input End Date" readonly required class="form-control datepicker" size="4" ng-model="AddMRKOCtrl.EndDate" type="text" uib-datepicker-popup="dd-MM-yyyy"
                                               is-open="AddMRKOCtrl.isCalendarOpened[2]" ng-click="AddMRKOCtrl.openCalendar(2)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success" ng-click="AddMRKOCtrl.openCalendar(2)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-2" style="width:14%;">
                                <div class="form-group" style="line-height:30px;"><label for="vendor"></label></div>
                                <div class="form-group" style="line-height:30px;"><label for="vendor"></label></div>
                                <div class="form-group" style="line-height:30px;">
                                    <button ng-disabled="AddMRKOCtrl.selectStorage == undefined || AddMRKOCtrl.StartDate == undefined || AddMRKOCtrl.EndDate == undefined " class="btn btn-primary" style="margin-top:7%;" ng-click="AddMRKOCtrl.GenerateMRKO()">
                                        <i class="glyphicon glyphicon-eye-open"></i> Generate
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 center-block" style="float: none!important;">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">No.</th>
                                                <th class="text-center" style="vertical-align: middle;">Posting Date</th>
                                                <th class="text-center" style="vertical-align: middle;">Reservation</th>
                                                <th class="text-center" style="vertical-align: middle;">Res. Item</th>
                                                <th class="text-center" style="vertical-align: middle;">Material Document</th>
                                                <th class="text-center" style="vertical-align: middle;">Material Doc Item</th>
                                                <th class="text-center" style="vertical-align: middle;">Material</th>
                                                <th class="text-center" style="vertical-align: middle;">Qty In Unit of Entry</th>
                                                <th class="text-center" style="vertical-align: middle;">Unit of Entry</th>
                                                <th class="text-center" style="vertical-align: middle;">Currency (MRKO)</th>
                                                <th class="text-center" style="vertical-align: middle;">Unit Price (MRKO)</th>
                                                <th class="text-center" style="vertical-align: middle;">Total Value (MRKO)</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="data in AddMRKOCtrl.dataGenerate.UploadDataDetailMRKO">
                                                <td style="vertical-align: middle;">{{AddMRKOCtrl.currentPage > 1 ? (AddMRKOCtrl.pageSize * (AddMRKOCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{AddMRKOCtrl.convertDate(data.PostingDate)}}</td>
                                                <td style="vertical-align: middle;">{{data.Reservation}}</td>
                                                <td style="vertical-align: middle;">{{data.ReservationItem}}</td>
                                                <td style="vertical-align: middle;">{{data.MaterialDocument}}</td>
                                                <td style="vertical-align: middle;">{{data.MaterialDocItem}}</td>
                                                <td style="vertical-align: middle;">{{data.Material}}</td>
                                                <td style="vertical-align: middle;">{{data.Qty}}</td>
                                                <td style="vertical-align: middle;">{{data.Unit}}</td>
                                                <td style="vertical-align: middle;">{{data.Currency}}</td>
                                                <td style="vertical-align: middle;">{{data.UnitPrice| currency: ""+ labelcurr +" "}}</td>
                                                <td style="vertical-align: middle;">{{data.TotalValue| currency: ""+ labelcurr +" "}}</td>
                                            </tr>
                                            <tr ng-if="AddMRKOCtrl.totalItems == 0">
                                                <td colspan="13">{{'TIDAK_ADA_DATA' | translate }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <div class="row" ng-if="AddMRKOCtrl.totalItems != 0">
                                    <div class="col-md-9">

                                    </div>
                                    <div class="col-md-2">
                                        <label>Total : </label> 
                                    </div>
                                    <div class="col-md-1">
                                        <div class="pull-right">
                                            <label>{{AddMRKOCtrl.dataGenerate.Total | currency: ""}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="AddMRKOCtrl.totalItems != 0">
                                    <div class="col-md-9">

                                    </div>
                                    <div class="col-md-2">
                                        <label>Total In USD : </label>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="pull-right">
                                            <label>{{AddMRKOCtrl.dataGenerate.TotalInUSD | currency: ""}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-if="AddMRKOCtrl.totalItems != 0">
                                    <ul uib-pagination boundary-links="true" total-items="AddMRKOCtrl.dataGenerate.Count" ng-model="AddMRKOCtrl.currentPage"
                                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                        ng-change="AddMRKOCtrl.generateItemMRKO()"></ul>
                                    <br /><label>{{'TOTAL_DATA' | translate}} : {{AddMRKOCtrl.dataGenerate.Count}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <a href="#/monitoring-mrko" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
                                        <i class="fa fa-arrow-left"></i> Kembali
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right">
                                    <!--<button class="btn btn-success turun-15" title="{{'SIMPAN' | translate}}" ng-click="AddMRKOCtrl.toDetail()"><i class="fa fa-edit"></i>&nbsp;Preview</button>-->
                                    <button ng-if="AddMRKOCtrl.totalItems != 0" class="btn btn-primary turun-15" title="{{'SIMPAN' | translate}}" ng-click="AddMRKOCtrl.save()"><i class="fa fa-envelope-o"></i>&nbsp;Sent To Approve</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>
