﻿<div class="modal-content" ng-init="detailApprovalMRKOCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailApprovalMRKOCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">Detail {{'APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">Level Info</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalMRKOCtrl.listApproval">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.MstEmployee.LevelInfo}}</td>
                                        <td>{{dt.MstEmployee.PositionName}}</td>
                                        <td ng-class="{'text-bold':dt.EmployeeID == detailApprovalSignOffCtrl.employeeID}">{{dt.MstEmployee.FullName}} {{dt.MstEmployee.SurName}}<br />
                                            <span ng-if="dt.DelegateEmployeeName">(Delegasi ke : {{dt.DelegateEmployeeName}})</span></td>
                                        <td class="text-center">{{dt.ApprovalDate| date: "dd-MM-yyyy"}}</td>
                                        <td ng-if="dt.ApprovalStatus === null" class="text-center"></td>
                                        <td ng-if="dt.ApprovalStatus === true" class="text-center">Approve</td>
                                        <td ng-if="dt.ApprovalStatus === false" class="text-center">Reject</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalMRKOCtrl.listApproval.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detailApprovalMRKOCtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>