﻿<section ng-init="DownloadSAPDocCtrl.init()">
	<div class="row well">
		<div class="col-md-12">
			<button class="btn btn-primary" ng-click="DownloadSAPDocCtrl.downloadDoc()" title="Download Document">
				<i class="fa fa-download"></i>&nbsp;{{'Download Document'}}
			</button>
		</div>
	</div>
</section>