﻿<section class="content" ng-init="VendorNotActiveCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a>{{'BREADCRUMB.VENDOR_DATA' | translate}}</a></li>
        <li><a>{{'BREADCRUMB.VENDOR_NOT_ACTIVE'|translate}}</a></li>

    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="afta-font judul-datatabel">{{'BREADCRUMB.DATA_REKANAN_TIDAK_AKTIF' | translate}}</h3>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{'SEARCH_BY_NAME' | translate}}" ng-model="VendorNotActiveCtrl.Keyword">
                                <span class="input-group-btn">
                                    <button ng-click="VendorNotActiveCtrl.jLoad(1)" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'BTN.CARI' | translate}}">
                                        <i class="fa fa-search"></i>&nbsp;Cari
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row turun-15">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom:20px;">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical">{{'TABLE.NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.NAMA_VENDOR' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.STATUS' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.KETERANGAN' | translate}}</th>
                                            <th class="center-vertical"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="detail in VendorNotActiveCtrl.listVendor">
                                            <td class="text-center" style="vertical-align: middle;">{{VendorNotActiveCtrl.currentPage > 1 ? (VendorNotActiveCtrl.pageSize * (VendorNotActiveCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{detail.VendorName}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{'TABLE.TIDAK_AKTIF' | translate}} {{detail.YearNotActive}} {{'TABLE.TAHUN' | translate}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                {{detail.Description}}
                                            </td>
                                            <td class="text-center" style="vertical-align: auto;">
                                                <a ng-if="detail.IsActiveVendor === true" ng-click="VendorNotActiveCtrl.openform(false, detail)" class="btn btn-flat btn-sm btn-danger" title="{{'TABLE.REJECT' | translate }}">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                                <a ng-if="detail.IsActiveVendor === false" ng-click="VendorNotActiveCtrl.openform(true, detail)" class="btn btn-flat btn-sm btn-primary" title="{{'TABLE.REJECT' | translate }}">
                                                    <i class="fa fa-check-circle-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-if="VendorNotActiveCtrl.totalItems === 0"><td colspan="5" class="text-center">{{'TABLE.DATA_TIDAK_ADA' | translate}}</tr>
                                    </tbody>
                                </table>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 right">
                            <button type="button" class="btn btn-flat btn-sm btn-danger pull-right" title="{{'BUTTONS.BACK' | translate}}" ng-click="VendorNotActiveCtrl.cancel()"><i class="fa fa-reply"></i>  {{'BUTTONS.BACK' | translate}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <ul uib-pagination boundary-links="true" total-items="VendorNotActiveCtrl.totalItems" ng-model="VendorNotActiveCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="VendorNotActiveCtrl.pageChanged()"></ul><br />
                            <label>{{'TOTAL_DATA' | translate }} : {{VendorNotActiveCtrl.totalItems}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-flat btn-xs btn-danger" title="{{'TABLE.REJECT' | translate }}">
                                <i class="fa fa-times-circle"></i>
                            </a> :
                            {{'TABLE.REJECT' | translate }} &nbsp;
                            <a class="btn btn-flat btn-xs btn-primary" title="{{'TABLE.REJECT' | translate }}">
                                <i class="fa fa-check-circle-o"></i>
                            </a> :
                            {{'TABLE.REJECT' | translate }} &nbsp;
                            <button type="button" class="btn btn-flat btn-xs btn-danger" title="{{'BUTTONS.BACK' | translate}}" style="cursor:default;"><i class="fa fa-reply"></i></button>
                            :
                            {{'BUTTONS.BACK' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>