<div ng-init="UploadDokCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.OTHER_DOCS'|translate}}</a></li>
	</ol>
	<div class="row">
		<div class="row">
			<div class="col-md-8 center-block" style="float: none!important;" ng-if="UploadDokCtrl.CR == true && UploadDokCtrl.IsVerified == true">
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<span><strong>Peringatan ! </strong> Anda belum melengkapi data profil perusahaan! Mohon segera dilengkapi untuk persyaratan verifikasi</span>
				</div>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<h3 class="afta-font text-center" style="font-weight:bold">{{'TITLE_DOC'|translate}}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="margin-bottom:10px">
					<div style="float:right">
						<!--<button type="button" class="btn btn-flat btn-primary" ng-if="UploadDokCtrl.IsApprovedCR===true" ng-click="UploadDokCtrl.tambah()" title="Tambah Data">-->
						<button type="button" class="btn btn-flat btn-success" ng-click="UploadDokCtrl.tambah(0)" title="{{'BTN.INSERT'|translate}}">
							<i class='fa fa-plus-circle'></i>&nbsp;{{'BTN.INSERT'|translate}}
						</button>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center">{{'TABLE.NO'|translate}}</th>
									<th class="text-center">{{'TABLE.DOC_NAME'|translate}}</th>
									<th class="text-center" style="width: 300px; min-width: 300px; vertical-align: middle;">{{'TABLE.DOC_NUMBER'|translate}}</th>
									<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.VALID_UNTIL'|translate}}</th>
									<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
								</tr>
							</thead>
							<tbody>
                                <tr ng-if="UploadDokCtrl.isStructureUploaded==false">
                                    <td class="text-center" style="vertical-align: middle;">1.</td>
                                    <td class="text-center" style="vertical-align: middle;">{{'Struktur Organisasi'|translate}}</td>
                                    <td class="text-center" style="vertical-align: middle;"></td>
                                    <td class="text-center" style="vertical-align: middle;"></td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        <!--<a ng-if="UploadDokCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-warning" ng-click="UploadDokCtrl.view(dok)" title="Lihat"><i class="fa fa-file-o"></i></a>
                                        <a ng-if="UploadDokCtrl.IsApprovedCR===true" ng-click="UploadDokCtrl.edit(dok)" class="btn btn-flat btn-sm btn-primary" title="ubah"><i class="fa fa-edit"></i></a>
                                        <a ng-if="UploadDokCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-danger" ng-click="UploadDokCtrl.remove(dok)" title="hapus"><i class="fa fa-trash-o"></i></a>-->
                                        <a ng-click="UploadDokCtrl.tambah(1)" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.UPDATE'|translate}}"><i class="fa fa-edit"></i></a>

                                        <!--jika ada perubahan data-->
                                        <!-- a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-primary" ng-click="pengPerCtrl.editCP(obj)" title="{{'UBAH'|translate}}"><i class="fa fa-edit"></i></!--a>
                                        <a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-danger" ng-click="pengPerCtrl.deleteCP(obj)" title="{{'HAPUS'|translate}}"><i class="fa fa-trash-o"></i></a-->
                                    </td>
                                </tr>
								<tr ng-repeat="dok in UploadDokCtrl.document">
									<td ng-if="UploadDokCtrl.isStructureUploaded==true" class="text-center" style="vertical-align: middle;">{{UploadDokCtrl.currentPage > 1 ? (UploadDokCtrl.maxSize * (UploadDokCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td ng-if="UploadDokCtrl.isStructureUploaded==false" class="text-center" style="vertical-align: middle;">{{UploadDokCtrl.currentPage > 1 ? (UploadDokCtrl.maxSize * (UploadDokCtrl.currentPage - 1)) + ($index+1) + 1 : ($index+1) + 1}}</td>
									<td class="text-center" style="vertical-align: middle;">{{dok.DocumentName}}</td>
									<td class="text-center" style="vertical-align: middle;">{{dok.DocumentNo}}</td>
									<td class="text-center" style="vertical-align: middle;">{{dok.ValidDateConverted}}</td>
									<td class="text-center" style="vertical-align: middle;">
										<!--<a ng-if="UploadDokCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-warning" ng-click="UploadDokCtrl.view(dok)" title="Lihat"><i class="fa fa-file-o"></i></a>
										<a ng-if="UploadDokCtrl.IsApprovedCR===true" ng-click="UploadDokCtrl.edit(dok)" class="btn btn-flat btn-sm btn-primary" title="ubah"><i class="fa fa-edit"></i></a>
										<a ng-if="UploadDokCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-danger" ng-click="UploadDokCtrl.remove(dok)" title="hapus"><i class="fa fa-trash-o"></i></a>-->
										<a class="btn btn-flat btn-sm btn-primary" ng-click="UploadDokCtrl.view(dok)" title="{{'BTN.VIEW'|translate}}"><i class="fa fa-eye"></i></a>
										<a ng-click="UploadDokCtrl.edit(dok)" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.UPDATE'|translate}}"><i class="fa fa-edit"></i></a>
										<a class="btn btn-flat btn-sm btn-danger" ng-click="UploadDokCtrl.remove(dok)" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-times-circle"></i></a>

										<!--jika ada perubahan data-->
										<!-- a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-primary" ng-click="pengPerCtrl.editCP(obj)" title="{{'UBAH'|translate}}"><i class="fa fa-edit"></i></!--a>
										<a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-danger" ng-click="pengPerCtrl.deleteCP(obj)" title="{{'HAPUS'|translate}}"><i class="fa fa-trash-o"></i></a-->
									</td>
								</tr>
							</tbody>
						</table>
						<small><b></b> </small>
						

					</div>

				</div>
				<div class="col-md-12" style="margin-top:10px">
					<a class="btn btn-flat btn-xs btn-primary" title="{{'BTN.VIEW'|translate}}"><i class="fa fa-eye"></i></a> : {{'BTN.VIEW'|translate}}&nbsp;&nbsp;
					<a class="btn btn-flat btn-xs btn-warning" title="{{'BTN.UPDATE'|translate}}"><i class="fa fa-edit"></i></a> : {{'BTN.UPDATE'|translate}}&nbsp;&nbsp;
					<a class="btn btn-flat btn-xs btn-danger" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-times-circle"></i></a> : {{'BTN.DELETE'|translate}}&nbsp;&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>
