<div class="container-fluid" ng-init="KuesionerCtrl.initialize('printableArea', 'button', 'divInfo','divInfo1')">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'FORM.HOME' | translate}}</a></li>
        <li><a href="#/suratPernyataan">{{'FORM.AGREEMENT' | translate}}</a></li>
        <li><a class="active">{{'Kuesioner' | translate}}</a></li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <!--
                <div class="col-md-6">
                    <div class="box-vale-gray"><h5>Completed by: <br />Vale Internal</h5></div>
                </div>-->
                <div class="col-md-12">
                    <img class="pull-right" src="assets/img/logo_vale2.png" style="width:120px" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="caecilia-light vale-green-text font-34">Initial Risk Assessment Questionnaire</div>
                </div>
            </div>

            <div class="row margin-atas myriad-regular">
                <div class="col-md-12">Company Name and Location: {{KuesionerCtrl.vendor[1].Vendor.VendorName}} / {{KuesionerCtrl.address}}</div>
            </div>
            <div class="row myriad-regular">
                <div class="col-md-12">Registration Number or Tax ID No: {{KuesionerCtrl.npwp}}</div>
            </div>
            <div class="row myriad-regular">
                <div class="col-md-6">Contact Name: {{KuesionerCtrl.name}}</div>
                <div class="col-md-6">Email: {{KuesionerCtrl.email}}</div>
                <div class="col-md-6">Phone: {{KuesionerCtrl.telp}}</div>
            </div>
            <div class="row myriad-regular">
                <div class="col-md-6">Contract Name: </div>
                <div class="col-md-6">Project Name: </div>
            </div>

            <div class="row margin-atas">
                <div class="col-md-12">
                    <p class="myriad-regular">As part of Vale's Global Anti-Corruption Program, please answer the following questions according to the services, materials and/or equipment that are supplied/may be supplied by the Company to Mubadala Petroleum. This includes all subcontractors, agents or similar that will be used by the Company in connection with such supply.</p>
                </div>
            </div>
            <form class="myriad-regular" name="KuesionerCtrl.questionForm" ng-submit="KuesionerCtrl.save()">
                <div class="row rowQuestion" ng-repeat="pt in KuesionerCtrl.data">
                    <div class="col-md-1" style="width: 10px; display:inline-block!important;">{{$index + 1}}. </div>
                    <div class="col-md-11 col-question">
                        <div class="form-group form-question">
                            <div class="question"><span ng-bind-html="pt.question"></span></div>
                            <div class="row">
                                <div ng-repeat="n in pt.type" class="col-md-3">
                                    <label>
                                        <input ng-disabled="!KuesionerCtrl.isEntry && KuesionerCtrl.IsNeedRevision != true" type="radio" name="pageNumber{{pt.ID}}" ng-model="pt.Value" ng-value="{{n.ID}}" /> {{n.question}}
                                    </label>
                                </div>
                                <div class="col-md-12" ng-if="pt.DetailId === pt.Value">
                                    <label>If {{pt.AnswerName}}, please provide details:</label>
                                    <textarea ng-disabled="!KuesionerCtrl.isEntry && KuesionerCtrl.IsNeedRevision != true" name="description{{pt.ID}}" class="form-control" required ng-model="pt.Description"></textarea>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row hidden-content" id="divInfo">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"DATE_INFO" | translate}}
                    </div>
                </div>
                <div class="row hidden-content" id="divInfo1">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"SIGNATURE" | translate}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 15px;">
            <div class="text-center">
                <a ng-click="KuesionerCtrl.back()" id="button" class="btn btn-flat btn-primary" title="{{'KUESIONER.BACK' | translate}}">
                    <i class="fa fa-arrow-circle-left"></i>
                </a>
                <button ng-if="KuesionerCtrl.isEntry || KuesionerCtrl.IsNeedRevision == true" title="{{'KUESIONER.SIMPAN' | translate}}"  id="button" class="btn btn-flat btn-success" ng-click="KuesionerCtrl.printDiv('printableArea', 'button', 'divInfo','divInfo1')" ng-disabled="KuesionerCtrl.questionForm.$invalid">
                    <i class="fa fa-save"></i>
                </button>
                <a ng-if="KuesionerCtrl.vendorQues.length != 0" title="{{'KUESIONER.DOWNLOAD' | translate}}" ng-click="KuesionerCtrl.downloadQuestionnaire()" id="button" class="btn btn-flat btn-warning">
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="form" ng-hide="true" class="container-fluid">
    <div class="row" style="margin-top:50px;">
        <div class="row" style="width:100%;">
            <div class="pull-right">
                <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-left:85%;padding-top:5px; width:100px; height:40px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Kuesioner-title" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                    {{"KUESIONER.TITLE" | translate}}
                </div>
                <!--<hr style="border-top: 1px dotted darkgreen" />-->
            </div>
        </div>
        <br />
        <div class="row" style="width:1000px;">
            <div class="row vendor-info">
                <div class="col-md-3">{{"VENDOR_INFO" | translate}}</div>
                <div class="col-md-9">: {{KuesionerCtrl.vendor[1].Vendor.VendorName}} / {{KuesionerCtrl.address}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"NOMOR_INFO" | translate}}</div>
                <div class="col-md-9">: {{KuesionerCtrl.npwp}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"CONTACT_INFO" | translate}}</div>
                <div class="col-md-9">: {{KuesionerCtrl.name}} / {{KuesionerCtrl.telp}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"DATE_INFO" | translate}}</div>
                <div class="col-md-9">: {{KuesionerCtrl.tglSekarang | date: "dd-MM-yyyy"}}</div>
            </div>
            <br />
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger text-center">
                    <span class="kuesioner-note">
                        <!--
    <p ng-bind-html="'KUESIONER.NOTE' | translate"></p>-->
                        <p>As part of Mubadala Petroleum's Global Anti-Corruption Program, please answer the following questions according to the services, materials and/or equipment that are supplied/may be supplied by the Company to Mubadala Petroleum. This includes all subcontractors2, agents or similar that will be used by the Company in connection with such supply</p>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <form name="KuesionerCtrl.questionForm">
                <div class="row rowQuestion" ng-repeat="pt in KuesionerCtrl.data">
                    <div class="col-md-1 number" style="width: 10px; display:inline-block!important;">{{$index + 1}}. </div>
                    <div class="col-md-11 col-question">
                        <div class="form-group form-question">
                            <label class="labelnonbold question"><span ng-bind-html="pt.question"></span></label>
                            <div class="row answer">
                                <label ng-repeat="n in pt.type" class="kuesioner-answer"> 
                                    <input class="col-answer" type="radio" ng-checked="n.DetailAnswer" />{{n.question}}
                                </label>
                            </div>
                            <div class="row  desc-print " ng-if="pt.DetailId === pt.Value">
                                <label class="labelnonbold">{{'DETAIL' | translate}}: </label>
                                <label class="labelnonbold Description">{{pt.Description}}</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px dotted darkgreen" />
                <div class="row hidden-content" id="divInfo">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"DATE_INFO" | translate}}
                    </div>
                </div>
                <div class="row hidden-content" id="divInfo1">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"SIGNATURE" | translate}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>