﻿<div ng-init="SuratPernyataanPrequalAssController.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'FORM.HOME' | translate}}</a></li>
        <li><a class="active">{{'FORM.AGREEMENT' | translate}}</a></li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="afta-font text-center">{{'FORM.AGREEMENT' | translate}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 5px; min-width: 5px; vertical-align: middle;">No</th>
                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'Judul' | translate}}</th>
                                    <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1.</td>
                                    <td class="text-center">Business Conduct</td>
                                    <td class="text-center">
                                        <a class="btn btn-flat btn-sm btn-warning" ng-click="SuratPernyataanPrequalAssController.baca()" title="{{'BACA' | translate}}"><i class="fa fa-file-o"></i></a>
                                        <a ng-if="SuratPernyataanPrequalAssController.DocType === 4225" href="{{SuratPernyataanPrequalAssController.folderFile + SuratPernyataanPrequalAssController.DocUrlBConduct}}" target="_blank" class="btn btn-flat btn-sm btn-primary" title="Download">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalAssController.DocType === 4232" href="{{SuratPernyataanPrequalAssController.folderFile + SuratPernyataanPrequalAssController.DocUrlBConduct}}" target="_blank" class="btn btn-flat btn-sm btn-primary" title="Download">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalAssController.isEntry === true || SuratPernyataanPrequalAssController.IsNeedRevision == true" class="btn btn-flat btn-sm btn-danger" ng-click="SuratPernyataanPrequalAssController.upload(SuratPernyataanPrequalAssController.DocType)" title="Upload" >
                                            <i class="fa fa-upload"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalAssController.IsBConductUploaded === true" href="{{SuratPernyataanPrequalAssController.folderFile + SuratPernyataanPrequalAssController.urlBConduct}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="Download Uploaded File">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="SuratPernyataanPrequalAssController.cek === true">
                                    <td class="text-center">2.</td>
                                    <td class="text-center">{{'SuratPernyataan' | translate}}</td>
                                    <td class="text-center">
                                        <a class="btn btn-flat btn-sm btn-warning" ng-click="SuratPernyataanPrequalAssController.baca2()" title="{{'BACA' | translate}}">
                                            <i class="fa fa-file-o"></i>
                                        </a>
                                        <a href="{{SuratPernyataanPrequalAssController.folderFile + SuratPernyataanPrequalAssController.DocUrlAgreement}}" target="_blank" class="btn btn-flat btn-sm btn-primary" title="Download">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalAssController.isEntry === true || SuratPernyataanPrequalAssController.IsNeedRevision == true" class="btn btn-flat btn-sm btn-danger" ng-click="SuratPernyataanPrequalAssController.upload2(4226)" title="Upload">
                                            <i class="fa fa-upload"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalAssController.IsAgreementLetterUploaded === true" href="{{SuratPernyataanPrequalAssController.folderFile + SuratPernyataanPrequalAssController.urlAgreementLetter}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="Download Uploaded File">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" ng-if="SuratPernyataanPrequalAssController.cek === true">3.</td>
                                    <td class="text-center" ng-if="SuratPernyataanPrequalAssController.cek !== true">2.</td>
                                    <td class="text-center">Initial Risk Assessment Questionnaire</td>
                                    <td class="text-center">
                                        <a class="btn btn-flat btn-sm btn-warning" ng-click="SuratPernyataanPrequalAssController.editKuesioner()" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a ng-if="!(SuratPernyataanPrequalAssController.vendorQues.length == 0)" class="btn btn-flat btn-sm btn-primary" title="{{'Download Kuesioner'|translate}}" ng-click="SuratPernyataanPrequalAssController.downloadQuestionnaire()">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalAssController.isEntry === true || SuratPernyataanPrequalAssController.IsNeedRevision == true"  class="btn btn-flat btn-sm btn-danger" ng-click="SuratPernyataanPrequalAssController.uploadKuesioner()" title="Upload">
                                            <i class="fa fa-upload"></i>
                                        </a>
                                        <a href="{{SuratPernyataanPrequalAssController.folderFile + SuratPernyataanPrequalAssController.UrlKuesioner}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="Downloads File Upload" ng-if="SuratPernyataanPrequalAssController.UrlKuesioner !== null">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="SuratPernyataanPrequalAssController.ddquest.MstDDQuestID != 0 && SuratPernyataanPrequalAssController.cek !== true">
                                    <td class="text-center">3.</td>
                                    <td class="text-center">{{SuratPernyataanPrequalAssController.ddquest.MstDDQuestionnaire.DDQuestName}}</td>
                                    <td class="text-center">
                                        <a class="btn btn-flat btn-sm btn-warning" ng-click="SuratPernyataanPrequalAssController.ddkuesioner()" title="Lihat"><i class="fa fa-file-o"></i></a>
                                    </td>
                                </tr>
                                <tr ng-if="SuratPernyataanPrequalAssController.ddquest.MstDDQuestID != 0 && SuratPernyataanPrequalAssController.cek == true">
                                    <td class="text-center">4.</td>
                                    <td class="text-center">{{SuratPernyataanPrequalAssController.ddquest.MstDDQuestionnaire.DDQuestName}}</td>
                                    <td class="text-center">
                                        <a class="btn btn-flat btn-sm btn-warning" ng-click="SuratPernyataanPrequalAssController.ddkuesioner()" title="Lihat"><i class="fa fa-file-o"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 15px;">
                    <div class="text-center">
                        <a ng-click="SuratPernyataanPrequalAssController.back()" id="button" class="btn btn-flat btn-primary">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <a ng-if="SuratPernyataanPrequalAssController.isEntry === true || SuratPernyataanPrequalAssController.IsNeedRevision == true" class="btn btn-success" ng-click="SuratPernyataanPrequalAssController.Submit(true)" title="{{'SETUJU' | translate}}">
                            <i class="fa fa-check"></i>
                        </a>
                        <a ng-if="SuratPernyataanPrequalAssController.isEntry === true || SuratPernyataanPrequalAssController.IsNeedRevision == true" class="btn btn-danger" ng-click="SuratPernyataanPrequalAssController.notvalid()" ng-disabled="SuratPernyataanPrequalAssController.valid==false" title="{{'TIDAK_SETUJU' | translate}}">
                            <i class="fa fa-close"></i>
                        </a>
                    </div>
                    <div class="center-block text-center" ng-if="SuratPernyataanPrequalAssController.valid==false">
                        <div class="row margin-atas">
                            <div class="col-md-6 col-md-offset-3">
                                <label>{{'Alasan'|translate}}</label>
                                <textarea class="form-control" ng-model="SuratPernyataanPrequalAssController.remark" placeholder="{{'Alasan'|translate}}"></textarea>
                                <a class="btn btn-success" ng-click="SuratPernyataanPrequalAssController.Submit(false)">
                                    <i class="fa fa-save" title="{{'SAVE'|translate}}"></i>
                                </a>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

    <div id="form" ng-hide="true" class="container-fluid">
        <div class="row" style="margin-top:50px;">
            <div class="row" style="width:100%;">
                <div class="pull-right">
                    <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-left:85%;padding-top:5px; width:100px; height:40px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="Kuesioner-title" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                        {{"KUESIONER.TITLE" | translate}}
                    </div>
                    <!--<hr style="border-top: 1px dotted darkgreen" />-->
                </div>
            </div>
            <br />
            <div class="row" style="width:1000px;">
                <div class="row vendor-info">
                    <div class="col-md-3">{{"VENDOR_INFO" | translate}}</div>
                    <div class="col-md-9">: {{SuratPernyataanPrequalAssController.VendorName}} / {{SuratPernyataanPrequalAssController.address}}</div>
                </div>
                <div class="row vendor-info">
                    <div class="col-md-3">{{"NOMOR_INFO" | translate}}</div>
                    <div class="col-md-9">: {{SuratPernyataanPrequalAssController.npwp}}</div>
                </div>
                <div class="row vendor-info">
                    <div class="col-md-3">{{"CONTACT_INFO" | translate}}</div>
                    <div class="col-md-9">: {{SuratPernyataanPrequalAssController.name}} / {{SuratPernyataanPrequalAssController.telp}}</div>
                </div>
                <div class="row vendor-info">
                    <div class="col-md-3">{{"DATE_INFO" | translate}}</div>
                    <div class="col-md-9">: {{SuratPernyataanPrequalAssController.tglSekarang | date: "dd-MM-yyyy"}}</div>
                </div>
                <br />
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger text-center">
                        <span class="kuesioner-note">
                            <p ng-bind-html="'KUESIONER.NOTE' | translate"></p>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <form name="SuratPernyataanPrequalAssController.questionForm">
                    <div class="row rowQuestion" ng-repeat="pt in SuratPernyataanPrequalAssController.data">
                        <div class="col-md-1 number" style="width: 10px; display:inline-block!important;">{{$index + 1}}. </div>
                        <div class="col-md-11 col-question">
                            <div class="form-group form-question">
                                <label class="labelnonbold question"><span ng-bind-html="pt.question"></span></label>
                                <div class="row answer">
                                    <label ng-repeat="n in pt.type" class="kuesioner-answer">
                                        <input class="col-answer" type="radio" ng-checked="n.DetailAnswer" />{{n.question}}
                                    </label>
                                </div>
                                <div class="row  desc-print " ng-if="pt.DetailId === pt.Value">
                                    <label class="labelnonbold">{{'DETAIL' | translate}}: </label>
                                    <label class="labelnonbold Description">{{pt.Description}}</label>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                    <hr style="border-top: 1px dotted darkgreen" />
                    <div class="row hidden-content" id="divInfo">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            {{"DATE_INFO" | translate}}
                        </div>
                    </div>
                    <div class="row hidden-content" id="divInfo1">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            {{"SIGNATURE" | translate}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
