﻿<div class="modal-content" ng-init="detailAppCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailAppCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'KELUAR'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row" ng-if="detailAppCtrl.flag !== 3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.CATATAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detailAppCtrl.remark" />
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="detailAppCtrl.flag === 2 || detailAppCtrl.flag === 3 || detailAppCtrl.flag === 4 || detailAppCtrl.flag === 5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2">{{'UPLOAD_FILE'|translate}} {{detailAppCtrl.flag === 3 ? '*' : ''}} : </label>
                                    <div class="col-md-5">
                                        <input type="file" class="form-control" ng-file-select="detailAppCtrl.selectUpload(fileUpload)"
                                               ng-model="fileUpload" required accept="{{detailAppCtrl.idFileTypes}}" value="" />
                                        <small> ( <span ng-repeat="ft in detailAppCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{detailAppCtrl.idUploadConfigs[0].Size}} {{detailAppCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                                        {{detailAppCtrl.DocUrl ? '**' : ''}}
                                        <label ng-if="detailAppCtrl.DocUrl" class="control-label">
                                            <small>** {{'EDIT_FILE_NOTE' | translate}}</small>
                                        </label>
                                    </div>
                                    <a target="_BLANK" ng-if="detailAppCtrl.DocUrl" href="{{detailAppCtrl.endpointAttachment + detailAppCtrl.DocUrl}}" download><i class="fa fa-download"></i>{{'DOWNLOAD'|translate}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="detailAppCtrl.flag === 1 && detailAppCtrl.IsFromComplaint">
                            <div class="col-md-12 text-left">
                                <div class="form-group">
                                    <input type="checkbox" ng-model="detailAppCtrl.isOnAnotherWL"/>
                                    &nbsp;{{'MESSAGE.NOTIF'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-info" ng-click="detailAppCtrl.goToProcess()"> {{'PROCEED' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-6">
            <div class="pull-right">
                <button class="btn btn-flat btn-primary" title="{{'BATAL'|translate}}" ng-click="detailAppCtrl.cancel()"><i class="fa fa-reply"></i></button>
            </div>
        </div>
    </div>
</div>