﻿<div id="idTambahWarningLetter" class="modal-content" ng-init="frmWarningLetterCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="frmWarningLetterCtrl.batal()" title="{{'KELUAR'|translate}}">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{frmWarningLetterCtrl.action |translate}} {{'COMPLAINTDATA' | translate}} </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'TABLE.CREATEDDATE' | translate}}*</label>
                    <div class="col-md-8">
                        <div class="input-group date form_datetime">                            
                            <input style="background-color:white;" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="frmWarningLetterCtrl.isCalendarOpened[0]" ng-model="frmWarningLetterCtrl.warningLetter.RequestedDate" ng-click="frmWarningLetterCtrl.openCalendar(0)" datepicker-options="frmWarningLetterCtrl.dateOptions" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="frmWarningLetterCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'TABLE.REPORTER_NAME' | translate}}*</label>
                    <div class="col-md-8">
                        <input type="text" ng-model="frmWarningLetterCtrl.ReporterName" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'TABLE.REPORTER_DEPARTEMENT' | translate}}*</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" ng-model="frmWarningLetterCtrl.selectedDepartment" ng-change="frmWarningLetterCtrl.selectedDepartmentOpt()"
                                ng-disabled="true" ng-options="item as item.DepartmentName for item  in frmWarningLetterCtrl.listDepartment"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'TABLE.VENDORNAME' | translate}}*</label>
                    <div class="col-md-8">    
                        <!--<select class="form-control input-sm" ng-model="frmWarningLetterCtrl.selectedVendorName" ng-change="frmWarningLetterCtrl.selectedVendorOpt()"
                                ng-options="item as item.VendorName for item  in frmWarningLetterCtrl.listVendorName"></select>-->                    
                        <!--<input type="text"  ng-model="frmWarningLetterCtrl.ngModelOptionsSelected" ng-model-options="frmWarningLetterCtrl.modelOptions" uib-typeahead="cc as cc.VendorName for cc in frmWarningLetterCtrl.listVendorName | filter:$viewValue | limitTo: 8" class="form-control input-sm">-->
                        <div class="input-group">
                            <input type="text" style="background-color:white" ng-readonly="true" ng-model="frmWarningLetterCtrl.selectedVendorName.VendorName" ng-click="frmWarningLetterCtrl.selectVendor()" class="form-control input-sm" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-sm" ng-click="frmWarningLetterCtrl.selectVendor()"><i class="glyphicon glyphicon-pencil"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'TABLE.WARNING' | translate}}*</label>
                    <div class="col-md-8">
                        <select class="form-control input-sm" ng-model="frmWarningLetterCtrl.selectedComplain" ng-change="frmWarningLetterCtrl.selected()"
                                ng-options="item as item.TypeName | translate for item  in frmWarningLetterCtrl.listComplain"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'TABLE.CONTRACT_PO_NUMBER' | translate}}</label>
                    <div class="col-md-8">
                        <!--<select class="form-control input-sm" ng-show="frmWarningLetterCtrl.listContractJasa.length > 0" ng-model="frmWarningLetterCtrl.selectedContJasa" ng-change="frmWarningLetterCtrl.selectedContractOpt()"
                                 ng-options="item as item.ContractNo | translate for item in frmWarningLetterCtrl.listContractJasa"></select>-->                       
                        <!--<select class="form-control input-sm" ng-show="frmWarningLetterCtrl.listContractBarang.length > 0" ng-model="frmWarningLetterCtrl.selectedContBarang" ng-change="frmWarningLetterCtrl.selectedContractOpt()"
                                ng-options="item as item.PONumber | translate for item in frmWarningLetterCtrl.listContractBarang"></select>-->
                        <!--<select class="form-control input-sm" ng-show="frmWarningLetterCtrl.listContractVHS.length > 0" ng-model="frmWarningLetterCtrl.selectedContVHS" ng-change="frmWarningLetterCtrl.selectedContractOpt()"
                                ng-options="item as item.SAPContractNo | translate for item in frmWarningLetterCtrl.listContractVHS"></select>-->
                        <select class="form-control input-sm" ng-show="frmWarningLetterCtrl.listContract.length > 0" ng-model="frmWarningLetterCtrl.selectedCont" ng-change="frmWarningLetterCtrl.selectedContractOpt()"
                                ng-options="item as item.ContractNo | translate for item in frmWarningLetterCtrl.listContract"></select>
                        <label ng-show="frmWarningLetterCtrl.listContract.length === 0" class="control-label col-md-8">{{'NO_CONTRACT' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2">{{'TABLE.UPLOAD_FILE'|translate}}*</label>
                    <div class="col-md-5">
                        <input type="file" class="form-control" ng-file-select="frmWarningLetterCtrl.selectUpload(fileUpload)"
                               ng-model="fileUpload" required accept="{{frmWarningLetterCtrl.idFileTypes}}" value=""/>                        
                        <small> ( <span ng-repeat="ft in frmWarningLetterCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{frmWarningLetterCtrl.idUploadConfigs[0].Size}} {{frmWarningLetterCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                        {{frmWarningLetterCtrl.DocUrl ? '**' : ''}}
                        <label ng-if="frmWarningLetterCtrl.DocUrl" class="control-label">
                            <small>** {{'EDIT_FILE_NOTE' | translate}}</small>
                        </label>
                    </div>                        
                    <a target="_BLANK" ng-if="frmWarningLetterCtrl.DocUrl" href="{{frmWarningLetterCtrl.endpointAttachment + frmWarningLetterCtrl.DocUrl}}" download><i class="fa fa-download"></i>{{'DOWNLOAD'|translate}}</a>                              
                </div>
            </div>
        </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{'TABLE.COMPLAINT_DESC' | translate}}*</label>
                            <div class="col-md-12">
                                <textarea class="form-control input-sm" rows="10" data-ng-model="frmWarningLetterCtrl.Description"></textarea>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    <div class="modal-footer">
        <button type="button" ng-click="frmWarningLetterCtrl.batal()" class="btn btn-flat btn-danger" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp; {{'BATAL'|translate}}</button>
        <button type="button" ng-click="frmWarningLetterCtrl.simpan()"class="btn btn-flat btn-success" title="{{'SAVE'|translate}}"><i class="fa fa-save"></i>&nbsp; {{'SAVE'|translate}}</button>
    </div>
</div>
