﻿<div class="modal-content" ng-init="listRemarkCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="listRemarkCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="afta-font">{{'TABLE.KETERANGAN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label>{{'TABLE.NO_KONTRAKPO'|translate}} : {{listRemarkCtrl.DetailKontrak}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" width="10">{{'TABLE.NO' | translate}}</th>
                                    <th class="text-center" width="20">{{'TABLE.NAME' | translate}}</th>
                                    <th class="text-center" width="20">{{'TABLE.TANGGAL' | translate}}</th>
                                    <th class="text-center" width="20">{{'TABLE.STATUS' | translate}}</th>
                                    <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                    <th class="text-center" width="20">{{'TABLE.LAMPIRAN' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dt in listRemarkCtrl.list">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-center">
                                        <span ng-if="dt.EmployeeName">{{dt.EmployeeName}}</span>
                                        <span ng-if="dt.VendorName">{{dt.VendorName}}</span>
                                    </td>
                                    <td class="text-center">{{dt.Date | date: "dd/MM/yyyy"}}</td>
                                    <td class="text-center">{{dt.RemarkTypeName | translate}}</td>
                                    <td>{{dt.Remark}}</td>
                                    <td class="text-center">
                                        <a class="btn btn-xs btn-flat btn-info" target="_BLANK" ng-if="dt.DocUrl" href="{{listRemarkCtrl.endpointAttachment + dt.DocUrl}}" download><i class="fa fa-download"></i>&nbsp;{{'DOWNLOAD_DOC'|translate}}</a>
                                    </td>                                   
                                </tr>
                                <tr ng-if="listRemarkCtrl.list.length === 0">
                                    <td colspan="6">{{'NO_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>     
    </div>    
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-flat btn-primary" title="{{'BATAL'|translate}}" ng-click="listRemarkCtrl.cancel()"><i class="fa fa-reply"></i></button>
            </div>
        </div>
    </div>
</div>