<section class="content" ng-init="RekapitulasiIjinUsahaCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.REKAP_PERMIT' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{'REKAP_TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-workload">
                                    <thead>
                                        <tr>
                                            <th class="text-left" style="width:20px;vertical-align:middle;" rowspan="2" >No.</th>
                                            <th class="text-left" style="width:200px;vertical-align:middle;" rowspan="2">{{'TABLE.VENDOR_NAME' | translate}}</th>
                                            <th class="text-center" colspan="4" style="vertical-align: middle;">{{'TABLE.EXPIRED_LICENSE' | translate}}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="width:250px;vertical-align:middle;">{{'TABLE.LICENSE_DATA.LICENSE_NAME' | translate}}</th>
                                            <th class="text-left" style="width:300px;vertical-align:middle;">{{'TABLE.LICENSE_DATA.LICENSE_NO' | translate}}</th>
                                            <th class="text-left" style="width:150px;vertical-align:middle;">{{'TABLE.LICENSE_DATA.EXPIRED_DATE' | translate}}</th>
                                            <th class="text-left" style="width:150px;vertical-align:middle;">{{'TABLE.LICENSE_DATA.DURATION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in RekapitulasiIjinUsahaCtrl.data">
                                            <td style="vertical-align: middle;" class="text-left">{{RekapitulasiIjinUsahaCtrl.currentPage > 1 ? (RekapitulasiIjinUsahaCtrl.maxSize * (RekapitulasiIjinUsahaCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{d.VendorName}}</td>

                                            <td>
                                                <table>
                                                    <tr ng-repeat="vl in d.VendorLicense">
                                                        <td>{{$index+1}}. {{vl.LicenseName}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr ng-repeat="vl in d.VendorLicense">
                                                        <td>{{$index+1}}. {{vl.LicenseNo}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr ng-repeat="vl in d.VendorLicense">
                                                        <td>{{$index+1}}. {{vl.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr ng-repeat="vl in d.VendorLicense">
                                                        <td ng-if="vl.CountDays<0">{{$index+1}}. {{'TABLE.STATUS_EXPIRED' | translate}}</td>
                                                        <td ng-if="vl.CountDays==0">{{$index+1}}. {{'TABLE.STATUS_DAY' | translate}}</td>
                                                        <td ng-if="vl.CountDays<=90 && vl.CountDays>0">{{$index+1}}. {{vl.CountDays}} {{'TABLE.STATUS_DAYS' | translate}}</td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination boundary-links="true" total-items="RekapitulasiIjinUsahaCtrl.totalItems" ng-model="RekapitulasiIjinUsahaCtrl.currentPage"
                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                    ng-change="RekapitulasiIjinUsahaCtrl.dataRekap(RekapitulasiIjinUsahaCtrl.currentPage)"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>{{'TABLE.TOTAL_DATA' | translate}} : {{RekapitulasiIjinUsahaCtrl.totalItems}}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>