﻿<div class="modal-content" ng-init="cprDocsModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cprDocsModalCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel"> {{'CPR_DOCS' | translate}}</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5 center-block" style="float: none!important;">
                    <div class="form-group">
                        <label>{{'NAMA_DOC' | translate}}</label>
                        <input type="text" ng-model="cprDocsModalCtrl.doc.DocName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 center-block" style="float: none!important;">
                    <div class="form-group">
                        <label class="control-label">
                            {{'FILE_DOC' | translate}}
                            <small> ( <span ng-repeat="ft in cprDocsModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{cprDocsModalCtrl.idUploadConfigs[0].Size}} {{cprDocsModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                            {{cprDocsModalCtrl.doc.DocUrl ? '**' : ''}}
                        </label>
                        <input type="file" class="form-control" ng-file-select="cprDocsModalCtrl.selectUpload(fileUpload)"
                               ng-model="fileUpload" required accept="{{cprDocsModalCtrl.idFileTypes}}" />
                        <label ng-if="cprDocsModalCtrl.doc.DocUrl" class="control-label">
                            <small>** {{'EDIT_FILE_NOTE' | translate}}</small>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cprDocsModalCtrl.cancel()" title="{{ 'BATAL_DOC' | translate}}"><i class="fa fa-reply"></i> </button>
            <button type="button" class="btn btn-primary" ng-click="cprDocsModalCtrl.save()" title="{{ 'SIMPAN_DOC' | translate}}"><i class="fa fa-save"></i> </button>
        </div>
    </form>
</div>