﻿<div id="modalUtama" class="modal-content" ng-init="cprListModal.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cprListModal.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'Contractor Performance Review'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <h4 class="afta-font vale-green-text" style="margin-top: 25px; margin-bottom: 5px;">{{'Contractor Performance Review'|translate}}</h4>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <div class="img-logo-vale-small">
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-atas">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td class="text-left vale-green" width="30%">Assessment Date :</td>
                                <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.CPRDate | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Contract :</td>
                                <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.ContractNo}} - {{cprListModal.vpdata.TanderName}}</td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Contract Date :</td>
                                <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.ContractStartDate | date: 'dd/MM/yyyy'}} - {{cprListModal.vpdata.ContractEndDate | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Contractor :</td>
                                <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.VendorName}}, {{cprListModal.vpdata.businessName}}</td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Department Holder :</td>
                                <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.Department}}</td>

                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Sponsor/Project Manager :</td>
                                <td class="text-left" width="50%">{{cprListModal.vpdata.Sponsor}}/{{cprListModal.vpdata.ProjectManagerId}} - {{cprListModal.vpdata.ProjManager}}</td>
                                <td class="text-left" width="20%" rowspan="2" style="vertical-align:middle;"><h4>Score: {{cprListModal.vpdata.Score}} %</h4></td>
                            </tr>
                            <tr>
                                <td class="text-left vale-green" width="30%">Contract Engineer :</td>
                                <td class="text-left" width="50%">{{cprListModal.vpdata.ContractEngineerId}} - {{cprListModal.vpdata.ContractEngineer}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <table id="example1" class="table">
                    <thead class="vale-green">
                        <tr>
                            <th width="50%">{{'KPI_DESCRIPTION' | translate}}</th>
                            <th width="20">{{'SCORE' | translate}}</th>
                            <th width="30%">{{'REMARKS' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="kri in cprListModal.kriteria">
                            <td style="padding:0px">
                                <div style="min-height:50px; vertical-align:middle !important; padding-left:10px; padding-top:10px"><b>{{kri.CriteriaName}}</b></div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:30px; padding-left:20px; padding-top:5px">
                                                    <b>{{level2.CriteriaName}}</b>
                                                </div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px;">
                                                                <div style="height:30px; padding-left:30px; padding-top:5px">{{level3.CriteriaName}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding:0px">
                                <div style="height:50px; vertical-align:middle; padding-left:30px; padding-top:8px"><span ng-show="kri.sub.length === 0">{{kri.Score}}</span></div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:30px; padding-left:30px; padding-top:3px">
                                                    <span ng-show="level2.sub.length === 0">
                                                        {{level2.Score}}
                                                    </span>
                                                </div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px;">
                                                                <div style="height:30px; padding-left:30px; padding-top:3px">{{level3.Score}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding:0px">
                                <div style="height:50px; vertical-align:middle; padding-left:30px; padding-top:8px"><span ng-show="kri.sub.length === 0">{{kri.Remark}}</span></div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:30px; padding-left:30px; padding-top:3px">
                                                    <span ng-show="level2.sub.length === 0">
                                                        {{level2.Remark}}
                                                    </span>
                                                </div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px;">
                                                                <div style="height:30px; padding-left:30px; padding-top:3px">{{level3.Remark}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{'FORM.NOTE'|translate}}</label>
                    <textarea class="form-control input-sm" disabled ng-model="cprListModal.vpdata.Note"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        {{'FORM.DOC'|translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="50" class="center-vertical">{{'TABLE.COL_NO' | translate}}</th>
                                    <th class="center-vertical">{{'TABLE.NAMA_DOC' | translate}}</th>
                                    <th width="100" class="center-vertical"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sd in cprListModal.docs">
                                    <td class="center-vertical">{{$index + 1}}</td>
                                    <td>{{sd.DocName}}</td>
                                    <td class="center-vertical">
                                        <a href="{{cprListModal.folderFile + sd.DocUrl}}" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-download"></i> Download</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tr ng-if="!cprListModal.docs || cprListModal.docs.length <= 0">
                                <td colspan="5" cellpadding="0">
                                    <div class="alert alert-info text-center">
                                        <span>{{'NO_DATA' | translate}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="cprListModal.cancel()" title="{{'BTN.BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button ng-show="cprListModal.flagRole == 1 || cprListModal.flagRole == 4 || cprListModal.flagRole == 5" ng-click="cprListModal.printForm('formEEC')" type="button" class="btn btn-flat btn-success" title="Download"><i class="fa fa-download"></i>&nbsp;</button>
    </div>
</div>
<div id="formCPR" class="CPR-container" ng-hide="true" style="background-color:white;">
    <div class="row" style="width:100%;">
        <div class="col-md-6">
            <h4 class="afta-font vale-green-text" style="margin-top: 25px; margin-bottom: 5px;">{{'Contractor Performance Review'|translate}}</h4>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-top:10px;padding-left:650px;padding-bottom: 20px;display:block;text-align:right;" width="100px" height="40px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="CPR-content">
                <div class="CPR-contentOutside">
                    <div class="row">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td class="text-left vale-green" width="30%">Assessment Date :</td>
                                    <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.CPRDate | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left vale-green" width="30%">Contract :</td>
                                    <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.ContractNo}} - {{cprListModal.vpdata.TanderName}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left vale-green" width="30%">Contract Date :</td>
                                    <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.ContractStartDate | date: 'dd/MM/yyyy'}} - {{cprListModal.vpdata.ContractEndDate | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left vale-green" width="30%">Contractor :</td>
                                    <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.VendorName}}, {{cprListModal.vpdata.businessName}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left vale-green" width="30%">Department Holder :</td>
                                    <td class="text-left" colspan="2" width="50%">{{cprListModal.vpdata.Department}}</td>

                                </tr>
                                <tr>
                                    <td class="text-left vale-green" width="30%">Sponsor/Project Manager :</td>
                                    <td class="text-left" width="50%">{{cprListModal.vpdata.Sponsor}}/{{cprListModal.vpdata.ProjectManagerId}} - {{cprListModal.vpdata.ProjManager}}</td>
                                    <td class="text-left" width="20%" rowspan="2" style="vertical-align:middle;"><h4>Score: {{cprListModal.vpdata.Score}} %</h4></td>
                                </tr>
                                <tr>
                                    <td class="text-left vale-green" width="30%">Contract Engineer :</td>
                                    <td class="text-left" width="50%">{{cprListModal.vpdata.ContractEngineerId}} - {{cprListModal.vpdata.ContractEngineer}}</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="CPR-contentOutside">
                    <table id="example1" class="table">
                        <thead class="vale-green">
                            <tr>
                                <th width="50%">{{'KPI_DESCRIPTION' | translate}}</th>
                                <th width="20">{{'SCORE' | translate}}</th>
                                <th width="30%">{{'REMARKS' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="kri in cprListModal.kriteria">
                                <td style="padding:0px">
                                    <div style="min-height:50px; vertical-align:middle !important; padding-left:10px; padding-top:10px"><b>{{kri.CriteriaName}}</b></div>
                                    <table class="table">
                                        <tbody>
                                            <tr ng-repeat="level2 in kri.sub">
                                                <td style="padding:0px">
                                                    <div style="height:30px; padding-left:20px; padding-top:5px">
                                                        <b>{{level2.CriteriaName}}</b>
                                                    </div>
                                                    <table class="table">
                                                        <tbody>
                                                            <tr ng-repeat="level3 in level2.sub">
                                                                <td style="padding:0px;">
                                                                    <div style="height:30px; padding-left:30px; padding-top:5px">{{level3.CriteriaName}}</div>
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                </td>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding:0px">
                                    <div style="height:50px; vertical-align:middle; padding-left:30px; padding-top:8px"><span ng-show="kri.sub.length === 0">{{kri.Score}}</span></div>
                                    <table class="table">
                                        <tbody>
                                            <tr ng-repeat="level2 in kri.sub">
                                                <td style="padding:0px">
                                                    <div style="height:30px; padding-left:30px; padding-top:3px">
                                                        <span ng-show="level2.sub.length === 0">
                                                            {{level2.Score}}
                                                        </span>
                                                    </div>
                                                    <table class="table">
                                                        <tbody>
                                                            <tr ng-repeat="level3 in level2.sub">
                                                                <td style="padding:0px;">
                                                                    <div style="height:30px; padding-left:30px; padding-top:3px">{{level3.Score}}</div>
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                </td>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="padding:0px">
                                    <div style="height:50px; vertical-align:middle; padding-left:30px; padding-top:8px"><span ng-show="kri.sub.length === 0">{{kri.Remark}}</span></div>
                                    <table class="table">
                                        <tbody>
                                            <tr ng-repeat="level2 in kri.sub">
                                                <td style="padding:0px">
                                                    <div style="height:30px; padding-left:30px; padding-top:3px">
                                                        <span ng-show="level2.sub.length === 0">
                                                            {{level2.Remark}}
                                                        </span>
                                                    </div>
                                                    <table class="table">
                                                        <tbody>
                                                            <tr ng-repeat="level3 in level2.sub">
                                                                <td style="padding:0px;">
                                                                    <div style="height:30px; padding-left:30px; padding-top:3px">{{level3.Remark}}</div>
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                </td>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="CPR-contentOutside">
                    {{'FORM.NOTE'|translate}} :
                </div>
                <div class="CPR-contentOutside">
                    <div style="border:1px solid  #000000; padding:3px">
                        <span ng-if="cprListModal.vpdata.Note !== null">{{cprListModal.vpdata.Note}}</span>
                        <span ng-if="cprListModal.vpdata.Note === null">-- {{'FORM.NO_NOTE'|translate}} --</span>
                    </div>
                </div>
                <div class="formEEC-contentOutside">
                    <table>
                        <tr>
                            <th>Prepared By</th>
                            <th>Reviewed By</th>
                            <th>Accepted By</th>
                        </tr>
                        <tr>
                            <td align="center">
                                <h4><b>APPROVED</b></h4>
                                <p>By {{cprListModal.vpdata.ProjManager}}</p>
                            </td>
                            <td><br /><br /><br /></td>
                            <td><br /><br /><br /></td>
                        </tr>
                        <tr>
                            <td style="width:33%; text-align:center">{{cprListModal.vpdata.ProjectManagerId}}-{{cprListModal.vpdata.ProjManager}}</td>
                            <td style="width:33%; text-align:center">{{cprListModal.vpdata.ContractEngineerId}}-{{cprListModal.vpdata.ContractEngineer}}</td>
                            <td style="width:33%; text-align:center">{{cprListModal.vpdata.VendorName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



