<section class="content" ng-init="CPRFCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i>{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/" class="active">{{'DATA_REKANAN'|translate}}</a></li>
        <li><a href="#/data-rekanan/cpr" class="active">{{'BREADCRUMB.CPR'|translate}}</a></li>
        <li><a href="#/" class="active">{{'ADD_DATA'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body ">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'Contract Performance Review' | translate}}</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'EVAL_METHOD_CPR' | translate}}</label>
                                <div class="col-md-7">
                                    <select ng-disabled="CPRFCtrl.isNoCPR" class="form-control input-sm" ng-model="CPRFCtrl.evalMethod" ng-change="CPRFCtrl.onMetodeEvalChange()" ng-options="item as item.VPEvaluationMethodName | translate for item in CPRFCtrl.metode">
                                        <option value="" selected disabled class="text-center">--{{'EVAL_METHOD_CPR' | translate}}--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="CPRFCtrl.act === 0">
                            <div class="form-group">
                                <label>
                                    <input ng-model="CPRFCtrl.isNoCPR" type="checkbox" />
                                    &nbsp;{{'TANPA_CPR' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!--div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> <input type="checkbox" ng-model="CPRFCtrl.plan" /> {{'PLAN' | translate}}</label>
                            </div>
                        </div>
                    </div-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'DATE' | translate}}</label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input readonly required style="background-color:white;" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'BTN.TUTUP'|translate}}" is-open="CPRFCtrl.isCalendarOpened[0]" ng-model="CPRFCtrl.CPRDate" ng-click="CPRFCtrl.openCalendar(0)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="CPRFCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'NOMOR' | translate}}</label>
                                <!--<div class="col-md-7">
                                    <input type="text" class="form-control input-sm" ng-model="CPRFCtrl.noKontrak" ng-change="CPRFCtrl.NoContractChange()"/>
                                </div>-->
                                <div class="col-md-7"> <!--auto complete search--> 
                                    <!--<select class="form-control input-sm" ng-model="CPRFCtrl.noKontrak" ng-options="item as item.ContractNo | translate for item in CPRFCtrl.contract" ng-change="CPRFCtrl.NoContractChange()">
                                        <option value="" selected disabled class="text-center">--{{"NO_KONTRAK" | translate}}--</option>
                                    </select>-->
                                    <input type="text" ng-model="CPRFCtrl.ngModelOptionsSelected" ng-disabled="CPRFCtrl.act === 1" ng-model-options="CPRFCtrl.modelOptions"  uib-typeahead="cc as cc.ContractNo for cc in CPRFCtrl.contract | filter:$viewValue" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'VENDOR' | translate}}</label>
                                <!--<div class="col-md-7">
                                    <select class="form-control input-sm" ng-model="CPRFCtrl.vendor" ng-options="item as item.VendorName | translate for item in CPRFCtrl.contract">
                                        <option value="" selected disabled class="text-center">--{{"NAMA_VENDOR" | translate}}--</option>
                                    </select>
                                </div>-->
                                <div class="col-md-7">
                                    <input readonly type="text" class="form-control input-sm" ng-model="CPRFCtrl.vendor" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'DEPT_OWN' | translate}}</label>
                                <div class="col-md-7">
                                    <!--<select class="form-control input-sm" ng-model="CPRFCtrl.deptOwner">
                                        <option></option>
                                    </select>-->
                                    <input readonly type="text" class="form-control input-sm" ng-model="CPRFCtrl.deptOwner" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'SPONSOR' | translate}}</label>
                                <div class="col-md-7">
                                    <input readonly type="text" class="form-control input" ng-model="CPRFCtrl.sponsor" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'PROJ_MAN' | translate}}</label>
                                <div class="col-md-7">
                                    <input readonly type="text" class="form-control input-sm" ng-model="CPRFCtrl.proManager" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'CONTRACT' | translate}}</label>
                                <div class="col-md-7">
                                    <!--
                                    <select class="form-control input-sm" ng-model="CPRFCtrl.conEngineer">
                                        <option></option>
                                    </select>
                                    -->
                                    <input readonly type="text" class="form-control input-sm" ng-model="CPRFCtrl.conEngineer" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <!---->
                    <div ng-if="!CPRFCtrl.isNoCPR" class="row">
                        <div class="col-md-12 pull-right">
                            <button type="button" ng-disabled="!CPRFCtrl.contractSOId" class="btn btn-flat btn-primary pull-right" ng-click="CPRFCtrl.copyPrevCPRDet()" title="{{'COPY_PREV_CPR'|translate}}">
                                <i class="fa fa-copy"></i> {{'COPY_PREV_CPR'|translate}}
                            </button>
                        </div>
                        <div class="col-md-12" ng-if="CPRFCtrl.viewCPR == true">
                            <table id="example1" class="table">
                                <thead style="background-color: #BBB;">
                                    <tr>
                                        <th>{{'KPI_DESCRIPTION' | translate}}</th>
                                        <th width="250">{{'SCORE' | translate}}</th>
                                        <th width="250">{{'REMARKS' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="kri in CPRFCtrl.kriteria">
                                        <td style="padding:0px"> <!--kolom item nama/deskripsi kriteria-->
                                            <div style="height:30px; padding-left:10px; padding-top:5px"><b>{{kri.CriteriaName}}</b></div>
                                            <table class="table">
                                                <tbody>
                                                    <tr ng-repeat="level2 in kri.sub">
                                                        <td style="padding:0px">
                                                            <div style="height:30px; padding-top:5px">
                                                                <div class="col-md-6"><b>{{level2.CriteriaName}}</b></div>
                                                                <div class="col-md-6"><!--<label>{{'CHOOSE'|translate}}: </label>--></div> 
                                                            </div>
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr ng-repeat="level3 in level2.sub">
                                                                        <td style="padding:0px;">
                                                                            <div style="height:30px; padding-left:30px; padding-top:5px">{{level3.CriteriaName}}</div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                </tbody>
                                            </table>
                                        <td style="padding:0px"> <!--kolom pemberian skor berdasarkan bobot/weight tiap kriteria-->
                                            <div style="height:30px; padding-left:10px; padding-top:3px">
                                                <span ng-show="kri.sub.length === 0">                                                                   
                                                    <!--<select ng-if="kri.Weight == 1" ng-model="kri.Score" ng-options="x for x in CPRFCtrl.weight1"></select>-->     
                                                    <!--<select ng-if="kri.Weight == 2" ng-model="kri.Score" ng-options="x for x in CPRFCtrl.weight2"></select>-->     
                                                    <!--<select ng-if="kri.Weight == 3" ng-model="kri.Score" ng-options="x for x in CPRFCtrl.weight3"></select>-->                           
                                                </span>
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                    <tr ng-repeat="level2 in kri.sub">
                                                        <td style="padding:0px">                                                   
                                                            <div style="height:30px; padding-left:10px; padding-top:3px">
                                                                <span ng-show="level2.sub.length === 0">             
                                                                    <!--<select ng-if="level2.Weight==1" ng-model="level2.Score" ng-options="x.MaxScore as (x.DetailScore + ' (' + (level2.IsOptionScoreFixed || level2.isOptionScoreFixed ? '' : (x.MinScore + ' - ')) + x.MaxScore + ')') for x in level2.Standards"></select>-->                                                             
                                                                    <!--<select ng-if="level2.Weight==2" ng-model="level2.Score" ng-options="x.MaxScore as (x.DetailScore + ' (' + (level2.IsOptionScoreFixed || level2.isOptionScoreFixed ? '' : (x.MinScore + ' - ')) + x.MaxScore + ')') for x in level2.Standards"></select>-->  
                                                                    <!--<select ng-if="level2.Weight==3" ng-model="level2.Score" ng-options="x.MaxScore as (x.DetailScore + ' (' + (level2.IsOptionScoreFixed || level2.isOptionScoreFixed ? '' : (x.MinScore + ' - ')) + x.MaxScore + ')') for x in level2.Standards"></select>-->  
                                                                    <!--<select ng-model="level2.Score" ng-options="x.MaxScore as (x.DetailScore + ' (' + (level2.IsOptionScoreFixed || level2.isOptionScoreFixed ? '' : (x.MinScore + ' - ')) + x.MaxScore + ')') for x in level2.Standards"></select>-->
                                                                </span>
                                                            </div>
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr ng-repeat="level3 in level2.sub">
                                                                        <td style="padding:0px">                                                                
                                                                            <div style="height:30px; padding-left:10px; padding-top:3px">
                                                                                <!--<select ng-if="level3.Weight==1" ng-model="level3.Score" ng-options="x.MaxScore as (x.DetailScore + ' (' + (level2.IsOptionScoreFixed || level2.isOptionScoreFixed ? '' : (x.MinScore + ' - ')) + x.MaxScore + ')') for x in level2.Standards"></select>-->  
                                                                                <!--<select ng-if="level3.Weight==2" ng-model="level3.Score" ng-options="x.MaxScore as (x.DetailScore + ' (' + (level2.IsOptionScoreFixed || level2.isOptionScoreFixed ? '' : (x.MinScore + ' - ')) + x.MaxScore + ')') for x in level2.Standards"></select>-->  
                                                                                <!--<select ng-if="level3.Weight==3" ng-model="level3.Score" ng-options="x.MaxScore as (x.DetailScore + ' (' + (level2.IsOptionScoreFixed || level2.isOptionScoreFixed ? '' : (x.MinScore + ' - ')) + x.MaxScore + ')') for x in level2.Standards"></select>-->  
                                                                                <select ng-model="level3.Score" ng-options="x.MaxScore as (x.DetailScore + ' (' + (level2.IsOptionScoreFixed || level2.isOptionScoreFixed ? '' : (x.MinScore + ' - ')) + x.MaxScore + ')') for x in level2.Standards"></select>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="padding:0px;"> <!--kolom catatan-->
                                            <div style="height:30px; padding-left:10px; "><span ng-show="kri.sub.length === 0"><input  type="text" class="form-control input-sm"  ng-model="kri.Remark"/></span></div>
                                            <table class="table">
                                                <tbody>
                                                    <tr ng-repeat="level2 in kri.sub">
                                                        <td style="padding:0px;">
                                                            <div style="height:30px; padding-left:10px;"><span ng-show="level2.sub.length === 0"><input  type="text" class="form-control input-sm" ng-model="level2.Remark" /></span></div>
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr ng-repeat="level3 in level2.sub">
                                                                        <td style="padding:0px;">
                                                                            <div style="height:30px; padding-left:10px; "><input  type="text" class="form-control input-sm" ng-model="level3.Remark" /></div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div ng-hide="CPRFCtrl.isNoCPR" class="col-md-12 pull-right">
                            <div class="alert alert-warning pull-right"><strong>{{'SCORE'|translate}}  : {{CPRFCtrl.SCORE}}&nbsp; </strong></div>
                        </div>
                        <div ng-hide="CPRFCtrl.isNoCPR" class="col-md-12 pull-right">
                            <button type="button" class="btn btn-flat btn-primary pull-right" ng-click="CPRFCtrl.scoring()" title=" {{'COUNT_SCORE'|translate}}">
                                <i class="fa fa-calculator"></i> {{'COUNT_SCORE'|translate}}
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{'NOTE'|translate}}</label>
                                    <textarea class="form-control input-sm" ng-model="CPRFCtrl.catatan"></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" ng-hide="CPRFCtrl.isNoCPR">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                       {{'UPLOAD_DOC'|translate}}
                                    </label>
                                </div>                                
                            </div>                           
                            <div class="col-md-8">
                                <button ng-click="CPRFCtrl.add()" class="btn btn-sm btn-success pull-right" title="{{'ADD_DOC'|translate}}"><i class="fa fa-plus"></i> </button>
                            </div>
                        </div>
                        <div class="row" ng-hide="CPRFCtrl.isNoCPR">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th width="50" class="center-vertical">{{'TABLE.COL_NO' | translate}}</th>
                                                    <th class="center-vertical">{{'TABLE.NAMA_DOC' | translate}}</th>
                                                    <th width="100" class="center-vertical"></th>
                                                    <th width="75" class="center-vertical"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="sd in CPRFCtrl.docs">
                                                    <td class="center-vertical">{{$index + 1}}</td>
                                                    <td>{{sd.DocName}}</td>
                                                    <td class="center-vertical">
                                                        <a href="{{CPRFCtrl.folderFile + sd.DocUrl}}" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-download"></i> {{'DOWNLOAD'|translate}}</a>
                                                    </td>                                                  
                                                    <td class="center-vertical">
                                                        <button ng-click="CPRFCtrl.edit(sd,$index)" class="btn btn-xs btn-info" title="{{'BTN.UBAH'|translate}}"><i class="fa fa-pencil"></i></button>
                                                        <button ng-click="CPRFCtrl.del(sd,$index)" class="btn btn-xs btn-danger" title="{{'BTN.HAPUS'|translate}}"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tr ng-if="CPRFCtrl.docs.length <= 0">
                                                <td colspan="5" cellpadding="0">
                                                    <div class="alert alert-info text-center">
                                                        <span>{{'NO_DOC' | translate}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-flat btn-success turun-15" ng-click="CPRFCtrl.checkValidity()" title="{{'SAVE_DRAFT_ASSESSMENT'| translate}}">
                                        <i class="fa fa-save"></i>
                                    </button>
                                    <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="CPRFCtrl.back()" title="{{'BACK'|translate}}">
                                        <i class='fa fa-reply'></i>&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>