<div ng-init="UploadDokumenPrequalAssCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.OTHER_DOCS'|translate}}</a></li>
	</ol>
	<div class="box">
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<h3 class="afta-font text-center">{{'TITLE_DOC'|translate}}</h3>
				</div>
			</div>
			<div class="col-md-12">
				<div class="pull-right">
					<button ng-if="UploadDokumenPrequalAssCtrl.isEntry == true || UploadDokumenPrequalAssCtrl.IsNeedRevision == true" type="button" class="btn btn-flat btn-primary" ng-click="UploadDokumenPrequalAssCtrl.tambah()" title="{{'BTN.INSERT'|translate}}">
						<i class='fa fa-plus-circle'></i>&nbsp;
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center">{{'TABLE.NO'|translate}}</th>
									<th class="text-center">{{'TABLE.DOC_NAME'|translate}}</th>
									<th class="text-center" style="width: 300px; min-width: 300px; vertical-align: middle;">{{'TABLE.DOC_NUMBER'|translate}}</th>
									<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="dok in UploadDokumenPrequalAssCtrl.document">
									<td class="text-center">{{UploadDokumenPrequalAssCtrl.currentPage > 1 ? (UploadDokumenPrequalAssCtrl.maxSize * (UploadDokumenPrequalAssCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
									<td class="text-left">{{dok.DocumentName}}</td>
									<td class="text-center">{{dok.DocumentNo}}</td>
									<td class="text-center">
										<a class="btn btn-flat btn-sm btn-warning" ng-click="UploadDokumenPrequalAssCtrl.view(dok)" title="{{'BTN.VIEW'|translate}}"><i class="fa fa-file-o"></i></a>
										<a ng-if="UploadDokumenPrequalAssCtrl.isEntry == true || UploadDokumenPrequalAssCtrl.IsNeedRevision == true" ng-click="UploadDokumenPrequalAssCtrl.edit(dok)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UPDATE'|translate}}"><i class="fa fa-edit"></i></a>
										<a ng-if="UploadDokumenPrequalAssCtrl.isEntry == true || UploadDokumenPrequalAssCtrl.IsNeedRevision == true" class="btn btn-flat btn-sm btn-danger" ng-click="UploadDokumenPrequalAssCtrl.remove(dok)" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-trash-o"></i></a>

									</td>
								</tr>
                                <tr ng-if="UploadDokumenPrequalAssCtrl.document.length===0">
                                <td colspan="5">{{'NO_DATA'|translate}}</td></tr>
							</tbody>
						</table>
						<small><b></b> </small>
						

					</div>

				</div>
			</div>

            <div class="center-block text-center margin-atas">
                <a href="#/assessment-prakualifikasi-detail/{{UploadDokumenPrequalAssCtrl.PrequalStepAssID}}/{{UploadDokumenPrequalAssCtrl.VendorPrequalID}}" class="btn btn-primary" title="{{'BACK' | translate}}">
                    <i class="fa fa-arrow-circle-left"></i>
                </a>
                <a ng-if="UploadDokumenPrequalAssCtrl.isEntry == true || UploadDokumenPrequalAssCtrl.IsNeedRevision == true" class="btn btn-success" ng-click="UploadDokumenPrequalAssCtrl.Submit(true)" title="{{'SETUJU' | translate}}">
                    <i class="fa fa-check"></i>
                </a>
                <a ng-if="UploadDokumenPrequalAssCtrl.isEntry == true || UploadDokumenPrequalAssCtrl.IsNeedRevision == true" class="btn btn-danger" ng-click="UploadDokumenPrequalAssCtrl.notvalid()" ng-disabled="UploadDokumenPrequalAssCtrl.valid==false" title="{{'TIDAK_SETUJU' | translate}}">
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="center-block text-center" ng-if="UploadDokumenPrequalAssCtrl.valid==false">
                <div class="row margin-atas">
                    <div class="col-md-6 col-md-offset-3">
                        <label>{{'Alasan'|translate}}</label>
                        <textarea class="form-control" ng-model="UploadDokumenPrequalAssCtrl.remark" placeholder="{{'Alasan'|translate}}"></textarea>
                        <a class="btn btn-success" ng-click="UploadDokumenPrequalAssCtrl.Submit(false)">
                            <i class="fa fa-save" title="{{'SAVE' | translate}}"></i>
                        </a>
                    </div>

                </div>
            </div>
		</div>
	</div>
</div>
