<ol class="breadcrumb" style="padding-top:0px!important;">
	<li><a class="active" href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
</ol>
<div class="container-fluid" ng-init="DVCtrl.init()" style="margin-top: 0px!important;">
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="panel panel-default panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> {{'PRAKUALIFIKASI'|translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.prequal.totalItems}} ]</strong> &nbsp;<button ng-click="show_pre = !show_pre" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_reg, 'fa-chevron-down': show_reg}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_pre">
					<form ng-submit="DVCtrl.searchPrekual()">
						<div class="input-group" style="padding-bottom: 15px;">
							<div class="input-cont">
								<input type="text" ng-model="DVCtrl.prequal.keyword" placeholder="{{'TABLE.NAMA_PRAKUALIFIKASI'|translate}}" class="form-control">
							</div>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary" title="Cari">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</form>
					<div class="table table-responsive">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
									<th class="text-center">{{'TABLE.NAMA_PRAKUALIFIKASI'|translate}}</th>
									<th class="text-center" style="width: 180px; min-width: 180px;">{{'TABLE.ACTION'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="td in DVCtrl.prequal.list">
									<td class="text-center" style="vertical-align: middle;">
										{{$index + 1 + (DVCtrl.prequal.pageSize * (DVCtrl.prequal.currentPage - 1))}}
									</td>
									<td style="vertical-align: middle;">{{td.PrequalName}}</td>
									<td class="text-center">
										<button class="btn btn-xs btn-primary" title="{{'DETAIL_TAHAPAN'|translate}}" ng-click="DVCtrl.detailtahapanPrakual(td)">
											<i class="fa fa-external-link"></i>
										</button>
									</td>
								</tr>
								<tr ng-if="DVCtrl.prequal.totalItems === 0">
									<td colspan="6">{{'TIDAK_ADA_LELANG'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul uib-pagination total-items="DVCtrl.prequal.totalItems"
						ng-model="DVCtrl.prequal.currentPage" items-per-page="DVCtrl.prequal.pageSize"
						previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.reloadPrekual()"></ul>
				</div>
			</div>
		</div>
	</div>
</div>
