﻿<style>
	.ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
		min-height: 300px;
		height: auto;
		overflow: auto;
		font-family: inherit;
		font-size: 100%;
	}

	.form-control.myform1-height > .ta-bind {
		height: auto;
		min-height: 300px;
		padding: 6px 12px;
	}



	/* ====== ====== */

	.ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
		height: 300px;
		min-height: 300px;
		overflow: auto;
		font-family: inherit;
		font-size: 100%;
	}

	.form-control.myform2-height > .ta-bind {
		min-height: 300px;
		padding: 6px 12px;
	}
</style>
<div id="idTambahVerifiedData" class="modal-content" ng-init="DetEmailRegretCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="DetEmailRegretCtrl.cancel()" title="{{'EXIT' | translate}}">
			<span aria-hidden="true">&times;</span><span class="sr-only"></span>
		</button>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<h4 class="text-center afta-font">{{'SEND_EMAIL' | translate}} </h4>
			<br />
			<div class="col-md-12">
				<div class="table table-responsive">
					<table id="tabelPeserta" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="center-vertical" style="text-align: center; width: 50px; vertical-align: middle;">
									<input type="checkbox" class="form-control" ng-model="DetEmailRegretCtrl.isSelectAll" ng-change="DetEmailRegretCtrl.selectAll()" />
								</th>
								<th class="center-vertical" width='20px'>{{'TABLE.NO' | translate}}</th>
								<th class="center-vertical">{{'TABLE.NAMA_VENDOR' | translate}}</th>
								<th class="center-vertical">{{'TABLE.IS_SENT' | translate}}</th>
								<th class="center-vertical"></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="text-align: center; width: 50px; vertical-align: middle;">
									<input type="checkbox" ng-disabled="DetEmailRegretCtrl.list.Vendor.IsNeedQuestionnaire === true" class="form-control" ng-change="DetEmailRegretCtrl.addRemoveVendor(DetEmailRegretCtrl.list.Vendor)" ng-model="DetEmailRegretCtrl.list.Vendor.flagButton" />
								</td>
								<td>1</td>
								<td class="text-bold">{{DetEmailRegretCtrl.list.Vendor.VendorName}} ({{'WINNER' | translate}})</td>
								<td class="text-bold" ng-if="DetEmailRegretCtrl.list.Vendor.IsNeedQuestionnaire === true">{{'EMAIL_SENT' | translate}}</td>
								<td class="text-bold" ng-if="DetEmailRegretCtrl.list.Vendor.IsNeedQuestionnaire !== true || DetEmailRegretCtrl.list.Vendor.IsNeedQuestionnaire === null">{{'EMAIL_NOT_SENT' | translate}}</td>
								<td>
									<button title="{{'BTN.EMAIL_DETAIL' | translate}}" class="btn btn-flat btn-primary" ng-click="DetEmailRegretCtrl.seeEmailDetail(DetEmailRegretCtrl.list.Vendor.VendorID, DetEmailRegretCtrl.list.Vendor.VendorName, DetEmailRegretCtrl.list.Vendor.IsNeedQuestionnaire)">
										<i class="fa fa-envelope"></i>
									</button>
								</td>
							</tr>
							<tr ng-repeat="pe in DetEmailRegretCtrl.list.VendorLooser">
								<td style="text-align: center; width: 50px;" vertical-align: middle;">
									<input type="checkbox" ng-disabled="pe.IsNeedQuestionnaire === true" class="form-control" ng-change="DetEmailRegretCtrl.addRemoveVendor(pe)" ng-model="pe.flagButton" />
								</td>
								<td>{{$index + 2}}</td>
								<td>{{pe.VendorName}}</td>
								<td class="text-bold" ng-if="pe.IsNeedQuestionnaire === true">{{'EMAIL_SENT' | translate}}</td>
								<td class="text-bold" ng-if="pe.IsNeedQuestionnaire !== true || pe.IsNeedQuestionnaire === null">{{'EMAIL_NOT_SENT' | translate}}</td>
								<td>
									<button title="{{'BTN.EMAIL_DETAIL' | translate}}" class="btn btn-flat btn-primary" ng-click="DetEmailRegretCtrl.seeEmailDetail(pe.VendorID, pe.VendorName, pe.IsNeedQuestionnaire)">
										<i class="fa fa-envelope"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-12 text-center">
			<button type="button" class="btn btn-flat btn-warning" ng-click="DetEmailRegretCtrl.cancel()">
				<i class="fa fa-arrow-circle-left"></i>&nbsp; {{'BACK' | translate}}
			</button>
			<button type="button" class="btn btn-flat btn-primary" ng-click="DetEmailRegretCtrl.sendMail()">
				<i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{'BTN.SEND_EMAIL' | translate}}
			</button>
		</div>
	</div>
</div>
<script type="text/ng-template" id="detailEmail.html">
	<div ng-init="DetEmailRegretCtrl.initDetail()" class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" ng-click="DetEmailRegretCtrl.cancelDetail()" title="{{'EXIT' | translate}}">
				<span aria-hidden="true">&times;</span><span class="sr-only"></span>
			</button>
			<h3 class="modal-title afta-font">E-Mail Detail for {{DetEmailRegretCtrl.item.selVendorName}}</h3>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12">
							<label>{{'EMAIL_CONTENT' | translate}}</label>
							<div text-angular="text-angular" name="htmlcontent" ng-model="DetEmailRegretCtrl.keterangan"
								 ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="col-md-12 text-center">
				<button type="button" class="btn btn-flat btn-warning" ng-click="DetEmailRegretCtrl.cancelDetail()">
					<i class="fa fa-arrow-circle-left"></i>&nbsp; {{'BACK' | translate}}
				</button>
				<button ng-hide="DetEmailRegretCtrl.item.selIsSent === true" type="button" class="btn btn-flat btn-primary" ng-click="DetEmailRegretCtrl.saveMail()">
					<i class="fa fa-save"></i>&nbsp;&nbsp; {{'BTN.SAVE_EMAIL' | translate}}
				</button>
			</div>
		</div>
	</div>
</script>