<div class="container-fluid" ng-init="PPDCtrl.init()">
	<ol class="breadcrumb">
		<li>
			<a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a>
		</li>
		<li>
			<a class="active">{{'BREADCRUMB.CHANGEREQUEST' | translate}}</a>
		</li>
	</ol>
	<div>
		<div class="row" style="padding-top: 30px!important;">
			<div class="col-md-6 center-block" style="float: none!important;">
				<h3 class="text-center afta-font">{{'FORM.HEADER_CHANGE' | translate}}</h3>
			</div>
		</div>
		<div class="row" style="padding-top: 20px!important;" ng-if="PPDCtrl.listCR.length===0">
			<div class="col-md-12">
				<div class="alert alert-info">
					{{'FORM.ALERT_INFO' | translate}}
					<!--Semua permintaan ubah data Anda telah disetujui oleh administrator.-->
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 20px!important;" ng-if="PPDCtrl.listCR.length!==0">
			<div class="col-md-8 col-sm-12 center-block well" style="float: none!important;">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
						<div class="row">
							<div class="col-md-12">
								<div ng-if="PPDCtrl.isSentCR === true && PPDCtrl.IsApprovedBy === 1" class="text-center content-turun">
									<h2 class="afta-font text-success">
										<i class="fa fa-check-circle-o"></i> {{'FORM.ALERT_APPROVE' | translate}}
									</h2>
								</div>
							</div>
						</div>
						<div ng-if="PPDCtrl.isVerified === true">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<div>
											<div ng-repeat="item in PPDCtrl.listCR[0]">
												<div class="col-md-10">
													<input ng-if="!item.IsRequested" type="checkbox" checkbox-group ng-model="item.IsApproved" />
													<label>{{item.CRName | translate}}</label><br />
													<div>
														<textarea ng-model="item.Description" ng-disabled="item.IsApproved === false" class="input-sm" style="width:85%;" rows="2" placeholder="{{'KETERANGAN' | translate}} {{item.CRName | translate}}"></textarea>&nbsp;&nbsp;
														<a ng-click="PPDCtrl.commit(item.CRName)" href="" class="form-group btn btn-sm btn-primary" style="vertical-align:top;" title="{{'BTN.SAVE_CHANGE' | translate}}" ng-if="item.IsTouched">
															<i class="fa fa-save"></i>&nbsp;{{'BTN.SAVE' | translate}}
														</a>
													</div>
												</div>
											</div>
										</div>
										<!--
										<label>Keterangan Lain-lain</label>&nbsp;<small>(tidak harus diisi)</small>
										<textarea ng-model="PPDCtrl.Remark" class="form-control" rows="3" placeholder="Keterangan Lain-lain"></textarea>-->
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<div class="text-center">
											<a ng-click="PPDCtrl.sendData()" href="" class="btn btn-primary" title="{{'BTN.SEND' | translate}}">
												<i class="fa fa-send-o"></i>&nbsp;
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="PPDCtrl.isVerified === true && PPDCtrl.isSentCR === true && PPDCtrl.IsApprovedBy === null">
							<div class="col-md-12">
								<div class="text-center">
									<h3 class="afta-font">
										<i class="fa fa-info"></i> {{'FORM.ALERT_REQUESTED' | translate}}
									</h3>
								</div>
							</div>
						</div>
						<div class="row" ng-if="PPDCtrl.isVerified === false || PPDCtrl.isVerified === null">
							<div class="col-md-12">
								<div class="text-center text-danger">
									<h3 class="afta-font">
										<i class="fa fa-warning"></i> {{'FORM.ALERT_UNVERIFIED' | translate}}
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>