﻿<div class="modal-content" ng-init="detDokCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="detDokCtrl.batal()" title="Keluar">
			<span aria-hidden="true">&times;</span><span class="sr-only"></span>
		</button>
		<h4 class="afta-font modal-title ">{{detDokCtrl.DocumentName}}</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">{{'TABLE.DOCNAME' | translate}}</th>
										<th class="text-center" width="20%">{{'TABLE.DOCTYPE' | translate}}</th>
										<th class="text-center" width="10%">{{'TABLE.APPROVEDATE' | translate}} </th>
										<th class="text-center" width="10%">{{'TABLE.DOWNLOAD' | translate}} </th>
										<th class="text-center" width="20%">{{'TABLE.REMARKS' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{detDokCtrl.DocumentName}}</td>
										<td class="text-center">{{detDokCtrl.TypeSizeDoc}}</td>
										<td class="text-center">{{detDokCtrl.ApproveDate}}</td>
										<td class="text-center">
											<a ng-disabled="(detDokCtrl.FileDoc === null)" ng-if="detDokCtrl.FileDoc === null" class="btn btn-xs btn-success" title="Download">
												<i class="fa fa-download"></i>
											</a>
											<a ng-disabled="(detDokCtrl.FileDoc === null)" ng-if="detDokCtrl.FileDoc !== null" target="_blank" href="{{detDokCtrl.folderFile+detDokCtrl.FileDoc}}" class="btn btn-xs btn-success" title="Download">
												<i class="fa fa-download"></i>
											</a>
										</td>
										<td>{{detDokCtrl.Remarks}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-12" ng-if="detDokCtrl.accessPermission===true">
						<div class="form-group">
							<label class="control-label">
								{{ 'ITEMPRUPLOAD.LB_UPLOAD' | translate}}
								<small>
									( <span ng-repeat="ft in detDokCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
									<span> / {{'ITEMPRUPLOAD.SIZE_FILE' | translate}} : {{detDokCtrl.idUploadConfigs[0].Size}} {{detDokCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
								</small>
							</label>
							<div class="input-group col-md-12">
								<input type="file" class="form-control" ng-file-select="detDokCtrl.selectUpload()"
									   ng-model="detDokCtrl.fileUpload" name="ownerIDFile" required accept="{{detDokCtrl.idFileTypes}}" />
								<div class="input-group-btn">

								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12">
						<span class="pull-right">
							<button ng-click="detDokCtrl.batal()" class="btn btn-sm btn-default" title="{{'BTN.KEMBALI' | translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
							<!--<button ng-if="detDokCtrl.accessPermission===true" ng-click="detDokCtrl.agreement()" class="btn btn-sm btn-primary" title="Setuju"><i class="fa fa-thumbs-o-up"></i> </button>-->
							<button ng-if="detDokCtrl.accessPermission===true" class="btn btn-sm btn-primary" ng-click="detDokCtrl.uploadFile()" title="{{'ITEMPRUPLOAD.BTN_UPLOAD' | translate}}">
								<i class="fa fa-arrow-circle-o-down"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

