﻿<section class="content" ng-init="OEVCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a ng-click="OECtrl.backDetailTahapan()">{{'BREADCRUMB.TENDERSTEPDET' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-8">
                                    <label>{{'FORM.STARTDATE' | translate}}: {{OEVCtrl.StartDate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label>{{'FORM.ENDDATE' | translate}}: {{OEVCtrl.EndDate}}</label>
                                </div>
                                <div class="col-md-9">
                                    <label>{{'FORM.TENDERNAME' | translate}}: {{OEVCtrl.TenderName}}</label>
                                </div>
                                <div class="col-md-4" ng-if="OEVCtrl.IsSubmit !== null">
                                    <label>{{'FORM.LASTSUBMITDATE' | translate}}: {{OEVCtrl.SubmitDate}}</label>
                                </div>
                            </div>
                            <div class="row margintop20">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" ng-if="OEVCtrl.IsSubmit === false" style="color:red">{{'FORM.ALERTSUBMIT' | translate}}"</label>
                                        <a ng-if="OEVCtrl.accessPermission===true" class="btn btn-flat btn-primary pull-right" ng-click="OEVCtrl.complete()"><i class="fa fa-send-o"></i> {{'BTN.SUBMIT' | translate}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" style="padding-left:2px!important">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" colspan="7"><h4>{{'TABLE.TENDERREQUIREMENTS' | translate}}</h4></th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center" width="5%">{{'TABLE.NO' | translate}}</th>
                                                        <th class="text-center" width="10%">{{'TABLE.CODE' | translate}}</th>
                                                        <th class="text-center">{{'TABLE.FORMNAME' | translate}}</th>
                                                        <th class="text-center" width="7%">{{'TABLE.DETAILFORM' | translate}}</th>
                                                        <th class="text-center" width="10%">{{'TABLE.SUBMITDATE' | translate}}</th>
                                                        <th class="text-center" width="7%">{{'TABLE.ACTION' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="pgm in OEVCtrl.listKelengkapan">
                                                        <td class="text-center">{{OEVCtrl.currentPage > 1 ? (OEVCtrl.maxSize * (OEVCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                        <td class="text-center">{{pgm.DocumentCode}}</td>
                                                        <td>{{pgm.DocumentName}}</td>
                                                        <td class="text-center">
                                                            <button ng-click="OEVCtrl.detailDokumen(pgm)" class="btn btn-xs btn-warning" title="Detail"><i class="fa fa-folder-open-o"></i> </button>
                                                            <a ng-if="pgm.DocumentType === 'DOC_DOCUMENT' && pgm.UploadURL != null" href="{{OEVCtrl.folderFile+pgm.UploadURL}}" target="_blank" class="btn btn-xs btn-primary" title="Download File"><i class="fa fa-download"></i> </a>
                                                        </td>
                                                        <td class="text-center">{{pgm.ApproveDate}}</td>
                                                        <td class="text-center" ng-if="pgm.IsApproved === true"><i class="fa fa-check-circle center-block"></i></td>
                                                        <td class="text-center" ng-if="pgm.IsApproved !== true"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <button ng-click="OEVCtrl.batal()" class="btn btn-sm btn-default pull-right" title="{{'BTN.KEMBALI' |translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>