﻿<div class="modal-content" ng-init="uploadDokumenQuestionnaireCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="uploadDokumenQuestionnaireCtrl.batal()" title="Keluar">
			<span aria-hidden="true">&times;</span><span class="sr-only"></span>
		</button>
		<h4 class="afta-font modal-title ">{{uploadDokumenQuestionnaireCtrl.DocumentName}} File Upload</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label">
								{{ 'ITEMPRUPLOAD.LB_UPLOAD' | translate}}
								<small>
									( <span ng-repeat="ft in uploadDokumenQuestionnaireCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
									<span> / {{'ITEMPRUPLOAD.SIZE_FILE' | translate}} : {{uploadDokumenQuestionnaireCtrl.idUploadConfigs[0].Size}} {{uploadDokumenQuestionnaireCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
								</small>
							</label>
							<div class="input-group col-md-12">
								<input type="file" class="form-control" ng-file-select="uploadDokumenQuestionnaireCtrl.selectUpload()"
									   ng-model="uploadDokumenQuestionnaireCtrl.fileUpload" name="ownerIDFile" required/>
								<div class="input-group-btn">

								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12">
						<span class="pull-right">
							<button ng-click="uploadDokumenQuestionnaireCtrl.batal()" class="btn btn-sm btn-default" title="{{'BTN.KEMBALI' | translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
							<!--<button ng-if="uploadDokumenQuestionnaireCtrl.accessPermission===true" ng-click="uploadDokumenQuestionnaireCtrl.agreement()" class="btn btn-sm btn-primary" title="Setuju"><i class="fa fa-thumbs-o-up"></i> </button>-->
							<button class="btn btn-sm btn-primary" ng-click="uploadDokumenQuestionnaireCtrl.uploadFile()" title="{{'ITEMPRUPLOAD.BTN_UPLOAD' | translate}}">
								<i class="fa fa-arrow-circle-o-down"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

