﻿<section class="content" ng-init="DetailApprovalBlacklistCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a>{{'BREADCRUMB.DATA_BLACKLIST' | translate}}</a></li>
        <li><a>{{'BREADCRUMB.DATA_APPROVAL' | translate}}</a></li>

    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="afta-font judul-datatabel">{{'DATA_APPROVAL' | translate}}</h3>
                        </div>
                        <div class="col-md-4">
                            <!--<form method="post" role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{'CARI_BLACKLIST_NAMA' | translate}}" ng-model="DetailApprovalBlacklistCtrl.Keyword">
                                    <span class="input-group-btn">
                                        <button ng-click="DetailApprovalBlacklistCtrl.jLoad(1)" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="Cari">
                                            <i class="fa fa-search"></i>&nbsp;
                                        </button>
                                    </span>
                                </div>
                            </form>-->
                            <input type="text" class="form-control" placeholder="{{'CARI_BLACKLIST_NAMA' | translate}}" ng-model="DetailApprovalBlacklistCtrl.Keyword">
                        </div>
                        <div class="col-md-2">
                            <select id="cmbStatus" name="cmbStatus" ng-model="DetailApprovalBlacklistCtrl.filter" class="form-control"
                                    ng-options="item as item.Name | translate for item  in DetailApprovalBlacklistCtrl.listDropdown">
                                <option value="" selected disabled>
                                    {{'SELECT.SEARCH_BYSTATUS' | translate}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button ng-click="DetailApprovalBlacklistCtrl.jLoad(1)" class="btn btn-flat btn-primary" title="{{'BTN.SEARCH'|translate}}"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom:20px;">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical">No.</th>
                                            <th class="center-vertical">{{'TABLE.NAMA' | translate }}</th>
                                            <th class="center-vertical">Status</th>
                                            <th class="center-vertical">Approval Status</th>
                                            <th class="center-vertical">{{'TABLE.VENDOR_APPROVAL_DATE' | translate }}</th>
                                            <th class="center-vertical">{{'TABLE.DESCRIPTION' | translate }}</th>
                                            <th class="center-vertical"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="detail in DetailApprovalBlacklistCtrl.listApproval | orderBy:'-ID'">
                                            <td class="text-center" style="vertical-align: middle;">{{DetailApprovalBlacklistCtrl.currentPage > 1 ? (DetailApprovalBlacklistCtrl.pageSize * (DetailApprovalBlacklistCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{detail.VendorName}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{detail.BlacklistType.Value | translate}}</td>
                                            <td class="text-center" style="vertical-align: middle;" ng-if="detail.ApprovalStatusReff.Name == 'APPROVAL_VENDOR_APPROVE'">Approve</td>
                                            <td class="text-center" style="vertical-align: middle;" ng-if="detail.ApprovalStatusReff.Name == 'APPROVAL_VENDOR_REJECTED'">Reject</td>
                                            <td class="text-center" style="vertical-align: middle;" ng-if="detail.ApprovalStatusReff == null"></td>
                                            <td class="text-center" style="vertical-align: middle;">{{detail.ApprovalDate}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                               {{detail.Description}}
                                            </td>
                                            <td class="text-center" style="vertical-align: auto;">
                                                <a ng-if="detail.BlacklistType.Name == 'BLACKLIST_TYPE_YES'" ng-click="DetailApprovalBlacklistCtrl.detail(detail, detail.BlacklistType.Name)" class="btn btn-flat btn-xs btn-success" title="Detail Blacklist">
                                                    <i class="fa fa-external-link"></i>&nbsp;</a>
                                                <a ng-if="detail.BlacklistType.Name == 'BLACKLIST_TYPE_NO'" ng-click="DetailApprovalBlacklistCtrl.detail(detail, detail.BlacklistType.Name)" class="btn btn-flat btn-xs btn-success" title="Detail Whitelist">
                                                    <i class="fa fa-external-link"></i>&nbsp;</a>
                                                
                                                <a ng-click="DetailApprovalBlacklistCtrl.approve(detail)" ng-if="detail.ApprovalStatusReff == null" class="btn btn-flat btn-xs btn-primary" title="Approve">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                                 <a ng-click="DetailApprovalBlacklistCtrl.save(detail)" ng-if="detail.ApprovalStatusReff == null" class="btn btn-flat btn-xs btn-danger" title="Reject">
                                                    <i class="fa fa-close"></i>
                                                </a>

                                            </td>
                                        </tr>
                                        <tr ng-if="DetailApprovalBlacklistCtrl.totalItems === 0"><td colspan="6">{{'NO_DATA'|translate}}</tr>
                                    </tbody>
                                </table>
                                <div></div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-10">
                                <ul uib-pagination boundary-links="true" total-items="DetailApprovalBlacklistCtrl.totalItems" ng-model="DetailApprovalBlacklistCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="DetailApprovalBlacklistCtrl.pageChanged()"></ul><br />
                                <label>{{'TOTAL_DATA' | translate }} : {{DetailApprovalBlacklistCtrl.totalItems}}</label>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>