<!-- Main content -->
<section class="content" ng-init="procurementMethodCtrl.loadMethods()">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<form method="post" role="form" ng-submit="procurementMethodCtrl.loadMethods()">
							<div class="col-md-7">
								<h3 class="judul-datatabel afta-font" style="padding-bottom: 20px;">{{'METODE_LELANG' | translate }}</h3>
							</div>
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="{{'SEARCH_PLACEHOLDER' | translate }}" ng-model="procurementMethodCtrl.keyword" />
									<span class="input-group-btn">
										<button ng-click="procurementMethodCtrl.loadMethods()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate }}">
											<i class="fa fa-search"></i>&nbsp; 
										</button>
									</span>
								</div>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="button" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click="procurementMethodCtrl.addMethod()" ng-if="procurementMethodCtrl.allowChange" title="{{'ADD' | translate }}">
								<i class='fa fa-plus-circle'></i>&nbsp;
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" width="20px">{{'TABLE.NO' | translate }}</th>
											<th class="text-center">{{'TABLE.METHOD_NAME' | translate }}</th>
											<th class="text-center" style="width: 200px; min-width: 200px;">{{'TABLE.PROCUREMENT_TYPE' | translate }}</th>
											<th class="text-center" style="width: 110px; min-width: 110px;">{{'TABLE.STATUS' | translate }}</th>
											<th class="text-center" style="width: 220px; min-width: 220px;"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="method in procurementMethodCtrl.methods">
											<td style="vertical-align: middle;">{{procurementMethodCtrl.currentPage > 1 ? (procurementMethodCtrl.maxSize * (procurementMethodCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{method.MethodName}}</td>
											<td ng-if="method.GoodsOrService === 1" class="text-center" style="vertical-align: middle;">{{'GOODS' | translate }}</td>
											<td ng-if="method.GoodsOrService === 2" class="text-center" style="vertical-align: middle;">{{'SERVICE' | translate }}</td>
											<td ng-if="method.IsActive" class="text-center" style="vertical-align: middle;">{{'ACTIVE' | translate }}</td>
											<td ng-if="!method.IsActive" class="text-center" style="vertical-align: middle;">{{'INACTIVE' | translate }}</td>
											<td class="text-center">
												<a ng-click="procurementMethodCtrl.viewDetail(method.MethodID)" class="btn btn-flat btn-sm btn-warning">
													<i class="fa fa-external-link" title="Detail"></i>
												</a>
												<a ng-if="!method.IsUsed && procurementMethodCtrl.allowEdit" ng-show="procurementMethodCtrl.allowChange===true" ng-click="procurementMethodCtrl.editMethod(method.MethodID)" class="btn btn-flat btn-sm btn-primary" title="{{'EDIT' | translate }}">
													<i class="fa fa-edit"></i>
												</a>
												<a ng-if="procurementMethodCtrl.allowDelete && method.IsActive" ng-show="procurementMethodCtrl.allowChange===true" ng-click="procurementMethodCtrl.inactivate(method.MethodID)" class="btn btn-flat btn-sm btn-danger" title="{{'INACTIVATE' | translate }}">
													<i class="fa fa-times-circle"></i>
												</a>
												<a ng-if="procurementMethodCtrl.allowDelete && !method.IsActive" ng-show="procurementMethodCtrl.allowChange===true" ng-click="procurementMethodCtrl.activate(method.MethodID)" class="btn btn-flat btn-sm btn-success" title="{{'ACTIVATE' | translate }}">
													<i class="fa fa-check-square-o"></i>
												</a>
											</td>
										</tr>
										<tr ng-if="procurementMethodCtrl.totalItems === 0">
											<td colspan="4">{{'NO_DATA' | translate }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul uib-pagination boundary-links="true" total-items="procurementMethodCtrl.totalItems" ng-model="procurementMethodCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="procurementMethodCtrl.pageChanged()"></ul><br />
							<label>{{'TOTAL_DATA' | translate }} : {{procurementMethodCtrl.totalItems}}</label>
						</div>
						<div class="col-sd-2 col-md-5">
							<button type="button" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click="procurementMethodCtrl.addMethod()" ng-if="procurementMethodCtrl.allowChange" title="{{'ADD' | translate }}">
								<i class='fa fa-plus-circle'></i>&nbsp; 
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/ng-template" id="editMethod.html">
	<div>
		<section class="content">
			<div id="divCreate" class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
					<div class="box box-info">
						<div class="box-body">
							<div class="row">
								<div class="col-md-7">
									<h3 class="afta-font judul-datatabel">{{'TITLE' | translate }}</h3>
                                    
								</div>
								<div class="col-md-5"></div>
							</div>
							<form>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>{{'PROCUREMENT_METHOD_NAME' | translate }}</label>
											<input ng-disabled="editMethodCtrl.isUsed" ng-model="editMethodCtrl.methodName" class="form-control input-lg" type="text" required>
										</div>
									</div>
									<div class="row" ng-if="!editMethodCtrl.isUsed">
										<div class="col-md-12">
											<div class="box box-success" style="width: 90%; margin: 0px auto;">
												<div class="box-body">
													<div class="row">
														<div class="col-md-4">
															<label>{{'TABLE.GOODSORSERVICE' | translate }}</label>
															<select class="form-control" ng-disabled="editMethodCtrl.lockGoodsService" ng-model="editMethodCtrl.goodsOrService" ng-change="editMethodCtrl.changeGoodsOrSvc()">
																<option value="1">{{'GOODS' | translate }}</option>
																<option value="2">{{'SERVICE' | translate }}</option>
															</select>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label>{{'STAGE_TYPE' | translate }}</label>
																<select class="form-control" ng-model="editMethodCtrl.selectedFormType" ng-options="val.FormTypeID as val.FormTypeName | translate for val in editMethodCtrl.formTypes" ng-change="editMethodCtrl.changeGoodsOrSvc()"></select>
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label>
																	{{'STAGE' | translate }}
																	<em>({{'NOTICE2'|translate}})</em>
																</label>
																<select class="form-control" ng-model="editMethodCtrl.selectedStep" ng-options="val as val.TenderStepName for val in editMethodCtrl.tenderSteps"></select>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-12" style="margin-top: 5px;">
															<div class="form-group" style="margin-bottom: 5px;">
																<div class="center-block text-center">
																	<a ng-click="editMethodCtrl.addStep()" class="btn btn-flat btn-primary text-center">
																		<i class="fa fa-plus-circle" title="{{'ADD' | translate }}"></i>&nbsp; 
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row" style="margin-top: 15px;">
									<div class="col-md-12">
										<div class="form-group">
											<label>{{'STAGES_SEQUENCE_LIST' | translate }}</label>
											<div class="row">
												<div class="col-md-12">
													<table id="example2" class="table table-bordered table-striped">
														<thead>
															<tr>
																<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO' | translate }}</th>
																<th class="text-center">{{'STAGES_SEQUENCE' | translate }}</th>
																<!--<th class="text-center" style="width: 100px; min-width: 100px;">Sampul</th>-->
																<th ng-if="!editMethodCtrl.isUsed" class="text-center" style="width: 100px; min-width: 150px;"></th>
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="step in editMethodCtrl.steps">
																<td class="text-center" style="vertical-align: middle;">{{$index +1}}</td>
																<td style="vertical-align: middle;">{{step.TenderStepName |translate}}</td>
																<td ng-if="!editMethodCtrl.isUsed" class="text-center" style="vertical-align: middle;">
																	<a class="btn btn-sm btn-flat btn-primary" ng-click="editMethodCtrl.moveUp($index)" title="{{'MOVE_UP' | translate }}" ng-if="$index > 0">
																		<i class="fa fa-chevron-up"></i>
																	</a>
																	<a class="btn btn-sm btn-flat btn-primary" ng-click="editMethodCtrl.moveDown($index)" title="{{'MOVE_DOWN' | translate }}" ng-if="$index < (editMethodCtrl.steps.length - 1)">
																		<i class="fa fa-chevron-down"></i>
																	</a>
																	<a class="btn btn-sm btn-flat btn-danger" ng-click="editMethodCtrl.removeStep($index)" title="{{'DELETE' | translate }}">
																		<i class="fa fa-trash-o"></i>
																	</a>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div><br /><br />
											<div class="row" ng-if="!editMethodCtrl.isUsed">
												<div class="col-md-12">
													<button type="submit" ng-click="editMethodCtrl.editMethod()" class="btn btn-flat btn-success pull-right" title="{{'SAVE' | translate }}">
														<i class="fa fa-save"></i>&nbsp; 
													</button>
													<span class="pull-right" style="padding-top: 5px!important;">
														<em>*) {{'NOTICE'|translate}} &nbsp;</em>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</script>

<script type="text/ng-template" id="inactivate.html">
	<div class="model-content">
		<div class="modal-header">
			<h3 class="box-title">{{'INACTIVATE_METHOD' | translate }}</h3>
		</div>
		<div class="modal-body">
			<h4 style="text-align: left;">{{'SURE_INACTIVATE' | translate}}</h4>
		</div>
		<div class="modal-footer">
			<button class="btn btn-flat btn-success" ng-click="inactivateCtrl.closeModal()">{{'NO' | translate }}</button>
			<button class="btn btn-flat btn-danger" ng-click="inactivateCtrl.inactivate()">{{'YES' | translate }}</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="activate.html">
	<div class="model-content">
		<div class="modal-header">
			<h3 class="box-title">{{'ACTIVATE_METHOD' | translate }}</h3>
		</div>
		<div class="modal-body">
			<h4 style="text-align: left;">{{'SURE_ACTIVATE' | translate}}</h4>
		</div>
		<div class="modal-footer">
			<button class="btn btn-flat btn-success" ng-click="activateCtrl.closeModal()">{{'NO' | translate }}</button>
			<button class="btn btn-flat btn-danger" ng-click="activateCtrl.activate()">{{'YES' | translate }}</button>
		</div>
	</div>
</script>

<script type="text/ng-template" id="viewMethodDetail.html">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="methodDetailCtrl.closeModal()" title="{{'CLOSE' | translate }}">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only"></span>
			</button>
			<h3 class="modal-title afta-font" id="myModalLabel">{{'PROCUREMENT_METHOD_DETAIL' | translate }}</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-11 center-block" style="float: none!important;">
					<div class="row well" style="padding-left: 5px; padding-right: 5px;">
						<div class="col-md-12">
							<div class="form-horizontal">
								<label>{{'PROCUREMENT_METHOD_NAME' | translate }} : </label>
								<p style="text-align: justify!important;">{{methodDetailCtrl.methodName}}</p>
							</div>
						</div>
						<div class="col-md-12" style="padding-top: 20px;">
							<div class="form-horizontal">
								<label>{{'STAGES_SEQUENCE' | translate }} : </label>
							</div>
							<ol style="padding-left: 25px!important;">
								<li ng-repeat="stage in methodDetailCtrl.stages">
									{{stage.TenderStepName}}
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button ng-click="methodDetailCtrl.closeModal()" type="button" class="btn btn-flat btn-primary" data-dismiss="modal" title="{{'CLOSE' | translate }}">
				<i class="fa fa-arrow-circle-left"></i>&nbsp;
			</button>
		</div>
	</div>
</script>
<script>
	$(document).ready(function () {
		$('[data-toggle="popover"]').popover({ html: true, placement: "right" });
	});

</script>
