<section class="content" ng-init="EvaluationTechnicalCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
		<li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
		<li>
			<a href="#/data-pengadaan/tahapan/{{EvaluationTechnicalCtrl.TenderRefID}}/{{EvaluationTechnicalCtrl.ProcPackType}}/{{EvaluationTechnicalCtrl.tenderStepData.TenderID}}" class="active">
				{{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
			</a>
		</li>
		<li><a>{{'BREADCRUMB.EVALUATION_TECH'|translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.EVALUATION_TECH'|translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>{{'FORM.START_DATE'|translate}}: {{EvaluationTechnicalCtrl.tenderStepData.StartDate| date: "dd/MM/yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'FORM.END_DATE'|translate}}: {{EvaluationTechnicalCtrl.tenderStepData.EndDate| date: "dd/MM/yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-12">
							<label>Tender: {{EvaluationTechnicalCtrl.tenderStepData.tender.TenderName}}</label>
						</div>
						<div ng-if="EvaluationTechnicalCtrl.tenderStepData.tender.IsCancelled" class="col-md-12">
							<label class="text-red"><i>({{'FORM.TENDER_CANCELED'|translate}})</i></label>
						</div>
					</div>

					<div class="row" style="padding-top: 10px!important;">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table id="tabelPeserta" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th colspan="6" class="text-center">{{'TABLE.VENDOR_DATA'|translate}}</th>
										</tr>
										<tr>
											<th class="center-vertical" width='20px'>No.</th>
											<th class="center-vertical">{{'TABLE.VENDOR_NAME'|translate}}</th>
											<th class="center-vertical" style="width: 65px; min-width: 65px;">{{'TABLE.SKOR'|translate}}</th>
											<th class="center-vertical" style="width: 65px; min-width: 65px;">{{'TABLE.SKOR'|translate}} (Normalized)</th>
											<th class="center-vertical" style="width: 100px; min-width: 100px;">Must Have</th>
											<th class="center-vertical" style="width: 100px; min-width: 100px;">{{'TABLE.ACTION'|translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pe in EvaluationTechnicalCtrl.evaltechnical">
											<td>{{$index + 1}}</td>
											<td>{{pe.VendorName}}</td>
											<td ng-if="!pe.IsFailedSafety" class="center-vertical">{{pe.Score.toFixed(2)}}</td>
											<td ng-if="!pe.IsFailedSafety" class="center-vertical">{{pe.ScoreNormalized.toFixed(2)}}</td>
											<td ng-if="!pe.IsFailedSafety" class="text-center">
												<span ng-if="pe.IsMustHaveValid === true">{{'TABLE.PASS'|translate}}</span>
												<span ng-if="pe.IsMustHaveValid === false">{{'TABLE.NOT_PASS'|translate}}</span>
											</td>
											<td ng-if="!pe.IsFailedSafety" class="center-vertical">
												<a ng-click="EvaluationTechnicalCtrl.detEvaluator(pe)" class="btn btn-xs btn-flat btn-info" style="vertical-align: middle; cursor: pointer!important;" title="Data Evaluator"><i class="fa fa-eye"></i>&nbsp; </a>
												<a ng-click="EvaluationTechnicalCtrl.view(pe)" class="btn btn-xs btn-flat btn-warning" style="vertical-align: middle; cursor: pointer!important;" title="{{'BTN.SEE_DOC'|translate}}"><i class="fa fa-eye"></i>&nbsp; </a>
											</td>
											<td ng-if="pe.IsFailedSafety" class="center-vertical" colspan="4">{{'FAILED_SAFETY' | translate}}</td>
										</tr>
										<tr ng-if="EvaluationTechnicalCtrl.evaltechnical.length===0"><td colspan="6">{{'NO_SUMMARY'|translate}}</td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row" style="padding-top: 15px;">
						<div class="col-md-12">
							<button ng-if="EvaluationTechnicalCtrl.isAllowedEdit" ng-click="EvaluationTechnicalCtrl.detail(2)" type="button" class="btn btn-flat btn-sm btn-success pull-right" title="{{'BTN.EVAL_TEAM'|translate}}">
								<i class='fa fa-pencil'></i>
							</button>
							<!--
							<button ng-click="EvaluationTechnicalCtrl.detail(3)" type="button" class="btn btn-flat btn-sm btn-warning pull-right" title="Data Evaluator">
								<i class='fa fa-eye'></i> &nbsp;
							</button>
							-->
							<button ng-click="EvaluationTechnicalCtrl.detail(4)" type="button" class="btn btn-flat btn-sm btn-warning pull-right" title="{{'BTN.CREATE_SUMM'|translate}}">
								<i class='fa fa-edit'></i>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button ng-disabled="EvaluationTechnicalCtrl.tenderStepData.tender.IsCancelled" ng-if="EvaluationTechnicalCtrl.isNeedApproval" ng-click="EvaluationTechnicalCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.SEND'|translate}}">
								<i class="fa fa-paste"></i>
							</button>
							<button ng-if="EvaluationTechnicalCtrl.isApprovalSent" ng-click="EvaluationTechnicalCtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.DETAIL_APPROVAL'|translate}}">
								<i class="fa fa-sitemap"></i>
							</button>
						</div>
					</div>
					<div class="row">
						<br />
						<hr />
						<div class="col-md-12">
							<div class="text-right">
								<a ng-click="EvaluationTechnicalCtrl.backpengadaan()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
								<button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="EvaluationTechnicalCtrl.print()">
									<i class='fa fa-print'></i>&nbsp;
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

