<section class="content" ng-init="clarCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BERANDA'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{clarCtrl.TenderRefID}}/{{clarCtrl.ProcPackType}}/{{clarCtrl.tenderStepData.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li><a class="active">{{clarCtrl.tenderStepData.step.TenderStepName}}</a></li>
    </ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{clarCtrl.tenderStepData.step.TenderStepName |translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>{{'TANGGAL_MULAI'|translate}}: {{clarCtrl.tenderStepData.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'TANGGAL_SELESAI'|translate}}: {{clarCtrl.tenderStepData.EndDate | date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-12">
							<label>{{'TENDER'|translate}}: {{clarCtrl.tenderStepData.tender.TenderName}}</label>
						</div>
                        <div class="col-md-12 text-red" ng-if="clarCtrl.tenderStepData.tender.IsCancelled">
                            <label><i>({{'KET_BATAL'|translate}})</i></label>
                        </div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center" style="min-width:20px;">{{'NO'|translate}}</th>
											<th class="text-center">{{'VENDOR'|translate}}</th>
                                            <th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="vendor in clarCtrl.vendors">
											<td class="center-vertical">{{$index + 1}}</td>
											<td style="vertical-align:middle;">{{vendor.Name}}</td>
                                            <td class="center-vertical">
                                                <button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="clarCtrl.detail(vendor)" title="{{'DETAIL_PERCAKAPAN'|translate}}">
                                                    <i class='fa fa-list'></i>&nbsp;
                                                </button>
                                            </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="clarCtrl.kembali()">
									<i class='fa fa-arrow-left'></i>&nbsp; {{'KEMBALI'|translate}}
								</button>
                                <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="clarCtrl.print()">
                                    <i class='fa fa-print'></i>&nbsp;
                                </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
