﻿<div class="modal-content" ng-init="wccCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="wccCtrl.batal()">
			<span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-header">
									<div class="col-md-12">
										<h5 class="box-title afta-font">{{'ISI_PESAN'|translate}}</h5>
									</div>
								</div><!-- /.box-header -->
								<div class="box-body pad">
                                    <div class="col-md-12">
									    <textarea ng-model="wccCtrl.message" name="editor1" rows="7" cols="80"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">
                                                {{'LAMPIRAN'|translate}}
                                                <small> ( <span ng-repeat="ft in wccCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{wccCtrl.idUploadConfigs[0].Size}} {{wccCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                            </label>
                                            <input type="file" class="form-control" ng-file-select="wccCtrl.selectUpload()"
                                                   ng-model="wccCtrl.fileUpload" name="ownerIDFile" accept="{{wccCtrl.idFileTypes}}" />
                                        </div>
                                    </div>
									<div class="col-md-6">
										<!--<label class="control-label">{{'INFORM_BY_EMAIL' | translate}}</label><br />-->
										<input type="checkbox" ng-model="wccCtrl.isInformByEmail" /> {{'INFORM_BY_EMAIL' | translate}}
									</div>
								</div>
								<br />
								<div class="row">
									<!--<div class="col-md-6">
										<input type="checkbox" ng-model="wccCtrl.isInformByEmail" /> {{'INFORM_BY_EMAIL' | translate}}
									</div>-->
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-danger" ng-click="wccCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
		<button type="button" class="btn btn-flat btn-success" ng-click="wccCtrl.simpan()" title="{{'KIRIM'|translate}}" ng-disabled="!wccCtrl.message"><i class="fa fa-save"></i>&nbsp;</button>
	</div>
</div>