﻿<div id="idTambahDepartemen" class="modal-content" ng-init="formCfgfileCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="formCfgfileCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{formCfgfileCtrl.action}} Cfg File</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">Page Name</label>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" ng-model="formCfgfileCtrl.page_name" class="form-control" placeholder="Page Name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="formCfgfileCtrl.isAdd == 1 || formCfgfileCtrl.isAdd == 3">
            <div class="col-md-10" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">File Size</label>
                        <div class="col-sm-8 col-md-8">
                            <select ng-model="formCfgfileCtrl.filesize" class="form-control" ng-options="val as val.Size for val in formCfgfileCtrl.cfgfilesize" ng-change="formCfgfileCtrl.onChange()">
                                <option value="" disabled selected>--{{'SIZE' | translate }}--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="formCfgfileCtrl.isAdd == 1 || formCfgfileCtrl.isAdd == 3">
            <div class="col-md-10" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">Size Unit</label>
                        <div class="col-sm-8 col-md-8">
                            <input disabled type="text" ng-model="formCfgfileCtrl.size_unit.Name" class="form-control" placeholder="Size Unit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">File Type</label>
                        <div class="col-sm-8 col-md-8">
                            <select ng-model="formCfgfileCtrl.filetype" class="form-control" ng-options="val as val.Name for val in formCfgfileCtrl.cfgfiletype">
                                <option value="" disabled selected>--{{'TYPE' | translate }}--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="formCfgfileCtrl.batal()" title="Batal">
            <i class="fa fa-reply"></i>
        </button>
        <button type="button" class="btn btn-flat btn-success" ng-click="formCfgfileCtrl.simpan()" title="Simpan">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>
