﻿<section class="content" ng-init="AuctionCtrl.init()">
    <ol class="breadcrumb">
        <li>
            <a href="#/homeadmin">
                <i class="fa fa-home"></i>
                {{'BREADCRUMB.HOME'|translate}}
            </a>
        </li>
        <li><a href="#/data-pengadaan">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li><a href="#/data-pengadaan/tahapan/{{AuctionCtrl.tenderRefID}}/{{AuctionCtrl.procPackType}}/{{AuctionCtrl.tenderID}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.AUCTION'|translate}}</a></li>
    </ol>

    <div class="row">
        <div class="col-md-12 col-xs-12 center-block" style="float:none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="afta-font judul-datatabel">Auction</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="text-blue afta-font judul-datatabel">{{'INFORMATION_AUCTION'|translate}}</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <small><i class="fa fa-clock-o"></i> {{'START_DATE'|translate}}: {{AuctionCtrl.startDate | date:"dd-MM-yyyy HH:mm"}}</small>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <small><i class="fa fa-clock-o"></i> {{'END_DATE'|translate}}: {{AuctionCtrl.endDate | date:"dd-MM-yyyy HH:mm"}}</small>
                                                </div>
                                                <div class="col-md-12 margintop25">
                                                    <table>
                                                        <tr>
                                                            <td class="text-bold">{{'TENDER_NAME'|translate}}</td>
                                                            <td style="padding-left:15px; padding-right:15px;">:</td>
                                                            <td>{{AuctionCtrl.tenderName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-bold">HPS</td>
                                                            <td style="padding-left:15px; padding-right:15px;">:</td>
                                                            <td>{{AuctionCtrl.hps}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-bold">{{'BATAS_BAWAH'|translate}}</td>
                                                            <td style="padding-left:15px; padding-right:15px;">:</td>
                                                            <td><input currency-mask type="text" class="form-control input-sm" ng-model="AuctionCtrl.batasAtas" ng-disabled="AuctionCtrl.status == 'PROCUREMENT_TYPE_PROCESS' || AuctionCtrl.status == 'PROCUREMENT_TYPE_END'" /></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="AuctionCtrl.isOverTime == true" ng-hide="AuctionCtrl.isOverTime == true && AuctionCtrl.remark"> <!--kurang validasi ketika sudah input seharusnya  button hilang-->
                            <!--<div class="row">-->
                            <!--<div class="row" ng-show="AuctionCtrl.isOverTime == true">-->
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-sm btn-flat btn-success" ng-disabled="AuctionCtrl.isOverTime == false" ng-click="AuctionCtrl.addSummary()">
                                        <i class="fa fa-plus"></i> Input Summary Auction
                                    </button>
                                </div>
                            </div><br />
                            <div class="row" ng-if="AuctionCtrl.isOverTime == true && AuctionCtrl.remark">
                                <div class="col-md-12">
                                    <div class="box box-info">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Summary</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9"></div>
                                                <div class="col-md-3">
                                                    <div class="pull-right">
                                                        <a href="{{AuctionCtrl.folderFile + AuctionCtrl.docUrl}}" target="_BLANK" class="btn btn-sm btn-primary btn-flat"><i class="fa fa-download"></i>&nbsp;Download Dokumen</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" style="vertical-align:middle;">No</th>
                                                                <th class="text-center" style="vertical-align:middle;">{{'VENDOR_NAME'|translate}}</th>
                                                                <th class="text-center" style="vertical-align:middle;">{{'TABLE.KETERANGAN'|translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="data in AuctionCtrl.dataAuctionDetail">
                                                                <td class="text-center" style="vertical-align:middle;">{{$index+1}}</td>
                                                                <td style="vertical-align:middle;">{{data.VendorName}}</td>
                                                                <td class="text-center" style="vertical-align:middle;">{{data.Remark}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-top:10px;" ng-if="AuctionCtrl.isPublish == false || AuctionCtrl.isPublish == null || AuctionCtrl.isPublish == undefined || AuctionCtrl.isPublish == ''">
                                                <div class="col-md-12">
                                                    <div class="text-center">
                                                        <button class="btn btn-sm btn-flat btn-info" ng-click="AuctionCtrl.editSummary()" title="Edit"><i class="fa fa-edit"></i></button>
                                                        <button class="btn btn-sm btn-flat btn-warning" ng-click="AuctionCtrl.publishSummary()" title="Publish"><i class="fa fa-send"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <div class="row">
                                                <label class="text-blue afta-font judul-datatabel">{{'BID_HISTORY'|translate}}</label>
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="vertical-align:middle;">No.</th>
                                                            <th class="text-center" style="vertical-align:middle;">{{'VENDOR_NAME'|translate}}</th>
                                                            <th class="text-center" style="vertical-align:middle;">{{'TABLE.NOMINAL'|translate}}</th>
                                                            <th class="text-center" style="vertical-align:middle;">{{'TABLE.WAKTU'|translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="data.BidPrice" ng-repeat="data in AuctionCtrl.dataAuctionDetail">
                                                            <td class="text-center" style="vertical-align:middle;">{{$index+1}}</td>
                                                            <td style="vertical-align:middle;">{{data.VendorName}}</td>
                                                            <td class="text-center" style="vertical-align:middle;">Rp. {{data.BidPrice | currency:'':''}}</td>
                                                            <td class="text-center" style="vertical-align:middle;"><i class="fa fa-clock-o"></i>&nbsp;{{data.SubmitDate | date:"dd-MM-yyyy HH:mm:ss"}}</td>
                                                        </tr>
                                                        <tr ng-if="AuctionCtrl.dataAuctionDetail == null"><td colspan="4">{{'BELUM_ADA_DATA'|translate}}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="box box-success">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="text-blue afta-font judul-datatabel">{{'DAFTAR_PESERTA'|translate}}</label>
                                                    <div ng-if="AuctionCtrl.procPackType == 3168">
                                                        <p ng-repeat="eva in AuctionCtrl.evaluasi.VHSOfferEvaluationVendors">
                                                            {{$index+1}}. {{eva.VendorName}}
                                                        </p>
                                                    </div>
                                                    <div ng-if='AuctionCtrl.procPackType == 4189 && AuctionCtrl.evaluationStepName == "Evaluasi Harga Jasa"'>
                                                        <p ng-repeat="eva in AuctionCtrl.evaluasi.ServiceOfferEntryEvaluationVendors">
                                                            {{$index+1}}. {{eva.VendorName}}
                                                        </p>
                                                    </div>
                                                    <div ng-if='AuctionCtrl.procPackType == 4189 && AuctionCtrl.evaluationStepName == "Total Nilai Evaluasi Jasa"'>
                                                        <p ng-repeat="eva in AuctionCtrl.evaluasi">
                                                            {{$index+1}}. {{eva.Vendor.VendorName}}
                                                        </p>
                                                    </div>
                                                    <div ng-if="AuctionCtrl.procPackType == 4190">
                                                        <p ng-repeat="eva in AuctionCtrl.evaluasi.GoodsOfferEvaluationVendors">
                                                            {{$index+1}}. {{eva.VendorName}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="box box-success">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="text-blue afta-font text-left">{{'BEST_BID'|translate}}</label>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <small><i class="fa fa-clock-o"></i> {{AuctionCtrl.bestTime | date:"dd-MM-yyyy HH:mm"}}</small>
                                                    <button class="btn btn-xs btn-info" ng-click="AuctionCtrl.viewDetail()">
                                                        <i class="fa fa-external-link"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table>
                                                        <tr>
                                                            <td class="text-bold" style="width: 130px;">{{'VENDOR_NAME'|translate}}</td>
                                                            <td style="padding-right:15px;">:</td>
                                                            <td>{{AuctionCtrl.bestVendorName}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-bold" style="width: 130px;">{{'BID_PRICE'|translate}}</td>
                                                            <td style="padding-right:15px;">:</td>
                                                            <td>{{AuctionCtrl.bestBidPrice}}</td>
                                                        </tr>
                                                    </table>
                                                    <div class="form-group">
                                                        <label>{{'INFORMATION'|translate}} : </label>
                                                        <!--<select class="form-control"></select>-->
                                                        <select class="form-control" 
                                                                ng-model="AuctionCtrl.biddingInformation" 
                                                                ng-disabled="AuctionCtrl.status == 'PROCUREMENT_TYPE_PROCESS' || AuctionCtrl.status == 'PROCUREMENT_TYPE_END'"
                                                                ng-options="item.RefID as item.Name | translate  for item in AuctionCtrl.listBiddingInformation">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<button class="btn btn-sm btn-success btn-flat pull-right" ng-click="AuctionCtrl.saveMinimumPrice()" ng-disabled="AuctionCtrl.minimumPrice"><i class="fa fa-save"></i></button>-->
                                    <button class="btn btn-sm btn-success btn-flat pull-right" ng-click="AuctionCtrl.saveMinimumPrice()" ng-disabled="AuctionCtrl.status == 'PROCUREMENT_TYPE_PROCESS' || AuctionCtrl.status == 'PROCUREMENT_TYPE_END'"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <a href="#/data-pengadaan/tahapan/{{AuctionCtrl.tenderRefID}}/{{AuctionCtrl.procPackType}}/{{AuctionCtrl.tenderID}}" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                </div>
            </div>
        </div>
    </div>
</section>