﻿<div class="modal-content" ng-init="AuctionModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="AuctionModalCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'Keluar'|translate}}</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">Form Summary</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>{{'TANGGAL'|translate}}</label>
                    <div class="input-group date form_datetime">
                        <input type="text" class="form-control" ng-model="AuctionModalCtrl.tanggal" 
                               uib-datepicker-popup="yyyy-MM-dd" close-text="TUTUP"
                               is-open="AuctionModalCtrl.isDobCalendarOpened"
                               ng-click="AuctionModalCtrl.openDobCalendar()"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label>{{'UPLOAD_DOKUMEN'|translate}}</label>
                    <small>
                        ( <span ng-repeat="ft in AuctionModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
                        <span> / Max. {{AuctionModalCtrl.idUploadConfigs[0].Size}} {{AuctionModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                    </small>
                    <input type="file" class="form-control" ng-file-select="AuctionModalCtrl.selectUpload()" ng-model="AuctionModalCtrl.file" title="Unggah Dokumen" accept="{{AuctionModalCtrl.idFileTypes}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="afta-font judul-datatabel">Summary <small><i>{{'TITLE'|translate}}</i></small></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div text-angular="text-angular" name="htmlcontent2" ng-model="AuctionModalCtrl.remark"
                                         ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <label>{{'DAFTAR_REKANAN'|translate}}</label>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>{{'VENDOR_NAME'|translate}}</th>
                            <th>{{'TABLE.KETERANGAN'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in AuctionModalCtrl.auctionDetail">
                            <td>{{$index+1}}</td>
                            <td>{{data.VendorName}}</td>
                            <td>
                                <textarea class="form-control" ng-model="data.Remark"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="AuctionModalCtrl.batal()" title="{{'BTN.BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button type="submit" class="btn btn-success" ng-click="AuctionModalCtrl.save()" title="{{'BTN.SIMPAN'|translate}}">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>