﻿<div class="modal-content" ng-init="ViewVendorCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="ViewVendorCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'Keluar'|translate}}</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="afta-font modal-title">Auction</h3>
                <label style="padding-top:30px;">Nama Pengadaan : </label>
                <strong>Pengadaan Bahan Bakar</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-left">
                <label class="text-bold">
                    <i class="fa fa-clock-o"></i> Tahapan Auction Mulai : 
                </label>
                <small>13-09-2017 01:31</small>
            </div>
            <div class="col-md-6 text-right">
                <label class="text-bold">
                    <i class="fa fa-clock-o"></i> Tahapan Auction Mulai : 
                </label>
                <small>13-09-2017 01:31</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="padding-top:10px;">
                <button class="btn btn-md btn-flat btn-primary">
                    <i class="fa fa-thumbs-o-up"></i> Join Auction
                </button>
            </div>
        </div>
    </div>
</div>
