<section class="content" ng-init="PrequalVerificationCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
        <li><a class="active">Verifikasi Prakualifikasi</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Verifikasi Prakualifikasi</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-6">
                            <strong>
                                Tanggal Mulai:
                            </strong>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <strong>
                                    Tanggal Selesai:
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="5%" style="vertical-align: middle;">No.</th>
                                            <th class="text-center" width="45%" style="vertical-align: middle;">Nama Vendor</th>
                                            <th class="text-center" width="25%" style="vertical-align: middle;">Tanggal Verifikasi</th>
                                            <th class="text-center" width="15%" style="vertical-align:middle;">Status</th>
                                            <th class="text-center" width="10%" style="vertical-align:middle;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in PrequalVerificationCtrl.dataverifikasi">
                                            <td style="vertical-align: middle;" class="text-center">{{PrequalVerificationCtrl.currentPage > 1 ? (PrequalVerificationCtrl.maxSize * (PrequalVerificationCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{v.VendorName}}</td>
                                            <td style="vertical-align: middle;" width="600px" class="text-center">{{v.CreatedDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{v.IsPassed}}</td>
                                            <td style="vertical-align: middle;" class="text-center">
                                                <button class="btn btn-sm btn-warning" ng-click="PrequalVerificationCtrl.verificationdetail(v)" title="Detail">
                                                    <i class="fa fa-sticky-note-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="PrequalVerificationCtrl.verifikasi.length==0">
                                            <td style="vertical-align: middle;" class="text-left" colspan="5">Data tidak ada</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--
                                <ul uib-pagination boundary-links="true" total-items="PrequalVerificationCtrl.totalItems" ng-model="PrequalVerificationCtrl.currentPage"
                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                    ng-change="PrequalVerificationCtrl.verifikasidata(PrequalVerificationCtrl.currentPage)"></ul>
                                <br />
                                -->
                                <label>Total Data: {{PrequalVerificationCtrl.totalItems}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>