<section class="content" ng-init="ProcSupportReportCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.PROCSUPPORTREPORT' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{'PROCSUPPORTREPORT_TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-2">
                            <label>{{'TABLE.DURATION'|translate}} </label>
                            <select id="cmbStatus" name="cmbStatus" ng-model="ProcSupportReportCtrl.durasi" class="form-control"
                                    ng-options="item as item.Name | translate for item  in ProcSupportReportCtrl.ddDurasi">
                                <option value="" selected disabled>
                                    {{'TABLE.DURATION'|translate}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6" ng-if="ProcSupportReportCtrl.durasi != null">
                            <div class="row" ng-if="ProcSupportReportCtrl.durasi.Value == 0">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="ProcSupportReportCtrl.datepickeroptionsTahun" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="ProcSupportReportCtrl.isCalendarOpened[2]" ng-model="ProcSupportReportCtrl.filterTahun" ng-change="ProcSupportReportCtrl.cekFilterTahun()"
                                                   ng-click="ProcSupportReportCtrl.openCalendar(2)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="ProcSupportReportCtrl.openCalendar(2)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><br /></label>
                                    <select id="cmbStatus" name="cmbStatus" ng-model="ProcSupportReportCtrl.ma" class="form-control"
                                            ng-options="item as item.label | translate for item  in ProcSupportReportCtrl.weeks">
                                        <option value="" selected disabled>
                                            Weeks
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label><br /></label>
                                    <label style="padding-top:10px;">{{'s/d'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label><br /></label>
                                    <select id="cmbStatus" name="cmbStatus" ng-model="ProcSupportReportCtrl.mb" class="form-control" ng-change="ProcSupportReportCtrl.cekFilterDurasi()"
                                            ng-options="item as item.label | translate for item  in ProcSupportReportCtrl.weeks">
                                        <option value="" selected disabled>
                                            Weeks
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" ng-if="ProcSupportReportCtrl.durasi.Value == 1">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="ProcSupportReportCtrl.datepickeroptionsTahun" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="ProcSupportReportCtrl.isCalendarOpened[3]" ng-model="ProcSupportReportCtrl.filterTahun" ng-change="ProcSupportReportCtrl.cekFilterTahun()"
                                                   ng-click="ProcSupportReportCtrl.openCalendar(3)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="ProcSupportReportCtrl.openCalendar(3)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="ProcSupportReportCtrl.datepickeroptions" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="ProcSupportReportCtrl.isCalendarOpened[0]" ng-model="ProcSupportReportCtrl.ba"
                                                   ng-click="ProcSupportReportCtrl.openCalendar(0)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="ProcSupportReportCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label><br /></label>
                                    <label style="padding-top:10px;">{{'s/d'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="ProcSupportReportCtrl.datepickeroptions" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="ProcSupportReportCtrl.isCalendarOpened[1]" ng-model="ProcSupportReportCtrl.bb"
                                                   ng-click="ProcSupportReportCtrl.openCalendar(1)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="ProcSupportReportCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label><br /></label>
                            <button class="btn btn-primary" ng-click="ProcSupportReportCtrl.filter()">{{'BTN.SEARCH'|translate}}</button>
                        </div>
                    </div>
                    <!--
                    <div class="row margin-atas">
                        <div class="col-md-8">
                            <h4>{{'DIAGRAM.INACTIVE_VENDOR' | translate}}</h4>
                            <canvas id="bar" class="chart chart-bar" chart-data="ProcSupportReportCtrl.datagrafik"  chart-series="ProcSupportReportCtrl.seriesNewVendor" chart-labels="ProcSupportReportCtrl.label" chart-dataset="ProcSupportReportCtrl.datasetNewVendor" chart-options="ProcSupportReportCtrl.optionNewVendor"></canvas>
                        </div>
                    </div>-->
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-workload">
                                    <thead>
                                        <tr>
                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">{{'TABLE.NAMA_PEGAWAI' | translate}}</th>
                                            <th class="text-center" colspan="2" style="vertical-align: middle;">{{'TABLE.AKTIVASI_TITLE' | translate}}</th>
                                            <th class="text-center" colspan="2" style="vertical-align: middle;">{{'TABLE.VERIFIKASI_TITLE' | translate}}</th>
                                            <th class="text-center" colspan="4" style="vertical-align: middle;">{{'TABLE.UBAH_DATA_TITLE' | translate}}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.AKTIVASI.APPROVE' | translate}}</th>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.AKTIVASI.REJECT' | translate}}</th>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.VERIFIKASI.APPROVE' | translate}}</th>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.VERIFIKASI.REJECT' | translate}}</th>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.UBAH_DATA.APPROVE'| translate}}</th>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.UBAH_DATA.REJECT' | translate}}</th>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.UBAH_DATA.FINAL_APPROVE' | translate}}</th>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.UBAH_DATA.FINAL_REJECT' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in ProcSupportReportCtrl.data">
                                            <td style="vertical-align: middle;" class="text-left">{{$index+1}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{d.EmployeeName}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.Aktivasi}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.TolakAktivasi}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.Verifikasi}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.TolakVerifikasi}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.ApproveChangeReq}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.RejectChangeReq}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.ApproveChangeReqData}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.RejectChangeReqData}}</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>