﻿<div class="modal-content" ng-init="formNeracaCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formNeracaCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{formNeracaCtrl.action | translate}} {{'BREADCRUMB.BALANCE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6">
                        <label>{{'ASSET_TYPE' | translate}} <span style="color:red;">*</span>
                        <select class="form-control input-sm" ng-model="formNeracaCtrl.selectedAsset"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listAsset" ng-style="{ background: formNeracaCtrl.selectedAsset === '' || formNeracaCtrl.selectedAsset === null || formNeracaCtrl.selectedAsset === undefined ? '#f2dede' : 'white' }"
                                ng-change="formNeracaCtrl.loadCOA(formNeracaCtrl.selectedAsset)">
                            <option value="" ng-selected="true">
                                -- {{'ASSET_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>{{'COA_TYPE' | translate}} <span style="color:red;">*</span>
                        <select class="form-control input-sm" ng-model="formNeracaCtrl.selectedCOA"
                                ng-disabled="!formNeracaCtrl.listCOA"  ng-style="{ background: formNeracaCtrl.selectedCOA === '' || formNeracaCtrl.selectedCOA === null || formNeracaCtrl.selectedCOA === undefined ? '#f2dede' : 'white' }"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listCOA"
                                ng-change="formNeracaCtrl.loadSubCOA(formNeracaCtrl.selectedCOA)">
                            <option value="" ng-selected="true">
                                -- {{'COA_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>{{'SUB_COA_TYPE' | translate}} <span style="color:red;">*</span>
                        <select class="form-control input-sm" ng-style="{ background: formNeracaCtrl.selectedSubCOA === '' || formNeracaCtrl.selectedSubCOA === null || formNeracaCtrl.selectedSubCOA === undefined ? '#f2dede' : 'white' }"
                                ng-model="formNeracaCtrl.selectedSubCOA"
                                ng-disabled="!formNeracaCtrl.listSubCOA || formNeracaCtrl.param === ''"
                                ng-change="formNeracaCtrl.changeSubCOA(formNeracaCtrl.selectedSubCOA)"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listSubCOA">
                            <option value="" ng-selected="true">
                                -- {{'SUB_COA_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>{{'UNIT' | translate}} <span style="color:red;">*</span>
                        <select class="form-control input-sm" ng-style="{ background: formNeracaCtrl.selectedUnit === '' || formNeracaCtrl.selectedUnit === null || formNeracaCtrl.selectedUnit === undefined ? '#f2dede' : 'white' }" ng-model="formNeracaCtrl.selectedUnit"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listUnit">
                            <option value="" ng-selected="true">
                                -- {{'UNIT' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>{{'AMOUNT' | translate}} <span style="color:red;">*</span>
                        <input type="text" class="form-control input-sm" ng-style="{ background: formNeracaCtrl.Amount === '' || formNeracaCtrl.Amount === null || formNeracaCtrl.Amount === undefined ? '#f2dede' : 'white' }" placeholder="{{'AMOUNT' | translate}}" ng-model="formNeracaCtrl.Amount" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>{{'NOMINAL' | translate}} <span style="color:red;">*</span>
                        <input currency-mask type="text" ng-style="{ background: formNeracaCtrl.Nominal === '' || formNeracaCtrl.Nominal === null || formNeracaCtrl.Nominal === undefined ? '#f2dede' : 'white' }" class="form-control input-sm" placeholder="{{'NOMINAL' | translate}}" ng-model="formNeracaCtrl.Nominal" />
                    </div>
                    <div class="col-md-6">
                        <label>{{'UPLOAD' | translate}}<span style="color:red;">*</span> ( <span ng-repeat="ft in formNeracaCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{formNeracaCtrl.idUploadConfigs[0].Size}} {{formNeracaCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</label> 
                        <input type="file" class="form-control" ng-file-select="formNeracaCtrl.selectUpload()"
                               ng-model="formNeracaCtrl.fileUpload" name="ownerIDFile" required/>

                        <a ng-show="formNeracaCtrl.item.DocUrl;" href="{{formNeracaCtrl.folderFile + formNeracaCtrl.fileUpload}}" target="_BLANK" class="form-control btn btn-sm btn-primary" title="{{'BTN.VIEW' | translate}}"><i class="fa fa-download"></i>&nbsp;Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formNeracaCtrl.batal()" title="{{'BTN.CANCEL' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="formNeracaCtrl.uploadFile()" title="{{'BTN.SAVE' | translate}}"><i class="fa fa-save"></i>&nbsp;{{'BTN.SAVE' | translate}}</button>
    </div>
</div>