<section class="content" ng-init="aturppCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.ATUR_PAKET_PENGADAAN'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'ATUR_PAKET_PENGADAAN'|translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'KODE_TENDER'|translate}}</label>
                                <input ng-readonly="true" ng-model="aturppCtrl.tenderPackageCR.TenderCode" type="text" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>{{'NAMA_TENDER'|translate}}</label>
                                <input ng-readonly="true" ng-model="aturppCtrl.tenderPackageCR.ProjectTitle" type="text" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="aturppCtrl.tenderPackageCR.IsVariation">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input ng-disabled="aturppCtrl.tenderPackageCR.VariationIsCancelled || aturppCtrl.tenderPackageCR.IsPublished || !aturppCtrl.isAllowEdit || aturppCtrl.isOERevision || aturppCtrl.tenderPackageCR.CELineHasNoOpenQuotation" ng-model="aturppCtrl.tenderPackageCR.IsInternalOnly" type="checkbox"/>
                                <label>
                                    &nbsp;Internal Only&nbsp;
                                </label>
                                <i ng-if="aturppCtrl.tenderPackageCR.IsVariation && aturppCtrl.tenderPackageCR.CELineHasNoOpenQuotation">({{'NO_OPEN_QUOTATION_NOTE'|translate}})</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">{{'JENIS_TENDER'|translate}}</label>
                                <select ng-model="aturppCtrl.tenderPackageCR.TenderType" class="form-control input-sm" ng-disabled="aturppCtrl.tenderPackageCR.VariationIsCancelled || aturppCtrl.tenderPackageCR.IsPublished || !aturppCtrl.isAllowEdit || aturppCtrl.isOERevision"
                                        ng-options="item.RefID as ('TENDER_TYPE.' + item.Name) | translate for item in aturppCtrl.typeOptions"></select>
                            </div>
                        </div>
                        <div class="col-md-4" ng-hide="aturppCtrl.tenderPackageCR.IsInternalOnly">
                            <div class="form-group">
                                <label class="control-label">{{'SKEMA_METODE'|translate}}</label>
                                <select ng-model="aturppCtrl.tenderPackageCR.ProcurementMethodID" class="form-control input-sm" ng-disabled="aturppCtrl.tenderPackageCR.VariationIsCancelled || aturppCtrl.tenderPackageCR.IsPublished || !aturppCtrl.isAllowEdit || aturppCtrl.isOERevision"
                                        ng-options="item.MethodID as item.MethodName |translate for item in aturppCtrl.schemaOptions"></select>
                            </div>
                        </div>
                        <div class="col-md-4" ng-hide="aturppCtrl.tenderPackageCR.IsInternalOnly">
                            <div class="form-group">
                                <label class="control-label">{{'METODE_EVALUASI'|translate}}</label>
                                <select ng-model="aturppCtrl.tenderPackageCR.EvalMethodID" class="form-control input-sm" ng-disabled="aturppCtrl.tenderPackageCR.VariationIsCancelled || aturppCtrl.tenderPackageCR.IsPublished || !aturppCtrl.isAllowEdit || aturppCtrl.isOERevision"
                                        ng-options="item.EvaluationMethodId as item.EvaluationMethodName for item in aturppCtrl.evalOptions"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-hide="aturppCtrl.tenderPackageCR.IsInternalOnly">
                        <div class="col-md-6">
                            <h4 class="control-label afta-font">{{'DAFTAR_TAHAPAN'|translate}}</h4>
                        </div>
                        <div class="col-md-6">
                            <button ng-hide="aturppCtrl.tenderPackageCR.VariationIsCancelled || aturppCtrl.tenderPackageCR.IsPublished || !aturppCtrl.isAllowEdit || aturppCtrl.isOERevision" class="btn btn-sm btn-primary pull-right" ng-click="aturppCtrl.loadTahapan()" ng-disabled="!aturppCtrl.tenderPackageCR.ProcurementMethodID" title="{{'TAMPILKAN_TAHAPAN'|translate}}">
                                <i class="fa fa-arrow-circle-o-down"></i> 
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="aturppCtrl.tenderPackageCR.IsInternalOnly">
                        <div class="col-md-12">
                            <i>{{'INTERNAL-ONLY_TENDER_NOTE'|translate}}</i>
                        </div>
                    </div>
                    <div class="row" ng-hide="aturppCtrl.tenderPackageCR.IsInternalOnly">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="25">{{'TABLE.NO'|translate}}</th>
                                                <th class="text-center">{{'TABLE.NAMA_TAHAPAN'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.FIRSTDATE' | translate}}</th>
                                                <th class="center-vertical">{{'TABLE.ENDDATE' | translate}}</th>
                                                <th class="center-vertical" width="100">{{'TABLE.DURATION' | translate}}</th>
                                                <th class="text-center" width="80"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dt in aturppCtrl.tenderPackageCR.TenderPackageCRSteps">
                                                <td class="text-center">{{$index+1}}</td>
                                                <td>{{dt.TenderStepName |translate}}</td>
                                                <td class="center-vertical">
                                                    <div ng-if="$index === 0" class="form-group">
                                                        <div class="input-group date form_datetime">
                                                            <input readonly style="background-color:white;" required class="form-control" size="10" type="text" ng-click="aturppCtrl.openCalendarStart()" uib-datepicker-popup="dd-MMM-yyyy" close-text="{{'CLOSE'|translate}}" is-open="aturppCtrl.isCalendarStartOpened" ng-change="aturppCtrl.getEndDate($index)" ng-model="dt.StartDateForm" />
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="aturppCtrl.openCalendarStart()">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <span ng-if="$index > 0 && dt.StartDateForm">{{dt.StartDateForm ? (dt.StartDateForm | date:'dd-MMM-yyyy') : ''}}</span>
                                                </td>
                                                <td class="center-vertical">
                                                    {{dt.EndDateForm ? (dt.EndDateForm | date:'dd-MMM-yyyy') : ''}}
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    <input ng-disabled="!dt.StartDateForm" ng-readonly="aturppCtrl.tenderPackageCR.VariationIsCancelled || aturppCtrl.tenderPackageCR.IsPublished || !aturppCtrl.isAllowEdit || aturppCtrl.isOERevision"
                                                           type="number" min="0" class="form-control" ng-model="dt.Duration" ng-change="aturppCtrl.getEndDate($index)" />
                                                </td>
                                                <td class="text-center">
                                                    <button ng-if="dt.IsNeedDocument" class="btn btn-sm btn-success" ng-click="aturppCtrl.aturDokumen(dt)" title="{{'DETAIL'|translate}}"><i class="fa fa-edit"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button ng-hide="aturppCtrl.tenderPackageCR.VariationIsCancelled || aturppCtrl.tenderPackageCR.IsPublished || !aturppCtrl.isAllowEdit || aturppCtrl.isOERevision" class="btn btn-sm btn-success" ng-click="aturppCtrl.save()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>
                            <button ng-hide="aturppCtrl.tenderPackageCR.VariationIsCancelled || aturppCtrl.tenderPackageCR.IsPublished || !aturppCtrl.isAllowEdit || aturppCtrl.isOERevision" class="btn btn-sm btn-warning" ng-click="aturppCtrl.confirm()" title="Publish"><i class="fa fa-volume-up"></i></button>
                            <button class="btn btn-sm btn-default" ng-click="aturppCtrl.back()" title="{{'KEMBALI' | translate}}"><i class="fa fa-arrow-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>