﻿<div class="modal-content" ng-init="KDKomersialCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="KDKomersialCtrl.batal()" title="{{'BTN.CLOSE'|translate}}">
			<span aria-hidden="true">&times;</span><span class="sr-only"></span>
		</button>
		<h4 class="afta-font  modal-title ">{{'TABLE.TITLE_COMM'|translate}}</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label col-md-4">{{'FORM.STARTDATE'|translate}}</label>
							<label class="col-md-6"> : {{KDKomersialCtrl.StartDate}}</label>
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5 pull-right">
						<div class="form-group">
							<label class="control-label col-md-5">{{'FORM.ENDDATE'|translate}}</label>
							<label class="col-md-6"> : {{KDKomersialCtrl.EndDate}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label col-md-1">Tender</label>
							<label class="col-md-6" style="margin-left:10px!important"> : {{KDKomersialCtrl.TenderName}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th colspan="6"><label>{{'TABLE.CHECK_LIST'|translate}}</label></th>
									</tr>
									<tr>
										<th class="text-center" width="5%">No.</th>
										<th class="text-center">{{'TABLE.FORMNAME'|translate}}</th>
										<th class="text-center" width="10%">{{'TABLE.DETAILFORM'|translate}}</th>
										<th class="text-center" width="10%">{{'TABLE.SUBMITDATE'|translate}}</th>
										<th class="text-center" width="7%">{{'TABLE.DAFTAR_PERIKSA'|translate}}</th>
										<th class="text-center" width="20%">{{'TABLE.REMARK'|translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="pgm in KDKomersialCtrl.listKomersial">
										<td class="text-center">{{KDKomersialCtrl.currentPage > 1 ? (KDKomersialCtrl.maxSize * (KDKomersialCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
										<td>{{pgm.DocumentName}}</td>
										<td class="text-center">
											<button ng-click="KDKomersialCtrl.detailKelengkapan(pgm)" class="btn btn-xs btn-warning" title="Detail">
												<i class="fa fa-folder-open-o"></i>
											</button>
										</td>
										<td class="text-center">{{pgm.UploadDate}}</td>
										<td class="text-center">
											<input type="checkbox" ng-checked="pgm.IsRequired" ng-model="pgm.IsRequired" ng-click="KDKomersialCtrl.updateChecklist(pgm)" />
										</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12">
						<button ng-click="KDKomersialCtrl.batal()" class="btn btn-sm btn-default pull-right" title="{{'BTN.KEMBALI'|translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

