<section class="content" ng-init="dEvalTBCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{dEvalTBCtrl.TenderRefID}}/{{dEvalTBCtrl.ProcPackType}}/{{dEvalTBCtrl.tenderStepData.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/evaluasi-teknis-barang/{{dEvalTBCtrl.TenderRefID}}/{{dEvalTBCtrl.StepID}}/{{dEvalTBCtrl.ProcPackType}}" class="active">
                {{dEvalTBCtrl.tenderStepData.step.TenderStepName|translate}}
            </a>
        </li>
        <li><a class="active">{{'EVALUASI'|translate}}</a></li>
    </ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{dEvalTBCtrl.tenderStepData.step.TenderStepName |translate}}</h3>
                        </div>
					</div>
					<div class="row">
                        <div class="col-md-12">
                            <label>{{'EVALUATOR'|translate}} : {{dEvalTBCtrl.evaluatorName.FullName}}</label>&nbsp;<i ng-if="dEvalTBCtrl.evaluatorName.IsAsDelegate">({{'DELEGASI' | translate}})</i>
                        </div>
						<div class="col-md-12">
							<label>
                                {{'TENDER_NAME'|translate}} : {{dEvalTBCtrl.tenderStepData.tender.TenderName}}
                                <span class="text-red" ng-if="dEvalTBCtrl.tenderStepData.tender.IsCancelled">
                                    <i>({{'KET_BATAL'|translate}})</i>
                                </span>
                                <span ng-if="dEvalTBCtrl.isProcess === false">
                                    <i class="text-red">({{'KET_LEWAT'|translate}})</i>
                                </span>
                            </label>
						</div>
                        <div class="col-md-12">
                            <label>{{'VENDOR'|translate}} : {{dEvalTBCtrl.evaluationScore.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <label>{{'MIMIMUM_PENAWARAN'|translate}} : {{dEvalTBCtrl.minimumOffer}} %</label>
                        </div>
                        <div class="col-md-12">
                            <label>{{'HASIL'|translate}} : {{(dEvalTBCtrl.evaluationScore.IsPassed === true ? 'LOLOS' : 'TIDAK_LOLOS') | translate}}</label>
                        </div>
                        <div class="col-md-3" ng-if="dEvalTBCtrl.evaluationScore.IsPassed">
                            <label>{{'SKOR'|translate}} (0-100) : </label>
                            <div class="input-group">
                                <input ng-readonly="dEvalTBCtrl.tenderStepData.tender.IsCancelled || !dEvalTBCtrl.isProcess" type="number" maxlength="50" class="form-control input-sm" min="0" max="100" ng-model="dEvalTBCtrl.evaluationScore.Score"/>
                                <div class="input-group-btn">
                                    <button ng-disabled="dEvalTBCtrl.tenderStepData.tender.IsCancelled || !dEvalTBCtrl.isProcess" class="btn btn-primary btn-sm" title="{{'SIMPAN_SKOR' | translate}}" ng-click="dEvalTBCtrl.saveScore()"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="center-vertical">{{'TABLE.NO'|translate}}</th>
											<th class="center-vertical">{{'TABLE.NAMA_ITEM'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.ALTERNATIF'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.DOKUMEN'|translate}}</th>
											<th class="center-vertical">{{'TABLE.STATUS'|translate}}
                                                <input ng-disabled="dEvalTBCtrl.tenderStepData.tender.IsCancelled || !dEvalTBCtrl.isProcess" class="form-control" type="checkbox" ng-model="dEvalTBCtrl.isCheckedAll" ng-click="dEvalTBCtrl.saveEvaluationAll()" />
                                            </th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in dEvalTBCtrl.evaluations">
											<td class="center-vertical">{{((dEvalTBCtrl.pageNumber - 1) * dEvalTBCtrl.pageSize) + $index + 1}}</td>
											<td class="middle-vertical">{{eval.ItemName}}</td>
                                            <td class="middle-vertical">{{eval.Alternative ? eval.Alternative : '-'}}</td>
                                            <td class="center-vertical">
                                                <a ng-show="eval.Url" href="{{dEvalTBCtrl.folderFile + eval.Url}}" target="_blank" title="Download" class="btn btn-sm btn-primary btn-flat"><i class="fa fa-download"></i></a>
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-disabled="dEvalTBCtrl.tenderStepData.tender.IsCancelled || !dEvalTBCtrl.isProcess" class="form-control" type="checkbox" ng-model="eval.IsPassed" ng-click="dEvalTBCtrl.saveEvaluation(eval)" />
                                            </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
                        <div class="col-md-12">
                            <ul uib-pagination total-items="dEvalTBCtrl.count" max-size="10" ng-model="dEvalTBCtrl.pageNumber" items-per-page="dEvalTBCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="dEvalTBCtrl.loadEvaluations()" boundary-links="true" first-text="&laquo;" last-text="&raquo;"></ul>
                            <br />
                            <label>Total Data : {{dEvalTBCtrl.count}}</label>
                        </div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="dEvalTBCtrl.kembali()">
									<i class='fa fa-arrow-left'></i>&nbsp; {{'KEMBALI'|translate}}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
