﻿<section class="content" ng-init="detailEvaluasiTeknisBarangPrintCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/home">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a ng-click="detailEvaluasiTeknisBarangPrintCtrl.kembali()">{{detailEvaluasiTeknisBarangPrintCtrl.tenderStepData.step.TenderStepName|translate}}</a></li>
        <li><a class="active">{{'EVALUASI'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{detailEvaluasiTeknisBarangPrintCtrl.tenderStepData.step.TenderStepName |translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>{{'EVALUATOR'|translate}} : {{detailEvaluasiTeknisBarangPrintCtrl.evaluatorName.FullName}}</label>&nbsp;<i ng-if="detailEvaluasiTeknisBarangPrintCtrl.evaluatorName.IsAsDelegate">({{'DELEGASI' | translate}})</i>
                        </div>
                        <div class="col-md-12">
                            <label>
                                {{'TENDER_NAME'|translate}} : {{detailEvaluasiTeknisBarangPrintCtrl.tenderStepData.tender.TenderName}}
                                <span class="text-red" ng-if="detailEvaluasiTeknisBarangPrintCtrl.tenderStepData.tender.IsCancelled">
                                    <i>({{'KET_BATAL'|translate}})</i>
                                </span>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <label>{{'VENDOR'|translate}} : {{detailEvaluasiTeknisBarangPrintCtrl.evaluationScore.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <label>{{'MIMIMUM_PENAWARAN'|translate}} : {{detailEvaluasiTeknisBarangPrintCtrl.minimumOffer}} %</label>
                        </div>
                        <div class="col-md-12">
                            <label>{{'HASIL'|translate}} : {{(detailEvaluasiTeknisBarangPrintCtrl.evaluationScore.IsPassed === true ? 'LOLOS' : 'TIDAK_LOLOS') | translate}}</label>
                        </div>
                        <div class="col-md-3" ng-if="detailEvaluasiTeknisBarangPrintCtrl.evaluationScore.IsPassed">
                            <label>{{'SKOR'|translate}} (0-100) : </label>
                            <div class="input-group">
                                <input ng-readonly="detailEvaluasiTeknisBarangPrintCtrl.tenderStepData.tender.IsCancelled" type="number" maxlength="50" class="form-control input-sm" min="0" max="100" ng-model="detailEvaluasiTeknisBarangPrintCtrl.evaluationScore.Score" />
                                <div class="input-group-btn">
                                    <button ng-disabled="detailEvaluasiTeknisBarangPrintCtrl.tenderStepData.tender.IsCancelled" class="btn btn-primary btn-sm" title="{{'SIMPAN_SKOR' | translate}}" ng-click="detailEvaluasiTeknisBarangPrintCtrl.saveScore()"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical">{{'TABLE.NO'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.NAMA_ITEM'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.ALTERNATIF'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.DOKUMEN'|translate}}</th>
                                            <th class="center-vertical">
                                                {{'TABLE.STATUS'|translate}}
                                                <input ng-disabled="detailEvaluasiTeknisBarangPrintCtrl.tenderStepData.tender.IsCancelled" class="form-control" type="checkbox" ng-model="detailEvaluasiTeknisBarangPrintCtrl.isCheckedAll" ng-click="detailEvaluasiTeknisBarangPrintCtrl.saveEvaluationAll()" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="eval in detailEvaluasiTeknisBarangPrintCtrl.evaluations">
                                            <td class="center-vertical">{{((detailEvaluasiTeknisBarangPrintCtrl.pageNumber - 1) * detailEvaluasiTeknisBarangPrintCtrl.pageSize) + $index + 1}}</td>
                                            <td class="middle-vertical">{{eval.ItemName}}</td>
                                            <td class="middle-vertical">{{eval.Alternative ? eval.Alternative : '-'}}</td>
                                            <td class="center-vertical">
                                                <a ng-show="eval.Url" href="{{detailEvaluasiTeknisBarangPrintCtrl.folderFile + eval.Url}}" target="_blank" title="Download" class="btn btn-sm btn-primary btn-flat"><i class="fa fa-download"></i></a>
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-disabled="detailEvaluasiTeknisBarangPrintCtrl.tenderStepData.tender.IsCancelled" class="form-control" type="checkbox" ng-model="eval.IsPassed" ng-click="detailEvaluasiTeknisBarangPrintCtrl.saveEvaluation(eval)" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <ul uib-pagination total-items="detailEvaluasiTeknisBarangPrintCtrl.count" max-size="10" ng-model="detailEvaluasiTeknisBarangPrintCtrl.pageNumber" items-per-page="detailEvaluasiTeknisBarangPrintCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="detailEvaluasiTeknisBarangPrintCtrl.loadEvaluations()" boundary-links="true" first-text="&laquo;" last-text="&raquo;"></ul>
                            <br />
                            <label>Total Data : {{detailEvaluasiTeknisBarangPrintCtrl.count}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="detailEvaluasiTeknisBarangPrintCtrl.kembali()">
                                    <i class='fa fa-arrow-left'></i>&nbsp; {{'KEMBALI'|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
