﻿<div id="modalUtama" class="modal-content" ng-init="cprListModal.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cprListModal.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'Contractor Performance Review'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <b>Assessment Date</b> <br />
                    <b>Contract</b><br />
                    <b>Contract Date</b><br />
                    <b>Contractor</b><br />
                    <b>Sponsor Kontrak</b><br />
                    <b>Project Manager</b><br />
                    <b>Contract Engineer</b><br />
                </div>
                <div class="col-md-6">
                    <b>:</b> {{cprListModal.vpdata.CPRDate | date: 'dd/MM/yyyy'}}<br />
                    <b>:</b> {{cprListModal.vpdata.ContractNo}} - {{cprListModal.vpdata.TanderName}}<br />
                    <b>:</b> {{cprListModal.vpdata.ContractStartDate | date: 'dd/MM/yyyy'}} - {{cprListModal.vpdata.ContractEndDate | date: 'dd/MM/yyyy'}}<br />
                    <b>:</b> {{cprListModal.vpdata.VendorName}}<br />
                    <b>:</b> {{cprListModal.vpdata.Department}}<br />
                    <b>:</b> {{cprListModal.vpdata.ProjManager}}<br />
                    <b>:</b> {{cprListModal.vpdata.ContractEngineer}}<br />
                </div>
                <div class="col-md-3" style="text-align:right;">
                    <div ng-if="cprListModal.vpdata.Score < 66" class="alert alert-warning pull-right" style="text-align:center;">
                        <h4 style="vertical-align:middle">Score : {{cprListModal.vpdata.Score}} %</h4>
                    </div>
                    <div ng-if="cprListModal.vpdata.Score >= 66" class="alert alert-success pull-right" style="text-align:center;">
                        <h4 style="vertical-align:middle">Score : {{cprListModal.vpdata.Score}} %</h4>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <!---->
        <div ng-if="cprListModal.type == 1" class="row">
            <div class="col-md-12">
                <table id="example1" class="table">
                    <thead style="background-color: #BBB;">
                        <tr>
                            <th>{{'KPI_DESCRIPTION' | translate}}</th>
                            <th width="150">{{'SCORE' | translate}}</th>
                            <th width="250">{{'REMARKS' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="kri in cprListModal.kriteria">
                            <td style="padding:0px">
                                <div style="height:45px; padding-left:10px; padding-top:5px"><b>{{kri.CriteriaName}}</b></div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:45px; padding-left:20px; padding-top:5px"><b>{{level2.CriteriaName}}</b></div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px;">
                                                                <div style="height:45px; padding-left:30px; padding-top:5px">{{level3.CriteriaName}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding:0px">
                                <div style="height:45px; padding-left:30px; padding-top:3px"><span ng-show="kri.sub.length === 0">{{kri.Score}}</span></div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:45px; padding-left:30px; padding-top:3px"><span ng-show="level2.sub.length === 0">{{level2.Score}}</span></div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px;">
                                                                <div style="height:45px; padding-left:30px; padding-top:3px">{{level3.Score}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="padding:0px">
                                <div style="height:45px; padding-left:30px; padding-top:3px"><span ng-show="kri.sub.length === 0">{{kri.Score}}</span></div>
                                <table class="table">
                                    <tbody>
                                        <tr ng-repeat="level2 in kri.sub">
                                            <td style="padding:0px">
                                                <div style="height:45px; padding-left:30px; padding-top:3px"><span ng-show="level2.sub.length === 0">{{level2.Score}}</span></div>
                                                <table class="table">
                                                    <tbody>
                                                        <tr ng-repeat="level3 in level2.sub">
                                                            <td style="padding:0px;">
                                                                <div style="height:45px; padding-left:30px; padding-top:3px">{{level3.Remark}}</div>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{'FORM.NOTE'|translate}}</label>
                    <textarea class="form-control input-sm" disabled ng-model="cprListModal.vpdata.Note"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 turun-15">
                <div class="form-group">
                    <label>{{'FORM.DOC'|translate}}</label>
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="50" class="center-vertical">{{'TABLE.COL_NO' | translate}}</th>
                                    <th class="center-vertical">{{'TABLE.NAMA_DOC' | translate}}</th>
                                    <th width="100" class="center-vertical"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sd in cprListModal.docs">
                                    <td class="center-vertical">{{$index + 1}}</td>
                                    <td>{{sd.DocName}}</td>
                                    <td class="center-vertical">
                                        <a href="{{cprListModal.folderFile + sd.DocUrl}}" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-download"></i> Download</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tr ng-if="!cprListModal.docs || cprListModal.docs.length <= 0">
                                <td colspan="5" cellpadding="0">
                                    <div class="alert alert-info text-center">
                                        <span>{{'NO_DATA' | translate}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="cprListModal.cancel()" title="{{'BTN.BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>