﻿<div class="container-fluid" ng-init="DataAdministrasiPrequalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">Beranda</a></li>
        <li><a class="active">Data Administrasi</a></li>
    </ol>
    <div class="row" style="padding-top: 30px!important;">
        <div class="container-fluid">
            <div class="col-md-10" style="float: none!important;">
                <h3 class="text-center afta-font">{{'BREADCRUMB.ADMINISTRATION_DATA_PREQUAL' | translate}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11">
            <div class="row blok" style="padding-top: 20px!important;">
                <!-- right column -->
                <div class="col-md-12 col-sm-12"
                     style="float:center!important;border:solid 1px #cccccc!important; border-radius: 2px!important; padding: 20px!important;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'COMPANY.COUNTRY' | translate}}*</label><br />
                                <select required class="form-control"
                                        ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                        ng-model="DataAdministrasiPrequalCtrl.selectedCountryAdmin"
                                        ng-change="DataAdministrasiPrequalCtrl.loadStateAdmin()"
                                        ng-options="item as item.Name for item in DataAdministrasiPrequalCtrl.listCountryAdmin">
                                    <option value="" selected disabled class="text-center">--{{"FORM.COUNTRY" | translate}}--</option>
                                </select>
                                <small>{{'REGION_TYPE'| translate}}: {{DataAdministrasiPrequalCtrl.listRegionAdmin.Name}}</small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'COMPANY.STATE' | translate}}*</label><br />
                                <select required class="form-control"
                                        ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                        ng-model="DataAdministrasiPrequalCtrl.selectedStateAdmin"
                                        ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listStateAdmin"
                                        ng-change="DataAdministrasiPrequalCtrl.loadCityAdmin()">
                                    <option value="" selected disabled>--- {{'STATE_TYPE' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.selectedStateAdmin.Country.Code === 'ID'">
                            <div class="form-group">
                                <label>{{'COMPANY.CITY' | translate}}*</label><br />
                                <select required class="form-control"
                                        ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                        ng-model="DataAdministrasiPrequalCtrl.selectedCityAdmin"
                                        ng-change="DataAdministrasiPrequalCtrl.loadDistrictAdmin()"
                                        ng-options="item as item.Name for item in DataAdministrasiPrequalCtrl.listCityAdmin">
                                    <option value="" selected disabled class="text-center">--{{"FORM.CITY" | translate}}--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.selectedStateAdmin.Country.Code === 'ID'">
                            <div class="form-group">
                                <label>{{'COMPANY.DISTRICT' | translate}}*</label><br />
                                <select required class="form-control"
                                        ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                        ng-model="DataAdministrasiPrequalCtrl.selectedDistrictAdmin"
                                        ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listDistrictAdmin" >

                                    <option value="" selected disabled>--- {{'COMPANY.DISTRICT' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'COMPANY_NAME' | translate}}*</label><br />
                                <label style="padding-top: 5px; font-weight: normal;">{{DataAdministrasiPrequalCtrl.administrasi.VendorName}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'USERNAME_VENDOR' | translate}}*</label><br />
                                <label style="padding-top: 5px; font-weight: normal;">{{DataAdministrasiPrequalCtrl.administrasi.user.Username}}</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'CODE_VENDOR' | translate}}</label><br />
                                <label style="padding-top: 5px; font-weight: normal;">{{DataAdministrasiPrequalCtrl.administrasi.Code}}</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'START_DATE' | translate}} *</label>
                                <div class="input-group date form_datetime">
                                    <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" name="foundedDate" style="background-color: #ffffff;" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="DataAdministrasiPrequalCtrl.isCalendarOpened[0]" ng-model="DataAdministrasiPrequalCtrl.administrasi.FoundedDate" ng-click="DataAdministrasiPrequalCtrl.openCalendar(0)" />
                                    <span class="input-group-btn">
                                        <button ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" type="button" class="btn btn-default" ng-click="DataAdministrasiPrequalCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Website</label><br />
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"  type="text" class="form-control" ng-model="DataAdministrasiPrequalCtrl.listCompanyContact.Website" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Phone*</label><br />
                                <div class="col-lg-6" style="margin-left:-5%;">
                                    <select required class="form-control" style="margin-bottom:0px !important;"
                                            name="countryCode" ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                            ng-model="DataAdministrasiPrequalCtrl.phoneCode"
                                            ng-options="item as item.Name + '(' + item.PhonePrefix + ')' for item in DataAdministrasiPrequalCtrl.phoneCodeList">
                                        <option value="" selected disabled>{{'PILIH' | translate}}</option>
                                    </select>
                                    <i class="font10">
                                        {{'FORM.COUNTRY_CODE' | translate}}*
                                    </i>
                                </div>
                                <div class="col-lg-7" style="margin-left:-5%;" >
                                        <input required class="form-control" style="margin-bottom:0px !important;"
                                                name="contactPhone"
                                               ng-model="DataAdministrasiPrequalCtrl.Phone"  ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"/>
                                        <i class="font10">
                                            {{'FORM.PHONE_FORMAT' | translate}}
                                        </i>
                                    </div>
                                    </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'EMAIL_VENDOR' | translate}}*</label><br />
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" type="email" class="form-control" required ng-model="DataAdministrasiPrequalCtrl.listCompanyContact.Email"  />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'COMPANY_FAX' | translate}}</label><br />
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" type="text" class="form-control" ng-model="DataAdministrasiPrequalCtrl.listCompanyContact.Fax" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label ng-if="DataAdministrasiPrequalCtrl.CountryCode === 'ID'">NPWP</label>
                                <label ng-if="DataAdministrasiPrequalCtrl.CountryCode !== 'ID'">Company Registration</label><br />
                                <input type="text" class="form-control" masking-npwp placeholder="Format NPWP : xx.xxx.xxx.x-xxx.xxx" ng-model="DataAdministrasiPrequalCtrl.administrasi.Npwp" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    <div ng-if="DataAdministrasiPrequalCtrl.CountryCode === 'ID'" style="display:inline-block!important;">{{'UPLOAD' | translate}} NPWP</div>
                                    <div ng-if="DataAdministrasiPrequalCtrl.CountryCode !== 'ID'" style="display:inline-block!important;">{{'UPLOAD' | translate}} Company Registration</div>
                                    <small>(<span ng-repeat="ft in DataAdministrasiPrequalCtrl.idUploadConfigs1">{{ft.Name}}{{$last ? '' : ', '}}</span><span>/Size < {{DataAdministrasiPrequalCtrl.idUploadConfigs1[0].Size}} {{DataAdministrasiPrequalCtrl.idUploadConfigs1[0].SizeUnitName | translate}}</span> )</small>
                                </label>
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" type="file" style="margin-bottom:0px !important;" class="form-control" ng-file-select="DataAdministrasiPrequalCtrl.selectUpload()" ng-model="DataAdministrasiPrequalCtrl.fileUploadNPWP" name="ownerIDFile" required accept="{{DataAdministrasiPrequalCtrl.idFileTypes1}}" />
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label ng-if="DataAdministrasiPrequalCtrl.CountryCode === 'ID' ">{{'FILE' | translate}} NPWP </label>
                                <label ng-if="DataAdministrasiPrequalCtrl.CountryCode !== 'ID' ">Company Registration</label>
                                <a ng-show="DataAdministrasiPrequalCtrl.administrasi.NpwpUrl" href="{{DataAdministrasiPrequalCtrl.folderFile + DataAdministrasiPrequalCtrl.administrasi.NpwpUrl}}" target="_BLANK" class="form-control btn btn-sm btn-primary" title="{{'NPWP_FILE' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;
                                </a>
                                <a ng-show="!DataAdministrasiPrequalCtrl.administrasi.NpwpUrl" href="javascript:void(0)" class="form-control btn btn-sm btn-default" title="File/Berkas Npwp Belum Ada">
                                    <i class="fa fa-download"></i>&nbsp;
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.CountryCode === 'ID'">
                            <div class="form-group">
                                <label>No. SPPKP </label>
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" type="text" class="form-control" placeholder="No SPPKP Perusahaan" ng-model="DataAdministrasiPrequalCtrl.PKPNumber" />
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="DataAdministrasiPrequalCtrl.CountryCode === 'ID'">
                            <div class="form-group">
                                <label class="control-label">
                                    {{ 'UPLOAD' | translate}} SPPKP
                                    <small> ( <span ng-repeat="ft in DataAdministrasiPrequalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{DataAdministrasiPrequalCtrl.idUploadConfigs[0].Size}} {{DataAdministrasiPrequalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                </label>
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" type="file" class="form-control" ng-file-select="DataAdministrasiPrequalCtrl.selectUpload()" ng-model="DataAdministrasiPrequalCtrl.fileUpload" name="ownerIDFile" required accept="{{DataAdministrasiPrequalCtrl.idFileTypes}}" />
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.CountryCode === 'ID'">
                            <div class="form-group">
                                <label>{{'FILE' | translate}} SPPKP</label><br />
                                <a ng-show="DataAdministrasiPrequalCtrl.administrasi.PKPUrl" href="{{DataAdministrasiPrequalCtrl.folderFile + DataAdministrasiPrequalCtrl.administrasi.PKPUrl}}" target="_BLANK" class="form-control btn btn-sm btn-primary" title="{{'SPPKP_FILE' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;
                                </a>
                                <a ng-show="!DataAdministrasiPrequalCtrl.administrasi.PKPUrl" href="javascript:void(0)" class="form-control btn btn-sm btn-default" title="File/Berkas SPPKP Belum Ada">
                                    <i class="fa fa-download"></i>&nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'CMB_VENDOR_TYPE' | translate}}*</label>
                            <select required class="form-control input-sm" ng-model="DataAdministrasiPrequalCtrl.selectedTypeVendor"
                                    ng-options="item as item.Name | translate for item in DataAdministrasiPrequalCtrl.listTypeVendor"
                                    ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                    ng-change="DataAdministrasiPrequalCtrl.changeTypeVendor()">
                                <option value="" selected disabled>-- {{'VENDOR_TYPE' | translate}} --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'PEMASOK_TYPE' | translate}}*</label>
                            <select class="form-control input-sm" ng-model="DataAdministrasiPrequalCtrl.selectedSupplier"
                                    ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false ||DataAdministrasiPrequalCtrl.disablePemasok == true "
                                    ng-options="item as item.Name | translate for item in DataAdministrasiPrequalCtrl.listSupplier">
                                <option value="" selected disabled>
                                    -- {{'PEMASOK_TYPE' | translate}} --
                                </option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="col-md-4" ng-if="DataAdministrasiPrequalCtrl.CountryCode === 'ID'">
                        <div class="form-group">
                            <label>{{'COMPANY_TYPE' | translate}} *</label>
                            <select required class="form-control"
                                    ng-model="DataAdministrasiPrequalCtrl.selectedBusinessEntity"
                                    ng-disabled="true"
                                    ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listBusinessEntity"></select>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                <i class="fa fa-money"></i>
                                {{'INFO_CURRENCY' | translate}}*
                            </legend>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select  ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="form-control" ng-model="DataAdministrasiPrequalCtrl.Currency"
                                        ng-options="item as item.Symbol + ' | ' + item.Label for item in DataAdministrasiPrequalCtrl.currencyList">
                                    <option value="" selected disabled>--{{'FORM.MATA_UANG' | translate}}--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <button ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="btn btn-sm btn-primary" ng-click="DataAdministrasiPrequalCtrl.addCurrency()"><i class="fa fa-plus"></i> {{"BUTTONS.ADD" | translate}}</button>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No</th>
                                                <th class="text-center">{{'MONEY_TYPE' | translate}}</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="moneytype in DataAdministrasiPrequalCtrl.listCurrencies">
                                                <td class="text-center" ng-if="moneytype.IsActive === true">{{$index+1}}</td>
                                                <td class="text-center" ng-if="moneytype.IsActive === true">{{moneytype.MstCurrency.Symbol}} ({{moneytype.MstCurrency.Label}})</td>
                                                <td class="text-center" ng-if="moneytype.IsActive === true">
                                                    <button ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="btn btn-xs btn-danger" ng-click="DataAdministrasiPrequalCtrl.deleteRowCurr($index, moneytype)" title="{{'DELETE'| translate}}">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr ng-if="DataAdministrasiPrequalCtrl.listCurrencies.length === 0">
                                                <td colspan="3">{{'No' | translate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!--<div class="row">
                        <div class="col-md-12">
                            <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                <i class="fa fa-area-chart"></i>
                                {{'TITLE_BIDUSAHA' | translate}}*
                            </legend>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label>{{'BUSINESS_FIELD' | translate}} </label>
                                <select required class="form-control"
                                        ng-model="DataAdministrasiPrequalCtrl.selectedBusinessField"
                                        ng-disabled="!DataAdministrasiPrequalCtrl.listBusinessField || DataAdministrasiPrequalCtrl.isEntry === false"
                                        ng-options="item as item.Name  for item  in DataAdministrasiPrequalCtrl.listBusinessField"
                                        ng-change="DataAdministrasiPrequalCtrl.changeBussinesField()">
                                    <option value="" selected disabled>--- {{'BUSINESS_FIELD' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.selectedBusinessField.Name !== 'Lain - lain'">
                            <div class="form-group">
                                <label>{{'COMODITY' | translate}}</label>
                                <select required class="form-control" ng-model="DataAdministrasiPrequalCtrl.selectedComodity" ng-disabled="!DataAdministrasiPrequalCtrl.listComodity || DataAdministrasiPrequalCtrl.isEntry === false"
                                        ng-options="item as item.Name for item in DataAdministrasiPrequalCtrl.listComodity">
                                    <option value="" selected disabled>--- {{'COMODITY' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 margintop25" ng-if="DataAdministrasiPrequalCtrl.selectedBusinessField.Name == 'Lain - lain'">
                            <div class="form-group">
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="form-control" ng-model="DataAdministrasiPrequalCtrl.RemarkBusinessField" placeholder="Masukkan Alternatif Bidang Usaha" />
                            </div>
                        </div>
                        <div class="col-md-6 margintop25" >
                            <button ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="btn btn-sm btn-primary" ng-click="DataAdministrasiPrequalCtrl.addDetailBussinesField()">
                                <i class="fa fa-plus-circle"></i> {{"BUTTONS.ADD" | translate}}
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No</th>
                                                <th class="text-center">{{'BUSINESS_FIELD' | translate}}</th>
                                                <th class="text-center">{{'COMODITY' | translate}}</th>
                                                <th width="10%" ></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="det in DataAdministrasiPrequalCtrl.listBussinesDetailField">
                                                <td>{{$index+1}}</td>
                                                <td ng-if="det.BusinessField.Name != 'Lain - lain'">{{det.BusinessField.Name }}</td>
                                                <td ng-if="det.BusinessField.Name == 'Lain - lain'">{{det.BusinessField.Name }} ( {{det.Remark}} )</td>
                                                <td>{{det.Commodity.Name }}</td>
                                                <td >
                                                    <button ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="btn btn-xs btn-danger" ng-click="DataAdministrasiPrequalCtrl.deleteRow($index+1)" title="Hapus">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="row">
                        <div class="col-md-12">
                            <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                <i class="fa fa-phone"></i>
                                {{'CONTACT_INFO' | translate}}*
                            </legend>
                        </div>
                        <form name="DataAdministrasiPrequalCtrl.vendorContactForm">
                            <div class="col-md-3" >
                                <div class="form-group">
                                    <label>{{'PERSONAL.NAME' | translate}} </label>
                                    <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" type="text" class="form-control" ng-model="DataAdministrasiPrequalCtrl.NamePers" />
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="form-group">
                                    <label>{{'PERSONAL.PHONE' | translate}} </label>
                                    <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="form-control" ng-model="DataAdministrasiPrequalCtrl.PhonePers" />
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="form-group">
                                    <label>{{'PERSONAL.EMAIL' | translate}} </label>
                                    <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" type="text" class="form-control" ng-model="DataAdministrasiPrequalCtrl.EmailPers" />
                                </div>
                            </div>
                            <div class="col-md-3 margintop25" >
                                <button ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" ng-disabled="!(DataAdministrasiPrequalCtrl.NamePers && DataAdministrasiPrequalCtrl.PhonePers && DataAdministrasiPrequalCtrl.EmailPers) " class="btn btn-sm btn-primary" ng-click="DataAdministrasiPrequalCtrl.CheckEmail()">
                                    <i class="fa fa-plus-circle"></i> {{'BTN_ADD' | translate}}
                                </button>
                            </div>
                        </form>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                                <th class="text-center">{{'TABLE.NAME' | translate}}</th>
                                                <th class="text-center">{{'TABLE.TELEPHONE' | translate}}</th>
                                                <th class="text-center">{{'TABLE.EMAIL' | translate}}</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dt in DataAdministrasiPrequalCtrl.listPersonal">
                                                <td class="text-center" ng-if="dt.IsActive === true">{{$index+1}}</td>
                                                <td class="text-center" ng-if="dt.IsActive === true">{{dt.Contact.Name}}</td>
                                                <td class="text-center" ng-if="dt.IsActive === true">{{dt.Contact.Phone}}</td>
                                                <td class="text-center" ng-if="dt.IsActive === true">{{dt.Contact.Email}}</td>
                                                <td class="text-center" ng-if="dt.IsActive === true">
                                                    <a ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" ng-click="DataAdministrasiPrequalCtrl.editcontact(dt)" class="btn btn-flat btn-xs btn-primary" title="Edit" style="cursor: pointer;">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                    <button ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="btn btn-xs btn-danger" ng-click="DataAdministrasiPrequalCtrl.deleteRowPers($index, dt)" title="{{'DELETE' | translate}}">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                <i class="fa fa-home"></i>
                                {{'ADDRESS_INFO' | translate}} {{DataAdministrasiPrequalCtrl.ContactName | translate}}*
                            </legend>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="form-control" placeholder="{{'COMPANY_ADDRESS' | translate}}" type="text"  ng-blur="DataAdministrasiPrequalCtrl.CheckAddress(true)" ng-model="DataAdministrasiPrequalCtrl.address1" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select required class="form-control"
                                        ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                        ng-model="DataAdministrasiPrequalCtrl.selectedCountry"
                                        ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listCountry"
                                        ng-change="DataAdministrasiPrequalCtrl.loadState()">
                                    <option value="" selected disabled>--- {{'COUNTRY_TYPE' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input ng-disabled="true" class="form-control" ng-model="DataAdministrasiPrequalCtrl.listRegion.Name">
                            </div>
                        </div>
                        <div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                            ng-model="DataAdministrasiPrequalCtrl.selectedState"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listState"
                                            ng-change="DataAdministrasiPrequalCtrl.loadCity()">
                                        <option value="" selected disabled>--- {{'STATE_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.selectedCountry.Code === 'ID'">
                                <div class="form-group">
                                    <select required class="form-control" ng-model="DataAdministrasiPrequalCtrl.selectedCity"
                                            ng-disabled="!DataAdministrasiPrequalCtrl.listCity || DataAdministrasiPrequalCtrl.selectedCountry.Code !== 'ID' || DataAdministrasiPrequalCtrl.isEntry === false"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listCity"
                                            ng-change="DataAdministrasiPrequalCtrl.loadDistrict()">
                                        <option value="" selected disabled>--- {{'CITY_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.selectedCountry.Code === 'ID'">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-model="DataAdministrasiPrequalCtrl.selectedDistrict"
                                            ng-disabled="!DataAdministrasiPrequalCtrl.listDistrict ||DataAdministrasiPrequalCtrl.selectedCountry.Code !== 'ID' || DataAdministrasiPrequalCtrl.isEntry === false"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listDistrict">
                                        <option value="" selected disabled>--- {{'DISTRICT_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="form-control"  ng-model="DataAdministrasiPrequalCtrl.postcalcode" ng-blur="DataAdministrasiPrequalCtrl.CheckPostcode(true)" placeholder="{{'POSTAL_CODE' | translate}}" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div ng-if="DataAdministrasiPrequalCtrl.CountryCode === 'ID'">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-model="DataAdministrasiPrequalCtrl.selectedAssociation"
                                            ng-disabled="!DataAdministrasiPrequalCtrl.listAssociation || DataAdministrasiPrequalCtrl.isEntry === false"
                                            ng-options="item as item.AssosiationName | translate for item  in DataAdministrasiPrequalCtrl.listAssociation">
                                        <option value="" selected disabled>--- {{'ASSOCIATION_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                <i class="fa fa-home"></i>
                                {{'ADDRESS_INFO_ALTERNATIF' | translate}} {{DataAdministrasiPrequalCtrl.ContactName | translate}}
                            </legend>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="form-control" placeholder="{{'COMPANY_ADDRESS' | translate}}" type="text" ng-model="DataAdministrasiPrequalCtrl.addressinfo" ng-blur="DataAdministrasiPrequalCtrl.CheckAddress(false)"  />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select required class="form-control"
                                        ng-model="DataAdministrasiPrequalCtrl.selectedCountryAlternatif"
                                        ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                        ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listCountryAlternatif"
                                        ng-change="DataAdministrasiPrequalCtrl.loadStateAlternatif()">
                                    <option value="" selected disabled>--- {{'COUNTRY_TYPE' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input ng-disabled="true" class="form-control" ng-model="DataAdministrasiPrequalCtrl.listRegionAlternatif.Name">
                            </div>
                        </div>
                        <div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-model="DataAdministrasiPrequalCtrl.selectedStateAlternatif"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listStateAlternatif"
                                            ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false"
                                            ng-change="DataAdministrasiPrequalCtrl.loadCityAlternatif()">
                                        <option value="" selected disabled>--- {{'STATE_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.selectedCountryAlternatif.Code === 'ID'">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-model="DataAdministrasiPrequalCtrl.selectedCityAlternatif"
                                            ng-disabled="DataAdministrasiPrequalCtrl.listCityAlternatif.length === 0 ||DataAdministrasiPrequalCtrl.selectedCountryAlternatif.Code !== 'ID' || DataAdministrasiPrequalCtrl.isEntry === false"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listCityAlternatif"
                                            ng-change="DataAdministrasiPrequalCtrl.loadDistrictAlternatif()">
                                        <option value="" selected disabled>--- {{'CITY_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3" ng-if="DataAdministrasiPrequalCtrl.selectedCountryAlternatif.Code === 'ID'">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-model="DataAdministrasiPrequalCtrl.selectedDistrictAlternatif"
                                            ng-disabled="DataAdministrasiPrequalCtrl.listDistrictAlternatif.length === 0 || DataAdministrasiPrequalCtrl.selectedCountryAlternatif.Code !== 'ID' || DataAdministrasiPrequalCtrl.isEntry === false"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiPrequalCtrl.listDistrictAlternatif">
                                        <option value="" selected disabled>--- {{'DISTRICT_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input ng-disabled="DataAdministrasiPrequalCtrl.isEntry === false" class="form-control" ng-blur="DataAdministrasiPrequalCtrl.CheckPostcode(false)" ng-model="DataAdministrasiPrequalCtrl.PostalCodeAlternatif"  placeholder="{{'POSTAL_CODE' | translate}}" type="text" required />
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!--/.col (right) -->
            </div>
            <div class="row" style="padding-top: 30px!important;">
                <div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
                    <div class="center-block text-center">
                        <a href="#/prakualifikasi/pemasukkan-prakualifikasi-vendor/{{DataAdministrasiPrequalCtrl.PrequalStepID}}" class="btn btn-primary" title="{{'BACK' | translate}}">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <a ng-if="DataAdministrasiPrequalCtrl.isEntry === true" href=""  class="btn btn-primary" ng-click="DataAdministrasiPrequalCtrl.uploadFile()" title="{{'SAVE' | translate}}">
                            <i class="fa fa-save"></i>
                        </a>
                        <a ng-if="DataAdministrasiPrequalCtrl.isEntry === true" href="" title="Submit" class="btn btn-success" ng-click="DataAdministrasiPrequalCtrl.Submit()" >
                            <i class="fa fa-check"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
