﻿<div id="idTambahLibrary" class="modal-content" ng-init="DetailPenawaranCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailPenawaranCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'FORM.MODALTITLE' | translate}}</h3>
         </div>

    <div class="modal-body">
        <div class="col-md-7">
            <pagination total-items="DetailPenawaranCtrl.totalItems" page="DetailPenawaranCtrl.currentPage" items-per-page="100" ng-show="DetailPenawaranCtrl.totalItems > 100"
                        max-size="100" on-select-page="DetailPenawaranCtrl.loadAwal(page)"></pagination>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
    <div class="form-group">
        <div class="table table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center" width="5%">No</th>
                        <th class="text-center">Material Code</th>
                        <th class="text-center" width="20%">Item Description</th>
                        <th class="text-center" width="15%">Manufacture</th>
                        <th class="text-center" width="15%">Part No</th>
                        <th class="text-center" width="15%">Estimate</th>
                        <th class="text-center" width="15%">Unit</th>
                        <th class="text-center" width="15%">Currency</th>
                        <!--<th class="text-center" width="15%">Unit Price</th>-->
                        <th class="text-center" width="15%">Lead Time</th>
                        <th class="text-center" width="15%">Country Of Origin</th>
                        <th class="text-center" width="15%">Remark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rt in DetailPenawaranCtrl.newExcel">
                        <td class="text-center">{{DetailPenawaranCtrl.currentPage > 1 ? (DetailPenawaranCtrl.maxSize * (DetailPenawaranCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                        <td class="text-center">{{rt.MaterialCode}}</td>
                        <td>{{rt.ItemDescrip}}</td>
                        <td class="text-center">{{rt.Manufacture}}</td>
                        <td class="text-center">{{rt.PartNo}}</td>
                        <td class="text-center">{{rt.Estimate}}</td>
                        <td class="text-center">{{rt.Unit}}</td>
                        <td class="text-center">{{rt.Currency}}</td>
                        <!--<td class="text-center">{{rt.PriceIDR}}</td>-->
                        <td class="text-center">{{rt.LeadTime}}</td>
                        <td class="text-center">{{rt.CountryOfOrigin}}</td>
                        <td class="text-center">{{rt.Remark}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label class="control-label turun-15">{{'TABLE.TOTALDATA'|translate}} : {{DetailPenawaranCtrl.totalItems}}</label>
            </div>
            <div class="col-md-10 pull-right">
                <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="DetailPenawaranCtrl.totalItems" ng-model="DetailPenawaranCtrl.currentPage"
                    class="pagination-sm" previous-text="&lsaquo;" max-number="DetailPenawaranCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-change="DetailPenawaranCtrl.loadAwal(DetailPenawaranCtrl.currentPage)" max-size="10"></ul>
            </div>
        </div>
    </div>

    <div class="modal-footer" style="text-align: center!important;">
        <button type="button" class="btn btn-warning" ng-click="DetailPenawaranCtrl.batal()" title="{{'BTN.BACK'|translate}}"> <i class="fa fa-reply"></i></button>
        </div>
    </div>
