<div class="modal-content" ng-init="FormBuildingCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="FormBuildingCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span></button>
		<h3 class="modal-title afta-font" ng-if="FormBuildingCtrl.tipeform === 17">{{'FORM.TITLEBUILDING' | translate}}</h3>
		<h3 class="modal-title afta-font" ng-if="FormBuildingCtrl.tipeform === 20">{{FormBuildingCtrl.title}}</h3>
	</div>
	<div class="modal-body" ng-if="FormBuildingCtrl.tipeform === 17 ||FormBuildingCtrl.tipeform === 19 ">
		<div class="row" style="padding-top: 20px!important;">
			<div class="col-md-12 col-sm-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.KATEGORI' | translate}}</label>
							<select disabled class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedCategory"
									ng-options="item as item.Value | translate for item in FormBuildingCtrl.listCategory"></select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.LUAS' | translate}}(M<sup>2</sup>)</label>
							<input type="text" class="form-control" required ng-model="FormBuildingCtrl.dataBuilding.BuildingArea" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.STATUS' | translate}} *</label>
							<select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKepemilikan"
									ng-options="item as item.Value | translate for item in FormBuildingCtrl.listKepemilikan"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>{{'FORM.ALAMAT' | translate}}</label>
							<input type="text" class="form-control" required placeholder="{{'FORM.ALAMAT' | translate}}"
								   ng-model="FormBuildingCtrl.dataBuilding.Address" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">{{'FORM.PROVINCE' | translate}}</label>
							<select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedProvince"
									ng-options="item as item.Name for item in FormBuildingCtrl.listProvinsi"
									ng-change="FormBuildingCtrl.changeProvince()"></select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">{{'FORM.CITY' | translate}}</label>
							<select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKabupaten"
									ng-options="item as item.Name for item in FormBuildingCtrl.listKabupaten"
									ng-change="FormBuildingCtrl.changeCities()">
								<option></option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">{{'FORM.DISTRICT' | translate}}</label>
							<select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKecamatan"
									ng-options="item as item.Name for item in FormBuildingCtrl.listKecamatan">
								<option></option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-body" ng-if="FormBuildingCtrl.tipeform === 20">
		<div class="row" style="padding-top: 20px!important;">
			<div class="col-md-12 col-sm-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-7">
						<div class="form-group">
							<label>{{'FORM.TOOLNAME' | translate}} *</label>
							<input type="text" class="form-control" ng-model="FormBuildingCtrl.dataForm.Name" />
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label>{{'FORM.MERK' | translate}} *</label>
							<input type="text" class="form-control" ng-model="FormBuildingCtrl.dataForm.Brand" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.YEAR' | translate}} </label>
							<div class="input-group date form_datetime">
								<input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="FormBuildingCtrl.datepickeroptions" maxDate="01-01-2000" close-text="{{'TUTUP'|translate}}"
									   is-open="FormBuildingCtrl.isCalendarOpened[0]" ng-model="FormBuildingCtrl.dataForm.MfgDate"
									   ng-click="FormBuildingCtrl.openCalendar(0)" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="FormBuildingCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.SERIALNO' | translate}} </label>
							<input type="text" class="form-control" ng-model="FormBuildingCtrl.dataForm.SerialNo" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label ng-if="FormBuildingCtrl.isCategory == 'vehicle'">{{'TABLE.CAPACITY' | translate}}</label>
							<label ng-if="FormBuildingCtrl.isCategory == 'equipment'">{{'TABLE.CAPACITYTON' | translate}} </label>
							<input type="text" class="form-control" ng-model="FormBuildingCtrl.dataForm.Capacity" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">{{'TABLE.CONDITION' | translate}}*</label>
							<select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedConditional"
									ng-options="item as item.Value | translate for item in FormBuildingCtrl.listConditional"></select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'TABLE.OWNERSHIP' | translate}}*</label>
							<select class="form-control input-sm" required ng-model="FormBuildingCtrl.selectedKepemilikan"
									ng-options="item as item.Value | translate for item in FormBuildingCtrl.listKepemilikan"></select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-body" ng-if="FormBuildingCtrl.tipeform === 18">
		<div class="row" style="padding-top: 10px!important;">
			<div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-11 center-block" style="float: none!important; padding-bottom: 15px;">
								<div class="form-inline">
									<div class="form-group">
										<label class="control-label">{{'FORM.EXPERIENCETYPE' | translate}} * : </label>&nbsp;&nbsp;
										<label class="radio-inline" ng-repeat="tipe in FormBuildingCtrl.listTypeExp">
											<input ng-click="FormBuildingCtrl.cek()" ng-checked="tipe.RefID === FormBuildingCtrl.dataExp.ExperienceType"
												   type="radio" value="{{tipe.RefID}}" ng-model="FormBuildingCtrl.dataExp.ExperienceType" />&nbsp;{{tipe.Value | translate}}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'FORM.CONTRACTNAME' | translate}} *</label>
							<input type="text" tabindex="1" class="form-control input-sm" required placeholder="{{'FORM.CONTRACTNAME' | translate}}" ng-model="FormBuildingCtrl.dataExp.ContractName" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'FORM.INSTITUTE' | translate}} *</label>
							<input type="text" tabindex="2" class="form-control" placeholder="{{'FORM.INSTITUTE' | translate}}" ng-model="FormBuildingCtrl.dataExp.Agency" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">{{'FORM.TENDERTYPEEXP' | translate}}</label>
							<select tabindex="3" required class="form-control input-sm" ng-model="FormBuildingCtrl.selectedTypeTender"
									ng-options="item as item.Name | translate for item in FormBuildingCtrl.listTypeTender"
									ng-change="FormBuildingCtrl.changeTypeTender()"></select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'BUSINESS_FIELD' | translate}} </label>
							<select tabindex="4" required class="form-control input-sm"
									ng-model="FormBuildingCtrl.selectedBusinessField"
									ng-disabled="!FormBuildingCtrl.listBusinessField"
									ng-options="item as item.Name  for item  in FormBuildingCtrl.listBusinessField"
									ng-change="FormBuildingCtrl.changeBusinessField()">
								<option value="" selected disabled>--- {{'BUSINESS_FIELD' | translate}}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="control-label">{{'FORM.COUNTRY' | translate}}</label>
							<select required class="form-control"
									ng-model="FormBuildingCtrl.selectedCountry"
									ng-change="FormBuildingCtrl.loadStates()"
									ng-options="item as item.Name for item in FormBuildingCtrl.countryList">
								<option value="" selected disabled class="text-center">--{{'FORM.COUNTRY' | translate}}--</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="control-label">{{'FORM.REGION' | translate}}</label>
							<input ng-disabled="true" class="form-control" data-toggle="tooltip" data-placement="right" placeholder="{{'FORM.REGION' | translate}} *" type="text" ng-model="FormBuildingCtrl.selectedRegion.Name" />
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="form-group">
							<label class="control-label">{{'FORM.STATE' | translate}}</label>
							<select class="form-control"
									ng-model="FormBuildingCtrl.selectedState"
									ng-disabled="!FormBuildingCtrl.stateList || FormBuildingCtrl.stateList.length == 0 || !FormBuildingCtrl.selectedCountry"
									ng-options="item as item.Name for item in FormBuildingCtrl.stateList" ng-change="FormBuildingCtrl.changeState()">
								<option value="" selected disabled>--{{'FORM.STATE' | translate}}--</option>
							</select>
						</div>
					</div>
					<div class="col-md-3" ng-show="(FormBuildingCtrl.selectedCountry.CountryID === 360)">
						<label class="control-label">{{'FORM.CITY' | translate}} </label>
						<select tabindex="8" required class="form-control input-sm" ng-model="FormBuildingCtrl.selectedCities"
								ng-options="item as item.Name for item in FormBuildingCtrl.listCities"
								ng-change="FormBuildingCtrl.changeCitiesExp()"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>{{'FORM.ADDRESS' | translate}} *</label>
							<input tabindex="9" type="text" class="form-control input-sm" required placeholder="{{'FORM.ADDRESS' | translate}}" ng-model="FormBuildingCtrl.dataExp.Address" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.PHONE' | translate}} </label>
							<input tabindex="10" type="text" class="form-control input-sm" required placeholder="{{'FORM.PHONE' | translate}}" ng-model="FormBuildingCtrl.dataExp.AgencyTelpNo" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.CONTRACTNO' | translate}} *</label>
							<input tabindex="11" type="text" class="form-control input-sm" required placeholder="{{'FORM.CONTRACTNO' | translate}}" ng-model="FormBuildingCtrl.dataExp.ContractNo" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.CURRENCY' | translate}}</label>
							<select tabindex="12" required class="form-control input-sm" ng-model="FormBuildingCtrl.selectedCurrencies" ng-change="FormBuildingCtrl.changeCurr(FormBuildingCtrl.selectedCurrencies)"
									ng-options="item as item.Symbol for item in FormBuildingCtrl.listCurrencies"></select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.CONTRACTVALUE' | translate}} *</label>
							<input tabindex="13" type="text" currency-mask class="form-control input-sm"
								   placeholder="{{'FORM.CONTRACTVALUE' | translate}}" ng-model="FormBuildingCtrl.dataExp.ContractValue" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'FORM.STARTDATE' | translate}} *</label>
							<div class="input-group date form_datetime">
								<input style="background-color: #ffffff;" tabindex="14" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
									   is-open="FormBuildingCtrl.isCalendarOpened[0]" ng-model="FormBuildingCtrl.dataExp.StartDate" ng-change="FormBuildingCtrl.checkStartDate(FormBuildingCtrl.dataExp.StartDate)"
									   ng-click="FormBuildingCtrl.openCalendar(0)" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="FormBuildingCtrl.openCalendar(0)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'FORM.ENDDATE' | translate}} *</label>
							<div class="input-group date form_datetime">
								<input tabindex="15" style="background-color: #ffffff;" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
									   is-open="FormBuildingCtrl.isCalendarOpened[1]" ng-model="FormBuildingCtrl.dataExp.EndDate" ng-change="FormBuildingCtrl.checkEndDate(FormBuildingCtrl.dataExp.EndDate,FormBuildingCtrl.dataExp.StartDate,FormBuildingCtrl.dataExp.ExperienceType)"
									   ng-click="FormBuildingCtrl.openCalendar(1)" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="FormBuildingCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label class="control-label">
								File Upload
								<small>
									(<span ng-repeat="ft in FormBuildingCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span>
										/
										Size : {{FormBuildingCtrl.idUploadConfigs[0].Size}} {{FormBuildingCtrl.idUploadConfigs[0].SizeUnitName | translate}}
									</span> )
								</small>
							</label>
							<input type="file" tabindex="15" class="form-control" ng-file-select="FormBuildingCtrl.selectUpload()"
								   ng-model="FormBuildingCtrl.fileUpload" name="ownerIDFile" accept="{{FormBuildingCtrl.idFileTypes}}" />
						</div>
					</div>
					<div class="col-md-4" ng-show="!(FormBuildingCtrl.dataExp.DocumentURL === null || FormBuildingCtrl.dataExp.DocumentURL === '')">
						<div class="form-group">
							<label>{{'FORM.UPLOADEDDOC' | translate}} </label>
							<a href="{{FormBuildingCtrl.folderFile + FormBuildingCtrl.dataExp.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="Download File">
								<i class="fa fa-download"></i>&nbsp;
							</a>
						</div>
					</div>
					<div class="col-md-4" ng-show="FormBuildingCtrl.dataExp.DocumentURL === null || FormBuildingCtrl.dataExp.DocumentURL === ''">
						<div class="form-group">
							<label>{{'FORM.UPLOADEDDOC' | translate}}</label>
							<button class="btn btn-sm btn-default" title="{{'FORM.NO_FILE_UPLOADED' | translate}}">
								<i class="fa fa-download"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>{{'FORM.REMARK' | translate}} </label>
							<textarea class="form-control" tabindex="16" rows="2" placeholder="{{'FORM.KETERANGAN' | translate}}" ng-model="FormBuildingCtrl.dataExp.Remark"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" ng-click="FormBuildingCtrl.batal()" class="btn btn-flat btn-danger" title="{{'BTN.BATAL' | translate}}">
			<i class="fa fa-reply"></i>&nbsp;
		</button>
		<button type="button" ng-click="FormBuildingCtrl.saveData()" class="btn btn-flat btn-success" title="{{'BTN.SAVE' | translate}}">
			<i class="fa fa-save"></i>&nbsp;
		</button>
	</div>
</div>