﻿<section ng-init="PPVHSVendorCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li>
			<a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a>
		</li>
		<li ng-if="PPVHSVendorCtrl.RFQId.RFQType === 1">
			<a class="active">{{'BREADCRUMB.VHSOFFER' | translate}}</a>
		</li>
		<li ng-if="PPVHSVendorCtrl.RFQId.RFQType === 2">
			<a class="active">{{'BREADCRUMB.FPAOFFER' | translate}}</a>
		</li>
	</ol>

	<!-- tampilan pertama muncul -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<h3 ng-if="PPVHSVendorCtrl.RFQId.RFQType === 1" class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.VHSOFFER' | translate}}</h3>
								<h3 ng-if="PPVHSVendorCtrl.RFQId.RFQType === 2" class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.FPAOFFER' | translate}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<label>{{'FORM.STARTDATE' | translate}}: {{PPVHSVendorCtrl.step.StartDate}}</label>
							</div>
							<div class="col-md-4">
								<label>{{'FORM.ENDDATE' | translate}}: {{PPVHSVendorCtrl.step.EndDate}}</label>
							</div>
							<div class="col-md-9">
								<label>{{'FORM.TENDERNAME' | translate}}: {{PPVHSVendorCtrl.step.tender.TenderName}}</label>
							</div>
							<div class="col-md-4" ng-if="PPVHSVendorCtrl.IsSubmit !== null">
								<label>{{'FORM.LASTSUBMITDATE' | translate}}: {{PPVHSVendorCtrl.SubmitDate}}</label>
							</div>
						</div>
						<div class="row margintop20">
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label" ng-if="PPVHSVendorCtrl.IsSubmit === null" style="color:red">{{'FORM.ALERTSUBMIT' | translate}}</label>
									<a ng-if="PPVHSVendorCtrl.accessPermission===true" class="btn btn-flat btn-primary pull-right" ng-click="PPVHSVendorCtrl.cekLimit()"><i class="fa fa-send-o"></i> {{'FORM.SUBMIT_OFFER' | translate}} </a>
								</div>
							</div>
						</div>
					</div>
					<div class="box box-success">
						<!--notife flow-->
						<div class="box-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.QUOTATIONNO' | translate}}</label><br />
												<input ng-disabled="PPVHSVendorCtrl.accessPermission===false||PPVHSVendorCtrl.Template[0].vhs.IsSubmitTechnical" type="text" class="form-control input-group-sm" ng-model="PPVHSVendorCtrl.QuotationNo" />
											</div>
										</div>
										<div class="col-md-4" ng-if="(PPVHSVendorCtrl.RFQId.RFQType === 1 && PPVHSVendorCtrl.selectedDeliveryTender.Name == 'RFQ_FIX')">
											<div class="form-group">
												<label class="control-label">LeadTime</label><br />
												<input type="text" ng-disabled="PPVHSVendorCtrl.selectedDeliveryTender.Name == 'RFQ_FIX'||PPVHSVendorCtrl.Template[0].vhs.IsSubmitTechnical" class="form-control input-group-sm" ng-model="PPVHSVendorCtrl.RFQId.LeadTime" />
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.QUOTATIONVALID' | translate}}</label><br />
												<input type="text" disabled class="form-control input-group-sm" ng-model="PPVHSVendorCtrl.RFQId.ExpiredDay" />
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.DELIVERYTERMS' | translate}}</label><br />
												<select disabled required class="form-control input-sm" ng-model="PPVHSVendorCtrl.selectedDeliveryTender"
														ng-options="item as item.Value | translate for item in PPVHSVendorCtrl.listDeliveryTerms"></select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.INCOTERMS' | translate}}</label><br />
												<select ng-disabled="PPVHSVendorCtrl.selectedDeliveryTender.Name == 'RFQ_FIX' || PPVHSVendorCtrl.accessPermission===false || PPVHSVendorCtrl.Template[0].vhs.IsSubmitTechnical" class="form-control input-sm" ng-model="PPVHSVendorCtrl.selectedIncoTerms" ng-change="PPVHSVendorCtrl.changeFreightDetai()"
														ng-options="item as item.Name for item in PPVHSVendorCtrl.listIncoTerms">
													<option value="" selected disabled>-- {{'FORM.INCOTERMS' | translate}} --</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.DELIVERYPOINT' | translate}}</label><br />
												<select ng-disabled="PPVHSVendorCtrl.selectedDeliveryTender.Name == 'RFQ_FIX' || PPVHSVendorCtrl.accessPermission===false || PPVHSVendorCtrl.Template[0].vhs.IsSubmitTechnical" class="form-control input-sm" ng-model="PPVHSVendorCtrl.selectedState"
														ng-options="item as item.DeliveryState for item in PPVHSVendorCtrl.listFreight">
													<option value="" selected disabled>-- {{'FORM.DELIVERYPOINT' | translate}} --</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.TENDEROPTIONS' | translate}}</label>
												<select disabled class="form-control input-sm" ng-model="PPVHSVendorCtrl.selectedOptionsTender"
														ng-options="item as item.Value for item in PPVHSVendorCtrl.listOptionsTender"></select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.TENDERTYPE' | translate}}</label><br />
												<select disabled class="form-control input-sm" ng-model="PPVHSVendorCtrl.selectedDeliveryTerms" ng-options="item as item.Value | translate for item in PPVHSVendorCtrl.DeliveryTerm">
													<option value="" selected disabled>-- {{'FORM.TENDEROPTION' | translate}} --</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.SUBMISSIONLIMIT' | translate}}</label><br />
												<input type="text" class="form-control" disabled ng-model="PPVHSVendorCtrl.RFQId.Limit" />
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.PAYMENTTERM' | translate}}</label>
												<select ng-disabled="PPVHSVendorCtrl.accessPermission===false || PPVHSVendorCtrl.Template[0].vhs.IsSubmitTechnical" class="form-control input-sm" ng-model="PPVHSVendorCtrl.selectedPaymentTerm"
														ng-options="item as item.Name for item in PPVHSVendorCtrl.listPaymentTerm"></select>
											</div>
										</div>
									</div>
									<div class="row"></div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 center-block" style="float: none!important;">
									<div class="text-center">
										<a ng-if="PPVHSVendorCtrl.accessPermission===true" ng-click="PPVHSVendorCtrl.Insert()" class="btn btn-flat btn-primary" title="{{'BTN.SAVE' | translate}}"><i class="fa fa-save"> {{'BTN.SAVE' | translate}}</i>&nbsp;</a>&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="row" style="padding-top: 10px!important;">
							<br />
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
										<thead>
											<tr>
												<th class="text-center" width="20px">{{'TABLE.NO' | translate}}</th>
												<th class="text-center">{{'TABLE.REQUIREMENTS' | translate}}</th>
												<th class="text-center">{{'TABLE.FILENAME' | translate}}</th>
												<th class="text-center">{{'TABLE.CHECK' | translate}}</th>
												<th class="text-center" style="width: 110px; min-width: 110px;">{{'TABLE.ACTION' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="peserta in PPVHSVendorCtrl.Template">
												<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
												<td style="vertical-align: middle;" ng-if="peserta.DocName !== 'Surat Penawaran'">{{peserta.DocName | translate}}</td>
												<td style="vertical-align: middle;" ng-if="peserta.DocName === 'Surat Penawaran'">{{peserta.DocName | translate}} {{PPVHSVendorCtrl.RFQId.Limit}}%</td>
												<td class="text-center" style="vertical-align: middle;"> {{peserta.Filename}} </td>
												<td class="text-center" style="vertical-align: middle;" ng-if="peserta.IsPublish === true"><i class="fa fa-check-circle center-block"></i></td>
												<td class="text-center" ng-if="peserta.IsPublish !== true"></td>
												<td class="text-center" style="vertical-align: middle;">
													<a ng-if="peserta.DocName == 'Dokumen Penawaran' && PPVHSVendorCtrl.accessPermission===true" ng-click="PPVHSVendorCtrl.upload(peserta)" class="btn btn-flat btn-sm btn-primary" title="Choose File">
														<i class='fa fa-upload'></i>&nbsp;
													</a>
													<a ng-if="peserta.DocName == 'Dokumen Penawaran' && PPVHSVendorCtrl.accessPermission===true && peserta.Filename !== null" ng-click="PPVHSVendorCtrl.deleteData(peserta)" class="btn btn-flat btn-sm btn-danger" title="Delete File">
														<i class='fa fa-trash'></i>&nbsp;
													</a>
													<a ng-if="peserta.DocName == 'Dokumen Penawaran'" ng-click="PPVHSVendorCtrl.viewDetail()" class="btn btn-flat btn-sm btn-success" title="{{'BTN.DETAIL_OFFER' | translate}}">
														<i class='fa fa-edit'></i>&nbsp;
													</a>
													<a ng-if="peserta.DocName == 'Dokumen Penawaran'" ng-click="PPVHSVendorCtrl.downloadExcel(peserta)" class="btn btn-flat btn-sm btn-warning" title="Download Template">
														<i class='fa fa-download'></i>&nbsp;
													</a>
													<a ng-if="peserta.DocName == 'Surat Dukungan Prinsipal'|| peserta.DocName == 'Dokumen tambahan lainnya' || peserta.DocName == 'Laporan Keuangan Perusahaan' " ng-show="PPVHSVendorCtrl.accessPermission===true" ng-click="PPVHSVendorCtrl.uploadDet(peserta, peserta.TenderDocTypeID)" class="btn btn-flat btn-sm btn-primary" title="Choose File">
														<i class='fa fa-upload'></i>&nbsp;
													</a>
													<a ng-if="(peserta.DocName == 'Surat Dukungan Prinsipal'|| peserta.DocName == 'Dokumen tambahan lainnya' || peserta.DocName == 'Laporan Keuangan Perusahaan') && peserta.DocumentUrl !== null " href="{{PPVHSVendorCtrl.folderFile+peserta.DocumentUrl}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="Download File">
														<i class='fa fa-download'></i>&nbsp;
													</a>
													<a ng-if="peserta.DocName == 'Ethical Policy' ||
                                                           peserta.DocName == 'Experience' || peserta.DocName == 'Transport' ||
                                                           peserta.DocName == 'Surat Penawaran' || peserta.DocName == 'Pernyataan tidak bermasalah hukum' ||
                                                           peserta.DocName == 'Penawaran harga berlaku 1 tahun' ||
                                                           peserta.DocName == 'Office and Admin' || peserta.DocName == 'Warehouse'"
													   ng-click="PPVHSVendorCtrl.uploadDetBC(peserta, peserta.TenderDocTypeID)" class="btn btn-flat btn-sm btn-success" title="Detail">
														<i class='fa fa-edit'></i>&nbsp;
													</a>
													<a ng-if="peserta.DocName == 'Dokumen Penawaran' && peserta.Filename !== null" href="{{PPVHSVendorCtrl.folderFile+peserta.DocumentUrl}}" class="btn btn-flat btn-sm btn-primary" title="Download File Penawaran">
														<i class='fa fa-cloud-download'></i>&nbsp;
													</a>
												</td>
											</tr>
											<tr ng-if="PPVHSVendorCtrl.vhs.length === 0"><td colspan="6">{{'TABLE.NODATA' | translate}}</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<br />
							<hr />
							<div class="col-md-12">
								<div class="text-center">
									<a ng-click="PPVHSVendorCtrl.backpengadaan()" class="btn btn-flat btn-default" title="Kembali"><i class="fa fa-arrow-circle-left"> {{'BTN.BACK' | translate}}</i>&nbsp;</a>&nbsp;
									<a ng-if="PPVHSVendorCtrl.accessPermission===true" ng-click="PPVHSVendorCtrl.Insert()" class="btn btn-flat btn-primary" title="{{'BTN.SAVE' | translate}}"><i class="fa fa-save"> {{'BTN.SAVE' | translate}}</i>&nbsp;</a>&nbsp;
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
