﻿<section class="content" ng-init="VPVHSForm.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i>{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-rekanan/vp-vhs" class="active">Contractor Performance Review VHS</a></li>
        <li><a class="active">{{'BREADCRUMB.ADD_DATA'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body ">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'TITLE' | translate}}</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'DATE' | translate}}</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input style="background-color:white;" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="VPVHSForm.isCalendarOpened[0]" ng-model="VPVHSForm.CPRDate" ng-click="VPVHSForm.openCalendar(0)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="VPVHSForm.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'EVAL_METHOD' | translate}}</label>
                                <div class="col-md-8">
                                    <select ng-disabled="VPVHSForm.isNoCPR" class="form-control input-sm" ng-model="VPVHSForm.evalMethod" ng-change="VPVHSForm.onMetodeEvalChange()" ng-options="item as item.VPEvaluationMethodName | translate for item in VPVHSForm.metode">
                                        <option value="" selected disabled class="text-center">--{{"EVAL_METHOD" | translate}}--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input ng-model="VPVHSForm.isNoCPR" type="checkbox" />
                                    &nbsp;{{'TANPA_CPR' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'NOMOR' | translate}}</label>
                                <div class="col-md-7">
                                    <div class="input-group">
                                        <input type="text" required style="{{VPVHSForm.act === 0 ? 'background-color:white;' : ''}}" class="form-control" ng-click="VPVHSForm.selectContract()" ng-model="VPVHSForm.noKontrakAndName" ng-readonly="true" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="VPVHSForm.selectContract()"><i class="glyphicon glyphicon-pencil"></i></button>
                                        </span>
                                    </div>
                                    <!--<select class="form-control input-sm" ng-model="VPVHSForm.noKontrak" ng-options="item as item.SAPContractNo | translate for item in VPVHSForm.contract" ng-change="VPVHSForm.NoContractChange()">
                                        <option value="" selected disabled class="text-center">--{{"NO_KONTRAK" | translate}}--</option>
                                    </select>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'CONTRACTOR' | translate}}</label>
                                <div class="col-md-7">
                                    <input readonly type="text" class="form-control input-sm" ng-model="VPVHSForm.vendor" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'SPONSOR' | translate}}</label>
                                <div class="col-md-7">
                                    <input readonly type="text" class="form-control input-sm" ng-model="VPVHSForm.sponsorName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'DEPARTMENT_OWNER' | translate}}</label>
                                <div class="col-md-7">
                                    <input readonly type="text" class="form-control input-sm" ng-model="VPVHSForm.departmentName" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">{{'PROCUREMENT' | translate}}</label>
                                <div class="col-md-7">
                                    <input readonly type="text" class="form-control input-sm" ng-model="VPVHSForm.buyerName" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <!--untuk VHS-->
                    <div ng-if="VPVHSForm.viewVHS == true && !VPVHSForm.isNoCPR" class="row">
                        <div class="col-md-12">
                            <table id="example1" class="table">
                                <thead style="background-color: #BBB;">
                                    <tr>
                                        <th>{{'KPI_DESCRIPTION' | translate}}</th>
                                        <th class="text-center" width="250">{{'REMARK' | translate}}</th>
                                        <th class="text-center" width="150">{{'SCORE' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="kri in VPVHSForm.kriteria">
                                        <td style="padding:0px">
                                            <div style="height:30px; padding-left:10px; padding-top:5px"><b>{{kri.CriteriaName}}</b></div>
                                            <table class="table">
                                                <tbody>
                                                    <tr ng-repeat="level2 in kri.sub">
                                                        <td style="padding:0px">
                                                            <div style="height:30px; padding-left:20px; padding-top:5px">{{level2.CriteriaName}}</div>
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr ng-repeat="level3 in level2.sub">
                                                                        <td style="padding:0px;">
                                                                            <div style="height:30px; padding-left:30px; padding-top:5px">{{level3.CriteriaName}}</div>
                                                                        </td>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="text-align:right; padding:0px">
                                            <div style="height:30px; padding-right:60px;">
                                                <select class="form-control input-xs" ng-if="kri.Standards.length > 0"
                                                        ng-options="opt.Id as (opt.DetailScore + ' (' + (kri.IsOptionScoreFixed ? '' : (opt.MinScore + ' - ')) + opt.MaxScore + ')') for opt in kri.Standards"
                                                        ng-change="VPVHSForm.optionChange(kri)" ng-model="kri.SelectedStandard"></select>
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                    <tr ng-repeat="level2 in kri.sub">
                                                        <td style="padding:0px">
                                                            <div style="height:30px; padding-right:40px;">
                                                                <select class="form-control input-sm" ng-if="level2.Standards.length > 0"
                                                                        ng-options="opt.Id as (opt.DetailScore + ' (' + (level2.IsOptionScoreFixed ? '' : (opt.MinScore + ' - ')) + opt.MaxScore + ')') for opt in level2.Standards"
                                                                        ng-change="VPVHSForm.optionChange(level2)" ng-model="level2.SelectedStandard"></select>
                                                            </div>
                                                            <table class="table">
                                                                <tbody>
                                                                    <tr ng-repeat="level3 in level2.sub">
                                                                        <td style="padding:0px">
                                                                            <div style="height:30px; padding-right:20px;">
                                                                                <select class="form-control input-sm" ng-if="level3.Standards.length > 0"
                                                                                        ng-options="opt.Id as (opt.DetailScore + ' (' + (level3.IsOptionScoreFixed ? '' : (opt.MinScore + ' - ')) + opt.MaxScore + ')') for opt in level3.Standards"
                                                                                        ng-change="VPVHSForm.optionChange(level3)" ng-model="level3.SelectedStandard"></select>
                                                                            </div>
                                                                        </td>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td style="padding:0px">
                                            <div style="height:30px; padding-left:30px;">
                                                <span ng-show="kri.sub.length === 0">
                                                    <input type="number" class="form-control input-sm" placeholder="0" ng-change="VPVHSForm.scoreChange(kri)"
                                                           ng-readonly="kri.Standards.length > 0 && kri.IsOptionScoreFixed" ng-model="kri.Score" />
                                                </span>
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                    <tr ng-repeat="level2 in kri.sub">
                                                        <td style="padding:0px">
                                                            <div style="height:30px; padding-left:30px;">
                                                                <span ng-show="level2.sub.length === 0">
                                                                    <input type="number" class="form-control input-sm" ng-change="VPVHSForm.scoreChange(level2)"
                                                                           ng-readonly="level2.Standards.length > 0 && level2.IsOptionScoreFixed" ng-model="level2.Score" />
                                                                </span>
                                                            </div>
                                                            <table class="table table-striped">
                                                                <tbody>
                                                                    <tr ng-repeat="level3 in level2.sub">
                                                                        <td style="padding:0px">
                                                                            <div style="height:30px; padding-left:30px;">
                                                                                <input type="number" class="form-control input-sm" ng-change="VPVHSForm.scoreChange(level3)"
                                                                                       ng-readonly="level3.Standards.length > 0 && level3.IsOptionScoreFixed" ng-model="level3.Score" />
                                                                            </div>
                                                                        </td>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div ng-hide="VPVHSForm.isNoCPR" class="col-md-12 pull-right">
                            <div class="alert alert-warning pull-right"><strong>Score  : {{VPVHSForm.SCORE}}&nbsp; </strong></div>
                        </div>
                        <div ng-hide="VPVHSForm.isNoCPR" class="col-md-12 pull-right">
                            <button type="button" class="btn btn-flat btn-primary pull-right" ng-click="VPVHSForm.scoring()" title="{{'HITUNG_SCORE'|translate}}">
                                <i class="fa fa-calculator"></i>&nbsp;{{'HITUNG_SCORE'|translate}}
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'NOTES'|translate}}</label>
                                <textarea class="form-control input-sm" ng-model="VPVHSForm.catatan"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-success" ng-click="VPVHSForm.save()" title="Simpan Draft Penilaian">
                                    <i class="fa fa-save"></i>&nbsp;{{'SAVE_DRAFT'|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="VPVHSForm.isNoCPR" class="row turun-15">
                        <div class="col-md-12">
                            <h4 class="afta-font text-center">{{'CPR_VHS_DOCS' | translate}}</h4>
                            <hr />
                        </div>
                    </div>
                    <div ng-hide="VPVHSForm.isNoCPR" class="row">
                        <div class="col-md-12" style="padding-bottom:5px;">
                            <button ng-click="VPVHSForm.addDoc()" class="btn btn-sm btn-success pull-right" title="{{'TAMBAH_DOK'|translate}}"><i class="fa fa-plus"></i> </button>
                        </div>
                    </div>
                    <div ng-hide="VPVHSForm.isNoCPR" class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th width="50" class="center-vertical">{{'TABLE.COL_NO' | translate}}</th>
                                                <th class="center-vertical">{{'NAMA_DOK' | translate}}</th>
                                                <th width="100" class="center-vertical"></th>
                                                <th width="100" class="center-vertical"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sd in VPVHSForm.docs">
                                                <td class="center-vertical">{{$index + 1}}</td>
                                                <td>{{sd.DocName}}</td>
                                                <td class="center-vertical">
                                                    <a href="{{VPVHSForm.folderFile + sd.DocUrl}}" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-download"></i> Download</a>
                                                </td>
                                                <td class="center-vertical">
                                                    <button ng-click="VPVHSForm.editDoc(sd)" class="btn btn-xs btn-info" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></button>
                                                    <button ng-click="VPVHSForm.delDoc(sd)" class="btn btn-xs btn-danger" title="{{'HAPUS'|translate}}"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tr ng-if="!VPVHSForm.docs || VPVHSForm.docs.length <= 0">
                                            <td colspan="5" cellpadding="0">
                                                <div class="alert alert-info text-center">
                                                    <span>{{'NO_DATA' | translate}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="VPVHSForm.back()" title="{{'KEMBALI'|translate}}">
                                    <i class='fa fa-reply'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
