﻿<div class="modal-content" ng-init="vpvhsDocsModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vpvhsDocsModalCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{vpvhsDocsModalCtrl.title | translate}} {{'CPR_VHS_DOCS' | translate}}</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5 center-block" style="float: none!important;">
                    <div class="form-group">
                        <label>{{'NAMA_DOK' | translate}}</label>
                        <input type="text" ng-model="vpvhsDocsModalCtrl.doc.DocName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 center-block" style="float: none!important;">
                    <div class="form-group">
                        <label class="control-label">
                            {{'FILE_DOK' | translate}}
                            <small> ( <span ng-repeat="ft in vpvhsDocsModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{vpvhsDocsModalCtrl.idUploadConfigs[0].Size}} {{vpvhsDocsModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                            {{vpvhsDocsModalCtrl.doc.DocUrl ? '**' : ''}}
                        </label>
                        <input type="file" class="form-control" ng-file-select="vpvhsDocsModalCtrl.selectUpload(fileUpload)"
                               ng-model="fileUpload" required accept="{{vpvhsDocsModalCtrl.idFileTypes}}" />
                        <label ng-if="vpvhsDocsModalCtrl.doc.DocUrl" class="control-label">
                            <small>** {{'EDIT_FILE_NOTE' | translate}}</small>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="vpvhsDocsModalCtrl.cancel()" title="{{ 'BATAL' | translate}}"><i class="fa fa-reply"></i></button>
            <button type="button" class="btn btn-primary" ng-click="vpvhsDocsModalCtrl.save()" title="{{ 'SIMPAN' | translate}}"><i class="fa fa-save"></i></button>
        </div>
    </form>
</div>