﻿<section class="content" ng-init="VPVHSCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.CPRV'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'TITLE' | translate}}</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="VPVHSCtrl.FlagRole == 1 || VPVHSCtrl.FlagRole == 2" class="col-md-6 pull-left">
                            <button ng-click="VPVHSCtrl.tambahform(2,0,0)" class="btn btn-sm btn-primary" title="{{'ADD_DATA' | translate}}"><i class="fa fa-plus"></i> {{'ADD_DATA' | translate}}</button>
                            <button ng-click="VPVHSCtrl.reminder()" class="btn btn-sm btn-warning" title="{{'REMINDER' | translate}}"><i class="fa fa-lightbulb-o"></i> {{'REMINDER' | translate}}</button>
                        </div>
                        <div class="col-md-6 pull-right">
                            <form ng-submit="VPVHSCtrl.cari(srcText)">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control input-sm" ng-model="srcText" placeholder="{{'HOLDER' | translate}}" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" title="{{'SEARCH' | translate}}"><i class="fa fa-search"></i> </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 5%;">{{'TABLE.COL_NO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.COL_TENDER_NAME' | translate}}</th>
                                            <th class="text-center" style="width: 20%;">{{'TABLE.COL_VENDORNAME' | translate}}</th>
                                            <th class="text-center" style="width: 15%;">{{'TABLE.COL_VHSDATE' | translate}}</th>
                                            <th class="text-center" style="width: 10%;">{{'TABLE.SCORE' | translate}}</th>
                                            <th class="text-center" style="width: 15%;">{{'TABLE.STATUS' | translate}}</th>
                                            <th class="text-center" style="width: 12%;">{{'TABLE.COL_ACT' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wl in VPVHSCtrl.vpvhs">
                                            <td style="vertical-align: middle;" class="text-center">{{(VPVHSCtrl.pageNumber - 1) * VPVHSCtrl.pageSize + $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{wl.ContractNo}} - {{wl.TanderName}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.VendorName}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.VHSDate | date : "dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.Score}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.SysReference.Name | translate}}</td>
                                            <td style="vertical-align: middle;" class="text-center">
                                                <!--All-->
                                                <a ng-show="(wl.SysReference.Name == 'STS_PUBLISH' || wl.SysReference.Name == 'STS_ACCVENDOR' ||  wl.SysReference.Name == 'STS_ACCCE' || wl.SysReference.Name == 'STS_ACCPROCSUP') && wl.IsActive == 1" class="btn btn-flat btn-xs btn-warning" title="Detail" ng-click="VPVHSCtrl.detail(wl,VPVHSCtrl.FlagRole)"><i class="fa fa-file-text-o"></i></a>
                                                <a class="btn btn-flat btn-xs btn-primary" title="Detail Approval" ng-click="VPVHSCtrl.appHistory(wl)"><i class="fa fa-list-ul"></i></a>
                                                <a target="_blank" href="{{VPVHSCtrl.folderFile + wl.UrlDocument}}" ng-show="(wl.SysReference.Name == 'STS_PUBLISH' || wl.SysReference.Name == 'STS_ACCVENDOR' ||  wl.SysReference.Name == 'STS_ACCCE' || wl.SysReference.Name == 'STS_ACCPROCSUP') && wl.IsActive == 1 && wl.UrlDocument" class="btn btn-flat btn-xs btn-success" title="{{'BTN.DOWNLOAD'|translate}}" ng-click="VPVHSCtrl.download(wl)"><i class="fa fa-download"></i></a>
                                                <!---->
                                                <!--BUYER-->
                                                <a ng-show="(wl.SysReference.Name == 'STS_DRAFT' || wl.SysReference.Name == 'STS_REVISIONBYVENDOR') && wl.IsActive == 1" class="btn btn-flat btn-xs btn-success" title="Edit Draft" ng-click="VPVHSCtrl.updateData(2,1,wl.VPVHSDataId)"><i class="fa fa-pencil"></i></a>
                                                <a ng-show="(wl.SysReference.Name == 'STS_DRAFT' || wl.SysReference.Name == 'STS_REVISIONBYVENDOR') && wl.IsActive == 1" class="btn btn-flat btn-xs btn-danger" title="{{'NON_AKTIF'|translate}}" ng-click="VPVHSCtrl.switchActive(wl)"><i class="fa fa-trash-o"></i></a>
                                                <!--<a ng-show="wl.SysReference.Name == 'STS_DRAFT' && wl.IsActive == 0" class="btn btn-flat btn-xs btn-success" title="Aktifkan" ng-click="VPVHSCtrl.switchActive(wl)"><i class="fa fa-plus-square-o"></i></a>-->
                                                <a ng-show="(wl.SysReference.Name == 'STS_DRAFT' || wl.SysReference.Name == 'STS_REVISIONBYVENDOR') && wl.IsActive == 1" class="btn btn-flat btn-xs btn-primary" title="Publish" ng-click="VPVHSCtrl.approve(wl)"><i class="fa fa-check-circle-o"></i></a>
                                                <a ng-show="wl.SysReference.Name == 'STS_PUBLISH' && wl.IsActive == 1 && !wl.UrlDocument && (VPVHSCtrl.FlagRole == 1 || VPVHSCtrl.FlagRole == 2)" class="btn btn-flat btn-xs btn-danger" title="{{'BTN.UPLOAD_DOC'|translate}}" ng-click="VPVHSCtrl.upload(wl)"><i class="fa fa-upload"></i></a>
                                                <!--PROCSUP-->
                                                <a ng-show="wl.SysReference.Name == 'STS_ACCVENDOR' && wl.IsActive == 1 && VPVHSCtrl.FlagRole == 3" class="btn btn-flat btn-xs btn-primary" title="Approve" ng-click="VPVHSCtrl.approve(wl)"><i class="fa fa-check-circle-o"></i></a>
                                                <a ng-show="wl.SysReference.Name == 'STS_ACCVENDOR' && wl.IsActive == 1 && VPVHSCtrl.FlagRole == 3" class="btn btn-flat btn-xs btn-danger" title="Reject" ng-click="VPVHSCtrl.reject(wl)"><i class="fa fa-times-circle-o"></i></a>
                                                <!--<a ng-show="wl.SysReference.Name == 'STS_ACCPROCSUP' && wl.IsActive == 1 && wl.IsPublishToVendor != true && VPVHSCtrl.FlagRole == 3" class="btn btn-flat btn-xs btn-primary" title="Send To Vendor" ng-click="VPVHSCtrl.sendToVendor(wl)"><i class="fa fa-send-o"></i></a>-->
                                            </td>
                                        </tr>
                                        <tr ng-if="VPVHSCtrl.vpvhs.length === 0">
                                            <td colspan="7" style="vertical-align:middle; text-align:center">{{'NO_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="VPVHSCtrl.count" max-size="10"
                                    ng-model="VPVHSCtrl.pageNumber" items-per-page="VPVHSCtrl.pageSize"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="VPVHSCtrl.loadAwal()"></ul>
                                <br /><label>{{'TOTAL_DATA' | translate}} : {{VPVHSCtrl.count}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

