<section class="content" ng-init="KPIProcCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.KPI_PROC' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{'HEAD_TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-3">
                            <label>{{'TABLE.PROC_TYPE'|translate}}</label>
                            <select id="cmbStatus" name="cmbStatus" ng-model="KPIProcCtrl.procType" class="form-control"
                                    ng-options="item as item.Value | translate for item  in KPIProcCtrl.procTypes" ng-disabled="!KPIProcCtrl.isMgr">
                                <!--
                                <option value="" selected disabled>
                                    Jenis Procurement
                                </option>
                                -->
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>{{'TABLE.DURATION'|translate}} </label>
                            <select id="cmbStatus" name="cmbStatus" ng-model="KPIProcCtrl.durasi" class="form-control"
                                    ng-options="item as item.Name | translate for item  in KPIProcCtrl.ddDurasi">
                                <option value="" selected disabled>
                                    {{'TABLE.DURATION'|translate}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6" ng-if="KPIProcCtrl.durasi != null">
                            <div class="row" ng-if="KPIProcCtrl.durasi.Value == 0">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="KPIProcCtrl.datepickeroptionsTahun" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="KPIProcCtrl.isCalendarOpened[2]" ng-model="KPIProcCtrl.filterTahun" ng-change="KPIProcCtrl.cekFilterTahun()"
                                                   ng-click="KPIProcCtrl.openCalendar(2)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="KPIProcCtrl.openCalendar(2)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><br /></label>
                                    <select id="cmbStatus" name="cmbStatus" ng-model="KPIProcCtrl.ma" class="form-control"
                                            ng-options="item as item.label | translate for item  in KPIProcCtrl.weeks">
                                        <option value="" selected disabled>
                                            Weeks
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label><br /></label>
                                    <label style="padding-top:10px;">{{'s/d'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label><br /></label>
                                    <select id="cmbStatus" name="cmbStatus" ng-model="KPIProcCtrl.mb" class="form-control" ng-change="KPIProcCtrl.cekFilterDurasi()"
                                            ng-options="item as item.label | translate for item  in KPIProcCtrl.weeks">
                                        <option value="" selected disabled>
                                            Weeks
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" ng-if="KPIProcCtrl.durasi.Value == 1">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="KPIProcCtrl.datepickeroptionsTahun" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="KPIProcCtrl.isCalendarOpened[3]" ng-model="KPIProcCtrl.filterTahun" ng-change="KPIProcCtrl.cekFilterTahun()"
                                                   ng-click="KPIProcCtrl.openCalendar(3)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="KPIProcCtrl.openCalendar(3)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="KPIProcCtrl.datepickeroptions" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="KPIProcCtrl.isCalendarOpened[0]" ng-model="KPIProcCtrl.ba"
                                                   ng-click="KPIProcCtrl.openCalendar(0)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="KPIProcCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label><br /></label>
                                    <label style="padding-top:10px;">{{'s/d'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="KPIProcCtrl.datepickeroptions" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="KPIProcCtrl.isCalendarOpened[1]" ng-model="KPIProcCtrl.bb"
                                                   ng-click="KPIProcCtrl.openCalendar(1)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="KPIProcCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label><br /></label>
                            <button class="btn btn-primary" ng-click="KPIProcCtrl.filter()">{{'BTN.SEARCH'|translate}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">{{'DIAGRAM.ONTIME_PO' | translate}}</h4>
                            <canvas id="bar" height="80%" class="chart chart-bar" chart-data="KPIProcCtrl.dataOntime" chart-labels="KPIProcCtrl.labelOntime" chart-dataset="KPIProcCtrl.datasetOntime" chart-options="KPIProcCtrl.optionOntime"></canvas>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'DIAGRAM.COST_SAVING' | translate}}</h4>
                            <canvas id="bar"  height="80%"class="chart chart-bar" chart-data="KPIProcCtrl.dataSC" chart-labels="KPIProcCtrl.labelSC" chart-dataset="KPIProcCtrl.datasetSC" chart-options="KPIProcCtrl.optionSC"></canvas>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">{{'TABLE.YEAR' | translate}}</th>
                                            <th class="text-left" rowspan="2" style="vertical-align: middle;width:900px!important;">{{'TABLE.DURATION'|translate}}</th>
                                            <th class="text-center" colspan="4">{{'TABLE.PROC_PERFORMANCE.PROC_PERFORMANCE_TITLE' | translate}}</th>
                                            <th class="text-center" colspan="4">{{'TABLE.COST_SAVING.PROC_CS' | translate}}</th>
                                            <th class="text-center" colspan="2">Avoidance</th>
                                            <th class="text-center" colspan="3">{{'TABLE.LBI_PNI.LBI_PNI_TITLE' | translate}}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">Total Item PR</th>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.PROC_PERFORMANCE.APPRV_PR' | translate}}</th>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.PROC_PERFORMANCE.CREATED_PO' | translate}}</th>
                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.PROC_PERFORMANCE.ONTIME_PO' | translate}}</th>
                                            <th class="text-left" style="width:500px;vertical-align:middle;">{{'TABLE.COST_SAVING.PO_VALUE' | translate}}</th>
                                            <th class="text-left" style="width:500px;vertical-align:middle;">{{'TABLE.COST_SAVING.BUDGETED_VALUE' | translate}}</th>
                                            <th class="text-left" style="width:500px;vertical-align:middle;">Cost Saving</th>
                                            <th class="text-left" style="width:500px;vertical-align:middle;">Cost Saving (%)</th>
                                            <th class="text-left" style="width:500px;vertical-align:middle;">Proposed Value</th>
                                            <th class="text-left" style="width:500px;vertical-align:middle;">Avoidance</th>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.LBI_PNI.LOCAL' | translate}}</th>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.LBI_PNI.NATIONAL' | translate}}</th>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.LBI_PNI.INTERNATIONAL' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in KPIProcCtrl.arrKPI">
                                            <td style="vertical-align: middle;" class="text-right">{{KPIProcCtrl.currentPage > 1 ? (KPIProcCtrl.maxSize * (KPIProcCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.Year}}</td>
                                            <td style="vertical-align: middle;width:800px!important;" class="text-left">{{data.Durration}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.TotalItemPR}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.ApprovedPR}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.CreatedPO}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.OntimePO}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.FinalPOToUSD | currency:"USD "}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.BudgetedPOToUSD | currency:"USD "}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.CostSavingValue| currency:"USD "}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.CostSaving| currency:""}}%</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.OETotalPriceToUSD | currency:"USD "}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.Avoidance | currency:"USD "}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.POLocal | currency:"USD "}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.PONational | currency:"USD "}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{data.POInternational | currency:"USD "}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination boundary-links="true" total-items="KPIProcCtrl.totalItems" ng-model="KPIProcCtrl.currentPage"
                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                    ng-change="KPIProcCtrl.dataKPIProc(KPIProcCtrl.currentPage)"></ul>
                                <br />
                                <table>
                                    <tr>
                                        <th width="200px"> Total Final Value
                                        </th>
                                        <td>: USD {{KPIProcCtrl.arrKPI[0].TotalFinalPOUSD | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <th width="200px">
                                            Total Budgeted Value
                                        </th>
                                        <td>: USD {{KPIProcCtrl.arrKPI[0].TotalBudgetedPOUSD | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <th width="200px">
                                            Total Proposed Value
                                        </th>
                                        <td>: USD {{KPIProcCtrl.arrKPI[0].TotalOETotalPriceUSD | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <th width="200px">
                                            Total Avoidance
                                        </th>
                                        <td>: USD {{KPIProcCtrl.arrKPI[0].TotalAvoidance | currency:""}}</td>
                                    </tr>
                                    <tr>
                                        <th width="200px">
                                            Total Cost Saving
                                        </th>
                                        <td>: {{KPIProcCtrl.arrKPI[0].TotalCostSaving | currency:""}} %</td>
                                    </tr>
                                </table>
                                <label class="margin-atas">{{'TABLE.TOTAL_DATA' | translate}}: {{KPIProcCtrl.totalItems}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="KPIProcCtrl.exportExcel()" class="btn btn-flat btn-success turun-15" title="{{'BTN.EXPORT'|translate}}" style="float:right!important"><i class="fa fa-download"></i></button>
                            <button ng-click="KPIProcCtrl.exportKPI()" class="btn btn-flat btn-success turun-15" title="{{'BTN.EXPORT_KPI'|translate}}" style="float:right!important"><i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>