<section class="content" ng-init="VendorComplianceApprovalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'Approval Vendor Compliance'|translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{'Approval Vendor Compliance'|translate}}</h3>
                        </div>
                    </div>

                    <div class="row margin-atas">
                        <div class="col-md-3">
                            <select id="cmbStatus" name="cmbStatus" ng-model="VendorComplianceApprovalCtrl.filter" class="form-control"
                                    ng-options="item as item.Name | translate for item  in VendorComplianceApprovalCtrl.listDropdown">
                                <option value="" selected disabled>
                                    {{'SELECT.SEARCH_BYSTATUS' | translate}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button ng-click="VendorComplianceApprovalCtrl.dataApproval(1)" class="btn btn-flat btn-primary" title="{{'BTN.SEARCH'|translate}}"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-left" width="5%" style="vertical-align: middle;">No.</th>
                                            <th class="text-left" width="35%" style="vertical-align: middle;">{{'VENDOR_NAME'|translate}}</th>
                                            <th class="text-left" width="20%" style="vertical-align: middle;">Status</th>
                                            <th class="text-left" width="15%" style="vertical-align: middle;">{{'BREADCRUMB.VENDOR_DATA'|translate}}</th>
                                            <th class="text-left" width="20%" style="vertical-align: middle;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in VendorComplianceApprovalCtrl.data">
                                            <td style="vertical-align: middle;" class="text-left">{{VendorComplianceApprovalCtrl.currentPage > 1 ? (VendorComplianceApprovalCtrl.maxSize * (VendorComplianceApprovalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{data.Vendor.VendorName}}</td>
                                            <td style="vertical-align: middle;" class="text-left">
                                                <span ng-if="data.VendorComplianceApprovalDetail1.IsApprove==true">{{'SELECT.APPROVED'|translate}}</span>
                                                <span ng-if="data.VendorComplianceApprovalDetail1.IsApprove==false">{{'SELECT.REJECTED'|translate}}</span>
                                                <span ng-if="data.VendorComplianceApprovalDetail1.IsApprove==null">{{'SELECT.ON_PROCESS'|translate}}</span>
                                            </td>
                                            <td style="vertical-align: middle;" class="text-left">
                                                <button ng-click="VendorComplianceApprovalCtrl.lihat(data)" class="btn btn-sm  btn-flat btn-warning" title="{{'KUESIONER'|translate}}"><i class="fa fa-file"></i></button>
                                                <button ng-click="VendorComplianceApprovalCtrl.datavendor(data)" class="btn btn-sm  btn-flat btn-primary" title="{{'DATA_AKTA_PENDIRIAN'|translate}}"><i class="fa fa-book"></i></button>
                                            </td>
                                            <td style="vertical-align: middle;" class="text-left">
                                                <button ng-if="data.Status==null" ng-click="VendorComplianceApprovalCtrl.approve(data,true)" class="btn btn-sm  btn-flat btn-success" title="Approve"><i class="fa fa-check"></i></button>
                                                <button ng-if="data.Status==null" ng-click="VendorComplianceApprovalCtrl.approve(data,false)" class="btn btn-sm  btn-flat btn-danger" title="Reject"><i class="fa fa-close"></i></button>
                                            </td>
                                        </tr>
                                        <tr ng-if="VendorComplianceApprovalCtrl.data.length==0">
                                            <td colspan="4" style="vertical-align: middle;" class="text-left">{{'NO_DATA'|translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination boundary-links="true" total-items="VendorComplianceApprovalCtrl.totalItems" ng-model="VendorComplianceApprovalCtrl.currentPage"
                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                    ng-change="VendorComplianceApprovalCtrl.data(VendorComplianceApprovalCtrl.currentPage)"></ul>
                                <br />
                                <label>Total Data: {{VendorComplianceApprovalCtrl.totalItems}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>