﻿<div class="modal-content" ng-init="formDetailTenagaAhliAssPQCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="formDetailTenagaAhliAssPQCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
            <h3 class="modal-title afta-font">{{formDetailTenagaAhliAssPQCtrl.action |translate}} {{formDetailTenagaAhliAssPQCtrl.type |translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-11 center-block well" style="float: none!important;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important; margin-bottom: 0px;">
                            <div class="form-group">
                                <div class="row" style="padding-top: 10px; padding-bottom: 15px;">
                                    <div class="col-md-5" ng-if="jenis !== 4">
                                        <div class="form-group">
                                            <label>{{'EXPERIENCE_DETAIL.START' | translate}}</label>
                                            <div class="input-group date form_datetime">
                                                <input readonly required class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="formDetailTenagaAhliAssPQCtrl.isCalendarOpened[0]" ng-model="formDetailTenagaAhliAssPQCtrl.tenagaahli.StartDate"  ng-change="formDetailTenagaAhliAssPQCtrl.cektanggal()" ng-click="formDetailTenagaAhliAssPQCtrl.openCalendar(0)" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="formDetailTenagaAhliAssPQCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" ng-if="jenis !== 4">
                                        <label class="text-center center-block margintop20" style="padding-top: 8px;">
                                            - s/d -
                                        </label>
                                    </div>
                                    <div class="col-md-5" ng-if="jenis !== 4">
                                        <div class="form-group">
                                            <label> {{'EXPERIENCE_DETAIL.END' | translate}}</label>
                                            <div class="input-group date form_datetime">
                                                <input ng-disabled="formDetailTenagaAhliAssPQCtrl.tenagaahli.StartDate==null||formDetailTenagaAhliAssPQCtrl.tenagaahli.StartDate==undefined" readonly required class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="formDetailTenagaAhliAssPQCtrl.isCalendarOpened[1]" ng-change="formDetailTenagaAhliAssPQCtrl.cektanggal()" ng-model="formDetailTenagaAhliAssPQCtrl.tenagaahli.EndDate" ng-click="formDetailTenagaAhliAssPQCtrl.openCalendar(1)" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="formDetailTenagaAhliAssPQCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6 center-block" style="float: none!important;">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Upload File Scan
                                                        <small> ( <span ng-repeat="ft in formDetailTenagaAhliAssPQCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{formDetailTenagaAhliAssPQCtrl.idUploadConfigs[0].Size}} {{formDetailTenagaAhliAssPQCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                                    </label>
                                                    <input type="file" class="form-control" ng-file-select="formDetailTenagaAhliAssPQCtrl.selectUpload()"
                                                           ng-model="formDetailTenagaAhliAssPQCtrl.fileUpload" name="ownerIDFile" required accept="{{formDetailTenagaAhliAssPQCtrl.idFileTypes}}" />
                                                </div>
                                                <a ng-if="!(formDetailTenagaAhliAssPQCtrl.item.DocUrl === null ||formDetailTenagaAhliAssPQCtrl.item.DocUrl === undefined) " target="_BLANK" class="btn btn-sm btn-primary" href="{{formDetailTenagaAhliAssPQCtrl.folderFile+formDetailTenagaAhliAssPQCtrl.item.DocUrl}}"><i class="fa fa-download"></i> {{'BTN.DOWNLOAD'|translate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" rows="3" placeholder="{{'Jelaskan..'|translate}}"
                                                  ng-model="formDetailTenagaAhliAssPQCtrl.Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="formDetailTenagaAhliAssPQCtrl.batal()" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
            <button type="button" class="btn btn-flat btn-success" ng-click="formDetailTenagaAhliAssPQCtrl.uploadFile()" title="{{'BTN.SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
        </div>

    </div>
