﻿<div class="modal-content" ng-init="detailPRLineModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailPRLineModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">
            <span>{{'MODAL.DETAIL_PRLINE' | translate}}</span>
        </h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="row blocked">
                    <div class="col-md-10 center-block" style="float: none!important;">
                        <div class="row well">
                            <div class="col-md-12">
                                <dl class="dl-horizontal">
                                    <dt>{{'TABLE.PR_NAME' | translate}}</dt>
                                    <dd>{{detailPRLineModalCtrl.data.PRName || '-'}}</dd>
                                    <dt>{{'TABLE.PR_CODE' | translate}}</dt>
                                    <dd>{{detailPRLineModalCtrl.data.PRCode || '-'}}</dd>
                                    <dt>{{'TABLE.ENTITY' | translate}}</dt>
                                    <dd>{{detailPRLineModalCtrl.data.EntityName || '-'}}</dd>
                                    <dt>{{'TABLE.BUYER' | translate}}</dt>
                                    <dd>{{detailPRLineModalCtrl.data.EmployeeName || '-'}}</dd>
                                    <dt>{{'TABLE.REQUESTOR' | translate}}</dt>
                                    <dd>{{detailPRLineModalCtrl.data.PreparePRName || '-'}}</dd>
                                    <dt>{{'TABLE.PR_APPROVED_DATE' | translate}}</dt>
                                    <dd>{{(detailPRLineModalCtrl.data.LastApprovedDate | date: 'dd-MM-yyyy') || '-'}}</dd>

                                    <dt>{{'PR_LINE' | translate}}</dt>
                                    <dd>
                                        <div class="row" style="margin-bottom:10px;">
                                            <div class="col-md-12" style="padding-left: 0px;">
                                                <div class="col-md-12">
                                                    <div class="table table-responsive">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="width:10%;">{{'TABLE.NO' | translate}}</th>
                                                                    <th class="text-center" style="width:20%;">{{'TABLE.PRL_NAMA' | translate}}</th>
                                                                    <th class="text-center" style="width:20%;">{{'TABLE.KODEMATERIAL' | translate}}</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-if="detailPRLineModalCtrl.dataPRL.length == 0">
                                                                    <td colspan="3">
                                                                        <div>{{'NO_DATA' | translate}}</div>
                                                                    </td>
                                                                </tr>
                                                                <tr ng-repeat="dt in detailPRLineModalCtrl.dataPRL">
                                                                    <td class="text-center">{{$index + 1}}</td>
                                                                    <td>{{dt.Name || '-'}}</td>
                                                                    <td>{{dt.MaterialCode || '-'}}</td>
                                                                    <!--<td><button class="btn btn-sm btn-flat btn-danger" ng-click="detailPRLineModalCtrl.removeBidangUsaha(dt)"><i class="fa fa-close"></i></button></td>-->
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </dd>
                                   
                                </dl>
                            </div>
                        </div>
                    </div>

                   
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-sm btn-danger" title="{{'BACK' | translate}}" ng-click="detailPRLineModalCtrl.batal()"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
    </div>
</div>