﻿<style>
    .long-table {
        overflow-x: scroll;
        overflow-y: visible;
        cursor: grab;
        cursor: -o-grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    .float-column {
        position: absolute;
        width: 70px;
        left: 0;
        top: auto;
    }

    .button-purple {
        background-color: #82589F;
        color: white;
    }

        .button-purple:hover {
            color: white;
            background-color: rgba(130, 88, 159, 0.8);
        }
</style>
<script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
<section class="content" ng-init="persetujuanPurchaseRequisitionCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
        <li><a>Master PR</a></li>
        <li><a class="active">Review Purchase Requisition</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-header">
                    <div class="col-md-1">
                        <div class=" text-left">
                            <br />
                            <a href="javascript:void(0)" class="popovers" data-toggle="popover" title="Workflow Process" data-content="<i>Apabila Pelelangan Langsung :</i> <br> <b>Master PR</b> > <a href='#/pr-yg-belum-jadi-lelang'>Purchase Requistion</a> > <a href='#/susunanpanitia/edit'>Tim Pengadaan</a> > <a href='#/paketLelang/manage'>Paket Pengadaan</a> {{link}} <br><br> <i>Apabila Pengadaan Langsung :</i> <br> <b>Katalog</b> > <a href='#/kelola-pr-permintaan-penawaran'>Kelola PR Permintaan Penawaran</a>"><i class="glyphicon glyphicon-info-sign"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center;"><b>Review PR Masuk</b></h3>
                        </div>
                    </div>
                   
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-inline" style="padding-top: 15px;">
                                            <label style="padding-top: 5px;" class="col-md-5 control-label">{{'SEARCHBY' | translate}}:</label>
                                            <div class="col-md-7">
                                                <select class="form-control form-group" ng-model="persetujuanPurchaseRequisitionCtrl.selectBy" ng-change="persetujuanPurchaseRequisitionCtrl.setSelectByValue()">
                                                    <option value="" style="display:none;">{{'SEARCHBY' | translate}}</option>
                                                    <option value="all">Tampilkan Semua</option>
                                                    <option value="noPr">No PR</option>
                                                    <option value="namaBarang">Nama Barang/Jasa</option>
                                                    <option value="namaPr">{{'NAMAPR' | translate}}</option>
                                                    <option value="pic">PIC</option>
                                                    <option value="stats">Status</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="col-md-6">
                                        <div class="input-group" style="padding-top: 15px;" ng-show="persetujuanPurchaseRequisitionCtrl.selectBy === 'noPr'">
                                            <div class="input-cont">
                                                <input type="text" placeholder="Cari No PR" class="form-control" ng-model="persetujuanPurchaseRequisitionCtrl.selectByValue">
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" ng-click="persetujuanPurchaseRequisitionCtrl.jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; Cari
                                                </button>
                                            </span>
                                        </div>

                                        <div class="input-group" style="padding-top: 15px;" ng-show="persetujuanPurchaseRequisitionCtrl.selectBy === 'namaBarang'">
                                            <div class="input-cont">
                                                <input type="text" placeholder="Cari Nama Barang/Jasa" class="form-control" ng-model="persetujuanPurchaseRequisitionCtrl.selectByValue">
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" ng-click="persetujuanPurchaseRequisitionCtrl.jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; Cari
                                                </button>
                                            </span>
                                        </div>

                                        <div class="input-group" style="padding-top: 15px;" ng-show="persetujuanPurchaseRequisitionCtrl.selectBy === 'pic'">
                                            <div class="input-cont">
                                                <input type="text" placeholder="Cari PIC" class="form-control" ng-model="persetujuanPurchaseRequisitionCtrl.selectByValue">
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" ng-click="persetujuanPurchaseRequisitionCtrl.jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; Cari
                                                </button>
                                            </span>
                                        </div>

                                        <div class="input-group" style="padding-top: 15px;" ng-show="persetujuanPurchaseRequisitionCtrl.selectBy === 'namaPr'">
                                            <div class="input-cont">
                                                <input type="text" placeholder="{{'SEARCHNAMAPR' | translate }}" class="form-control" ng-model="persetujuanPurchaseRequisitionCtrl.selectByValue">
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" ng-click="persetujuanPurchaseRequisitionCtrl.jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; Cari
                                                </button>
                                            </span>
                                        </div>

                                        <div class="input-group" style="padding-top: 15px;" ng-show="persetujuanPurchaseRequisitionCtrl.selectBy === 'stats'">
                                            <div class="input-cont">
                                                <!-- <input type="text" placeholder="Cari PIC" class="form-control" ng-model="selectByValue">-
                                                 -->
                                                <select class="form-control" ng-model="persetujuanPurchaseRequisitionCtrl.selectByValue" ng-change="persetujuanPurchaseRequisitionCtrl.jLoad(1)">
                                                    <option value="" style="display:none;">{{'SEARCHSTATUS' | translate}}</option>
                                                    <option value="4539">{{'AKTIF' | translate}}</option>
                                                    <option value="4557">{{'COMPLETE' | translate}}</option>
                                                    <option value="4540">{{'REVISION' | translate}}</option>
                                                    <option value="4541">{{'CANCELED' | translate}}</option>
                                                    <option value="4558">{{'UPDATED' | translate}}</option>
                                                    <option value="4548">{{'PROSES' | translate}}</option>
                                                    <option value="4543">{{'SELESAI' | translate}}</option>



                                                </select>
                                            </div>
                                            <!-- <span class="input-group-btn">
                                                <a class="btn btn-primary" ng-click="jLoad(1)">
                                                    <i class="fa fa-search"></i>&nbsp; Cari
                                                </a>
                                            </span> -->
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sn-12 col-xs-12"></div>
                    <div class="clearfix"></div>
                    <div class="row" style="margin-top:20px">
                        <div class="col-md-12">
                            <!--(mencobaFlag.choice == 1) ? '55px' : '0'-->
                            <div class="table table-responsive">
                                <div class="table-responsive dragscroll long-table" ng-style="{'margin-left': '55px' }">
                                    <table class="table table-bordered text-nowrap" style="border-top:1px solid #ddd">
                                        <thead>
                                            <tr>
                                                <th class="text-center float-column" style="vertical-align: middle;border-top:1px solid #ddd;border-right:1px solid #ddd;min-height: 38px;" >
                                                    <div class="text-center">
                                                        <!-- <input type="checkbox" id="checksemua" ng-model="checkall"  ng-change="ceksemuachild(checkall)" > -->
                                                    </div>
                                                </th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.ITEMSERVICENAME' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">Status</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.KODEMATERIAL' | translate}}</th>
                                                <!--<th class="text-center" style="vertical-align: middle;">{{'DESCRIPTION'| translate}}</th>-->
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.TOTAL' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.UNIT' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.ESTIMATEDPRICE' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.DEPARTMENTNAME' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.ENTITY' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.BUYER' | translate}}</th>

                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.REQUESTOR' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.PR_APPROVED_DATE' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.LOCATION' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.DOKUMEN_PENGADAAN' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.HISTORY_PR' | translate}}</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pr in persetujuanPurchaseRequisitionCtrl.PR track by $index">
                                         
                                                <td class="float-column" style="border-right:1px solid #ddd;min-height: 40px;">
                                                    <div class="text-center">
                                                        <input ng-if="pr.parent_pr_line" class="ceksemua" type="checkbox" id="check{{pr.PRID}}" ng-disabled="pr.PRStatus != 4539 && pr.PRStatus != 4558"  ng-model="pr.parentSelected" value="{{pr.parentSelected}}" ng-change="persetujuanPurchaseRequisitionCtrl.CheckParent(pr)">
                                                    </div>

                                                </td>
                                                <!-- action 2 -->
                                                <td ng-if="pr.parent_pr_line" class="{{ pr.parent_pr_line ? 'text-left' : 'text-center' }}">
                                                    
                                                    <span ng-if='pr.parent_pr_line'>{{pr.PRCode}} - {{pr.PRName}}</span>
                                                    <!-- <input ng-if="!pr.parent_pr_line" type="checkbox" ng-model="pr.selected"> -->
                                                </td>
                                              
                                                <td ng-if="!pr.parent_pr_line" class="text-center" style="text-align: left;">{{pr.Name || '-'}}</td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4539"> {{'AKTIF' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4540"> {{'REVISION' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4541"> {{'CANCELED' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4542"> {{'PROSES' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4557"> {{'COMPLETE' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4558"> {{'UPDATED' | translate}} </span>
                                                    <span ng-if="pr.parent_pr_line && pr.PRStatus == 4543"> {{'SELESAI' | translate}} </span>
                                                </td>
                                                <td class="text-center" style="text-align: left;">
                                                    <span ng-if="!pr.parent_pr_line" >{{pr.MaterialCode || '-'}}</span>
                                                </td>
                                                <!--<td ng-if="!pr.parent_pr_line">{{pr.description || '-'}}</td>-->
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <span ng-if="!pr.parent_pr_line">{{pr.Quantity || '-'}}</span>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <span ng-if="!pr.parent_pr_line">{{pr.OrderUnitName || '-'}}</span>
                                                </td>
                                                <td  class="text-center" style="text-align: right;">
                                                    <span ng-if="!pr.parent_pr_line">{{(pr.UnitCost | currency: pr.LabelCurr+" ") || '-' }}</span>
                                                </td>
                                                <td ng-if="!pr.parent_pr_line" class="text-center" style="text-align: right;">{{pr.DepartmentName || '-'}}</td>
                                                <td  class="text-center" style="text-align: right;">
                                                    <span ng-if="pr.parent_pr_line">{{pr.EntityName || '-'}}</span>
                                                </td>
                                                <td class="text-center" style="text-align: right;"> <span ng-if="pr.parent_pr_line">{{pr.EmployeeName || '-'}}</span></td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="pr.parent_pr_line"> {{pr.PreparePRName || '-'}} </span>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="pr.parent_pr_line"> {{(pr.LastApprovedDate | date: 'dd-MM-yyyy') || '-'}}</span>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="pr.parent_pr_line">{{pr.LocationName || '-'}}</span>
                                                </td>
                                               
                                                <td class="text-center">
                                                    <button ng-if="pr.parent_pr_line" ng-click="persetujuanPurchaseRequisitionCtrl.lihatDokumenPR(pr)" title="{{'PR_DOKUMEN_DETAIL' | translate}}" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                                                </td>
                                                <td class="text-center">
                                                    <button ng-if="pr.parent_pr_line" ng-click="persetujuanPurchaseRequisitionCtrl.LihatPRHistory(pr)" title="{{'PR_HISTORY_DETAIL' | translate}}" class="btn btn-xs btn-success"><i class="fa fa-eye"></i></button>
                                                </td>
                                            </tr>
                                            <tr ng-if="persetujuanPurchaseRequisitionCtrl.PR.length == 0">
                                                <td colspan="11">{{ 'TABLE.NO_DATA' | translate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            <label>{{ 'TOTALPR' | translate}} : {{persetujuanPurchaseRequisitionCtrl.totalItems}}</label>
                                            <!-- <b><i>Keterangan</i> :</b> --><br>
                                            <!--<b style="color: green; font-weight: bold"><i class="fa fa-circle" style="color: green"></i> {{'COMPLETE' | translate}}</b> &nbsp;|&nbsp;
                                            <b style="color: red; font-weight: bold"><i class="fa fa-circle" style="color: red"></i> {{'REVISION' | translate}}</b> &nbsp;|&nbsp;
                                            <b style="color: grey; font-weight: bold"><i class="fa fa-circle" style="color: grey"></i> {{'UNCHECKED' | translate}}</b> &nbsp;|&nbsp;
                                            <b style="color: #337AB7; font-weight: bold"><i class="fa fa-circle" style="color: #337AB7"></i> {{'CANCELED' | translate}}</b>&nbsp;|&nbsp;
                                            <b style="color: orange; font-weight: bold"><i class="fa fa-circle" style="color: orange"></i> {{'UPDATED' | translate}}</b><br>-->
                                        </div>
                                        <div class="col-md-12">
                                            <!-- <b style="color: #FF4C34; font-weight: bold"><button class="btn btn-xs btn-danger"><i class="fa fa-ban"></button></i> Batalkan PR</b> &nbsp;&nbsp;
                                            <b style="color: #0D96E4; font-weight: bold"><button class="btn btn-xs btn-primary"><i class="fa fa-pencil"></button></i> Ubah Proses</b> &nbsp;&nbsp;
                                            <b style="color: #00AB5F; font-weight: bold"><button class="btn btn-xs btn-success"><i class="fa fa-edit"></button></i> Pengadaan Langsung</b> &nbsp;&nbsp;
                                            <b style="color: #FF980F; font-weight: bold"><button class="btn btn-xs btn-warning"><i class="fa fa-list-ol"></button></i> Pelelangan</b> &nbsp;&nbsp;-->
                                            <!-- batalkan PR -->

                                        </div>
                                    </div>
                                </div>


                                <div ng-if="persetujuanPurchaseRequisitionCtrl.totalItems > 10">

                                   <!-- <pagination total-items="totalItems" page="currentPage" items-per-page="10" max-size="maxSize" on-select-page="persetujuanPurchaseRequisitionCtrl.jLoad(page)"></pagination>-->
                                </div>
                                <br />

                                <button class="btn btn-success" ng-click="persetujuanPurchaseRequisitionCtrl.ModalSetuju()">{{'COMPLETE' | translate}}</button>
                                <button class="btn btn-danger" ng-click="persetujuanPurchaseRequisitionCtrl.ModalTolak()">{{'REVISION' | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>



<script>
$(document).ready(function() {
    $('[data-toggle="popover"]').popover({html: true, placement: "right"});
});
</script>