﻿<div class="modal-content" ng-init="tolakPRModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="tolakPRModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">
            <span>{{'MODAL.REVISI' | translate}}</span>
        </h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <h4>{{'PR_REVISI_ALERT' | translate}} : </h4>
                <br />
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.PR_CODE' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.PR_NAME' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.DETAIL_PRLINE' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.NOTES' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in tolakPRModalCtrl.data">
                                <td class="center-vertical">{{tolakPRModalCtrl.currentPage > 1 ? (tolakPRModalCtrl.maxSize * (tolakPRModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td class="center-vertical">{{a.PRCode || '-'}}</td>
                                <td class="center-vertical">{{a.PRName || '-'}}</td>
                                <td class="center-vertical">
                                    <button class="btn btn-flat btn-sm btn-primary" ng-click="tolakPRModalCtrl.detailPRLine(a)" title="Detail"> <i class="fa fa-eye"></i> </button>
                                </td>
                                <td class="center-vertical">
                                    <input class="form-control" ng-model="a.Notes" placeholder="{{'NOTES' | translate}}" />

                                </td>
                            </tr>
                            <tr ng-if="tolakPRModalCtrl.data.length === 0">
                                <td colspan="10">{{'TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-10">
                        <!--<ul uib-pagination total-items="tolakPRModalCtrl.totalItems"
                            ng-model="tolakPRModalCtrl.currentPage" ng-if="tolakPRModalCtrl.totalItems > 10" items-per-page="tolakPRModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="tolakPRModalCtrl.jLoad(tolakPRModalCtrl.currentPage)"></ul>-->
                        <br /><label>{{'TOTAL_DATA' | translate}} : {{tolakPRModalCtrl.data.length}}</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-sm btn-danger" title="{{'BACK' | translate}}" ng-click="tolakPRModalCtrl.batal()"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
        <button class="btn btn-flat btn-sm btn-success" title="{{'SAVE' | translate}}" ng-click="tolakPRModalCtrl.simpan()"><i class="fa fa-reply"></i> {{'SAVE' | translate}}</button>
    </div>
</div>