﻿<div class="modal-content" ng-init="viewPRHistoryModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewPRHistoryModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">
            <span>{{'MODAL.VIEW_PR_HISTORY' | translate}}</span>
        </h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.TANGGAL_HISTORY' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.STATUS_HISTORY' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.PIC' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.KETERANGAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.PR_CODE' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.PR_NAME' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in viewPRHistoryModalCtrl.dataHistoryPR">
                                <td class="center-vertical">{{viewPRHistoryModalCtrl.currentPage > 1 ? (viewPRHistoryModalCtrl.maxSize * (viewPRHistoryModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td>{{(a.SendDate | date: 'dd-MM-yyyy') || '-'}}</td>
                                <td ng-if="a.Status == 4539">{{'AKTIF' | translate}}</td>
                                <td ng-if="a.Status == 4557">{{'COMPLETE' | translate}}</td>
                                <td ng-if="a.Status == 4540">{{'REVISION' | translate}}</td>
                                <td ng-if="a.Status == 4541">{{'CANCELED' | translate}}</td>
                                <td ng-if="a.Status == 4558">{{'UPDATED' | translate}}</td>
                                <td ng-if="a.Status == 4542">{{'PROSES' | translate}}</td>
                                <td ng-if="a.Status == 4543">{{'SELESAI' | translate}}</td>
                                <td>{{a.EmployeeName || '-'}}</td>
                                <td>{{a.Notes || '-'}}</td>
                                <td>{{a.PRCode || '-'}}</td>
                                <td>{{a.PRName || '-'}}</td>

                            </tr>
                            <tr ng-if="viewPRHistoryModalCtrl.totalItems === 0">
                                <td colspan="7">{{'TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-10">
                        <ul uib-pagination total-items="viewPRHistoryModalCtrl.totalItems"
                            ng-model="viewPRHistoryModalCtrl.currentPage" ng-if="viewPRHistoryModalCtrl.totalItems > 10" items-per-page="viewPRHistoryModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="viewPRHistoryModalCtrl.jLoad(viewPRHistoryModalCtrl.currentPage)"></ul>
                        <br /><label>{{'TOTAL_DATA' | translate}} : {{viewPRHistoryModalCtrl.totalItems}}</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-sm btn-danger" title="{{'BACK' | translate}}" ng-click="viewPRHistoryModalCtrl.batal()"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
    </div>
</div>