﻿<div class="modal-content" ng-init="viewDokumenPRModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewDokumenPRModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">
            <span>{{'MODAL.VIEW_DOKUMEN_PR' | translate}}</span>
        </h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.NAMA_DOKUMEN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.STATUS_DOKUMEN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.ACTION' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in viewDokumenPRModalCtrl.dataDokumenPR">
                                <td class="center-vertical">{{viewDokumenPRModalCtrl.currentPage > 1 ? (viewDokumenPRModalCtrl.maxSize * (viewDokumenPRModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td class="center-vertical">{{a.DocumentName || '-'}}</td>
                                <td class="center-vertical" ng-if="a.Status == 4550">{{'AKTIF' | translate}}</td>
                                <td class="center-vertical" ng-if="a.Status == 4551">{{'REVISION' | translate}}</td>
                                <td class="center-vertical" ng-if="a.Status == 4552">{{'DIHAPUS' | translate}}</td>
                                <td class="center-vertical" ng-if="a.Status == 4553">{{'UPDATED' | translate}}</td>
                                <td class="center-vertical">
                                    <a href="{{viewDokumenPRModalCtrl.folderFile + a.Url}}" class="btn btn-flat btn-sm btn-primary" target="_blank" title="Download {{a.DocumentName}}" ><i class="fa fa-download"></i></a>

                                </td>
                              
                            </tr>
                            <tr ng-if="viewDokumenPRModalCtrl.totalItems === 0">
                                <td colspan="10">{{'TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-10">
                        <ul uib-pagination total-items="viewDokumenPRModalCtrl.totalItems"
                            ng-model="viewDokumenPRModalCtrl.currentPage" ng-if="viewDokumenPRModalCtrl.totalItems > 10" items-per-page="viewDokumenPRModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="viewDokumenPRModalCtrl.jLoad(viewDokumenPRModalCtrl.currentPage)"></ul>
                        <br /><label>{{'TOTAL_DATA' | translate}} : {{viewDokumenPRModalCtrl.totalItems}}</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-sm btn-danger" title="{{'BACK' | translate}}" ng-click="viewDokumenPRModalCtrl.batal()"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
    </div>
</div>