﻿<div class="container-fluid" ng-init="VerifiedSendCtrl.init()">
    <ol class="breadcrumb" style="margin-top: 20px;">
        <li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.VERIFIED_SEND' | translate}}</a></li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-12 center-block" style="float: none!important;">
                    <div class="alert alert-info col-md-10" ng-if="VerifiedSendCtrl.verified.Isverified ===null && VerifiedSendCtrl.verified.VerifiedSendDate ===null">
                        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"></button>
                        <span><strong>{{'WARNING' | translate}} !</strong> {{'CHECK_VALID' | translate}}!</span>
                    </div>
                    <div class="alert alert-success col-md-10" ng-if="VerifiedSendCtrl.verified.Isverified===1">
                        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"></button>
                        <span><strong>{{'INFO' | translate}}!</strong>{{'VERIFIED' | translate}} </span>
                    </div>
                    <div class="alert alert-danger col-md-10" ng-if="VerifiedSendCtrl.verified.Isverified === null && VerifiedSendCtrl.notCompletedData.length > 0">
                        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"></button>
                        <span><strong>{{'WARNING' | translate}} !</strong> {{'INCOMPLETE' | translate}}</span>
                        <h5 class="afta-font text-left" ng-repeat="data in VerifiedSendCtrl.notCompletedData">
                            <p>
                                <span>
                                    <a href="{{data.Url}}" style="color: #a94442;">{{data.Label | translate}}</a>
                                </span>
                            </p>
                        </h5>
                    </div>
                    <div class="alert alert-warning col-md-10" ng-if="VerifiedSendCtrl.verified.Isverified ===null && VerifiedSendCtrl.verified.VerifiedSendDate !==null">
                        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"></button>
                        <span>
                            <strong>{{'WARNING' | translate}} !</strong> {{'SENT' | translate}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="float: none!important;" ng-show="VerifiedSendCtrl.verified.Isverified === null && VerifiedSendCtrl.verified.VerifiedSendDate === null">
                    <button href="" ng-click="VerifiedSendCtrl.add(VerifiedSendCtrl.verified)" class="btn btn-primary" title="{{'SEND_VERIFIKASI'| translate}}">
                        <i class="fa fa-send-o"></i> {{'SEND_VERIFIKASI' | translate}}&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>