﻿<section ng-init="vhsfpaTechEvalResulDetermineVendorCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li>
			<a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a>
		</li>
		<li ng-if="vhsfpaTechEvalResulDetermineVendorCtrl.RFQType === 1">
			<a class="active">{{'BREADCRUMB.VHSOFFER' | translate}}</a>
		</li>
		<li ng-if="vhsfpaTechEvalResulDetermineVendorCtrl.RFQType === 2">
			<a class="active">{{'BREADCRUMB.FPAOFFER' | translate}}</a>
		</li>
	</ol>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<h3 ng-if="vhsfpaTechEvalResulDetermineVendorCtrl.RFQType === 1" class="afta-font judul-datatabel" style="text-align: center!important;">{{'TITLE.VHS' | translate}}</h3>
								<h3 ng-if="vhsfpaTechEvalResulDetermineVendorCtrl.RFQType === 2" class="afta-font judul-datatabel" style="text-align: center!important;">{{'TITLE.FPA' | translate}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<label>{{'FORM.STARTDATE' | translate}}: {{vhsfpaTechEvalResulDetermineVendorCtrl.StartDate}}</label>
							</div>
							<div class="col-md-4">
								<label>{{'FORM.ENDDATE' | translate}}: {{vhsfpaTechEvalResulDetermineVendorCtrl.EndDate}}</label>
							</div>
							<div class="col-md-9">
								<label>{{'FORM.TENDERNAME' | translate}}: {{vhsfpaTechEvalResulDetermineVendorCtrl.TenderName}}</label>
							</div>
						</div>
						<hr />
						<div class="row" style="margin-top: 20px;">
							<div class="col-md-12">
								<div class="form-group">
									<label>{{'FORM.SUMMARY' | translate }}</label>
									<textarea class="form-control input-sm" ng-disabled="true" ng-model="vhsfpaTechEvalResulDetermineVendorCtrl.Summary"></textarea>
								</div>
							</div>
						</div>
						<div ng-if="vhsfpaTechEvalResulDetermineVendorCtrl.IsInformedToVendor" class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">{{'VENDOR_NAME' | translate}}</th>
											<th class="text-center">{{'EVAL_RESULT' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center" style="vertical-align: middle;">{{vhsfpaTechEvalResulDetermineVendorCtrl.VendorName}}</td>
											<td ng-if="vhsfpaTechEvalResulDetermineVendorCtrl.IsPassed" class="text-center" style="vertical-align: middle;">{{'PASSED' | translate}}</td>
											<td ng-if="!vhsfpaTechEvalResulDetermineVendorCtrl.IsPassed" class="text-center" style="vertical-align: middle;">{{'FAILED' | translate}}</td>
										</tr>
									</tbody>
								</table>
							</div><br />
							<div></div>
						</div>
						<div class="row" style="margin-top: 20px;">
							<div class="col-md-12">
								<label class="text-center">
									<button type="button" ng-click="vhsfpaTechEvalResulDetermineVendorCtrl.backpengadaan()" class="btn btn-danger" title="Kembali">
										<i class="fa fa-arrow-circle-left"></i>&nbsp;{{'FORM.BACK' | translate}}
									</button>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>