﻿<!-- Main content -->
<div ng-init="DetailmonitoringPOCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
			<li><a class="active">{{'BREADCRUMB.DETAIL_PO' | translate}}</a></li>
		</ol>
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-header">
						<div class="row">
							<div class="col-md-12 align-center">
								<h3 class="afta-font center text-center">DETAIL PO</h3>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<label class="col-md-2">{{'VENDOR'|translate}}</label>
								<label class="col-md-10">: {{DetailmonitoringPOCtrl.paket[0].VendorMonitoringPO.vendor.VendorName}} </label>
							</div>
							<div class="col-md-12">
								<label class="col-md-2">{{'PO_NUMBER' | translate}}</label>
								<label class="col-md-10">: {{DetailmonitoringPOCtrl.paket[0].VendorMonitoringPO.MonitoringPO.POmodel.PONumber}} </label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px;">{{'TABLE.NO' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.NAME' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.MODIF' | translate }}</th>
												<th class="text-center" style="vertical-align: middle; width: 120px; min-width: 120px;">{{'TABLE.CEK' | translate }}</th>

												<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.ACTION' | translate }}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="dt in DetailmonitoringPOCtrl.paket">
												<td style="vertical-align: middle;">{{$index+1}}</td>
												<td style="vertical-align: middle;">{{dt.SysReference.Value | translate}}</td>
												<td style="vertical-align: middle;" ng-if="dt.SysReference.Name !== 'DETAIL_OTHERDOC'">{{DetailmonitoringPOCtrl.convertDate (dt.CheckDate)}}</td>
												<td style="vertical-align: middle;" ng-if="dt.SysReference.Name === 'DETAIL_OTHERDOC'"></td>
												<td style="vertical-align: middle;" ng-if="dt.SysReference.Name !== 'DETAIL_SI' && dt.SysReference.Name !=='DETAIL_OTHERDOC' && dt.IsCheck==true && dt.CheckDate !==null"> {{'Setuju'| translate}}</td>
												<td style="vertical-align: middle;" ng-if="dt.SysReference.Name !== 'DETAIL_SI' && dt.SysReference.Name !== 'DETAIL_OTHERDOC' && dt.IsCheck == false && dt.CheckDate !== null"> {{'Tidak Setuju'| translate}}</td>
												<td style="vertical-align: middle;" ng-if="dt.SysReference.Name !== 'DETAIL_SI' && dt.SysReference.Name !== 'DETAIL_OTHERDOC' && dt.IsCheck == false && dt.CheckDate === null"> </td>
												<td style="vertical-align: middle;" ng-if="dt.SysReference.Name === 'DETAIL_OTHERDOC'"> </td>
												<td style="vertical-align: middle;" ng-if="dt.SysReference.Name === 'DETAIL_SI' "> <input ng-disabled="!(DetailmonitoringPOCtrl.paket[0].VendorMonitoringPO.SysReference.Name === 'REVIEW_VENDOR')" type="checkbox" class="form-control" ng-model="dt.IsCheck"></td>

												<td ng-if="dt.SysReference.Name !== 'DETAIL_SI'&& dt.SysReference.Name !== 'DETAIL_OTHERDOC'" style="vertical-align: middle;">
													<a ng-click="DetailmonitoringPOCtrl.open(dt.SysReference.Name, dt)" class="btn btn-flat btn-primary" title="Detail"><i class="fa fa-edit"></i></a>
												</td>
												<td ng-if="dt.SysReference.Name === 'DETAIL_SI'|| dt.SysReference.Name === 'DETAIL_OTHERDOC'" style="vertical-align: middle;">
													<a ng-if="dt.DocUrl !== null" target="_blank" href="{{DetailmonitoringPOCtrl.folderFile+dt.DocUrl}}" class="btn btn-flat btn-warning" title="Download"><i class="fa fa-download"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-12">
								<div class="text-center">
									<a href="#/dashboard-vendor" class="btn btn-flat btn-primary"><i class="fa fa-reply"></i>{{'Kembali' | translate}}</a>
									<button ng-if="(DetailmonitoringPOCtrl.paket[0].VendorMonitoringPO.SysReference.Name === 'REVIEW_VENDOR')" class="btn btn-flat btn-success" ng-click="DetailmonitoringPOCtrl.setujuAll()">
										<i class="fa fa-save"></i> {{'Simpan' | translate}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script type="text/ng-template" id="tc.html">
	<div class="modal-content" ng-init="DetailmonitoringPOCtrl.init()">
		<div class="modal-header">
			<button type="button" class="close" ng-click="DetailmonitoringPOCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
			<h3 class="modal-title afta-font" id="myModalLabel">{{'TITLE' | translate}}</h3>
		</div>
		<div class="modal-body">
			<div>

				<div class="row">
					<div class="col-md-12">
						<h4>{{'TC.H1' | translate}}</h4>
						{{'TC.TEXT_H1' | translate}}
						<h4>{{'TC.H2' | translate}}</h4>
						{{'TC.TEXT_H2.1' | translate}}<br /><br />
						{{'TC.TEXT_H2.2' | translate}}<br /><br />
						{{'TC.TEXT_H2.3' | translate}}<br /><br />
						{{'TC.TEXT_H2.4.TEXT1' | translate}}<br />
						{{'TC.TEXT_H2.4.A' | translate}}<br />
						{{'TC.TEXT_H2.4.B' | translate}}<br />
						{{'TC.TEXT_H2.4.C' | translate}}<br />
						{{'TC.TEXT_H2.4.D' | translate}}<br />
						{{'TC.TEXT_H2.4.E' | translate}}<br />
						{{'TC.TEXT_H2.4.F' | translate}}<br />
						{{'TC.TEXT_H2.4.TEXT2' | translate}}<br /><br />
						{{'TC.TEXT_H2.5' | translate}}<br /><br />
						{{'TC.TEXT_H2.6' | translate}}<br /><br />
						{{'TC.TEXT_H2.7' | translate}}<br /><br />
						{{'TC.TEXT_H2.8' | translate}}<br /><br />
						<h4>{{'TC.H3' | translate}}</h4>
						{{'TC.TEXT_H3' | translate}}
						<br /><br />
						<h4>{{'TC.H4' | translate}}</h4>
						{{'TC.TEXT_H4.TEXT1' | translate}}
						<br />
						{{'TC.TEXT_H4.TEXT2' | translate}}
						<br />
						{{'TC.TEXT_H4.TEXT3' | translate}}
						<br />
						{{'TC.TEXT_H4.TEXT4' | translate}}
						<br />
						{{'TC.TEXT_H4.TEXT5' | translate}}
						<br />
						{{'TC.TEXT_H4.TEXT6' | translate}}
						<br /><br />
						<h4>{{'TC.H5' | translate}}</h4>
						{{'TC.TEXT_H5.TEXT1' | translate}}<br />
						{{'TC.TEXT_H5.TEXT2' | translate}}<br />
						{{'TC.TEXT_H5.TEXT3' | translate}}<br />
						{{'TC.TEXT_H5.TEXT4' | translate}}<br /><br />
						<h4>{{'TC.H6' | translate}}</h4>
						{{'TC.TEXT_H6' | translate}}<br /><br />
						<h4>{{'TC.H7' | translate}}</h4>
						{{'TC.TEXT_H7' | translate}}<br /><br />
						<h4>{{'TC.H8' | translate}}</h4>
						{{'TC.TEXT_H8' | translate}}<br /><br />
						<h4>{{'TC.H9' | translate}}</h4>
						{{'TC.TEXT_H9.1' | translate}}
						{{'TC.TEXT_H9.2' | translate}}
						<br />
						{{'TC.TEXT_H9.3' | translate}}
						{{'TC.TEXT_H9.4' | translate}}<br />
						{{'TC.TEXT_H9.5' | translate}}
						{{'TC.TEXT_H9.6' | translate}}<br /><br />
						<h4>{{'TC.H10' | translate}}</h4>
						{{'TC.TEXT_H10.1' | translate}}<br /><br />
						{{'TC.TEXT_H10.2' | translate}}<br /><br />
						{{'TC.TEXT_H10.3' | translate}}<br /><br />
						{{'TC.TEXT_H10.4' | translate}}<br /><br />
						{{'TC.TEXT_H10.5' | translate}}<br /><br />
						<h4>{{'TC.H11' | translate}}</h4>
						{{'TC.TEXT_H11' | translate}}<br /><br />
						<h4>{{'TC.H12' | translate}}</h4>
						{{'TC.TEXT_H12' | translate}}<br /><br />
						<h4>{{'TC.H13' | translate}}</h4>
						{{'TC.TEXT_H13.1' | translate}}<br />
						{{'TC.TEXT_H13.2' | translate}}<br /><br />
						<h4>{{'TC.H14' | translate}}</h4>
						{{'TC.TEXT_H14.1' | translate}}<br />
						{{'TC.TEXT_H14.2' | translate}}<br />
						{{'TC.TEXT_H14.3' | translate}}<br />
						{{'TC.TEXT_H14.4' | translate}}<br />
						{{'TC.TEXT_H14.5' | translate}}<br /><br />
						<h4>{{'TC.H15' | translate}}</h4>
						{{'TC.TEXT_H15.1' | translate}}<br />
						{{'TC.TEXT_H15.2' | translate}}<br />
						{{'TC.TEXT_H15.3' | translate}}<br />
						{{'TC.TEXT_H15.4.TEXT' | translate}}
						<br />
						{{'TC.TEXT_H15.A' | translate}}<br />
						{{'TC.TEXT_H15.B' | translate}}<br />
						{{'TC.TEXT_H15.C' | translate}}<br />
						{{'TC.TEXT_H15.D' | translate}}<br />
						{{'TC.TEXT_H15.5' | translate}}<br /><br />
						<h4>{{'TC.H16' | translate}}</h4>
						{{'TC.TEXT_H16' | translate}}<br /><br />
						<h4>{{'TC.H17' | translate}}</h4>
						{{'TC.TEXT_H17' | translate}}<br />
					</div>
				</div>

			</div>
		</div>
		<!--
		<div class="row" id="exportthis">
			<div class="col-md-12">
				<div ng-show="detailApprovalSignOffCtrl.visible">cobi</div>
				<button ng-click="detailApprovalSignOffCtrl.printForm()">export</button>
			</div>
		</div>
			-->
		<div class="modal-footer">
			<div class="col-md-12">
				<div class="text-center">
					<button class="btn btn-flat btn-primary" title="{{'BATAL' | translate}}" ng-click="DetailmonitoringPOCtrl.cancel()"><i class="fa fa-reply"></i></button>
					<button class="btn btn-flat btn-success" title="{{'SETUJU' | translate}}" ng-click="DetailmonitoringPOCtrl.setuju()"><i class="fa fa-check"></i></button>
				</div>
			</div>
		</div>
	</div>
</script>
