﻿<!-- Main content -->
<div ng-init="ExportPOVendorCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/monitoring-po">{{'BREADCRUMB.MONITORING_TENDER' | translate}}</a></li>
            <li><a class="active">Purchase Order</a></li>
        </ol>
        <div class="row" id="print">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="text-right" ng-if="PrintExportPoVendorCtrl.potype=='Amanded'">
                                    <h4>*** AMANDED ***</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">PURCHASE ORDER</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">SUPPLIER CODE<br />{{ExportPOVendorCtrl.export.vendorcontact[0].Vendor.SAPCode}}</th>
                                                <th class="text-center" style="vertical-align: middle;">PO DATE<br />{{ExportPOVendorCtrl.export.POmodel.CreatedDate| date: "dd/MM/yyyy"}}</th>
                                                <th class="text-center" style="vertical-align: middle;">PURCHASE ORDER NBR<br />{{ExportPOVendorCtrl.export.POmodel.PONumber}}</th>
                                            </tr>
                                        </thead>
                                     </table>
                            </div>
                        </div>

                        <div class="row margin-atas">
                            <div class="col-md-6">
                                <div class="col-md-2">
                                    <strong>
                                        SUPPLIER
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    : {{ExportPOVendorCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{ExportPOVendorCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
                                    <div ng-if="ExportPOVendorCtrl.internasional==true && ExportPOVendorCtrl.hascity==false">
                                        {{ExportPOVendorCtrl.address}}
                                    </div>
                                    <div ng-if="ExportPOVendorCtrl.internasional==true && ExportPOVendorCtrl.hascity==true">
                                        {{ExportPOVendorCtrl.AddressInfo}}<br />
                                        {{ExportPOVendorCtrl.City}}<br/>
                                        {{ExportPOVendorCtrl.State}}, {{ExportPOVendorCtrl.Country}}
                                    </div>
                                    <div ng-if="ExportPOVendorCtrl.nasional==true && ExportPOVendorCtrl.hascity==true && ExportPOVendorCtrl.hasdistrict==false && ExportPOVendorCtrl.internasional==false">
                                        {{ExportPOVendorCtrl.AddressInfo}}<br />
                                        {{ExportPOVendorCtrl.City}}<br />
                                        {{ExportPOVendorCtrl.State.}}, {{ExportPOVendorCtrl.Country}}
                                    </div>
                                    <div ng-if="ExportPOVendorCtrl.nasional==true && ExportPOVendorCtrl.hascity==false && ExportPOVendorCtrl.hasdistrict==false && ExportPOVendorCtrl.internasional==false">
                                        {{ExportPOVendorCtrl.AddressInfo}}<br />
                                        {{ExportPOVendorCtrl.State}}, {{ExportPOVendorCtrl.Country}}
                                    </div>
                                    <div ng-if="ExportPOVendorCtrl.nasional==true && ExportPOVendorCtrl.hascity==true && ExportPOVendorCtrl.hasdistrict==true && ExportPOVendorCtrl.internasional==false">
                                        {{ExportPOVendorCtrl.AddressInfo}}<br />
                                        {{ExportPOVendorCtrl.District}}, {{ExportPOVendorCtrl.City}}<br />
                                        {{ExportPOVendorCtrl.State}}, {{ExportPOVendorCtrl.Country}}
                                    </div>
                                    <div ng-if="ExportPOVendorCtrl.nasional==true && ExportPOVendorCtrl.hascity==false && ExportPOVendorCtrl.hasdistrict==true && ExportPOVendorCtrl.internasional==false">
                                        {{ExportPOVendorCtrl.AddressInfo}}<br />
                                        {{ExportPOVendorCtrl.District}}<br />
                                        {{ExportPOVendorCtrl.State}}, {{ExportPOVendorCtrl.Country}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong>
                                        FREIGHT METHOD
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    : {{ExportPOVendorCtrl.export.freightMethod.Name}} Freight
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong>
                                        DELIVERY POINT
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    <!--: {{ExportPOVendorCtrl.export.inco.Code}} {{ExportPOVendorCtrl.export.freight.DeliveryState}}-->

									: {{ExportPOVendorCtrl.export.DeliverPoint}}
                                </div>
                            </div>
                        </div>
                        <div class="row margin-atas">
                            <div class="col-md-6">
                                <div class="col-md-2">
                                    <strong>
                                        ATTENTION
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    : {{ExportPOVendorCtrl.contactCP[0].Contact.Name}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong>
                                        PAYMENT TERM
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    : {{ExportPOVendorCtrl.export.POmodel.PaymentTerms}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-2">
                                    <strong>
                                        FAX
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    : {{ExportPOVendorCtrl.contactCompany.Contact.Fax}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <strong>
                                        TEL
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    : {{ExportPOVendorCtrl.contactCompany.Contact.Phone}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-2">
                                    <strong>
                                        EMAIL
                                    </strong>
                                </div>
                                <div class="col-md-8">
                                    : {{ExportPOVendorCtrl.contactCompany.Contact.Email}}
                                </div>
                            </div>
                        </div>

                        <div class="row margin-atas">
                            <div class="col-md-12">
                                In accepting this order, seller agrees to furnish the material specified in full accordance with all conditions agreed to on our contract terms and all conditions attached to this document.<br />
                                <strong>Please indicate your acknowledgement/acceptance immadiately through E-Procurement.</strong>
                            </div>
                        </div>

          
                        <div class="row margin-atas">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">ITEM</th>
                                                <th class="text-center" style="vertical-align: middle;">SCD/PR/FPA</th>
                                                <th class="text-center" style="vertical-align: middle;">QTY</th>
                                                <th class="text-center" style="vertical-align: middle;">UM</th>
                                                <th class="text-center" style="vertical-align: middle;">DESCRIPTION</th>
                                                <th class="text-center" style="vertical-align: middle;">DUE DATE</th>
                                                <th class="text-center" style="vertical-align: middle;">NET PRICE</th>
                                                <th class="text-center" style="vertical-align: middle;">TOTAL PRICE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr ng-repeat="dt in ExportPOVendorCtrl.alldata">
                                                    <td style="vertical-align: middle;">{{dt.POItem}}</td>
                                                    <td style="vertical-align: middle;">{{dt.ScdPrFpa}}</td>
                                                    <td style="vertical-align: middle;">{{dt.Quantity}}</td>
                                                    <td style="vertical-align: middle;">{{dt.UnitMeasure}}</td>
                                                    <td style="vertical-align: middle;">{{dt.ShortText}} {{dt.Mfr_No}} {{dt.Mfr_Name}} {{dt.Manu_Mat}}<br />{{dt.Purch_OrderText}} {{dt.PO_ItemText}} TARIFF CODE: {{dt.TariffCode}} /CONC. CAT: {{dt.ConcessCat}}</td>
                                                    <td style="vertical-align: middle;">{{dt.DelivDateOri | date: "dd/MM/yyyy"}}</td>
                                                    <td style="vertical-align: middle;">{{dt.NettPricePO | currency:"" }}</td>
                                                    <td style="vertical-align: middle;">{{dt.TotalPricePO | currency:"" }}</td>
                                                </tr>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th colspan="5"></th>
                                                <th>TOTAL</th>
                                                <th>{{ExportPOVendorCtrl.alldata[0].Currency}}</th>
                                                <th class="text-right">{{ExportPOVendorCtrl.alldata[0].Totalvalue | currency:""}}</th>
                                            </tr>
                                            <tr ng-if="ExportPOVendorCtrl.flagVAT == true">
                                                <th colspan="5"></th>
                                                <th colspan="2">VAT 10%</th>
                                                <th class="text-right">{{ExportPOVendorCtrl.alldata[0].vatvalue | currency:""}}</th>
                                            </tr>
                                            <tr>
                                                <th colspan="5"></th>
                                                <th colspan="2">GRAND TOTAL</th>
                                                <th class="text-right">{{ExportPOVendorCtrl.alldata[0].grandvalue | currency:""}}</th>
                                            </tr>
                                        </thead>

                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 center text-center ">
                                    <ul uib-pagination total-items="ExportPOVendorCtrl.totalItems"
                                        ng-model="ExportPOVendorCtrl.currentPage" items-per-page="ExportPOVendorCtrl.pageSize"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="ExportPOVendorCtrl.showPO(ExportPOVendorCtrl.currentPage)"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-atas">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        BUYER REMARK
                                    </div>
                                    <div class="col-md-8">
                                        : {{ExportPOVendorCtrl.export.POmodel.BuyerRemark}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    BUYER<br />
                                    PHONE<br />
                                    FAX<br />
                                    EMAIL<br />
                                </div>
                                <div class="col-md-8">
                                    : {{ExportPOVendorCtrl.export.buyer.FullName}} {{ExportPOVendorCtrl.export.buyer.SurName}}<br />
                                    : {{ExportPOVendorCtrl.export.buyer.WorkPhone}}<br />
                                    : {{ExportPOVendorCtrl.export.buyer.Fax}}<br />
                                    : {{ExportPOVendorCtrl.export.buyer.Email}}<br />
                                </div>
                            </div>
                        </div>
                        <div class="row margin-atas"></div>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="pull-left">
                                    <!--<button class="btn btn-flat btn-default" title="Print Preview" ng-click="ExportPOVendorCtrl.printPO('exportPO')"><i class="glyphicon glyphicon-print"></i></button>-->
                                    <button class="btn btn-flat btn-default" title="Print Preview" ng-click="ExportPOVendorCtrl.printExportPo()"><i class="glyphicon glyphicon-print"></i></button>
                                </div>
                                </div>
                            <div class="col-md-11">
                                <div class="text-center">
                                    <button class="btn btn-flat btn-primary" ng-click="ExportPOVendorCtrl.cancel()"><i class="fa fa-reply"></i> {{'Kembali' | translate}} </button>
                                    <button ng-if="ExportPOVendorCtrl.export.detailVendor[0].VendorMonitoringPO.SysReference.Name == 'REVIEW_VENDOR'" class="btn btn-flat btn-danger" ng-click="ExportPOVendorCtrl.Reject()"><i class="fa fa-close"></i> {{'Tidak Setuju' | translate}} </button>
                                    <button ng-if="ExportPOVendorCtrl.export.detailVendor[0].VendorMonitoringPO.SysReference.Name == 'REVIEW_VENDOR'" class="btn btn-flat btn-success" ng-click="ExportPOVendorCtrl.Setuju()"><i class="fa fa-check"></i> {{'Setuju' | translate}} </button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>
    <!--pdf-->
    <div id="exportPO" class="formEEC-container" ng-hide="true" style="background-color:#ffffff;">
        <div class="watermark">PT. PETROSEA TBK</div>
        <div style="position:fixed;z-index:99;">
            <div class="row" style="width:100%;">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" width="100px" height="40px" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="formEEC-title">
                        <!--EXPORT<br />-->
                        PURCHASE ORDER
                    </div>
                    <br />
                    <div class="formEEC-content">
                        <div class="formEEC-contentOutside">
                            <div class="row">
                                <div class="formEEC-col6"></div>
                                <div class="formEEC-col9">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">SUPPLIER CODE<br />{{ExportPOVendorCtrl.export.vendorcontact[0].Vendor.SAPCode}}</th>
                                                <th class="text-center" style="vertical-align: middle;">PO DATE<br />{{ExportPOVendorCtrl.export.POmodel.CreatedDate| date: "dd/MM/yyyy"}}</th>
                                                <th class="text-center" style="vertical-align: middle;">PURCHASE ORDER NBR<br />{{ExportPOVendorCtrl.export.POmodel.PONumber}}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row margin-atas">
                                    <div class="formEEC-col6">
                                        <div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                            <strong>
                                                SUPPLIER<br /><br /><br /><br /><br />
                                                ATTENTION<br />
                                                FAX<br />
                                                EMAIL<br />
                                            </strong>
                                        </div>
                                        <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                            : {{ExportPOVendorCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{ExportPOVendorCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
                                            <div ng-if="ExportPOVendorCtrl.internasional==true && ExportPOVendorCtrl.hascity==false">
                                                {{ExportPOVendorCtrl.address}}
                                            </div>
                                            <div ng-if="ExportPOVendorCtrl.internasional==true && ExportPOVendorCtrl.hascity==true">
                                                {{ExportPOVendorCtrl.AddressInfo}}<br />
                                                {{ExportPOVendorCtrl.City}}<br />
                                                {{ExportPOVendorCtrl.State}}, {{ExportPOVendorCtrl.Country}}
                                            </div>
                                            <div ng-if="ExportPOVendorCtrl.nasional==true && ExportPOVendorCtrl.hascity==true && ExportPOVendorCtrl.hasdistrict==false && ExportPOVendorCtrl.internasional==false">
                                                {{ExportPOVendorCtrl.AddressInfo}}<br />
                                                {{ExportPOVendorCtrl.City}}<br />
                                                {{ExportPOVendorCtrl.State.}}, {{ExportPOVendorCtrl.Country}}
                                            </div>
                                            <div ng-if="ExportPOVendorCtrl.nasional==true && ExportPOVendorCtrl.hascity==false && ExportPOVendorCtrl.hasdistrict==false && ExportPOVendorCtrl.internasional==false">
                                                {{ExportPOVendorCtrl.AddressInfo}}<br />
                                                {{ExportPOVendorCtrl.State}}, {{ExportPOVendorCtrl.Country}}
                                            </div>
                                            <div ng-if="ExportPOVendorCtrl.nasional==true && ExportPOVendorCtrl.hascity==true && ExportPOVendorCtrl.hasdistrict==true && ExportPOVendorCtrl.internasional==false">
                                                {{ExportPOVendorCtrl.AddressInfo}}<br />
                                                {{ExportPOVendorCtrl.District}}, {{ExportPOVendorCtrl.City}}<br />
                                                {{ExportPOVendorCtrl.State}}, {{ExportPOVendorCtrl.Country}}
                                            </div>
                                            <div ng-if="ExportPOVendorCtrl.nasional==true && ExportPOVendorCtrl.hascity==false && ExportPOVendorCtrl.hasdistrict==true && ExportPOVendorCtrl.internasional==false">
                                                {{ExportPOVendorCtrl.AddressInfo}}<br />
                                                {{ExportPOVendorCtrl.District}}<br />
                                                {{ExportPOVendorCtrl.State}}, {{ExportPOVendorCtrl.Country}}
                                            </div>
                                            : {{ExportPOVendorCtrl.contactCP[0].Contact.Name}}  <br />
                                            : {{ExportPOVendorCtrl.contactCompany.Contact.Fax}}<br />
                                            : {{ExportPOVendorCtrl.contactCompany.Contact.Email}}<br />
                                        </div>
                                    </div>
                                    <div class="formEEC-col6">
                                        <div style="width:150px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                            <strong>
                                                FREIGHT METHOD<br />
                                                DELIVERY POINT<br />
                                                PAYMENT TERM<br />
                                                TEL<br />
                                            </strong>
                                        </div>
                                        <div style="width:200px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                            : {{ExportPOVendorCtrl.export.freightMethod.Name}} Freight<br />
                                            : {{ExportPOVendorCtrl.export.inco.Code}} {{ExportPOVendorCtrl.export.freight.DeliveryState}}<br />
                                            : {{ExportPOVendorCtrl.export.POmodel.PaymentTerms}}<br />
                                            : {{ExportPOVendorCtrl.contactCompany.Contact.Phone}}<br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                In accepting this order, seller agrees to furnish the material specified in full accordance with all conditions agreed to on our contract terms and all conditions attached to this document.<br />
                                <b>Please indicate your acknowledgement/acceptance immadiately through E-Procurement.</b>
                            </p>
                        </div>
                        <table class="formEEC-table">
                            <tr>
                                <th>ITEM</th>
                                <th>SCD/PR/FPA</th>
                                <th>QTY</th>
                                <th>UM</th>
                                <th>DESCRIPTION</th>
                                <th>DUE DATE</th>
                                <th>NET PRICE</th>
                                <th>TOTAL PRICE</th>
                            </tr>
                            <tr ng-repeat="dt in ExportPOVendorCtrl.alldata">
                                <td>{{dt.POItem}}</td>
                                <td>{{dt.ScdPrFpa}}</td>
                                <td>{{dt.Quantity}}</td>
                                <td>{{dt.UnitMeasure}}</td>
                                <td>{{dt.ShortText}} {{dt.Mfr_No}} {{dt.Mfr_Name}} {{dt.Manu_Mat}}<br />{{dt.Purch_OrderText}} {{dt.PO_ItemText}} TARIFF CODE: {{dt.TariffCode}} /CONC. CAT: {{dt.ConcessCat}}</td>
                                <td>{{dt.DelivDate| date:"dd/MM/yyyy"}}</td>
                                <td>{{dt.NettPricePO | currency:""}}<span ng-if="dt.flagPrice == true">*</span></td>
                                <td>{{dt.TotalPricePO | currency:""}}</td>
                            </tr>
                            <tr>
                                <th colspan="5"></th>
                                <th>TOTAL</th>
                                <th>{{ExportPOVendorCtrl.alldata[0].Currency}}</th>
                                <th class="text-right">{{ExportPOVendorCtrl.alldata[0].Totalvalue | currency:""}}</th>
                            </tr>
                            <tr>
                                <th colspan="5"></th>
                                <th colspan="2">VAT 10%</th>
                                <th class="text-right">{{ExportPOVendorCtrl.alldata[0].vatvalue | currency:""}}</th>
                            </tr>
                            <tr>
                                <th colspan="5"></th>
                                <th colspan="2">GRAND TOTAL</th>
                                <th class="text-right">{{ExportPOVendorCtrl.alldata[0].grandvalue | currency:""}}</th>
                            </tr>
                        </table>
                        <div class="formEEC-contentOutside">
                            <div class="formEEC-col6">
                                <div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                    <strong>
                                        BUYER REMARK<br />
                                    </strong>
                                </div>
                                <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                    : {{ExportPOVendorCtrl.export.POmodel.BuyerRemark}}
                                </div>
                            </div>
                            <div class="formEEC-col6">
                                <div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                    <strong>
                                        BUYER<br />
                                        PHONE<br />
                                        FAX<br />
                                        EMAIL<br />
                                    </strong>
                                </div>
                                <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                    : {{ExportPOVendorCtrl.export.buyer.FullName}} {{ExportPOVendorCtrl.export.buyer.SurName}}<br />
                                    : {{ExportPOVendorCtrl.export.buyer.WorkPhone}}<br />
                                    : {{ExportPOVendorCtrl.export.buyer.Fax}}<br />
                                    : {{ExportPOVendorCtrl.export.buyer.Email}}<br />
                                </div>
                            </div>
                        </div>
                        <div class="formEEC-contentOutside margin-atas">
                            TARIFF/CONC CATEGORY MUST BE SHOWN AT ITEM<br />
                            LEVEL ON INVOICES AND SHIPPING DOCUMENTS
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script type="text/ng-template" id="tc.html">
    <div class="modal-content" ng-init="detailPOCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="detailPOCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">Syarat dan Ketentuan</h3>
        </div>
        <div class="modal-body">
            <div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{'TC.H1' | translate}}</h4>
                        {{'TC.TEXT_H1' | translate}}
                        <h4>{{'TC.H2' | translate}}</h4>
                        {{'TC.TEXT_H2.1' | translate}}<br /><br />
                        {{'TC.TEXT_H2.2' | translate}}<br /><br />
                        {{'TC.TEXT_H2.3' | translate}}<br /><br />
                        {{'TC.TEXT_H2.4.TEXT1' | translate}}<br />
                        {{'TC.TEXT_H2.4.A' | translate}}<br />
                        {{'TC.TEXT_H2.4.B' | translate}}<br />
                        {{'TC.TEXT_H2.4.C' | translate}}<br />
                        {{'TC.TEXT_H2.4.D' | translate}}<br />
                        {{'TC.TEXT_H2.4.E' | translate}}<br />
                        {{'TC.TEXT_H2.4.F' | translate}}<br />
                        {{'TC.TEXT_H2.4.TEXT2' | translate}}<br /><br />
                        {{'TC.TEXT_H2.5' | translate}}<br /><br />
                        {{'TC.TEXT_H2.6' | translate}}<br /><br />
                        {{'TC.TEXT_H2.7' | translate}}<br /><br />
                        {{'TC.TEXT_H2.8' | translate}}<br /><br />
                        <h4>{{'TC.H3' | translate}}</h4>
                        {{'TC.TEXT_H3' | translate}}
                        <h4>{{'TC.H4' | translate}}</h4>
                        {{'TC.TEXT_H4.TEXT1' | translate}}<br />
                        {{'TC.TEXT_H4.TEXT2' | translate}}<br />
                        {{'TC.TEXT_H4.TEXT3' | translate}}<br />
                        {{'TC.TEXT_H4.TEXT4' | translate}}<br />
                        {{'TC.TEXT_H4.TEXT5' | translate}}<br />
                        {{'TC.TEXT_H4.TEXT6' | translate}}<br /><br />
                        <h4>{{'TC.H5' | translate}}</h4>
                        {{'TC.TEXT_H4.TEXT1' | translate}}<br />
                        {{'TC.TEXT_H4.TEXT2' | translate}}<br />
                        {{'TC.TEXT_H4.TEXT3' | translate}}<br />
                        {{'TC.TEXT_H4.TEXT4' | translate}}<br /><br />
                        <h4>{{'TC.H6' | translate}}</h4>
                        {{'TC.TEXT_H6' | translate}}<br /><br />
                        <h4>{{'TC.H7' | translate}}</h4>
                        {{'TC.TEXT_H7' | translate}}<br /><br />
                        <h4>{{'TC.H8' | translate}}</h4>
                        {{'TC.TEXT_H8' | translate}}<br /><br />
                        <h4>{{'TC.H9' | translate}}</h4>
                        {{'TC.TEXT_H9.1' | translate}}<br />
                        {{'TC.TEXT_H9.2' | translate}}<br />
                        {{'TC.TEXT_H9.3' | translate}}<br />
                        {{'TC.TEXT_H9.4' | translate}}<br />
                        {{'TC.TEXT_H9.5' | translate}}<br />
                        {{'TC.TEXT_H9.6' | translate}}<br /><br />
                        <h4>{{'TC.H10' | translate}}</h4>
                        {{'TC.TEXT_H10.1' | translate}}<br />
                        {{'TC.TEXT_H10.2' | translate}}<br />
                        {{'TC.TEXT_H10.3' | translate}}<br />
                        {{'TC.TEXT_H10.4' | translate}}<br />
                        {{'TC.TEXT_H10.5' | translate}}<br /><br />
                        <h4>{{'TC.H11' | translate}}</h4>
                        {{'TC.TEXT_H11' | translate}}<br /><br />
                        <h4>{{'TC.H12' | translate}}</h4>
                        {{'TC.TEXT_H12' | translate}}<br /><br />
                        <h4>{{'TC.H13' | translate}}</h4>
                        {{'TC.TEXT_H13.1' | translate}}<br />
                        {{'TC.TEXT_H13.2' | translate}}<br /><br />
                       <h4>{{'TC.H14' | translate}}</h4>
                        {{'TC.TEXT_H14.1' | translate}}<br />
                        {{'TC.TEXT_H14.2' | translate}}<br />
                        {{'TC.TEXT_H14.3' | translate}}<br />
                        {{'TC.TEXT_H14.4' | translate}}<br />
                        {{'TC.TEXT_H14.5' | translate}}<br /><br />
                        <h4>{{'TC.H15' | translate}}</h4>
                        {{'TC.TEXT_H15.TEXT1' | translate}}<br />
                        {{'TC.TEXT_H15.1' | translate}}<br />
                        {{'TC.TEXT_H15.2' | translate}}<br />
                        {{'TC.TEXT_H15.3' | translate}}<br />
                        {{'TC.TEXT_H15.3.TEXT' | translate}}<br />
                        {{'TC.TEXT_H15.3.A' | translate}}<br />
                        {{'TC.TEXT_H15.3.B' | translate}}<br />
                        {{'TC.TEXT_H15.3.C' | translate}}<br />
                        {{'TC.TEXT_H15.3.D' | translate}}<br />
                        {{'TC.TEXT_H15.4' | translate}}<br /><br />
                        <h4>{{'TC.H16' | translate}}</h4>
                        {{'TC.TEXT_H16' | translate}}<br /><br />
                        <h4>{{'TC.H17' | translate}}</h4>
                        {{'TC.TEXT_H17' | translate}}<br /><br />
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <div class="text-center">
                    <button class="btn btn-flat btn-primary" ng-click="ExportPOVendorCtrl.cancel()"><i class="fa fa-reply"></i>{{'Kembali' | translate}}</button>
                    <button class="btn btn-flat btn-danger" ng-click="ExportPOVendorCtrl.reject()"><i class="fa fa-close"></i>{{'Tidak Setuju'|translate}}</button>
                    <button class="btn btn-flat btn-success" ng-click="ExportPOVendorCtrl.setuju()"><i class="fa fa-check"></i>{{'Setuju'|translate}}</button>
                </div>
            </div>
        </div>
</script>
