﻿<div class="modal-content" ng-init="PrintExportPoVendorCtrl.init()">
    <div class="modal-body">
        <button class="btn btn-flat btn-default" ng-click="PrintExportPoVendorCtrl.makePDF()"><i class="fa fa-print"></i></button>
        <div ng-repeat="d in PrintExportPoVendorCtrl.alldata_">
            <div ng-if="d!=null">
                <div id="print{{$index}}" class="print-wrap">
                    <!--<div class="watermark">PT. PETROSEA TBK</div>-->
                    <div class="row">
                        <div class="col-md-10">
                            <div class="text-right" ng-if="PrintExportPoVendorCtrl.potype=='Amanded'" >
                                <h4>*** AMANDED ***</h4>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" width="100px" height="40px" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center"><strong>PURCHASE ORDER</strong></h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-5"></div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="text-left" style="vertical-align: middle; width:40%;"><strong>SUPPLIER CODE</strong><br />{{PrintExportPoVendorCtrl.export.vendorcontact[0].Vendor.SAPCode}}</td>
                                                <td class="text-left" style="vertical-align: middle;"><strong>PO DATE</strong><br />{{PrintExportPoVendorCtrl.export.POmodel.CreatedDate| date: "dd/MM/yyyy"}}</td>
                                                <td class="text-left" style="vertical-align: middle;"><strong>PURCHASE ORDER NBR</strong><br />{{PrintExportPoVendorCtrl.export.POmodel.PONumber}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-11">
                                    <div class="text-right">
                                        <strong>PAGE: {{$index}} of {{PrintExportPoVendorCtrl.jumlahlembar}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-atas" ng-if="$index==1">
                        <div class="col-md-6">
                            <table style="border-style:hidden;">
                                <thead>
                                    <tr>
                                        <th width="40%" style="vertical-align:top;">SUPPLIER <span class="pull-right">:&nbsp;</span></th>
                                        <td width="60%">
                                            {{PrintExportPoVendorCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{PrintExportPoVendorCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
                                            <div ng-if="PrintExportPoVendorCtrl.internasional==true && PrintExportPoVendorCtrl.hascity==false">
                                                {{PrintExportPoVendorCtrl.address}}
                                            </div>
                                            <div ng-if="PrintExportPoVendorCtrl.internasional==true && PrintExportPoVendorCtrl.hascity==true">
                                                {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                                {{PrintExportPoVendorCtrl.City}}<br />
                                                {{PrintExportPoVendorCtrl.State}}, {{PrintExportPoVendorCtrl.Country}}
                                            </div>
                                            <div ng-if="PrintExportPoVendorCtrl.nasional==true && PrintExportPoVendorCtrl.hascity==true && PrintExportPoVendorCtrl.hasdistrict==false && PrintExportPoVendorCtrl.internasional==false">
                                                {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                                {{PrintExportPoVendorCtrl.City}}<br />
                                                {{PrintExportPoVendorCtrl.State.}}, {{PrintExportPoVendorCtrl.Country}}
                                            </div>
                                            <div ng-if="PrintExportPoVendorCtrl.nasional==true && PrintExportPoVendorCtrl.hascity==false && PrintExportPoVendorCtrl.hasdistrict==false && PrintExportPoVendorCtrl.internasional==false">
                                                {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                                {{PrintExportPoVendorCtrl.State}}, {{PrintExportPoVendorCtrl.Country}}
                                            </div>
                                            <div ng-if="PrintExportPoVendorCtrl.nasional==true && PrintExportPoVendorCtrl.hascity==true && PrintExportPoVendorCtrl.hasdistrict==true && PrintExportPoVendorCtrl.internasional==false">
                                                {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                                {{PrintExportPoVendorCtrl.District}}, {{PrintExportPoVendorCtrl.City}}<br />
                                                {{PrintExportPoVendorCtrl.State}}, {{PrintExportPoVendorCtrl.Country}}
                                            </div>
                                            <div ng-if="PrintExportPoVendorCtrl.nasional==true && PrintExportPoVendorCtrl.hascity==false && PrintExportPoVendorCtrl.hasdistrict==true && PrintExportPoVendorCtrl.internasional==false">
                                                {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                                {{PrintExportPoVendorCtrl.District}}<br />
                                                {{PrintExportPoVendorCtrl.State}}, {{PrintExportPoVendorCtrl.Country}}
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="40%" style="vertical-align:top;">ATTENTION <span class="pull-right">:&nbsp;</span></th>
                                        <td width="60%">
                                            {{PrintExportPoVendorCtrl.contactCP[0].Contact.Name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="40%" style="vertical-align:top;">FAX <span class="pull-right">:&nbsp;</span></th>
                                        <td width="60%">
                                            {{PrintExportPoVendorCtrl.contactCompany.Contact.Fax}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="40%" style="vertical-align:top;">EMAIL <span class="pull-right">:&nbsp;</span></th>
                                        <td width="60%">
                                            {{PrintExportPoVendorCtrl.contactCompany.Contact.Email}}
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table style="border-style:hidden;">
                                <thead>
                                    <tr>
                                        <th width="40%" style="vertical-align:top;">FREIGHT METHOD <span class="pull-right">:&nbsp;</span></th>
                                        <td width="60%">
                                            {{PrintExportPoVendorCtrl.export.freightMethod.Name}} Freight
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="40%" style="vertical-align:top;">DELIVERY POINT <span class="pull-right">:&nbsp;</span></th>
                                        <td width="60%">
                                        
                                            {{PrintExportPoVendorCtrl.export.DeliverPoint}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="40%" style="vertical-align:top;">PAYMENT TERM <span class="pull-right">:&nbsp;</span></th>
                                        <td width="60%">
                                            {{PrintExportPoVendorCtrl.export.POmodel.PaymentTerms}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="40%" style="vertical-align:top;">TEL <span class="pull-right">:&nbsp;</span></th>
                                        <td width="60%">
                                            {{PrintExportPoVendorCtrl.contactCompany.Contact.Phone}}
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>


                    <div class="row margin-atas" ng-if="$index==1">
                        <div class="col-md-12">
                            In accepting this order, seller agrees to furnish the material specified in full accordance with all conditions agreed to on our contract terms and all conditions attached to this document.<br />
                            <strong>Please indicate your acknowledgement/acceptance immadiately through E-Procurement.</strong>
                        </div>
                    </div>

                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">ITEM</th>
                                            <th class="text-center" style="vertical-align: middle;">SCD/PR/FPA</th>
                                            <th class="text-center" style="vertical-align: middle;">QTY</th>
                                            <th class="text-center" style="vertical-align: middle;">UM</th>
                                            <th class="text-center" style="vertical-align: middle;">DESCRIPTION</th>
                                            <th class="text-center" style="vertical-align: middle;">DUE DATE</th>
                                            <th class="text-center" style="vertical-align: middle;">NET PRICE</th>
                                            <th class="text-center" style="vertical-align: middle;">TOTAL PRICE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in d">
                                            <td class="text-center" style="vertical-align: middle;">{{p.POItem}}<span ng-if="p.POType=='Amanded'">*</span></td>
                                            <td class="text-center" style="vertical-align: middle;">{{p.ScdPrFpa}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{p.Quantity}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{p.UnitMeasure}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{p.ShortText}} {{p.Mfr_No}} {{p.Mfr_Name}} {{p.Manu_Mat}}<br />{{p.Purch_OrderText}} {{p.PO_ItemText}} TARIFF CODE: {{p.TariffCode}} /CONC. CAT: {{p.ConcessCat}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{p.DelivDateOri | date: "dd/MM/yyyy"}}</td>
                                            <td class="text-right" style="vertical-align: middle;">{{p.NettPricePO | currency:"" }}</td>
                                            <td class="text-right" style="vertical-align: middle;">{{p.TotalPricePO | currency:"" }}</td>
                                        </tr>
                                    </tbody>
                                    <thead ng-if="$index==PrintExportPoVendorCtrl.alldata_.length-1">
                                        <tr>
                                            <th colspan="5"></th>
                                            <th>TOTAL</th>
                                            <th>{{PrintExportPoVendorCtrl.alldata[0].Currency}}</th>
                                            <th class="text-right">{{PrintExportPoVendorCtrl.alldata[0].Totalvalue | currency:""}}</th>
                                        </tr>
                                        <tr ng-if="PrintExportPoVendorCtrl.flagVAT == true">
                                            <th colspan="5"></th>
                                            <th colspan="2">VAT 10%</th>
                                            <th class="text-right">{{PrintExportPoVendorCtrl.alldata[0].vatvalue | currency:""}}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="5"></th>
                                            <th colspan="2">GRAND TOTAL</th>
                                            <th class="text-right">{{PrintExportPoVendorCtrl.alldata[0].grandvalue | currency:""}}</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="$index==PrintExportPoVendorCtrl.alldata_.length-1">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    BUYER REMARK
                                </div>
                                <div class="col-md-8">
                                    : {{PrintExportPoVendorCtrl.export.POmodel.BuyerRemark}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4">
                                BUYER<br />
                                PHONE<br />
                                FAX<br />
                                EMAIL<br />
                            </div>
                            <div class="col-md-8">
                                : {{PrintExportPoVendorCtrl.export.buyer.FullName}} {{PrintExportPoVendorCtrl.export.buyer.SurName}}<br />
                                : {{PrintExportPoVendorCtrl.export.buyer.WorkPhone}}<br />
                                : {{PrintExportPoVendorCtrl.export.buyer.Fax}}<br />
                                : {{PrintExportPoVendorCtrl.export.buyer.Email}}<br />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="top:900px!important;position:static;">
                        <div class="col-md-12">
                            <strong>PT. PETROSEA TBK</strong><br />
                            <small>
                                Jakarta# :The Energy Building 31st Fl. SCBD Lot 11 A, Jl. Jend. Sudirman# Kav. 52-53, Jakarta 12190, Indonesia. T.(62) 21 524 9000 F.(62) 21 524 9020<br />
                                Makassar :Jl.Somba Opu 281, Po.Box 1143, Makassar 90001, Sulawesi Selatan, Indonesia. T.(62) 411 366 9000 F. (62) 411 366 9020<br />
                                Sorowako :Jl. Ternate 44, Sorowako, Nuha - Luwu Timur 92984, Sulawesi Selatan, Indonesia. T.(62) 475 332 9100 F.(62) 475 332 9557.<br />
                                <br /><u>www.vale.com/indonesia</u>
                            </small>
                        </div>
                    </div>


                </div>

            </div>
            </div>
        </div>
        <!--   
         <div id="print" class="print-wrap">
               <div class="row">
                   <div class="col-md-12">
                       <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" width="100px" height="40px" />
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-12">
                       <h3 class="text-center">PURCHASE ORDER</h3>
                   </div>
               </div>
               <div class="row margin-atas">
                   <div class="col-md-6">
                       <table class="table table-bordered table-striped">
                           <thead>
                               <tr>
                                   <th class="text-center" style="vertical-align: middle;">SUPPLIER CODE<br />{{PrintExportPoVendorCtrl.export.vendorcontact[0].Vendor.SAPCode}}</th>
                                   <th class="text-center" style="vertical-align: middle;">PO DATE<br />{{PrintExportPoVendorCtrl.export.POmodel.CreatedDate| date: "dd/MM/yyyy"}}</th>
                                   <th class="text-center" style="vertical-align: middle;">PURCHASE ORDER NBR<br />{{PrintExportPoVendorCtrl.export.POmodel.PONumber}}</th>
                               </tr>
                           </thead>
                       </table>
                   </div>
               </div>

                <div class="row margin-atas">
                    <div class="col-md-6">
                        <table style="border-style:hidden;">
                            <thead>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">SUPPLIER</th>
                                    <td width="60%">
                                        : {{PrintExportPoVendorCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{PrintExportPoVendorCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
                                        <div ng-if="PrintExportPoVendorCtrl.internasional==true && PrintExportPoVendorCtrl.hascity==false">
                                            {{PrintExportPoVendorCtrl.address}}
                                        </div>
                                        <div ng-if="PrintExportPoVendorCtrl.internasional==true && PrintExportPoVendorCtrl.hascity==true">
                                            {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                            {{PrintExportPoVendorCtrl.City}}<br />
                                            {{PrintExportPoVendorCtrl.State}}, {{PrintExportPoVendorCtrl.Country}}
                                        </div>
                                        <div ng-if="PrintExportPoVendorCtrl.nasional==true && PrintExportPoVendorCtrl.hascity==true && PrintExportPoVendorCtrl.hasdistrict==false && PrintExportPoVendorCtrl.internasional==false">
                                            {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                            {{PrintExportPoVendorCtrl.City}}<br />
                                            {{PrintExportPoVendorCtrl.State.}}, {{PrintExportPoVendorCtrl.Country}}
                                        </div>
                                        <div ng-if="PrintExportPoVendorCtrl.nasional==true && PrintExportPoVendorCtrl.hascity==false && PrintExportPoVendorCtrl.hasdistrict==false && PrintExportPoVendorCtrl.internasional==false">
                                            {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                            {{PrintExportPoVendorCtrl.State}}, {{PrintExportPoVendorCtrl.Country}}
                                        </div>
                                        <div ng-if="PrintExportPoVendorCtrl.nasional==true && PrintExportPoVendorCtrl.hascity==true && PrintExportPoVendorCtrl.hasdistrict==true && PrintExportPoVendorCtrl.internasional==false">
                                            {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                            {{PrintExportPoVendorCtrl.District}}, {{PrintExportPoVendorCtrl.City}}<br />
                                            {{PrintExportPoVendorCtrl.State}}, {{PrintExportPoVendorCtrl.Country}}
                                        </div>
                                        <div ng-if="PrintExportPoVendorCtrl.nasional==true && PrintExportPoVendorCtrl.hascity==false && PrintExportPoVendorCtrl.hasdistrict==true && PrintExportPoVendorCtrl.internasional==false">
                                            {{PrintExportPoVendorCtrl.AddressInfo}}<br />
                                            {{PrintExportPoVendorCtrl.District}}<br />
                                            {{PrintExportPoVendorCtrl.State}}, {{PrintExportPoVendorCtrl.Country}}
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">ATTENTION</th>
                                    <td width="60%">
                                        : {{PrintExportPoVendorCtrl.contactCP[0].Contact.Name}}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">FAX</th>
                                    <td width="60%">
                                        : {{PrintExportPoVendorCtrl.contactCompany.Contact.Fax}}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">EMAIL</th>
                                    <td width="60%">
                                        : {{PrintExportPoVendorCtrl.contactCompany.Contact.Email}}
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table style="border-style:hidden;">
                            <thead>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">FREIGHT METHOD</th>
                                    <td width="60%">
                                        : {{PrintExportPoVendorCtrl.export.freightMethod.Name}} Freight
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">DELIVERY POINT</th>
                                    <td width="60%">
                                        : {{PrintExportPoVendorCtrl.export.inco.Code}} {{PrintExportPoVendorCtrl.export.freight.DeliveryState}}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">PAYMENT TERM</th>
                                    <td width="60%">
                                        : {{PrintExportPoVendorCtrl.export.POmodel.PaymentTerms}}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">TEL</th>
                                    <td width="60%">
                                        : {{PrintExportPoVendorCtrl.contactCompany.Contact.Phone}}
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>


                <div class="row margin-atas">
                    <div class="col-md-12">
                        In accepting this order, seller agrees to furnish the material specified in full accordance with all conditions agreed to on our contract terms and all conditions attached to this document.<br />
                        <strong>Please indicate your acknowledgement/acceptance immadiately through E-Procurement.</strong>
                    </div>
                </div>

                <div class="row margin-atas">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="vertical-align: middle;">ITEM</th>
                                        <th class="text-center" style="vertical-align: middle;">SCD/PR/FPA</th>
                                        <th class="text-center" style="vertical-align: middle;">QTY</th>
                                        <th class="text-center" style="vertical-align: middle;">UM</th>
                                        <th class="text-center" style="vertical-align: middle;">DESCRIPTION</th>
                                        <th class="text-center" style="vertical-align: middle;">DUE DATE</th>
                                        <th class="text-center" style="vertical-align: middle;">NET PRICE</th>
                                        <th class="text-center" style="vertical-align: middle;">TOTAL PRICE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in PrintExportPoVendorCtrl.alldata">
                                        <td style="vertical-align: middle;">{{p.POItem}}</td>
                                        <td style="vertical-align: middle;">{{p.ScdPrFpa}}</td>
                                        <td style="vertical-align: middle;">{{p.Quantity}}</td>
                                        <td style="vertical-align: middle;">{{p.UnitMeasure}}</td>
                                        <td style="vertical-align: middle;">{{p.ShortText}} {{dt.Mfr_No}} {{dt.Mfr_Name}} {{dt.Manu_Mat}}<br />{{dt.Purch_OrderText}} {{dt.PO_ItemText}} TARIFF CODE: {{dt.TariffCode}} /CONC. CAT: {{dt.ConcessCat}}</td>
                                        <td style="vertical-align: middle;">{{p.DelivDateOri | date: "dd/MM/yyyy"}}</td>
                                        <td style="vertical-align: middle;">{{p.NettPricePO | currency:"" }}</td>
                                        <td style="vertical-align: middle;">{{p.TotalPricePO | currency:"" }}</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th colspan="5"></th>
                                        <th>TOTAL</th>
                                        <th>{{PrintExportPoVendorCtrl.alldata[0].Currency}}</th>
                                        <th class="text-right">{{PrintExportPoVendorCtrl.alldata[0].Totalvalue | currency:""}}</th>
                                    </tr>
                                    <tr ng-if="PrintExportPoVendorCtrl.flagVAT == true">
                                        <th colspan="5"></th>
                                        <th colspan="2">VAT 10%</th>
                                        <th class="text-right">{{PrintExportPoVendorCtrl.alldata[0].vatvalue | currency:""}}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5"></th>
                                        <th colspan="2">GRAND TOTAL</th>
                                        <th class="text-right">{{PrintExportPoVendorCtrl.alldata[0].grandvalue | currency:""}}</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>

                <div class="row margin-atas">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                BUYER REMARK
                            </div>
                            <div class="col-md-8">
                                : {{PrintExportPoVendorCtrl.export.POmodel.BuyerRemark}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            BUYER<br />
                            PHONE<br />
                            FAX<br />
                            EMAIL<br />
                        </div>
                        <div class="col-md-8">
                            : {{PrintExportPoVendorCtrl.export.buyer.FullName}} {{PrintExportPoVendorCtrl.export.buyer.SurName}}<br />
                            : {{PrintExportPoVendorCtrl.export.buyer.WorkPhone}}<br />
                            : {{PrintExportPoVendorCtrl.export.buyer.Fax}}<br />
                            : {{PrintExportPoVendorCtrl.export.buyer.Email}}<br />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    <!--
    <div class="row" id="exportthis">
        <div class="col-md-12">
            <div ng-show="detailApprovalSignOffCtrl.visible">cobi</div>
            <button ng-click="detailApprovalSignOffCtrl.printForm()">export</button>
        </div>
    </div>
        -->
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="text-center">
                
                <button ng-if="(TCVendorCtrl.reff === 'REVIEW_VENDOR')" class="btn btn-flat btn-danger" ng-click="TCVendorCtrl.notvalid()" ng-disabled="TCVendorCtrl.valid==false"><i class="fa fa-close"></i>{{'Tidak Setuju'|translate}}</button>
                <button ng-if="(TCVendorCtrl.reff === 'REVIEW_VENDOR')" class="btn btn-flat btn-success" ng-click="TCVendorCtrl.setuju()"><i class="fa fa-check"></i>{{'Setuju'|translate}}</button>
            </div>
        </div>
    </div>
</div>
