﻿<div class="modal-content" ng-init="modalDMECECtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="modalDMECECtrl.keluar()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar{{''|translate}}</span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">Detail&nbsp;{{modalDMECECtrl.nama}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid" ng-if="modalDMECECtrl.bobotAdministrasi > 0">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <h5 class="afta-font">{{'TIPE.ADMINISTRASI'|translate}} : {{modalDMECECtrl.bobotAdministrasi}}%</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <ul>
                        <li ng-repeat="kri in modalDMECECtrl.Administrasi">
                            {{kri.CriteriaName}} <span class="pull-right text-center" style="right: 10px;">{{kri.Weight}}%</span>
                            <ul>
                                <li ng-repeat="level2 in kri.sub">
                                    {{level2.CriteriaName}}  <span class="pull-right text-center" style="right: 10px;">{{level2.Weight}}%</span>
                                    <ul>
                                        <li ng-repeat="level3 in level2.sub">
                                            {{level3.CriteriaName}}  <span class="pull-right text-center" style="right: 10px;">{{level3.Weight}}%</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
        <div class="container-fluid" ng-if="modalDMECECtrl.bobotTeknis > 0">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <h5 class="afta-font">{{'TIPE.TEKNIS'|translate}} {{modalDMECECtrl.bobotTeknis}}%</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <ul>
                        <li ng-repeat="kri in modalDMECECtrl.Teknis">
                            {{kri.CriteriaName}} <span class="pull-right text-center text-bold" style="right: 10px;">{{kri.Weight}}%|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <ul>
                                <li ng-repeat="level2 in kri.sub">
                                    {{level2.CriteriaName}} <span class="pull-right text-center text-blue" style="right: 10px;">{{level2.Weight}}%|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <ul>
                                        <li ng-repeat="level3 in level2.sub">
                                            {{level3.CriteriaName}}  <span class="pull-right text-center text-green" style="right: 10px;">{{level3.Weight}}%</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
        </div>
        <div class="container-fluid" ng-if="modalDMECECtrl.bobotHarga > 0">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <h5 class="afta-font">{{'TIPE.HARGA'|translate}} {{modalDMECECtrl.bobotHarga}}%</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <ul>
                        <li ng-repeat="kri in modalDMECECtrl.Harga">
                            {{kri.CriteriaName}} <span class="pull-right text-center" style="right: 10px;">{{kri.Weight}}%</span>
                            <ul>
                                <li ng-repeat="level2 in kri.sub">
                                    {{level2.CriteriaName}}  <span class="pull-right text-center" style="right: 10px;">{{level2.Weight}}%</span>
                                    <ul>
                                        <li ng-repeat="level3 in level2.sub">
                                            {{level3.CriteriaName}}  <span class="pull-right text-center" style="right: 10px;">{{level3.Weight}}%</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="modalDMECECtrl.bobotBarang > 0">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <h5 class="afta-font">{{'TIPE.BARANG'|translate}} {{modalDMECECtrl.bobotBarang}}%</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <ul>
                        <li ng-repeat="kri in modalDMECECtrl.Barang">
                            {{kri.CriteriaName}} <span class="pull-right text-center" style="right: 10px;">{{kri.Weight}}%</span>
                            <ul>
                                <li ng-repeat="level2 in kri.sub">
                                    {{level2.CriteriaName}}  <span class="pull-right text-center" style="right: 10px;">{{level2.Weight}}%</span>
                                    <ul>
                                        <li ng-repeat="level3 in level2.sub">
                                            {{level3.CriteriaName}}  <span class="pull-right text-center" style="right: 10px;">{{level3.Weight}}%</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="modalDMECECtrl.bobotVHS > 0">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <h5 class="afta-font">{{'TIPE.VHS'|translate}} {{modalDMECECtrl.bobotVHS}}%</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 center-block" style="float: none!important;">
                    <ul>
                        <li ng-repeat="kri in modalDMECECtrl.VHS">
                            {{kri.CriteriaName}} <span class="pull-right text-center" style="right: 10px;">{{kri.Weight}}%</span>
                            <ul>
                                <li ng-repeat="level2 in kri.sub">
                                    {{level2.CriteriaName}}  <span class="pull-right text-center" style="right: 10px;">{{level2.Weight}}%</span>
                                    <ul>
                                        <li ng-repeat="level3 in level2.sub">
                                            {{level3.CriteriaName}}  <span class="pull-right text-center" style="right: 10px;">{{level3.Weight}}%</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="modalDMECECtrl.keluar()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>