﻿<div class="modal-content">
    <h2 class="center-vertical">Form Review</h2>
    <div class="container-fluid">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label>{{'LABEL.REVIEW' | translate}}</label>
                </div>
            </div>
                <textarea ng-model="approveVendorCtrl.review" maxlength="100" style="resize: none; width:100%; height: 100px;"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="approveVendorCtrl.batal()" title="{{'LABEL.BATAL' | translate}}"><i class="fa fa-reply"></i></button>
        <button type="button" class="btn btn-primary" ng-click="approveVendorCtrl.simpan()" title="{{'LABEL.SIMPAN' | translate}}"><i class="fa fa-save"></i></button>
    </div>
</div>