﻿<div ng-init="detailContractCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.DETAILCM' | translate}}</a></li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-12">
                    <h3 class="afta-font text-center">{{'BREADCRUMB.DETAILCM' | translate}}</h3>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-2">
                    <label>{{'LABEL.CONTRACTNAME' | translate}}</label>
                </div>
                <div class="col-md-9">
                    <label>: {{detailContractCtrl.dataContract.TenderName ? detailContractCtrl.dataContract.TenderName : '-'}}</label>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-2">
                    <label>{{'LABEL.CONTRACTDATE' | translate}}</label>
                </div>
                <div class="col-md-9" ng-if="detailContractCtrl.dataContract.startDateTender && detailContractCtrl.dataContract.endDateTender">
                    <label>: {{detailContractCtrl.dataContract.startDateTender | date : 'dd MMMM yyyy' }} {{'LABEL.SD' | translate}} {{detailContractCtrl.dataContract.endDateTender | date : 'dd MMMM yyyy' }}</label>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-2">
                    <label>{{'LABEL.CONTRACTTYPE' | translate}}</label>
                </div>
                <div class="col-md-9">
                    <label>: {{detailContractCtrl.dataContract.TypeKontrakName ? detailContractCtrl.dataContract.TypeKontrakName : '-'}}</label>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-2">
                    <label>{{'LABEL.FORUMDURATION' | translate}}</label>
                </div>
                <div class="col-md-9">
                    <label>: {{detailContractCtrl.jumlahHari}} {{'LABEL.DAYS' | translate}} / {{'LABEL.DUEDATE' | translate}} : {{detailContractCtrl.dataContract.EndDateDuration | date : 'dd MMMM yyyy'}}</label>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-2">
                    <label>{{'LABEL.DOCUMENT' | translate}}</label>
                </div>
                <div class="col-md-9">
                    <label>: </label><a class="btn btn-xs btn-primary" href="{{detailContractCtrl.folderFile + detailContractCtrl.dataContract.DocURLTemplate}}" title="{{'LABEL.DOWNLOAD' | translate}}"><i class="fa fa-download"></i></a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-2">
                    <label>{{'LABEL.ATTACH' | translate}}</label>
                </div>
                <div class="col-md-9">
                    <label>: </label><button class="btn btn-xs btn-primary" ng-click="detailContractCtrl.lampiran(detailContractCtrl.dataContract.ContractManagementID)" title="{{'LABEL.ATTACH' | translate}}"><i class="fa fa-paperclip"></i></button>
                </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-md-2">
                    <label>{{'LABEL.STATUS' | translate}}</label>
                </div>
                <div class="col-md-9">
                    <label>: {{detailContractCtrl.dataContract.StatusName ? detailContractCtrl.dataContract.StatusName : '-'}}</label>
                </div>
            </div>
            <div class="box-body" style="border:1px;border-style: solid; height: 300px; overflow-y: scroll;" ng-if="detailContractCtrl.dataContract.StatusName != 'Initial' && detailContractCtrl.dataContract.StatusName != 'Review'">
                <h2>Summary</h2>
                <textarea ng-model="detailContractCtrl.dataContract.Summary" readonly style="resize: none; width: 100%; height: 60%;"></textarea>
            </div>
            <div class="row" style="margin-bottom: 10px;" ng-if="detailContractCtrl.dataContract.StatusName == 'Initial' || detailContractCtrl.dataContract.StatusName == 'Review'">
                <div class="col-md-12">
                    <button class="btn btn-success" ng-disabled="detailContractCtrl.approved == true || detailContractCtrl.allowApprove == false || detailContractCtrl.dataContract.StatusName == 'Initial'" ng-click="detailContractCtrl.approve()" title="{{'LABEL.APPROVE' | translate}}"><i class="fa fa-check"></i></button>
                </div>
            </div>

            <div class="box-body" style="border:1px;border-style: solid;" ng-if="detailContractCtrl.dataContract.StatusName == 'Initial' || detailContractCtrl.dataContract.StatusName == 'Review'">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center">{{'LABEL.TOPIC' | translate}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>{{'LABEL.JUDUL' | translate}} : {{detailContractCtrl.dataForum.TitleForum ? detailContractCtrl.dataForum.TitleForum : '-'}}</h5>
                    </div>
                        
                </div>
                <textarea readonly ng-model="detailContractCtrl.dataForum.ContentForum" style="resize: none; width:100%; height: 200px;margin-bottom: 50px;"></textarea>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <label>Review</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <button class="btn btn-success" ng-disabled="detailContractCtrl.approved == true || detailContractCtrl.dataContract.StatusName == 'Initial'" ng-click="detailContractCtrl.review()" title="{{'LABEL.REVIEW' | translate}}"><i class="fa fa-comments-o"></i></button>
                        </div>
                    </div>
                </div>
                <div class="box-body" style="border:1px;border-style: solid; height: 300px; overflow-y: scroll;">
                    <div class="row" ng-repeat="data in detailContractCtrl.dataDetailForum">
                        <div class="col-md-6" ng-if="data.ReviewFor != 2 && data.ReviewFor != 3">
                        </div>
                        <div class="col-md-2" ng-if="data.ReviewFor != 2 && data.ReviewFor != 3">
                        </div>
                        <div class="col-md-4" ng-if="data.ReviewFor != 2 && data.ReviewFor != 3">
                            <label style="font-size: 15px;">{{data.VendorName}} - {{data.CreatedDate | date : 'dd MMMM yyyy h:mm:ss'}}</label><br/>
                            <p style="padding-left: 12px; font-size: 13px; word-break: break-all;">{{data.Review}}</p>
                        </div>

                        
                        <div class="col-md-6" ng-if="data.ReviewFor == 2 || data.ReviewFor == 3">
                            <label style="font-size: 15px;">{{data.BuyerName}} - {{data.CreatedDate | date : 'dd MMMM yyyy h:mm:ss'}}</label><br/>
                            <p ng-bind-html="data.Review" style="padding-left: 12px; font-size: 13px; word-break: break-all;"></p>
                        </div>
                        <div class="col-md-6" ng-if="data.ReviewFor == 2 || data.ReviewFor == 3"></div>
                    </div>
                 </div>
              </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                    <button class="btn btn-danger pull-right" ng-click="detailContractCtrl.back()"><i class="fa fa-arrow-circle-left"></i></button>
                </div>
            </div>
            </div>

        </div>
    </div>
