﻿<div class="modal-content" ng-init="LampiranCtrl.init()">
    <h2 class="center-vertical">{{'LABEL.ATTACH' | translate}}</h2>
    <div class="container-fluid">
        <div class="table">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="center-vertical" style="width: 20px;">No</th>
                        <th class="center-vertical">{{'LABEL.DOCUMENT' | translate}}</th>
                        <th class="center-vertical" style="width: 50px;">{{'LABEL.ACTION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in LampiranCtrl.lampiran">
                        <td class="center-vertical">{{LampiranCtrl.currentPage > 1 ? (LampiranCtrl.maxSize * (LampiranCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                        <td>{{data.DocumentName}}</td>
                        <td class="center-vertical">
                            <button class="btn btn-primary" ng-click="LampiranCtrl.view(data)" title="{{'LABEL.VIEW' | translate}}"><i class="fa fa-eye"></i></button>
                        </td>
                    </tr>
                    <tr ng-if="LampiranCtrl.lampiran.length === 0"><td colspan="4" class="center-vertical">{{'LABEL.NO_DATA' | translate}}</td></tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sd-4 col-md-7" ng-if="LampiranCtrl.totalItems > 5">
                    <ul uib-pagination total-items="LampiranCtrl.totalItems" max-size="5"
                        ng-model="LampiranCtrl.currentPage" items-per-page="LampiranCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="LampiranCtrl.loadLampiran(LampiranCtrl.currentPage)" ng-if="LampiranCtrl.totalItems > 5"></ul>
                    <br />
                </div>
                <div class="col-md-5">
                    <label>Total items: {{LampiranCtrl.totalItems}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="LampiranCtrl.batal()" title="{{'LABEL.KEMBALI' | translate}}"><i class="fa fa-reply"></i></button>
    </div>
</div>