﻿<div class="modal-content" ng-init="DetailItemMRKOCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailItemMRKOCtrl.back()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <button ng-click="DetailItemMRKOCtrl.makePDF()" class="btn btn-flat btn-default"><i class="fa fa-print"></i></button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="img-logo-vale-small">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right">
                        <label class="text-right">
                            PT VALE INDONESIA TBK<br />
                            SCM DEPT - PROCUREMENT ( DP.14 )
                        </label>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="text-center">
                        <h4>
                            <u>{{DetailItemMRKOCtrl.item.Vendor.SAPCode}} - {{DetailItemMRKOCtrl.item.Vendor.business.Name}}. {{DetailItemMRKOCtrl.item.Vendor.VendorName}} ({{DetailItemMRKOCtrl.item.ContractNumber}}-{{DetailItemMRKOCtrl.item.StorageLocation}})</u>
                        </h4>
                        <label>
                            PERIOD : {{DetailItemMRKOCtrl.DataDocList.Periode2|date:"MMMM yyyy"}} ( RUN DATE {{DetailItemMRKOCtrl.Periode1}} )
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2">No.</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Storage Location</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Posting Date</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Reservation</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Vendor</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Material Document</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Material Doc Item</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Material</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Material Description</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Qty in Un. of Entry</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Unit of Entry</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Currency MRKO</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Unit Price</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Payment Value</th>
                                    <th class="text-center" style="vertical-align: middle;background-color:#EAC2C2;">Tax Code</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="data in DetailItemMRKOCtrl.DataDocList.UploadDataDetailMRKO">
                                    <td style="vertical-align: middle;">{{DetailItemMRKOCtrl.currentPage > 1 ? (DetailItemMRKOCtrl.pageSize * (DetailItemMRKOCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td style="vertical-align: middle;">{{data.StorageLocation}}</td>
                                    <td style="vertical-align: middle;">{{DetailItemMRKOCtrl.convertDate(data.PostingDate)}}</td>
                                    <td style="vertical-align: middle;">{{data.Reservation}}</td>
                                    <td style="vertical-align: middle;">{{data.VendorCode}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDocument}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDocItem}}</td>
                                    <td style="vertical-align: middle;">{{data.Material}}</td>
                                    <td style="vertical-align: middle;">{{data.MaterialDescription}}</td>
                                    <td style="vertical-align: middle;">{{data.Qty}}</td>
                                    <td style="vertical-align: middle;">{{data.Unit}}</td>
                                    <td style="vertical-align: middle;">{{data.Currency}}</td>
                                    <td style="vertical-align: middle;">{{data.UnitPrice|currency:''}}</td>
                                    <td style="vertical-align: middle;">{{data.TotalValue|currency:''}}</td>
                                    <td style="vertical-align: middle;">{{data.TaxCodeInPur}}</td>
                                </tr>
                                <tr>
                                    <td colspan="13"style="vertical-align: middle;background-color:#EAC2C2;text-align:right"><strong>Total of Vendor Held Stock Issues for period {{DetailItemMRKOCtrl.DataDocList.Periode2|date:"MMMM yyyy"}} in {{DetailItemMRKOCtrl.DataDocList.UploadDataDetailMRKO[0].Currency}}</strong> </td>
                                    <td style="vertical-align: middle;background-color:#EAC2C2;"><label>{{DetailItemMRKOCtrl.DataDocList.TotalRealCurrency|currency:''}}</label></td>
                                    <td style="vertical-align: middle;background-color:#EAC2C2;">&nbsp;</td>
                                </tr>
                                <tr ng-if="DetailItemMRKOCtrl.DataDocList.length === 0">
                                    <td colspan="14">{{'TIDAK_ADA_DATA' | translate }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <!--<div class="pull-right">
                        <label>Total In USD: {{DetailItemMRKOCtrl.jumlahUSD| currency: ""+ labelcurr +" "}}</label>
                    </div>-->
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <label>Reviewed by&nbsp;:&nbsp;</label>{{DetailItemMRKOCtrl.DataDocList.RFQVHS.Employee.FullName}}&nbsp;{{DetailItemMRKOCtrl.DataDocList.RFQVHS.Employee.SurName}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.LEVEL_INFO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                        <!--<th class="text-center">{{'TABLE.JABATAN' | translate}}</th>-->
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.REMARK' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in DetailItemMRKOCtrl.DataDocList.MRKOApproval">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-center">{{dt.LevelInfoEmp}}</td>
                                        <td class="text-center">
                                            {{dt.MstEmployee.FullName}}&nbsp;{{dt.MstEmployee.SurName}} <br />
                                            <span ng-if="dt.DOAEmployeeID != null">({{'Delegasi Ke' | translate}} : {{dt.DelegateEmployeeName}})</span>
                                        </td>
                                        <!--<td>{{dt.EmployeePositionName}}</td>-->
                                        <td class="text-center">{{dt.ApprovalDate |date:"dd/MM/yyyy"}}</td>
                                        <td ng-if="dt.ApprovalStatus == null" class="text-center"></td>
                                        <td ng-if="dt.ApprovalStatus == true" class="text-center">Approve</td>
                                        <td ng-if="dt.ApprovalStatus == false" class="text-center">Reject</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="DetailItemMRKOCtrl.DataDocList.MRKOApproval.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!--<div class="row">
                <div class="col-md-10 center text-center">
                    <ul uib-pagination total-items="DetailItemMRKOCtrl.totalItems"
                        ng-model="DetailItemMRKOCtrl.currentPage" items-per-page="DetailItemMRKOCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailItemMRKOCtrl.loadPaket(DetailItemMRKOCtrl.currentPage)"></ul>
                </div>
                <div class="row">

                    <label>{{'TOTAL_DATA'|translate}} : {{DetailItemMRKOCtrl.totalItems}}</label>

                </div>
            </div>-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="DetailItemMRKOCtrl.back()" title="{{'BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
            </div>
    </form>
</div>