﻿<section class="content" ng-init="cprvendorCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.CPR'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'Contractor Performance Review' | translate}}</h3>
                            <!--<hr />-->
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-6 pull-right">
                            <form ng-submit="cprvendorCtrl.cari(srcText)">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control input-sm" ng-model="srcText" placeholder="{{'HOLDER' | translate}}" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" title="{{'SEARCH' | translate}}"><i class="fa fa-search"></i> </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                        -->
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 5%;">{{'TABLE.COL_NO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.COL_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.VENDOR_CODE' | translate}}</th>
                                            <th class="text-center">{{'TABLE.VENDOR_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.CONTRACT_FROM' | translate}}</th>
                                            <th class="text-center">{{'TABLE.CONTRACT_TO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.DEPARTMENT_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.PM_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.SPONSOR_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.ENGINEER_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                            <th class="text-center" style="width: 15%;">{{'TABLE.COL_DATE' | translate}}</th>
                                            <th class="text-center" style="width: 10%;">{{'TABLE.COL_SCORE' | translate}}</th>
                                            <th class="text-center" style="width: 12%;">{{'TABLE.COL_ACT' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wl in cprvendorCtrl.cpr">
                                            <td style="vertical-align: middle;" class="text-center">{{(cprvendorCtrl.pageNumber - 1) * cprvendorCtrl.pageSize + $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{wl.ContractNo}} - {{wl.TanderName}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailVendor.ReferenceCode}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailVendor.VendorName}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailContractSignOff.ContractStartDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailContractSignOff.ContractEndDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailDepartment.DepartmentName}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailProjectManager.EmployeeID}} - {{wl.DetailProjectManager.FullName}} {{wl.DetailProjectManager.SurName}}</td>
                                            <td style="vertical-align: middle;">{{wl.Sponsor}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailContractEngineer.EmployeeID}} - {{wl.DetailContractEngineer.FullName}} {{wl.DetailContractEngineer.SurName}}</td>
                                            <td style="vertical-align: middle;">
                                                <div ng-if="wl.StatusDescription==4328">Draft</div>
                                                <div ng-if="wl.StatusDescription==4329">Submitted</div>
                                                <div ng-if="wl.StatusDescription==4330">Completed</div>
                                                <div ng-if="wl.StatusDescription==4331">Accepted by CE</div>
                                                <div ng-if="wl.StatusDescription==4332">Accepted by Procurement Support</div>
                                                <div ng-if="wl.StatusDescription==4421">Reviewed by Vendor<!--<br />Note: {{wl.NoteFromVendor}}--></div>
                                            </td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.CPRDate | date : "dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;" class="text-center">{{wl.Score}}</td>
                                            <td style="vertical-align: middle;" class="text-center">
                                                <a class="btn btn-flat btn-xs btn-warning" title="Detail" ng-click="cprvendorCtrl.detail(wl)"><i class="fa fa-file-text-o"></i></a>
                                                <a href="{{cprvendorCtrl.folderFile + wl.UrlDocument}}" ng-show="wl.UrlDocument" class="btn btn-flat btn-xs btn-success" title="Download File CPR" target="_blank"><i class="fa fa-download"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="cprvendorCtrl.cpr.length === 0">
                                            <td colspan="6" style="vertical-align:middle; text-align:center">{{'NO_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="cprvendorCtrl.count" max-size="10"
                                    ng-model="cprvendorCtrl.currentPage" items-per-page="cprvendorCtrl.pageSize"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="cprvendorCtrl.loadAwal(cprvendorCtrl.currentPage)"></ul>
                                <br /><label>{{'TOTAL_DATA' | translate}} : {{cprvendorCtrl.count}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
