﻿<div id="modalUtama" class="modal-content" ng-init="cprVendorModal.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cprVendorModal.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <h4 class="afta-font vale-green-text" style="margin-top: 25px; margin-bottom: 5px;">{{'Contractor Performance Review'|translate}}</h4>
            </div>
            <div class="col-md-6">
                    <div class="pull-right">
                        <div class="img-logo-vale-small">
                        </div>
                    </div>
            </div>
        </div>
        <div class="row margin-atas">
            <div class="col-md-12">
            <div class="table table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td class="text-left vale-green" width="30%">Assessment Date :</td>
                            <td class="text-left" colspan="2"  width="50%">{{cprVendorModal.vpdata.CPRDate | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td class="text-left vale-green" width="30%">Contract :</td>
                            <td class="text-left" colspan="2" width="50%">{{cprVendorModal.vpdata.ContractNo}} - {{cprVendorModal.vpdata.TanderName}}</td>
                        </tr>
                        <tr>
                            <td class="text-left vale-green" width="30%">Contract Date :</td>
                            <td class="text-left" colspan="2" width="50%">{{cprVendorModal.vpdata.ContractStartDate | date: 'dd/MM/yyyy'}} - {{cprVendorModal.vpdata.ContractEndDate | date: 'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td class="text-left vale-green" width="30%">Contractor :</td>
                            <td class="text-left" colspan="2"  width="50%">{{cprVendorModal.data.DetailVendor.VendorName}}, {{cprVendorModal.data.DetailVendor.businessName}}</td>
                        </tr>
                        <tr>
                            <td class="text-left vale-green" width="30%">Department Holder :</td>
                            <td class="text-left" colspan="2" width="50%">{{cprVendorModal.data.DetailDepartment.DepartmentName}}</td>
                            
                        </tr>
                        <tr>
                            <td class="text-left vale-green" width="30%">Sponsor/Project Manager :</td>
                            <td class="text-left" width="50%">{{cprVendorModal.data.Sponsor}}/{{cprVendorModal.data.DetailProjectManager.EmployeeID}} - {{cprVendorModal.data.DetailProjectManager.FullName}} {{cprVendorModal.data.DetailProjectManager.SurName}}</td>
                            <td class="text-left" width="20%" rowspan="2" style="vertical-align:middle;"><h4>Score: {{cprVendorModal.vpdata.Score}} %</h4></td>
                        </tr>
                        <tr>
                            <td class="text-left vale-green" width="30%">Contract Engineer :</td>
                            <td class="text-left" width="50%">{{cprVendorModal.data.DetailContractEngineer.EmployeeID}} - {{cprVendorModal.data.DetailContractEngineer.FullName}} {{cprVendorModal.data.DetailContractEngineer.SurName}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
            </div>
            <!--
            <div class="col-md-3">
                <b>Assessment Date</b> <br />
                <b>Contract</b><br />
                <b>Contractor</b><br />
                <b>Department Holder</b><br />
                <b>Sponsor/Project Manager</b><br />
                <b>Contract Engineer</b><br />
            </div>
            <div class="col-md-6">
                <b>:</b> {{cprVendorModal.vpdata.CPRDate | date: 'dd/MM/yyyy'}}<br />
                <b>:</b> {{cprVendorModal.vpdata.ContractNo}} - {{cprVendorModal.vpdata.TanderName}}<br />
                <b>:</b> {{cprVendorModal.data.DetailVendor.VendorName}}, {{cprVendorModal.data.DetailVendor.businessName}}<br />
                <b>:</b> {{cprVendorModal.data.DetailDepartment.DepartmentName}}<br />
                <b>:</b> {{cprVendorModal.data.Sponsor}}/{{cprVendorModal.data.DetailProjectManager.EmployeeID}} - {{cprVendorModal.data.DetailProjectManager.FullName}} {{cprVendorModal.data.DetailProjectManager.SurName}}<br />
                <b>:</b> {{cprVendorModal.data.DetailContractEngineer.EmployeeID}} - {{cprVendorModal.data.DetailContractEngineer.FullName}} {{cprVendorModal.data.DetailContractEngineer.SurName}}<br />
            </div>

            <div class="col-md-3" style="text-align:right;">
                <div ng-if="cprVendorModal.vpdata.Score < 66" class="alert alert-warning pull-right" style="text-align:center;">
                    <h4 style="vertical-align:middle">Score: {{cprVendorModal.vpdata.Score}} %</h4>
                </div>
                <div ng-if="cprVendorModal.vpdata.Score >= 66" class="alert alert-success" style="text-align:center;">
                    <h4 style="vertical-align:middle">Score: {{cprVendorModal.vpdata.Score}} %</h4>
                </div>
            </div>
                -->
        </div>
        <br />
        <br />
        <!---->
        <!--<div ng-if="cprVendorModal.type == 1" class="row">-->
                   <div class="row">
                       <div class="col-md-12">
                           <table id="example1" class="table">
                               <thead class="vale-green">
                                   <tr>
                                       <th width="50%">{{'KPI_DESCRIPTION' | translate}}</th>
                                       <th width="20">{{'SCORE' | translate}}</th>
                                       <th width="30%">{{'REMARKS' | translate}}</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr ng-repeat="kri in cprVendorModal.kriteria">
                                       <td style="padding:0px">
                                           <div style="min-height:50px; vertical-align:middle !important; padding-left:10px; padding-top:10px"><b>{{kri.CriteriaName}}</b></div>
                                           <table class="table">
                                               <tbody>
                                                   <tr ng-repeat="level2 in kri.sub">
                                                       <td style="padding:0px">
                                                           <div style="height:30px; padding-left:20px; padding-top:5px">
                                                               <b>{{level2.CriteriaName}}</b>
                                                           </div>
                                                           <table class="table">
                                                               <tbody>
                                                                   <tr ng-repeat="level3 in level2.sub">
                                                                       <td style="padding:0px;">
                                                                           <div style="height:30px; padding-left:30px; padding-top:5px">{{level3.CriteriaName}}</div>
                                                                       </td>
                                                               </tbody>
                                                           </table>
                                                       </td>
                                               </tbody>
                                           </table>
                                       </td>
                                       <td style="padding:0px">
                                           <div style="height:50px; vertical-align:middle; padding-left:30px; padding-top:8px"><span ng-show="kri.sub.length === 0">{{kri.Score}}</span></div>
                                           <table class="table">
                                               <tbody>
                                                   <tr ng-repeat="level2 in kri.sub">
                                                       <td style="padding:0px">
                                                           <div style="height:30px; padding-left:30px; padding-top:3px">
                                                            <span ng-show="level2.sub.length === 0">
                                                               {{level2.Score}}
                                                            </span>
                                                           </div>
                                                           <table class="table">
                                                               <tbody>
                                                                   <tr ng-repeat="level3 in level2.sub">
                                                                       <td style="padding:0px;">
                                                                           <div style="height:30px; padding-left:30px; padding-top:3px">{{level3.Score}}</div>
                                                                       </td>
                                                               </tbody>
                                                           </table>
                                                       </td>
                                               </tbody>
                                           </table>
                                       </td>
                                       <td style="padding:0px">
                                           <div style="height:50px; vertical-align:middle; padding-left:30px; padding-top:8px"><span ng-show="kri.sub.length === 0">{{kri.Remark}}</span></div>
                                           <table class="table">
                                               <tbody>
                                                   <tr ng-repeat="level2 in kri.sub">
                                                       <td style="padding:0px">
                                                           <div style="height:30px; padding-left:30px; padding-top:3px">
                                                               <span ng-show="level2.sub.length === 0">
                                                                   {{level2.Remark}}
                                                               </span>
                                                           </div>
                                                           <table class="table">
                                                               <tbody>
                                                                   <tr ng-repeat="level3 in level2.sub">
                                                                       <td style="padding:0px;">
                                                                           <div style="height:30px; padding-left:30px; padding-top:3px">{{level3.Remark}}</div>
                                                                       </td>
                                                               </tbody>
                                                           </table>
                                                       </td>
                                               </tbody>
                                           </table>
                                       </td>
                                    </tr>
                                </tbody>
                           </table>
                       </div>
                   </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{'NOTE'|translate}}</label>
                    <textarea class="form-control input-sm" disabled ng-model="cprVendorModal.vpdata.Note"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>
                        {{'UPLOAD_DOC'|translate}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="50" class="center-vertical">{{'TABLE.COL_NO' | translate}}</th>
                                    <th class="center-vertical">{{'TABLE.NAMA_DOC' | translate}}</th>
                                    <th width="100" class="center-vertical"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sd in cprVendorModal.docs">
                                    <td class="center-vertical">{{$index + 1}}</td>
                                    <td>{{sd.DocName}}</td>
                                    <td class="center-vertical">
                                        <a href="{{cprVendorModal.folderFile + sd.DocUrl}}" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-download"></i> {{'DOWNLOAD'|translate}}</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tr ng-if="cprVendorModal.docs==null">
                                <td colspan="5" cellpadding="0">
                                    <div class="alert alert-info text-center">
                                        <span>{{'TIDAK_ADA_DOKUMEN' | translate}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="center-block text-center">
            <button type="button" ng-if="cprVendorModal.approvalstatus==4329" class="btn btn-flat btn-success" ng-click="cprVendorModal.submitByVendor(true)" title="{{'AGREE'|translate}}"><i class="fa fa-check"></i>&nbsp;Acknowledge</button>
            <!--<button type="button" ng-if="cprVendorModal.approvalstatus==4329" class="btn btn-flat btn-danger" ng-click="cprVendorModal.notvalid()" title="{{'DISAGREE'|translate}}" ng-disabled="cprVendorModal.valid==false"><i class="fa fa-close"></i>&nbsp;{{'DISAGREE'|translate}}</button>-->
            <button type="button" class="btn btn-flat btn-primary" ng-click="cprVendorModal.cancel()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    
        </div>
        <!--<div class="center-block text-center" ng-if="cprVendorModal.valid==false">
            <div class="row margin-atas">
                <div class="col-md-6 col-md-offset-3">
                    <label>{{'REASON'|translate}}</label>
                    <textarea class="form-control" ng-model="cprVendorModal.NoteFromVendor" placeholder="{{'REASON'|translate}}"></textarea>
                    <a class="btn btn-danger" ng-click="cprVendorModal.submitByVendor(false)">
                        <i class="fa fa-save"></i>&nbsp; {{'KIRIM' | translate}}
                    </a>
                </div>

            </div>
        </div>-->
    </div>
</div>