﻿<section id="sidebar" class="sidebar">
	<ul class="sidebar-menu side-menu-tree" ng-if="menuItems.length > 0">
		<li ng-class="{ active: main.isActive() }" class="treeview side-menu" ng-repeat="menu in menuItems">
			<a ui-sref="{{menu.StateName}}" style="cursor: pointer!important;">
				<i class="{{menu.Icon}}"></i>&nbsp;<span>{{menu.Label}}</span>
			</a>
			<ul class="treeview-menu side-menu" ng-show="menu.Children.length > 0">
				<li class="treeview side-menu" ng-repeat="sub in menu.Children" ng-class="">
					<a ui-sref="{{sub.StateName}}" style="cursor: pointer!important;">
						<i class="{{sub.Icon}}"></i> <span>{{sub.Label}}</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
	
</section>

