﻿<div class="footer" id="visitor" style="background: #00694f;">
    <div class="container-fluid text-center" style="margin-left: 50px;margin-right: 50px;" ng-if="main.isLoggedIn()==='false'">
        <!--<hr style="border-top: 1px dotted #000;">-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="row">
                        <img style="float:left;width: 227px;margin-top: 30px;" src="../../../assets/img/Logo petrosea putih.png" />
                    </div>
                    <div class="row" style="margin-top: 13px;position: absolute;">
                        <div class="col-md-12">
                            <div class="row">
                                <label style="color: #ffffff;float:left;font-weight: normal;">&copy; 2019 e-Procurement PT Petrosea Content Copyright</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 30px;text-align:right;display:flex">
                    <div class="col-md-6" style="font-size: 18px;">
                        <div class="row">
                            <label style="color: #ffffff;">Our Document</label>
                            
                        </div>
                        <div class="row">
                            <div style="border-top: 1px solid #ffffff;width: 127px;margin-left: 60px;"></div>
                            <a style="color: #ffffff;font-size: 12px;">Download Manual Book</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <label style="color: #ffffff;font-size: 18px;">Supports</label>
                            <div style="border-top: 1px solid #ffffff;width: 78px;margin-left:111px"></div>
                        </div>
                        <div class="row">
                            <a style="color: #ffffff;font-size: 12px;">FAQ</a>
                        </div>
                        <div class="row">
                            <a style="color: #ffffff;font-size: 12px;">Email</a>
                        </div>
                    </div>

                </div>
                

            </div>
        </div>
        
        <div class="row" style="margin-bottom: 3px;">
            <hr style="border-top: 1px solid #ffffff;">
            <div class="col-md-8">
                <a style="color: #ffffff;float:left;font-size: 12px;margin-top: -13px;">v2.0.19</a>
            </div>
            <div class="col-md-4">
                <div class="col-md-6">
                    <a style="color: #ffffff;float:right;font-size: 12px;margin-top: -13px;
    position: absolute;">Privacy Policy</a>
                </div>
                <div class="col-md-6">
                    <a style="color: #ffffff;float:right;font-size: 12px;margin-top: -13px;">Terms on Service</a>
                </div>
            </div>

        </div>
        <div ng-if="main.isLoggedIn()==='true'" class="container-fluid text-center">
            <hr style="border-top: 1px dotted #000;">
            <div class="row" style="padding-bottom: 20px;">
                <div class="col-lg-12">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#" style="color:#00694f!important;">&copy; {{main.pageComponent.APP_YEAR}} {{main.pageComponent.COMPANY_NAME}}</a></li>
                        <li><a href="#" style="color:#00694f!important;">{{main.pageComponent.APP_COPYRIGHT_MESSAGE}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>