﻿<ul class="nav navbar-nav navbar-right" style="text-transform: uppercase;background-color: white;" id="visitor-menu">
    <li ng-class="{active: main.isActive('/beranda')}">
        <a ui-sref="home" style="cursor:pointer;">
            <i class="fa fa-home"></i>
            {{"MENUS.HOME" | translate}}
        </a>
    </li>
    <li ng-class="{active: main.isActive('/pengumuman-pengadaan-client')}">
        <a ui-sref="pengumuman-pengadaan-client" style="cursor:pointer;">
            <i class="fa fa-bullhorn"></i>
            {{"MENUS.ANNOUNCEMENT" | translate}}
        </a>
    </li>
    <li ng-class="{active: main.isActive('/pre-daftar')}">
        <a ui-sref="pre-daftar" style="cursor:pointer;">
            <i class="fa fa-plus-circle"></i>
            {{"MENUS.REGISTER" | translate}}
        </a>
    </li>
    <li ng-class="{active: main.isActive('/panitia')}">
        <a ui-sref="login-panitia" style="cursor:pointer;">
            <i class="fa fa-sign-in"></i>
            {{"MENUS.LOGIN" | translate}}
        </a>
    </li>
    <a ng-click="main.setLang('id')" style="cursor: pointer; display: inline-block;margin-top: 15px;"><img src="assets/img/ico/id.png"></a> /
    <a ng-click="main.setLang('en')" style="cursor: pointer; display: inline-block;"><img src="assets/img/ico/gb.png"></a>

	<!-- <li ng-class="{active: $root.isActive('/pemenang-pengadaan')}">
		<a ui-sref="pemenang-pengadaan"> <i class="fa fa-trophy"></i> {{"MENUS.PUBLISH" | translate}}</a>
	</li> -->
</ul>
