﻿<div class="modal-content" ng-init="evalTVPrintCtrl.init()">
	<div class="modal-body">
		<div class="row">
			<button class="btn btn-flat btn-default" title="Print Preview" ng-click="evalTVPrintCtrl.makePDF()">
				<i class="glyphicon glyphicon-print"></i>
			</button>
		</div>
		<div id="print1" class="print-wrap">
			<div class="col-md-12">
				<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{evalTVPrintCtrl.tenderStepData.step.TenderStepName | translate}}</h3>
			</div>
			<div class="col-md-8">
				<label>{{'TANGGAL_MULAI'|translate}}: {{evalTVPrintCtrl.tenderStepData.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
			</div>
			<div class="col-md-4">
				<label>{{'TANGGAL_SELESAI'|translate}}: {{evalTVPrintCtrl.tenderStepData.EndDate | date: "dd-MM-yyyy HH:mm"}}</label>
			</div>
			<div class="col-md-12">
				<label>{{'TENDER'|translate}}: {{evalTVPrintCtrl.tenderStepData.tender.TenderName}}</label>
			</div>
			<div class="col-md-12" ng-if="evalTVPrintCtrl.tenderStepData.tender.IsCancelled">
				<label class="text-red"><i>({{'KET_BATAL' | translate}})</i></label>
			</div>
			<div class="col-md-12">
				<div class="table table-responsive" style="padding-bottom: 20px;">
					<table class="table table-bordered table-striped" id="table-rekanan">
						<thead>
							<tr>
								<th class="text-center">{{'TABLE.NO'|translate}}</th>
								<th class="text-center">{{'TABLE.VENDOR'|translate}}</th>
								<th class="text-center">{{'TABLE.STATUS'|translate}}</th>
								<th class="text-center">{{'TABLE.SKOR'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="eval in evalTVPrintCtrl.evaluations">
								<td class="center-vertical">{{$index + 1}}</td>
								<td class="center-vertical">{{eval.VendorName}}</td>
								<td class="center-vertical" ng-if="eval.IsPassed === true">{{'LOLOS'|translate}}</td>
								<td class="center-vertical" ng-if="eval.IsPassed !== true">{{'TIDAK_LOLOS'|translate}}</td>
								<td class="center-vertical">{{eval.Score}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="container-fluid"></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-4 pull-right">
			<button ng-click="evalTVPrintCtrl.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</div>
