﻿<div class="modal-content" ng-init="PemasukkanPenawaranBarangCtrlPrint.init()">
	<div class="modal-body">
		<div class="row">
			<button class="btn btn-flat btn-default" ng-click="PemasukkanPenawaranBarangCtrlPrint.makePDF()">
				<i class="fa fa-print"></i>
			</button>
		</div>
		<div id="print{{$index + 1}}" class="print-wrap">
			<div class="col-md-12">
				<h3 class="afta-font judul-datatabel" style="text-align:center!important;">{{'BREADCRUMB.GOODSSUBMISSION'|translate}}</h3>
			</div>
			<div class="col-md-8">
				<label>{{'FORM.STARTDATE'|translate}}: {{PemasukkanPenawaranBarangCtrlPrint.StartDate| date: "dd-MM-yyyy HH:mm"}}</label>
			</div>
			<div class="col-md-4">
				<label>{{'FORM.ENDDATE'|translate}}: {{PemasukkanPenawaranBarangCtrlPrint.EndDate| date:"dd-MM-yyyy HH:mm"}}</label>
			</div>
			<div class="col-md-12">
				<label>Tender:{{PemasukkanPenawaranBarangCtrlPrint.TenderName}} </label>
			</div>
			<div class="col-md-12" ng-if="PemasukkanPenawaranBarangCtrlPrint.isCancelled">
				<label class="text-red"><i>({{'TENDER_CANCELED'|translate}})</i></label>
			</div>
			<div class="col-md-12">
				<div class="table table-responsive" style="padding-bottom: 20px;">
					<table class="table table-bordered table-striped" id="table-rekanan">
						<thead>
							<tr>
								<th class="text-center" width="20px">No.</th>
								<th class="text-center">{{'FORM.VENDOR_NAME'|translate}}</th>
								<th class="text-center">{{'FORM.END_DATE'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="dt in PemasukkanPenawaranBarangCtrlPrint.GOEVendor">
								<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
								<td class="text-center" style="vertical-align: middle;">{{dt.VendorName}}</td>
								<td class="text-center" style="vertical-align: middle;">{{dt.GOEDate | date: "dd-MM-yyyy HH:mm"}}</td>
							</tr>
							<tr ng-if="PemasukkanPenawaranBarangCtrlPrint.GOEVendor.length === 0"><td colspan="3" class="text-center" style="vertical-align: middle;">{{'TABLE.NODATA'|translate}}</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row"></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-4 pull-right">
			<button ng-click="PemasukkanPenawaranBarangCtrlPrint.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</div>
