﻿<div class="modal-content" ng-init="formNeracaCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formNeracaCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'CLOSE'|translate}}</span></button>
        <h3 class="modal-title afta-font">{{formNeracaCtrl.action |translate}} {{'BREADCRUMB.BALANCE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6">
                        <label>{{'ASSET_TYPE' | translate}}</label>
                        <select class="form-control input-sm" ng-model="formNeracaCtrl.selectedAsset"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listAsset"
                                ng-change="formNeracaCtrl.loadCOA(formNeracaCtrl.selectedAsset)">
                            <option value="" ng-selected="true">
                                -- {{'ASSET_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>{{'COA_TYPE' | translate}}</label>
                        <select class="form-control input-sm" ng-model="formNeracaCtrl.selectedCOA"
                                ng-disabled="!formNeracaCtrl.listCOA"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listCOA"
                                ng-change="formNeracaCtrl.loadSubCOA(formNeracaCtrl.selectedCOA)">
                            <option value="" ng-selected="true">
                                -- {{'COA_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>{{'SUB_COA_TYPE' | translate}}</label>
                        <select class="form-control input-sm" 
                                ng-model="formNeracaCtrl.selectedSubCOA"
                                ng-disabled="!formNeracaCtrl.listSubCOA || formNeracaCtrl.param === ''"
                                ng-change="formNeracaCtrl.changeSubCOA(formNeracaCtrl.selectedSubCOA)"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listSubCOA">
                            <option value="" ng-selected="true">
                                -- {{'SUB_COA_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>{{'UNIT' | translate}}</label>
                        <select class="form-control input-sm" ng-model="formNeracaCtrl.selectedUnit"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listUnit">
                            <option value="" ng-selected="true">
                                -- {{'UNIT' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>{{'AMOUNT' | translate}}</label>
                        <input type="text" class="form-control input-sm" ng-model="formNeracaCtrl.Amount" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>{{'NOMINAL' | translate}}</label>
                        <input currency-mask type="text" class="form-control input-sm" ng-model="formNeracaCtrl.Nominal" />
                    </div>
                    <div class="col-md-6">
                        <label>{{'UPLOAD' | translate}} ( <span ng-repeat="ft in formNeracaCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{formNeracaCtrl.idUploadConfigs[0].Size}} {{formNeracaCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</label> 
                        <input type="file" class="form-control" ng-file-select="formNeracaCtrl.selectUpload()"
                               ng-model="formNeracaCtrl.fileUpload" name="ownerIDFile" required accept="{{formNeracaCtrl.idFileTypes}}" />

                        <a ng-show="formNeracaCtrl.item.DocUrl;" href="{{formNeracaCtrl.folderFile + formNeracaCtrl.item.DocUrl}}" target="_BLANK" class="form-control btn btn-sm btn-primary" title="{{'BTN.VIEW'|translate}}"><i class="fa fa-download"></i>&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" ng-click="formNeracaCtrl.batal()" title="{{'BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i></button>
        <button type="button" class="btn btn-sm btn-success" ng-click="formNeracaCtrl.uploadFile()" title="{{'BTN.SAVE'|translate}}"><i class="fa fa-save"></i></button>
    </div>
</div>