﻿<section class="content" ng-init="contractMonitoringReminderCtrl.initVHS()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.CONTRACT_REMINDER_VHSFPA' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font text-center">{{'CONTRACT_REMINDER_VHSFPA' | translate}}</h3>
							<hr />
						</div>
					</div>
					<div class="row">
						<!--<div class="col-md-6 pull-right">-->
						<form ng-submit="contractMonitoringReminderCtrl.jLoadVHS(contractMonitoringReminderCtrl.currentPage)">
							<div class="form-group input-group col-md-4 pull-right">
								<!--<div class="col-md-4">
									<select class="form-control input-sm" ng-model="contractMonitoringReminderCtrl.selectedColumn">
										<option value="1" ng-selected="true">{{'FILTER.NAMA_PENGADAAN' | translate}}</option>
										<option value="2">{{'FILTER.CONTACT_NO' | translate}}</option>
									</select>
								</div>-->
								<!--<div class="form-group input-group col-md-8">-->
								<input type="text" class="form-control input-sm" ng-model="contractMonitoringReminderCtrl.keyword" placeholder="{{'SEARCH' | translate}}" />
								<div class="input-group-btn">
									<button type="submit" class="btn btn-sm btn-primary" title="{{'BTN_SEARCH' | translate}}">
										<i class="fa fa-search"></i>
									</button>
								</div>
								<!--</div>-->
							</div>
							<div class="form-group input-group col-md-2 pull-right">
								<select class="form-control input-sm" ng-model="contractMonitoringReminderCtrl.selectedColumn">
									<option value="1" ng-selected="true">{{'FILTER.NAMA_PENGADAAN' | translate}}</option>
									<option value="2">{{'FILTER.CONTACT_NO' | translate}}</option>
								</select>
							</div>
						</form>
						<!--</div>-->
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical">{{'TABLE.COL_NO' | translate}}</th>
											<th class="center-vertical">{{'TABLE.TENDER_CODE' | translate}}</th>
											<th class="center-vertical">{{'TABLE.COL_CONTACT_NO' | translate}}</th>
											<th class="center-vertical">{{'TABLE.COL_TENDER_NAME' | translate}}</th>
											<th class="center-vertical">{{'TABLE.COL_BUYER_NAME' | translate}}</th>
											<th class="center-vertical">{{'TABLE.COL_VENDORNAME' | translate}}</th>
											<th class="center-vertical">{{'TABLE.CONTRACT_START_DATE' | translate}}</th>
											<th class="center-vertical">{{'TABLE.CONTRACT_END_DATE' | translate}}</th>
											<th class="center-vertical">{{'TABLE.FIELD_NAME' | translate}}</th>
											<th class="center-vertical">{{'TABLE.QUALIFY_NAME' | translate}}</th>
											<th class="center-vertical">{{'TABLE.TECHNICAL_NAME' | translate}}</th>
											<th class="center-vertical">{{'TABLE.DUE_DAY' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="rl in contractMonitoringReminderCtrl.reminderList">
											<td style="vertical-align: middle;" class="text-center">{{contractMonitoringReminderCtrl.currentPage > 1 ? (contractMonitoringReminderCtrl.pageSize * (contractMonitoringReminderCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{rl.TenderCode}}</td>
											<td style="vertical-align: middle;">{{rl.ContractNo}}</td>
											<td style="vertical-align: middle;">{{rl.TenderName}}</td>
											<td style="vertical-align: middle;">{{rl.CEName}}</td>
											<td style="vertical-align: middle;">{{rl.VendorName}}</td>
											<td style="vertical-align: middle;" class="text-center">{{rl.ContractStartDate | date: "dd/MM/yyyy"}}</td>
											<td style="vertical-align: middle;" class="text-center">{{rl.ContractEndDate | date: "dd/MM/yyyy"}}</td>
											<td style="vertical-align: middle;">{{rl.BusinessFieldName}}</td>
											<td style="vertical-align: middle;">{{rl.CompanyScaleName | translate}}</td>
											<td style="vertical-align: middle;">{{rl.TechnicalName | translate}}</td>
											<td ng-if="rl.DaysLeft < 0" style="vertical-align: middle;">{{(rl.DaysLeft * -1) + 1}} {{'DAYS_TO_GO' | translate}}</td>
											<td ng-if="rl.DaysLeft === 0" style="vertical-align: middle;">{{'EXPIRED_TODAY' | translate}}</td>
											<td ng-if="rl.DaysLeft > 0" style="vertical-align: middle;">Expired</td>
										</tr>
										<tr ng-if="contractMonitoringReminderCtrl.reminderList.length === 0">
											<td colspan="5" style="vertical-align:middle; text-align:center">{{'NO_DATA' | translate}}</td>
										</tr>
									</tbody>
								</table>
								<ul uib-pagination total-items="contractMonitoringReminderCtrl.totalItems" max-size="10" ng-model="contractMonitoringReminderCtrl.currentPage" items-per-page="contractMonitoringReminderCtrl.pageSize"
									previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="contractMonitoringReminderCtrl.jLoadVHS(contractMonitoringReminderCtrl.currentPage)"></ul>
								<br /><label>{{'TOTAL_DATA' | translate}} : {{contractMonitoringReminderCtrl.totalItems}}</label>
							</div>
						</div>
						<div class="col-md-12 text-right">
							<button class="btn btn-sm btn-primary" ng-click="contractMonitoringReminderCtrl.back()" title="{{'BACK' | translate}}">
								<i class="fa fa-reply"></i> {{'BACK' | translate}}
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>