<div class="modal-content" ng-init="dEvaluatorSkorCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="dEvaluatorSkorCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'SKOR_PER_EVALUATOR'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'TABLE.VENDOR_NAME'|translate}} : {{dEvaluatorSkorCtrl.vendorName}}</label><br/>
                        <label class="control-label">Evaluator : {{dEvaluatorSkorCtrl.evaluatorName}}</label>
                        <div class="table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="center-vertical">{{'TABLE.CRITERIA'|translate}}</th>
                                        <th class="center-vertical" style="min-width:70px; width:70px">{{'TABLE.WEIGHT'|translate}}</th>
                                        <th class="center-vertical" style="min-width:70px; width:70px">Must Have</th>
                                        <th class="center-vertical" style="min-width:100px; width:100px">{{'TABLE.SKOR'|translate}}</th>
                                        <th class="center-vertical" style="min-width:100px; width:100px">{{'TABLE.SKOR'|translate}} * {{'TABLE.WEIGHT'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="crit in dEvaluatorSkorCtrl.criterias" style="background-color:{{crit.Level === 1 ? '#f5f5f0' : 'white'}};">
                                        <td class="middle-vertical">
                                            {{crit.Level === 3 ? '---' : ''}} {{crit.CriteriaName}}
                                        </td>
                                        <td class="center-vertical">{{crit.Weight}}%</td>
                                        <td class="center-vertical">
                                            <span ng-if="!crit.sub || crit.sub.length === 0">{{crit.MustHave}}</span>
                                        </td>
                                        <td class="center-vertical">
                                            <span ng-if="!crit.sub || crit.sub.length === 0">{{crit.Score}}</span>
                                            <span ng-if="crit.sub && crit.sub.length > 0">{{crit.Score.toFixed(2)}}</span>
                                        </td>
                                        <td class="center-vertical {{crit.Level === 1 ? 'text-bold' : ''}}">{{crit.WeightedScore.toFixed(2)}}</td>
                                    </tr>
                                    <tr style="background-color:#f5f5f0;">
                                        <td class="middle-vertical" colspan="4">Total</td>
                                        <td class="center-vertical text-bold">{{dEvaluatorSkorCtrl.totalScores.toFixed(2)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-sm btn-default" ng-click="dEvaluatorSkorCtrl.cancel()" title="{{'TUTUP' | translate}}"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>
</div>