﻿<section class="content" ng-init="EvaluationTechnicalPrintCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.EVALUATION_TECH'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="EvaluationTechnicalPrintCtrl.cetak()">
                                <i class='fa fa-print'></i>&nbsp;
                            </button>
                        </div>
                    </div>
                    <div id="print">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.EVALUATION_TECH'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>{{'FORM.START_DATE'|translate}}: {{EvaluationTechnicalPrintCtrl.tenderStepData.StartDate| date: "dd/MM/yyyy HH:mm"}}</label>
                            </div>
                            <div class="col-md-4">
                                <label>{{'FORM.END_DATE'|translate}}: {{EvaluationTechnicalPrintCtrl.tenderStepData.EndDate| date: "dd/MM/yyyy HH:mm"}}</label>
                            </div>
                            <div class="col-md-12">
                                <label>Tender: {{EvaluationTechnicalPrintCtrl.tenderStepData.tender.TenderName}}</label>
                            </div>
                            <div ng-if="EvaluationTechnicalPrintCtrl.tenderStepData.tender.IsCancelled" class="col-md-12">
                                <label class="text-red"><i>({{'FORM.TENDER_CANCELED'|translate}})</i></label>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 10px!important;">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table id="tabelPeserta" class="table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th colspan="6" class="text-center"style="border:1px solid black;">{{'TABLE.VENDOR_DATA'|translate}}</th>
                                            </tr>
                                            <tr>
                                                <th class="center-vertical" width='20px' style="border:1px solid black;">No.</th>
                                                <th class="center-vertical" style="border:1px solid black;">{{'TABLE.VENDOR_NAME'|translate}}</th>
                                                <th class="center-vertical" style="width: 65px; min-width: 65px;border:1px solid black;">{{'TABLE.SKOR'|translate}}</th>
                                                <th class="center-vertical" style="width: 65px; min-width: 65px;border:1px solid black;">{{'TABLE.SKOR'|translate}} (Normalized)</th>
                                                <th class="center-vertical" style="width: 100px; min-width: 100px;border:1px solid black;">Must Have</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pe in EvaluationTechnicalPrintCtrl.evaltechnical">
                                                <td style="border:1px solid black;">{{$index + 1}}</td>
                                                <td style="border:1px solid black;">{{pe.VendorName}}</td>
                                                <td class="center-vertical" style="border:1px solid black;">{{pe.Score.toFixed(2)}}</td>
                                                <td class="center-vertical" style="border:1px solid black;">{{pe.ScoreNormalized.toFixed(2)}}</td>
                                                <td class="text-center" style="border:1px solid black;">
                                                    <span ng-if="pe.IsMustHaveValid === true">{{'TABLE.PASS'|translate}}</span>
                                                    <span ng-if="pe.IsMustHaveValid === false">{{'TABLE.NOT_PASS'|translate}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-if="EvaluationTechnicalPrintCtrl.evaltechnical.length===0"><td colspan="5" style="border:1px solid black;">{{'NO_SUMMARY'|translate}}</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <br />
                        <hr />
                        <div class="col-md-12">
                            <div class="text-right">
                                <a ng-click="EvaluationTechnicalPrintCtrl.backpengadaan()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                                <!--<button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="EvaluationTechnicalPrintCtrl.print()">
                                    <i class='fa fa-print'></i>&nbsp;
                                </button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

