﻿<section id="sectionEvaluasiTim" class="content" style="overflow: visible;" ng-init="ScoringTechnicalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{ScoringTechnicalCtrl.TenderRefID}}/{{ScoringTechnicalCtrl.ProcPackType}}/{{ScoringTechnicalCtrl.tenderStepData.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/evaluation-technical/{{ScoringTechnicalCtrl.TenderRefID}}/{{ScoringTechnicalCtrl.StepID}}/{{ScoringTechnicalCtrl.ProcPackType}}">
                {{'BREADCRUMB.EVALUATION_TECH'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/evaluation-technical-tim/{{ScoringTechnicalCtrl.TenderRefID}}/{{ScoringTechnicalCtrl.StepID}}/{{ScoringTechnicalCtrl.ProcPackType}}">
                {{'BREADCRUMB.EVALUATION_TECH_VENDORS'|translate}}
            </a>
        </li>
        <li><a>{{ScoringTechnicalCtrl.vendorName}}</a></li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="box bo x-info">
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h4 class="afta-font">{{'TABLE.EVAL_TECH'|translate}}</h4>
                                        <h4 class="afta-font">{{ScoringTechnicalCtrl.tenderStepData.tender.TenderName}}</h4>
                                        <h5 class="afta-font" ng-if="ScoringTechnicalCtrl.tenderStepData.tender.IsCancelled">
                                            <i class="text-red">({{'FORM.TENDER_CANCELED'|translate}})</i>
                                        </h5>
                                        <h4 class="afta-font" style="margin-top: 0px; margin-bottom: 20px;">{{ScoringTechnicalCtrl.vendorName}}</h4>
                                        <h5 ng-if="!ScoringTechnicalCtrl.isTime" class="afta-font text-red" style="margin-top: 0px; margin-bottom: 20px;">{{'MESSAGE.TIME_NOTSTART'|translate}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Evaluator : {{ScoringTechnicalCtrl.evaluator.FullName}}</label>&nbsp;<i ng-if="ScoringTechnicalCtrl.evaluator.IsAsDelegate">({{'sebagai delegasi'|translate}})</i>
                                </div>
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center-vertical">{{'TABLE.CRITERIA'|translate}}</th>
                                                    <th class="center-vertical" style="min-width:70px; width:70px">{{'TABLE.WEIGHT'|translate}}</th>
                                                    <th class="center-vertical" style="min-width:70px; width:70px">Must Have</th>
                                                    <th class="center-vertical" style="min-width:100px; width:100px">{{'TABLE.SKOR'|translate}}</th>
                                                    <th class="center-vertical" style="min-width:100px; width:100px">{{'TABLE.SKOR'|translate}} * {{'TABLE.WEIGHT'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="crit in ScoringTechnicalCtrl.criterias" style="background-color:{{crit.Level === 1 ? '#f5f5f0' : 'white'}};">
                                                    <td class="middle-vertical">
                                                        {{crit.Level === 3 ? '---' : ''}} {{crit.CriteriaName}}
                                                        <span ng-if="crit.IsCPRCriteria">&nbsp;(CPR Score : {{ScoringTechnicalCtrl.cprScore}})</span>
                                                    </td>
                                                    <td class="center-vertical">{{crit.Weight}}%</td>
                                                    <td class="center-vertical">
                                                        <span ng-if="!crit.sub || crit.sub.length === 0">{{crit.MustHave}}</span>
                                                    </td>
                                                    <td class="center-vertical">
                                                        <span ng-if="!crit.sub || crit.sub.length === 0">
                                                            <select ng-disabled="!ScoringTechnicalCtrl.isTime || ScoringTechnicalCtrl.tenderStepData.tender.IsCancelled" type="number" class="input-sm form-control" ng-model="crit.Score" ng-options="val for val in ScoringTechnicalCtrl.scoreOptions" ng-change="ScoringTechnicalCtrl.calculateAllScore()"></select>
                                                        </span>
                                                        <span ng-if="crit.sub && crit.sub.length > 0">{{crit.Score.toFixed(2)}}</span>
                                                    </td>
                                                    <td class="center-vertical {{crit.Level === 1 ? 'text-bold' : ''}}">{{crit.WeightedScore.toFixed(2)}}</td>
                                                </tr>
                                                <tr style="background-color:#f5f5f0;">
                                                    <td class="middle-vertical" colspan="4">Total</td>
                                                    <td class="center-vertical text-bold">{{ScoringTechnicalCtrl.totalScores.toFixed(2)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br/>
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <button ng-click="ScoringTechnicalCtrl.back()" type="button" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'BTN.BACK'|translate}}">
                                            <i class='fa fa-arrow-circle-left'></i>
                                        </button>
                                    </div>
                                    <div class="text-right" ng-hide="!ScoringTechnicalCtrl.isTime || ScoringTechnicalCtrl.tenderStepData.tender.IsCancelled">
                                        <button ng-click="ScoringTechnicalCtrl.saveScore()" type="button" class="btn btn-flat btn-sm btn-success pull-right" title="{{'BTN.SAVE'|translate}}">
                                            <i class='fa fa-save'></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
