<div class="model-content" ng-init="FormNonBuildingCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="FormNonBuildingCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{FormNonBuildingCtrl.title | translate}}</h3>
    </div>
    <div class="modal-body" >
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-12 col-sm-12 center-block" style="float: none!important;">
                <div class="row">

                    <div class="col-md-7">
                        <div class="form-group">
                            <label>{{'TABLE.EQUIPMENTNAME' | translate}} *</label>
                            <input type="text" class="form-control" ng-model="FormNonBuildingCtrl.dataForm.Name" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>{{'TABLE.BRAND' | translate}} *</label>
                            <input type="text" class="form-control" ng-model="FormNonBuildingCtrl.dataForm.Brand"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'TABLE.YEAR' | translate}} </label>
                            <div class="input-group date form_datetime">
                                <input readonly required class="form-control" size="16" style="background-color: #ffffff;"  type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="FormNonBuildingCtrl.datepickeroptions" maxDate="01-01-2000" close-text="{{'TUTUP'|translate}}"
                                       is-open="FormNonBuildingCtrl.isCalendarOpened[0]" ng-model="FormNonBuildingCtrl.dataForm.MfgDate"
                                       ng-click="FormNonBuildingCtrl.openCalendar(0)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="FormNonBuildingCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'TABLE.SERIALNO' | translate}}</label>
                            <input type="text" class="form-control" ng-model="FormNonBuildingCtrl.dataForm.SerialNo" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label ng-if="FormNonBuildingCtrl.isCategory == 'vehicle'">{{'TABLE.CAPACITYPERSON' | translate}}</label>
                            <label ng-if="FormNonBuildingCtrl.isCategory == 'equipment'">{{'TABLE.CAPACITYTON' | translate}}</label>
                            <input type="text" class="form-control" ng-model="FormNonBuildingCtrl.dataForm.Capacity" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{'TABLE.CONDITION' | translate}}*</label>
                            <label>{{'TABLE.CATEGORY' | translate}}</label>
                            <select class="form-control input-sm" required ng-model="FormNonBuildingCtrl.selectedConditional"
                                    ng-options="item as item.Value | translate for item in FormNonBuildingCtrl.listConditional"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'TABLE.OWNERSHIP' | translate}} *</label>
                            <select class="form-control input-sm" required ng-model="FormNonBuildingCtrl.selectedKepemilikan"
                                    ng-options="item as item.Value | translate for item in FormNonBuildingCtrl.listKepemilikan"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="FormNonBuildingCtrl.batal()" class="btn btn-flat btn-danger" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" ng-click="FormNonBuildingCtrl.saveData()" class="btn btn-flat btn-success" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>