﻿<section class="content" ng-init="vhsvendorCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.CPRV'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-6 pull-right">
                            <form ng-submit="vhsvendorCtrl.cari(srcText)">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control input-sm" ng-model="srcText" placeholder="{{'HOLDER' | translate}}" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" title="{{'SEARCH' | translate}}"><i class="fa fa-search"></i> </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                        -->
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 5%;">{{'TABLE.COL_NO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.COL_TENDER_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.VENDOR_CODE' | translate}}</th>
                                            <th class="text-center">{{'TABLE.VENDOR_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.CONTRACT_FROM' | translate}}</th>
                                            <th class="text-center">{{'TABLE.CONTRACT_TO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.DEPARTMENT_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.BUYER_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.SPONSOR_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                            <th class="text-center" style="width: 15%;">{{'TABLE.COL_VHSDATE' | translate}}</th>
                                            <th class="text-center" style="width: 10%;">{{'TABLE.SCORE' | translate}}</th>
                                            <th class="text-center" style="width: 12%;">{{'TABLE.COL_ACT' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wl in vhsvendorCtrl.vpvhs">
                                            <td class="text-center" style="vertical-align: middle;">{{(vhsvendorCtrl.pageNumber - 1) * vhsvendorCtrl.pageSize + $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{wl.ContractNo}} - {{wl.TanderName}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailVendor.ReferenceCode}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailVendor.VendorName}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailVHSAward.StartContractDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailVHSAward.FinishContractDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailDepartment.DepartmentName}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailBuyer.EmployeeID}} - {{wl.DetailBuyer.FullName}} {{wl.DetailBuyer.SurName}}</td>
                                            <td style="vertical-align: middle;">{{wl.DetailSponsor.EmployeeID}} - {{wl.DetailSponsor.FullName}} {{wl.DetailSponsor.SurName}}</td>
                                            <td style="vertical-align: middle;">
                                                <div ng-if="wl.StatusDescription==4328">Draft</div>
                                                <div ng-if="wl.StatusDescription==4329">Submitted</div>
                                                <div ng-if="wl.StatusDescription==4330">Completed</div>
                                                <div ng-if="wl.StatusDescription==4331">Accepted by CE</div>
                                                <div ng-if="wl.StatusDescription==4332">Accepted by Procurement Support</div>
                                                <div ng-if="wl.StatusDescription==4421">Reviewed by Vendor<!--<br />Note: {{wl.NoteFromVendor}}--></div>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.VHSDate | date : "dd/MM/yyyy"}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.Score}}</td>
                                            <td style="vertical-align: middle;" class="text-center">
                                                <a class="btn btn-flat btn-xs btn-warning" title="Detail" ng-click="vhsvendorCtrl.detail(wl)"><i class="fa fa-file-text-o"></i></a>
                                                <a href="{{vhsvendorCtrl.folderFile + wl.UrlDocument}}" ng-show="wl.UrlDocument" class="btn btn-flat btn-xs btn-success" title="{{'BTN.DOWNLOAD'|translate}}" target="_blank"><i class="fa fa-download"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="vhsvendorCtrl.vpvhs.length === 0">
                                            <td colspan="6" style="vertical-align:middle; text-align:center">{{'NO_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="vhsvendorCtrl.count" max-size="10"
                                    ng-model="vhsvendorCtrl.pageNumber" items-per-page="vhsvendorCtrl.pageSize"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="vhsvendorCtrl.loadAwal()"></ul>
                                <br /><label>{{'TOTAL_DATA' | translate}} : {{vhsvendorCtrl.count}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


