﻿<div class="modal-content" ng-init="PostInfoCtrl.init()">
    <div class="modal-header">
        <button type="button" ng-click="PostInfoCtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT'|translate}}</span></button>
        <h3 class="modal-title afta-font">{{'FORM.INFO_FORM'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'FORM.TITLE_INFO'|translate}}</label>
                                <input type="text" ng-model="PostInfoCtrl.title" class="form-control input-sm" placeholder="{{'FORM.TITLE_INFO'|translate}}" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title afta-font">{{'FORM.INFO_CONTENT'|translate}}</h3>
                                </div>
                                <div class="box-body pad">
                                    <textarea ng-model="PostInfoCtrl.post" class="form-control input-sm" name="editor1" rows="10" cols="80"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-10" >
                            <div class="form-group">
                                <label class="control-label">
                                    {{'FORM.DOC'|translate}}
                                    <small> ( <span ng-repeat="ft in PostInfoCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{PostInfoCtrl.idUploadConfigs[0].Size}} {{PostInfoCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                </label>
                                <input type="file" class="form-control" ng-file-select="PostInfoCtrl.selectUpload()"
                                       ng-model="PostInfoCtrl.fileUpload" name="ownerIDFile" accept="{{PostInfoCtrl.idFileTypes}}" />
                            </div>
                        </div>
                        <div class="col-md-2 margintop25">
                            <a ng-show="PostInfoCtrl.pathfile" href="{{PostInfoCtrl.folderFile + PostInfoCtrl.pathfile}}" target="_blank" class="btn btn-sm btn-primary btn-flat pull-right"><i class="fa fa-download"></i> {{'BTN.Download'|translate}}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="PostInfoCtrl.batal()" class="btn btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
        <button type="button" ng-click="PostInfoCtrl.save()" class="btn btn-flat btn-success" title="{{'BTN.SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>