﻿<section ng-init="UploadFileVHSTechnicalCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.VHSOFFER' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.VHSUPLOAD' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-success">
                <!--notife flow-->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="afta-font center-block" style="float: none!important;">{{'FORM.UPLOADFILEVHS' | translate}}</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" ng-if="UploadFileVHSTechnicalCtrl.RFQId.TenderType === 4169">

                            <div style="padding: 5px;">
                                <label class="label label-sm label-warning center-block" style="font-size: 14px; line-height:1.3;">
                                    {{'FORM.VHSALERT.LINE_1' | translate}}<br />
                                    {{'FORM.VHSALERT.LINE_2' | translate}}
                                    <br />{{'FORM.VHSALERT.LINE_3' | translate}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-10 col-md-offset-1" ng-if="UploadFileVHSTechnicalCtrl.RFQId.TenderType === 4171">
                            <div style="padding: 5px;">
                                <label class="label label-sm label-warning center-block" style="font-size: 14px; line-height:1.3;">
                                    {{'FORM.VHSALERT.LINE_4' | translate}} <br />
                                    {{'FORM.VHSALERT.LINE_5' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">
                                    {{'FORM.UPLOADFILE' | translate}}
                                    <small> ( <span ng-repeat="ft in UploadFileVHSTechnicalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{UploadFileVHSTechnicalCtrl.idUploadConfigs[0].Size}} {{UploadFileVHSTechnicalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                </label>
                                <input type="file" class="form-control" ng-file-select="UploadFileVHSTechnicalCtrl.selectUpload()"
                                       ng-model="UploadFileVHSTechnicalCtrl.fileUpload" name="ownerIDFile" required accept="{{UploadFileVHSTechnicalCtrl.idFileTypes}}" />
                            </div>
                        </div>
                        <div class="col-md-3 margintop20">
                            <button class="btn btn-sm btn-primary" ng-click="UploadFileVHSTechnicalCtrl.uploadFile()" title="Upload File"><i class="fa fa-arrow-circle-o-down"></i></button>
                        </div>

                    </div>
                    <hr />
                    <div class="col-md-7" ng-if="UploadFileVHSTechnicalCtrl.det.length > 0">
                        <pagination total-items="UploadFileVHSTechnicalCtrl.totalItems" page="UploadFileVHSTechnicalCtrl.currentPage" items-per-page="10" ng-show="UploadFileVHSTechnicalCtrl.totalItems > 10"
                                    max-size="10" on-select-page="UploadFileVHSTechnicalCtrl.loadAwal(page)"></pagination>
                    </div>
                    <div ng-if="UploadFileVHSTechnicalCtrl.det.length > 0" class="row">
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="5%">No</th>
                                                <th class="text-center">Material Code</th>
                                                <th class="text-center" width="20%">Item Description</th>
                                                <th class="text-center" width="15%">Manufacture</th>
                                                <th class="text-center" width="15%">Part No</th>
                                                <th class="text-center" width="15%">Estimate</th>
                                                <th class="text-center" width="15%">Unit</th>
                                                <th class="text-center" width="15%">Currency</th>
                                                <!--<th class="text-center" width="15%">Unit Price</th>-->
                                                <th class="text-center" width="15%">Lead Time</th>
                                                <th class="text-center" width="15%">Country Of Origin</th>
                                                <th class="text-center" width="15%">Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="rt in UploadFileVHSTechnicalCtrl.det">
                                                <td class="text-center">{{UploadFileVHSTechnicalCtrl.currentPage > 1 ? (UploadFileVHSTechnicalCtrl.maxSize * (UploadFileVHSTechnicalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td class="text-center">{{rt.MaterialCode}}</td>
                                                <td>{{rt.ItemDescrip}}</td>
                                                <td class="text-center">{{rt.Manufacture}}</td>
                                                <td class="text-center">{{rt.PartNo}}</td>
                                                <td class="text-center">{{rt.Estimate}}</td>
                                                <td class="text-center">{{rt.Unit}}</td>
                                                <td class="text-center">{{rt.Currency}}</td>
                                                <!--<td class="text-center">{{rt.PriceIDR}}</td>-->
                                                <td class="text-center">{{rt.LeadTime}}</td>
                                                <td class="text-center">{{rt.CountryOfOrigin}}</td>
                                                <td class="text-center">{{rt.Remark}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="UploadFileVHSTechnicalCtrl.det.length > 0">
                        <div class="col-md-2">
                            <label class="control-label turun-15">{{'TABLE.TOTALDATA'|translate}} : {{UploadFileVHSTechnicalCtrl.totalItems}}</label>
                        </div>
                        <div class="col-md-10 pull-right">
                            <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="UploadFileVHSTechnicalCtrl.totalItems" ng-model="UploadFileVHSTechnicalCtrl.currentPage"
                                class="pagination-sm" previous-text="&lsaquo;" max-number="UploadFileVHSTechnicalCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="UploadFileVHSTechnicalCtrl.loadAwal(UploadFileVHSTechnicalCtrl.currentPage)" max-size="10"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-block text-right">
                            <a class="btn btn-flat btn-primary" ng-click=" UploadFileVHSTechnicalCtrl.kembali()" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

