﻿<div class="modal-content" ng-init="UploadDokModalPrequalCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="UploadDokModalPrequalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font">{{UploadDokModalPrequalCtrl.action | translate}}{{'FORM.MODALTITLE' | translate}} </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'FORM.DOCUMENTNAME' | translate}} *</label>
                        <input type="text" class="form-control" placeholder="{{'FORM.DOCUMENTNAME' | translate}}" ng-model="UploadDokModalPrequalCtrl.Nama">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'FORM.DOCNO' | translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'FORM.DOCNO' | translate}}" ng-model="UploadDokModalPrequalCtrl.No">
                    </div>
                </div>       
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Upload File
                            <small> ( <span ng-repeat="ft in UploadDokModalPrequalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{UploadDokModalPrequalCtrl.idUploadConfigs[0].Size}} {{UploadDokModalPrequalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                        </label>
                        <input type="file" class="form-control" ng-file-select="UploadDokModalPrequalCtrl.selectUpload()"
                               ng-model="UploadDokModalPrequalCtrl.fileUpload" name="ownerIDFile" required accept="{{UploadDokModalPrequalCtrl.idFileTypes}}" />
                    <a target="_blank" ng-if="UploadDokModalPrequalCtrl.DocUrl != null" class="btn btn-flat btn-primary" href="{{UploadDokModalPrequalCtrl.folderFile+UploadDokModalPrequalCtrl.DocUrl}}"><i class="fa fa-download"></i> </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'FORM.EXPIREDDATE' | translate}}</label>
                        <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
                            <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                   is-open="UploadDokModalPrequalCtrl.isCalendarOpened[0]" ng-model="UploadDokModalPrequalCtrl.tgl.StartDate" ng-click="UploadDokModalPrequalCtrl.openCalendar(0)" />
                            <span class="input-group-addon" ng-click="UploadDokModalPrequalCtrl.openCalendar(0)"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="UploadDokModalPrequalCtrl.batal()" title="{{'Batal' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
            <button type="button" class="btn btn-success" ng-click="UploadDokModalPrequalCtrl.simpan()" title="{{'Simpan' | translate}}"><i class="fa fa-save"></i></button>
        </div>
    </div>