﻿<!-- Main content -->
<section class="content" ng-init="EquipmentQualificationCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> Home</a></li>
        <li><a>Tahapan Evaluasi Kualifikasi</a></li>
    </ol>
    <div class="row center">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">Tahapan Evaluasi Kualifikasi</h3>
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-md-8">
                            <label>Tanggal Mulai: {{EquipmentQualificationCtrl.listqualification[0].evaluation.tender.StartDate| date: "dd-MM-yyyy HH:mm"}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>Tanggal Selesai: {{EquipmentQualificationCtrl.listqualification[0].evaluation.tender.EndDate| date: "dd-MM-yyyy HH:mm"}}</label>
                        </div>
                        <div class="col-md-9">
                            <label>Tender: {{EquipmentQualificationCtrl.listqualification[0].evaluation.tender.tender.TenderName}}</label>
                        </div>
                    </div>
                    <div class="row center-block well" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">Kelengkapan Kualifikasi</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive" style="padding-bottom: 20px;">
                                    <table class="table table-bordered table-striped" id="table-rekanan">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No</th>
                                                <th class="text-center">Kode</th>
                                                <th class="text-center">Nama Form</th>
                                                <th class="text-center">Detail Form</th>
                                                <th class="text-center">Tanggal Submit</th>
                                                <th class="text-center">Action</th>
                                                <th class="text-center">Keterangan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="rek in EquipmentQualificationCtrl.listqualification">
                                                <td style="vertical-align: middle;">{{EquipmentQualificationCtrl.currentPage > 1 ? (EquipmentQualificationCtrl.pageSize * (EquipmentQualificationCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{rek.vendorOffer.DocumentCode}}</td>
                                                <td style="vertical-align: middle;">{{rek.vendorOffer.DocumentName}}</td>
                                                <td class="text-center">
                                                 <button ng-click="EquipmentQualificationCtrl.gotoDetail(rek)" ng-disabled="dt.notNeeded" class="btn btn-sm btn-success" title="Detail"><i class="fa fa-external-link"></i> </button>
                                                </td>
                                                <td style="vertical-align: middle;">{{rek.vendorOffer.ApproveDate| date: "dd-MM-yyyy"}}</td>
                                                <td style="vertical-align: middle;"><input type="checkbox" ng-model="rek.IsValid" /></td>
                                                <td style="vertical-align: middle;"><input type="text" ng-model="rek.Remark" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="EquipmentQualificationCtrl.kembali()" title="Kembali">
                                            <i class='fa fa-arrow-left'></i>&nbsp; 
                                        </button>
                                        <button type="button" class="btn btn-flat btn-sm btn-primary" ng-click="EquipmentQualificationCtrl.simpan(EquipmentQualificationCtrl.listqualification)" title="Simpan">
                                            <i class='fa fa-plus-circle'></i>&nbsp; 
                                        </button>
                                    </div>
                                </div>
                            </div>
                    <div class="row">
                        <div class="col-md-7">
                            <ul uib-pagination boundary-links="true" total-items="EquipmentQualificationCtrl.totalItems" ng-model="EquipmentQualificationCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="EquipmentQualificationCtrl.jLoad(EquipmentQualificationCtrl.currentPage)"></ul>
                            <br />
                            <label>{{'TOTAL_DATA' | translate}} : {{EquipmentQualificationCtrl.totalItems}}</label>
                        </div>
                    </div>
            </div>
        </div>
    </div>
            </div>
        </div>
</section>
