<div class="container-fluid" ng-init="IzinUsahaController.init()">
	<ol class="breadcrumb" style="margin-top: 20px;">
		<li>
			<a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a>
		</li>
		<li>
			<a class="active">{{'BREADCRUMB.LICENSE' | translate}}</a>
		</li>
	</ol>
    <div class="box">
        <div class="box-body">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center afta-font" style="padding-bottom: 20px;">{{'FORM.LICENSEDATA' | translate}}</h3>
		</div>
		<!--
		<div class="col-md-12">
			<h5 class="text-left afta-font" style="color: #002a80;"><b>*Data SIUP (Surat Ijin Usaha Perusahaan) dan TDP (Tanda Daftar Perusahaan) wajib disertakan.</b></h3>
		</div>
		-->
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="alert alert-info alert-dismissable">
						<a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
						<strong>Info!</strong> {{'MESSAGE.NOTIF1_ADMINISTRATION' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
					</div>
				</div>
			</div>
            <div class="row" ng-if="IzinUsahaController.revisiVendor">
				<div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="alert alert-info alert-dismissable text-center">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF_DLU' | translate}} <strong> {{IzinUsahaController.revisiName}}</strong> {{'MESSAGE.NOTIF_TIDAK_VALID' | translate}} <button class="btn btn-xs btn-warning" ng-click="IzinUsahaController.revisiVendorDetail()" title="{{'DETAIL' | translate}}"><i class="fa fa-eye"></i> {{'DETAIL' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px;">
                <div class="col-md-12">
                    <div class="col-md-12 " style="text-align: center">
						<button class="btn btn-success btn-flat btn-sm" ng-if="IzinUsahaController.IsApprovedCR === true && IzinUsahaController.vendorCategoryID == 33" ng-click="IzinUsahaController.openForm('',true)"><i class="fa fa-plus"></i> {{'TAMBAH' | translate}}</button>
						<button class="btn btn-primary btn-flat btn-sm"  ng-if="IzinUsahaController.vendorCategoryID == 32" ng-click="IzinUsahaController.simpanIzinUsahaCivd()">{{'GET_DATA_IZIN_USAHA_CIVD' | translate}}</button>
                    </div>
                </div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="table table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center">{{'TABLE.NO' | translate}}</th>
									<th class="text-center">{{'TABLE.LICENSETYPE' | translate}}</th>
									<th class="text-center">{{'TABLE.STARTDATE' | translate}}</th>
									<th class="text-center">{{'TABLE.ENDDATE' | translate}}</th>
									<th class="text-center">{{'TABLE.INSTITUTION' | translate}}</th>
									<th class="text-center" style="width: 250px; min-width: 250px;">Action</th>
								</tr>
							</thead>
				<!--<div class="col-md-12">-->
							<tbody>
								<tr ng-repeat="obj in IzinUsahaController.listLicensi">
									<td class="text-center" style="vertical-align: middle;">{{IzinUsahaController.currentPage > 1 ? (IzinUsahaController.pageSize * (IzinUsahaController.currentPage - 1)) + $index + 1 : $index + 1}}</td>
									<td style="vertical-align: middle;">{{obj.LicenseName |translate}}</td>
									<td class="text-center" style="vertical-align: middle;">
										<span ng-if="obj.IssuedDate">{{obj.IssuedDate | date:'dd-MM-yyyy'}}</span>
										<span ng-if="obj.IssuedDate == null">-</span>

									</td>
									<td class="text-center" style="vertical-align: middle;">
										<span ng-if="obj.ExpiredDate">{{obj.ExpiredDate | date:'dd-MM-yyyy'}}</span>
										<span ng-if="obj.ExpiredDate == null">-</span>
									</td>
									<td style="vertical-align: middle;">{{obj.IssuedBy || '-'}}</td>
									<td class="text-center">
										<button ng-click="IzinUsahaController.openForm(obj,false)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'BTN.LIHAT' | translate}}">
											<i class="fa fa-external-link"></i> 
										</button>
										<button ng-if="IzinUsahaController.IsApprovedCR === true && IzinUsahaController.vendorCategoryID == 33" ng-click="IzinUsahaController.openForm(obj,true)" class="btn btn-flat btn-sm btn-primary" role="button" title="{{'BTN.UBAH' | translate}}">
											<i class="fa fa-edit"></i>
										</button>
										<button ng-if="IzinUsahaController.IsApprovedCR === true && IzinUsahaController.vendorCategoryID == 33" ng-click="IzinUsahaController.deleteLic(obj)" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.HAPUS' | translate}}">
											<i class="fa fa-trash-o"></i>
										</button>
									</td>
								</tr>
								<tr ng-if="IzinUsahaController.listLicensi.length == 0">
									<td colspan="6">{{'NO_DATA' | translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
        
		</div><br /><br />
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
            <!--kuning--><button disabled style="background-color: #ecb42f; width: 35px; height:30px; border:none;"><i class="fa fa-external-link"></i></button> : <span style="margin-right: 10px;">{{'BTN.LIHAT' | translate}}</span>

            <!--biru--><button ng-if="IzinUsahaController.vendorCategoryID == 33" disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-edit"></i></button> <span ng-if="IzinUsahaController.vendorCategoryID == 33" style="margin-right: 10px;">: {{'BTN.UBAH' | translate}}</span>

            <!--merah--><button ng-if="IzinUsahaController.vendorCategoryID == 33" disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-trash-o"></i></button> <span ng-if="IzinUsahaController.vendorCategoryID == 33" style="margin-right: 10px;">: {{'BTN.HAPUS' | translate}}</span>
        </div>
    </div>
	</div>
</div>
</div>
<script type="text/ng-template" id="pilihBidangUsaha.html">
	<div id="idBuatSubPekerjaan" class="modal-content" ng-init="init()">
		<div class="modal-header">
			<button type="button" class="close" ng-click="onBatalClick()">
				<span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span>
			</button>
			<h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'FORM.BUSINESSFIELDOPTION' | translate}}</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-7 col-sm-8 col-xs-12 center-block" style="float: none!important;">
					<form ng-submit="onSearchSubmit(searchText)" role="form" method="post">
						<div class="form-group">
							<div class="row">
								<div class="col-md-10">
									<input ng-model="searchText" class="form-control" placeholder="Cari Nama/Kode Bidang Usaha" />
								</div>
								<div class="col-md-2">
									<button type="submit" name="search" id="search-btn" class="btn btn-flat btn-default" title="Cari">
										<i class="fa fa-search"></i>&nbsp;
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
					<div class="table table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="center-vertical" style="min-width: 20px; width: 20px;">No</th>
									<th class="center-vertical">Nama Bidang Usaha</th>
									<th class="center-vertical" style="min-width: 80px; width: 80px;">Kode KBLI</th>
									<th class="center-vertical" style="min-width: 30px; width: 40px;"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="bu in bidangUsaha">
									<td class="text-center" style="vertical-align: middle;">{{(pageNumber - 1) * pageSize + $index + 1}}.</td>
									<td class="text-left" style="vertical-align: middle;">{{bu.nama_bidang_usaha}}</td>
									<td class="text-right" style="vertical-align: middle;">{{bu.string_bidang_usaha}}</td>
									<td class="text-center" style="vertical-align: middle;">
										<button class="btn btn-flat btn-sm btn-success" ng-click="onSelectClick(bu)" title="Pilih">
											<i class="fa fa-check-circle"></i>&nbsp;
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<pagination total-items="count" page="pageNumber" items-per-page="pageSize" max-size="10" on-select-page="loadBidangUsaha(page)"></pagination><br />
						<label>Total Data : {{count}}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button ng-click="onBatalClick()" type="button" class="btn btn-flat btn-default" title="Batal">
				<i class="fa fa-reply"></i>&nbsp;
			</button>
		</div>
	</div>
</script>
