﻿<style>
    .judul{
        width:70%;
    }
    .child{
        width:10%;
    }
</style>
<div class="modal-content" ng-init="PilihBidangUsahaTreeModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="PilihBidangUsahaTreeModalCtrl.simpanTree(false)">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'PILIH_BIDANG_USAHA' | translate}}</h3>
    </div>
    <div name="myForm">
        <div class="modal-body">
            <div class="row" style="padding-top: 20px!important;">
                <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                    <div class="row">
                        <div class="col-md-5">
                            <button ng-click="PilihBidangUsahaTreeModalCtrl.expandAll()" id="expand" class="btn btn-info btn-sm btn-flat" title="{{'EXPAND_ALL'|translate}}"><i class="fa fa-plus-square"></i>&nbsp; {{'EXPAND_ALL'|translate}} </button>&nbsp;
                            <button ng-click="PilihBidangUsahaTreeModalCtrl.collapseAll()" class="btn btn-warning btn-sm btn-flat" title="{{'COLLAPSE_ALL'|translate}}"><i class="fa fa-minus-square"></i>&nbsp; {{'COLLAPSE_ALL'|translate}} </button>&nbsp;
                            <button type="button" class="btn btn-success btn-sm btn-flat" ng-click="PilihBidangUsahaTreeModalCtrl.simpanTree(true)" title="{{'FORM.BTN_SAVE' | translate}}"><i class="fa fa-save"></i> {{'FORM.BTN_SAVE' | translate}}</button>
                        </div>
                       
                        <div class="col-md-7">
                           
                            <label style="padding-top:5px;" class="col-md-6 text-right control-label">{{'CARI' | translate}} </label>
                            <div class="col-md-6">
                                <form class="input-group">
                                    <input type="text" class="form-control" ng-model="PilihBidangUsahaTreeModalCtrl.srcText" placeholder="Filter" />
                                    <span class="input-group-btn" >
                                        <button class="btn btn-flat btn-info" ng-click="PilihBidangUsahaTreeModalCtrl.jLoad(1)" title="{{'CARI' | translate}}"  type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </form>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       
                        <div class="col-md-12">
                            
                            <div class="table table-responsive">
                                <tree-grid tree-data="PilihBidangUsahaTreeModalCtrl.data" tree-control="my_tree" col-defs="PilihBidangUsahaTreeModalCtrl.col_defs" expand-on="PilihBidangUsahaTreeModalCtrl.expanding_property"></tree-grid>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>{{'Total Data' | translate}} : {{PilihBidangUsahaTreeModalCtrl.totalItems}}</label>
                    </div>
                    <div class="row">
                        <!--<ul uib-pagination total-items="PilihBidangUsahaTreeModalCtrl.totalItems" ng-model="PilihBidangUsahaTreeModalCtrl.currentPage" items-per-page="PilihBidangUsahaTreeModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="PilihBidangUsahaTreeModalCtrl.jLoad(PilihBidangUsahaTreeModalCtrl.currentPage)"></ul>-->
                        <ul uib-pagination total-items="PilihBidangUsahaTreeModalCtrl.totalItems" max-size="10"
                            ng-model="PilihBidangUsahaTreeModalCtrl.currentPage" items-per-page="PilihBidangUsahaTreeModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="PilihBidangUsahaTreeModalCtrl.jLoad(PilihBidangUsahaTreeModalCtrl.currentPage)"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="PilihBidangUsahaTreeModalCtrl.simpanTree(false)" title="{{'FORM.BTN_CANCEL' | translate}}"><i class="fa fa-reply"></i> {{'FORM.BTN_CANCEL' | translate}} &nbsp;</button>
            <button type="button" style="margin-right:20px;" class="btn btn-flat btn-success" ng-click="PilihBidangUsahaTreeModalCtrl.simpanTree(true)" title="{{'FORM.BTN_SAVE' | translate}}"><i class="fa fa-save"></i> {{'FORM.BTN_SAVE' | translate}} &nbsp;</button>
        </div>
    </div>
</div>
