﻿<section class="content" ng-init="depbCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{depbCtrl.tenderRefID}}/{{depbCtrl.procPackType}}/{{depbCtrl.tenderStepData.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/evaluasi-penawaran-barang/{{depbCtrl.tenderRefID}}/{{depbCtrl.stepID}}/{{depbCtrl.procPackType}}" class="active">
                {{depbCtrl.tenderStepData.step.TenderStepName |translate}}
            </a>
        </li>
        <li><a class="active">{{'BREADCRUMB.DETAIL_EVALUASI'|translate}}</a></li>
    </ol> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="container-fluid">
                            <div class="center-block text-left">
                                <h4 class="afta-font" style="margin-top: 3px; margin-bottom: 10px;">{{'DETAIL_PENAWARAN'| translate}}</h4>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="center-block text-left">
                                <h4 class="afta-font" style="margin-top: 3px; margin-bottom: 10px;">{{'Pengadaan'|translate}}: {{depbCtrl.tenderStepData.tender.TenderName}}</h4>
                                <label class="text-red" ng-if="depbCtrl.tenderStepData.tender.IsCancelled"><i>({{'KET_BATAL'|translate}})</i></label>
                                <label class="text-red" ng-if="depbCtrl.isProcess === false"><i>({{'KET_LEWAT'|translate}})</i></label>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="table table-responsive">
                                <table id="tabelHarga" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">SUPPLIER NAME</th>
                                            <td colspan="3" style="vertical-align: middle;">HISTORICAL PRICE</td>
                                            <td colspan="3" style="vertical-align: middle;">
                                                EQUALIZED PRESENT VALUE
                                                <!--<a ng-show="depbCtrl.isProcess" ng-click="depbCtrl.uploadSPV()" class="btn btn-xs btn-flat btn-info pull-right" title="{{'UPLOAD' | translate}}"><i class="fa fa-upload" /></a>-->
                                            </td>
                                            <td colspan="3" style="vertical-align: middle;" title="SUPPLIER NAME" ng-repeat="item in depbCtrl.offerEntries">{{item.VendorName}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">AREA</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;" title="AREA" ng-repeat="item in depbCtrl.offerEntries">{{item.VendorAreaType | translate}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">QUOTATION REF & DATE</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;" title="QUOTATION REF & DATE" ng-repeat="item in depbCtrl.offerEntries">{{item.QuotationNo}} {{item.GOEDate | date: 'dd/MM/yyyy'}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">QUOTATION VALIDITY (DAYS OR DATE)</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;" title="QUOTATION VALIDITY" ng-repeat="item in depbCtrl.offerEntries">{{item.ExpiredDay}} Days</td>
                                        </tr>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">DELIVERY TERMS</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;" title="DELIVERY TERMS" ng-repeat="item in depbCtrl.offerEntries">{{item.IncoTermCode}} - {{item.FreightDeliveryState}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">PAYMENT TERMS</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;" title="PAYMENT TERMS" ng-repeat="item in depbCtrl.offerEntries">
                                                <select ng-disabled="!depbCtrl.isProcess" class="form-control input-xs" ng-model="item.PaymentTerms"
                                                        ng-options="opt.Id as (opt.Code + ' - ' + opt.Name) for opt in depbCtrl.paymentTermsOptions"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">QUOTATION CURRENCY</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <!--<td colspan="3" style="vertical-align: middle;">
                                                <select ng-disabled="!depbCtrl.isProcess" class="form-control input-xs" ng-model="depbCtrl.epvCurrencyId" ng-change="depbCtrl.epvCurrencyChange()"
                                                        ng-options="opt.CurrencyID as opt.Symbol for opt in depbCtrl.currencyOptions"></select>
                                            </td>-->
                                            <td colspan="3" style="vertical-align: middle;" title="QUOTATION CURRENCY" ng-repeat="item in depbCtrl.offerEntries">{{item.CurrencySymbol}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">EX-CHANGE RATE USED TO USD</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <!--<td colspan="3" style="vertical-align: middle;">{{depbCtrl.epvRateToUSD}}</td>-->
                                            <td colspan="3" style="vertical-align: middle;" title="EX-CHANGE RATE USED TO USD" ng-repeat="item in depbCtrl.offerEntries">
                                                <span ng-if="item.ExchangeRateToUSD">{{item.ExchangeRateToUSD}}</span>
                                                <span class="text-red" ng-if="!item.ExchangeRateToUSD">{{"RATES_NOT_FOUND" | translate}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">DOCUMENTS</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;" title="{{'DOCUMENTS'|translate}}" ng-repeat="item in depbCtrl.offerEntries">
                                                <button ng-if="item.HasDocuments" ng-click="depbCtrl.dokumen(item)" class="btn btn-sm btn-flat btn-info"><i class="fa fa-download"></i>&nbsp;{{'Documents'|translate}}</button>
                                            </td>
                                        </tr>
                                        <!--
                                        <tr>
                                            <th colspan="10" style="vertical-align: middle;">ADDITIONAL INFORMATION</th>
                                            <td colspan="3" style="vertical-align: middle;" ng-repeat="item in depbCtrl.offerEntries"></td>
                                        </tr>
                                        -->
                                        <tr>
                                            <td colspan="{{10 + 3 + 3 + depbCtrl.repeater.length}}">
                                                <ul uib-pagination total-items="depbCtrl.count" max-size="10" ng-model="depbCtrl.pageNumber" items-per-page="depbCtrl.pageSize"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="depbCtrl.loadPagedOEDetail()" boundary-links="true" first-text="&laquo;" last-text="&raquo;"></ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="center-vertical" style="width: 40px; min-width: 40px;">{{'TABLE.NO'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.PR'|translate}}</th>
                                            <th class="center-vertical">Req. Item</th>
                                            <th class="center-vertical" nowrap>{{'TABLE.SAP_MATERIAL_ID'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.PN'|translate}}</th>
                                            <th class="center-vertical" style="min-width:200px;">{{'TABLE.DESCRIPTION'|translate}}</th>
                                            <th class="center-vertical">Delivery Date</th>
                                            <th class="center-vertical">{{'TABLE.QTY'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.UOM'|translate}}</th>
                                            <!--<th class="center-vertical">{{'TABLE.TOTAL_VALUE'|translate}} (USD)</th>-->
                                            <th class="center-vertical">
                                                <span ng-show="depbCtrl.isItemize">{{'TABLE.PILIH_PEMENANG'|translate}}</span>
                                            </th>

                                            <th class="center-vertical" style="width: 150px; min-width: 150px;"><!--{{'TABLE.UNIT_PRICE'|translate}}--></th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'TABLE.TOTAL_PRICE'|translate}}</th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'TABLE.IN_USD'|translate}}</th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;"><!--{{'TABLE.UNIT_PRICE'|translate}}--></th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'TABLE.TOTAL_PRICE'|translate}}</th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'TABLE.IN_USD'|translate}}</th>

                                            <th class="center-vertical" style="width: 180px; min-width: 180px;" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0">{{'TABLE.UNIT_PRICE'|translate}}</span>
                                                <span ng-if="$index % 3 === 1">{{'TABLE.TOTAL_PRICE'|translate}}</span>
                                                <span ng-if="$index % 3 === 2">{{'TABLE.IN_USD'|translate}}</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in depbCtrl.itemPRs">
                                            <td class="center-vertical">{{((depbCtrl.pageNumber - 1) * depbCtrl.pageSize) + $index + 1}}</td>
                                            <td class="middle-vertical">{{item.PurchaseReq}}</td>
                                            <td class="middle-vertical">{{item.RequisnItem}}</td>
                                            <td class="middle-vertical">{{item.Material}}</td>
                                            <td class="middle-vertical">{{item.MPNMaterial}}</td>
                                            <td class="middle-vertical">{{item.ShortText}} {{item.ItemText}} {{item.MaterialPOText}} {{item.HeaderNote}} {{item.ItemNote}} {{item.DeliveryText}} {{item.NoteForBuyer}} {{item.Manufacturer1}} {{item.Manufacturer2}}</td>
                                            <td class="center-vertical">{{item.DeliveryDate | date : 'dd/MM/yy'}}</td>
                                            <td class="center-vertical">{{item.Quantity}}</td>
                                            <td class="center-vertical">{{item.UnitMeasure}}</td>
                                            <!--<td class="center-vertical">{{item.TotalValueInUSD | currency:''}}</td>-->
                                            <td class="center-vertical">
                                                <button ng-disabled="false" ng-show="depbCtrl.isItemize" ng-click="depbCtrl.setItemPRAward($index)" class="btn btn-sm btn-flat" ng-class="{'btn-success':item.AwardedVendor,'btn-danger':!item.AwardedVendor}"  ><i class="fa fa-star"></i></button>
                                            </td>

                                            <td class="middle-vertical text-right">{{item.UnitCostHistorical | currency : item.Currency + ' '}}</td>
                                            <td class="middle-vertical text-right">{{item.TotalValueHistorical | currency : item.Currency + ' '}}</td>
                                            <td class="middle-vertical text-right">{{item.TotalValueHistoricalInUSD | currency : ""}}</td>
                                            <td class="middle-vertical text-right">{{item.UnitCostEPV | currency :  item.Currency + ' '}}</td>
                                            <td class="middle-vertical text-right">{{item.TotalValueEPV | currency : item.Currency + ' '}}</td>
                                            <td class="middle-vertical text-right">{{item.TotalValueEPVInUSD | currency : ""}}</td>

                                            <td class="middle-vertical text-right" ng-repeat="item2 in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0">
                                                    <a ng-show="depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].DocUrl" class="btn btn-xs btn-flat btn-primary pull-left" title="{{'DOWNLOAD' | translate}}"
                                                       href="{{depbCtrl.folderFile + depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].DocUrl}}" target="_blank"><i class="fa fa-download"></i></a>
                                                    <a ng-show="depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].Remark" class="btn btn-xs btn-flat btn-success pull-left" title="{{'REMARK' | translate}}"
                                                       uib-popover="{{'REMARK' | translate}} : {{depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].Remark}}" popover-trigger="mouseenter"><i class="fa fa-list"></i></a>
                                                    <a ng-show="depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].Alternative" class="btn btn-xs btn-flat btn-warning pull-left" title="{{'ALTERNATIVE' | translate}}"
                                                       uib-popover="{{'ALTERNATIVE' | translate}} : {{depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].Alternative}}" popover-trigger="mouseenter">Alt.</a>
                                                    {{depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].UnitPrice | currency:''}}
                                                </span>
                                                <span ng-if="$index % 3 === 1">{{depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].TotalPrice | currency:''}}</span>
                                                <span ng-if="$index % 3 === 2">
                                                    {{depbCtrl.offerEntries[($index-($index % 3))/3].GoodsOfferEntryDetails[$parent.$parent.$index].TotalPriceInUSD | currency:''}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5" rowspan="{{13 + depbCtrl.otherCosts.length + depbCtrl.criterias.length}}"></td>
                                            
                                            <td colspan="5" style="vertical-align: middle;"><strong>Total Price Quoted</strong></td>
                                            
                                            <td class="middle-vertical text-right"></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.totalHistoricalValue > 0">{{depbCtrl.totalHistoricalValue | currency : ""}}</span>
                                                <span ng-if="!depbCtrl.totalHistoricalValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{depbCtrl.totalHistoricalValueInUSD | currency : ""}}</td>
                                            <td class="middle-vertical text-right"></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.totalEPValue > 0">{{depbCtrl.totalEPValue | currency : ""}}</span>
                                                <span ng-if="!depbCtrl.totalEPValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{depbCtrl.totalEPValueInUSD | currency : ""}}</td>

                                            <td title="{{depbCtrl.totalOfferTooltip(($index-($index % 3))/3, 'Total Price Quoted', $index % 3)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0"></span>
                                                <span ng-if="$index % 3 === 1">{{depbCtrl.offerEntries[($index-($index % 3))/3].OfferTotalCostOriginal | currency:''}}</span>
                                                <span ng-if="$index % 3 === 2">{{depbCtrl.offerEntries[($index-($index % 3))/3].OfferTotalCostOriginalInUSD | currency:''}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="vertical-align: middle;"><strong>Total Price Quoted (Adjusted)</strong></td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>
                                            
                                            <td title="{{depbCtrl.totalOfferTooltip(($index-($index % 3))/3, 'Total Price Quoted (Adjusted)', $index % 3)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0"></span>
                                                <span ng-if="$index % 3 === 1">{{depbCtrl.offerEntries[($index-($index % 3))/3].OfferTotalCost | currency:''}}</span>
                                                <span ng-if="$index % 3 === 2">{{depbCtrl.offerEntries[($index-($index % 3))/3].OfferTotalCostInUSD | currency:''}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="vertical-align: middle;">
                                                <label>Prev. Total Value (USD) :</label>
                                                <input ng-disabled="!depbCtrl.isProcess" currency-mask type="text" class="form-control input-sm"
                                                       ng-model="depbCtrl.evaluation.PreviousOfferTotal" ng-change="depbCtrl.costChangeAll()" />
                                            </td>
                                            <td colspan="1" style="vertical-align: middle;">Diff. (%)</td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>
                                            
                                            <td title="{{depbCtrl.totalOfferTooltip(($index-($index % 3))/3, 'Previous Price Diff (%)', $index % 3)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0"></span>
                                                <span ng-if="$index % 3 === 1"></span>
                                                <span ng-if="$index % 3 === 2">
                                                    {{depbCtrl.offerEntries[($index-($index % 3))/3].OfferTotalCostPrevPercentDiff > 0 ? "+" : ""}}
                                                    {{depbCtrl.offerEntries[($index-($index % 3))/3].OfferTotalCostPrevPercentDiff.toFixed(2)}} %
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="vertical-align: middle;">Freight Cost to Soroako</td>
                                            <td colspan="2" style="vertical-align: middle;">
                                                <select ng-disabled="!depbCtrl.isProcess" class="form-control input-sm" ng-model="depbCtrl.evaluation.FreightCostUnitName" ng-change="depbCtrl.costChangeAll()">
                                                    <option value="COST_UNIT_PERCENT">%</option>
                                                    <option value="COST_UNIT_CURRENCY">$</option>
                                                </select>
                                            </td>

                                            <td>
                                                <input ng-disabled="!depbCtrl.isProcess || !depbCtrl.totalHistoricalValue" ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'" currency-mask type="text" class="form-control input-sm"
                                                       ng-model="depbCtrl.evaluation.FreightCostHistorical" ng-change="depbCtrl.historicalCostChange()" />
                                                <input ng-disabled="!depbCtrl.isProcess" ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'" type="number" min="0" class="form-control input-sm"
                                                       ng-model="depbCtrl.evaluation.FreightCostPercentHistorical" ng-change="depbCtrl.historicalCostChange()" />
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.totalHistoricalValue && depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.evaluation.FreightCostHistorical | currency:''}}</span>
                                                <span ng-if="depbCtrl.totalHistoricalValue && depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.evaluation.FreightCostPercentHistoricalValue | currency:''}}</span>
                                                <span ng-if="!depbCtrl.totalHistoricalValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.evaluation.FreightCostHistoricalInUSD | currency:''}}</span>
                                                <span ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.evaluation.FreightCostPercentHistoricalValueInUSD | currency:''}}</span>
                                            </td>
                                            <td>
                                                <input ng-disabled="!depbCtrl.isProcess || !depbCtrl.totalEPValue" ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'" currency-mask type="text" class="form-control input-sm"
                                                       ng-model="depbCtrl.evaluation.FreightCostEPV" ng-change="depbCtrl.epvCostChange()" />
                                                <input ng-disabled="!depbCtrl.isProcess" ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'" type="number" min="0" class="form-control input-sm"
                                                       ng-model="depbCtrl.evaluation.FreightCostPercentEPV" ng-change="depbCtrl.epvCostChange()" />
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.totalEPValue && depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.evaluation.FreightCostEPV | currency:''}}</span>
                                                <span ng-if="depbCtrl.totalEPValue && depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.evaluation.FreightCostPercentEPVValue | currency:''}}</span>
                                                <span ng-if="!depbCtrl.totalEPValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.evaluation.FreightCostEPVInUSD | currency:''}}</span>
                                                <span ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.evaluation.FreightCostPercentEPVValueInUSD | currency:''}}</span>
                                            </td>

                                            <td title="{{depbCtrl.totalOfferTooltip(($index-($index % 3))/3, 'Freight Cost to Soroako', $index % 3)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0">
                                                    <input ng-disabled="!depbCtrl.isProcess" ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'" currency-mask type="text" class="form-control input-sm"
                                                           ng-model="depbCtrl.offerEntries[($index-($index % 3))/3].FreightCost" ng-change="depbCtrl.costChange(($index-($index % 3))/3)" />
                                                    <input ng-disabled="true" ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'" type="number" min="0" class="form-control input-sm"
                                                           ng-model="depbCtrl.offerEntries[($index-($index % 3))/3].FreightCostPercent" ng-change="depbCtrl.costChange(($index-($index % 3))/3)" />
                                                </span>
                                                <span ng-if="$index % 3 === 1">
                                                    <span ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.offerEntries[($index-($index % 3))/3].FreightCost | currency:''}}</span>
                                                    <span ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.offerEntries[($index-($index % 3))/3].FreightCostPercentValue | currency:''}}</span>
                                                </span>
                                                <span ng-if="$index % 3 === 2">
                                                    <span ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.offerEntries[($index-($index % 3))/3].FreightCostInUSD | currency:''}}</span>
                                                    <span ng-if="depbCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.offerEntries[($index-($index % 3))/3].FreightCostPercentValueInUSD | currency:''}}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="vertical-align: middle;">Customs & Duty Cost % (if applicable)</td>

                                            <td>
                                                <input ng-disabled="!depbCtrl.isProcess" type="number" min="0" class="form-control input-sm" ng-model="depbCtrl.evaluation.CustomsDutyCostPercentHistorical"
                                                       ng-change="depbCtrl.historicalCostChange()" />
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.totalHistoricalValue">{{ depbCtrl.evaluation.CustomsDutyCostPercentHistoricalValue | currency:''}}</span>
                                                <span ng-if="!depbCtrl.totalHistoricalValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{ depbCtrl.evaluation.CustomsDutyCostPercentHistoricalValueInUSD | currency:''}}</td>
                                            <td>
                                                <input ng-disabled="!depbCtrl.isProcess" type="number" min="0" class="form-control input-sm" ng-model="depbCtrl.evaluation.CustomsDutyCostPercentEPV"
                                                       ng-change="depbCtrl.epvCostChange()" />
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.totalEPValue">{{ depbCtrl.evaluation.CustomsDutyCostPercentEPVValue | currency:''}}</span>
                                                <span ng-if="!depbCtrl.totalEPValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{ depbCtrl.evaluation.CustomsDutyCostPercentEPVValueInUSD | currency:''}}</tdclass="middle-vertical>

                                            <td title="{{depbCtrl.totalOfferTooltip(($index-($index % 3))/3, 'Customs & Duty Cost', $index % 3)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0">
                                                    <input ng-disabled="!depbCtrl.isProcess" type="number" min="0" class="form-control input-sm" ng-model="depbCtrl.offerEntries[($index-($index % 3))/3].CustomsDutyCostPercent"
                                                           ng-change="depbCtrl.costChange(($index-($index % 3))/3)" />
                                                </span>
                                                <span ng-if="$index % 3 === 1">{{ depbCtrl.offerEntries[($index-($index % 3))/3].CustomsDutyCostPercentValue | currency:''}}</span>
                                                <span ng-if="$index % 3 === 2">{{ depbCtrl.offerEntries[($index-($index % 3))/3].CustomsDutyCostPercentValueInUSD | currency:''}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="vertical-align: middle;">Other Costs</td>
                                            <td colspan="{{3 + 3 + depbCtrl.repeater.length}}"></td>
                                        </tr>
                                        <tr ng-repeat="otherCost in depbCtrl.otherCosts">
                                            <td colspan="3" style="vertical-align: middle;">{{otherCost.OtherCostName}}</td>
                                            <td colspan="2" style="vertical-align: middle;">
                                                <select ng-disabled="!depbCtrl.isProcess" class="form-control input-sm" ng-model="otherCost.OtherCostUnitName" ng-change="depbCtrl.costChangeAll()">
                                                    <option value="COST_UNIT_PERCENT">%</option>
                                                    <option value="COST_UNIT_CURRENCY">$</option>
                                                </select>
                                            </td>
                                            
                                            <td colspan="3"></td>
                                            <td class="middle-vertical text-right">
                                                <input ng-disabled="!depbCtrl.isProcess" ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'" currency-mask type="text" class="form-control input-sm"
                                                       ng-model="depbCtrl.epvOtherCosts[$parent.$index].OtherCost" ng-change="depbCtrl.epvCostChange()" />
                                                <input ng-disabled="!depbCtrl.isProcess" ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'" type="number" min="0" class="form-control input-sm"
                                                       ng-model="depbCtrl.epvOtherCosts[$parent.$index].OtherCostPercent" ng-change="depbCtrl.epvCostChange()" />
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.epvOtherCosts[$parent.$index].OtherCost | currency:''}}</span>
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.epvOtherCosts[$parent.$index].OtherCostPercentValue | currency:''}}</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.epvOtherCosts[$parent.$index].OtherCostInUSD | currency:''}}</span>
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.epvOtherCosts[$parent.$index].OtherCostPercentValueInUSD | currency:''}}</span>
                                            </td>

                                            <td title="{{depbCtrl.totalOfferTooltip(($index-($index % 3))/3, 'Other Costs: ' + otherCost.OtherCostName, $index % 3)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0">
                                                    <input ng-disabled="!depbCtrl.isProcess" ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'" currency-mask type="text" class="form-control input-sm"
                                                           ng-model="depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCost" ng-change="depbCtrl.costChange(($index-($index % 3))/3)" />
                                                    <input ng-disabled="!depbCtrl.isProcess" ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'" type="number" min="0" class="form-control input-sm"
                                                           ng-model="depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCostPercent" ng-change="depbCtrl.costChange(($index-($index % 3))/3)" />
                                                </span>
                                                <span ng-if="$index % 3 === 1">
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCost | currency:''}}</span>
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCostPercentValue | currency:''}}</span>
                                                </span>
                                                <span ng-if="$index % 3 === 2">
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{ depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCostInUSD | currency:''}}</span>
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{ depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCostPercentValueInUSD | currency:''}}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="vertical-align: middle;"><strong>Total Net Purchase Value to Soroako</strong></td>

                                            <td></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.totalHistoricalValue">{{depbCtrl.evaluation.TotalHistoricalValue | currency:''}}</span>
                                                <span ng-if="!depbCtrl.totalHistoricalValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{depbCtrl.evaluation.TotalHistoricalValueInUSD | currency:''}}</td>
                                            <td></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depbCtrl.totalEPValue">{{depbCtrl.evaluation.TotalEPVValue | currency:''}}</span>
                                                <span ng-if="!depbCtrl.totalEPValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{depbCtrl.evaluation.TotalEPVValueInUSD | currency:''}}</td>
                                            
                                            <td title="{{depbCtrl.totalOfferTooltip(($index-($index % 3))/3, 'Total Net Purchase Value to Soroako', $index % 3)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0"></span>
                                                <span ng-if="$index % 3 === 1">{{depbCtrl.offerEntries[($index-($index % 3))/3].TotalPurchaseValue | currency:''}}</span>
                                                <span ng-if="$index % 3 === 2">{{depbCtrl.offerEntries[($index-($index % 3))/3].TotalPurchaseValueInUSD | currency:''}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="vertical-align: middle;">Supplier Quoted Lead Time</td>

                                            <td colspan="3"></td>
                                            <td colspan="3"></td>
                                            
                                            <td title="{{depbCtrl.leadTimeTooltip(($index-($index % 3))/3, 'Supplier Quoted Lead Time', $index % 3)}}"
                                                class="middle-vertical" ng-repeat="item in depbCtrl.repeater">
                                                <span class="pull-right" ng-if="$index % 3 === 0">
                                                    <button ng-click="depbCtrl.viewItemDeliveryDate(depbCtrl.offerEntries[($index-($index % 3))/3])" type="button" class="btn btn-flat btn-xs btn-info pull-left" title="Delivery Date">
                                                        <i class="fa fa-list"></i>
                                                    </button>&nbsp;
                                                    {{depbCtrl.offerEntries[($index-($index % 3))/3].SupplierQLTime}}
                                                </span>
                                                <span ng-if="$index % 3 === 1">days</span>
                                                <span ng-if="$index % 3 === 2"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="vertical-align: middle;">Freight Lead Time / Type</td>
                                            <td colspan="2" style="vertical-align: middle;">
                                                <select ng-disabled="!depbCtrl.isProcess" class="form-control input-sm" ng-model="depbCtrl.evaluation.FreightTypeName" ng-change="depbCtrl.freightTypeChange()">
                                                    <option value="Air">Air</option>
                                                    <option value="Land">Land</option>
                                                    <option value="Sea">Sea</option>
                                                </select>
                                            </td>

                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td title="{{depbCtrl.leadTimeTooltip(($index-($index % 3))/3, 'Freight Lead Time', $index % 3)}}"
                                                class="middle-vertical" ng-repeat="item in depbCtrl.repeater">
                                                <span class="pull-right" ng-if="$index % 3 === 0">{{depbCtrl.offerEntries[($index-($index % 3))/3].FreightDeliveryTime}}</span>
                                                <span ng-if="$index % 3 === 1">days</span>
                                                <span ng-if="$index % 3 === 2">
                                                    <select ng-disabled="!depbCtrl.isProcess" class="form-control input-sm" ng-model="depbCtrl.offerEntries[($index-($index % 3))/3].FreightTypeName" ng-change="depbCtrl.vendorFreightTypeChange(($index-($index % 3))/3)">
                                                        <option value="Air">Air</option>
                                                        <option value="Land">Land</option>
                                                        <option value="Sea">Sea</option>
                                                    </select>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" style="vertical-align: middle;">Total Lead Time</td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>
                                            
                                            <td title="{{depbCtrl.leadTimeTooltip(($index-($index % 3))/3, 'Total Lead Time', $index % 3)}}"
                                                class="middle-vertical" ng-repeat="item in depbCtrl.repeater">
                                                <span class="pull-right" ng-if="$index % 3 === 0">{{depbCtrl.offerEntries[($index-($index % 3))/3].SupplierQLTime + depbCtrl.offerEntries[($index-($index % 3))/3].FreightDeliveryTime}}</span>
                                                <span ng-if="$index % 3 === 1">days</span>
                                                <span ng-if="$index % 3 === 2"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: middle;" colspan="{{5 + 3 + 3 + depbCtrl.repeater.length}}"><strong>Evaluation Scores</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="vertical-align: middle;"><strong>Evaluation Factor</strong></td>
                                            <td colspan="1" class="text-center" style="vertical-align: middle;"><strong>Weight</strong></td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>
                                            
                                            <td class="middle-vertical" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0"></span>
                                                <span ng-if="$index % 3 === 1">Score</span>
                                                <span ng-if="$index % 3 === 2">Result</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="crit in depbCtrl.criterias">
                                            <td colspan="4" style="vertical-align: middle;">
                                                <span ng-if="$index === 0">Price</span>
                                                <span ng-if="$index === 1">Leadtime</span>
                                                <span ng-if="$index >= 2">{{crit.CriteriaName}}</span>
                                            </td>
                                            <td colspan="1" class="text-center" style="vertical-align: middle;">{{crit.Weight}} %</td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>
                                            
                                            <td title="{{depbCtrl.criteriaEvaluationTooltip(($index-($index % 3))/3, $parent.$index, $index % 3)}}" class="middle-vertical" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 0 && $parent.$index >= 2 && crit.CriteriaOptions.length > 0">
                                                    <select ng-disabled="!depbCtrl.isProcess" class="form-control input-sm" 
                                                            ng-options="opt.ID as (opt.OptionName + ' (' + (crit.IsOptionScoreFixed ? '' : (opt.MinScore + ' - ')) + opt.MaxScore + ')') for opt in crit.CriteriaOptions"
                                                            ng-change="depbCtrl.optionChange(($index-($index % 3))/3,$parent.$parent.$index)"
                                                            ng-model="depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorScoreDetails[$parent.$parent.$index].SelectedECOptionID"></select>
                                                </span>
                                                <span ng-if="$index % 3 === 1 && $parent.$index <= 1" class="pull-right">
                                                    {{depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorScoreDetails[$parent.$parent.$index].Score}}
                                                </span>
                                                <span ng-if="$index % 3 === 1 && $parent.$index >= 2">
                                                    <input ng-disabled="!depbCtrl.isProcess || crit.CriteriaOptions.length > 0 && crit.IsOptionScoreFixed" type="number" class="form-control input-sm" min="0" max="100" ng-change="depbCtrl.scoreChange(($index-($index % 3))/3,$parent.$parent.$index)"
                                                           ng-model="depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorScoreDetails[$parent.$parent.$index].Score"/>
                                                </span>
                                                <span ng-if="$index % 3 === 2" class="pull-right">
                                                    {{depbCtrl.evaluationVendors[($index-($index % 3))/3].GOEvaluationVendorScoreDetails[$parent.$parent.$index].CalculatedScore}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="vertical-align: middle;"><strong>Total Weighted Score</strong></td>
                                            <td title="{{$index % 3 === 2 ? 'Vendor : ' + depbCtrl.offerEntries[($index-($index % 3))/3].VendorName + '\nTotal Weighted Score' : ''}}"
                                                colspan="1" class="text-center" style="vertical-align: middle;"><strong>{{depbCtrl.totalWeight}} %</strong></td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td class="middle-vertical" ng-repeat="item in depbCtrl.repeater">
                                                <span ng-if="$index % 3 === 2" class="pull-right">
                                                    <strong>{{depbCtrl.evaluationVendors[($index-($index % 3))/3].Score}}</strong>
                                                </span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 5px;">
                                    <div class="text-right">
                                        <button ng-click="depbCtrl.sortByScore()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-list"></i>&nbsp;{{'URUTKAN'|translate}}</button>&nbsp;
                                        <button ng-click="depbCtrl.printExcel()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-file-excel-o"></i>&nbsp;Export to Excel</button>&nbsp;
                                        <button ng-disabled="!depbCtrl.isProcess || depbCtrl.tenderStepData.tender.IsCancelled || !depbCtrl.isAllowedEdit" ng-click="depbCtrl.save()" class="btn btn-sm btn-flat btn-primary" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>&nbsp;
                                        <a href="#/tender/evaluasi-penawaran-barang/{{depbCtrl.tenderRefID}}/{{depbCtrl.stepID}}/{{depbCtrl.procPackType}}" class="btn btn-sm btn-flat btn-default" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>