﻿<!-- Main content -->


<div ng-init="EditFPACtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
			<li><a ng-click="EditFPACtrl.bback()">{{'BREADCRUMB.MONITORING_TENDER' | translate}}</a></li>
			<li><a class="active">{{'BREADCRUMB.ADDENDUM' | translate}}</a></li>
		</ol>
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-header">
						<div class="row">
							<div class="col-md-12 align-center">
								<h3 class="afta-font center text-center">{{'JUDUL_ADENDUM' | translate}}</h3>
							</div>
						</div>
					</div>

					<div class="box-body">
						<div class="row form-group">
							<div class="col-lg-2" style="width:14%;">
								<div class="form-group" style="line-height:30px;"><label for="vendor">Addendum Code</label></div>
								<div class="form-group" style="line-height:30px;"><label for="vendor">Vendor Name</label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">Date Request</label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">Type Addendum</label></div>
								<div class="form-group" style="line-height:30px;"><label></label></div>
								<div class="form-group" style="line-height:25px;"><label></label></div>
								<div class="form-group" style="line-height:30px;"><label></label></div>
								<div class="form-group" style="line-height:60px;"><label for="vendord">Remark</label></div>
								<div class="form-group" style="line-height:70px;"><label></label></div>
								<div class="form-group"><label for="vendord">Doc Addendum</label></div>
							</div>
							<div class="col-lg-1" style="width:2%; margin-left:-30px;">
								<div class="form-group" style="line-height:30px;"><label for="vendor">:</label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
								<div class="form-group" style="line-height:30px;"><label></label></div>
								<div class="form-group" style="line-height:25px;"><label></label></div>
								<div class="form-group" style="line-height:30px;"><label></label></div>
								<div class="form-group" style="line-height:60px;"><label for="vendord">:</label></div>
								<div class="form-group" style="line-height:70px;"><label></label></div>
								<div class="form-group"><label for="vendord">:</label></div>
							</div>
							<div class="col-lg-4" style="margin-left:-20px;">
								<div class="form-group">
									<input disabled type="text" class="form-control" value="" placeholder="Input Addendum Code"
										   name="AddendumCode" ng-model="EditFPACtrl.AddendumCode" />
								</div>
								<div class="form-group">
									<div class="form-control" style="border:hidden;">
										{{EditFPACtrl.data.VHSAward.VendorName}}
									</div>
								</div>

								<div class="form-group">
									<div class="input-group date form_datetime">
										<input ng-disabled="EditFPACtrl.flag == 0" style="background-color: #ffffff;" placeholder="Input Date Request" readonly required class="form-control datepicker" size="4" ng-model="EditFPACtrl.RequestDate" type="text" uib-datepicker-popup="dd-MM-yyyy"
											   is-open="EditFPACtrl.isCalendarOpened[0]" ng-click="EditFPACtrl.openCalendar(0)" />
										<span ng-disabled="EditFPACtrl.flag == 0" class="input-group-btn">
											<button ng-disabled="EditFPACtrl.flag == 0" type="button" class="btn btn-success" ng-click="EditFPACtrl.openCalendar(0)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group form-control">
										<input ng-change="EditFPACtrl.getAddendumListItem()" ng-disabled="EditFPACtrl.flag == 0" type="radio" name="typeBudget" id="typeBudget" class="radio radio-inline  " ng-model="EditFPACtrl.TypeAddendum" value="1" /> <label for="typeBudget"><span>&nbsp;</span>Budget</label> <br />
									</div>
									<div class="col-lg-6 form-control" style="width:50%">
										<input ng-change="EditFPACtrl.getAddendumListItem()" ng-disabled="EditFPACtrl.flag == 0" type="radio" name="typeDuration" id="typeDuration" class="radio radio-inline" ng-model="EditFPACtrl.TypeAddendum" value="2" /> <label for="typeDuration"><span>&nbsp;</span>Duration<span>&nbsp;</span> </label>
									</div>

									<input class="col-lg-1 form-control" style="width:1%;border:hidden;" />
									<input ng-disabled="EditFPACtrl.flag == 0" class="col-lg-6 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" type="text" name="typeDurationMonth" style="width:15%" id="typeDurationMonth" ng-model="EditFPACtrl.TypeAddendumMonth" ng-change="EditFPACtrl.getMon(EditFPACtrl.TypeAddendumMonth)" />
									<label class="col-lg-6 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" type="text" style="width:25%;border:hidden;">Months</label>

									<div class="input-group form-control">
										<input ng-disabled="EditFPACtrl.flag == 0" ng-click="EditFPACtrl.modalNewItem()" type="radio" name="typeNewItem" id="typeNewItem" class="radio radio-inline" ng-model="EditFPACtrl.TypeAddendum" value="3" /><label for="typeNewItem"><span>&nbsp;</span>New Item</label><br />
									</div>
									<div class="input-group form-control">
										<input ng-disabled="EditFPACtrl.flag == 0" ng-click="EditFPACtrl.modalUploadItem()" type="radio" name="typePrice" id="typePrice" class="radio radio-inline" ng-model="EditFPACtrl.TypeAddendum" value="4" /><label for="typePrice"><span>&nbsp;</span>Price</label><span class="input-group-btn"></span>
									</div>
								</div>

								<div class="form-group">
									<textarea ng-disabled="EditFPACtrl.flag == 0" cols="50" rows="5" class="form-control input-append" name="" placeholder="Input Remark" ng-model="EditFPACtrl.Remask"></textarea>
								</div>
								<div class="form-group">
									<div class="input-group">
										<label class="control-label">
											<small> ( <span ng-repeat="ft in EditFPACtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{EditFPACtrl.idUploadConfigs[0].Size}} {{EditFPACtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
											{{EditFPACtrl.DocUrl ? '**' : ''}}
										</label>
										<input ng-disabled="EditFPACtrl.flag == 0" type="file" class="form-control" ng-file-select="EditFPACtrl.selectUpload(fileUpload)"
											   ng-model="fileUpload" required accept="{{EditFPACtrl.idFileTypes}}" />
									</div>
								</div>
							</div>

							<div class="col-lg-2" style="width:15%;">
								<div class="form-group" style="line-height:30px;"><label for="vendor"></label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">Title Document</label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">Requestor</label></div>
								<div class="form-group" style="line-height:30px;" ng-if="EditFPACtrl.TypeAddendum == '1'"><label for="Storag">Addendum Value</label></div>
								<div class="form-group" style="line-height:30px;" ng-if="EditFPACtrl.TypeAddendum != '1'"><label for="Storag"></label></div>
								<div class="form-group" style="line-height:30px;" ng-if="EditFPACtrl.TypeAddendum == '2'"><label for="Storag">Addendum Contract</label></div>
							</div>
							<div class="col-lg-1" style="width:2%; margin-left:-30px;">
								<div class="form-group" style="line-height:30px;"><label for="vendor"></label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
								<div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
								<div class="form-group" style="line-height:30px;" ng-if="EditFPACtrl.TypeAddendum == '1'"><label for="Storag">:</label></div>
								<div class="form-group" style="line-height:30px;" ng-if="EditFPACtrl.TypeAddendum != '1'"><label for="Storag"></label></div>
								<div class="form-group" style="line-height:30px;" ng-if="EditFPACtrl.TypeAddendum == '2'"><label for="Storag">:</label></div>
							</div>
							<div class="col-lg-4" style="margin-left:-20px;">
								<div class="form-group">
									<input style="border:hidden;" type="text" class="form-control" value="" />
								</div>
								<div class="form-group">
									<div class="form-control" style="border:hidden;">
										{{EditFPACtrl.data.VHSAward.TenderName}}
									</div>
								</div>
								<div class="form-group">
									<div class="form-control" style="border:hidden;">
										<input ng-disabled="EditFPACtrl.flag == 0" type="radio" name="type" class="checkbox checkbox-inline" value="1" ng-model="EditFPACtrl.Requestor" /> <label> Vendor </label>
										<input ng-disabled="EditFPACtrl.flag == 0" type="radio" name="type" class="checkbox checkbox-inline" value="2" ng-model="EditFPACtrl.Requestor" /> <label> Internal PTVI </label>
									</div>
								</div>
								<div class="form-group" ng-if="EditFPACtrl.TypeAddendum == '1'">
									<div class="input-group input-group-sm">
										<span class="input-group-addon" id="sizing-addon3">{{EditFPACtrl.VHSdata.Currency}}</span>
										<input ng-disabled="EditFPACtrl.flag == 0" currency-mask type="text" class="form-control" value="" placeholder="Input Addendum Value" name="AddendumValue" ng-model="EditFPACtrl.AdditionalValue" />

									</div>

								</div>
								<div class="form-group" ng-if="EditFPACtrl.TypeAddendum !== '1'">
									<input type="text" class="form-control" value="" name="AddendumValue" style="border:hidden" />
								</div>

								<input ng-if="EditFPACtrl.TypeAddendum == '2'" disabled style="background-color: #ffffff;width:30%;" placeholder="Input Start Date" readonly required
									   class="col-lg-6 form-control" size="4" ng-model="EditFPACtrl.StartDate"
									   type="text" uib-datepicker-popup="dd-MM-yyyy" />
								<input class="col-lg-1 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" style="width:1%;border:hidden;" />
								<label class="col-lg-1 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" style="width:1%;border:hidden;">to</label>
								<input class="col-lg-1 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" style="width:1%;border:hidden;" />
								<input disabled ng-if="EditFPACtrl.TypeAddendum == '2'" style="background-color: #ffffff;width:30%;" placeholder="Finish Date" readonly required
									   class="col-lg-6 form-control" size="4" ng-model="EditFPACtrl.EndDate"
									   type="text" uib-datepicker-popup="dd-MM-yyyy" />
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<div class="table table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="text-center" style="vertical-align: middle;">No</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.MATERIAL_CODE' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.ITEM_DES' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.MANUFACT' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.PART_NO' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.ESTIMATION' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.UOP' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.CURRENCY' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.PRICE' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">LeadTime</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.COUNTRY_OR' | translate }}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TABLE.REMASK' | translate }}</th>

													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="data in EditFPACtrl.DataDocList">
														<td style="vertical-align: middle;">{{EditFPACtrl.currentPage > 1 ? (EditFPACtrl.pageSize * (EditFPACtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
														<td style="vertical-align: middle;">{{data.MaterialCode}}</td>
														<td style="vertical-align: middle;">{{data.ItemDescrip}}</td>
														<td style="vertical-align: middle;">{{data.Manufacture}}</td>
														<td style="vertical-align: middle;">{{data.PartNo}}</td>
														<td style="vertical-align: middle;">{{data.Estimate}}</td>
														<td style="vertical-align: middle;">{{data.Unit}}</td>
														<td style="vertical-align: middle;">{{data.Currency}}</td>
														<td style="vertical-align: middle;">{{data.UnitPrice}}</td>
														<td style="vertical-align: middle;">{{data.LeadTime}}</td>
														<td style="vertical-align: middle;">{{data.CountryOfOrigin}}</td>
														<td style="vertical-align: middle;">{{data.Remark}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="EditFPACtrl.totalItems" ng-model="EditFPACtrl.currentPage"
										class="pagination-sm" previous-text="&lsaquo;" max-number="EditFPACtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
										ng-change="EditFPACtrl.loadDetailAddendumByID(EditFPACtrl.currentPage)" max-size="10"></ul>
									<br />
									<label>{{'TOTAL_DATA' | translate}} : {{EditFPACtrl.totalItems}}</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="pull-right">
										<a href="#/detail-data-adendum-fpa/{{EditFPACtrl.data.MonitoringId}}/{{EditFPACtrl.flagstep}}" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
											<i class="fa fa-arrow-left"></i> {{'KEMBALI'|translate}}
										</a>
										<button ng-if="EditFPACtrl.flag == 1" class="btn btn-success turun-15" title="{{'SIMPAN' | translate}}" ng-click="EditFPACtrl.save()"><i class="fa fa-save"></i>&nbsp;{{'SIMPAN' | translate}}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>