﻿<!-- Main content -->
<div ng-init="MonFPACtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
			<li><a class="active">{{'BREADCRUMB.MONITORING_TENDER' | translate}}</a></li>
		</ol>
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-header">
						<div class="row">
							<div class="col-md-12 align-center">
								<h3 ng-if="MonFPACtrl.id == 1" class="afta-font center text-center">{{'JUDUL_MON' | translate}}</h3>
								<h3 ng-if="MonFPACtrl.id == 0" class="afta-font center text-center">{{'JUDUL_MON1' | translate}}</h3>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="clearfix">
						</div>
						<div class="row margin-atas">
							<div class="col-md-6">
								<div class="input-group">
									Filter :
									<select class="input-sm" ng-model="MonFPACtrl.searchBy" required>
										<option value="" disabled selected>{{'FILTER.SEARCH' | translate }}</option>
										<option value="1">{{'TABLE.KODE_VENDOR' | translate }}</option>
										<option value="2">{{'TABLE.NAMA_VENDOR' | translate }}</option>
										<option value="3">{{'TABLE.NO_KONTRAK' | translate }}</option>
									</select>
									<input type="text" placeholder="{{'FILTER.KEYWORD' | translate}}" class="input-sm" ng-model="MonFPACtrl.keyword" />
									<span class="">
										<button ng-click="MonFPACtrl.loadPaket()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>

							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.RFQ_CODE' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO_KONTRAK' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.NAMA_DOKUMEN' | translate }}</th>
												<th class="text-center" style="vertical-align: middle; ">{{'TABLE.NAMA_VENDOR' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.KODE_VENDOR' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.MULAI_KONTRAK' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.SELESAI_KONTRAK' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUDGET_KONTRAK' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.SPENDING_CONTRACT' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.REMAINING_CONTRACT' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.REMAKS' | translate }}</th>
												<th class="text-center" style="vertical-align: middle;">Status</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.ACTION' | translate }}</th>

											</tr>
										</thead>
										<tbody>

											<tr ng-repeat="data in MonFPACtrl.listFPA">

												<td style="vertical-align: middle;">{{MonFPACtrl.currentPage > 1 ? (MonFPACtrl.maxSize * (MonFPACtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
												<td style="vertical-align: middle;">{{data.RFQCode}}</td>
												<td style="vertical-align: middle;">{{data.VHSAward.SAPContractNo}}</td>
												<td style="vertical-align: middle;">{{data.VHSAward.TenderName}}</td>
												<td style="vertical-align: middle;">{{data.Vendor.VendorName}}</td>
												<td style="vertical-align: middle;">{{data.Vendor.SAPCode}}</td>
												<td style="vertical-align: middle;">{{MonFPACtrl.convertDate(data.VHSAward.StartContractDate)}}</td>
												<td style="vertical-align: middle;">{{MonFPACtrl.convertDate (data.VHSAward.FinishContractDate)}}</td>
												<td style="vertical-align: middle;">{{data.Currency}} {{data.BudgetContract | currency :""}}</td>
												<td style="vertical-align: middle;">{{data.Currency}} {{data.SpendingContract | currency :"" }}</td>
												<td style="vertical-align: middle;">{{data.Currency}} {{data.RemainingBudget | currency :""}}</td>
												<td style="vertical-align: middle;"><p ng-bind-html="data.Remark"></p></td>
												<td class="text-center" style="vertical-align: middle;" ng-if="!data.VHSAward.IsSentEmail"></td>
												<td class="text-center" style="vertical-align: middle;" ng-if="data.VHSAward.IsSentEmail && data.StatusName === 'REVIEW_VENDOR'">
													Email Sent
												</td>
												<td class="text-center" style="vertical-align: middle;" ng-if="data.VHSAward.IsSentEmail && data.StatusName === 'APPROVE_VENDOR'">
													Acknowledged
												</td>
												<td style="vertical-align: middle;">
													<a ng-click="MonFPACtrl.viewAddendum(data.ID)" title="{{'ADENDUM' | translate}}" class="btn btn-success">
														<i class="fa fa-file-o"></i>
													</a>
													<a ng-click="MonFPACtrl.toDetail(0,data)" title="{{'DETAIL' | translate}}" class="btn btn-primary">
														<i class="fa fa-list-ol"></i>
													</a>
													<a ng-if="!data.VHSAward.IsSentEmail" ng-click="MonFPACtrl.sendMail(data)" title="{{'SEND_EMAIL' | translate}}" class="btn btn-warning">
														<i class="fa fa-mail-forward"></i>
													</a>
													<a ng-if="data.VHSAward.IsSentEmail" ng-hide="data.StatusName === 'APPROVE_VENDOR'" ng-click="MonFPACtrl.setAck(data)" title="{{'SET_ACK' | translate}}" class="btn btn-default">
														<i class="fa fa-check"></i>
													</a>
												</td>
											</tr>
											<tr ng-if="MonFPACtrl.totalItems === 0">
												<td colspan="16">{{'TIDAK_ADA_DATA' | translate }}</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class=" col-md-12 turun-15">
								<div class="pull-right">
									<a href="#/homeadmin" class="btn btn-flat btn-primary">
										<i class="fa fa-arrow-circle-o-left"></i> {{'KEMBALI' | translate}}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
