<div class="modal-content" ng-init="detailVendorCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailVendorCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Keluar'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'Detail Vendor'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th class="text-center">{{'TABLE.VENDOR_NAME'|translate}}</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailVendorCtrl.listVendor">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="text-center">{{dt.VendorPrequalModel.VendorName}}</td>
                                        <td class="text-center" style="vertical-align: middle;">
                                            <a class="btn btn-sm btn-success" title="{{'Detail Kelengkapan'|translate}}" ng-click="detailVendorCtrl.detailKelengkapan(dt)">
                                                <i class="fa fa-search"></i>
                                            </a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detailVendorCtrl.cancel()"><i class="fa fa-reply" title="{{'BATAL'|translate}}"></i></button>
        </div>
    </div>
</div>