﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="DetailModalApprovalCtrl.initApproval()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailModalApprovalCtrl.cancel()" title="{{'EXIT'|translate}}">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DATA_APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive" style="padding-bottom:20px;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center-vertical">No.</th>
                                <th class="center-vertical">{{'TABLE.NAMA' | translate }}</th>
                                <th class="center-vertical">{{'TABLE.POSITION'|translate}}</th>
                                <th class="center-vertical">Status</th>
                                <th class="center-vertical">{{'TABLE.VENDOR_APPROVAL_DATE' | translate }}</th>
                                <th class="center-vertical">{{'TABLE.REMARK' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dt in DetailModalApprovalCtrl.listApproval">
                                <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{dt.MstEmployee.FullName}} {{dt.MstEmployee.SurName}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{dt.MstEmployee.PositionName}}</td>
                                <td class="text-center" style="vertical-align: middle;" ng-if="dt.ApprovalStatus === null"></td>
                                <td class="text-center" style="vertical-align: middle;" ng-if="dt.ApprovalStatus === true"> Approve</td>
                                <td class="text-center" style="vertical-align: middle;" ng-if="dt.ApprovalStatus === false">Reject</td>
                                <td class="text-center" style="vertical-align: middle;">{{dt.ApprovalDate | date:'dd/MM/yyyy'}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{dt.Remark | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-sm btn-danger" ng-click="DetailModalApprovalCtrl.cancel()"><i class="fa fa-reply"></i> {{'BACK'|translate}} </button> 
        </div>
    </div>    
</div>
