﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="FrmActiveVendorCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="FrmActiveVendorCtrl.cancel()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{FrmActiveVendorCtrl.aktifasi |translate}} Vendor "{{FrmActiveVendorCtrl.VendorName}}"</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">{{'REASON'| translate}} : </label>
                        <textarea class="form-control" rows="5" ng-model="FrmActiveVendorCtrl.isAdd.Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="text-center" style="float:right">
                <button type="button" class="btn btn-flat btn-danger" ng-click="FrmActiveVendorCtrl.cancel()"><i class="fa fa-reply"></i>  {{'BACK' | translate}}&nbsp;</button>
                <button type="button" class="btn btn-flat btn-success" ng-click="FrmActiveVendorCtrl.save()"><i class="fa fa-save"></i> {{'SAVE_APPROVE' | translate}}&nbsp;&nbsp; </button>
            </div>
        </div>
    </div>
</div>
