﻿<div id="idTambahWarningLette" class="modal-content" ng-init="DetailRejectApproval.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailRejectApproval.cancel()" title="{{'EXIT'|translate}}">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{'REASON'|translate}} : </label>
                                <input class="form-control input-sm" ng-model="DetailRejectApproval.Description" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <button class="btn btn-sm btn-warning" ng-click="DetailRejectApproval.cancel()"><i class="fa fa-arrow-circle-left"></i> {{'BACK'|translate}}</button>
                                <button class="btn btn-sm btn-danger" ng-click="DetailRejectApproval.reject()"><i class="fa fa-times"></i> Reject</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="DetailRejectApproval.cancel()" title="{{'EXIT'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp; {{'EXIT'|translate}}</button>
        <button type="button" ng-if="DetailRejectApproval.act === false" class="btn btn-flat btn-sm btn-danger" ng-click="DetailRejectApproval.save()" title="{{'BTN.DEACTIVATE'|translate}}"><i class="fa fa-check-circle-o"></i>&nbsp; {{'BTN.DEACTIVATE'|translate}}</button>
        <button type="button" ng-if="DetailRejectApproval.act === true" class="btn btn-flat btn-sm btn-success" title="{{'BTN.ACTIVATE'|translate}}" ng-click="DetailRejectApproval.save()"><i class="fa fa-check-square"></i>&nbsp; {{'BTN.ACTIVATE'|translate}}</button>
    </div>
</div>
