﻿<section class="content" ng-init="FormRegisterVendorCtrl.init()">
    <div class="box box-info">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 center-block" style="float: none!important">
                    <h3 class="text-center" style="font-weight:bold">{{'BREADCRUMB.VENDOR_REG_DATA' | translate}}</h3>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'COUNTRY' | translate}}*</label><br />
                                <select class="form-control"
                                        ng-model="FormRegisterVendorCtrl.selectedCountry"
                                        ng-change="FormRegisterVendorCtrl.changeCountry()"
                                        ng-options="item as item.Name for item in FormRegisterVendorCtrl.listCountry">
                                    <option value="" selected disabled class="text-center">{{"COUNTRY" | translate}}</option>
                                </select>
                                <!--<small ng-if="FormRegisterVendorCtrl.region!=null">{{'CONTINENT' | translate}}: {{FormRegisterVendorCtrl.region.Name}}</small>-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>{{'CONTINENT' | translate}}</label><br />
                            <input type="text" placeholder="{{'CONTINENT' | translate}}" class="form-control" ng-model="FormRegisterVendorCtrl.region.Name" readonly />
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'STATES_PROVINCE' | translate}}*</label><br />
                                <select class="form-control"
                                        ng-model="FormRegisterVendorCtrl.selectedState"
                                        ng-change="FormRegisterVendorCtrl.changeState()"
                                        ng-options="item as item.Name for item in FormRegisterVendorCtrl.listState">
                                    <option value="" selected disabled class="text-center">{{'STATES_PROVINCE' | translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="FormRegisterVendorCtrl.selectedState.Country.Code == 'ID'">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'CITY' | translate}}*</label><br />
                                <select class="form-control"
                                        ng-model="FormRegisterVendorCtrl.selectedCity"
                                        ng-change="FormRegisterVendorCtrl.changeCity()"
                                        ng-options="item as item.Name for item in FormRegisterVendorCtrl.listCity">
                                    <option value="" selected disabled class="text-center">{{'CITY' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'SUB_DISTRICT' | translate}}</label><br />
                                <select class="form-control"
                                        ng-model="FormRegisterVendorCtrl.selectedDistrict"
                                        ng-options="item as item.Name for item in FormRegisterVendorCtrl.listDistrict">
                                    <option value="" selected disabled class="text-center">{{'SUB_DISTRICT' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Kode SAP Vendor</label><br />
                            <input type="text" class="form-control" placeholder="Kode SAP Vendor" ng-model="FormRegisterVendorCtrl.vendorSAPCode" maxlength="10" style="text-transform: uppercase;padding-bottom:0px!important;margin-bottom:0px!important"  />
                        </div>
                        <!--<div class="col-md-4" ng-if="FormRegisterVendorCtrl.detail[1].Vendor.TenderCodeTemp !== null">
                            <label>{{'TENDER_CODE' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FormRegisterVendorCtrl.detail[1].Vendor.TenderCodeTemp" readonly />
                        </div>-->
                    </div>
                    <div ng-show="FormRegisterVendorCtrl.selectedState!=null">
                        <legend class="h4 margin-atas" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;font-weight:bold">
                            {{'GEN_INFO' | translate}}
                        </legend>
                        <div class="row">
                            <div class="col-md-4" ng-if="FormRegisterVendorCtrl.selectedCountry.Code == 'ID'">
                                <div class="form-group">
                                    <label>{{'COM_TYPE' | translate}}</label><br />
                                    <select class="form-control"
                                            ng-model="FormRegisterVendorCtrl.selectedBE"
                                            ng-change="FormRegisterVendorCtrl.changeBE()"
                                            ng-options="item as item.Name for item in FormRegisterVendorCtrl.listBusinessEntity">
                                        <option value="" selected disabled class="text-center">{{'COM_TYPE' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>{{'COM_NAME' | translate}}</label><br />
                                <input type="text" class="form-control" placeholder="{{'COM_NAME' | translate}}" ng-model="FormRegisterVendorCtrl.vendorName" style="text-transform: uppercase;padding-bottom:0px!important;margin-bottom:0px!important" ng-change="FormRegisterVendorCtrl.updateUsername(FormRegisterVendorCtrl.vendorName)" />
                                <!--<small ng-if="FormRegisterVendorCtrl.Username!=''">Username: {{FormRegisterVendorCtrl.Username}}</small>-->
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{'STAND_DATE' | translate}}</label>
                                    <div class="input-group date form_datetime">
                                        <input name="foundedDate" style="background-color: #ffffff;" readonly class="form-control" size="16" placeholder="{{'STAND_DATE' | translate}}" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="Close" is-open="FormRegisterVendorCtrl.isCalendarOpened[0]" ng-model="FormRegisterVendorCtrl.foundedDate" ng-click="FormRegisterVendorCtrl.openCalendar(0)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="FormRegisterVendorCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label ng-if="FormRegisterVendorCtrl.selectedCountry.Code == 'ID'">NPWP</label>
                                <label ng-if="FormRegisterVendorCtrl.selectedCountry.Code != 'ID'">Company Registration</label>
                                <br />
                                <!--<input type="text" class="form-control" ng-model="FormRegisterVendorCtrl.npwp" ng-blur="FormRegisterVendorCtrl.checkNpwp()" />-->
                                <div class="input-group ">
                                    <div class="input-cont" ng-if="FormRegisterVendorCtrl.selectedCountry.Code == 'ID'">
                                        <input class="form-control" data-toggle="tooltip" data-placement="right" title="{{'FORM.NO_NPWP' | translate}}" placeholder="{{'FORM.NO_NPWP' | translate}} *" type="text" ng-model="FormRegisterVendorCtrl.npwp" ui-mask="99.999.999.9.999.999" ui-mask-placeholder ui-mask-placeholder-char="_" name="npwp" />
                                    </div>
                                    <div class="input-cont" ng-if="FormRegisterVendorCtrl.selectedCountry.Code != 'ID'">
                                        <input class="form-control" data-toggle="tooltip" data-placement="right" title="Company Registration" placeholder="Company Registration *" type="text" ng-model="FormRegisterVendorCtrl.npwp" ng-change="FormRegisterVendorCtrl.npwpChanged()" ui-mask="99.999.999.9.999.999" ui-mask-placeholder ui-mask-placeholder-char="_" name="npwp" />
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-click="FormRegisterVendorCtrl.npwpChanged()"><i class="fa fa-search"></i>&nbsp;Check</button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        {{'UPLOAD' | translate}}
                                    </label>
                                    <div class="input-group " style="margin-bottom:0px !important;" >
                                        <input type="file" class="form-control" ng-file-select="FormRegisterVendorCtrl.selectFileNpwp()" ng-model="FormRegisterVendorCtrl.fileUploadNPWP" name="ownerIDFile" accept="{{FormRegisterVendorCtrl.idFileTypesNPWP}}" />
                                        <span class="input-group-btn">
                                            <a href="{{FormRegisterVendorCtrl.folderFile+FormRegisterVendorCtrl.NpwpUrl}}" class="btn btn-primary" target="_BLANK" title="Download File" ng-disabled="FormRegisterVendorCtrl.NpwpUrl==''">
                                                <i class="fa fa-download"></i> Donwload
                                            </a>
                                        </span>
                                    </div>
                                    <i class="font10"> (<span ng-repeat="ft in FormRegisterVendorCtrl.idUploadConfigsNPWP">{{ft.Name}}{{$last ? '' : ', '}}</span><span>/Size < {{FormRegisterVendorCtrl.idUploadConfigsNPWP[0].Size}} {{FormRegisterVendorCtrl.idUploadConfigsNPWP[0].SizeUnitName|translate}}</span> )</i>
                                </div>
                            </div>

                        </div>
                        <div class="row" ng-if="FormRegisterVendorCtrl.selectedCountry.Code == 'ID'">
                            <div class="col-md-4" ng-if="FormRegisterVendorCtrl.businessReq.BusinessEntityRequirement == null">
                                <label>{{"FORM.LEGAL_TYPE" | translate}}</label>
                                <div class="form-group">
                                    <select name="LegalType" class="form-control"
                                            ng-model="FormRegisterVendorCtrl.legal"
                                            ng-disabled="!FormRegisterVendorCtrl.LegalList"
                                            ng-options="item as item.Name for item in FormRegisterVendorCtrl.LegalList">
                                        <option value="" selected disabled>{{"FORM.LEGAL_TYPE" | translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="FormRegisterVendorCtrl.businessReq.BusinessEntityRequirement != null">
                                <label>{{"FORM.LEGAL_TYPE" | translate}} <span style="color:red">*</span></label>
                                <div class="form-group">
                                    <select name="LegalType" class="form-control"
                                            ng-model="FormRegisterVendorCtrl.legal"
                                            ng-disabled="!FormRegisterVendorCtrl.businessReq.BusinessEntityRequirement"
                                            ng-options="item as item.License.Name for item in FormRegisterVendorCtrl.businessReq.BusinessEntityRequirement">
                                        <option value="" selected disabled>{{"FORM.LEGAL_TYPE" | translate}}*</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Check Document</label>
                                    <div class="input-group ">
                                        <input class="form-control" data-toggle="tooltip" data-placement="right" title="{{'FORM.NO_SKT' | translate}}" placeholder="{{FormRegisterVendorCtrl.legal.Name}}" type="text" ng-model="FormRegisterVendorCtrl.legalNumber" ng-blur="FormRegisterVendorCtrl.checkLegal()" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" ng-click="FormRegisterVendorCtrl.checkLegal()"><i class="fa fa-search"></i>&nbsp;Check</button>
                                        </span>
                                    </div>
                                    <div class="input-group">
                                        <small> {{'FORM.NOTE_SKT' | translate}} </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>{{'UPLOAD' | translate}}</label>
                                    <div class="input-group ">
                                        <input ng-file-select="FormRegisterVendorCtrl.selectLegalDoc()" class="form-control" type="file"
                                               ng-model="FormRegisterVendorCtrl.legalDoc" name="ownerIDFile" accept="{{FormRegisterVendorCtrl.siupFileTypes}}" />
                                        <span class="input-group-btn">
                                            <a ng-disabled="FormRegisterVendorCtrl.legalUrl == null" target="_blank" href="{{FormRegisterVendorCtrl.folderFile + '/' + FormRegisterVendorCtrl.legalUrl}}" title="Download File" class="btn btn-primary"><i class="fa fa-download"></i> Download</a>
                                        </span>
                                    </div>
                                    <i class="font10">
                                        {{'FORM.NOTE_SKT' | translate}} <small> ( <span ng-repeat="ft in FormRegisterVendorCtrl.siupUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{FormRegisterVendorCtrl.siupFileSize.Size}} {{FormRegisterVendorCtrl.siupFileSize.SizeUnitName | translate}}</span> )</small>
                                    </i>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>{{'CURRENCY' | translate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" ng-model="FormRegisterVendorCtrl.currency" ng-disabled="!FormRegisterVendorCtrl.currencyList"
                                            ng-options="item as item.Symbol + ' | ' + item.Label for item in FormRegisterVendorCtrl.currencyList">
                                        <option value="" selected disabled>{{'FORM.MATA_UANG' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3"><button class="btn btn-success" ng-click="FormRegisterVendorCtrl.addCurrency()"><i class="fa fa-plus"></i> {{"BUTTONS.ADD" | translate}}</button></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 50px;">{{'FORM.CURRENCY_TABLE.HEADERS.NO' | translate}}</th>
                                                <th class="text-center" style="width: 30%;">{{'FORM.CURRENCY_TABLE.HEADERS.SYMBOL' | translate}}</th>
                                                <th class="text-center">{{'FORM.CURRENCY_TABLE.HEADERS.LABEL' | translate}}</th>
                                                <th style="width: 50px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="FormRegisterVendorCtrl.currencies.length <= 0">
                                                <td colspan="4">
                                                    <div class="alert alert-info">{{'FORM.ADDRESS_TABLE.NO_DATA' | translate}}</div>
                                                    <div class="clearfix"></div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="dt in FormRegisterVendorCtrl.currencies">
                                                <td>{{$index + 1}}</td>
                                                <td>{{dt.Symbol}}</td>
                                                <td>{{dt.Label}}</td>
                                                <td><button class="btn btn-danger" ng-if="dt.IsDelete !== true" ng-click="FormRegisterVendorCtrl.removeCurrency(dt)"><i class="fa fa-close"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:10px">
                                <button class="btn btn-xs btn-danger"><i class="fa fa-close"></i></button> : Hapus&nbsp;&nbsp;
                            </div>
                        </div>
                        <legend class="h4 margin-atas" style="border-bottom: 1px dotted darkgreen!important;font-weight:bold">
                            {{'CONTACT_INFO' | translate}}
                        </legend>
                        <div class="row margin-atas">
                            <div class="col-md-6">
                                <label>{{'COM_MAIL' | translate}}</label>
                                <div class="form-group">
                                    <input ng-blur="FormRegisterVendorCtrl.checkEmail(true)" class="form-control" name="vendorEmail" placeholder="{{'FORM.EMAIL_PERUSAHAAN' | translate}} *" type="email"
                                           ng-model="FormRegisterVendorCtrl.emailVendor" required />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>{{'FORM.COUNTRY_CODE' | translate}}</label>
                                <div class="form-group">
                                    <select required class="form-control" style="margin-bottom:0px !important;"
                                            name="countryCode"
                                            ng-model="FormRegisterVendorCtrl.phoneCode" ng-disabled="!FormRegisterVendorCtrl.phoneCodeList"
                                            ng-options="item as item.Name + '(' + item.PhonePrefix + ')' for item in FormRegisterVendorCtrl.phoneCodeList">
                                        <option value="" selected disabled>{{'FORM.COUNTRY_CODE_TITLE' | translate}}</option>
                                    </select>
                                    <!--<i class="font10">
                                        {{'FORM.COUNTRY_CODE' | translate}}*
                                    </i>-->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>{{'FORM.NO_TELP' | translate}}</label>
                                <div class="form-group">
                                    <input required class="form-control" style="margin-bottom:0px !important;" ng-disabled="FormRegisterVendorCtrl.phoneCode==null"
                                           placeholder="{{'FORM.NO_TELP' | translate}}*" name="contactPhone"ng-blur="FormRegisterVendorCtrl.checkTelp(true)"
                                           ng-model="FormRegisterVendorCtrl.phone" />
                                    <!--ui-mask="999-?9?9?9?9?9?9?9?9?9?9" ui-mask-placeholder ui-mask-placeholder-char="_"-->
                                    <!--<i class="font10">
                                        {{'FORM.PHONE_FORMAT' | translate}}
                                    </i>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>{{'FAX' | translate}}</label>
                                <input class="form-control" placeholder="{{'FORM.FAX' | translate}}" type="tel"
                                       ng-model="FormRegisterVendorCtrl.fax"
                                       ui-mask="999-?9?9?9?9?9?9?9?9?9?9" ui-mask-placeholder ui-mask-placeholder-char="_" />
                            </div>
                            <div class="col-md-6">
                                <label>Website</label><br />
                                <input type="text" class="form-control" placeholder="Website" ng-model="FormRegisterVendorCtrl.website" />
                            </div>
                        </div>
                        <div class="row turun-15">
                            <div class="col-md-6">
                                <label>Username</label><br />
                                <input type="text" class="form-control" placeholder="Username" ng-model="FormRegisterVendorCtrl.Username" readonly />
                            </div>
                            <div class="col-md-3">
                                <label>Password</label><br />
                                <div>
                                    <input type="{{FormRegisterVendorCtrl.showPass ? 'text' : 'password'}}" class="form-control" placeholder="Password" ng-model="FormRegisterVendorCtrl.Password" no-space required />
                                    <!--<input type="checkbox" ng-model="FormRegisterVendorCtrl.showPass">&nbsp;{{'FORM.SHOW_PASS' | translate}}-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i data-toggle="collapse" data-target="#demo" class="glyphicon glyphicon-info-sign"></i>
                                            <div id="demo" class="collapse">
                                                <span class="font10">
                                                    {{'FORM.INFO_PASS' | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Confirm Password</label><br />
                                <div ng-class="{'has-error': FormRegisterVendorCtrl.Password != FormRegisterVendorCtrl.confirmPassword}">
                                    <input name="confirmPassword" type="{{FormRegisterVendorCtrl.showPass ? 'text' : 'password'}}" class="form-control" placeholder="Confirm Password"
                                           ng-model="FormRegisterVendorCtrl.confirmPassword" no-space required maxlength="256" />
                                    <!--<input type="checkbox" ng-model="FormRegisterVendorCtrl.showPass">&nbsp;{{'FORM.SHOW_PASS' | translate}}-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div>
                                                <input type="checkbox" ng-model="FormRegisterVendorCtrl.showPass">&nbsp;{{'FORM.SHOW_PASS' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                
                                <form name="FormRegisterVendorCtrl.vendorContactForm">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{'CP' | translate}}</label><br />
                                            <div class="form-group">
                                                <input class="form-control"
                                                       placeholder="{{'FORM.KONTAK_PERSON' | translate}} * "
                                                       type="text" required
                                                       name="contactName"
                                                       maxlength="32"
                                                       ng-model="FormRegisterVendorCtrl.contactname" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{'FORM.MOBILE_PHONE' | translate}}</label>
                                            <div class="form-group">
                                                <input class="form-control" placeholder="{{'FORM.MOBILE_PHONE' | translate}}" ng-blur="FormRegisterVendorCtrl.checkTelp(false)"
                                                       ng-model="FormRegisterVendorCtrl.contactphone" maxlength="25" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <!-- ng-blur="FormRegisterVendorCtrl.checkEmail(false)"--> 
                                            <label>{{'FORM.EMAIL' | translate}}</label>
                                            <div class="form-group">
                                                <input class="form-control" maxlength="25" placeholder="{{'FORM.EMAIL' | translate}}" ng-model="FormRegisterVendorCtrl.contactemail" type="email" name="contactEmail" required />
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="margin-top:25px">
                                            <button class="btn btn-success" ng-click="FormRegisterVendorCtrl.addContact()" ng-disabled="FormRegisterVendorCtrl.vendorContactForm.$invalid"><i class="fa fa-plus"></i> {{'BUTTONS.ADD' | translate}}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 50px;">No.</th>
                                                <th class="text-center" style="width: 30%;">{{'FORM.CONTACT_TABLE.HEADERS.NAME' | translate}}</th>
                                                <th class="text-center" style="width: 30%">{{'FORM.CONTACT_TABLE.HEADERS.NUMBER' | translate}}</th>
                                                <th class="text-center">{{'FORM.CONTACT_TABLE.HEADERS.EMAIL' | translate}}</th>
                                                <th style="width: 50px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="FormRegisterVendorCtrl.contacts.length <= 0">
                                                <td colspan="5">
                                                    <div class="alert alert-info">{{'FORM.CONTACT_TABLE.NO_DATA' | translate}}</div>
                                                    <div class="clearfix"></div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="dt in FormRegisterVendorCtrl.contacts">
                                                <td>{{$index + 1}}</td>
                                                <td>{{dt.Name | ucwords}}</td>
                                                <td>{{dt.Phone}}</td>
                                                <td>{{dt.Email}}</td>
                                                <td><button class="btn btn-danger" ng-click="FormRegisterVendorCtrl.removeContact(dt)"><i class="fa fa-close"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <legend class="h4 margin-atas" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;font-weight:bold">
                            {{'ADDRESS_INFO' | translate}}
                        </legend>
                        <div class="row margin-atas">
                            <div class="col-md-12">
                                <form name="FormRegisterVendorCtrl.vendorAddressForm">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{'FORM.CMB_OFFICE_TYPE' | translate}}*</label>
                                            <div class="form-group"
                                                 ng-class="{'has-error': !FormRegisterVendorCtrl.vendorAddressForm.officeType.$valid
                 && !FormRegisterVendorCtrl.vendorAddressForm.officeType.$pristine}">
                                                <select name="officeType" required class="form-control"
                                                        ng-model="FormRegisterVendorCtrl.address.Type"
                                                        ng-options="item as item.Value | translate for item in FormRegisterVendorCtrl.officeTypes">
                                                    <option value=""> {{'FORM.CMB_OFFICE_TYPE' | translate}}* </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-9"
                                             ng-class="{'has-error': !FormRegisterVendorCtrl.vendorAddressForm.officeAddress.$valid
             && !FormRegisterVendorCtrl.vendorAddressForm.officeAddress.$pristine}">
                                            <label>{{'FORM.ALAMAT_KANTOR' | translate}} *</label>
                                            <div class="form-group">
                                                <input name="officeAddress" class="form-control" placeholder="{{'FORM.ALAMAT_KANTOR' | translate}} *" type="text" ng-model="FormRegisterVendorCtrl.address.Detail" required />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{'FORM.CMB_COUNTRY' | translate}}*</label>
                                            <div class="form-group">
                                                <select required class="form-control"
                                                        ng-model="FormRegisterVendorCtrl.address.Country"
                                                        ng-disabled="!FormRegisterVendorCtrl.addresscountryList"
                                                        ng-options="item as item.Name | translate for item  in FormRegisterVendorCtrl.addresscountryList"
                                                        ng-change="FormRegisterVendorCtrl.reloadStates(FormRegisterVendorCtrl.address.Country)">
                                                    <option value="" selected disabled> {{'FORM.CMB_COUNTRY' | translate}}*  </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{'CONTINENT' | translate}}*</label>
                                            <div class="form-group">
                                                <input ng-disabled="true" class="form-control" data-toggle="tooltip" data-placement="right" placeholder="{{'CONTINENT' | translate}}*" type="text" ng-model="FormRegisterVendorCtrl.address.Region.Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{'FORM.CMB_PROVINSI' | translate}}</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.vendorAddressForm.stateSelector.$valid
             && !FormRegisterVendorCtrl.vendorAddressForm.stateSelector.$pristine}">
                                                <select name="stateSelector" required class="form-control"
                                                        ng-model="FormRegisterVendorCtrl.address.State"
                                                        ng-change="FormRegisterVendorCtrl.reloadAddressCity(FormRegisterVendorCtrl.address.State)"
                                                        ng-disabled="!FormRegisterVendorCtrl.addressStateList"
                                                        ng-options="item as item.Name for item in FormRegisterVendorCtrl.addressStateList">
                                                    <option value="" disabled selected> {{'FORM.CMB_PROVINSI' | translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{'FORM.CMB_KAB' | translate}}</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.vendorAddressForm.citySelector.$valid
             && !FormRegisterVendorCtrl.vendorAddressForm.citySelector.$pristine}">
                                                <select class="form-control"
                                                        ng-model="FormRegisterVendorCtrl.address.City"
                                                        ng-disabled="FormRegisterVendorCtrl.addressCityList.length === 0 || FormRegisterVendorCtrl.address.State.CountryID !== 360"
                                                        ng-options="item as item.Name for item in FormRegisterVendorCtrl.addressCityList"
                                                        ng-change="FormRegisterVendorCtrl.reloadAddressDistrict(FormRegisterVendorCtrl.address.City)"
                                                        id="cmbTown" name="citySelector">
                                                    <option value="" disabled selected> {{'FORM.CMB_KAB' | translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{'FORM.CMB_DISTRICT' | translate}}</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.vendorAddressForm.districtSelector.$valid
             && !FormRegisterVendorCtrl.vendorAddressForm.districtSelector.$pristine}">
                                                <select class="form-control"
                                                        ng-model="FormRegisterVendorCtrl.address.District"
                                                        ng-disabled="FormRegisterVendorCtrl.addressDistrictList.length === 0 || FormRegisterVendorCtrl.address.State.CountryID !== 360"
                                                        ng-options="item as item.Name for item in FormRegisterVendorCtrl.addressDistrictList"
                                                        id="cmbTown" name="districtSelector">
                                                    <option value="" disabled selected> {{'FORM.CMB_DISTRICT' | translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{'FORM.KODEPOS' | translate}}</label>
                                            <div class="form-group">
                                                <input class="form-control" placeholder="{{'FORM.KODEPOS' | translate}}" maxlength="15" type="text" ng-model="FormRegisterVendorCtrl.address.PostalCode" />
                                            </div>
                                        </div>
                                        <div class="col-md-3" style="margin-top:25px"><button class="btn btn-success" ng-click="FormRegisterVendorCtrl.addAddress()" ng-disabled="FormRegisterVendorCtrl.vendorAddressForm.$invalid"><i class="fa fa-plus"></i> {{"BUTTONS.ADD" | translate}}</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 50px;">{{'FORM.ADDRESS_TABLE.HEADERS.NO' | translate}}</th>
                                                <th class="text-center" style="width: 30%;">{{'FORM.ADDRESS_TABLE.HEADERS.TYPE' | translate}}</th>
                                                <th class="text-center">{{'FORM.ADDRESS_TABLE.HEADERS.DETAIL' | translate}}</th>
                                                <th style="width: 50px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="FormRegisterVendorCtrl.addresses.length <= 0">
                                                <td colspan="4">
                                                    <div class="alert alert-info">{{'FORM.ADDRESS_TABLE.NO_DATA' | translate}}</div>
                                                    <div class="clearfix"></div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="dt in FormRegisterVendorCtrl.addresses">
                                                <td>{{$index + 1}}</td>
                                                <td>{{dt.Type.Value | translate}}</td>
                                                <td ng-if="dt.Country.Code==='ID'">{{dt.Detail}}, {{dt.District.Name}}, {{dt.Info}}</td>
                                                <td ng-if="dt.Country.Code!=='ID'">{{dt.Detail}}, {{dt.Info}}</td>
                                                <td><button class="btn btn-danger" ng-click="FormRegisterVendorCtrl.removeAddress(dt)"><i class="fa fa-close"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <legend class="h4 margin-atas" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;font-weight:bold">
                            {{'STOCK_INFO'|translate}}
                        </legend>
                        <div class="row">
                            <div class="col-md-12">
                                <form name="FormRegisterVendorCtrl.stockForm">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{'FORM.TIPE_PEMILIK' | translate}}</label>
                                            <select name="stockOption" required class="form-control marginBottom-1" style="margin-bottom:0px !important;" ng-model="FormRegisterVendorCtrl.stockOpt"
                                                    ng-options="item as item.Value | translate for item in FormRegisterVendorCtrl.stockOption" ng-change="FormRegisterVendorCtrl.labelChange()">
                                                <option value="" selected disabled class="text-center">{{"FORM.PEMILIK_SHM" | translate}}</option>
                                            </select>
                                            <!--<i class="font10">
                                                {{'FORM.TIPE_PEMILIK' | translate}}
                                            </i>-->
                                        </div>
                                        <div class="col-md-6">
                                            <label>{{'FORM.NM_PEMILIK_SHM' | translate}}</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.stockForm.OwnerName.$valid && !FormRegisterVendorCtrl.stockForm.OwnerName.$pristine}">
                                                <input class="form-control marginBottom-1" style="margin-bottom:0px !important;" type="text" ng-model="FormRegisterVendorCtrl.stock.OwnerName" name="OwnerName" placeholder="{{'FORM.NM_PEMILIK_SHM' | translate}}" required />
                                                <span ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                                                    <i class="font10">
                                                        {{'FORM.NM_PEMILIK_SHM' | translate}}
                                                    </i>
                                                </span>
                                                <span ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_COMPANY'">
                                                    <i class="font10">
                                                        {{'FORM.NM_PERUSAHAAN' | translate}}
                                                    </i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_PERSONAL' || FormRegisterVendorCtrl.stockOpt.Name=='STOCK_COMPANY'">
                                            <label ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_PERSONAL'">{{'FORM.TGL_LAHIR_PERSONAL' | translate}}</label>
                                            <label ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_COMPANY'">{{'FORM.TGL_BERDIRI' | translate}}</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.stockForm.OwnerDOB.$valid && !FormRegisterVendorCtrl.stockForm.OwnerDOB.$pristine}">
                                                <div class="input-group date form_datetime">
                                                    <input ng-blur="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_PERSONAL' && FormRegisterVendorCtrl.calculateAge(FormRegisterVendorCtrl.stock.OwnerDOB)" class="form-control" size="16" style="background-color: #ffffff;" placeholder="{{FormRegisterVendorCtrl.tgl| translate}}" type="text" uib-datepicker-popup="yyyy-MM-dd" close-text="FORM.LABELS.CLOSE" is-open="FormRegisterVendorCtrl.isDobCalendarOpened" ng-model="FormRegisterVendorCtrl.stock.OwnerDOB" ng-click="FormRegisterVendorCtrl.openDobCalendar()" readonly name="OwnerDOB" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="FormRegisterVendorCtrl.openDobCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                                <!--<span ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                                                    <i class="font10">
                                                        {{'FORM.TGL_LAHIR_PERSONAL' | translate}}
                                                    </i>
                                                </span>
                                                <span ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_COMPANY'">
                                                    <i class="font10">
                                                        {{'FORM.TGL_BERDIRI' | translate}}
                                                    </i>
                                                </span>-->
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{{'FORM.NO_KTP' | translate}}</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.stockForm.OwnerID.$valid && !FormRegisterVendorCtrl.stockForm.OwnerID.$pristine}">
                                                <input class="form-control marginBottom-1" style="margin-bottom:0px !important;" maxlength="25" placeholder="{{'FORM.NO_KTP' | translate}}" type="text" ng-model="FormRegisterVendorCtrl.stock.OwnerID" name="OwnerID" required />
                                                <span ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                                                    <i class="font10">
                                                        {{'FORM.NO_KTP' | translate}}
                                                    </i>
                                                </span>
                                                <span ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_COMPANY'">
                                                    <i class="font10">
                                                        {{'FORM.NO_NPWP' | translate}}
                                                    </i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Upload</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.stockForm.ownerIDFile.$valid && !FormRegisterVendorCtrl.stockForm.ownerIDFile.$pristine}">
                                                <input ng-file-select="FormRegisterVendorCtrl.stockOwnerIDSelected()" class="form-control  marginBottom-1" type="file"
                                                       ng-model="FormRegisterVendorCtrl.stockOwnerID" name="ownerIDFile" required accept="{{FormRegisterVendorCtrl.idFileTypes}}" />
                                                <span ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                                                    <i class="font10">
                                                        {{'FORM.KET_FILE_PERSONAL' | translate}} <small> ( <span ng-repeat="ft in FormRegisterVendorCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{FormRegisterVendorCtrl.idUploadConfigs[0].Size}} {{FormRegisterVendorCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                                    </i>
                                                </span>
                                                <span ng-if="FormRegisterVendorCtrl.stockOpt.Name=='STOCK_COMPANY'">
                                                    <i class="font10">
                                                        {{'FORM.KET_FILE_COMPANY' | translate}} <small> ( <span ng-repeat="ft in FormRegisterVendorCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{FormRegisterVendorCtrl.idUploadConfigs[0].Size}} {{FormRegisterVendorCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                                    </i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{"FORM.SATUAN_SHM" | translate}}</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.stockForm.stockUnit.$valid && !FormRegisterVendorCtrl.stockForm.stockUnit.$pristine}">
                                                <select name="stockUnit" required class="form-control" ng-model="FormRegisterVendorCtrl.stockUnit"
                                                        ng-options="item as item.Value | translate for item in FormRegisterVendorCtrl.stockUnits"
                                                        ng-disabled="FormRegisterVendorCtrl.stockUnit && FormRegisterVendorCtrl.flag == 1">
                                                    <option value="" selected disabled class="text-center">{{"FORM.SATUAN_SHM" | translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>{{'FORM.NOMINAL_SHM' | translate}} *</label>
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.stockForm.stockQty.$valid && !FormRegisterVendorCtrl.stockForm.stockQty.$pristine}">
                                                <input type="number" class="form-control" placeholder="{{'FORM.NOMINAL_SHM' | translate}} *" name="stockQty" ng-model="FormRegisterVendorCtrl.stock.Quantity" required />
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-if="FormRegisterVendorCtrl.stockUnit.Name == 'STOCK_UNIT_CURRENCY'">
                                            <div class="form-group" ng-class="{'has-error': !FormRegisterVendorCtrl.stockForm.stockUnitCurrency.$valid && !FormRegisterVendorCtrl.stockForm.stockUnitCurrency.$pristine}">
                                                <select name="stockUnitCurrency" required class="form-control" ng-model="FormRegisterVendorCtrl.stockUnitCurrency"
                                                        ng-options="item as item.Symbol + ' | ' + item.Label for item in FormRegisterVendorCtrl.currencyList">
                                                    <option value="" selected disabled class="text-center">{{"FORM.SATUAN_SHM_MATAUANG" | translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 center-block ">
                                            <button class="btn btn-success pull-right" ng-click="FormRegisterVendorCtrl.addStockData()" ng-disabled="!FormRegisterVendorCtrl.stockForm.$valid"><i class="fa fa-plus-circle"></i> {{'FORM.BTN_SAHAM' | translate}}</button>
                                        </div>
                                    </div>
                                    <div class="row turun-15">
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table id="example1" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="width: 4%;">{{'FORM.TABEL.COL_NO' | translate}}</th>
                                                            <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_TIPE' | translate}}</th>
                                                            <th class="text-center">{{'FORM.TABEL.COL_NAMA' | translate}}</th>
                                                            <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_TGL_LAHIR' | translate}}</th>
                                                            <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_NOMINAL' | translate}}</th>
                                                            <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_SATUAN' | translate}}</th>
                                                            <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_NO_KTP' | translate}}</th>
                                                            <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_FILE' | translate}}</th>
                                                            <th style="width: 5%;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="!FormRegisterVendorCtrl.stocks || FormRegisterVendorCtrl.stocks.length == 0">
                                                            <td colspan="9" class="text-center">
                                                                <div class="alert alert-info">{{'NO_DATA' | translate}}</div>
                                                                <div class="clearfix"></div>
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat="dt in FormRegisterVendorCtrl.stocks">
                                                            <td class="text-center">{{$index + 1}}</td>
                                                            <td class="text-center">{{dt.Type.Value | translate}}</td>
                                                            <td>{{dt.OwnerName}}</td>
                                                            <td class="text-center">{{dt.OwnerDOB | date: "dd-MM-yyyy"}}</td">
                                                            <td class="text-center">{{dt.Quantity | currency : ""}}</td>
                                                            <td class="text-center">{{(dt.Unit.Value != 'STOCK_UNIT_CURRENCY') ? dt.Unit.Value : dt.CurrencySymbol | translate}}</td>
                                                            <td class="text-center">{{dt.OwnerID}}</td>
                                                            <td class="text-center"><a ng-href="{{main.api_endpoint + '/' + dt.OwnerIDUrl}}" target="_blank"><i class="fa fa-download"></i></a></td>
                                                            <td class="text-center"><button class="btn btn-xs btn-danger" ng-click="FormRegisterVendorCtrl.removeStock(dt)"><i class="fa fa-times"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center pull-right">
                        <button type="button" class="btn btn-flat btn-sm btn-danger" ng-click="FormRegisterVendorCtrl.back()" title="{{'BACK'|translate}}"><i class="fa fa-reply"></i> {{'BACK'|translate}}</button>
                        <button type="button" class="btn btn-flat btn-sm btn-success" ng-click="FormRegisterVendorCtrl.save()" title="{{'SAVE' | translate}}"><i class="fa fa-save"></i> {{'SAVE' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
