<section class="content" ng-init="VerifiedProcessCtrl.init()" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
		<li><a href="#/data-rekanan/verifikasi-data/">{{'BREADCRUMB.DATA_VENDOR_MANAGE' | translate}}</a></li>
		<li><a href="#/proses-verifikasi/{{VerifiedProcessCtrl.id}}">{{'BREADCRUMB.VERIFICATION_PROCESS' | translate}}</a></li>
	</ol>
	<div id="halamanVerifikasi" class="container-fluid">
		<div class="box">
			<!--<div class="box-header text-center" style="padding: 10px!important;">-->
				<!--<button class="btn btn-flat btn-primary" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>-->
				<!--<button type="button" class="btn btn-flat btn-danger" ng-click="VerifiedProcessCtrl.addVerifikasi(false,VerifiedProcessCtrl.verified[0].Contact.Email)" ng-if="((VerifiedProcessCtrl.verified[0].Vendor.IsActived === true && VerifiedProcessCtrl.verified[0].Vendor.VerifiedSendDate !== null) && VerifiedProcessCtrl.verified[0].Vendor.Isverified === null)" title="{{'VER_DENIED' | translate}}">
					<i class="fa fa-exclamation-circle"></i>
				</button>
				<button type="button" class="btn btn-flat btn-success" ng-click="VerifiedProcessCtrl.verifyVendor(true,VerifiedProcessCtrl.verified[0].Contact.Email)" ng-if="((VerifiedProcessCtrl.verified[0].Vendor.IsActived === true && VerifiedProcessCtrl.verified[0].Vendor.VerifiedSendDate !== null) && VerifiedProcessCtrl.verified[0].Vendor.Isverified === null)" title="{{'VER_ACCEPTED' | translate}}">
					<i class="fa fa-check-square-o"></i>
				</button>-->
				<!--<hr style="margin-bottom: 0px;" />
			</div>-->
			<div class="box-body">
				<div class="row" style="padding-left: 15px;">
					<div class="col-md-12">
						<div class="form-horizontal">
							<div class="form-group">
								<div class="row">
									<label class="col-sm-3 control-label" style="font-size: 1.5em; padding-top: 0px; text-align: left;">{{'COM_NAME' | translate}} <span class="pull-right text-right"> :</span></label>
									<div class="col-sm-9">
										<label style="font-size: 1.5em;">{{VerifiedProcessCtrl.verified[0].Vendor.VendorName}}</label>
									</div>
								</div>
								<div class="row" ng-if="VerifiedProcessCtrl.verified[0].Vendor.Isverified!=null && VerifiedProcessCtrl.verified[0].Vendor.Isverified==1">
									<label class="col-sm-3 control-label" style="font-size: 1.5em; padding-top: 0px; text-align: left;">{{'TABLE.STATUS' | translate}} <span class="pull-right text-right"> :</span></label>
									<div class="col-sm-9">
										<label style="font-size: 1.5em;">{{'SELECT.VERIFIED' | translate}}  <span ng-if="VerifiedProcessCtrl.verificationRemark!=''">({{VerifiedProcessCtrl.verificationRemark}})</span></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<uib-tabset>
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()">
						<uib-tab-heading>
							{{'PERSETUJUAN' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'PERSETUJUAN' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(11)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th class="text-center" style="width: 5px; min-width: 5px; vertical-align: middle;">{{'NO' | translate}}</th>
												<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'TITLE' | translate}}</th>
												<th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">{{'SURAT.ACTION' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<!--<tr>
							<td class="text-center">1.</td>
							<td class="text-center">{{'BISNIS' | translate}}</td>
							<td class="text-center">
								<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(null, 17,true)" title="{{'BACA' | translate}}"><i class="fa fa-file-o"></i></a>
								<a ng-if="VerifiedProcessCtrl.DocType === 4225" ng-disabled="VerifiedProcessCtrl.flagBC == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlBusinessConduct}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleBC}}"><i class="fa fa-download"></i></a>
								<a ng-if="VerifiedProcessCtrl.DocType === 4232" ng-disabled="VerifiedProcessCtrl.flagBC == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlBusinessConduct}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleBC}}"><i class="fa fa-download"></i></a>
							</td>
						</tr>
						<tr ng-if="VerifiedProcessCtrl.cek === true">
							<td class="text-center">2.</td>
							<td class="text-center">{{'SURATPERNYATAAN' | translate}}</td>
							<td class="text-center">
								<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(null, 18,true)" title="{{'BACA' | translate}}"><i class="fa fa-file-o"></i></a>
								<a ng-disabled="VerifiedProcessCtrl.flagAG == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlAggrement}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleAG}}"><i class="fa fa-download"></i></a>
							</td>
						</tr>
						<tr ng-if="VerifiedProcessCtrl.cek === true">
							<td class="text-center">3.</td>
							<td class="text-center">{{'INITIAL_RISK' | translate}}</td>
							<td class="text-center">
								<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.id, 19,true)" title="{{'SEE_QUEST' | translate}}"><i class="fa fa-file-o"></i></a>
								<a g-if="VerifiedProcessCtrl.QuestionnaireUrl != null" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.QuestionnaireUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{'UPLD_QUEST' | translate}}"><i class="fa fa-download"></i></a>
							</td>
						</tr>
						<tr ng-if="VerifiedProcessCtrl.cek !== true">
							<td class="text-center">2.</td>
							<td class="text-center">{{'KUESIONER' | translate}}</td>
							<td class="text-center">
								<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.id, 19,true)" title="{{'SEE_QUEST' | translate}}"><i class="fa fa-file-o"></i></a>
								<a ng-if="VerifiedProcessCtrl.QuestionnaireUrl != null" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.QuestionnaireUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{'UPLD_QUEST' | translate}}"><i class="fa fa-download"></i></a>
							</td>
						</tr>-->
											<!--<tr ng-if="VerifiedProcessCtrl.loadDDQuest.MstDDQuestID != 0 && VerifiedProcessCtrl.cek !== true">
							<td class="text-center">1.</td>
							<td class="text-center">{{VerifiedProcessCtrl.loadDDQuest.MstDDQuestionnaire.DDQuestName}}</td>
							<td class="text-center">
								<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.loadDDQuest, 22,true)" title="{{'SEE_QUEST' | translate}}"><i class="fa fa-file-o"></i></a>
								<a class="btn btn-flat btn-sm btn-success" ng-if="VerifiedProcessCtrl.loadDDQuest.SendQuestionnaireDate!=null && VerifiedProcessCtrl.loadDDQuest.SendApprovalDate==null" ng-click="VerifiedProcessCtrl.sendApprovalVendorCompliance(VerifiedProcessCtrl.loadDDQuest.ID)" title="{{'Kirim Approval'|translate}}"><i class="fa fa-send"></i></a>
								<a class="btn btn-flat btn-sm btn-success" ng-if="VerifiedProcessCtrl.loadDDQuest.VendorComplianceApprovalDetail.length>0" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.loadDDQuest, 23,true)" title="{{'Detail Approval'|translate}}"><i class="fa fa-sitemap"></i></a>
								<a title="{{'Kirim Ulang Kuesioner'|translate}}" ng-click="VerifiedProcessCtrl.sendQuestionnaire(VerifiedProcessCtrl.id)" ng-if="VerifiedProcessCtrl.loadDDQuest.Status==4461" class="btn btn-flat btn-sm btn-warning" style="cursor: pointer;">
									<i class="fa fa-send"></i>&nbsp;
								</a>
							</td>
						</tr>
						<tr ng-if="VerifiedProcessCtrl.loadDDQuest.MstDDQuestID != 0 && VerifiedProcessCtrl.cek == true">
							<td class="text-center">1.</td>
							<td class="text-center">{{VerifiedProcessCtrl.loadDDQuest.MstDDQuestionnaire.DDQuestName}}</td>
							<td class="text-center">
								<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.loadDDQuest, 22,true)" title="{{'SEE_QUEST' | translate}}"><i class="fa fa-file-o"></i></a>
								<a class="btn btn-flat btn-sm btn-success" ng-if="VerifiedProcessCtrl.loadDDQuest.SendQuestionnaireDate!=null && (VerifiedProcessCtrl.loadDDQuest.SendApprovalDate==null)" ng-click="VerifiedProcessCtrl.sendApprovalVendorCompliance(VerifiedProcessCtrl.loadDDQuest.ID)" title="{{'Kirim Approval'|translate}}"><i class="fa fa-send"></i></a>
								<a class="btn btn-flat btn-sm btn-success" ng-if="VerifiedProcessCtrl.loadDDQuest.VendorComplianceApprovalDetail.length>0" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.loadDDQuest, 23,true)" title="{{'Detail Approval'|translate}}"><i class="fa fa-sitemap"></i></a>
								<a title="{{'Kirim Ulang Kuesioner'|translate}}" ng-click="VerifiedProcessCtrl.sendQuestionnaire(VerifiedProcessCtrl.id)" ng-if="VerifiedProcessCtrl.loadDDQuest.Status==4461" class="btn btn-flat btn-sm btn-warning" style="cursor: pointer;">
									<i class="fa fa-send"></i>&nbsp;
								</a>
							</td>
						</tr>-->
											<tr ng-repeat="obj in VerifiedProcessCtrl.DataDueDilligenceQuestionnaire">
												<td class="text-center" style="vertical-align: middle;">{{VerifiedProcessCtrl.currentPage > 1 ? (VerifiedProcessCtrl.pageSize * (VerifiedProcessCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
												<td class="text-left" style="vertical-align: middle;">{{obj.DDQuestName}}</td>
												<td class="text-center" style="vertical-align: middle;">
													<a class="btn btn-flat btn-sm btn-primary" ng-click="VerifiedProcessCtrl.ddkuesioner()" title="Detail"><i class="fa fa-eye"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(11)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>-->
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()">
						<uib-tab-heading>
							{{'BREADCRUMB.ADMINISTRATION_DATA' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'BREADCRUMB.ADMINISTRATION_DATA' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(10)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 center-block" style="float: none!important;margin-top: 10px!important;">
								<div class="row">
									<div class="col-md-10 col-xs-12 col-sm-10 center-block well" style="float: none!important;">
										<dl class="dl-horizontal">
											<dt>{{'USERNAME_VENDOR' | translate}}</dt>
											<dd>{{VerifiedProcessCtrl.verified[1].Vendor.user.Username}}</dd>
											<dt>{{'EMAIL_USER' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.verified[1].Contact.Email !== null">{{VerifiedProcessCtrl.verified[1].Contact.Email}}</dd>
											<dt>{{'TENDER_CODE2' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.verified[1].Vendor.TenderCodeTemp !== null">{{VerifiedProcessCtrl.verified[1].Vendor.TenderCodeTemp}}</dd>
											<dd ng-if="VerifiedProcessCtrl.verified[1].Vendor.TenderCodeTemp === null">{{'No' | translate}}</dd>
											<dt>{{'TENDER_NAME' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.TenderName !== null">{{VerifiedProcessCtrl.TenderName}}</dd>
											<dd ng-if="VerifiedProcessCtrl.TenderName === null">{{'No' | translate}}</dd>
											<dt>{{'VENDOR_NAME' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.verified[1].Vendor.VendorName !== null">{{VerifiedProcessCtrl.verified[1].Vendor.VendorName}}</dd>
											<dt ng-if="VerifiedProcessCtrl.State === 'ID'">{{'COMPANY_TYPE' | translate}}</dt>
											<dd ng-if="(VerifiedProcessCtrl.State === 'ID' && VerifiedProcessCtrl.verified[1].Vendor.business.Name !== null)">{{VerifiedProcessCtrl.verified[1].Vendor.business.Name}}</dd>
											<dt ng-if="VerifiedProcessCtrl.State === 'ID'">{{'NOMOR_NPWP' | translate}}</dt>
											<dt ng-if="VerifiedProcessCtrl.State !=='ID'">Company Registration</dt>
											<dd ng-if="VerifiedProcessCtrl.verified[1].Vendor.Npwp !== null">{{VerifiedProcessCtrl.verified[1].Vendor.Npwp}}</dd>
											<dd ng-if="VerifiedProcessCtrl.verified[1].Vendor.Npwp === null"></dd>
											<dt>{{'NPWP_FILE'|translate}}</dt>
											<dd ng-if="(!(VerifiedProcessCtrl.verified[1].Vendor.NpwpUrl ==='' || VerifiedProcessCtrl.verified[1].Vendor.NpwpUrl ==null))">
												<a href="{{VerifiedProcessCtrl.folderFile+VerifiedProcessCtrl.verified[1].Vendor.NpwpUrl}}" class="btn btn-xs btn-primary" target="_BLANK" title="Download Dokumen NPWP">
													<i class="fa fa-download"></i>&nbsp;Download Dokumen NPWP
												</a>
											</dd>
											<dd ng-if="((VerifiedProcessCtrl.verified[1].Vendor.NpwpUrl ==='' || VerifiedProcessCtrl.verified[1].Vendor.NpwpUrl ==null))">
												<a class="btn btn-xs btn-default" title="Dokumen tidak ada">
													<i class="fa fa-download"></i>&nbsp;Dokumen tidak ada
												</a>
											</dd>
											<dt ng-if="VerifiedProcessCtrl.State === 'ID'">No SKT/IUJP/IUP</dt>
											<dd ng-if="(VerifiedProcessCtrl.State === 'ID' && VerifiedProcessCtrl.verified[1].Vendor.LegalNumber !== null)">{{VerifiedProcessCtrl.verified[1].Vendor.LegalNumber}}</dd>
											<dd ng-if="(VerifiedProcessCtrl.State === 'ID' && VerifiedProcessCtrl.verified[1].Vendor.LegalNumber === null)">-</dd>
											<dt ng-if="VerifiedProcessCtrl.State === 'ID'">File SKT/IUJP/IUP</dt>
											<dd ng-if="(VerifiedProcessCtrl.State === 'ID' && !(VerifiedProcessCtrl.verified[1].Vendor.LegalDocument==='' || VerifiedProcessCtrl.verified[1].Vendor.LegalDocument==null))">
												<a href="{{VerifiedProcessCtrl.folderFile+VerifiedProcessCtrl.verified[1].Vendor.LegalDocument}}" class="btn btn-xs btn-primary" target="_BLANK" title="Download Dokumen Ijin Usaha">
													<i class="fa fa-download"></i>&nbsp;Download Dokumen Ijin Usaha
												</a>
											</dd>
											<dd ng-if="(VerifiedProcessCtrl.State === 'ID' && (VerifiedProcessCtrl.verified[1].Vendor.LegalDocument==='' || VerifiedProcessCtrl.verified[1].Vendor.LegalDocument==null))">
												<a class="btn btn-xs btn-primary" title="Dokumen Ijin Usaha tidak ada">
													<i class="fa fa-download"></i>&nbsp;Dokumen Ijin Usaha tidak ada
												</a>
											</dd>
											<dt ng-if="VerifiedProcessCtrl.addressMain !== ''">{{'MAIN_OFFICE' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.addressMain !== ''">{{VerifiedProcessCtrl.addressMain}}</dd>
											<dt ng-if="VerifiedProcessCtrl.addressBranch !==''">{{'BRANCH_OFFICE' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.addressBranch !==''">{{VerifiedProcessCtrl.addressBranch}}</dd>

											<dt>{{'STATE_TYPE' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.verified[0].Contact.Address.State.Name !== null">{{VerifiedProcessCtrl.verified[0].Contact.Address.State.Name}}</dd>
											<dd ng-if="VerifiedProcessCtrl.verified[0].Contact.Address.State.Name === null">{{'No' | translate}}</dd>
											<dt ng-if="VerifiedProcessCtrl.State === 'ID'">{{'CITY_TYPE' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.State === 'ID' && VerifiedProcessCtrl.verified[0].Contact.Address.City.Name !== null">{{VerifiedProcessCtrl.verified[0].Contact.Address.City.Name}}</dd>
											<dd ng-if="VerifiedProcessCtrl.State === 'ID' && VerifiedProcessCtrl.verified[0].Contact.Address.City.Name === null">{{'No' | translate}}</dd>
											<dt>{{'NO_TELP' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.verified[0].Contact.Phone !== null">{{VerifiedProcessCtrl.verified[0].Contact.Phone}}</dd>
											<dd ng-if="VerifiedProcessCtrl.verified[0].Contact.Phone === null">{{'No' | translate}}</dd>
											<dt>Fax</dt>
											<dd ng-if="VerifiedProcessCtrl.Fax !== null">{{VerifiedProcessCtrl.Fax}}</dd>
											<dd ng-if="VerifiedProcessCtrl.Fax === null">{{'No' | translate}}</dd>
											<dt>{{'EMAIL_VENDOR' | translate}}</dt>
											<dd ng-if="VerifiedProcessCtrl.verified[0].Contact.Email !== null">{{VerifiedProcessCtrl.verified[0].Contact.Email}}</dd>
											<dd ng-if="VerifiedProcessCtrl.verified[0].Contact.Email === null">{{'No' | translate}}</dd>
											<dt>Website</dt>
											<dd ng-if="VerifiedProcessCtrl.verified[0].Contact.Website !== null">{{VerifiedProcessCtrl.verified[0].Contact.Website}}</dd>
											<dd ng-if="VerifiedProcessCtrl.verified[0].Contact.Website === null">{{'No' | translate}}</dd>

										</dl>
										<button type="button" class="btn btn-flat btn-sm btn-success center-block" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.verified[0].Vendor.VendorID,0,true)"><i class="fa fa-edit"></i> Edit Data</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(10)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i>{{'Export Data Perusahaan'|translate}}</a>-->
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()" ng-if="VerifiedProcessCtrl.verified[0].Contact.Address.State.Country.Code === 'ID'">
						<uib-tab-heading>
							{{'FORM.LICENSEDATA'| translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'FORM.LICENSEDATA'| translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(2)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="text-center">No</th>
														<th class="text-center">{{'TABLE.LICENSETYPE' | translate}}</th>
														<th class="text-center">{{'TABLE.NO' | translate}}</th>
														<th class="text-center">{{'TABLE.STARTDATE_LICENSE'| translate}}</th>
														<th class="text-center">{{'TABLE.ENDDATE' | translate}}</th>
														<th class="text-center">{{'TABLE.INSTITUTION' | translate}}</th>
														<th class="text-center">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="VerifiedProcessCtrl.license.List.length <= 0">
														<td colspan="6" cellpadding="0">
															<div class="alert alert-info text-center">
																<span>{{'No'| translate}}</span>
															</div>
														</td>
													</tr>
													<tr ng-repeat="obj in VerifiedProcessCtrl.license.List">
														<td class="text-center" style="vertical-align: middle;">{{IzinUsahaController.currentPage > 1 ? (IzinUsahaController.pageSize * (IzinUsahaController.currentPage - 1)) + $index + 1 : $index + 1}}</td>
														<td style="vertical-align: middle;">{{obj.LicenseName}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.LicenseNo}}</td>
														<td class="text-center" style="vertical-align: middle;">
															<span ng-if="!(obj.IssuedDate === null)">{{obj.IssuedDate | date: "dd-MM-yyyy"}}</span>
														</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.ExpiredDate | date: "dd-MM-yyyy"}}</td>
														<td style="vertical-align: middle;">{{obj.IssuedBy}}</td>
														<td class="text-center" style="vertical-align: middle!important;">
															<a ng-click="VerifiedProcessCtrl.detail(1, obj)" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i>&nbsp;</a>
															<a ng-click="VerifiedProcessCtrl.openForm(obj,1,true)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a>
															<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 1)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(2)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>-->
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()" ng-if="VerifiedProcessCtrl.verified[0].Contact.Address.State.Country.Code === 'ID'">
						<uib-tab-heading>
							{{'DATA_AKTA_PENDIRIAN' | translate}}
						</uib-tab-heading>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6 center-block" style="float: none!important;">
									<h3 class="text-center afta-font" style="font-weight:bold">{{'DATA_PEMILIK_SAHAM' | translate}}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(4)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
								</div>
							</div>
							<div class="row turun-15">
								<div class="col-sm-12 center-block" style="float: none!important;">
									<div class="center-block">
										<div class="form-group">
											<div class="table-responsive">
												<table class="table table-striped table-bordered table-hover"
													   style="table-layout: fixed!important;">
													<thead>
														<tr>
															<th class="center-vertical" style="font-weight: bolder; width: 4%">No.</th>
															<th class="center-vertical" style="width: 12%;">{{'TIPE' | translate}}</th>
															<th class="center-vertical" style="font-weight: bolder;">{{'NAMA' | translate}}</th>
															<th class="center-vertical" style="font-weight: bolder; width: 15%;">{{'TANGGAL' | translate}}</th>
															<th class="center-vertical" style="font-weight: bolder; width: 15%;">Nominal</th>
															<th class="center-vertical" style="font-weight: bolder; width: 10%;">{{'SATUAN' | translate}}</th>
															<th class="center-vertical" style="font-weight: bolder; width: 15%;">{{'NO_IDENTITAS' | translate}}</th>
															<th class="center-vertical" style="font-weight: bolder; width: 7%;">File</th>
															<th class="center-vertical" style="font-weight: bolder; width: 10%;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-if="VerifiedProcessCtrl.verifiedSaham.length <= 0">
															<td colspan="8" cellpadding="0">
																<div class="alert alert-info text-center">
																	<span>{{'No' | translate}}</span>
																</div>

															</td>
														</tr>
														<tr ng-repeat="dt in VerifiedProcessCtrl.verifiedSaham">
															<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
															<td class="text-center" style="vertical-align: middle;">{{dt.SysReference.Value | translate}}</td>
															<td style="vertical-align: middle;">{{dt.OwnerName}}</td>
															<td class="text-center" style="vertical-align: middle;">{{dt.OwnerDOB | date: "dd-MM-yyyy"}}</td>
															<td class="text-center" style="vertical-align: middle;">{{dt.Quantity | currency : ""}}</td>
															<td class="text-center" style="vertical-align: middle;">{{(dt.Unit.Value != 'STOCK_UNIT_CURRENCY') ? dt.Unit.Value : dt.CurrencySymbol  | translate}}</td>
															<td class="text-center" style="vertical-align: middle;">{{dt.OwnerID}}</td>
															<td class="text-center" style="vertical-align: middle;"><a href="{{VerifiedProcessCtrl.folderFile + dt.OwnerIDUrl}}" target="_BLANK" class="btn btn-sm btn-primary" title="{{'DOWNLOAD' | translate}}"><i class="fa fa-download"></i>&nbsp;</a></td>
															<td class="text-center" style="vertical-align: middle;">
																<a ng-click="VerifiedProcessCtrl.openForm(dt,2,true)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a>
																<a ng-if="dt.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(dt, 2)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>

							</div>
							<hr>
							<div class="row">
								<div class="col-md-6 center-block" style="float: none!important;">
									<h3 class="text-center afta-font" style="font-weight:bold">{{'DATA_AKTA_PENDIRIAN' | translate}}</h3>
								</div>
							</div>
							<div class="row" style="padding-top: 20px!important;">
								<div class="col-sm-12 center-block" style="float: none!important;">
									<div class="center-block">
										<div class="form-group">
											<div class="table-responsive">
												<table class="table table-striped table-bordered table-hover"
													   style="table-layout: fixed!important;">
													<thead>
														<tr>
															<th class="text-center" style="font-weight: bolder;">No</th>
															<th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT' | translate}}</th>
															<th class="text-center" style="font-weight: bolder;">{{'NOTARIS' | translate}}</th>
															<th class="text-center" style="font-weight: bolder;">{{'TEMPAT_NOTARIS' | translate}}</th>
															<th class="text-center" style="font-weight: bolder;">File</th>
															<th class="text-center" style="font-weight: bolder;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-if="VerifiedProcessCtrl.countPendirian == 0">
															<td colspan="6" cellpadding="0">
																<div class="alert alert-info text-center">
																	<span>{{'No' | translate}}</span>
																</div>

															</td>
														</tr>
														<tr ng-repeat="fl in VerifiedProcessCtrl.Akta">
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENDIRIAN'" class="text-center" style="vertical-align: middle;">{{fl.DocumentNo}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENDIRIAN'" class="text-center" style="vertical-align: middle;">{{fl.DocumentDate | date: "dd-MM-yyyy"}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENDIRIAN'" class="text-center" style="vertical-align: middle;">{{fl.NotaryName}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENDIRIAN'" class="text-center" style="vertical-align: middle;">{{fl.NotaryLocationName}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENDIRIAN' && fl.DocumentURL" class="text-center" style="vertical-align: middle;"><a href="{{VerifiedProcessCtrl.folderFile + fl.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="Download"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENDIRIAN'" class="text-center" style="vertical-align: middle;">
																<a ng-click="VerifiedProcessCtrl.openForm(fl,3,true)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a>
																<a ng-if="fl.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(fl, 3)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>

							</div>
							<hr>
							<div class="row">
								<div class="col-md-6 center-block" style="float: none!important;">
									<h3 class="text-center afta-font" style="font-weight:bold">{{'DATA_AKTA_PERUBAHAN_TERAKHIR' | translate}}</h3>
								</div>
							</div>

							<div class="row" style="padding-top: 20px!important;">
								<div class="col-sm-12 center-block" style="float: none!important;">
									<div class="center-block">
										<div class="form-group">
											<div class="uib-table-responsive">
												<table class="table table-striped table-bordered table-hover"
													   style="table-layout: fixed!important;">
													<thead>
														<tr>
															<th class="text-center" style="font-weight: bolder;">No</th>
															<th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT' | translate}}</th>
															<th class="text-center" style="font-weight: bolder;">{{'NOTARIS' | translate}}</th>
															<th class="text-center" style="font-weight: bolder;">File</th>
															<th class="text-center" style="font-weight: bolder;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-if="VerifiedProcessCtrl.countPerubahan === 0">
															<td colspan="5" cellpadding="0">
																<div class="alert alert-info text-center">
																	<span>{{'No' | translate}}</span>
																</div>

															</td>
														</tr>
														<tr ng-repeat="fl in VerifiedProcessCtrl.Akta">
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PERUBAHAN'" class="text-center" style="vertical-align: middle;">{{fl.DocumentNo}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PERUBAHAN'" class="text-center" style="vertical-align: middle;">{{fl.DocumentDate | date: "dd-MM-yyyy"}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PERUBAHAN'" class="text-center" style="vertical-align: middle;">{{fl.NotaryName}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PERUBAHAN' && fl.DocumentURL" class="text-center" style="vertical-align: middle;"><a href="{{VerifiedProcessCtrl.folderFile + fl.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="Download"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PERUBAHAN'" class="text-center" style="vertical-align: middle;">
																<a ng-click="VerifiedProcessCtrl.openForm(fl,4,true)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a>
																<a ng-if="fl.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(fl, 3)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>

							</div>
							<hr>
							<div class="row">
								<div class="col-md-6 center-block" style="float: none!important;">
									<h3 class="text-center afta-font" style="font-weight:bold">{{'DATA_PENGESAHAN_KEMENKUMHAM' | translate}}</h3>
									<h5 class="text-center" style="color:red">{{'KHUSUS_PT' | translate}}</h5>
								</div>
							</div>
							<div class="row" style="padding-top: 20px!important;">
								<div class="col-sm-12 center-block" style="float: none!important;">
									<div class="center-block">
										<div class="form-group">
											<div class="table-responsive">
												<table class="table table-striped table-bordered table-hover"
													   style="table-layout: fixed!important;">
													<thead>
														<tr>
															<th class="text-center" style="font-weight: bolder;">No</th>
															<th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT' | translate}}</th>
															<th class="text-center" style="font-weight: bolder;">File</th>
															<th class="text-center" style="font-weight: bolder;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-if="VerifiedProcessCtrl.countPengesahan === 0">
															<td colspan="4" cellpadding="0">
																<div class="alert alert-info text-center">
																	<span>{{'No' | translate}}</span>
																</div>

															</td>
														</tr>
														<tr ng-repeat="fl in VerifiedProcessCtrl.Akta">
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENGESAHAN'" class="text-center" style="vertical-align: middle;">{{fl.DocumentNo}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENGESAHAN'" class="text-center" style="vertical-align: middle;">{{fl.DocumentDate | date: "dd-MM-yyyy"}}</td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENGESAHAN' && fl.DocumentURL" class="text-center" style="vertical-align: middle;"><a href="{{VerifiedProcessCtrl.folderFile + fl.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="Download"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></td>
															<td ng-if="fl.DocumentType === 'LEGAL_DOC_PENGESAHAN'" class="text-center" style="vertical-align: middle;">
																<a ng-click="VerifiedProcessCtrl.openForm(fl,5,true)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a>
																<a ng-if="fl.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(fl, 3)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

								</div>

							</div>
							<div class="row turun-15">
								<div class="col-md-12">
									<div class="pull-right">
										<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
										<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(4)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>-->
									</div>
								</div>
							</div>
						</div>
					</uib-tab>
					<!--data keuangan-->
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()">
						<uib-tab-heading>
							{{'BREADCRUMB.BALANCE' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'FINANCIAL_COMPANY_DATA' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="pull-right">
									<a ng-if="VerifiedProcessCtrl.balanceDocUrl" target="_blank" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.balanceDocUrl}}" class="btn btn-flat btn-primary turun-15" title="{{'DOWNLOAD' | translate}}">
										<i class='fa fa-download'></i>
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(3)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="text-center" style="width: 4%">No.</th>
														<th class="text-center">{{'TABLE.FINANCIAL_COMPANY' | translate}}</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="sk in VerifiedProcessCtrl.vendorbalance">
														<td>{{$index+1}}.</td>
														<td>
															<b>{{sk.WealthType.Value |translate}}</b>
															<table class="table table-bordered">
																<tr ng-repeat="pt in sk.subWealth">
																	<td ng-if="pt.subCategory.length !== 0">
																		{{$index+1}}. {{pt.COAType.Value |translate}}
																		<table class="table table-bordered">
																			<tr ng-repeat="subcoa in pt.subCategory">
																				<td>
																					{{$index+1}}. {{subcoa.SubCOA.Value |translate}}
																					<span class="pull-right" ng-if="subcoa.UnitType === 3106" style="display:inline-block !important;">{{subcoa.Amount}} {{'gram'|translate}}</span>
																					<span class="pull-right" ng-if="subcoa.UnitType === 3107" style="display:inline-block !important;">{{subcoa.Amount}} {{'unit'|translate}}</span>
																					<span class="pull-right" ng-if="subcoa.UnitType === 3108" style="display:inline-block !important;">{{subcoa.Amount}} {{'bulan'|translate}}</span>
																				</td>
																				<td width="20%">{{VerifiedProcessCtrl.VenCurrency}} {{subcoa.Nominal | currency: ""+ labelcurr +" "}}</td>
																				<td width="15%">
																					<a ng-click="VerifiedProcessCtrl.openForm(subcoa,6,true)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
																					<a ng-if="subcoa.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(subcoa, 6)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
																					<a ng-show="!(subcoa.DocUrl === '')" href="{{VerifiedProcessCtrl.folderFile + subcoa.DocUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{'VIEW' | translate}}"><i class="fa fa-download"></i></a>
																				</td>
																			</tr>
																		</table>
																	</td>
																	<td ng-if="pt.subCategory.length === 0">
																		<table class="table table-bordered">
																			<tr>
																				<td>
																					{{$index+1}}. {{pt.COAType.Value}}
																					<span class="pull-right" ng-if="pt.Unit.RefID === 3106" style="display:inline-block !important;">{{pt.Amount}} gram</span>
																					<span class="pull-right" ng-if="pt.Unit.RefID === 3107" style="display:inline-block !important;">{{pt.Amount}} unit</span>
																					<span class="pull-right" ng-if="pt.Unit.RefID === 3108" style="display:inline-block !important;">{{pt.Amount}} {{'mounth'|translate}}</span>
																				</td>
																				<td width="20%">{{VerifiedProcessCtrl.VenCurrency}} {{pt.nominal | currency: ""+ labelcurr +" "}}</td>
																				<td width="15%">
																					<a ng-click="VerifiedProcessCtrl.openForm(sk.WealthType,6,pt)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
																					<a ng-if="pt.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(subcoa, 6)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
																					<a ng-show="!(pt.DocUrl === '')" href="{{VerifiedProcessCtrl.folderFile + pt.DocUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{'VIEW' | translate}}"><i class="fa fa-download"></i></a>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>

															</table>
														</td>
													</tr>
													<tr ng-if="VerifiedProcessCtrl.vendorbalance.length !== 0">
														<td>{{+VerifiedProcessCtrl.vendorbalance.length +1}}.</td>
														<td>
															<table class="table table-bordered">
																<tr>
																	<td><b>Modal</b></td>
																	<td width="35%">{{VerifiedProcessCtrl.VenCurrency}} {{VerifiedProcessCtrl.modal | currency: ""+ labelcurr +" "}}</td>
																</tr>
															</table>
														</td>
													</tr>
													<tr ng-if="VerifiedProcessCtrl.vendorbalance.length === 0">
														<td colspan=3 class="text-center">
															<div class="alert alert-info text-center">
																<span>{{'No' | translate}}</span>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr>
						<div class="row" style="padding-top: 15px!important;" ng-if="VerifiedProcessCtrl.dataComm.length !== 0">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'SCALE_VENDOR' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row" ng-if="VerifiedProcessCtrl.dataComm.length !== 0">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="text-center">No</th>
														<th class="text-center" ng-if="VerifiedProcessCtrl.dataComm[0].CommodityID == null">{{'TABLE.NBU' | translate}} </th>
														<th class="text-center" ng-if="VerifiedProcessCtrl.dataComm[0].CommodityID != null">{{'TABLE.COMMODITY' | translate}} </th>
														<th class="text-center">{{'TABLE.TEKNIS' | translate}}</th>
														<th class="text-center">{{'TABLE.SKALA' | translate}} </th>
														<th class="text-center">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="pt in VerifiedProcessCtrl.dataComm">
														<td>{{$index+1}}</td>
														<td ng-if="pt.CommodityID !== null && pt.BusinessField.Name != 'Lain - lain'" class="text-center">{{pt.Commodity.Name}}</td>
														<td ng-if="pt.CommodityID == null  && pt.BusinessField.Name != 'Lain - lain'" class="text-center">{{pt.BusinessField.Name}}</td>
														<td ng-if="pt.BusinessField.Name == 'Lain - lain'" class="text-center">{{pt.BusinessField.Name}} ( {{pt.Remark}} )</td>
														<td>
															<select id="{{pt.ID}}" name="StatusScale{{pt.ID}}" ng-model="pt.TechnicalReffS" class="form-control" ng-change="VerifiedProcessCtrl.changeScale(pt)"
																	ng-options="item as item.Name | translate for item  in VerifiedProcessCtrl.listTech">
																<option value="" selected disabled>
																	-- {{'CHOOSE_TECHNICAL' | translate}} --
																</option>
															</select>
														</td>
														<td>
															<select id="{{pt.ID}}" name="StatusScale{{pt.ID}}" ng-model="pt.ScaleReffS" class="form-control" ng-change="VerifiedProcessCtrl.changeScale(pt)"
																	ng-options="item as item.Name | translate for item  in VerifiedProcessCtrl.listCompanyScale">
																<option value="" selected disabled>
																	-- {{'CHOOSE_SCALE' | translate}} --
																</option>
															</select>
														</td>
														<td>
															<button ng-click="VerifiedProcessCtrl.resetdata(pt)" type="button" class="btn btn-flat btn-primary" title="Reset"><i class="fa fa-refresh"></i>&nbsp;</button>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="modal-footer">
												<button ng-click="VerifiedProcessCtrl.save()" type="button" class="btn btn-flat btn-success" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(5)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>-->
								</div>
							</div>
						</div>
					</uib-tab>
					<!---->
					<!---->
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()">
						<uib-tab-heading>
							{{'DATA_PENGURUS' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'DATA_PENGURUS' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(6)" class="btn btn-flat btn-sm btn-primary  pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th class="text-left" style="vertical-align: middle;">No</th>
														<th class="text-left" style="vertical-align: middle;">{{'NAMA' | translate}}</th>
														<th class="text-center" style="vertical-align: middle;">{{'NO_KTP' | translate}}</th>
														<th class="text-center" style="vertical-align: middle;">{{'TGL_LAHIR' | translate}}</th>
														<th class="text-center" style="vertical-align: middle;">{{'JABATAN' | translate}}</th>
														<th class="text-center" style="vertical-align: middle;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="VerifiedProcessCtrl.compPersons.length <= 0">
														<td colspan="6" cellpadding="0">
															<div class="alert alert-info text-center">
																<span>{{'No' | translate}}</span>
															</div>

														</td>
													</tr>
													<tr ng-repeat="obj in VerifiedProcessCtrl.compPersons">
														<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
														<td style="vertical-align: middle;">{{obj.PersonName}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.NoID}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.DateOfBirth | date : "dd-MM-yyyy"}}</td>
														<td style="vertical-align: middle;">{{('POSITION_PERSON.' + obj.PositionRef) | translate}}</td>
														<td class="text-center">
															<a ng-click="VerifiedProcessCtrl.detail(2, obj)" class="btn btn-sm btn-primary" title="{{'BTN.LIHAT'|translate}}"><i class="fa fa-eye"></i>&nbsp; </a>
															<a ng-click="VerifiedProcessCtrl.openFormTenagaAhli(obj, 7)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
															<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 7)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(6)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>-->
								</div>
							</div>
						</div>

					</uib-tab>
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()">
						<uib-tab-heading>
							{{'VENDOR_EXPERT' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'VENDOR_EXPERT' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(8)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th class="text-center" style="vertical-align: middle;">No</th>
														<th class="text-center" style="vertical-align: middle;">{{'NAMA' | translate}}</th>
														<th class="text-center" style="vertical-align: middle;">{{'EDUCATION' | translate}}</th>
														<th class="text-center" style="vertical-align: middle;">{{'JABATAN' | translate}}</th>
														<th class="text-center">{{'KEAHLIAN' | translate}}</th>
														<th class="text-center" style="vertical-align: middle;">{{'EXPERIENCE' | translate}}</th>
														<th class="text-center" style="vertical-align: middle;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="VerifiedProcessCtrl.vendorexperts.length <= 0">
														<td colspan="7" cellpadding="0">
															<div class="alert alert-info text-center">
																<span>{{'No' | translate}}</span>
															</div>
														</td>
													</tr>
													<tr ng-repeat="obj in  VerifiedProcessCtrl.vendorexperts">
														<td class="text-center" style="vertical-align: middle;">{{((VerifiedProcessCtrl.pageNumber - 1) * 10) + $index + 1}}</td>
														<td style="vertical-align: middle;">{{obj.Name}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.Education|translate}}</td>
														<td style="vertical-align: middle;">{{obj.Position}}</td>
														<td style="vertical-align: middle;">{{obj.Expertise}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.YearOfExperience}}</td>
														<td class="text-center" style="vertical-align: middle!important;">
															<a ng-click="VerifiedProcessCtrl.detail(3, obj)" class="btn btn-sm btn-primary" title="{{'DETAIL' | translate}}"><i class="fa fa-external-link"></i></a>
															<a ng-click="VerifiedProcessCtrl.viewDetail(obj)" class="btn btn-sm btn-success" title="Curriculum Vitae"><i class="fa fa-external-link"></i></a>
															<a ng-click="VerifiedProcessCtrl.openFormTenagaAhli(obj, 8)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
															<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 8)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
											<ul uib-pagination boundary-links="true" total-items="VerifiedProcessCtrl.vendorexpertsCount" ng-model="VerifiedProcessCtrl.pageNumber"
												class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
												ng-change="VerifiedProcessCtrl.loadTenagaAhli()"></ul>
											<br />
											<label>{{'Total Data' | translate}}: {{VerifiedProcessCtrl.vendorexpertsCount}}</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="VerifiedProcessCtrl.flag === true">
							<hr style="margin-bottom: 5px; margin-top: 5px;" />
							<div class="row">
								<div class="col-md-12">
									<h4 class="text-center afta-font">CURRICULUM VITAE</h4>
								</div>
							</div>
							<hr style="margin-top: 5px;" />
							<div class="row">
								<div class="col-md-11 center-block well" style="float: none!important;">
									<div class="row">
										<div class="col-md-3 col-sm-12 col-xs-12 center-block">
											<label class="afta-font" style="font-size: 1.5em;">{{'JOB_EXPERIENCE' | translate}}</label>
										</div>
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th class="text-center" style="vertical-align: middle;">No</th>
															<th class="text-center" style="vertical-align: middle;">{{'START' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'UNTIL' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;">File</th>
															<th class="text-center" style="vertical-align: middle;">{{'DESCRIPTION_JOB' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-if="VerifiedProcessCtrl.CertificatePengalaman.length <= 0">
															<td colspan="7" cellpadding="0">
																<div class="alert alert-info text-center">
																	<span>{{'No' | translate}}</span>
																</div>
															</td>
														</tr>
														<tr ng-repeat="obj in VerifiedProcessCtrl.CertificatePengalaman">
															<td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
															<td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
															<td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
															<td class="text-center" style="vertical-align: middle!important;">
																<a href="{{VerifiedProcessCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;</a>
															</td>
															<td style="vertical-align: middle!important;">{{obj.Description}}</td>
															<td style="vertical-align: middle!important;">
																<a ng-click="VerifiedProcessCtrl.openForm(obj,9,true)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
																<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 9)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<hr />
									<div class="row">
										<div class="col-md-3 col-sm-12 col-xs-12 center-block">
											<label class="afta-font" style="font-size: 1.5em;">{{'EDUCATION' | translate}}</label>
										</div>
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th class="text-center" style="vertical-align: middle;">No</th>
															<th class="text-center" style="vertical-align: middle;">{{'START' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'UNTIL' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;">File</th>
															<th class="text-center" style="vertical-align: middle;">{{'DESCRIPTION_JOB' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-if="VerifiedProcessCtrl.CertificatePendidikan.length <= 0">
															<td colspan="7" cellpadding="0">
																<div class="alert alert-info text-center">
																	<span>{{'No' | translate}}</span>
																</div>
															</td>
														</tr>
														<tr ng-repeat="obj in VerifiedProcessCtrl.CertificatePendidikan">
															<td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
															<td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
															<td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
															<td class="text-center" style="vertical-align: middle!important;">
																<a href="{{VerifiedProcessCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;</a>
															</td>
															<td style="vertical-align: middle!important;">{{obj.Description}}</td>
															<td style="vertical-align: middle!important;">
																<a ng-click="VerifiedProcessCtrl.openForm(obj,10,true)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
																<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 10)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<hr />
									<div class="row">
										<div class="col-md-3 col-sm-12 col-xs-12 center-block">
											<label class="afta-font" style="font-size: 1.5em;">{{'KEAHLIAN_CERTIFICATE' | translate}}</label>
										</div>
										<div class="col-md-12">
											<div class="table-responsive">
												<table class="table table-striped table-bordered">
													<thead>
														<tr>
															<th class="text-center" style="vertical-align: middle;">No</th>
															<th class="text-center" style="vertical-align: middle;">{{'START' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'UNTIL' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;">File</th>
															<th class="text-center" style="vertical-align: middle;">{{'DESCRIPTION_JOB' | translate}}</th>
															<th class="text-center" style="vertical-align: middle;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-if="VerifiedProcessCtrl.CertificateSertifikat.length <= 0">
															<td colspan="7" cellpadding="0">
																<div class="alert alert-info text-center">
																	<span>{{'No' | translate}}</span>
																</div>
															</td>
														</tr>
														<tr ng-repeat="obj in VerifiedProcessCtrl.CertificateSertifikat">
															<td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
															<td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
															<td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
															<td class="text-center" style="vertical-align: middle!important;">
																<a href="{{VerifiedProcessCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;</a>
															</td>
															<td style="vertical-align: middle!important;">{{obj.Description}}</td>
															<td style="vertical-align: middle!important;">
																<a ng-click="VerifiedProcessCtrl.openForm(obj,11,true)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
																<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 11)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<hr />
								</div>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(8)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>-->
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()" ng-if="VerifiedProcessCtrl.verified[0].Contact.Address.State.Country.Code === 'ID'">
						<uib-tab-heading>
							{{'BREADCRUMB.STUFFS' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'BREADCRUMB.STUFFS' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="text-center">
									<h3 class="afta-font">{{'BUILDING' | translate}}</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(9)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CATEGORY' | translate}}</th>
														<th class="center-vertical">{{'TABLE.LARGE' | translate}}(M<sup>2</sup>)</th>
														<th class="center-vertical" width="30%">{{'TABLE.ADDRESS' | translate}}</th>
														<th class="center-vertical">{{'TABLE.OWNERSHIP' |translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="VerifiedProcessCtrl.listBuilding.length <= 0">
														<td colspan="7" cellpadding="0">
															<div class="alert alert-info text-center">
																<span>{{'No' | translate}}</span>
															</div>
														</td>
													</tr>
													<tr ng-repeat="obj in VerifiedProcessCtrl.listBuilding">
														<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.category.Value |translate}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.BuildingArea}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.address.AddressInfo}} {{obj.address.AddressDetail}}</td>
														<td class="text-center" style="vertical-align: middle;">{{obj.ownershipStatus.Value |translate}}</td>
														<td class="text-center" style="vertical-align: middle;">
															<a ng-click="VerifiedProcessCtrl.openFormBuilding('building',obj,false)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a>
															<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 12)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="text-center">
									<h3 class="afta-font">{{'VEHICLE' | translate}}</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
														<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
														<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
														<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CAPACITYPERSON' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
														<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.OWNERSHIP' | translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="VerifiedProcessCtrl.listVehicle.length <= 0">
														<td colspan="9" cellpadding="0">
															<div class="alert alert-info text-center">
																<span>{{'No' | translate}}</span>
															</div>
														</td>
													</tr>
													<tr ng-repeat="objc in VerifiedProcessCtrl.listVehicle">
														<td class="text-center" style="vertical-align: middle;">{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.pageSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
														<td style="vertical-align: middle;">{{objc.Name}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.Brand}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.MfgDate}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.SerialNo}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.Capacity}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.ConditionRef.Value |translate}} </td>
														<td class="text-center">{{objc.OwnershipRef.Value |translate}}</td>
														<td class="text-center" style="vertical-align: middle;">
															<a ng-click="VerifiedProcessCtrl.openFormBuilding('vehicle',objc,false)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a>
															<a ng-if="objc.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(objc, 13)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="text-center">
									<h3 class="afta-font">{{'HEAVYEQUIPMENT' | translate}}</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
														<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
														<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
														<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CAPACITYTON' | translate}}</th>
														<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
														<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.OWNERSHIP' | translate}}</th>
														<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="VerifiedProcessCtrl.listEquipmentTools.length <= 0">
														<td colspan="9" cellpadding="0">
															<div class="alert alert-info text-center">
																<span>{{'No' | translate}}</span>
															</div>
														</td>
													</tr>
													<tr ng-repeat="objc in VerifiedProcessCtrl.listEquipmentTools">
														<td class="text-center" style="vertical-align: middle;">{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.pageSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
														<td style="vertical-align: middle;">{{objc.Name}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.Brand}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.MfgDate}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.SerialNo}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.Capacity}}</td>
														<td class="text-center" style="vertical-align: middle;">{{objc.ConditionRef.Value |translate}} </td>
														<td class="text-center">{{objc.OwnershipRef.Value |translate}}</td>
														<td class="text-center" style="vertical-align: middle;">
															<a ng-click="VerifiedProcessCtrl.openFormBuilding('equipment',objc,false)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a>
															<a ng-if="objc.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(objc, 14)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(9)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>-->
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()">
						<uib-tab-heading>
							{{'TITLEEXPERIENCE'|translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'TITLEEXPERIENCE'|translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="text-center">
									<h3 class="text-center afta-font">{{'PEKERJAAN_SELESAI'|translate}}</h3>
									<h5 class="text-center afta-font" style="color:red">
										{{'TAHUN_TERAKHIR'|translate}}
									</h5>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(7)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15" style="margin-bottom: 15px;">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTS_NAME'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
												<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="VerifiedProcessCtrl.listFinishExp.length <= 0">
												<td colspan="10" cellpadding="0">
													<div class="alert alert-info text-center">
														<span>{{'No' | translate}}</span>
													</div>
												</td>
											</tr>
											<tr ng-repeat="obj in VerifiedProcessCtrl.listFinishExp">
												<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
												<td style="vertical-align: middle;">{{obj.ContractName}}</td>
												<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
												<td style="vertical-align: middle;">{{obj.Agency}}</td>
												<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
												<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
												<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
												<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
												<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
												<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
												<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
												<td class="text-center" style="vertical-align: middle;">
													<a ng-click="VerifiedProcessCtrl.detail(4, obj)" class="btn btn-flat btn-sm btn-primary">
														<i class="fa fa-eye" title="{{'DETAIL' | translate}}"></i>
													</a>
													<a ng-click="VerifiedProcessCtrl.openFormTenagaAhli(obj, 9)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
													<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 17)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>

												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="text-center">
									<h3 class="text-center afta-font">{{'LIVE_WORK'|translate}}</h3>
								</div>
							</div>
						</div>
						<div class="row" style="margin-bottom: 15px;">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTS_NAME'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
												<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
												<th class="text-center" style="vertical-align: middle;"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="VerifiedProcessCtrl.listCurrentExp.length <= 0">
												<td colspan="10" cellpadding="0">
													<div class="alert alert-info text-center">
														<span>{{'No' | translate}}</span>
													</div>
												</td>
											</tr>
											<tr ng-repeat="obj in VerifiedProcessCtrl.listCurrentExp">
												<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
												<td style="vertical-align: middle;">{{obj.ContractName}}</td>
												<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
												<td style="vertical-align: middle;">{{obj.Agency}}</td>
												<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
												<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
												<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
												<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
												<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
												<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
												<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
												<td class="text-center" style="vertical-align: middle;">
													<a ng-click="VerifiedProcessCtrl.detail(4, obj)" class="btn btn-flat btn-sm btn-primary">
														<i class="fa fa-eye" title="{{'DETAIL' | translate}}"></i>
													</a>
													<a ng-click="VerifiedProcessCtrl.openFormTenagaAhli(obj, 9)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
													<a ng-if="obj.IsActive === true" ng-click="VerifiedProcessCtrl.deleteObj(obj, 17)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a>

												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									<!--<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(7)" class="btn btn-flat btn-sm btn-primary" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>-->
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()">
						<uib-tab-heading>
							{{'TITLE_DOC'|translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'TITLE_DOC'|translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(1)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row" style="margin-bottom: 15px;">
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-striped table-bordered">
												<thead>
													<tr>
														<th class="text-center">{{'TABLE.NO'|translate}}</th>
														<th class="text-center">{{'TABLE.DOC_NAME'|translate}}</th>
														<th class="text-center" style="width: 300px; min-width: 300px; vertical-align: middle;">{{'TABLE.DOC_NUMBER'|translate}}</th>
														<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.VALID_UNTIL'|translate}}</th>
														<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="dok in VerifiedProcessCtrl.document">
														<td class="text-center">{{$index + 1}}</td>
														<td class="text-center">{{dok.DocumentName|translate}}</td>
														<td class="text-center">{{dok.DocumentNo}}</td>
														<td class="text-center">{{dok.ValidDateConverted}}</td>
														<td class="text-center">
															<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.detail(16, dok)" title="{{'BTN.LIHAT' | translate}}"><i class="fa fa-file-o"></i></a>
															<a ng-click="VerifiedProcessCtrl.openForm(dok, 16,true)" class="btn btn-flat btn-sm btn-warning" title="Edit"><i class="fa fa-edit"></i></a>
															<a class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.deleteObj(dok, 16)" title="{{'DELETE' | translate}}"><i class="fa fa-trash-o"></i></a>
														</td>
													</tr>
													<tr ng-if="VerifiedProcessCtrl.document.length === 0">
														<td colspan="5">
															<div class="alert alert-info text-center">
																<span>{{'No' | translate}}</span>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
											<small><b></b> </small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>

								</div>
							</div>
						</div>
					</uib-tab>
					<!--bank detail-->
					<uib-tab ng-click="VerifiedProcessCtrl.addFlag()">
						<uib-tab-heading>
							{{'BANK_DETAIL' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'BANK_DETAIL' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 ">
								<a ng-click="VerifiedProcessCtrl.exportDataPerusahaan(3)" class="btn btn-flat btn-sm btn-primary pull-right" title="{{'Export Data Perusahaan'|translate}}"><i class="fa fa-print"></i> {{'Export Data Perusahaan'|translate}}</a>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th class="text-center" style="vertical-align:middle">{{'NO' | translate}}</th>
												<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'ACCOUNT_NO' | translate}}</th>
												<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'ACCOUNT_NAME' | translate}}</th>
												<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'BANK_NAME' | translate}}</th>
												<th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'BRANCH' | translate}}</th>
												<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'SWIFT_CODE' | translate}}</th>
												<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'CURRENCY' | translate}}</th>
												<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'PASSBOOK' | translate}}</th>
												<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="bankDetail in VerifiedProcessCtrl.bankdetail.List">
												<td class="text-center">{{$index + 1}}</td>
												<td class="text-center">{{bankDetail.AccountNo}}</td>
												<td class="text-center">{{bankDetail.AccountName}}</td>
												<td class="text-center">{{bankDetail.BankName}}</td>
												<td class="text-center">{{bankDetail.Branch}}</td>
												<td class="text-center">{{bankDetail.SwiftCode}}</td>
												<td class="text-center">{{bankDetail.CurrencyName}}</td>
												<td class="text-center"><a href="{{VerifiedProcessCtrl.folderFile + bankDetail.UrlDoc}}" target="_BLANK" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></td>
												<td class="text-center">
													<a ng-click="VerifiedProcessCtrl.updateBankDetail(bankDetail)" class="btn btn-flat btn-sm btn-warning" title="{{'UBAH' | translate}}"><i class="fa fa-edit"></i></a>
													<a class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.deleteBankDetail(bankDetail)" title="{{'HAPUS' | translate}}"><i class="fa fa-trash-o"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.bankdetail.Count===0">
												<td colspan="9" class="text-center"> 
													<div class="alert alert-info text-center">
														<span>{{'NO_DATA' | translate}}</span>
													</div>
												 </td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row turun-15">
							<div class="col-md-12">
								<div class="pull-right">
									<button class="btn btn-flat btn-sm btn-danger" ng-click="VerifiedProcessCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
									
								</div>
							</div>
						</div>
					</uib-tab>
					<!--end-->
				</uib-tabset>
                <div class="row">
                    <div class="col-md-12">
                        <a class="btn btn-flat btn-xs btn-primary" title="{{'Detail' | translate}}"><i class="fa fa-eye"></i></a> : {{'Detail' | translate}} &nbsp;
                        <a class="btn btn-flat btn-xs btn-warning" role="button" title="{{'Edit'|translate}}"><i class="fa fa-edit"></i></a> : {{'Edit'|translate}} &nbsp;
                        <a class="btn btn-flat btn-xs btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-ban"></i></a> : {{'NON_ACTIVE'|translate}} &nbsp;
                        <a class="btn btn-flat btn-xs btn-primary" title="{{'DOWNLOAD' | translate}}"><i class="fa fa-download"></i> </a> : {{'DOWNLOAD' | translate}} 

                    </div>
                </div>
			</div>

		</div>
	</div>
</section>
