<style>
    .view {
        margin: auto;
        width: 600px;
    }

    .wrapper {
        position: relative;
        overflow: auto;
        border: 1px solid black;
        white-space: nowrap;
    }

    .sticky-col {
        position: sticky;
        position: -webkit-sticky;
        background-color: white;
    }

    .first-col {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        left: 0px;
    }

    .second-col {
        width: auto;
        min-width: auto;
        max-width: auto;
        left: 100px;
    }
    .third-col {
        width: auto;
        min-width: auto;
        max-width: auto;
        left: 349px;
    }

    .back-blue {
        color: white;
        background: blue;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
    }
    .back-green {
        color: white;
        background: green;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
    }
    .back-gray {
        color: black;
        background: gray;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
    }
    .back-orange {
        color: black;
        background: orange;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
    }
    .back-red {
        color: black;
        background: red;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
    }
    .back-yellow {
        color: black;
        background: yellow;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
    }
    .back-brown {
        color: white;
        background: brown;
        border-radius: 5px;
        font-size: 12px;
        padding: 5px;
    }
</style>
<!-- Main content -->
<section class="content" ng-init="verifikasiDataCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a href="#/data-rekanan/verifikasi-data/">{{'BREADCRUMB.DATA_VENDOR_MANAGE' | translate}}</a></li>
	</ol>
	<div class="row center">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<form method="post" role="form" ng-submit="tenderStepCtrl.pencarian()">
							<div class="col-md-5">
								<h3 class="afta-font judul-datatabel">{{'BREADCRUMB.DATA_VENDOR_MANAGE' | translate}}</h3>
							</div>
						</form>
					</div>
					<div class="row well" style="margin-left:1px;margin-right:1px">
						<!--<div class="row">
							<label>Filter</label>
						</div>-->
						<div class="row">
							<div class="col-md-5">
								<label>{{'SELECT.SEARCHBY' | translate}}</label>
								<select id="cmbStatus" name="cmbStatus" ng-model="verifikasiDataCtrl.Status" class="form-control" ng-change="verifikasiDataCtrl.show()"
										ng-options="item as item.Name | translate for item  in verifikasiDataCtrl.listDropdown">
									<option value="" selected disabled>
										-- {{'SELECT.SEARCHBY' | translate}} --
									</option>
								</select>
							</div>
							<!--<div class="col-md-3">
								<label>{{'SELECT.SEARCHBY_QUEST' | translate}}</label>
								<select id="cmbStatus" name="cmbStatus" ng-model="verifikasiDataCtrl.statusApprv" class="form-control" ng-change="verifikasiDataCtrl.show()"
										ng-options="item as item.Name | translate for item  in verifikasiDataCtrl.listDropdown2">
									<option value="" selected disabled>
										-- {{'SELECT.SEARCHBY_QUEST' | translate}} --
									</option>
								</select>
							</div>-->
							<div class="col-md-3">
								<label>Tanggal Pendaftaran</label>
								<div class="input-group date form_datetime">
									<input readonly required class="form-control" ng-change="verifikasiDataCtrl.verifyStartDate(verifikasiDataCtrl.verifikasi.EndDate,verifikasiDataCtrl.verifikasi.StartDate)" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="verifikasiDataCtrl.isCalendarOpened[0]" placeholder="{{'SELECT.START_DATE' | translate}}" ng-model="verifikasiDataCtrl.verifikasi.StartDate" ng-click="verifikasiDataCtrl.openCalendar(0)" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"  ng-click="verifikasiDataCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</div>
							<div class="col-md-1" style="margin-top: 30px;margin-right:-25px">
								<label>s/d</label>
							</div>
							<div class="col-md-3">
								<label>  </label>
								<div class="input-group date form_datetime" style="margin-top:3px">
									<input readonly required class="form-control" placeholder="{{'SELECT.END_DATE' | translate}}" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="verifikasiDataCtrl.isCalendarOpened[1]" ng-model="verifikasiDataCtrl.verifikasi.EndDate" ng-click="verifikasiDataCtrl.openCalendar(1)" ng-change="verifikasiDataCtrl.verifyEndDate(verifikasiDataCtrl.verifikasi.EndDate,verifikasiDataCtrl.verifikasi.StartDate)" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="verifikasiDataCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-5 turun-15" ng-if="verifikasiDataCtrl.typelogin!=='L2' && verifikasiDataCtrl.IsViewDetail == true">
							<div class="input-group" style="width: 428px;">
								<input style="width: -webkit-fill-available;position: absolute;" type="text" placeholder="{{'CARI_PERUSAHAAN' | translate}}" ng-model="verifikasiDataCtrl.nCompany" class="form-control">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-flat btn-primary" ng-click="verifikasiDataCtrl.show()" style="z-index:20">
										<i class="fa fa-search"></i> {{'CARI' | translate}}
									</button>
								</span>
							</div>
						</div>
						<div class="col-md-9 turun-15" ng-if="verifikasiDataCtrl.IsViewDetail != true">
							<div class="input-group" style="margin-top: 2px;">
								<input style="width: -webkit-fill-available;position: absolute;" type="text" placeholder="{{'CARI_PERUSAHAAN' | translate}}" ng-model="verifikasiDataCtrl.nCompany" class="form-control">
								<span class="input-group-btn">
									<button type="submit" class="btn btn-flat btn-primary" ng-click="verifikasiDataCtrl.show()" style="z-index:20">
										<i class="fa fa-search"></i> {{'CARI' | translate}}
									</button>
								</span>
							</div>
						</div>

						<div class="col-md-2">
							<a class="btn btn-flat btn-primary turun-15" ng-if="verifikasiDataCtrl.typelogin!=='L2' && verifikasiDataCtrl.IsViewDetail == true" style="float:right!important;margin-left:3px;margin-right:3px" ng-click="verifikasiDataCtrl.approval()" title="{{'DATA_APPROVAL' | translate}}">
								<i class="fa fa-paste"></i>&nbsp;{{'DATA_APPROVAL' | translate}}
							</a>
						</div>
						<div class="col-md-2">
							<button ng-if="verifikasiDataCtrl.IsViewDetail == true" ng-click="verifikasiDataCtrl.exportDataVendor()" class="btn btn-flat btn-warning turun-15" title="{{'EXPORT_DATA' | translate}}" style="float:right!important;margin-left:3px;margin-right:-4px"><i class="fa fa-file-excel-o"></i> {{'EXPORT_DATA' | translate}}</button>
						</div>
						<div class="col-md-3">
							<a class="btn btn-flat btn-success turun-15" style="float:right!important;margin-left:3px;margin-right:3px;" href="#/data-rekanan/register-vendor" title="Form Registrasi Vendor (Manual)">
								<i class="fa fa-pencil"></i>&nbsp;Form Registrasi Vendor (Manual)
							</a>
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-md-12">
							<div class="table table-responsive text-nowrap" style="padding-bottom: 10px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center sticky-col first-col" style="vertical-align:middle">{{'TABLE.NO' | translate}}</th>
											<th class="text-center sticky-col second-col" style="vertical-align:middle">{{'TABLE.NAMA' | translate}}</th>
											<th class="text-center sticky-col third-col" style="vertical-align:middle">{{'TABLE.STATUS' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.AREA' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.CREATEDDATE' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.ACTIVEDDATE' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.VERIFIEDSENDDATE' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.VERIFIEDDATE' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.NONACTIVEDATE' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.TENDERCODE' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.DESCRIPTION' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.VENDOR_CATE' | translate}}</th>
											<th class="text-center" width="80%">{{'TABLE.PERM_STATUS' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.EPROC_CODE' | translate}}</th>
											<th class="text-center" style="vertical-align:middle">{{'TABLE.SAP_CODE' | translate}} </th>
											<th class="text-center" style="vertical-align:middle">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="rek in verifikasiDataCtrl.verifikasidata">
											<td class="text-center sticky-col first-col" style="vertical-align: middle;">{{verifikasiDataCtrl.currentPage > 1 ? (verifikasiDataCtrl.fullSize * (verifikasiDataCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td class="sticky-col second-col" style="vertical-align: middle;">{{rek.VendorName}}</td>
											<td class="text-center sticky-col third-col" style="vertical-align: middle;">
												<span class="back-green" ng-if="rek.StatusVend == 0">&nbsp;{{'SELECT.VERIFIED' | translate }}</span><!--verifikasi-->
												<span class="back-gray" ng-if="rek.StatusVend == 1">&nbsp; {{'SELECT.END_VERIFIED' | translate }}</span><!--gak diverifikasi-->
												<span class="back-blue"ng-if="rek.StatusVend == 2">&nbsp;{{'SELECT.NOT_VERIFIED' | translate }}</span><!--belum terverifikasi-->
												<span class="back-orange" ng-if="rek.StatusVend == 3">&nbsp;{{'SELECT.ACTIVED' | translate }}</span><!--aktifasi-->
												<span class="back-brown" ng-if="rek.StatusVend == 4">&nbsp;{{'SELECT.END_ACTIVED' | translate }}</span><!--gak ke aktifasi-->
												<span class="back-yellow" ng-if="rek.StatusVend == 5">&nbsp;{{'SELECT.NOT_ACTIVED' | translate }}</span><!--belum aktifasi-->
												<span class="back-red" ng-if="rek.StatusVend == 6">&nbsp; {{'SELECT.NOT_ACTIVE' | translate }}</span><!--gak aktif-->
											</td>
											<td style="vertical-align: middle;">{{rek.keterangan | translate}}</td>
											<td class="text-center" style="vertical-align: middle;">
												<span>&nbsp;{{rek.CreatedDate | date: 'dd-MM-yyyy'}}</span>
											</td>
											<td ng-if="rek.ActivedDate != null " class="text-center" style="vertical-align: middle;">
												<span>&nbsp;{{rek.ActivedDate | date: 'dd-MM-yyyy'}}</span>
											</td>
											<td ng-if="rek.ActivedRejectedDate !== null " class="text-center" style="vertical-align: middle;">
												<span>&nbsp;{{rek.ActivedRejectedDate | date: 'dd-MM-yyyy'}}</span>
											</td>
											<td ng-if="rek.ActivedDate == null && rek.ActivedRejectedDate == null" class="text-center" style="vertical-align: middle;"></td>
											<td ng-if="rek.VerifiedSendDate !== null" class="text-center" style="vertical-align: middle;">
												<span>&nbsp;{{rek.VerifiedSendDate | date: 'dd-MM-yyyy'}}</span>
											</td>
											<td ng-if="rek.VerifiedSendDate == null" class="text-left" style="vertical-align: middle;"></td>

											<td ng-if="rek.VerifiedDate !== null" class="text-center" style="vertical-align: middle;">
												<span>&nbsp;{{rek.VerifiedDate | date: 'dd-MM-yyyy'}}</span>
											</td>
											<td ng-if="rek.VerifiedRejectedDate !== null" class="text-center" style="vertical-align: middle;">
												<span>&nbsp;{{rek.VerifiedRejectedDate | date: 'dd-MM-yyyy'}}</span>
											</td>
											<td ng-if="rek.VerifiedDate == null && rek.VerifiedRejectedDate == null" class="text-left" style="vertical-align: middle;"></td>
											<td ng-if="!(rek.StatusVend == 6)" class="text-left" style="vertical-align: middle;"></td>
											<td ng-if="rek.StatusVend == 6" class="text-center" style="vertical-align: middle;">
												<span>&nbsp;{{rek.LastInactiveApprovalDate | date: 'dd-MM-yyyy'}}</span>
											</td>
											<td class="text-center" style="vertical-align: middle;">
												{{rek.TenderCodeTemp}}
											</td>
											<td class="text-center" style="vertical-align: middle;">{{rek.Description}}</td>

											<td class="text-center">{{rek.categoryvendor | translate}}</td>
											<td class="text-left">
												<ol style="margin-left:0px!important;padding-left:10px!important;">
													<li style="margin-left:0px!important;" ng-repeat="vl in rek.VendorLicense">{{vl.LicenseName}}: {{vl.Status}}</li>
												</ol>
											</td>
											<td class="text-center">{{rek.Code}}</td>
											<td class="text-center" ng-hide="rek.Isverified == '1' && (rek.SAPCode == null || rek.SAPCode == '')">{{rek.SAPCode}}</td>
											<td class="text-center" ng-if="rek.Isverified == '1' && (rek.SAPCode == null || rek.SAPCode == '')">
												<a title="Send to SAP" ng-click="verifikasiDataCtrl.sendToSAP(rek)" class="btn btn-flat btn-sm btn-success" style="cursor: pointer;">
													<i class="fa fa-database"></i>&nbsp;
												</a>
											</td>
											<td class="text-center">

												<!--Tess-->
												<a ng-if="rek.StatusVend == 5 && verifikasiDataCtrl.IsViewDetail == true" title="{{'ACTV_DETAIL' | translate}}" ng-click="verifikasiDataCtrl.add(0,rek, rek.TenderName)" class="btn btn-flat btn-sm btn-primary" style="cursor: pointer;">
													<i class="fa fa-eye"></i>
												</a>
												<a ng-if="(rek.Isverified !== null || (rek.VerifiedSendDate !== null && rek.Isverified === null)) && verifikasiDataCtrl.IsViewDetail == true" title="{{'VERIV_DETAIL' | translate}}" ng-click="verifikasiDataCtrl.addVerifikasi(rek)" class="btn btn-flat btn-sm btn-primary" style="cursor: pointer;">
													<i class="fa fa-eye"></i>
												</a>
												<a ng-if="rek.IsActived !== null && rek.VerifiedSendDate == null && rek.Isverified == null && verifikasiDataCtrl.IsViewDetail == true" title="{{'ACTVDATA_DETAIL' | translate}}" ng-click="verifikasiDataCtrl.add(1,rek, rek.TenderName)" class="btn btn-flat btn-sm btn-primary" style="cursor: pointer;">
													<i class="fa fa-eye"></i>&nbsp;
												</a>
												<a ng-if="rek.IsActive === true && rek.IsNonActiveTemp === null && verifikasiDataCtrl.flagButton === false && rek.Isverified === 1 && verifikasiDataCtrl.IsViewDetail == true" title="{{'DISACT_VENDOR' | translate}}" ng-click="verifikasiDataCtrl.editActive(false,rek)" class="btn btn-flat btn-sm btn-danger" style="cursor: pointer;">
													<i class="fa fa-ban"></i>
												</a>
												<a ng-if="rek.IsActive === false && rek.IsNonActiveTemp === null && verifikasiDataCtrl.flagButton === false && rek.Isverified === 1 && verifikasiDataCtrl.IsViewDetail == true" title="{{'ACT_VENDOR' | translate}}" ng-click="verifikasiDataCtrl.editActive(true,rek)" class="btn btn-flat btn-sm btn-danger" style="cursor: pointer;">
													<i class="fa fa-check-circle"></i>
												</a>
												<a ng-if="rek.IsNonActiveTemp === true && verifikasiDataCtrl.IsViewDetail == true" title="{{'DETAIL_APPROVAL' | translate}}" ng-click="verifikasiDataCtrl.Detailapproval(rek)" class="btn btn-flat btn-sm btn-primary" style="cursor: pointer;">
													<i class="fa fa-sitemap"></i>
												</a>
												<a ng-if="rek.ActivedRejectedDate !== null && (rek.IsDeleted==false||rek.IsDeleted==null)" title="{{'BTN.DELETE_DEACTIVATEDVENDOR' | translate}}" ng-click="verifikasiDataCtrl.deleteInactiveVendor(rek)" class="btn btn-flat btn-sm btn-danger" style="cursor: pointer;">
													<i class="fa fa-times-circle"></i>
												</a>
												<a ng-if="rek.ActivedRejectedDate !== null && rek.IsDeleted==true" title="{{'BTN.DELETE_DEACTIVATEDVENDOR' | translate}}" ng-click="verifikasiDataCtrl.deleteInactiveVendor(rek)" class="btn btn-flat btn-sm btn-danger disabled" style="cursor: pointer;">
													<i class="fa fa-times-circle"></i>
												</a>
												<a title="{{'EDIT_CODE' | translate}}" ng-click="verifikasiDataCtrl.formUpdateSAPCode(rek.VendorID,rek.SAPCode)" class="btn btn-flat btn-sm btn-warning" style="cursor: pointer;">
													<i class="fa fa-edit"></i>
												</a>
												<a ng-if="(rek.Isverified == null && rek.VerifiedSendDate !== null && rek.IsActived == true) && rek.RegistrationApprovalStatus.Name === 'RFQ_DRAFT' && verifikasiDataCtrl.IsViewDetail == true" 
                                                   title="Kirim Approval" ng-click="verifikasiDataCtrl.sendRegistrationApproval(rek)" 
                                                   class="btn btn-flat btn-sm btn-success" style="cursor: pointer;">
													<i class="fa fa-send"></i>
												</a>
												<a ng-if="(rek.Isverified !== null || rek.VerifiedSendDate !== null) && rek.RegistrationApprovalStatus.Name !== 'RFQ_DRAFT' && verifikasiDataCtrl.IsViewDetail == true" title="Detail Approval" ng-click="verifikasiDataCtrl.registrationApprovalDetail(rek.VendorID)" class="btn btn-flat btn-sm btn-primary" style="cursor: pointer;">
													<i class="fa fa-sitemap"></i>
												</a>
											</td>
										</tr>
										<tr ng-if="verifikasiDataCtrl.verifikasidata.length === 0"><td colspan="13">{{'NO_DATA' | translate}}</td></tr>
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="verifikasiDataCtrl.totalItems" ng-model="verifikasiDataCtrl.currentPage"
								class="pagination-sm" previous-text="&lsaquo;" max-number="verifikasiDataCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
								ng-change="verifikasiDataCtrl.jLoad(verifikasiDataCtrl.currentPage)" max-size="10"></ul>
							<br />
							<label>{{'TOTAL_DATA' | translate}} : {{verifikasiDataCtrl.totalItems}}</label>
						</div>
						<!--<div class="col-sd-2 col-md-5">
							<a class="btn btn-flat btn-success turun-15" ng-if="verifikasiDataCtrl.typelogin!=='L2' && verifikasiDataCtrl.IsViewDetail == true" style="float:right!important" ng-click="verifikasiDataCtrl.approval()" title="{{'DATA_APPROVAL' | translate}}">
								<i class="fa fa-paste"></i>&nbsp;
							</a>
							<button ng-if="verifikasiDataCtrl.IsViewDetail == true" ng-click="verifikasiDataCtrl.exportDataVendor()" class="btn btn-flat btn-success turun-15" title="{{'EXPORT_DATA' | translate}}" style="float:right!important"><i class="fa fa-file-excel-o"></i></button>
							<a class="btn btn-flat btn-primary turun-15" style="float:right!important" href="#/data-rekanan/register-vendor" title="Form Registrasi Vendor (Manual)">
								<i class="fa fa-pencil"></i>&nbsp;
							</a>
						</div>-->
					</div>
                    <div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-3">
									<a title="{{'ACTV_DETAIL' | translate}}" class="btn btn-flat btn-xs btn-primary" style="cursor: default;"><i class="fa fa-eye"></i></a> : {{'ACTV_DETAIL' | translate}}
								</div>
								<div class="col-md-3">
									<a title="{{'DISACT_VENDOR' | translate}}" class="btn btn-flat btn-xs btn-danger" style="cursor: default;"><i class="fa fa-ban"></i></a> : {{'DISACT_VENDOR' | translate}}
								</div>
								<div class="col-md-3">
									<a title="{{'EDIT_CODE' | translate}}" class="btn btn-flat btn-xs btn-warning" style="cursor: default;"> <i class="fa fa-edit"></i></a> :  {{'EDIT_CODE' | translate}}
								</div>
								<div class="col-md-3">
									<a title="{{'ACT_VENDOR' | translate}}" class="btn btn-flat btn-xs btn-danger" style="cursor: default;"><i class="fa fa-check-circle"></i></a> : {{'ACT_VENDOR' | translate}}
								</div>
							</div>
							<div class="row turun-15">
								<div class="col-md-3">
									<a title="{{'DETAIL_APPROVAL' | translate}}" class="btn btn-flat btn-xs btn-primary" style="cursor: default;"> <i class="fa fa-sitemap"></i></a> : {{'DETAIL_APPROVAL' | translate}}
								</div>
								<div class="col-md-3">
									<a title="{{'BTN.DELETE_DEACTIVATEDVENDOR' | translate}}" class="btn btn-flat btn-xs btn-danger" style="cursor: default;"> <i class="fa fa-times-circle"></i></a> : {{'BTN.DELETE_DEACTIVATEDVENDOR' | translate}}
								</div>
								<div class="col-md-3">
									<a title="Kirim Approval" class="btn btn-flat btn-xs btn-success" style="cursor: default;"> <i class="fa fa-send"></i></a> : Kirim Approval
								</div>
								<div class="col-md-3">
									<a title="Send to SAP" class="btn btn-flat btn-xs btn-success" style="cursor: pointer;"><i class="fa fa-database"></i></a> : Send to SAP
								</div>
							</div>
						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
