﻿<div class="modal-content" ng-init="DetailTenagaAhliCtrl.init()">
    <div class="modal-header">
        <button type="button" ng-click="DetailTenagaAhliCtrl.batal()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL_TITLE'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>{{'DETAIL_EXPERTS.NAME'|translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Name}}</dd>
                            <dt>{{'DETAIL_EXPERTS.BIRTHDATE'|translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.DateOfBirth | date: 'dd-MM-yyyy'}}</dd>
                            <dt>{{'DETAIL_EXPERTS.GENDER'|translate}}</dt>
                            <dd ng-if="DetailTenagaAhliCtrl.item.Gender === 'M'">{{'DETAIL_EXPERTS.MALE'|translate}}</dd>
                            <dd ng-if="DetailTenagaAhliCtrl.item.Gender === 'F'">{{'DETAIL_EXPERTS.FEMALE'|translate}}</dd>
                            <dt>{{'DETAIL_EXPERTS.ADDRESS'|translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.address.AddressInfo}}</dd>
                            <dt>{{'DETAIL_EXPERTS.EDUCATION'|translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Education |translate}}</dd>
                            <dt>{{'DETAIL_EXPERTS.CITIZENSHIP'|translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.country.Name}}</dd>
                            <dt>{{'DETAIL_EXPERTS.POSITION'|translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Position|translate}}</dd>
                            <dt>{{'DETAIL_EXPERTS.EXPERIENCE'|translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.YearOfExperience}} {{'DETAIL_EXPERTS.YEAR'|translate}}</dd>
                            <!--
                            <dt>Email</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Email}}</dd>-->
                            <dt>{{'DETAIL_EXPERTS.EMPLOYEE_STATUS'|translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Statusperson.Value|translate}}</dd>
                            <dt>{{'DETAIL_EXPERTS.EXPERTIZE_DESC'|translate}}</dt>
                            <dd>
                                <p>
                                    {{DetailTenagaAhliCtrl.item.Expertise}}
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary"
                ng-click="DetailTenagaAhliCtrl.batal()"
                data-dismiss="modal" title="{{'BTN.BACK'|translate}}">
            <i class="fa fa-arrow-circle-left"></i>
        </button>
    </div>
</div>
