
<div class="container-fluid" ng-init="TenagaAhliController.initialize()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.EXPERTS' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <h3 class="text-center afta-font">{{'VENDOR_EXPERT' | translate}}</h3>
                    <h5 class="text-center afta-font"><em>{{'NOTFORGOODS' | translate}}</em></h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button ng-if="TenagaAhliController.isEntry == true || TenagaAhliController.IsNeedRevision == true" type="button" class="btn btn-flat btn-primary" ng-click="TenagaAhliController.TambahTenagaAhli(obj)">
                                    <i class="fa fa-plus-circle"></i> {{'ADD' | translate}}
                                </button>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                   
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">{{'NO' | translate}}</th>
                                                        <th class="text-center">{{'FORM.NAME' | translate}}</th>
                                                        <th class="text-center">{{'FORM.EDUCATION' | translate}}</th>
                                                        <th class="text-center">{{'FORM.POSITION' | translate}}</th>
                                                        <th class="text-center">{{'EXPERIENCE' | translate}}</th>
                                                        <th class="text-center">{{'KEAHLIAN' | translate}}</th>
                                                        <th class="text-center">**) {{'COMPLETE_CV_DETAIL' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="obj in TenagaAhliController.listExpertPrequal">
                                                        <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Name}}</td>
                                                        <td class="text-center" style="vertical-align: middle;">{{obj.Education|translate}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Position}}</td>
                                                        <td class="text-center" style="vertical-align: middle;">{{obj.YearOfExperience}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Expertise}}</td>
                                                        <td class="text-center" style="vertical-align: middle;">
                                                            <a ng-click="TenagaAhliController.lihatDetail(obj)" class="btn btn-sm btn-warning" title="{{'BTN.LIHAT_DETAIL'|translate}}">
                                                                <i class="fa fa-external-link"></i>
                                                            </a>
                                                            <a ng-if="TenagaAhliController.isEntry === true || TenagaAhliController.IsNeedRevision == true" ng-click="TenagaAhliController.UbahTenagaAhli(obj)" class="btn btn-sm btn-primary" title="{{'BTN.UBAH'|translate}}">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            <a ng-click="TenagaAhliController.viewdetail(obj, true)" class="btn btn-sm btn-success" title="{{'BTN.DETAIL_CV'|translate}}">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </a>
                                                            <a ng-if="obj.IsActive === true && (TenagaAhliController.isEntry === true || TenagaAhliController.IsNeedRevision == true)" ng-click="TenagaAhliController.HapusData(obj, false)" class="btn btn-sm btn-danger" title="{{'BTN.HAPUS' | translate}}">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="TenagaAhliController.vendorexperts.length === 0">
                                                        <td colspan="7">{{'TIDAK_ADA_DATA' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 ng-if="TenagaAhliController.flagDetail == 1" class="afta-font text-center">{{'COMPLETE_CV_DETAIL' | translate}}</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12"  ng-if="TenagaAhliController.flag == 1">
                                        <h5 class="box-title"><strong>{{'NAME' | translate}} : {{TenagaAhliController.namavendor}}</strong></h5>
                                        <hr style="margin-bottom: 5px; margin-top: 5px;" />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4 class="text-center afta-font">CURRICULUM VITAE</h4>
                                            </div>
                                        </div>
                                        <hr style="margin-top: 5px;" />
                                        <div class="row">
                                            <div class="col-md-11 center-block well" style="float: none!important;">
                                                <div class="row">
                                                    <div class="col-md-3 col-sm-12 col-xs-12 center-block">
                                                        <label class="afta-font" style="font-size: 1.5em;">{{'EXPERIENCE_WORK' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                                                        <button ng-if="TenagaAhliController.isEntry == true || TenagaAhliController.IsNeedRevision == true" ng-click="TenagaAhliController.DetailCertificate(TenagaAhliController.vendorexpertsCertificate[0], true,1)" class="btn btn-sm btn-primary pull-right" role="button" title="{{'BTN.TAMBAH'|translate}}">
                                                            <i class="fa fa-plus-circle"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                                        <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                                        <th class="text-center" style="vertical-align: middle;">{{'Deskripsi Pekerjaan'|translate}}</th>
                                                                        <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="obj in TenagaAhliController.jobexp">
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                                            <a href="{{TenagaAhliController.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="{{'BTN.DOWNLOAD'|translate}}"><i class="fa fa-download"></i>&nbsp;</a>
                                                                        </td>
                                                                        <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                                            <a ng-if="TenagaAhliController.isEntry == true || TenagaAhliController.IsNeedRevision == true" ng-click="TenagaAhliController.DetailCertificate(obj, false,1)" class="label label-flat label-sm label-primary" role="button" title="{{'BTN.UBAH'|translate}}"><i class="fa fa-edit"></i></a>
                                                                            <a ng-if="TenagaAhliController.isEntry == true || TenagaAhliController.IsNeedRevision == true" ng-click="TenagaAhliController.hapusdetail(obj, false)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS'|translate}}"><i class="fa fa-trash-o"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-if="TenagaAhliController.listJob.length == 0"><td colspan="6"> {{'TIDAK_ADA_DATA'|translate}}</tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12 col-xs-12 center-block">
                                                        <label class="afta-font" style="font-size: 1.5em;">{{'EDUCATION' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-9 col-sm-12 col-xs-12 center-block" ng-if="TenagaAhliController.isEntry == true || TenagaAhliController.IsNeedRevision == true">
                                                        <button ng-click="TenagaAhliController.DetailCertificate(TenagaAhliController.vendorexpertsCertificate[0], true,2)" class="btn btn-sm btn-primary pull-right" role="button" title="{{'BTN.TAMBAH' | translate}}">
                                                            <i class="fa fa-plus-circle"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                                        <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                                        <th class="text-center" style="vertical-align: middle;">{{'Deskripsi Pendidikan'|translate}}</th>
                                                                        <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="obj in TenagaAhliController.diploma">
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                                            <a href="{{TenagaAhliController.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="{{'BTN.DOWNLOAD'|translate}}"><i class="fa fa-download"></i>&nbsp;</a>
                                                                        </td>
                                                                        <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                                            <a ng-if="TenagaAhliController.isEntry === true || TenagaAhliController.IsNeedRevision == true" ng-click="TenagaAhliController.DetailCertificate(obj, false,2)" class="label label-flat label-sm label-primary" role="button" title="{{'BTN.UBAH'|translate}}"><i class="fa fa-edit"></i></a>
                                                                            <a ng-if="TenagaAhliController.isEntry === true || TenagaAhliController.IsNeedRevision == true" ng-click="TenagaAhliController.hapusdetail(obj, false)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS'|translate}}"><i class="fa fa-trash-o"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-if="TenagaAhliController.listEducation.length == 0"><td colspan="6"> {{'TIDAK_ADA_DATA' | translate}}</tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12 col-xs-12 center-block">
                                                        <label class="afta-font" style="font-size: 1.5em;">{{'KEAHLIAN_CERTIFICATE' | translate}}</label>
                                                    </div>
                                                    <div class="col-md-9 col-sm-12 col-xs-12 center-block" ng-if="TenagaAhliController.isEntry == true || TenagaAhliController.IsNeedRevision == true">
                                                        <button ng-click="TenagaAhliController.DetailCertificate(TenagaAhliController.vendorexpertsCertificate[0], true,3)" class="btn btn-sm btn-primary pull-right" role="button" title="{{'BTN.TAMBAH' | translate}}">
                                                            <i class="fa fa-plus-circle"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                                        <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                                        <th class="text-center" style="vertical-align: middle;">{{'Deskripsi Sertifikat'|translate}}</th>
                                                                        <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="obj in TenagaAhliController.certificate">
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                                            <a href="{{TenagaAhliController.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="{{'BTN.DOWNLOAD'|translate}}"><i class="fa fa-download"></i>&nbsp;</a>
                                                                        </td>
                                                                        <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                                            <a ng-if="TenagaAhliController.isEntry === true || TenagaAhliController.IsNeedRevision == true" ng-click="TenagaAhliController.DetailCertificate(obj, false,3)" class="label label-flat label-sm label-primary" role="button" title="{{'BTN.UBAH'|translate}}"><i class="fa fa-edit"></i></a>
                                                                            <a ng-if="TenagaAhliController.isEntry === true || TenagaAhliController.IsNeedRevision == true" ng-click="TenagaAhliController.hapusdetail(obj, false)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS'|translate}}"><i class="fa fa-trash-o"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr ng-if="TenagaAhliController.listCertificate.length == 0"><td colspan="6"> {{'TIDAK_ADA_DATA' | translate}}</tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 center-block text-center">
                            <a href="#/assessment-prakualifikasi-detail/{{TenagaAhliController.PrequalStepAssID}}/{{TenagaAhliController.VendorPrequalID}}" class="btn btn-primary" title="{{'KEMBALI'|translate}}" >
                                <i class="fa fa-arrow-circle-left"></i>
                            </a>
                            <a ng-if="TenagaAhliController.isEntry === true || TenagaAhliController.IsNeedRevision == true" class="btn btn-success" ng-click="TenagaAhliController.Submit(true)" title="{{'SETUJU' | translate}}">
                                <i class="fa fa-check"></i>
                            </a>
                            <a ng-if="TenagaAhliController.isEntry === true || TenagaAhliController.IsNeedRevision == true"class="btn btn-danger" ng-click="TenagaAhliController.notvalid()" title="{{'TIDAK_SETUJU'|translate}}" ng-disabled="TenagaAhliController.valid==false">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                        <div class="center-block text-center" ng-if="TenagaAhliController.valid==false">
                            <div class="row margin-atas">
                                <div class="col-md-6 col-md-offset-3">
                                    <label>{{'Alasan'|translate}}</label>
                                    <textarea class="form-control" ng-model="TenagaAhliController.remark" placeholder="{{'Alasan'|translate}}"></textarea>
                                    <a class="btn btn-success" ng-click="TenagaAhliController.Submit(false)">
                                        <i class="fa fa-save"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
