﻿<div ng-init="dokKontrakCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.MASTER_DOKUMEN_KONTRAK' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'LABEL.DOKUMEN_KONTRAK' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <select class="form-control" ng-model="action" ng-change="dokKontrakCtrl.act(action)" style="margin-left: 10px;">
                                        <option value="">{{'LABEL.SEARCH_BY' | translate}}</option>
                                        <option value="1">{{'LABEL.DOCNAME' | translate}}</option>
                                        <option value="2">{{'LABEL.BUSINESS_FIELD' | translate}}</option>
                                        <option value="3">{{'LABEL.TENDER_TYPE' | translate}}</option>
                                        <option value="4">Status</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group pull-left" ng-if="dokKontrakCtrl.action == '1'">
                                    <input type="text" class="form-control" placeholder="{{'LABEL.CARI_NAMA_DOKUMEN' | translate}}" ng-model="keyword">
                                    <span class="input-group-btn">
                                        <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dokKontrakCtrl.cari(keyword)" title="{{'CARI'|translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="input-group pull-left" ng-if="dokKontrakCtrl.action == '2'">
                                    <select class="form-control" ng-model="businessField" ng-change="dokKontrakCtrl.ubahbf(businessField)" style="margin-right: 15px;">
                                        <option value="">{{'LABEL.ALL' | translate}}</option>
                                        <option value="{{bf.ID}}" ng-repeat="bf in dokKontrakCtrl.dataBusinessField">{{bf.Name}}</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dokKontrakCtrl.cari(keyword)" title="{{'CARI'|translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                                <div class="input-group pull-left" ng-if="dokKontrakCtrl.action == '3'">
                                    <select class="form-control" ng-model="tenderType" ng-change="dokKontrakCtrl.ubahTenderType(tenderType)" style="margin-right: 15px;">
                                        <option value="">{{'LABEL.ALL' | translate}}</option>
                                        <option value="{{tt.RefID}}" ng-repeat="tt in dokKontrakCtrl.dataTenderType">{{tt.Value | translate}}</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dokKontrakCtrl.cari(keyword)" title="{{'CARI'|translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="input-group pull-left" ng-if="dokKontrakCtrl.action == '4'">
                                    <select class="form-control" ng-model="status" ng-change="dokKontrakCtrl.ubahStatus(status)" style="margin-right: 15px;">
                                        <option value="">{{'LABEL.ALL' | translate}}</option>
                                        <option value="1">{{'LABEL.AKTIF' | translate}}</option>
                                        <option value="0">{{'LABEL.TIDAKAKTIF' | translate}}</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dokKontrakCtrl.cari(keyword)" title="{{'CARI'|translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <span class="input-group-btn">
                                    <button type="button" style="float:right;" class="btn btn-flat btn-success" ng-click="dokKontrakCtrl.tambah()" title="{{'BTN.TAMBAH' | translate}}">
                                        <i class='fa fa-plus-circle'></i>
                                    </button>
                                </span>
                            </div>

                        </div>

                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.DOCNAME' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.BUSINESSFIELD' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.TENDERTYPE' | translate}}</th>
                                            <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Status</th>
                                            <th class="text-center" style="width: 120px; min-width: 50px; vertical-align: middle;">{{'TABLE.ACTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in dokKontrakCtrl.docs">
                                            <td class="text-center">{{dokKontrakCtrl.currentPage > 1 ? (dokKontrakCtrl.pageSize * (dokKontrakCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td>{{data.DocumentName}}</td>
                                            <td>{{data.BusinessFieldName}}</td>
                                            <td>{{data.TenderTypeName | translate}}</td>
                                            <td class="text-center">
                                                <span ng-if="data.IsActive == 1">{{'LABEL.AKTIF' | translate}}</span>
                                                <span ng-if="data.IsActive == 0">{{'LABEL.TIDAKAKTIF' | translate}}</span>
                                            </td>
                                            <td class="text-center">
                                                <button ng-click="dokKontrakCtrl.edit(data.ID)" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-flat btn-sm btn-danger" ng-if="data.IsActive == 1" ng-click="dokKontrakCtrl.nonAktif(data)" title="{{'BTN.NONAKTIF' | translate}}"><i class="fa fa-power-off"></i></button>
                                                <button class="btn btn-flat btn-sm btn-success" ng-if="data.IsActive == 0" ng-click="dokKontrakCtrl.aktif(data)" title="{{'BTN.AKTIF' | translate}}"><i class="fa fa-check"></i></button>
                                            </td>
                                        </tr>
                                        <tr ng-if="dokKontrakCtrl.docs.length === 0"> <td colspan="9"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>Total items: {{dokKontrakCtrl.totalItems}}</label>
                        </div>
                    </div>
                    <div class="row" ng-if="dokKontrakCtrl.totalItems > 10">
                        <div class="col-md-7">
                            <ul uib-pagination total-items="dokKontrakCtrl.totalItems" max-size="10"
                                ng-model="dokKontrakCtrl.currentPage" items-per-page="dokKontrakCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="dokKontrakCtrl.jLoad(dokKontrakCtrl.currentPage)"></ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-flat btn-sm btn-success"><i class="fa fa-plus-circle"></i></button> : {{'BTN.TAMBAH' | translate}} &nbsp;&nbsp;
                            <button class="btn btn-flat btn-sm btn-warning"><i class="fa fa-edit"></i></button> : {{'BTN.UBAH' | translate}} &nbsp;&nbsp;
                            <button class="btn btn-flat btn-sm btn-danger"><i class="fa fa-power-off"></i></button> : {{'BTN.NONAKTIF' | translate}} &nbsp;&nbsp;
                            <button class="btn btn-flat btn-sm btn-success"><i class="fa fa-check"></i></button> : {{'BTN.AKTIF' | translate}} &nbsp;&nbsp;
                            <button class="btn btn-flat btn-sm btn-primary"><i class="fa fa-search"></i></button> : {{'BTN.SEARCH' | translate}} &nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
