﻿<div ng-init="dokKontrakFormCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a href="#/dokumen-kontrak">{{'BREADCRUMB.MASTER_DOKUMEN_KONTRAK' | translate}}</a></li>
		<li ng-if="dokKontrakFormCtrl.isAdd == 1"><a class="active">{{'BREADCRUMB.MASTER_DOKUMEN_KONTRAK_FORM_ADD' | translate}}</a></li>
		<li ng-if="dokKontrakFormCtrl.isAdd == 0"><a class="active">{{'BREADCRUMB.MASTER_DOKUMEN_KONTRAK_FORM_EDIT' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 ng-if="dokKontrakFormCtrl.isAdd == 0" class="afta-font">{{'LABEL.DOKUMEN_KONTRAK_UBAH' | translate}}</h3>
							<h3 ng-if="dokKontrakFormCtrl.isAdd == 1" class="afta-font">{{'LABEL.DOKUMEN_KONTRAK_TAMBAH' | translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{'TABLE.DOCNAME' | translate}}* </label>
								<input type="text" class="form-control" maxlength="50"
									   ng-model="dokKontrakFormCtrl.DocumentName"
									   placeholder="{{'TABLE.DOCNAME' | translate}}">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{'TABLE.TENDERTYPE' | translate}}* </label>
								<select class="form-control" ng-model="tenderType" ng-change="dokKontrakFormCtrl.ubahTenderType(tenderType)">
									<option value="">{{'LABEL.PILIH' | translate}}</option>
									<option value="{{tt.RefID}}" ng-repeat="tt in dokKontrakFormCtrl.dataTenderType" ng-selected="tt.RefID == dokKontrakFormCtrl.tenderType">{{tt.Value | translate}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{'TABLE.BUSINESSFIELD' | translate}}* </label>
								<select class="form-control" ng-model="businessField" ng-change="dokKontrakFormCtrl.ubahbf(businessField)">
									<option value="">{{'LABEL.PILIH' | translate}}</option>
									<option value="{{bf.ID}}" ng-repeat="bf in dokKontrakFormCtrl.dataBusinessField" ng-selected="bf.ID == dokKontrakFormCtrl.businessField">{{bf.Name}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{'TABLE.JENISTENDER' | translate}}* </label>
								<select class="form-control" ng-model="jenisTender" ng-change="dokKontrakFormCtrl.ubahJenisTender(jenisTender)">
									<option value="">{{'LABEL.PILIH' | translate}}</option>
									<option value="{{jt.RefID}}" ng-repeat="jt in dokKontrakFormCtrl.dataJenisTender" ng-selected="jt.RefID == dokKontrakFormCtrl.jenisTender">{{jt.Value | translate}}</option>
								</select>
							</div>
						</div>

					</div>
					
					
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<small> ( <span ng-repeat="ft in dokKontrakFormCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{dokKontrakFormCtrl.idUploadConfigs[0].Size}} {{dokKontrakFormCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
								<input type="file" class="form-control" ng-file-select="dokKontrakFormCtrl.selectUpload()" ng-model="dokKontrakFormCtrl.fileUpload" name="ownerIDFile" required accept="{{dokKontrakFormCtrl.idFileTypes}}" />
							</div>
						</div>
						<div class="col-md-4" ng-if="dokKontrakFormCtrl.isAdd == 0">
							<div class="pull-left">
								<a href="{{dokKontrakFormCtrl.folderFile + dokKontrakFormCtrl.Dokumen_Url}}" class="btn btn-primary" style="margin-top:19px;" target="_blank" title="{{'BTN.DOWNLOAD' | translate}}"><i class="fa fa-download"></i></a>
								<button class="btn btn-primary" style="margin-top:19px" title="{{'LABEL.LIHAT_DOCUMENT' | translate}}" ng-click="dokKontrakFormCtrl.RedirectDocument()"><i class="fa fa-eye"></i></button>
							</div>
						</div>
					</div>
					<p></p>
					<div class="row" style="margin-top: 15px;">
						<div class="col-md-12">
							<div class="pull-right">
								<button ng-click="dokKontrakFormCtrl.back()" class="btn btn-flat btn-danger" title="{{'BTN.KEMBALI' | translate}}"><i class="fa fa-reply"></i> {{'BTN.KEMBALI' | translate}}</button>
								<button ng-click="dokKontrakFormCtrl.uploadFile()" class="btn btn-flat btn-success" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i> {{'BTN.SIMPAN' | translate}}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>