﻿<!-- Main content -->
<div ng-init="manufacturerCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a>{{'BREADCRUMB.MASTER_MANUFACTURER' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="col-md-1">
                            <div class="text-left">
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="afta-font judul-datatabel">{{'DATA_MANUFACTURER' | translate}}</h3>
                            </div>
                            <div class="col-md-5">
                                <form method="post" role="form" ng-submit="manufacturerCtrl.searchData()">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="{{'SEARCH_KEY' | translate}}" ng-model="manufacturerCtrl.keyword" />
                                        <span class="input-group-btn">
                                            <button ng-click="manufacturerCtrl.loadSteps()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <pagination ng-show="manufacturerCtrl.totalItems > 10" total-items="manufacturerCtrl.totalItems" page="manufacturerCtrl.currentPage" items-per-page="10" max-size="manufacturerCtrl.maxSize" on-select-page="manufacturerCtrl.loadSteps(page)"></pagination>
                            </div>
                            <div class="col-md-5">
                                <a class="btn btn-flat btn-primary turun-15" style="float:right!important" ng-if="manufacturerCtrl.allowAdd" ng-click="manufacturerCtrl.addManufacturer()" title="{{'ADD' | translate}}">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px;">{{'TABLE.NO' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; width: 400px; min-width: 400px;">{{'TABLE.NAMA' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.DESKRIPSI' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; width: 90px; min-width: 90px;">{{'TABLE.STATUS' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; width: 90px; min-width: 90px;">{{'TABLE.ACTION' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in manufacturerCtrl.dataManufacturer">
                                                <td style="vertical-align: middle;">{{manufacturerCtrl.currentPage > 1 ? (manufacturerCtrl.maxSize * (manufacturerCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{data.ManufacturerName | translate}}</td>
                                                <td style="vertical-align: middle;">{{data.Description | translate}}</td>
                                                <td ng-if="data.IsActive === true" class="text-center" style="vertical-align: middle;">{{'ACTIVE' | translate }}</td>
                                                <td ng-if="data.IsActive === false" class="text-center" style="vertical-align: middle;">{{'INACTIVE' | translate }}</td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <a ng-if="manufacturerCtrl.allowDelete && data.IsActive" ng-click="manufacturerCtrl.inactivateManufacturer(data.ID)" class="btn btn-flat btn-sm btn-danger" title="{{'INACTIVATE' | translate }}">
                                                        <i class='fa fa-times-circle'></i>
                                                    </a>
                                                    <a ng-if="manufacturerCtrl.allowDelete && !data.IsActive" ng-click="manufacturerCtrl.activateManufacturer(data.ID)" class="btn btn-flat btn-sm btn-success" title="{{'ACTIVATE' | translate }}">
                                                        <i class='fa fa-check-square-o'></i>
                                                    </a>
                                                    <a ng-if="manufacturerCtrl.allowEdit && !data.IsActive" ng-click="manufacturerCtrl.editManufacturer(data.ID)" class="btn btn-flat btn-sm btn-warning" title="{{'EDIT' | translate}}">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr ng-if="manufacturerCtrl.totalItems === 0">
                                                <td colspan="6">{{'NO_DATA' | translate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <ul uib-pagination boundary-links="true" total-items="manufacturerCtrl.totalItems" ng-model="manufacturerCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="manufacturerCtrl.pageChanged()"></ul><br />
                                <!--<pagination ng-show="manufacturerCtrl.totalItems > 10" total-items="manufacturerCtrl.totalItems" page="manufacturerCtrl.currentPage" items-per-page="10" max-size="manufacturerCtrl.maxSize" on-select-page="manufacturerCtrl.loadSteps(page)"></pagination><br />-->
                                <label>{{'TOTAL_DATA' | translate }} : {{manufacturerCtrl.totalItems}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/ng-template" id="addModalManufacturer.html">
    <div class="modal-content">
        <form>
            <div class="modal-header">
                <h3 class="afta-font">{{'ADD_MANUFACTURER_TITLE' | translate }}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-gorup">
                            <label>{{'MANUFACTURER_NAME'| translate }}</label>
                            <input type="text" class="form-control" ng-model="addManufacturerCtrl.namaJenisPemasok" required />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'MANUFACTURER_DESKRIPSI' | translate}}</label>
                            <textarea ng-model="addManufacturerCtrl.deskripsi" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-danger" ng-click="addManufacturerCtrl.closeModal()" title="{{'BACK'|translate}}">
                    <i class="fa fa-reply"></i>
                </button>
                <button type="submit" class="btn btn-flat btn-success" ng-click="addManufacturerCtrl.createManufacturer()" title="{{'SAVE'|translate}}">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="editModalManufacturer.html">
    <div class="modal-content">
        <form>
            <div class="modal-header">
                <h3 class="afta-font">{{'EDIT_MANUFACTURER_TITLE' | translate}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-gorup">
                            <label>{{'MANUFACTURER_NAME' | translate}}</label>
                            <input type="text" class="form-control" ng-model="editManufacturerCtrl.namaJenisPemasok" required />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'MANUFACTURER_DESKRIPSI' | translate}}</label>
                            <textarea ng-model="editManufacturerCtrl.deskripsi" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-danger" ng-click="editManufacturerCtrl.closeModal()" title="{{'BACK'|translate}}">
                    <i class="fa fa-reply"></i>
                </button>
                <button type="submit" class="btn btn-flat btn-success" ng-click="editManufacturerCtrl.updateManufacturerSave()" title="{{'SAVE'|translate}}">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </form>
    </div>
</script>


<script type="text/ng-template" id="inactivateModalManufacturer.html">
    <div class="model-content">
        <div class="modal-header">
            <h3 class="box-title">{{'INACTIVATE_MANUFACTURER' | translate}}</h3>
        </div>
        <div class="modal-body">
            <h4 style="text-align: left;">{{'INACTIVATE_CONFIRM' | translate}}</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="inactivateManufacturerCtrl.closeModal()" title="{{'BACK'|translate}}">
                <i class="fa fa-reply"></i>
            </button>
            <button type="submit" class="btn btn-flat btn-success" ng-click="inactivateManufacturerCtrl.inactivateManufacturerSave()" title="{{'SAVE'|translate}}">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="activateModalManufacturer.html">
    <div class="model-content">
        <div class="modal-header">
            <h3 class="box-title">{{'ACTIVATE_MANUFACTURER' | translate}}</h3>
        </div>
        <div class="modal-body">
            <h4 style="text-align: left;">{{'ACTIVATE_CONFIRM' | translate}}</h4>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="activateManufacturerCtrl.closeModal()" title="{{'BACK'|translate}}">
                <i class="fa fa-reply"></i>
            </button>
            <button type="submit" class="btn btn-flat btn-success" ng-click="activateManufacturerCtrl.activateManufacturerSave()" title="{{'SAVE'|translate}}">
                <i class="fa fa-save"></i>
            </button>
        </div>

    </div>
</script>

<script>
	$(document).ready(function () {
		$('[data-toggle="popover"]').popover({ html: true, placement: "right" });
		//        $("[data-toggle='popover']").popover('show');
	});

</script>