﻿<section ng-init="PPGVHSCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
		<li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.PENGADAAN'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.STAGES_DETAIL'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.PEMILIHAN'|translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'CONTRACT'|translate}} (Internal)</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>{{'START_DATE'|translate}}: {{PPGVHSCtrl.detail[0].StartDate| date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'END_DATE'|translate}}: {{PPGVHSCtrl.detail[0].EndDate| date: "dd-MM-yyyy HH:mm"}}</label>
						</div>

						<div class="col-md-8">
							<label>{{'TENDER_NAME'|translate}}: {{PPGVHSCtrl.detail[0].TenderName}}</label>
						</div>
						<div class="col-md-12" ng-if="PPGVHSCtrl.step.tender.IsCancelled">
							<label class="text-red"><i>({{'CANCEL_TENDER' | translate}})</i></label>
						</div>
					</div>
					<div class="row pull-right">
						<div class="col-md-12">
							<button ng-if="PPGVHSCtrl.flagExcel === true" type="button" class="btn btn-flat btn-sm btn-warning" ng-click="PPGVHSCtrl.createExcel()">
								<i class="fa fa-file-excel-o" aria-hidden="true"> {{'BTN.CREATE_EXCEL'|translate}}</i>
							</button>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px; height: 500px; width:auto;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">No</th>
											<th class="text-center" style="vertical-align: middle;">{{'TABLE.GOODS_OFFERDETAIL.VENDORNAME' | translate}}</th>
											<th class="text-center" style="vertical-align: middle;">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_OFFER' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:170px; width:260px;">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTSTART' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:50px; width:260px;">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTDURATION' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:120px; width:260px;">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTEND' | translate}} (Vendor)</th>
											<th class="text-center" style="vertical-align: middle; min-width:120px; width:260px;">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTEND' | translate}} (Internal)</th>
											<th class="text-center" style="vertical-align: middle; min-width:140px; width:260px;">{{'TABLE.GOODS_OFFERDETAIL.CONTRACTNO' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:250px; width:260px;">Tax Code</th>
											<th class="text-center" style="vertical-align: middle; min-width:250px; width:260px;">Storage Location</th>
											<th class="text-center" style="vertical-align: middle; min-width:150px; width:260px;">{{'TABLE.GOODS_OFFERDETAIL.OFFERENTRYEXPIRED' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:150px; width:260px;">{{'TABLE.SUMMARY'| translate}}</th>
											<th class="text-center" style="vertical-align: middle;">Status</th>
											<th class="text-center" style="vertical-align: middle;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in PPGVHSCtrl.detail">
											<td class="center-vertical">{{$index+1}}</td>
											<td class="center-vertical">{{eval.VendorName}}</td>
											<td class="center-vertical">{{eval.CurrNego}} {{eval.NegoPrice | currency: ""+ labelcurr +" "}}</td>
											<td class="center-vertical">
												<div class="input-group date form_datetime">
													<input ng-disabled="!PPGVHSCtrl.isAllowedEdit || eval.ApprovalStatusReff.Name == 'CR_APPROVED'" required class="form-control" size="16" type="text" datepicker-options="eval.StartMinDate" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="PPGVHSCtrl.isCalendarOpened[$index]" ng-model="eval.StartContractDate" ng-click="PPGVHSCtrl.openCalendar($index)" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" datepicker-options="eval.StartMinDate" ng-click="PPGVHSCtrl.openCalendar($index)"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</td>
											<td class="center-vertical">
												<input ng-disabled="!PPGVHSCtrl.isAllowedEdit || eval.ApprovalStatusReff.Name == 'CR_APPROVED'" class="form-control input-group-sm" type="text" ng-model="eval.Duration" />
											</td>
											<td class="center-vertical" ng-if="eval.FinishContractDate !== null ">{{eval.FinishContractDate | date: "dd-MM-yyyy"}}</td>
											<td class="center-vertical" ng-if="eval.FinishContractDate  === null "></td>
											<td class="center-vertical" ng-if="eval.FinishContractDate  === null "></td>
											<td class="center-vertical" ng-if="eval.FinishContractDate  !== null ">{{eval.FinishContractPVIDate | date: "dd-MM-yyyy"}}</td>
											<td class="center-vertical"><input class="form-control input-group-lg" type="text" ng-model="eval.SAPContractNo" /></td>
											<td class="center-vertical">
												<select ng-disabled="!PPGVHSCtrl.isAllowedEdit || eval.ApprovalStatusReff.Name == 'CR_APPROVED'" class="form-control input-sm" ng-model="eval.selectTaxCode"
														ng-options="item as item.Code + ' | ' + item.Description for item in eval.listTaxCode">
													<option value="" selected>
														-- Tax Code --
													</option>
												</select>
											</td>
											<td class="center-vertical">
												<select ng-disabled="!PPGVHSCtrl.isAllowedEdit || eval.ApprovalStatusReff.Name == 'CR_APPROVED'" class="form-control input-sm" ng-model="eval.selectStoreLoc"
														ng-options="item as item.Description for item in eval.listStoreLoc">
													<option value="" selected>-- Storage Location --</option>
												</select>
											</td>
											<td class="center-vertical">
												{{eval.ExpDate| date: "dd-MM-yyyy"}}
											</td>
											<td class="center-vertical">
												<div class="input-group date form_datetime">
													<input class="form-control input-sm" ng-click="PPGVHSCtrl.openSummary(eval)" ng-disabled="!PPGVHSCtrl.isAllowedEdit || eval.ApprovalStatusReff.Name == 'CR_APPROVED'" type="text" ng-model="eval.Summary" />
												</div>
											</td>
											<td class="center-vertical">
												{{eval.ApprovalStatusReff.Value | translate}}
											</td>
											<td class="text-center">
												<!--<button title="{{'BTN.SEND_SAP' | translate}}" ng-if="PPGVHSCtrl.isAllowedEdit && eval.flagEmp == 0 && eval.Status ==='Draft'&& eval.flagTemp == 1 && (eval.SAPCode === '' || eval.SAPCode === null) && (eval.NoSAPApprovalStatus === '' || eval.NoSAPApprovalStatus === 'REJECT')" class="btn btn-flat btn-warning" ng-click="PPGVHSCtrl.sendToApproveL1L2(eval)">
													<i class="fa fa-check"></i>
												</button>
												<button title="{{'BTN.DETAIL_APPROVAL_SAP' | translate}}" ng-if="PPGVHSCtrl.isAllowedEdit && eval.flagEmp == 0 && eval.flagTemp == 1 && (eval.SAPCode === '' || eval.SAPCode === null) && (eval.NoSAPApprovalStatus === 'ONPROCESS' || eval.NoSAPApprovalStatus === 'APPROVE' || eval.NoSAPApprovalStatus === 'REJECT')" class="btn btn-flat btn-success " ng-click="PPGVHSCtrl.detailApprovalL1L2(eval)">
													<i class="fa fa-sitemap"></i>
												</button>-->
												<button ng-hide="(eval.SAPCode === '' || eval.SAPCode === null) && eval.NoSAPApprovalStatus !== 'APPROVE'" title="{{'BTN.SEND' | translate}}" ng-if="PPGVHSCtrl.isAllowedEdit && eval.flagEmp == 0 && eval.Status ==='Draft'&& eval.flagTemp == 1" class="btn btn-flat btn-primary " ng-click="PPGVHSCtrl.sendToApprove(eval)">
													<i class="fa fa-check"></i>
												</button>
												<button title="Approve" ng-if="(eval.flagEmp == 2) || ((eval.flagEmp != 2 && eval.flagEmp != 0) && eval.Status !== undefined) " class="btn btn-flat btn-primary" ng-click="PPGVHSCtrl.detailApproval(1, eval)">
													<i class="fa fa-check"></i>
												</button>
												<button ng-if="PPGVHSCtrl.isAllowedEdit && eval.ID !== 0 && PPGVHSCtrl.flagSave === true " type="button" class="btn btn-flat btn-warning" ng-click="PPGVHSCtrl.edit(eval)" title="{{'BTN.UPLOAD'|translate}}">
													<i class="fa fa-upload" aria-hidden="true"></i>
												</button>
												<a ng-if="eval.ID !== 0 && eval.DocumentUrl != null" target="_blank" type="button" class="btn btn-flat btn-success" title="Download File" href="{{PPGVHSCtrl.folderFile+eval.DocumentUrl}}">
													<i class="fa fa-download" aria-hidden="true"></i>
												</a>
												<button ng-if="eval.Status !== 'Draft'" class="btn btn-flat btn-primary" title="{{'BTN.DETAIL_APPROVAL'|translate}}" ng-click="PPGVHSCtrl.detailApproval(2, eval)">
													<i class="fa fa-sitemap"></i>
												</button>
												<!--<button type="button" title="Standard Award Report" class="btn btn-flat btn-sm btn-default" ng-click="PPGVHSCtrl.awardReport(eval.VendorID)">
													<i class='fa fa-file-o'></i>&nbsp;
												</button>-->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10"></div>
						<div class="col-md-2 text-right">
							<button ng-if="PPGVHSCtrl.flagSave === true" type="button" title="{{'BTN.SAVE'|translate}}" class="btn btn-flat btn-success" ng-click="PPGVHSCtrl.simpan()">
								<i class="fa fa-floppy-o" aria-hidden="true"></i> {{'BTN.SAVE' | translate}}
							</button>&nbsp;&nbsp;
							<button class="btn btn-flat btn-default" title="Print Preview" ng-click="PPGVHSCtrl.printExport()">
								<i class="glyphicon glyphicon-print"></i>
							</button>
						</div>
					</div>
					<div class="row">
						<br />
						<div class="col-md-12">
							{{'CONTRACTDURATION' | translate}} (Internal):
						</div>
						<div class="col-md-12" ng-if="PPGVHSCtrl.detail[0].RFQType === 2">
							FPA : {{'CONTRACTDURATIONORIGINAL' | translate}} + <input type="text" class="text-center" ng-model="PPGVHSCtrl.detail[0].durrA" style="width:25px;" /> + <input type="text" class="text-center" ng-model="PPGVHSCtrl.detail[0].durrB" style="width:25px;" /><br />
						</div>
						<div class="col-md-12" ng-if="PPGVHSCtrl.detail[0].RFQType === 1">
							VHS : {{'CONTRACTDURATIONORIGINAL' | translate}} + <input type="text" class="text-center" ng-model="PPGVHSCtrl.detail[0].durrA" style="width:25px;" /> + <input type="text" class="text-center" ng-model="PPGVHSCtrl.detail[0].durrB" style="width:25px;" /><br />
						</div>
					</div>
					<div class="row">
						<!--
						<div class="col-md-12">
								<pagination total-items="totalItems" page="currentPage" items-per-page="10"
																max-size="maxSize" on-select-page="jLoad2(page)"ng-show="totalItems>10"></pagination>
						</div>
						-->
						<div class="col-md-10">
							<pagination total-items="totalItems" page="currentPage" items-per-page="10" max-size="maxSize" on-select-page="jLoad2(page)" ng-show="totalItems > 10"></pagination>
						</div>
						<div ng-if="userBisaMengatur" class="col-md-2">
							<div class="col-md-12 turun-15" style="float:right"><label>Total Data : {{totalItems}}</label></div>
						</div>
					</div>
					<div ng-hide="true" class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div id="tableToExport" class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">No.</th>
											<th class="text-center">Vendor</th>
											<th class="text-center">Material</th>
											<th class="text-center">Info Record</th>
											<th class="text-center">Purchasing Org</th>
											<th class="text-center">Plant</th>
											<th class="text-center">Standard</th>
											<th class="text-center">Consignment</th>
											<th class="text-center">Material Group</th>
											<th class="text-center">1st Rem./Exped</th>
											<th class="text-center">2nd Rem./Exped</th>
											<th class="text-center">3rs Rem./Exped</th>
											<th class="text-center">Vendor Mat. No.</th>
											<th class="text-center">Vendor Subrange</th>
											<th class="text-center">VSR Sort No.</th>
											<th class="text-center">Vendor Mat. Grp</th>
											<th class="text-center">Points</th>
											<th class="text-center">Unit</th>
											<th class="text-center">Salesperson</th>
											<th class="text-center">Telephone</th>
											<th class="text-center">Return Agmt</th>
											<th class="text-center">Prior Vendor</th>
											<th class="text-center">Certif. Cat.</th>
											<th class="text-center">Certificate</th>
											<th class="text-center">Valid to</th>
											<th class="text-center">Ctry of Origin</th>
											<th class="text-center">Region</th>
											<th class="text-center">Number</th>
											<th class="text-center">Manufacturer</th>
											<th class="text-center">Available from</th>
											<th class="text-center">Available to</th>
											<th class="text-center">Regular Vendor</th>
											<th class="text-center">Pl. Deliv Time</th>
											<th class="text-center">Tol. Underdl.</th>
											<th class="text-center">Purch Group</th>
											<th class="text-center">Currency</th>
											<th class="text-center">Tol. Overdl.</th>
											<th class="text-center">Standard Qty</th>
											<th class="text-center">Conf. Ctrl</th>
											<th class="text-center">Minimum Qty</th>
											<th class="text-center">Tax Code</th>
											<th class="text-center">Rem Shelf Life</th>
											<th class="text-center">Shipping Instr.</th>
											<th class="text-center">Handl. Type</th>
											<th class="text-center">Procedure</th>
											<th class="text-center">ED Pricing</th>
											<th class="text-center">Max Quanitity</th>
											<th class="text-center">Rndg Prof.</th>
											<th class="text-center">UoM Group</th>
											<th class="text-center">Net Price</th>
											<th class="text-center">Price Unit</th>
											<th class="text-center">Valid to</th>
											<th class="text-center">Cond. Grp</th>
											<th class="text-center">Pr. Date Cat.</th>
											<th class="text-center">Incoterms-1</th>
											<th class="text-center">Incoterms-2</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in PPGVHSCtrl.vendor">
											<td class="center-vertical">{{$index + 1}}</td>
											<td class="text-center">{{eval.VendorCode}}</td>
											<td class="text-center">{{eval.Material}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.PurchasingOrg}}</td>
											<td class="text-center">{{eval.Plant}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.Consignment}}</td>
											<td class="text-center">{{eval.MaterialGroup}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.Unit}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.CertifCat}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.ValidTo | date: "dd-MM-yyyy"}}</td>
											<td class="text-center">{{eval.CtryofOrigin}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.Manufacturer}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.PurchGroup}}</td>
											<td class="text-center">{{eval.VendorCurency}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.StandardQty}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.NetPrice}}</td>
											<td class="text-center">{{eval.PriceUnit}}</td>
											<td class="text-center">{{eval.ValidTo | date: "dd-MM-yyyy"}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.Incoterms1}}</td>
											<td class="text-center">{{eval.Incoterms2}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
