﻿<div id="lakukanEvaluasi" class="modal-content" ng-init="vhsfpaSummaryController.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="vhsfpaSummaryController.batal()" title="{{'BTN.CLOSE'|translate}}">
			<span aria-hidden="true">&times;</span><span class="sr-only"></span>
		</button>
		<h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'CONTRACT_SUMMARY'|translate}}</h3>
		<h5>{{'TABLE.VENDORNAME' | translate}} : {{vhsfpaSummaryController.VendorName}}</h5>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-info">
							<div class="box-header">
								<h4 class="box-title afta-font">Summary</h4>
							</div><!-- /.box-header -->
							<div class="box-body pad">
								<form>
									<textarea ng-disabled="vhsfpaSummaryController.isReadOnly" ng-model="vhsfpaSummaryController.Summary" rows="7" cols="80"></textarea>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-hide="vhsfpaSummaryController.isReadOnly" ng-click="vhsfpaSummaryController.save()" type="button" class="btn btn-flat btn-success" title="{{'BTN.SAVE'|translate}}">
			<i class="fa fa-save"></i>
		</button>
		<button type="button" class="btn btn-flat btn-danger" ng-click="vhsfpaSummaryController.batal()" title="{{'BTN.CANCEL'|translate}}">
			<i class="fa fa-reply"></i>
		</button>
	</div>
</div>