﻿<div id="idTambahDepartemen" class="modal-content" ng-init="formDepartCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="formDepartCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{formDepartCtrl.action | translate}} {{'DATA_DEPARTEMEN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12" style="float: none!important;">
                <div class="col-md-9">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4">{{'Kode Departemen'|translate}}</label>
                            <div class="col-sm-10 col-md-10">
                                <input type="text" ng-model="formDepartCtrl.kode_depart" class="form-control" placeholder="{{'Kode Departemen'|translate}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="float: none!important;">
                <div class="col-md-9">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4">{{'Nama Departemen'|translate}}</label>
                            <div class="col-sm-12 col-md-12">
                                <input type="text" ng-model="formDepartCtrl.nama_depart" class="form-control" placeholder="{{'Nama Departemen'|translate}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" style="float: none!important">
                    <div class="form-horizontal">
                         <div class="form-group">
                             <div class="col-sm-9 col-md-9">
                                <select class="form-control" ng-model="formDepartCtrl.budgetType" ng-options="budget as budget.Code for budget in formDepartCtrl.listBudget">
                                    <option value="" style="display:none;">{{'SELECT_BUDGET' | translate}}</option>
                                </select>
                             </div>
                             <div class="col-sm-2 col-md-2 ">
                                 <button class="btn btn-success" ng-click="formDepartCtrl.tambahListBudget()" title="{{'TAMBAH_DATA'| translate}}"><i class="fa fa-plus"></i></button>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-9" style="float: none!important">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px">{{'TABLE.NO' | translate}}</th>
                                    <th class="text-center" style="vertical-align: middle; width: 80px; min-width: 80px">{{'TABLE.BUDGET_TYPE' | translate}}</th>
                                    <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="bt in formDepartCtrl.BudgetTypeData track by $index">
                                    <td class="text-center" style="vertical-align: middle;">{{formDepartCtrl.currentPage > 1 ? (formDepartCtrl.pageSize * (formDepartCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td class="middle-vertical">{{bt.MstBudgetType.Code}}</td>
                                    <td class="text-center" style="vertical-align: middle;">
                                       <button class="btn btn-danger" ng-click="formDepartCtrl.hapusListBudget(bt)" title="{{'TABLE.DELETE'| translate}}">
                                           <i class="fa fa-times"></i>
                                       </button>
                                    </td>
                                </tr>
                                <tr ng-if="formDepartCtrl.BudgetTypeData.length == 0">
                                    <td colspan="3">{{'NO_DATA'| translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="formDepartCtrl.batal()" title="{{'BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button type="button" class="btn btn-flat btn-success" ng-click="formDepartCtrl.simpan()" title="{{'SIMPAN'|translate}}">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>
