<section class="content" ng-init="WLReportServiceCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.PERFORMASUPPLIER' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Performa Kontraktor {{WLReportServiceCtrl.datenow | date:"yyyy"}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-left" width="120px" style="vertical-align: middle;">LOKAL</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[0].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.jasaLokal[0].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[1].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.jasaLokal[1].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[2].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.jasaLokal[2].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[3].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.jasaLokal[3].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[4].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.jasaLokal[4].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[5].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.jasaLokal[5].EndDate | date:"MMM yyyy"}}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Kontraktor Aktif</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[0].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[1].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[2].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[3].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[4].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[5].PerformaSupplierData.ActiveSupplier}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Supplier WL</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[0].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[1].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[2].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[3].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[4].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[5].PerformaSupplierData.SupplierWL}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Vendor Performa</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[0].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[1].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[2].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[3].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[4].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[5].PerformaSupplierData.VendorPerforma}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">% Performa</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[0].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[1].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[2].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[3].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[4].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.jasaLokal[5].PerformaSupplierData.PersentasePerforma}} %</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-left" width="120px"  style="vertical-align: middle;">NASIONAL</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[0].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.kontraktornasional[0].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[1].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.kontraktornasional[1].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[2].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.kontraktornasional[2].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[3].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.kontraktornasional[3].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[4].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.kontraktornasional[4].EndDate | date:"MMM yyyy"}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[5].StartDate | date:"MMM yyyy"}} - {{WLReportServiceCtrl.kontraktornasional[5].EndDate | date:"MMM yyyy"}}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Kontraktor Aktif</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[0].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[1].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[2].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[3].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[4].PerformaSupplierData.ActiveSupplier}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[5].PerformaSupplierData.ActiveSupplier}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Kontraktor WL</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[0].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[1].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[2].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[3].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[4].PerformaSupplierData.SupplierWL}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[5].PerformaSupplierData.SupplierWL}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">Vendor Performa</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[0].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[1].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[2].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[3].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[4].PerformaSupplierData.VendorPerforma}}</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[5].PerformaSupplierData.VendorPerforma}}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">% Performa</th>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[0].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[1].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[2].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[3].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[4].PerformaSupplierData.PersentasePerforma}} %</td>
                                            <td class="text-left" style="vertical-align: middle;">{{WLReportServiceCtrl.kontraktornasional[5].PerformaSupplierData.PersentasePerforma}} %</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-6">
                            <h4>Performa Kontraktor Lokal</h4>
                            <canvas id="bar" height="300%"  class="chart chart-bar" chart-data="WLReportServiceCtrl.datalokal" chart-color="WLReportServiceCtrl.color" chart-series="WLReportServiceCtrl.serieslokal" chart-labels="WLReportServiceCtrl.labellokal" chart-dataset="WLReportServiceCtrl.datasetlokal" chart-options="WLReportServiceCtrl.optionlokal"></canvas>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-left" style="vertical-align: middle;"></th>
                                                    <th ng-repeat="l in WLReportServiceCtrl.listlokalbyType[0].ComplainTypes" class="text-left" style="vertical-align: middle;">{{l.TypeName}}</th>
                                                </tr>
                                                <tr ng-repeat="list in WLReportServiceCtrl.listlokalbyType">
                                                    <th class="text-left" style="vertical-align: middle;">{{list.StartDate | date:"MMM yyyy"}} - {{list.EndDate | date:"MMM yyyy"}}</th>
                                                    <td ng-repeat="ct in list.ComplainTypes" class="text-left" style="vertical-align: middle;">{{ct.Performa}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Performa Kontraktor Nasional</h4>
                            <canvas id="bar" height="300%" class="chart chart-bar" chart-data="WLReportServiceCtrl.datanasional" chart-color="WLReportServiceCtrl.color" chart-series="WLReportServiceCtrl.seriesnasional" chart-labels="WLReportServiceCtrl.labelnasional" chart-dataset="WLReportServiceCtrl.datasetnasional" chart-options="WLReportServiceCtrl.optionnasional"></canvas>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-left" style="vertical-align: middle;"></th>
                                                    <th ng-repeat="l in WLReportServiceCtrl.listnasionalbyType[0].ComplainTypes" class="text-left" style="vertical-align: middle;">{{l.TypeName}}</th>
                                                </tr>
                                                <tr ng-repeat="list in WLReportServiceCtrl.listnasionalbyType">
                                                    <th class="text-left" style="vertical-align: middle;">{{list.StartDate | date:"MMM yyyy"}} - {{list.EndDate | date:"MMM yyyy"}}</th>
                                                    <td ng-repeat="ct in list.ComplainTypes" class="text-left" style="vertical-align: middle;">{{ct.Performa}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>