<section class="content" ng-init="PendaftaranLelangCtrl.init()">
	<ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{PendaftaranLelangCtrl.TenderRefID}}/{{PendaftaranLelangCtrl.ProcPackType}}/{{PendaftaranLelangCtrl.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
		<li><a class="active">{{'BREADCRUMB.TENDER_REG'|translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<button class="btn btn-flat btn-default" title="Print Preview" ng-click="PendaftaranLelangCtrl.printExport()">
							<i class="glyphicon glyphicon-print"></i>
						</button>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-left afta-font" style="padding-bottom: 20px;">{{'TABLE.TENDER_REG'|translate}}</h3>
							<label ng-if="PendaftaranLelangCtrl.isCancelled" class="text-left afta-font text-red" style="padding-bottom: 20px;"><i>({{'TABLE.CANCELED_TENDER'|translate}})</i></label>
						</div>
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" style="vertical-align: middle!important;">{{'TABLE.TENDER_NAME'|translate}}</th>
											<th class="text-center" style="width: 270px; min-width: 270px!important;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="vertical-align: middle;">{{PendaftaranLelangCtrl.TenderName}}</td>
											<td class="text-center" style="vertical-align: middle!important;">
												<button ng-click="PendaftaranLelangCtrl.lihatPendaftaranLelang()" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.VIEW'|translate}}"><i class="fa fa-external-link"></i></button>
												<button ng-disabled="PendaftaranLelangCtrl.isCancelled" ng-if="PendaftaranLelangCtrl.isAllowedEdit" ng-click="PendaftaranLelangCtrl.uploadDokumen(PendaftaranLelangCtrl.TenderID, PendaftaranLelangCtrl.StepID)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UPLOAD'|translate}}"><i class="fa fa-edit"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-12">
							<h5 class="afta-font" style="margin-top: 0px;">*) {{'TABLE.NOTIF_UPLOAD'|translate}}</h5>
						</div>
						<br /><br />
					</div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h3 class="text-left afta-font" style="padding-bottom: 20px;">{{'Data Vendor Tender ROI'|translate}}</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button ng-show="PendaftaranLelangCtrl.IsOvertime==true" ng-disabled="PendaftaranLelangCtrl.isCancelled" ng-if="PendaftaranLelangCtrl.isAllowedEdit" ng-click="PendaftaranLelangCtrl.summaryTenderInterest()" class="btn btn-sm  btn-flat btn-primary" title="Summary"><i class="fa fa-pencil"></i></button>
                                <button ng-show="PendaftaranLelangCtrl.tenderInterestReview.ID!=0 && PendaftaranLelangCtrl.tenderInterestReview.SendApprovalDate==null" ng-disabled="PendaftaranLelangCtrl.isCancelled" ng-if="PendaftaranLelangCtrl.isAllowedEdit" ng-click="PendaftaranLelangCtrl.sendApprovalTenderInterest()" class="btn btn-sm  btn-flat btn-success" title="Kirim Approval"><i class="fa fa-send"></i></button>
                                <button ng-show="PendaftaranLelangCtrl.tenderInterestReview.ID!=0 && PendaftaranLelangCtrl.tenderInterestReview.SendApprovalDate!=null" ng-disabled="PendaftaranLelangCtrl.isCancelled" ng-if="PendaftaranLelangCtrl.isAllowedEdit" ng-click="PendaftaranLelangCtrl.detailApprovalTenderInterest()" class="btn btn-sm  btn-flat btn-success" title="{{'Detail Approval'|translate}}"><i class="fa fa-sitemap"></i></button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-left" width="5%" style="vertical-align: middle;">No.</th>
                                            <th class="text-left" width="35%" style="vertical-align: middle;">{{'TABLE.VENDOR_NAME'|translate}}</th>
                                            <th class="text-left" width="15%" style="vertical-align: middle;">{{'TABLE.RES'|translate}}</th>
                                            <th class="text-left" width="15%" style="vertical-align: middle;">{{'TABLE.DOC'|translate}}</th>
                                            <!--<th class="text-left" width="20%" style="vertical-align: middle;"></th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in PendaftaranLelangCtrl.tenderInterest">
                                            <td style="vertical-align: middle;" class="text-left">{{$index + 1}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{data.Vendor.VendorName}}</td>
                                            <td style="vertical-align: middle;" class="text-left">
                                                <span ng-if="data.IsApprove==null">&nbsp;</span>
                                                <span ng-if="data.IsApprove==true">{{'Lolos'|translate}}</span>
                                                <span ng-if="data.IsApprove==false">{{'Tidak Lolos'|translate}}</span>
                                            </td>
                                            <td style="vertical-align: middle;" class="text-left">
                                                <button ng-click="PendaftaranLelangCtrl.lihatDokumenVendor(data)" class="btn btn-sm  btn-flat btn-warning" title="{{'Dokumen Pendaftaran Tender'|translate}}"><i class="fa fa-file"></i></button>
                                            </td>
                                            <!--<td style="vertical-align: middle;" class="text-left">
                                                
                                                <button ng-show="data.IsApprove==null" ng-disabled="PendaftaranLelangCtrl.isCancelled" ng-if="PendaftaranLelangCtrl.isAllowedEdit"  ng-click="PendaftaranLelangCtrl.approve(data,true,'MESSAGE.SURE_APPROVE')" class="btn btn-sm  btn-flat btn-success" title="Approve"><i class="fa fa-check"></i></button>
                                                <button ng-show="data.IsApprove==null" ng-disabled="PendaftaranLelangCtrl.isCancelled" ng-if="PendaftaranLelangCtrl.isAllowedEdit"  ng-click="PendaftaranLelangCtrl.approve(data,false,'MESSAGE.SURE_REJECT')" class="btn btn-sm  btn-flat btn-danger" title="Reject"><i class="fa fa-close"></i></button>
                                            </td>-->
                                        </tr>
                                        <tr ng-if="PendaftaranLelangCtrl.tenderInterest.length==0">
                                            <td colspan="4" style="vertical-align: middle;" class="text-left">{{'TABLE.TIDAK_ADA_DATA'|translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <label>Total Data: {{PendaftaranLelangCtrl.tenderInterest.length}}</label>
                            </div>
                        </div>
                    </div>
                    <br /><br />
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-left afta-font" style="padding-bottom: 20px;">{{'TABLE.REG_VENDOR'|translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" style="vertical-align: middle!important; width:20px">No.</th>
											<th class="text-center" style="vertical-align: middle!important;">{{'TABLE.VENDOR_NAME'|translate}}</th>
											<th class="text-center" style="width: 270px; min-width: 270px!important;">{{'TABLE.REG_DATE'|translate}}</th>
											<th class="text-center" style="width: 270px; min-width: 270px!important;">{{'TABLE.SEE_DATE'|translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pe in PendaftaranLelangCtrl.register">
											<td style="vertical-align: middle;">{{$index + 1}}</td>
											<td style="vertical-align: middle;">
												{{pe.VendorName}}
											</td>
											<td class="text-center" style="vertical-align: middle!important;">
												{{pe.TenderRegistrationDate | date: "dd-MM-yyyy"}}
											</td>
											<td class="text-center" style="vertical-align: middle!important;">
												{{pe.SeeStepDetailDate | date: "dd-MM-yyyy"}}
											</td>
										</tr>
									</tbody>
								</table>
							</div><br />
							<!--<div ng-if="PendaftaranLelangCtrl.isNeedApproval">
								<a ng-click="PendaftaranLelangCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="Send to Approval">
									<i class="fa fa-paste"></i>
								</a>
							</div>-->
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<a ng-if="PendaftaranLelangCtrl.isNeedApproval && PendaftaranLelangCtrl.isAllowedEdit" ng-click="PendaftaranLelangCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.SEND_APPROVAL'|translate}}">
								<i class="fa fa-paste"></i>
							</a>
							<a ng-if="PendaftaranLelangCtrl.isApprovalSent" ng-click="PendaftaranLelangCtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.APPROV_DETAIL'|translate}}">
								<i class="fa fa-sitemap"></i>
							</a>
						</div>
						<div class="col-md-4 pull-right">
							<button ng-click="PendaftaranLelangCtrl.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
								<i class="fa fa-arrow-circle-left"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>