﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div class="modal-content" ng-init="ContractAwardFormCtrl.init()">
    <div ng-if="ContractAwardFormCtrl.isContractVariation == true" class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="img-logo-vale-small">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-atas">
                <div class="col-md-12">
                    <strong>
                        CP-007<br />
                        CONFIDENTIAL<br />
                        <small>For Internal Only</small> <br />
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <strong>
                            REQUEST TO AWARD CONTRACT VARIATION<br />
                            <!--<small><i>(Attach Contract Requisition)</i></small> <br />-->
                        </strong>
                    </div>
                </div>
            </div>
            <form name="formCVCtrl.crvform">
                <div class="box-body">
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{'CONTRACT_DETAIL'|translate}}</label>
                                <input class="form-control input-sm" type="text" ng-readonly="true" value="{{ContractAwardFormCtrl.contractVariationForm.ProjectTitle}}" />
                                <!--<input type="text" ng-readonly="formCVCtrl.isTenderVerification" class="form-control input-sm" ng-model="formCVCtrl.contractRecVar.ContractDetailsInfo"
                            placeholder="{{'CONTRACT_DETAIL_DESC'|translate}}" />-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="csontrol-label">{{'DATE_REQUESTED'|translate}} *</label><br />
                                <input type="text" disabled ng-model="ContractAwardFormCtrl.contractVariationForm.DateRequested" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="csontrol-label">{{'DATE_REQUIRED'|translate}} *</label><br />
                                <input type="text" disabled  ng-model="ContractAwardFormCtrl.contractVariationForm.DateRequired" class="form-control" />

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">{{'CONTRACT_NUMBER'|translate}}</label>
                                    <input type="text" class="form-control input-sm" ng-model="ContractAwardFormCtrl.contractVariationForm.ContractNo" ng-readonly="true" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">{{'VARIATION_#'|translate}}</label>
                                    <input type="text" class="form-control input-sm" ng-model="ContractAwardFormCtrl.contractVariationForm.VariationNo" ng-readonly="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">{{'PERCENTAGE_OF_VARIATION'|translate}} (Date)</label>
                                    <input type="number" class="form-control input-sm" ng-model="ContractAwardFormCtrl.contractVariationForm.PercentageOfDate" ng-readonly="true" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">{{'PERCENTAGE_OF_VARIATION'|translate}} (Value)</label>
                                    <input type="number" class="form-control input-sm" ng-model="ContractAwardFormCtrl.contractVariationForm.PercentageOfValue" ng-readonly="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="csontrol-label">{{'CONTRACT_STATUS'|translate}} *</label>
                                <div class="input-group">
                                    <input type="radio" disabled ng-model="ContractAwardFormCtrl.contractVariationForm.IsAnnualPlan" value="1" /> {{'YES'|translate}} &nbsp;&nbsp;
                                    <input type="radio" disabled ng-model="ContractAwardFormCtrl.contractVariationForm.IsAnnualPlan" value="0" /> {{'NO'|translate}} &nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="marginleft20" style="font-size:10px">{{'CONTRACT_STATUS_NOTE'|translate}} </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="2">{{'BASIC_REASON_FOR_CHANGE'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ref in ContractAwardFormCtrl.contractVariationForm.ReasonRefs">
                                            <td>
                                                {{ref.Value}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="csontrol-label">{{'ORIGINAL_START_DATE'|translate}}</label><br />
                                <input type="text" disabled ng-model="ContractAwardFormCtrl.contractVariationForm.OriginalStartDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="csontrol-label">{{'ORIGINAL_END_DATE'|translate}}</label>
                                <br />
                                <input type="text" disabled ng-model="ContractAwardFormCtrl.contractVariationForm.OriginalEndDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="csontrol-label">{{'CURRENT_END_DATE'|translate}} *</label>
                                <br />
                                <input type="text" disabled ng-model="ContractAwardFormCtrl.contractVariationForm.CurrentEndDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" >
                                <label class="csontrol-label">{{'NEW_PLANNED_END_DATE'|translate}} *</label>
                                <br />
                                <input type="text" disabled ng-model="ContractAwardFormCtrl.contractVariationForm.NewPlannedEndDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="csontrol-label">{{'CURRENCY'|translate}}</label>
                                <input ng-readonly="true" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.CurrencySymbol" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="csontrol-label">{{'ORIGINAL_CONTRACT_VALUE'|translate}}</label>
                                <input ng-readonly="true" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.OriginalValue" class="form-control input-sm" currency-mask />
                                <div class="input-group" ng-if="ContractAwardFormCtrl.contractVariationForm.CurrencySymbol != 'USD'">
                                    <span class="input-group-addon">USD</span>
                                    <input ng-readonly="true" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.OriginalValueUSD" class="form-control input-sm" currency-mask />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="csontrol-label">{{'TOTAL_VALUE_OF_COMMITMENT_MADE_UNDER_THIS_CONTRACT'|translate}}</label>
                                <input ng-readonly="true" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.ContractCommitmentTotalValue" class="form-control input-sm" currency-mask />
                                <div class="input-group" ng-if="ContractAwardFormCtrl.contractVariationForm.CurrencySymbol != 'USD'">
                                    <span class="input-group-addon">USD</span>
                                    <input ng-readonly="true" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.ContractCommitmentValueUSD" class="form-control input-sm" currency-mask />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="csontrol-label">{{'ESTIMATE_OF_TOTAL_FURTHER_COMMITMENT_VALUE_REQUIRED'|translate}}</label>
                                <input ng-readonly="!formCVCtrl.enableValue" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.FurtherCommitmentTotalValue" class="form-control input-sm" currency-mask />
                                <div class="input-group" ng-if="ContractAwardFormCtrl.contractVariationForm.CurrencySymbol != 'USD'">
                                    <span class="input-group-addon">USD</span>
                                    <input ng-readonly="true" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.FurtherCommitmentTotalValueUSD" class="form-control input-sm" currency-mask />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="csontrol-label">{{'ESTIMATED_NEW_TOTAL_CONTRACT_VALUE'|translate}}</label>
                                <input ng-readonly="true" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.NewTotalValue" class="form-control input-sm" currency-mask />
                                <div class="input-group" ng-if="ContractAwardFormCtrl.contractVariationForm.CurrencySymbol != 'USD'">
                                    <span class="input-group-addon">USD</span>
                                    <input ng-readonly="true" type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.NewTotalValueUSD" class="form-control input-sm" currency-mask />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{'DETAILS_OF_CONTRACT_VARIATION'|translate}}</label>
                                <input readonly type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.Detail" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{'REASON_FOR_CONTRACT_VARIATION'|translate}}</label>
                                <input readonly type="text" ng-model="ContractAwardFormCtrl.contractVariationForm.Reason" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div ng-if="ContractAwardFormCtrl.isNeedContractAwardForm == true">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>
                                    Tender Process (Tender Announcement)<br />
                                </strong>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    ({{ContractAwardFormCtrl.caf.TenderAnnouncementStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.TenderAnnouncementStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row margin-atas">
                                    <div class="col-md-12">
                                        <strong>{{'VEN_EMAIL' | translate}} :</strong>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea rows="5" class="form-control input-sm" readonly ng-model="ContractAwardFormCtrl.caf.TenderAnnouncement[0].TenderAnnouncement.Emails" />
                                    </div>
                                </div>
                                <div class="row margin-atas">
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped" id="table-kpiProc">
                                                <thead>
                                                    <tr>
                                                        <th class="text-left" width="5%">
                                                            {{'TABLE.NO' | translate}}
                                                        </th>
                                                        <th class="text-center" width="25%">
                                                            {{'TABLE.VENDOR_NAME' | translate}}
                                                        </th>
                                                        <th class="text-center" width="75%">
                                                            {{'TABLE.EMAIL' | translate}}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="taEmail in ContractAwardFormCtrl.caf.TenderAnnouncement[0].DetailVendor">
                                                        <td class="text-center">{{$index+1}}</td>
                                                        <td class="text-left">{{taEmail.Name}}</td>
                                                        <td class="text-left">{{taEmail.Email}}</td>
                                                    </tr>
                                                    <tr ng-if="ContractAwardFormCtrl.caf.TenderAnnouncement[0].DetailVendor==null">
                                                        <td class="text-left" colspan="3">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
        <div class="col-md-12">
            <div class="table table-responsive">
                <table class="table table-bordered" id="table-kpiProc">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle;" width="30%" class="text-left">
                                Recommendation<br />
                                (specify contractor name)<br />
                            </td>
                            <td style="vertical-align: middle;" width="70%" class="text-left">
                                {{ContractAwardFormCtrl.caf.ContractorName}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;" width="30%" class="text-left">
                                Approved Requisition Value<br />
                                (USD)<br />
                            </td>
                            <td style="vertical-align: middle;" width="70%" class="text-left">
                                {{ContractAwardFormCtrl.caf.ApprovedRequisitionValueUSD | currency:"USD "}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;" width="30%" class="text-left">
                                Previous Approved Budget/Award Value <br />
                                (USD)<br />
                            </td>
                            <td style="vertical-align: middle;" width="70%" class="text-left">
                                {{ContractAwardFormCtrl.caf.ApprovedBudgetValueUSD | currency:"USD "}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle;" width="30%" class="text-left">
                                Contract Award Value<br />
                                (USD)<br />
                            </td>
                            <td style="vertical-align: middle;" width="70%" class="text-left">
                                {{ContractAwardFormCtrl.caf.ContractAwardValueUSD | currency:"USD "}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            -->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>
                                    Tender Process (Tender Registration)
                                </strong>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    ({{ContractAwardFormCtrl.caf.TenderRegistrationStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.TenderRegistrationStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped" id="table-kpiProc">
                                        <thead>
                                            <tr>
                                                <th class="text-left" width="5%">
                                                    {{'TABLE.NO' | translate}}
                                                </th>
                                                <th class="text-center" width="25%">
                                                    {{'TABLE.NAMA_PERUSAHAAN' | translate}}
                                                </th>
                                                <th class="text-center" width="35%">
                                                    {{'TABLE.TANGGAL_DAFTAR' | translate}}
                                                </th>
                                                <th class="text-center" width="35%">
                                                    {{'TABLE.TANGGAL_MELIHAT_TAHAPAN' | translate}}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="tr in ContractAwardFormCtrl.caf.TenderRegistration">
                                                <td class="text-center">{{$index+1}}</td>
                                                <td class="text-left">{{tr.VendorName}}</td>
                                                <td class="text-center">{{tr.TenderRegistrationDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                                <td class="text-center">{{tr.SeeStepDetailDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                            </tr>
                                            <tr ng-if="ContractAwardFormCtrl.caf.TenderRegistration==null">
                                                <td class="text-left" colspan="4">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ContractAwardFormCtrl.caf.PrebidStepData!=null">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        Tender Process (Pre-Bid)
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        ({{ContractAwardFormCtrl.caf.PrebidStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.PrebidStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-left" width="5%">
                                                        {{'TABLE.NO' | translate}}
                                                    </th>
                                                    <th class="text-center" width="25%">
                                                        {{'TABLE.NAMA_PERUSAHAAN' | translate}}
                                                    </th>
                                                    <th class="text-center" width="35%">
                                                        {{'TABLE.TANGGAL_DAFTAR' | translate}}
                                                    </th>
                                                    <th class="text-center" width="35%">
                                                        {{'TABLE.STATUS' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="tr in ContractAwardFormCtrl.caf.TenderRegistration">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td class="text-left">{{tr.VendorName}}</td>
                                                    <td class="text-center">{{tr.TenderRegistrationDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                                    <td class="text-center">
                                                        <span ng-if="tr.IsSurvive === true">{{'TABLE.PASS' | translate}}</span>
                                                        <span ng-if="tr.IsSurvive === false">{{'TABLE.NOT_PASS' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="ContractAwardFormCtrl.caf.TenderRegistration==null">
                                                    <td class="text-left" colspan="4">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ContractAwardFormCtrl.caf.ServiceOfferEntryStepData!=null">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        Tender Process (Offer Entry)
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        ({{ContractAwardFormCtrl.caf.ServiceOfferEntryStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.ServiceOfferEntryStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="5%">
                                                        {{'TABLE.NO' | translate}}
                                                    </th>
                                                    <th class="text-center" width="65%">
                                                        {{'TABLE.VENDOR_NAME' | translate}}
                                                    </th>
                                                    <th class="text-center" width="30%">
                                                        {{'TABLE.TGL_MASUK' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="voe in ContractAwardFormCtrl.caf.VendorOfferEntry">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td class="text-left">{{voe.VendorName}}</td>
                                                    <td class="text-center">{{voe.EntryDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                                </tr>
                                                <tr ng-if="ContractAwardFormCtrl.caf.VendorOfferEntry==null">
                                                    <td class="text-left" colspan="3">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ContractAwardFormCtrl.caf.SafetyEvaluationStepData!=null">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        Tender Process (Safety Evaluation)
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        ({{ContractAwardFormCtrl.caf.SafetyEvaluationStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.SafetyEvaluationStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="5%">
                                                        {{'TABLE.NO' | translate}}
                                                    </th>
                                                    <th class="text-center" width="65%">
                                                        {{'TABLE.VENDOR_NAME' | translate}}
                                                    </th>
                                                    <th class="text-center" width="30%">
                                                        {{'TABLE.STATUS' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="es in ContractAwardFormCtrl.caf.Safety">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td class="text-left">{{es.VendorName}}</td>
                                                    <td ng-if="es.ID != 0 && es.Status === false" class="center-vertical" style="vertical-align: middle;">
                                                        {{'TABLE.NOT_PASS' | translate}}
                                                    </td>
                                                    <td ng-if="es.ID != 0 && es.Status === true" class="center-vertical" style="vertical-align: middle;">
                                                        {{'TABLE.PASS' | translate}}
                                                    </td>
                                                </tr>
                                                <tr ng-if="ContractAwardFormCtrl.caf.Safety==null">
                                                    <td class="text-left" colspan="3">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ContractAwardFormCtrl.caf.CommercialSummary!=null">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        Tender Process (Commercial)
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        ({{ContractAwardFormCtrl.caf.CommercialSummary.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.CommercialSummary.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="5%">
                                                        {{'TABLE.NO' | translate}}
                                                    </th>
                                                    <th class="text-center" width="45%">
                                                        {{'TABLE.VENDOR_NAME' | translate}}
                                                    </th>
                                                    <th class="text-center" width="30%">
                                                        {{'TABLE.PENAWARAN' | translate}}
                                                    </th>
                                                    <!--
                                <th class="text-center" width="10%">
                                    Breakdown
                                </th>-->
                                                    <th class="text-center" width="20%">
                                                        {{'TABLE.SKOR' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="com in ContractAwardFormCtrl.caf.Commercial">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td class="text-left">{{com.VendorName}}</td>
                                                    <td class="text-center">{{com.OfferTotalCost | currency:"USD "}}</td>
                                                    <!--
                                <td class="text-center"><button ng-disabled="(com.PriceBreakdownURL === null)" href="{{ContractAwardFormCtrl.folderFile + com.PriceBreakdownURL}}" target="_BLANK" class="btn btn-xs btn-primary form-control" title="Breakdown Price"><i class="fa fa-download"></i> Download</button></td>
                                -->
                                                    <td class="text-center">{{com.Score.toFixed(2)}}</td>
                                                </tr>
                                                <tr ng-if="ContractAwardFormCtrl.caf.Commercial==null">
                                                    <td class="text-left" colspan="5">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ContractAwardFormCtrl.caf.TechnicalSummary!=null">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        Tender Process (Technical)
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        ({{ContractAwardFormCtrl.caf.TechnicalSummary.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.TechnicalSummary.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="5%">
                                                        {{'TABLE.NO' | translate}}
                                                    </th>
                                                    <th class="text-center" width="45%">
                                                        {{'TABLE.VENDOR_NAME' | translate}}
                                                    </th>
                                                    <th class="text-center" width="30%">
                                                        {{'TABLE.SKOR' | translate}}
                                                    </th>
                                                    <th class="text-center" width="20%">
                                                        Must Have
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="tech in ContractAwardFormCtrl.caf.Technical">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td class="text-left">{{tech.VendorName}}</td>
                                                    <td class="text-center">{{tech.Score.toFixed(2)}}</td>
                                                    <td class="text-center">
                                                        <span ng-if="tech.IsMustHaveValid === true">{{'TABLE.PASS' | translate}}</span>
                                                        <span ng-if="tech.IsMustHaveValid === false">{{'TABLE.NOT_PASS' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="ContractAwardFormCtrl.caf.Technical==null">
                                                    <td class="text-left" colspan="4">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ContractAwardFormCtrl.caf.TotalEvaluationStepData!=null">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        Tender Process (Total Evaluation)
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        ({{ContractAwardFormCtrl.caf.TotalEvaluationStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.TotalEvaluationStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="5%">
                                                        {{'TABLE.NO' | translate}}
                                                    </th>
                                                    <th class="text-center" width="35%">
                                                        {{'TABLE.NAMA_PERUSAHAAN' | translate}}
                                                    </th>
                                                    <th class="text-center" width="15%">
                                                        {{'TABLE.TEKNIS' | translate}}
                                                    </th>
                                                    <th class="text-center" width="15%">
                                                        {{'TABLE.HARGA' | translate}}
                                                    </th>
                                                    <th class="text-center" width="15%">
                                                        {{'TABLE.TOTAL' | translate}}
                                                    </th>
                                                    <th class="text-center" width="15%">
                                                        {{'TABLE.RANK' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="tot in ContractAwardFormCtrl.caf.TotalEvaluation">
                                                    <td class="text-center">{{$index+1}}</td>
                                                    <td class="text-left">{{tot.Vendor.VendorName}}</td>
                                                    <td class="text-center">{{tot.score_technical.toFixed(2)}}</td>
                                                    <td class="text-center">{{tot.score_pricing.toFixed(2)}}</td>
                                                    <td class="text-center">{{tot.score_total.toFixed(2)}}</td>
                                                    <td class="text-center">{{tot.rank}}</td>
                                                </tr>
                                                <tr ng-if="ContractAwardFormCtrl.caf.Technical==null">
                                                    <td class="text-left" colspan="4">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="ContractAwardFormCtrl.caf.NegotiationStepData!=null">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>
                                        Tender Process (Negotiation)
                                    </strong>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-right">
                                        ({{ContractAwardFormCtrl.caf.NegotiationStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.NegotiationStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped" id="table-kpiProc">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="5%">
                                                        {{'TABLE.NO' | translate}}
                                                    </th>
                                                    <th class="text-center" width="25%">
                                                        {{'TABLE.VENDOR_NAME' | translate}}
                                                    </th>
                                                    <th class="text-center" width="25%">
                                                        {{'TABLE.VENDOR_PRICE' | translate}}
                                                    </th>
                                                    <th class="text-center" width="25%">
                                                        {{'TABLE.NEGO_PRICE' | translate}}
                                                    </th>
                                                    <th class="text-center" width="25%">
                                                        {{'TABLE.STATUS' | translate}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td class="text-center">{{ContractAwardFormCtrl.caf.ContractorName}}</td>
                                                    <td class="text-center">{{ContractAwardFormCtrl.caf.ApprovedBudgetValueUSD | currency:"USD "}}</td>
                                                    <td class="text-center">{{ContractAwardFormCtrl.caf.ContractAwardValueUSD | currency:"USD "}}</td>
                                                    <td class="text-center">{{'SEPAKAT' | translate }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
    </div>

    <div ng-if="ContractAwardFormCtrl.isContractVariation == false" class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="img-logo-vale-small">
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-atas">
            <div class="col-md-12">
                <strong>CP-007<br />
                CONFIDENTIAL<br />
                <small>For Internal Only</small> <br />
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <strong>
                        REQUEST TO AWARD CONTRACT<br />
                        <!--<small><i>(Attach Contract Requisition)</i></small> <br />-->
                    </strong>
                </div>
            </div>
        </div>
        <div class="row margin-atas">
            <div class="col-md-12">
                <strong>
                Tender type : {{ContractAwardFormCtrl.caf.TenderType}}
                </strong>
            </div>
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered" id="table-kpiProc">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle;" width="25%" class="text-left">
                                    From<br />
                                    (Project Manager/Contract Holder)<br />
                                </td>
                                <td style="vertical-align: middle;" width="25%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ProjectManagerName}}
                                </td>
                                <td style="vertical-align: middle;" width="25%"  class="text-left">
                                    Date : <br />
                                </td>
                                <td style="vertical-align: middle;" width="25%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.SendApprovalDate | date:"dd-MM-yyyy HH:mm"}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;" width="25%" class="text-left">
                                    {{'TABLE.TENDER' | translate}} : <br />
                                </td>
                                <td style="vertical-align: middle;" width="25%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.TenderCode}}
                                </td>
                                <td style="vertical-align: middle;" width="25%" class="text-left">
                                    Contract : <br />
                                </td>
                                <td style="vertical-align: middle;" width="25%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ContractNo}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;" width="25%"  class="text-left">
                                    Tender Title : <br />
                                </td>
                                <td style="vertical-align: middle;" colspan="3" class="text-left">
                                    {{ContractAwardFormCtrl.caf.TenderName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered" id="table-kpiProc">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle;" width="30%" class="text-left">
                                    Recommendation<br />
                                    (specify contractor name)<br />
                                </td>
                                <td style="vertical-align: middle;" width="70%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ContractorName}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;" width="30%" class="text-left">
                                    Approved Requisition Value<br />
                                    (USD)<br />
                                </td>
                                <td style="vertical-align: middle;" width="70%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ApprovedRequisitionValueUSD | currency:"USD "}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;" width="30%" class="text-left">
                                    Previous Approved Budget/Award Value<br />
                                    (USD)<br />
                                </td>
                                <td style="vertical-align: middle;" width="70%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.PreviousBudgetValueUSD | currency:"USD "}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;" width="30%" class="text-left">
                                    Contract Award Value<br />
                                    (USD)<br />
                                </td>
                                <td style="vertical-align: middle;" width="70%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ContractAwardValueUSD | currency:"USD "}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>
                    Tender Process (Tender Announcement)<br />
                </strong>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    ({{ContractAwardFormCtrl.caf.TenderAnnouncementStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.TenderAnnouncementStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                </div>
            </div>
            <div class="col-md-12">
                <div class="row margin-atas">
                    <div class="col-md-12">
                        <strong>{{'VEN_EMAIL' | translate}} :</strong>
                    </div>
                    <div class="col-md-12">
                        <textarea rows="5" class="form-control input-sm" readonly ng-model="ContractAwardFormCtrl.caf.TenderAnnouncement[0].TenderAnnouncement.Emails" />
                    </div>
                </div>
                <div class="row margin-atas">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped" id="table-kpiProc">
                                <thead>
                                    <tr>
                                        <th class="text-left" width="5%">
                                            {{'TABLE.NO' | translate}}
                                        </th>
                                        <th class="text-center"width="25%">
                                            {{'TABLE.VENDOR_NAME' | translate}}
                                        </th>
                                        <th class="text-center"width="75%">
                                            {{'TABLE.EMAIL' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="taEmail in ContractAwardFormCtrl.caf.TenderAnnouncement[0].DetailVendor">
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="text-left">{{taEmail.Name}}</td>
                                        <td class="text-left">{{taEmail.Email}}</td>
                                    </tr>
                                    <tr ng-if="ContractAwardFormCtrl.caf.TenderAnnouncement[0].DetailVendor==null">
                                        <td class="text-left" colspan="3">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered" id="table-kpiProc">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle;" width="30%" class="text-left">
                                    Recommendation<br />
                                    (specify contractor name)<br />
                                </td>
                                <td style="vertical-align: middle;" width="70%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ContractorName}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;" width="30%" class="text-left">
                                    Approved Requisition Value<br />
                                    (USD)<br />
                                </td>
                                <td style="vertical-align: middle;" width="70%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ApprovedRequisitionValueUSD | currency:"USD "}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;" width="30%" class="text-left">
                                    Previous Approved Budget/Award Value <br />
                                    (USD)<br />
                                </td>
                                <td style="vertical-align: middle;" width="70%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ApprovedBudgetValueUSD | currency:"USD "}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;" width="30%" class="text-left">
                                    Contract Award Value<br />
                                    (USD)<br />
                                </td>
                                <td style="vertical-align: middle;" width="70%" class="text-left">
                                    {{ContractAwardFormCtrl.caf.ContractAwardValueUSD | currency:"USD "}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>
                    Tender Process (Tender Registration)
                </strong>
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    ({{ContractAwardFormCtrl.caf.TenderRegistrationStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.TenderRegistrationStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped" id="table-kpiProc">
                        <thead>
                            <tr>
                                <th class="text-left" width="5%">
                                    {{'TABLE.NO' | translate}}
                                </th>
                                <th class="text-center" width="25%">
                                    {{'TABLE.NAMA_PERUSAHAAN' | translate}}
                                </th>
                                <th class="text-center" width="35%">
                                    {{'TABLE.TANGGAL_DAFTAR' | translate}}
                                </th>
                                <th class="text-center" width="35%">
                                    {{'TABLE.TANGGAL_MELIHAT_TAHAPAN' | translate}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tr in ContractAwardFormCtrl.caf.TenderRegistration">
                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-left">{{tr.VendorName}}</td>
                                <td class="text-center">{{tr.TenderRegistrationDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                <td class="text-center">{{tr.SeeStepDetailDate | date:"dd-MM-yyyy HH:mm"}}</td>
                            </tr>
                            <tr ng-if="ContractAwardFormCtrl.caf.TenderRegistration==null">
                                <td class="text-left" colspan="4">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-if="ContractAwardFormCtrl.caf.PrebidStepData!=null">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Tender Process (Pre-Bid)
                    </strong>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        ({{ContractAwardFormCtrl.caf.PrebidStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.PrebidStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped" id="table-kpiProc">
                            <thead>
                                <tr>
                                    <th class="text-left" width="5%">
                                        {{'TABLE.NO' | translate}}
                                    </th>
                                    <th class="text-center" width="25%">
                                        {{'TABLE.NAMA_PERUSAHAAN' | translate}}
                                    </th>
                                    <th class="text-center" width="35%">
                                        {{'TABLE.TANGGAL_DAFTAR' | translate}}
                                    </th>
                                    <th class="text-center" width="35%">
                                        {{'TABLE.STATUS' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tr in ContractAwardFormCtrl.caf.TenderRegistration">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{tr.VendorName}}</td>
                                    <td class="text-center">{{tr.TenderRegistrationDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                    <td class="text-center">
                                        <span ng-if="tr.IsSurvive === true">{{'TABLE.PASS' | translate}}</span>
                                        <span ng-if="tr.IsSurvive === false">{{'TABLE.NOT_PASS' | translate}}</span>
                                    </td>
                                </tr>
                                <tr ng-if="ContractAwardFormCtrl.caf.TenderRegistration==null">
                                    <td class="text-left" colspan="4">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ContractAwardFormCtrl.caf.ServiceOfferEntryStepData!=null">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Tender Process (Offer Entry)
                    </strong>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                         ({{ContractAwardFormCtrl.caf.ServiceOfferEntryStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.ServiceOfferEntryStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped" id="table-kpiProc">
                            <thead>
                                <tr>
                                    <th class="text-center" width="5%">
                                        {{'TABLE.NO' | translate}}
                                    </th>
                                    <th class="text-center" width="65%">
                                        {{'TABLE.VENDOR_NAME' | translate}}
                                    </th>
                                    <th class="text-center" width="30%">
                                        {{'TABLE.TGL_MASUK' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="voe in ContractAwardFormCtrl.caf.VendorOfferEntry">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{voe.VendorName}}</td>
                                    <td class="text-center">{{voe.EntryDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                </tr>
                                <tr ng-if="ContractAwardFormCtrl.caf.VendorOfferEntry==null">
                                    <td class="text-left" colspan="3">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ContractAwardFormCtrl.caf.SafetyEvaluationStepData!=null">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Tender Process (Safety Evaluation)
                    </strong>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        ({{ContractAwardFormCtrl.caf.SafetyEvaluationStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.SafetyEvaluationStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped" id="table-kpiProc">
                            <thead>
                                <tr>
                                    <th class="text-center" width="5%">
                                        {{'TABLE.NO' | translate}}
                                    </th>
                                    <th class="text-center" width="65%">
                                        {{'TABLE.VENDOR_NAME' | translate}}
                                    </th>
                                    <th class="text-center" width="30%">
                                        {{'TABLE.STATUS' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="es in ContractAwardFormCtrl.caf.Safety">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{es.VendorName}}</td>
                                    <td ng-if="es.ID != 0 && es.Status === false" class="center-vertical" style="vertical-align: middle;">
                                        {{'TABLE.NOT_PASS' | translate}}
                                    </td>
                                    <td ng-if="es.ID != 0 && es.Status === true" class="center-vertical" style="vertical-align: middle;">
                                        {{'TABLE.PASS' | translate}}
                                    </td>
                                </tr>
                                <tr ng-if="ContractAwardFormCtrl.caf.Safety==null">
                                    <td class="text-left" colspan="3">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ContractAwardFormCtrl.caf.CommercialSummary!=null">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Tender Process (Commercial)
                    </strong>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        ({{ContractAwardFormCtrl.caf.CommercialSummary.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.CommercialSummary.EndDate | date:"dd-MM-yyyy HH:mm"}})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped" id="table-kpiProc">
                            <thead>
                                <tr>
                                    <th class="text-center" width="5%">
                                        {{'TABLE.NO' | translate}}
                                    </th>
                                    <th class="text-center" width="45%">
                                        {{'TABLE.VENDOR_NAME' | translate}}
                                    </th>
                                    <th class="text-center" width="30%">
                                        {{'TABLE.PENAWARAN' | translate}}
                                    </th>
                                    <!--
                                <th class="text-center" width="10%">
                                    Breakdown
                                </th>-->
                                    <th class="text-center"width="20%">
                                        {{'TABLE.SKOR' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="com in ContractAwardFormCtrl.caf.Commercial">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{com.VendorName}}</td>
                                    <td class="text-center">{{com.OfferTotalCost | currency:"USD "}}</td>
                                    <!--
                                <td class="text-center"><button ng-disabled="(com.PriceBreakdownURL === null)" href="{{ContractAwardFormCtrl.folderFile + com.PriceBreakdownURL}}" target="_BLANK" class="btn btn-xs btn-primary form-control" title="Breakdown Price"><i class="fa fa-download"></i> Download</button></td>
                                -->
                                    <td class="text-center">{{com.Score.toFixed(2)}}</td>
                                </tr>
                                <tr ng-if="ContractAwardFormCtrl.caf.Commercial==null">
                                    <td class="text-left" colspan="5">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ContractAwardFormCtrl.caf.TechnicalSummary!=null">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Tender Process (Technical)
                    </strong>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        ({{ContractAwardFormCtrl.caf.TechnicalSummary.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.TechnicalSummary.EndDate | date:"dd-MM-yyyy HH:mm"}})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped" id="table-kpiProc">
                            <thead>
                                <tr>
                                    <th class="text-center" width="5%">
                                        {{'TABLE.NO' | translate}}
                                    </th>
                                    <th class="text-center" width="45%">
                                        {{'TABLE.VENDOR_NAME' | translate}}
                                    </th>
                                    <th class="text-center" width="30%">
                                        {{'TABLE.SKOR' | translate}}
                                    </th>
                                    <th class="text-center" width="20%">
                                        Must Have
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tech in ContractAwardFormCtrl.caf.Technical">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{tech.VendorName}}</td>
                                    <td class="text-center">{{tech.Score.toFixed(2)}}</td>
                                    <td class="text-center">
                                        <span ng-if="tech.IsMustHaveValid === true">{{'TABLE.PASS' | translate}}</span>
                                        <span ng-if="tech.IsMustHaveValid === false">{{'TABLE.NOT_PASS' | translate}}</span>
                                    </td>
                                </tr>
                                <tr ng-if="ContractAwardFormCtrl.caf.Technical==null">
                                    <td class="text-left" colspan="4">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ContractAwardFormCtrl.caf.TotalEvaluationStepData!=null">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Tender Process (Total Evaluation)
                    </strong>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        ({{ContractAwardFormCtrl.caf.TotalEvaluationStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.TotalEvaluationStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped" id="table-kpiProc">
                            <thead>
                                <tr>
                                    <th class="text-center" width="5%">
                                        {{'TABLE.NO' | translate}}
                                    </th>
                                    <th class="text-center" width="35%">
                                        {{'TABLE.NAMA_PERUSAHAAN' | translate}}
                                    </th>
                                    <th class="text-center" width="15%">
                                        {{'TABLE.TEKNIS' | translate}}
                                    </th>
                                    <th class="text-center" width="15%">
                                        {{'TABLE.HARGA' | translate}}
                                    </th>
                                    <th class="text-center" width="15%">
                                        {{'TABLE.TOTAL' | translate}}
                                    </th>
                                    <th class="text-center" width="15%">
                                        {{'TABLE.RANK' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tot in ContractAwardFormCtrl.caf.TotalEvaluation">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-left">{{tot.Vendor.VendorName}}</td>
                                    <td class="text-center">{{tot.score_technical.toFixed(2)}}</td>
                                    <td class="text-center">{{tot.score_pricing.toFixed(2)}}</td>
                                    <td class="text-center">{{tot.score_total.toFixed(2)}}</td>
                                    <td class="text-center">{{tot.rank}}</td>
                                </tr>
                                <tr ng-if="ContractAwardFormCtrl.caf.Technical==null">
                                    <td class="text-left" colspan="4">{{'TABLE.TIDAK_ADA_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="ContractAwardFormCtrl.caf.NegotiationStepData!=null">
            <div class="row">
                <div class="col-md-6">
                    <strong>
                        Tender Process (Negotiation)
                    </strong>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        ({{ContractAwardFormCtrl.caf.NegotiationStepData.StartDate | date:"dd-MM-yyyy HH:mm"}} s/d {{ContractAwardFormCtrl.caf.NegotiationStepData.EndDate | date:"dd-MM-yyyy HH:mm"}})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped" id="table-kpiProc">
                            <thead>
                                <tr>
                                    <th class="text-center" width="5%">
                                        {{'TABLE.NO' | translate}}
                                    </th>
                                    <th class="text-center" width="25%">
                                        {{'TABLE.VENDOR_NAME' | translate}}
                                    </th>
                                    <th class="text-center" width="25%">
                                        {{'TABLE.VENDOR_PRICE' | translate}}
                                    </th>
                                    <th class="text-center" width="25%">
                                        {{'TABLE.NEGO_PRICE' | translate}}
                                    </th>
                                    <th class="text-center" width="25%">
                                        {{'TABLE.STATUS' | translate}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">{{ContractAwardFormCtrl.caf.ContractorName}}</td>
                                    <td class="text-center">{{ContractAwardFormCtrl.caf.ApprovedBudgetValueUSD | currency:"USD "}}</td>
                                    <td class="text-center">{{ContractAwardFormCtrl.caf.ContractAwardValueUSD | currency:"USD "}}</td>
                                    <td class="text-center">{{'TABLE.SEPAKAT' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        Justification To Award (Technical)
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <textarea disabled class="form-control" ng-model="ContractAwardFormCtrl.caf.TechnicalSummary.Summary" rows="5"cols="200"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        Justification To Award (Commercial)
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea disabled class="form-control" ng-model="ContractAwardFormCtrl.caf.CommercialSummary.Summary" rows="5" cols="200"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        Justification To Award (Negotiation)
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea disabled class="form-control" ng-bind-html="ContractAwardFormCtrl.caf.ContractSignOff.Summary" rows="5" cols="200"></textarea>
                </div>
            </div>
        </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="ContractAwardFormCtrl.close()" title="{{'KEMBALI' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>