﻿<!-- Main content -->
<div ng-init="EditDistribusiCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/monitoring-kontrak">{{'BREADCRUMB.MONITORING_KONTRAK' | translate}}</a></li>
            <li><a href="#/monitor" class="active">{{'BREADCRUMB.MONITORING_DISTRIBUSI' | translate}}</a></li>
            <li><a class="active">{{'BREADCRUMB.MONITORING_EDIT_DISTRIBUSI' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'JUDUL_UPDATE' | translate}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-sm-4">{{'VENDOR_NAME' | translate}}</label>
                                <label class="col-sm-1">:</label>
                                <label class="col-sm-7">{{EditDistribusiCtrl.contractSignOff.VendorName}}</label>
                            </div>

                            <div class="col-md-6">
                                <label class="col-sm-4">Nilai Kontrak</label>
                                <label class="col-sm-1">:</label>
                                <label class="col-sm-7">{{EditDistribusiCtrl.contractSignOff.curr}}.  {{EditDistribusiCtrl.contractSignOff.TotalPrice | currency : ""}}</label>
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-4">{{'TENDER_NAME' | translate}}</label>
                                <label class="col-sm-1">:</label>
                                <label class="col-sm-7">{{EditDistribusiCtrl.contractSignOff.TenderStepData.tender.TenderName}}</label>
                            </div>
                            <div class="col-md-6">
                                <label class="col-sm-4">Total Distribusi</label>
                                <label class="col-sm-1">:</label>

                                <label class="col-sm-7">{{EditDistribusiCtrl.contractSignOff.curr}}.  {{EditDistribusiCtrl.contractSignOff.SpendingValue | currency : ""}}</label>
                            </div>
                            <div class="col-md-6">
                            </div>

                            <div class="col-md-6">
                                <label class="col-sm-4">Sisa Kontrak</label>
                                <label class="col-sm-1">:</label>
                                <label class="col-sm-7">{{EditDistribusiCtrl.contractSignOff.curr}}.  {{EditDistribusiCtrl.contractSignOff.RemainingValue | currency : ""}}</label>
                            </div>

                            <div class="clearfix">
                            </div>
                        </div>
                        <hr style="border-top: 1px dotted darkgreen" />
                        <form class="form-group">
                            <div class="row turun-15 panel-success">
                                <div class="col-md-8">
                                    <div class="form-group col-sm-3"><label>Tanggal PO</label></div>
                                    <div class="form-group col-sm-1"><label>:</label></div>
                                    <div class="form-group col-sm-6" style="margin-top:-2%;">
                                        <div class="input-group date form_datetime">
                                            <input style="background-color: #ffffff;" placeholder="Input Start Date" readonly required class="form-control datepicker" size="4" ng-model="EditDistribusiCtrl.StartDate" type="text" uib-datepicker-popup="dd-MM-yyyy"
                                                   is-open="EditDistribusiCtrl.isCalendarOpened[1]" ng-click="EditDistribusiCtrl.openCalendar(1)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-success" ng-click="EditDistribusiCtrl.openCalendar(1)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2" style="border:hidden;margin-top:-2%">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-primary" ng-click="EditDistribusiCtrl.Generate(1)">
                                                <i class="fa fa-eye"></i> Generate
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                                    <th class="text-center" style="vertical-align: middle;">Purch.Doc.</th>
                                                    <th class="text-center" style="vertical-align: middle;">Item</th>
                                                    <th class="text-center" style="vertical-align: middle;">Type</th>
                                                    <th class="text-center" style="vertical-align: middle;">Cat</th>
                                                    <th class="text-center" style="vertical-align: middle; ">PGR</th>
                                                    <th class="text-center" style="vertical-align: middle;">Vendor Code</th>
                                                    <th class="text-center" style="vertical-align: middle;">Vendor Name</th>
                                                    <th class="text-center" style="vertical-align: middle;">Short Text</th>
                                                    <th class="text-center" style="vertical-align: middle;">A</th>
                                                    <th class="text-center" style="vertical-align: middle;">POrg</th>
                                                    <th class="text-center" style="vertical-align: middle;">Agreement</th>
                                                    <th class="text-center" style="vertical-align: middle;">Item</th>
                                                    <th class="text-center" style="vertical-align: middle;">Doc Date</th>
                                                    <th class="text-center" style="vertical-align: middle;">Net Price</th>
                                                    <th class="text-center" style="vertical-align: middle;">Currency</th>
                                                    <th class="text-center" style="vertical-align: middle;">To be Del.</th>
                                                    <th class="text-center" style="vertical-align: middle; ">To be Inv.</th>
                                                    <th class="text-center" style="vertical-align: middle;">Net Value</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr ng-repeat="data in EditDistribusiCtrl.listItemPO">
                                                    <td style="vertical-align: middle;">{{detaildataUploadCtrl.currentPage > 1 ? (detaildataUploadCtrl.maxSize * (detaildataUploadCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                    <td style="vertical-align: middle;">{{data.PurchDoc}}</td>
                                                    <td style="vertical-align: middle;">{{data.Item}}</td>
                                                    <td style="vertical-align: middle;">{{data.Type}}</td>
                                                    <td style="vertical-align: middle;">{{data.Cat}}</td>
                                                    <td style="vertical-align: middle;">{{data.Pgr}}</td>
                                                    <td style="vertical-align: middle;">{{data.SAPCode}}</td>
                                                    <td style="vertical-align: middle;">{{data.VendorName}}</td>
                                                    <td style="vertical-align: middle;">{{data.ShortText}}</td>
                                                    <td style="vertical-align: middle;">{{data.A}}</td>
                                                    <td style="vertical-align: middle;">{{data.POrg}}</td>
                                                    <td style="vertical-align: middle;">{{data.Agreement}}</td>
                                                    <td style="vertical-align: middle;">{{data.ItemPO}}</td>
                                                    <td style="vertical-align: middle;">{{data.DocDate}}</td>
                                                    <td style="vertical-align: middle;">{{data.NetPrice | currency :""}}</td>
                                                    <td style="vertical-align: middle;">{{data.Currency}}</td>
                                                    <td style="vertical-align: middle;">{{data.ToBeDel}}</td>
                                                    <td style="vertical-align: middle;">{{data.ToBeInv}}</td>
                                                    <td style="vertical-align: middle;">{{data.NetValue | currency:""}}</td>
                                                </tr>
                                                <tr ng-if="EditDistribusiCtrl.listItemPO.length === 0">
                                                    <td colspan="19">{{'TIDAK_ADA_DATA' | translate }}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <label>Total In USD: {{EditDistribusiCtrl.listItemPO[0].TotalInUSD.toFixed(2) | currency: ""+ labelcurr +" "}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <ul uib-pagination total-items="EditDistribusiCtrl.totalItems" max-size="10"
                                            ng-model="EditDistribusiCtrl.currentPage" items-per-page="EditDistribusiCtrl.pageSize"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="EditDistribusiCtrl.Generate(EditDistribusiCtrl.currentPage)"></ul>
                                        <br /><label>{{'TOTAL_DATA' | translate}} : {{EditDistribusiCtrl.totalItems}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-success turun-15" title="{{'SIMPAN' | translate}}" ng-click="EditDistribusiCtrl.EditDistribusi()"><i class="fa fa-save"></i>&nbsp;{{'SIMPAN' | translate}}</button>


                                        <a href="#/detail-distribusi/{{EditDistribusiCtrl.contractSignOff.ID}}" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
                                            <i class="fa fa-arrow-left"></i>&nbsp;{{'BACK' | translate}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
