﻿<div class="modal-content" ng-init="evaluasiPenawaranVHSPrintCtrl.init()">
	<div class="modal-body">
		<div class="row">
			<button class="btn btn-flat btn-default" title="Print Preview" ng-click="evaluasiPenawaranVHSPrintCtrl.makePDF()">
				<i class="glyphicon glyphicon-print"></i>
			</button>
		</div>
		<div id="print1" class="print-wrap">
			<div class="col-md-12 post post-header-line" style="padding-bottom: 5px;">
				<h3 class="afta-font" style="margin-top: 5px!important;">
					{{evaluasiPenawaranVHSPrintCtrl.tenderStepData.step.TenderStepName |translate}}
				</h3>
				<label>{{evaluasiPenawaranVHSPrintCtrl.tenderStepData.tender.TenderName |translate}}</label><br />
				<label ng-if="evaluasiPenawaranVHSPrintCtrl.tenderStepData.tender.IsCancelled" class="text-red"><i>({{'KET_BATAL'|translate}})</i></label>
			</div>
			<div class="col-md-6">
				<span class="time pull-left" style="color: black;"><i class="fa fa-tags"></i>{{'TGL_MULAI'|translate}} : {{evaluasiPenawaranVHSPrintCtrl.tenderStepData.StartDate | date : "dd/MM/yyyy"}}</span>
			</div>
			<div class="col-md-6">
				<span class="time pull-right" style="color: black;"><i class="fa fa-tags"></i>{{'TGL_SELESAI'|translate}} : {{evaluasiPenawaranVHSPrintCtrl.tenderStepData.EndDate | date : "dd/MM/yyyy"}}</span>
			</div>
			<div class="col-md-12">
				<div class="table table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="center-vertical" width="20px">{{'TABLE.NO'|translate}}</th>
								<th class="center-vertical">{{'TABLE.REKANAN'|translate}}</th>
								<th class="center-vertical" style="width: 85px;">{{'TABLE.SKOR'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pe in evaluasiPenawaranVHSPrintCtrl.evaluasi.VHSOfferEvaluationVendors">
								<td class="center-vertical">{{$index + 1}}</td>
								<td class="middle-vertical">{{pe.VendorName}}</td>
								<td class="center-vertical">{{pe.Score}}</td>
							</tr>
							<tr ng-if="epvCtrl.noEvaluation"><td colspan="4">{{'BELUM_ADA_EVALUASI'|translate}}</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="container-fluid"></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-4 pull-right">
			<button ng-click="evaluasiPenawaranVHSPrintCtrl.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</div>