<section class="content" ng-init="UploadItemPRCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{ 'ITEMPRUPLOAD.BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{ 'ITEMPRUPLOAD.BREADCRUMB.UPLOAD_PR' | translate}}</a></li>
    </ol>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center afta-font">{{ 'ITEMPRUPLOAD.TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group" ng-if="UploadItemPRCtrl.isAllowedUploadItem">
                                <label class="control-label">
                                    {{ 'ITEMPRUPLOAD.LB_UPLOAD' | translate}}
                                    <small> ( <span ng-repeat="ft in UploadItemPRCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / {{'ITEMPRUPLOAD.SIZE_FILE' | translate}} : {{UploadItemPRCtrl.idUploadConfigs[0].Size}} {{UploadItemPRCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                </label>
                                <div class="input-group">
                                    <input type="file" class="form-control" ng-file-select="UploadItemPRCtrl.selectUpload()"
                                           ng-model="UploadItemPRCtrl.fileUpload" name="ownerIDFile" required accept="{{UploadItemPRCtrl.idFileTypes}}" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary" ng-click="UploadItemPRCtrl.uploadFile()" title="{{'ITEMPRUPLOAD.BTN_UPLOAD' | translate}}"><i class="fa fa-arrow-circle-o-down"></i> </button>
                                    </div>
                                    <div class="input-group-btn" ng-if="UploadItemPRCtrl.duplicateItems.length > 0">
                                        <button class="btn btn-sm btn-warning" ng-click="UploadItemPRCtrl.viewDuplicates()" title="{{'ITEMPRUPLOAD.BTN_UPLOAD' | translate}}"><i class="fa fa-exclamation-triangle"></i>&nbsp;{{'BTN_DUPLIKAT'|translate}}</button>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <form ng-submit="UploadItemPRCtrl.jLoad(1)">
                            <div class="col-md-2 ">
                                <div class="form-group">
                                    <label class="control-label">{{ 'ITEMPRUPLOAD.LB_SEARCH' | translate}}</label><br />
                                    <select class="form-control input-sm" style="float: left;" ng-model="UploadItemPRCtrl.selectedSearchBy"
                                            ng-change="UploadItemPRCtrl.changeCombo()">
                                        <option value="0" selected="selected">{{ 'ITEMPRUPLOAD.CMB_SEARCH' | translate}}</option>
                                        <!--<option value="1">{{ 'ITEMPRUPLOAD.CMB_DATEINPUT' | translate}}</option>-->
                                        <option value="2">{{ 'ITEMPRUPLOAD.CMB_DATEAPPROV' | translate}}</option>
                                        <option value="3">{{ 'ITEMPRUPLOAD.CMB_PURCHGROUP' | translate}}</option>
                                        <option value="4">{{'DESC'|translate}}</option>
                                        <option value="5">Purchase Requisition</option>
                                        <option value="6">Manufacture</option>
                                        <option value="7">Material</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3  margintop20" ng-show="UploadItemPRCtrl.selectedSearchBy === '3' || UploadItemPRCtrl.selectedSearchBy === '4' || UploadItemPRCtrl.selectedSearchBy === '5' || UploadItemPRCtrl.selectedSearchBy === '6' || UploadItemPRCtrl.selectedSearchBy === '7'">
                                <div class="input-group"> 
                                    <input type="text" class="form-control" ng-model="UploadItemPRCtrl.textSearch">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3"  ng-show="(UploadItemPRCtrl.selectedSearchBy === '1') || (UploadItemPRCtrl.selectedSearchBy === '2')">
                                <div class="input-group date form_datetime margintop20" >
                                    <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" 
                                           close-text="{{'TUTUP'|translate}}" is-open="UploadItemPRCtrl.isCalendarOpened[1]" 
                                           ng-model="UploadItemPRCtrl.textDate" ng-click="UploadItemPRCtrl.openCalendar(0)"
                                           ng-change="UploadItemPRCtrl.jLoad(1)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="UploadItemPRCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.NO' | translate}}</th>
                                            <!--<th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.DATE' | translate}}</th>-->
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.APPROVAL' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.NO_PR' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.REQ_ITEM' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.PURCH_GROUP' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.TRACKING_NO' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.REQUISITIONER' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.MATERIAL' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.DESCRIPTION' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.MANUFACTURE' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.PART' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.QTY' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.UNIT' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.TOTALVALUE' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.CURRENCY' | translate}}</th>
                                            <!--<th class="center-vertical" style="min-width:200px">{{'ITEMPR.TABLE.HARMONIZED_CODE' | translate}}</th>-->
                                            <!--<th class="center-vertical" style="min-width:150px">{{'ITEMPR.TABLE.CONCESSION_CATEGORY' | translate}}</th>-->
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.COMMODITY' | translate}}</th>
                                            <th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.DELIVERYDATE' | translate}}</th>
                                            <!--<th class="center-vertical">{{'ITEMPRUPLOAD.TABLE.FILE' | translate}}</th>-->
                                            <!--<th class="center-vertical">
                                                {{'ITEMPRUPLOAD.TABLE.ISUSED' | translate}}
                                            </th>-->
                                            <th class="center-vertical"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="pr in UploadItemPRCtrl.listItemPR">
                                            <td class="text-center">{{UploadItemPRCtrl.currentPage > 1 ? (UploadItemPRCtrl.maxSize * (UploadItemPRCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <!--<td class="text-center">{{pr.InputDate}}</td>-->
                                            <td class="text-center">{{pr.ApprovalDate}}</td>
                                            <td>{{pr.PurchaseReq}}</td>
                                            <td class="text-center">{{pr.RequisnItem}}</td>
                                            <td class="text-center">{{pr.PurchGroup}}</td>
                                            <td class="text-center">{{pr.TrackingNumber}}</td>
                                            <td>{{pr.Name}}</td>
                                            <td>{{pr.Material}}</td>
                                            <td>
                                                {{pr.ShortText}} {{pr.ItemText}} {{pr.MaterialPOText}} {{pr.HeaderNote}} {{pr.ItemNote}} {{pr.DeliveryText}} {{pr.NoteForBuyer}}
                                            </td>
                                            <td>{{pr.Manufacturer1 ? pr.Manufacturer1 + ' ;' : ''}}{{pr.Manufacturer2}}</td>
                                            <td>{{pr.MPNMaterial}}</td>
                                            <td class="text-center">{{pr.Quantity}}</td>
                                            <td class="text-center">{{pr.UnitMeasure}}</td>
                                            <td style="text-align:right;">{{pr.TotalValue | currency : ""}}</td>
                                            <td>{{pr.Currency}}</td>
                                            <!--<td class="text-center">{{pr.HarmonizedTariffCode}}</td>-->
                                            <!--<td class="text-center">{{pr.ConcessionCategoryCode}}</td>-->
                                            <td nowrap>{{pr.CommodityName}}</td>
                                            <td class="text-center">{{pr.DeliveryDate}}</td>
                                            <!--<td style="vertical-align: middle;">{{pr.fileDocumen}}</td>-->
                                            <!--<td style="vertical-align: middle;">{{pr.IsUsed}}</td>-->
                                            <td class="text-center">
                                                <button ng-if="UploadItemPRCtrl.isAllowedUploadItem" class="btn btn-sm btn-danger" ng-click="UploadItemPRCtrl.hapusItemPR(pr.ID)" title="{{'ITEMPRUPLOAD.BTN_DEL' | translate}}"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div></div>
                            </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-7">
                            <ul uib-pagination boundary-links="true" total-items="UploadItemPRCtrl.totalItems" ng-model="UploadItemPRCtrl.currentPage"
                                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                ng-change="UploadItemPRCtrl.jLoad(UploadItemPRCtrl.currentPage)"></ul>
                            <br />
                            <label>{{'TOTAL_DATA' | translate}} : {{UploadItemPRCtrl.totalItems}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>