﻿<section class="content" ng-init="PengumumanHasilPQCtrl.init()">
  <ol class="breadcrumb">
    <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
    <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
    <li><a href="#/data-prakualifikasi/tahapan/{{PengumumanHasilPQCtrl.PrequalSetupID}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
    <li><a class="active">{{'BREADCRUMB.PENGUMUMAN_PRAKUAL'|translate}}</a></li>

  </ol>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
      <div class="box box-info">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="text-center afta-font" style="padding-bottom: 20px;">{{'TITLE' | translate}}</h3>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <label>{{'Tanggal Mulai'|translate}}: {{PengumumanHasilPQCtrl.stepDetail.StartDate | date:"dd-MM-yyyy HH:mm"}}</label>
                </div>
                <div class="col-md-6">
                  <div class="pull-right">
                    <label>{{'Tanggal Selesai'|translate}}: {{PengumumanHasilPQCtrl.stepDetail.EndDate | date:"dd-MM-yyyy HH:mm"}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="pull-right" ng-show="PengumumanHasilPQCtrl.isPeriodOpen">
                <button ng-click="PengumumanHasilPQCtrl.openForm(true, null,false)"
                        class="btn btn-sm btn-primary">
                  <i class="fa fa-pencil"></i> {{'CREATE_ANNOUNCEMENT' | translate}}
                </button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="table table-responsive" style="padding-bottom: 20px;">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="text-center" style="width: 20px;vertical-align: middle!important;">No.</th>
                      <th class="text-center" style="vertical-align: middle!important;">{{'DESC' | translate}}</th>
                      <th class="text-center" style="width: 140px; min-width: 240px!important;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="pgm in PengumumanHasilPQCtrl.announc">
                      <td style="vertical-align: middle;">{{$index+1}}</td>
                      <td style="vertical-align: middle;"><p ng-bind-html="pgm.Description"></td>
                      <td class="text-center" style="vertical-align: middle!important;">
                        <a ng-if="pgm.IsPublish === true" ng-click="PengumumanHasilPQCtrl.openForm(false, pgm,false)" class="btn btn-flat btn-xs btn-warning" title="{{'Lihat'|translate}}"><i class="fa fa-external-link"></i></a>
                        <!--ng-if="pgm.TenderAnnouncement.IsPublish !== true"-->
                        <a ng-if="pgm.IsPublish !== true && PengumumanHasilPQCtrl.isPeriodOpen" ng-click="PengumumanHasilPQCtrl.openForm(true, pgm,true)" class="btn btn-flat btn-xs btn-primary" title="{{'Ubah Data'|translate}}"><i class="fa fa-edit"></i></a>
                        <a ng-if="pgm.IsPublish !== true && PengumumanHasilPQCtrl.isPeriodOpen" ng-click="PengumumanHasilPQCtrl.publish(pgm)" class="btn btn-flat btn-xs btn-success" title="Publish"><i class="fa fa-send"></i></a>
                      </td>
                    </tr>
                    <tr ng-if="PengumumanHasilPQCtrl.announc.length == 0">
                      <td colspan="3">{{'Tidak ada data'|translate}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br /><br /><br /><br />
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <button ng-click="PengumumanHasilPQCtrl.back()" class="btn btn-sm btn-default"><i class="fa fa-arrow-circle-left"></i> {{'BACK' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
