﻿<div ng-init="ViewVendorCtrl.init()" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ViewVendorCtrl.batal()" title="{{'CLOSE' | translate}}">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DATA_VENDOR' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 pull-right">
                <div class="input-group">
                    <input type="text" placeholder="{{'TABLE.VENDOR_NAME' | translate}}" ng-model="ViewVendorCtrl.keyword" class="form-control">
                    <span class="input-group-btn">
                        <button ng-if="ViewVendorCtrl.IsPublish != true" type="submit" class="btn btn-flat btn-primary" ng-click="ViewVendorCtrl.showVendor(1)">
                            <i class="fa fa-search"></i>
                        </button>
                        <button ng-if="ViewVendorCtrl.IsPublish == true" type="submit" class="btn btn-flat btn-primary" ng-click="ViewVendorCtrl.getVendor(1)">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align:middle">{{'TABLE.NO' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle; width:30%;">{{'TABLE.VENDOR_NAME' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle">{{'TABLE.VENDOR_EMAIL' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle">Area</th>
                            <th class="text-center" style="vertical-align:middle"><input ng-if="ViewVendorCtrl.IsPublish != true" ng-model="ViewVendorCtrl.IsCheckAll" ng-change="ViewVendorCtrl.checkAll()" type="checkbox" class="form-control" /></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vendor in ViewVendorCtrl.vendors">
                            <td class="center-vertical">{{ViewVendorCtrl.currentPage > 1 ? (ViewVendorCtrl.maxSize * (ViewVendorCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                            <td style="vertical-align: middle;">{{vendor.Name}}</td>
                            <td style="vertical-align: middle;">{{vendor.Email}}</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsLocal == true">Lokal</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsNational == true">National</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsInternational == true">International</td>
                            <td ng-if="vendor.flagButton === true && ViewVendorCtrl.IsPublish != true" style="vertical-align: middle;">
                                <input ng-model="vendor.IsCheck" type="checkbox" class="form-control" ng-change="ViewVendorCtrl.selectvendor(vendor)" />
                            </td>
                            <td ng-if="vendor.flagButton === false || ViewVendorCtrl.IsPublish == true" style="vertical-align: middle;">
                                <input disabled ng-model="vendor.IsCheck" type="checkbox" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <ul ng-if="ViewVendorCtrl.IsPublish != true" ng-class="pull-right" uib-pagination boundary-links="true" total-items="ViewVendorCtrl.totalItems" ng-model="ViewVendorCtrl.currentPage"
                    class="pagination-sm" previous-text="&lsaquo;" max-number="ViewVendorCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-change="ViewVendorCtrl.showVendor(ViewVendorCtrl.currentPage)" max-size="10"></ul>
                
                <ul ng-if="ViewVendorCtrl.IsPublish == true" ng-class="pull-right" uib-pagination boundary-links="true" total-items="ViewVendorCtrl.totalItems" ng-model="ViewVendorCtrl.currentPage"
                    class="pagination-sm" previous-text="&lsaquo;" max-number="ViewVendorCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-change="ViewVendorCtrl.getVendor(ViewVendorCtrl.currentPage)" max-size="10"></ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label>Total Data : {{ViewVendorCtrl.totalItems}}</label>
                <br />
                <label ng-if="ViewVendorCtrl.IsPublish != true">Total Data yang dipilih : {{ViewVendorCtrl.selectedVendor.length}}</label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a ng-if="ViewVendorCtrl.IsPublish != true" class="btn btn-sm btn-flat btn-success" ng-click="ViewVendorCtrl.save()" title="Save">
            <i class="fa fa-paste"></i>&nbsp; Save
        </a>
        <a class="btn btn-sm btn-flat btn-primary" ng-click="ViewVendorCtrl.batal()" title="Kembali">
            <i class="fa fa-arrow-circle-left"></i>&nbsp; Kembali
        </a>
    </div>
</div>
