﻿<div class="modal-content" ng-init="PostAwjCtrl.init()">
    <div class="modal-header">
        <button type="button" ng-click="PostAwjCtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span></button>
        <h3 class="modal-title afta-font">{{'FORM.FORMTITLE' | translate}}</h3>
    </div>
    <form role="form" ng-submit="PostAwjCtrl.save()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'FORM.QUESTIONTITLE' | translate}}</label>
                                <input required type="text" ng-model="PostAwjCtrl.QuestionTitle" class="form-control" placeholder="{{'FORM.QUESTIONTITLE' | translate}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header">
                                    <h4 class="box-title afta-font">{{'FORM.QUESTION' | translate}} <small class="afta-font">{{'FORM.QUESTIONPOST' | translate}}</small></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body pad">
                                    <textarea required ng-model="PostAwjCtrl.Question" name="editor1" rows="10" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                   {{'FORM.UPLOADDOC' | translate}} 
                                    <small> ( <span ng-repeat="ft in PostAwjCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{PostAwjCtrl.idUploadConfigs[0].Size}} {{PostAwjCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                </label>
                                <input type="file" class="form-control" ng-file-select="PostAwjCtrl.selectUpload()"
                                       ng-model="PostAwjCtrl.fileUpload" name="ownerIDFile" accept="{{PostAwjCtrl.idFileTypes}}" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="PostAwjCtrl.batal()" class="btn btn-flat btn-primary"><i class="fa fa-arrow-circle-left"></i>&nbsp;{{'BTN.BACK' | translate}}</button>
            <button type="submit" class="btn btn-flat btn-success"><i class="fa fa-save"></i>&nbsp; {{'BTN.POST_QUEST' | translate}}</button>
        </div>
    </form>
</div>
