﻿<div ng-init="MyAccountCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li>
				<a><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a>
			</li>
			<li>
				<a>{{'BREADCRUMB.MYACCOUNT' | translate}}</a>
			</li>
		</ol>
		<div class="row well">
		
			<div class="col-md-12">
				<!--<dl class="dl-horizontal">
					<dt>Nomor SIUP/SIUI/SIUJK/TDP</dt>
					<dd>{{FormIzinCtrl.dataLicensi.LicenseNo}}</dd>
					<dt>Jenis Ijin</dt>
					<dd>{{FormIzinCtrl.licensiname}}</dd>
					<dt>Berlaku Sampai</dt>
					<dd>{{FormIzinCtrl.dataLicensi.ExpiredDate}}</dd>
					<dt>Instansi Pemberi</dt>
					<dd>{{FormIzinCtrl.dataLicensi.IssuedBy}}</dd>
				</dl>-->
				<button class="btn btn-primary" ng-click="MyAccountCtrl.toChangePassword()" title="Change Password">
					<i class="fa fa-lock"></i>&nbsp;{{'BUTTON.CHANGEPASSWORD' | translate}}...
				</button>
			</div>
		</div>
	</section>
</div>