﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="ModalLicenseCtrl.init()">
     <div class="modal-header">
                <button type="button" class="close" ng-click="ModalLicenseCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
                <h3 class="modal-title afta-font" ng-if="ModalLicenseCtrl.isAdd === 1" id="myModalLabel">{{'TABLE_DETAIL.TITLE' | translate}}</h3>
                <h3 class="modal-title afta-font" ng-if="ModalLicenseCtrl.isAdd === 3" id="myModalLabel">{{'DET_TENAGA_AHLI' | translate}}</h3>
                <h3 class="modal-title afta-font" ng-if="ModalLicenseCtrl.isAdd === 16" id="myModalLabel">{{'DET_DOK_LAIN' | translate}}</h3>
     </div>
    <div class="modal-body" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 1">
                        <dl class="dl-horizontal">
                            <dt>{{'TABLE_DETAIL.NOMOR' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseNo !== null">{{ModalLicenseCtrl.data.LicenseNo}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseNo === null">{{'NO_DATA' | translate}}</dd>
                            <dt>{{'TABLE_DETAIL.TYPE_LICENSE' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseName !== null">{{ModalLicenseCtrl.data.LicenseName}}</dd>
                            <dt>{{'DATE' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.ExpiredDate !== null">{{ModalLicenseCtrl.data.ExpiredDate | date: 'dd-MM-yyyy'}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.ExpiredDate === null">{{'NO_DATA' | translate}}</dd>
                            <dt>{{'TABLE_DETAIL.ISSUED_BY' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.IssuedBy !== null">{{ModalLicenseCtrl.data.IssuedBy}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.IssuedBy === null">{{'NO_DATA' | translate}}</dd>
                            <dt>{{'TABLE_DETAIL.DOC' | translate}}</dt>
                            <dd ng-if="!(ModalLicenseCtrl.data.DocumentURL ==='' || ModalLicenseCtrl.data.DocumentURL  ===null)">
                                <a href="{{ModalLicenseCtrl.folderFile+ModalLicenseCtrl.data.DocumentURL}}" class="btn btn-xs btn-primary" target="_BLANK" title="{{'TABLE_DETAIL.BTN_DOWNLOAD' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;
                                </a>

                            </dd>
                            <dd ng-if="ModalLicenseCtrl.data.DocumentURL==='' || ModalLicenseCtrl.data.DocumentURL===null">
                                <label class="label label-sm label-default">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;{{'TABLE_DETAIL.KET' | translate}}
                                </label>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 2">
                        <dl class="dl-horizontal">
                            <dt>{{'NAMA'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.PersonName}}</dd>
                            <dt>{{'TGL_LAHIR'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.DateOfBirth}}</dd>
                            <dt>{{'NO_KTP'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.NoID}}</dd>
                            <dt>{{'ALAMAT'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Address.AddressInfo}} </dd>
                            <dt></dt>
                            <dd>{{ModalLicenseCtrl.data.Address.AddressDetail}}</dd>
                            <dt>{{'JABATAN'|translate}}</dt>
                            <dd>{{('POSITION_PERSON.' + ModalLicenseCtrl.data.PositionRef) | translate}}</dd>
                            <dt>{{'MENJABAT_SEJAK'|translate}}</dt>
                            <dd><span>{{ModalLicenseCtrl.data.ServiceStartDate | date: "dd-MM-yyyy"}}</span></dd>
                            <dt>{{'SAMPAI'|translate}}</dt>
                            <dd ng-if="viewPPCtrl.data.ServiceEndDate != null">{{viewPPCtrl.data.ServiceEndDate}}</dd>
                            <dd ng-if="viewPPCtrl.data.ServiceEndDate == null">{{'MASIH_MENJABAT' | translate}}</dd>
                            <dt>{{'SCAN_KTP'|translate}}</dt>
                            <dd><a href="{{ModalLicenseCtrl.folderFile + ModalLicenseCtrl.data.IDUrl}}" target="_BLANK" class="label label-sm label-primary" title="{{'BTN.DOWNLOAD'|translate}}"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 3">
                        <dl class="dl-horizontal">
                            <dt>{{'TABLE.EXPERT_NAME' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Name}}</dd>
                            <dt>{{'TABLE.TGL_LAHIR' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.DateOfBirth | date: 'dd-mm-yyyy'}}</dd>
                            <dt>{{'TABLE.GENDER' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.Gender === 'M'">{{'TABLE.GENDER_MALE' | translate}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.Gender === 'F'">{{'TABLE.GENDER_FEMALE' | translate}}</dd>
                            <dt>{{'TABLE.ALAMAT' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.address.AddressInfo}}</dd>
                            <dt>{{'TABLE.LAST_EDUC' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Education|translate}}</dd>
                            <dt>{{'TABLE.CITIZEN' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.country.Name}}</dd>
                            <dt>{{'TABLE.JABATAN' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Position}}</dd>
                            <dt>{{'TABLE.JOB_EXPER' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.YearOfExperience}} {{'Tahun'|translate}}</dd>
                            <dt>{{'TABLE.EMPLOY_STATUS' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Statusperson.Value |translate}}</dd>
                            <dt>{{'TABLE.DESC_PROF' | translate}}</dt>
                            <dd>
                                <p>
                                    {{ModalLicenseCtrl.data.Expertise}}
                                </p>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 4">
                        <dl class="dl-horizontal">
                            <dt>{{'TABLE.CONTRACT_NAME' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.ContractName}}</dd>
                            <dt>{{'TABLE.LOC' | translate}} </dt>
                            <dd>
                                {{ModalLicenseCtrl.lokasidetail}}
                            </dd>
                            <dt>{{'TABLE.INSTANCE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Agency}}</dd>
                            <dt>{{'TABLE.ALAMAT' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Address}}</dd>
                            <dt>{{'TABLE.NOTELP' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.AgencyTelpNo}}</dd>
                            <dt>{{'TABLE.CONTRACT_NUM' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.ContractNo}}</dd>
                            <dt>{{'TABLE.CONTRACT_VALUE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.CurrencyRef}} {{ModalLicenseCtrl.data.ContractValue | currency:""}}</dd>
                            <dt>{{'TABLE.STARTDATE'| translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.StartDate | date: "dd-MM-yyyy"}}</dd>
                            <dt>{{'TABLE.ENDCONTRACT'| translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.EndDate | date: "dd-MM-yyyy"}}</dd>
                            <dt>{{'TABLE.DOWNLOAD_DOC' | translate}}</dt>
                            <dd ng-show="!(ModalLicenseCtrl.data.DocumentURL === null || ModalLicenseCtrl.data.DocumentURL === '')">
                                <a href="{{ModalLicenseCtrl.folderFile + ModalLicenseCtrl.data.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="{{'BTN.DOWNLOAD_FILE' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;
                                </a>
                            </dd>
                            <dd ng-show="(ModalLicenseCtrl.data.DocumentURL === null || ModalLicenseCtrl.data.DocumentURL === '')">
                                <button class="btn btn-sm btn-default"><i class="fa fa-download" title="{{'BTN.BELUM_ADA_FILE' | translate}}"></i> </button>
                            </dd>
                            <dt>{{'REMARK' | translate}}</dt>
                            <dd>
                                <p>
                                    {{ModalLicenseCtrl.data.Remark}}
                                </p>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 16">
                        <dl class="dl-horizontal">
                            <dt>{{'FORM.DOCUMENTNAME' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.DocumentName|translate}}</dd>
                            <dt>{{'FORM.DOCNO' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.DocumentNo}}</dd>
                            <dt>{{'FORM.EXPIREDDATE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.ValidDateConverted}}</dd>
                            <dt>{{'FORM.DOCUMENT' | translate}}</dt>
                            <dd><a href="{{ModalLicenseCtrl.folderFile + ModalLicenseCtrl.data.DocumentUrl}}" target="BLANK" class="label label-sm label-primary" title="{{'BTN.DOWNLOAD' | translate}}"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></dd>
                        </dl>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-flat btn-primary" ng-click="ModalLicenseCtrl.batal()" title="{{'BTN.BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
            <div>
            </div>
        </div>

    </div>