<div class="modal-content" ng-init="FormBuildingCtrl.init()" ng-if="(FormBuildingCtrl.tipeform === 'building')">
    <div class="modal-header">
        <button type="button" class="close" ng-click="FormBuildingCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{FormBuildingCtrl.title | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>{{'TABLE.CATEGORY' | translate}}</dt>
                            <dd>: {{FormBuildingCtrl.dataBuilding.Category.Value  | translate}}</dd>
                            <dt>{{'TABLE.LARGE' | translate}}</dt>
                            <dd>: {{FormBuildingCtrl.dataBuilding.BuildingArea}} (M<sup>2</sup>)</dd>
                            <dt>{{'TABLE.OWNERSHIP' | translate}}</dt>
                            <dd>: {{FormBuildingCtrl.dataBuilding.OwnershipStatus.Value | translate}}</dd>
                            <dt>{{'TABLE.ADDRESS' | translate}}</dt>
                            <dd>
                                : {{FormBuildingCtrl.FullAddress}}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="FormBuildingCtrl.batal()" title="{{'BTN.BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
            <div>
            </div>
        </div>
    </div>
</div>

<div ng-if="FormNonBuildingCtrl.tipeform">
    <div class="modal-content" ng-init="FormNonBuildingCtrl.init()" ng-if="!(FormNonBuildingCtrl.tipeform === 'building')">
        <div class="modal-header">
            <button type="button" class="close" ng-click="FormNonBuildingCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">{{FormNonBuildingCtrl.title | translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-10 center-block" style="float: none!important;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 center-block" style="float: none!important;">
                    <div class="row well">
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt>{{'TABLE.EQUIPMENTNAME' | translate}} </dt>
                                <dd>: {{FormNonBuildingCtrl.dataForm.Name}}</dd>
                                <dt>{{'TABLE.CAPACITYTON' | translate}}</dt>
                                <dd>: {{FormNonBuildingCtrl.dataForm.Capacity}}</dd>
                                <dt>{{'TABLE.BRAND' | translate}}</dt>
                                <dd>: {{FormNonBuildingCtrl.dataForm.Brand}}</dd>
                                <dt>{{'TABLE.YEAR' | translate}}</dt>
                                <dd>: {{FormNonBuildingCtrl.dateconvert | date : 'yyyy'}}</dd>
                                <dt>{{'TABLE.OWNERSHIP' | translate}}</dt>
                                <dd>: {{FormNonBuildingCtrl.selectedKepemilikan.Value | translate}}</dd>
                                <dt>{{'TABLE.CONDITION' | translate}}</dt>
                                <dd>: {{FormNonBuildingCtrl.selectedConditional.Value | translate}}</dd>
                                <dt>{{'TABLE.SERIALNO' | translate}}</dt>
                                <dd>: {{FormNonBuildingCtrl.dataForm.SerialNo}}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="FormNonBuildingCtrl.batal()" title="{{'BTN.BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
            <div>
            </div>
        </div>
    </div>
</div>