﻿<div ng-init="vhsfpaTechEvalResulDetermineCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/home-admin">Home</a></li>
			<li><a class="active">{{'BREADCRUMB.VHSFPA_RESULT_DETERMINATION' | translate}}</a></li>
		</ol>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 center-block" style="float: none!important;">
					<div class="box box-info">
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{vhsfpaTechEvalResulDetermineCtrl.title | translate}}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<label>{{'START_DATE' | translate}}: {{vhsfpaTechEvalResulDetermineCtrl.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
								</div>
								<div class="col-md-4">
									<label>{{'END_DATE' | translate}}: {{vhsfpaTechEvalResulDetermineCtrl.EndDate | date:"dd-MM-yyyy HH:mm"}}</label>
								</div>
								<div class="col-md-12">
									<label>Tender:{{vhsfpaTechEvalResulDetermineCtrl.TenderName}}</label>
								</div>
								<div class="col-md-12" ng-if="vhsfpaTechEvalResulDetermineCtrl.isCancelled">
									<label class="text-red"><i>(Pengadaan ini telah dibatalkan)</i></label>
								</div>
							</div>
							<hr />
							<div class="row" style="margin-top: 20px;">
								<div class="col-md-6">
									<div class="form-group">
										<label>{{'FORM.SUMMARY' | translate }}</label>
										<textarea class="form-control input-sm" ng-disabled="vhsfpaTechEvalResulDetermineCtrl.IsPublished" ng-model="vhsfpaTechEvalResulDetermineCtrl.SummaryText"></textarea>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>{{'FORM.INFORMTOVENDOR' | translate }}</label><br />
										<input ng-disabled="vhsfpaTechEvalResulDetermineCtrl.IsPublished" type="checkbox" ng-model="vhsfpaTechEvalResulDetermineCtrl.IsInformedToVendor" />
									</div>
								</div>
								<div class="col-md-3">
									<!--<div class="form-group">
										<label>&nbsp;</label><br />
										<button ng-hide="vhsfpaTechEvalResulDetermineCtrl.IsPublished" type="button" ng-click="vhsfpaTechEvalResulDetermineCtrl.publish()" class="btn btn-primary" title="Publish">
											<i class="fa fa-send"></i>&nbsp;{{'FORM.PUBLISH' | translate}}
										</button>
									</div>-->
								</div>
								<div class="col-md-12">
									<div class="table table-responsive" style="padding-bottom: 20px;">
										<table class="table table-bordered table-striped" id="table-rekanan">
											<thead>
												<tr>
													<th class="text-center" width="20px">No.</th>
													<th class="text-center">{{'VENDOR_NAME' | translate}}</th>
													<th class="text-center">Score</th>
													<th class="text-center">{{'EVAL_RESULT' | translate}}</th>
													<!--<th class="text-center">{{'DETERMINATION_RESULT' | translate}}</th>-->
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="dt in vhsfpaTechEvalResulDetermineCtrl.Vendors">
													<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
													<td class="text-center" style="vertical-align: middle;">{{dt.VendorName}}</td>
													<td class="text-center" style="vertical-align: middle;">{{dt.Score}}</td>
													<td ng-if="dt.IsPassed" class="text-center" style="vertical-align: middle;">{{'PASSED' | translate}}</td>
													<td ng-if="!dt.IsPassed" class="text-center" style="vertical-align: middle;">{{'FAILED' | translate}}</td>
													<!--<td class="text-center" style="vertical-align: middle;">
														<select id="cmbResult" ng-disabled="vhsfpaTechEvalResulDetermineCtrl.IsPublished" name="cmbResult" ng-model="dt.FinalResult" class="form-control" ng-options="item.Value as item.Name | translate for item in vhsfpaTechEvalResulDetermineCtrl.listDropdown">
															<option value="" selected disabled>-- Status --</option>
														</select>
													</td>-->
												</tr>
												<tr ng-if="vhsfpaTechEvalResulDetermineCtrl.Vendors.length === 0">
													<td colspan="3" class="text-center" style="vertical-align: middle;">Data Tidak Ada</td>
												</tr>
											</tbody>
										</table>
									</div><br />
									<div>
										<!--<button ng-disabled="goodsTechEntryCtrl.isCancelled" ng-if="goodsTechEntryCtrl.isNeedApproval" ng-click="goodsTechEntryCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="Send to Approval">
											<i class="fa fa-paste"></i>
										</button>
										<button ng-if="goodsTechEntryCtrl.isApprovalSent" ng-click="goodsTechEntryCtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="Detail Approval">
											<i class="fa fa-sitemap"></i>
										</button>-->
									</div>
									<!--<div ng-if="PPBCtrl.isNeedApproval">
										<a ng-click="PPBCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="Send to Approval">
											<i class="fa fa-paste"></i>
										</a>
									</div>-->
								</div>
							</div>
							<div class="row" style="margin-top: 20px;">
								<div class="col-md-12">
									<!--<button ng-hide="vhsfpaTechEvalResulDetermineCtrl.IsPublished" class="pull-right btn btn-success" ng-click="vhsfpaTechEvalResulDetermineCtrl.Determine()">
										<i class="fa fa-save"></i>&nbsp;{{'FORM.SAVE' | translate}}
									</button>-->
									<button ng-hide="vhsfpaTechEvalResulDetermineCtrl.IsPublished" type="button" ng-click="vhsfpaTechEvalResulDetermineCtrl.publish()" class="btn btn-primary" title="Publish">
										<i class="fa fa-send"></i>&nbsp;{{'FORM.PUBLISH' | translate}}
									</button>
									<label class="text-center">
										<button type="button" ng-click="vhsfpaTechEvalResulDetermineCtrl.backpengadaan()" class="btn btn-danger" title="Kembali">
											<i class="fa fa-arrow-circle-left"></i>&nbsp;{{'FORM.BACK' | translate}}
										</button>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
