﻿<div ng-init="approvalSignatureCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin">{{'LABEL.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'LABEL.CMCOMMITTEE' | translate}}</a></li>
    </ol>

    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row" style="margin-bottom: 50px;">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'LABEL.CMCOMMITTEE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                                <select class="form-control" ng-model="action" ng-change="approvalSignatureCtrl.act(action)">
                                    <option value="">{{'LABEL.PENCARIAN' | translate}}</option>
                                    <option value="1">{{'LABEL.TENDERCODE' | translate}}</option>
                                    <option value="2">{{'LABEL.CONTRACTTITLE' | translate}}</option>
                                    <option value="3">{{'LABEL.CONTRACTNO' | translate}}</option>
                                    <option value="4">{{'LABEL.VENDORNAME' | translate}}</option>
                                    <option value="5">{{'LABEL.PM' | translate}}</option>
                                    <option value="6">{{'LABEL.BUYER' | translate}}</option>
                                    <option value="7">{{'LABEL.STARTDATE' | translate}}</option>
                                    <option value="8">{{'LABEL.ENDDATE' | translate}}</option>
                                </select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group pull-left" ng-if="approvalSignatureCtrl.action == '1' || approvalSignatureCtrl.action == '2' || approvalSignatureCtrl.action == '3' || approvalSignatureCtrl.action == '4' || approvalSignatureCtrl.action == '5' || approvalSignatureCtrl.action == '6'">
                                <input type="text" class="form-control" placeholder="{{'LABEL.FIND' | translate}} {{approvalSignatureCtrl.action == '1' ? ('LABEL.TENDERCODE' | translate) : (approvalSignatureCtrl.action == '2' ? ('LABEL.CONTRACTTITLE' | translate) : (approvalSignatureCtrl.action == '3' ? ('LABEL.CONTRACTNO' | translate) : (approvalSignatureCtrl.action == '4' ? ('LABEL.VENDORNAME' | translate) : (approvalSignatureCtrl.action == '5' ? ('LABEL.PM' | translate) : (approvalSignatureCtrl.action == '6' ? ('LABEL.BUYER' | translate) : ''))))) }}" ng-model="approvalSignatureCtrl.keyword">
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="approvalSignatureCtrl.cari(approvalSignatureCtrl.keyword)" title="{{'LABEL.FIND' | translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group pull-left" ng-if="approvalSignatureCtrl.action == '7'">

                                <input readonly style="background-color: #ffffff;" placeholder="{{'LABEL.STARTDATE' | translate}}" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'LABEL.TUTUP'|translate}}"
                                       is-open="approvalSignatureCtrl.isCalendarOpened[0]" ng-model="approvalSignatureCtrl.Date1" ng-click="approvalSignatureCtrl.openCalendar(0)"
                                       ng-change="approvalSignatureCtrl.ubahDate(approvalSignatureCtrl.Date1)" />
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="approvalSignatureCtrl.cari(approvalSignatureCtrl.keyword)" title="{{'LABEL.FIND' | translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group pull-left" ng-if="approvalSignatureCtrl.action == '8'">
                                <input readonly style="background-color: #ffffff;" placeholder="{{'LABEL.ENDDATE' | translate}}" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'LABEL.TUTUP'|translate}}"
                                       is-open="approvalSignatureCtrl.isCalendarOpened[0]" ng-model="approvalSignatureCtrl.Date2" ng-click="approvalSignatureCtrl.openCalendar(0)"
                                       ng-change="approvalSignatureCtrl.ubahDate(approvalSignatureCtrl.Date2)" />
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="approvalSignatureCtrl.cari(approvalSignatureCtrl.keyword)" title="{{'LABEL.FIND' | translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">No.</th>
                                            <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'LABEL.TENDERCODE' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'LABEL.CONTRACTTITLE' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'LABEL.CONTRACTNO' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'LABEL.VENDORNAME' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'LABEL.PM' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'LABEL.BUYER' | translate}}</th>
                                            <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'LABEL.STARTDATE' | translate}}</th>
                                            <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'LABEL.ENDDATE' | translate}}</th>
                                            <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'LABEL.ACTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in approvalSignatureCtrl.dataContract">
                                            <td class="text-center">{{approvalSignatureCtrl.currentPage > 1 ? (approvalSignatureCtrl.pageSize * (approvalSignatureCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td>{{data.TenderCode ? data.TenderCode:'-'}}</td>
                                            <td>{{data.TenderName ? data.TenderName:'-'}}</td>
                                            <td>{{data.ContractNo ? data.ContractNo : '-'}}</td>
                                            <td>{{data.VendorName ? data.VendorName : '-'}}</td>
                                            <td>{{data.ProjectManager ? data.ProjectManager : '-'}}</td>
                                            <td>{{data.BuyerOrCe ? data.BuyerOrCe : '-'}}</td>
                                            <td class="text-center">{{data.startDateTender | date: 'dd MMMM yyyy'}}</td>
                                            <td class="text-center">{{data.endDateTender | date: 'dd MMMM yyyy'}}</td>
                                            <td class="text-center">
                                                <button ng-if="data.StatusName != 'Initial'" ng-click="approvalSignatureCtrl.detail(data.ContractManagementID)" class="btn btn-flat btn-sm btn-primary" title="{{'LABEL.FK' | translate}}"><i class="fa fa-eye"></i></button>
                                                <a href="{{approvalSignatureCtrl.folderFile + data.DocURLTemplate}}" ng-if="data.StatusName != 'Initial'" class="btn btn-flat btn-sm btn-warning" title="{{'LABEL.DOWNLOAD' | translate}}"><i class="fa fa-file"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="approvalSignatureCtrl.dataContract.length === 0"> <td colspan="9"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-2">
                            <label>Total items: {{approvalSignatureCtrl.totalItems}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sd-4 col-md-7">
                            <ul uib-pagination total-items="approvalSignatureCtrl.totalItems" max-size="10"
                                ng-model="approvalSignatureCtrl.currentPage" items-per-page="approvalSignatureCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="approvalSignatureCtrl.jLoad(approvalSignatureCtrl.currentPage)"></ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
