﻿<div class="modal-content" ng-init="viewLampiranCtrl.init()">
    <div class="modal-header">
        <button type="button" class="btn btn-primary" ng-click="viewLampiranCtrl.batal()" title="{{'LABEL.KEMBALI' | translate}}"><i class="fa fa-reply"></i></button>
    </div>
    <div class="container-fluid">
        <div class="modal-body">
            <div class="row">
                <iframe src="{{viewLampiranCtrl.urlFileAslie}}" style="width:100%;height:800px;"></iframe>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-primary" ng-click="viewLampiranCtrl.batal()" title="{{'LABEL.KEMBALI' | translate}}"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>