﻿<section class="content" ng-init="roleAccessSetupCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.ACCESSLOG' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float:none!important">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<div class="col-md-5">
							<h3 class="judul-datatabel afta-font">{{'ROLE_ACCESS_SETUP' | translate}}</h3>
						</div>
						<div class="col-md-3">
							<select id="cmbFilter" name="cmbFilter" ng-model="roleAccessSetupCtrl.filterBy" class="form-control" ng-options="item.Value as item.Name | translate for item in roleAccessSetupCtrl.listFilter">
								<option value="" selected disabled>-- Search by --</option>
							</select>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{{'FIND' | translate}}" ng-model="roleAccessSetupCtrl.srchText" />
								<span class="input-group-btn">
									<button ng-click="roleAccessSetupCtrl.show()" type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical">No.</th>
											<th class="center-vertical">Activity Name</th>
											<th class="center-vertical">Created By</th>
											<th class="center-vertical">Timestamp</th>
											<th class="center-vertical"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="log in accessLogCtrl.logs">
											<td class="center-vertical">{{accessLogCtrl.currPage > 1 ? (accessLogCtrl.maxSize * (accessLogCtrl.currPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{log.ActivityName}}</td>
											<td style="vertical-align: middle;">{{log.CreatedBy}}</td>
											<td style="vertical-align: middle;">{{log.Timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
											<td class="center-vertical">
												<a ng-click="accessLogCtrl.view(log)" class="btn btn-flat btn-sm btn-primary" title="View">
													<i class='fa fa-edit'></i>&nbsp;
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="accessLogCtrl.totalItems" ng-model="accessLogCtrl.currPage"
								class="pagination-sm" previous-text="&lsaquo;" max-number="10" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
								ng-change="accessLogCtrl.jLoad()" max-size="10"></ul>
							<br />
						</div>
					</div><br />
					<label>{{'TOTAL_DATA' | translate}} : {{accessLogCtrl.totalItems}}</label>
				</div>
			</div>
		</div>
	</div>
</section>