﻿<style>
    /* The container */
.container {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}
</style>
<div class="modal-content" ng-init="AfiliasiModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="AfiliasiModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" ng-if="AfiliasiModalCtrl.isAdd == 1">{{'MODAL_TAMBAH' | translate}}</h3>
        <h3 class="modal-title afta-font" ng-if="AfiliasiModalCtrl.isAdd == 0">{{'MODAL_UBAH' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-top: 15px; margin-left: 2px; margin-bottom: 35px;" ng-if="AfiliasiModalCtrl.isAdd == 1 && AfiliasiModalCtrl.adaData == 0">
            <div class="col-sm-2" style="padding-left: 0px; padding-right: 0px;">
                <label class="container">
                    <input type="radio" name="radio" ng-change="AfiliasiModalCtrl.changeMemiliki(AfiliasiModalCtrl.hasAffiliation)" ng-model="AfiliasiModalCtrl.hasAffiliation" value="4521">
                    <span class="checkmark"></span><span style="font-size: 15px;">Memiliki Afiliasi</span>
                </label>
            </div>
            <div class="col-md-3">
                <label class="container">
                    <span style="font-size: 15px;">Tidak Memiliki Afiliasi</span>
                    <input type="radio" name="radio" ng-change="AfiliasiModalCtrl.changeMemiliki(AfiliasiModalCtrl.hasAffiliation)" ng-model="AfiliasiModalCtrl.hasAffiliation" value="4522">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="row" ng-if="AfiliasiModalCtrl.afiliasiID != 6">
            <div class="col-md-6">
                <label>{{'TABLE.VENDOR_AFILIASI' | translate}}<span style="color: red;">*</span></label>
                <div class="form-group">
                    <input type="text" class="form-control"
                           ng-model="AfiliasiModalCtrl.vendorName"
                           ng-model-options="AfiliasiModalCtrl.modelOptions"
                           uib-typeahead="b as b.VendorName for b in AfiliasiModalCtrl.vendor | filter:$viewValue | limitTo:10"
                           placeholder="{{'TABLE.VENDOR_AFILIASI' | translate}}" ng-disabled="AfiliasiModalCtrl.afiliasiID == 6" maxlength="200">
                    <!--<select class="form-control" ng-model="AfiliasiModalCtrl.vendorID">
            <option value="" disabled>{{'PILIH_TIPE' | translate}}</option>
            <option value="{{vnd.VendorID}}" ng-repeat="vnd in AfiliasiModalCtrl.vendor" ng-selected="vnd.VendorID == AfiliasiModalCtrl.vendorID">{{vnd.VendorName}}</option>
        </select>-->
                    <!--<select required class="form-control"
                ng-model="AfiliasiModalCtrl.selectedVendor"
                ng-change="AfiliasiModalCtrl.ubahVendor(AfiliasiModalCtrl.selectedVendor)"
                ng-options="item as item.VendorName for item in AfiliasiModalCtrl.vendor">
            <option value="" selected disabled class="text-center">--{{"TABLE.VENDOR_AFILIASI" | translate}}--</option>
        </select>-->
                </div>
            </div>
            <div class="col-md-6">
                <label>{{'TABLE.TIPE_AFILIASI' | translate}}<span style="color: red;">*</span></label>
                <div class="form-group">
                    <select ng-disabled="AfiliasiModalCtrl.afiliasiID == 6" class="form-control" ng-model="AfiliasiModalCtrl.tipeAfiliasi" ng-change="AfiliasiModalCtrl.ubahTipe(AfiliasiModalCtrl.tipeAfiliasi)">
                        <option value="" disabled>{{'PILIH_TIPE' | translate}}</option>
                        <option value="{{afl.AfiliasiID}}" ng-repeat="afl in AfiliasiModalCtrl.afiliasi" ng-selected="afl.AfiliasiID == AfiliasiModalCtrl.tipeAfiliasi">{{afl.AfiliasiName}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" ng-if="AfiliasiModalCtrl.afiliasiID != 6">
            <div class="col-md-6">
                <label>{{'TABLE.DESKRIPSI' | translate}} </label>
                <div class="form-group">
                    <textarea type="text" ng-disabled="AfiliasiModalCtrl.vendorAfiliasiID == 6" class="form-control" placeholder="{{'TABLE.DESKRIPSI' | translate}}" ng-model="AfiliasiModalCtrl.deskripsi" style="resize: none;"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <label>{{'TABLE.JUMLAH_SAHAM' | translate}}<span style="color: red;">*</span></label>
                <div class="input-group">
                    <input type="text" ng-disabled="AfiliasiModalCtrl.vendorAfiliasiID == 6" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="AfiliasiModalCtrl.jumlahSaham" ng-change="AfiliasiModalCtrl.ubahJumlahSaham(AfiliasiModalCtrl.jumlahSaham)">
                    <span class="input-group-addon" id="basic-addon1">%</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    {{'UPLOAD_FILE' | translate}}<span style="color: red;">*</span>
                </label>
                <small> ( <span ng-repeat="ft in AfiliasiModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{AfiliasiModalCtrl.idUploadConfigs[0].Size}} {{AfiliasiModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                <input type="file" class="form-control" ng-file-select="AfiliasiModalCtrl.selectUpload()" ng-model="AfiliasiModalCtrl.fileUpload" name="ownerIDFile" required />
            </div>
            <div class="col-md-3" ng-if="AfiliasiModalCtrl.isAdd == 0" style="padding-top: 5px;">
                <div class="form-group">
                    <a href="{{AfiliasiModalCtrl.folderFile + AfiliasiModalCtrl.Dokumen_Url}}" class="btn btn-primary" style="margin-top:19px;" target="_blank"><i class="fa fa-download"></i> {{'DOWNLOAD' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="AfiliasiModalCtrl.batal()"><i class="fa fa-reply"></i>&nbsp; {{AfiliasiModalCtrl.btnBack}}</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="AfiliasiModalCtrl.uploadFile()"><i class="fa fa-save"></i>&nbsp; {{'Simpan' | translate}}</button>
    </div>
</div>