﻿<header class="header">
	<a ui-sref="home" class="logo afta-font" style="text-align: left!important;font-size: 1.4em!important;">
		eProcurement Vale Indonesia
	</a>
	<!-- e-Procurement PT. Asuransi Jiwasraya (Persero) -->
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top bg-greentosca-gradient" role="navigation">
		<!-- Sidebar toggle button-->
		<a class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="navbar-right">
			<ul class="nav navbar-nav">
				<!-- User Account: style can be found in dropdown.less -->
				<li>
					<a style="cursor: none; font-family: courier;">
						<!--<div x-clock></div>-->
						{{$root.serversekarang}}
					</a>
				</li>
				<li class="dropdown notifications-menu">
					<a class="dropdown-toggle" data-toggle="dropdown">
						{{main.currTime}}
					</a>
				</li>
				<li class="dropdown notifications-menu">
					<a class="dropdown-toggle" data-toggle="dropdown">
						{{main.getCurrLang().toString().toUpperCase()}}
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="lang in main.getLangList()">
							<a ng-click="main.setLang(lang.id)">{{lang.bahasa}}</a>
						</li>
					</ul>
				</li>
				<li ng-hide="main.currRoles.indexOf('APPLICATION.ROLE_VENDOR') !== -1 || main.currRoles.indexOf('APPLICATION.ROLE_VENDOR_INTERNATIONAL') !== -1" class="dropdown notifications-menu">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-bell-o"></i>
						<span class="label label-warning">{{ main.bellCount }}</span>
					</a>
					<ul class="dropdown-menu">
						<li class="header">Anda memiliki {{ main.bellCount }} jumlah pemberitahuan!</li>
						<li>
							<!-- inner menu: contains the actual data -->
							<ul class="menu">
								<li ng-if="main.jumlahRequestAktivasi !== 0 && (main.currRoles.indexOf('APPLICATION.ROLE_ADMINPROC') !== -1 || main.currRoles.indexOf('APPLICATION.ROLE_MGRPROC') !== -1)">
									<a ng-click="main.menujuAktivasi()" style="cursor: pointer;">
										<i class="fa fa-check text-blue"></i> <strong>{{main.jumlahRequestAktivasi}}</strong> Pendaftar yang belum teraktivasi
									</a>
								</li>
								<li ng-if="main.jumlahRequestVerifikasi !== 0 && (main.currRoles.indexOf('APPLICATION.ROLE_ADMINPROC') !== -1 || main.currRoles.indexOf('APPLICATION.ROLE_MGRPROC') !== -1)">
									<a ng-click="main.menujuAktivasi()" style="cursor: pointer;">
										<i class="fa fa-check-square text-green"></i> <strong>{{main.jumlahRequestVerifikasi}}</strong> Calon rekanan belum terverifikasi
									</a>
								</li>
								<li ng-if="main.jumlahRequestVerifikasiOther !== 0 && (main.currRoles.indexOf('APPLICATION.ROLE_ADMINPROC') !== -1 || main.currRoles.indexOf('APPLICATION.ROLE_MGRPROC') !== -1)">
									<a ng-click="main.menujuAktivasi()" style="cursor: pointer;">
										<i class="fa fa-check-square text-yellow"></i> <strong>{{main.jumlahRequestVerifikasiOther}}</strong> Calon rekanan belum terverifikasi (bidang lain-lain) 
									</a>
								</li>
								<li ng-if="main.jumlahRequestUbahData !== 0 && (main.currRoles.indexOf('APPLICATION.ROLE_ADMINPROC') !== -1 || main.currRoles.indexOf('APPLICATION.ROLE_MGRPROC') !== -1)">
									<a ng-click="main.toChangeRequest()" style="cursor: pointer;">
										<i class="fa fa-comments text-red"></i> <strong>{{main.jumlahRequestUbahData}}</strong> Permintaan ubah data
									</a>
								</li>
								<li ng-if="main.jumlahSubmitUbahData !== 0 && (main.currRoles.indexOf('APPLICATION.ROLE_ADMINPROC') !== -1 || main.currRoles.indexOf('APPLICATION.ROLE_MGRPROC') !== -1)">
									<a ng-click="main.toCRSubmitted()" style="cursor: pointer;">
										<i class="fa fa-comments text-green"></i> <strong>{{main.jumlahSubmitUbahData}}</strong> Submit ubah data
									</a>
								</li>
								<li ng-if="main.jumlahSubmitUbahDataOther !== 0 && (main.currRoles.indexOf('APPLICATION.ROLE_ADMINPROC') !== -1 || main.currRoles.indexOf('APPLICATION.ROLE_MGRPROC') !== -1)">
									<a ng-click="main.toCRSubmitted()" style="cursor: pointer;">
										<i class="fa fa-comments text-yellow"></i> <strong>{{main.jumlahSubmitUbahDataOther}}</strong> Submit ubah data (bidang lain-lain)
									</a>
								</li>
								<!--<li ng-if="!($root.jumlahExpired === 0)" style="cursor: pointer;">
									<a ng-click="menujuExpired()">
										<i class="fa fa-warning text-yellow"></i> <strong>{{$root.jumlahExpired}}</strong> Rekanan yang dokumennya expired
									</a>
								</li>-->
								<!--<li ng-if="!(main.rfqvhsApprvReq === 0)" style="cursor: pointer;">
									<a ng-click="toRFQVHSApproval()">
										<i class="fa fa-check text-blue"></i> <strong>{{main.rfqvhsApprovalRequestCount}}</strong> Approval VHS / FPA
									</a>
								</li>-->
								<!--<li ng-if="!(main.contractReqApprvReq === 0)" style="cursor: pointer;">
									<a ng-click="toContractReqApprv()">
										<i class="fa fa-check text-blue"></i> <strong>{{main.contractReqApprvReqCount}}</strong> Approval Contract Requisition
									</a>
								</li>-->
							</ul>
						</li>
					</ul>
				</li>

				<li class="dropdown user user-menu">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="glyphicon glyphicon-user"></i>
						<span class="afta-font" ng-init="main.">
							{{main.currUser}}
							<i class="caret"></i>
						</span>
					</a>
					<ul class="dropdown-menu">
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a ui-sref="view-akun-user" class="btn btn-default btn-flat">{{'MYACCOUNT'|translate}}</a>
							</div>
							<div class="pull-right">
								<a ng-click="main.logout()" class="btn btn-default btn-flat">{{'LOGOUT'|translate}}</a>
								<!--<a ui-sref="login-panitia" class="btn btn-default btn-flat">Keluar</a>-->
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>