﻿<div id="visitor">
    <div class="container-fluid" id="footer" ng-if="main.isLoggedIn()==='false'">
        <!--<hr style="border-top: 1px dotted #000;">-->
        <div class="row">
            <div class="col-md-3">
                <p>&copy; {{main.pageComponent.APP_YEAR}} - Vale | {{'FOOTER.COPYRIGHT_MSG' | translate}} </p>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-1">
                        <div class="img-globe"></div>
                    </div>
                    <div class="col-md-11 no-pad">
                        <p class="with-left">{{'FOOTER.COMPANY_DESC' | translate}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="main.isLoggedIn()==='true'" class="container-fluid text-center">
        <hr style="border-top: 1px dotted #000;">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-lg-12">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="http://www.vale.com/" style="font-family: 'afta_sansregular', Arial, sans-serif!important; color:#05B09F!important;">&copy; {{main.pageComponent.APP_YEAR}} {{main.pageComponent.COMPANY_NAME}}</a></li>
                    <li><a href="#" style="font-family: 'afta_sansregular', Arial, sans-serif!important;color:#05B09F!important;">{{main.pageComponent.APP_COPYRIGHT_MESSAGE}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
