﻿<ul class="nav navbar-nav navbar-right" id="visitor-menu">
    <li ng-class="{active: main.isActive('/beranda')}">
        <a ui-sref="home" style="cursor:pointer;">
            {{"MENUS.HOME" | translate}}
        </a>
    </li>
    <li ng-class="{active: main.isActive('/pengumuman-pengadaan-client')}">
        <a ui-sref="pengumuman-pengadaan-client" style="cursor:pointer;">
            {{"MENUS.ANNOUNCEMENT" | translate}}
        </a>
    </li>
    <li ng-class="{active: main.isActive('/pre-daftar')}">
        <a ui-sref="pre-daftar" style="cursor:pointer;">
            {{"MENUS.REGISTER" | translate}}
        </a>
    </li>
    <li ng-class="{active: main.isActive('/panitia')}">
        <a ui-sref="login-panitia" style="cursor:pointer;">
            {{"MENUS.LOGIN" | translate}}
        </a>
    </li>
	<li class="dropdown notifications-menu">
		<a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer;">
			{{main.getCurrLang().toString().toUpperCase()}}
		</a>
		<ul class="dropdown-menu">
			<li ng-repeat="lang in main.getLangList()">
				<a ng-click="main.setLang(lang.id)" class="dropdown-submenu" style="cursor:pointer;">{{lang.bahasa}}</a>
			</li>
		</ul>
	</li>
	<!-- <li ng-class="{active: $root.isActive('/pemenang-pengadaan')}">
		<a ui-sref="pemenang-pengadaan"> <i class="fa fa-trophy"></i> {{"MENUS.PUBLISH" | translate}}</a>
	</li> -->
</ul>
