﻿<div id="idTambahLibrary" class="modal-content" ng-init="frmUploadNeracaCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="frmUploadNeracaCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'VIEW_UPLOAD.TITLE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12" style="float: none!important;">
                <!-- <div class="box box-info"> -->
                    <!--notife flow-->
                    <div class="box-body">
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <h4 class="afta-font">{{'VIEW_UPLOAD.SUBTITLE' | translate}}</h4>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-2" ></div>
                            <div class="col-md-8" >
                                <div class="form-group">
                                    <label class="control-label">
                                        {{'VIEW_UPLOAD.UPLOAD' | translate}} :
                                        <span style="color:red">*</span>
                                    </label>
                                    <i> <small> ( <span ng-repeat="ft in frmUploadNeracaCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{frmUploadNeracaCtrl.idUploadConfigs[0].Size}} {{frmUploadNeracaCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small> </i>
                                    <span>
                                        <a ng-if="frmUploadNeracaCtrl.show == 1" target="_blank" href="{{frmUploadNeracaCtrl.folderFile + frmUploadNeracaCtrl.balanceDocUrl}}" class="btn btn-flat btn-primary turun-15" title="{{'DOWNLOAD' | translate}}">
                                            <i class='fa fa-download'></i> {{'DOWNLOAD_DOC' | translate}}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2" ></div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="file" class="form-control" ng-file-select="frmUploadNeracaCtrl.selectUpload()"
                                           ng-model="frmUploadNeracaCtrl.fileUpload" name="ownerIDFile" required />
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="frmUploadNeracaCtrl.batal()">
            <i class="fa fa-reply"></i> {{'BACK' | translate}}
        </button>
        <button class="btn btn-primary" ng-click="frmUploadNeracaCtrl.uploadFile()"><i class="fa fa-upload"></i> {{'BTN.UPLOAD' | translate}}</button>
    </div>
    </div>
