﻿<div class="modal-content" ng-init="formNeracaCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formNeracaCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{formNeracaCtrl.action | translate}} {{'BREADCRUMB.BALANCE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6" ng-if="formNeracaCtrl.langID">
                        <label>{{'ASSET_TYPE' | translate}}</label> <label style="color:red">*</label>
                        <select class="form-control input-sm" ng-model="formNeracaCtrl.selectedAsset"
                                ng-options="item as item.locale_in | translate for item in formNeracaCtrl.listAsset"
                                ng-change="formNeracaCtrl.loadCOA(formNeracaCtrl.selectedAsset)">
                            <option value="" ng-selected="true" style="display:none;">
                                -- {{'ASSET_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6" ng-if="!formNeracaCtrl.langID">
                        <label>{{'ASSET_TYPE' | translate}}</label> <label style="color:red">*</label>
                        <select class="form-control input-sm" ng-model="formNeracaCtrl.selectedAsset"
                                ng-options="item as item.locale_en | translate for item in formNeracaCtrl.listAsset"
                                ng-change="formNeracaCtrl.loadCOA(formNeracaCtrl.selectedAsset)">
                            <option value="" ng-selected="true" style="display:none;" disabled>
                                -- {{'ASSET_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>{{'COA_TYPE' | translate}}</label> <label style="color:red">*</label>
                        <select class="form-control input-sm" ng-model="formNeracaCtrl.selectedCOA"
                                ng-disabled="formNeracaCtrl.listCOA.length == 0"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listCOA"
                                ng-change="formNeracaCtrl.loadSubCOA(formNeracaCtrl.selectedCOA)">
                            <option value="" ng-selected="true" disabled>
                                -- {{'COA_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6">
                        <label>{{'SUB_COA_TYPE' | translate}}</label> <label style="color:red">*</label>
                        <select class="form-control input-sm" 
                                ng-model="formNeracaCtrl.selectedSubCOA"
                                ng-disabled="formNeracaCtrl.listSubCOA.length == 0 || formNeracaCtrl.param === ''"
                                ng-change="formNeracaCtrl.changeSubCOA(formNeracaCtrl.selectedSubCOA)"
                                ng-options="item as item.Value | translate for item in formNeracaCtrl.listSubCOA">
                            <option value="" ng-selected="true" disabled>
                                -- {{'SUB_COA_TYPE' | translate}} --
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                            <label>{{'CURRENCY' | translate}}<span style="color: red;">*</span></label>
                            <selectize ng-disabled="formNeracaCtrl.disableCurr == 1 || !(formNeracaCtrl.isAdd)" required name="selectModule" placeholder="Currency" ng-change="formNeracaCtrl.changeCurr(formNeracaCtrl.currencyID)"
                                       options="formNeracaCtrl.currencyList" config="formNeracaCtrl.myConfig5" ng-model="formNeracaCtrl.currencyID"></selectize>
                            <!--<select class="form-control input-sm" ng-model="formNeracaCtrl.currency"
                                    ng-options="item as item.Symbol + ' | ' + item.Label for item in formNeracaCtrl.currencyList">
                                <option value="" ng-selected="true" disabled>
                                    -- {{'CURRENCY' | translate}} --
                                </option>
                            </select>-->
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6">
                        <label>{{'NOMINAL' | translate}}</label> <label ng-if="formNeracaCtrl.currency">({{formNeracaCtrl.currency.Symbol}})</label> <label style="color:red">*</label>
                        <input currency-mask type="text" class="form-control input-sm" ng-model="formNeracaCtrl.Nominal" maxlength="50"/>
                    </div>
                    <!--<div class="col-md-6"> 
                        <label>{{'UPLOAD' | translate}} <span style="color:red">*</span> </label> ( <i> <small ng-repeat="ft in formNeracaCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</small><small> / Size < {{formNeracaCtrl.idUploadConfigs[0].Size}} {{formNeracaCtrl.idUploadConfigs[0].SizeUnitName | translate}}</small> </i>  ) 
                        <input type="file" class="form-control" ng-file-select="formNeracaCtrl.selectUpload()"
                               ng-model="formNeracaCtrl.fileUpload" name="ownerIDFile" required  />

                        <a ng-show="formNeracaCtrl.item.DocUrl;" href="{{formNeracaCtrl.folderFile + formNeracaCtrl.fileUrl}}" target="_BLANK" class="form-control btn btn-sm btn-primary" title="{{'BTN.VIEW' | translate}}"><i class="fa fa-download"></i>&nbsp;</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formNeracaCtrl.batal()"><i class="fa fa-reply"></i>&nbsp; {{formNeracaCtrl.btnBack}}</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="formNeracaCtrl.uploadFile()"><i class="fa fa-save"></i>&nbsp; {{'BTN.SAVE' | translate}}</button>
    </div>
</div>