<section class="content" ng-init="BalanceVendorCtrl.initialize()" style="overflow: visible!important;">
	<ol class="breadcrumb" >
		<li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.BALANCE' | translate}}</a></li>
	</ol>
	<div id="utama" class="row">
		<!-- style="padding-top: 25px;" -->
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
                    <div class="row" style="padding-top: 20px!important; margin-bottom: 20px;">
                        <div class="container-fluid">
                            <div class="col-md-12" style="float: none!important;">
                                <h3 class="text-center afta-font">{{'FINANCIAL_COMPANY_DATA' | translate}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="BalanceVendorCtrl.isCR == true">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissable">
                                <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                                <strong>Info!</strong> {{'MESSAGE.NOTIF1' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="BalanceVendorCtrl.pqWarning!=''">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissable" ng-if="BalanceVendorCtrl.pqWarning!=''">
                                <strong>{{BalanceVendorCtrl.pqWarning}}</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="BalanceVendorCtrl.revisiVendor">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissable text-center">
                                <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                                <strong>Info!</strong> {{'MESSAGE.NOTIF_DLU' | translate}} <strong> {{BalanceVendorCtrl.revisiName}}</strong> {{'MESSAGE.NOTIF_TIDAK_VALID' | translate}} <button class="btn btn-xs btn-warning" ng-click="BalanceVendorCtrl.revisiVendorDetail()" title="{{'DETAIL' | translate}}"><i class="fa fa-eye"></i> {{'DETAIL' | translate}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="BalanceVendorCtrl.show == 1">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissable text-center">
                                <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                                <strong>Info!</strong> {{'MESSAGE.NOT_CHECKED' | translate}}
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12" style="text-align: center">
                            <!-- <div class="col-md-4"></div> -->
                            <!-- <div class="col-md-4"> -->
                                <div class="form-group">
                                    <button ng-if="BalanceVendorCtrl.IsApprovedCR === true" type="button" ng-click="BalanceVendorCtrl.tambah(BalanceVendorCtrl.vendorbalance)" class="btn btn-flat btn-success"><i class='fa fa-plus'></i> {{'TABLE.TAMBAH' | translate}}</button>
                                    <button ng-if="BalanceVendorCtrl.IsApprovedCR === true" type="button" class="btn btn-flat btn-primary" ng-click="BalanceVendorCtrl.upload()" title="{{'UPLOAD' | translate}}">
                                        <i class='fa fa-upload'></i> {{'UPLOAD' | translate}}
                                    </button>
                                    <!--<button ng-if="BalanceVendorCtrl.balanceDocUrl" target="_blank" href="{{BalanceVendorCtrl.folderFile + BalanceVendorCtrl.balanceDocUrl}}" class="btn btn-flat btn-success turun-15" title="{{'DOWNLOAD' | translate}}">
                                        <i class='fa fa-download'></i>
                                    </button>-->
                                </div>
                            <!-- </div> -->
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 4%">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.FINANCIAL_COMPANY' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr ng-repeat="sk in BalanceVendorCtrl.vendorbalance">
                                            <td class="text-center">{{$index+1}}</td>
                                            <td>
                                                <b ng-if="sk.BalanceName !=='WEALTH_TYPE_MODAL' && BalanceVendorCtrl.langID">{{sk.locale_in}}</b>
                                                <b ng-if="sk.BalanceName !=='WEALTH_TYPE_MODAL' && !BalanceVendorCtrl.langID">{{sk.locale_en}}</b>
                                                <table class="table table-bordered" ng-if="sk.BalanceName ==='WEALTH_TYPE_MODAL'">
                                                    <tr>
                                                        
                                                        <td style="vertical-align: middle;"><b ng-if="sk.BalanceName ==='WEALTH_TYPE_MODAL'">{{sk.BalanceName | translate}}</b></td>
                                                        <td width="35%" style="vertical-align: middle;">{{BalanceVendorCtrl.labelCurr}} {{BalanceVendorCtrl.modal | currency: ""+ labelcurr +" "}}</td>
                                                    </tr>
                                                </table>
                                                
                                                <table class="table table-bordered">
                                                    <tr ng-repeat="pt in sk.listDataBalanceModel">
                                                        <td ng-if="pt.subCategory.length !== 0">
                                                            <p ng-if="pt.COAType !== null">{{$index+1}}. {{pt.COAType.Value | translate}}</p>
                                                            <table class="table table-bordered">
                                                                <tr ng-repeat="subcoa in pt.subCategory">
                                                                    <td style="vertical-align: middle;">
                                                                        {{$index+1}}. <label ng-if="subcoa.COA.Value == 'Kas'">{{subcoa.SubCOA.Value | translate}}</label><label ng-if="subcoa.COA.Value != 'Kas'">{{subcoa.COA.Value | translate}}</label>
                                                                        <!--<span class="pull-right" ng-if="subcoa.UnitType === 3106" style="display:inline-block !important;">{{subcoa.Amount | currency: ""+ labelcurr +" "}} {{'gram'|translate}}</span>
                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3107" style="display:inline-block !important;">{{subcoa.Amount}} {{'unit'|translate}}</span>
                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3108" style="display:inline-block !important;">{{subcoa.Amount}} {{'bulan'|translate}}</span>-->
                                                                    </td>
                                                                    <td width="20%">{{BalanceVendorCtrl.getCurrName(subcoa.CurrencyID)}} {{subcoa.Nominal | currency: ""+ labelcurr +" "}}</td>
                                                                    <td class="text-center" style="vertical-align: middle;" width="15%">
                                                                        <button ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.edit(subcoa, 1)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-pencil"></i> </button>
                                                                        <button ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.ubah_aktif(subcoa,false)" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.NON_AKTIF' | translate}}"><i class="fa fa-trash-o"></i> </button>
                                                                        <!--<a ng-show="!(subcoa.DocUrl === '')" href="{{BalanceVendorCtrl.folderFile + subcoa.DocUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.VIEW' | translate}}"><i class="fa fa-download"></i></a>-->
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td ng-if="pt.subCategory.length === 0">
                                                            <table class="table table-bordered">
                                                                <tr>
                                                                    <td class="text-center" style="vertical-align: middle;">
                                                                        {{$index+1}}. {{pt.COAType.Value | translate}}
                                                                        <span class="pull-right" style="display:inline-block !important;">{{pt.Amount}} unit</span>
                                                                    </td>
                                                                    <td width="20%" style="vertical-align: middle;">{{BalanceVendorCtrl.getCurrName(subcoa.CurrencyID)}} {{pt.nominal | currency: ""+ labelcurr +" "}}</td>
                                                                    <td class="text-center" width="15%">
                                                                        <button ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.edit(sk.WealthType, pt)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-pencil"></i> </button>
                                                                        <button ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.ubah_aktif(pt,false)" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.NON_AKTIF' | translate}}"><i class="fa fa-trash-o"></i> </button>
                                                                        <!--<a ng-show="!(pt.DocUrl === '')" href="{{BalanceVendorCtrl.folderFile + pt.DocUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.VIEW' | translate}}"><i class="fa fa-download"></i></a>-->
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <td ng-if="sk.BalanceName ==='WEALTH_TYPE_ASSET'">
                                                        <table class="table table-bordered">
                                                            <tr>
                                                                <td class="text-center style="vertical-align: middle;""><strong>{{'TOTAL' | translate}}</strong></td>
                                                                <td width="35%" style="vertical-align: middle;"><strong>{{BalanceVendorCtrl.labelCurr}} {{BalanceVendorCtrl.asset | currency: ""+ labelcurr +" "}}</strong></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </table>
                                            </td>
                                            
                                        </tr>
                                        <!--<tr>
                                            <td>3.</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td><b>Modal</b></td>
                                                        <td width="35%">Rp. {{BalanceVendorCtrl.modal | currency: ""+ labelcurr +" "}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-5">
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-md-12" ng-if="BalanceVendorCtrl.IsApprovedCR === true">
							<span class="pull-right"><button ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.tambah(BalanceVendorCtrl.vendorbalance)" class="btn btn-flat btn-success"><i class='fa fa-plus-square'></i> {{'TABLE.TAMBAH' | translate}}</button></span>

						</div>
					</div> -->
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-md-12">

                            <!--biru--><button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-pencil"></i></button> <span style="margin-right: 10px;">: {{'BTN.UBAH' | translate}}</span>

                            <!--hijau--><button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-download"></i></button> <span style="margin-right: 10px;">: {{'BTN.VIEW' | translate}}</span>

                            <!--biru--><button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-upload"></i></button> <span style="margin-right: 10px;">: {{'UPLOAD' | translate}}</span>

                            <!--hijau--><button disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class="fa fa-plus"></i></button> <span style="margin-right: 10px;">: {{'TABLE.TAMBAH' | translate}}</span>

                            <!--merah--><button disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-trash-o"></i></button> <span style="margin-right: 10px;">: {{'BTN.NON_AKTIF' | translate}}</span>

                            <!-- biru<button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-download"></i></button> <span style="margin-right: 10px;">: {{'BTN.VIEW' | translate}}</span> -->
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
