﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div class="modal-content" ng-init="FormBeritaCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="FormBeritaCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'Keluar'|translate}}</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DATA_BERITA'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>{{'Judul Berita'|translate}} </label>
                    <input type="text" class="form-control input-sm" ng-model="FormBeritaCtrl.newsTitle" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{'Tanggal'|translate}}</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ambiltanggal ng-model="FormBeritaCtrl.newsDate" disabled="disabled" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{'Isi Berita'|translate}}</label>
                    <div text-angular="text-angular" name="htmlcontent2" ng-model="FormBeritaCtrl.newsContent"
                         ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                    </div>
                    <!--
                    <textarea class="form-control" rows="10" ng-model="FormBeritaCtrl.newsContent"></textarea>
                    -->
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-4">
            <label>{{'Pilih Area'|translate}}</label><br />
            <input type="checkbox" ng-model="FormBeritaCtrl.IsLocal" /> {{'Lokal'|translate}}
            <input type="checkbox" ng-model="FormBeritaCtrl.IsNational" /> {{'Nasional'|translate}}
            <input type="checkbox" ng-model="FormBeritaCtrl.IsInternational" /> {{'Internasional'|translate}}
        </div>
        <div class="col-md-4">
            <label>{{'File Attachment'|translate}}</label><br />
            <div class="form-group" ng-if="!FormBeritaCtrl.docUrl">
                <div class="input-group marginBottom-0">
                    <input type="file" class="form-control input-sm" ng-file-select="FormBeritaCtrl.selectUpload()" ng-model="FormBeritaCtrl.fileUpload" title="{{'Unggah Dokumen'|translate}}" accept="{{FormBeritaCtrl.idFileTypes}}"/>
                 </div>
            </div>
            <div class="input-group" ng-if="!FormBeritaCtrl.docUrl" style="margin-top:0px!important;">
                <small> ( <span ng-repeat="ft in FormBeritaCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{FormBeritaCtrl.idUploadConfigs[0].Size}} {{FormBeritaCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
            </div>
            <div ng-if="FormBeritaCtrl.docUrl">
                <a class="btn btn-primary" title="Download" href="{{FormBeritaCtrl.folderFile + FormBeritaCtrl.docUrl}}" target="_blank">
                    <i class="fa fa-download"></i>&nbsp;{{'Download'|translate}}
                </a>
                <button class="btn btn-danger" ng-click="FormBeritaCtrl.deleteNews()" title="{{'HAPUS'|translate}}">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <label>{{'Jenis Berita'|translate}}</label><br />
            <input type="checkbox" ng-model="FormBeritaCtrl.IsOpen" /> {{'Terbuka'|translate}}
        </div>
    </div>
        <!--
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label>Upload Picture
                    <small> ( <span ng-repeat="ft in $root.filetypelist">{{ft.file_type_name}}{{$last ? '' : ', '}}</span><span> / Maksimal : {{$root.ukuranfile}} KB</span> ) </small>
                    </label>
                    <input class="form-control input-sm upload-file" data-max-size="{{$root.filemaksimal}}"  type="file" onchange="angular.element(this).scope().filesTChanged(this)">
                </div>
            </div>
            <div class="col-md-2" ng-if="berita.id_news > 0 && !(berita.picture_news ==='')">
                <div class="form-group">
                    <label>Preview Picture</label>
                    <a href="{{berita.picture_news}}" target="_blank"
                            class="form-control btn btn-sm btn-primary btn-flat pull-left"><i class="fa fa-download"></i> Preview</a>
                </div>
            </div>
        </div>
        -->
    </div> <!-- <div class="modal-body"> -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="FormBeritaCtrl.batal()" title="{{'BTN.BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button type="submit" class="btn btn-primary" ng-click="FormBeritaCtrl.save()" title="{{'BTN.SIMPAN'|translate}}">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>