﻿<section ng-init="NegosiasiBarangCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{NegosiasiBarangCtrl.TenderRefID}}/{{NegosiasiBarangCtrl.ProcPackType}}/{{NegosiasiBarangCtrl.listTenderStep.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li><a class="active">{{'BREADCRUMB.NEGOSIASI'|translate}}</a></li>
    </ol>

    <!-- tampilan pertama muncul -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="afta-font text-left"> {{'BREADCRUMB.NEGOSIASI'|translate}}</h3>
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label class="control-label">{{'START_DATE'|translate}} : {{NegosiasiBarangCtrl.listTenderStep.StartDate}}</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label pull-left">{{'END_DATE'|translate}} : {{NegosiasiBarangCtrl.listTenderStep.EndDate}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">{{'NAMA_TENDER'|translate}} : {{NegosiasiBarangCtrl.listTenderStep.tender.TenderName}}</label>
                                <label class="pull-right text-red" ng-if="NegosiasiBarangCtrl.overtime == false">{{'BELUM_WAKTU'|translate}}</label>
                            </div>
                            
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6 text-left" ng-if="NegosiasiBarangCtrl.overtime">
                                <a class="btn btn-sm btn-flat btn-primary" ng-if="NegosiasiBarangCtrl.isAllowedEdit && NegosiasiBarangCtrl.flagSum === true" ng-click="NegosiasiBarangCtrl.do_summary()" title="{{'BTN.DO_SUMMARY'|translate}}"><i class="fa fa-play-circle-o"></i> {{'BTN.DO_SUMMARY'|translate}}</a>
                                <a class="btn btn-sm btn-flat btn-warning" ng-if="NegosiasiBarangCtrl.isAllowedEdit && NegosiasiBarangCtrl.flagSum === false" ng-click="NegosiasiBarangCtrl.do_summary()" title="{{'BTN.CHANGE_SUMMARY'|translate}}"><i class="fa fa-play-circle-o"></i> {{'BTN.CHANGE_SUMMARY'|translate}}</a>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 5px!important;">
                            <br />
                            <!--<div class="col-md-12">
                                <label ng-if="isEBidding == false">Data Rekanan Yang Mengikuti Negosiasi</label>
                                <label ng-if="online && isEBidding == true">Data Peserta</label>
                            </div>-->
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="20px">No.</th>
                                                <th class="text-center">{{'VENDOR'|translate}}</th>
                                                <th class="text-center">{{'EVALUATION'|translate}}</th>
                                                <th class="text-center">{{'VENDOR_PRICE'|translate}}</th>
                                                <th class="text-center">{{'NEGO_PRICE'|translate}}</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">{{'ACTION'|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pnb in NegosiasiBarangCtrl.nb">
                                                <td style="vertical-align: middle;">{{$index + 1}}</td>
                                                <td style="vertical-align: middle;">{{pnb.VendorName}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{pnb.ScoreEvaluation}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{pnb.GOENegoPrice | currency: ""+ pnb.Curr +" "}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{pnb.NegotiationPrice | currency: ""+ pnb.Curr +" "}}</td>
                                                <td class="text-center" style="vertical-align: middle;" ng-if="pnb.IsDeal === true">{{'AGREED'|translate}}</td>
                                                <td class="text-center" style="vertical-align: middle;" ng-if="pnb.IsDeal === false">{{'DISAGREE'|translate}}t</td>
                                                <td class="text-center" style="vertical-align: middle;" ng-if="pnb.IsDeal === null">{{'NOT_AGREED'|translate}}</td>
                                                <td ng-if="pnb.IsDeliveryDateOK" class="text-center" style="vertical-align: middle;">
                                                    <a class="btn btn-sm btn-flat btn-success" ng-if="NegosiasiBarangCtrl.isAllowedEdit && pnb.ID === 0 && pnb.flagButton == true" ng-click="NegosiasiBarangCtrl.viewDetail($index, pnb, true, true)" title="{{'AGREE'|translate}}"><i class="fa fa-check-circle-o"></i></a>
                                                    <a class="btn btn-sm btn-flat btn-primary" ng-if="NegosiasiBarangCtrl.isAllowedEdit && pnb.ID === 0 && pnb.flagButton == true" ng-click="NegosiasiBarangCtrl.viewDetail($index, pnb, true, false)" title="{{'START'|translate}}"><i class="fa fa-play-circle-o"></i></a>
                                                    <a class="btn btn-sm btn-flat btn-primary" ng-if="NegosiasiBarangCtrl.isAllowedEdit && pnb.ID > 0 && (!pnb.IsActive || pnb.IsNego) && !pnb.IsDeal && pnb.flagButton == true" ng-click="NegosiasiBarangCtrl.reOpen(pnb)" title="{{'REOPEN_NEGO'|translate}}"><i class="fa fa-play-circle-o"></i></a>
                                                    <a class="btn btn-sm btn-flat btn-warning" ng-if="pnb.ID !== 0 && pnb.flagButton == true" ng-click="NegosiasiBarangCtrl.viewDetail($index, pnb, false)" title="{{'NEGO'|translate}}"><i class="fa fa-external-link"></i></a>
                                                    <a class="btn btn-sm btn-flat btn-success" ng-if="pnb.ID !== 0 && pnb.flagButton == false" ng-click="NegosiasiBarangCtrl.detailApproval(pnb)" title="Detail Approval"><i class="fa fa-sitemap"></i></a>
                                                    <a class="btn btn-sm btn-flat btn-danger" ng-if="NegosiasiBarangCtrl.isAllowedEdit && pnb.ID !== 0 && pnb.flagButton == true && pnb.IsActive === true && NegosiasiBarangCtrl.overtime === true && pnb.IsNego == false" ng-click="NegosiasiBarangCtrl.endnego(pnb)" title="{{'END_NEGO'|translate}}"><i class="fa fa-times"></i></a>
                                                </td>
                                                <td ng-if="!pnb.IsDeliveryDateOK" class="text-center" style="vertical-align: middle;">
                                                    {{"NEED_DD_APPROVAL" | translate}}
                                                </td>
                                            </tr>
                                            <tr ng-if="NegosiasiBarangCtrl.nb.length === 0"><td colspan="7">{{'DATA'|translate}}</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:50px !important;">
                            <div class="col-md-12">
                                <strong>
                                    <button type="button" class="btn btn-flat btn-sm btn-success"><i class="fa fa-check-circle-o"></i></button> : {{'AGREE'|translate}} <button type="button" class="btn btn-flat btn-sm btn-primary"><i class="fa fa-play-circle-o"></i></button> :{{'START'|translate}} <button type="button" class="btn btn-flat btn-sm btn-warning"><i class="fa fa-external-link"></i></button> : {{'DETAIL'|translate}} <button type="button" class="btn btn-flat btn-sm btn-danger"><i class="fa fa-times"></i></button> : {{'END_NEGO'|translate}} 
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <a ng-click="NegosiasiBarangCtrl.backpengadaan()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i> {{'BTN.BACK'|translate}}</a>
                                    <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="NegosiasiBarangCtrl.print()">
                                        <i class='fa fa-print'></i>&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
