﻿<style>
	.ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
		min-height: 300px;
		height: auto;
		overflow: auto;
		font-family: inherit;
		font-size: 100%;
	}

	.form-control.myform1-height > .ta-bind {
		height: auto;
		min-height: 300px;
		padding: 6px 12px;
	}



	/* ====== ====== */

	.ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
		height: 300px;
		min-height: 300px;
		overflow: auto;
		font-family: inherit;
		font-size: 100%;
	}

	.form-control.myform2-height > .ta-bind {
		min-height: 300px;
		padding: 6px 12px;
	}
</style>
<div class="modal-content" ng-init="WriteChatBarangCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="WriteChatBarangCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
		<h3 class="modal-title afta-font">{{'TITLE.RESPONSE_FORM'|translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>{{'TOPIC_OF_NEGO'|translate}}</label>
								<input type="text" ng-model="WriteChatBarangCtrl.judule" class="form-control" disabled="disabled">
							</div>
						</div>
					</div>
					<!--<div class="row">
						<div class="col-md-1">
							<label class="control-label">{{'INFORM_BY_EMAIL' | translate}}</label><br />
							<input type="checkbox" class="form-control" ng-model="WriteChatBarangCtrl.isInformByEmail" />
						</div>
					</div>-->
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-header">
									<h4 class="box-title afta-font">{{'RESPONSE'|translate}} <small class="afta-font">{{'RESPONSE_TEXT'|translate}}</small></h4>
								</div><!-- /.box-header -->
								<div class="box-body pad">
									<div text-angular="text-angular" name="htmlcontent2" ng-model="WriteChatBarangCtrl.isi" ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height"></div>
									<div class="form-group">
										<label class="control-label">
											{{'FILE'|translate}}
											<small> ( <span ng-repeat="ft in WriteChatBarangCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{WriteChatBarangCtrl.idUploadConfigs[0].Size}} {{WriteChatBarangCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
										</label>
										<input type="file" class="form-control" ng-file-select="WriteChatBarangCtrl.selectUpload(fileUpload)" ng-model="fileUpload" name="ownerIDFile" accept="{{WriteChatBarangCtrl.idFileTypes}}" />
									</div>
									<div class="form-group">
										<div class="col-md-6">
											<!--<label class="control-label">{{'INFORM_BY_EMAIL' | translate}}</label><br />-->
											<input type="checkbox" ng-model="WriteChatBarangCtrl.isInformByEmail" /> {{'INFORM_BY_EMAIL' | translate}}
										</div>
									</div>
									<br />
									<div class="row"></div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-danger" ng-click="WriteChatBarangCtrl.batal()" title="{{'BTN.CANCEL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
		<button type="button" class="btn btn-flat btn-success" ng-click="WriteChatBarangCtrl.simpan()" title="{{'BTN.SEND'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
	</div>
</div>