﻿<div class="modal-content" ng-init="depvpCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="depvpCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="table table-responsive">
                                <table id="tableToExport" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">SUPPLIER NAME</th>
                                            <td colspan="3" style="vertical-align: middle;">HISTORICAL PRICE</td>
                                            <td colspan="3" style="vertical-align: middle;">EQUALIZED PRESENT VALUE</td>
                                            <td colspan="4" style="vertical-align: middle;" title="SUPPLIER NAME" ng-repeat="item in depvpCtrl.offerEntries">{{item.VendorName}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">AREA</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="4" style="vertical-align: middle;" title="AREA" ng-repeat="item in depvpCtrl.offerEntries">{{item.VendorAreaType | translate}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">QUOTATION REF & DATE</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="4" style="vertical-align: middle;" title="QUOTATION REF & DATE" ng-repeat="item in depvpCtrl.offerEntries">{{item.QuotationNo}} {{item.VHSDate | date : 'dd/MM/yyyy'}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">QUOTATION VALIDITY (DAYS OR DATE)</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="4" style="vertical-align: middle;" title="QUOTATION VALIDITY" ng-repeat="item in depvpCtrl.offerEntries">{{item.ExpiredDay}} Days</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">DELIVERY TERMS</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="4" style="vertical-align: middle;" title="DELIVERY TERMS" ng-repeat="item in depvpCtrl.offerEntries">{{item.IncoTermCode}} - {{item.FreightDeliveryState}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">PAYMENT TERMS</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="4" style="vertical-align: middle;" title="PAYMENT TERMS" ng-repeat="item in depvpCtrl.offerEntries">{{item.PaymentTermText}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">QUOTATION CURRENCY</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <!--<td colspan="4" style="vertical-align: middle;">{{depvpCtrl.epvCurrencySymbol}}</td>-->
                                            <td colspan="4" style="vertical-align: middle;" title="QUOTATION CURRENCY" ng-repeat="item in depvpCtrl.offerEntries">{{item.CurrencySymbol}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">EX-CHANGE RATE USED TO USD</th>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <td colspan="3" style="vertical-align: middle;">-</td>
                                            <!--<td colspan="4" style="vertical-align: middle;">{{depvpCtrl.epvRateToUSD}}</td>-->
                                            <td colspan="4" style="vertical-align: middle;" title="EX-CHANGE RATE USED TO USD" ng-repeat="item in depvpCtrl.offerEntries">
                                                <span ng-if="item.ExchangeRateToUSD">{{item.ExchangeRateToUSD}}</span>
                                                <span class="text-red" ng-if="!item.ExchangeRateToUSD">{{"RATES_NOT_FOUND" | translate}}</span>
                                            </td>
                                        </tr>
                                        <!--
                                        <tr>
                                            <th colspan="6" style="vertical-align: middle;">ADDITIONAL INFORMATION</th>
                                            <td colspan="4" style="vertical-align: middle;" ng-repeat="item in depvpCtrl.offerEntries"></td>
                                        </tr>
                                        -->
                                        <!--<tr>
                                            <td colspan="{{7 + depvpCtrl.repeater.length}}">
                                                <ul uib-pagination total-items="depvpCtrl.count" max-size="10" ng-model="depvpCtrl.pageNumber" items-per-page="depvpCtrl.pageSize"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="depvpCtrl.loadPagedOEDetail()" boundary-links="true" first-text="&laquo;" last-text="&raquo;"></ul>
                                            </td>
                                        </tr>-->
                                        <tr>                                            
                                            <th class="center-vertical" style="width: 40px; min-width: 40px;">{{'TABLE.NO'|translate}}</th>
                                            <!--<th class="center-vertical">{{'TABLE.PR'|translate}}</th>-->
                                            <th class="center-vertical">{{'TABLE.ITEM'|translate}}</th>
                                            <th class="center-vertical" nowrap>{{'TABLE.SAP_MATERIAL_ID'|translate}}</th>
                                            <!--<th class="center-vertical">{{'TABLE.MNEMONIC'|translate}}</th>-->
                                            <!--<th class="center-vertical">{{'TABLE.PN'|translate}}</th>-->
                                            <!--<th class="center-vertical">{{'TABLE.DESCRIPTION'|translate}}</th>-->
                                            <th class="center-vertical">{{'TABLE.QTY'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.UOM'|translate}}</th>
                                            <!--<th class="center-vertical" style="width:150px; min-width: 150px;">Total Cost (USD)</th>-->
                                            <th class="center-vertical">
                                                <!--<span ng-show="depvpCtrl.isItemize">{{'TABLE.PILIH_PEMENANG'|translate}}</span>-->
                                            </th>

                                            <th class="center-vertical" style="width: 150px; min-width: 150px;"><!--{{'TABLE.UNIT_PRICE'|translate}}--></th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'TABLE.TOTAL_PRICE'|translate}}</th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'TABLE.IN_USD'|translate}}</th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;"><!--{{'TABLE.UNIT_PRICE'|translate}}--></th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'TABLE.TOTAL_PRICE'|translate}}</th>
                                            <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'TABLE.IN_USD'|translate}}</th>

                                            <th class="center-vertical" style="width: 150px; min-width: 150px;" ng-repeat="item in depvpCtrl.repeater">
                                                <!--<span ng-if="$index % 4 === 0">{{'TABLE.UNIT_PRICE'|translate}}</span>-->
                                                <span ng-if="$index % 4 === 1">{{'TABLE.TOTAL_PRICE'|translate}}</span>
                                                <span ng-if="$index % 4 === 2">{{'TABLE.IN_USD'|translate}}</span>
                                                <span ng-if="$index % 4 === 3">Alternative</span>
                                            </th>
                                        </tr>                                        
                                    </thead> 
                                    <tbody>
                                        <tr ng-repeat="item in depvpCtrl.itemPRs">
                                            <td class="center-vertical">{{$index + 1}}</td>
                                            <!--<td class="middle-vertical">{{item.PurchaseReq}}</td>-->
                                            <td class="middle-vertical">{{item.MaterialDescription}} {{item.POLongText}}</td>
                                            <td class="middle-vertical">{{item.Material}}</td>
                                            <!--<td class="middle-vertical"></td>-->
                                            <!--<td class="middle-vertical"></td>-->
                                            <!--<td class="middle-vertical" nowrap>{{item.ShortText}}</td>-->
                                            <td class="center-vertical">{{item.AnnualUsage}}</td>
                                            <td class="center-vertical">{{item.UnitOfMeasure}}</td>
                                            <!--<td class="text-right">{{item.TotalValueInUSD | currency : ""}}</td>-->
                                            <td class="center-vertical">
                                                <!--<button ng-disabled="false" ng-show="depvpCtrl.isItemize" ng-click="depvpCtrl.setItemPRAward($index)" class="btn btn-sm btn-flat" ng-class="{'btn-success':item.AwardedVendor,'btn-danger':!item.AwardedVendor}"><i class="fa fa-star"></i></button>-->
                                            </td>

                                            <td class="middle-vertical text-right">{{item.UnitCostHistorical | currency : item.Currency + ' '}}</td>
                                            <td class="middle-vertical text-right">{{item.TotalValueHistorical | currency : item.Currency + ' '}}</td>
                                            <td class="middle-vertical text-right">{{item.TotalValueHistoricalInUSD | currency : ""}}</td>
                                            <td class="middle-vertical text-right">{{item.UnitCostEPV | currency : item.Currency + ' '}}</td>
                                            <td class="middle-vertical text-right">{{item.TotalValueEPV | currency : item.Currency + ' '}}</td>
                                            <td class="middle-vertical text-right">{{item.TotalValueEPVInUSD | currency : ""}}</td>

                                            <td class="middle-vertical text-right" ng-repeat="item2 in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0">
                                                    <!--<a ng-show="depvpCtrl.offerEntries[($index-($index % 4))/4].VHSOfferEntryDetails[0].detail[$parent.$parent.$index].Remark" class="btn btn-xs btn-flat btn-success pull-left" title="{{'REMARK' | translate}}"
                                                       uib-popover="{{'REMARK' | translate}} : {{depvpCtrl.offerEntries[($index-($index % 4))/4].VHSOfferEntryDetails[0].detail[$parent.$parent.$index].Remark}}" popover-trigger="mouseenter"><i class="fa fa-list"></i></a>-->
                                                    {{depvpCtrl.offerEntries[($index-($index % 4))/4].VHSOfferEntryDetails[0].detail[$parent.$parent.$index].UnitPrice | currency:''}}
                                                    <!--<a ng-show="depvpCtrl.offerEntries[($index-($index % 4))/4].VHSOfferEntryDetails[0].detail[$parent.$parent.$index].Alternatif" class="btn btn-xs btn-flat btn-warning pull-left" title="{{'ALTERNATIVE' | translate}}"
                                                       uib-popover="{{'ALTERNATIVE' | translate}} : {{depvpCtrl.offerEntries[($index-($index % 4))/4].VHSOfferEntryDetails[0].detail[$parent.$parent.$index].Alternatif}}" popover-trigger="mouseenter">Alt.</a>-->
                                                </span>
                                                <span ng-if="$index % 4 === 1">{{depvpCtrl.offerEntries[($index-($index % 4))/4].VHSOfferEntryDetails[0].detail[$parent.$parent.$index].TotalPrice | currency:''}}</span>
                                                <span ng-if="$index % 4 === 2">
                                                    {{depvpCtrl.offerEntries[($index-($index % 4))/4].VHSOfferEntryDetails[0].detail[$parent.$parent.$index].TotalPriceInUSD | currency:''}}
                                                </span>
                                                <span ng-if="$index % 4 === 3">
                                                    {{depvpCtrl.offerEntries[($index-($index % 4))/4].VHSOfferEntryDetails[0].detail[$parent.$parent.$index].Alternatif}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>                                   
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" rowspan="{{13 + depvpCtrl.otherCosts.length + depvpCtrl.criterias.length}}"></td>
                                            <td colspan="4" style="vertical-align: middle;"><strong>Total Price Quoted</strong></td>
                                            
                                            <td class="middle-vertical text-right"></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.totalHistoricalValue > 0">{{depvpCtrl.totalHistoricalValue | currency : ""}}</span>
                                                <span ng-if="!depvpCtrl.totalHistoricalValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{depvpCtrl.totalHistoricalValueInUSD | currency : ""}}</td>
                                            <td class="middle-vertical text-right"></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.totalEPValue > 0">{{depvpCtrl.totalEPValue | currency : ""}}</span>
                                                <span ng-if="!depvpCtrl.totalEPValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{depvpCtrl.totalEPValueInUSD | currency : ""}}</td>
                                            
                                            <td title="{{depvpCtrl.totalOfferTooltip(($index-($index % 4))/4, 'Total Price Quoted', $index % 4)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0"></span>
                                                <span ng-if="$index % 4 === 1">{{depvpCtrl.offerEntries[($index-($index % 4))/4].OfferTotalCostOriginal | currency:''}}</span>
                                                <span ng-if="$index % 4 === 2">{{depvpCtrl.offerEntries[($index-($index % 4))/4].OfferTotalCostOriginalInUSD | currency:''}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="vertical-align: middle;"><strong>Total Price Quoted (Adjusted)</strong></td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>
                                            
                                            <td title="{{depvpCtrl.totalOfferTooltip(($index-($index % 4))/4, 'Total Price Quoted (Adjusted)', $index % 4)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0"></span>
                                                <span ng-if="$index % 4 === 1">{{depvpCtrl.offerEntries[($index-($index % 4))/4].OfferTotalCost | currency:''}}</span>
                                                <span ng-if="$index % 4 === 2">{{depvpCtrl.offerEntries[($index-($index % 4))/4].OfferTotalCostInUSD | currency:''}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="vertical-align: middle;">
                                                <label>Prev. Total Value :&nbsp;</label>USD {{depvpCtrl.evaluation.PreviousOfferTotal | currency:''}}
                                            </td>
                                            <td colspan="1" style="vertical-align: middle;">Diff. (%)</td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td title="{{depvpCtrl.totalOfferTooltip(($index-($index % 4))/4, 'Previous Price Diff (%)', $index % 4)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0"></span>
                                                <span ng-if="$index % 4 === 1"></span>
                                                <span ng-if="$index % 4 === 2">
                                                    {{depvpCtrl.offerEntries[($index-($index % 4))/4].OfferTotalCostPrevPercentDiff > 0 ? "+" : ""}}
                                                    {{depvpCtrl.offerEntries[($index-($index % 4))/4].OfferTotalCostPrevPercentDiff.toFixed(2)}} %
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="vertical-align: middle;">Freight Cost to Soroako</td>
                                            <td colspan="1" style="vertical-align: middle;">
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">$</span>
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">%</span>
                                            </td>

                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.evaluation.FreightCostHistorical | currency:''}}</span>
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.evaluation.FreightCostPercentHistorical | currency:''}}</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.totalHistoricalValue && depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.evaluation.FreightCostHistorical | currency:''}}</span>
                                                <span ng-if="depvpCtrl.totalHistoricalValue && depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.evaluation.FreightCostPercentHistoricalValue | currency:''}}</span>
                                                <span ng-if="!depvpCtrl.totalHistoricalValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.evaluation.FreightCostHistoricalInUSD | currency:''}}</span>
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.evaluation.FreightCostPercentHistoricalValueInUSD | currency:''}}</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.evaluation.FreightCostEPV | currency:''}}</span>
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.evaluation.FreightCostPercentEPV | currency:''}}</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.totalEPValue && depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.evaluation.FreightCostEPV | currency:''}}</span>
                                                <span ng-if="depvpCtrl.totalEPValue && depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.evaluation.FreightCostPercentEPVValue | currency:''}}</span>
                                                <span ng-if="!depvpCtrl.totalEPValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.evaluation.FreightCostEPVInUSD | currency:''}}</span>
                                                <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.evaluation.FreightCostPercentEPVValueInUSD | currency:''}}</span>
                                            </td>

                                            <td title="{{depvpCtrl.totalOfferTooltip(($index-($index % 4))/4, 'Freight Cost to Soroako', $index % 4)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0">
                                                    <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{depvpCtrl.offerEntries[($index-($index % 4))/4].FreightCost | currency:''}}</span>
                                                    <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{depvpCtrl.offerEntries[($index-($index % 4))/4].FreightCostPercent | currency:''}}</span>
                                                </span>
                                                <span ng-if="$index % 4 === 1">
                                                    <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.offerEntries[($index-($index % 4))/4].FreightCost | currency:''}}</span>
                                                    <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.offerEntries[($index-($index % 4))/4].FreightCostPercentValue | currency:''}}</span>
                                                </span>
                                                <span ng-if="$index % 4 === 2">
                                                    <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.offerEntries[($index-($index % 4))/4].FreightCostInUSD | currency:''}}</span>
                                                    <span ng-if="depvpCtrl.evaluation.FreightCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.offerEntries[($index-($index % 4))/4].FreightCostPercentValueInUSD | currency:''}}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="vertical-align: middle;">Customs & Duty Cost % (if applicable)</td>
                                            
                                            <td class="middle-vertical text-right">{{ depvpCtrl.evaluation.CustomsDutyCostPercentHistorical | currency:''}}</td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.totalHistoricalValue">{{ depvpCtrl.evaluation.CustomsDutyCostPercentHistoricalValue | currency:''}}</span>
                                                <span ng-if="!depvpCtrl.totalHistoricalValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{ depvpCtrl.evaluation.CustomsDutyCostPercentHistoricalValueInUSD | currency:''}}</td>
                                            <td class="middle-vertical text-right">{{ depvpCtrl.evaluation.CustomsDutyCostPercentEPV | currency:''}}</td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.totalEPValue">{{ depvpCtrl.evaluation.CustomsDutyCostPercentEPVValue | currency:''}}</span>
                                                <span ng-if="!depvpCtrl.totalEPValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{ depvpCtrl.evaluation.CustomsDutyCostPercentEPVValueInUSD | currency:''}}</td>

                                            <td title="{{depvpCtrl.totalOfferTooltip(($index-($index % 4))/4, 'Customs & Duty Cost', $index % 4)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0">{{ depvpCtrl.offerEntries[($index-($index % 4))/4].CustomsDutyCostPercent | currency:''}}</span>
                                                <span ng-if="$index % 4 === 1">{{ depvpCtrl.offerEntries[($index-($index % 4))/4].CustomsDutyCostPercentValue | currency:''}}</span>
                                                <span ng-if="$index % 4 === 2">{{ depvpCtrl.offerEntries[($index-($index % 4))/4].CustomsDutyCostPercentValueInUSD | currency:''}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="vertical-align: middle;">Other Costs</td>
                                            <td colspan="{{3 + 3 + depvpCtrl.repeater.length}}"></td>
                                        </tr>
                                        <tr ng-repeat="otherCost in depvpCtrl.otherCosts">
                                            <td colspan="3" style="vertical-align: middle;">{{otherCost.OtherCostName}}</td>
                                            <td colspan="1" style="vertical-align: middle;">
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">$</span>
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">%</span>
                                            </td>

                                            <td colspan="3"></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{depvpCtrl.epvOtherCosts[$parent.$index].OtherCost | currency:''}} </span>
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{depvpCtrl.epvOtherCosts[$parent.$index].OtherCostPercent | currency:''}} </span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.epvOtherCosts[$parent.$index].OtherCost | currency:''}}</span>
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.epvOtherCosts[$parent.$index].OtherCostPercentValue | currency:''}}</span>
                                            </td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.epvOtherCosts[$parent.$index].OtherCostInUSD | currency:''}}</span>
                                                <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.epvOtherCosts[$parent.$index].OtherCostPercentValueInUSD | currency:''}}</span>
                                            </td>

                                            <td title="{{depvpCtrl.totalOfferTooltip(($index-($index % 4))/4, 'Other Costs', $index % 4)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0">
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCost | currency:''}} </span>
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCostPercent | currency:''}} </span>
                                                </span>
                                                <span ng-if="$index % 4 === 1">
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCost | currency:''}}</span>
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCostPercentValue | currency:''}}</span>
                                                </span>
                                                <span ng-if="$index % 4 === 2">
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_CURRENCY'">{{ depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCostInUSD | currency:''}}</span>
                                                    <span ng-if="otherCost.OtherCostUnitName === 'COST_UNIT_PERCENT'">{{ depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorOtherCostDetails[$parent.$parent.$parent.$index].OtherCostPercentValueInUSD | currency:''}}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="vertical-align: middle;"><strong>Total Net Purchase Value to Soroako</strong></td>
                                            
                                            <td></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.totalHistoricalValue">{{depvpCtrl.evaluation.TotalHistoricalValue | currency:''}}</span>
                                                <span ng-if="!depvpCtrl.totalHistoricalValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{depvpCtrl.evaluation.TotalHistoricalValueInUSD | currency:''}}</td>
                                            <td></td>
                                            <td class="middle-vertical text-right">
                                                <span ng-if="depvpCtrl.totalEPValue">{{depvpCtrl.evaluation.TotalEPVValue | currency:''}}</span>
                                                <span ng-if="!depvpCtrl.totalEPValue">-</span>
                                            </td>
                                            <td class="middle-vertical text-right">{{depvpCtrl.evaluation.TotalEPVValueInUSD | currency:''}}</td>

                                            <td title="{{depvpCtrl.totalOfferTooltip(($index-($index % 4))/4, 'Total Net Purchase Value to Soroako', $index % 4)}}"
                                                class="middle-vertical text-right" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0"></span>
                                                <span ng-if="$index % 4 === 1">{{depvpCtrl.offerEntries[($index-($index % 4))/4].TotalPurchaseValue | currency:''}}</span>
                                                <span ng-if="$index % 4 === 2">{{depvpCtrl.offerEntries[($index-($index % 4))/4].TotalPurchaseValueInUSD | currency:''}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="depvpCtrl.isFPA">
                                            <td colspan="4" style="vertical-align: middle;">Supplier Quoted Lead Time</td>

                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td title="{{depvpCtrl.leadTimeTooltip(($index-($index % 4))/4, 'Supplier Quoted Lead Time', $index % 4)}}"
                                                class="middle-vertical" ng-repeat="item in depvpCtrl.repeater">
                                                <span class="pull-right" ng-if="$index % 4 === 0">{{depvpCtrl.offerEntries[($index-($index % 4))/4].SupplierQLTime}}</span>
                                                <span ng-if="$index % 4 === 1">days</span>
                                                <span ng-if="$index % 4 === 2"></span>
                                            </td>
                                        </tr>
                                        <tr ng-if="depvpCtrl.isFPA">
                                            <td colspan="3" style="vertical-align: middle;">Freight Lead Time / Type</td>
                                            <td colspan="1" style="vertical-align: middle;">{{depvpCtrl.evaluation.FreightTypeName}}</td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td title="{{depvpCtrl.leadTimeTooltip(($index-($index % 4))/4, 'Freight Lead Time', $index % 4)}}"
                                                class="middle-vertical" ng-repeat="item in depvpCtrl.repeater">
                                                <span class="pull-right" ng-if="$index % 4 === 0">{{depvpCtrl.offerEntries[($index-($index % 4))/4].FreightDeliveryTime}}</span>
                                                <span ng-if="$index % 4 === 1">days</span>
                                                <span ng-if="$index % 4 === 2">{{depvpCtrl.offerEntries[($index-($index % 4))/4].FreightTypeName}}</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="depvpCtrl.isFPA">
                                            <td colspan="4" style="vertical-align: middle;">Total Lead Time</td>

                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td title="{{depvpCtrl.leadTimeTooltip(($index-($index % 4))/4, 'Total Lead Time', $index % 4)}}"
                                                class="middle-vertical" ng-repeat="item in depvpCtrl.repeater">
                                                <span class="pull-right" ng-if="$index % 4 === 0">{{depvpCtrl.offerEntries[($index-($index % 4))/4].SupplierQLTime + depvpCtrl.offerEntries[($index-($index % 4))/4].FreightDeliveryTime}}</span>
                                                <span ng-if="$index % 4 === 1">days</span>
                                                <span ng-if="$index % 4 === 2"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: middle;" colspan="{{5 + 3 + 3 + depvpCtrl.repeater.length}}"><strong>Evaluation Scores</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="vertical-align: middle;"><strong>Evaluation Factor</strong></td>
                                            <td colspan="1" class="text-center" style="vertical-align: middle;"><strong>Weight</strong></td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td class="middle-vertical" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0"></span>
                                                <span ng-if="$index % 4 === 1">Score</span>
                                                <span ng-if="$index % 4 === 2">Result</span>
                                            </td>
                                        </tr>
                                        <tr ng-if="!($index === 1 && depvpCtrl.isFPA === false)" ng-repeat="crit in depvpCtrl.criterias">
                                            <td colspan="3" style="vertical-align: middle;">
                                                <span ng-if="$index === 0">Price</span>
                                                <span ng-if="$index === 1">Leadtime</span>
                                                <span ng-if="$index > 1">{{crit.CriteriaName}}</span>
                                            </td>
                                            <td colspan="1" class="text-center" style="vertical-align: middle;">{{crit.Weight}} %</td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td title="{{depvpCtrl.criteriaEvaluationTooltip(($index-($index % 4))/4, $parent.$index, $index % 4)}}" class="middle-vertical" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 0 && crit.CriteriaOptions.length > 0">
                                                    <!--<select ng-disabled="!depvpCtrl.isProcess" class="form-control input-sm" 
                                                            ng-options="opt.ID as (opt.OptionName + ' (' + (crit.IsOptionScoreFixed ? '' : (opt.MinScore + ' - ')) + opt.MaxScore + ')') for opt in crit.CriteriaOptions"
                                                            ng-change="depvpCtrl.optionChange(($index-($index % 4))/4,$parent.$parent.$index)"
                                                            ng-model="depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorScoreDetails[$parent.$parent.$index].SelectedECOptionID"></select>-->
                                                </span>
                                                <span ng-if="$index % 4 === 1 && $parent.$index == 0" class="pull-right">
                                                    {{depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorScoreDetails[$parent.$parent.$index].Score}}
                                                </span>
                                                <span ng-if="$index % 4 === 1 && $parent.$index == 1" class="pull-right">
                                                    {{depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorScoreDetails[$parent.$parent.$index].Score}}
                                                </span>
                                                <span ng-if="$index % 4 === 1 && $parent.$index >= 2" class="pull-right">
                                                    {{depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorScoreDetails[$parent.$parent.$index].Score}}
                                                </span>
                                                <span ng-if="$index % 4 === 2" class="pull-right">
                                                    {{depvpCtrl.evaluationVendors[($index-($index % 4))/4].VHSOEvaluationVendorScoreDetails[$parent.$parent.$index].CalculatedScore}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="vertical-align: middle;"><strong>Total Weighted Score</strong></td>
                                            <td colspan="1" class="text-center" style="vertical-align: middle;"><strong>{{depvpCtrl.totalWeight}} %</strong></td>
                                            
                                            <td colspan="3"></td>
                                            <td colspan="3"></td>

                                            <td title="{{$index % 4 === 2 ? 'Vendor : ' + depvpCtrl.offerEntries[($index-($index % 4))/4].VendorName + '\nTotal Weighted Score' : ''}}"
                                                class="middle-vertical" ng-repeat="item in depvpCtrl.repeater">
                                                <span ng-if="$index % 4 === 2" class="pull-right">
                                                    <strong>{{depvpCtrl.evaluationVendors[($index-($index % 4))/4].Score}}</strong>
                                                </span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" style="padding-top: 5px;">
                        <div class="text-right">
                            <button ng-click="depvpCtrl.print()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-print"></i>&nbsp;Print</button>&nbsp;
                            <button ng-click="depvpCtrl.cancel()" class="btn btn-sm btn-flat btn-default" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>