﻿<div class="modal-content" ng-init="uploadEPVModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="uploadEPVModalCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'UPLOAD_EPV' | translate}}</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5" style="float: none!important;">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button title="{{'TEMPLATE_EPV'|translate}}" ng-click="uploadEPVModalCtrl.downloadTemplate()" class="btn btn-flat btn-warning"><i class="fa fa-download"></i> {{'TEMPLATE_EPV'|translate}}</button>
                        </div>
                        <input type="file" class="form-control" file-reader="uploadEPVModalCtrl.fileUpload" accept=".csv," />
                        <div class="input-group-btn">
                            <button class="btn btn-primary" ng-disabled="!uploadEPVModalCtrl.fileUpload" title="Upload File" ng-click="uploadEPVModalCtrl.uploadFile()"><i class="fa fa-upload"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center-block">
                    <i>{{'KET_UPLOAD_EPV' | translate}}</i>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="uploadEPVModalCtrl.cancel()" title="{{ 'BATAL' | translate}}"><i class="fa fa-times-circle"></i></button>
        </div>
    </form>
</div>