<div class="modal-content" ng-init="detailApprovalSignOffCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalSignOffCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'BREADCRUMB.DETAIL_APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <label>{{'REQUEST' | translate}}: {{detailApprovalSignOffCtrl.list[0].requestor.FullName}} {{detailApprovalSignOffCtrl.list[0].requestor.SurName}}</label>
            </div>
            <!--
        <div class="col-md-9">
            <label>Tender: {{ContractSignOffController.detail[0].TenderName}}</label>
        </div>-->
        </div>
        <div>
            <div class="row" ng-if="detailApprovalSignOffCtrl.Status == 1">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.REMARK'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detailApprovalSignOffCtrl.information" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-success" ng-click="detailApprovalSignOffCtrl.approve()"><i class="fa fa-check"></i> {{'BTN.APPROVE_AWARD' | translate}}</button>
                                    <button class="btn btn-sm btn-danger" ng-click="detailApprovalSignOffCtrl.reject()"><i class="fa fa-times"></i> {{'BTN.REJECT_AWARD' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.LEVEL_INFO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.REMARK' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalSignOffCtrl.crApps">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.LevelInfo}}</td>
                                        <td>{{dt.EmployeePositionName}}</td>
                                        <td ng-class="{'text-bold':dt.EmployeeID == detailApprovalSignOffCtrl.employeeID}">
                                            {{dt.EmployeeFullName}}<br />
                                            <span ng-if="dt.DelegatedEmployeeName">(Delegasi Ke : {{dt.DelegatedEmployeeName}})</span>
                                        </td>
                                        <td class="text-center">{{dt.ApprovalDate| date: "dd-MM-yyyy"}}</td>
                                        <td ng-if="dt.ApprovalStatus === null" class="text-center" ></td>
                                        <td ng-if="dt.ApprovalStatus === 1" class="text-center" >{{'STATUS.APPROVED' | translate}}</td>
                                        <td ng-if="dt.ApprovalStatus === 0" class="text-center" >{{'STATUS.REJECT' | translate}}</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalSignOffCtrl.crApps.length === 0">
                                        <td colspan="6">{{'NODATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detailApprovalSignOffCtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>