<style type="text/css">
	.isEdit {
		background-color: #ffff66 !important;
	}
</style>

<div class="container-fluid" ng-init="aktaCtrl.init()">
	<ol class="breadcrumb" style="margin-top: 20px;">
		<li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.AKTA_PENDIRIAN'|translate}}</a></li>
	</ol>
    <div class="box">
        <div class="box-body">
	<div class="row" id="blockanele">
		<div class="col-md-12">
			<!-- <div class="row" style="padding-top: 10px!important;">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-8 center-block" style="float: none!important;">
							<div class="alert alert-info alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">Ã—</button>
								<b>Info!</b> {{'MESSAGE.INFO1'|translate}}<strong> {{'MESSAGE.INFO2'|translate}} </strong> {{'MESSAGE.INFO3'|translate}}
							</div>
						</div>
					</div>
				</div>
			</div> -->
            <div class="row" ng-if="aktaCtrl.isCR == true">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF1'|translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2'|translate}} <strong>{{'MESSAGE.NOTIF3'|translate}}</strong> {{'MESSAGE.NOTIF4'|translate}}
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px!important;" ng-if="aktaCtrl.stocks.length != 0 && aktaCtrl.stocks[0].UnitID == 23 && aktaCtrl.stocks.length < 2">
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>{{'MESSAGE.WARNING'|translate}}!</strong> {{'MESSAGE.NOTIF_SAHAM1'|translate}} <strong>{{'MESSAGE.NOTIF_SAHAM2'|translate}}</strong> <strong>100</strong>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px!important;" ng-if="aktaCtrl.stocks.length == 0 ">
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissable">
                        <strong>{{'MESSAGE.WARNING'|translate}}!</strong> {{'MESSAGE.NOTIF_SAHAM3'|translate}} <strong>{{'MESSAGE.NOTIF_SAHAM4'|translate}}</strong>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="aktaCtrl.pqWarning!=''">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable">
                        <strong>{{aktaCtrl.pqWarning}}</strong>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="aktaCtrl.revisiVendor">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable text-center">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF_DLU' | translate}} <strong> {{aktaCtrl.revisiName}}</strong> {{'MESSAGE.NOTIF_TIDAK_VALID' | translate}} <button class="btn btn-xs btn-warning" ng-click="aktaCtrl.revisiVendorDetail()" title="{{'DETAIL' | translate}}"><i class="fa fa-eye"></i> {{'DETAIL' | translate}}</button>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-md-6 center-block" style="float: none!important;">
					<h3 class="text-center afta-font">{{'DATA_PEMILIK_SAHAM'|translate}}</h3>
				</div>
			</div>
			<div class="row" style="padding-top: 20px!important;">
				<div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
					<div class="col-md-12 text-center" ng-if="!aktaCtrl.isEditPendirian && aktaCtrl.bisaMengubahData ">
						<div class="form-group">
							<span class="input-group-btn">
								<button type="button" ng-if="aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32" ng-click="aktaCtrl.addStock()" class="btn btn-sm btn-flat btn-success">
									<i class="fa fa-plus"></i> &nbsp; {{'TAMBAH'|translate}}
								</button>
                                <button type="button" ng-if="aktaCtrl.vendorCategoryID == 32" ng-click="aktaCtrl.simpanSasananSaham()" class="btn btn-sm btn-flat btn-primary" title="{{'GET_DATA_CIVD'|translate}}">
                                    <i class="fa fa-download"></i> &nbsp; {{'GET_DATA_CIVD_SASANAN_SAHAM' | translate}}
                                </button>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical" style="width: 4%;">{{'NO' | translate}}</th>
                                            <th class="center-vertical" style="width: 10%;">{{'TIPE' | translate}}</th>
											<th class="center-vertical">{{'NAMA' | translate}}</th>
											<th class="center-vertical" style="width: 15%;" ng-if="aktaCtrl.vendorCategoryID != 32">{{'TANGGAL' | translate}}</th>
                                            <th class="center-vertical" style="width: 15%;" ng-if="aktaCtrl.UnitID != 23">{{'NOMINAL' | translate}}</th>
											<th class="center-vertical" style="width: 10%;" ng-if="aktaCtrl.UnitID == 23">{{'JUM_SAHAM' | translate}}</th>
											<th class="center-vertical" style="width: 5%;">{{'SATUAN' | translate}}</th>
											<th class="center-vertical" style="width: 15%;">{{'NO_IDENTITAS' | translate}}</th>
                                            <th class="center-vertical" style="width: 10%;">{{'POSITION' | translate}}</th>
                                            <th class="center-vertical" style="width: 5%;" ng-if="aktaCtrl.vendorCategoryID == 32">{{'CITIZEN_STATUS' | translate}}</th>
											<th class="center-vertical" style="width: 5%;" ng-if="aktaCtrl.vendorCategoryID != 32">{{'FILE' | translate}}</th>
											<th class="center-vertical" style="width: 10%;" ng-if="aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">{{'ACTION' | translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="aktaCtrl.stocks.length === 0">
											<td ng-if="aktaCtrl.vendorCategoryID != 32" colspan="10">
												{{'TIDAK_ADA_DATA' | translate}}
											</td>
                                            <td ng-if="(aktaCtrl.vendorCategoryID == 32 && aktaCtrl.isApprovedCRStock === true) || aktaCtrl.vendorCategoryID == 32" colspan="8">
                                                {{'TIDAK_ADA_DATA' | translate}}
                                            </td>
										</tr>
										<tr ng-repeat="dt in aktaCtrl.stocks">
											<td class="center-vertical">{{$index + 1}}</td>
                                            <td class="middle-vertical">{{dt.SysReference.Value == null ? '-' : dt.SysReference.Value | translate}}</td>
											<td class="middle-vertical">{{dt.OwnerName || '-'}}</td>
											<td class="center-vertical" ng-if="aktaCtrl.vendorCategoryID != 32">{{dt.OwnerDOBConverted || '-'}}</td>
											<td class="center-vertical">{{dt.Quantity == null ? '-' : dt.Quantity | currency : ""}}</td>
											<td class="center-vertical">{{(dt.Unit.Value != 'STOCK_UNIT_CURRENCY') ? dt.Unit.Value : dt.CurrencySymbol  | translate}}</td>
											<td class="center-vertical">{{dt.OwnerID || '-'}}</td>
                                            <td class="center-vertical">{{dt.Position || '-'}}</td>
                                            <td class="center-vertical" ng-if="aktaCtrl.vendorCategoryID == 32">{{dt.CitizenStatusName || '-'}}</td>
											<td class="center-vertical">
                                                <a  ng-if="aktaCtrl.vendorCategoryID == 32" ng-click="aktaCtrl.downloadFileCivd(dt.OwnerIDUrl,('DATA_PEMILIK_SAHAM'|translate))"  class="btn btn-flat btn-sm btn-primary" title="{{'DOWNLOAD' | translate}}"><i class="fa fa-download"></i>&nbsp;</a>
                                                <a  ng-if="aktaCtrl.vendorCategoryID != 32" href="{{aktaCtrl.folderFile + dt.OwnerIDUrl}}" class="btn btn-flat btn-sm btn-primary" title="{{'DOWNLOAD' | translate}}" target="_blank"><i class="fa fa-download"></i>&nbsp;</a>
                                            </td>
											<td class="center-vertical" ng-if="aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
												<button ng-if="aktaCtrl.isApprovedCRStock === true && dt.VendorCategoryID != 32" class="btn btn-flat btn-sm btn-info" ng-click="aktaCtrl.editStock(dt)" title="{{'UBAH' | translate}}"><i class="fa fa-pencil"></i></button>
												<button ng-if="aktaCtrl.isApprovedCRStock === true && dt.VendorCategoryID != 32" class="btn btn-flat btn-sm btn-danger" ng-click="aktaCtrl.removeStock(dt)" title="{{'HAPUS' | translate}}"><i class="fa fa-trash"></i></button>
												
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>


			
			<div class="row" style="padding-top: 10px!important;">
				<div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label col-md-3">
									<div class="pull-left">
										{{'JENIS_PERUSAHAAN'|translate}}
									</div>
								</label>
								<!-- <div class="col-md-1" style="margin-right:0px!important">:</div> -->
								<div class="col-md-9"> 
									<div class="pull-left">
										: {{aktaCtrl.businessName}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label col-md-3">
									<div class="pull-left">
										{{'ALAMAT_PERUSAHAAN'|translate}}
									</div>
								</label>
								<!-- <div class="col-md-1">:</div> -->
								<div class="col-md-9"> 
									<div class="pull-left"></div>
										: {{aktaCtrl.vendorAddress}}
									</div>
								</div>
							</div>
						</div>
					
                    <div class="row  text-center">
                        <button class="btn btn-flat btn-primary" ng-click="aktaCtrl.simpanLandasanHukum()" ng-if="aktaCtrl.vendorCategoryID == 32"><i class="fa fa-download"></i> {{'GET_DATA_CIVD_LANDASAN_HUKUM' | translate}}</button>
                    </div>
				</div>
                <br/>
                <div class="row" style="padding-top: 10px!important;" ng-if="aktaCtrl.files1.length == 0 ">
                    <div class="col-md-12">
                        <div class="alert alert-warning alert-dismissable">
                            <strong>{{'MESSAGE.WARNING'|translate}}!</strong> {{'MESSAGE.NOTIF_SAHAM3'|translate}} <strong>{{'MESSAGE.NOTIF_SAHAM5'|translate}}</strong>
                        </div>
                    </div>
				</div>
                <div class="row">
                    <div class="col-md-6 center-block" style="float: none!important;">
                        <h3 class="text-center afta-font">{{'DATA_AKTA_PENDIRIAN'|translate}}</h3>
                    </div>
                </div>
                <br />
				<div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
					<div class="row">
						<div class="col-md-6" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>{{'NOMOR'|translate}} <span style="color:red"> *</span></label>
								<input type="text" class="form-control" ng-model="aktaCtrl.data.no_aktapendirian" placeholder="{{'NOMOR'|translate}}" id="nomorAktaPendirian" maxlength="64"/>
							</div>
						</div>
						<div class="col-md-6" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>{{'TANGGAL_SURAT'|translate}} <span style="color:red"> *</span> &nbsp;<em>(dd-mm-YYYY)</em></label>
								<div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy" style="background-color: #ffffff;">
									<input ng-blur="aktaCtrl.cekDate(1)" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy"
                                     close-text="{{'TUTUP'|translate}}" is-open="aktaCtrl.isCalendarOpened[1]" ng-model="aktaCtrl.data.tgl_suratpendirian" style="background-color: #ffffff;" 
                                           ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
									<span class="input-group-addon" ng-click="aktaCtrl.openCalendar(1)"><span class="glyphicon glyphicon-th" ></span></span>
								</div>
							</div>
						</div>
						<div class="col-md-6" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>{{'NOTARIS'|translate}} <span style="color:red"> *</span></label>
								<input type="text" class="form-control" ng-model="aktaCtrl.data.notaris_pendirian" placeholder="{{'NAMA_LENGKAP_NOTARIS'|translate}}" maxlength="64"/>
							</div>
						</div>
						<div class="col-md-6" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>{{'TEMPAT_NOTARIS'|translate}} <span style="color:red"> *</span></label>
                                <selectize ng-if="!formCRCtrl.isTenderVerification" required name="selectModule" placeholder="Notary Location""
                                           options="aktaCtrl.listKotaKab" config="aktaCtrl.myConfig5" ng-model="aktaCtrl.data.tempat_notaris"></selectize>
								<!--<select ng-if="!formCRCtrl.isTenderVerification" class="form-control" 
                                        ng-model="aktaCtrl.data.tempat_notaris" ng-options="city.CityID as city.Name for city in aktaCtrl.listKotaKab"></select>-->
							</div>
						</div>
						<div class="col-md-1" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32"></div>
						<div class="col-md-10 center-block" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>
									{{'FILE_DOKUMEN'|translate}} <span style="color:red"> *</span>
									<small>
										( <span ng-repeat="ft in aktaCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
										<span> / Max. {{aktaCtrl.idUploadConfigs[0].Size}} {{aktaCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
									</small>
									{{uploadSOWDModalCtrl.sowDoc.DocUrl ? '**' : ''}}
								</label>
								<input type="file" class="form-control" ng-file-select="aktaCtrl.file1Change(aktaCtrl.file1)" ng-model="aktaCtrl.file1" required/>
							</div>
						</div>

						<div class="col-md-12 text-center" ng-if="(aktaCtrl.isEditPendirian && aktaCtrl.bisaMengubahData) && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
									<a href="{{aktaCtrl.folderFile + aktaCtrl.fUrl1}}" target="_BLANK" class="btn btn-sm btn-flat btn-primary" title="{{'DOWNLOAD'|translate}}" >
										<i class="fa fa-download"></i> {{'DOWNLOAD'|translate}}
									</a>
								</span>
							</div>
						</div>
						<div class="col-md-12 text-center" ng-if="(!aktaCtrl.isEditPendirian && aktaCtrl.bisaMengubahData) && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
									<button type="button" ng-click="aktaCtrl.addDocument(1,aktaCtrl.vendorCategoryID)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-save"></i> &nbsp; {{'SIMPAN'|translate}}</button>
								</span>
							</div>
						</div>

						<div class="col-md-12 text-center" ng-if="(aktaCtrl.isEditPendirian && aktaCtrl.bisaMengubahData) && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
                                    <button type="button" ng-click="aktaCtrl.cancelUpdate(1)" class="btn btn-sm btn-flat btn-danger" style="margin-right: 10px!important;">
                                        <i class="fa fa-times"></i> &nbsp; {{'BATAL'|translate}}
                                    </button>
									<button type="button" ng-click="aktaCtrl.addDocument(1,aktaCtrl.vendorCategoryID)" class="btn btn-sm btn-flat btn-success ">
										<i class="fa fa-save"></i> &nbsp; {{'UBAH'|translate}}
									</button>
								</span>
							</div>
						</div>
						<div class="col-md-12 center-block">
							<div class="form-group">
								<div class="table-responsive">
									<table class="table table-bordered table-striped"
										   style="table-layout: fixed!important;">
										<thead>
											<tr>
												<th class="text-center" style="font-weight: bolder;">{{'NOMOR'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;">{{'NOTARIS'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;">{{'TEMPAT_NOTARIS'|translate}}</th>
												<th class="text-center" style="width: 10%;" style="font-weight: bolder;">{{'BERKAS'|translate}}</th>
												<th class="text-center" style="width: 20%;" style="font-weight: bolder;">{{'ACTION'|translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="aktaCtrl.files1.length === 0">
												<td colspan="6">
													{{'TIDAK_ADA_DATA' | translate}}
												</td>
											</tr>
											<tr ng-repeat="fl in aktaCtrl.files1">
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentNo}}</td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentDateConverted}}</td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.NotaryName}}</td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.NotaryLocationName}}</td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">
                                                
                                                    <a href="{{aktaCtrl.folderFile + fl.DocumentURL}}" target="_BLANK" ng-if="fl.DocumentURL && fl.VendorCategoryID == 33" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-flat btn-sm btn-primary"><i class="fa fa-download"></i></a>
                                                    <a ng-if="fl.DocumentURL && fl.VendorCategoryID == 32" ng-click="aktaCtrl.downloadFileCivd(fl.DocumentURL,fl.Filename)" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-flat btn-sm btn-primary"><i class="fa fa-download"></i></a>
                                                    
                                                </td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">
													<button ng-click="aktaCtrl.viewLegalStock(fl)" class="btn btn-flat btn-sm btn-warning" title="{{'PEMILIK_SAHAM'|translate}}"><i class="fa fa-file"></i></button>
													<button ng-if="aktaCtrl.isApprovedCRStock === true" ng-click="aktaCtrl.editLegalStock(fl)" class="btn btn-flat btn-sm btn-success" title="{{'UBAH'|translate}} {{'PEMILIK_SAHAM'|translate}}"><i class="fa fa-copy"></i></button>
													<button ng-if="aktaCtrl.isApprovedCRStock === true && fl.VendorCategoryID != 32" ng-click="aktaCtrl.editDocument(1, fl)" class="btn btn-flat btn-sm btn-primary" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></button>
													<button ng-if="aktaCtrl.isApprovedCRStock === true && fl.VendorCategoryID != 32" class="btn btn-flat btn-sm btn-danger" title="{{'HAPUS'|translate}}" ng-click="aktaCtrl.removeFile1(fl)"><i class="fa fa-trash-o"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            
           

			<hr />
			<div class="row">
				<div class="col-md-6 center-block" style="float: none!important;">
					<h3 class="text-center afta-font">{{'DATA_AKTA_PERUBAHAN_TERAKHIR'|translate}}</h3>
				</div>
			</div>
			<div class="row" style="padding-top: 20px!important;">
				<div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
					<div class="row">
						<div class="col-md-6" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>{{'NOMOR'|translate}} <span style="color:red"> *</span></label>
								<input type="text" class="form-control"
									   ng-model="aktaCtrl.data.no_perubahanakhir" placeholder="{{'NOMOR'|translate}}" id="nomorAktaPerubahan" maxlength="64"/>
							</div>
						</div>
						<div class="col-md-6" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>{{'TANGGAL_SURAT'|translate}} <span style="color:red"> *</span> &nbsp;<em>(dd-mm-YYYY)</em></label>
								<div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
									<input ng-blur="aktaCtrl.cekDate(2)" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" style="background-color: #ffffff;" close-text="{{'TUTUP'|translate}}"
										   is-open="aktaCtrl.isCalendarOpened[2]" ng-model="aktaCtrl.data.tgl_suratperubahan"
                                           ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
									<span class="input-group-addon" ng-click="aktaCtrl.openCalendar(2)"><span class="glyphicon glyphicon-th"></span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 center-block" style="float: none!important;" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>{{'NOTARIS'|translate}} <span style="color:red"> *</span></label>
								<input type="text" class="form-control" placeholder="{{'NOTARIS'|translate}}"
									   ng-model="aktaCtrl.data.notaris_perubahan" maxlength="64"/>
							</div>
						</div>
						<div class="col-md-1" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32"></div>
						<div class="col-md-10 center-block" ng-if="aktaCtrl.bisaMengubahData === true && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>
									{{'FILE_DOKUMEN'|translate}} <span style="color:red"> *</span>
									<small> ( <span ng-repeat="ft in aktaCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{aktaCtrl.idUploadConfigs[0].Size}} {{aktaCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
									{{uploadSOWDModalCtrl.sowDoc.DocUrl ? '**' : ''}}
								</label>
								<input type="file" class="form-control" ng-file-select="aktaCtrl.file2Change(aktaCtrl.file2)"
									   ng-model="aktaCtrl.file2" required/>
							</div>
						</div>

						<div class="col-md-12 text-center" ng-if="(aktaCtrl.isEditPerubahan && aktaCtrl.bisaMengubahData) && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
									<a href="{{aktaCtrl.folderFile + aktaCtrl.fUrl2}}" target="_BLANK" class="btn btn-sm btn-flat btn-primary" title="{{'DOWNLOAD'|translate}}" ><i class="fa fa-download"></i> {{'DOWNLOAD'|translate}}</a>
								</span>
							</div>
						</div>

						<div class="col-md-12 text-center" ng-if="(!aktaCtrl.isEditPerubahan && aktaCtrl.bisaMengubahData)&& aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
									<button type="button" ng-click="aktaCtrl.addDocument(2,aktaCtrl.vendorCategoryID)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-save"></i> &nbsp; {{'SIMPAN'|translate}}</button>
								</span>
							</div>
						</div>

						<div class="col-md-12 text-center" ng-if="(aktaCtrl.isEditPerubahan && aktaCtrl.bisaMengubahData) && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
                                    <button type="button" ng-click="aktaCtrl.cancelUpdate(2)" class="btn btn-sm btn-flat btn-danger" style="margin-right: 10px!important;"><i class="fa fa-times"></i> &nbsp; {{'BATAL'|translate}}</button>
									<button type="button" ng-click="aktaCtrl.addDocument(2,aktaCtrl.vendorCategoryID)" class="btn btn-sm btn-flat btn-success "><i class="fa fa-save"></i> &nbsp; {{'UBAH'|translate}}</button>
								</span>
							</div>
						</div>

						<div class="col-md-12 center-block">
							<div class="form-group">
								<div class="table-responsive">
									<table class="table table-bordered table-striped"
										   style="table-layout: fixed!important;">
										<thead>
											<tr>
												<th class="text-center" style="font-weight: bolder;">{{'NOMOR'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;">{{'NOTARIS'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;">{{'BERKAS'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;" ng-if="aktaCtrl.isApprovedCRStock === true"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="aktaCtrl.files2.length === 0">
												<td colspan="5">
													{{'TIDAK_ADA_DATA' | translate}}
												</td>
											</tr>
											<tr ng-repeat="fl in aktaCtrl.files2">
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentNo}}</td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentDateConverted}}</td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.NotaryName}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">
                                                    <a href="{{aktaCtrl.folderFile + fl.DocumentURL}}" target="_BLANK" ng-if="fl.DocumentURL && fl.VendorCategoryID == 33" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-flat btn-sm btn-primary"><i class="fa fa-download"></i></a>
                                                    <a ng-if="fl.DocumentURL && fl.VendorCategoryID == 32" ng-click="aktaCtrl.downloadFileCivd(fl.DocumentURL,fl.Filename)" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-flat btn-sm btn-primary"><i class="fa fa-download"></i></a>
                                                </td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }" ng-if="aktaCtrl.isApprovedCRStock === true">
													<button ng-click="aktaCtrl.editDocument(2, fl)" ng-if="fl.VendorCategoryID != 32" class="btn btn-flat btn-sm btn-primary" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></button>
													<button class="btn btn-flat btn-sm btn-danger" ng-if="fl.VendorCategoryID != 32" title="{{'HAPUS'|translate}}" ng-click="aktaCtrl.removeFile2(fl)"><i class="fa fa-trash-o"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-6 center-block" style="float: none!important;">
					<h3 class="text-center afta-font">{{'DATA_PENGESAHAN_KEMENKUMHAM'|translate}}</h3>
					<h5 class="text-center"><em>({{'KHUSUS_PT'|translate}})</em></h5>
				</div>
			</div>
			<div class="row" style="padding-top: 20px!important;">
				<div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
					<div class="row" ng-if="aktaCtrl.bisaMengubahData && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
						<div class="col-md-6">
							<div class="form-group">
								<label>{{'NOMOR'|translate}} <span style="color:red"> *</span></label>
								<input type="text" class="form-control" placeholder="{{'NOMOR'|translate}}" ng-model="aktaCtrl.data.no_kemenkumham" id="nomorAktaPengesahan" maxlength="64"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>{{'TANGGAL_SURAT'|translate}} <span style="color:red"> *</span> &nbsp;<em>(dd/mm/YYYY)</em></label>
								<div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
									<input ng-blur="aktaCtrl.cekDate(3)" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" 
                                     style="background-color: #ffffff;" is-open="aktaCtrl.isCalendarOpened[3]" ng-model="aktaCtrl.data.tgl_kemenkumham"
                                           ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
									<span class="input-group-addon" ng-click="aktaCtrl.openCalendar(3)"><span class="glyphicon glyphicon-th"></span></span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1" ng-if="aktaCtrl.bisaMengubahData && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32"></div>
						<div class="col-md-10 col-sm-10 col-xs-10 text-center" ng-if="aktaCtrl.bisaMengubahData && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<label>
									{{'FILE_DOKUMEN'|translate}} <span style="color:red"> *</span>
									<small>
										( <span ng-repeat="ft in aktaCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
										<span> / Max. {{aktaCtrl.idUploadConfigs[0].Size}} {{aktaCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
									</small>
									{{uploadSOWDModalCtrl.sowDoc.DocUrl ? '**' : ''}}
								</label>
								<input type="file" class="form-control" ng-file-select="aktaCtrl.file3Change(aktaCtrl.file3)" ng-model="aktaCtrl.file3" required/>
							</div>
						</div>
						<div class="col-md-1" ng-if="aktaCtrl.bisaMengubahData && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32"></div>
						<div class="col-md-12 text-center" ng-if="(aktaCtrl.isEditKemenkumham && aktaCtrl.bisaMengubahData) && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
									<a href="{{aktaCtrl.folderFile + aktaCtrl.fUrl3}}" target="_BLANK" class="btn btn-sm btn-flat btn-primary" title="{{'DOWNLOAD'|translate}}"><i class="fa fa-download"></i> {{'DOWNLOAD'|translate}}</a>
								</span>
							</div>
						</div>
						<div class="col-md-12 text-center" ng-if="(!aktaCtrl.isEditKemenkumham && aktaCtrl.bisaMengubahData) && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
									<button type="button" ng-click="aktaCtrl.addDocument(3,aktaCtrl.vendorCategoryID)" class="btn btn-sm btn-flat btn-success"><i class="fa fa-save"></i> &nbsp; {{'SIMPAN'|translate}}</button>
								</span>
							</div>
						</div>
						<div class="col-md-12 text-center" ng-if="(aktaCtrl.isEditKemenkumham && aktaCtrl.bisaMengubahData) && aktaCtrl.isApprovedCRStock === true && aktaCtrl.vendorCategoryID != 32">
							<div class="form-group">
								<span class="input-group-btn">
                                    <button type="button" ng-click="aktaCtrl.cancelUpdate(3)" class="btn btn-sm btn-flat btn-danger" style="margin-right: 10px!important;"><i class="fa fa-times"></i> &nbsp; {{'BATAL'|translate}}</button>
									<button type="button" ng-click="aktaCtrl.addDocument(3,aktaCtrl.vendorCategoryID)" class="btn btn-sm btn-flat btn-success "><i class="fa fa-save"></i> &nbsp; {{'UBAH'|translate}}</button>
								</span>
							</div>
						</div>
						<div class="col-md-12 center-block">
							<div class="form-group">
								<div class="table-responsive">
									<table class="table table-bordered table-striped"
										   style="table-layout: fixed!important;">
										<thead>
											<tr>
												<th class="text-center" style="font-weight: bolder;">{{'NOMOR'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;">{{'BERKAS'|translate}}</th>
												<th class="text-center" style="font-weight: bolder;" ng-if="aktaCtrl.isApprovedCRStock === true"></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="aktaCtrl.files3.length === 0">
												<td colspan="4">
													{{'TIDAK_ADA_DATA' | translate}}
												</td>
											</tr>
											<tr ng-repeat="fl in aktaCtrl.files3">
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentNo}}</td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentDateConverted}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">
                                                    <a href="{{aktaCtrl.folderFile + fl.DocumentURL}}" target="_BLANK" ng-if="fl.DocumentURL && fl.VendorCategoryID == 33" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-flat btn-sm btn-primary"><i class="fa fa-download"></i></a>
                                                    <a ng-if="fl.DocumentURL && fl.VendorCategoryID == 32" ng-click="aktaCtrl.downloadFileCivd(fl.DocumentURL,fl.Filename)" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-flat btn-sm btn-primary"><i class="fa fa-download"></i></a>
                                                </td>
												<td class="text-center" ng-class="{ isEdit: fl.isEdit }" ng-if="aktaCtrl.isApprovedCRStock === true">
													<button ng-click="aktaCtrl.editDocument(3, fl)" ng-if="fl.VendorCategoryID != 32" class="btn btn-flat btn-sm btn-primary" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></button>
													<button class="btn btn-flat btn-sm btn-danger" ng-if="fl.VendorCategoryID != 32" title="{{'HAPUS'|translate}}" ng-click="aktaCtrl.removeFile3(fl)"><i class="fa fa-trash-o"></i></button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
            <div class="row" style="margin-top: 50px;margin-bottom: 50px;">
                <div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
                    <!--hijau--><button ng-if="aktaCtrl.vendorCategoryID != 32" disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class="fa fa-save"></i></button> <span ng-if="aktaCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'SIMPAN'|translate}}</span>

                    <!--kuning--><button ng-if="aktaCtrl.vendorCategoryID != 32" disabled style="background-color: #ecb42f; width: 35px; height:30px; border:none;"><i class="fa fa-file"></i></button> <span ng-if="aktaCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'PEMILIK_SAHAM'|translate}}</span>

                    <!--hijau--><button ng-if="aktaCtrl.vendorCategoryID != 32" disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class="fa fa-copy"></i></button> <span ng-if="aktaCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'UBAH'|translate}} {{'PEMILIK_SAHAM'|translate}}</span>

                    <!--biru--><button ng-if="aktaCtrl.vendorCategoryID != 32" disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-download"></i></button> <span ng-if="aktaCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'DOWNLOAD_BERKAS'|translate}}</span>       
                    
                    <!--hijau--><button ng-if="aktaCtrl.vendorCategoryID != 32" disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class='fa fa-plus'></i>&nbsp;</button> <span ng-if="aktaCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'TAMBAH'|translate}}</span>

                    <!--merah--><button ng-if="aktaCtrl.vendorCategoryID != 32" disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-trash-o"></i></button> <span ng-if="aktaCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'HAPUS'|translate}}</span>

                    <!--merah--><button ng-if="aktaCtrl.vendorCategoryID != 32" disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-times"></i></button> <span ng-if="aktaCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'BATAL'|translate}}</span>
                </div>
			</div>
			<div class="row" style="margin-top: 50px;"></div>
    </div>
</div>
</div>
