﻿<div id="idBuatSubPekerjaan" class="modal-content" ng-init="sahamCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="sahamCtrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'PEMILIK_SAHAM'|translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="sahamCtrl.stockForm">
            <div class="row">
                <div class="col-md-4">
                    <label>{{'FORM.TIPE_PEMILIK_SHM'| translate }}</label> &nbsp;<label style="color:red">*</label>
                    <select name="stockOption" required class="form-control marginBottom-1" style="margin-bottom:0px !important;" ng-model="sahamCtrl.stock.stockTypeID"
                            ng-options="item.RefID as item.Value | translate for item in sahamCtrl.stockOption" ng-change="sahamCtrl.labelChange()">
                        <option value="" selected disabled class="text-center">--{{"FORM.TIPE_PEMILIK_SHM" | translate}}--</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !sahamCtrl.stockForm.OwnerName.$valid && !sahamCtrl.stockForm.OwnerName.$pristine}">
                        <label>{{'FORM.NM_PEMILIK_SHM'| translate }}</label>&nbsp; <label style="color:red">*</label>
                        <input class="form-control" placeholder="{{sahamCtrl.nama | translate}}" type="text" ng-model="sahamCtrl.stock.OwnerName" name="OwnerName" required />   
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !sahamCtrl.stockForm.OwnerDOB.$valid && !sahamCtrl.stockForm.OwnerDOB.$pristine}">
                        <label>{{sahamCtrl.labelPemilik | translate }}</label>&nbsp; <label style="color:red">*</label>
                        <div class="input-group date form_datetime">
                            <input ng-disabled="!sahamCtrl.stock.stockTypeID" class="form-control" size="16" placeholder="{{sahamCtrl.tgl | translate}}" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="TUTUP" 
                                   is-open="sahamCtrl.isDobCalendarOpened" ng-model="sahamCtrl.stock.OwnerDOBDate"
                                   ng-blur="(sahamCtrl.stock.stockTypeID==4309 && sahamCtrl.validateAge(sahamCtrl.stock.OwnerDOBDate)) || 
                                   (sahamCtrl.stock.stockTypeID==4310 && sahamCtrl.validateDate(sahamCtrl.stock.OwnerDOBDate))"
                                   name="OwnerDOB" style="background-color:#ffffff !important;" 
                                   ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="sahamCtrl.openDobCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !sahamCtrl.stockForm.OwnerID.$valid && !sahamCtrl.stockForm.OwnerID.$pristine}">
                        <label>{{'FORM.NO_KTP'| translate }}</label>&nbsp; <label style="color:red">*</label>
                        <input class="form-control" placeholder="{{sahamCtrl.identitas | translate}}" type="text" ng-model="sahamCtrl.stock.OwnerID" name="OwnerID" required maxlength="32"/>                
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !sahamCtrl.stockForm.ownerIDFile.$valid && !sahamCtrl.stockForm.ownerIDFile.$pristine}">
                        <label>{{'FORM.KET_FILE'| translate }} </label><label style="color:red">*</label>
                            <!-- <small>
                                ( <span ng-repeat="ft in sahamCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
                                <span> / Max. {{sahamCtrl.idUploadConfigs[0].Size}} {{sahamCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                            </small> -->
                        <input ng-file-select="sahamCtrl.stockOwnerIDSelected()" class="form-control  marginBottom-1" type="file"
                               ng-model="sahamCtrl.file" name="ownerIDFile"/>
                        <span ng-if="sahamCtrl.stock.stockTypeID == 4309">
                            <i class="font10">
                                {{'FORM.KET_FILE_PERSONAL' | translate}} <small> ( <span ng-repeat="ft in sahamCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{sahamCtrl.idUploadConfigs[0].Size}} {{sahamCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                            </i>
                        </span>
                        <span ng-if="sahamCtrl.stock.stockTypeID == 4310">
                            <i class="font10">
                                {{'FORM.KET_FILE_COMPANY' | translate}} <small> ( <span ng-repeat="ft in sahamCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{sahamCtrl.idUploadConfigs[0].Size}} {{sahamCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                            </i>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !sahamCtrl.stockForm.stockUnit.$valid && !sahamCtrl.stockForm.stockUnit.$pristine}">
                        <label>{{'FORM.SATUAN_SHM'| translate }}</label>&nbsp;<label style="color:red">*</label>
                        <select name="stockUnit" required class="form-control" ng-model="sahamCtrl.stock.UnitID" ng-disabled="sahamCtrl.stock.StockID" ng-change="sahamCtrl.onUnitChange()"
                                ng-options="item.RefID as item.Value | translate for item in sahamCtrl.stockUnits">
                            <option value="" selected disabled class="text-center">--{{"FORM.SATUAN_SHM" | translate}}--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !sahamCtrl.stockForm.stockQty.$valid && !sahamCtrl.stockForm.stockQty.$pristine}">
                        <label ng-if="sahamCtrl.stock.UnitID != 23">{{'FORM.NOMINAL_SHM'| translate }}</label>&nbsp;<label style="color:red" ng-if="sahamCtrl.stock.UnitID != 23">*</label>
                        <label ng-if="sahamCtrl.stock.UnitID == 23">{{'JUM_SAHAM'| translate }}</label>&nbsp;<label style="color:red" ng-if="sahamCtrl.stock.UnitID == 23">*</label>
                        
                        <input class="form-control" type="number" step="0.01" min="0" placeholder="{{sahamCtrl.stock.UnitID != 23 ? ('FORM.NOMINAL_SHM' | translate):('JUM_SAHAM'| translate)}} *" name="stockQty" ng-model="sahamCtrl.stock.Quantity" required />
                    </div>
                </div>
                <div class="col-md-4" ng-if="sahamCtrl.showCurrencyField">
                    <div class="form-group" ng-class="{'has-error': !sahamCtrl.stockForm.stockUnitCurrency.$valid && !sahamCtrl.stockForm.stockUnitCurrency.$pristine}">
                        <label>{{'FORM.SATUAN_SHM_MATAUANG'| translate }}</label>&nbsp;<label style="color:red">*</label>
                        <select name="stockUnitCurrency" required class="form-control" ng-model="sahamCtrl.stock.UnitCurrencyID"
                                ng-options="item.CurrencyID as item.Symbol + ' | ' + item.Label for item in sahamCtrl.currencyList">
                            <option value="" selected disabled class="text-center">--{{"FORM.SATUAN_SHM_MATAUANG" | translate}}--</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{'FORM.JABATAN'| translate }}</label>&nbsp;<label style="color:red">*</label>
                        <input class="form-control" placeholder="{{'FORM.JABATAN' | translate}} *" type="text" ng-model="sahamCtrl.stock.Position" name="Jabatan" required maxlength="256"/>
                    </div>
                </div>
            </div>
        </form> 
    </div>
    <div class="modal-footer">
        <button ng-click="sahamCtrl.close()" type="button" class="btn btn-flat btn-danger"><i class="fa fa-reply"></i>&nbsp; {{sahamCtrl.btnBack}}</button>
        <button ng-click="sahamCtrl.save()" type="button" class="btn btn-flat btn-success" ng-disabled="!sahamCtrl.stockForm.$valid"><i class="fa fa-save"></i>&nbsp; {{'SIMPAN'|translate}}</button>
    </div>
</div>