﻿<div ng-init="BankDetCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.BANK_DETAIL' | translate}}</a></li>
	</ol>
	<div class="box">
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<h3 class="afta-font text-center">{{'BANK_DETAIL' | translate}}</h3>
				</div>
			</div>
			<div class="col-md-12">
				<div class="pull-right">
					<button type="button" ng-if="BankDetCtrl.IsApprovedCR===true" class="btn btn-flat btn-primary" ng-click="BankDetCtrl.tambah()" title="{{'Tambah' | translate}}">
						<i class='fa fa-plus-circle'></i>&nbsp;
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center">{{'NO' | translate}}</th>
									<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'ACCOUNT_NO' | translate}}</th>
									<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'ACCOUNT_NAME' | translate}}</th>
									<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'BANK_NAME' | translate}}</th>
									<th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'BRANCH' | translate}}</th>
									<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'SWIFT_CODE' | translate}}</th>
									<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'CURRENCY' | translate}}</th>
									<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'PASSBOOK' | translate}}</th>
									<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in BankDetCtrl.bank">
									<td class="text-center">{{BankDetCtrl.currentPage > 1 ? (BankDetCtrl.maxSize * (BankDetCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
									<td>{{data.AccountNo}}</td>
									<td class="text-center">{{data.AccountName}}</td>
									<td class="text-center">{{data.BankName}}</td>
									<td class="text-center">{{data.Branch}}</td>
									<td>{{data.SwiftCode}}</td>
									<td class="text-center">{{data.CurrencyName}}</td>
									<td class="text-center">
										<a href="{{BankDetCtrl.folderFile + data.UrlDoc}}" target="_blank" class="label label-sm label-primary" title="Download">
											<i class="fa fa-download"></i>
										</a>
									</td>
									<td class="text-center">
										<a ng-if="BankDetCtrl.IsApprovedCR===true" ng-click="BankDetCtrl.edit(data)" class="btn btn-flat btn-sm btn-primary" title="{{'Ubah' | translate}}"><i class="fa fa-edit"></i></a>
										<a ng-if="BankDetCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-danger" ng-click="BankDetCtrl.remove(data)" title="{{'Hapus' | translate}}"><i class="fa fa-trash-o"></i></a>
									</td>
								</tr>
								<tr ng-if="BankDetCtrl.bank.length === 0"> <td colspan="9"> {{'NO_DATA' | translate}}</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
