<section class="content" ng-init="BlacklistVendorReportCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.BLACKLIST_VENDOR' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{'BLACKLIST_VENDOR_TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-4">
                            <h4>{{'BLACKLIST_VENDOR' | translate}}</h4>
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.MONTH' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.GOODS_VENDOR' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.SERVICE_VENDOR' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.GOODSANDSERVICE_VENDOR' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.TOTAL' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in BlacklistVendorReportCtrl.arrayBLVendor">
                                            <td style="vertical-align: middle;" class="text-center">{{v.bulan | translate}}
                                            <td style="vertical-align: middle;" class="text-right">{{v.Goods}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{v.Service}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{v.GoodsAndService}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{v.GrandTotal}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4>{{'DIAGRAM.BLACKLIST_VENDOR' | translate}}</h4>
                            <canvas id="line" class="chart chart-line" chart-data="BlacklistVendorReportCtrl.dataBLVendor" chart-color="BlacklistVendorReportCtrl.colours" chart-series="BlacklistVendorReportCtrl.seriesNewVendor" chart-labels="BlacklistVendorReportCtrl.labelNewVendor" chart-dataset="BlacklistVendorReportCtrl.datasetNewVendor" chart-options="BlacklistVendorReportCtrl.optionNewVendor"></canvas>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>