﻿<div class="modal-content" ng-init="wccvCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="wccvCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header">
                                    <h4 class="box-title afta-font">{{'ISI_PESAN'|translate}}</h4>
                                </div><!-- /.box-header -->
                                <div class="box-body pad">
                                    <textarea ng-model="wccvCtrl.message" name="editor1" rows="7" cols="80"></textarea>
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{'LAMPIRAN'|translate}}
                                            <small> ( <span ng-repeat="ft in wccvCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{wccvCtrl.idUploadConfigs[0].Size}} {{wccvCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                        </label>
                                        <input type="file" class="form-control" ng-file-select="wccvCtrl.selectUpload()"
                                               ng-model="wccvCtrl.fileUpload" name="ownerIDFile" accept="{{wccvCtrl.idFileTypes}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="wccvCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="wccvCtrl.simpan()" title="{{'KIRIM'|translate}}" ng-disabled="!wccvCtrl.message"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>