﻿<!-- Main content -->
<div ng-init="dataMRKOCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a class="active">Monitoring MRKO</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'JUDUL_MRKO' | translate}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="clearfix">
                        </div>
                        <div class="row margin-atas">
                            <div class="col-md-12">
                                <div class="input-group">
                                    Filter :
                                    <select class="input-sm" ng-model="dataMRKOCtrl.searchBy" required>
                                        <option value="" disabled selected>{{'FILTER.SEARCH' | translate }}</option>
                                        <option value="1">{{'TABLE.KODE_VENDOR' | translate }}</option>
                                        <option value="2">{{'TABLE.NAMA_VENDOR' | translate }}</option>
                                        <option value="3">{{'TABLE.NO_KONTRAK' | translate }}</option>

                                    </select>
                                    <input type="text" placeholder="{{'FILTER.KEYWORD' | translate}}" class="input-sm" ng-model="dataMRKOCtrl.keyword" />
                                    <span class="">
                                        <button ng-click="dataMRKOCtrl.loadPaket(1)" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    <div class="input-group-btn right">
                                        <a class="btn btn-success" href="#/upload-mrko" title="Upload MRKO"><i class="fa fa-arrow-circle-o-up"></i> Upload MRKO </a>
                                        <button class="btn btn-primary" ng-click="dataMRKOCtrl.addMRKO()" title="Buat MRKO"><i class="fa fa-plus-square"></i> Buat MRKO </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.LOKASI_PENYIMPANAN' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.CREATE_DATE' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.KODE_VENDOR' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.NAMA_VENDOR' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO_KONTRAK' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.LAST_MOD' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.RESPONSE' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.ACTION' | translate }}</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="data in dataMRKOCtrl.listVHS">
                                                <td style="vertical-align: middle;">{{dataMRKOCtrl.currentPage > 1 ? (dataMRKOCtrl.maxSize * (dataMRKOCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{data.StorageLocation}}</td>
                                                <td style="vertical-align: middle;">{{dataMRKOCtrl.convertDate(data.CreatedDate)}}</td>
                                                <td style="vertical-align: middle;">{{data.Vendor.SAPCode}}</td>
                                                <td style="vertical-align: middle;">{{data.Vendor.VendorName}}</td>
                                                <td style="vertical-align: middle;">{{data.ContractNumber}}</td>
                                                <td style="vertical-align: middle;">{{dataMRKOCtrl.convertDate(data.LastModified)}}</td>
                                                <td style="vertical-align: middle;">{{data.SysReference.Name | translate}}</td>
                                                <td style="vertical-align: middle;">
                                                    <a class="btn btn-sm btn-success" title="Detail MRKO" ng-click="dataMRKOCtrl.toDetail(data)"><i class="fa fa-eye"></i></a>
                                                    <a class="btn btn-sm btn-warning" title="Detail Approval" ng-click="dataMRKOCtrl.DetailApproval(data)"><i class="fa fa-sitemap"></i></a>
                                                    <a href="#/add-mrko/{{data.ID}}" ng-if="data.SysReference.Value == 'RFQ_REJECTED'" class="btn btn-sm btn-primary" title="Edit MRKO"><i class="fa fa-search"></i></a>
                                                    <a ng-if="data.SysReference.Value == 'RFQ_APPROVED' && data.IsViewVendor == null" class="btn btn-sm btn-primary" title="Send To Vendor" ng-click="dataMRKOCtrl.sent(data.ID)"><i class="fa fa-check"></i></a>
                                                    <a ng-if="data.SysReference.Value == 'RFQ_APPROVED' ||data.SysReference.Value == 'Review By Vendor' || data.SysReference.Value == 'Revision By Vendor' " class="btn btn-sm btn-danger" title="Batal MRKO" ng-click="dataMRKOCtrl.cancelMRKO(data.ID)"><i class="fa fa-close"></i></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="dataMRKOCtrl.listVHS.length === 0">
                                                <td colspan="13">{{'TIDAK_ADA_DATA' | translate }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul uib-pagination boundary-links="true" total-items="dataMRKOCtrl.totalItems" ng-model="dataMRKOCtrl.currentPage" class="pagination-sm" max-size="10" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="dataMRKOCtrl.loadPaket(dataMRKOCtrl.currentPage)"></ul><br />
                                
                            </div>
                            <div class="col-md-12">
                                <label>{{'TOTAL_DATA' | translate }} : {{dataMRKOCtrl.listVHS.length}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
