﻿<!-- Main content -->
<div ng-init="UploadMRKO.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/monitoring-mrko">Monitoring MRKO</a></li>
            <li><a>{{'BREADCRUMB.DATA_UPLOAD_PO' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">Data Upload MRKO</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">

                                    <div class="input-group">
                                        <input type="file" class="form-control" ng-file-select="UploadMRKO.selectUpload()"
                                               ng-model="UploadMRKO.fileUpload" name="ownerIDFile" required accept="{{UploadMRKO.idFileTypes}}" />
                                        <div class="input-group-btn">
                                            <button class="btn btn-success" ng-click="UploadMRKO.uploadFile()" title="{{'UPLOAD_DATA' | translate}}"><i class="fa fa-arrow-circle-o-up"></i> </button>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <small> ( <span ng-repeat="ft in UploadMRKO.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{UploadMRKO.idUploadConfigs[0].Size}} {{UploadMRKO.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center-vertical" style="vertical-align: middle; width: 20px; min-width: 20px;">{{'TABLE.NO' | translate }}</th>
                                                <th class="center-vertical" style="vertical-align: middle;">{{'TABLE.FILE_NAME' | translate }}</th>
                                                <th class="center-vertical" style="vertical-align: middle;">{{'TABLE.UPLOAD_DATE' | translate }}</th>
                                                <th class="center-vertical" style="vertical-align: middle;">{{'TABLE.RESPONSE' | translate }}</th>
                                                <th class="center-vertical" style="vertical-align: middle;">{{'TABLE.ACTION' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in UploadMRKO.listDoc">
                                                <td style="vertical-align: middle;">{{UploadMRKO.currentPage > 1 ? (UploadMRKO.maxSize * (UploadMRKO.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{data.FileName}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{UploadMRKO.convertDate (data.UploadDate)}}</td>
                                                <td style="vertical-align: middle;">{{data.SysReference.Value | translate}}</td>
                                                <td style="vertical-align: middle;">
                                                    <a class=" btn btn-sm btn-primary" title="Detail Item" ng-click="UploadMRKO.toDetail(data.ID)"><i class="fa fa-edit"></i></a>
                                                    <a ng-if="data.SysReference.Name === 'RESPON_PO_DRAFT'" title="Compare" ng-click="UploadMRKO.toCompare(data.ID)" class=" btn btn-sm btn-success"><i class="fa fa-check"></i></a>
                                                    <a class=" btn btn-sm btn-warning" title="Download File" href="{{UploadMRKO.folderFile+data.DocUrl}}"><i class="fa fa-download"></i></a>
                                                    <a ng-if="data.SysReference.Name !== 'RESPON_PO_NO_VAR'" title="Delete File" ng-click="UploadMRKO.deleteFile(data.ID)" class=" btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                                </td>

                                            </tr>
                                            <tr ng-if="UploadMRKO.listDoc.length === 0">
                                                <td colspan="5">{{'TIDAK_ADA_DATA' | translate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul uib-pagination boundary-links="true" max-size="10" total-items="UploadMRKO.totalItems" ng-model="UploadMRKO.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="UploadMRKO.loadUploadDataMRKO(UploadMRKO.currentPage)"></ul><br />
                                
                            </div>
                            <div class="col-md-12">
                                <label>{{'TOTAL_DATA' | translate }} : {{UploadMRKO.listDoc.length}}</label>
                            </div>
                            <div class="col-md-12 text-right">
                                <a href="#/monitoring-mrko" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
                                    <i class="fa fa-arrow-left"></i>{{'BACK' | translate}}

                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
