﻿<section class="content" ng-init="AssessmentPrequalDetailCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.TITLE'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.TITLE'|translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-8">
                            <label>{{'TABLE.START_DATE'|translate}}: {{AssessmentPrequalDetailCtrl.step.StartDate}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>{{'TABLE.END_DATE'|translate}}: {{AssessmentPrequalDetailCtrl.step.EndDate}}</label>
                        </div>
                        <div class="col-md-12">
                            <label>{{'TABLE.VENDOR_NAME'|translate}}: {{AssessmentPrequalDetailCtrl.list[0].VendorEntryPrequal.VendorPrequal.VendorName}}</label>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px!important;">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="20px">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" width="200px">{{'TABLE.REQUIREMENTS_DATA' | translate}}</th>
                                            <th class="text-center" width="150px">{{'TABLE.SUBMIT_DATE' | translate}}</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">{{'TABLE.VERIFIED_BY'|translate}}</th>
                                            <th class="text-center" style="width: 50px; min-width: 110px;">{{'TABLE.ACTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="peserta in AssessmentPrequalDetailCtrl.list">
                                            <td style="vertical-align: middle;">{{$index + 1}}</td>
                                            <td style="vertical-align: middle;">{{peserta.VendorEntryPrequal.SysReference.Value | translate}}</td>
                                            <td style="vertical-align: middle;" ng-if="peserta.VendorEntryPrequal.IsSubmit === true">{{peserta.VendorEntryPrequal.SubmitDate}}</td>
                                            <td style="vertical-align: middle;" ng-if="peserta.VendorEntryPrequal.IsSubmit !== true"></td>
                                            <td style="vertical-align: middle;" ng-if="peserta.IsAgree === true">{{'SETUJU'|translate}}</td>
                                            <td style="vertical-align: middle;" ng-if="peserta.IsAgree === false">{{'TIDAK_SETUJU'|translate}}
                                            <span ng-if="peserta.Remark!=null || peserta.Remark!=''">({{peserta.Remark}})</span>
                                            </td>
                                            <td style="vertical-align: middle;" ng-if="peserta.IsAgree === null"></td>
                                            <td style="vertical-align: middle;">{{peserta.CreatedBy}}</td>
                                            <td style="vertical-align: middle;">
                                                
                                                <button ng-disabled="peserta.VendorEntryPrequal.IsSubmit != true" ng-click="AssessmentPrequalDetailCtrl.DetailPrequal(peserta, peserta.VendorEntryPrequal.SysReference.Name)" class="btn btn-flat btn-sm btn-primary" title="Detail {{peserta.SysReference.Value | translate}}">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <!--
                                                <button ng-click="AssessmentPrequalDetailCtrl.DetailPrequal(peserta, peserta.VendorEntryPrequal.SysReference.Name)" class="btn btn-flat btn-sm btn-primary" title="Detail {{peserta.SysReference.Value | translate}}">
                                                    <i class="fa fa-edit"></i>
                                                </button>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <hr />
                        <div class="col-md-12 text-center">
                            <a href="#/assessment-prakualifikasi/{{AssessmentPrequalDetailCtrl.PrequalStepAssID}}/{{AssessmentPrequalDetailCtrl.PrequalSetupID}}" class="btn btn-sm btn-primary" title="{{'BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i></a>&nbsp;
                            <a ng-if="AssessmentPrequalDetailCtrl.flagPassed == true && (AssessmentPrequalDetailCtrl.isEntry == true || AssessmentPrequalDetailCtrl.IsNeedRevision == true)" ng-click="AssessmentPrequalDetailCtrl.SaveAss()"  class="btn btn-sm btn-flat btn-primary" title="{{'SAVE'|translate}}"><i class="fa fa-save"></i></a>&nbsp;
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

