﻿<div class="modal-content" ng-init="SummaryPQVerificationCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="SummaryPQVerificationCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font">Summary Hasil Verifikasi</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="formAdd">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
                        <thead>
                            <tr>
                                <th class="text-center" width="20px">No.</th>
                                <th class="text-center">Nama Rekanan</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pnb in SummaryPQVerificationCtrl.listSummary">
                                <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{pnb.VendorPrequal.VendorName}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <input type="checkbox" ng-model="pnb.IsPassed"> Lolos
                                </td>
                            </tr>
                            <tr ng-if="SummaryPQVerificationCtrl.listSummary.length === 0"><td colspan="3">Data Tidak Ada</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
       </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="SummaryPQVerificationCtrl.batal()" title="Batal"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="SummaryPQVerificationCtrl.simpan()" title="Simpan"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>