﻿<section ng-init="ApprovalNoSAPCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#">{{'BREADCRUMB.HOME'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.APPROVAL_DATA'|translate}}</a></li>
	</ol>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'APPROVAL_DATA'|translate}}</h3>
							</div>
						</div>
						<hr />
						<div class="row">
							<form class="" ng-submit="ApprovalNoSAPCtrl.init()">
								<div class="pull-right col-md-2">
									<select class="form-control input-sm" ng-model="ApprovalNoSAPCtrl.columnApprovalStatus" style="float: left; height: 34px;" ng-change="ApprovalNoSAPCtrl.changedFilter()">
										<option value="1">{{'APPROVE'|translate}}</option>
										<option value="2">{{'ONPROCESS'|translate}}</option>
										<option value="3">{{'REJECT'|translate}}</option>
										<option value="4">{{'RFQ_ALL'|translate}}</option>
									</select>
								</div>
								<div class="pull-right col-md-4">
									<div class="input-group">
										<input type="text" placeholder="{{'SEARCH'|translate}}" ng-model="ApprovalNoSAPCtrl.textSearch" class="form-control">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-flat btn-primary" ng-click="ApprovalNoSAPCtrl.init()">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="box-body">
						<div class="row" style="padding-top: 10px!important;">
							<br />
							<div class="col-md-12">
								<pagination total-items="ApprovalNoSAPCtrl.totalItems" page="ApprovalNoSAPCtrl.currentPage" items-per-page="10" ng-show="ApprovalNoSAPCtrl.totalItems > 10" max-size="ApprovalNoSAPCtrl.maxSize" on-select-page="ApprovalNoSAPCtrl.loadDataApproval(page)"></pagination>
							</div>
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped" id="tabelApprovalForMin3">
										<thead>
											<tr>
												<th class="text-center" width="20px">No.</th>
												<th class="text-center">{{'TABLE.TENDER_CODE'|translate}}</th>
												<th class="text-center">{{'TABLE.TENDER_NAME'|translate}}</th>
												<th class="text-center">{{'TABLE.STAGE'|translate}}</th>
												<th class="text-center">{{'TABLE.BUYER_NAME'|translate}}</th>
												<th class="text-center">{{'TABLE.VENDOR_NAME'|translate}}</th>
												<th class="text-center">{{'TABLE.ACTIVIED_DATE'|translate}}</th>
												<th class="text-center">{{'TABLE.VERIFIED_DATE'|translate}}</th>
												<th class="text-center">{{'TABLE.STATUS'|translate}}</th>
												<th class="text-center">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="data in ApprovalNoSAPCtrl.dataApproval">
												<td style="vertical-align: middle;">{{ApprovalNoSAPCtrl.currentPage > 1 ? (ApprovalNoSAPCtrl.pageSize * (ApprovalNoSAPCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
												<td style="vertical-align: middle;">{{data.TenderCode}}</td>
												<td style="vertical-align: middle;">{{data.TenderName}}</td>
												<td style="vertical-align: middle;">{{data.TenderStepName | translate}}</td>
												<td style="vertical-align: middle;">{{data.BuyerName}}</td>
												<td style="vertical-align: middle;">{{data.VendorName | translate}}</td>
												<td style="vertical-align: middle;">{{data.ActivedDate | date: "dd-MM-yyyy"}}</td>
												<td style="vertical-align: middle;">{{data.VerifiedDate | date: "dd-MM-yyyy"}}</td>
												<td style="vertical-align: middle;">{{data.PositionName | translate}}</td>
												<td class="text-center" style="vertical-align: middle;">
													<a class="btn btn-sm btn-flat btn-success" ng-click="ApprovalNoSAPCtrl.approve(data)" ng-if="data.ApprovalStatusName === 'APPROVAL_VENDOR_PROCESS' && data.IsNeedUserApproval" title="Approve">
														<i class="glyphicon glyphicon-ok"></i>
													</a>
													<a class="btn btn-sm btn-flat btn-danger" ng-click="ApprovalNoSAPCtrl.approvalModal(data)" ng-if="data.ApprovalStatusName === 'APPROVAL_VENDOR_PROCESS' && data.IsNeedUserApproval" title="Reject">
														<i class="glyphicon glyphicon-remove"></i>
													</a>
													<a class="btn btn-sm btn-flat btn-warning" ng-click="ApprovalNoSAPCtrl.detailApprovalL1L2(data)" title="{{'DETAIL_APPROVAL' | translate}}">
														<i class="fa fa-sitemap"></i>
													</a>
												</td>
											</tr>
											<tr ng-if="ApprovalNoSAPCtrl.dataApproval.Count === 0"><td colspan="6">{{'NO_DATA'|translate}}</td></tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-12">
								<ul uib-pagination boundary-links="true" total-items="ApprovalNoSAPCtrl.totalItems" ng-model="ApprovalNoSAPCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="ApprovalNoSAPCtrl.loadDataApproval(ApprovalNoSAPCtrl.currentPage)"></ul>
								<br />
								<label>Total Data: {{ApprovalNoSAPCtrl.totalItems}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
