<div class="modal-content" ng-init="rejectCRDraftCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="rejectCRDraftCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT'|translate}}</span></button>
        <h4 class="modal-title afta-font" id="myModalLabel">{{'REJECT_DRAFT'|translate}} </h4>
        <h5 class="modal-title afta-font" id="myModalLabel">{{rejectCRDraftCtrl.tenderCode}} - {{rejectCRDraftCtrl.tenderName}}</h5>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="rejectCRDraftCtrl.remark" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-danger" ng-click="rejectCRDraftCtrl.reject()"><i class="fa fa-times"></i>&nbsp;{{'REJECT'|translate}}</button>
                                    <button class="btn btn-sm btn-default" ng-click="rejectCRDraftCtrl.cancel()"><i class="fa fa-arrow-left"></i>&nbsp;{{'BATAL'|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>