﻿<div class="modal-content" ng-init="DetailTenagaAhliCtrl.init()">
    <div class="modal-header">
        <button type="button" ng-click="DetailTenagaAhliCtrl.batal()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <div>
            <h3 class="modal-title afta-font" style="font-weight:bold" id="myModalLabel">{{'DETAIL_TITLE' | translate}}</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12" style="margin-bottom:-40px">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>{{'FORM.NAME' | translate}}</dt>
                                <dd>{{DetailTenagaAhliCtrl.item.Name}}</dd>
                                <dt>{{'FORM.DATE_OF_BIRTH' | translate}}</dt>
                                <dd>{{DetailTenagaAhliCtrl.item.DateOfBirth | date: 'dd-MM-yyyy'}}</dd>
                                <dt>{{'FORM.GENDER' | translate}}</dt>
                                <dd ng-if="DetailTenagaAhliCtrl.item.Gender === 'M'">{{'FORM.GENDER_MALE' | translate}}</dd>
                                <dd ng-if="DetailTenagaAhliCtrl.item.Gender === 'F'">{{'FORM.GENDER_FEMALE' | translate}}</dd>
                                <dt>{{'FORM.ADDRESS' | translate}}</dt>
                                <dd>{{DetailTenagaAhliCtrl.item.address.AddressInfo}}</dd>
                                <dt>{{'FORM.EDUCATION' | translate}}</dt>
                                <dd>{{DetailTenagaAhliCtrl.item.Education}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                
                                <dt>{{'FORM.CITIZENSHIP' | translate}}</dt>
                                <dd>{{DetailTenagaAhliCtrl.item.country.Name}}</dd>
                                <dt>{{'FORM.POSITION' | translate}}</dt>
                                <dd>{{DetailTenagaAhliCtrl.item.Position}}</dd>
                                <dt>{{'EXPERIENCE' | translate}}</dt>
                                <dd>{{DetailTenagaAhliCtrl.item.YearOfExperience}} {{'FORM.YEAR' | translate}}</dd>
                                <dt>{{'FORM.EMPLOYEE_STATUS' | translate}}</dt>
                                <dd>{{DetailTenagaAhliCtrl.item.Statusperson.Value}}</dd>
                                <dt>{{'FORM.EXPERTIZE_DESC' | translate}}</dt>
                                <dd>
                                    <p>
                                        {{DetailTenagaAhliCtrl.item.Expertise}}
                                    </p>
                                </dd>
                            </dl>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="utama" class="row">
        <!-- style="padding-top: 25px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box-body">
                <!--DETAIL TENAGA AHLI-->
                <div>
                    <!--<div class="row" style="padding-bottom: 15px;">
        <div class="col-md-12">
            <h3 class="afta-font text-center">{{'COMPLETE_CV_DETAIL' | translate}}</h3>
        </div>
        <div class="col-md-12">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <label>{{'NAME' | translate}} : {{DetailTenagaAhliCtrl.item.Name}}</label>
            </div>
        </div>
    </div>
    <hr style="margin-bottom: 5px; margin-top: 5px;" />-->

                    <hr style="margin-top: 5px;" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <!--<label>{{'COMPLETE_CV_DETAIL' | translate}}</label>: {{DetailTenagaAhliCtrl.item.Name}}-->
                                    <label style="font-size: 20px;">Curiculum Vitae</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11 center-block well" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12 center-block">
                                    <label class="afta-font" style="font-size: 1.5em;">{{'EXPERIENCE_WORK' | translate}}</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                    <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                    <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'FORM.JOB_DESCRIPTION' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="obj in DetailTenagaAhliCtrl.listJob">
                                                    <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">
                                                        <a href="{{DetailTenagaAhliCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="btn btn-xs btn-primary" title="Download"><i class="fa fa-download"></i></a>
                                                    </td>
                                                    <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                </tr>
                                                <tr ng-if="DetailTenagaAhliCtrl.listJob.length == 0"><td colspan="6"> {{'NO_DATA' | translate}}</tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: -10px;">
                                    <a class="btn btn-xs btn-primary" title="Download"><i class="fa fa-download"></i></a>: Download
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 center-block">
                                    <label class="afta-font" style="font-size: 1.5em;">{{'EDUCATION' | translate}}</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                    <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                    <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Until' | translate}}</th>
                                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'FORM.EDUCATION_DESCRIPTION' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="obj in DetailTenagaAhliCtrl.listEducation">
                                                    <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">
                                                        <a href="{{DetailTenagaAhliCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="btn btn-xs btn-primary" title="Download"><i class="fa fa-download"></i></a>
                                                    </td>
                                                    <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                </tr>
                                                <tr ng-if="DetailTenagaAhliCtrl.listEducation.length == 0"><td colspan="6"> {{'NO_DATA' | translate}}</tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: -10px;">
                                    <a class="btn btn-xs btn-primary" title="Download"><i class="fa fa-download"></i></a>: Download
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 center-block">
                                    <label class="afta-font" style="font-size: 1.5em;">{{'KEAHLIAN_CERTIFICATE' | translate}}</label>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                    <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                    <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'FORM.CERTIFICATE_DESCRIPTION' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="obj in DetailTenagaAhliCtrl.listCertificate">
                                                    <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center" style="vertical-align: middle!important;">
                                                        <a href="{{DetailTenagaAhliCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="btn btn-xs btn-primary" title="Download"><i class="fa fa-download"></i></a>
                                                    </td>
                                                    <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                </tr>
                                                <tr ng-if="DetailTenagaAhliCtrl.listCertificate.length == 0"><td colspan="6"> {{'NO_DATA' | translate}}</tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12" style="margin-top: -10px;">
                                    <a class="btn btn-xs btn-primary" title="Download"><i class="fa fa-download"></i></a>: Download
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-danger"
                        ng-click="DetailTenagaAhliCtrl.batal()"
                        data-dismiss="modal" title="{{'BTN.BACK' | translate}}">
                    <i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
