﻿<div class="modal-content" ng-init="formTenagaAhliCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="formTenagaAhliCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'FORM.TITLE' | translate}}</h3>
	</div>
	<div class="modal-body">
        <uib-tabset active="formTenagaAhliCtrl.indextab">
            <uib-tab index="0" disable="formTenagaAhliCtrl.formData">
                <uib-tab-heading>
                    <i class="fa fa-user" style="margin-right: 15px"></i>
                    <strong>Data Diri</strong>
                </uib-tab-heading>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM.NAME' | translate}} <span style="color:red;">*</span></label>
                            <input type="text" class="form-control" ng-style="{ background: formTenagaAhliCtrl.Name === '' || formTenagaAhliCtrl.Name === null || formTenagaAhliCtrl.Name === undefined ? '#f2dede' : 'white' }" placeholder="{{'FORM.NAME' | translate}}" ng-model="formTenagaAhliCtrl.Name" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM.DATE_OF_BIRTH' | translate}} <span style="color:red;">*</span></label>
                            <div class="input-group date form_datetime">
                                <input ng-style="{ background: formTenagaAhliCtrl.tenagaahli.BirthDate === '' || formTenagaAhliCtrl.tenagaahli.BirthDate === null || formTenagaAhliCtrl.tenagaahli.BirthDate === undefined ? '#f2dede' : 'white' }" ng-blur="formTenagaAhliCtrl.calculateAge(formTenagaAhliCtrl.tenagaahli.BirthDate)" placeholder="{{'FORM.DATE_OF_BIRTH' | translate}}" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="formTenagaAhliCtrl.isCalendarOpened[0]" ng-model="formTenagaAhliCtrl.tenagaahli.BirthDate" ng-click="formTenagaAhliCtrl.openCalendar(0)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="formTenagaAhliCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{'FORM.GENDER' | translate}}</label>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input ng-checked="formTenagaAhliCtrl.radio.tipeM === formTenagaAhliCtrl.Gender" type="radio" value="{{formTenagaAhliCtrl.radio.tipeM}}" ng-model="formTenagaAhliCtrl.Gender" style="opacity: 1!important;" />&nbsp;{{'FORM.GENDER_MALE' | translate}}
                                </div>
                                <div class="col-md-4">
                                    <input ng-checked="formTenagaAhliCtrl.radio.tipeF === formTenagaAhliCtrl.Gender" type="radio" value="{{formTenagaAhliCtrl.radio.tipeF}}" ng-model="formTenagaAhliCtrl.Gender" style="opacity: 1!important;" />&nbsp;{{'FORM.GENDER_FEMALE' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM.ADDRESS' | translate}} <span style="color:red;">*</span></label>
                            <input type="text" ng-style="{ background: formTenagaAhliCtrl.address === '' || formTenagaAhliCtrl.address === null || formTenagaAhliCtrl.address === undefined ? '#f2dede' : 'white' }" class="form-control" placeholder="{{'FORM.ADDRESS' | translate}}" ng-model="formTenagaAhliCtrl.address" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM.EDUCATION' | translate}} <span style="color:red;">*</span></label>
                            <select class="form-control" ng-style="{ background: formTenagaAhliCtrl.Education === '' || formTenagaAhliCtrl.Education === null || formTenagaAhliCtrl.Education === undefined ? '#f2dede' : 'white' }" ng-model="formTenagaAhliCtrl.Education">
                                <option value="">--- {{'FORM.EDUCATION' | translate}} ---</option>
                                <option value="SMA">{{'FORM.HIGHSCHOOL' | translate}}</option>
                                <option value="SMA">{{'FORM.VOCHIGHSCHOOL' | translate}}</option>
                                <option value="D1">{{'FORM.D1' | translate}}</option>
                                <option value="D2">{{'FORM.D2' | translate}}</option>
                                <option value="D3">{{'FORM.D3' | translate}}</option>
                                <option value="D4">{{'FORM.D4' | translate}}</option>
                                <option value="S1">{{'FORM.S1' | translate}}</option>
                                <option value="S2">{{'FORM.S2' | translate}}</option>
                                <option value="S3">{{'FORM.S3' | translate}}</option>
                            </select>
                            <!--
                <input type="text" class="form-control" placeholder="Pendidikan Terakhir"
                       ng-model="formTenagaAhliCtrl.Education" ng-required="true" />
                -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM.CITIZENSHIP' | translate}}</label>
                            <select class="form-control" ng-model="formTenagaAhliCtrl.Nationality" ng-options="item.Name as item.Name for item in formTenagaAhliCtrl.nationalities">
                                <option value="">--- {{'FORM.CITIZENSHIP' | translate}} ---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM.POSITION' | translate}} <span style="color:red;">*</span></label>
                            <input type="text" class="form-control" ng-style="{ background: formTenagaAhliCtrl.Position === '' || formTenagaAhliCtrl.Position === null || formTenagaAhliCtrl.Position === undefined ? '#f2dede' : 'white' }"  placeholder="{{'FORM.POSITION_EXPERTS' | translate}}" ng-model="formTenagaAhliCtrl.Position" ng-required="true" />
                        </div>
                    </div>
                    <!--
        <div class="col-md-6">
            <div class="form-group">
                <label>Email <span style="color:red;">*</span></label>
                <input type="email" class="form-control"
                       ng-model="formTenagaAhliCtrl.Email" ng-required="true" /><em></em>
            </div>
        </div>
            -->
                    <div class="col-md-6" style="padding-top: 25px;">
                        <div class="form-group" style="margin-top: -13px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{'FORM.EMPLOYEE_STATUS' | translate}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input ng-checked="formTenagaAhliCtrl.radio.StatusK === formTenagaAhliCtrl.Status" type="radio" value="{{formTenagaAhliCtrl.radio.StatusK}}" ng-model="formTenagaAhliCtrl.Status" style="opacity: 1!important;" />&nbsp;{{'FORM.EMPLOYEE_CONTRACT' | translate}}
                                </div>
                                <div class="col-md-4">
                                    <input ng-checked="formTenagaAhliCtrl.radio.StatusI === formTenagaAhliCtrl.Status" type="radio" value="{{formTenagaAhliCtrl.radio.StatusI}}" ng-model="formTenagaAhliCtrl.Status" style="opacity: 1!important;" />&nbsp;{{'FORM.EMPLOYEE_INTERNSHIP' | translate}}
                                </div>
                                <div class="col-md-4">
                                    <input ng-checked="formTenagaAhliCtrl.radio.StatusP === formTenagaAhliCtrl.Status" type="radio" value="{{formTenagaAhliCtrl.radio.StatusP}}" ng-model="formTenagaAhliCtrl.Status" style="opacity: 1!important;" />&nbsp;{{'FORM.EMPLOYEE_PERMANENT' | translate}}
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="col-md-6 center-block" style="float: none!important;">
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'FORM.EXPERTIZE' | translate}} <span style="color:red;">*</span></label>
                            <textarea class="form-control" ng-style="{ background: formTenagaAhliCtrl.Expertise === '' || formTenagaAhliCtrl.Expertise === null || formTenagaAhliCtrl.Expertise === undefined ? '#f2dede' : 'white' }"  rows="2" placeholder="{{'FORM.EXPERTIZE_DESC' | translate}}" ng-model="formTenagaAhliCtrl.Expertise" ng-required="true"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label><em>*) {{'FORM.MANDATORY' | translate}}</em></label>
                    </div>
                </div>      
            </uib-tab>




            <uib-tab index="1" disable="formTenagaAhliCtrl.fillDetail">
                <uib-tab-heading>
                    <i class="fa fa-file" style="margin-right: 15px"></i>
                    <strong>Detail CV</strong>
                </uib-tab-heading>
                <!--<br />-->
                <div>
                    <div class="row turun-15">
                        <div class="col-md-12 text-center" style="font-size:25px;">
                            <label>{{'COMPLETE_CV_DETAIL' | translate}} : </label><span>{{formTenagaAhliCtrl.namaVendor}}</span>
                        </div>
                            <!--<div class="col-md-12">
    </div>-->
                    </div>
                    <!--<br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <label>{{'NAME' | translate}} : {{formTenagaAhliCtrl.namaVendor}}</label>
                            </div>
                        </div>
                    </div>-->
                    <!--<hr style="margin-bottom: 5px; margin-top: 5px;" />
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center afta-font">CURRICULUM VITAE</h4>
                        </div>
                    </div>
                    <hr style="margin-top: 5px;" />-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 center-block well" style="float: none!important;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="afta-font" style="font-size: 1.5em;">{{'EXPERIENCE_WORK' | translate}}</label>
                                    </div>
                                    <div class="col-md-9" ng-if="formTenagaAhliCtrl.isApprovedCR === true">
                                        <button ng-click="formTenagaAhliCtrl.DetailCertificate(0, true,1)" class="btn btn-sm btn-success pull-right" role="button" title="{{'BTN.TAMBAH' | translate}}">
                                            <i class="fa fa-plus-circle"></i> {{'BTN.TAMBAH' | translate}}
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                                <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                                <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                                <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                                <th class="text-center" style="vertical-align: middle;">{{'FORM.JOB_DESCRIPTION' | translate}}</th>
                                                                <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="obj in formTenagaAhliCtrl.listJob">
                                                                <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">
                                                                    <a href="{{formTenagaAhliCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="btn btn-sm btn-primary" title="Download"><i class="fa fa-download"></i></a>
                                                                </td>
                                                                <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">
                                                                    <a ng-if="formTenagaAhliCtrl.isApprovedCR === true" ng-click="formTenagaAhliCtrl.DetailCertificate(obj, false,1)" class="btn btn-sm btn-warning" role="button" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></a>
                                                                    <a ng-if="formTenagaAhliCtrl.isApprovedCR === true" ng-click="formTenagaAhliCtrl.hapusdetail(obj, false)" class="btn btn-sm btn-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-times-circle"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="formTenagaAhliCtrl.listJob.length == 0"><td colspan="6"> {{'NO_DATA' | translate}}</tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12" style="margin-top: -10px;">
                                                <button class="btn btn-xs btn-warning" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></button>: {{'BTN.UBAH' | translate}}&nbsp;&nbsp;
                                                <button class="btn btn-xs btn-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-times-circle"></i></button>: {{'BTN.HAPUS' | translate}}&nbsp;&nbsp;
                                                <button class="btn btn-xs btn-primary" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-download"></i></button>: {{'BTN.DOWNLOAD' | translate}}&nbsp;&nbsp;
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="afta-font" style="font-size: 1.5em;">{{'EDUCATION' | translate}}</label>
                                    </div>
                                    <div class="col-md-9" ng-if="formTenagaAhliCtrl.isApprovedCR === true">
                                        <button ng-click="formTenagaAhliCtrl.DetailCertificate(0, true,2)" class="btn btn-sm btn-success pull-right" role="button" title="{{'BTN.TAMBAH' | translate}}">
                                            <i class="fa fa-plus-circle"></i> {{'BTN.TAMBAH' | translate}}
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                                <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                                <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Until' | translate}}</th>
                                                                <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                                <th class="text-center" style="vertical-align: middle;">{{'FORM.EDUCATION_DESCRIPTION' | translate}}</th>
                                                                <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="obj in formTenagaAhliCtrl.listEducation">
                                                                <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">
                                                                    <a href="{{formTenagaAhliCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="btn btn-sm btn-primary" title="Download"><i class="fa fa-download"></i></a>
                                                                </td>
                                                                <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">
                                                                    <button ng-if="formTenagaAhliCtrl.isApprovedCR === true" ng-click="formTenagaAhliCtrl.DetailCertificate(obj, false,2)" class="btn btn-sm btn-warning" role="button" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></button>
                                                                    <button ng-if="formTenagaAhliCtrl.isApprovedCR === true" ng-click="formTenagaAhliCtrl.hapusdetail(obj, false)" class="btn btn-sm btn-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-times-circle"></i></button>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="formTenagaAhliCtrl.listEducation.length == 0"><td colspan="6" class="text-center"> {{'NO_DATA' | translate}}</tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12" style="margin-top: -10px;">
                                                <button class="btn btn-xs btn-warning" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></button>: {{'BTN.UBAH' | translate}}&nbsp;&nbsp;
                                                <button class="btn btn-xs btn-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-times-circle"></i></button>: {{'BTN.HAPUS' | translate}}&nbsp;&nbsp;
                                                <button class="btn btn-xs btn-primary" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-download"></i></button>: {{'BTN.DOWNLOAD' | translate}}&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="afta-font" style="font-size: 1.5em;">{{'KEAHLIAN_CERTIFICATE' | translate}}</label>
                                    </div>
                                    <div class="col-md-9" ng-if="formTenagaAhliCtrl.isApprovedCR === true">
                                        <button ng-click="formTenagaAhliCtrl.DetailCertificate(0, true,3)" class="btn btn-sm btn-success pull-right" role="button" title="{{'BTN.TAMBAH' | translate}}">
                                            <i class="fa fa-plus-circle"></i> {{'BTN.TAMBAH' | translate}}
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                                <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                                <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                                <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                                <th class="text-center" style="vertical-align: middle;">{{'FORM.CERTIFICATE_DESCRIPTION' | translate}}</th>
                                                                <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="obj in formTenagaAhliCtrl.listCertificate">
                                                                <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">
                                                                    <a href="{{formTenagaAhliCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="btn btn-sm btn-primary" title="Download"><i class="fa fa-download"></i>&nbsp;</a>
                                                                </td>
                                                                <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                                <td class="text-center" style="vertical-align: middle!important;">
                                                                    <button ng-if="formTenagaAhliCtrl.isApprovedCR === true" ng-click="formTenagaAhliCtrl.DetailCertificate(obj, false,3)" class="btn btn-sm btn-success" role="button" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></button>
                                                                    <a ng-if="formTenagaAhliCtrl.isApprovedCR === true" ng-click="formTenagaAhliCtrl.hapusdetail(obj, false)" class="btn btn-sm btn-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-times-circle"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="formTenagaAhliCtrl.listCertificate.length == 0"><td colspan="6"> {{'NO_DATA' | translate}}</tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12" style="margin-top: -10px;">
                                                <button class="btn btn-xs btn-warning" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></button>: {{'BTN.UBAH' | translate}}&nbsp;&nbsp;
                                                <button class="btn btn-xs btn-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-times-circle"></i></button>: {{'BTN.HAPUS' | translate}}&nbsp;&nbsp;
                                                <button class="btn btn-xs btn-primary" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-download"></i></button>: {{'BTN.DOWNLOAD' | translate}}&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
</div>
	<div class="modal-footer">
        <button type="button" ng-click="formTenagaAhliCtrl.batal()" class="btn btn-flat btn-danger" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BATAL' | translate}}</button>
        <button type="button" ng-if="formTenagaAhliCtrl.act && formTenagaAhliCtrl.indextab != 1" ng-click="formTenagaAhliCtrl.nextPage()" class="btn btn-flat btn-success" title="{{'BTN.NEXT' | translate}}"><i class="fa fa-arrow-right"></i>&nbsp;{{'BTN.NEXT' | translate}}</button>
        <button type="button" ng-if="!formTenagaAhliCtrl.act && formTenagaAhliCtrl.indextab != 1" ng-click="formTenagaAhliCtrl.nextPage()" class="btn btn-flat btn-success" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;{{'BTN.SIMPAN' | translate}}</button>
	</div>
</div>
