<section class="content" ng-init="blacklistCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a>{{'BREADCRUMB.DATA_BLACKLIST' | translate}}</a></li>
    </ol>
    <div id="utama" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="afta-font judul-datatabel">{{'BREADCRUMB.DATA_BLACKLIST' | translate}}</h3>
                        </div>
                       
                    </div>
                    <!--<div class="row">
                        <div class="col-sd-4 col-md-11">
                            <pagination total-items="blacklistCtrl.totalItems" page="blacklistCtrl.currentPage" items-per-page="10" ng-show="blacklistCtrl.totalItems > 10"
                                        max-size="blacklistCtrl.maxSize" on-select-page="blacklistCtrl.jLoad(page)"></pagination>
                         </div>
                    </div>-->
                    <div class="row well" style="margin-left:2px;margin-right:2px">
                        <form role="form" ng-submit="blacklistCtrl.search()">
                            
                            <div class="col-md-12">
                                <label>{{'Pilih Tipe Blacklist' | translate}}</label>
                                <select class="form-control" ng-model="blacklistCtrl.selectedBlacklist" ng-change="blacklistCtrl.jLoad(1)"
                                        ng-options="item as item.Name | translate for item  in blacklistCtrl.listBlacklist">
                                    <option value="" selected disabled>
                                        -- {{'Pilih Tipe Blacklist' | translate}} --
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <form role="form" ng-submit="blacklistCtrl.search()">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{'CARI_BLACKLIST_NAMA' | translate }}" ng-model="blacklistCtrl.vendorname">
                                    <span class="input-group-btn">
                                        <button type="button" name="seach" id="search-btn" class="btn btn-flat btn-primary" ng-click="blacklistCtrl.jLoad(1)" title="{{'CARI_BLACKLIST' | translate }}">
                                            <i class="fa fa-search"></i>&nbsp;Cari
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row turun-15">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom: 20px;">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.PRESIDENT_DIRECTORCOMPANY' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.TYPE' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.AMOUNT_PERSON' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.DESCRIPTION' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.DOCUMENT' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">Status</th>
                                            <th class="text-center" style="vertical-align: middle;"></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="bl in blacklistCtrl.blacklist">
                                            <td class="text-center" style="vertical-align: middle;">{{blacklistCtrl.currentPage > 1 ? (blacklistCtrl.pageSize * (blacklistCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="" style="vertical-align: middle;">{{bl.Vendor.VendorName}}</td>
                                            <td class="text-center" style="vertical-align: middle;">  {{bl.BlacklistType.Name | translate }}</td>
                                            <td class="text-center" style="vertical-align: middle;">  {{bl.TotalPerson }}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{bl.BlacklistDescription}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a ng-if="((bl.DocUrl !== null && bl.DocUrl !== '') && bl.BlacklistType.Name === 'BLACKLIST_TYPE_YES') " href="{{blacklistCtrl.folderFile+bl.DocUrl}}" target="_blank" class="btn btn-flat btn-xs btn-primary" title="{{'DOWNLOAD' | translate }}">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                                <a ng-if="((bl.DorUrlWhiteList !== null && bl.DorUrlWhiteList !== '') &&bl.BlacklistType.Name === 'BLACKLIST_TYPE_NO')" href="{{blacklistCtrl.folderFile+bl.DorUrlWhiteList}}" target="_blank" class="btn btn-flat btn-xs btn-primary" title="{{'DOWNLOAD' | translate }}">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                {{bl.ApprovalStatus.Value | translate}}
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                
                                                <a ng-if="(bl.BlacklistID !== 0 && bl.BlacklistType.Name === 'BLACKLIST_TYPE_YES' && bl.ApprovalStatus.Name !== 'CR_PROCESS_1' && bl.ApprovalStatus.Name !== 'CR_DRAFT')" class="btn btn-flat btn-sm btn-danger" title="{{'CANCEL_BLACKLIST' | translate }}" ng-click="blacklistCtrl.cancel(bl)"><i class="fa fa-times-circle"></i></a>
                                                <a ng-if="bl.BlacklistID === 0 || (bl.BlacklistID !== 0 && bl.BlacklistType.Name === 'BLACKLIST_TYPE_NO' && bl.ApprovalStatus.Name !== 'CR_PROCESS_1' && bl.ApprovalStatus.Name !== 'CR_DRAFT')" class="btn btn-flat btn-sm btn-success" title="Blacklist" ng-click="blacklistCtrl.addBlacklist(bl)">
                                                    <i class="fa fa-check-square"></i>
                                                </a>
                                                <a ng-if="bl.BlacklistID !== 0 && (bl.ApprovalStatus.Name !== 'APPROVAL_VENDOR_REJECTED' && bl.ApprovalStatus.Name !== 'APPROVAL_VENDOR_APPROVE') " class="btn btn-flat btn-sm btn-warning" title="{{'DETAIL_BLACKLIST' | translate }}" ng-click="blacklistCtrl.detail(bl, bl.BlacklistType.Name, true)"><i class="fa fa-external-link"></i></a>
                                                <a ng-if="bl.ApprovalStatus.Name == 'CR_DRAFT'" class="btn btn-flat btn-sm btn-success" title="Send to Approval" ng-click="blacklistCtrl.SendToApprove(bl)">
                                                    <i class="fa fa-paper-plane"></i>
                                                </a>
                                                <a g-if="(bl.ApprovalStatus.Name != 'CR_DRAFT' && bl.ApprovalStatus != null)" class="btn btn-flat btn-sm btn-primary" title="DetailApproval" ng-click="blacklistCtrl.detailApproval(bl)">
                                                    <i class="fa fa-sitemap"></i>
                                                </a>
                                                
                                                
                                            </td>
                                        </tr>
                                        <tr ng-if="blacklistCtrl.blacklist.length === 0">
                                            <td class="text-center" colspan="9"> {{'NO_DATA' | translate}} </td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sd-4 col-md-7">
                            <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="blacklistCtrl.totalItems" ng-model="blacklistCtrl.currentPage"
                                class="pagination-sm" previous-text="&lsaquo;" max-number="blacklistCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="blacklistCtrl.jLoad(blacklistCtrl.currentPage)" max-size="10"></ul>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <label>{{'TOTAL_DATA' | translate }} : {{blacklistCtrl.totalItems}}</label> <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-flat btn-xs btn-danger" title="{{'CANCEL_BLACKLIST' | translate }}" style="cursor: default;"><i class="fa fa-times-circle"></i></a>
                            :
                            {{'CANCEL_BLACKLIST' | translate }} &nbsp;
                            <a class="btn btn-flat btn-xs btn-success" title="Blacklist" ng-click="blacklistCtrl.addBlacklist(bl)" style="cursor: default;">
                                <i class="fa fa-check-square"></i>
                            </a>
                            :
                            Blacklist &nbsp;

                            <a title="{{'DETAIL_BLACKLIST' | translate }}" class="btn btn-flat btn-xs btn-primary" style="cursor: default;"><i class="fa fa-external-link"></i></a>
                            :
                            {{'DETAIL_BLACKLIST' | translate }} &nbsp;

                            <a class="btn btn-flat btn-xs btn-success" title="Send to Approval" ng-click="blacklistCtrl.SendToApprove(bl)" style="cursor: default;">
                                <i class="fa fa-paper-plane"></i>
                            </a>
                            :
                            Send to Approval &nbsp;

                            <a class="btn btn-flat btn-xs btn-primary" title="Detail Approval" ng-click="blacklistCtrl.detailApproval(bl)" style="cursor: default;">
                                <i class="fa fa-sitemap"></i>
                            </a>
                            :
                            Detail Approval
                        </div>
                        
                        
                        

                    </div>
            </div>
        </div>
        </div>
        </div>
</section>