﻿<div id="idTambahLibrary" class="modal-content" ng-init="FormWhitelistCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="FormWhitelistCtrl.cancel()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel" style="font-weight:bold">{{'UPLOAD' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="col-md-12">
                    <div class="box box-success">
                        <!--notife flow-->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">{{'Nomor Referensi'|translate}}</label>
                                        <input ng-disabled="FormWhitelistCtrl.flagStatus == false" type="text" class="form-control input-sm" ng-model="FormWhitelistCtrl.ReferenceNo" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{'UPLOAD' | translate}}
                                            <small>
                                                ( <span ng-repeat="ft in FormWhitelistCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{FormWhitelistCtrl.idUploadConfigs[0].Size}} {{FormWhitelistCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                                            </small>
                                        </label>
                                        <input ng-if="FormWhitelistCtrl.flagStatus == true" type="file" class="form-control" ng-file-select="FormWhitelistCtrl.selectUpload()"
                                               ng-model="FormWhitelistCtrl.fileUpload" name="ownerIDFile" required accept="{{FormWhitelistCtrl.idFileTypes}}" />
                                        <br ng-if="FormWhitelistCtrl.flagStatus == false" />
                                        <a ng-if="FormWhitelistCtrl.DocUrlWhitelist !== null && FormWhitelistCtrl.flagStatus == false " target="_blank" href="{{FormWhitelistCtrl.folderFile+FormWhitelistCtrl.DocUrlWhitelist}}" class="btn btn-sm btn-primary" style="cursor: pointer;"><i class="fa fa-download">Download File</i></a>
                                        <a ng-if="FormWhitelistCtrl.DocUrlWhitelist !== null && FormWhitelistCtrl.flagStatus == true " target="_blank" href="{{FormWhitelistCtrl.folderFile+FormWhitelistCtrl.DocUrlWhitelist}}" class="btn btn-sm btn-primary" style="cursor: pointer;"><i class="fa fa-download">Download File</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="FormWhitelistCtrl.cancel()">
                        <i class="fa fa-reply"></i> {{'BTN.BACK'|translate}}
                    </button>&nbsp;&nbsp;
                    <button ng-if="FormWhitelistCtrl.flagStatus == true" style="margin-right:5px" class="pull-right btn btn-sm btn-primary" ng-click="FormWhitelistCtrl.simpanWhitelist()"><i class="fa fa-save"></i> {{'BTN.SAVE'|translate}}</button>&nbsp;&nbsp;
                </div>
            

            </div>
    </div>

    <div class="modal-body">
        <h3 class="modal-title afta-font" id="myModalLabel">{{'Detail Blacklist'|translate}} </h3>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="box box-success">
                    <!--notife flow-->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12 center-block" style="float: none!important;">
                                <div class="form-group">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr><th colspan="5" class="afta-font"><strong>{{'EMPLOYEE_VENDOR' | translate}}</strong></th>
                                                <tr>
                                                    <th class="text-center" style="vertical-align: middle;">No. </th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.NAMA' | translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'NO_KTP' | translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.POSITION' | translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.DESCRIPTION' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="bl in FormWhitelistCtrl.employee">
                                                    <td class="text-center">{{ $index+1 }}</td>
                                                    <td class="text-center">{{ bl.PersonName}}</td>
                                                    <td class="text-center">{{ bl.NoID}}</td>
                                                    <td class="text-center">{{ ('POSITION_PERSON.' + bl.PositionRef) | translate}}</td>
                                                    <td class="text-center">{{bl.Description}}</td>
                                                </tr>
                                                <tr ng-if="FormWhitelistCtrl.employee.length === 0">
                                                    <td class="text-center" colspan="5">{{'Data Belum Ada'|translate}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 center-block" style="float: none!important;">
                                <div class="form-group">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr><th colspan="7" class="afta-font"><strong>{{'STOCK_HOLDER'|translate}} </strong></th>
                                                <tr>
                                                    <th class="text-center" style="vertical-align: middle;">No. </th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.STOCKTYPE' | translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.STOCKNAME' | translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'NO_KTPSTOCK' | translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.STOCK_UNIT' | translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.STOCK' | translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.DESCRIPTION' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="bl in FormWhitelistCtrl.vendorstock">
                                                    <td class="text-center">{{ $index+1 }}</td>
                                                    <td class="text-center">{{ bl.SysReference.Value | translate}}</td>
                                                    <td class="text-center">{{ bl.OwnerName}}</td>
                                                    <td class="text-center">{{ bl.OwnerID}}</td>
                                                    <td class="text-center">{{bl.Unit.Name == 'STOCK_UNIT_CURRENCY' ? bl.CurrencySymbol : bl.Unit.Name | translate}}</td>
                                                    <td class="text-center">{{ bl.Quantity}} </td>
                                                    <td class="text-center">{{bl.Description}}</td>

                                                </tr>
                                                <tr ng-if="FormWhitelistCtrl.vendorstock.length === 0">
                                                    <td class="text-center" colspan="7" ng-if="FormWhitelistCtrl.flag === false">{{'Data Belum Ada'|translate}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 center-block" style="float: none!important;">
                                <div class="form-group">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr><th colspan="5" class="afta-font"><strong>{{'OTHER_PEOPLE' | translate}}</strong></th>
                                                <tr>
                                                    <th class="text-center" style="vertical-align: middle;"><strong>No. </strong></th>
                                                    <td class="text-center" style="vertical-align: middle;"><strong>{{'TABLE.NAME' | translate}}</strong></td>
                                                    <td class="text-center" style="vertical-align: middle;"><strong>{{'No KTP' | translate}}</strong></td>
                                                    <td class="text-center" style="vertical-align: middle;"><strong>{{'BIRTH_DATE' | translate}}</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="op in FormWhitelistCtrl.listperson">
                                                    <td class="text-center">{{ $index+1 }}</td>
                                                    <td class="text-center">{{op.PersonName}}</td>
                                                    <td class="text-center">{{op.KTPNumber}}</td>
                                                    <td class="text-center">{{op.BirthDate | date: "dd-MM-yyyy"}}</td>
                                                </tr>
                                                <tr ng-if="FormWhitelistCtrl.listperson.length === 0">
                                                    <td class="text-center" colspan="4" ng-if="FormWhitelistCtrl.flag === false">{{'Data Belum Ada'|translate}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-12 center-block" style="float: none!important;">
                                <div class="col-md-6">
                                    <label class="control-label">
                                        {{'Download Surat Tugas'|translate}}
                                    </label>
                                    <br />
                                    <a class="btn btn-flat btn-primary" href="{{FormWhitelistCtrl.folderFile+FormWhitelistCtrl.DocUrl}}" target="_BLANK"><i class="fa fa-download"></i>&nbsp;{{'Download Surat Tugas'|translate}}</a>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">{{'Nomor Referensi'|translate}}</label>
                                        <input disabled type="text" class="form-control" ng-model="FormWhitelistCtrl.ReferenceNoBlacklist" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="float: none!important;">
                                <div class="form-group">
                                    <label>{{'OTHER_DESCRIPTION' | translate}}</label>
                                    <textarea disabled class="form-control" rows="3" ng-model="FormWhitelistCtrl.Description" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
