﻿<div class="modal-content" ng-init="KDKVCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="KDKVCtrl.batal()">
			<span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span>
		</button>
		<h4 class="afta-font  modal-title ">{{'FORM.TITLEREQUIREMENT' | translate}}</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-5">{{'FORM.STARTDATE' | translate}}</label>
							<label class="col-md-7"> : {{KDKVCtrl.StartDate}}</label>
						</div>
					</div>
					<div class="col-md-6 pull-right">
						<div class="form-group">
							<label class="control-label col-md-5">{{'FORM.ENDDATE' | translate}}</label>
							<label class="col-md-7"> : {{KDKVCtrl.EndDate}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-5">{{'FORM.TENDERNAME' | translate}}</label>
							<label class="col-md-7"> : {{KDKVCtrl.TenderName}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th colspan="6"><h4 class="afta-font text-center">{{'TABLE.CHECKLISTITEM' | translate}}</h4></th>
									</tr>
									<tr>
										<th class="text-center" width="5%">{{'TABLE.NO' | translate}}</th>
										<th class="text-center">{{'TABLE.FORMNAME' | translate}}</th>
										<th class="text-center" width="10%">{{'TABLE.DETAILFORM'| translate}}</th>
										<th class="text-center" width="10%">{{'TABLE.SUBMITDATE' | translate}}</th>
										<th class="text-center" width="7%">{{'TABLE.CHECK' | translate}}</th>
										<th class="text-center" width="20%">{{'TABLE.REMARK' | translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="pgm in KDKVCtrl.listDocChecks">
										<td class="text-center">{{KDKVCtrl.currentPage > 1 ? (KDKVCtrl.maxSize * (KDKVCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
										<td>{{pgm.DocumentName}}</td>
										<td class="text-center">
											<button ng-click="KDKVCtrl.detailDokumen(pgm)" class="btn btn-xs btn-warning" title="Detail">
												<i class="fa fa-folder-open-o"></i>
											</button>
                                            <a ng-if="pgm.UploadURL != null" class="btn btn-xs btn-primary" title="File Download" target="_blank" href="{{KDKVCtrl.folderFile+pgm.UploadURL}}">
                                                <i class="fa fa-download"></i>
                                            </a>
										</td>
										<td class="text-center">{{pgm.ApproveDate}}</td>
                                        <td class="text-center" ng-if="pgm.IsApproved === true"><i class="fa fa-check-circle center-block"></i></td>
                                        <td class="text-center" ng-if="pgm.IsApproved !== true"></td>
                                        <td class="text-center" ng-if="KDKVCtrl.accessPermission===false">
                                            <i class="glyphicon glyphicon-ok-sign" ng-if="pgm.IsApproved===true"></i>
                                        </td>
                                        <td class="text-center"></td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-12">
						<button ng-click="KDKVCtrl.back()" class="btn btn-sm btn-default pull-right" title="{{'BTN.KEMBALI' | translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

