﻿<div class="modal-content" ng-init="EditFPACtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="EditFPACtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
        <h3 class="modal-title afta-font center" id="myModalLabel">{{'JUDUL_ADENDUM' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-11 center-block" style="float: none!important;">
                <div class="row form-group">
                    <div class="col-lg-2" style="width:20%;">
                        <div class="form-group" style="line-height:30px;"><label for="vendor">Addendum Code</label></div>
                        <div class="form-group" style="line-height:30px;"><label for="vendor">Vendor Name</label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">Date Request</label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">Type Addendum</label></div>
                        <div class="form-group" style="line-height:30px;"><label></label></div>
                        <div class="form-group" style="line-height:25px;"><label></label></div>
                        <div class="form-group" style="line-height:30px;"><label></label></div>
                        <div class="form-group" style="line-height:60px;"><label for="vendord">Remark</label></div>
                        <div class="form-group" style="line-height:70px;"><label></label></div>
                        <div class="form-group"><label for="vendord">Doc Addendum</label></div>
                    </div>
                    <div class="col-lg-1" style="width:2%; margin-left:-30px;">
                        <div class="form-group" style="line-height:30px;"><label for="vendor">:</label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                        <div class="form-group" style="line-height:30px;"><label></label></div>
                        <div class="form-group" style="line-height:25px;"><label></label></div>
                        <div class="form-group" style="line-height:30px;"><label></label></div>
                        <div class="form-group" style="line-height:60px;"><label for="vendord">:</label></div>
                        <div class="form-group" style="line-height:70px;"><label></label></div>
                        <div class="form-group"><label for="vendord">:</label></div>
                    </div>
                    <div class="col-lg-4" style="margin-left:-20px;">
                        <div class="form-group" style="line-height:30px;"><label style="font-weight:normal !important;">{{EditFPACtrl.AddendumCode}}</label></div>
                        <div class="form-group" style="line-height:30px;"><label style="font-weight:normal !important;">{{EditFPACtrl.VHSdata.VHSAward.VendorName}}</label></div>

                        <div class="form-group">
                            <div class="input-group date form_datetime">
                                <input placeholder="Input Date Request" readonly required class="form-control datepicker" size="4" ng-model="EditFPACtrl.RequestDate" type="text" uib-datepicker-popup="dd-MM-yyyy"
                                      />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group form-control">
                                <input disabled type="radio" name="typeBudget" id="typeBudget" ng-change="EditFPACtrl.getAddendumListItem(1)" class="radio radio-inline  " ng-model="EditFPACtrl.TypeAddendum" value="1" /> <label for="typeBudget"><span>&nbsp;</span>Budget</label> <br />
                            </div>
                            <div class="col-lg-6 form-control" style="width:50%">
                                <input disabled type="radio" name="typeDuration" id="typeDuration" ng-change="EditFPACtrl.getAddendumListItem(2)" class="radio radio-inline" ng-model="EditFPACtrl.TypeAddendum" value="2" /> <label for="typeDuration"><span>&nbsp;</span>Duration<span>&nbsp;</span> </label>
                            </div>

                            <input class="col-lg-1 form-control" style="width:1%;border:hidden;" />
                            <input disabled class="col-lg-6 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" type="text" name="typeDurationMonth" style="width:15%" id="typeDurationMonth" ng-model="EditFPACtrl.TypeAddendumMonth" ng-change="EditFPACtrl.getMon(EditFPACtrl.TypeAddendumMonth)" />
                            <label class="col-lg-6 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" type="text" style="width:25%;border:hidden;">Months</label>

                            <div class="input-group form-control">
                                <input disabled ng-click="EditFPACtrl.modalNewItem()" type="radio" name="typeNewItem" id="typeNewItem" class="radio radio-inline" ng-model="EditFPACtrl.TypeAddendum" value="3" /><label for="typeNewItem"><span>&nbsp;</span>New Item</label><br />
                            </div>
                            <div class="input-group form-control">
                                <input disabled ng-click="EditFPACtrl.modalUploadItem()" type="radio" name="typePrice" id="typePrice" class="radio radio-inline" ng-model="EditFPACtrl.TypeAddendum" value="4" /><label for="typePrice"><span>&nbsp;</span>Price</label><span class="input-group-btn"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea disabled cols="50" rows="5" class="form-control input-append" name="" placeholder="Input Remark" ng-model="EditFPACtrl.Remask"> </textarea>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                               <a class="btn btn-flat btn-primary"><i class="fa fa-download"></i> Download File</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2" style="width:15%;">
                        <div class="form-group" style="line-height:30px;"><label for="vendor"></label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">Title Document</label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">Requestor</label></div>
                        <div class="form-group" style="line-height:30px;" ng-if="(EditFPACtrl.TypeAddendum === '1')"><label for="Storag">Addendum Value</label></div>
                        <div class="form-group" style="line-height:30px;" ng-if="!(EditFPACtrl.TypeAddendum === '1')"><label for="Storag"></label></div>
                        <div class="form-group" style="line-height:30px;" ng-if="(EditFPACtrl.TypeAddendum === '2')"><label for="Storag">Addendum Contract</label></div>
                    </div>
                    <div class="col-lg-1" style="width:2%; margin-left:-30px;">
                        <div class="form-group" style="line-height:30px;"><label for="vendor"></label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                        <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                        <div class="form-group" style="line-height:30px;" ng-if="(EditFPACtrl.TypeAddendum === '1')"><label for="Storag">:</label></div>
                        <div class="form-group" style="line-height:30px;" ng-if="!(EditFPACtrl.TypeAddendum === '1')"><label for="Storag"></label></div>
                        <div class="form-group" style="line-height:30px;" ng-if="(EditFPACtrl.TypeAddendum === '2')"><label for="Storag">:</label></div>
                    </div>
                    <div class="col-lg-4" style="margin-left:-20px;">
                        <div class="form-group" style="line-height:30px;"><label for="vendor"></label></div>
                        <div class="form-group" style="line-height:30px;"><label style="font-weight:normal !important;">{{EditFPACtrl.VHSdata.TenderStepData.tender.TenderName}}</label></div>

                        <div class="form-group">
                            <div class="form-control" style="border:hidden;">
                                <input disabled type="radio" style="margin-top:-3%" name="type" class="checkbox checkbox-inline" value="1" ng-model="EditFPACtrl.Requestor" /> <label> Vendor </label>
                                <span style="margin-left:3%" />
                                <input disabled type="radio" style="margin-top:-3%" name="type" class="checkbox checkbox-inline" value="2" ng-model="EditFPACtrl.Requestor" /> <label> Internal PTVI </label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="(EditFPACtrl.TypeAddendum === '1')">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">{{EditFPACtrl.VHSdata.Currency}}</span>
                                <input disabled currency-mask type="text" class="form-control input-sm" value="" placeholder="Input Addendum Value" name="AddendumValue" ng-model="EditFPACtrl.AdditionalValue" />

                            </div>
                        </div>
                        <div class="form-group" ng-if="!(EditFPACtrl.TypeAddendum === '1')">
                            <input type="text" class="form-control" value="" name="AddendumValue" style="border:hidden" />
                        </div>
                        <input ng-if="(EditFPACtrl.TypeAddendum === '2')" disabled style="background-color: #ffffff;width:30%;" placeholder="Input Start Date" readonly required
                               class="col-lg-6 form-control" size="4" ng-model="EditFPACtrl.StartDate"
                               type="text" uib-datepicker-popup="dd-MM-yyyy" />
                        <input class="col-lg-1 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" style="width:1%;border:hidden;" />
                        <label class="col-lg-1 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" style="width:1%;border:hidden;">to</label>
                        <input class="col-lg-1 form-control" ng-if="EditFPACtrl.TypeAddendum == '2'" style="width:1%;border:hidden;" />
                        <input disabled ng-if="(EditFPACtrl.TypeAddendum === '2')" style="background-color: #ffffff;width:30%;" placeholder="Finish Date" readonly required
                               class="col-lg-6 form-control" size="4" ng-model="EditFPACtrl.EndDate"
                               type="text" uib-datepicker-popup="dd-MM-yyyy" />
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.MATERIAL_CODE' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.ITEM_DES' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.MANUFACT' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.PART_NO' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.ESTIMATION' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.UOP' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.CURRENCY' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.PRICE' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">LeadTime</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.COUNTRY_OR' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.REMASK' | translate }}</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in EditFPACtrl.DataDocList">
                                                <td style="vertical-align: middle;">{{EditFPACtrl.currentPage > 1 ? (EditFPACtrl.pageSize * (EditFPACtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{data.MaterialCode}}</td>
                                                <td style="vertical-align: middle;">{{data.ItemDescrip}}</td>
                                                <td style="vertical-align: middle;">{{data.Manufacture}}</td>
                                                <td style="vertical-align: middle;">{{data.PartNo}}</td>
                                                <td style="vertical-align: middle;">{{data.Estimate}}</td>
                                                <td style="vertical-align: middle;">{{data.Unit}}</td>
                                                <td style="vertical-align: middle;">{{data.Currency}}</td>
                                                <td style="vertical-align: middle;">{{data.UnitPrice}}</td>
                                                <td style="vertical-align: middle;">{{data.LeadTime}}</td>
                                                <td style="vertical-align: middle;">{{data.CountryOfOrigin}}</td>
                                                <td style="vertical-align: middle;">{{data.Remark}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="EditFPACtrl.totalItems" ng-model="EditFPACtrl.currentPage"
                                class="pagination-sm" previous-text="&lsaquo;" max-number="EditFPACtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="EditFPACtrl.loadDetailPO(EditFPACtrl.currentPage)" max-size="10"></ul>
                            <br />
                            <label>{{'TOTAL_DATA' | translate}} : {{EditFPACtrl.totalItems}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" >
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-flat btn-primary" title="{{'BATAL'|translate}}" ng-click="EditFPACtrl.cancel()"><i class="fa fa-reply"></i> {{'KEMBALI'|translate}} </button>
            </div>
        </div>
    </div>
</div>