<div class="modal-content" ng-init="viewDAppCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewDAppCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.BACK'|translate}}</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'ANNOUNCEMENT_DETAIL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <dl class="dl-horizontal">
                    <dt>{{'TABLE.KODE'|translate}}</dt>
                    <dd> : &nbsp; {{viewDAppCtrl.TenderCode}}</dd>
                    <dt>{{'TABLE.NAMA_PENGADAAN'|translate}}</dt>
                    <dd> : &nbsp; {{viewDAppCtrl.TenderName}}</dd>
                    <!--<dt>{{'FORM.PENGUMUMAN'|translate}}</dt>-->
                    <!--<dd> : &nbsp; <p ng-bind-html="viewDAppCtrl.ann.Description"></p></dd>-->
                    <dt>{{'FIELD'|translate}}</dt>
                    <dd> : &nbsp; {{viewDAppCtrl.ann.FieldName}}</dd>
                    <dt>{{'KLASIFIKASI'|translate}}</dt>
                    <dd> : &nbsp; {{viewDAppCtrl.ann.SysReference.Value | translate}}</dd>
                    <dt>{{'TEKNIKAL'|translate}}</dt>
                    <dd> : &nbsp; {{viewDAppCtrl.ann.Technical.Value |translate}}</dd>
                    <dt>Area</dt>
                    <dd>
                        : &nbsp; <span ng-if="viewDAppCtrl.ann.IsLokal === true">{{'LOCAL'|translate}} </span>
                        <span ng-if="viewDAppCtrl.ann.IsNational === true">, {{'NATIONAL'|translate}} </span>
                        <span ng-if="viewDAppCtrl.ann.IsInternational === true">, {{'INTERNATIONAL'|translate}} </span>
                    </dd>
                    <dt>Email Vendor</dt>
                    <dd> : &nbsp; {{viewDAppCtrl.ann.EmailsView}}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="20">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.VENDOR_NAME' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dt in viewDAppCtrl.ann.contactVendor">
                                <td class="center-vertical">{{$index + 1}}</td>
                                <td style="vertical-align: middle;">{{dt.Name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="viewDAppCtrl.batal()" type="button" class="btn btn-flat btn-primary" title="{{'BACK'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
    </div>
</div>