﻿<div class="modal-content" ng-init="UploadDokModalPrequalAssCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="UploadDokModalPrequalAssCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font">{{UploadDokModalPrequalAssCtrl.action | translate}}{{'FORM.MODALTITLE' | translate}} </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'FORM.DOCUMENTNAME' | translate}} *</label>
                        <input type="text" class="form-control" placeholder="{{'FORM.DOCUMENTNAME' | translate}}" ng-model="UploadDokModalPrequalAssCtrl.Nama">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'FORM.DOCNO' | translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'FORM.DOCNO' | translate}}" ng-model="UploadDokModalPrequalAssCtrl.No">
                    </div>
                </div>       
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Upload File
                            <small> ( <span ng-repeat="ft in UploadDokModalPrequalAssCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{UploadDokModalPrequalAssCtrl.idUploadConfigs[0].Size}} {{UploadDokModalPrequalAssCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                        </label>
                        <input type="file" class="form-control" ng-file-select="UploadDokModalPrequalAssCtrl.selectUpload()"
                               ng-model="UploadDokModalPrequalAssCtrl.fileUpload" name="ownerIDFile" required accept="{{UploadDokModalPrequalAssCtrl.idFileTypes}}" />
                        <span><a ng-if="UploadDokModalPrequalAssCtrl.isAdd!= 1 && UploadDokModalPrequalAssCtrl.DocUrl!=null" target="_blank" href="{{ UploadDokModalPrequalAssCtrl.folderFile+ UploadDokModalPrequalAssCtrl.DocUrl}}" class="btn btn-flat btn-xs btn-success" title="Download Berkas Assessment"><i class='fa fa-download'></i></a></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'FORM.EXPIREDDATE' | translate}}</label>
                        <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
                            <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                   is-open="UploadDokModalPrequalAssCtrl.isCalendarOpened[0]" ng-model="UploadDokModalPrequalAssCtrl.tgl.StartDate" ng-click="UploadDokModalPrequalAssCtrl.openCalendar(0)" />
                            <span class="input-group-addon" ng-click="UploadDokModalPrequalAssCtrl.openCalendar(0)"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-primary" ng-click="UploadDokModalPrequalAssCtrl.batal()" title="{{'Batal' | translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
            <button type="button" class="btn btn-flat btn-success" ng-click="UploadDokModalPrequalAssCtrl.simpan()" title="{{'Simpan' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
        </div>
    </div>