<section class="content" ng-init="mmCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BERANDA' | translate}}</a></li>
        <li><a class="active">{{'MASTER' | translate}}</a></li>
        <li><a class="active">{{'MATERIAL' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <!--notife flow-->
                <div class="box-header" >
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="afta-font judul-datatabel">{{'DATA_MATERIAL' | translate}}</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control input-sm" ng-model="mmCtrl.commodityId" ng-change="mmCtrl.searchData()">
                                    <option disabled>--{{'PILIH_KOMODITAS' | translate}}--</option>
                                    <option value="0">{{'SEMUA' | translate}}</option>
                                    <option value="">{{'KOMODITAS_KOSONG' | translate}}</option>
                                    <option value="{{item.ID}}" ng-repeat="item in mmCtrl.commodities">{{item.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <form method="post" role="form" ng-submit="mmCtrl.searchData()">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" placeholder="{{'CARI_KODE_DESKRIPSI' | translate}}..." ng-model="mmCtrl.txtSearch">
                                    <span class="input-group-btn">
                                        <button ng-click="mmCtrl.searchData()" type="button" name="search" id="search-btn" class="btn btn-sm btn-flat btn-primary" title="{{'CARI' | translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                {{'UPLOAD_EXCEL'|translate}}
                            </label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a href="{{mmCtrl.folderFile + mmCtrl.DocUrlTemplate}}" target="_blank" title="{{'TEMPLATE_FORM'|translate}}" class="btn btn-flat btn-warning"><i class="fa fa-download"></i> Form</a>
                                </div>
                                <input type="file" class="form-control" ng-model="fileUpload" ng-file-select="mmCtrl.selectUpload(fileUpload)" accept=".xls,.xlsx" />
                                <div class="input-group-btn">
                                    <button ng-disabled="!mmCtrl.fileUpload" class="btn btn-success" title="Upload File" ng-click="mmCtrl.uploadFile()"><i class="fa fa-upload"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>
                                {{'UPLOAD_EXCEL_MARC'|translate}}
                            </label>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a href="{{mmCtrl.folderFile + mmCtrl.DocUrlMarcTemplate}}" target="_blank" title="{{'TEMPLATE_FORM'|translate}}" class="btn btn-flat btn-warning"><i class="fa fa-download"></i> Form</a>
                                </div>
                                <input type="file" class="form-control" ng-model="fileUploadMarc" ng-file-select="mmCtrl.selectUploadMarc(fileUploadMarc)" accept=".xls,.xlsx" />
                                <div class="input-group-btn">
                                    <button ng-disabled="!mmCtrl.fileUploadMarc" class="btn btn-success" title="Upload File" ng-click="mmCtrl.uploadFileMarc()"><i class="fa fa-upload"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom:10px;">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-success turun-15" ng-click="mmCtrl.forminput()" title="{{'TAMBAH_MATERIAL' | translate}}">
                                    <i class='fa fa-plus-circle'></i>&nbsp;{{'TAMBAH'|translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="min-width: 10px; width: 10px;">{{'NO' | translate}}</th>
                                            <th class="text-center" style="min-width: 10px; width: 10px;">{{'KODE' | translate}}</th>
                                            <th class="text-center">{{'DESKRIPSI' | translate}}</th>
                                            <th class="text-center" style="min-width: 100px; width: 100px;">{{'KOMODITAS' | translate}}</th>
                                            <th class="text-center" style="min-width: 100px; width: 100px;">Concession Category</th>
                                            <th class="text-center" style="min-width: 100px; width: 100px;">Tariff Code</th>
                                            <th class="text-center" style="min-width: 50px; width: 50px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="as in mmCtrl.listAllData">
                                            <td class="text-center">{{(mmCtrl.maxSize * (mmCtrl.currentPage - 1)) + $index + 1}}</td>
                                            <td class="text-center">{{as.Code}}</td>
                                            <td>{{as.Description}}</td>
                                            <td class="text-center" title="{{as.Commodity.Name}}">{{as.Commodity.Name.substr(0,7)}}</td>
                                            <td class="text-center">{{as.ConcessionCategory}}</td>
                                            <td class="text-center">{{as.TariffCode}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a class="btn btn-flat btn-xs btn-primary" title="{{'UBAH_MATERIAL' | translate}}" ng-click="mmCtrl.forminput(as)" ><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul uib-pagination boundary-links="true" total-items="mmCtrl.totalItems" ng-model="mmCtrl.currentPage" max-size="10"
                                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="mmCtrl.jLoad(mmCtrl.currentPage)"></ul>
                            <br />
                            <label>{{'TOTAL_DATA' | translate}} : {{mmCtrl.totalItems}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>