<div class="modal-content" ng-init="appReqListCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="appReqListCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'TUTUP'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'APPROVAL'|translate}}</h3>
        <h5 class="modal-title afta-font" id="myModalLabel">{{appReqListCtrl.item.tenderCode}} - {{appReqListCtrl.item.projectTitle}}</h5>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="appReqListCtrl.information" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button ng-if="appReqListCtrl.approvalStatus" class="btn btn-sm btn-success" ng-click="appReqListCtrl.sendApproval()"><i class="fa fa-check"></i> {{'APPROVE' | translate}}</button>
                                    <button ng-if="!appReqListCtrl.approvalStatus" class="btn btn-sm btn-danger" ng-click="appReqListCtrl.sendApproval()"><i class="fa fa-times"></i> {{'REJECT' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="appReqListCtrl.cancel()" title="{{'KEMBALI'|translate}}"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>