﻿<section class="content" ng-init="LocalAreaPrequalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.MASTER_LOCALAREAPREQUAL' | translate}}</a></li>
    </ol>
    <div id="utama" class="row">
        <!-- style="padding-top: 25px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="afta-font judul-datatabel">{{'DATA_LOCALAREAPREQUAL' | translate}}</h3>
                        </div>
                        <div class="col-md-5">
                            <form method="post" role="form" ng-submit="LocalAreaPrequalCtrl.jLoad(1)">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{'CARI_LOCALAREAPREQUAL' | translate}}" ng-model="LocalAreaPrequalCtrl.Keyword">
                                    <span class="input-group-btn">
                                        <button ng-click="LocalAreaPrequalCtrl.jLoad(1)" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="Cari">
                                            <i class="fa fa-search"></i>&nbsp;
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="LocalAreaPrequalCtrl.tambah()" title="Tambah Data">
                                    <i class='fa fa-plus-circle'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle; width: 80px; min-width: 80px">{{'TABLE.LOCARAREANAME' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle; width: 60px; min-width: 60px;">{{'TABLE.STATUS' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ba in LocalAreaPrequalCtrl.localarea">
                                            <td class="text-center" style="vertical-align: middle;">{{LocalAreaPrequalCtrl.currentPage > 1 ? (LocalAreaPrequalCtrl.pageSize * (LocalAreaPrequalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="middle-vertical">{{ba.Name}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a ng-click="LocalAreaPrequalCtrl.view(ba)" class="btn btn-flat btn-sm btn-success" title="Detail Data">
                                                    <i class='fa fa-search'></i>&nbsp;
                                                </a>
                                                <a ng-click="LocalAreaPrequalCtrl.edit(ba)" class="btn btn-flat btn-sm btn-primary" title="Ubah">
                                                    <i class='fa fa-edit'></i>&nbsp;
                                                </a>
                                                <a ng-click="LocalAreaPrequalCtrl.ubah_aktif(ba,false)" class="btn btn-flat btn-sm btn-danger" title="{{'NONAKTIFKAN' | translate}}">
                                                    <i class='fa fa-times-circle'></i>&nbsp;
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-if="LocalAreaPrequalCtrl.localarea.length == 0">
                                            <td colspan="3"> No data </td>
                                        </tr>
</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <ul uib-pagination boundary-links="true" max-size="10" total-items="LocalAreaPrequalCtrl.totalItems" ng-model="LocalAreaPrequalCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="LocalAreaPrequalCtrl.jLoad(LocalAreaPrequalCtrl.currentPage)"></ul>
                            <br />
                            <label>{{'TOTAL_DATA' | translate}} : {{LocalAreaPrequalCtrl.totalItems}}</label>
                        </div>
                        <div class="col-md-5">
                            <div ng-if="LocalAreaPrequalCtrl.allowAdd" class="pull-right">
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="LocalAreaPrequalCtrl.tambah()" title="Tambah Data">
                                    <i class='fa fa-plus-circle'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>