﻿<div id="tambahKriteria" class="modal-content" ng-init="DetailSubLineCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DetailSubLineCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'TITLE.OFFER_DETAIL'|translate}}</h3>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'TENDER_NAME'|translate}}: {{DetailSubLineCtrl.detail.TenderName}}</h3>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'VENDOR_NAME'|translate}}: {{DetailSubLineCtrl.detail.VendorName}}</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th class="text-center center-vertical" colspan="4"></th>
                                    <th class="text-center center-vertical" colspan="2">{{'TABLE.SERVICE_OFFERDETAIL.VENDOR'|translate}}</th>
                                    <th class="text-center center-vertical" colspan="3">{{'TABLE.SERVICE_OFFERDETAIL.NEGOTIATION'|translate}}</th>
                                    <th class="text-center center-vertical" colspan="1"></th>
                                </tr>
                                <tr>
                                    <th class="text-center center-vertical" width="20px">No</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.DESC_ITEM'|translate}}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.VOLUME'|translate}}</th>
                                    <th class="text-center center-vertical">{{'TABLE.SERVICE_OFFERDETAIL.UNIT'|translate}}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.VOLUME'|translate}}</th>
                                    <th class="text-center center-vertical" style="min-width:150px;">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PROCENTAGE'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="det in DetailSubLineCtrl.detail.childern">
                                    <td class="middle-vertical">{{$index+1}}</td>
                                    <td class="middle-vertical">
                                        {{det.LineName}}
                                    </td>
                                    <td class="text-center center-vertical">
                                        {{det.LineQuantity}}
                                    </td>
                                    <td class="text-center center-vertical">
                                        {{det.OrderUnit}}
                                    </td>
                                    <td class="text-right middle-vertical">{{det.Curr}} {{det.UnitVendorPrice | currency: ""+ labelcurr +" "}}</td>
                                    <td class="text-right middle-vertical">{{det.Curr}} {{det.TotalCost | currency: ""+ labelcurr +" "}}</td>
                                    <td class="text-center middle-vertical">{{det.quantity}}</td>
                                    <td class="text-right middle-vertical">{{det.Curr}}  <input currency-mask  type="text" ng-model="det.UnitNegotiationPrice" class="form-control" placeholder="{{det.UnitNegotiationPrice | currency: ""+ labelcurr +" "}}" ng-disabled="!(det.IsNego !== true && det.IsActive === true && DetailSubLineCtrl.overtime === true)" ></td>
                                    <td class="text-right middle-vertical">{{det.Curr}}  {{det.TotalPriceNego | currency: ""+ labelcurr +" "}}</td>
                                    <td class="text-right">
                                        <div class="form-group has-feedback" style="max-width:80px;">
                                            <input type="text" number-masking="number-masking" ng-model="det.Procentage" class="form-control" ng-disabled="!(det.IsNego !== true && det.IsActive === true && DetailSubLineCtrl.overtime === true)" /><span class="form-control-feedback">%</span>
                                            <!--<input type="text" number-masking="number-masking" ng-model="DPVHSVCtrl.Procentage" style="max-width: 60px; text-align: center;" /><span class="form-control-feedback">%</span>-->
                                            <a ng-click="DetailSubLineCtrl.per_item($index)" class="btn btn-xs btn-flat btn-primary input-group-addon" style="margin-left: 20px;" title="Generate" ng-if="(det.IsNego !== true && det.IsActive === true && DetailSubLineCtrl.overtime === true)"><i class="fa fa-spinner"></i></a>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>Total : </strong></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>{{DetailSubLineCtrl.detail.childern[0].Curr}} {{DetailSubLineCtrl.detail.TotalCost | currency: ""+ labelcurr +" "}}</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>{{DetailSubLineCtrl.detail.childern[0].Curr}} {{DetailSubLineCtrl.detail.TotalNegotiation | currency: ""+ labelcurr +" "}}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right text-right" style="padding-top: 15px;">
                        <a class="btn btn-sm btn-flat btn-default" ng-click="DetailSubLineCtrl.batal()" title="{{'BTN.BACK'|translate}}"><i class="fa fa-reply"></i>&nbsp;</a>
                        &nbsp;
                        <span ng-if="DetailSubLineCtrl.detail.IsNego !== true && DetailSubLineCtrl.detail.IsActive === true && DetailSubLineCtrl.overtime === true">
                            <button ng-click="DetailSubLineCtrl.save()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.SAVE'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>