﻿<div class="modal-content" ng-init="DetailTenagaAhliCtrl.init()">
    <div class="modal-header">
        <button type="button" ng-click="DetailTenagaAhliCtrl.batal()" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL_TITLE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>{{'FORM.NAME' | translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Name}}</dd>
                            <dt>{{'FORM.DATE_OF_BIRTH' | translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.DateOfBirth | date: 'dd-MM-yyyy'}}</dd>
                            <dt>{{'FORM.GENDER' | translate}}</dt>
                            <dd ng-if="DetailTenagaAhliCtrl.item.Gender === 'M'">{{'FORM.GENDER_MALE' | translate}}</dd>
                            <dd ng-if="DetailTenagaAhliCtrl.item.Gender === 'F'">{{'FORM.GENDER_FEMALE' | translate}}</dd>
                            <dt>{{'FORM.ADDRESS' | translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.address.AddressInfo}}</dd>
                            <dt>{{'FORM.EDUCATION' | translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Education}}</dd>
                            <dt>{{'FORM.CITIZENSHIP' | translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.country.Name}}</dd>
                            <dt>{{'FORM.POSITION' | translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Position}}</dd>
                            <dt>{{'EXPERIENCE' | translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.YearOfExperience}} {{'FORM.YEAR' | translate}}</dd>
                            <!--
                            <dt>Email</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Email}}</dd>-->
                            <dt>{{'FORM.EMPLOYEE_STATUS' | translate}}</dt>
                            <dd>{{DetailTenagaAhliCtrl.item.Statusperson.Value}}</dd>
                            <dt>{{'FORM.EXPERTIZE_DESC' | translate}}</dt>
                            <dd>
                                <p>
                                    {{DetailTenagaAhliCtrl.item.Expertise}}
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary"
                ng-click="DetailTenagaAhliCtrl.batal()"
                data-dismiss="modal" title="{{'BTN.BACK' | translate}}">
            <i class="fa fa-arrow-circle-left"></i>&nbsp;
        </button>
    </div>
</div>
