
<div class="container-fluid" ng-init="TenagaAhliController.initialize()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.EXPERTS' | translate}}</a></li>
    </ol>
    <div id="utama" class="row">
        <!-- style="padding-top: 25px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row" style="padding-top: 30px;">
                        <div class="col-md-12" style="padding-bottom: 20px;">
                            <h3 class="text-center afta-font">{{'VENDOR_EXPERT' | translate}}</h3>
                            <h5 class="text-center afta-font"><em>{{'NOTFORGOODS' | translate}}</em></h5>
                        </div>
                            <div class="col-md-12" ng-if="TenagaAhliController.CR === true">
                                <div class="alert alert-info alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                                    <strong>Info!</strong> {{'MESSAGE.NOTIF1' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
                                </div>
                            </div>
                        <div class="col-md-12" ng-init="initialize()">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'NO' | translate}}</th>
                                            <th class="text-center">{{'FORM.NAME' | translate}}</th>
                                            <th class="text-center">{{'FORM.EDUCATION' | translate}}</th>
                                            <th class="text-center">{{'FORM.POSITION' | translate}}</th>
                                            <th class="text-center">{{'FORM.EXPERIENCE' | translate}}</th>
                                            <th class="text-center">{{'KEAHLIAN' | translate}}</th>
                                            <th class="text-center">**) {{'COMPLETE_CV_DETAIL' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="obj in TenagaAhliController.vendorexperts">
                                            <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                            <td style="vertical-align: middle;">{{obj.Name}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{obj.Education|translate}}</td>
                                            <td style="vertical-align: middle;">{{obj.Position}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{obj.YearOfExperience}}</td>
                                            <td style="vertical-align: middle;">{{obj.Expertise}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a ng-click="TenagaAhliController.lihatDetail(obj)" class="btn btn-sm btn-warning" title="{{'BTN.LIHAT_DETAIL' | translate}}">
                                                    <i class="fa fa-external-link"></i>
                                                </a>
                                                <a ng-if="TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.UbahTenagaAhli(obj)" class="btn btn-sm btn-primary" title="{{'BTN.UBAH' | translate}}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <a ng-if="TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.viewdetail(obj)" class="btn btn-sm btn-success" title="{{'BTN.DETAIL_CV' | translate}}">
                                                    <i class="fa fa-plus-circle"></i>
                                                </a>
                                                <a ng-if="obj.IsActive === true && TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.HapusData(obj, false)" class="btn btn-sm btn-danger" title="{{'BTN.HAPUS' | translate}}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                                <a ng-if="obj.IsActive === false && TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.HapusData(obj, true)" class="btn btn-sm btn-danger" title="{{'BTN.AKTIF' | translate}}">
                                                    <i class="fa fa-external-link"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr ng-if="TenagaAhliController.vendorexperts.length === 0">
                                            <td colspan="7">{{'TIDAK_ADA_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <div class="center-block text-center" ng-if="TenagaAhliController.isApprovedCR === true">
                                <a role="button" class="btn btn-sm btn-primary"
                                   ng-click="TenagaAhliController.TambahTenagaAhli(obj)" title="{{'BTN.TAMBAH' | translate}}">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px!important;">
                        <div class="col-md-12 col-sm-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-4 col-sm-12"></div>
                                <div class="col-md-4 col-sm-12"></div>
                                <div class="col-md-4 col-sm-12"></div>
                            </div>
                        </div>
                    </div>
                    <!--DETAIL TENAGA AHLI-->
                    <div ng-show="TenagaAhliController.flag === 1">
                        <div class="row" style="padding-bottom: 15px;">
                            <div class="col-md-12">
                                <h3 class="afta-font text-center">{{'COMPLETE_CV_DETAIL' | translate}}</h3>
                            </div>
                            <div class="col-md-12">
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <label>{{'NAME' | translate}} : {{TenagaAhliController.namavendor}}</label>
                                </div>
                            </div>
                        </div>
                        <hr style="margin-bottom: 5px; margin-top: 5px;" />
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-center afta-font">CURRICULUM VITAE</h4>
                            </div>
                        </div>
                        <hr style="margin-top: 5px;" />
                        <div class="row">
                            <div class="col-md-11 center-block well" style="float: none!important;">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-xs-12 center-block">
                                        <label class="afta-font" style="font-size: 1.5em;">{{'EXPERIENCE_WORK' | translate}}</label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 text-center" ng-if="TenagaAhliController.isApprovedCR === true">
                                        <button ng-click="TenagaAhliController.DetailCertificate(TenagaAhliController.vendorexpertsCertificate[0], true,1)" class="btn btn-sm btn-primary pull-right" role="button" title="{{'BTN.TAMBAH' | translate}}">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                        <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'FORM.JOB_DESCRIPTION' | translate}}</th>
                                                        <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="obj in TenagaAhliController.listJob">
                                                        <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                            <a href="{{TenagaAhliController.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;</a>
                                                        </td>
                                                        <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                            <a ng-if="TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.DetailCertificate(obj, false,1)" class="label label-flat label-sm label-primary" role="button" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></a>
                                                            <a ng-if="TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.hapusdetail(obj, false)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="TenagaAhliController.listJob.length == 0"><td colspan="6"> {{'NO_DATA' | translate}}</tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 center-block">
                                        <label class="afta-font" style="font-size: 1.5em;">{{'EDUCATION' | translate}}</label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-xs-12 center-block" ng-if="TenagaAhliController.isApprovedCR === true">
                                        <button ng-click="TenagaAhliController.DetailCertificate(TenagaAhliController.vendorexpertsCertificate[0], true,2)" class="btn btn-sm btn-primary pull-right" role="button" title="{{'BTN.TAMBAH' | translate}}">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Until' | translate}}</th>
                                                        <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'FORM.EDUCATION_DESCRIPTION' | translate}}</th>
                                                        <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="obj in TenagaAhliController.listEducation">
                                                        <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                            <a href="{{TenagaAhliController.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;</a>
                                                        </td>
                                                        <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                            <a ng-if="TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.DetailCertificate(obj, false,2)" class="label label-flat label-sm label-primary" role="button" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></a>
                                                            <a ng-if="TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.hapusdetail(obj, false)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="TenagaAhliController.listEducation.length == 0"><td colspan="6"> {{'NO_DATA' | translate}}</tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 center-block">
                                        <label class="afta-font" style="font-size: 1.5em;">{{'KEAHLIAN_CERTIFICATE' | translate}}</label>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-xs-12 center-block" ng-if="TenagaAhliController.isApprovedCR === true">
                                        <button ng-click="TenagaAhliController.DetailCertificate(TenagaAhliController.vendorexpertsCertificate[0], true,3)" class="btn btn-sm btn-primary pull-right" role="button" title="{{'BTN.TAMBAH' | translate}}">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'Start' | translate}}</th>
                                                        <th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">{{'UNTIL' | translate}}</th>
                                                        <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'FORM.CERTIFICATE_DESCRIPTION' | translate}}</th>
                                                        <th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="obj in TenagaAhliController.listCertificate">
                                                        <td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                            <a href="{{TenagaAhliController.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;</a>
                                                        </td>
                                                        <td style="vertical-align: middle!important;">{{obj.Description}}</td>
                                                        <td class="text-center" style="vertical-align: middle!important;">
                                                            <a ng-if="TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.DetailCertificate(obj, false,3)" class="label label-flat label-sm label-primary" role="button" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></a>
                                                            <a ng-if="TenagaAhliController.isApprovedCR === true" ng-click="TenagaAhliController.hapusdetail(obj, false)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="TenagaAhliController.listCertificate.length == 0"><td colspan="6"> {{'NO_DATA' | translate}}</tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
