﻿<section class="content">
    <div class="box box-primary" ng-init="qstCtrl.init()">
        <div class="box-header margintop20">
            <h4 class="afta-font text-center modal-title ">{{'FORM.QUESTIONNAIRE' | translate}}</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-control-static">
                                {{'FORM.QUESTIONDESC' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'TABLE.QUESTIONNAIRE' | translate}} </th>
                                            <th class="text-center" width="10%">{{'TABLE.CHECK' | translate}} </th>
                                            <th class="text-center" width="20%">{{'TABLE.REMARK' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="q in qstCtrl.listQuest">
                                            <td>{{q.DocName | translate}}</td>
                                            <td class="text-center">
                                                <input type="checkbox" ng-checked="q.IsChecked" ng-model="q.IsChecked"  />
                                            </td>
                                            <td>{{qstCtrl.Remarks}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right">
                                <button ng-click="qstCtrl.backpengadaan()" class="btn btn-sm btn-default" title="{{'BTN.KEMBALI' | translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
                                <button ng-if="qstCtrl.accessPermission===true" ng-click="qstCtrl.saveQuest()" class="btn btn-sm btn-primary" title="{{'BTN.SAVE' | translate}}"><i class="fa fa-save "></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
