﻿<section class="content" ng-init="ContractEngineerCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.CONTRACT_ENGINEER' | translate}}</a></li>
    </ol>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-success">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.CONTRACT_ENGINEER' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 2px;">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-lg-1">{{'CARI' | translate}}:</label>
                                <div class="col-md-4">
                                    <select class="form-control input-sm" ng-model="ContractEngineerCtrl.selectedRFQ" ng-change="ContractEngineerCtrl.add(ContractEngineerCtrl.selectedRFQ)">
                                        <option value="" ng-selected="true" disabled>    -- {{'CARI_BERDASARKAN.HOME' | translate}} --</option>
                                        <option value=6>{{'CARI_BERDASARKAN.SEMUA' | translate}}</option>
                                        <option value=0>{{'CARI_BERDASARKAN.NOMOR_TENDER' | translate}}</option>
                                        <option value=1>{{'CARI_BERDASARKAN.NAMA' | translate}}</option>
                                        <option value=2>{{'CARI_BERDASARKAN.Department' | translate}}</option>
                                        <option value=3>{{'CARI_BERDASARKAN.Tipe' | translate}}</option>
                                        <option value=4>{{'CARI_BERDASARKAN.TANGGAL' | translate}}</option>
                                        <option value=5>Status</option>
                                        <option value=7>Contract Engineer</option>
                                    </select>
                                </div>
                                <div class="col-md-4" ng-if="ContractEngineerCtrl.selectedRFQ !== '3' &&ContractEngineerCtrl.selectedRFQ !== '4' && ContractEngineerCtrl.selectedRFQ !== '5' ">
                                    <input type="text" ng-disabled="ContractEngineerCtrl.flag === false" ng-model="ContractEngineerCtrl.input" class="form-control input-sm" placeholder="{{'KEYWORD' | translate}}" />
                                </div>
                                <div class="col-md-4" ng-if="ContractEngineerCtrl.selectedRFQ === '3'">
                                    <select class="form-control input-sm" ng-model="ContractEngineerCtrl.selectedType">
                                        <option value="" ng-selected="true" disabled>    -- {{'CARI_BERDASARKAN.HOME' | translate}} --</option>
                                        <option value=1>CSMS</option>
                                        <option value=2>NON CSMS</option>
                                    </select>
                                </div>
                                <div class="col-md-4" ng-if="ContractEngineerCtrl.selectedRFQ === '4'">
                                    <div class="input-group date form_datetime">
                                        <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="ContractEngineerCtrl.isCalendarOpened[0]" ng-model="ContractEngineerCtrl.SetDate" ng-click="ContractEngineerCtrl.openCalendar(0)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="ContractEngineerCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="ContractEngineerCtrl.selectedRFQ === '5'">
                                    <select class="form-control input-sm" ng-model=" ContractEngineerCtrl.selectedType">
                                        <option value="" ng-selected="true" disabled>    -- {{'CARI_BERDASARKAN.HOME' | translate}} --</option>
                                        <option value=1>{{'CARI_BERDASARKAN.SUDAH_DIATUR' | translate}} </option>
                                        <option value=2>{{'CARI_BERDASARKAN.BELUM_DIATUR' | translate}}</option>
                                    </select>
                                </div>
                                <button title="{{'CARI' | translate}}" type="button" class="btn btn-flat btn-primary" ng-click="ContractEngineerCtrl.jLoad(1, ContractEngineerCtrl.selectedRFQ, ContractEngineerCtrl.input, ContractEngineerCtrl.selectedType, ContractEngineerCtrl.SetDate)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">No</th>
                                            <th class="text-center">{{'CARI_BERDASARKAN.NOMOR_TENDER' | translate}}</th>
                                            <th class="text-center">{{'CARI_BERDASARKAN.NAMA' | translate}}</th>
                                            <th class="text-center">{{'CARI_BERDASARKAN.Department' | translate}}</th>
                                            <th class="text-center">{{'CARI_BERDASARKAN.Tipe' | translate}}</th>
                                            <th class="text-center">Final Approve</th>
                                            <th class="text-center">{{'CARI_BERDASARKAN.TANGGAL' | translate}}</th>
                                            <th class="text-center">Contract Engineer</th>
                                            <th class="text-center">Requestor</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                            <th class="text-center">CE Approval</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dt in ContractEngineerCtrl.list">
                                            <td class="text-center" style="vertical-align: middle;">{{ContractEngineerCtrl.currentPage > 1 ? (ContractEngineerCtrl.pageSize * (ContractEngineerCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{dt.requisition.TenderCode}}</td>
                                            <td style="vertical-align: middle;">{{dt.requisition.ProjectTitle}}</td>
                                            <td style="vertical-align: middle;">{{dt.requisition.DepartmentName}}</td>
                                            <td ng-if="dt.csms.IsSupervised" class="text-center" style="vertical-align: middle;">CSMS</td>
                                            <td ng-if="!dt.csms.IsSupervised" class="text-center" style="vertical-align: middle;">NON CSMS</td>
                                            <td style="vertical-align: middle;">{{dt.requisition.FinalApprovedDate | date: "dd-MM-yyyy"}}</td>
                                            <td ng-if="dt.ModifiedDate === null" style="vertical-align: middle;">{{dt.CreatedDate | date: "dd-MM-yyyy"}}</td>
                                            <td ng-if="dt.ModifiedDate !== null" style="vertical-align: middle;">{{dt.ModifiedDate | date: "dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{dt.EmployeeCE}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{dt.requisition.RequestorName}}</td>
                                            <td ng-if="dt.CreatedDate !== null" class="text-center" style="vertical-align: middle;">{{'CARI_BERDASARKAN.SUDAH_DIATUR' | translate}}</td>
                                            <td ng-if="dt.CreatedDate === null" class="text-center" style="vertical-align: middle;">{{'CARI_BERDASARKAN.BELUM_DIATUR' | translate}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a title="{{'Detail Kontrak'|translate}}" class="btn btn-flat btn-xs btn-primary" ng-click="ContractEngineerCtrl.detailContract(dt)"><i class='fa fa-external-link'></i></a>
                                                <a title="{{'Dokumen Kontrak'|translate}}" class="btn btn-flat btn-xs btn-warning" ng-click="ContractEngineerCtrl.Dokumen(dt)"><i class="fa fa-file-o"></i></a>
                                                <a title="{{'EDIT_PANITIA' | translate}}" ng-if="dt.CreatedDate !== null" class="btn btn-flat btn-xs btn-success" ng-click="ContractEngineerCtrl.commite(dt)"><i class="fa fa-check"></i></a>
                                                <a title="{{'SUSUN_PANITIA' | translate}}" ng-if="dt.CreatedDate === null" class="btn btn-flat btn-xs btn-info" ng-click="ContractEngineerCtrl.commite(dt)"><i class="fa fa-link"></i></a>
                                                <a ng-if="dt.requisition.StatusName !== 'CR_DRAFT' && dt.requisition.StatusName !== 'CR_PROCESS_0.5'" class="btn btn-flat btn-xs btn-success" ng-click="ContractEngineerCtrl.detailApproval(dt)" title="{{'DETAIL_APPROVAL' | translate}}"><i class="fa fa-sitemap"></i></a>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <span ng-if="dt.IsApprovable">
                                                    <button title="{{'BTN.LANJUT_APPROVAL'|translate}}" class="btn btn-flat btn-xs btn-success" ng-click="ContractEngineerCtrl.sendToApprove(dt)"><i class='fa fa-envelope'></i></button>
                                                    <button title="{{'BTN.TOLAK'|translate}}" class="btn btn-flat btn-xs btn-danger" ng-click="ContractEngineerCtrl.reject(dt)"><i class="fa fa-times"></i></button>
                                                </span>
                                                <span ng-if="!dt.IsApprovable">
                                                    {{ContractEngineerCtrl.statusLabels[dt.requisition.StatusName] | translate}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr ng-if="ContractEngineerCtrl.totalItems == 0">
                                            <td colspan="10"> {{'NO_DATA' | translate}}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <ul uib-pagination boundary-links="true" max-size="10" total-items="ContractEngineerCtrl.totalItems" ng-model="ContractEngineerCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="ContractEngineerCtrl.jLoad(ContractEngineerCtrl.currentPage, ContractEngineerCtrl.selectedRFQ, ContractEngineerCtrl.input, ContractEngineerCtrl.selectedType, ContractEngineerCtrl.SetDate)"></ul>
                            <br />
                            <label>{{'Total Data'|translate}} : {{ContractEngineerCtrl.totalItems}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>