﻿<section class="content" ng-init="DocCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li ng-repeat="b in DocCtrl.breadcrumbs">
            <a ng-if="b.href" href="{{b.href}}">{{ b.title | translate}}</a>
            <a ng-if="!b.href">{{ b.title | translate}}</a>
        </li>
    </ol>
    <div class="container">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center afta-font">{{'CONTRACT_REQUISITION_DOCS' | translate}}</h3>
                        <h4 class="text-center afta-font">{{DocCtrl.ProjectTitle}}</h4>
                    </div>
                </div>
                <div class="row" ng-if="!DocCtrl.isTenderVerification">
                    <div class="col-md-12">
                        <button ng-click="DocCtrl.add()" class="btn btn-sm btn-success pull-right" title="{{'TAMBAH'|translate}}"><i class="fa fa-plus"></i> {{'TAMBAH'|translate}}</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="50" class="center-vertical">{{'TABLE.NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.NAMA_DOK' | translate}}</th>
                                            <th width="100" class="center-vertical">File</th>
                                            <th ng-if="!DocCtrl.isTenderVerification" width="100" class="center-vertical"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sd in DocCtrl.docs">
                                            <td class="center-vertical">{{$index + 1}}</td>
                                            <td>{{sd.DocName}}</td>
                                            <td class="center-vertical">
                                                <a href="{{DocCtrl.folderFile + sd.DocUrl}}" target="_blank" class="btn btn-xs btn-info"><i class="fa fa-download"></i> Download</a>
                                            </td>
                                            <td ng-if="!DocCtrl.isTenderVerification" class="center-vertical">
                                                <button ng-click="DocCtrl.edit(sd)" class="btn btn-xs btn-info" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></button>
                                                <button ng-click="DocCtrl.del(sd)" class="btn btn-xs btn-danger" title="{{'HAPUS'|translate}}"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-if="DocCtrl.docs.length === 0">
                                        <tr>
                                            <td colspan="4">{{'TIDAK_ADA_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button ng-click="DocCtrl.back()" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> {{'KEMBALI' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>