<section class="content" ng-init="detCECtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> Beranda</a></li>
        <li><a>Proses Pengadaan</a></li>
        <li><a class="active">Susunan Contract Engineer</a></li>
        <li><a class="active">Detail Contract Requisition</a></li>
        <li><a class="active">{{'CE.FORM_DETAIL_COST_ESTIMATE'|translate}}</a></li>
    </ol>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-success">                
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'CE.FORM_DETAIL_COST_ESTIMATE'|translate}}</h3>
                            <h4 class="text-center afta-font">{{detCECtrl.ProjectTitle}}</h4>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-8 col-xs-12 center-block" style="float: none!important;">
                        <form ng-submit="detCECtrl.onSearchSubmit(searchText)" role="form" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <input ng-model="searchText" class="form-control" placeholder="..." />
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-default"><i class="fa fa-search"></i>&nbsp; {{'CARI' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <label class="pull-right">{{'MATA_UANG' | translate}} : {{detCECtrl.currencySymbol}}</label>
                        </div>
                    </div>             
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="7"><h4 class="afta-font"></h4></th>
                                        </tr>
                                        <tr>
                                            <th class="center-vertical" width="10">{{'TABLE.LINE'|translate}}</th>
                                            <th class="center-vertical">{{'TABLE.DESKRIPSI'|translate}}</th>
                                            <th class="center-vertical" width="80">{{'TABLE.QTY'|translate}}</th>
                                            <th class="center-vertical" width="60">{{'TABLE.ORDER_UNIT'|translate}}</th>
                                            <th class="center-vertical" width="140">{{'TABLE.UNIT_COST'|translate}}</th>
                                            <th class="center-vertical" width="140">{{'TABLE.LINE_COST'|translate}}</th>
                                            <th class="center-vertical" width="100">{{'TABLE.TAX'|translate}}</th>
                                        </tr>
                                    </thead> 
                                    <tbody>	
                                        <tr ng-repeat="dt in detCECtrl.ceLines">
                                            <td class="text-center" style="vertical-align: middle;">{{(detCECtrl.pageNumber - 1) * detCECtrl.pageSize + $index + 1}}</td>
                                            <td  style="vertical-align: middle;">{{dt.Name}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{dt.Quantity}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{dt.OrderUnit}}</td>
                                            <td class="text-right" style="vertical-align: middle;">{{dt.UnitCost | currency : detCECtrl.currencySymbol + ' '}}</td>
                                            <td class="text-right" style="vertical-align: middle;">{{dt.LineCost | currency : detCECtrl.currencySymbol + ' '}}</td>
                                            <td class="text-right" style="vertical-align: middle;">{{dt.Tax | currency : ''}}</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="detCECtrl.count"
                                    ng-model="detCECtrl.pageNumber" items-per-page="detCECtrl.pageSize"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="detCECtrl.loadData()"></ul>
                                <br /><label>{{'TOTAL_DATA' | translate}} : {{detCECtrl.count}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <br />
                            <button ng-click="detCECtrl.back()" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left"></i> {{'KEMBALI'|translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>