<section ng-init="dashCtrl.init()" class="content">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'HOME' | translate}}</a></li>
    </ol>
	<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
		<div class="box box-info">
			<div class="box-body">
				<div class="row" ng-if="dashCtrl.adminVM == false && dashCtrl.adminProc == false && dashCtrl.adminContract == false">
					<div class="col-md-12" style="padding-top: 10px;">
						<h3 class="afta-font" style="margin-top: 0px;">{{'HEAD1' | translate}}</h3>
					</div>
                    <div class="col-md-12" style="padding-top: 10px;">
                        <h1 class="afta-font" style="margin-top: 0px;">{{'HEAD2' | translate}}</h1>
						<!--<a ng-click="dashCtrl.clearUserCache()">Clear!</a>-->
                    </div>
				</div>
                <div class="row" ng-if="dashCtrl.adminVM == true">
                    <div class="col-md-12" style="padding-top: 10px;">
                        <h4 class="afta-font" style="margin-top: 0px;"><i class="fa fa-bar-chart"></i> {{'STATISTIK_VENDOR'|translate}}</h4>
                    </div>
                </div>
                <div class="row" ng-if="dashCtrl.adminProc == true">
                    <div class="col-md-12" style="padding-top: 10px;">
                        <h4 class="afta-font" style="margin-top: 0px;"><i class="fa fa-bar-chart"></i> Procurement KPI</h4>
                    </div>
                </div>
                <div class="row" ng-if="dashCtrl.adminContract == true">
                    <div class="col-md-12" style="padding-top: 10px;">
                        <h4 class="afta-font" style="margin-top: 0px;"><i class="fa fa-bar-chart"></i> Contract Service KPI</h4>
                    </div>
                </div>
                <!--dashboard vendor management-->
                <div class="row" ng-if="dashCtrl.adminVM == true">
                    <div class="col-md-3">
                        <div class="panel panel-default" style="background-color:#CC0033;color:white;">
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <i class="fa fa-user" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-12" style="font-size:35px;">
                                        {{dashCtrl.newVendorCount}}
                                    </div>
                                    <div class="col-md-12">
                                        {{'NEW_VENDOR'|translate}}
                                    </div>
                                </div>
                            </div>
                            <button class="panel-footer" ng-click="dashCtrl.goToNewVendor()"  style="border:1px solid #CC0033;color:#CC0033;width:100%;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            {{'VIEW_DETAIL'|translate}}
                                        </div>
                                        <div class="pull-right">
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default" style="background-color:#3399FF;color:white;">
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <i class="fa fa-check-square-o" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-12" style="font-size:35px;">{{dashCtrl.vendorActivatedCount}}
                                    </div>
                                    <div class="col-md-12">
                                        {{'ACTIVATE_VENDOR'|translate}}
                                    </div>
                                </div>
                            </div>
                            <button class="panel-footer" ng-click="dashCtrl.goToActivatedVendor()" style="border:1px solid #3399FF;color:#3399FF;width:100%;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            {{'VIEW_DETAIL'|translate}}
                                        </div>
                                        <div class="pull-right">
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default" style="background-color:#00CC99;color:white;">
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <i class="fa fa-user-plus" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-12" style="font-size:35px;">
                                        {{dashCtrl.verificationReqCount}}
                                    </div>
                                    <div class="col-md-12">
                                        {{'REQ_VER'|translate}}
                                    </div>
                                </div>
                            </div>
                            <button class="panel-footer" ng-click="dashCtrl.goToVerificationReq()" style="border:1px solid #00CC99;color:#00CC99;width:100%;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            {{'VIEW_DETAIL'|translate}}
                                        </div>
                                        <div class="pull-right">
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default" style="background-color:#FFA500;color:white;">
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <i class="fa fa-users" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                </div>
                                <div class="col-md-8">
                                    <div class="col-md-12" style="font-size:35px;">
                                        {{dashCtrl.verifiedVendorCount}}
                                    </div>
                                    <div class="col-md-12">
                                        {{'VER_VENDOR'|translate}}
                                    </div>
                                </div>
                            </div>
                            <button class="panel-footer" ng-click="dashCtrl.goToVerifiedVendor()"  style="border:1px solid #FFA500;color:#FFA500;width:100%;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            {{'VIEW_DETAIL'|translate}}
                                        </div>
                                        <div class="pull-right">
                                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <!--dashboard admin procurement-->
                <div class="row" ng-if="dashCtrl.adminProc == true">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default" style="background-color:#BB133E;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-4">
                                            <i class="fa fa-signal" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.procPerformanceValue}}%
                                            </div>
                                            <div class="col-md-12">
                                                Procurement Performance
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default" style="background-color:#00B0CA;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-3">
                                            <i class="fa fa-dollar" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.csValue}}%
                                            </div>
                                            <div class="col-md-12">
                                                Cost Saving
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel panel-default" style="background-color:#69BE28;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                            <i class="fa fa-dollar" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.polocal}}%
                                            </div>
                                            <div class="col-md-12">
                                                {{'SPEND_PO_LOC'|translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default" style="background-color:#E37222;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                            <i class="fa fa-dollar" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.ponat}}%
                                            </div>
                                            <div class="col-md-12">
                                                {{'SPEND_PO_NAS'|translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default" style="background-color:#ECB11F;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                            <i class="fa fa-dollar" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.point}}%
                                            </div>
                                            <div class="col-md-12">
                                                {{'SPEND_PO_INT'|translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--dashboard contract admin-->
                <div class="row" ng-if="dashCtrl.adminContract == true">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default" style="background-color:#BB133E;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-4">
                                            <i class="fa fa-signal" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.contractPerfValue}}%
                                            </div>
                                            <div class="col-md-12">
                                                Contract Performance
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default" style="background-color:#00B0CA;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-3">
                                            <i class="fa fa-dollar" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.contractCSValue}}%
                                            </div>
                                            <div class="col-md-12">
                                                Cost Saving
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel panel-default" style="background-color:#69BE28;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                            <i class="fa fa-dollar" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-12" style="font-size:35px;">
                                               {{dashCtrl.cvlocal}}%
                                            </div>
                                            <div class="col-md-12">
                                                Contract Spending<br />(Local)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default" style="background-color:#E37222;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                            <i class="fa fa-dollar" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.cvnational}}%
                                            </div>
                                            <div class="col-md-12">
                                                Contract Spending<br />(National)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default" style="background-color:#ECB11F;color:white;">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                            <i class="fa fa-dollar" style="font-size:55px; margin-top:5px;margin-left:0px;margin-bottom:5px;"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-12" style="font-size:35px;">
                                                {{dashCtrl.cvint}}%
                                            </div>
                                            <div class="col-md-12">
                                                Contract Spending<br />(International)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--tambahan-->
                <!--dashboard CSMS, sementara proc.support
                <div class="row margin-atas" ng-if="dashCtrl.adminVM == true">
                    <div class="col-md-12" style="padding-top: 10px;">
                        <h4 class="afta-font" style="margin-top: 0px;"><i class="fa fa-bar-chart"></i> CSMS</h4>
                    </div>
                </div>
                <div ng-if="dashCtrl.adminVM == true" class="row">
                    <div class="col-md-12">
                        <uib-tabset>
                            <uib-tab>
                                <uib-tab-heading>
                                    Main
                                </uib-tab-heading>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label><br /></label>
                                            <div class="input-group date form_datetime">
                                                <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="dashCtrl.datepickeroptions" close-text="{{'TUTUP'|translate}}"
                                                       is-open="dashCtrl.isCalendarOpened[0]" ng-model="dashCtrl.CSMS_maindate" ng-change="dashCtrl.loadCSMS_maindate()"
                                                       ng-click="dashCtrl.openCalendar(0)" disabled />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" disabled ng-click="dashCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row margin-atas">
                                            <div class="vale-green-padding text-center">Contractor General Information</div>
                                            <div class="col-md-4 margin-atas text-center">
                                                <button class="circle-vale-green">0%</button>
                                                <br /><br />
                                                <label>CPR CSMS Compliance</label> 
                                            </div>
                                            <div class="col-md-4 margin-atas text-center">
                                                <button class="circle-vale-green">0%</button>
                                                <br /><br />
                                                <label>Safety Compliance</label> 
                                            </div>
                                            <div class="col-md-4 margin-atas text-center">
                                                <button class="circle-vale-green text-center">0%</button>
                                                <br /><br />
                                                <label>Number of Active Contract</label> 
                                            </div>
                                        </div>
                                        <div class="row margin-atas">
                                            <div class="vale-green-padding text-center">CPR CSMS Compliance</div>
                                            <div class="col-md-12 margin-atas text-center">
                                                <canvas id="bar" class="chart chart-bar" chart-data="dashCtrl.data" chart-options="dashCtrl.options" chart-labels="dashCtrl.labels" chart-series="dashCtrl.series"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab>
                                <uib-tab-heading>
                                    Department
                                </uib-tab-heading>
                                <div class="row">
                                    <div class="col-md-12">
                                        :)
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab>
                                <uib-tab-heading>
                                    Project Manager
                                </uib-tab-heading>
                                <div class="row">
                                    <div class="col-md-12">
                                        :)
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
                    -->
			</div>
		</div>
		<div class="box box-info" ng-show="dashCtrl.appCount > 0">
			<div class="box-body">
				<div class="row">
					<form method="post" role="form" ng-submit="dashCtrl.onSearchClick(dashCtrl.appSrcText)">
						<div class="col-md-8">
							<h3 class="afta-font judul-datatabel">{{'APP_PENGADAAN' | translate}}</h3>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" ng-model="dashCtrl.appSrcText" placeholder="{{SRC_PLACEHOLDER | translate}}">
								<span class="input-group-btn">
									<button ng-click="dashCtrl.onSearchClick(dashCtrl.appSrcText)" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SRC_BUTTON' | translate}}">
										<i class="fa fa-search"></i>&nbsp; 
									</button>
								</span>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col-md-7">
						<pagination ng-show="dashCtrl.appCount > 10" total-items="dashCtrl.appCount" page="dashCtrl.page" items-per-page="dashCtrl.appPageSize"
									max-size="10" on-select-page="dashCtrl.loadApproval(page)"></pagination>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px;">{{'TABLE.NO' | translate}}</th>
										<th class="text-center" style="vertical-align: middle;">{{'TABLE.NAMA_PENGADAAN' | translate}}</th>
										<th class="text-center" style="vertical-align: middle;">{{'TABLE.TAHAPAN' | translate}}</th>
										<th class="text-center" style="vertical-align: middle; width: 120px; min-width: 120px;">{{'TABLE.MULAI' | translate}}</th>
										<th class="text-center" style="vertical-align: middle; width: 120px; min-width: 120px;">{{'TABLE.SELESAI' | translate}}</th>
										<th class="text-center" style="vertical-align: middle; width: 100px; min-width: 100px;">{{'TABLE.STATUS' | translate}}</th>
										<th class="text-center" style="width: 20px; min-width: 20px; vertical-align: middle;"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="a in dashCtrl.approval">
										<td class="text-center" style="vertical-align: middle;">{{dashCtrl.appPageSize * (dashCtrl.appCurrPage - 1) + $index + 1}}</td>
										<td style="vertical-align: middle;">{{a.nama_paket}}</td>
										<td style="vertical-align: middle;">{{a.nama_tahapan}}</td>
										<td class="text-center" style="vertical-align: middle;">{{a.tgl_mulai}}</td>
										<td class="text-center" style="vertical-align: middle;">{{a.tgl_selesai}}</td>
										<td class="text-center" style="vertical-align: middle;">{{a.status}}</td>
										<td class="text-center" style="vertical-align: middle;">
											<a class="btn btn-flat btn-sm btn-warning" ng-click="dashCtrl.onMenujuAppClick(a)"><i class='fa fa-external-link' title="{{'MENUJU_HALAMAN_APPROVAL' | translate}}"></i></a>
										</td>
									</tr>
									<tr ng-if="dashCtrl.appCount === 0"><td colspan="5">{{'TIDAK_ADA_DATA' | translate}}</td></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<pagination ng-show="dashCtrl.appCount > 10" total-items="dashCtrl.appCount" page="dashCtrl.page" items-per-page="dashCtrl.appPageSize"
									max-size="10" on-select-page="dashCtrl.loadApproval(page)"></pagination>
						<br /><label>{{'TOTAL_DATA' | translate}} : {{dashCtrl.appCount}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>