﻿<div id="idTambahDepartemen" class="modal-content" ng-init="EditLocalAreaCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="EditLocalAreaCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel" ng-if="EditLocalAreaCtrl.isAdd == 1">Tambah Area</h3>
        <h3 class="modal-title afta-font" id="myModalLabel" ng-if="EditLocalAreaCtrl.isAdd == 0">Ubah Area</h3>
        <h3 class="modal-title afta-font" id="myModalLabel" ng-if="EditLocalAreaCtrl.isAdd == 2">Detail Area</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="form-group">
                    <label>{{'LOCAL_NAME' | translate}}</label>
                    <input ng-disabled="EditLocalAreaCtrl.isAdd == 2" type="text" ng-model="EditLocalAreaCtrl.name" class="form-control input-sm" required>
                </div>
            </div>
            <div ng-if="EditLocalAreaCtrl.isAdd != 2" class="col-md-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'DISTRICT_NAME' | translate}}</label>
                            <select class="form-control input-sm" ng-model="EditLocalAreaCtrl.selectedDistrict"
                                    ng-options="item as item.Name for item in EditLocalAreaCtrl.listDistrict">
                                <option> --- Kecamatan ---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 margintop20">
                        <div class="form-group">
                           <a class="btn btn-sm btn-primary" ng-click="EditLocalAreaCtrl.changeDistrict()">
                               <i class="fa fa-plus-circle"></i> Tambah
                           </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px">{{'TABLE.NO' | translate}}</th>
                                <th class="text-center" style="vertical-align: middle; width: 80px; min-width: 80px">Kecamatan</th>
                                <th ng-if="EditLocalAreaCtrl.isAdd != 2" class="text-center" style="vertical-align: middle; width: 60px; min-width: 60px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ba in EditLocalAreaCtrl.listLocalArea">
                                <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{ba.Name}}</td>
                                <td ng-if="EditLocalAreaCtrl.isAdd != 2" class="text-center" style="vertical-align: middle;">
                                    <a ng-click="EditLocalAreaCtrl.deleteRow($index)" class="btn btn-flat btn-xs btn-danger" title="Delete">
                                        <i class='fa fa-trash-o'></i>&nbsp;
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="EditLocalAreaCtrl.listLocalArea.length == 0">
                                <td colspan="3">No data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="EditLocalAreaCtrl.batal()" title="Batal">
            <i class="fa fa-reply"></i>
        </button>
        <button ng-if="EditLocalAreaCtrl.isAdd != 2" type="button" class="btn btn-flat btn-success" ng-click="EditLocalAreaCtrl.simpan()" title="Simpan">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>
