﻿<!-- Main content -->
<div ng-init="detaildataUploadCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/monitoring-po">{{'BREADCRUMB.MONITORING' | translate}}</a></li>
            <li><a href="#/dataupload-po">{{'BREADCRUMB.DATA_UPLOAD_PO' | translate}}</a></li>
            <li><a class="active">{{'BREADCRUMB.DETAIL_UPLOAD_PO' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'JUDUL_DETAIL'|translate}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped" >
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'RFQ Code' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.VENDOR_CODE' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.CREATED_DATE' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.PO_NUMBER' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.PO_ITEM' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.MATERIAL_NUMBER' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.Preq_No' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.Preq_Item' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.Agreement' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.Agmt_Item' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.QTY' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.UM' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.ShortText' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.Mfr_No' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.Mfr_Name' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.Manu_Mat' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle; ">{{'TABLE.Purch_OrderText' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.PO_ItemText' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.TariffCode' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.ConcessCat' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.DelivDate' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.Currency' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.NET_PRICE_PO' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.TOTAL_PRICE_PO' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.BuyerRemark' | translate }}</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="data in detaildataUploadCtrl.listItemPO">

                                                <td style="vertical-align: middle;">{{detaildataUploadCtrl.currentPage > 1 ? (detaildataUploadCtrl.maxSize * (detaildataUploadCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{data.RFQCode}}</td>
                                                <td style="vertical-align: middle;">{{data.VendorCodeSAP}}</td>
                                                <td style="vertical-align: middle;">{{data.CreatedDate}}</td>
                                                <td style="vertical-align: middle;">{{data.PONumber}}</td>
                                                <td style="vertical-align: middle;">{{data.POItem}}</td>
                                                <td style="vertical-align: middle;">{{data.MaterialNumber}}</td>
                                                <td style="vertical-align: middle;">{{data.Preq_No}}</td>
                                                <td style="vertical-align: middle;">{{data.Preq_Item}}</td>
                                                <td style="vertical-align: middle;">{{data.Agreement}}</td>
                                                <td style="vertical-align: middle;">{{data.Agmt_Item}}</td>
                                                <td style="vertical-align: middle;">{{data.Qty}}</td>
                                                <td style="vertical-align: middle;">{{data.UnitMeasure}}</td>
                                                <td style="vertical-align: middle;">{{data.ShortText}}</td>
                                                <td style="vertical-align: middle;">{{data.Mfr_No}}</td>
                                                <td style="vertical-align: middle;">{{data.Mfr_Name}}</td>
                                                <td style="vertical-align: middle;">{{data.Manu_Mat}}</td>
                                                <td style="vertical-align: middle;">{{data.Purch_OrderText}}</td>
                                                <td style="vertical-align: middle;">{{data.PO_ItemText}}</td>
                                                <td style="vertical-align: middle;">{{data.TariffCode}}</td>
                                                <td style="vertical-align: middle;">{{data.ConcessCat}}</td>
                                                <td style="vertical-align: middle;">{{data.DelivDate}}</td>
                                                <td style="vertical-align: middle;">{{data.Currency}}</td>
                                                <td style="vertical-align: middle;">{{data.NettPricePO}}</td>
                                                <td style="vertical-align: middle;">{{data.TotalPricePO}}</td>
                                                <td style="vertical-align: middle;">{{data.BuyerRemark}}</td>
                                            </tr>
                                            <tr ng-if="detaildataUploadCtrl.totalItems === 0">
                                                <td colspan="13">{{'TIDAK_ADA_DATA' | translate }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>{{'TOTAL_DATA' | translate }} : {{detaildataUploadCtrl.totalItems}}</label>
                            </div>
                            <div class="col-md-10">
                                <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="detaildataUploadCtrl.totalItems" ng-model="detaildataUploadCtrl.currentPage"
                                    class="pagination-sm" previous-text="&lsaquo;" max-number="detaildataUploadCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                    ng-change="detaildataUploadCtrl.loadData(detaildataUploadCtrl.currentPage)" max-size="10"></ul>

                            </div>
                            <div class="col-md-12 text-right">

                                <a href="#/dataupload-po" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
                                    <i class="fa fa-arrow-left"></i>{{'BACK' | translate}}

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
