﻿
<style type="text/css">
	.hide-bullets {
		list-style: none;
		margin-left: -40px;
		margin-top: 20px;
	}

	img.fit {
		-o-object-fit: contain;
		object-fit: contain;
		-o-object-position: top 75%;
		object-position: top 75%;
	}

	#leftcol {
		position: absolute;
		top: 0px;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow-y: auto;
		height: 350px;
	}

		#leftcol ul li {
			list-style: none;
			color: #2a6496;
		}

	#rightcol {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		overflow-y: scroll;
		width: 25%;
		height: 400px;
	}

	[ng-cloak] {
		display: none !important;
	}


</style>
<link rel="stylesheet" type="text/css" href="assets/css/rolas-design.css" />
<script type="text/javascript" src="app/common/global.directive.js?v=1.000002"></script>
<script type="text/javascript" src="app/layouts/visitor-menu.directive.js"></script>
<script type="text/javascript" src="app/layouts/admin-top-menu.js"></script>
<script type="text/javascript" src="app/layouts/page-header.directive.js"></script>
<script type="text/javascript" src="app/layouts/sidemenu.directive.js"></script>
<script type="text/javascript" src="app/layouts/eproc-menu.directive.js"></script>
<script type="text/javascript" src="app/layouts/page-footer.directive.js"></script>
<!-- Header Carousel -->
<div ng-cloak id="visitor" class=" no-pad" ng-init="homeCtrl.initialize()">

	<div id="carousel-example" class="carousel slide" style="margin-bottom:20px;" data-ride="carousel">
		<div class="carousel-caption" style="right: 3%;
        text-align: right;
        max-width: 300px;
        left: auto;
        padding-bottom: 50px;">
			<!-- <a href="{{$root.adminhost}}#login" target="_blank" ng-if="!$root.isLogged">
				<button class="btn btn-danger" style="height: 50px;"><i class="fa fa-sign-in"></i> LOGIN ADMIN</button>
			</a> -->
		</div>
		<div class="carousel-inner">
			<uib-carousel active="homeCtrl.activeSlide" interval="3000" no-wrap="noWrapSlides">
				<uib-slide ng-repeat="slide in main.pageComponent.CAROUSEL" index="$index">
					<img class="heightslide" ng-src="{{slide}}" style="margin:auto;width:100%;height:500px;margin-top:30px">
				</uib-slide>
			</uib-carousel>
		</div>

	</div>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$('#carousel-text').html($('#slide-content-0').html());

			//Handles the carousel thumbnails
			$('[id^=carousel-selector-]').click(function () {
				var id = this.id.substr(this.id.lastIndexOf("-") + 1);
				var id = parseInt(id);
				$('#myCarousel').carousel(id);
			});

			// When the carousel slides, auto update the text
			$('#myCarousel').on('slid.bs.carousel', function (e) {
				var id = $('.item.active').data('slide-number');
				$('#carousel-text').html($('#slide-content-' + id).html());
			});
		});
	</script>
	<div id="content">
		<div class="container">
			<div class="row ">
				<div class="col-lg-12">
					<h1 class="page-header afta-font text-center" style="margin-top: 0px;margin-bottom: 0px;border-bottom: 0px;">e-Procurement PT Petrosea Tbk</h1>
				</div>
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="panel panel-default" style="border-color: white;">
							<div class="panel-heading" style="background:#00694f;border-top-left-radius:10px;border-top-right-radius:10px">
								<h4 class="afta-font" style="color:#ffffff"><i class="fa fa-filter"></i> {{'PANEL.HEADING_1' | translate}}</h4>
							</div>
							<div class="panel-body" style="height:120px;background: #f5f3ff;">
								<p>{{'PANEL.CONTENT_1' | translate}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default" style="border-color: white;">
							<div class="panel-heading" style="background:#00694f;border-top-left-radius:10px;border-top-right-radius:10px">
								<h4 class="afta-font" style="color:#ffffff"><i class="fa fa-fw fa-compass"></i> {{'PANEL.HEADING_2' | translate}}</h4>
							</div>
							<div class="panel-body" style="height:120px;background:#f5f3ff">
								<p>{{'PANEL.CONTENT_2' | translate}}</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default" style="border-color: white;">
							<div class="panel-heading" style="background:#00694f;border-top-left-radius:10px;border-top-right-radius:10px ">
								<h4 class="afta-font" style="color:#ffffff"><i class="fa fa-fw fa-mobile"></i> {{'PANEL.HEADING_3' | translate}}</h4>
							</div>
							<div class="panel-body" style="background:#f5f3ff">
								<p>{{'PANEL.CONTENT_3' | translate}}</p>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="col-md-12">
						<h2 class="page-header afta-font" style="margin: 5px 0px 20px 0px!important;">{{'CALL' | translate}}</h2>
					</div>
					<div class="col-md-12">
						<p class="afta-font" style="font-size: 1.5em!important; margin-bottom: 15px!important;">PT Petrosea Tbk : </p>
						<ul style="line-height: 1.8em!important;">
							<li>
								<strong>{{ 'kantor-pusat' | translate }} : </strong><br> Indy Bintaro Office Park, Building B, <br> Jl. Boulevard Bintaro Jaya Blok B7/A6
								Sektor VII, CBD Bintaro Jaya
								Tangerang Selatan 15424 - Indonesia
							</li>
							<li>
								<strong>{{'cell' | translate}} : </strong> +62 21 29770999 / +62 21 29770988
							</li>
                            <li>
                                <strong>{{'email' | translate}} : </strong> SCMBusinessProcess@petrosea.com
                            </li>
						</ul>
						<br />
						<p style="text-align: justify!important;">
							{{'ARTICLE.TITLE_LINE_1' | translate}}
						</p>
						<p style="text-align: justify!important;">
							{{'ARTICLE.CONTENT' | translate}}
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="col-md-12">
						<h2 class="page-header afta-font" style="margin: 5px 0px 20px 0px!important;">{{'News' | translate}}</h2>
					</div>
					<div class="col-md-12">
						<div ng-if="homeCtrl.news.length <= 0"><div class="alert alert-info">{{'NODATA.NEWS' | translate}}</div></div>

						<div id="leftcol">
							<li ng-repeat="b in homeCtrl.news">
								<i class="fa fa-laptop"></i>&nbsp; <a style="cursor:pointer" ng-click="homeCtrl.gotofrontnews(b.NewsID)">{{b.NewsTitle}}</a>
							</li>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<page-footer></page-footer>