﻿<section class="content" ng-init="dmepCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.DAFTAR_KRITERIA'|translate}}</a></li>
    </ol>

    <div id="divLevel1" class="row">
        <div class="col-md-10 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center center-block">
                                <h3 class="afta-font" style="font-size: 1.6em; margin-top: 0px;">{{'DAFTAR_KRITERIA_EVALUASI'|translate}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important; padding-top: 10px;">
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-md-6">
                                    <div class="form-inline" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label>{{'NAMA_METODE_EVALUASI'|translate}} &nbsp; :</label>
                                            <label>{{dmepCtrl.namaMetode}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <!--CPR-->
                                <tree-grid on-select="dmepCtrl.onSelectTree(branch)" ng-show="dmepCtrl.sudahMengaturLevel1 === true && dmepCtrl.flagShow == false" col-defs="dmepCtrl.col_defsc" tree-data="dmepCtrl.kriteria" expand-on="dmepCtrl.expanding_property"></tree-grid>
                                <!--VHS-->
                                <tree-grid on-select="dmepCtrl.onSelectTree(branch)" ng-show="dmepCtrl.sudahMengaturLevel1 === true && dmepCtrl.flagShow == true" col-defs="dmepCtrl.col_defsv" tree-data="dmepCtrl.kriteria" expand-on="dmepCtrl.expanding_property"></tree-grid>
                                <table ng-show="dmepCtrl.sudahMengaturLevel1 === false" id="level1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 30px; min-width: 30px; vertical-align: middle;">
                                                <input ng-disabled="kri.IsReadOnly" type="checkbox" ng-model="dmepCtrl.allChecked" ng-change="dmepCtrl.onCheckAll()" />
                                            </th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.KRITERIA_EVALUASI'|translate}}</th>
                                            <th ng-show="dmepCtrl.flagShow == true" class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'TABLE.BOBOT'|translate}} (%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="kri in dmepCtrl.kriteria">
                                            <td class="text-center" style="vertical-align: middle;">
                                                <input ng-disabled="kri.IsReadOnly" type="checkbox" ng-model="kri.checked" ng-change="dmepCtrl.onCheck()"/>
                                            </td>
                                            <td style="vertical-align: middle;">
                                                {{kri.CriteriaName}}
                                            </td>
                                            <td ng-show="dmepCtrl.flagShow == true" class="text-center" style="vertical-align: middle;">
                                                <span ng-if="kri.checked === true">
                                                    <input type="number" min="0" max="100" ng-model="kri.Weight" />
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--
                                <pagination total-items="totalItems" page="currentPage" items-per-page="10"
                                            max-size="maxSize" on-select-page="jLoad(page)"></pagination>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="center-block text-center">
                <a class="btn btn-primary btn-flat" ng-show="dmepCtrl.sudahMengaturLevel1 === false" ng-click="dmepCtrl.save()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</a>
                <a class="btn btn-flat btn-primary" ng-click="dmepCtrl.back()" title="{{'KEMBALI'|translate}}"><i class="fa fa-reply"></i>&nbsp;</a>&nbsp;
                <!--<a class="btn btn-flat btn-warning" ng-show="dmepCtrl.sudahMengaturLevel1 === true" ng-click="dmepCtrl.ubahDetailLevel1()" title="{{'UBAH'|translate}}"><i class="fa fa-edit"></i>&nbsp;</a>-->
            </div>
        </div>
    </div>
</section>
