﻿<div id="modalUtama" class="modal-content" ng-init="level2Ctrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="level2Ctrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar{{''|translate}}</span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'UBAH_KRITERIA_METODE_EVALUASI'|translate}}</h3>
        <h4>{{level2Ctrl.Lvl1CriteriaName}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 center-block" style="float: none!important;">
                <div class="table table-responsive" id="tableUbahDtl">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="center-vertical" style="width: 30px; min-width: 30px; vertical-align: middle;">
                                    <input type="checkbox" ng-model="level2Ctrl.allChecked" ng-change="level2Ctrl.onCheckAll()" />
                                </th>
                                <th class="center-vertical">{{'TABLE.KRITERIA_EVALUASI'|translate}}</th>
                                <th class="center-vertical" style="width: 80px; min-width: 80px;" ng-show="!level2Ctrl.isAdd"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="level2Ctrl.hasChild" ng-repeat="kri in level2Ctrl.kriteria">
                                <td class="text-center" style="vertical-align: middle;">
                                    <input ng-disabled="kri.IsReadOnly" type="checkbox" ng-model="kri.checked"/>
                                </td>
                                <td style="vertical-align: middle;">
                                    {{kri.CriteriaName}}
                                </td>
                                <td style="vertical-align: middle;" ng-show="kri.checked && !level2Ctrl.isAdd">
                                    <button class="btn btn-flat btn-sm btn-warning" ng-click="level2Ctrl.detail(kri)" title="{{'DETAIL'|translate}}"><i class="fa fa-external-link"></i></button>
                                </td>
                            </tr>
                            <tr ng-show="level2Ctrl.hasChild === false">
                                <td colspan="2">{{'NO_SUB'|translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="level2Ctrl.cancel()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button ng-show="level2Ctrl.hasChild === true" ng-click="level2Ctrl.simpan()" type="button" class="btn btn-flat btn-success" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>
