<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="container-fluid" ng-init="DataAdministrasiCtrl.initialize()">
	<ol class="breadcrumb" style="margin-top:20px;">
        <li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.ADMINISTRATION_DATA' | translate}}</a></li>
	</ol>
	<div class="box">
        <div class="box-body">
            <div class="row" style="padding-top: 20px!important; margin-bottom: 20px;">
                <div class="container-fluid">
                    <div class="col-md-12" style="float: none!important;">
                        <h3 class="text-center afta-font">{{'BREADCRUMB.ADMINISTRATION_DATA' | translate}}</h3>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="DataAdministrasiCtrl.isCR===true">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF1_ADMINISTRATION' | translate}} {{DataAdministrasiCtrl.Isverified}}<strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
                    </div>
                </div>
            </div>
            <div class="row" ng-if="DataAdministrasiCtrl.CRBF===true && DataAdministrasiCtrl.isVerified === 1">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF1_FIELD' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
                    </div>
                </div>
            </div>
            <div class="row" ng-if="DataAdministrasiCtrl.revisiVendor">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable text-center">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF_DLU' | translate}} <strong> {{DataAdministrasiCtrl.revisiName}}</strong> {{'MESSAGE.NOTIF_TIDAK_VALID' | translate}} <button class="btn btn-xs btn-warning" ng-click="DataAdministrasiCtrl.revisiVendorDetail()" title="{{'DETAIL' | translate}}"><i class="fa fa-eye"></i> {{'DETAIL' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="DataAdministrasiCtrl.isCR===true || !(DataAdministrasiCtrl.isVerified)">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable text-center">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.DATA_SIMPAN' | translate}} <strong> {{'SAVE' | translate}}</strong> {{'MESSAGE.DATA_SIMPAN2' | translate}}
                    </div>
                </div>
            </div>
            <!-- <div class="row" ng-if="DataAdministrasiCtrl.change">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable text-center">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.DATA_SIMPAN3' | translate}}
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row blok" style="padding-top: 20px!important;">
                        <!-- right column -->
                        <!--<div class="col-md-12 col-sm-12"
                             style="float:center!important;border:solid 1px #cccccc!important; border-radius: 2px!important; padding: 20px!important;">-->
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-3" ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'"">
                                    <div class="form-group">
                                        <label>{{'COMPANY.COUNTRY' | translate}} <span style="color: red;">*</span></label><br />
                                        <!--<select ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false || DataAdministrasiCtrl.vendorCategoryID == 32" required class="form-control"
                                        ng-model="DataAdministrasiCtrl.selectedCountryAdmin"
                                        ng-change="DataAdministrasiCtrl.loadStateAdmin()"
                                        ng-options="item as item.Name for item in DataAdministrasiCtrl.listCountryAdmin">
                                    <option value="" selected disabled class="text-center">--{{"FORM.COUNTRY" | translate}}--</option>
                                </select>-->
                                        <selectize name="selectModule" placeholder="Country" ng-change='DataAdministrasiCtrl.defineCountry(DataAdministrasiCtrl.countryID)'
                                                   options="DataAdministrasiCtrl.listCountryAdmin" config="DataAdministrasiCtrl.myConfig" ng-model="DataAdministrasiCtrl.countryID" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false || DataAdministrasiCtrl.vendorCategoryID == 32 || DataAdministrasiCtrl.vendorCategoryID == 33"></selectize>
                                        <small>{{'REGION_TYPE'| translate}}: {{DataAdministrasiCtrl.listRegionAdmin.Name}}</small>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code !== 'IDN'">
                                    <div class="form-group">
                                        <label>{{'COMPANY.COUNTRY' | translate}} <span style="color: red;">*</span></label><br />
                                        <selectize name="selectModule" placeholder="Country" ng-change='DataAdministrasiCtrl.defineCountry(DataAdministrasiCtrl.countryID)'
                                                   options="DataAdministrasiCtrl.listCountryAdmin" config="DataAdministrasiCtrl.myConfig" ng-model="DataAdministrasiCtrl.countryID" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false || DataAdministrasiCtrl.vendorCategoryID == 32"></selectize>
                                        <small>{{'REGION_TYPE'| translate}}: {{DataAdministrasiCtrl.listRegionAdmin.Name}}</small>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'COMPANY.STATE' | translate}} <span style="color: red;">*</span></label><br />
                                        <selectize name="selectModule" placeholder="State" ng-change='DataAdministrasiCtrl.defineStateID(DataAdministrasiCtrl.stateID)'
                                                   options="DataAdministrasiCtrl.listStateAdmin" config="DataAdministrasiCtrl.myConfig2" ng-model="DataAdministrasiCtrl.stateID"
                                                   ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.vendorCategoryID == 32 || DataAdministrasiCtrl.countryID == undefined"></selectize>
                                        <!--<select required class="form-control"
                                        ng-model="DataAdministrasiCtrl.selectedStateAdmin"
                                        ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listStateAdmin"
                                        ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.vendorCategoryID == 32"
                                        ng-change="DataAdministrasiCtrl.loadCityAdmin()">
                                    <option value="" selected disabled>--- {{'STATE_TYPE' | translate}} ---</option>
                                </select>-->
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'">
                                    <div class="form-group">
                                        <label>{{'COMPANY.CITY' | translate}} <span style="color: red;">*</span></label><br />
                                        <selectize ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false || DataAdministrasiCtrl.vendorCategoryID == 32 || DataAdministrasiCtrl.stateID == undefined" name="selectModule" placeholder="City"
                                                   ng-change='DataAdministrasiCtrl.defineCity(DataAdministrasiCtrl.cityID)'
                                                   options="DataAdministrasiCtrl.listCityAdmin" config="DataAdministrasiCtrl.myConfig3" ng-model="DataAdministrasiCtrl.cityID"></selectize>

                                        <!--<select ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false || DataAdministrasiCtrl.vendorCategoryID == 32" required class="form-control"
                                        ng-model="DataAdministrasiCtrl.selectedCityAdmin"
                                        ng-change="DataAdministrasiCtrl.loadDistrictAdmin()"
                                        ng-options="item as item.Name for item in DataAdministrasiCtrl.listCityAdmin">
                                    <option value="" selected disabled class="text-center">--{{"FORM.CITY" | translate}}--</option>
                                </select>-->
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'">
                                    <div class="form-group">
                                        <label>{{'COMPANY.DISTRICT' | translate}} <span style="color: red;">*</span></label><br />

                                        <selectize ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.cityID == undefined" name="selectModule" placeholder="District"
                                                   ng-change='DataAdministrasiCtrl.defineDistrict(DataAdministrasiCtrl.districtID)'
                                                   options="DataAdministrasiCtrl.listDistrictAdmin" config="DataAdministrasiCtrl.myConfig4" ng-model="DataAdministrasiCtrl.districtID"></selectize>

                                        <!--<select required class="form-control"
                                        ng-model="DataAdministrasiCtrl.selectedDistrictAdmin"
                                        ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listDistrictAdmin"
                                        ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true">
                                    <option value="" selected disabled>--- {{'STATE_TYPE' | translate}} ---</option>
                                </select>-->
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'COMPANY_NAME' | translate}} <span style="color: red;">*</span></label><br />
                                        <input type="text" class="form-control" ng-model="DataAdministrasiCtrl.administrasi.VendorName" required disabled/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'USERNAME_VENDOR' | translate}} <span style="color: red;">*</span></label><br />
                                        <!--<input ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false" type="text" class="form-control" ng-model="DataAdministrasiCtrl.Username" ng-blur="DataAdministrasiCtrl.CheckUsername()" />-->
                                        <input type="text" class="form-control" ng-model="DataAdministrasiCtrl.Username" required disabled />
                                        <!--<input type="text" class="form-control" masking-npwp placeholder="Format NPWP : xx.xxx.xxx.x-xxx.xxx" ng-model="DataAdministrasiCtrl.administrasi.Npwp" required disabled="true" />-->
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'CODE_VENDOR' | translate}}</label><br />
                                        <label style="padding-top: 5px; font-weight: normal;">{{DataAdministrasiCtrl.administrasi.Code}}</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'TENDER_CODE' | translate}}</label><br />
                                        <label style="padding-top: 5px; font-weight: normal;">{{DataAdministrasiCtrl.administrasi.TenderCodeTemp}}</label>
                                        <label ng-if="DataAdministrasiCtrl.administrasi.TenderCodeTemp === null" style="padding-top: 5px; font-weight: normal;">{{'No' | translate}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!--<div class="col-md-3">
                            <div class="form-group">
                                <label>{{'START_DATE' | translate}} *</label>
                                <div class="input-group date form_datetime" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true">
                                    <input name="foundedDate" style="background-color: #ffffff;" readonly required class="form-control" size="16" placeholder="{{'FORM.TGL_BERDIRI' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="DataAdministrasiCtrl.isCalendarOpened[0]" ng-model="DataAdministrasiCtrl.administrasiDate.StartDate" ng-click="DataAdministrasiCtrl.openCalendar(0)"  />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="DataAdministrasiCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <div class="input-group date form_datetime"  ng-if="DataAdministrasiCtrl.isApprovedCRAdm === false" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false">
                                    <input name="foundedDate" readonly required class="form-control" size="16" placeholder="{{'FORM.TGL_BERDIRI' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="DataAdministrasiCtrl.isCalendarOpened[0]" ng-model="DataAdministrasiCtrl.administrasiDate.StartDate" ng-click="DataAdministrasiCtrl.openCalendar(0)" />
                                    <span class="input-group-btn" >
                                        <button type="button" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false" class="btn btn-default" ng-click="DataAdministrasiCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Website</label><br />
                                        <input ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false || DataAdministrasiCtrl.vendorCategoryID == 32" type="text" class="form-control" ng-model="DataAdministrasiCtrl.Website" maxlength="64" ng-change="DataAdministrasiCtrl.changeForm()"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'Phone' | translate}} <span style="color: red;">*</span></label><br />
                                        <selectize required name="selectModule" placeholder="Country Code" ng-change="DataAdministrasiCtrl.changePhone(DataAdministrasiCtrl.phone)"
                                                   options="DataAdministrasiCtrl.phoneCodeList" config="DataAdministrasiCtrl.myConfig5" ng-model="DataAdministrasiCtrl.phone"
                                                   ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false"></selectize>
                                        <!--<select required class="form-control" style="margin-bottom:0px !important;"
                                        name="countryCode"
                                        ng-model="DataAdministrasiCtrl.phoneCode" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false"
                                        ng-options="item as item.Name + '(' + item.PhonePrefix + ')' for item in DataAdministrasiCtrl.phoneCodeList">
                                    <option value="" selected disabled>{{'PHONECODE' | translate}}</option>
                                </select>-->
                                        <i class="font10">
                                            {{'FORM.COUNTRY_CODE' | translate}} <span style="color: red;">*</span>
                                        </i>
                                        <div class="input-group">
                                            <input style="width: 80px; margin-right:10px;"
                                                   onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="text" class="form-control" placeholder="{{'FORM.AREA_CODE' | translate}}"
                                                   ng-model="DataAdministrasiCtrl.AreaCode" maxlength="5" ng-change="DataAdministrasiCtrl.changeForm()">
                                            <span class="input-group">
                                                <input required class="form-control" style="margin-bottom:0px !important;"
                                                       placeholder="{{'FORM.NO_TELP' | translate}}*" name="contactPhone" maxlength="16" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                                       ng-model="DataAdministrasiCtrl.Phone" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false" ng-change="DataAdministrasiCtrl.changeForm()"/>
                                            </span>
                                        </div>
                                        <i class="font10" style="margin-right:20px;">
                                            {{'FORM.AREA_CODE' | translate}}
                                        </i>
                                        <i class="font10">
                                            {{'FORM.PHONE_FORMAT' | translate}}
                                        </i>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'EMAIL_VENDOR' | translate}} <span style="color: red;">*</span></label><br />
                                        <input type="email" class="form-control" required ng-model="DataAdministrasiCtrl.Email" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false" maxlength="64" ng-change="DataAdministrasiCtrl.changeForm()"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'COMPANY_FAX' | translate}}</label><br />
                                        <input ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false" type="text" class="form-control" ng-model="DataAdministrasiCtrl.fax" maxlength="32" ng-change="DataAdministrasiCtrl.changeForm()"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'">NPWP</label>
                                        <label ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code !== 'IDN'">Company Registration</label><br />
                                        <input type="text" class="form-control" masking-npwp placeholder="Format NPWP : xx.xxx.xxx.x-xxx.xxx" ng-model="DataAdministrasiCtrl.administrasi.Npwp" required disabled />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">
                                            <div ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'" style="display:inline-block!important;">{{'UPLOAD' | translate}} NPWP <span style="color: red;">*</span></div>
                                            <div ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code !== 'IDN'" style="display:inline-block!important;">{{'UPLOAD_CR' | translate}} Company Registration <span style="color: red;">*</span></div>
                                            <a href="" data-toggle="tooltip" data-placement="top" title="{{'NOTIF_UNGGAH' | translate}}">
                                                <i class="fa fa-info-circle fa-lg"></i>
                                            </a>
                                        </label>
                                        <input type="file" style="margin-bottom:0px !important;" class="form-control" ng-change="DataAdministrasiCtrl.changeForm()" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false || DataAdministrasiCtrl.administrasi.VendorCategoryID == 32" ng-file-select="DataAdministrasiCtrl.selectUpload()" ng-model="DataAdministrasiCtrl.fileUploadNPWP" name="ownerIDFile" required />
                                        <i class="font10"> (<span ng-repeat="ft in DataAdministrasiCtrl.idUploadConfigs1">{{ft.Name}}{{$last ? '' : ', '}}</span><span>/Size < {{DataAdministrasiCtrl.idUploadConfigs1[0].Size}} {{DataAdministrasiCtrl.idUploadConfigs1[0].SizeUnitName | translate}}</span> )</i>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'">{{'FILE' | translate}} NPWP </label>
                                        <label ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code !== 'IDN'">Company Registration</label>
                                        <a ng-show="DataAdministrasiCtrl.administrasi.NpwpUrl && DataAdministrasiCtrl.administrasi.VendorCategoryID == 33" href="{{DataAdministrasiCtrl.folderFile + DataAdministrasiCtrl.administrasi.NpwpUrl}}" target="_BLANK" class="form-control btn btn-sm btn-primary">
                                            <i class="fa fa-download"></i>&nbsp; {{'DOWNLOAD_NPWP' | translate}}
                                        </a>
                                        <a ng-show="DataAdministrasiCtrl.administrasi.NpwpUrl && DataAdministrasiCtrl.administrasi.VendorCategoryID == 32" ng-click="DataAdministrasiCtrl.downloadFileCivd(DataAdministrasiCtrl.administrasi.NpwpUrl,'NPWP')" class="form-control btn btn-sm btn-primary">
                                            <i class="fa fa-download"></i>&nbsp; {{'DOWNLOAD_NPWP' | translate}}
                                        </a>
                                        <a ng-show="!DataAdministrasiCtrl.administrasi.NpwpUrl" disabled href="javascript:void(0)" class="form-control btn btn-sm btn-default">
                                            <i class="fa fa-download"></i>&nbsp; {{'NO_DOWNLOAD_NPWP' | translate}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>No. SPPKP <span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" placeholder="No SPPKP Perusahaan" ng-model="DataAdministrasiCtrl.PKPNumber" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false" ng-change="DataAdministrasiCtrl.changeForm()"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{ 'UPLOAD' | translate}} <span style="color: red;">*</span>
                                            <a href="" data-toggle="tooltip" data-placement="top" title="{{'NOTIF_UNGGAH' | translate}}">
                                                <i class="fa fa-info-circle fa-lg"></i>
                                            </a>
                                            <small> ( <span ng-repeat="ft in DataAdministrasiCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{DataAdministrasiCtrl.idUploadConfigs[0].Size}} {{DataAdministrasiCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                        </label>
                                        <input type="file" class="form-control" ng-change="DataAdministrasiCtrl.changeForm()" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm === false" ng-file-select="DataAdministrasiCtrl.selectUpload()" ng-model="DataAdministrasiCtrl.fileUpload" name="ownerIDFile" required />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'FILE' | translate}} SPPKP</label><br />
                                        <a ng-show="DataAdministrasiCtrl.administrasi.PKPUrl" href="{{DataAdministrasiCtrl.folderFile + DataAdministrasiCtrl.administrasi.PKPUrl}}" target="_BLANK" class="form-control btn btn-sm btn-primary">
                                            <i class="fa fa-download"></i>&nbsp; {{ 'DOWNLOAD_SPPKP' | translate}}
                                        </a>
                                        <a ng-show="!DataAdministrasiCtrl.administrasi.PKPUrl" href="javascript:void(0)" disabled class="form-control btn btn-sm btn-default">
                                            <i class="fa fa-download"></i>&nbsp; {{ 'NO_DOWNLOAD_SPPKP' | translate}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'CMB_VENDOR_TYPE' | translate}} <span style="color: red;">*</span></label>
                                        <select required class="form-control input-sm" ng-model="DataAdministrasiCtrl.selectedTypeVendor"
                                                ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm == false  || DataAdministrasiCtrl.vendorCategoryID == 32"
                                                ng-options="item as item.Name | translate for item in DataAdministrasiCtrl.listTypeVendor"
                                                ng-change="DataAdministrasiCtrl.changeTypeVendor()">
                                            <option value="" selected disabled>-- {{'VENDOR_TYPE' | translate}} --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'PEMASOK_TYPE' | translate}}</label>
                                        <select class="form-control input-sm" ng-change="DataAdministrasiCtrl.changeForm()" ng-model="DataAdministrasiCtrl.selectedSupplier" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm == false"
                                                ng-options="item as item.Name | translate for item in DataAdministrasiCtrl.listSupplier">
                                            <option value="" selected disabled>
                                                -- {{'PEMASOK_TYPE' | translate}} --
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'">
                                    <div class="form-group">
                                        <label>{{'COMPANY_TYPE' | translate}} <span style="color: red;">*</span></label>
                                        <select required class="form-control input-sm"
                                                ng-model="DataAdministrasiCtrl.selectedBusinessEntity"
                                                ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.vendorCategoryID == 32"
                                                ng-change="DataAdministrasiCtrl.loadSelectedBusinessEntity(DataAdministrasiCtrl.selectedBusinessEntity)"
                                                ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listBusinessEntity"></select>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                        <div class="col-md-12">
                            <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                <i class="fa fa-money"></i>
                                {{'INFO_CURRENCY' | translate}}*
                            </legend>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control" ng-model="DataAdministrasiCtrl.Currency"
                                        ng-options="item as item.Symbol + ' | ' + item.Label for item in DataAdministrasiCtrl.currencyList">
                                    <option value="" selected disabled>--{{'FORM.MATA_UANG' | translate}}--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <button class="btn btn-sm btn-primary" ng-click="DataAdministrasiCtrl.addCurrency()" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true"><i class="fa fa-plus"></i> {{"BUTTONS.ADD" | translate}}</button>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No</th>
                                                <th class="text-center">{{'MONEY_TYPE' | translate}}</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="moneytype in DataAdministrasiCtrl.listCurrencies">
                                                <td class="text-center" ng-if="moneytype.IsActive === true">{{$index+1}}</td>
                                                <td class="text-center" ng-if="moneytype.IsActive === true">{{moneytype.MstCurrency.Symbol}} ({{moneytype.MstCurrency.Label}})</td>
                                                <td class="text-center" ng-if="moneytype.IsActive === true">
                                                    <button ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true" class="btn btn-xs btn-danger" ng-click="DataAdministrasiCtrl.deleteRowCurr($index, moneytype)" title="Hapus">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr ng-if="DataAdministrasiCtrl.listCurrencies.length === 0">
                                                <td colspan="3">{{'No' | translate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>-->
                            <!--<div class="row">
                        <div class="col-md-12">
                            <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                <i class="fa fa-area-chart"></i>
                                {{'TITLE_BIDUSAHA' | translate}}<span style="color: red;">*</span>
                            </legend>
                        </div>
                        <div class="col-md-12" ng-if="DataAdministrasiCtrl.pqWarning!=''">
                            <div class="alert alert-info alert-dismissable">
                                <strong>{{DataAdministrasiCtrl.pqWarning}}</strong>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="DataAdministrasiCtrl.isApprovedCRBF === true;">
                            <div class="form-group">
                                <label>{{'BUSINESS_FIELD' | translate}} </label>
                                <select required class="form-control"
                                        ng-model="DataAdministrasiCtrl.selectedBusinessField"
                                        ng-disabled="!DataAdministrasiCtrl.listBusinessField"
                                        ng-options="item as item.Name | translate  for item  in DataAdministrasiCtrl.listBusinessField"
                                        ng-change="DataAdministrasiCtrl.changeBussinesField()">
                                    <option value="" selected disabled>--- {{'BUSINESS_FIELD' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="DataAdministrasiCtrl.isApprovedCRBF === true && DataAdministrasiCtrl.selectedBusinessField.Name !== 'Lain - lain'">
                            <div class="form-group">
                                <label>{{'COMODITY' | translate}}</label>
                                <select required class="form-control" ng-model="DataAdministrasiCtrl.selectedComodity" ng-disabled="!DataAdministrasiCtrl.listComodity"
                                        ng-options="item as item.Name for item in DataAdministrasiCtrl.listComodity">
                                    <option value="" selected disabled>--- {{'COMODITY' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div  class="col-md-3 margintop25" ng-if="DataAdministrasiCtrl.isApprovedCRBF === true && DataAdministrasiCtrl.selectedBusinessField.Name == 'Lain - lain'">
                            <div class="form-group">
                                <input class="form-control" ng-model="DataAdministrasiCtrl.RemarkBusinessField" placeholder="Masukkan Alternatif Bidang Usaha" />
                            </div>
                        </div>
                        <div class="col-md-6 margintop25" ng-if="DataAdministrasiCtrl.isApprovedCRBF === true;">
                            <button ng-if="DataAdministrasiCtrl.isApprovedCRBF === true" ng-disabled="(DataAdministrasiCtrl.selectedBusinessField.Name == 'Lain - lain' && DataAdministrasiCtrl.RemarkBusinessField == undefined) || (DataAdministrasiCtrl.selectedBusinessField.Name == 'Lain - lain' && DataAdministrasiCtrl.RemarkBusinessField == '')" class="btn btn-sm btn-primary" ng-click="DataAdministrasiCtrl.addDetailBussinesField()" >
                                <i class="fa fa-plus-circle"></i> {{"BUTTONS.ADD" | translate}}
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No</th>
                                                <th class="text-center">{{'BUSINESS_FIELD' | translate}}</th>
                                                <th class="text-center">{{'COMODITY' | translate}}</th>
                                                <th width="10%" ng-if="DataAdministrasiCtrl.isApprovedCRBF === true"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="det in DataAdministrasiCtrl.listBussinesDetailField">
                                                <td>{{$index+1}}</td>
                                                <td ng-if="det.BusinessField.Name != 'Lain - lain'">{{det.BusinessField.Name }}</td>
                                                <td ng-if="det.BusinessField.Name == 'Lain - lain'">{{det.BusinessField.Name }} ( {{det.Remark}} )</td>
                                                <td>{{det.Commodity.Name }}</td>
                                                <td ng-if="DataAdministrasiCtrl.isApprovedCRBF === true">
                                                    <button class="btn btn-xs btn-danger" ng-click="DataAdministrasiCtrl.deleteRow($index+1)" title="Hapus">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>-->

                            <div class="row">
                                <div class="col-md-12">
                                    <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                        <i class="fa fa-phone"></i>
                                        {{'CONTACT_INFO' | translate}} <span style="color: red;">*</span>
                                    </legend>
                                </div>
                                <form name="DataAdministrasiCtrl.vendorContactForm">
                                    <div class="col-md-3" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true;">
                                        <div class="form-group">
                                            <label>{{'PERSONAL.NAME' | translate}} <span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" ng-model="DataAdministrasiCtrl.NamePers" maxlength="64" />
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true;">
                                        <div class="form-group">
                                            <label>{{'PERSONAL.PHONE' | translate}} <span style="color: red;">*</span></label>
                                            <input class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="16" ng-model="DataAdministrasiCtrl.PhonePers" />
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true;">
                                        <div class="form-group">
                                            <label>{{'PERSONAL.EMAIL' | translate}} <span style="color: red;">*</span></label>
                                            <input type="email" class="form-control" ng-change="DataAdministrasiCtrl.validateEmail(DataAdministrasiCtrl.EmailPers)" ng-model="DataAdministrasiCtrl.EmailPers" required maxlength="64" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 margintop25" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true;">
                                        <label>&nbsp;</label><br>
                                        <button ng-disabled="!(DataAdministrasiCtrl.NamePers && DataAdministrasiCtrl.PhonePers && DataAdministrasiCtrl.EmailPers && DataAdministrasiCtrl.emailFormat)" class="btn btn-sm btn-primary" ng-click="DataAdministrasiCtrl.CheckEmail()" title="{{'BUTTONS.ADD' | translate}}">
                                            <i class="fa fa-plus-circle"></i> {{'BUTTONS.ADD' | translate}}
                                        </button>
                                    </div>
                                </form>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                                        <th class="text-center">{{'TABLE.NAME' | translate}}</th>
                                                        <th class="text-center">{{'TABLE.TELEPHONE' | translate}}</th>
                                                        <th class="text-center">{{'TABLE.EMAIL' | translate}}</th>
                                                        <th class="text-center">{{'ACTION' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="DataAdministrasiCtrl.listPersonal.length <= 0">
                                                        <td colspan="5">
                                                            {{'NO_DATA' | translate}}
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="dt in DataAdministrasiCtrl.listPersonal">
                                                        <td class="text-center" ng-if="dt.IsActive === true">{{$index+1}}</td>
                                                        <td ng-if="dt.IsActive === true">{{dt.Contact.Name}}</td>
                                                        <td class="text-center" ng-if="dt.IsActive === true">{{dt.Contact.Phone}}</td>
                                                        <td class="text-center" ng-if="dt.IsActive === true">{{dt.Contact.Email}}</td>
                                                        <td class="text-center" ng-if="dt.IsActive === true">
                                                            <a ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true && dt.Contact.VendorCategoryID != 32" ng-click="DataAdministrasiCtrl.editcontact(dt)" class="btn btn-flat btn-xs btn-primary" title="{{'Edit' | translate}}" style="cursor: pointer;">
                                                                <i class="fa fa-edit"></i> {{'EDIT' | translate}}
                                                            </a>
                                                            <button ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true && dt.Contact.VendorCategoryID != 32" class="btn btn-xs btn-danger" ng-click="DataAdministrasiCtrl.deleteRowPers($index, dt)" title="{{'HAPUS' | translate}}">
                                                                <i class="fa fa-trash"></i> {{'HAPUS' | translate}}
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                        <i class="fa fa-home"></i>
                                        {{'ADDRESS_INFO' | translate}} <span style="color: red;">*</span>
                                    </legend>
                                </div>
                                <div class="col-md-3">
                                    <label>{{'OFFICE.OFFICE_TYPE' | translate}} <span style="color: red;">*</span></label>
                                    <!--<div class="form-group"
                                            ng-class="{'has-error': !daftarCtrl.vendorAddressForm.officeType.$valid
                            && !daftarCtrl.vendorAddressForm.officeType.$pristine}">-->
                                    <select name="officeType" required class="form-control"
                                            ng-model="DataAdministrasiCtrl.addressType"
                                            ng-options="item as item.Value | translate for item in DataAdministrasiCtrl.officeTypes"
                                            ng-change="DataAdministrasiCtrl.changeAddressType()">
                                        <option value="" selected disabled>-- {{'CMB_OFFICE_TYPE' | translate}} --</option>
                                    </select>
                                    <!--</div>-->
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{'OFFICE.OFFICE_ADDRESS' | translate}} <span style="color: red;">*</span></label>
                                        <input class="form-control" placeholder="{{'OFFICE.OFFICE_ADDRESS' | translate}}" type="text" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == ''" ng-blur="DataAdministrasiCtrl.CheckAddress(true)" ng-model="DataAdministrasiCtrl.address1" required maxlength="256" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'OFFICE.OFFICE_COUNTRY' | translate}} <span style="color: red;">*</span></label>
                                        <selectize required name="selectModule" placeholder="Country" ng-change='DataAdministrasiCtrl.defineCountryInformasi(DataAdministrasiCtrl.countryIDInformasi)'
                                                   options="DataAdministrasiCtrl.listCountry" config="DataAdministrasiCtrl.myConfig" ng-model="DataAdministrasiCtrl.countryIDInformasi"
                                                   ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == ''"></selectize>
                                        <!--<select required class="form-control"
                                        ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == ''"
                                        ng-model="DataAdministrasiCtrl.countryIDMai"
                                        ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listCountry"
                                        ng-change="DataAdministrasiCtrl.loadState()">
                                    <option value="" selected disabled>--- {{'COUNTRY_TYPE' | translate}} ---</option>
                                </select>-->
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{'OFFICE.OFFICE_REGION' | translate}} <span style="color: red;">*</span></label>
                                        <input ng-disabled="true" class="form-control" ng-model="DataAdministrasiCtrl.listRegion.Name">
                                    </div>
                                </div>
                                <div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>{{'OFFICE.OFFICE_STATE' | translate}} <span style="color: red;">*</span></label>
                                            <selectize required name="selectModule" placeholder="State" ng-change='DataAdministrasiCtrl.defineStateIDInformasi(DataAdministrasiCtrl.stateIDInformasi)'
                                                       options="DataAdministrasiCtrl.listState" config="DataAdministrasiCtrl.myConfig2" ng-model="DataAdministrasiCtrl.stateIDInformasi"
                                                       ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == '' || DataAdministrasiCtrl.countryIDInformasi === undefined"></selectize>
                                            <!--<select required class="form-control"
                                            ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == ''"
                                            ng-model="DataAdministrasiCtrl.selectedState"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listState"
                                            ng-change="DataAdministrasiCtrl.loadCity()">
                                        <option value="" selected disabled>--- {{'STATE_TYPE' | translate}} ---</option>
                                    </select>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-if="DataAdministrasiCtrl.selectedCountry.Code === 'IDN'">
                                        <div class="form-group">
                                            <label>{{'OFFICE.OFFICE_CITY' | translate}} <span style="color: red;">*</span></label>
                                            <selectize required ng-disabled="!DataAdministrasiCtrl.listCity || DataAdministrasiCtrl.selectedCountry.Code !== 'IDN'|| DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == '' || DataAdministrasiCtrl.countryIDInformasi === undefined" name="selectModule" placeholder="City"
                                                       ng-change='DataAdministrasiCtrl.defineCityInformasi(DataAdministrasiCtrl.cityIDInformasi)'
                                                       options="DataAdministrasiCtrl.listCity" config="DataAdministrasiCtrl.myConfig3" ng-model="DataAdministrasiCtrl.cityIDInformasi"></selectize>
                                            <!--<select required class="form-control" ng-model="DataAdministrasiCtrl.selectedCity"
                                            ng-disabled="!DataAdministrasiCtrl.listCity || DataAdministrasiCtrl.selectedCountry.Code !== 'IDN'|| DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == ''"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listCity"
                                            ng-change="DataAdministrasiCtrl.loadDistrict()">
                                        <option value="" selected disabled>--- {{'CITY_TYPE' | translate}} ---</option>
                                    </select>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-if="DataAdministrasiCtrl.selectedCountry.Code === 'IDN'">
                                        <div class="form-group">
                                            <label>{{'OFFICE.OFFICE_DISTRICT' | translate}} <span style="color: red;">*</span></label>
                                            <selectize required ng-disabled="!DataAdministrasiCtrl.listDistrict ||DataAdministrasiCtrl.selectedCountry.Code !== 'IDN'|| DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == '' || DataAdministrasiCtrl.countryIDInformasi === undefined" name="selectModule" placeholder="District"
                                                       ng-change='DataAdministrasiCtrl.defineDistrictInformasi(DataAdministrasiCtrl.districtIDInformasi)'
                                                       options="DataAdministrasiCtrl.listDistrict" config="DataAdministrasiCtrl.myConfig4" ng-model="DataAdministrasiCtrl.districtIDInformasi"></selectize>
                                            <!--<select required class="form-control"
                                            ng-model="DataAdministrasiCtrl.selectedDistrict"
                                            ng-disabled="!DataAdministrasiCtrl.listDistrict ||DataAdministrasiCtrl.selectedCountry.Code !== 'IDN'|| DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == '' || DataAdministrasiCtrl.cityIDInformasi == undefined"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listDistrict">
                                        <option value="" selected disabled>--- {{'DISTRICT_TYPE' | translate}} ---</option>
                                    </select>-->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>{{'OFFICE.POSTAL_CODE' | translate}}</label>
                                            <input class="form-control" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == ''" ng-model="DataAdministrasiCtrl.postalcode" ng-blur="DataAdministrasiCtrl.CheckPostcode(true)" placeholder="Kode Pos " onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="8" type="text" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="DataAdministrasiCtrl.addressType.Value == 'VENDOR_OFFICE_TYPE_MAIN'">
                                    <div ng-if="DataAdministrasiCtrl.selectedStateAdmin.Country.Code === 'IDN'">
                                        <div class="form-group">
                                            <label>{{'OFFICE.ASSOCIATION_TYPE' | translate}}</label>
                                            <selectize required ng-disabled="!DataAdministrasiCtrl.listAssociation|| DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == ''"
                                                       name="selectModule" placeholder="Assosiation Type"
                                                       ng-change='DataAdministrasiCtrl.changeAssosiation(DataAdministrasiCtrl.AsosiasiID)'
                                                       options="DataAdministrasiCtrl.listAssociation" config="DataAdministrasiCtrl.myConfig6" ng-model="DataAdministrasiCtrl.AsosiasiID"></selectize>
                                            <!--<select required class="form-control"
                                            ng-model="DataAdministrasiCtrl.AsosiasiID"
                                            ng-change="changeAssosiation(DataAdministrasiCtrl.AsosiasiID)"
                                            ng-disabled="!DataAdministrasiCtrl.listAssociation|| DataAdministrasiCtrl.isApprovedCRAdm !== true || DataAdministrasiCtrl.addressType == ''"
                                            ng-options="item as item.AssosiationName | translate for item  in DataAdministrasiCtrl.listAssociation">
                                        <option value="" selected disabled>--- {{'ASSOCIATION_TYPE' | translate}} ---</option>
                                    </select>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-bottom: 10px;">
                                    <label>&nbsp;</label><br>
                                    <button class="btn btn-sm btn-primary" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true" ng-click="DataAdministrasiCtrl.addAddress()" ng-disabled="DataAdministrasiCtrl.addressType == ''"><i class="fa fa-plus-circle"></i> {{"BUTTONS.ADD" | translate}}</button>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="table table-responsive" style="padding-bottom: 10px;">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width: 50px;">{{'TABLE.NO' | translate}}</th>
                                                        <th class="text-center" style="width: 30%;">{{'OFFICE.OFFICE_TYPE' | translate}}</th>
                                                        <th class="text-center">{{'HEADERS.DETAIL' | translate}}</th>
                                                        <th class="text-center">{{'ASSOSIATION_TYPE' | translate}}</th>
                                                        <th class="text-center">{{'POST_CODE' | translate}}</th>
                                                        <th style="width: 50px;">{{'ACTION' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="DataAdministrasiCtrl.addresses.length <= 0">
                                                        <td colspan="6">
                                                            {{'NO_DATA' | translate}}
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="dt in DataAdministrasiCtrl.addresses">
                                                        <td class="text-center">{{$index + 1}}</td>
                                                        <td>{{dt.type | translate}}</td>
                                                        <td>
                                                            <span ng-if="dt.countryName ==='Indonesia'">{{dt.address}}, {{dt.cityName}}, {{dt.stateName}}, {{dt.countryName}}</span>
                                                            <span ng-if="dt.countryName !=='Indonesia'">{{dt.address}}, {{dt.stateName}}, {{dt.countryName}}</span>
                                                        </td>
                                                        <td class="text-center">{{dt.AssociationName ? dt.AssociationName : '-'}}</td>
                                                        <td class="text-center">{{dt.postalCode ? dt.postalCode : '-'}}</td>
                                                        <td>
                                                            <button class="btn btn-xs btn-danger" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true" ng-click="DataAdministrasiCtrl.removeAddress(dt)"><i class="fa fa-trash"></i> {{'HAPUS' | translate}}</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-12">
                            <legend class="font18" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 1px;">
                                <i class="fa fa-home"></i>
                                {{'ADDRESS_INFO_ALTERNATIF' | translate}} {{DataAdministrasiCtrl.ContactName | translate}}
                            </legend>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Alamat Perusahaan" type="text" ng-model="DataAdministrasiCtrl.addressInfo" ng-blur="DataAdministrasiCtrl.CheckAddress(false)" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select required class="form-control"
                                        ng-model="DataAdministrasiCtrl.selectedCountryAlternatif"
                                        ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true"
                                        ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listCountryAlternatif"
                                        ng-change="DataAdministrasiCtrl.loadStateAlternatif()">
                                    <option value="" selected disabled>--- {{'COUNTRY_TYPE' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input ng-disabled="true" class="form-control" ng-model="DataAdministrasiCtrl.listRegionAlternatif.Name">
                            </div>
                        </div>
                        <div >
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-model="DataAdministrasiCtrl.selectedStateAlternatif"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listStateAlternatif"
                                            ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true"
                                            ng-change="DataAdministrasiCtrl.loadCityAlternatif()">
                                        <option value="" selected disabled>--- {{'STATE_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="DataAdministrasiCtrl.selectedCountryAlternatif.Code === 'IDN'">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-model="DataAdministrasiCtrl.selectedCityAlternatif"
                                            ng-disabled="DataAdministrasiCtrl.listCityAlternatif.length === 0 ||DataAdministrasiCtrl.selectedCountryAlternatif.Code !== 'IDN' || DataAdministrasiCtrl.isApprovedCRAdm !== true"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listCityAlternatif"
                                            ng-change="DataAdministrasiCtrl.loadDistrictAlternatif()">
                                        <option value="" selected disabled>--- {{'CITY_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3" ng-if="DataAdministrasiCtrl.selectedCountryAlternatif.Code === 'IDN'">
                                <div class="form-group">
                                    <select required class="form-control"
                                            ng-model="DataAdministrasiCtrl.selectedDistrictAlternatif"
                                            ng-disabled="DataAdministrasiCtrl.listDistrictAlternatif.length === 0 || DataAdministrasiCtrl.selectedCountryAlternatif.Code !== 'IDN' || DataAdministrasiCtrl.isApprovedCRAdm !== true"
                                            ng-options="item as item.Name | translate for item  in DataAdministrasiCtrl.listDistrictAlternatif">
                                        <option value="" selected disabled>--- {{'DISTRICT_TYPE' | translate}} ---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" ng-blur="DataAdministrasiCtrl.CheckPostcode(false)" ng-model="DataAdministrasiCtrl.PostalCodeAlternatif" ng-disabled="DataAdministrasiCtrl.isApprovedCRAdm !== true" placeholder="Kode Pos" type="text" required />
                                </div>
                            </div>
                        </div>-->

                            </div>
                        </div><!--/.col (right) -->
                    </div>
                    <div class="row" style="padding-top: 30px!important;">
                        <div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="center-block text-center" ng-if="DataAdministrasiCtrl.isApprovedCRAdm === true || DataAdministrasiCtrl.isApprovedCRBF === true">
                                        <a href="" class="btn btn-success" ng-click="DataAdministrasiCtrl.uploadFile()" title="{{'SAVE' | translate}}">
                                            <i class="fa fa-save"></i>&nbsp; {{'SAVE' | translate}}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
