<div class="modal-content" ng-init="detailApprovalCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">Detail {{'APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalCtrl.crApps">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td ng-class="{'text-bold':dt.EmployeeID == detailApprovalCtrl.employeeID}">{{dt.EmployeeFullName}}</td>
                                        <td>{{dt.EmployeePositionName}}</td>
                                        <td class="text-center">{{dt.ApprovalDate| date: "dd-MM-yyyy"}}</td>
                                        <td ng-if="dt.ApprovalStatus === null" class="text-center" ></td>
                                        <td ng-if="dt.ApprovalStatus === true" class="text-center" >Approve</td>
                                        <td ng-if="dt.ApprovalStatus === false" class="text-center" >Reject</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalCtrl.crApps.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <!--
    <div class="row" id="exportthis">
        <div class="col-md-12">
            <div ng-show="detailApprovalCtrl.visible">cobi</div>
            <button ng-click="detailApprovalCtrl.printForm()">export</button>
        </div>
    </div>
        -->
    <div class="modal-footer">
        <div class="col-md-6">
            <div class="pull-right">
                <button class="btn btn-flat btn-primary" title="{{'BATAL'|translate}}" ng-click="detailApprovalCtrl.cancel()"><i class="fa fa-reply"></i></button>
            </div>
        </div>
    </div>


</div>