﻿<!-- Main content -->
<div ng-init="ExportPOCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
			<li><a href="#/monitoring-po">{{'BREADCRUMB.MONITORING_TENDER' | translate}}</a></li>
			<li><a class="active">Purchase Order</a></li>
		</ol>
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-header">
						<div class="row">
							<div class="col-md-12 align-center">
								<h3 class="afta-font center text-center">PURCHASE ORDER</h3>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-6"></div>
							<div class="col-md-6">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" style="vertical-align: middle;">{{'SUP_CODE' | translate}}<br />{{ExportPOCtrl.export.vendorcontact[0].Vendor.SAPCode}}</th>
											<th class="text-center" style="vertical-align: middle;">{{'PO_DATE' | translate}}<br />{{ExportPOCtrl.export.POmodel.CreatedDate| date: "dd/MM/yyyy"}}</th>
											<th class="text-center" style="vertical-align: middle;">{{'PO_NBR' | translate}}<br />{{ExportPOCtrl.export.POmodel.PONumber}}</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="row margin-atas">
							<div class="col-md-6">
								<div class="col-md-2">
									<strong>
										{{'SUPPLIER' | translate}}
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{ExportPOCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
									<div ng-if="ExportPOCtrl.internasional==true && ExportPOCtrl.hascity==false">
										{{ExportPOCtrl.address}}
									</div>
									<div ng-if="ExportPOCtrl.internasional==true && ExportPOCtrl.hascity==true">
										{{ExportPOCtrl.AddressInfo}}<br />
										{{ExportPOCtrl.City}}<br />
										{{ExportPOCtrl.State}}, {{ExportPOCtrl.Country}}
									</div>
									<div ng-if="ExportPOCtrl.nasional==true && ExportPOCtrl.hascity==true && ExportPOCtrl.hasdistrict==false && ExportPOCtrl.internasional==false">
										{{ExportPOCtrl.AddressInfo}}<br />
										{{ExportPOCtrl.City}}<br />
										{{ExportPOCtrl.State.}}, {{ExportPOCtrl.Country}}
									</div>
									<div ng-if="ExportPOCtrl.nasional==true && ExportPOCtrl.hascity==false && ExportPOCtrl.hasdistrict==false && ExportPOCtrl.internasional==false">
										{{ExportPOCtrl.AddressInfo}}<br />
										{{ExportPOCtrl.State}}, {{ExportPOCtrl.Country}}
									</div>
									<div ng-if="ExportPOCtrl.nasional==true && ExportPOCtrl.hascity==true && ExportPOCtrl.hasdistrict==true && ExportPOCtrl.internasional==false">
										{{ExportPOCtrl.AddressInfo}}<br />
										{{ExportPOCtrl.District}}, {{ExportPOCtrl.City}}<br />
										{{ExportPOCtrl.State}}, {{ExportPOCtrl.Country}}
									</div>
									<div ng-if="ExportPOCtrl.nasional==true && ExportPOCtrl.hascity==false && ExportPOCtrl.hasdistrict==true && ExportPOCtrl.internasional==false">
										{{ExportPOCtrl.AddressInfo}}<br />
										{{ExportPOCtrl.District}}<br />
										{{ExportPOCtrl.State}}, {{ExportPOCtrl.Country}}
									</div>
								</div>
								<!--<div class="col-md-4">
									<strong>
										SUPPLIER<br /><br /><br /><br /><br />
										ATTENTION<br />
										FAX<br />
										EMAIL<br />
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{ExportPOCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
									{{ExportPOCtrl.address}}<br /><br />
									: {{ExportPOCtrl.contactCP[0].Contact.Name}}  <br />
									: {{ExportPOCtrl.contactCompany.Contact.Fax}}<br />
									: {{ExportPOCtrl.contactCompany.Contact.Email}}<br />
								</div>-->
							</div>
							<div class="col-md-6">
								<div class="col-md-4">
									<strong>
										FREIGHT METHOD
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.export.freightMethod.Name}}
								</div>
								<!--<div class="col-md-4">
									<strong>
										FREIGHT METHOD<br />
										DELIVERY POINT<br /><br /><br />
										PAYMENT TERM<br />
										TEL<br />
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.export.freight.DeliveryTransport.Name}} Freight<br />
									: {{ExportPOCtrl.export.inco.Code}} {{ExportPOCtrl.export.freight.DeliveryState}}<br /><br /><br />
									: {{ExportPOCtrl.export.POmodel.PaymentTerms}}<br />
									: {{ExportPOCtrl.contactCompany.Contact.Phone}}<br />
								</div>-->
							</div>
							<div class="col-md-6">
								<div class="col-md-4">
									<strong>
										DELIVERY POINT
									</strong>
								</div>
								<div class="col-md-8">
									<!--: {{ExportPOCtrl.export.inco.Code}} {{ExportPOCtrl.export.freight.DeliveryState}}-->
									: <span style="white-space:pre-line;">{{ExportPOCtrl.export.DeliverPoint}}</span>
								</div>
							</div>
						</div>
						<div class="row margin-atas">
							<div class="col-md-6">
								<div class="col-md-2">
									<strong>
										ATTENTION
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.contactCP[0].Contact.Name}}
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-4">
									<strong>
										PAYMENT TERM
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.export.POmodel.PaymentTerms}}
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-2">
									<strong>
										FAX
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.contactCompany.Contact.Fax}}
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-4">
									<strong>
										TEL
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.contactCompany.Contact.Phone}}
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-2">
									<strong>
										EMAIL
									</strong>
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.contactCompany.Contact.Email}}
								</div>
							</div>
						</div>

						<div class="row margin-atas">
							<div class="col-md-12">
								In accepting this order, seller agrees to furnish the material specified in full accordance with all conditions agreed to on our contract terms and all conditions attached to this document.<br />
								<strong>Please indicate your acknowledgement/acceptance immadiately through E-Procurement.</strong>
							</div>
						</div>


						<div class="row margin-atas">
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="text-center" style="vertical-align: middle;">ITEM</th>
												<th class="text-center" style="vertical-align: middle;">SCD/PR/FPA</th>
												<th class="text-center" style="vertical-align: middle;">QTY</th>
												<th class="text-center" style="vertical-align: middle;">UM</th>
												<th class="text-center" style="vertical-align: middle;">DESCRIPTION</th>
												<th class="text-center" style="vertical-align: middle;">DUE DATE</th>
												<th class="text-center" style="vertical-align: middle;">NET PRICE</th>
												<th class="text-center" style="vertical-align: middle;">TOTAL PRICE</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="dt in ExportPOCtrl.alldata">
												<td style="vertical-align: middle;">{{dt.POItem}}</td>
												<td style="vertical-align: middle;">{{dt.ScdPrFpa}}</td>
												<td style="vertical-align: middle;">{{dt.Quantity}}</td>
												<td style="vertical-align: middle;">{{dt.UnitMeasure}}</td>
												<td style="vertical-align: middle;">{{dt.ShortText}} {{dt.Mfr_No}} {{dt.Mfr_Name}} {{dt.Manu_Mat}}<br />{{dt.Purch_OrderText}} {{dt.PO_ItemText}} TARIFF CODE: {{dt.TariffCode}} /CONC. CAT: {{dt.ConcessCat}}</td>
												<td style="vertical-align: middle;">{{dt.DelivDate | date: "dd/MM/yyyy"}}</td>
												<td style="vertical-align: middle;">{{dt.NettPricePO | currency:"" }}<span ng-if="dt.flagPrice == true">*</span></td>
												<td style="vertical-align: middle;">{{dt.TotalPricePO |  currency:"" }}</td>
											</tr>
										</tbody>
										<thead>
											<tr>
												<th colspan="5"></th>
												<th>TOTAL</th>
												<th>{{ExportPOCtrl.alldata[0].Currency}}</th>
												<th class="text-right">{{ExportPOCtrl.alldata[0].Totalvalue  | currency:"" }}</th>
											</tr>
											<tr ng-if="ExportPOCtrl.flagVAT == true">
												<th colspan="5"></th>
												<th colspan="2">VAT 10%</th>
												<th class="text-right">{{ExportPOCtrl.alldata[0].vatvalue  | currency:"" }}</th>
											</tr>
											<tr>
												<th colspan="5"></th>
												<th colspan="2">GRAND TOTAL</th>
												<th class="text-right">{{ExportPOCtrl.alldata[0].grandvalue  | currency:"" }}</th>
											</tr>
										</thead>

									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10 center text-center ">
									<ul uib-pagination total-items="ExportPOCtrl.totalItems"
										ng-model="ExportPOCtrl.currentPage" items-per-page="ExportPOCtrl.pageSize"
										previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="ExportPOCtrl.showPO(ExportPOCtrl.currentPage)"></ul>
								</div>
							</div>
						</div>

						<div class="row margin-atas">
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-4">
										BUYER REMARK
									</div>
									<div class="col-md-8">
										: {{ExportPOCtrl.export.POmodel.BuyerRemark}}
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="col-md-4">
									BUYER<br />
									PHONE<br />
									FAX<br />
									EMAIL<br />
								</div>
								<div class="col-md-8">
									: {{ExportPOCtrl.export.buyer.FullName}} {{ExportPOCtrl.export.buyer.SurName}}<br />
									: {{ExportPOCtrl.export.buyer.WorkPhone}}<br />
									: <br />
									: {{ExportPOCtrl.export.buyer.Email}}<br />
								</div>
							</div>
						</div>
						<div class="row margin-atas">
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="pull-left">
									<button class="btn btn-flat btn-default turun-15" title="Print Preview" ng-click="ExportPOCtrl.printPO('exportPO')"><i class="glyphicon glyphicon-print"></i></button>
								</div>
							</div>
							<div class="col-md-6">
								<div class="text-right">
									<a href="#/detail-po/{{ExportPOCtrl.dataPOId}}" class="btn btn-flat btn-primary turun-15" title="{{'Kembali' | translate}}">
										<i class="fa fa-arrow-left"></i>

									</a>


								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<div id="exportPO" class="formEEC-container" ng-hide="true" style="background-color:#ffffff;">
		<div class="watermark">Mubadala Petroleum</div>
		<div style="position:fixed;z-index:99;">
			<div class="row" style="width:100%;">
				<div class="col-md-8"></div>
				<div class="col-md-4">
					<img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-top:10px;padding-left:690px;padding-bottom: 20px;display:block;text-align:right;" width="100" height="40" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="formEEC-title">
						EXPORT<br />
						PURCHASE ORDER
					</div>
					<br />
					<div class="formEEC-content">
						<div class="formEEC-contentOutside">
							<div class="row">
								<div class="formEEC-col6"></div>
								<div class="formEEC-col9">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="text-center" style="vertical-align: middle;">SUPPLIER CODE<br />{{ExportPOCtrl.export.vendorcontact[0].Vendor.SAPCode}}</th>
												<th class="text-center" style="vertical-align: middle;">PO DATE<br />{{ExportPOCtrl.export.POmodel.CreatedDate| date: "dd/MM/yyyy"}}</th>
												<th class="text-center" style="vertical-align: middle;">PURCHASE ORDER NBR<br />{{ExportPOCtrl.export.POmodel.PONumber}}</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="row margin-atas">
									<div class="formEEC-col6">
										<div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
											<strong>
												SUPPLIER<br /><br /><br /><br /><br />
												ATTENTION<br />
												FAX<br />
												EMAIL<br />
											</strong>
										</div>
										<div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
											: {{ExportPOCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{ExportPOCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
											<div ng-if="ExportPOCtrl.internasional==true && ExportPOCtrl.hascity==false">
												{{ExportPOCtrl.address}}
											</div>
											<div ng-if="ExportPOCtrl.internasional==true && ExportPOCtrl.hascity==true">
												{{ExportPOCtrl.AddressInfo}}<br />
												{{ExportPOCtrl.City}}<br />
												{{ExportPOCtrl.State}}, {{ExportPOCtrl.Country}}
											</div>
											<div ng-if="ExportPOCtrl.nasional==true && ExportPOCtrl.hascity==true && ExportPOCtrl.hasdistrict==false && ExportPOCtrl.internasional==false">
												{{ExportPOCtrl.AddressInfo}}<br />
												{{ExportPOCtrl.City}}<br />
												{{ExportPOCtrl.State.}}, {{ExportPOCtrl.Country}}
											</div>
											<div ng-if="ExportPOCtrl.nasional==true && ExportPOCtrl.hascity==false && ExportPOCtrl.hasdistrict==false && ExportPOCtrl.internasional==false">
												{{ExportPOCtrl.AddressInfo}}<br />
												{{ExportPOCtrl.State}}, {{ExportPOCtrl.Country}}
											</div>
											<div ng-if="ExportPOCtrl.nasional==true && ExportPOCtrl.hascity==true && ExportPOCtrl.hasdistrict==true && ExportPOCtrl.internasional==false">
												{{ExportPOCtrl.AddressInfo}}<br />
												{{ExportPOCtrl.District}}, {{ExportPOCtrl.City}}<br />
												{{ExportPOCtrl.State}}, {{ExportPOCtrl.Country}}
											</div>
											<div ng-if="ExportPOCtrl.nasional==true && ExportPOCtrl.hascity==false && ExportPOCtrl.hasdistrict==true && ExportPOCtrl.internasional==false">
												{{ExportPOCtrl.AddressInfo}}<br />
												{{ExportPOCtrl.District}}<br />
												{{ExportPOCtrl.State}}, {{ExportPOCtrl.Country}}
											</div>
											: {{ExportPOCtrl.contactCP[0].Contact.Name}}  <br />
											: {{ExportPOCtrl.contactCompany.Contact.Fax}}<br />
											: {{ExportPOCtrl.contactCompany.Contact.Email}}<br />
										</div>
									</div>
									<div class="formEEC-col6">
										<div style="width:150px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
											<strong>
												FREIGHT METHOD<br />
												DELIVERY POINT<br />
												PAYMENT TERM<br />
												TEL<br />
											</strong>
										</div>
										<div style="width:200px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
											: {{ExportPOCtrl.export.freightMethod.Name}}<br />
											: {{ExportPOCtrl.export.DeliverPoint}}<br />
											: {{ExportPOCtrl.export.POmodel.PaymentTerms}}<br />
											: {{ExportPOCtrl.contactCompany.Contact.Phone}}<br />
										</div>
									</div>
								</div>
							</div>
							<p>
								In accepting this order, seller agrees to furnish the material specified in full accordance with all conditions agreed to on our contract terms and all conditions attached to this document.<br />
								<b>Please indicate your acknowledgement/acceptance immadiately through E-Procurement.</b>
							</p>
						</div>
						<table class="formEEC-table">
							<tr>
								<th>ITEM</th>
								<th>SCD/PR/FPA</th>
								<th>QTY</th>
								<th>UM</th>
								<th>DESCRIPTION</th>
								<th>DUE DATE</th>
								<th>NET PRICE</th>
								<th>TOTAL PRICE</th>
							</tr>
							<tr ng-repeat="dt in ExportPOCtrl.alldata">
								<td>{{dt.POItem}}</td>
								<td>{{dt.ScdPrFpa}}</td>
								<td>{{dt.Quantity}}</td>
								<td>{{dt.UnitMeasure}}</td>
								<td>{{dt.Mfr_Name}}/{{dt.Manu_Mat}}<br />{{dt.Purch_OrderText}}<br />{{dt.PO_ItemText}}<br />TARIFF CODE: {{dt.TariffCode}} /CONC. CAT: {{dt.ConcessCat}}</td>
								<td>{{dt.DelivDate| date:"dd/MM/yyyy"}}</td>
								<td>{{dt.NettPricePO | currency:"" }}</td>
								<td>{{dt.TotalPricePO |  currency:"" }}</td>
							</tr>
							<tr>
								<th colspan="5"></th>
								<th>TOTAL</th>
								<th>{{ExportPOCtrl.alldata[0].Currency}}</th>
								<th class="text-right">{{ExportPOCtrl.alldata[0].Totalvalue}}</th>
							</tr>
							<tr>
								<th colspan="5"></th>
								<th colspan="2">VAT 10%</th>
								<th class="text-right">{{ExportPOCtrl.alldata[0].vatvalue}}</th>
							</tr>
							<tr>
								<th colspan="5"></th>
								<th colspan="2">GRAND TOTAL</th>
								<th class="text-right">{{ExportPOCtrl.alldata[0].grandvalue}}</th>
							</tr>
						</table>
						<div class="formEEC-contentOutside">
							<div class="formEEC-col6">
								<div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
									<strong>
										BUYER REMARK<br />
									</strong>
								</div>
								<div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
									: {{ExportPOCtrl.export.POmodel.BuyerRemark}}
								</div>
							</div>
							<div class="formEEC-col6">
								<div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
									<strong>
										BUYER<br />
										PHONE<br />
										FAX<br />
										EMAIL<br />
									</strong>
								</div>
								<div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
									: {{ExportPOCtrl.export.buyer.FullName}} {{ExportPOCtrl.export.buyer.SurName}}<br />
									: {{ExportPOCtrl.export.buyer.WorkPhone}}<br />
									: {{ExportPOCtrl.export.buyer.Fax}}<br />
									: {{ExportPOCtrl.export.buyer.Email}}<br />
								</div>
							</div>
						</div>
						<div class="formEEC-contentOutside margin-atas">
							TARIFF/CONC CATEGORY MUST BE SHOWN AT ITEM<br />
							LEVEL ON INVOICES AND SHIPPING DOCUMENTS
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
