﻿<div ng-init="monitoringPOApprovalCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin">{{'BREADCRUMB.BERANDA'| translate}}</a></li>
            <li><a>{{'BREADCRUMB.MONITORING'| translate}}</a></li>
            <li><a>{{'BREADCRUMB.MONITORING_TENDER'| translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="afta-font text-center">{{'JUDUL_MON_APP'|translate}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="input-group">
                                    Filter :
                                    <select class="input-sm" ng-model="monitoringPOApprovalCtrl.searchBy" required>
                                        <option value="" disabled selected>{{'FILTER.SEARCH' | translate }}</option>
                                        <option value="1">{{'TABLE.VENDOR_CODE' | translate }}</option>
                                        <option value="2">{{'TABLE.VENDOR_NAME' | translate }}</option>
                                        <option value="3" selected="selected">{{'TABLE.PO_TYPE' | translate }}</option>
                                        <option value="4">{{'TABLE.PO_NUMBER' | translate }}</option>
                                    </select>
                                    <select class="input-sm" ng-model="monitoringPOApprovalCtrl.FilterType" ng-if="monitoringPOApprovalCtrl.searchBy == 3">
                                        <option value="" disabled selected>{{'FILTER.SEARCH' | translate }}</option>
                                        <option value="1">PO</option>
                                        <option value="2">PO - FPA</option>
                                    </select>
                                    <input ng-if="monitoringPOApprovalCtrl.searchBy !== '3'" type="text" placeholder="{{'FILTER.KEYWORD' | translate}}" class="input-sm" ng-model="monitoringPOApprovalCtrl.keyword" /> 
                                    <span class="">
                                        <button ng-click="monitoringPOApprovalCtrl.loadPaket()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive ">
                                    <table id="listPO" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 30px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
                                                <th class="text-center" style="width: 100px; min-width: 100px;">{{'TABLE.VENDOR_CODE'|translate}}</th>
                                                <th class="text-center" style="width: 100px; min-width: 100px;">{{'TABLE.VENDOR_NAME'|translate}}</th>
                                                <th class="text-center" style="width: 30px; min-width: 30px;">{{'TABLE.PO_TYPE'|translate}}</th>
                                                <th class="text-center" style="width: 30px; min-width: 30px;">{{'TABLE.PO_NUMBER'|translate}}</th>
                                                <th class="text-center" style="width: 30px; min-width: 30px;">{{'TABLE.PO_DATE'|translate}}</th>
                                                <th class="text-center" style="width: 30px; min-width: 30px;">{{'TABLE.PO_SENT'|translate}}</th>
                                                <th class="text-center" style="width: 30px; min-width: 30px;">{{'TABLE.PO_STATUS'|translate}}</th>
                                                <th class="text-center" style="width: 30px; min-width: 30px;">{{'TABLE.NOTE'|translate}}</th>
                                                <th class="text-center" style="width: 30px; min-width: 30px;"></th>
                                            </thead>
                                        <tbody>

                                            <tr ng-repeat="dt in monitoringPOApprovalCtrl.paket">
                                                <td class="text-center" style="vertical-align: middle;">{{dt.currentPage > 1 ? (monitoringPOApprovalCtrl.maxSize * (monitoringPOApprovalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{dt.POmodel.VendorCodeSAP}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{dt.VendorName}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{dt.POmodel.POType}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{dt.POmodel.PONumber}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{monitoringPOApprovalCtrl.convertDate (dt.POmodel.PODate) }}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{monitoringPOApprovalCtrl.convertDate (dt.POSent) }}</td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    {{dt.reff.Value | translate}}
                                                </td>
                                                <td class="text-center" style="vertical-align: middle;">{{dt.Description}}</td>

                                                <td class="text-center" style="vertical-align: middle;">
                                                    <a  ng-click="monitoringPOApprovalCtrl.detailApproval(dt.ID)" title="Detail Approval PO" class="btn btn-flat btn-success"><i class="fa fa-sitemap"></i></a>
                                                    <a ng-click="monitoringPOApprovalCtrl.sendApprove(dt.IdApproval)" title="Send Approval PO" class="btn btn-flat btn-primary"><i class="fa fa-check"></i></a>

                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-10 center text-center ">
                                        <ul uib-pagination total-items="monitoringPOApprovalCtrl.totalItems"
                                            ng-model="monitoringPOApprovalCtrl.currentPage" items-per-page="monitoringPOApprovalCtrl.pageSize"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="monitoringPOApprovalCtrl.loadPaket()"></ul>
                                    </div>
                                    <div class="col-md-10 text-right">

                                        <label>{{'TOTAL_DATA'|translate}} : {{monitoringPOApprovalCtrl.totalItems}}</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>