﻿<div class="modal-content" ng-init="celineCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close" ng-click="celineCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{celineCtrl.action|translate}} CE Line</h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">{{'TABLE.DESKRIPSI'|translate}} *</label>
                    <input type="text" class="form-control input-sm" ng-model="celineCtrl.ceLine.Name"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">{{'TABLE.QTY'|translate}} *</label>
                    <input type="number" min="0" class="form-control input-sm" ng-model="celineCtrl.ceLine.Quantity" ng-change="celineCtrl.onUnitCostChange()"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">{{'TABLE.ORDER_UNIT'|translate}} *</label>
                    <input type="text" class="form-control input-sm" ng-model="celineCtrl.ceLine.OrderUnit"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">{{'TABLE.UNIT_COST'|translate}}</label>
                    <input type="text" class="form-control input-sm" ng-model="celineCtrl.ceLine.UnitCost" currency-mask ng-blur="celineCtrl.onUnitCostChange()"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">{{'TABLE.LINE_COST'|translate}}</label>
                    <input type="text" class="form-control input-sm" ng-model="celineCtrl.ceLine.LineCost" currency-mask readonly />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" ng-click="celineCtrl.batal()" class="btn btn-flat btn-default" title="Batal"><i class="fa fa-reply"></i> </button>
                <button type="button" ng-click="celineCtrl.simpan()" class="btn btn-flat btn-primary" title="Simpan"><i class="fa fa-save"></i></button>
            </div>
        </div> 
    </div>
</div>