<div class="modal-content" ng-init="daFormCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="daFormCtrl.onBatalClick()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'DIRECT_AWARD.DIRECT_AWARD_REQUEST_FORM' | translate}}</h3>
    </div>
    <form name="daFormCtrl.daform">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <label class="control-label">{{'DIRECT_AWARD.FORM_DESC' | translate}}:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group" ng-class="{'has-error': !daFormCtrl.daform.requestorFullName.$valid && daFormCtrl.daform.requestorFullName.$touched }">
                        <label class="control-label">{{'DIRECT_AWARD.REQUESTOR_NAME_AND_TITLE' | translate}} *</label>
                        <div class="input-group">
                            <input type="text" name="requestorFullName" required style="{{!daFormCtrl.isTenderVerification ? 'background-color: #ffffff;' : ''}}" ng-readonly="true" ng-model="daFormCtrl.directAward.RequestorFullName" ng-click="daFormCtrl.selectRequestor()" class="form-control input-sm" />
                            <span class="input-group-btn" ng-if="!daFormCtrl.isTenderVerification">
                                <button type="button" class="btn btn-default btn-sm" ng-click="daFormCtrl.selectRequestor()"><i class="glyphicon glyphicon-pencil"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group">
                        <label class="control-label">{{'DIRECT_AWARD.REQUESTOR_DEPT' | translate}}:</label>
                        <input type="text" ng-readonly="true" ng-model="daFormCtrl.directAward.RequestorDepartmentName" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="form-group">
                        <label class="control-label afta-font"><b>{{'DIRECT_AWARD.RECOMMENDED_DIRECT_AWARD_WITH' | translate}} :</b></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group" ng-class="{'has-error': !daFormCtrl.daform.companyName.$valid && daFormCtrl.daform.companyName.$touched }">
                        <label class="control-label">{{'DIRECT_AWARD.COMPANY_NAME' | translate}} *</label>
                        <div class="input-group">
                            <input type="text" name="companyName" required style="{{!daFormCtrl.isTenderVerification ? 'background-color: #ffffff;' : ''}}" ng-readonly="true" ng-model="daFormCtrl.directAward.CompanyName" ng-click="daFormCtrl.selectCompany()" class="form-control input-sm" />
                            <span class="input-group-btn" ng-if="!daFormCtrl.isTenderVerification">
                                <button type="button" class="btn btn-default btn-sm" ng-click="daFormCtrl.selectCompany()"><i class="glyphicon glyphicon-pencil"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">{{'DIRECT_AWARD.CONTACT_NAME' | translate}}</label>
                        <input type="text" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.CompanyContactName" class="form-control input-sm" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">{{'DIRECT_AWARD.TELEPHONE' | translate}}</label>
                        <input type="text" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.CompanyPhone" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label">{{'DIRECT_AWARD.ADDRESS' | translate}}</label>
                        <input type="text" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.CompanyAddress" class="form-control input-sm" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">{{'DIRECT_AWARD.CITY_STATE_ZIP' | translate}}</label>
                        <input type="text" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.CompanyCityStateZip" class="form-control input-sm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="control-label">{{'DIRECT_AWARD.SCHEDULE' | translate}}</label>
                        <input type="text" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.Schedule" class="form-control input-sm" />
                        <i>{{'DIRECT_AWARD.SCHEDULE_DESC' | translate}}</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group" ng-if="!daFormCtrl.isTenderVerification">
                        <label class="control-label">{{'DIRECT_AWARD.ESTIMATED_COST' | translate}} : &nbsp;&nbsp;</label>
                        <input type="radio" ng-model="daFormCtrl.directAward.EstimatedCost" value="1" /> US$ &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" ng-model="daFormCtrl.directAward.EstimatedCost" value="2" /> IDR &nbsp;&nbsp;&nbsp;&nbsp;
                        <!--<input type="radio" ng-model="daFormCtrl.directAward.EstimatedCost" value="3"/> {{'OTHERS'|translate}} &nbsp;&nbsp;&nbsp;&nbsp;-->
                    </div>
                    <div class="form-group" ng-if="daFormCtrl.isTenderVerification">
                        <label class="control-label">{{'DIRECT_AWARD.ESTIMATED_COST' | translate}} : {{daFormCtrl.directAward.EstimatedCost == 1 ? 'US$' : ''}} {{daFormCtrl.directAward.EstimatedCost == 2 ? 'IDR' : ''}}&nbsp;&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label class="control-label">{{'DIRECT_AWARD.PROJECT_MANAGER' | translate}}</label>
                        <div class="input-group">
                            <input type="text" ng-readonly="true" ng-model="daFormCtrl.directAward.ProjectManagerFullName" ng-click="daFormCtrl.selectPM()" class="form-control input-sm" />
                            <span class="input-group-btn" ng-if="!daFormCtrl.isTenderVerification">
                                <button type="button" class="btn btn-default btn-sm" ng-click="daFormCtrl.selectPM()"><i class="glyphicon glyphicon-pencil"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label afta-font" ng-readonly="daFormCtrl.isTenderVerification"><u>{{'DIRECT_AWARD.SOLE_SOURCE_RATIONALE' | translate}}</u></label>
                        <div class="form-control-static text-justify">
                            {{'DIRECT_AWARD.SOLE_SOURCE_RATIONALE_DESC' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group" ng-class="{'has-error': !daFormCtrl.daform.descOfReqService.$valid && daFormCtrl.daform.descOfReqService.$touched }">
                        <label class="control-label">{{'DIRECT_AWARD.DESC_OF_REQUESTED_SERVICE' | translate}} *</label>
                        <input type="text" name="descOfReqService" required ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.DescOfReqService" class="form-control input-sm" />
                        <i>{{'DIRECT_AWARD.DESC_OF_REQUESTED_SERVICE_DESC' | translate}}</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td class="text-bold">{{'DA_CHECKLIST.HEADER'|translate}}</td>
                                        <td class="text-bold">Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_0' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[0].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[0].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[0].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_1' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[1].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[1].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[1].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_2' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[2].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[2].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[2].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_3' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[3].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[3].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[3].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_4' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[4].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[4].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[4].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_5' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[5].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[5].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[5].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_6' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[6].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[6].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[6].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_7' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[7].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[7].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[7].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_8' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[8].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[8].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[8].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{ 'DA_CHECKLIST.CHK_9' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[9].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[9].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[9].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_10' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[10].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[10].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[10].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_11' }}"></p>
                                            <p translate="{{'DA_CHECKLIST.CHK_11_1' }}"></p>
                                            <p translate="{{'DA_CHECKLIST.CHK_11_2' }}"></p>
                                            <p translate="{{'DA_CHECKLIST.CHK_11_3' }}"></p>
                                            <p translate="{{'DA_CHECKLIST.CHK_11_4' }}"></p>
                                            <p translate="{{'DA_CHECKLIST.CHK_11_5' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[11].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[11].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[11].IsChecked" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p translate="{{'DA_CHECKLIST.CHK_12' }}"></p>
                                            <textarea type="text" class="form-control input-sm" ng-readonly="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[12].Remark" ></textarea>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" ng-hide="daFormCtrl.isTenderVerification" ng-model="daFormCtrl.directAward.ContractRequisitonDACheckLists[12].IsChecked" />
                                            <i class="fa fa-check-circle" ng-if="daFormCtrl.isTenderVerification && daFormCtrl.directAward.ContractRequisitonDACheckLists[12].IsChecked" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error text-red': !daFormCtrl.acknowledgementChecked && daFormCtrl.daform.acknowledgementChecked.$touched }">
                        <label class="control-label afta-font">
                            <u>{{'DIRECT_AWARD.ACKNOWLEDGEMENT' | translate}}</u>
                            &nbsp;<input type="checkbox" name="acknowledgementChecked" ng-if="!daFormCtrl.isTenderVerification" ng-model="daFormCtrl.acknowledgementChecked" />
                        </label>
                        <div class="form-control-static text-justify">
                            <p translate="{{ 'DIRECT_AWARD.ACKNOWLEDGEMENT_DESC' }}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="daFormCtrl.onSimpanClick()" type="button" class="btn btn-flat btn-success" ng-if="!daFormCtrl.isTenderVerification" title="{{'SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>&nbsp;
            <button ng-click="daFormCtrl.onBatalClick()" type="button" class="btn btn-flat btn-primary" title="{{(daFormCtrl.isTenderVerification ? 'TUTUP' : 'BATAL') | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
            <button ng-click="daFormCtrl.print('toPrint')" class="btn btn-flat btn-default" title="Print"><i class="glyphicon glyphicon-print"></i></button>
        </div>
    </form>

    <!--Untuk Print-->
    <div id="toPrint" class="formEEC-container" ng-hide="true" style="background-color:#ffffff;">
        <div class="row" style="width:100%;">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <img src="assets/img/logo-petrosea.png" class="img-responsive pull-right" style="padding-top:10px;padding-left:690px;padding-bottom: 20px;display:block;text-align:right;" width="100px" height="40px" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="formEEC-title">
                    DIRECT AWARD REQUEST FORM
                    <p>{{daFormCtrl.directAward.ContractRequisitionName}}</p>
                    <p>{{'DIRECT_AWARD.FORM_DESC' | translate}}</p>
                </div>
                <br />
                <div class="formEEC-content">
                    <div class="formEEC-contentOutside">
                        <div class="row">
                            <div class="formEEC-col3">
                                {{'DIRECT_AWARD.REQUESTOR_NAME_AND_TITLE' | translate}} <br />
                                {{'DIRECT_AWARD.REQUESTOR_DEPT' | translate}} <br />
                            </div>
                            <div class="formEEC-col9">
                                : {{daFormCtrl.directAward.RequestorFullName}}<br />
                                : {{daFormCtrl.directAward.RequestorDepartmentName}}<br />
                            </div>
                        </div>
                    </div>
                    <div class="formEEC-contentOutside">
                        <p><b>{{'DIRECT_AWARD.RECOMMENDED_DIRECT_AWARD_WITH' | translate}} :</b></p>
                        <div class="formEEC-col3">
                            {{'DIRECT_AWARD.COMPANY_NAME' | translate}}<br />
                            {{'DIRECT_AWARD.CONTACT_NAME' | translate}}<br />
                            {{'DIRECT_AWARD.TELEPHONE' | translate}}<br />
                            {{'DIRECT_AWARD.ADDRESS' | translate}}<br />
                            {{'DIRECT_AWARD.CITY_STATE_ZIP' | translate}}<br />
                            {{'DIRECT_AWARD.SCHEDULE' | translate}}<br />
                        </div>
                        <div class="formEEC-col9">
                            : {{daFormCtrl.directAward.CompanyName}}<br />
                            : {{daFormCtrl.directAward.CompanyContactName}}<br />
                            : {{daFormCtrl.directAward.CompanyPhone}}<br />
                            : {{daFormCtrl.directAward.CompanyAddress}}<br />
                            : {{daFormCtrl.directAward.CompanyCityStateZip}}<br />
                            : {{daFormCtrl.directAward.Schedule}}<br />
                        </div>
                    </div>
                    <div class="formEEC-contentOutside">
                        <i>{{'DIRECT_AWARD.SCHEDULE_DESC' | translate}}</i>
                    </div>
                    <div class="formEEC-contentOutside">
                        <div class="row">
                            <div class="formEEC-col3">
                                {{'DIRECT_AWARD.ESTIMATED_COST' | translate}}<br />
                                {{'DIRECT_AWARD.PROJECT_MANAGER' | translate}}<br />
                            </div>
                            <div class="formEEC-col9">
                                : {{daFormCtrl.directAward.EstimatedCost == 1 ? 'US$' : ''}}{{daFormCtrl.directAward.EstimatedCost == 2 ? 'IDR' : ''}}<br />
                                : {{daFormCtrl.directAward.ProjectManagerFullName}}<br />
                            </div>
                        </div>
                    </div>
                    <div class="formEEC-contentOutside">
                        <div class="row">
                            <label><u>{{'DIRECT_AWARD.SOLE_SOURCE_RATIONALE' | translate}}</u></label>
                        </div>
                        <div class="row">
                            {{'DIRECT_AWARD.SOLE_SOURCE_RATIONALE_DESC' | translate}}
                        </div>
                    </div>
                    <div class="formEEC-contentOutside">
                        <div class="formEEC-col3">
                            {{'DIRECT_AWARD.DESC_OF_REQUESTED_SERVICE' | translate}} <br />
                        </div>
                        <div class="formEEC-col9">
                            : {{daFormCtrl.directAward.DescOfReqService}}<br />
                        </div>
                    </div>
                    <div class="formEEC-contentOutside">
                        <i>{{'DIRECT_AWARD.DESC_OF_REQUESTED_SERVICE_DESC' | translate}}</i>
                    </div>
                    <table class="formEEC-table">
                        <thead>
                            <tr>
                                <td class="text-bold">{{'DA_CHECKLIST.HEADER'|translate}}</td>
                                <td />
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_0' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[0].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[0].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_1' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[1].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[1].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_2' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[2].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[2].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_3' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[3].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[3].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_4' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[4].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[4].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_5' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[5].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[5].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_6' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[6].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[6].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_7' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[7].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[7].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_8' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[8].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[8].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{ 'DA_CHECKLIST.CHK_9' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[9].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[9].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_10' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[10].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[10].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_11' }}"></p>
                                    <p translate="{{'DA_CHECKLIST.CHK_11_1' }}"></p>
                                    <p translate="{{'DA_CHECKLIST.CHK_11_2' }}"></p>
                                    <p translate="{{'DA_CHECKLIST.CHK_11_3' }}"></p>
                                    <p translate="{{'DA_CHECKLIST.CHK_11_4' }}"></p>
                                    <p translate="{{'DA_CHECKLIST.CHK_11_5' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[11].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[11].IsChecked" >V</i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p translate="{{'DA_CHECKLIST.CHK_12' }}"></p>
                                    <i>{{daFormCtrl.directAward.ContractRequisitonDACheckLists[12].Remark}}</i>
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-check-circle" ng-if="daFormCtrl.directAward.ContractRequisitonDACheckLists[12].IsChecked" >V</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="formEEC-contentOutside">
                        <div class="row">
                            <label><u>{{'DIRECT_AWARD.ACKNOWLEDGEMENT' | translate}}</u></label>
                        </div>
                        <div class="row">
                            <p translate="{{ 'DIRECT_AWARD.ACKNOWLEDGEMENT_DESC' }}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>