﻿<section class="content" ng-init="upSOWDCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li ng-repeat="b in upSOWDCtrl.breadcrumbs">
            <a ng-if="b.href" href="{{b.href}}">{{ b.title | translate}}</a>
            <a ng-if="!b.href">{{ b.title | translate}}</a>
        </li>
    </ol>
    <div class="container">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-10">
                        <h3 ng-if="!upSOWDCtrl.isTenderVerification" class="text-center afta-font">{{'UPLOAD_SOW_DOCS' | translate}}</h3>
                        <h3 ng-if="upSOWDCtrl.isTenderVerification" class="text-center afta-font">{{'SOW_DOCS' | translate}}</h3>
                        <h4 class="text-center afta-font">{{upSOWDCtrl.ProjectTitle}}</h4>
                    </div>
                </div>
                <div class="row" ng-if="!upSOWDCtrl.isTenderVerification">
                    <div class="col-md-10">
                        <button ng-click="upSOWDCtrl.add()" class="btn btn-sm btn-success pull-right" title="{{'TAMBAH'|translate}}"><i class="fa fa-plus"></i> </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" width="50" >{{'TABLE.NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.NAMA_DOK' | translate}}</th>
                                            <th class="center-vertical" width="100" >File</th>
                                            <th class="center-vertical" width="100" ng-if="!upSOWDCtrl.isTenderVerification" >Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="sd in upSOWDCtrl.sowDocs">
                                            <td class="center-vertical">{{$index + 1}}</td>
                                            <td>{{sd.DocName}}</td>
                                            <td class="center-vertical">
                                                <a href="{{upSOWDCtrl.folderFile + sd.DocUrl}}" class="btn btn-xs btn-info" target="_blank"><i class="fa fa-download"></i> Download</a>
                                            </td>
                                            <td ng-if="!upSOWDCtrl.isTenderVerification" class="center-vertical">
                                                <button ng-click="upSOWDCtrl.edit(sd)" class="btn btn-xs btn-info" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></button>
                                                <button ng-click="upSOWDCtrl.del(sd)" class="btn btn-xs btn-danger" title="{{'HAPUS'|translate}}"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tr ng-if="upSOWDCtrl.sowDocs.length <= 0">
                                        <td colspan="5" cellpadding="0">
                                            <div class="alert alert-info text-center">
                                                <span>{{'TIDAK_ADA_DATA' | translate}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-10 text-center">
                        <button ng-click="upSOWDCtrl.back()" class="btn btn-flat btn-primary"><i class="fa fa-reply" title="{{'KEMBALI' | translate}}"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>