﻿<div ng-init="PrequalResultApprvCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
            <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
            <li><a href="#/data-prakualifikasi/tahapan/{{PrequalResultApprvCtrl.PrequalSetupID}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
            <li><a href="#/hasil-prakualifikasi-approval/{{PrequalResultApprvCtrl.PrequalSetupID}}/{{PrequalResultApprvCtrl.PrequalStepID}}">{{'BREADCRUMB.PENETAPAN_HASIL_PRAKUALIFIKASI_APPROVAL'|translate}}</a></li>
			<li><a class="active">{{'BREADCRUMB.APPROVAL_TITLE'|translate}}</a></li>
		</ol>
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{PrequalResultApprvCtrl.step.PrequalStepName}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="table table-responsive ">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th style="width: 5px; min-width: 5px; text-align: center;">No.</th>
												<th class="text-center" style="width: 100px; min-width: 100px;">{{'TABLE.PREQ_CODE'|translate}}</th>
												<th class="text-center" style="width: 100px; min-width: 100px;">{{'TABLE.PREQ_NAME'|translate}}</th>
												<th class="text-center" style="width: 100px; min-width: 100px;">Status</th>
												<th class="text-center" style="width: 100px; min-width: 100px;"></th>
										</thead>
										<tbody>
											<tr ng-repeat="dt in PrequalResultApprvCtrl.migrasi">
												<td class="text-center" style="vertical-align: middle;">{{PrequalResultApprvCtrl.currentPage > 1 ? (PrequalResultApprvCtrl.pageSize * (PrequalResultApprvCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
												<td style="vertical-align: middle;">{{dt.PrequalSetupStepModel.PrequalSetupCode}}</td>
												<td style="vertical-align: middle;">{{dt.PrequalSetupStepModel.PrequalSetupName}}</td>
												<td style="vertical-align: middle;" ng-if="dt.PrequalMigrasiModel.ApprovalStatus === true">Approve</td>
												<td style="vertical-align: middle;" ng-if="dt.PrequalMigrasiModel.ApprovalStatus === false">Reject</td>
												<td style="vertical-align: middle;" ng-if="dt.PrequalMigrasiModel.ApprovalStatus === null"></td>
												<td class="text-center" style="vertical-align: middle;">
													<a class="btn btn-sm btn-success" title="{{'BTN.VENDOR_DETAIL'|translate}}" ng-click="PrequalResultApprvCtrl.detailVendor(dt)">
														<i class="fa fa-search"></i>
													</a>
													<button title="Approve" ng-if="dt.PrequalMigrasiModel.ApprovalStatus == null " class="btn btn-flat btn-sm btn-primary" ng-click="PrequalResultApprvCtrl.approve(dt)">
														<i class="fa fa-check-circle-o"></i>
													</button>
													<button title="Reject" ng-if="dt.PrequalMigrasiModel.ApprovalStatus == null " class="btn btn-sm btn-danger" ng-click="PrequalResultApprvCtrl.reject(dt)">
														<i class="fa fa-close"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<br />
								<div class="row">
									<div class="col-md-10">
										<ul uib-pagination total-items="PrequalResultApprvCtrl.totalItems" max-size="10"
											ng-model="PrequalResultApprvCtrl.currentPage" items-per-page="PrequalResultApprvCtrl.pageSize"
											previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="PrequalResultApprvCtrl.loadMigrasi(PrequalResultApprvCtrl.currentPage)"></ul>
									</div>
									<div class="col-md-10">
										<label>Total Data : {{PrequalResultApprvCtrl.totalItems}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>