﻿<div class="modal-content" ng-init="MasterAfiliasiModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="MasterAfiliasiModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" ng-if="MasterAfiliasiModalCtrl.isAdd == 1">{{'MODAL_TAMBAH' | translate}}</h3>
        <h3 class="modal-title afta-font" ng-if="MasterAfiliasiModalCtrl.isAdd == 0">{{'MODAL_UBAH' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'TABLE.NAME' | translate}}* </label>
                    <input type="text" class="form-control"
                           ng-model="MasterAfiliasiModalCtrl.afiliasiName"
                           placeholder="{{'TABLE.NAME' | translate}}">
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="MasterAfiliasiModalCtrl.batal()" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="MasterAfiliasiModalCtrl.simpan()" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>