﻿
<style type="text/css">
	.hide-bullets {
		list-style: none;
		margin-left: -40px;
		margin-top: 20px;
	}

	img.fit {
		-o-object-fit: contain;
		object-fit: contain;
		-o-object-position: top 75%;
		object-position: top 75%;
	}

	#leftcol {
		position: absolute;
		top: 0px;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow-y: auto;
		height: 350px;
	}

		#leftcol ul li {
			list-style: none;
			color: #2a6496;
		}

	#rightcol {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		overflow-y: scroll;
		width: 25%;
		height: 400px;
	}

	[ng-cloak] {
		display: none !important;
	}
</style>

<!-- Header Carousel -->
<div ng-cloak id="visitor" class="container-fluid no-pad">
	<div>
		<div style="margin-top: 40px; margin-bottom: 25px;">
			<div id="main_area" ng-init="homeCtrl.initialize()">
				<!-- Slider -->
				<div class="row">
					<div class="col-xs-12" id="slider">
						<!-- Top part of the slider -->
						<div class="row">
							<div class="col-md-12">
								<uib-carousel active="homeCtrl.activeSlide" interval="3000" no-wrap="noWrapSlides">
									<uib-slide ng-repeat="slide in main.pageComponent.CAROUSEL" index="$index">
										<img class="heightslide" ng-src="{{slide}}" style="margin:auto;width:100%">
									</uib-slide>
								</uib-carousel>
							</div>
						</div>
					</div>
				</div>
				<!--/Slider-->
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<div class="row section-content">
				<div class="col-md-3">
					<div ng-if="homeCtrl.news.length <= 0"><div class="alert alert-info">{{'NODATA.NEWS' | translate}}</div></div>
					<ul class="header-news">
						<li ng-repeat="b in homeCtrl.news">
							<i class="fa fa-laptop"></i>&nbsp; <a style="cursor:pointer" ng-click="homeCtrl.gotofrontnews(b.NewsID)">{{b.NewsTitle}}</a>
						</li>
					</ul>
				</div>
				<div class="col-md-9">
					<div class="row row-content">
						<div class="col-md-12">
							<div class="header">{{'ARTICLE.TITLE_LINE_1' | translate}}</div>
							<p>{{'ARTICLE.CONTENT' | translate}}</p>
						</div>
					</div>
					<div class="row row-content">
						<div class="col-md-6">
							<div class="header">{{'PANEL.HEADING_1' | translate}}</div>
							<p>{{'PANEL.CONTENT_1' | translate}}</p>
						</div>
						<div class="col-md-6">
							<div class="header">{{'PANEL.HEADING_2' | translate}}</div>
							<p>{{'PANEL.CONTENT_2' | translate}}</p>
						</div>
					</div>
					<div class="row row-content">
						<div class="col-md-6">
							<div class="header">{{'PANEL.HEADING_3' | translate}}</div>
							<p>{{'PANEL.CONTENT_3' | translate}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>