﻿<section class="content" ng-init="ehjCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/home"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{ehjCtrl.tenderRefID}}/{{ehjCtrl.procPackType}}/{{ehjCtrl.tenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li><a class="active">{{ehjCtrl.tenderStepData.step.TenderStepName |translate}}</a></li>
    </ol> 
    <div id="divEvaluasiHarga" class="container-fluid">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row" id="divInfo">
                            <div class="col-md-12 post post-header-line" style="padding-bottom: 5px;">
                                <h3 class="afta-font" style="margin-top: 5px!important;">
                                    {{ehjCtrl.tenderStepData.step.TenderStepName |translate}}
                                </h3>
                                <label>
                                    {{ehjCtrl.tenderStepData.tender.TenderName}}
                                    <span ng-if="ehjCtrl.tenderStepData.tender.IsCancelled">
                                        <i class="text-red">({{'KET_BATAL'|translate}})</i>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 3px;">
                            <div class="col-md-6">
                                <span class="time pull-left" style="color: black;"><i class="fa fa-tags"></i>{{'TGL_MULAI'|translate}} : {{ehjCtrl.tenderStepData.StartDate | date : "dd/MM/yyyy HH:mm"}}</span>
                            </div>
                            <div class="col-md-6">
                                <span class="time pull-right" style="color: black;"><i class="fa fa-tags"></i>{{'TGL_SELESAI'|translate}} : {{ehjCtrl.tenderStepData.EndDate | date : "dd/MM/yyyy HH:mm"}}</span>
                            </div>
                        </div>
                        <div id="divSummary" class="row" style="padding-top: 20px;">
                            <div class="col-md-6">
                                <a ng-click="ehjCtrl.lihatSummary()" class="btn btn-flat btn-sm btn-info pull-left" title="{{'LIHAT_SUMMARY'|translate}}"><i class="fa fa-eye"></i> </a>
                            </div>
                            <div class="col-md-6">
                                <button ng-disabled="!ehjCtrl.isProcess || ehjCtrl.tenderStepData.tender.IsCancelled" ng-click="ehjCtrl.lakukanEvaluasi()" type="button" class="btn btn-flat btn-sm btn-success pull-right" title="{{'EVALUASI_N_SUMMARY'|translate}}">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px!important;">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center-vertical" width="20px">{{'TABLE.NO'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.REKANAN'|translate}}</th>
                                                <th class="center-vertical" style="width: 180px;">{{'TABLE.PENAWARAN'|translate}}</th>
                                                <th class="center-vertical" style="width: 85px;">Breakdown</th>
                                                <th class="center-vertical" style="width: 85px;">{{'TABLE.TENDER_LETTER'|translate}}</th>
                                                <th class="center-vertical" style="width: 85px;">{{'TABLE.QUEST'|translate}}</th>
                                                <th class="center-vertical" style="width: 85px;">{{'TABLE.SKOR'|translate}}</th>
                                                <th class="center-vertical" style="width: 85px;">{{'TABLE.LOLOS'|translate}}</th>
                                                <th class="center-vertical" style="width: 136px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pe in ehjCtrl.evaluasi.ServiceOfferEntryEvaluationVendors">
                                                <td class="center-vertical">{{$index + 1}}</td>
                                                <td class="middle-vertical">{{pe.VendorName}}</td>
                                                <td class="text-right middle-vertical">{{pe.OfferTotalCost | currency : ehjCtrl.currency + " "}}</td>
                                                <td class="center-vertical">
                                                    <a href="{{ehjCtrl.folderFile + pe.PriceBreakdownURL}}" ng-if="pe.PriceBreakdownURL" target="_blank" class="btn btn-xs btn-flat btn-primary" style="vertical-align: middle; cursor: pointer!important;" title="{{'DOWNLOAD_DOKUMEN'|translate}}"><i class="fa fa-download"></i>&nbsp;{{'DOWNLOAD'|translate}}</a>
                                                </td>
                                                <td class="center-vertical">
                                                    <a href="{{ehjCtrl.folderFile + pe.TenderLetterURL}}" ng-if="pe.TenderLetterURL" target="_blank" class="btn btn-xs btn-flat btn-success" style="vertical-align: middle; cursor: pointer!important;" title="{{'DOWNLOAD_DOKUMEN'|translate}}"><i class="fa fa-download"></i>&nbsp;{{'DOWNLOAD'|translate}}</a>
                                                </td>
                                                <td class="center-vertical">
                                                    <button ng-click="ehjCtrl.lihatKuisioner(pe)" class="btn btn-xs btn-flat btn-warning" style="vertical-align: middle; cursor: pointer!important;" title="{{'TABLE.QUEST'|translate}}"><i class="fa fa-list"></i></button>
                                                </td>
                                                <td class="center-vertical">{{pe.Score.toFixed(2)}}</td>
                                                <td class="center-vertical">
                                                    <span ng-if="pe.IsPassed">{{'TABLE.LOLOS'|translate}}</span>
                                                    <span ng-if="!pe.IsPassed">{{'TABLE.TIDAK_LOLOS'|translate}}</span>
                                                </td>
                                                <td class="center-vertical">
                                                    <a ng-click="ehjCtrl.detail(pe.ID)" class="btn btn-sm btn-flat btn-info" style="vertical-align: middle; cursor: pointer!important;" title="{{'DETAIL_PENAWARAN'|translate}}"><i class="fa fa-external-link"></i></a>
                                                </td>
                                            </tr>
                                            <tr ng-if="!ehjCtrl.evaluasi.ServiceOfferEntryEvaluationVendors"><td colspan="8">{{'BELUM_ADA_EVALUASI'|translate}}</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <hr />
                            <div class="col-md-12">
                                <div class="text-right">
                                    <a href="#/data-pengadaan/tahapan/{{ehjCtrl.tenderRefID}}/{{ehjCtrl.procPackType}}/{{ehjCtrl.tenderID}}" class="btn btn-sm btn-flat btn-primary" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                                    <button type="button" title="{{'PRINT'|translate}}" class="btn btn-flat btn-sm btn-default pull-right" ng-click="ehjCtrl.print()">
                                        <i class='fa fa-print'></i>&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>