﻿<section class="content" ng-init="evaluasiHargaJasaPrintController.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/home">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{evaluasiHargaJasaPrintController.tenderStepData.step.TenderStepName |translate}}</a></li>
    </ol>
    <div id="divEvaluasiHarga" class="container-fluid">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" title="{{'PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="evaluasiHargaJasaPrintController.cetak()">
                                    <i class='fa fa-print'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                        <div id="print">
                            <div class="row" id="divInfo">
                                <div class="col-md-12" style="padding-bottom: 5px;">
                                    <h3 class="afta-font text-center" style="margin-top: 5px!important;">
                                        {{evaluasiHargaJasaPrintController.tenderStepData.step.TenderStepName |translate}}
                                    </h3>
                                    <label>
                                        <span ng-if="evaluasiHargaJasaPrintController.tenderStepData.tender.IsCancelled">
                                            <i class="text-red">({{'KET_BATAL'|translate}})</i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label> {{'TABLE.TENDER'|translate}} : {{evaluasiHargaJasaPrintController.tenderStepData.tender.TenderName}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>{{'TGL_MULAI'|translate}} : {{evaluasiHargaJasaPrintController.tenderStepData.StartDate | date : "dd/MM/yyyy HH:mm"}}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="pull-right">{{'TGL_SELESAI'|translate}} : {{evaluasiHargaJasaPrintController.tenderStepData.EndDate | date : "dd/MM/yyyy HH:mm"}}</label>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 10px!important;">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center-vertical" width="20px" style="border:1px solid black;">{{'TABLE.NO'|translate}}</th>
                                                    <th class="center-vertical" style="border:1px solid black;">{{'TABLE.REKANAN'|translate}}</th>
                                                    <th class="center-vertical" style="width: 180px;border:1px solid black;">{{'TABLE.PENAWARAN'|translate}}</th>
                                                    <th class="center-vertical" style="width: 85px;border:1px solid black;">{{'TABLE.SKOR'|translate}}</th>
                                                    <th class="center-vertical" style="width: 85px;border:1px solid black;">{{'TABLE.LOLOS'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pe in evaluasiHargaJasaPrintController.evaluasi.ServiceOfferEntryEvaluationVendors">
                                                    <td class="center-vertical" style="border:1px solid black;">{{$index + 1}}</td>
                                                    <td class="middle-vertical" style="border:1px solid black;">{{pe.VendorName}}</td>
                                                    <td class="text-right middle-vertical" style="border:1px solid black;">{{pe.OfferTotalCost | currency : evaluasiHargaJasaPrintController.currency + " "}}</td>
                                                    <td class="center-vertical" style="border:1px solid black;">{{pe.Score.toFixed(2)}}</td>
                                                    <td class="center-vertical" style="border:1px solid black;">
                                                        <span ng-if="pe.IsPassed">{{'TABLE.LOLOS'|translate}}</span>
                                                        <span ng-if="!pe.IsPassed">{{'TABLE.TIDAK_LOLOS'|translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="!evaluasiHargaJasaPrintController.evaluasi.ServiceOfferEntryEvaluationVendors"><td colspan="5" style="border:1px solid black;">{{'BELUM_ADA_EVALUASI'|translate}}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-12">
                                <div class="text-right">
                                    <button type="button" title="{{'KEMBALI'|translate}}" class="btn btn-flat btn-sm btn-primary pull-right" ng-click="evaluasiHargaJasaPrintController.kembali()">
                                        <i class='fa fa-arrow-left'></i>&nbsp;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>