﻿<div id="idTambahDepartemen" class="modal-content" ng-init="formDepartCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="formDepartCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{formDepartCtrl.action | translate}} {{'DATA_DEPARTEMEN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">{{'Kode Departemen'|translate}}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" ng-model="formDepartCtrl.kode_depart" class="form-control" placeholder="{{'Kode Departemen'|translate}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">{{'Nama Departemen'|translate}}</label>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" ng-model="formDepartCtrl.nama_depart" class="form-control" placeholder="{{'Nama Departemen'|translate}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="formDepartCtrl.batal()" title="{{'BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button type="button" class="btn btn-flat btn-success" ng-click="formDepartCtrl.simpan()" title="{{'SIMPAN'|translate}}">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>
