﻿<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
});
</script>
<div class="row">
    <!--<div class="col-md-12">
        <label ng-if="vm.vendor.country != 360">
            PBJ International
        </label>
        <label ng-if="vm.vendor.country == 360">
            PBJ Nasional
        </label>
    </div>-->
</div>
<form name="daftarCtrl.informationForm">
    <div class="row">
        <div class="col-md-6"  ng-if="daftarCtrl.vendor.country == 360">
            <label>{{'FORM.JNS_PERUSAHAAN' | translate}}</label> <span style="color:red;">*</span>
        </div>
        <div class="col-md-6" >
            <label>{{'FORM.NM_PERUSAHAAN' | translate}}</label> <span style="color:red;">*</span>
            &nbsp;
            <a href="" data-toggle="tooltip" data-placement="top" title="{{'NAME_NOTIFIKASI' | translate}}">
                <i class="fa fa-info-circle fa-lg"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"  ng-if="daftarCtrl.vendor.country == 360">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.businessType.$valid && !daftarCtrl.informationForm.businessType.$pristine}">
                <select name="businessType" class="form-control"
                        ng-model="daftarCtrl.vendor.business"
                        ng-disabled="!daftarCtrl.businessList"
                        ng-change="daftarCtrl.cekBusinessReq()"
                        ng-options="item as item.Name + ' | ' + item.Description for item in daftarCtrl.businessList">
                    <option value="" selected disabled>-- {{"FORM.JNS_PERUSAHAAN" | translate}}* --</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.companyName.$valid && !daftarCtrl.informationForm.companyName.$pristine}">
                <input class="form-control" style="text-transform: uppercase" name="companyName" placeholder="{{'FORM.NM_PERUSAHAAN' | translate}} *" type="text"
                       ng-model="daftarCtrl.vendor.name"  />
                <!--<div ng-if="daftarCtrl.selectedCountryCode==='IDN'">-->
                    <i class="font10" ng-if="daftarCtrl.vendor.country == 360">{{"FORM.NOTE_NAMA" | translate}}</i>
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-if="daftarCtrl.vendor.country == 360 ">
            <label>{{'FORM.NO_NPWP' | translate}}</label> <span style="color:red;">*</span>
        </div>

        <div class="col-md-6" ng-if="daftarCtrl.vendor.country != 360">
            <label>{{'FORM.NO_NPWP' | translate}} </label> <span style="color:red;">*</span>
        </div>
        <div class="col-md-6">
            <label>{{'FORM.NOTE_NPWP' | translate}}</label> <span style="color:red;">*</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-if="daftarCtrl.vendor.country == 360">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.npwp.$valid && !daftarCtrl.informationForm.npwp.$pristine, 'has-success': daftarCtrl.npwpAvailable == true && daftarCtrl.npwp}">
                    <div class="input-cont" ng-if="daftarCtrl.businessReq.IsNeedNpwp==null||daftarCtrl.businessReq.IsNeedNpwp==true">
                        <input class="form-control" disabled  data-toggle="tooltip" data-placement="right" title="{{'FORM.NO_NPWP' | translate}}" placeholder="{{'FORM.NO_NPWP' | translate}} *" type="text" ng-model="daftarCtrl.vendor.npwp" ng-change="daftarCtrl.npwpChanged()" ui-mask="99.999.999.9.999.999" ui-mask-placeholder ui-mask-placeholder-char="_" name="npwp" />
                    </div>
                    <div class="input-cont" ng-if="daftarCtrl.businessReq.IsNeedNpwp==false">
                        <input class="form-control" disabled data-toggle="tooltip" data-placement="right" title="Company Registration" placeholder="Company Registration *" type="text" ng-model="daftarCtrl.vendor.npwp" ng-change="daftarCtrl.npwpChanged()" ui-mask="99.999.999.9.999.999" ui-mask-placeholder ui-mask-placeholder-char="_" name="npwp" />
                    </div>
            </div>
        </div>

        <div class="col-md-6" ng-if="daftarCtrl.vendor.country != 360">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.npwp.$valid && !daftarCtrl.informationForm.npwp.$pristine, 'has-success': daftarCtrl.npwpAvailable == true && daftarCtrl.npwp}">
                <div class="input-cont">
                    <input class="form-control" disabled data-toggle="tooltip" data-placement="right" title="{{'FORM.NO_NPWP' | translate}}" placeholder="Company Registration *" type="text" ng-model="daftarCtrl.vendor.npwp" ng-blur="daftarCtrl.npwpChanged()" name="npwp" />
                </div>
                <!-- <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="daftarCtrl.npwpChanged()"><i class="fa fa-search"></i>&nbsp;Check</button>
                </span> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.ownerIDFile.$valid && !daftarCtrl.informationForm.ownerIDFile.$pristine}">
                <input ng-file-select="daftarCtrl.npwpDocSelected()" class="form-control  marginBottom-1" type="file"
                       ng-model="daftarCtrl.npwpDoc" name="ownerIDFile" />
                <i class="font10">
                    {{'FORM.NOTE_NPWP' | translate}} <small> ( <span ng-repeat="ft in daftarCtrl.npwpUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{daftarCtrl.npwpFileSize.Size}} {{daftarCtrl.npwpFileSize.SizeUnitName | translate}}</span> )<a ng-if="daftarCtrl.NpwpUrl !== undefined" target="_blank" ng-href="{{main.api_endpoint + '/' + daftarCtrl.NpwpUrl}}" class="btn btn-flat btn-xs btn-primary" style="cursor: pointer;"><i class="fa fa-download">Unduh File</i></a> </small>
                </i>
            </div>
        </div>
    </div>

    <div class="row" ng-if="daftarCtrl.vendor.country == 360">
        <div class="col-md-4" ng-if="daftarCtrl.vendor.country == 360 && daftarCtrl.businessReq.BusinessEntityRequirement == null">
           <label>{{"FORM.LEGAL_TYPE" | translate}}</label> <span style="color:red;">*</span>
        </div>
        <div class="col-md-4" ng-if="daftarCtrl.vendor.country == 360 && daftarCtrl.businessReq.BusinessEntityRequirement != null">
           <label>{{"FORM.LEGAL_TYPE" | translate}}</label> <span style="color:red;">*</span>
        </div>
        <div class="col-md-4">
            <label>{{"FORM.NO_SKT" | translate}}</label> <span style="color:red;">*</span>
        </div>
        <div class="col-md-4">
            <label>{{'FORM.UNGGAH' | translate}} {{daftarCtrl.vendor.legal.Name}}</label> <span style="color:red;">*</span>
        </div>
    </div>
    <div class="row" ng-if="daftarCtrl.vendor.country == 360">
        <div class="col-md-4" ng-if="daftarCtrl.vendor.country == 360 && daftarCtrl.businessReq.BusinessEntityRequirement == null">
            <div class="form-group">
                <select name="LegalType" class="form-control"
                        ng-model="daftarCtrl.vendor.legal"
                        ng-disabled="!daftarCtrl.LegalList"
                        ng-options="item as item.Name for item in daftarCtrl.LegalList">
                    <option value="" selected disabled>-- {{"FORM.LEGAL_TYPE" | translate}}* --</option>
                </select>
            </div>
        </div>
        <div class="col-md-4" ng-if="daftarCtrl.vendor.country == 360 && daftarCtrl.businessReq.BusinessEntityRequirement != null">
            <div class="form-group">
                <select name="LegalType" class="form-control"
                        ng-model="daftarCtrl.vendor.legal"
                        ng-disabled="!daftarCtrl.businessReq.BusinessEntityRequirement"
                        ng-options="item as item.License.Name for item in daftarCtrl.businessReq.BusinessEntityRequirement">
                    <option value="" selected disabled>-- {{"FORM.LEGAL_TYPE" | translate}}* --</option>
                </select>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="form-group">
                <div class="input-group ">
                    <input class="form-control" data-toggle="tooltip" data-placement="right" title="{{'FORM.NO_SKT' | translate}}" ng-disabled="daftarCtrl.vendor.legal == undefined" placeholder="{{daftarCtrl.vendor.legal.Name}}" type="text" ng-model="daftarCtrl.vendor.siup" ng-blur="daftarCtrl.checkLegal()" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="daftarCtrl.checkLegal()"><i class="fa fa-search"></i>&nbsp;Check</button>
                    </span>
                </div>
                <div class="input-group">
                    <small> {{'FORM.NOTE_SKT' | translate}} </small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input ng-file-select="daftarCtrl.sktDocSelected()" ng-disabled="daftarCtrl.vendor.legal == undefined" class="form-control  marginBottom-1" type="file"
                       ng-model="daftarCtrl.sktDoc" name="ownerIDFile" />
                <!--<i class="font10">
                    {{'FORM.NOTE_SKT' | translate}} <small> ( <span ng-repeat="ft in daftarCtrl.siupUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{daftarCtrl.siupFileSize.Size}} {{daftarCtrl.siupFileSize.SizeUnitName | translate}}</span> ) <a ng-if="daftarCtrl.siupUrl !== undefined" target="_blank" ng-href="{{main.api_endpoint + '/' + daftarCtrl.siupUrl}}" class="btn btn-flat btn-xs btn-primary" style="cursor: pointer;"><i class="fa fa-download">Download File</i></a></small>
                </i>-->
            </div>
        </div>
    </div>
        <!--<div class="row" ng-if="daftarCtrl.vendor.country.Code != 'IDN' && daftarCtrl.vendor.country.Code">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.intlTax.$valid && !daftarCtrl.informationForm.intlTax.$pristine}">
                    <input class="form-control" name="intlTax" placeholder="{{'FORM.COMPANY_REG' | translate}}*" ng-blur="daftarCtrl.checkCekCompany()" type="text" ng-model="daftarCtrl.vendor.npwp" required />
                </div>
            </div>
        </div>-->

       
</form>