﻿<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="tooltip"]').tooltip();
});
</script>
<form name="daftarCtrl.stockForm">
    <div class="row">
        <div class="col-md-3">
           <label>{{"FORM.PEMILIK_SHM" | translate}}</label> <span style="color:red;" ng-if="daftarCtrl.stockOpt.Name != undefined">*</span>
        </div>
        <div class="col-md-3">
            <label ng-if="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                    {{'FORM.NM_PEMILIK_SHM_SAJA' | translate}}
            </label>
            <label ng-if="daftarCtrl.stockOpt.Name=='STOCK_COMPANY'">
                    {{'FORM.NM_PERUSAHAAN' | translate}}
            </label>
            <span style="color:red;" ng-if="daftarCtrl.stockOpt.Name != undefined">*</span>
        </div>
        <div class="col-md-3">
            <label style="font-size:13px" ng-if="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                {{'FORM.TGL_LAHIR_PERSONAL' | translate}} 
            </label>
            <label ng-if="daftarCtrl.stockOpt.Name=='STOCK_COMPANY'">
                    {{'FORM.TGL_BERDIRI' | translate}}
            </label>
            <span style="color:red;" ng-if="daftarCtrl.stockOpt.Name != undefined">*</span>
            <a href="" data-toggle="popover" data-placement="top" title="{{'INSTRUCTION' | translate}}" data-content="{{'DATE_NOTIF' | translate}}">
                <i class="fa fa-info-circle fa-lg"></i>
            </a>  
        </div>
        <div class="col-md-3">
            <label ng-if="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL'">
               
                    {{'FORM.NO_KTP' | translate}}
            
            </label>
            <label ng-if="daftarCtrl.stockOpt.Name=='STOCK_COMPANY'">
                
                    {{'FORM.NO_NPWP' | translate}}
                
            </label>
            <span style="color:red;" ng-if="daftarCtrl.stockOpt.Name != undefined">*</span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <select name="stockOption" class="form-control marginBottom-1" style="margin-bottom:0px !important;" ng-model="daftarCtrl.stockOpt"
                    ng-options="item as item.Value | translate for item in daftarCtrl.stockOption" ng-change="daftarCtrl.labelChange()">
                <option value="" selected disabled class="text-center">--{{"FORM.PEMILIK_SHM" | translate}}--</option>
            </select>
           
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.ownerName.$valid && !daftarCtrl.stockForm.ownerName.$pristine}">
                <input class="form-control marginBottom-1" style="margin-bottom:0px !important;" type="text" ng-model="daftarCtrl.stock.owner.name" name="ownerName" placeholder="{{daftarCtrl.nama | translate}}"  />
               
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.ownerDOB.$valid && !daftarCtrl.stockForm.ownerDOB.$pristine}">
                <div class="input-group date form_datetime">
                    <input ng-blur="daftarCtrl.calculateAge(daftarCtrl.stock.owner.dob)" class="form-control" id="dobDate" size="16" style="background-color: #ffffff;" placeholder="{{daftarCtrl.tgl| translate}}" type="text" ng-model="daftarCtrl.stock.owner.dob"
                            uib-datepicker-popup="dd-MM-yyyy" close-text="Close" is-open="daftarCtrl.isDobCalendarOpened" name="ownerDOB" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-flat btn-default" ng-click="daftarCtrl.openDobCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                <!--<input type="date" ng-model="daftarCtrl.stock.owner.dob" />-->
                </div>

                
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.ownerID.$valid && !daftarCtrl.stockForm.ownerID.$pristine}">
                <input class="form-control marginBottom-1" style="margin-bottom:0px !important;" placeholder="{{daftarCtrl.identitas | translate}}" type="text" ng-model="daftarCtrl.stock.owner.id" name="ownerID"  />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label ng-if="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL'">
               
                    {{'FORM.KET_FILE_PERSONAL' | translate}}
             
            </label>
            <label ng-if="daftarCtrl.stockOpt.Name=='STOCK_COMPANY'">
                
                    {{'FORM.KET_FILE_COMPANY' | translate}} 
               
            </label>
            <span style="color:red;" ng-if="daftarCtrl.stockOpt.Name != undefined">*</span>
        </div>
        <div class="col-md-3">
           <label>{{"FORM.SATUAN_SHM" | translate}}</label> <span style="color:red;" ng-if="daftarCtrl.stockOpt.Name != undefined">*</span>
        </div>
        <div class="col-md-3">
            <label>{{'FORM.NOMINAL_SHM' | translate}}</label> <span style="color:red;" ng-if="daftarCtrl.stockOpt.Name != undefined">*</span>
        </div>
        <div class="col-md-3" ng-if="daftarCtrl.stockUnit.Name == 'STOCK_UNIT_CURRENCY'">
           <label>{{"FORM.SATUAN_SHM_MATAUANG" | translate}}</label> <span style="color:red;" ng-if="daftarCtrl.stockOpt.Name != undefined">*</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.ownerIDFile.$valid && !daftarCtrl.stockForm.ownerIDFile.$pristine}">
                <input ng-file-select="daftarCtrl.stockOwnerIDSelected()" class="form-control  marginBottom-1" type="file"
                       ng-model="daftarCtrl.stockOwnerID" name="ownerIDFile" />
               <i><small> ( <span ng-repeat="ft in daftarCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{daftarCtrl.idUploadConfigs[0].Size}} {{daftarCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small></i> 
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.stockUnit.$valid && !daftarCtrl.stockForm.stockUnit.$pristine}">
                <select name="stockUnit"  class="form-control" ng-model="daftarCtrl.stockUnit"
                        ng-options="item as item.Value | translate for item in daftarCtrl.stockUnits"
                        ng-disabled="daftarCtrl.stockUnit && daftarCtrl.flag === 1">
                    <option value="" selected disabled class="text-center">--{{"FORM.SATUAN_SHM" | translate}}--</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.stockQty.$valid && !daftarCtrl.stockForm.stockQty.$pristine}">
                <input type="number" class="form-control" placeholder="{{'FORM.NOMINAL_SHM' | translate}} *" name="stockQty" ng-model="daftarCtrl.stock.quantity"  />
            </div>
        </div>
        <div class="col-md-3" ng-if="daftarCtrl.stockUnit.Name == 'STOCK_UNIT_CURRENCY'">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.stockUnitCurrency.$valid && !daftarCtrl.stockForm.stockUnitCurrency.$pristine}">
                <select name="stockUnitCurrency"  class="form-control" ng-model="daftarCtrl.stockUnitCurrency"
                        ng-options="item as item.Symbol + ' | ' + item.Label for item in daftarCtrl.currencyList">
                    <option value="" selected disabled class="text-center">--{{"FORM.SATUAN_SHM_MATAUANG" | translate}}--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <!--ng-disabled="!daftarCtrl.stockForm.$valid"-->
        <div class="col-md-12 center-block">
            <button class="btn btn-sm btn-flat btn-primary"  ng-click="daftarCtrl.addStockData()"><i class="fa fa-plus-circle"></i> {{'FORM.BTN_SAHAM' | translate}}</button>
        </div>
    </div>
</form> 
<div class="row">
    <div class="col-md-12">
        <div class="table table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 4%;">{{'FORM.TABEL.COL_NO' | translate}}</th>
                        <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_TIPE' | translate}}</th>
                        <th class="text-center">{{'FORM.TABEL.COL_NAMA' | translate}}</th>
                        <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_TGL_LAHIR' | translate}}</th>
                        <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_NOMINAL' | translate}}</th>
                        <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_SATUAN' | translate}}</th>
                        <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_NO_KTP' | translate}}</th>
                        <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_FILE' | translate}}</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!daftarCtrl.stocks || daftarCtrl.stocks.length == 0">
                        <td colspan="8" class="text-center">
                            <div class="alert alert-info">{{'NO_DATA' | translate}}</div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr ng-repeat="dt in daftarCtrl.stocks">
                        <td class="text-center">{{$index + 1}}</td>
                        <td class="text-center">{{dt.type.Value | translate}}</td>
                        <td>{{dt.owner.name}}</td>
                        <td class="text-center">{{dt.owner.dob | date: "dd-MM-yyyy"}}</td">
                        <td class="text-center">{{dt.quantity | currency : ""}}</td>
                        <td class="text-center">{{(dt.unit.Value != 'STOCK_UNIT_CURRENCY') ? dt.unit.Value : dt.CurrencySymbol | translate}}</td>
                        <td class="text-center">{{dt.owner.id}}</td>
                        <td class="text-center"><a ng-href="{{main.api_endpoint + '/' + dt.owner.idDoc}}" target="_blank"><i class="fa fa-download"></i></a></td>
                        <td class="text-center"><button class="btn btn-flat btn-sm btn-danger" ng-click="daftarCtrl.removeStock(dt)" title="{{'HAPUS' | translate}}"><i class="fa fa-times"></i> {{'HAPUS' | translate}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr style="border-top: 1px dotted darkgreen" class="margin-hilang" />
