﻿<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
});
</script><div class="row form-group">
    <ng-form name="daftarCtrl.regionalForm">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
               <label>{{"FORM.COUNTRY" | translate}}</label> 
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <label>{{'FORM.REGION' | translate}}</label> <span style="color:red;">*</span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <label>{{"FORM.STATE" | translate}}</label> <span style="color:red;">*</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group" ng-class="{'has-error': !daftarCtrl.regionalForm.$valid && !daftarCtrl.regionalForm.$pristine}">
                    <!--<select required class="form-control"
                            ng-model="daftarCtrl.vendor.country"
                            ng-change="daftarCtrl.loadStates()"
                            disabled
                            ng-options="item as item.Name for item in daftarCtrl.countryList">
                        <option value="" selected disabled class="text-center">--{{"FORM.COUNTRY" | translate}}--</option>
                    </select>-->

                        <selectize  placeholder="{{'FORM.COUNTRY' | translate}}" options="daftarCtrl.countryList" ng-disabled="true"
                                   config="daftarCtrl.myConfig3" ng-change="daftarCtrl.loadStates()" ng-model="daftarCtrl.vendor.country"></selectize>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group" ng-class="{'has-error': !daftarCtrl.regionalForm.$valid && !daftarCtrl.regionalForm.$pristine}">
                    <input ng-disabled="true" class="form-control" data-toggle="tooltip" data-placement="right" placeholder="{{'FORM.REGION' | translate}} *" type="text" ng-model="daftarCtrl.vendor.region.Name" />
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <!--<select class="form-control"
                            ng-model="daftarCtrl.vendor.state"
                            ng-change="daftarCtrl.loadCities()"
                            ng-disabled="!daftarCtrl.stateList || daftarCtrl.stateList.length == 0 || !daftarCtrl.vendor.country"
                            ng-options="item as item.Name for item in daftarCtrl.stateList">
                        <option value="" selected disabled>--{{"FORM.STATE" | translate}}--</option>
                    </select>-->
                    <selectize placeholder="-State-" options="daftarCtrl.stateList" 
                               config='{
                            maxItems: 1,
                            labelField: "Name",
                            valueField: "StateID",
                            searchField: "Name"
                        }' 
                               ng-change="daftarCtrl.loadCities()" ng-model="daftarCtrl.vendor.state"></selectize>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" ng-if="daftarCtrl.cityList.length != 0 && daftarCtrl.cityList ">
                <!-- !daftarCtrl.cityList || || !daftarCtrl.vendor.state -->
                <label>{{"FORM.CITY" | translate}}</label> <span style="color:red;">*</span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" ng-if="daftarCtrl.districtList.length != 0 && daftarCtrl.districtList">
                <!-- !daftarCtrl.districtList || || !daftarCtrl.vendor.city -->
               <label>{{"FORM.DISTRICT" | translate}}</label> <span style="color:red;">*</span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <label>{{'FORM.KODETENDER' | translate}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" ng-if="daftarCtrl.cityList.length != 0 && daftarCtrl.cityList">
                <!-- !daftarCtrl.cityList || || !daftarCtrl.vendor.state -->
                <div class="form-group">
                    <!--<select class="form-control"
                            ng-model="daftarCtrl.vendor.city"
                            ng-change="daftarCtrl.loadDistricts()"
                            ng-options="item as item.Name for item in daftarCtrl.cityList">
                        <option value="" selected disabled>--{{"FORM.CITY" | translate}}--</option>
                    </select>-->

                    <selectize placeholder="-City-" options="daftarCtrl.cityList"
                               config='{
                            maxItems: 1,
                            labelField: "Name",
                            valueField: "CityID",
                            searchField: "Name"
                        }'
                    ng-change="daftarCtrl.loadDistricts()" ng-disabled="!daftarCtrl.vendor.state || daftarCtrl.vendor.state == ''" ng-model="daftarCtrl.vendor.city"></selectize>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" ng-if="daftarCtrl.districtList.length != 0 && daftarCtrl.districtList ">
                <!-- !daftarCtrl.districtList || || !daftarCtrl.vendor.city -->
                <div class="form-group">
                    <!--<select class="form-control"
                            ng-model="daftarCtrl.vendor.district"
                            ng-options="item as item.Name for item in daftarCtrl.districtList">
                        <option value="" selected disabled>--{{"FORM.DISTRICT" | translate}}--</option>
                    </select>-->
                    <selectize placeholder="-District-" options="daftarCtrl.districtList"
                               config='{
                            maxItems: 1,
                            labelField: "Name",
                            valueField: "DistrictID",
                            searchField: "Name"
                        }'
                             ng-model="daftarCtrl.vendor.district" ng-disabled="!daftarCtrl.vendor.city || daftarCtrl.vendor.city == ''"></selectize>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="input-group ">
                        <input class="form-control" style="text-transform: uppercase" data-toggle="tooltip" data-placement="right" title="{{'FORM.KODETENDER' | translate}}" placeholder="{{'FORM.KODETENDER' | translate}}" type="text" ng-model="daftarCtrl.vendor.TenderCodeGenerate" ng-blur="daftarCtrl.tenderChanged()" name="tendercodetemp" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="daftarCtrl.tenderChanged()"><i class="fa fa-search"></i>&nbsp;Check</button>
                        </span>
                    </div>
                </div>
                <div class="input-group" ng-if="(daftarCtrl.tenderName !== '' && daftarCtrl.checkInclude() == true && daftarCtrl.isTenderJasa==false)">
                    {{"TenderName" | translate }} {{daftarCtrl.tenderName}}
                </div>

                <div class="input-group" ng-if="(daftarCtrl.tenderName !== '' && daftarCtrl.checkInclude() == true && daftarCtrl.isTenderJasa==true&& daftarCtrl.isOpenTender==false)">
                    {{"TenderName" | translate }} {{daftarCtrl.tenderName}}
                </div>
                <div class="input-group" ng-if="(daftarCtrl.tenderName !== '' && daftarCtrl.checkInclude() == false)">
                    {{"PrequalName" | translate }} {{daftarCtrl.tenderName}}
                </div>
            </div>
        </div>
        
        
        <div class="col-md-12" ng-if="daftarCtrl.isTenderJasa==true && daftarCtrl.isOpenTender==true">
            <div class="row">
                <div class="col-md-12">
                    <legend class="afta-font"
                            style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                        {{'Dokumen Pendaftaran Tender'|translate}}
                    </legend>
                </div>
                <div class="col-md-12" style="padding-bottom: 5px;">
                     {{"TenderName" | translate }} <strong>{{daftarCtrl.tenderName}}</strong> 
                </div>
                <div class="margin-atas">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="daftarCtrl.tenderInterestDocData.DocumentName" name="ownerName" placeholder="{{'Nama Dokumen'|translate}}" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control  marginBottom-1" type="file" ng-file-select="daftarCtrl.docTender"
                               ng-model="daftarCtrl.docTender" name="ownerIDFile" required accept="{{daftarCtrl.idFileTypes}}" />
                        <span>
                            <small> ( <span ng-repeat="ft in daftarCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{daftarCtrl.idUploadConfigs[0].Size}} {{daftarCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" ng-click="daftarCtrl.addTenderDoc('')"><i class="fa fa-plus"></i> {{'BUTTONS.ADD' | translate}}</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="col-md-8 margin-atas">
                    <div class="table table-responsive margin-atas">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 4%;">{{'FORM.TABEL.COL_NO' | translate}}</th>
                                    <th class="text-center" style="width: 10%;">{{'Nama Dokumen'|translate}}</th>
                                    <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_FILE' | translate}}</th>
                                    <th style="width: 5%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="!daftarCtrl.tenderInterestDoc || daftarCtrl.tenderInterestDoc.length == 0">
                                    <td colspan="4" class="text-center">
                                        <div class="alert alert-info">{{'NO_DATA' | translate}}</div>
                                        <div class="clearfix"></div>
                                    </td>
                                </tr>
                                <tr ng-repeat="dt in daftarCtrl.tenderInterestDoc">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <td class="text-center">{{dt.DocumentName}}</td>
                                    <td class="text-center"><a ng-href="{{main.api_endpoint + '/' + dt.DocumentUrl}}" target="_blank"><i class="fa fa-download"></i></a></td>
                                    <td class="text-center"><button class="btn btn-xs btn-danger" ng-click="daftarCtrl.removeTenderDoc(dt)"><i class="fa fa-times"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </ng-form>
</div>