<div class="container-fluid" ng-init="DataPengalamanController.initialize()">
	<ol class="breadcrumb">
		<li>
			<a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a>
		</li>
		<li>
			<a class="active">{{'BREADCRUMB.PENGALAMAN'|translate}}</a>
		</li>
	</ol>
	<div class="row" style="padding-top: 30px!important; padding-bottom: 15px;">
		<div class="col-md-12" ng-if="DataPengalamanController.isEntry === true">
			<div class="text-center">
				<a ng-click="DataPengalamanController.addExp(null, true)" class="btn btn-flat btn-primary" title="{{'TAMBAH_DATA'|translate}}">
					<i class="fa fa-plus-circle"></i>&nbsp;
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 center-block" style="float: none!important;">
			<h3 class="text-center afta-font">{{'Pekerjaan Sudah Selesai'|translate}}</h3>
			<h5 class="text-center afta-font">
				<em>{{'TAHUN_TERAKHIR'|translate}}</em>
			</h5>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
							<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="obj in DataPengalamanController.listFinishExp">
							<td class="text-center" style="vertical-align: middle;">{{DataPengalamanController.currentPageCurrent > 1 ? (DataPengalamanController.maxSize * (DataPengalamanController.currentPageCurrent - 1)) + $index + 1 : $index + 1}}</td>
							<td style="vertical-align: middle;">{{obj.ContractName}}</td>
							<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
							<td style="vertical-align: middle;">{{obj.Agency}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
							<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
							<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
							<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center" style="vertical-align: middle;">
								<a ng-click="DataPengalamanController.detailExp(obj)" class="btn btn-xs btn-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
									<i class="fa fa-external-link"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isEntry === true" ng-click="DataPengalamanController.addExp(obj, false)" class="btn btn-xs btn-primary" title="{{'EDIT'|translate}}">
									<i class="fa fa-edit"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isEntry === true" ng-click="DataPengalamanController.editActive(obj, false)" class="btn btn-xs btn-danger" title="{{'DELETE'|translate}}">
									<i class="fa fa-trash-o"></i>
								</a>
							</td>
						</tr>
						<tr ng-if="DataPengalamanController.listFinishExp.length === 0">
							<td colspan="10">{{'NO_DATA'|translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="DataPengalamanController.totalItemsFinish" ng-model="DataPengalamanController.currentPageFinish"
				class="pagination-sm" previous-text="&lsaquo;" max-number="DataPengalamanController.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
				ng-change="DataPengalamanController.loadFinishExperience(DataPengalamanController.currentPageFinish, 1)" max-size="10"></ul>
			<br />
			<label>Total Data : {{DataPengalamanController.totalItemsFinish}}</label>
		</div>
	</div>


	<br />
	<div class="row">
		<div class="col-md-6 center-block" style="float: none!important;">
			<h3 class="text-center afta-font">{{'Pekerjaan Yang Sedang Berlangsung'|translate}}</h3>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
							<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="obj in DataPengalamanController.listCurrentExp">
							<td class="text-center" style="vertical-align: middle;">{{DataPengalamanController.currentPageFinish > 1 ? (DataPengalamanController.maxSize * (DataPengalamanController.currentPageFinish - 1)) + $index + 1 : $index + 1}}</td>
							<td style="vertical-align: middle;">{{obj.ContractName}}</td>
							<td style="vertical-align: middle;">{{obj.AddressInfo}}</td>
							<td style="vertical-align: middle;">{{obj.Agency}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
							<td ng-if="obj.FieldType === 3090" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODS'|translate}}</td>
							<td ng-if="obj.FieldType === 3091" style="vertical-align: middle;">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
							<td ng-if="obj.FieldType === 3092" style="vertical-align: middle;">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.FieldRef.Name}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center" style="vertical-align: middle;">{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center" style="vertical-align: middle;">
								<a ng-click="DataPengalamanController.detailExp(obj)" class="btn btn-xs btn-warning" title="Lihat Detail">
									<i class="fa fa-external-link"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isEntry === true" ng-click="DataPengalamanController.addExp(obj, false)" class="btn btn-xs btn-primary" title="Ubah">
									<i class="fa fa-edit"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isEntry === true" ng-click="DataPengalamanController.editActive(obj, false)" class="btn btn-xs btn-danger" title="Hapus">
									<i class="fa fa-trash-o"></i>
								</a>
							</td>
						</tr>
						<tr ng-if="DataPengalamanController.listCurrentExp.length === 0">
							<td colspan="10">{{'NO_DATA'|translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="DataPengalamanController.totalItemsCurrent" ng-model="DataPengalamanController.currentPageCurrent"
				class="pagination-sm" previous-text="&lsaquo;" max-number="DataPengalamanController.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
				ng-change="DataPengalamanController.loadCurrentExperience(DataPengalamanController.currentPageCurrent, 1)" max-size="10"></ul>
			<br />
			<label>Total Data : {{DataPengalamanController.totalItemsCurrent}}</label>
		</div>
	</div>

	<div class="row">
		<div class="text-center">
			<a href="#/prakualifikasi/pemasukkan-prakualifikasi-vendor/{{DataPengalamanController.PrequalStepID}}" title="{{'BTN.BACK' | translate}}" class="btn  btn-primary">
				<i class="fa fa-arrow-circle-left"></i>
			</a>
			<a ng-if="DataPengalamanController.isEntry === true" title="Submit" class="btn  btn-success" ng-click="DataPengalamanController.submit()">
				<i class="fa fa-check"></i>
			</a>
		</div>
	</div>


</div>



