<div class="modal-content" ng-init="detdelCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detdelCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'PO_NUMBER'|translate}} : {{detdelCtrl.PurchasingDoc}}</label><br/>
                        <label class="control-label">Tender Code : {{detdelCtrl.RFQCode}}</label><br />
                        <label class="control-label">{{'VENDOR'|translate}} : {{detdelCtrl.VendorName}}</label><br />
                        <label class="control-label">{{'PENGIRIMAN_DELAY'|translate}} : </label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'NO' | translate}}</th>
                                        <th class="text-center">{{'ITEM' | translate}}</th>
                                        <th class="text-center">{{'MATERIAL' | translate}}</th>
                                        <th class="text-center">{{'SHORT_TEXT' | translate}}</th>
                                        <th class="text-center">{{'SCHEDULED_QTY' | translate}}</th>
                                        <th class="text-center">{{'ORDER_UNIT' | translate}}</th>
                                        <th class="text-center">{{'QTY_DELIVERED' | translate}}</th>
                                        <th class="text-center">{{'PO_DATE' | translate}}</th>
                                        <th class="text-center">{{'DELIVERY_DATE' | translate}}</th>
                                        <th class="text-center">{{'STAT_REL_DEL_DATE' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="del in detdelCtrl.dels">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-center">{{del.Item}}</td>
                                        <td class="text-center">{{del.Material}}</td>
                                        <td>{{del.ShortText}}</td>
                                        <td style="text-align:right">{{del.ScheduledQty}}</td>
                                        <td>{{del.OrderUnit}}</td>
                                        <td style="text-align:right">{{del.QtyDelivered}}</td>
                                        <td class="text-center">{{del.PODate | date : "dd/MM/yyyy"}}</td>
                                        <td class="text-center">{{del.DeliveryDate | date : "dd/MM/yyyy"}}</td>
                                        <td class="text-center">{{del.StartRelDelDate | date : "dd/MM/yyyy"}}</td>
                                    </tr>
                                    <tr ng-if="detdelCtrl.count === 0">
                                        <td colspan="10" style="vertical-align:middle; text-align:center">{{'NO_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detdelCtrl.cancel()" title="{{'TUTUP' | translate}}"><i class="fa fa-reply"></i> </button>
        </div>
    </div>
</div>