﻿<section class="content" ng-init="templateDokumenCtrl.init()">
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center"> {{'TITLE' | translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom:20px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical">No.</th>
											<th class="center-vertical">{{'TABLE.TEMPLATE_NAME' | translate }}</th>
											<th class="center-vertical">{{'TABLE.TEMPLATE_TYPE' | translate }}</th>
											<th class="center-vertical"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="template in templateDokumenCtrl.templates">
											<td class="text-center" style="vertical-align: middle;">{{templateDokumenCtrl.currentPage > 1 ? (templateDokumenCtrl.maxSize * (templateDokumenCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{template.DocumentName}}</td>
											<td style="vertical-align: middle;">{{template.DocumentType}}</td>
											<td class="text-center" style="vertical-align: auto;">
												<a class="btn btn-flat btn-xs btn-primary" title="{{'TABLE.EDIT' | translate }}" ng-click="templateDokumenCtrl.editTemplate(template.TemplateID)">
													<i class="fa fa-edit"></i>&nbsp;{{'EDIT' | translate }}
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul uib-pagination boundary-links="true" total-items="templateDokumenCtrl.totalItems" ng-model="templateDokumenCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="templateDokumenCtrl.pageChanged()"></ul>
							<br />
							<label>{{'TOTAL_DATA' | translate }} : {{templateDokumenCtrl.totalItems}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>