<div class="modal-content" ng-init="detailApprovalBlacklistCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalBlacklistCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'DETAIL_APPROVAL'|translate}} : </label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="center-vertical">Tanggal kirim approval</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalBlacklistCtrl.list">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td >{{dt.MstEmployee.FullName}} {{dt.MstEmployee.SurName}}</td>
                                        <td >{{dt.MstEmployee.PositionName}}</td>
                                        <td class="text-center" style="vertical-align: middle;">{{dt.SendApprovalDate | date:'dd-MM-yyyy'}}</td>
                                        <td class="text-center">{{dt.ApprovalDate| date: "dd-MM-yyyy"}}</td>
                                        <td class="text-center">{{dt.ApprovalStatusReff.Value | translate }}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalBlacklistCtrl.list.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary"  title="{{'BTN.BACK' | translate}}" ng-click="detailApprovalBlacklistCtrl.cancel()"><i class="fa fa-reply"></i> {{'BTN.BACK' | translate}}</button>
        </div>
    </div>
</div>