﻿<section class="content" ng-init="detailCfgfileCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.MASTER_CFGFILE' | translate}}</a></li>
        <li><a class="active">{{detailCfgfileCtrl.PageName | translate}}</a></li>
    </ol>
    <div id="utama" class="row">
        <!-- style="padding-top: 25px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel">{{'DETAIL_CFGFILE' | translate}} {{detailCfgfileCtrl.PageName}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10" style="float: none!important;">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-4 control-label">File Size</label>
                                    <div class="col-sm-8 col-md-8">
                                        <select ng-model="detailCfgfileCtrl.filesize" class="form-control" ng-options="val as val.Size for val in detailCfgfileCtrl.cfgfilesize" ng-change="detailCfgfileCtrl.onChange()">
                                            <option value="" disabled selected>--{{'SIZE' | translate }}--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10" style="float: none!important;">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-4 control-label">Size Unit</label>
                                    <div class="col-sm-8 col-md-8">
                                        <input disabled type="text" class="form-control" placeholder="Size Unit" ng-model="detailCfgfileCtrl.size_unit.Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <pagination total-items="detailCfgfileCtrl.totalItems" page="detailCfgfileCtrl.currentPage" items-per-page="10" ng-show="detailCfgfileCtrl.totalItems > 10"
                                        max-size="detailCfgfileCtrl.maxSize" on-select-page="detailCfgfileCtrl.jLoad(page)"></pagination>
                        </div>
                        <div class="col-md-5">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="detailCfgfileCtrl.tambah()" title="Tambah Data">
                                    <i class='fa fa-plus-circle'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle; width: 60px; min-width: 60px">{{'TABLE.PAGENAME' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px">{{'TABLE.SIZE' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle; width: 10px; min-width: 10px">{{'TABLE.TYPE' | translate}}</th>
                                            <th ng-if="detailCfgfileCtrl.allowEdit || detailCfgfileCtrl.allowDelete" class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ba in detailCfgfileCtrl.cfgfile">
                                            <td class="text-center" style="vertical-align: middle;">{{detailCfgfileCtrl.currentPage > 1 ? (detailCfgfileCtrl.pageSize * (detailCfgfileCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="middle-vertical">{{ba.PageName}}</td>
                                            <td class="middle-vertical">{{ba.Size.Size}} {{ba.SizeUnit | translate}}</td>
                                            <td class="middle-vertical">{{ba.Type.Name}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a ng-if="ba.IsActive == true" ng-click="detailCfgfileCtrl.switchActive(ba)" class="btn btn-flat btn-sm btn-danger" title="Non Aktifkan">
                                                    <i class='fa fa-check-square-o'></i>&nbsp;
                                                </a>
                                                <a ng-if="ba.IsActive == false" ng-click="detailCfgfileCtrl.switchActive(ba)" class="btn btn-flat btn-sm btn-success" title="Aktifkan">
                                                    <i class='fa fa-check-circle-o'></i>&nbsp;
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-success turun-15" ng-click="detailCfgfileCtrl.simpan()" title="Simpan">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="detailCfgfileCtrl.back()" title="Kembali">
                                    <i class='fa fa-reply'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
