<div class="container-fluid" ng-init="IzinUsahaPrequalController.init()">
	<ol class="breadcrumb">
		<li>
			<a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a>
		</li>
		<li>
			<a class="active">{{'BREADCRUMB.LICENSE_PREQ' | translate}} </a>
		</li>
	</ol>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center afta-font" style="padding-bottom: 20px;">{{'FORM.LICENSEDATA_PREQ' | translate}}  </h3>
		</div>
			<div class="table table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center">{{'TABLE.NO' | translate}}</th>
							<th class="text-center">{{'TABLE.LICENSETYPE' | translate}}</th>
							<th class="text-center">{{'TABLE.STARTDATE' | translate}}</th>
							<th class="text-center">{{'TABLE.ENDDATE' | translate}}</th>
							<th class="text-center">{{'TABLE.INSTITUTION' | translate}}</th>
							<th class="text-center" style="width: 250px; min-width: 250px;">Action</th>
						</tr>
					</thead>
                    <tbody>
                        <tr ng-repeat="obj in IzinUsahaPrequalController.listLicensi">
                            <td class="text-center" style="vertical-align: middle;">{{IzinUsahaPrequalController.currentPage > 1 ? (IzinUsahaPrequalController.pageSize * (IzinUsahaPrequalController.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                            <td style="vertical-align: middle;">{{obj.LicenseName}}</td>
                            <td class="text-center" style="vertical-align: middle;">
                                <span ng-if="obj.IssuedDate">{{obj.IssuedDate | date:'dd-MM-yyyy'}}</span>
                            </td>
                            <td class="text-center" style="vertical-align: middle;">
                                <span ng-if="obj.IssuedDate">{{obj.ExpiredDate | date:'dd-MM-yyyy'}}</span>
                            </td>
                            <td style="vertical-align: middle;">{{obj.IssuedBy}}</td>
                            <td class="text-center">
                                <a ng-click="IzinUsahaPrequalController.openForm(obj,false)" class="btn btn-flat btn-sm btn-warning" role="button" title="{{'BTN.LIHAT' | translate}}">
                                    <i class="fa fa-external-link"></i>
                                </a>
                                <a ng-if="IzinUsahaPrequalController.isEntry === true"  ng-click="IzinUsahaPrequalController.openForm(obj,true)" class="btn btn-flat btn-sm btn-primary" role="button" title="{{'BTN.UBAH' | translate}}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a ng-if="obj.ID != 0 && IzinUsahaPrequalController.isEntry === true"  ng-click="IzinUsahaPrequalController.deleteLic(obj)" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.HAPUS' | translate}}">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
				</table>
			</div>
		</div>

    <div class="row">
        <div class="center-block text-center">
            <button ng-click="IzinUsahaPrequalController.back()" type="button" class="btn btn-primary" title="{{'BTN.BACK' | translate}}">
                <i class="fa fa-arrow-circle-left"></i>
            </button>
            <a ng-if="IzinUsahaPrequalController.isEntry === true" title="Submit" class="btn btn-flat btn-success" ng-click="IzinUsahaPrequalController.Submit()">
                <i class="fa fa-check"></i>
            </a>
        </div>
    </div>
	</div>
