﻿<div class="modal-content" ng-init="AanwijzingPrintCtrl.init()">
	<div class="modal-body">
		<div class="row">
			<button class="btn btn-flat btn-default" title="Print Preview" ng-click="AanwijzingPrintCtrl.makePDF()">
				<i class="glyphicon glyphicon-print"></i>
			</button>
		</div>
		<div ng-repeat="a in AanwijzingPrintCtrl.pagedData">
			<div id="print{{$index + 1}}" class="print-wrap">
				<div ng-if="$index == 0" class="col-md-12">
					<h3 class="afta-font text-center">{{AanwijzingPrintCtrl.nama_tahapan}} ( {{AanwijzingPrintCtrl.TypeAanwijzing}} )</h3>
				</div>
				<div ng-if="$index == 0" class="container-fluid">
					<div class="row">
						<div class="col-md-12 center-block" style="float: none!important;">
							<div class="row">
								<div class="col-md-12">
									<h4 class="afta-font text-center">{{'FORM.TENDERNAME'|translate}}:</h4>
									<div class="text-center">
										<label>{{AanwijzingPrintCtrl.TenderName}}</label><br />
										<label class="text-red" ng-if="aanwijzingCtrl.isCancelled"><i>({{'KET_BATAL'|translate}})</i></label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br />
					<div id="forum">
						<div class="row" id="metodeOnline">
							<div class="col-md-12 center-block" style="float: none!important;">
								<div class="row">
									<div class="col-md-6">
										<label class="control-label"> {{'FORM.RANGE' | translate}} : &nbsp;</label>
										<span>
											{{AanwijzingPrintCtrl.StartDateVendorEntry | date:"dd-MM-yyyy HH:mm"}} &nbsp; {{'FORM.TO' | translate}}
											&nbsp; {{AanwijzingPrintCtrl.EndDateVendorEntry | date:"dd-MM-yyyy HH:mm"}}
										</span><br />
										<label class="control-label"> {{'FORM.RANGE_ANSWER' | translate}} : &nbsp;</label>
										<span>
											{{AanwijzingPrintCtrl.AnswerStartDate | date:"dd-MM-yyyy HH:mm"}} &nbsp; {{'FORM.TO' | translate}}
											&nbsp; {{AanwijzingPrintCtrl.AnswerEndDate | date:"dd-MM-yyyy HH:mm"}}
										</span><br />
									</div>
									<div class="col-md-6"></div>
								</div>
							</div>
							<div class="col-md-12 center-block">
								<div class="message-wrap col-md-12 center-block" style="float: none!important; box-shadow: none!important;">
									<div class="box box-info">
										<div class="box-body well" ng-if="AanwijzingPrintCtrl.dataAturAanwijzing.PostedDate">
											<div class="row">
												<div class="col-md-12">
													<h4>
														<strong><a class="post-title">{{'BTN.SUMMARY'|translate}}</a></strong>
													</h4>
													<i class="fa fa-clock-o"></i> {{AanwijzingPrintCtrl.dataAturAanwijzing.PostedDate}}&nbsp;
													<b>{{AanwijzingPrintCtrl.dataAturAanwijzing.TitleSummary}}</b>
												</div>
											</div>
											<div class="row post-content">
												<div class="col-md-8">
													<p ng-bind-html="AanwijzingPrintCtrl.dataAturAanwijzing.Remark" style="font-size: 12px; text-align: justify!important;font-family: sans-serif!important;"></p>
												</div>
												<div class="col-md-4"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12"></div>
							<div class="col-md-12 center-block" ng-if="AanwijzingPrintCtrl.adminPost">
								<div class="message-wrap col-md-12 center-block" style="float: none!important; box-shadow: none!important;">
									<div class="box box-info">
										<div class="box-body well">
											<div class="row">
												<div class="col-md-12">
													<h4>
														<strong>
															<a class="post-title">{{AanwijzingPrintCtrl.adminPost.Title}}</a>
														</strong>
													</h4>
													<i class="fa fa-clock-o"></i> {{AanwijzingPrintCtrl.adminPost.PostDate | date : 'yyyy-MM-dd'}}&nbsp;
												</div>
											</div>
											<div class="row post-content">
												<div class="col-md-8">
													<p ng-bind-html="AanwijzingPrintCtrl.adminPost.Post" style="font-size: 12px; text-align: justify!important;font-family: sans-serif!important;"></p>
												</div>
												<div class="col-md-4"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
							</div>
							<div class="col-md-12 center-block" ng-if="AanwijzingPrintCtrl.reviewerPost!=null">
								<div class="message-wrap col-md-12 center-block" style="float: none!important; box-shadow: none!important;">
									<div class="box box-info">
										<div class="box-body well">
											<div class="row">
												<div class="col-md-12">
													<h4>
														<strong>
															<a class="post-title">{{AanwijzingPrintCtrl.reviewerPost.Title}}</a>
														</strong>
													</h4>
													<i class="fa fa-clock-o"></i> {{AanwijzingPrintCtrl.reviewerPost.PostDate | date : 'yyyy-MM-dd'}}&nbsp;
												</div>
											</div>
											<div class="row post-content">
												<div class="col-md-8">
													<p ng-bind-html="aanwijzingCtrl.reviewerPost.Post" style="font-size: 12px; text-align: justify!important;font-family: sans-serif!important;"></p>
												</div>
												<div class="col-md-4"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--<div class="container-fluid" ng-show="AanwijzingPrintCtrl.IsAtur === true">
							<div ng-repeat="pt in AanwijzingPrintCtrl.listPertanyaan" class="row" style="padding-top: 3px!important; padding-bottom: 5px!important;">
								<div class="col-md-12">
									<div class="message-wrap col-md-12 center-block" style="float: none!important;">
										<div class="msg-wrap" style="padding-top: 10px;">
											<div class="media msg">
												<div class="media-body">
													<small class="pull-right time">
														<i class="fa fa-clock-o"></i> {{pt.QuestionDate}}
													</small>
													<h5 class="media-heading afta-font">
														{{AanwijzingPrintCtrl.currentPage > 1 ? (AanwijzingPrintCtrl.maxSize * (AanwijzingPrintCtrl.currentPage - 1)) + $index + 1 : $index + 1}}) &nbsp; {{pt.QuestionTitle}} , <i>{{'Oleh'|translate}} : {{pt.vendorPosted.VendorName}} </i>
													</h5>
													<div class="row">
														<div class="col-md-10">
															<p style="margin-top: 10px;" ng-bind-html="pt.Question"></p>
														</div>
														<div class="col-md-2"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>-->
					</div>
				</div>
				<div ng-if="$index != 0" class="col-md-12">
					<h3 class="afta-font text-center">{{AanwijzingPrintCtrl.nama_tahapan}} ( {{AanwijzingPrintCtrl.TypeAanwijzing}} )</h3>
				</div>
				<div ng-if="$index != 0" class="container-fluid">
					<div class="col-md-12 center-block" style="float: none!important;">
						<div class="row">
							<div class="col-md-12">
								<h4 class="afta-font text-center">{{'FORM.TENDERNAME'|translate}}:</h4>
								<div class="text-center">
									<label>{{AanwijzingPrintCtrl.TenderName}}</label><br />
									<label class="text-red" ng-if="aanwijzingCtrl.isCancelled"><i>({{'KET_BATAL'|translate}})</i></label>
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="table table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center" style="vertical-align: middle!important; width:20px">No.</th>
									<th class="text-center" style="vertical-align: middle!important;">{{'FORM.VENDOR_NAME'|translate}}</th>
									<th class="text-center" style="width: 270px; min-width: 270px!important;">{{'FORM.REG_DATE'|translate}}</th>
									<th class="text-center" style="width: 270px; min-width: 270px!important;">{{'FORM.SET_VENDOR'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pe in AanwijzingPrintCtrl.register.slice(48 * ($index - 1) , 48 * $index)">
									<td style="vertical-align: middle;">{{($index + 1) + (48 * ($parent.$index - 1))}}</td>
									<td style="vertical-align: middle;">
										{{pe.VendorName}}
									</td>
									<td class="text-center" style="vertical-align: middle!important;">
										{{pe.TenderRegistrationDate | date: "dd-MM-yyyy"}}
									</td>
									<td class="text-center" style="vertical-align: middle!important;">
										<i ng-if="pe.IsSurvive" class="fa fa-check"></i>
										<!--<input ng-disabled="!AturVendorAanwijzingCtrl.isAllowEdit || AturVendorAanwijzingCtrl.isCancelled" type="checkbox" ng-model="pe.IsSurvive">-->
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!--<div ng-if="$index != 0" class="col-md-12">
					<h3 class="afta-font text-center">{{AanwijzingPrintCtrl.nama_tahapan}} ( {{AanwijzingPrintCtrl.TypeAanwijzing}} )</h3>
				</div>-->
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-4 pull-right">
			<button ng-click="AanwijzingPrintCtrl.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</div>