<section class="content" ng-init="BalanceVendorCtrl.initialize()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.BALANCE' | translate}}</a></li>
	</ol>
	<div id="utama" class="row">
		<!-- style="padding-top: 25px;" -->
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-7">
							<h3 class="afta-font judul-datatabel">{{'FINANCIAL_COMPANY_DATA' | translate}}</h3>
						</div>
					</div>
                    <div class="row" ng-if="BalanceVendorCtrl.CR===true">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                                <strong>Info!</strong> {{'MESSAGE.NOTIF1' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="BalanceVendorCtrl.pqWarning!=''">
                        <div class="col-md-12">
                            <div class="alert alert-info alert-dismissable" ng-if="BalanceVendorCtrl.pqWarning!=''">
                                <strong>{{BalanceVendorCtrl.pqWarning}}</strong>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button ng-if="BalanceVendorCtrl.IsApprovedCR === true" type="button" class="btn btn-flat btn-primary turun-15" ng-click="BalanceVendorCtrl.upload()" title="{{'UPLOAD' | translate}}">
									<i class='fa fa-upload'></i>
								</button>
								<a ng-if="BalanceVendorCtrl.balanceDocUrl" target="_blank" href="{{BalanceVendorCtrl.folderFile + BalanceVendorCtrl.balanceDocUrl}}" class="btn btn-flat btn-success turun-15" title="{{'DOWNLOAD' | translate}}">
									<i class='fa fa-download'></i>
								</a>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 4%">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.FINANCIAL_COMPANY' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="BalanceVendorCtrl.asset == 0">
                                            <td>1.</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>
                                                            <b>{{'Asset / Kekayaan' | translate}}</b>
                                                        </td>
                                                        <td width="35%">Rp. 0.00</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="sk in BalanceVendorCtrl.vendorbalance">
                                            <td ng-if="sk.WealthType.Value == 'Asset / Kekayaan'">1.</td>
                                            <td ng-if="sk.WealthType.Value == 'Kewajiban/ Hutang'">2.</td>
                                            <td>
                                                <b>{{sk.WealthType.Value | translate}}</b>
                                                <table class="table table-bordered">
                                                    <tr ng-repeat="pt in sk.subWealth">
                                                        <td ng-if="pt.subCategory.length !== 0">
                                                            {{$index+1}}. {{pt.COAType.Value | translate}}
                                                            <table class="table table-bordered">
                                                                <tr ng-repeat="subcoa in pt.subCategory">
                                                                    <td>
                                                                        {{$index+1}}. {{subcoa.COA.Value | translate}}
                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3106" style="display:inline-block !important;">{{subcoa.Amount | currency: ""+ labelcurr +" "}} {{'gram'|translate}}</span>
                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3107" style="display:inline-block !important;">{{subcoa.Amount}} {{'unit'|translate}}</span>
                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3108" style="display:inline-block !important;">{{subcoa.Amount}} {{'bulan'|translate}}</span>
                                                                    </td>
                                                                    <td width="20%">Rp. {{subcoa.Nominal | currency: ""+ labelcurr +" "}}</td>
                                                                    <td width="15%">
                                                                        <a ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.edit(subcoa, 1)" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-pencil"></i> </a>
                                                                        <a ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.ubah_aktif(subcoa,false)" class="btn btn-flat btn-xs btn-danger" title="{{'BTN.NON_AKTIF' | translate}}"><i class="fa fa-trash-o"></i> </a>
                                                                        <a ng-show="!(subcoa.DocUrl === '')" href="{{BalanceVendorCtrl.folderFile + subcoa.DocUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.VIEW' | translate}}"><i class="fa fa-download"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td ng-if="pt.subCategory.length === 0">
                                                            <table class="table table-bordered">
                                                                <tr>
                                                                    <td>
                                                                        {{$index+1}}. {{pt.COAType.Value | translate}}
                                                                        <span class="pull-right" style="display:inline-block !important;">{{pt.Amount}} unit</span>
                                                                    </td>
                                                                    <td width="20%">Rp. {{pt.nominal | currency: ""+ labelcurr +" "}}</td>
                                                                    <td width="15%">
                                                                        <a ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.edit(sk.WealthType, pt)" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-pencil"></i> </a>
                                                                        <a ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.ubah_aktif(pt,false)" class="btn btn-flat btn-xs btn-danger" title="{{'BTN.NON_AKTIF' | translate}}"><i class="fa fa-trash-o"></i> </a>
                                                                        <a ng-show="!(pt.DocUrl === '')" href="{{BalanceVendorCtrl.folderFile + pt.DocUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.VIEW' | translate}}"><i class="fa fa-download"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <td ng-if="sk.WealthType.Name ==='WEALTH_TYPE_ASSET'">
                                                        <table class="table table-bordered">
                                                            <tr>
                                                                <td class="text-center"><strong>{{'TOTAL' | translate}}</strong></td>
                                                                <td width="35%"><strong>Rp. {{BalanceVendorCtrl.asset | currency: ""+ labelcurr +" "}}</strong></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-if="BalanceVendorCtrl.hutang == 0">
                                            <td>2.</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td>
                                                            <b>{{'Kewajiban/ Hutang' | translate}}</b>
                                                        </td>
                                                        <td width="35%">Rp. 0.00</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <td><b>Modal</b></td>
                                                        <td width="35%">Rp. {{BalanceVendorCtrl.modal | currency: ""+ labelcurr +" "}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-5">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" ng-if="BalanceVendorCtrl.IsApprovedCR === true">
							<span class="pull-right"><a href="" ng-if="BalanceVendorCtrl.IsApprovedCR === true" ng-click="BalanceVendorCtrl.tambah()" class="btn btn-flat btn-success" title="{{'TABLE.TAMBAH' | translate}}"><i class='fa fa-plus-square'></i></a></span>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
