﻿<div class="modal-content" ng-init="EditClarificationChatCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="EditClarificationChatCtrl.batal()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<form role="form">
					<div class="row">
						<div class="col-md-12">
							<div class="box box-info">
								<div class="box-header">
									<h5 class="box-title afta-font">{{'ISI_PESAN'|translate}}</h5>
								</div><!-- /.box-header -->
								<div class="box-body pad">
									<textarea ng-model="EditClarificationChatCtrl.message" name="editor1" rows="7" cols="80"></textarea>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-danger" ng-click="EditClarificationChatCtrl.batal()" title="{{'BATAL'|translate}}">
			<i class="fa fa-reply"></i>&nbsp;
		</button>
		<button type="button" class="btn btn-flat btn-success" ng-click="EditClarificationChatCtrl.simpan(false)" title="{{'Draft'|translate}}">
			<i class="fa fa-save"></i>&nbsp;
		</button>
		<!--<button type="button" class="btn btn-flat btn-primary" ng-click="EditClarificationChatCtrl.simpan(true)" title="{{'KIRIM'|translate}}">
			<i class="fa fa-paper-plane"></i>&nbsp;
		</button>-->
	</div>
</div>