<section class="content" ng-init="PQClrCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin">{{'Beranda'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi/tahapan/{{PQClrCtrl.PrequalSetupID}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
		<li><a class="active">{{'Klarifikasi Hasil Prakualifikasi'|translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{PQClrCtrl.prequalData.PrequalSetupName}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>{{'TANGGAL_MULAI'|translate}}: {{PQClrCtrl.prequalData.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'TANGGAL_SELESAI'|translate}}: {{PQClrCtrl.prequalData.EndDate | date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-12">
							<label>{{'PRAKUALIFIKASI'|translate}}: {{PQClrCtrl.prequalData.PrequalSetupName}}</label>
						</div>
						<div class="col-md-12 text-red" ng-if="PQClrCtrl.prequalData.IsCancelled">
							<label><i>({{'KET_BATAL'|translate}})</i></label>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center" style="min-width:20px;">{{'NO'|translate}}</th>
											<th class="text-center">{{'VENDOR' | translate}}</th>
											<th class="text-center">{{'STATUS' | translate}}</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="vendor in PQClrCtrl.vendors">
											<td class="center-vertical">{{PQClrCtrl.currentPage > 1 ? (PQClrCtrl.maxSize * (PQClrCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align:middle;">{{vendor.VendorName}} <i class="fa fa-envelope" ng-if="vendor.IsUnread == true"></i></td>
											<td style="vertical-align:middle;" ng-if="vendor.IsTemporary === false"></td>
											<td style="vertical-align:middle;" ng-if="vendor.IsTemporary === true">{{'REVISION' | translate}}</td>
											<td class="center-vertical">
												<button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="PQClrCtrl.detail(vendor)" title="{{'Detail Percakapan'|translate}}">
													<i class='fa fa-list'></i>&nbsp;
												</button>
												<button ng-if="vendor.IsViewDetail && vendor.IsTemporary === false" type="button" class="btn btn-sm btn-flat btn-danger" ng-click="PQClrCtrl.reviseVendor(vendor)" title="{{'Revisi Vendor'|translate}}">
													<i class="fa fa-edit"></i>&nbsp;
												</button>
												<button disabled type="button" ng-if="vendor.IsTemporary === true" class="btn btn-sm btn-flat btn-danger" title="Revisi Vendor (revision process is in progress)">
													<i class="fa fa-edit"></i>&nbsp;
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul uib-pagination boundary-links="true" total-items="PQClrCtrl.totalItems" max-size="10" ng-model="PQClrCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="PQClrCtrl.loadData(PQClrCtrl.currentPage)"></ul>
							<br />
							<label>{{'TOTAL_DATA' | translate}} : {{PQClrCtrl.totalItems}}</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button type="button" class="btn btn-flat btn-sm btn-primary" ng-click="PQClrCtrl.kembali()" title="{{'KEMBALI'|translate}}">
									<i class='fa fa-arrow-left'></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
