﻿<div class="modal-content" ng-init="PrintPDFRankingRiskCtrl.init()">
    <div class="modal-body">
        <button class="btn btn-flat btn-default" ng-click="PrintPDFRankingRiskCtrl.makePDF()"><i class="fa fa-print"></i></button>
        <div>
            <div >
                <div id="print" class="print-wrap">
                    <div class="row margin-atas">
                        <div class="text-center"><strong>DATA RANKING RISK</strong></div><br />
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered" style="border:1px solid black;" id="table-kpiProc">
                                    <thead>
                                        <tr style="border:1px solid black;">
                                            <th style="border:1px solid black;" class="text-left" style="vertical-align: middle;">No.</th>
                                            <th style="border:1px solid black;" class="text-left" style="vertical-align: middle;">{{'TABLE.NAMA' | translate}}</th>
                                            <th style="border:1px solid black;" class="text-left" style="vertical-align: middle;">{{'TABLE.RANKING_RISK' | translate}}</th>
                                            <th style="border:1px solid black;" class="text-left" style="vertical-align: middle;">{{'TABLE.ACTIVED_DATE' | translate}}</th>
                                            <th style="border:1px solid black;" class="text-left" style="vertical-align: middle;">{{'TABLE.APPROVALCOMPLIANCE_DATE' | translate}}</th>
                                            <th style="border:1px solid black;" class="text-left" style="vertical-align: middle;">{{'TABLE.AREA_TITLE' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in PrintPDFRankingRiskCtrl.alldata" style="border:1px solid black;">
                                            <td style="vertical-align: middle;border:1px solid black;" class="text-right">{{$index+1}}</td>
                                            <td style="vertical-align: middle;border:1px solid black;" class="text-left">{{data.VendorName}}</td>
                                            <td style="vertical-align: middle;border:1px solid black;" class="text-left">{{data.CategoryVendorData.Name|translate}}</td>
                                            <td style="vertical-align: middle;border:1px solid black;" class="text-left">{{data.ActivedDate|date:"dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;border:1px solid black;"class="text-left" ng-if="data.CategoryVendorData.Name=='HIGH_RISK' || data.CategoryVendorData.Name=='GOVERNMENT_ENTITY'">
                                                <span ng-if="data.ApprovalComplianceDate!=null">{{data.ApprovalComplianceDate|date:"dd/MM/yyyy"}}</span>
                                                <span ng-if="data.ApprovalComplianceDate==null">&nbsp;</span>
                                            </td>
                                            <td style="vertical-align: middle;border:1px solid black;" class="text-left" ng-if="data.CategoryVendorData.Name=='LOW_RISK' || data.CategoryVendorData.Name=='MEDIUM_RISK'">N/A</td>
                                            <td style="vertical-align: middle;border:1px solid black;" class="text-left">{{data.Area|translate}}</td>
                                        </tr>
                                        <tr ng-if="RankingRiskCtrl.listData.length==0">
                                            <td colspan="6" style="vertical-align: middle;" class="text-left">Data masih kosong.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <label  ng-if="$index==PrintPDFRankingRiskCtrl.alldata_.length-1">{{'TABLE.TOTAL_DATA' | translate}}: {{PrintPDFRankingRiskCtrl.totalItems}}</label>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            </div>
        </div>
        <!--   
         <div id="print" class="print-wrap">
               <div class="row">
                   <div class="col-md-12">
                       <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" width="100px" height="40px" />
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-12">
                       <h3 class="text-center">PURCHASE ORDER</h3>
                   </div>
               </div>
               <div class="row margin-atas">
                   <div class="col-md-6">
                       <table class="table table-bordered table-striped">
                           <thead>
                               <tr>
                                   <th class="text-center" style="vertical-align: middle;">SUPPLIER CODE<br />{{PrintPDFRankingRiskCtrl.export.vendorcontact[0].Vendor.SAPCode}}</th>
                                   <th class="text-center" style="vertical-align: middle;">PO DATE<br />{{PrintPDFRankingRiskCtrl.export.POmodel.CreatedDate| date: "dd/MM/yyyy"}}</th>
                                   <th class="text-center" style="vertical-align: middle;">PURCHASE ORDER NBR<br />{{PrintPDFRankingRiskCtrl.export.POmodel.PONumber}}</th>
                               </tr>
                           </thead>
                       </table>
                   </div>
               </div>

                <div class="row margin-atas">
                    <div class="col-md-6">
                        <table style="border-style:hidden;">
                            <thead>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">SUPPLIER</th>
                                    <td width="60%">
                                        : {{PrintPDFRankingRiskCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{PrintPDFRankingRiskCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
                                        <div ng-if="PrintPDFRankingRiskCtrl.internasional==true && PrintPDFRankingRiskCtrl.hascity==false">
                                            {{PrintPDFRankingRiskCtrl.address}}
                                        </div>
                                        <div ng-if="PrintPDFRankingRiskCtrl.internasional==true && PrintPDFRankingRiskCtrl.hascity==true">
                                            {{PrintPDFRankingRiskCtrl.AddressInfo}}<br />
                                            {{PrintPDFRankingRiskCtrl.City}}<br />
                                            {{PrintPDFRankingRiskCtrl.State}}, {{PrintPDFRankingRiskCtrl.Country}}
                                        </div>
                                        <div ng-if="PrintPDFRankingRiskCtrl.nasional==true && PrintPDFRankingRiskCtrl.hascity==true && PrintPDFRankingRiskCtrl.hasdistrict==false && PrintPDFRankingRiskCtrl.internasional==false">
                                            {{PrintPDFRankingRiskCtrl.AddressInfo}}<br />
                                            {{PrintPDFRankingRiskCtrl.City}}<br />
                                            {{PrintPDFRankingRiskCtrl.State.}}, {{PrintPDFRankingRiskCtrl.Country}}
                                        </div>
                                        <div ng-if="PrintPDFRankingRiskCtrl.nasional==true && PrintPDFRankingRiskCtrl.hascity==false && PrintPDFRankingRiskCtrl.hasdistrict==false && PrintPDFRankingRiskCtrl.internasional==false">
                                            {{PrintPDFRankingRiskCtrl.AddressInfo}}<br />
                                            {{PrintPDFRankingRiskCtrl.State}}, {{PrintPDFRankingRiskCtrl.Country}}
                                        </div>
                                        <div ng-if="PrintPDFRankingRiskCtrl.nasional==true && PrintPDFRankingRiskCtrl.hascity==true && PrintPDFRankingRiskCtrl.hasdistrict==true && PrintPDFRankingRiskCtrl.internasional==false">
                                            {{PrintPDFRankingRiskCtrl.AddressInfo}}<br />
                                            {{PrintPDFRankingRiskCtrl.District}}, {{PrintPDFRankingRiskCtrl.City}}<br />
                                            {{PrintPDFRankingRiskCtrl.State}}, {{PrintPDFRankingRiskCtrl.Country}}
                                        </div>
                                        <div ng-if="PrintPDFRankingRiskCtrl.nasional==true && PrintPDFRankingRiskCtrl.hascity==false && PrintPDFRankingRiskCtrl.hasdistrict==true && PrintPDFRankingRiskCtrl.internasional==false">
                                            {{PrintPDFRankingRiskCtrl.AddressInfo}}<br />
                                            {{PrintPDFRankingRiskCtrl.District}}<br />
                                            {{PrintPDFRankingRiskCtrl.State}}, {{PrintPDFRankingRiskCtrl.Country}}
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">ATTENTION</th>
                                    <td width="60%">
                                        : {{PrintPDFRankingRiskCtrl.contactCP[0].Contact.Name}}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">FAX</th>
                                    <td width="60%">
                                        : {{PrintPDFRankingRiskCtrl.contactCompany.Contact.Fax}}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">EMAIL</th>
                                    <td width="60%">
                                        : {{PrintPDFRankingRiskCtrl.contactCompany.Contact.Email}}
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table style="border-style:hidden;">
                            <thead>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">FREIGHT METHOD</th>
                                    <td width="60%">
                                        : {{PrintPDFRankingRiskCtrl.export.freightMethod.Name}} Freight
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">DELIVERY POINT</th>
                                    <td width="60%">
                                        : {{PrintPDFRankingRiskCtrl.export.inco.Code}} {{PrintPDFRankingRiskCtrl.export.freight.DeliveryState}}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">PAYMENT TERM</th>
                                    <td width="60%">
                                        : {{PrintPDFRankingRiskCtrl.export.POmodel.PaymentTerms}}
                                    </td>
                                </tr>
                                <tr>
                                    <th width="40%" style="vertical-align:top;">TEL</th>
                                    <td width="60%">
                                        : {{PrintPDFRankingRiskCtrl.contactCompany.Contact.Phone}}
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>


                <div class="row margin-atas">
                    <div class="col-md-12">
                        In accepting this order, seller agrees to furnish the material specified in full accordance with all conditions agreed to on our contract terms and all conditions attached to this document.<br />
                        <strong>Please indicate your acknowledgement/acceptance immadiately through E-Procurement.</strong>
                    </div>
                </div>

                <div class="row margin-atas">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="vertical-align: middle;">ITEM</th>
                                        <th class="text-center" style="vertical-align: middle;">SCD/PR/FPA</th>
                                        <th class="text-center" style="vertical-align: middle;">QTY</th>
                                        <th class="text-center" style="vertical-align: middle;">UM</th>
                                        <th class="text-center" style="vertical-align: middle;">DESCRIPTION</th>
                                        <th class="text-center" style="vertical-align: middle;">DUE DATE</th>
                                        <th class="text-center" style="vertical-align: middle;">NET PRICE</th>
                                        <th class="text-center" style="vertical-align: middle;">TOTAL PRICE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="p in PrintPDFRankingRiskCtrl.alldata">
                                        <td style="vertical-align: middle;">{{p.POItem}}</td>
                                        <td style="vertical-align: middle;">{{p.ScdPrFpa}}</td>
                                        <td style="vertical-align: middle;">{{p.Quantity}}</td>
                                        <td style="vertical-align: middle;">{{p.UnitMeasure}}</td>
                                        <td style="vertical-align: middle;">{{p.ShortText}} {{dt.Mfr_No}} {{dt.Mfr_Name}} {{dt.Manu_Mat}}<br />{{dt.Purch_OrderText}} {{dt.PO_ItemText}} TARIFF CODE: {{dt.TariffCode}} /CONC. CAT: {{dt.ConcessCat}}</td>
                                        <td style="vertical-align: middle;">{{p.DelivDateOri | date: "dd/MM/yyyy"}}</td>
                                        <td style="vertical-align: middle;">{{p.NettPricePO | currency:"" }}</td>
                                        <td style="vertical-align: middle;">{{p.TotalPricePO | currency:"" }}</td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th colspan="5"></th>
                                        <th>TOTAL</th>
                                        <th>{{PrintPDFRankingRiskCtrl.alldata[0].Currency}}</th>
                                        <th class="text-right">{{PrintPDFRankingRiskCtrl.alldata[0].Totalvalue | currency:""}}</th>
                                    </tr>
                                    <tr ng-if="PrintPDFRankingRiskCtrl.flagVAT == true">
                                        <th colspan="5"></th>
                                        <th colspan="2">VAT 10%</th>
                                        <th class="text-right">{{PrintPDFRankingRiskCtrl.alldata[0].vatvalue | currency:""}}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5"></th>
                                        <th colspan="2">GRAND TOTAL</th>
                                        <th class="text-right">{{PrintPDFRankingRiskCtrl.alldata[0].grandvalue | currency:""}}</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>

                <div class="row margin-atas">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                BUYER REMARK
                            </div>
                            <div class="col-md-8">
                                : {{PrintPDFRankingRiskCtrl.export.POmodel.BuyerRemark}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            BUYER<br />
                            PHONE<br />
                            FAX<br />
                            EMAIL<br />
                        </div>
                        <div class="col-md-8">
                            : {{PrintPDFRankingRiskCtrl.export.buyer.FullName}} {{PrintPDFRankingRiskCtrl.export.buyer.SurName}}<br />
                            : {{PrintPDFRankingRiskCtrl.export.buyer.WorkPhone}}<br />
                            : {{PrintPDFRankingRiskCtrl.export.buyer.Fax}}<br />
                            : {{PrintPDFRankingRiskCtrl.export.buyer.Email}}<br />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    <!--
    <div class="row" id="exportthis">
        <div class="col-md-12">
            <div ng-show="detailApprovalSignOffCtrl.visible">cobi</div>
            <button ng-click="detailApprovalSignOffCtrl.printForm()">export</button>
        </div>
    </div>
        -->
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="text-center">
                
                <button ng-if="(TCVendorCtrl.reff === 'REVIEW_VENDOR')" class="btn btn-flat btn-danger" ng-click="TCVendorCtrl.notvalid()" ng-disabled="TCVendorCtrl.valid==false"><i class="fa fa-close"></i>{{'Tidak Setuju'|translate}}</button>
                <button ng-if="(TCVendorCtrl.reff === 'REVIEW_VENDOR')" class="btn btn-flat btn-success" ng-click="TCVendorCtrl.setuju()"><i class="fa fa-check"></i>{{'Setuju'|translate}}</button>
            </div>
        </div>
    </div>
</div>
