<section class="content" ng-init="RankingRiskCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.RANKING_RISK' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{'RANKING_RISK_TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-2">
                            <label>{{'TABLE.DURATION'|translate}} </label>
                            <select id="cmbStatus" name="cmbStatus" ng-model="RankingRiskCtrl.durasi" class="form-control"
                                    ng-options="item as item.Name | translate for item  in RankingRiskCtrl.ddDurasi">
                                <option value="" selected disabled>
                                    {{'TABLE.DURATION'|translate}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6" ng-if="RankingRiskCtrl.durasi != null">
                            <div class="row" ng-if="RankingRiskCtrl.durasi.Value == 0">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="RankingRiskCtrl.datepickeroptionsTahun" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="RankingRiskCtrl.isCalendarOpened[2]" ng-model="RankingRiskCtrl.filterTahun" ng-change="RankingRiskCtrl.cekFilterTahun()"
                                                   ng-click="RankingRiskCtrl.openCalendar(2)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="RankingRiskCtrl.openCalendar(2)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><br /></label>
                                    <select id="cmbStatus" name="cmbStatus" ng-model="RankingRiskCtrl.ma" class="form-control"
                                            ng-options="item as item.label | translate for item  in RankingRiskCtrl.weeks">
                                        <option value="" selected disabled>
                                            Weeks
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label><br /></label>
                                    <label style="padding-top:10px;">{{'s/d'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label><br /></label>
                                    <select id="cmbStatus" name="cmbStatus" ng-model="RankingRiskCtrl.mb" class="form-control" ng-change="RankingRiskCtrl.cekFilterDurasi()"
                                            ng-options="item as item.label | translate for item  in RankingRiskCtrl.weeks">
                                        <option value="" selected disabled>
                                            Weeks
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" ng-if="RankingRiskCtrl.durasi.Value == 1">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="RankingRiskCtrl.datepickeroptionsTahun" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="RankingRiskCtrl.isCalendarOpened[3]" ng-model="RankingRiskCtrl.filterTahun" ng-change="RankingRiskCtrl.cekFilterTahun()"
                                                   ng-click="RankingRiskCtrl.openCalendar(3)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="RankingRiskCtrl.openCalendar(3)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="RankingRiskCtrl.datepickeroptions" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="RankingRiskCtrl.isCalendarOpened[0]" ng-model="RankingRiskCtrl.ba"
                                                   ng-click="RankingRiskCtrl.openCalendar(0)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="RankingRiskCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label><br /></label>
                                    <label style="padding-top:10px;">{{'s/d'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="RankingRiskCtrl.datepickeroptions" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="RankingRiskCtrl.isCalendarOpened[1]" ng-model="RankingRiskCtrl.bb"
                                                   ng-click="RankingRiskCtrl.openCalendar(1)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="RankingRiskCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label><br /></label><br />
                            <button class="btn btn-flat btn-sm btn-primary" ng-click="RankingRiskCtrl.filter()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4 class="text-center">{{'DIAGRAM.RANKING_RISK' | translate}}</h4>
                            <canvas  height="80%" id="bar" class="chart chart-bar" chart-data="RankingRiskCtrl.dataRisk" chart-color="RankingRiskCtrl.colours" chart-series="RankingRiskCtrl.series" chart-labels="RankingRiskCtrl.label" chart-dataset="RankingRiskCtrl.dataset" chart-options="RankingRiskCtrl.option"></canvas>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                    <thead>
                                        <tr>
                                            <th class="text-left" style="vertical-align: middle;">No.</th>
                                            <th class="text-left" style="vertical-align: middle;">{{'TABLE.NAMA' | translate}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{'TABLE.RANKING_RISK' | translate}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{'TABLE.ACTIVED_DATE' | translate}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{'TABLE.APPROVALCOMPLIANCE_DATE' | translate}}</th>
                                            <th class="text-left" style="vertical-align: middle;">{{'TABLE.AREA_TITLE' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in RankingRiskCtrl.listData">
                                            <td style="vertical-align: middle;" class="text-right">{{RankingRiskCtrl.currentPage > 1 ? (RankingRiskCtrl.maxSize * (RankingRiskCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{data.VendorName}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{data.CategoryVendorData.Name|translate}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{data.ActivedDate|date:"dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;" class="text-left" ng-if="data.CategoryVendorData.Name=='HIGH_RISK' || data.CategoryVendorData.Name=='GOVERNMENT_ENTITY'">
                                            <span ng-if="data.ApprovalComplianceDate!=null">{{data.ApprovalComplianceDate|date:"dd/MM/yyyy"}}</span>
                                            <span ng-if="data.ApprovalComplianceDate==null">&nbsp;</span></td>
                                            <td style="vertical-align: middle;" class="text-left" ng-if="data.CategoryVendorData.Name=='LOW_RISK' || data.CategoryVendorData.Name=='MEDIUM_RISK'">N/A</td>
                                            <td style="vertical-align: middle;" class="text-left">{{data.Area|translate}}</td>
                                        </tr>
                                        <tr ng-if="RankingRiskCtrl.listData.length==0">
                                            <td colspan="6" style="vertical-align: middle;" class="text-left">Data masih kosong.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination boundary-links="true" total-items="RankingRiskCtrl.totalItems" ng-model="RankingRiskCtrl.currentPage"
                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                    ng-change="RankingRiskCtrl.dataReportVendor(RankingRiskCtrl.currentPage)"></ul>
                                <br />
                                <label>{{'TABLE.TOTAL_DATA' | translate}}: {{RankingRiskCtrl.totalItems}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-10">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-workload">
                                    <thead>
                                        <tr>
                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">{{'TABLE.RANKING_RISK' | translate}}</th>
                                            <th class="text-center" rowspan="2" style="vertical-align: middle;">{{'TABLE.TOTAL' | translate}}</th>
                                            <th class="text-center" colspan="3" style="vertical-align: middle;">{{'TABLE.AREA_TITLE' | translate}}</th>
                                        </tr>
                                        <tr>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.AREA.LOCAL' | translate}}</th>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.AREA.NATIONAL' | translate}}</th>
                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.AREA.INTERNATIONAL' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in RankingRiskCtrl.dataMain">
                                            <td style="vertical-align: middle;" class="text-left">{{$index+1}}</td>
                                            <td style="vertical-align: middle;" class="text-left">{{d.RiskType.Name|translate}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.Total}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.Local}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.National}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{d.International}}</td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: middle;" class="text-left"> </td>
                                            <td style="vertical-align: middle;" class="text-left">Total Vendor</td>
                                            <td style="vertical-align: middle;" class="text-right">{{RankingRiskCtrl.totalvendor}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{RankingRiskCtrl.totalLocal}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{RankingRiskCtrl.totalNational}}</td>
                                            <td style="vertical-align: middle;" class="text-right">{{RankingRiskCtrl.totalInternational}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="RankingRiskCtrl.exportExcel()" ng-disabled="RankingRiskCtrl.totalItems==0" class="btn btn-flat btn-success turun-15" title="{{'BTN.EXPORT.EXCEL'|translate}}" style="float:right!important"><i class="fa fa-file-excel-o"></i></button>
                            <button ng-click="RankingRiskCtrl.exportPdf()"ng-disabled="RankingRiskCtrl.totalItems==0"   class="btn btn-flat btn-success turun-15" title="{{'BTN.EXPORT.PDF'|translate}}" style="float:right!important"><i class="fa fa-file-pdf-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>