﻿<link rel="stylesheet" type="text/css" href="assets/css/rolas-design.css" />
<section class="content" ng-init="EvalVPCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.METODE_EVALUASI_VP'|translate}}</a></li>
    </ol>
    <div id="utama" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-header">
                    <div class="col-md-1">
                        <div class=" text-left">
                            <br />
                            <a href="javascript:void(0)" class="popovers" data-toggle="popover" title="Workflow Process" data-content="<a href='#/kriteria-evaluasi/parent'>Kriteria Evaluasi</a> > <b>Metode Evaluasi</b>" data-original-title="test title"><i class="glyphicon glyphicon-info-sign"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <form method="post" role="form" ng-submit="EvalVPCtrl.cari(srcText)">
                            <div class="col-md-5">
                                <h3 class="afta-font" style="font-size: 1.4em;">{{'METODE_EVALUASI'|translate}}</h3>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" style="padding-top: 15px;">
                                    <label style="padding-top: 5px;" class="col-md-12 control-label text-right">{{'CARI_METODE_EVALUASI'|translate}} :</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group" style="padding-top: 15px;">
                                    <div class="input-cont">
                                        <input type="text" placeholder="{{'Masukkan kata kunci'|translate}}" class="form-control" ng-model="srcText">
                                    </div>
                                    <span class="input-group-btn">
                                        <a class="btn btn-flat btn-primary" ng-click="EvalVPCtrl.cari(srcText)" title="{{'CARI' | translate}}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-sd-4 col-md-7">
                            <ul uib-pagination total-items="EvalVPCtrl.totalItems"
                                ng-model="EvalVPCtrl.currentPage" items-per-page="EvalVPCtrl.maxSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="EvalVPCtrl.loadVPEvaluasi()"></ul>
                        </div>
                        <div class="col-sd-2 col-md-5">
                            <button type="button" ng-if="EvalVPCtrl.isAllowAdd" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click='EvalVPCtrl.addEvaluasiVP()' title="{{'TAMBAH_METODE' | translate}}">
                                <i class='fa fa-plus-circle'></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="table table-responsive">
                                <table id="tabelMetode" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;" width="20px">{{'TABLE.NO'|translate}}.</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.NAMA_METODE_EVALUASI'|translate}}</th>
                                            <th class="text-center" style="width: 90px; min-width: 90px; vertical-align: middle;">{{'TABLE.JENIS'|translate}}</th>
                                            <th class="text-center" style="width: 90px; min-width: 90px; vertical-align: middle;">{{'TABLE.STATUS'|translate}}</th>
                                            <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="metode in EvalVPCtrl.VPEval">
                                            <td class="text-center" style="vertical-align: middle;">
                                                {{(EvalVPCtrl.maxSize * (EvalVPCtrl.currentPage - 1)) + $index + 1}}
                                            </td>
                                            <td style="vertical-align: middle;">
                                                {{metode.VPEvaluationMethodName}}
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <span ng-if="metode.IsVhsOrCpr == 1">{{'CPR'}}</span>
                                                <span ng-if="metode.IsVhsOrCpr == 2">{{'VHS'}}</span>
                                                <span ng-if="metode.IsVhsOrCpr == 3">{{'PRAKUALIFIKASI'|translate}}</span>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <span ng-if="metode.IsActive === false">{{'TIDAK_AKTIF' | translate}}</span>
                                                <span ng-if="metode.IsActive === true">{{'AKTIF' | translate}}</span>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a ng-if="(metode.PMCreator || EvalVPCtrl.isProcSupp) && (metode.IsPublish === false || metode.IsPublish === null) && metode.IsActive === true" ng-click="EvalVPCtrl.publish(metode)" class="btn btn-flat btn-xs btn-success" title="Publish"><i class="fa fa-check-circle-o"></i></a>
                                                <a ng-click="EvalVPCtrl.lihatDetail(metode.VPEvaluationMethodId)" class="btn btn-flat btn-xs btn-warning" title="{{'DETAIL'|translate}}"><i class="fa fa-external-link"></i></a>
                                                <a ng-if="(metode.PMCreator || EvalVPCtrl.isProcSupp) && (metode.IsPublish === false || metode.IsPublish === null) && metode.IsActive === true" ng-click="EvalVPCtrl.updateEvaluasiVP(metode.VPEvaluationMethodId, metode.IsVhsOrCpr)" class="btn btn-flat btn-xs btn-primary" title="{{'UBAH'|translate}}"><i class="fa fa-edit"></i></a>
                                                <a ng-if="metode.IsActive === true && metode.IsVhsOrCpr == 1 && EvalVPCtrl.isPM" ng-click="EvalVPCtrl.copyLevel2(metode)" class="btn btn-flat btn-xs btn-primary" title="{{'SALIN_METODE'|translate}}"><i class="fa fa-copy"></i></a>
                                                <a ng-if="(metode.PMCreator || EvalVPCtrl.isProcSupp) && (metode.IsPublish === false || metode.IsPublish === null) && metode.IsActive === false" class="btn btn-flat btn-xs btn-success" ng-click="EvalVPCtrl.ubah_aktif(metode)" title="{{'AKTIFKAN'|translate}}"><i class="fa fa-check-square-o"></i></a>
                                                <a ng-if="(metode.PMCreator || EvalVPCtrl.isProcSupp) && (metode.IsPublish === false || metode.IsPublish === null) && metode.IsActive === true" class="btn btn-flat btn-xs btn-danger" ng-click="EvalVPCtrl.ubah_aktif(metode)" title="{{'NONAKTIFKAN'|translate}}"><i class="fa fa-times-circle"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="EvalVPCtrl.totalItems === 0"><td colspan="5">{{'TIDAK_ADA_DATA'|translate}}</td></tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sd-4 col-md-7">
                            <ul uib-pagination total-items="EvalVPCtrl.totalItems"
                                ng-model="EvalVPCtrl.currentPage" items-per-page="EvalVPCtrl.maxSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="EvalVPCtrl.loadVPEvaluasi()"></ul>
                        </div>
                        <div class="col-sd-2 col-md-5">
                            <button type="button" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click='EvalVPCtrl.addMetodeEvaluasi()' ng-if="EvalVPCtrl.userBisaMenambah === true && EvalVPCtrl.allowChange==true" title="{{'TAMBAH' | translate}}">
                                <i class='fa fa-plus-circle'></i>
                            </button>
                        </div>
                    </div>
                    <label>{{'TOTAL_DATA'|translate}} : {{EvalVPCtrl.totalItems}}</label>
                </div>
            </div>
        </div>
    </div>
</section>

