﻿<div id="idTambahDepartemen" class="modal-content" ng-init="jabatanPegModCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="jabatanPegModCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{jabatanPegModCtrl.action |translate}} {{'DATA_JABATAN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">{{'TABLE.CODE_JABATAN'|translate}}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" ng-model="jabatanPegModCtrl.KodeJabatan" class="form-control input-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">{{'TABLE.NAMA_JABATAN'|translate}}</label>
                        <div class="col-sm-8 col-md-8">
                            <input type="text" ng-model="jabatanPegModCtrl.NamaJabatan" class="form-control input-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="jabatanPegModCtrl.batal()" title="{{'BTN.BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button type="button" class="btn btn-flat btn-success" ng-click="jabatanPegModCtrl.simpan()" title="{{'BTN.SIMPAN'|translate}}">
            <i class="fa fa-save"></i> 
        </button>
    </div>
</div>
