<!-- Main content -->
<section class="content" ng-init="preqMethodCtrl.loadMethods()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'METODE_PRAKUALIFIKASI' | translate }}</a></li>
    </ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<form method="post" role="form" ng-submit="preqMethodCtrl.loadMethods()">
							<div class="col-md-7">
								<h3 class="judul-datatabel afta-font" style="padding-bottom: 20px;">{{'METODE_PRAKUALIFIKASI' | translate }}</h3>
							</div>
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="{{'SEARCH_PLACEHOLDER' | translate }}" ng-model="preqMethodCtrl.keyword" />
									<span class="input-group-btn">
										<button ng-click="preqMethodCtrl.loadMethods()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate }}">
											<i class="fa fa-search"></i>&nbsp; 
										</button>
									</span>
								</div>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="button" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click="preqMethodCtrl.addMethod()" title="{{'ADD' | translate }}">
								<i class='fa fa-plus-circle'></i>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" width="20px">{{'TABLE.NO' | translate }}</th>
											<th class="text-center">{{'TABLE.METHOD_NAME' | translate }}</th>
											<th class="text-center" style="width: 220px; min-width: 220px;"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="method in preqMethodCtrl.methods">
											<td style="vertical-align: middle;">{{preqMethodCtrl.currentPage > 1 ? (preqMethodCtrl.maxSize * (preqMethodCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{method.PrequalMethodName}}</td>
											<td class="text-center">
												<a ng-click="preqMethodCtrl.viewDetail(method.PrequalMethodId)" class="btn btn-flat btn-sm btn-warning">
													<i class="fa fa-external-link" title="Detail"></i>
												</a>
												<a ng-click="preqMethodCtrl.editMethod(method.PrequalMethodId)" class="btn btn-flat btn-sm btn-primary" title="{{'EDIT' | translate }}">
													<i class="fa fa-edit"></i>
												</a>
												<a ng-click="preqMethodCtrl.remove(method)" class="btn btn-flat btn-sm btn-danger" title="{{'DELETE' | translate }}">
													<i class="fa fa-trash"></i>
												</a>
											</td>
										</tr>
										<tr ng-if="preqMethodCtrl.totalItems === 0">
											<td colspan="3">{{'NO_DATA' | translate }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul uib-pagination boundary-links="true" total-items="preqMethodCtrl.totalItems" ng-model="preqMethodCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="preqMethodCtrl.pageChanged()"></ul><br />
							<label>{{'TOTAL_DATA' | translate }} : {{preqMethodCtrl.totalItems}}</label>
						</div>
						<div class="col-sd-2 col-md-5">
							<button type="button" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click="preqMethodCtrl.addMethod()" ng-if="preqMethodCtrl.allowChange" title="{{'ADD' | translate }}">
								<i class='fa fa-plus-circle'></i>&nbsp; 
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/ng-template" id="viewMethodDetail.html">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="methodDetailCtrl.closeModal()" title="{{'CLOSE' | translate }}">
				<span aria-hidden="true">&times;</span>
				<span class="sr-only"></span>
			</button>
			<h3 class="modal-title afta-font" id="myModalLabel">{{'PREQUAL_METHOD_DETAIL' | translate }}</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-xs-11 center-block" style="float: none!important;">
					<div class="row well" style="padding-left: 5px; padding-right: 5px;">
						<div class="col-md-12">
							<div class="form-horizontal">
								<label>{{'PREQUAL_METHOD_NAME' | translate }} : </label>
								<p style="text-align: justify!important;">{{methodDetailCtrl.methodName}}</p>
							</div>
						</div>
						<div class="col-md-12" style="padding-top: 20px;">
							<div class="form-horizontal">
								<label>{{'STAGES_SEQUENCE' | translate }} : </label>
							</div>
							<ol style="padding-left: 25px!important;">
								<li ng-repeat="stage in methodDetailCtrl.stages">
									{{stage.PrequalStepName |translate}}
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button ng-click="methodDetailCtrl.closeModal()" type="button" class="btn btn-flat btn-primary" data-dismiss="modal" title="{{'CLOSE' | translate }}">
				<i class="fa fa-arrow-circle-left"></i>&nbsp;
			</button>
		</div>
	</div>
</script>
<script>
	$(document).ready(function () {
		$('[data-toggle="popover"]').popover({ html: true, placement: "right" });
	});

</script>
