﻿<div class="modal-content" ng-init="PendaftaranLelangPrintCtrl.init()">
	<div class="modal-body">
		<button class="btn btn-flat btn-default" ng-click="PendaftaranLelangPrintCtrl.makePDF()">
			<i class="fa fa-print"></i>
		</button>
		<div ng-repeat="a in PendaftaranLelangPrintCtrl.pagedData">
			<div id="print{{$index + 1}}" class="print-wrap">
				<div class="col-md-12">
					<h3 class="text-left afta-font" style="padding-bottom: 20px;">{{'TABLE.TENDER_REG'|translate}}</h3>
					<label ng-if="PendaftaranLelangPrintCtrl.isCancelled" class="text-left afta-font text-red" style="padding-bottom: 20px;"><i>({{'TABLE.CANCELED_TENDER'|translate}})</i></label>
				</div>
				<div class="col-md-12">
					<div class="table table-responsive" style="padding-bottom: 20px;">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center" style="vertical-align: middle!important;">{{'TABLE.TENDER_NAME'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="vertical-align: middle;">{{PendaftaranLelangPrintCtrl.TenderName}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-12">
					<h5 class="afta-font" style="margin-top: 0px;">*) {{'TABLE.NOTIF_UPLOAD'|translate}}</h5>
				</div>
				<br /><br />
				<div class="col-md-12">
					<h3 class="text-left afta-font" style="padding-bottom: 20px;">{{'TABLE.REG_VENDOR'|translate}}</h3>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
					<div class="table table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center" style="vertical-align: middle!important; width:20px">No.</th>
									<th class="text-center" style="vertical-align: middle!important;">{{'TABLE.VENDOR_NAME'|translate}}</th>
									<th class="text-center" style="width: 270px; min-width: 270px!important;">{{'TABLE.REG_DATE'|translate}}</th>
									<th class="text-center" style="width: 270px; min-width: 270px!important;">{{'TABLE.SEE_DATE'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pe in a">
									<td style="vertical-align: middle;">{{(PendaftaranLelangPrintCtrl.maxRow * $parent.$index) + $index + 1}}</td>
									<td style="vertical-align: middle;">
										{{pe.VendorName}}
									</td>
									<td class="text-center" style="vertical-align: middle!important;">
										{{pe.TenderRegistrationDate | date: "dd-MM-yyyy"}}
									</td>
									<td class="text-center" style="vertical-align: middle!important;">
										{{pe.SeeStepDetailDate | date: "dd-MM-yyyy"}}
									</td>
								</tr>
							</tbody>
						</table>
					</div><br />
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-4 pull-right">
			<button ng-click="PendaftaranLelangPrintCtrl.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</div>