<section class="content" style="overflow: visible;" ng-init="konfigVarGlobalCtrl.init()">
    <div class="col-md-12 center-block" style="float: none!important;">
        <div class="box">
            <div id="tableConfig" class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="afta-font text-center judul-datatabel" style="text-align: center!important;">{{'VARIABEL_KONTEN_EMAIL' | translate}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-flat btn-sm btn-primary" ng-click="konfigVarGlobalCtrl.onTambahClick()" title="{{'TAMBAH_VARIABEL' | translate}}"><i class="fa fa-plus"></i>&nbsp; {{'TAMBAH' | translate}}</a>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <form ng-submit="konfigVarGlobalCtrl.onFilterChanged()">
                                <label style="padding-top: 5px;" class="col-md-4 control-label text-right">{{'CARI' | translate}}:</label>
                                <div class="col-md-8">
                                    <input class="form-control input-sm" type="text" ng-model="konfigVarGlobalCtrl.filter" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="center-vertical" style="width: 20px; min-width: 20px;">{{'NO' | translate}}</th>
                                        <th class="center-vertical" style="width: 175px; min-width: 175px;">{{'NAMA_VARIABEL' | translate}}</th>
                                        <th class="center-vertical">{{'ISI_VARIABEL' | translate}}</th>
                                        <th class="center-vertical" style="width: 90px; min-width: 90px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="veg in konfigVarGlobalCtrl.variabel_email_globals">
                                        <td class="center-vertical">{{(konfigVarGlobalCtrl.pageSize * (konfigVarGlobalCtrl.currentPage - 1))+$index+1}}</td>
                                        <td class="middle-vertical">#{{veg.Name}}</td>
                                        <td class="middle-vertical">{{veg.Value}}</td>
                                        <td class="center-vertical">
                                            <a class="btn btn-flat btn-xs btn-primary" ng-click="konfigVarGlobalCtrl.onEditClick(veg)" title="{{'EDIT' | translate}}"><i class="fa fa-edit"></i>&nbsp; </a>
                                            <a class="btn btn-flat btn-xs btn-danger" ng-click="konfigVarGlobalCtrl.onDeleteClick(veg)" title="{{'HAPUS' | translate}}"><i class="fa fa-trash-o"></i>&nbsp; </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <ul uib-pagination boundary-links="true" total-items="konfigVarGlobalCtrl.count" ng-model="konfigVarGlobalCtrl.currentPage"
                                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-number="10"
                                        ng-change="konfigVarGlobalCtrl.onPageChanged(konfigVarGlobalCtrl.currentPage)"></ul>
                                    <br />
                                    <label>{{'TOTAL_DATA' | translate}} : {{konfigVarGlobalCtrl.count}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center-block">
                        <a class="btn btn-flat btn-primary pull-right" href="#/sistem-konfigurasi/email-configuration" title="{{'KEMBALI' | translate}}">
                            <i class="fa fa-arrow-left""></i>&nbsp;{{'KEMBALI' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<script type="text/ng-template" id="deleteVariabel.html" style="width: 500px!important;">
    <div class="modal-content">
        <div class="modal-body" ng-init="init()">
            <h2 class="afta-font text-center">Anda yakin ingin menghapus variabel #{{variabel_email_global.nama}}?</h2>
        </div>
        <div></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-default" ng-click="onCancelClick()" title="Batal"><i class="fa fa-reply"></i>&nbsp;</button>
            <button type="submit" class="btn btn-flat btn-danger" ng-click="onConfirmClick()" title="Hapus"><i class="fa fa-trash"></i>&nbsp;&nbsp;</button>
        </div>
    </div>
</script>
-->