<section class="content" style="overflow: visible;" ng-init="konfigEmailCtrl.init()">
    <div class="col-md-12 center-block" style="float: none!important;">
        <div class="box">
            <div id="tableConfig" class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="afta-font text-center judul-datatabel" style="text-align: center!important;">{{'KONFIGURASI_KONTEN_EMAIL' | translate}}</h3>
                    </div>
                </div>
                <div class="row">
                    <form ng-submit="konfigEmailCtrl.onFilterChanged()">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="padding-top: 5px;" class="col-md-4 control-label text-right">{{'CARI' | translate}}:</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" ng-model="konfigEmailCtrl.filter" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" style="padding-top: 15px;">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="center-vertical" style="width: 20px; min-width: 20px;">{{'NO' | translate}}</th>
                                        <th class="center-vertical">{{'NAMA_EMAIL' | translate}}</th>
                                        <th class="center-vertical" style="width: 300px; min-width: 150px;">{{'SUBJECT' | translate}}</th>
                                        <th class="center-vertical" style="width: 90px; min-width: 90px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ke in konfigEmailCtrl.konten_emails">
                                        <td class="center-vertical">{{(konfigEmailCtrl.pageSize * (konfigEmailCtrl.currentPage - 1)) + $index + 1}}</td>
                                        <td class="middle-vertical">{{ke.Name}}</td>
                                        <td class="middle-vertical">{{ke.EmailSubject}}</td>
                                        <td class="center-vertical">
                                            <a class="btn btn-flat btn-xs btn-primary" ng-click="konfigEmailCtrl.onEditClick(ke)" title="{{'EDIT' | translate}}"><i class="fa fa-edit"></i>&nbsp; </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <ul uib-pagination boundary-links="true" total-items="konfigEmailCtrl.count" ng-model="konfigEmailCtrl.currentPage"
                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                    ng-change="konfigEmailCtrl.onPageChanged(konfigEmailCtrl.currentPage)"></ul>
                                <br />
                                <label>{{'TOTAL_DATA' | translate}} : {{konfigEmailCtrl.count}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center-block">
                        <button type="button" class="btn btn-flat btn-primary pull-right" ng-click="konfigEmailCtrl.onConfigVariablesClick()" title="{{'ATUR_VARIABEL' | translate}}">
                            <i class="fa fa-edit"></i>&nbsp;{{'ATUR_VARIABEL' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<script type="text/ng-template" id="editSignature.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="onCancelClick()" title="Keluar"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">Ubah Signature Email</h3>  
    </div>
    <div class="modal-body" ng-init="init()">
        <div class="row">
            <div class="col-md-6 col-sm-10 col-xs-12 well center-block" style="float: none!important;">
                <div class="form-group">
                    <label>Isi Signature :</label>
                    <textarea id="signature" data-ui-tinymce="customTinymce" ng-model="variabel_email_global.nilai"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-default" ng-click="onCancelClick()" title="Batal"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-primary" ng-click="onSimpanClick()" title="Simpan"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</script>
-->