﻿<div class="modal-content" ng-init="catEqMCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close" ng-click="catEqMCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{catEqMCtrl.action|translate}} {{'KATALOG'|translate}}</h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">{{'NAMA'|translate}}</label>
                    <input type="text" class="form-control input-sm" ng-model="catEqMCtrl.Name" />
                </div>
            </div>
        </div>
        <div class="row" ng-if="!catEqMCtrl.ID">
            <div class="col-md-12">
                <label class="csontrol-label">{{'TAMBAH_HARGA_BELI'|translate}}</label>
            </div>
        </div>
        <div class="row" ng-if="!catEqMCtrl.ID">
            <div class="col-md-2">
                <div class="form-group">
                    <input type="number" min="0" ng-model="catEqMCtrl.Year" placeholder="{{'TAHUN'|translate}}" class="form-control input-sm" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" ng-model="catEqMCtrl.Cost" placeholder="{{'HARGA'|translate}}" class="form-control input-sm" currency-mask />
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group pull-right">
                    <button title="{{ 'TAMBAH' | translate }}" class="btn btn-sm btn-primary" ng-click="catEqMCtrl.tambahCost()" ng-disabled="!catEqMCtrl.Year || !catEqMCtrl.Cost"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!catEqMCtrl.ID">
            <div class="col-md-6">
                <div class="table table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="20">{{'NO'|translate}}.</th>
                                <th class="text-center" width="100">{{'TAHUN'|translate}}</th>
                                <th class="text-center">{{'HARGA_BELI'|translate}}</th>
                                <th class="text-center" width="100" ng-if="!catEqMCtrl.isTenderVerification">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="catEqMCtrl.Costs.length <= 0">
                                <td colspan="4" cellpadding="0">
                                </td>
                            </tr>
                            <tr ng-repeat="dt in catEqMCtrl.Costs">
                                <td class="center-vertical">{{$index+1}}</td>
                                <td class="center-vertical">{{dt.Year}}</td>
                                <td class="text-right">{{dt.Cost | currency : ""}}</td>
                                <td class="center-vertical">
                                    <button class="btn btn-sm btn-danger" ng-click="catEqMCtrl.hapusCost($index)"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" ng-click="catEqMCtrl.batal()" class="btn btn-flat btn-default" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i> </button>
                <button type="button" ng-click="catEqMCtrl.simpan()" class="btn btn-flat btn-primary" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>
            </div>
        </div> 
    </div>
</div>