﻿<div class="modal-content" ng-init="penawaranTerbaikModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="penawaranTerbaikModalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                Nama Pengadaan : Pengadaan Paket Makanan Area Surabaya
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body" style="padding-bottom: 40px;">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h4>Auction akan berakhir dalam</h4>
                            </div>
                            <div class="col-md-12 text-center">
                                <h3>0 hari,0 jam,35 menit,49 detik</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <label>Bid terbaik</label>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body" style="padding-bottom: 40px;">
                        <div class="row">
                            <div class="col-md-12 text-right"><i class="fa fa-clock-o"></i> 26-12-2019 12:00</div>
                            <div class="col-md-12 text-center"><h4>Harga Penawaran</h4></div>
                            <div class="col-md-12 text-center"><h4>Rp.5.200.000.000,00</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="penawaranTerbaikModalCtrl.batal()" class="btn btn-flat btn-default" title="{{'FORM.BTN_CANCEL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" ng-click="penawaranTerbaikModalCtrl.simpan()" class="btn btn-flat btn-primary" title="{{'FORM.BTN_SAVE'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>