﻿<section ng-init="ContractSignOffController.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li>
			<a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a>
		</li>
		<li>
			<a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a>
		</li>
		<li>
			<a href="#/data-pengadaan/tahapan/{{ContractSignOffController.step.tender.TenderRefID}}/{{ContractSignOffController.step.tender.ProcPackageType}}/{{ContractSignOffController.step.tender.ID}}" class="active">
				{{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
			</a>
		</li>
		<li>
			<a class="active">{{'BREADCRUMB.TENDERAWARD' | translate}}</a>
		</li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'TABLE.CONTRACTSIGNOFF' | translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>{{'TABLE.STARTDATE' | translate}}: {{ContractSignOffController.step.StartDate}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'TABLE.ENDDATE' | translate}}: {{ContractSignOffController.step.EndDate}}</label>
						</div>

						<div class="col-md-9">
							<label>{{'TABLE.TENDERNAME' | translate}}: {{ContractSignOffController.step.tender.TenderName}}</label>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px; height: 500px; width:auto;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:120px; width:260px;">{{'TABLE.VENDORNAME' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:150px; width:360px;">{{'TABLE.APPV_BUDGET' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:150px; width:360px;">{{'TABLE.CONTRACTNO' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:170px; width:460px;">{{'TABLE.CONTRACTSTART' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:170px; width:460px;">{{'TABLE.CONTRACTEND' | translate}}</th>
											<th class="text-center" style="vertical-align: middle; min-width:120px; width:260px;">{{'TABLE.UPLOADDOC' | translate}}<br /> (<small> <span ng-repeat="ft in ContractSignOffController.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{ContractSignOffController.idUploadConfigs[0].Size}} {{ContractSignOffController.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small></th>
											<th class="text-center" style="vertical-align: middle; min-width:200px; width:460px;">{{'TABLE.SUMMARY' | translate}}</th>
											<th class="text-center" style="vertical-align: middle;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in ContractSignOffController.detail">
											<td style="vertical-align: middle;" class="text-center">{{$index+1}}</td>
											<td style="vertical-align: middle;" class="text-center">{{eval.VendorName}}</td>
											<td style="vertical-align: middle;" class="text-center" width="120px">
												<label ng-if="ContractSignOffController.isAllowedEdit || (eval.Status === 'Draft' ||  eval.Status === 'REJECT')">{{eval.curr}}</label> <input currency-mask type="text" ng-disabled="!ContractSignOffController.isAllowedEdit || !(eval.Status === 'Draft' ||  eval.Status === 'REJECT')" class="form-control input-group-sm" ng-if="ContractSignOffController.isAllowedEdit || (eval.Status === 'Draft' ||  eval.Status === 'REJECT')" ng-model="eval.AwardValue" />
                                                <!--<label ng-if="!ContractSignOffController.isAllowedEdit || !(eval.Status === 'Draft' ||  eval.Status === 'REJECT')">{{eval.AwardValue | currency: ""+ eval.curr +" "}}</label>-->
											</td>
											<td style="vertical-align: middle;" class="text-center">
												<div class="input-group date form_datetime">
													<input class="form-control input-group-sm" ng-disabled="!ContractSignOffController.isAllowedEdit || !(eval.Status === 'Draft' ||  eval.Status === 'REJECT' || eval.Status === 'PRE_PROJECT')" type="text" ng-model="eval.ContractNo" />
												</div>
											</td>
											<td style="vertical-align: middle;" class="text-center" width="160px">
												<div class="input-group date form_datetime">
													<input required class="form-control input-group-sm" ng-disabled="!ContractSignOffController.isAllowedEdit || !(eval.Status === 'Draft' ||  eval.Status === 'REJECT')" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" datepicker-options="eval.StartMinDate" close-text="{{'TUTUP'|translate}}" is-open="ContractSignOffController.isCalendarOpened[$index]" ng-model="eval.ContractStartDate" ng-click="ContractSignOffController.openCalendar($index,eval.ContractStartDate)" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="ContractSignOffController.openCalendar($index)">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</span>
												</div>
											</td>
											<td style="vertical-align: middle;" class="text-center" width="160px">
												<div class="input-group date form_datetime">
													<input required class="form-control input-group-sm" ng-disabled="!ContractSignOffController.isAllowedEdit || !(eval.Status === 'Draft' ||  eval.Status === 'REJECT')" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" datepicker-options="eval.EndMinDate" is-open="ContractSignOffController.isCalendarOpened1[$index]" ng-model="eval.ContractEndDate" ng-click="ContractSignOffController.openCalendar1($index)" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="ContractSignOffController.openCalendar1($index)">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</span>
												</div>
											</td>
											<td style="vertical-align: middle;" class="text-center">
												<div class="input-group date form_datetime">
													<input type="file" class="form-control" accept="{{ContractSignOffController.idFileTypes}}" ng-file-select="ContractSignOffController.selectUpload(eval)" ng-disabled="!ContractSignOffController.isAllowedEdit || !(eval.Status === 'Draft' ||  eval.Status === 'REJECT')" ng-model="eval.filePath" name="ownerIDFile" style="width: 120px;" />
												</div>
												<a ng-if="eval.UploadURL !== null" class="btn btn-xs btn-primary" href="{{ContractSignOffController.folderFile+ eval.UploadURL}}" target="_BLANK">
													<i class="fa fa-download"></i>
												</a>
											</td>
											<td style="vertical-align: middle;" class="text-center" width="140px">
												<div class="input-group date form_datetime">
													<input class="form-control input-group-sm" ng-click="ContractSignOffController.openSummary(eval)" style="{{!ContractSignOffController.isAllowedEdit || !(eval.Status === 'Draft' ||  eval.Status === 'REJECT') ? '' : 'background-color:white'}}" ng-readonly="true" type="text" ng-model="eval.Summary" />
												</div>
											</td>
											<td style="vertical-align: middle;" class="text-center">
												<div class="input-group date form_datetime">
                                                    <button ng-if="eval.Status === 'PRE_PROJECT'" class="btn btn-sm btn-primary" title="{{'BTN.UPDATEPROJECT' | translate}}" ng-click="ContractSignOffController.updateToProject(eval)">
                                                        <i class="fa fa-save"></i>
                                                    </button>
													<!--<button title="{{'BTN.SEND' | translate}}" ng-if="ContractSignOffController.isAllowedEdit && eval.flagEmp == 0 && eval.Status ==='Draft'&& eval.flagTemp == 1 && (eval.Vendor.SAPCode === '' || eval.Vendor.SAPCode === null) && (eval.NoSAPApprovalStatus === '' || eval.NoSAPApprovalStatus === 'REJECT')" class="btn btn-flat btn-primary" ng-click="ContractSignOffController.sendToApproveL1L2(eval)">
														<i class="fa fa-check"></i>
													</button>
													<button title="{{'BTN.DETAIL_APPROVAL' | translate}}" ng-if="ContractSignOffController.isAllowedEdit && eval.flagEmp == 0 && eval.flagTemp == 1 && (eval.Vendor.SAPCode === '' || eval.Vendor.SAPCode === null) && (eval.NoSAPApprovalStatus === 'ONPROCESS' || eval.NoSAPApprovalStatus === 'APPROVE' || eval.NoSAPApprovalStatus === 'REJECT')" class="btn btn-flat btn-success " ng-click="ContractSignOffController.detailApprovalL1L2(eval)">
														<i class="fa fa-sitemap"></i>
													</button>-->
													<button title="{{'BTN.SAVE' | translate }}" ng-if="ContractSignOffController.isAllowedEdit && ((eval.ID === 0 && ContractSignOffController.login === true) || (eval.ID !== 0 && eval.ApprovalStatusReff.Name === 'CR_DRAFT') || (eval.ID !== 0 && eval.ApprovalStatusReff.Name === 'APPROVAL_VENDOR_REJECTED'))" type="button" class="btn btn-flat btn-sm btn-primary" ng-click="ContractSignOffController.uploadFile(eval)">
														<i class="fa fa-save" aria-hidden="true"></i>
													</button>
													<button ng-hide="(eval.Vendor.SAPCode === '' || eval.Vendor.SAPCode === null) && eval.NoSAPApprovalStatus !== 'APPROVE'" title="{{'BTN.SENDAPPROVE' | translate}}" ng-if="ContractSignOffController.isAllowedEdit && eval.flagEmp == 0 && eval.Status ==='Draft'&& eval.flagTemp == 1" class="btn btn-sm btn-success " ng-click="ContractSignOffController.sendToApprove(eval)">
														<i class="fa fa-check"></i>
													</button>
													<button ng-if="eval.Status !== 'Draft'" class="btn btn-sm btn-success" title="{{'BTN.APPROVALDETAIL' | translate}}" ng-click="ContractSignOffController.detailApproval(2, eval)">
														<i class="fa fa-sitemap"></i>
													</button>
													<!--<button type="button" title="Standard Award Report" class="btn btn-flat btn-sm btn-default" ng-click="ContractSignOffController.awardReport(eval.VendorID)">
														<i class='fa fa-file-o'></i>&nbsp;
													</button>-->
													<a ng-if="eval.ApprovalStatusReff.Name == 'CR_APPROVED'" ng-click="ContractSignOffController.sendRegretLetter(eval)" title="{{'BTN.SEND_REGRET_LETTER' | translate}}" class="btn btn-flat btn-sm btn-warning">
														<i class="fa fa-mail-forward"></i>
													</a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 pull-right">
							<button class="btn btn-sm btn-default" ng-click="ContractSignOffController.back()">
								<i class="fa fa-arrow-left"></i> {{'BTN.BACK' | translate}}
							</button>
							<button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default pull-right" ng-click="ContractSignOffController.print()">
								<i class='fa fa-print'></i>&nbsp;
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
