﻿<div class="modal-content" ng-init="prequalRegistrationCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="prequalRegistrationCtrl.batal()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">Tanggal Awal</th>
										<th class="text-center">Tanggal Akhir</th>
										<th class="text-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center" style="vertical-align: middle;">{{prequalRegistrationCtrl.data.RegistrationStartDate | date: "dd/MM/yyyy HH:mm"}}</td>
										<td class="text-center" style="vertical-align: middle;">{{prequalRegistrationCtrl.data.RegistrationEndDate | date: "dd/MM/yyyy HH:mm"}}</td>
										<td class="text-center" style="vertical-align: middle;">
											<a ng-if="prequalRegistrationCtrl.data.DocUrl" href="{{prequalRegistrationCtrl.folderFile+prequalRegistrationCtrl.data.DocUrl}}" class="btn btn-flat btn-xs btn-primary" target="_BLANK" ng-click="prequalRegistrationCtrl.changeStatusMinat()" title="Download Dokumen">
												<i class="fa fa-download">&nbsp;Download</i>
											</a>
											<a ng-if="prequalRegistrationCtrl.statusMinat === true && prequalRegistrationCtrl.data.IsRegistered !== true" class="btn btn-flat btn-xs btn-success" ng-click="prequalRegistrationCtrl.minat()" title="Minat">
												<i class="fa fa-check">&nbsp;Minat</i>
											</a>
											<a ng-if="!prequalRegistrationCtrl.data.DocUrl">
												<label class="label label-sm label-default" title="Dokumen Belum di Upload">
													<i class="fa fa-download"></i>&nbsp;Download
												</label>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row" ng-if="prequalRegistrationCtrl.IsAlreadyRegistered !== true">
					<div class="col-md-12">
						<p ng-show="!(pendaftaran.dokumen_file === null)">*) Tombol untuk mendaftar akan muncul setelah Anda melakukan download file. </p>
						<p ng-show="pendaftaran.dokumen_file === null">*) Anda akan terdaftar saat klik tombol Minat. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-primary" ng-click="prequalRegistrationCtrl.batal()" title="Kembali">
			<i class="fa fa-arrow-circle-left"></i>
		</button>
	</div>
</div>