﻿<!-- Main content -->
<div ng-init="AknowSheetVendorCtrl.init()">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'JUDUL'|translate}}</h3>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <table border="0">
                                    <tr>
                                        <td width="100px">
                                            {{'TO'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetVendorCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{AknowSheetVendorCtrl.export.vendorcontact[0].Vendor.VendorName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'ATTN'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetVendorCtrl.contactCP[0].Contact.Name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'FAX'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetVendorCtrl.contactCompany.Contact.Fax}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'EMAIL'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetVendorCtrl.contactCompany.Contact.Email}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table border="0">
                                    <tr>
                                        <td width="100px">
                                            {{'DATE'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                           {{AknowSheetVendorCtrl.export.POSent | date:"dd/MM/yyyy"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'PO_REF'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetVendorCtrl.export.POmodel.PONumber}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'BUYER'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetVendorCtrl.export.buyer.FullName}} {{AknowSheetVendorCtrl.export.buyer.SurName}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="clearfix">
                                    {{'PO_NUMBER_DESC'|translate}} <br />
                                    {{'PO_NUMBER_DESC2'|translate}} <br />
                                    {{'PO_NUMBER_DESC3'|translate}}  <b> {{'PO_NUMBER_DESC4'|translate}}</b> {{'PO_NUMBER_DESC5'|translate}} <br />
                                    {{'PO_NUMBER_DESC6'|translate}} <br />
                                    {{'PO_NUMBER_DESC7'|translate}} <br />
                                    <hr class="align-center" style="border-style:double" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <strong>
                                    {{'TO2'|translate}} : Mubadala Petroleum
                                </strong>
                                <p>
                                   {{'TEXT1'|translate}}
                                </p>
                                <strong>{{'TEXT2'|translate}}</strong>
                                <p>
                                    {{'TEXT3'|translate}}
                                </p>
                                <div class="panel-body col-md-6">
                                    <form class="form-horizontal">
                                        <div class="form-group" ng-repeat="dt in AknowSheetVendorCtrl.ack">
                                            <div class="col-sm-1">
                                                <input ng-disabled="AknowSheetVendorCtrl.export.detailVendor[0].VendorMonitoringPO.SysReference.Name !== 'REVIEW_VENDOR'"  ng-model="dt.IsCheck" ng-change="AknowSheetVendorCtrl.changeCheckBox(dt)" type="checkbox" class="form-group-lg" />
                                            </div>
                                            <label class="col-sm-10 margintop10">{{dt.SysReference.Value | translate}} </label>
                                            <div class="col-md-12" ng-if="dt.IsCheck === false">
                                                <label class="labelnonbold">{{'LABEL_KETERANGAN' | translate}}</label>
                                                <textarea ng-disabled="AknowSheetVendorCtrl.export.detailVendor[0].VendorMonitoringPO.SysReference.Name !== 'REVIEW_VENDOR'" name="Remark{{dt.ID}}" class="form-control" required ng-model="dt.Remark"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="pull-left">
                                    <button class="btn btn-flat btn-default" title="Print Preview" ng-click="AknowSheetVendorCtrl.printAck('acknow')"><i class="glyphicon glyphicon-print"></i></button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-flat btn-primary" ng-click="AknowSheetVendorCtrl.back()"><i class="fa fa-reply"></i>{{'BACK' | translate}}</button>
                                    <!--<button class="btn btn-flat btn-danger" ng-click="AknowSheetVendorCtrl.reject()"><i class="fa fa-close"></i>{{'Tidak Setuju'|translate}}</button>-->
                                    <button ng-if="AknowSheetVendorCtrl.export.detailVendor[0].VendorMonitoringPO.SysReference.Name == 'REVIEW_VENDOR'" class="btn btn-flat btn-success" ng-click="AknowSheetVendorCtrl.setuju()"><i class="fa fa-save"></i>{{'Simpan'|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--pdf-->
    <div id="acknow" class="formEEC-container" ng-hide="true" style="background-color:#ffffff;">
        <div class="watermark">Mubadala Petroleum</div>
        <div style="position:fixed;z-index:99;">
            <div class="row" style="width:100%;">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-top:10px;padding-left:690px;padding-bottom: 20px;display:block;text-align:right;" width="100px" height="40px" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="formEEC-title">
                        {{'JUDUL'|translate}}
                    </div>
                    <br />
                    <div class="formEEC-content">
                        <div class="formEEC-contentOutside">
                            <div class="row">
                                <div class="formEEC-col6">
                                    <div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                        <strong>
                                            {{'TO'|translate}}<br />
                                            {{'ATTN'|translate}}<br />
                                            {{'FAX'|translate}}<br />
                                            {{'EMAIL'|translate}}<br />
                                        </strong>
                                    </div>
                                    <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                        : {{AknowSheetVendorCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{AknowSheetVendorCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
                                        : {{AknowSheetVendorCtrl.contactCP[0].Contact.Name}}  <br />
                                        : {{AknowSheetVendorCtrl.contactCompany.Contact.Fax}}<br />
                                        : {{AknowSheetVendorCtrl.contactCompany.Contact.Email}}<br />
                                    </div>
                                </div>
                                <div class="formEEC-col6">
                                    <div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                        <strong>
                                            {{'DATE'|translate}}<br />
                                            {{'PO_REF'|translate}}<br />
                                            {{'BUYER'|translate}}<br />
                                        </strong>
                                    </div>
                                    <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                        : {{AknowSheetVendorCtrl.export.POSent | date:"dd/MM/yyyy"}}<br />
                                        : {{AknowSheetVendorCtrl.export.POmodel.PONumber}} <br />
                                        : {{AknowSheetVendorCtrl.export.buyer.FullName}} {{AknowSheetVendorCtrl.export.buyer.SurName}}<br />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <p>
                                    {{'PO_NUMBER_DESC'|translate}}<br />
                                    {{'PO_NUMBER_DESC_2'|translate}}<br />
                                    {{'PO_NUMBER_DESC2'|translate}} <br />
                                    {{'PO_NUMBER_DESC3'|translate}}  <b> {{'PO_NUMBER_DESC4'|translate}}</b> {{'PO_NUMBER_DESC5'|translate}} <br />
                                    {{'PO_NUMBER_DESC6'|translate}} <br />
                                    {{'PO_NUMBER_DESC7'|translate}} <br />
                                </p>
                            </div>
                            <div class="row">
                                <b>
                                    {{'TO2'|translate}} : Mubadala Petroleum
                                </b>
                                <p>
                                    {{'TEXT1'|translate}}
                                </p>
                                <b>{{'TEXT2'|translate}}</b>
                                <p>
                                    {{'TEXT3'|translate}}
                                </p>
                            </div>
                        </div>
                        <form>
                            <div ng-repeat="dt in AknowSheetVendorCtrl.ack">
                                <div style="width:20px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                    <input type="checkbox" ng-checked="dt.IsCheck"/>
                                </div>
                                <label style="width:300px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">{{dt.SysReference.Value | translate}} </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
