﻿<div class="modal-content" ng-init="TCVendorCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="TCVendorCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'TC_TITLE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div>

            <div class="row">
                <div class="col-md-12">
                    <h4>{{'TC.H1' | translate}}</h4>
                    {{'TC.TEXT_H1' | translate}}
                    <h4>{{'TC.H2' | translate}}</h4>
                    {{'TC.TEXT_H2.1' | translate}}<br /><br />
                    {{'TC.TEXT_H2.2' | translate}}<br /><br />
                    {{'TC.TEXT_H2.3' | translate}}<br /><br />
                    {{'TC.TEXT_H2.4.TEXT1' | translate}}<br />
                    {{'TC.TEXT_H2.4.A' | translate}}<br />
                    {{'TC.TEXT_H2.4.B' | translate}}<br />
                    {{'TC.TEXT_H2.4.C' | translate}}<br />
                    {{'TC.TEXT_H2.4.D' | translate}}<br />
                    {{'TC.TEXT_H2.4.E' | translate}}<br />
                    {{'TC.TEXT_H2.4.F' | translate}}<br />
                    {{'TC.TEXT_H2.4.TEXT2' | translate}}<br /><br />
                    {{'TC.TEXT_H2.5' | translate}}<br /><br />
                    {{'TC.TEXT_H2.6' | translate}}<br /><br />
                    {{'TC.TEXT_H2.7' | translate}}<br /><br />
                    {{'TC.TEXT_H2.8' | translate}}<br /><br />
                    <h4>{{'TC.H3' | translate}}</h4>
                    {{'TC.TEXT_H3' | translate}}
                    <h4>{{'TC.H4' | translate}}</h4>
                    {{'TC.TEXT_H4.TEXT1' | translate}}<br />
                    {{'TC.TEXT_H4.TEXT2' | translate}}<br />
                    {{'TC.TEXT_H4.TEXT3' | translate}}<br />
                    {{'TC.TEXT_H4.TEXT4' | translate}}<br />
                    {{'TC.TEXT_H4.TEXT5' | translate}}<br />
                    {{'TC.TEXT_H4.TEXT6' | translate}}<br /><br />
                    <h4>{{'TC.H5' | translate}}</h4>
                    {{'TC.TEXT_H4.TEXT1' | translate}}<br />
                    {{'TC.TEXT_H4.TEXT2' | translate}}<br />
                    {{'TC.TEXT_H4.TEXT3' | translate}}<br />
                    {{'TC.TEXT_H4.TEXT4' | translate}}<br /><br />
                    <h4>{{'TC.H6' | translate}}</h4>
                    {{'TC.TEXT_H6' | translate}}<br /><br />
                    <h4>{{'TC.H7' | translate}}</h4>
                    {{'TC.TEXT_H7' | translate}}<br /><br />
                    <h4>{{'TC.H8' | translate}}</h4>
                    {{'TC.TEXT_H8' | translate}}<br /><br />
                    <h4>{{'TC.H9' | translate}}</h4>
                    {{'TC.TEXT_H9.1' | translate}}<br />
                    {{'TC.TEXT_H9.2' | translate}}<br />
                    {{'TC.TEXT_H9.3' | translate}}<br />
                    {{'TC.TEXT_H9.4' | translate}}<br />
                    {{'TC.TEXT_H9.5' | translate}}<br />
                    {{'TC.TEXT_H9.6' | translate}}<br /><br />
                    <h4>{{'TC.H10' | translate}}</h4>
                    {{'TC.TEXT_H10.1' | translate}}<br />
                    {{'TC.TEXT_H10.2' | translate}}<br />
                    {{'TC.TEXT_H10.3' | translate}}<br />
                    {{'TC.TEXT_H10.4' | translate}}<br />
                    {{'TC.TEXT_H10.5' | translate}}<br /><br />
                    <h4>{{'TC.H11' | translate}}</h4>
                    {{'TC.TEXT_H11' | translate}}<br /><br />
                    <h4>{{'TC.H12' | translate}}</h4>
                    {{'TC.TEXT_H12' | translate}}<br /><br />
                    <h4>{{'TC.H13' | translate}}</h4>
                    {{'TC.TEXT_H13.1' | translate}}<br />
                    {{'TC.TEXT_H13.2' | translate}}<br /><br />
                    <h4>{{'TC.H14' | translate}}</h4>
                    {{'TC.TEXT_H14.1' | translate}}<br />
                    {{'TC.TEXT_H14.2' | translate}}<br />
                    {{'TC.TEXT_H14.3' | translate}}<br />
                    {{'TC.TEXT_H14.4' | translate}}<br />
                    {{'TC.TEXT_H14.5' | translate}}<br /><br />
                    <h4>{{'TC.H15' | translate}}</h4>
                    {{'TC.TEXT_H15.1' | translate}}<br />
                    {{'TC.TEXT_H15.2' | translate}}<br />
                    {{'TC.TEXT_H15.3' | translate}}<br />
                    {{'TC.TEXT_H15.4.TEXT' | translate}}<br />
                    {{'TC.TEXT_H15.4.A' | translate}}<br />
                    {{'TC.TEXT_H15.4.B' | translate}}<br />
                    {{'TC.TEXT_H15.4.C' | translate}}<br />
                    {{'TC.TEXT_H15.4.D' | translate}}<br />
                    {{'TC.TEXT_H15.5' | translate}}<br /><br />
                    <h4>{{'TC.H16' | translate}}</h4>
                    {{'TC.TEXT_H16' | translate}}<br /><br />
                    <h4>{{'TC.H17' | translate}}</h4>
                    {{'TC.TEXT_H17' | translate}}<br /><br />
                </div>
            </div>

        </div>
    </div>
    <!--
    <div class="row" id="exportthis">
        <div class="col-md-12">
            <div ng-show="detailApprovalSignOffCtrl.visible">cobi</div>
            <button ng-click="detailApprovalSignOffCtrl.printForm()">export</button>
        </div>
    </div>
        -->
    <div class="modal-footer">
        <div class="col-md-12">
            <div class="text-center">
                <button class="btn btn-flat btn-primary" ng-click="TCVendorCtrl.batal()"><i class="fa fa-reply"></i>{{'Kembali' | translate}}</button>
                <button ng-if="(TCVendorCtrl.reff === 'REVIEW_VENDOR')" class="btn btn-flat btn-danger" ng-click="TCVendorCtrl.notvalid()" ng-disabled="TCVendorCtrl.valid==false"><i class="fa fa-close"></i>{{'Tidak Setuju'|translate}}</button>
                <button ng-if="(TCVendorCtrl.reff === 'REVIEW_VENDOR')" class="btn btn-flat btn-success" ng-click="TCVendorCtrl.setuju()"><i class="fa fa-check"></i>{{'Setuju'|translate}}</button>
            </div>
        </div>
        <div class="center-block text-center" ng-if="TCVendorCtrl.valid==false">
            <div class="row margin-atas">
                <div class="col-md-6 col-md-offset-3">
                    <label>Alasan</label>
                    <textarea class="form-control" ng-model="TCVendorCtrl.VendorRemark" placeholder="Alasan"></textarea>
                    <a class="btn btn-danger" ng-click="TCVendorCtrl.reject()">
                        <i class="fa fa-save"></i>&nbsp; {{'KIRIM' | translate}}
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
