﻿<div class="modal-content" ng-init="AddDistribusiCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="AddDistribusiCtrl.cancel()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font text-center" id="myModalLabel">{{'JUDUL_MON' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" style="vertical-align: middle;">No.</th>
                                <th class="text-center" style="vertical-align: middle;">Purch.Doc.</th>
                                <th class="text-center" style="vertical-align: middle;">Item</th>
                                <th class="text-center" style="vertical-align: middle;">Type</th>
                                <th class="text-center" style="vertical-align: middle;">Cat</th>
                                <th class="text-center" style="vertical-align: middle; ">PGR</th>
                                <th class="text-center" style="vertical-align: middle;">Vendor Code</th>
                                <th class="text-center" style="vertical-align: middle;">Vendor Name</th>
                                <th class="text-center" style="vertical-align: middle;">Short Text</th>
                                <th class="text-center" style="vertical-align: middle;">A</th>
                                <th class="text-center" style="vertical-align: middle;">POrg</th>
                                <th class="text-center" style="vertical-align: middle;">Agreement</th>
                                <th class="text-center" style="vertical-align: middle;">Item</th>
                                <th class="text-center" style="vertical-align: middle;">Doc Date</th>
                                <th class="text-center" style="vertical-align: middle;">Net Price</th>
                                <th class="text-center" style="vertical-align: middle;">Currency</th>
                                <th class="text-center" style="vertical-align: middle;">To be Del.</th>
                                <th class="text-center" style="vertical-align: middle; ">To be Inv.</th>
                                <th class="text-center" style="vertical-align: middle;">Net Value</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="data in AddDistribusiCtrl.listItemPO">
                                <td style="vertical-align: middle;">{{detaildataUploadCtrl.currentPage > 1 ? (detaildataUploadCtrl.maxSize * (detaildataUploadCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td style="vertical-align: middle;">{{data.PurchDoc}}</td>
                                <td style="vertical-align: middle;">{{data.Item}}</td>
                                <td style="vertical-align: middle;">{{data.Type}}</td>
                                <td style="vertical-align: middle;">{{data.Cat}}</td>
                                <td style="vertical-align: middle;">{{data.Pgr}}</td>
                                <td style="vertical-align: middle;">{{data.SAPCode}}</td>
                                <td style="vertical-align: middle;">{{data.VendorName}}</td>
                                <td style="vertical-align: middle;">{{data.ShortText}}</td>
                                <td style="vertical-align: middle;">{{data.A}}</td>
                                <td style="vertical-align: middle;">{{data.POrg}}</td>
                                <td style="vertical-align: middle;">{{data.Agreement}}</td>
                                <td style="vertical-align: middle;">{{data.ItemPO}}</td>
                                <td style="vertical-align: middle;">{{data.DocDate}}</td>
                                <td style="vertical-align: middle;">{{data.NetPrice | currency :""}}</td>
                                <td style="vertical-align: middle;">{{data.Currency}}</td>
                                <td style="vertical-align: middle;">{{data.ToBeDel}}</td>
                                <td style="vertical-align: middle;">{{data.ToBeInv}}</td>
                                <td style="vertical-align: middle;">{{data.NetValue | currency:""}}</td>
                            </tr>
                            <tr ng-if="AddDistribusiCtrl.listItemPO.length === 0">
                                <td colspan="19">{{'TIDAK_ADA_DATA' | translate }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <label>Total In USD: {{AddDistribusiCtrl.listItemPO[0].TotalInUSD.toFixed(2) | currency: ""+ labelcurr +" "}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul uib-pagination total-items="AddDistribusiCtrl.totalItems" max-size="10"
                        ng-model="AddDistribusiCtrl.currentPage" items-per-page="AddDistribusiCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="AddDistribusiCtrl.Generate(AddDistribusiCtrl.currentPage)"></ul>
                    <br /><label>{{'TOTAL_DATA' | translate}} : {{AddDistribusiCtrl.totalItems}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">

                <div class="pull-right">
                     <button class="btn btn-danger turun-15" title="{{'BACK' | translate}}" ng-click="AddDistribusiCtrl.cancel()"><i class="fa fa-arrow-left"></i>&nbsp;{{'BACK' | translate}}</button>

                </div>
            </div>
        </div>
    </div>
</div>