﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div id="idTambahVerifiedData" class="modal-content" ng-init="DetEmailMonCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetEmailMonCtrl.cancel()" title="{{'EXIT' | translate}}">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <h4 class="text-center afta-font">{{'SEND_EMAIL' | translate}} </h4>
            <br />
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table id="tabelPeserta" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                            </tr>
                            <tr>
                                <th class="center-vertical" width='20px'>{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.NAMA_VENDOR' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class="text-bold">{{DetEmailMonCtrl.list.Vendor.VendorName}} ({{'WINNER' | translate}})</td>
                            </tr>
                            <tr ng-repeat="pe in DetEmailMonCtrl.list.VendorLooser">
                                <td>{{$index + 2}}</td>
                                <td>{{pe.VendorName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>{{'WINNER_CONTENT' | translate}}</label>
                        <div text-angular="text-angular" name="htmlcontent" ng-model="DetEmailMonCtrl.ContentAward"
                             ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>{{'FAIL_CONTENT' | translate}} </label>
                        <div text-angular="text-angular" name="htmlcontent2" ng-model="DetEmailMonCtrl.ContentLooser"
                             ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <div class="col-md-12 text-center">
        <button type="button" class="btn btn-flat btn-warning" ng-click="DetEmailMonCtrl.cancel()"><i class="fa fa-arrow-circle-left"></i>&nbsp; {{'BACK' | translate}}</button>
        <button type="button" class="btn btn-flat btn-primary" ng-click="DetEmailMonCtrl.sentMail()" title="SentEmail"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp; {{'BTN.SEND_EMAIL' | translate}}</button>
    </div>
</div>
</div>