﻿<div class="modal-content" ng-init="uploadDokCtrl.init()">
    <div class="modal-header">
        <h3 class="modal-title afta-font" id="myModalLabel">{{'UPLOAD_DOKUMEN' | translate}}</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-5 center-block" style="float: none!important;">
                    <div class="form-group">
                        <label>{{'TABLE.NAMA_DOKUMEN' | translate}}</label>
                        <input type="text" ng-model="uploadDokCtrl.datalempar.DocName" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 center-block" style="float: none!important;">
                    <div class="form-group">
                        <label class="control-label">
                            {{'FILE' | translate}}
                            <small> ( <span ng-repeat="ft in uploadDokCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{uploadDokCtrl.idUploadConfigs[0].Size}} {{uploadDokCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                            {{uploadDokCtrl.datalempar.DocUrl ? '**' : ''}}
                        </label>
                        <input type="file" class="form-control" ng-file-select="uploadDokCtrl.selectUpload(fileUpload)"
                               ng-model="fileUpload" required accept="{{uploadDokCtrl.idFileTypes}}" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 center-block" style="float: none!important;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    {{'DOC_TYPE' | translate}}
                                </label>
                                <br />
                                <select id="cmbStatus" name="cmbStatus" ng-model="uploadDokCtrl.datalempar.DocType" class="form-control"
                                        ng-options="item as item.Value for item in uploadDokCtrl.docTypes">
                                    <option value="" selected disabled>
                                        {{'DOC_TYPE' | translate}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="uploadDokCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-close"></i> </button>
             <button type="button" class="btn btn-success" ng-click="uploadDokCtrl.save()" title="{{'SIMPAN' | translate}}"><i class="fa fa-save"></i> </button>
        </div>
    </form>
</div>