﻿<div id="modalUtama" class="modal-content" ng-init="detailEvaluasiPrakualModal.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailEvaluasiPrakualModal.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar{{''|translate}}</span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'UBAH_KRITERIA_METODE_EVALUASI'|translate}}</h3>
        <h4 class="afta-font">{{detailEvaluasiPrakualModal.nama}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 center-block" style="float: none!important;">
                <div class="table table-responsive" id="tableUbahDtl">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="center-vertical" style="width: 30px; min-width: 30px; vertical-align: middle;">
                                    <input ng-disabled="kri.IsReadOnly" type="checkbox" ng-model="detailEvaluasiPrakualModal.allChecked" ng-change="detailEvaluasiPrakualModal.onCheckAll()" />
                                </th>
                                <th class="center-vertical">{{'TABLE.KRITERIA_EVALUASI'|translate}}</th>
                                <th class="center-vertical" style="width: 60px; min-width: 60px;" ng-if="detailEvaluasiPrakualModal.show === true">{{'TABLE.BOBOT'|translate}} (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="kri.CriteriaName === 'Leadtime' && detailEvaluasiPrakualModal.evaluationMethodTypeName === 'TYPE_VHS'" ng-show="detailEvaluasiPrakualModal.hasChild" ng-repeat="kri in detailEvaluasiPrakualModal.kriteria">
                                <td class="text-center" style="vertical-align: middle;">
                                    <input ng-disabled="kri.IsReadOnly" type="checkbox" ng-model="kri.checked" ng-change="detailEvaluasiPrakualModal.onCheck()"/>
                                </td>
                                <td style="vertical-align: middle;">
                                    {{kri.CriteriaName}}
                                </td>
                                <td class="center-vertical" ng-if="detailEvaluasiPrakualModal.show === true">
                                    <span>
                                        <input ng-show="kri.checked === true" type="number" min="0" max="100" ng-model="kri.Weight" />
                                    </span>
                                </td>
                            </tr>
                            <tr ng-show="detailEvaluasiPrakualModal.hasChild === false">
                                <td colspan="3">{{'NO_SUB'|translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="detailEvaluasiPrakualModal.cancel()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button ng-show="detailEvaluasiPrakualModal.hasChild === true" ng-click="detailEvaluasiPrakualModal.simpan()" type="button" class="btn btn-flat btn-success" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>


