﻿<div class="modal-content" ng-init="FormCommitteeTemplateCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="FormCommitteeTemplateCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'TEMP.TITLE'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <form ng-submit="FormCommitteeTemplateCtrl.onSearchSubmit(FormCommitteeTemplateCtrl.srcText)" role="form" method="post">
                            <div class="input-group pull-right" style="padding-bottom: 15px; width: 100%;">
                                <input type="text" class="form-control" placeholder="{{'SEARCH_TEMPLATE'|translate}}" ng-model="FormCommitteeTemplateCtrl.srcText">
                                <span class="input-group-btn">
                                    <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary"><i class="fa fa-search"></i>&nbsp; {{'CARI'|translate}}</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 5px; min-width: 5px;">No.</th>
                                        <th class="text-center" style="width: 150px; min-width: 150px;">{{'TEMP.TYPE'|translate}}</th>
                                        <th class="text-center" style="width: 150px; min-width: 150px;">{{'TEMP.COMMITTEE'|translate}}</th>
                                        <th class="text-center" style="width: 80px; min-width: 80px; vertical-align: middle;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="temp in FormCommitteeTemplateCtrl.detailEmployee">
                                        <td style="vertical-align: middle;">{{FormCommitteeTemplateCtrl.currentPage > 1 ? (FormCommitteeTemplateCtrl.fullSize * (FormCommitteeTemplateCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td style="vertical-align: middle;">{{temp.ContractRequisitionName}}</td>
                                        <td style="vertical-align: middle;">
                                            <ul>
                                                <li ng-repeat="det in temp.list">{{det.position.PositionName}} : {{det.employee.FullName + ' ' + det.employee.SurName}}</li>
                                            </ul>
                                        </td>
                                        <td class="text-center" style="vertical-align: middle;">
                                            <a class="btn btn-flat btn-sm btn-success" ng-click="FormCommitteeTemplateCtrl.pilihTemplate(temp)" title="{{'BTN.SELECT'|translate}}"><i class="fa fa-check-circle"></i>&nbsp;</a>
                                        </td>
                                    </tr>
                                    <tr ng-if="FormCommitteeTemplateCtrl.detailEmployee.length === 0">
                                        <td colspan="4"> {{'NO_DATA'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <ul uib-pagination boundary-links="true" max-size="10" total-items="FormCommitteeTemplateCtrl.totalItems" ng-model="FormCommitteeTemplateCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="FormCommitteeTemplateCtrl.jLoad(FormCommitteeTemplateCtrl.currentPage)"></ul>
                        <br />
                        <label>{{'Total Data'|translate}} : {{FormCommitteeTemplateCtrl.totalItems}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="FormCommitteeTemplateCtrl.cancel()"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK'|translate}}</button>
        <!--<button type="button" class="btn btn-flat btn-success" data-dismiss="modal"><i class="fa fa-reply"></i>&nbsp;Simpan</button>-->
    </div>
</div>