<!--<section class="content" ng-init="respmxctrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> beranda</a></li>
        <li><a>proses pengadaan</a></li>
        <li><a class="active">susunan contract engineer</a></li>
        <li><a class="active">detail contract requisition</a></li>
        <li><a class="active">{{'resp_matrix' | translate}}</a></li>
    </ol>
    <div class="container">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center afta-font">{{'resp_matrix' | translate}}</h3>
                        <h4 class="text-center afta-font">{{respmxctrl.projecttitle}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 afta-font">
                        <div class="form-control-static pull-right">
                            s = <strong>{{'table.supply' | translate}}</strong> &nbsp;&nbsp;&nbsp;
                            i = <strong>{{'table.install' | translate}}</strong> &nbsp;&nbsp;&nbsp;
                            m = <strong>{{'table.maintain' | translate}}</strong> &nbsp;&nbsp;&nbsp;
                            o = <strong>{{'table.owner' | translate}}</strong> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="table table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="70" class="center-vertical" rowspan="2">{{'table.item' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'table.deskripsi' | translate}}</th>
                                            <th class="center-vertical" colspan="4">{{'table.contractor' | translate}}</th>
                                            <th class="center-vertical" colspan="4">{{'table.company' | translate}}</th>
                                            <th width="350" class="center-vertical" rowspan="2">{{'table.comments' | translate}}</th>
                                            <th ng-if="!respmxctrl.istenderverification" rowspan="2"></th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">s</th>
                                            <th class="text-center">i</th>
                                            <th class="text-center">m</th>
                                            <th class="text-center">o</th>
                                            <th class="text-center">s</th>
                                            <th class="text-center">i</th>
                                            <th class="text-center">m</th>
                                            <th class="text-center">o</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="rm in respmxctrl.respmatrix">
                                        <tr style="background-color:#f5f5f0;">
                                            <td class="center-vertical">{{$index + 1}}</td>
                                            <td colspan="10">{{rm.description}}</td>
                                            <td ng-if="!respmxctrl.istenderverification" class="center-vertical">
                                            </td>
                                        </tr>
                                        <tr ng-repeat="rmc in rm.children">
                                            <td class="center-vertical">{{$parent.$index + 1}}.{{$index + 1}}</td>
                                            <td class="text-left middle-vertical">{{rmc.description}}</td>
                                            <td class="center-vertical">
                                                <input ng-if="!respmxctrl.istenderverification" type="checkbox" ng-model="rmc.iscontractors"/>
                                                <i ng-if="respmxctrl.istenderverification && rmc.iscontractors" class="fa fa-check-circle"/>
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-if="!respmxctrl.istenderverification" type="checkbox" ng-model="rmc.iscontractori"/>
                                                <i ng-if="respmxctrl.istenderverification && rmc.iscontractori" class="fa fa-check-circle" />
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-if="!respmxctrl.istenderverification" type="checkbox" ng-model="rmc.iscontractorm"/>
                                                <i ng-if="respmxctrl.istenderverification && rmc.iscontractorm" class="fa fa-check-circle" />
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-if="!respmxctrl.istenderverification" type="checkbox" ng-model="rmc.iscontractoro"/>
                                                <i ng-if="respmxctrl.istenderverification && rmc.iscontractoro" class="fa fa-check-circle" />
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-if="!respmxctrl.istenderverification" type="checkbox" ng-model="rmc.iscompanys"/>
                                                <i ng-if="respmxctrl.istenderverification && rmc.iscompanys" class="fa fa-check-circle" />
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-if="!respmxctrl.istenderverification" type="checkbox" ng-model="rmc.iscompanyi"/>
                                                <i ng-if="respmxctrl.istenderverification && rmc.iscompanyi" class="fa fa-check-circle" />
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-if="!respmxctrl.istenderverification" type="checkbox" ng-model="rmc.iscompanym"/>
                                                <i ng-if="respmxctrl.istenderverification && rmc.iscompanym" class="fa fa-check-circle" />
                                            </td>
                                            <td class="center-vertical">
                                                <input ng-if="!respmxctrl.istenderverification" type="checkbox" ng-model="rmc.iscompanyo"/>
                                                <i ng-if="respmxctrl.istenderverification && rmc.iscompanyo" class="fa fa-check-circle" />
                                            </td>
                                            <td ng-if="!respmxctrl.istenderverification" class="center-vertical">
                                                <input type="text" ng-model="rmc.comment" class="form-control input-sm"/>
                                            </td>
                                            <td ng-if="respmxctrl.istenderverification" class="text-left">
                                                {{rmc.comment}}
                                            </td>
                                            <td ng-if="!respmxctrl.istenderverification" class="center-vertical">
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-if="respmxctrl.respmatrix.length === 0">
                                        <tr>
                                            <td colspan="12">{{'tidak_ada_data' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button ng-click="respmxctrl.back()" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> {{'kembali' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->