<div ng-init="UploadDokCtrl.init()">
	<ol class="breadcrumb" style="margin-top: 20px;">
		<li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.OTHER_DOCS'|translate}}</a></li>
	</ol>
	<div class="row">
		<div class="row">
			<div class="col-md-8 center-block" style="float: none!important;" ng-if="">
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<span><strong>Peringatan ! </strong> Anda belum melengkapi data profil perusahaan! Mohon segera dilengkapi untuk persyaratan verifikasi</span>
				</div>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="box-body">
           
			<div class="row">
				<div class="col-md-12">
					<h3 class="afta-font text-center">{{'TITLE_DOC'|translate}}</h3>
				</div>
			</div>
            <div class="row" ng-if="UploadDokCtrl.revisiVendor">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable text-center">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF_DLU' | translate}} <strong> {{UploadDokCtrl.revisiName}}</strong> {{'MESSAGE.NOTIF_TIDAK_VALID' | translate}} <button class="btn btn-xs btn-warning" ng-click="UploadDokCtrl.revisiVendorDetail()" title="{{'DETAIL' | translate}}"><i class="fa fa-eye"></i> {{'DETAIL' | translate}}</button>
                    </div>
                </div>
            </div>
			<div class="col-md-12" style="margin-top:10px;margin-bottom:20px">
				<div class="center-vertical">
					<!--<button type="button" class="btn btn-flat btn-primary" ng-if="UploadDokCtrl.IsApprovedCR===true" ng-click="UploadDokCtrl.tambah()" title="Tambah Data">-->
                    <!--ng-hide="UploadDokCtrl.vendorReviewData != null && !UploadDokCtrl.revisiVendor"-->
					<button type="button" class="btn btn-flat btn-success"  ng-click="UploadDokCtrl.tambah(0)">
						<i class='fa fa-plus'></i>&nbsp; {{'BTN.INSERT'|translate}}
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center">{{'TABLE.NO'|translate}}</th>
									<th class="text-center">{{'TABLE.DOC_NAME'|translate}}</th>
									<th class="text-center" style="width: 300px; min-width: 300px; vertical-align: middle;">{{'TABLE.DOC_NUMBER'|translate}}</th>
									<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.VALID_UNTIL'|translate}}</th>
									<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
								</tr>
							</thead>
							<tbody>
                                <tr ng-if="UploadDokCtrl.isStructureUploaded==false">
                                    <td class="text-center" style="vertical-align: middle;">1</td>
                                    <td style="vertical-align: middle;">{{'Struktur Organisasi'|translate}}</td>
                                    <td style="vertical-align: middle;" class="text-center"></td>
                                    <td style="vertical-align: middle;" class="text-center"></td>
                                    <td style="vertical-align: middle;" class="text-center">
                                        <!--<a ng-if="UploadDokCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-warning" ng-click="UploadDokCtrl.view(dok)" title="Lihat"><i class="fa fa-file-o"></i></a>
                                        <a ng-if="UploadDokCtrl.IsApprovedCR===true" ng-click="UploadDokCtrl.edit(dok)" class="btn btn-flat btn-sm btn-primary" title="ubah"><i class="fa fa-edit"></i></a>
                                        <a ng-if="UploadDokCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-danger" ng-click="UploadDokCtrl.remove(dok)" title="hapus"><i class="fa fa-trash-o"></i></a>-->
                                        <button ng-click="UploadDokCtrl.tambah(1)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UPDATE'|translate}}"><i class="fa fa-edit"></i></button>

                                        <!--jika ada perubahan data-->
                                        <!-- a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-primary" ng-click="pengPerCtrl.editCP(obj)" title="{{'UBAH'|translate}}"><i class="fa fa-edit"></i></!--a>
                                        <a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-danger" ng-click="pengPerCtrl.deleteCP(obj)" title="{{'HAPUS'|translate}}"><i class="fa fa-trash-o"></i></a-->
                                    </td>
                                </tr>
								<tr ng-repeat="dok in UploadDokCtrl.document">
									<td ng-if="UploadDokCtrl.isStructureUploaded==true" style="vertical-align: middle;" class="text-center">{{UploadDokCtrl.currentPage > 1 ? (UploadDokCtrl.maxSize * (UploadDokCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td ng-if="UploadDokCtrl.isStructureUploaded==false" style="vertical-align: middle;" class="text-center">{{UploadDokCtrl.currentPage > 1 ? (UploadDokCtrl.maxSize * (UploadDokCtrl.currentPage - 1)) + ($index+1) + 1 : ($index+1) + 1}}</td>
									<td>{{dok.DocumentName ? dok.DocumentName: '-'}}</td>
									<td class="text-center" style="vertical-align: middle;">{{dok.DocumentNo ? dok.DocumentNo: '-'}}</td>
									<td class="text-center" style="vertical-align: middle;">{{dok.ValidDateConverted ? dok.ValidDateConverted: '-'}}</td>
									<td class="text-center">
										<!--<a ng-if="UploadDokCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-warning" ng-click="UploadDokCtrl.view(dok)" title="Lihat"><i class="fa fa-file-o"></i></a>
										<a ng-if="UploadDokCtrl.IsApprovedCR===true" ng-click="UploadDokCtrl.edit(dok)" class="btn btn-flat btn-sm btn-primary" title="ubah"><i class="fa fa-edit"></i></a>
										<a ng-if="UploadDokCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-danger" ng-click="UploadDokCtrl.remove(dok)" title="hapus"><i class="fa fa-trash-o"></i></a>-->
										<button class="btn btn-flat btn-sm btn-warning" ng-click="UploadDokCtrl.view(dok)" title="{{'BTN.VIEW'|translate}}"><i class="fa fa-external-link"></i></button>
										<button ng-click="UploadDokCtrl.edit(dok)" ng-if="(UploadDokCtrl.vendorCategoryID == 32 && dok.DocumentName != 'SPDA') || UploadDokCtrl.vendorCategoryID == 33" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UPDATE'|translate}}"><i class="fa fa-pencil"></i></button>
										<button class="btn btn-flat btn-sm btn-danger" ng-if="(UploadDokCtrl.vendorCategoryID == 32 && dok.DocumentName != 'SPDA') || UploadDokCtrl.vendorCategoryID == 33" ng-click="UploadDokCtrl.remove(dok)" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-trash"></i></button>

										<!--jika ada perubahan data-->
										<!-- a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-primary" ng-click="pengPerCtrl.editCP(obj)" title="{{'UBAH'|translate}}"><i class="fa fa-edit"></i></!--a>
										<a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-danger" ng-click="pengPerCtrl.deleteCP(obj)" title="{{'HAPUS'|translate}}"><i class="fa fa-trash-o"></i></a-->
									</td>
								</tr>
                                <tr ng-if="UploadDokCtrl.document.length === 0">
                                <td colspan="5">{{'NO_DATA'|translate}}</td></tr>
							</tbody>
						</table>
						<small><b></b> </small>
						

					</div>

				</div>
			</div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">

                    <!--biru--><button disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class="fa fa-plus"></i></button> <span style="margin-right: 10px;">: {{'BTN.INSERT'|translate}}</span>

                    <!--kuning--><button disabled style="background-color: #ecb42f; width: 35px; height:30px; border:none;"><i class="fa fa-external-link"></i></button> <span style="margin-right: 10px;">: {{'BTN.VIEW'|translate}}</span>

                    <!--biru--><button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-pencil"></i></button> <span style="margin-right: 10px;">: {{'BTN.UPDATE'|translate}}</span>

                    <!--merah--><button disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-trash-o"></i></button> <span style="margin-right: 10px;">: {{'BTN.DELETE'|translate}}</span>
                </div>
            </div>
		</div>
	</div>
</div>
