﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewUploadCtrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'FORM.DETAILTITLE' | translate}}</h3>
    </div>
    <div class="modal-body" ng-init="init()">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>{{'FORM.DOCUMENTNAME' | translate}}</dt>
                            <dd>{{viewUploadCtrl.item.DocumentName}}</dd>
                            <dt>{{'FORM.DOCNO' | translate}}</dt>
                            <dd>{{viewUploadCtrl.item.DocumentNo}}</dd>
                            <dt>{{'FORM.EXPIREDDATE' | translate}}</dt>
                            <dd>{{viewUploadCtrl.ValidDateConverted}}</dd>
                            <dt>{{'FORM.DOCUMENT' | translate}}</dt>
                            <dd>
                                <a ng-if="viewUploadCtrl.VendorCategoryID == 33" href="{{viewUploadCtrl.folderFile + viewUploadCtrl.item.DocumentUrl}}" target="BLANK" class="label label-sm label-info" title="Download">
                                    <i class="fa fa-download"></i>&nbsp;{{'DOWNLOAD_DOC' | translate}}
                                </a>
                                <a ng-if="viewUploadCtrl.VendorCategoryID == 32" ng-click="viewUploadCtrl.downloadFileCivd(viewUploadCtrl.item.DocumentUrl,viewUploadCtrl.item.DocumentName)" class="label label-sm label-info" title="Download">
                                    <i class="fa fa-download"></i>&nbsp;{{'DOWNLOAD_DOC' | translate}}
                                </a>
                            </dd>
                        </dl>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="viewUploadCtrl.close()"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK' | translate}}</button>
    </div>
</div>