﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="DetailContactAdministrasiCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailContactAdministrasiCtrl.cancel()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL_ADM.TITLE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{'DETAIL_ADM.NAME' | translate}} *</label>
                            <input type="text" class="form-control" ng-model="DetailContactAdministrasiCtrl.Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{'DETAIL_ADM.EMAIL' | translate}}</label>
                            <input type="text" class="form-control" ng-model="DetailContactAdministrasiCtrl.Email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{'DETAIL_ADM.TELP' | translate}}</label>
                            <input type="text" class="form-control" ng-model="DetailContactAdministrasiCtrl.Telp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="DetailContactAdministrasiCtrl.cancel()" title="{{'BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="DetailContactAdministrasiCtrl.savedata()" title="{{'SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>