﻿<div id="idTambahDepartemen" class="modal-content" ng-init="DetailGoodsAwardCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailGoodsAwardCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'BREADCRUMB.UBAH_DATA' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8" style="float: none!important;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 col-md-4 control-label">{{'NO_PO' | translate}}</label>
                        <div class="col-sm-6 col-md-6">
                            <input type="text" ng-model="DetailGoodsAwardCtrl.NoPO" class="form-control" placeholder="No. PO">
                        </div>
                        <label class="col-sm-4 col-md-4 control-label">{{'PO_DATE' | translate}}</label>
                        <div class="col-md-8">
                            <div class="input-group date form_datetime">
                                <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="DetailGoodsAwardCtrl.isCalendarOpened[0]" ng-model="DetailGoodsAwardCtrl.PODate" ng-click="DetailGoodsAwardCtrl.openCalendar(0)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="DetailGoodsAwardCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="DetailGoodsAwardCtrl.batal()" title="{{'BTN.CANCEL' | translate}}">
            <i class="fa fa-reply"></i> 
        </button>
        <button type="button" class="btn btn-flat btn-success" ng-click="DetailGoodsAwardCtrl.simpan()" title="{{'BTN.SAVE' | translate}}">
            <i class="fa fa-save"></i> 
        </button>
    </div>
</div>
