﻿<section ng-init="GoodsAwardAppCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#/home-admin">{{'BREADCRUMB.HOME' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.GOODSAWARD' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.GOODSAWARD' | translate}}</h3>
						</div>
					</div>
					<div class="row">
						<form method="post" role="form" ng-submit="GoodsAwardAppCtrl.pencarian()">
							<div class="col-md-1">
								<label class="form-control" style="border:none">Filter: </label>
							</div>
							<div class="col-md-3">
								<select id="cmbStatus" name="cmbStatus" ng-model="GoodsAwardAppCtrl.Status" class="form-control" ng-options="item.Value as item.Name | translate for item  in GoodsAwardAppCtrl.listDropdown">
									<option value="" selected disabled>
										-- {{'SEARCH' | translate}} --
									</option>
								</select>
							</div>
							<div class="col-md-3" ng-if="GoodsAwardAppCtrl.Status == 1 ||GoodsAwardAppCtrl.Status == 2 ">
								<input type="text" ng-model="GoodsAwardAppCtrl.Keyword" class="form-control">
							</div>
							<div class="col-xs-1">
								<div class="input-group">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-flat btn-primary" ng-click="GoodsAwardAppCtrl.jLoad(1)">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="input-group">
									<select ng-model="GoodsAwardAppCtrl.StatusApprv" class="form-control" ng-change="GoodsAwardAppCtrl.show()" ng-options="item.Value as item.Name | translate for item  in GoodsAwardAppCtrl.listDropdownStatus">
										<option value="" selected disabled>
											-- {{'SEARCH_STATUS' | translate}} --
										</option>
									</select>
								</div>
							</div>

						</form>
					</div>

					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">{{'TABLE.NO'| translate}}</th>
											<th class="text-center">{{'TABLE.TENDERCODE' | translate}}</th>
											<th class="text-center" style="width:5%">{{'TENDER.TENDERNAME' | translate}}</th>
											<th class="text-center">{{'TABLE.VENDORNAME'| translate}}</th>
											<th class="text-center">{{'TABLE.TOTAL_NEGO' | translate }}</th>
											<th class="text-center">{{'TABLE.GOODSSENTDATE'| translate}}</th>
											<th class="text-center">{{'TABLE.TAXCODE'| translate}}</th>
											<th class="text-center">{{'TABLE.STORAGELOCATION'| translate}}</th>
											<th class="text-center">{{'TABLE.REMARK'| translate}}</th>
											<th class="text-center">{{'TABLE.STATUS'| translate}}</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="GoodsAwardAppCtrl.count !== 0" ng-repeat="eval in GoodsAwardAppCtrl.detail">
											<td class="center-vertical">{{GoodsAwardAppCtrl.currentPage > 1 ? (GoodsAwardAppCtrl.maxSize * (GoodsAwardAppCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td class="center-vertical">{{eval.TenderCode}}</td>
											<td class="center-vertical" style="width:5%">{{eval.TenderName}}</td>
											<td style="vertical-align: middle;">{{eval.VendorName}}</td>
											<td class="center-vertical">{{eval.VendorCurency}} {{eval.TotalNego | currency: ""+ labelcurr +" "}}</td>
											<td class="center-vertical">
												{{eval.PODate | date :"dd-MM-yyyy"}}
											</td>

											<td class="center-vertical">
												{{eval.selectTaxCode.Code}} | {{eval.selectTaxCode.Description}}
											</td>
											<td class="center-vertical">
												{{eval.selectStorageLocation.Code}} | {{eval.selectStorageLocation.Description}}
											</td>
											<td class="center-vertical">{{eval.RemarkCancel}}</td>
											<td class="center-vertical" ng-if="eval.ApprovalStatus === 1">{{'STATUS.APPROVED' | translate}}</td>
											<td class="center-vertical" ng-if="eval.ApprovalStatus === 0">{{'STATUS.REJECT' | translate}}</td>
											<td class="center-vertical" ng-if="eval.ApprovalStatus === null"></td>
											<td class="text-center">
												<button title="{{'BTN.APPROVE' | translate}}" ng-if="eval.ApprovalStatus == null " class="btn btn-flat btn-primary" ng-click="GoodsAwardAppCtrl.detailApproval(1, eval)">
													<i class="fa fa-check"></i>
												</button>
												<button ng-if="eval.ID !== 0 && PPGVHSCtrl.flagSave === true " type="button" class="btn btn-flat btn-warning" ng-click="GoodsAwardAppCtrl.edit(eval)" title="{{'BTN.UPLOAD' | translate}}">
													<i class="fa fa-upload" aria-hidden="true"></i>
												</button>
												<a ng-if="eval.ID !== 0 && eval.DocumentUrl != null" target="_blank" type="button" class="btn btn-flat btn-success" title="{{'BTN.DOWNLOAD' | translate}}" href="{{PPGVHSCtrl.folderFile+eval.DocumentUrl}}">
													<i class="fa fa-download" aria-hidden="true"></i>
												</a>
												<button class="btn btn-flat btn-success" title="{{'BTN.DETAIL_APPROVAL' | translate}}" ng-click="GoodsAwardAppCtrl.detailApproval(2, eval)">
													<i class="fa fa-sitemap"></i>
												</button>
												<button class="btn btn-flat btn-default" title="Standard Award Report" ng-click="GoodsAwardAppCtrl.awardReport(eval.TenderStepID,eval.ProcPackType,eval.VendorID)">
													<i class="fa fa-file-o"></i>
												</button>
												<a ng-click="GoodsAwardAppCtrl.GotoTenderInfo(eval)" class="btn btn-flat btn-warning" title="{{'BTN.TENDER_INFO'|translate}}"><i class="fa fa-search"></i></a>
											</td>
										</tr>
										<tr ng-if="GoodsAwardAppCtrl.count === 0">
											<td colspan=11> {{'NODATA'| translate}} </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-10"></div>
						<div class="col-md-2 text-right">
							<button ng-if="GoodsAwardAppCtrl.flagSave === true && GoodsAwardAppCtrl.detail[0].flagApprove === true" type="button" class="btn btn-flat btn-primary" ng-click="GoodsAwardAppCtrl.simpan()" title="{{'BTN.SAVE' | translate}}">
								<i class="fa fa-floppy-o" aria-hidden="true"></i> {{'BTN.SAVE' | translate}}
							</button>

						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<ul uib-pagination total-items="GoodsAwardAppCtrl.totalItems" max-size="10"
								ng-model="GoodsAwardAppCtrl.currentPage" items-per-page="GoodsAwardAppCtrl.maxSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="GoodsAwardAppCtrl.jLoad(GoodsAwardAppCtrl.currentPage)"></ul>
						</div>
						<div class="col-md-10">
							<label>{{'TOTAL_DATA' | translate}} : {{GoodsAwardAppCtrl.totalItems}}</label>
						</div>
					</div>

					<div ng-hide="true" class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div id="tableToExport" class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">Identifier</th>
											<th class="text-center">Vendor</th>
											<th class="text-center">Order Type</th>
											<th class="text-center">Purch. Organization</th>
											<th class="text-center">Purchasing Group</th>
											<th class="text-center">Plant</th>
											<th class="text-center">Storage Location</th>
											<th class="text-center">Payment Terms</th>
											<th class="text-center">Currency</th>
											<th class="text-center">Incoterms1</th>
											<th class="text-center">Incoterms2</th>
											<th class="text-center">Quotation Date</th>
											<th class="text-center">Quotation</th>
											<th class="text-center">Your Reference</th>
											<th class="text-center">Our Reference</th>
											<th class="text-center">Sarbox</th>
											<th class="text-center">Purchase Requisition</th>
											<th class="text-center">Item</th>
											<th class="text-center">Order Quantity</th>
											<th class="text-center">Net Price</th>
											<th class="text-center">per</th>
											<th class="text-center">Unit</th>
											<th class="text-center">Delivery Date</th>
											<th class="text-center">Tax code</th>
											<th class="text-center">Concession Category</th>
											<th class="text-center">Harmonized Code</th>
											<th class="text-center">Pl. Deliv. Time</th>
											<th class="text-center">Header Text</th>
											<th class="text-center">Item Text</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in GoodsAwardAppCtrl.vendor">
											<td class="text-center">{{eval.RFQGoodsCode}}</td>
											<td class="text-center">{{eval.VendorCode}}</td>
											<td class="text-center">NB</td>
											<td class="text-center">{{eval.itemPR.PurchasingOrg}}</td>
											<td class="text-center">{{eval.itemPR.PurchGroup}}</td>
											<td class="text-center">{{eval.itemPR.Plant}}</td>
											<td class="text-center">{{eval.StorageLocation}}</td>
											<td class="text-center">{{eval.PaymentTerm}}</td>
											<td class="text-center">{{eval.Curency}}</td>
											<td class="text-center">{{eval.Incoterms1}}</td>
											<td class="text-center">{{eval.Incoterms2}}</td>
											<td class="text-center">{{eval.QuotationDate}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">11</td>
											<td class="text-center">{{eval.itemPR.PurchaseReq}}</td>
											<td class="text-center">{{eval.RequisnItem}}</td>
											<td class="text-center">{{eval.OrderQuantity}}</td>
											<td class="text-center">{{eval.NetPrice}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.itemPR.UnitMeasure}}</td>
											<td class="text-center">{{eval.DeliveryDate}}</td>
											<td class="text-center">{{eval.TaxCode}}</td>
											<td class="text-center">{{eval.ConcessionCategory}}</td>
											<td class="text-center">{{eval.HarmonizedCode}}</td>
											<td class="text-center">{{eval.PlDelivTime}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
