﻿<section class="content" ng-init="detVerKDCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{detVerKDCtrl.IDTender}}/{{detVerKDCtrl.ProcPackType}}/{{detVerKDCtrl.step.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/verifikasi-dokumen-vhs/{{detVerKDCtrl.IDTender}}/{{detVerKDCtrl.step.ID}}/{{detVerKDCtrl.ProcPackType}}" class="active">
                {{'TITLE'|translate}}
            </a>
        </li>
        <li><a class="active">{{'TITLE2'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center"> {{'TITLE2' | translate}}</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>{{'VENDOR' | translate}}{{detVerKDCtrl.data[0].VHSOfferEntry.vhs.VendorName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>{{'TENDER' | translate}}{{detVerKDCtrl.step.tender.TenderName}}</label>
                        </div>
                        <div class="col-md-12" ng-if="detVerKDCtrl.step.tender.IsCancelled">
                            <label class="text-red"><i>({{'KET_BATAL'|translate}})</i></label>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label ng-if="detVerKDCtrl.data[0].VerifiedDocVH.IsStatus == true">{{'HASIL' | translate}} {{'LOLOS' | translate}}</label>
                                <label ng-if="detVerKDCtrl.data[0].VerifiedDocVH.IsStatus == false">{{'HASIL' | translate}} {{'TIDAK_LOLOS' | translate}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_NO2' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_PERSYARATAN' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_TGL_MASUK' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_TGL_VER' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_STATUS' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_CHECK_LIST' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_KET' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_SCORE' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_KET' | translate}}</th>
                                                <th class="text-center" style="text-align: center;">{{'TABLE2.COL_ACTION' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="td in detVerKDCtrl.data">
                                                <td class="text-center">{{$index + 1}}</td>
                                                <td class="text-center">{{td.VHSOfferEntry.DocName |translate}}</td>
                                                <td class="text-center">{{td.VHSOfferEntry.VHSDate| date: "dd-MM-yyyy"}}</td>
                                                <td class="text-center">{{detVerKDCtrl.data[0].VerifiedDocVH.VerifiedDate| date: "dd-MM-yyyy"}}</td>
                                                <td class="text-center" ng-if="td.IsValid == true">{{'PASS' | translate }}</td>
                                                <td class="text-center" ng-if="td.IsValid == false">{{'FAIL' | translate }}</td>
                                                <td class="text-center" ng-if="td.IsValid == null"></td>
                                                <td class="text-center"> 
                                                    <input ng-disabled="detVerKDCtrl.step.tender.IsCancelled || td.VHSOEId == 0" type="checkbox" ng-model="td.Checklist" ng-change="detVerKDCtrl.CheckCriteria(td)" />
                                                    
                                                </td>
                                                <td class="text-center">
                                                    <select ng-disabled="detVerKDCtrl.step.tender.IsCancelled" ng-if="td.IsNeedScoring && td.Checklist" class="form-control input-sm" ng-model="td.Option" ng-change="detVerKDCtrl.CheckCriteriaOption($index, td, td.Option)"
                                                            ng-options="item as item.OptionName | translate for item in td.listOption">
                                                        <option value="" selected disabled>
                                                            -- {{'TABLE2.COL_KET'|translate}} --
                                                        </option>
                                                    </select>
                                                </td>
                                                <td class="text-center">
                                                    <input ng-if="td.IsNeedScoring && td.Checklist" ng-disabled="td.IsFix === true || detVerKDCtrl.step.tender.IsCancelled" type="number" class="form-control input-sm" title="Max value {{td.Option.MaxScore}}" ng-blur="detVerKDCtrl.Check1(td)" ng-model="td.Score" style="text-align: right; width: 100px;" />
                                                </td>
                                                <td class="text-center">
                                                    <input ng-readonly="detVerKDCtrl.step.tender.IsCancelled" type="text" ng-model="td.Remark" class="form-control input-sm"/>
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn btn-sm btn-primary" ng-click="detVerKDCtrl.uploadDetBC(td.VHSOfferEntry.vhs.VendorID, td.VHSOfferEntry.TenderDocTypeID)" ng-if="td.VHSOfferEntry.TenderDocTypeID === 14 || td.VHSOfferEntry.TenderDocTypeID === 18 || td.VHSOfferEntry.TenderDocTypeID === 20 || td.VHSOfferEntry.TenderDocTypeID === 13 || td.VHSOfferEntry.TenderDocTypeID === 15 || td.VHSOfferEntry.TenderDocTypeID === 16 || td.VHSOfferEntry.TenderDocTypeID === 19 || td.VHSOfferEntry.TenderDocTypeID === 17" title="{{'DETAIL_FILE' | translate}}"><i class="fa fa-edit"></i></button>
                                                    
                                                    <a ng-if="(td.VHSOfferEntry.TenderDocTypeID === 10|| td.VHSOfferEntry.TenderDocTypeID === 11 || td.VHSOfferEntry.TenderDocTypeID === 12) && td.VHSOfferEntry.DocumentUrl !== null " href="{{detVerKDCtrl.folderFile+td.VHSOfferEntry.DocumentUrl}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="{{'DOWNLOAD_FILE' | translate}}">
                                                        <i class='fa fa-download'></i>&nbsp;
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button ng-disabled="detVerKDCtrl.step.tender.IsCancelled" class="btn btn-sm btn-primary" ng-click="detVerKDCtrl.Insert()" title="{{'SIMPAN' | translate}}"><i class="fa fa-save"></i></button>
                            <button class="btn btn-sm btn-danger" ng-click="detVerKDCtrl.kembali()" title="{{'KEMBALI' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
