﻿<div class="modal-content" ng-init="crAppCfgMCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close" ng-click="crAppCfgMCtrl.batal()"><span aria-hidden="true" title="{{'CLOSE'|translate}}">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{crAppCfgMCtrl.action|translate}} {{'CR_APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">{{'NAMA_BUGDETING'|translate}} <span style="color:red">*</span></label>
                    <input class="form-control input-sm" ng-model="crAppCfgMCtrl.Cfg.BudgetName"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Approval</label>
                <div class="table table-responsive">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" style="min-width: 100px; width: 100px;">Approval</th>
                                <th class="text-center">{{'POSITION' | translate}}</th>
                                <th class="text-center">{{'EMPLOYEE' | translate}}</th>
                                <th class="text-center" style="min-width: 100px; width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><b>L1</b></td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalL1Pos">{{crAppCfgMCtrl.Cfg.ApprovalL1Pos}} - {{crAppCfgMCtrl.Cfg.ApprovalL1PosName}}</td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalL1Pos">{{crAppCfgMCtrl.Cfg.ApprovalL1EmployeeID}} - {{crAppCfgMCtrl.Cfg.ApprovalL1EmployeeName}}</td>
                                <td ng-if="!crAppCfgMCtrl.Cfg.ApprovalL1Pos" colspan="2">{{"ATASAN_REQUESTOR" | translate}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <a class="btn btn-flat btn-xs btn-primary" title="{{'UBAH' | translate}}" ng-click="crAppCfgMCtrl.openPosOrEmployeeSelect('L1')"><i class="fa fa-pencil"></i></a>
                                    <a ng-if="crAppCfgMCtrl.Cfg.ApprovalL1Pos" class="btn btn-flat btn-xs btn-danger" title="{{'HAPUS' | translate}}" ng-click="crAppCfgMCtrl.clearApprovalPosition('L1')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <!--
                            <tr>
                                <td class="text-center"><b>L2</b></td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalL2Pos">{{crAppCfgMCtrl.Cfg.ApprovalL2Pos}} - {{crAppCfgMCtrl.Cfg.ApprovalL2PosName}}</td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalL2Pos">{{crAppCfgMCtrl.Cfg.ApprovalL2EmployeeID}} - {{crAppCfgMCtrl.Cfg.ApprovalL2EmployeeName}}</td>
                                <td ng-if="!crAppCfgMCtrl.Cfg.ApprovalL2Pos" colspan="2">{{"ATASAN_SEBELUM" | translate}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <a class="btn btn-flat btn-xs btn-primary" title="{{'UBAH' | translate}}" ng-click="crAppCfgMCtrl.openPosOrEmployeeSelect('L2')"><i class="fa fa-pencil"></i></a>
                                    <a ng-if="crAppCfgMCtrl.Cfg.ApprovalL2Pos" class="btn btn-flat btn-xs btn-danger" title="{{'HAPUS' | translate}}" ng-click="crAppCfgMCtrl.clearApprovalPosition('L2')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center"><b>L3</b></td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalL3Pos">{{crAppCfgMCtrl.Cfg.ApprovalL3Pos}} - {{crAppCfgMCtrl.Cfg.ApprovalL3PosName}}</td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalL3Pos">{{crAppCfgMCtrl.Cfg.ApprovalL3EmployeeID}} - {{crAppCfgMCtrl.Cfg.ApprovalL3EmployeeName}}</td>
                                <td ng-if="!crAppCfgMCtrl.Cfg.ApprovalL3Pos" colspan="2">{{"ATASAN_SEBELUM" | translate}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <a class="btn btn-flat btn-xs btn-primary" title="{{'UBAH' | translate}}" ng-click="crAppCfgMCtrl.openPosOrEmployeeSelect('L3')"><i class="fa fa-pencil"></i></a>
                                    <a ng-if="crAppCfgMCtrl.Cfg.ApprovalL3Pos" class="btn btn-flat btn-xs btn-danger" title="{{'HAPUS' | translate}}" ng-click="crAppCfgMCtrl.clearApprovalPosition('L3')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center"><b>L4</b></td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalL4Pos">{{crAppCfgMCtrl.Cfg.ApprovalL4Pos}} - {{crAppCfgMCtrl.Cfg.ApprovalL4PosName}}</td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalL4Pos">{{crAppCfgMCtrl.Cfg.ApprovalL4EmployeeID}} - {{crAppCfgMCtrl.Cfg.ApprovalL4EmployeeName}}</td>
                                <td ng-if="!crAppCfgMCtrl.Cfg.ApprovalL4Pos" colspan="2">{{"ATASAN_SEBELUM" | translate}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <a class="btn btn-flat btn-xs btn-primary" title="{{'UBAH' | translate}}" ng-click="crAppCfgMCtrl.openPosOrEmployeeSelect('L4')"><i class="fa fa-pencil"></i></a>
                                    <a ng-if="crAppCfgMCtrl.Cfg.ApprovalL4Pos" class="btn btn-flat btn-xs btn-danger" title="{{'HAPUS' | translate}}" ng-click="crAppCfgMCtrl.clearApprovalPosition('L4')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            -->
                            <tr>
                                <td class="text-center"><b>Finance *</b></td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalFinancePos">{{crAppCfgMCtrl.Cfg.ApprovalFinancePos}} - {{crAppCfgMCtrl.Cfg.ApprovalFinancePosName}}</td>
                                <td ng-if="crAppCfgMCtrl.Cfg.ApprovalFinancePos">{{crAppCfgMCtrl.Cfg.ApprovalFinanceEmployeeID}} - {{crAppCfgMCtrl.Cfg.ApprovalFinanceEmployeeName}}</td>
                                <td ng-if="!crAppCfgMCtrl.Cfg.ApprovalFinancePos" colspan="2" class="text-red">{{"BELUM_DIPILIH" | translate}}</td>
                                <td class="text-center" style="vertical-align: middle;">
                                    <a class="btn btn-flat btn-xs btn-primary" title="{{'UBAH' | translate}}" ng-click="crAppCfgMCtrl.openPosOrEmployeeSelect('Finance')"><i class="fa fa-pencil"></i></a>
                                    <a ng-if="crAppCfgMCtrl.Cfg.ApprovalFinancePos" class="btn btn-flat btn-xs btn-danger" title="{{'HAPUS' | translate}}" ng-click="crAppCfgMCtrl.clearApprovalPosition('Finance')"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" ng-click="crAppCfgMCtrl.batal()" class="btn btn-flat btn-default" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i> </button>
                <button type="button" ng-click="crAppCfgMCtrl.simpan()" class="btn btn-flat btn-primary" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>
            </div>
        </div> 
    </div>
</div>