<section class="content" ng-init="crAppCfgCtrl.init()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.MASTER' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.CR_APPROVAL' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box">
				<!--notife flow-->
				<div class="box-header">
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-8">
							<h3 class="afta-font judul-datatabel">{{'CR_APPROVAL' | translate}}</h3>
						</div>
						<div class="col-md-4">
							<form method="post" role="form" ng-submit="crAppCfgCtrl.searchData()">
								<div class="input-group">
									<input type="text" class="form-control input-sm" placeholder="{{'CARI_NAMA_BUDGETING' | translate}}..." ng-model="crAppCfgCtrl.txtSearch">
									<span class="input-group-btn">
										<button ng-click="crAppCfgCtrl.searchData()" type="button" name="search" id="search-btn" class="btn btn-sm btn-flat btn-primary" title="{{'CARI' | translate}}">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
						</div>
					</div>
					<div class="row" style="padding-bottom:10px;">
						<div class="col-md-12">
							<div class="pull-right">
								<button type="button" class="btn btn-flat btn-success turun-15" ng-click="crAppCfgCtrl.forminput()" title="{{'TAMBAH' | translate}}">
									<i class='fa fa-plus-circle'></i>&nbsp;{{'TAMBAH'|translate}}
								</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" style="min-width: 50px; width: 50px;">{{'NO' | translate}}</th>
											<th class="text-center">Approval</th>
                                            <th class="text-center">{{'APPROVAL_TYPE' | translate}}</th>
											<th class="text-center" style="min-width: 150px; width: 150px;"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="as in crAppCfgCtrl.listAllData">
											<td class="text-center">{{(crAppCfgCtrl.maxSize * (crAppCfgCtrl.currentPage - 1)) + $index + 1}}</td>
											<td>
                                                <label ng-if="as.BudgetTypeID">{{as.BudgetTypeCode}}</label>
                                                <label ng-if="!as.BudgetTypeID">Approval Pendaftaran Vendor</label></td>
                                            <td>
                                                <label ng-if="as.BudgetTypeID">Contract Requisition</label>
                                                <label ng-if="!as.BudgetTypeID">Pendaftaran Vendor</label>
                                            </td>
											<td class="text-center" style="vertical-align: middle;">
												<a class="btn btn-flat btn-xs btn-primary" title="{{'UBAH' | translate}}" ng-click="crAppCfgCtrl.forminput(as)"><i class="fa fa-pencil"></i></a>
												<a class="btn btn-flat btn-xs btn-danger" title="{{'HAPUS' | translate}}" ng-click="crAppCfgCtrl.remove(as)"><i class="fa fa-trash"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<ul uib-pagination boundary-links="true" total-items="crAppCfgCtrl.totalItems" ng-model="crAppCfgCtrl.currentPage" max-size="10"
								class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
								ng-change="crAppCfgCtrl.jLoad(crAppCfgCtrl.currentPage)"></ul>
							<br />
							<label>{{'TOTAL_DATA' | translate}} : {{crAppCfgCtrl.totalItems}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>