﻿<div class="modal-content" ng-init="FormCommEmpCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="FormCommEmpCtrl.batal()">
			<span aria-hidden="true">&times;</span>
			<span ng-click="FormCommEmpCtrl.batal()" class="sr-only">{{'CLOSE'|translate}}</span>
		</button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'SELECT_EMP' | translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-7 col-sm-8 col-xs-12 center-block" style="float: none!important;">
						<form ng-submit="FormCommEmpCtrl.onSearchSubmit(searchText)" role="form" method="post">
							<div class="form-group">
								<div class="row">
									<div class="col-md-10">
										<input ng-model="searchText" class="form-control" placeholder="{{'SEARCH_EMP_NAME'|translate}}" />
									</div>
									<div class="col-md-2">
										<button type="submit" name="search" id="search-btn" class="btn btn-flat btn-default"><i class="fa fa-search"></i>&nbsp;{{'SEARCH'|translate}}</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">No.</th>
										<th class="text-center">{{'EMP_NAME'|translate}}</th>
										<th class="text-center">{{'POSITION'|translate}}</th>
										<th class="text-center">{{'LEVEL_INFO'|translate}}</th>
										<th class="text-center">Email</th>
										<th class="text-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="pgw in FormCommEmpCtrl.detailEmployee">
										<td class="text-center" style="vertical-align: middle;">{{FormCommEmpCtrl.currentPage > 1 ? (FormCommEmpCtrl.pageSize * (FormCommEmpCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
										<td style="vertical-align: middle;">{{pgw.FullName}}</td>
										<td style="vertical-align: middle;">{{pgw.PositionName}}</td>
										<td style="vertical-align: middle;">{{pgw.LevelInfo}}</td>
										<td style="vertical-align: middle;" ng-if="pgw.Email !== 'NULL'">{{pgw.Email}}</td>
										<td style="vertical-align: middle;" ng-if="pgw.Email === 'NULL'"></td>
										<td style="vertical-align: middle;">
											<a class="btn btn-flat btn-sm btn-success" ng-click="FormCommEmpCtrl.pegawai(pgw)" title="{{'SELECT'|translate}}"><i class="fa fa-check-circle"></i>&nbsp; </a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<ul max-size="10" uib-pagination boundary-links="true" total-items="FormCommEmpCtrl.totalItems" ng-model="FormCommEmpCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="FormCommEmpCtrl.jLoad(FormCommEmpCtrl.currentPage)"></ul>
						<br />
						<label>{{'TOTAL_DATA' | translate}} : {{FormCommEmpCtrl.totalItems}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-danger" ng-click="FormCommEmpCtrl.batal()"><i class="fa fa-reply"></i>&nbsp;{{'BATAL'|translate}}</button>
		<!--<button type="button" class="btn btn-flat btn-success" data-dismiss="modal"><i class="fa fa-reply"></i>&nbsp;Simpan</button>-->
	</div>
</div>