﻿<div class="modal-content" ng-init="selPosOrEmpCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="selPosOrEmpCtrl.onBatalClick()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
		<h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'MODAL.PILIH_PEGAWAI'|translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
            <div class="col-md-12" style="margin-bottom:20px;" ng-if="selPosOrEmpCtrl.item.ID == 0 && selPosOrEmpCtrl.item.dataPendaftaranVendor == 0">
                <!--<div class="form-group">-->
                <label class="radio-inline">
                    <input type="radio" name="optradio" ng-change="selPosOrEmpCtrl.ubahTipe(selPosOrEmpCtrl.crOrPendaftaran)" checked="{{selPosOrEmpCtrl.checked}}" ng-model="selPosOrEmpCtrl.crOrPendaftaran" value="0"><span style="font-size: 15px;">Contract Requisiton</span>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" ng-change="selPosOrEmpCtrl.ubahTipe(selPosOrEmpCtrl.crOrPendaftaran)" ng-model="selPosOrEmpCtrl.crOrPendaftaran" value="1"><span style="font-size: 15px;">Pendaftaran Vendor</span>
                </label>
                <!--</div>-->
            </div>
			<div class="col-md-12" style="float:none!important" ng-if="selPosOrEmpCtrl.crOrPendaftaran == '0'">
				<div class="form-group">
					<div class="col-md-2">{{'BUDGET_TYPE' | translate}}</div>
					<div class="col-md-8">
						<select required class="form-control input-sm" ng-model="selPosOrEmpCtrl.BudgetTypeID" ng-options="item.ID as item.Code for item in selPosOrEmpCtrl.listBudgetType"></select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="float:none!important">
				<div class="form-group">
					<div class="col-md-2">{{'EMPLOYEE_NAME' | translate}}</div>
					<div class="col-md-8">
						<input class="form-control input-sm" type="text" ng-model="selPosOrEmpCtrl.datapegawai.FullName" disabled>
					</div>
					<div class="col-md-2">
						<button class="btn btn-primary btn-flat form-control" ng-click="selPosOrEmpCtrl.tambah()">
							<i class="fa fa-edit"></i> {{'SELECT_EMP'|translate}}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-md-12" align="center">
					<button ng-click="selPosOrEmpCtrl.addEmployee()" class="btn btn-flat btn-sm btn-primary text-center">
						<i class="fa fa-plus-circle"></i>&nbsp;{{'ADD_COMM'|translate}}
					</button>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="table table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center">No</th>
									<th class="text-center">{{'EMP_NAME' | translate}}</th>
									<th class="text-center">{{'POSITION' | translate}}</th>
									<th class="text-center">{{'LEVEL_INFO' | translate}}</th>
									<th width="10" class="text-center" ng-if="CommitteeModalCtrl.flagEmp !== 0" ng-show="!CommitteeModalCtrl.isReadOnly">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="dt in selPosOrEmpCtrl.detail">
									<td ng-if="dt.IsActive === true" class="text-center">{{$index+1}}</td>
									<td ng-if="dt.IsActive === true">{{dt.EmployeeName}}</td>
									<td ng-if="dt.IsActive === true" class="text-center">{{dt.EmployeePosition}}</td>
									<td ng-if="dt.IsActive === true" class="text-center">{{dt.LevelInfo}}</td>
									<td ng-if="dt.IsActive === true" class="text-center">
										<button ng-click="selPosOrEmpCtrl.deleteRow(dt, $index + 1)" class="btn btn-xs btn-danger">
											<i class="fa fa-times"></i>
										</button>
									</td>
								</tr>
								<tr ng-if="selPosOrEmpCtrl.detail.length == 0">
									<td colspan="5"> {{'NO_DATA'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-click="selPosOrEmpCtrl.onBatalClick()" type="button" class="btn btn-flat btn-danger" title="{{'BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
		<button ng-click="selPosOrEmpCtrl.onSaveClick()" type="button" class="btn btn-flat btn-success" title="{{'SAVE' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
	</div>
</div>