﻿<style>
    .dl-horizontal dd {
        margin-left: 250px;
        padding-bottom: 5px;
    }

    .dl-horizontal dt {
        width: 250px;
    }
</style>
<section class="content" style="overflow: visible;" ng-init="DPVCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/paketlelang/viewtahapan/{{paket_lelang_id}}">{{'BREADCRUMB.STAGES_DETAIL'|translate}}</a></li>
        <li ng-if="!(online === 0)"><a href="#/tender/negosiasi-vhs-chat-vendor/:TenderRefID/:StepID/:ProcPackType">{{'BREADCRUMB.NEGOTIATION_FORUM.GOODS'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.OFFER_DETAIL'|translate}}</a></li>
    </ol>
    <div class="container-fluid">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'TITLE.OFFER_DETAIL'|translate}}</h3>
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'TENDER_NAME'|translate}}: {{DPVCtrl.nego[0].tender.tender.TenderName}}</h3>
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'VENDOR_NAME'|translate}}: {{DPVCtrl.nego[0].VendorName}}</h3>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <pagination total-items="DPVCtrl.totalItems" page="DPVCtrl.currentPage" items-per-page="10" ng-show="DPVCtrl.totalItems > 10"
                                        max-size="DPVCtrl.maxSize" on-select-page="DPVCtrl.jLoad(page)"></pagination>
                        </div>
                        <form role="form" name="formAdd">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center center-vertical" ng-if="DPVCtrl.nego[0].flagAlternative == true" colspan="6"></th>
                                                        <th class="text-center center-vertical" ng-if="DPVCtrl.nego[0].flagAlternative == false" colspan="5"></th>
                                                        <th class="text-center center-vertical" colspan="2">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical" colspan="2">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical" colspan="1"></th></tr>
                                                    <tr>
                                                        <th class="text-center center-vertical" width="20px">No.</th>
                                                        <th class="text-center center-vertical">Material</th>
                                                        <th class="text-center center-vertical">Part Number</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.DESC_ITEM'|translate}}</th>
                                                        <th class="text-center center-vertical" ng-if="DPVCtrl.nego[0].flagAlternative == true">Alternative</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.VOLUME'|translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PROCENTAGE'|translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="DPVCtrl.nego[0].GOEId !== 0" ng-repeat="dpv in DPVCtrl.nego">
                                                        <td class="middle-vertical">{{$index+1}}</td>
                                                        <td class="middle-vertical">{{dpv.Material}}</td>
                                                        <td class="middle-vertical">{{dpv.PartNumber}}</td>
                                                        <td class="middle-vertical">
                                                            {{dpv.ShortText}} {{dpv.ItemText}} {{dpv.MaterialPOText}} {{dpv.HeaderNote}} {{dpv.ItemNote}} {{dpv.DeliveryText}} {{dpv.NoteForBuyer}}
                                                        </td>
                                                        <td ng-if="DPVCtrl.nego[0].flagAlternative == true" class="text-center center-vertical">
                                                            {{dpv.Alternative}}
                                                        </td>
                                                        <td class="text-center center-vertical">
                                                            {{dpv.Quantity}}
                                                        </td>
                                                        <td class="text-right middle-vertical">
                                                            {{dpv.UnitPriceGOE | currency:""+ dp.Currency +" "}}
                                                        </td>
                                                        <td class="text-right middle-vertical">{{dpv.TotalPriceGOE | currency:""+ dp.Currency +" "}}</td>
                                                        <td class="text-center center-vertical">
                                                            <input ng-disabled="DPVCtrl.IsOvertime === false || dpv.IsActive == false" currency-mask type="text" ng-model="dpv.UnitPrice" />
                                                        </td>
                                                        <td class="text-right middle-vertical">
                                                            {{dpv.TotalPrice | currency:""+ dp.Currency +" "}}
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="form-group has-feedback" style="max-width:90px;">
                                                                <input ng-disabled="DPVCtrl.IsOvertime === false || dpv.IsActive == false" type="text" ng-model="dpv.Procentage" class="form-control" style="width:90px"/><span class="form-control-feedback">%</span>
                                                                <!--<input type="text" number-masking="number-masking" ng-model="DPVHSVCtrl.Procentage" style="max-width: 60px; text-align: center;" /><span class="form-control-feedback">%</span>-->
                                                                <a ng-if="DPVCtrl.IsOvertime === true && dpv.IsActive == true" ng-click="DPVCtrl.per_item($index)" class="btn btn-xs btn-flat btn-primary input-group-addon" style="margin-left: 20px;" title="Generate"><i class="fa fa-spinner"></i></a>
                                                            </div>
                                                        </td>
                                                        <input type="hidden" ng-model="dpv.IsOpen" />
                                                    </tr>
                                                    <tr ng-if="DPVCtrl.nego.length == 1 && DPVCtrl.nego[0].GOEId === 0"><td colspan="8">{{'TABLE.GOODS_OFFERDETAIL.NO_ITEM'|translate}}</td></tr>
                                                </tbody>
                                                <tfoot ng-if="DPVCtrl.nego[0].GOEId !== 0">
                                                    <tr>
                                                        <td ng-if="DPVCtrl.nego[0].flagAlternative == true" colspan="4"></td>
                                                        <td ng-if="DPVCtrl.nego[0].flagAlternative == false" colspan="3"></td>
                                                        <td class="text-right middle-vertical"><strong>{{'TABLE.GOODS_OFFERDETAIL.SUB_TOTAL'|translate}} : </strong></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="text-right middiddle-vertical"><strong>{{DPVCtrl.cost| currency: ""+ labelcurr +" "}} </strong></td>
                                                        <td></td>
                                                        <td class="text-right middle-vertical"><strong>{{DPVCtrl.totalNego | currency: ""+ labelcurr +" "}} </strong></td>
                                                        <td class="text-right middle-vertical"></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                       
                                        <!--<label>{{'TOTAL_DATA' | translate}} : {{DPVCtrl.totalItems}}</label>-->
                                    </div>
                                    <div class="col-md-12" ng-if="DPVCtrl.generet !== false">
                                        <dl class="dl-horizontal" style="margin-bottom: 0px;">
                                            <dt class="text-right"> {{'TABLE.GOODS_OFFERDETAIL.NEGO_PROCENTAGE'|translate}} {{DPVCtrl.b}}</dt>
                                            <dd>
                                                : &nbsp;
                                                    <input ng-disabled="DPVCtrl.IsOvertime === false || DPVCtrl.nego[0].IsActive == false" type="text" ng-model="DPVCtrl.Procentage1" style="max-width: 40px; text-align: center;" /> %
                                                    <span><a ng-if="DPVCtrl.IsOvertime === true && DPVCtrl.nego[0].IsActive == true" ng-click="DPVCtrl.editp()" class="btn btn-xs btn-flat btn-primary" style="margin-left: 20px;" title="Generate"><i class="fa fa-spinner"></i>&nbsp;</a></span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="pull-right text-right" style="padding-top: 15px;">
                                            <a class="btn btn-sm btn-flat btn-default" ng-click="DPVCtrl.back()" title="{{'BTN.BACK'|translate}}"><i class="fa fa-reply"></i>&nbsp;</a>
                                            &nbsp;
                                            <span>
                                                <button ng-if="DPVCtrl.IsOvertime === true && DPVCtrl.nego[0].GOEId !== 0 && DPVCtrl.nego[0].IsActive == true" ng-click="DPVCtrl.save()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.SAVE'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>