﻿<div ng-init="selBFCommCtrl.init()" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="selBFCommCtrl.close()" title="{{'CLOSE' | translate}}">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only"></span>
        </button>
    </div>
    <div class="modal-body">
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align:middle">{{'NO' | translate}}</th>
                            <th ng-if="selBFCommCtrl.selectedVendorSpec === 'BY_BF'" class="text-center" style="vertical-align:middle">{{'BF_NAME' | translate}}</th>
                            <th ng-if="selBFCommCtrl.selectedVendorSpec === 'BY_COMM'" class="text-center" style="vertical-align:middle">{{'COMM_NAME' | translate}}</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in selBFCommCtrl.pagedItems">
                            <td class="center-vertical">{{(selBFCommCtrl.maxSize * (selBFCommCtrl.currentPage - 1)) + $index + 1}}</td>
                            <td style="vertical-align: middle;">{{item.Name}}</td>
                            <td ng-if="selBFCommCtrl.flagRole !== 1" style="width:50px;vertical-align: middle;">
                                <input ng-model="item.selected" type="checkbox" class="form-control"/>
                            </td>
                            <td style="vertical-align: middle;" ng-if="selBFCommCtrl.flagRole === 1"><i class="fa fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">       
                <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="selBFCommCtrl.items.length" ng-model="selBFCommCtrl.currentPage"
                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-change="selBFCommCtrl.loadPage(selBFCommCtrl.currentPage)" max-size="10"></ul>
                <br />
                <label>Total data : {{selBFCommCtrl.items.length}}</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-flat btn-primary" type="button" ng-click="selBFCommCtrl.close()" title="{{'CLOSE' | translate}}">
                <i class="fa fa-arrow-circle-left"></i>&nbsp;
            </button>
        </div>
    </div>
</div>
