﻿<section class="content" ng-init="fileUploadConfigCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.FILE_UPLOAD_CONFIG' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float:none!important">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<div class="col-md-5">
							<h3 class="judul-datatabel afta-font">{{'FILE_UPLOAD_CONFIG' | translate}}</h3>
						</div>
						<div class="col-md-3">
							<select id="cmbFilter" name="cmbFilter" ng-model="fileUploadConfigCtrl.filterBy" class="form-control" ng-options="item.Value as item.Name | translate for item in fileUploadConfigCtrl.listFilter">
								<option value="" selected disabled>-- Search by --</option>
							</select>
						</div>
						<div class="col-md-4">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{{'FIND' | translate}}" ng-model="fileUploadConfigCtrl.srchText" />
								<span class="input-group-btn">
									<button ng-click="fileUploadConfigCtrl.show()" type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical">No.</th>
											<th class="center-vertical">Side</th>
											<th class="center-vertical">Page</th>
											<th class="center-vertical">Max Size</th>
											<th class="center-vertical">File Type</th>
											<th class="center-vertical">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="configs in fileUploadConfigCtrl.configs">
											<td class="center-vertical">{{fileUploadConfigCtrl.currPage > 1 ? (fileUploadConfigCtrl.maxSize * (fileUploadConfigCtrl.currPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{config.ActivityName}}</td>
											<td style="vertical-align: middle;">{{config.CreatedBy}}</td>
											<td style="vertical-align: middle;">{{config.Timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
											<td class="center-vertical">
												<a ng-click="fileUploadConfigCtrl.view(log)" class="btn btn-flat btn-sm btn-primary" title="View">
													<i class='fa fa-edit'></i>&nbsp;
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="accessLogCtrl.totalItems" ng-model="fileUploadConfigCtrl.currPage"
								class="pagination-sm" previous-text="&lsaquo;" max-number="10" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
								ng-change="fileUploadConfigCtrl.jLoad()" max-size="10"></ul>
							<br />
						</div>
					</div><br />
					<label>{{'TOTAL_DATA' | translate}} : {{accessLogCtrl.totalItems}}</label>
				</div>
			</div>
		</div>
	</div>
</section>