﻿<section ng-init="goodsTechEntryVendorCtrl.init()" class="content" style="overflow:visible;">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
		<li><a href="#/paketlelang/viewtahapan/{{paket_lelang_id}}">{{'BREADCRUMB.TENDERSTEPDET' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.GOODSTECHNICALENTRY' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12 center-block" style="float:none!important;">
			<div class="box box-success">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center afta-font">{{'FORM.TITLEGOODSTECHENTRY' | translate}}</h3>
						</div>
					</div>
					<div class="row" style="padding-top: 1px!important; padding-bottom: 0!important;">
						<div class="col-md-8">
							<label>{{'FORM.STARTDATE' | translate}} : {{goodsTechEntryVendorCtrl.goods[0].goods.StartDateTen}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'FORM.ENDDATE' | translate}} : {{goodsTechEntryVendorCtrl.goods[0].goods.EndDateTen}}</label>
						</div>
						<div class="col-md-8">
							<label>{{'FORM.TENDERNAME' | translate}} : {{goodsTechEntryVendorCtrl.goods[0].goods.TenderName}}</label>
						</div>
						<div class="col-md-4" ng-if="goodsTechEntryVendorCtrl.goods[0].goods.SubmitDateTechnical !== null">
							<label>{{'FORM.LASTSUBMITDATE' | translate}} : {{goodsTechEntryVendorCtrl.goods[0].goods.SubmitDateTechnical}}</label>
						</div>
					</div>
					<div class="margintop20 row">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label" ng-if="goodsTechEntryVendorCtrl.goods[0].goods.IsSubmitTechnical === null" style="color:red">{{'FORM.ALERTSUBMIT' | translate}}</label>
								<a ng-if="goodsTechEntryVendorCtrl.IsOvertime" class="btn btn-flat btn-primary pull-right" ng-click="goodsTechEntryVendorCtrl.Submit()">
									<i class="fa fa-send-o"></i>&nbsp;{{'FORM.SUBMIT_OFFER' | translate}}
								</a>
							</div>
						</div>
					</div>
					<div class="box box-success">
						<!--notife flow-->
						<div class="box-body">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.QUOTATIONNO' | translate}}</label><br />
												<input ng-disabled="!goodsTechEntryVendorCtrl.IsOvertime" type="text" class="form-control" ng-model="goodsTechEntryVendorCtrl.goods[0].goods.QuotationNo" />
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.QUOTATIONVALID' | translate}}</label><br />
												<input type="text" class="form-control" ng-disabled="true" ng-model="goodsTechEntryVendorCtrl.goods[0].goods.ExpiredDay" />
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.PAYMENTTERM' | translate}}</label>
												<select ng-disabled="!goodsTechEntryVendorCtrl.IsOvertime" class="form-control input-sm" ng-model="goodsTechEntryVendorCtrl.selectedPaymentTerm" ng-options="item as item.Name for item in goodsTechEntryVendorCtrl.listPaymentTerm"></select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.DELIVERYTERMS' | translate}}</label><br />
												<select disabled required class="form-control input-sm" ng-model="goodsTechEntryVendorCtrl.selectedDeliveryTender" ng-options="item as item.Value | translate for item in goodsTechEntryVendorCtrl.listDeliveryTender"></select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.INCOTERMS' | translate}}</label><br />
												<select ng-disabled="goodsTechEntryVendorCtrl.goods[0].goods.DeliveryTerms == 3087 || !goodsTechEntryVendorCtrl.IsOvertime" class="form-control input-sm" ng-model="goodsTechEntryVendorCtrl.selectedIncoTerms" ng-change="goodsTechEntryVendorCtrl.changeFreightDetai()" ng-options="item as item.Name for item in goodsTechEntryVendorCtrl.listIncoTerms">
													<option value="" selected disabled>
														-- Incoterms --
													</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.DELIVERYPOINT' | translate}}</label><br />
												<select ng-disabled="goodsTechEntryVendorCtrl.goods[0].goods.DeliveryTerms == 3087 || !goodsTechEntryVendorCtrl.IsOvertime" class="form-control input-sm" ng-model="goodsTechEntryVendorCtrl.selectedState" ng-options="item as item.Name for item in goodsTechEntryVendorCtrl.listFreight">
													<option value="" selected disabled>
														-- {{'FORM.DELIVERYPOINT' | translate}} --
													</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.TENDERTYPE' | translate}}</label>
												<select disabled required class="form-control input-sm" ng-model="goodsTechEntryVendorCtrl.selectedTypeTender" ng-options="item as item.Value for item in goodsTechEntryVendorCtrl.listTypeTender"></select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.TENDEROPTIONS' | translate}}</label>
												<select disabled class="form-control input-sm" ng-model="goodsTechEntryVendorCtrl.selectedOptionsTender" ng-options="item as item.Value for item in goodsTechEntryVendorCtrl.listOptionsTender"></select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.CURRENCY' | translate}}</label><br />
												<select ng-disabled="!goodsTechEntryVendorCtrl.IsOvertime" class="form-control input-sm" ng-model="goodsTechEntryVendorCtrl.selectedCurrencies" ng-change="PPBVCtrl.changeCurrent(PPBVCtrl.selectedCurrencies)" ng-options="item as item.MstCurrency.Symbol for item in goodsTechEntryVendorCtrl.listCurrencies">
													<option value="" selected disabled>
														-- Currency --
													</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label class="control-label">{{'FORM.SUBMISSIONLIMIT' | translate}}</label><br />
												<input type="text" class="form-control" disabled ng-model="goodsTechEntryVendorCtrl.goods[0].goods.MaxOE" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10 col-sm-12 col-xs-12 center-block" style="float: none!important;">
									<div class="row">
										<div class="col-md-12">
											<h4 class="text-center afta-font">{{'FORM.SUPPORTDOCS' | translate}}</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-4">
											<div class="form-group">
												<input ng-disabled="!goodsTechEntryVendorCtrl.IsOvertime" type="file" class="form-control" ng-file-select="goodsTechEntryVendorCtrl.selectUpload1(goodsTechEntryVendorCtrl.fileUpload1)" ng-model="goodsTechEntryVendorCtrl.fileUpload1" />
												<small> ( <span ng-repeat="ft in goodsTechEntryVendorCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{goodsTechEntryVendorCtrl.idUploadConfigs[0].Size}} {{goodsTechEntryVendorCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
											</div>
										</div>
										<div class="col-md-4"> <input type="text" class="form-control" placeholder="{{'DESCRIPTION' |translate}}" ng-model="goodsTechEntryVendorCtrl.Remark" ng-disabled="!goodsTechEntryVendorCtrl.IsOvertime" /></div>
										<div class="col-md-2">
											<div class="form-group">
												<button class="btn btn-sm btn-primary" ng-disabled="(goodsTechEntryVendorCtrl.fileUpload1 === undefined || goodsTechEntryVendorCtrl.Remark === undefined) || !goodsTechEntryVendorCtrl.IsOvertime" ng-click="goodsTechEntryVendorCtrl.addOtherDoc()">
													<i class="fa fa-plus"></i>
												</button> <!--ng-disabled="PPBVCtrl.fileUpload1 !== null ||-->
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-10 center-block" style="float: none!important;">
											<div class="table table-responsive" style="padding-bottom: 20px;">
												<table class="table table-bordered table-striped" id="table-rekanan">
													<thead>
														<tr>
															<th class="text-center">{{'TABLE.NO' | translate}}</th>
															<th class="text-center">{{'TABLE.FILENAME' | translate}}</th>
															<th class="text-center">{{'TABLE.REMARKS' | translate}}</th>
															<th class="text-center"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="tech in goodsTechEntryVendorCtrl.listOtherDoc">
															<td class="center-vertical">{{$index + 1}}</td>
															<td style="vertical-align: middle;">{{tech.fileUpload[0].name}}</td>
															<td class="center-vertical">{{tech.Remark}}</td>
															<td class="center-vertical">
																<a ng-if="tech.ID != undefined " class="btn btn-xs btn-primary" href="{{goodsTechEntryVendorCtrl.folderFile+tech.DocUrl}}" target="_BLANK" title="Download">
																	<i class="fa fa-download"></i>
																</a>
																<button class="btn btn-xs btn-danger" ng-if="goodsTechEntryVendorCtrl.IsOvertime" ng-click="goodsTechEntryVendorCtrl.deleteRow($index+1, tech)" title="{{'TABLE.REMOVE' | translate}}">
																	<i class="fa fa-trash"></i>
																</button>
															</td>
														</tr>
														<tr ng-if="goodsTechEntryVendorCtrl.listOtherDoc.length === 0">
															<td colspan="4"> {{'TABLE.NODATA' | translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 center-block" style="float: none!important;">
									<button ng-if="goodsTechEntryVendorCtrl.IsOvertime" ng-click="goodsTechEntryVendorCtrl.Simpan()" class="btn btn-flat btn-success center-block" title="Simpan">
										<i class="fa fa-save"></i>{{'BTN.SAVE' | translate}}
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="row" style="margin-top:20px;">
								<div class="col-md-12 center-block" style="float:none!important;">
									<div class="table table-responsive" style="padding-bottom: 20px;">
										<table class="table table-bordered table-striped" id="table-rekanan">
											<thead>
												<tr>
													<th class="text-center">{{'TABLE.NO' | translate}}</th>
													<th class="text-center">{{'TABLE.ITEMDETAIL' | translate}}</th>
													<th class="text-center" ng-if="goodsTechEntryVendorCtrl.TenderType === 4171">{{'TABLE.ALTERNATIVE' | translate}}</th>
													<th class="text-center">{{'TABLE.LEADTIME' | translate}}(Days)</th>
													<th class="text-center">{{'TABLE.QTY' | translate}}</th>
													<th class="text-center">{{'TABLE.UNIT' | translate}}</th>
													<th class="text-center">{{'TABLE.PRICEUNIT' | translate}}</th>
													<th class="text-center">{{'TABLE.TOTALPRICE' | translate}}</th>
													<th class="text-center">{{'TABLE.REMARKS' | translate}}</th>
													<th class="text-center">
														<label class="control-label">
															{{'TABLE.UPLOADFILE' | translate}}
															<small> ( <span ng-repeat="ft in goodsTechEntryVendorCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{goodsTechEntryVendorCtrl.idUploadConfigs[0].Size}} {{goodsTechEntryVendorCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
														</label>
													</th>
													<th class="text-center">{{'TABLE.ACTION' | translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="tech in goodsTechEntryVendorCtrl.goods">
													<td class="text-center">{{goodsTechEntryVendorCtrl.currentPage > 1 ? (goodsTechEntryVendorCtrl.maxSize * (goodsTechEntryVendorCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
													<td style="vertical-align: middle;">{{tech.item.ShortText}} {{tech.item.ItemText}} {{tech.item.MaterialPOText}} {{tech.item.HeaderNote}} {{tech.item.ItemNote}} {{tech.item.DeliveryText}} {{tech.item.NoteForBuyer}} {{tech.item.Manufacturer1}} {{tech.item.Manufacturer2}} {{tech.item.MPNMaterial}}</td>
													<td class="center-vertical" ng-if="goodsTechEntryVendorCtrl.TenderType === 4171">
														<input type="text" ng-disabled="true" ng-model="tech.Alternative" style="width: 160px;" />
													</td>
													<td class="center-vertical">
														<input currency-mask type="text" ng-model="tech.LeadTime" style="width: 80px;" ng-disabled="true" />
													</td>
													<td class="center-vertical" style="width: 30px;">{{tech.item.Quantity}}</td>
													<td class="center-vertical" style="width: 30px;">{{tech.item.UnitMeasure}}</td>
													<td class="center-vertical">
														<input currency-mask type="text" ng-model="tech.UnitPrice" ng-disabled="true" style="width: 100px;" />
													</td>
													<td class="center-vertical">{{tech.TotalPrice | currency: ""+ labelcurr +" "}}</td>
													<td class="center-vertical"><input type="text" ng-model="tech.Remark" ng-disabled="!goodsTechEntryVendorCtrl.IsOvertime" style="width: 120px;" /></td>
													<td class="center-vertical">
														<input type="file" class="form-control" ng-disabled="!goodsTechEntryVendorCtrl.IsOvertime" ng-file-select="goodsTechEntryVendorCtrl.selectUpload(tech)" ng-model="tech.fileUpload" name="ownerIDFile" style="width: 250px;" />
														<a ng-if="tech.DocUrl !== null" class="btn btn-xs btn-primary" href="{{goodsTechEntryVendorCtrl.folderFile+ tech.DocUrl}}" target="_BLANK">
															<i class="fa fa-download"></i>&nbsp;{{'TABLE.DOWNLOADFILE' | translate}}
														</a>
													</td>
													<td class="center-vertical">
														<a ng-if="goodsTechEntryVendorCtrl.IsOvertime && tech.ID === 0" class="btn btn-sm btn-success" ng-click="goodsTechEntryVendorCtrl.SimpanItem(tech)">
															<i class="fa fa-save"></i> {{'TABLE.SAVE' | translate}}
														</a>
														<a ng-if="goodsTechEntryVendorCtrl.IsOvertime && tech.ID !== 0" class="btn btn-sm btn-primary" ng-click="goodsTechEntryVendorCtrl.SimpanItem(tech)">
															<i class="fa fa-save"></i> {{'TABLE.SAVE' | translate}}
														</a>
														<a ng-if="goodsTechEntryVendorCtrl.IsOvertime && tech.ID !== 0" class="btn btn-sm btn-danger" ng-click="goodsTechEntryVendorCtrl.DeleteItem(tech)">
															<i class="fa fa-trash"></i>  {{'TABLE.DELETE' | translate}}
														</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<label class="control-label turun-15">{{'TABLE.TOTALDATA' | translate}} : {{goodsTechEntryVendorCtrl.totalItems}}</label>
								</div>
								<div class="col-md-10 pull-right">
									<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="goodsTechEntryVendorCtrl.totalItems" ng-model="goodsTechEntryVendorCtrl.currentPage"
										class="pagination-sm" previous-text="&lsaquo;" max-number="PPBVCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
										ng-change="goodsTechEntryVendorCtrl.jLoad(goodsTechEntryVendorCtrl.currentPage)" max-size="10"></ul>
								</div>
							</div>
							<div class="row pull-right">
								<div class="col-md-12 " style="float: none!important;">
									<button ng-click="goodsTechEntryVendorCtrl.batal()" class="btn btn-flat btn-primary" title="{{'BTN.BACK' | translate}}">
										<i class="fa fa-arrow-circle-left"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>