<div class="modal-content" ng-init="dEvaluatorCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="dEvaluatorCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'SKOR_PER_EVALUATOR'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'VENDOR'|translate}} : {{dEvaluatorCtrl.vendorName}}</label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.EVALUATOR' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.SKOR' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in dEvaluatorCtrl.evaluationScores">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.EvaluatorName}}</td>
                                        <td class="text-center" ng-if="dt.IsPassed">{{'LOLOS' | translate}}</td>
                                        <td class="text-center" ng-if="!dt.IsPassed">{{'TIDAK_LOLOS' | translate}}</td>
                                        <td class="text-center">{{dt.Score}}</td>
                                    </tr>
                                    <tr ng-if="dEvaluatorCtrl.evaluationScores.length === 0">
                                        <td colspan="5">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-sm btn-default" ng-click="dEvaluatorCtrl.cancel()" title="{{'TUTUP' | translate}}"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>
</div>