<div class="modal-content" ng-init="dDokumenCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="dDokumenCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DOKUMEN_PENAWARAN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'VENDOR'|translate}} : {{dDokumenCtrl.vendorName}}</label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.DOKUMEN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in dDokumenCtrl.documents">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.Filename}}</td>
                                        <td>{{dt.Remark}}</td>
                                        <td class="text-center">
                                            <a target="_blank" href="{{dDokumenCtrl.folderFile + dt.DocUrl.replace('#','%23')}}" class="btn btn-flat btn-xs btn-info"><i class="fa fa-download"></i>&nbsp;Download</a>
                                        </td>
                                    </tr>
                                    <tr ng-if="dDokumenCtrl.documents.length === 0">
                                        <td colspan="5">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-sm btn-default" ng-click="dDokumenCtrl.cancel()" title="{{'TUTUP' | translate}}"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>
</div>