<section class="content" ng-init="evalTBCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{evalTBCtrl.TenderRefID}}/{{evalTBCtrl.ProcPackType}}/{{evalTBCtrl.tenderStepData.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li><a class="active">{{evalTBCtrl.tenderStepData.step.TenderStepName|translate}}</a></li>
    </ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{evalTBCtrl.tenderStepData.step.TenderStepName|translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>{{'STARTDATE' | translate}}: {{evalTBCtrl.tenderStepData.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'ENDDATE'|translate}}: {{evalTBCtrl.tenderStepData.EndDate | date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-12">
							<label>{{'TENDER_NAME'|translate}}: {{evalTBCtrl.tenderStepData.tender.TenderName}}</label>
						</div>
                        <div class="col-md-12 text-red" ng-if="evalTBCtrl.tenderStepData.tender.IsCancelled">
                            <label><i>({{'KET_BATAL'|translate}})</i></label>
                        </div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center center-vertical" style="width:150px">{{'TABLE.NO'|translate}}</th>
											<th class="text-center center-vertical">{{'TABLE.VENDOR'|translate}}</th>
											<th class="text-center center-vertical" style="width:150px">Harga Kontrak</th>
											<th class="text-center center-vertical" style="width:150px">Status Perjanjian</th>
											<!-- <th class="text-center center-vertical" style="width:150px">Hasil Evaluasi Administrasi</th>
											<th class="text-center center-vertical" style="width:150px">Hasil Evaluasi Teknis</th>
											<th class="text-center center-vertical" style="width:150px">Hasil Evaluasi Harga</th>
											<th class="text-center center-vertical" style="width:150px">Hasil Evaluasi Due Diligence Questionnaire</th> -->
                                            <th class="text-center center-vertical" style="width:250px">Aksi</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in evalTBCtrl.evaluations">
											<td class="center-vertical">{{$index + 1}}</td>
											<td class="center-vertical text-left">{{eval.VendorName}}</td>
                                            <td class="center-vertical" ng-if="eval.IsPassed === true">Rp. 15000000</td>
                                            <td class="center-vertical" ng-if="eval.IsPassed !== true">Rp. 15000000</td>
											<!-- <td class="center-vertical"><i class='fa fa-check'></i></td>
											<td class="center-vertical"><i class='fa fa-check'></i></td>
											<td class="center-vertical"><i class='fa fa-check'></i></td>
											<td class="center-vertical"><i class='fa fa-check'></i></td> -->
											<td class="center-vertical">Draft</td>
                                            <td class="center-vertical">
												<!-- <button type="button" class="btn btn-flat btn-sm btn-info" ng-click="evalTBCtrl.detail(eval.VendorID)" title="{{'LAKUKAN_EVALUASI'|translate}}">
                                                    <i class='fa fa-envelope-o'></i>
												</button> -->
                                                <input type="radio" id="male" name="gender" value="male">
<label for="male">Ada</label><br>
<input type="radio" id="female" name="gender" value="female">
<label for="female">Tidak Ada</label><br>
												<button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="evalTBCtrl.detailEvaluator(eval)" title="{{'DETAIL_EVALUATOR'|translate}}">
                                                    <i class='fa fa-external-link'></i>
												</button>
												<button type="button" class="btn btn-flat btn-sm btn-default" ng-click="evalTBCtrl.detail(eval.VendorID)" title="{{'LAKUKAN_EVALUASI'|translate}}">
                                                    <i class='fa fa-paper-plane'></i>
												</button>
                                            </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="evalTBCtrl.kembali()">
								<i class='fa fa-paper-plane-o'></i>&nbsp; Kirim untuk Evaluator
							</button>
							<button type="button" class="btn btn-flat btn-sm btn-success" ng-click="evalTBCtrl.kembali()">
								<i class='fa fa-eye'></i>&nbsp; Lihat Approval
							</button>
							<button type="button" class="btn btn-flat btn-sm btn-primary" ng-click="evalTBCtrl.kembali()">
								<i class='fa fa-money'></i>&nbsp; Tentukan Kurs
							</button>
							<button ng-disabled="evalTBCtrl.tenderStepData.tender.IsCancelled" ng-if="evalTBCtrl.isNeedApproval" ng-click="evalTBCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="Send to Approval">
								<i class="fa fa-paste"></i>
							</button>
							<button ng-if="evalTBCtrl.isApprovalSent" ng-click="evalTBCtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="Detail Approval">
								<i class="fa fa-sitemap"></i>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="evalTBCtrl.kembali()">
									<i class='fa fa-arrow-left'></i>&nbsp; {{'KEMBALI'|translate}}
								</button>
                                <button type="button" title="{{'PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="evalTBCtrl.print()">
                                    <i class='fa fa-print'></i>&nbsp;
                                </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
