﻿<section class="content" ng-init="evaluasiTeknisBarangPrintCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/home">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{evaluasiTeknisBarangPrintCtrl.tenderStepData.step.TenderStepName|translate}}</a></li>
    </ol>
    <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" title="{{'PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="evaluasiTeknisBarangPrintCtrl.cetak()">
                                    <i class='fa fa-print'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                        <div id="print">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{evaluasiTeknisBarangPrintCtrl.tenderStepData.step.TenderStepName|translate}}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <label>{{'STARTDATE' | translate}}: {{evaluasiTeknisBarangPrintCtrl.tenderStepData.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label>{{'ENDDATE'|translate}}: {{evaluasiTeknisBarangPrintCtrl.tenderStepData.EndDate | date: "dd-MM-yyyy HH:mm"}}</label>
                                </div>
                                <div class="col-md-12">
                                    <label>{{'TENDER_NAME'|translate}}: {{evaluasiTeknisBarangPrintCtrl.tenderStepData.tender.TenderName}}</label>
                                </div>
                                <div class="col-md-12 text-red" ng-if="evaluasiTeknisBarangPrintCtrl.tenderStepData.tender.IsCancelled">
                                    <label><i>({{'KET_BATAL'|translate}})</i></label>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-md-12">
                                    <div class="table table-responsive" style="padding-bottom: 20px;">
                                        <table class="table table-bordered" id="table-rekanan">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="border:1px solid black;">{{'TABLE.NO'|translate}}</th>
                                                    <th class="text-center" style="border:1px solid black;">{{'TABLE.VENDOR'|translate}}</th>
                                                    <th class="text-center" style="border:1px solid black;">{{'TABLE.STATUS'|translate}}</th>
                                                    <th class="text-center" style="border:1px solid black;">{{'TABLE.SKOR'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="eval in evaluasiTeknisBarangPrintCtrl.evaluations">
                                                    <td class="center-vertical" style="border:1px solid black;">{{$index + 1}}</td>
                                                    <td class="center-vertical" style="border:1px solid black;">{{eval.VendorName}}</td>
                                                    <td class="center-vertical" ng-if="eval.IsPassed === true" style="border:1px solid black;">{{'LOLOS'|translate}}</td>
                                                    <td class="center-vertical" ng-if="eval.IsPassed !== true" style="border:1px solid black;">{{'TIDAK_LOLOS'|translate}}</td>
                                                    <td class="center-vertical" style="border:1px solid black;">{{eval.Score}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="evaluasiTeknisBarangPrintCtrl.kembali()">
                                        <i class='fa fa-arrow-left'></i>&nbsp; {{'KEMBALI'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</section>
