﻿<div class="modal-content" ng-init="ocMCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close" ng-click="ocMCtrl.batal()"><span aria-hidden="true" title="{{'CLOSE'|translate}}">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{ocMCtrl.action|translate}} {{'OTHER_COST'|translate}}</h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">{{'NAMA_BIAYA'|translate}} <span style="color:red">*</span></label>
                    <input class="form-control input-sm" ng-model="ocMCtrl.OtherCost.OtherCostName"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>{{'UNTUK_EVALUASI' | translate }} : <span style="color:red">*</span></label>&nbsp;(min. 1)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input ng-model="ocMCtrl.OtherCost.ForGoods" type="checkbox" />&nbsp;{{'BARANG' | translate}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input ng-model="ocMCtrl.OtherCost.ForVHS" type="checkbox" />&nbsp;VHS
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input ng-model="ocMCtrl.OtherCost.ForFPA" type="checkbox" />&nbsp;FPA
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" ng-click="ocMCtrl.batal()" class="btn btn-flat btn-default" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i> </button>
                <button type="button" ng-click="ocMCtrl.simpan()" class="btn btn-flat btn-primary" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>
            </div>
        </div> 
    </div>
</div>