﻿<div id="idBuatSubPekerjaan" class="modal-content" ng-init="formKepemilikanSahamCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formKepemilikanSahamCtrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'PEMILIK_SAHAM'|translate}}</h3>
    </div>
    <div class="modal-body">
        <form name="formKepemilikanSahamCtrl.stockForm">
            <div class="row">
                <div class="col-md-4">
                    <label>{{'FORM.TIPE_PEMILIK_SHM'| translate }}</label>
                    <select name="stockOption" required class="form-control marginBottom-1" style="margin-bottom:0px !important;" ng-model="formKepemilikanSahamCtrl.stock.stockTypeID"
                            ng-options="item.RefID as item.Value | translate for item in formKepemilikanSahamCtrl.stockOption" ng-change="formKepemilikanSahamCtrl.labelChange()">
                        <option value="" selected disabled class="text-center">--{{"FORM.TIPE_PEMILIK_SHM" | translate}}--</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !formKepemilikanSahamCtrl.stockForm.OwnerName.$valid && !formKepemilikanSahamCtrl.stockForm.OwnerName.$pristine}">
                        <label>{{'FORM.NM_PEMILIK_SHM'| translate }}</label>
                        <input class="form-control" placeholder="{{formKepemilikanSahamCtrl.nama | translate}}" type="text" ng-model="formKepemilikanSahamCtrl.stock.OwnerName" name="OwnerName" required />   
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !formKepemilikanSahamCtrl.stockForm.OwnerDOB.$valid && !formKepemilikanSahamCtrl.stockForm.OwnerDOB.$pristine}">
                        <label>{{'FORM.TGL_LAHIR_SHM'| translate }}</label>
                        <div class="input-group date form_datetime">
                            <input class="form-control" size="16" placeholder="{{formKepemilikanSahamCtrl.tgl | translate}}" type="text" uib-datepicker-popup="yyyy-MM-dd" close-text="TUTUP" 
                                   is-open="formKepemilikanSahamCtrl.isDobCalendarOpened" ng-model="formKepemilikanSahamCtrl.stock.OwnerDOBDate" ng-click="formKepemilikanSahamCtrl.openDobCalendar()" 
                                   ng-change="formKepemilikanSahamCtrl.validateAge(formKepemilikanSahamCtrl.stock.OwnerDOBDate)" readonly name="OwnerDOB" style="background-color:#ffffff !important;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="formKepemilikanSahamCtrl.openDobCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !formKepemilikanSahamCtrl.stockForm.OwnerID.$valid && !formKepemilikanSahamCtrl.stockForm.OwnerID.$pristine}">
                        <label>{{'FORM.NO_KTP'| translate }}</label>
                        <input class="form-control" placeholder="{{formKepemilikanSahamCtrl.identitas | translate}}" type="text" ng-model="formKepemilikanSahamCtrl.stock.OwnerID" name="OwnerID" required />                
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>{{'FORM.KET_FILE'| translate }}
                            <small>
                                ( <span ng-repeat="ft in formKepemilikanSahamCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
                                <span> / Max. {{formKepemilikanSahamCtrl.idUploadConfigs[0].Size}} {{formKepemilikanSahamCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                            </small></label>
                        <input ng-file-select="formKepemilikanSahamCtrl.stockOwnerIDSelected()" class="form-control  marginBottom-1" type="file"
                               ng-model="formKepemilikanSahamCtrl.file" name="ownerIDFile" accept="{{formKepemilikanSahamCtrl.idFileTypes}}" />
                        <span ng-if="formKepemilikanSahamCtrl.stock.stockTypeID == 4309">
                            <i class="font10">
                                {{'FORM.KET_FILE_PERSONAL' | translate}} <small> ( <span ng-repeat="ft in formKepemilikanSahamCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{formKepemilikanSahamCtrl.idUploadConfigs[0].Size}} {{formKepemilikanSahamCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                                <a ng-if="formKepemilikanSahamCtrl.stock.OwnerURL !== undefined" target="_blank" ng-href="{{formKepemilikanSahamCtrl.folderFile + '/' + formKepemilikanSahamCtrl.stock.OwnerURL}}" class="btn btn-flat btn-xs btn-primary" style="cursor: pointer;"><i class="fa fa-download">Download File</i></a> </small>
                            </i>
                        </span>
                        <span ng-if="formKepemilikanSahamCtrl.stock.stockTypeID == 4310">
                            <i class="font10">
                                {{'FORM.KET_FILE_COMPANY' | translate}} <small> ( <span ng-repeat="ft in formKepemilikanSahamCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{formKepemilikanSahamCtrl.idUploadConfigs[0].Size}} {{formKepemilikanSahamCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                                <a ng-if="formKepemilikanSahamCtrl.stock.OwnerURL !== undefined" target="_blank" ng-href="{{formKepemilikanSahamCtrl.folderFile + '/' + formKepemilikanSahamCtrl.stock.OwnerURL}}" class="btn btn-flat btn-xs btn-primary" style="cursor: pointer;"><i class="fa fa-download">Download File</i></a> </small>
                            </i>
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !formKepemilikanSahamCtrl.stockForm.stockUnit.$valid && !formKepemilikanSahamCtrl.stockForm.stockUnit.$pristine}">
                        <label>{{'FORM.SATUAN_SHM'| translate }}</label>
                        <select ng-disabled="formKepemilikanSahamCtrl.StockTypeID != 0" name="stockUnit" required class="form-control" ng-model="formKepemilikanSahamCtrl.stock.UnitID" ng-change="formKepemilikanSahamCtrl.onUnitChange()"
                                ng-options="item.RefID as item.Value | translate for item in formKepemilikanSahamCtrl.stockUnits">
                            <option value="" selected disabled class="text-center">--{{"FORM.SATUAN_SHM" | translate}}--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': !formKepemilikanSahamCtrl.stockForm.stockQty.$valid && !formKepemilikanSahamCtrl.stockForm.stockQty.$pristine}">
                        <label>{{'FORM.NOMINAL_SHM'| translate }}</label>
                        <input type="number" class="form-control" placeholder="{{'FORM.NOMINAL_SHM' | translate}} *" name="stockQty" ng-model="formKepemilikanSahamCtrl.stock.Quantity" required />
                    </div>
                </div>
                <div class="col-md-4" ng-if="formKepemilikanSahamCtrl.showCurrencyField">
                    <div class="form-group" ng-class="{'has-error': !formKepemilikanSahamCtrl.stockForm.stockUnitCurrency.$valid && !formKepemilikanSahamCtrl.stockForm.stockUnitCurrency.$pristine}">
                        <label>{{'FORM.SATUAN_SHM_MATAUANG'| translate }}</label>
                        <select name="stockUnitCurrency" required class="form-control" ng-model="formKepemilikanSahamCtrl.stock.UnitCurrencyID"
                                ng-options="item.CurrencyID as item.Symbol + ' | ' + item.Label for item in formKepemilikanSahamCtrl.currencyList">
                            <option value="" selected disabled class="text-center">--{{"FORM.SATUAN_SHM_MATAUANG" | translate}}--</option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-md-4">
                    <div class="form-group">
                        <label>{{'FORM.JABATAN'| translate }}</label>
                        <input class="form-control" placeholder="{{'FORM.JABATAN' | translate}} *" type="text" ng-model="formKepemilikanSahamCtrl.stock.Position" name="Jabatan" required />
                    </div>
                </div>-->
            </div>
        </form> 
    </div>
    <div class="modal-footer">
        <button ng-click="formKepemilikanSahamCtrl.save()" type="button" class="btn btn-flat btn-success" ng-disabled="!formKepemilikanSahamCtrl.stockForm.$valid" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
        <button ng-click="formKepemilikanSahamCtrl.close()" type="button" class="btn btn-flat btn-primary" title="{{'TUTUP'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
    </div>
</div>