<section class="content" ng-init="CSMSReportCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.CPR_REPORT' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>CPR Report</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <uib-tabset>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Main
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label><br /></label>
                                                <div class="input-group date form_datetime">
                                                    <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="CSMSReportCtrl.datepickeroptions" close-text="{{'TUTUP'|translate}}"
                                                           is-open="CSMSReportCtrl.isCalendarOpened[0]" ng-model="CSMSReportCtrl.CSMS_maindate" 
                                                           ng-click="CSMSReportCtrl.openCalendar(0)" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" disabled ng-click="CSMSReportCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <button class="btn btn-sm btn-primary" ng-click="CSMSReportCtrl.loadCSMS_maindate()"><i class="fa fa-search"></i></button>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="row margin-atas">
                                                <div class="vale-green-padding text-center">Contractor General Information</div>
                                                <div class="col-md-4 margin-atas text-center">
                                                    <button class="circle-vale-green">{{CSMSReportCtrl.CPRCSMSCount.toFixed(2)}}%</button>
                                                    <br /><br />
                                                    <label>CPR Compliance</label>
                                                </div>
                                                <div class="col-md-4 margin-atas text-center">
                                                    <button class="circle-vale-green">{{CSMSReportCtrl.sc.toFixed(2)}}%</button>
                                                    <br /><br />
                                                    <label>Safety Compliance</label>
                                                </div>
                                                <div class="col-md-4 margin-atas text-center">
                                                    <button class="circle-vale-green text-center">{{CSMSReportCtrl.ac}}</button>
                                                    <br /><br />
                                                    <label>Number of Active Contract</label>
                                                </div>
                                            </div>
                                            <div class="row margin-atas">
                                                <div class="vale-green-padding text-center">CPR Compliance</div>
                                                <div class="col-md-12 margin-atas text-center">
                                                    <!--<canvas id="bar" class="chart chart-bar" chart-data="dashCtrl.data" chart-options="dashCtrl.options" chart-labels="dashCtrl.labels" chart-series="dashCtrl.series"></canvas>-->
                                                    <canvas id="bar" class="chart chart-bar" chart-data="CSMSReportCtrl.dataGrafik" chart-color="CSMSReportCtrl.colours" chart-series="CSMSReportCtrl.seriesNewVendor" chart-labels="CSMSReportCtrl.labelNewVendor" chart-dataset="CSMSReportCtrl.datasetNewVendor" chart-options="CSMSReportCtrl.optionNewVendor"></canvas>
                                                </div>
                                            </div>
                                            <div class="row margin-atas">
                                                <div class="vale-green-padding text-center">Contractor Best Safety Performance</div>
                                                <div class="col-md-12 margin-atas text-center">
                                                    <div class="table table-responsive">
                                                        <table class="table table-bordered table-striped">
                                                            <tbody>
                                                                <tr ng-repeat="fh in CSMSReportCtrl.fromhighest">
                                                                    <td style="vertical-align: middle;" class="text-left">{{fh.ContractNo}} -  {{fh.TanderName}}</td>
                                                                    <td style="vertical-align: middle;" class="text-left">{{fh.DetailVendor.VendorName}}, {{fh.DetailVendor.businessName}}</td>
                                                                    <td style="vertical-align: middle;" class="text-left">{{fh.Score.toFixed(2)}}</td>
                                                                </tr>
                                                               <tr ng-if="CSMSReportCtrl.fromhighest.length==0">
                                                                   <td colspan="3">Tidak ada data</td>
                                                               </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row margin-atas">
                                                <div class="vale-green-padding text-center">Contractor Lowest Safety Performance</div>
                                                <div class="col-md-12 margin-atas text-center">
                                                    <div class="table table-responsive">
                                                        <table class="table table-bordered table-striped">
                                                            <tbody>
                                                                <tr ng-repeat="fl in CSMSReportCtrl.fromlowest">
                                                                    <td style="vertical-align: middle;" class="text-left">{{fl.ContractNo}} -  {{fl.TanderName}}</td>
                                                                    <td style="vertical-align: middle;" class="text-left">{{fl.DetailVendor.VendorName}}, {{fl.DetailVendor.businessName}}</td>
                                                                    <td style="vertical-align: middle;" class="text-left">{{fl.Score.toFixed(2)}}</td>
                                                                </tr>
                                                                <tr ng-if="CSMSReportCtrl.fromlowest.length==0">
                                                                    <td colspan="3">Tidak ada data</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>