<div class="container-fluid" ng-init="PreqEvalBalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi/tahapan/{{PreqEvalBalCtrl.PrequalSetupID}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/evaluasi-prakualifikasi/{{PreqEvalBalCtrl.PrequalSetupID}}/{{PreqEvalBalCtrl.PrequalStepID}}">{{'BREADCRUMB.PREQ_EVAL'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.BALANCE'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalBalCtrl.step.PrequalStepName |translate}}</h3>
                            <h4 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalBalCtrl.step.PrequalSetupName}}</h4>
                            <h4 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalBalCtrl.VendorName}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>{{'TABLE.STARTDATE'|translate}}: {{PreqEvalBalCtrl.step.StartDate}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>{{'TABLE.ENDDATE'|translate}}: {{PreqEvalBalCtrl.step.EndDate}}</label>
                        </div>
                    </div>
                    <br />
                    <br />        
                    <label>{{'TABLE.WEALTH'|translate}}</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="center-vertical" width="10">No</th>
                                                        <th class="center-vertical">{{'TABLE.TYPE'|translate}}</th>
                                                        <th class="center-vertical" width="100">{{'TABLE.AMOUNT'|translate}}</th>
                                                        <th class="center-vertical" width="150">Nominal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="objc in PreqEvalBalCtrl.assets">
                                                        <td class="text-center">{{$index + 1}}</td>
                                                        <td>{{objc.COA.Value | translate}}{{objc.SubCOA.Value ? ' - ' + (objc.SubCOA.Value | translate) : '' }}</td>
                                                        <td class="center-vertical">{{objc.Amount}} {{objc.Unit.Value |translate}}</td>
                                                        <td class="middle-vertical text-right">{{objc.Nominal.toFixed(2) | currency:''}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="3">Total : </td>
                                                        <td class="middle-vertical text-right">{{PreqEvalBalCtrl.totalAssets.toFixed(2) | currency:''}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label>{{'TABLE.DEBT'|translate}}</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="center-vertical" width="10">No</th>
                                                        <th class="center-vertical">{{'TABLE.TYPE'|translate}}</th>
                                                        <th class="center-vertical" width="100">{{'TABLE.AMOUNT'|translate}}</th>
                                                        <th class="center-vertical" width="150">Nominal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="objc in PreqEvalBalCtrl.debts">
                                                        <td class="text-center">{{$index + 1}}</td>
                                                        <td>{{objc.COA.Value |translate}}{{objc.SubCOA.Value ? ' - ' + (objc.SubCOA.Value |translate) : ''}}</td>
                                                        <td class="center-vertical">{{objc.Amount}} {{objc.Unit.Value |translate}}</td>
                                                        <td class="middle-vertical text-right">{{objc.Nominal.toFixed(2) | currency:''}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="3">Total : </td>
                                                        <td class="middle-vertical text-right">{{PreqEvalBalCtrl.totalDebts.toFixed(2) | currency:''}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label>Modal ({{'TABLE.WEALTH'|translate}} - {{'TABLE.DEBT'|translate}})</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="center-vertical"></th>
                                                        <th class="text-right" width="150">{{PreqEvalBalCtrl.totalModal.toFixed(2) | currency:''}}</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <hr />
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="#/evaluasi-prakualifikasi/{{PreqEvalBalCtrl.PrequalSetupID}}/{{PreqEvalBalCtrl.PrequalStepID}}" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
</div>