﻿<div ng-init="aturSignatureCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.MONITORING' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.CONTRACT_MANAGEMENT' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.ATUR_SIGNATURE' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 class="afta-font text-center">{{'LABEL.PENGATURAN_APPROVAL_SIGNATURE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="aturSignatureCtrl.dataEmployee.FullName" readonly placeholder="{{'LABEL.FIELD_NAMA' | translate}}">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-success" ng-disabled="aturSignatureCtrl.history.Status != 4503 && aturSignatureCtrl.history.Status != 4504" ng-click="aturSignatureCtrl.cariPegawai()"><i class="fa fa-search"></i> {{'CARI_PEGAWAI' | translate}} </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-success" ng-disabled="aturSignatureCtrl.history.Status != 4503 && aturSignatureCtrl.history.Status != 4504" ng-click="aturSignatureCtrl.tambahEmployee()"><i class="fa fa-plus"></i> {{'TAMBAH_SIGNATURE' | translate}}</button>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.NAMA_PEGAWAI' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.DEPARTMENT' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.JABATAN' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.ACTION' | translate}}</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in aturSignatureCtrl.data track by $index">
                                            <td class="text-center">{{aturSignatureCtrl.currentPage > 1 ? (aturSignatureCtrl.pageSize * (aturSignatureCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td>{{data.CommitteeOrVendorName}}</td>
                                            <td>{{data.DepartementCommitteeOrVendor}}</td>
                                            <td>{{data.JabatanCommitteeOrVendor}}</td>

                                            <td class="text-center">
                                                <button class="btn btn-danger" ng-disabled="aturSignatureCtrl.history.Status != 4503 && aturSignatureCtrl.history.Status != 4504 " ng-if="data.VendorID == null" title="{{'HAPUS'| translate}}" ng-click="aturSignatureCtrl.hapus(data)"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="aturSignatureCtrl.data.length === 0"> <td colspan="5"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 ">
                            <button class="btn btn-success pull-right" ng-disabled="aturSignatureCtrl.history.Status != 4503 && aturSignatureCtrl.history.Status != 4504" ng-click="aturSignatureCtrl.simpan()" title="{{'TAMBAH' | translate}}"><i class="fa fa-save"></i></button>
                            <button class="btn btn-danger pull-right" ng-click="aturSignatureCtrl.back()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
