﻿<div id="IdEditPegawai" class="modal-content" ng-init="aturTanggalTopikModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" ng-click="aturTanggalTopikModalCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">{{'ATUR_TANGGAL_TOPIK' | translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                    <label class="control-label">{{'TANGGAL_MULAI_KLARIFIKASI' | translate}}</label>
                    <div class="input-group date form_datetime">
                        <input name="foundedDate" style="background-color: #ffffff;" title="{{'FORM.START_DATE' | translate}}" readonly required class="form-control" size="16" placeholder="{{'FORM.START_DATE' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="aturTanggalTopikModalCtrl.isCalendarOpened[0]" ng-model="aturTanggalTopikModalCtrl.startDate" ng-click="aturTanggalTopikModalCtrl.openCalendar(0)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="aturTanggalTopikModalCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                     <div uib-timepicker ng-model="aturTanggalTopikModalCtrl.startDate" show-meridian="ismeridian"></div>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                    <label class="control-label">{{'TANGGAL_BERAKHIR_KLARIFIKASI' | translate}}</label>
                    <div class="input-group date form_datetime">
                        <input name="foundedDate" style="background-color: #ffffff;" title="{{'FORM.END_DATE' | translate}}" readonly required class="form-control" size="16" placeholder="{{'FORM.END_DATE' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="aturTanggalTopikModalCtrl.isCalendarOpened[1]" ng-model="aturTanggalTopikModalCtrl.endDate" ng-click="aturTanggalTopikModalCtrl.openCalendar(1)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="aturTanggalTopikModalCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                           
                        </span>
                            
                    </div>
                    <div uib-timepicker ng-model="aturTanggalTopikModalCtrl.endDate" show-meridian="ismeridian"></div>
                </div>
            </div>
        </div>
        <br />
        <br />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="aturTanggalTopikModalCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i></button>
        <button type="button" class="btn btn-success" ng-disabled="aturTanggalTopikModalCtrl.history.Status != 4501" ng-click="aturTanggalTopikModalCtrl.simpan()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>

    </div>
</div>