﻿<div ng-init="contractManagementCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a href="#/homeadmin">{{'BREADCRUMB.DATA_CONTRACT_MANAGEMENT' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.CONTRACT_MANAGEMENT2' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'LABEL.CONTRACT_MANAGEMENT2' | translate}}</h3>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-3"><label>{{'NAMA_KONTRAK' | translate}}</label></div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8"><label>{{contractManagementCtrl.history.TenderName}}</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-3"><label>{{'TANGGAL_KONTRAK' | translate}}</label></div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8">
                                <label>: {{contractManagementCtrl.history.startDateTender | date : 'dd MMMM yyyy' }} {{'LABEL.SD' | translate}} {{contractManagementCtrl.history.endDateTender | date : 'dd MMMM yyyy' }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-3"><label>{{'TYPE_KONTRAK' | translate}}</label></div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8"><label>{{contractManagementCtrl.history.TypeKontrakName}}</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-3"><label>{{'DURATION_FORUM' | translate}}</label></div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8">
                                <label>{{contractManagementCtrl.jumlahHari}} {{'LABEL.DAYS' | translate}} / {{'LABEL.DUEDATE' | translate}} : {{contractManagementCtrl.history.EndDateDuration | date : 'dd MMMM yyyy'}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-3"><label>{{'PILIH_TEMPLATE' | translate}}</label></div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8" ng-if="contractManagementCtrl.history.Status == 4501">
                                <button class="btn btn-success"  ng-click="contractManagementCtrl.pilihTemplate()"><i class="fa fa-search"></i></button>
                                 &nbsp; 
                                 <a class="btn btn-success" href="{{contractManagementCtrl.folderFile + contractManagementCtrl.dataTemplate.ContractDocumentURL}}" target="_blank" ng-if="contractManagementCtrl.dataTemplate != null"> <i class="fa fa-cloud-download"></i> </a> <label ng-if="contractManagementCtrl.dataTemplate != null">{{contractManagementCtrl.dataTemplate.DocumentName}}</label>
                            </div>
                            <div class="col-md-8" ng-if="contractManagementCtrl.history.Status != 4501">
                                <a class="btn btn-success" href="{{contractManagementCtrl.folderFile + contractManagementCtrl.dataTemplate.ContractDocumentURL}}" target="_blank" ng-if="contractManagementCtrl.dataTemplate != null"> <i class="fa fa-cloud-download"></i> </a> <label ng-if="contractManagementCtrl.dataTemplate != null">{{contractManagementCtrl.dataTemplate.DocumentName}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-3"><label>{{'LAMPIRAN' | translate}}</label></div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8"><button class="btn btn-success" ng-click="contractManagementCtrl.lampiran()"><i class="fa fa-chain"></i></button></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="col-md-3"><label>{{'STATUS' | translate}}</label></div>
                            <div class="col-md-1">:</div>
                            <div class="col-md-8"><label>{{contractManagementCtrl.history.StatusValue}}</label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">
                            <button class="btn btn-warning pull-left" ng-if="contractManagementCtrl.history.Status == 4502 || contractManagementCtrl.history.Status == 4503 || contractManagementCtrl.history.Status == 4504" ng-disabled="contractManagementCtrl.history.Status == 4503 || contractManagementCtrl.history.Status == 4504"  ng-click="contractManagementCtrl.akhiriForum()"><i class="fa fa-check-circle-o"></i> {{'AKHIRI_FORUM'| translate}}</button>
                            
                            <button class="btn btn-success pull-right" ng-click="contractManagementCtrl.aturTanggalTopik()" title="{{'ATUR_TANGGAL_TOPIC' | translate}}"><i class="fa fa-share-alt"></i></button>
                            <!--<button class="btn btn-primary pull-right" ng-click="contractManagementCtrl.aturComitte()" ng-hide="contractManagementCtrl.history.Status == 4504 "><i class="fa fa-group"></i> {{'ATUR_COMMITTE' | translate}}</button>-->
                            <button class="btn btn-primary pull-right" ng-click="contractManagementCtrl.aturComitte()" ng-if="contractManagementCtrl.history.Status == 4501 || contractManagementCtrl.history.Status == 4502"><i class="fa fa-group"></i> {{'ATUR_COMMITTE' | translate}}</button>
                            <!--ng-if="contractManagementCtrl.history.Status != 4506 && contractManagementCtrl.history.Status != 4507 && contractManagementCtrl.history.Status != 4508"-->
                            <button class="btn btn-primary pull-right" ng-click="contractManagementCtrl.aturSignature()" ng-if="contractManagementCtrl.history.Status == 4504 ||  contractManagementCtrl.history.Status == 4503"><i class="fa fa-group"></i> {{'ATUR_SIGNATURE' | translate}}</button>
                            <button class="btn btn-warning pull-right" ng-click="contractManagementCtrl.postingTopik()" ng-if="contractManagementCtrl.history.Status == 4501" ><i class="fa fa-chat"></i> {{'POSTING_TOPIK'| translate}}</button>
                            <button class="btn btn-warning pull-right" ng-click="contractManagementCtrl.summary()" ng-if="contractManagementCtrl.history.Status == 4502 || contractManagementCtrl.history.Status == 4503 || contractManagementCtrl.history.Status == 4504 || contractManagementCtrl.history.Status == 4506 || contractManagementCtrl.history.Status == 4507 || contractManagementCtrl.history.Status == 4508"  ><i class="fa fa-check-circle-o" ></i> {{'SUMMARY'| translate}}</button>
                            <button class="btn btn-danger pull-right" ng-click="contractManagementCtrl.closeProject()" ng-if="contractManagementCtrl.history.Status == 4506" title="{{'PROJECT_CLOSE'| translate}}"><i class="fa fa-power-off"></i></button>
                            <button class="btn btn-warning pull-right" ng-click="contractManagementCtrl.remark(contractManagementCtrl.history.HistoryCMID)" ng-if="contractManagementCtrl.history.Status == 4506"><i class="fa fa-sticky-note"></i> {{'REMARK' | translate}}</button>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{'REVISI_TEMPLATE_DOKUMEN' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-3" style="padding: 6px;margin-top1%: 1;" ><label style="margin-top: 3%;">{{'UPLOAD_DOKUMEN' | translate}}</label><span ng-if="contractManagementCtrl.history.StatusValue == 'Approved'">*</span></div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input ng-disabled="contractManagementCtrl.disableUpload == true || contractManagementCtrl.history.Status == 4505 || contractManagementCtrl.history.Status == 4507 || contractManagementCtrl.history.Status == 4508" type="file" class="form-control" ng-file-select="contractManagementCtrl.selectUpload()" ng-model="contractManagementCtrl.fileUpload" name="ownerIDFile" required accept="{{contractManagementCtrl.idFileTypes}}" />
                                        <small> ( <span ng-repeat="ft in contractManagementCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{contractManagementCtrl.idUploadConfigs[0].Size}} {{contractManagementCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-3" style="padding: 6px;margin-top1%: 1;"><label  style="margin-top: 3%;">{{'NAMA_DOKUMEN' | translate}}</label><span ng-if="contractManagementCtrl.history.StatusValue == 'Approved'">*</span></div>
                                <div class="col-md-7"><input type="text" ng-disabled="contractManagementCtrl.history.Status == 4502 || contractManagementCtrl.disableUpload == true || contractManagementCtrl.history.Status == 4505 || contractManagementCtrl.history.Status == 4507 || contractManagementCtrl.history.Status == 4508" class="form-control" ng-model="contractManagementCtrl.nama_dokumen" placeholder="{{'NAMA_DOKUMEN' | translate}}" /></div>
                                <div class="col-md-1" style="padding-left: 0px;">
                                    <button class="btn btn-success" ng-disabled="contractManagementCtrl.history.Status == 4502 || contractManagementCtrl.history.Status == 4504 || contractManagementCtrl.disableUpload == true || contractManagementCtrl.history.Status == 4505 || contractManagementCtrl.history.Status == 4507 || contractManagementCtrl.history.Status == 4508" ng-click="contractManagementCtrl.uploadFile()" title="{{'SAVE' | translate}}"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.NAMA_TEMPLATE' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.NAMA_DOKUMEN' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.VERSION' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;" ng-if="contractManagementCtrl.history.Status == 4502">{{'TABLE.ACTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in contractManagementCtrl.data">
                                            <td class="text-center">{{contractManagementCtrl.currentPage > 1 ? (contractManagementCtrl.pageSize * (contractManagementCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td>{{data.MstContractDocumentName}}</td>
                                            <td>{{data.DocumentName}}</td>
                                            <td class="text-center">
                                                   V{{data.Version}}
                                                <a class="btn btn-flat btn-sm btn-success" href="{{contractManagementCtrl.folderFile + data.DocumentURL}}" title="{{'BTN.FILESDOWNLOAD' | translate}}"><i class="fa fa-cloud-download"></i></a>
                                                <input ng-if="contractManagementCtrl.history.Status == 4503 && data.status == 4503" type="radio" value="{{data}}" ng-model="contractManagementCtrl.selectedTemplate" name="radio" />
                                            </td>
                                            <td class="text-center" ng-if="contractManagementCtrl.history.Status == 4502">
                                                <button class="btn btn-flat btn-sm btn-success" ng-click="contractManagementCtrl.detailTemplate(data)" title="{{'BTN.SHOW_PDF' | translate}}"><i class="fa fa-eye"></i></button>
                                            </td>
                                            
                                        </tr>
                                        <tr ng-if="contractManagementCtrl.data.length === 0"> <td colspan="4"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label style="margin-left:2%;margin-top:1%;">Total items: {{contractManagementCtrl.totalItems}}</label>
                        <div class="col-sd-4 col-md-7" ng-if="totalItems > 10">
                            <ul uib-pagination total-items="contractManagementCtrl.totalItems" max-size="10"
                                ng-model="contractManagementCtrl.currentPage" items-per-page="contractManagementCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="contractManagementCtrl.loadDetailLampiran(contractManagementCtrl.currentPage)"></ul>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row" ng-if="contractManagementCtrl.history.Status == 4502 || contractManagementCtrl.history.Status == 4503 || contractManagementCtrl.history.Status == 4504">
                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-body">
                                    <div class="row">
                                        <h4 class="text-center">{{'TOPIC' | translate}}</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label">{{'JUDUL' | translate}} {{contractManagementCtrl.titleForum}}</label>
                                            <textarea class="form-control" disabled style="height:100px" ng-model="contractManagementCtrl.contentForum"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12" ng-if="contractManagementCtrl.history.Status == 4502">
                                                <div class="col-md-6 pull-left" style="margin-top:10px">
                                                    <label class="control-label">{{'REVIEW' | translate}}</label>
                                                </div>
                                                <div class="col-md-6" style="margin-bottom:10px">
                                                    <button class="btn btn-success pull-right" ng-click="contractManagementCtrl.review()"><i class="fa fa-chat"></i>{{'REVIEW' | translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="box">
                                                    <div class="box-body" style="height:300px;overflow-y:scroll">
                                                        <div class="row">
                                                            <div   ng-repeat="data in contractManagementCtrl.dataDetailForumCM">
                                                                <div class="col-md-12">
                                                                    <div class="form-group col-md-6">
                                                                        <label ng-if="data.CommitteeName != null">{{data.CommitteeName}} - {{contractManagementCtrl.FormatDateTime.convertDateTime(data.CreatedDate)}} </label>
                                                                        <label ng-if="data.VendorName != null">{{data.VendorName}} - {{contractManagementCtrl.FormatDateTime.convertDateTime(data.CreatedDate)}} </label>
                                                                        <p ng-if="data.CommitteeName != null" ng-bind-html="data.Review" style="margin-left:20px"></p>
                                                                        <p ng-if="data.VendorName != null" ng-bind-html="data.Review" style="margin-left:20px"></p>

                                                                    </div>
                                                                    <div class="col-md-3">

                                                                    </div>
                                                                    <div class="form-group col-md-3">

                                                                        <label ng-if="data.ReviewFor != null">{{data.BuyerName}} - ({{(data.ReviewFor == 1 ? 'For Committee' : (data.ReviewFor == 2 ) ? 'For Vendor' : 'For All'  )}}) {{contractManagementCtrl.FormatDateTime.convertDateTime(data.CreatedDate)}} </label>

                                                                        <p ng-if="data.ReviewFor != null" ng-bind-html="data.Review" style="margin-left:20px"></p>
                                                                    </div>
                                                                </div>

                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<textarea style="height:300px" class="form-control"></textarea>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success pull-right" ng-if="contractManagementCtrl.history.Status == 4503" ng-click="contractManagementCtrl.saveDetailTemplate()" title="{{'SAVE'| translate}}"><i class="fa fa-save"></i></button>
                            <button class="btn btn-danger pull-right" ng-click="contractManagementCtrl.back()"><i class="fa fa-arrow-circle-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
