﻿<div ng-init="dataContractManagementCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.DATA_CONTRACT_MANAGEMENT' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'BREADCRUMB.CONTRACT_MANAGEMENT2' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="pull-left">
                                <select class="form-control" ng-model="dataContractManagementCtrl.action" ng-change="dataContractManagementCtrl.act(action)">
                                    <option value="" style="display:none;">{{'LABEL.SEARCH_BY' | translate}}</option>
                                    <option value="1">{{'LABEL.TENDERCODE' | translate}}</option>
                                    <option value="2">{{'LABEL.CONTRACTTITLE' | translate}}</option>
                                    <option value="3">{{'LABEL.CONTRACTNO' | translate}}</option>
                                    <option value="4">{{'LABEL.VENDORNAME' | translate}}</option>
                                    <option value="5">{{'LABEL.PM' | translate}}</option>
                                    <option value="6">{{'LABEL.BUYER' | translate}}</option>
                                    <option value="7">{{'LABEL.STARTDATE' | translate}}</option>
                                    <option value="8">{{'LABEL.ENDDATE' | translate}}</option>
                                    <option value="9">{{'LABEL.CATEGORY' | translate}}</option>
                                    <option value="10">{{'LABEL.STATUS' | translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '1'">
                                <input type="text" class="form-control" placeholder="{{'LABEL.CARI_KODE_TENDER' | translate}}" ng-model="dataContractManagementCtrl.keyword">
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dataContractManagementCtrl.jLoad(1)" title="{{'CARI'|translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '2'">
                                <input type="text" class="form-control" placeholder="{{'LABEL.CARI_JUDUL_KONTRAK' | translate}}" ng-model="dataContractManagementCtrl.keyword">
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dataContractManagementCtrl.jLoad(1)" title="{{'CARI'|translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '3'">
                                <input type="text" class="form-control" placeholder="{{'LABEL.CARI_NOMOR_KONTRAK' | translate}}" ng-model="dataContractManagementCtrl.keyword">
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dataContractManagementCtrl.jLoad(1)" title="{{'CARI'|translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '4'">
                                <input type="text" class="form-control" placeholder="{{'LABEL.CARI_NAMA_REKANAN' | translate}}" ng-model="dataContractManagementCtrl.keyword">
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dataContractManagementCtrl.jLoad(1)" title="{{'CARI'|translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '5'">
                                <input type="text" class="form-control" placeholder="{{'LABEL.CARI_PROJECT_MANAGER' | translate}}" ng-model="dataContractManagementCtrl.keyword">
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dataContractManagementCtrl.jLoad(1)" title="{{'CARI'|translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '6'">
                                <input type="text" class="form-control" placeholder="{{'LABEL.CARI_BUYER' | translate}}" ng-model="dataContractManagementCtrl.keyword">
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dataContractManagementCtrl.jLoad(1)" title="{{'CARI'|translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '7'">
                                <input name="foundedDate" style="background-color: #ffffff;" title="{{'FORM.START_DATE' | translate}}" readonly required class="form-control" size="16" placeholder="{{'FORM.START_DATE' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="dataContractManagementCtrl.isCalendarOpened[0]" ng-model="dataContractManagementCtrl.startDate" ng-click="dataContractManagementCtrl.openCalendar(0)" />
                                
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dataContractManagementCtrl.jLoad(1)" title="{{'CARI'|translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '8'">
                                <input name="foundedDate" style="background-color: #ffffff;" title="{{'FORM.END_DATE' | translate}}" readonly required class="form-control" size="16" placeholder="{{'FORM.END_DATE' | translate}}*" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE" is-open="dataContractManagementCtrl.isCalendarOpened[1]" ng-model="dataContractManagementCtrl.endDate" ng-click="dataContractManagementCtrl.openCalendar(1)" />
                                
                                <span class="input-group-btn">
                                    <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="dataContractManagementCtrl.jLoad(1)" title="{{'CARI'|translate}}">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>

                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '9'">
                                <select class="form-control" ng-model="dataContractManagementCtrl.keyword" ng-change="dataContractManagementCtrl.jLoad(1)">
                                    <option value="" style="display:none;">{{'LABEL.PILIH' | translate}}</option>
                                    <option value="4499">TENDER</option>
                                    <option value="4500">NON TENDER</option>
                                    <option value="4509">CATEGORY TENDER</option>
                                </select>
                            </div>

                            <div class="input-group pull-left" ng-if="dataContractManagementCtrl.action == '10'">
                                <select class="form-control" ng-model="dataContractManagementCtrl.keyword" ng-change="dataContractManagementCtrl.jLoad(1)">
                                    <option value="">{{'LABEL.ALL_STATUS' | translate}}</option>
                                    <option ng-repeat="data in dataContractManagementCtrl.dataStatus" value="{{data.RefID}}" >{{data.Value}}</option>
                                </select>
                                
                            </div>

                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.TENDER_CODE' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.CONTRACT_TITLE' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.CONTRACT_NO' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.VENDOR_NAME' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.PM' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.CE_BUYER' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.START_DATE' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.END_DATE' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.CATEGORY' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.STATUS' | translate}}</th>
                                            <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.REMARK' | translate}}</th>
                                            <th class="text-center" style="width: 120px; min-width: 200px; vertical-align: middle;">{{'TABLE.ACTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in dataContractManagementCtrl.data">
                                            <td class="text-center">{{dataContractManagementCtrl.currentPage > 1 ? (dataContractManagementCtrl.pageSize * (dataContractManagementCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td>{{data.TenderCode}}</td>
                                            <td>{{data.TenderName}}</td>
                                            <td>{{data.ContractNo}}</td>
                                            <td>{{data.VendorName}}</td>
                                            <td>{{data.ProjectManager}}</td>
                                            <td>{{data.BuyerOrCe}}</td>
                                            <td>{{dataContractManagementCtrl.FormatDateTime.convertDate(data.startDateTender)}}</td>
                                            <td>{{dataContractManagementCtrl.FormatDateTime.convertDate(data.endDateTender)}}</td>
                                            <td>{{data.CategoryName}}</td>
                                            <td>{{data.StatusName}}</td>
                                            <td>
                                                {{data.Remark}}
                                            </td>
                                            <td class="text-center">
                                                <button ng-click="dataContractManagementCtrl.contractManagement(data.ContractManagementID)" ng-disabled="data.StatusManagement == 5411 || data.StatusManagement == 4508" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.CHAT' | translate}}"><i class="fa fa-comments"></i></button>
                                                <!--<a class="btn btn-flat btn-sm btn-warning" ng-if="data.DocURLTemplate != null" href="{{dataContractManagementCtrl.folderFile + data.DocURLTemplate}}" ng-disabled="data.StatusManagement == 5411 || data.StatusManagement == 4508" title="{{'BTN.DOWNLOAD' | translate}}"><i class="fa fa-file-word-o"></i></a>-->
                                                <!--<button class="btn btn-flat btn-sm btn-warning" disabled ng-if="data.DocURLTemplate == null"><i class="fa fa-file-word-o"></i></button>-->
                                                <a class="btn btn-flat btn-sm btn-warning" ng-if="data.StatusManagement == 4501 && data.templateDone" ng-click="dataContractManagementCtrl.publish(data)" title="{{'BTN.PUBLISH' | translate}}"><i class="fa fa-bullhorn"></i></a>
                                                <button class="btn btn-flat btn-sm btn-warning" ng-if="data.StatusManagement == 4501 && !data.templateDone" disabled title="{{'BTN.PUBLISH' | translate}}"><i class="fa fa-bullhorn"></i></button>
                                                <a class="btn btn-flat btn-sm btn-success" ng-if="data.StatusManagement == 4502 || data.StatusManagement == 4503" ng-click="dataContractManagementCtrl.detailApproval(data)" title="{{'BTN.DETAIL_APPROVAL' | translate}}"><i class="fa fa-sitemap"></i></a>
                                                <!--<a class="btn btn-flat btn-sm btn-success" ng-if="data.StatusManagement == 4506 || data.StatusManagement == 4507 || data.StatusManagement == 4508" ng-click="dataContractManagementCtrl.aktif()" title="{{'BTN.AKTIF' | translate}}"><i class="fa fa-sitemap"></i></a>-->
                                                <a class="btn btn-flat btn-sm btn-success" ng-if="data.StatusManagement == 4504" ng-click="dataContractManagementCtrl.distributionSimpan(data)" title="{{'BTN.APPROVED' | translate}}"><i class="fa fa-share-square-o"></i></a>
                                                <!--<a class="btn btn-flat btn-sm btn-success" ng-if="data.StatusManagement == 4505" ng-click="dataContractManagementCtrl.aktif()" title="{{'BTN.AKTIF' | translate}}"><i class="fa fa-edit"></i></a>-->
                                                <a class="btn btn-flat btn-sm btn-success" ng-if="data.StatusManagement == 4505" ng-click="dataContractManagementCtrl.signature(data.ContractManagementID)" title="{{'BTN.SIGNATURE' | translate}}"><i class="fa fa-pencil"></i></a>
                                                <a class="btn btn-flat btn-sm btn-success" ng-if="data.StatusManagement == 4506 || data.StatusManagement == 4507 || data.StatusManagement == 4508" ng-disabled="data.StatusManagement == 4508" ng-click="dataContractManagementCtrl.viewSignature(data.ContractManagementID)" title="{{'BTN.DETAILSIGNATURE' | translate}}"><i class="fa fa-sitemap"></i></a>
                                                <a class="btn btn-flat btn-sm btn-primary" ng-if="data.StatusManagement == 4506 || data.StatusManagement == 4508" ng-click="dataContractManagementCtrl.extTender(data.ContractManagementID)" title="{{'BTN.EXTTENDER' | translate}}"><i class="fa fa-files-o"></i></a>
                                                <a class="btn btn-flat btn-sm btn-success" ng-if="data.StatusManagement == 4503" ng-click="dataContractManagementCtrl.printEsaf('toPrint', data)" title="{{'BTN.ESAF_DOC' | translate}}"><i class="fa fa-download"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="dataContractManagementCtrl.data.length === 0"> <td colspan="9"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label>Total items: {{dataContractManagementCtrl.totalItems}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sd-4 col-md-7" >
                                <ul uib-pagination total-items="dataContractManagementCtrl.totalItems" max-size="10"
                                    ng-model="dataContractManagementCtrl.currentPage" items-per-page="dataContractManagementCtrl.pageSize"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="dataContractManagementCtrl.jLoad(dataContractManagementCtrl.currentPage)"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>