﻿<div id="IdEditPegawai" class="modal-content" ng-init="detailApprovalModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" ng-click="detailApprovalModalCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font text-center" id="myModalLabel">{{'DETAIL_APPROVAL' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success pull-right" ng-if="detailApprovalModalCtrl.status == 4503" ng-click="detailApprovalModalCtrl.aturSignature()">
                            <i class="fa fa-users"></i> {{'ATUR_SIGNATURE' | translate}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.NAMA_PEGAWAI' | translate}}</th>
                                        <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.DEPARTEMEN' | translate}}</th>
                                        <th class="text-center" style="width: 120px; min-width: 50px; vertical-align: middle;">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center" style="width: 120px; min-width: 50px; vertical-align: middle;">{{'TABLE.APPROVED_DATE' | translate}}</th>
                                        <th class="text-center" style="width: 120px; min-width: 50px; vertical-align: middle;">{{'TABLE.STATUS' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in detailApprovalModalCtrl.data">
                                        <td class="text-center">{{detailApprovalModalCtrl.currentPage > 1 ? (detailApprovalModalCtrl.maxSize * (detailApprovalModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td>{{data.CommitteeOrVendorName}}</td>
                                        <td>{{data.DepartementCommitteeOrVendor}}</td>
                                        <td>{{data.JabatanCommitteeOrVendor}}</td>
                                        <td>{{detailApprovalModalCtrl.FormatDateTime.convertDateTime(data.ModifiedDate)}}</td>
                                        <td>{{data.Status == 1 ? 'Approved' : ''}}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalModalCtrl.data.length === 0"> <td colspan="6"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Total items: {{detailApprovalModalCtrl.totalItems}}</label>
                    </div>
                    <div class="col-md-12">
                        <div class="col-sd-4 col-md-7" ng-if="detailApprovalModalCtrl.totalItems > 10" style="padding-left:0px">
                            <ul uib-pagination total-items="detailApprovalModalCtrl.totalItems" max-size="10"
                                ng-model="detailApprovalModalCtrl.currentPage" items-per-page="detailApprovalModalCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="detailApprovalModalCtrl.jLoad(detailApprovalModalCtrl.currentPage)"></ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="detailApprovalModalCtrl.batal()" title="{{'BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>

    </div>
</div>