﻿<div id="IdEditPegawai" class="modal-content" ng-init="pilihTemplateDetailModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" ng-click="pilihTemplateDetailModalCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'VIEW_DOKUMEN' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <iframe src="{{pilihTemplateDetailModalCtrl.urlFileAslie}}" style="width:100%;height:800px;"></iframe>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="pilihTemplateDetailModalCtrl.batal()" title="{{'BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>

    </div>
</div>