﻿<div id="IdEditPegawai" class="modal-content" ng-init="pilihTemplateModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" ng-click="pilihTemplateModalCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'PILIH_TEMPLATE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="pull-right">
                            <select class="form-control" ng-model="action" ng-change="pilihTemplateModalCtrl.act(action)">
                                <option value="">{{'LABEL.SEARCH_BY' | translate}}</option>
                                <option value="1">{{'LABEL.DOCNAME' | translate}}</option>
                                <option value="2">{{'LABEL.BUSINESS_FIELD' | translate}}</option>
                                <option value="3">{{'LABEL.TENDER_TYPE' | translate}}</option>
                                <!--<option value="4">Status</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group pull-left">
                            <input  ng-if="pilihTemplateModalCtrl.action == '1'" type="text" class="form-control" placeholder="{{'LABEL.CARI_NAMA_DOKUMEN' | translate}}" ng-model="keyword">
                            

                            <select ng-if="pilihTemplateModalCtrl.action == '2'" class="form-control" ng-model="businessField" ng-change="pilihTemplateModalCtrl.ubahbf(businessField)">
                                <option value="">{{'LABEL.PILIH' | translate}}</option>
                                <option value="{{bf.ID}}" ng-repeat="bf in pilihTemplateModalCtrl.dataBusinessField">{{bf.Name}}</option>
                            </select>

                            <select ng-if="pilihTemplateModalCtrl.action == '3'" class="form-control" ng-model="tenderType" ng-change="pilihTemplateModalCtrl.ubahTenderType(tenderType)">
                                <option value="">{{'LABEL.PILIH' | translate}}</option>
                                <option value="{{tt.RefID}}" ng-repeat="tt in pilihTemplateModalCtrl.dataTenderType">{{tt.Value | translate}}</option>
                            </select>
                            <span class="input-group-btn" ng-if="pilihTemplateModalCtrl.action != ''">
                                <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="pilihTemplateModalCtrl.cari(keyword)" title="{{'CARI'|translate}}">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--<select ng-if="pilihTemplateModalCtrl.action == '4'" class="form-control" ng-model="status" ng-change="pilihTemplateModalCtrl.ubahStatus(status)">
                            <option value="">{{'LABEL.PILIH' | translate}}</option>
                            <option value="1">{{'LABEL.AKTIF' | translate}}</option>
                            <option value="0">{{'LABEL.TIDAKAKTIF' | translate}}</option>
                        </select>-->

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.DOCNAME' | translate}}</th>
                                        <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.BUSINESSFIELD' | translate}}</th>
                                        <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'TABLE.TENDERTYPE' | translate}}</th>
                                        <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Status</th>
                                        <th class="text-center" style="width: 120px; min-width: 50px; vertical-align: middle;">{{'TABLE.ACTION' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in pilihTemplateModalCtrl.docs">
                                        <td class="text-center">{{pilihTemplateModalCtrl.currentPage > 1 ? (pilihTemplateModalCtrl.maxSize * (pilihTemplateModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td>{{data.DocumentName}}</td>
                                        <td>{{data.BusinessFieldName}}</td>
                                        <td>{{data.TenderTypeName | translate}}</td>
                                        <td class="text-center">
                                            <span ng-if="data.IsActive == 1">{{'LABEL.AKTIF' | translate}}</span>
                                            <span ng-if="data.IsActive == 0">{{'LABEL.TIDAKAKTIF' | translate}}</span>
                                        </td>
                                        <td class="text-center">
                                            <a ng-click="pilihTemplateModalCtrl.pilihTemplate(data)" ng-if="pilihTemplateModalCtrl.statusManagement == 4501" class="btn btn-flat btn-sm btn-success" title="{{'BTN.PILIH' | translate}}"><i class="fa fa-check"></i></a>
                                            <a class="btn btn-flat btn-sm btn-primary" ng-click="pilihTemplateModalCtrl.detail(data)" title="{{'BTN.DETAIL' | translate}}"><i class="fa fa-eye"></i></a>
                                            
                                        </td>
                                    </tr>
                                    <tr ng-if="pilihTemplateModalCtrl.docs.length === 0"> <td colspan="6"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Total items: {{pilihTemplateModalCtrl.totalItems}}</label>
                    </div>                    
                    <div class="col-md-12">
                        <div class="col-sd-4 col-md-7" ng-if="pilihTemplateModalCtrl.totalItems > 10" style="padding-left:0px">
                            <ul uib-pagination total-items="pilihTemplateModalCtrl.totalItems" max-size="10"
                                ng-model="pilihTemplateModalCtrl.currentPage" items-per-page="pilihTemplateModalCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pilihTemplateModalCtrl.jLoad(pilihTemplateModalCtrl.currentPage)"></ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="pilihTemplateModalCtrl.batal()" title="{{'BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        
    </div>
</div>