﻿<div class="modal-content" ng-init="remarkCloseProjectCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" ng-click="remarkCloseProjectCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-bottom: 30px;" ng-if="remarkCloseProjectCtrl.isRemark == 0">
            <h3 style="margin-left:10px;">{{'MESSAGE.YAKINCLOSE' | translate}} {{remarkCloseProjectCtrl.tenderName}} {{'MESSAGE.YAKINCLOSEMENJADI' | translate}}</h3>
        </div>
        <div class="row" style="margin-bottom: 30px;" ng-if="remarkCloseProjectCtrl.isRemark == 2">
            <h3 class="text-center">{{'EXPCONTRACT' | translate}}</h3>
        </div>
        <div class="row" ng-if="remarkCloseProjectCtrl.isRemark == 0 || remarkCloseProjectCtrl.isRemark == 1">
            <div class="col-md-12">
                <label ng-if="remarkCloseProjectCtrl.isRemark == 1"> {{'REMARK' | translate}}</label>
                <label ng-if="remarkCloseProjectCtrl.isRemark == 0"> {{'KETERANGAN' | translate}}*</label>
            </div>
        </div>
        <textarea ng-if="remarkCloseProjectCtrl.isRemark == 0 || remarkCloseProjectCtrl.isRemark == 1" ng-model="remarkCloseProjectCtrl.remark" style="resize: none; width: 100%; height: 175px;"></textarea>

        <div class="row" ng-if="remarkCloseProjectCtrl.isRemark == 2">
            <div class="col-md-7">
                <div class="pull-right">
                    <select class="form-control" ng-model="remarkCloseProjectCtrl.category">
                        <option value="" disabled>{{'PILIHCATEGORY' | translate}}</option>
                        <option value="4499">{{'TENDER' | translate}}</option>
                        <option value="4500">{{'NONTENDER' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <button type="button" class="btn btn-success" ng-click="remarkCloseProjectCtrl.simpan()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-if="remarkCloseProjectCtrl.isRemark == 0 || remarkCloseProjectCtrl.isRemark == 1" class="btn btn-danger" ng-click="remarkCloseProjectCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i></button>
        <button type="button" ng-if="remarkCloseProjectCtrl.isRemark == 0 || remarkCloseProjectCtrl.isRemark == 1" class="btn btn-success" ng-click="remarkCloseProjectCtrl.simpan()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>

    </div>
</div>