﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 200px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 200px;
        padding: 6px 12px;
    }

    .ta-toolbar{
        display:none;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 200px;
        min-height: 200px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 200px;
        padding: 6px 12px;
    }
</style>
<div id="IdEditPegawai" class="modal-content" ng-init="reviewModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" ng-click="reviewModalCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'REVIEW' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-flat btn-success" ng-click="reviewModalCtrl.generate('committee')"> <i class="fa fa-spinner"></i> {{'GENERATE_COMMITTE' | translate}} </button>
                <button class="btn btn-flat btn-success" ng-click="reviewModalCtrl.generate('vendor')"> <i class="fa fa-spinner"></i> {{'GENERATE_VENDOR' | translate}} </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--<label class="control-label">{{'REVIEW' | translate}}</label>-->
                <div text-angular="text-angular" name="htmlcontent2" ng-model="reviewModalCtrl.review"
                     ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                </div>
            </div>
        </div>       
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2" style="margin-top:20px">
                    <label>{{'KIRIM_KE' | translate}}</label>
                </div>
                <div class="col-md-5">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input  type="checkbox" ng-model="reviewModalCtrl.checkCommittee" /> <label>{{'COMMITTEE' | translate}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input  type="checkbox" ng-model="reviewModalCtrl.checkVendor"/> <label>{{'VENDOR' | translate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1" style="margin-top:10px">
                    <button class="btn btn-success" ng-click="reviewModalCtrl.simpan()" title="{{'SAVE' | translate}}"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>