﻿<div class="modal-content" ng-init="signatureModalCtrl.init()">
    <h2 class="center-vertical">{{'LABEL.SIGNATURE' | translate}}</h2>
    <div class="container-fluid">
        <div class="table">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="center-vertical" style="width: 20px;">No</th>
                        <th class="center-vertical">{{'LABEL.EMPNAME' | translate}}</th>
                        <th class="center-vertical">{{'LABEL.DEPT' | translate}}</th>
                        <th class="center-vertical">{{'LABEL.POSITION' | translate}}</th>
                        <th class="center-vertical">{{'LABEL.TYPE' | translate}}</th>
                        <th class="center-vertical">{{'LABEL.APRVDATE' | translate}}</th>
                        <th class="center-vertical" style="width: 50px;">{{'LABEL.ACTION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in signatureModalCtrl.dataSignature">
                        <td class="center-vertical">{{signatureModalCtrl.currentPage > 1 ? (signatureModalCtrl.pageSize * (signatureModalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                        <td>
                            <span ng-if="data.VendorID == null">{{data.EmployeeName ? data.EmployeeName: '-'}}</span>
                            <span ng-if="data.VendorID != null">{{data.VendorName ? data.VendorName: '-'}}</span>
                        </td>
                        <td>{{data.EmployeeDepartment ? data.EmployeeDepartment: '-'}}</td>
                        <td>{{data.EmployeePosition ? data.EmployeePosition: '-'}}</td>
                        <td>
                            <span ng-if="data.VendorID == null">Committee</span>
                            <span ng-if="data.VendorID != null">Vendor</span>
                        </td>
                        <td>
                            <span ng-if="data.ModifiedDate">{{data.ModifiedDate | date: 'dd/MM/yyyy'}}</span>
                            <span ng-if="!data.ModifiedDate">-</span>
                        </td>
                        <td class="center-vertical">
                            <input type="checkbox" ng-model="data.Status" ng-change="signatureModalCtrl.check(data)" ng-checked="data.Status" ng-disabled="signatureModalCtrl.ubah == 0">
                        </td>
                    </tr>
                    <tr ng-if="signatureModalCtrl.dataSignature.length === 0"><td colspan="7" class="center-vertical">{{'LABEL.NO_DATA' | translate}}</td></tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-5">
                    <label>Total items: {{signatureModalCtrl.totalItems}}</label>
                </div>
            </div>
            <div class="row" ng-if="signatureModalCtrl.totalItems > 5">
                <div class="col-md-7">
                    <ul uib-pagination total-items="signatureModalCtrl.totalItems" max-size="5"
                        ng-model="signatureModalCtrl.currentPage" items-per-page="signatureModalCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="signatureModalCtrl.jLoad(signatureModalCtrl.currentPage)" ng-if="signatureModalCtrl.totalItems > 5"></ul>
                    <br />
                </div>
            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="signatureModalCtrl.batal()" title="{{'LABEL.KEMBALI' | translate}}"><i class="fa fa-reply"></i></button>
            <button type="button" class="btn btn-primary" ng-if="signatureModalCtrl.ubah == 1" ng-click="signatureModalCtrl.simpan(data)" title="{{'LABEL.SIMPAN' | translate}}"><i class="fa fa-save"></i></button>
        </div>
    </div>