﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 200px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 200px;
        padding: 6px 12px;
    }

    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 200px;
        min-height: 200px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 200px;
        padding: 6px 12px;
    }
</style>
<div id="IdEditPegawai" class="modal-content" ng-init="summaryModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" ng-click="summaryModalCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'SUMMARY' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div text-angular="text-angular" name="htmlcontent2" ng-model="summaryModalCtrl.summary"
                     ta-text-editor-class="form-control myform2-height" ta-disabled="{{summaryModalCtrl.Status == 4503 ? false : true}}" ta-html-editor-class="form-control myform2-height">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="summaryModalCtrl.batal()" title="{{'BATAL'|translate}}">
            <i class="fa fa-reply"></i>
        </button>
        <button type="button" class="btn btn-success" ng-if="summaryModalCtrl.Status == 4503" ng-click="summaryModalCtrl.save()" title="{{'SIMPAN'|translate}}">
            <i class="fa fa-save"></i>
        </button>
    </div>
</div>