<section class="content" ng-init="TEJCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin" ><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{TEJCtrl.IDTender}}/{{TEJCtrl.ProcPackType}}/{{TEJCtrl.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li><a class="active" >{{'BREADCRUMB.TOTAL_EVALUASI'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 " style="padding-bottom: 5px;">
                            <h3 class="afta-font" >
                                {{TEJCtrl.nama_tahapan |translate}}
                            </h3>
                            <label>{{'TABLE.TENDER_NAME'|translate}} : {{TEJCtrl.TenderName}}</label>
                            <label class="pull-right"> {{'TABLE.STATUS_APP'|translate}}: {{TEJCtrl.listVendor[0].ApprovalStatusReff.Name | translate}}</label>
                            <!--<br/>-->
                            <!--<a ng-if="(TEJCtrl.listVendor[0].ApprovalStatusReff.Name != 'CR_DRAFT' && TEJCtrl.listVendor[0].ApprovalStatusReff.Name != 'CR_PROCESS_1')" class="btn btn-sm btn-success pull-right" ng-click="TEJCtrl.detailApproval()"><i class="fa fa-sitemap"></i> {{'TABLE.DETAIL_COMM'|translate}}</a>-->
                            
                        </div>
                        <label class="pull-right text-red" ng-if="TEJCtrl.dt.IsOvertime == true">{{'ERR_CHK_TIME' | translate}}</label>

                    </div>

                    <div class="row" style="padding-top: 10px!important;">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="tabelPeserta" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="7" class="text-center">{{'TABLE.RATING'|translate}}</th>
                                        </tr>
                                        <tr>
                                            <th><input type="checkbox" ng-disabled="TEJCtrl.flagCheckList == 0 || TEJCtrl.dt.IsOvertime == true"  ng-model="TEJCtrl.cek" ng-change="TEJCtrl.addCheck(1, TEJCtrl.cek)" /></th>
                                            <th class="text-center" width='20px'>No.</th>
                                            
                                            <th class="text-center">{{'TABLE.NAMA_PERUSAHAAN'|translate}}</th>
                                            <th class="text-center" style="width: 110px; min-width: 110px;">{{'TABLE.TEKNIS'|translate}} ({{TEJCtrl.ProsentaseTechnical}}%)</th>
                                            <th class="text-center" style="width: 110px; min-width: 110px;">{{'TABLE.HARGA'|translate}} ({{TEJCtrl.ProsentasePricing}}%)</th>
                                            <th class="text-center" style="width: 110px; min-width: 110px;">Total</th>
                                            <th class="text-center" style="width: 100px; min-width: 100px;">{{'TABLE.PERINGKAT'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="lv in TEJCtrl.listVendor">
                                            <td><input type="checkbox" ng-model="lv.IsCheck" ng-disabled="TEJCtrl.flagCheckList == false || TEJCtrl.dt.IsOvertime ==true" ng-change="TEJCtrl.addCheck(2, lv.IsCheck)" /></td>

                                            <td>{{$index+1}}</td>
                                            <td>{{lv.Vendor.VendorName}}</td>
                                            <td class="text-center">{{lv.score_technical.toFixed(2)}}</td>
                                            <td class="text-center">{{lv.score_pricing.toFixed(2)}}</td>
                                            <td class="text-center">{{lv.score_total.toFixed(2)}}</td>
                                            <td class="text-center">{{lv.rank}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <div class="text-center">
                                <a ng-click="TEJCtrl.backDetailTahapan()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                                <!--<a ng-click="TEJCtrl.sendToApproval()" ng-if="TEJCtrl.flagCheckList === true" class="btn btn-sm btn-flat btn-success" title="{{'BTN.SEND'|translate}}"><i class="fa fa-envelope"></i>&nbsp;</a>-->&nbsp;
                                <a ng-click="TEJCtrl.approve()" ng-if="TEJCtrl.flagCheckList === true" class="btn btn-sm btn-flat btn-success" title="{{'BTN.SAVE'|translate}}"><i class="fa fa-check"></i></a>&nbsp;
                                <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="TEJCtrl.print()">
                                    <i class='fa fa-print'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>