<div class="modal-content" ng-init="assRevCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="assRevCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'FINANCE_REVIEWER'|translate}}</h3>
        <h5 class="modal-title afta-font" id="myModalLabel">{{assRevCtrl.tenderCode}} - {{assRevCtrl.projectTitle}}</h5>
    </div>
    <div class="modal-body">
        <div>
            <div class="row" ng-if="assRevCtrl.isProcess1">
                <div class="col-md-12">
                    <button ng-click="assRevCtrl.selectNewReviwer()" class="btn btn-sm btn-success pull-right" title="{{'TAMBAH_REVIEWER'|translate}}"><i class="fa fa-plus"></i>&nbsp;{{'TAMBAH'|translate}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'REVIEWERS'|translate}} : </label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.NAMA' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                        <th ng-if="assRevCtrl.isProcess1" class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in assRevCtrl.crRevs">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.EmployeeFullName}}</td>
                                        <td>{{dt.EmployeePositionName}}</td>
                                        <td class="text-center">{{dt.ReviewDate | date : "dd/MM/yyyy"}}</td>
                                        <td class="text-center">{{dt.ReviewStatus | translate}}</td>
                                        <td>{{dt.Remark}}</td>
                                        <td ng-if="assRevCtrl.isProcess1" class="text-center">
                                            <button ng-if="!dt.ReviewDate" ng-click="assRevCtrl.deleteReviewer(dt)" class="btn btn-xs btn-danger" title="{{'HAPUS'|translate}}"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                    <tr ng-if="assRevCtrl.crRevs.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="assRevCtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>