<section class="content" ng-init="dataCRDACtrl.init()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a>{{'BREADCRUMB.MASTER_REQUISITION' | translate}}</a></li>
		<li><a href="#/data-contract-requisition">{{'BREADCRUMB.DATA_CONTRACT_REQUISITION' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.APPROVAL' | translate}}</a></li>
	</ol>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-success">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel">{{'DATA_CONTRACT_REQUISITION' | translate}}</h3>
						</div>
					</div>
					<div class="row well" style="margin-bottom: 2px;margin-left:1px;margin-right:1px">
						<div class="col-md-12">
							<label>Filter </label>
						</div>
						<div class="form-group">
							<div class="col-md-2">
								<select class="form-control input-sm" ng-change="dataCRDACtrl.onFilterTypeChange(column)" ng-model="column">
									<option value="1" ng-selected="true">{{'FILTER.NOMOR_TENDER' | translate}}</option>
									<option value="2">{{'FILTER.RFQ' | translate}}</option>
									<option value="3">Contract Number</option>
								</select>
							</div>

						</div>
						<div class="form-group">
							<div class="col-md-8">
								<form ng-submit="dataCRDACtrl.onSearchClick(keyword)">
									<input type="text" class="form-control input-sm" ng-model="keyword" />
								</form>
							</div>
						</div>						
						<div class="form-group">
							
							<div class="col-md-2" style="margin-top:-25px;display:initial">
								<label>Approval &nbsp; </label>
								<select class="form-control input-sm" ng-change="dataCRDACtrl.onFilterStatusChange()" ng-model="dataCRDACtrl.statusName">
									<option value="CR_PROCESS_1">{{'STATUS.ON_PROCESS' | translate}}</option>
									<option value="CR_APPROVED">{{'STATUS.APPROVED' | translate}}</option>
									<option value="CR_REJECT_1">{{'STATUS.REJECTED' | translate}}</option>
									<option value="ALL">{{'STATUS.ALL' | translate}}</option>
								</select>
								
							</div>
						</div>
					</div>

					<div class="row turun-15">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
											<th class="center-vertical" width="80">{{'TABLE.NOMOR_TENDER' | translate}}</th>
											<th class="center-vertical">{{'TABLE.RFQ' | translate}}</th>
											<th class="center-vertical" width="80">{{'TABLE.JENIS_CR' | translate}}</th>
											<th class="center-vertical" width="80">Request Type</th>
											<!--<th class="center-vertical" width="60">{{'TABLE.TANGGAL_BUAT' | translate}}</th>-->
											<th class="center-vertical" width="60">{{'TABLE.TANGGAL_PENGAJUAN' | translate}}</th>
											<th class="center-vertical" width="60">Final Approve</th>
											<th class="center-vertical" width="80">{{'TABLE.STATUS' | translate}}</th>
											<th class="center-vertical">Contract Number</th>
											<th class="center-vertical" width="100">Approval</th>
											<th class="center-vertical" width="100">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dt in dataCRDACtrl.contractRequisition">
											<td class="text-center" style="vertical-align: middle;">{{$index + 1 + (dataCRDACtrl.pageSize * (dataCRDACtrl.currentPage - 1))}}</td>
											<td style="vertical-align: middle;">{{dt.TenderCode}}</td>
											<td style="vertical-align: middle;">{{dt.ProjectTitle}}</td>
											<td style="vertical-align: middle;">{{dt.IsCSMS === true ? 'CSMS' : (dt.IsCSMS === false ? 'Non CSMS' : '')}}</td>
											<td style="vertical-align: middle;">{{dt.RequestTypeName | translate}}</td>
											<!--<td class="text-center" style="vertical-align: middle;">{{dataCRDACtrl.convertDate(dt.Created)}}</td>-->
											<td class="text-center" style="vertical-align: middle;">{{dataCRDACtrl.convertDate(dt.ApprovalSubmissionDate)}}</td>
											<td class="text-center" style="vertical-align: middle;">{{dataCRDACtrl.convertDate(dt.FinalApprovedDate)}}</td>
											<td class="text-center" style="vertical-align: middle;">
												<span ng-if="!dt.VariationIsCancelled">{{dataCRDACtrl.statusLabels[dt.StatusName] | translate}}</span>
												<span ng-if="dt.VariationIsCancelled">{{'STATUS.CANCELLED' | translate}}</span>
											</td>
											<td style="vertical-align: middle;">{{dt.VariationOfContractNo}}</td>
											<td class="text-center" style="vertical-align: middle;">
												<a class="btn btn-flat btn-xs btn-primary" ng-click="dataCRDACtrl.detailContract(dt)" title="{{'TABLE.DETAIL' | translate}}"><i class='fa fa-external-link'></i></a>
												<a class="btn btn-flat btn-xs btn-warning" ng-click="dataCRDACtrl.menujuDokumen(dt)" title="{{'TABLE.DOKUMEN' | translate}}"><i class="fa fa-file-o"></i></a>
												<a class="btn btn-flat btn-xs btn-success" ng-click="dataCRDACtrl.detailApproval(dt)" title="{{'DETAIL_APPROVAL' | translate}}"><i class="fa fa-sitemap"></i></a>
											</td>
											<td class="text-center" style="vertical-align: middle;">
												<span ng-if="dt.IsApprovingTurn">
													<a class="btn btn-flat btn-xs btn-success" ng-click="dataCRDACtrl.approve(dt)" title="{{'APPROVE' | translate}}"><i class="fa fa-check"></i></a>
													<a class="btn btn-flat btn-xs btn-danger" ng-click="dataCRDACtrl.reject(dt)" title="{{'REJECT' | translate}}"><i class="fa fa-times"></i></a>
													<a class="btn btn-flat btn-xs btn-primary" ng-if="dt.IsFinanceApprover" ng-click="dataCRDACtrl.setReviewer(dt)" title="{{'ATUR_FINANCE_REVIEWER' | translate}}"><i class="fa fa-sitemap"></i></a>
												</span>
											</td>
										</tr>
										<tr ng-if="dataCRDACtrl.totalItems === 0">
											<td colspan="11" class="text-center">{{'TIDAK_ADA_DATA' | translate}}</td>
										</tr>
									</tbody>
								</table>
								<div class="row">
									<div class="col-sd-4 col-md-10">
										<ul uib-pagination total-items="dataCRDACtrl.totalItems"
											ng-model="dataCRDACtrl.currentPage" items-per-page="dataCRDACtrl.pageSize"
											previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="dataCRDACtrl.loadContracts()"></ul>
										<br /><label>{{'TOTAL_DATA' | translate}} : {{dataCRDACtrl.totalItems}}</label>
									</div>
								</div>

							</div>
							<div class="row turun-15">
								<div class="col-md-12">
									<a class="btn btn-flat btn-xs btn-primary" title="{{'TABLE.DETAIL' | translate}}"><i class='fa fa-external-link'></i></a> : {{'TABLE.DETAIL' | translate}}&nbsp;&nbsp;
									<a class="btn btn-flat btn-xs btn-warning" title="{{'TABLE.DOKUMEN' | translate}}"><i class="fa fa-file-o"></i></a> : {{'TABLE.DOKUMEN' | translate}}&nbsp;&nbsp;
									<a class="btn btn-flat btn-xs btn-success" title="{{'DETAIL_APPROVAL' | translate}}"><i class="fa fa-sitemap"></i></a> : {{'DETAIL_APPROVAL' | translate}}&nbsp;&nbsp;
									<a class="btn btn-flat btn-xs btn-success" title="{{'APPROVE' | translate}}"><i class="fa fa-check"></i></a> : {{'APPROVE' | translate}}&nbsp;&nbsp;
									<a class="btn btn-flat btn-xs btn-danger" title="{{'REJECT' | translate}}"><i class="fa fa-times"></i></a> : {{'REJECT' | translate}}&nbsp;&nbsp;
									<a class="btn btn-flat btn-xs btn-primary" title="{{'ATUR_FINANCE_REVIEWER' | translate}}"><i class="fa fa-sitemap"></i></a> : {{'ATUR_FINANCE_REVIEWER' | translate}}&nbsp;&nbsp;
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>