<div class="modal-content" ng-init="detAppDDCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detAppDDCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT'|translate}}</span></button>
        <h4 class="modal-title afta-font" id="myModalLabel">{{'REJECT_DD'|translate}} </h4>
        <h5 class="modal-title afta-font" id="myModalLabel">{{detAppDDCtrl.tenderCode}} - {{detAppDDCtrl.tenderName}}</h5>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.KET'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detAppDDCtrl.remark" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-danger" ng-click="detAppDDCtrl.reject()"><i class="fa fa-times"></i> Reject</button>
                                    <button class="btn btn-sm btn-default" ng-click="detAppDDCtrl.cancel()"><i class="fa fa-arrow-left"></i> {{'BATAL'|translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>