<div class="modal-content" ng-init="prAwardCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="prAwardCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'ITEM_YANG_DIMENANGKAN'|translate}}</h3>
        <h4 class="modal-title afta-font" id="myModalLabel">{{prAwardCtrl.tenderName}}</h4>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'TABLE.REKANAN'|translate}} : </label>
                        <label class="control-label">{{prAwardCtrl.vendorName}}</label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.PR'|translate}}</th>
                                        <th class="center-vertical">Material</th>
                                        <th class="center-vertical">{{'TABLE.PN'|translate}}</th>
                                        <th class="center-vertical">{{'TABLE.DESCRIPTION'|translate}}</th>
                                        <th class="center-vertical">Delivery Date (SAP)</th>
                                        <th class="center-vertical" style="width:50px;">Lead Time (days)</th>
                                        <th class="center-vertical">
                                            Est. Delivery Date
                                            <a class="btn btn-xs btn-flat btn-info" uib-popover="(Evaluation End Date + Lead Time + 7 days)" popover-trigger="mouseenter"><i class="fa fa-exclamation-circle" /></a>
                                        </th>
                                        <th class="center-vertical" style="width:50px;">Diff. days</th>
                                        <!--<th class="center-vertical">{{'TABLE.QTY'|translate}}</th>-->
                                        <!--<th class="center-vertical">{{'TABLE.UOM'|translate}}</th>-->
                                        <!--<th class="center-vertical">Unit Cost</th>-->
                                        <!--<th class="center-vertical">Total Cost</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in prAwardCtrl.itemPRs">
                                        <td class="text-center">{{((prAwardCtrl.pageNumber - 1) * prAwardCtrl.pageSize) + $index + 1}}</td>
                                        <td class="text-center">{{item.PurchaseReq}}</td>
                                        <td class="text-center">{{item.Material}}</td>
                                        <td class="text-center">{{item.MPNMaterial}}</td>
                                        <td class="middle-vertical">
                                            {{item.ShortText}} {{item.ItemText}} {{item.MaterialPOText}} {{item.HeaderNote}} {{item.ItemNote}} {{item.DeliveryText}} {{item.NoteForBuyer}}
                                        </td>
                                        <td class="text-center">{{item.DeliveryDate | date : "dd/MM/yyyy"}}</td>
                                        <td class="text-center">{{item.AwardedVendorLeadTime}}</td>
                                        <td class="text-center">{{item.DeliveryDateEst | date : 'dd/MM/yyyy'}}</td>
                                        <td class="text-center">{{item.DeliveryDurrationDiff}}</td><!--<td class="text-center">{{item.Quantity}}</td>-->
                                        <!--<td class="text-center">{{item.UnitMeasure}}</td>-->
                                        <!--<td style="text-align:right;">{{item.AwardedVendorUnitPrice | currency : item.AwardedVendorCurrency + ' '}}</td>-->
                                        <!--<td style="text-align:right;">{{item.AwardedVendorTotalPrice | currency : item.AwardedVendorCurrency + ' '}}</td>-->
                                    </tr>
                                    <tr ng-if="prAwardCtrl.itemPRs.length === 0">
                                        <td colspan="9">{{'TIDAK_ADA_ITEM' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <ul uib-pagination total-items="prAwardCtrl.count" max-size="10" ng-model="prAwardCtrl.pageNumber" items-per-page="prAwardCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="prAwardCtrl.loadItem()" boundary-links="true" first-text="&laquo;" last-text="&raquo;"></ul>
                            <br/>
                            <label>{{'TOTAL_DATA' | translate}} : {{prAwardCtrl.count}}</label>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-sm btn-default" ng-click="prAwardCtrl.cancel()" title="{{'TUTUP' | translate}}"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>
</div>