<section class="content" ng-init="AwardReportCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">Standard Award Report</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="pull-left">
                                <div class="img-logo-vale-small">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="text-center margin-atas">
                                <label>PROCUREMENT AWARD REPORT<br />PROCUREMENT DEPARTMENT</label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="table-responsive">
                                        <table id="example1" class="table" style="border-color:white!important;">
                                            <thead>
                                                <tr>
                                                    <td class="text-left" width="50%">Procurement Senior Management</td>
                                                    <td class="text-left" width="50%">Procurement Indonesia</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" width="50%">Procurement Management Area</td>
                                                    <td class="text-left" width="50%">{{AwardReportCtrl.awardReport.StockOrDirect}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" width="50%">Procurement Analyst</td>
                                                    <td class="text-left" width="50%">{{AwardReportCtrl.awardReport.Employee.FullName}}&nbsp;{{AwardReportCtrl.awardReport.Employee.SurName}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" width="50%">PAR Identification</td>
                                                    <td class="text-left" width="50%">
                                                        <span ng-if="AwardReportCtrl.ProcPackType==4190 && AwardReportCtrl.awardReport.ListItemPr!=null">{{AwardReportCtrl.awardReport.ListItemPr[0].PONumber}}</span>
                                                        <span ng-if="AwardReportCtrl.ProcPackType==3168||AwardReportCtrl.ProcPackType==4189">{{AwardReportCtrl.awardReport.PONumber}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" width="50%">Requisition Number</td>
                                                    <td class="text-left" width="50%">{{AwardReportCtrl.awardReport.Tender.TenderCode}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" width="50%">Requisition Release Date</td>
                                                    <td class="text-left" width="50%">
                                                        <span ng-if="AwardReportCtrl.ProcPackType==4189">{{AwardReportCtrl.awardReport.ContractRequisition.PublishedDate|date:"dd-MM-yyyy"}}</span>
                                                        <span ng-if="AwardReportCtrl.ProcPackType!=4189">{{AwardReportCtrl.awardReport.RFQ.PublishedDate|date:"dd-MM-yyyy"}}</span>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4>Contracting Information </h4>
                        </div>
                        <div class="col-md-12">
                            <label>Process Characteristics (Sarbox): </label>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="100%">{{AwardReportCtrl.awardReport.Sarbox}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <label>Summary</label>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <textarea ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" type="text" ng-model="AwardReportCtrl.kuesioner.Summary" rows="3" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                            <label>Baseline</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example1" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="100" style="vertical-align:middle;">Reference</th>
                                                <th class="text-center" width="200" style="vertical-align:middle;">Project</th>
                                                <th class="text-center"width="100" style="vertical-align:middle;">Base Date</th>
                                                <th class="text-center"width="300" style="vertical-align:middle;">Items / Services Description</th>
                                                <th class="text-center"width="150" style="vertical-align:middle;">Total Updated Value (USD)</th>
                                                <th class="text-center" width="135" style="vertical-align:middle;">Percentage Compare to History (%)</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody ng-if="AwardReportCtrl.ProcPackType==4190">
                                            <tr>
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.PONumber}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.Tender.TenderName}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.RFQ.PublishedDate|date:"dd-MM-yyyy"}}</td>
                                                <td class="text-center" style="vertical-align:middle;"><button class="btn btn-sm btn-warning" ng-click="AwardReportCtrl.detailItem(AwardReportCtrl.awardReport,4190)" title="Detail Item"><i class="fa fa-list"></i></button></td>
                                                <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.TotalUpdatedValue|currency:""}}</td>
                                                <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.ComparetoHistory}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-if="AwardReportCtrl.ProcPackType==3168">
                                            <tr >
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.PONumber}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.Tender.TenderName}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.RFQ.PublishedDate|date:"dd-MM-yyyy"}}</td>
                                                <td class="text-center" style="vertical-align:middle;">
                                                    <button class="btn btn-sm btn-warning" ng-click="AwardReportCtrl.detailItem(AwardReportCtrl.awardReport,3168)" title="Detail Item"><i class="fa fa-list"></i></button>
                                                </td>
                                                
                                                <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.TotalUpdatedValue|currency:""}}</td>
                                                <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.ComparetoHistory}}</td>
                                            </tr>
                                            <!--<tr>
                                                <th class="text-right" colspan="4">Total: </th>
                                                <th class="text-right">{{AwardReportCtrl.awardReport.TotalUpdatedValue|currency:""}}</th>
                                                <th class="text-right">{{AwardReportCtrl.awardReport.ComparetoHistory}}</th>
                                            </tr>-->
                                        </tbody>
                                        <tbody ng-if="AwardReportCtrl.ProcPackType==4189">
                                            <tr >
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.PONumber}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.Tender.TenderName}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.ContractRequisition.PublishedDate|date:"dd-MM-yyyy"}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.ContractRequisition.ProjectTitle}}</td>

                                                <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.Negosiasi.UpdatedValue|currency:""}}</td>
                                                <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.Negosiasi.ComparetoHistory}}</td>
                                            </tr>
                                            <tr>
                                                <th class="text-right" colspan="4">Total: </th>
                                                <th class="text-right">{{AwardReportCtrl.awardReport.TotalUpdatedValue|currency:""}}</th>
                                                <th class="text-right">{{AwardReportCtrl.awardReport.ComparetoHistory}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4>Invited Suppliers</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <p class="control-label col-md-8">Invited Suppliers</p>
                                            <div class="col-md-4">
                                                <input disabled ng-if="AwardReportCtrl.ProcPackType==4190" type="text" class="form-control input-sm" value="{{AwardReportCtrl.awardReport.RFQ.Vendors.length}}">
                                                <input disabled ng-if="AwardReportCtrl.ProcPackType==3168||AwardReportCtrl.ProcPackType==4189" ng-show="AwardReportCtrl.awardReport.TenderRegistration!=null"  type="text" class="form-control input-sm" value="{{AwardReportCtrl.awardReport.TenderRegistration.length}}">
                                                <input disabled ng-if="AwardReportCtrl.ProcPackType==3168||AwardReportCtrl.ProcPackType==4189" ng-show="AwardReportCtrl.awardReport.TenderRegistration==null" type="text" class="form-control input-sm" value="{{AwardReportCtrl.kuesioner.TenderAwardInvitedVendor.length}}">
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                                <div class="col-md-3">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <p class="control-label col-md-8">Attended</p>
                                            <div class="col-md-4">
                                                <input disabled type="text" class="form-control input-sm" ng-if="AwardReportCtrl.awardReport.TenderRegistration!=null"  value="{{AwardReportCtrl.awardReport.TenderRegistration.length}}">
                                                <input disabled ng-if="AwardReportCtrl.awardReport.TenderRegistration==null" type="text" class="form-control input-sm" value="{{AwardReportCtrl.kuesioner.TenderAwardInvitedVendor.length}}">
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                                <div class="col-md-3">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <p class="control-label col-md-8">Technically Approved</p>
                                            <div class="col-md-4">
                                                <input disabled type="text" class="form-control input-sm "value="{{AwardReportCtrl.awardReport.TechnicalApproved}}">
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                                <div class="col-md-3">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <p class="control-label col-md-8">Negotiated</p>
                                            <div class="col-md-4">
                                                <input disabled type="text" class="form-control input-sm"value="{{AwardReportCtrl.awardReport.NegotiatedVendorCount}}">
                                            </div>
                                        </div>
                                    </form> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example1" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="300" style="vertical-align:middle;">Suppliers</th>
                                                <th class="text-center" width="200" style="vertical-align:middle;">Country</th>
                                                <th class="text-center" width="100" style="vertical-align:middle;">Status</th>
                                                <th class="text-center"  style="vertical-align:middle;">Comments</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="rep in AwardReportCtrl.kuesioner.TenderAwardInvitedVendor">
                                                <td class="text-center" style="vertical-align:middle;">{{rep.Vendor.VendorName}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{rep.country}}</td>
                                                <td class="text-center" style="vertical-align:middle;">{{rep.Status}}</td>
                                                <td class="text-center" style="vertical-align:middle;"><textarea ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" class="form-control input-sm" ng-model="rep.Remark" rows="1"></textarea></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row margin-atas-5">
                                <div class="col-md-12">
                                    <label>Additional Information: </label>
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-11">
                                            <textarea ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" type="text" ng-model="AwardReportCtrl.kuesioner.Info" ng-bind-html="AwardReportCtrl.kuesioner.Info" rows="3" class="form-control input-sm"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4>Negotiation and Equalized Proposal</h4>
                        </div>
                        <div class="col-md-12">
                            <label>1. Equalized Proposal</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table id="example1" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="vertical-align:middle;" rowspan="2">Supplier</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Taxes included and equalized?</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">IDF (Performance Supplier)</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2" width="10%">Payment Terms</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Equalized Proposal (USD)</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Proposal - First Revision (USD)</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Proposal - Second Revision (USD)</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Proposal - Third Revision (USD)</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Negotiated Proposal (USD)</th>
                                                    <th class="text-center" style="vertical-align:middle;" colspan="2">Variation: Negotiated Proposal / Equalized Proposal</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Contract total amount (USD)</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Total amount delivered on site (DDP)</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2" width="10%">Related Party</th>
                                                    <th class="text-center" style="vertical-align:middle;"rowspan="2">Integrity Risk</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center" style="vertical-align:middle;">%</th>
                                                    <th class="text-center" style="vertical-align:middle;"></th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <tr ng-repeat="award in AwardReportCtrl.kuesioner.TenderAwardVendor">
                                                    <td class="text-center" style="vertical-align:middle;">{{award.Vendor.VendorName}}</td>
                                                    <td class="text-center" style="vertical-align:middle;"><select ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" class="form-control input-sm" ng-model="award.IsIncludedTax" ng-options="(item?'Yes':'No') for item in [true, false]"></select></td>
                                                    <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.CPRScore}}</td>
                                                    <td class="text-center" style="vertical-align:middle;"> 
                                                        <span ng-if="AwardReportCtrl.ProcPackType==3168||AwardReportCtrl.ProcPackType==4190">{{award.PaymentTerm}}&nbsp;days</span>
                                                        <span ng-if="AwardReportCtrl.ProcPackType==4189">
                                                            <select ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" id="cmbStatus" name="cmbStatus" ng-model="award.PaymentTermData" class="form-control input-sm"
                                                                    ng-options="item as item.Name for item  in award.PaymentTermList"></select>

                                                        </span>
                                                    </td>
                                                    <td class="text-right" style="vertical-align:middle;">{{award.OEPrice|currency:""}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">
                                                        {{award.HistoryNegoPrice1|currency:""}}
                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle;">
                                                        {{award.HistoryNegoPrice2|currency:""}}
                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle;">
                                                        {{award.HistoryNegoPrice3|currency:""}}
                                                    </td>
                                                    <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.Negosiasi.NegotiationPriceUSD|currency:""}}</td>
                                                    <td class="text-right" style="vertical-align:middle;">{{award.VariationPersen}}%</td>
                                                    <td class="text-right" style="vertical-align:middle;">{{award.VariationValue}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">{{award.NegoPrice|currency:""}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">{{award.NegoPrice|currency:""}}</td>
                                                    <td class="text-center" style="vertical-align:middle;"><select ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" class="form-control input-sm" ng-model="award.IsRelatedParty1" ng-options="(item?'Yes':'No') for item in [true, false]"></select></td>
                                                    <td class="text-center" style="vertical-align:middle;">{{award.Vendor.categoryvendor|translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-atas-5">
                            <label>2. Contracting Recommendation</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table id="example1" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="vertical-align:middle;" rowspan="2"width="20%"></th>
                                                    <th class="text-center" style="vertical-align:middle;"></th>
                                                    <th class="text-center" style="vertical-align:middle;">Approval Rate</th>
                                                    <th class="text-center" style="vertical-align:middle;" colspan="6">Supplier Approval Information </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center" style="vertical-align:middle;" >Items / Site</th>
                                                    <th class="text-center" style="vertical-align:middle;">Recommended Contracted (USD)</th>
                                                    <th class="text-center" style="vertical-align:middle;">Agreement period (days)</th>
                                                    <th class="text-center" style="vertical-align:middle;">Incoterms (2010)</th>
                                                    <th class="text-center" style="vertical-align:middle;">Litigant Supplier</th>
                                                    <th class="text-center" style="vertical-align:middle;">Financial Risk</th>
                                                    <th class="text-center" style="vertical-align:middle;">Related Party</th>
                                                    <th class="text-center" style="vertical-align:middle;">Integrity Risk</th>
                                                </tr>
                                            </thead>
                                            <tbody >
                                                <tr ng-repeat="award in AwardReportCtrl.kuesioner.TenderAwardVendor">
                                                    <td class="text-center" style="vertical-align:middle;">{{award.Vendor.VendorName}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">
                                                        <span ng-if="AwardReportCtrl.ProcPackType==3168||AwardReportCtrl.ProcPackType==4190">{{award.FreightCost.DeliveryState}}</span>
                                                        <span ng-if="AwardReportCtrl.ProcPackType==4189">{{award.Vendor.Area}}</span>
                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle;">{{award.NegoPrice|currency:""}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">
                                                        <span ng-if="AwardReportCtrl.ProcPackType==4190"> {{AwardReportCtrl.kuesioner.DiffDays}}</span>
                                                        <span ng-if="AwardReportCtrl.ProcPackType==3168||AwardReportCtrl.ProcPackType==4189"> {{AwardReportCtrl.awardReport.DiffDays}}</span>

                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle;">
                                                        <span ng-if="AwardReportCtrl.ProcPackType==3168||AwardReportCtrl.ProcPackType==4190">{{award.IncoTerms.Name}}</span>
                                                        <span ng-if="AwardReportCtrl.ProcPackType==4189">
                                                            <select ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" id="cmbStatus" name="cmbStatus" ng-model="award.IncoTerms" class="form-control input-sm"
                                                                    ng-options="item as item.Name for item  in award.IncoTermList"></select>

                                                        </span>
                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle;"><select ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" class="form-control input-sm" ng-model="award.IsLitigantSupplier" ng-options="(item?'Yes':'No') for item in [true, false]"></select></td>
                                                    <td class="text-center" style="vertical-align:middle;">
                                                        <select ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" id="cmbStatus" name="cmbStatus" ng-model="award.FinancialRisk" class="form-control input-sm" 
                                                                ng-options="item as item.Name for item  in AwardReportCtrl.financialOpt">
                                                        </select>
                                                    </td>
                                                    <td class="text-center" style="vertical-align:middle;"><select ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" class="form-control input-sm" ng-model="award.IsRelatedParty2" ng-options="(item?'Yes':'No') for item in [true, false]"></select></td>
                                                    <td class="text-center" style="vertical-align:middle;">{{award.Vendor.categoryvendor|translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-atas-5">
                            <label>3. Saving </label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="table table-responsive">
                                        <table id="example1" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="vertical-align:middle;" colspan="2" width="20%"></th>
                                                    <th class="text-center" style="vertical-align:middle;" width="20%">Budget /Historical Price</th>
                                                    <th class="text-center" style="vertical-align:middle;"width="20%">EPV</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-center" style="vertical-align:middle;" rowspan="2">Saving (Negotiated Proposal) </th>
                                                    <th class="text-center" style="vertical-align:middle;"width="20%">Value (USD)</th>
                                                    <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.TotalHistoricalPrice}}</td>
                                                    <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.TotalEPV}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="vertical-align:middle;">%</td>
                                                    <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.HistoricalPricePercent}}</td>
                                                    <td class="text-right" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.EPVPercent}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="table table-responsive">
                                        <table id="example1" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="vertical-align:middle;" width="20%">Cost Avoidance </th>
                                                    <th class="text-center" style="vertical-align:middle;" width="20%">Cost Reduction</th>
                                                    <th class="text-center" style="vertical-align:middle;" width="20%">Total Cost Saving</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.CostAvoidance}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.CostReduction}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.TotalCostSaving}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.CostAvoidancePercent}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.CostReductionPercent}}</td>
                                                    <td class="text-center" style="vertical-align:middle;">{{AwardReportCtrl.awardReport.CostReductionPercent}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 margin-atas-5">
                            <label>> Negotiation / Equalization Historical Information and Important Comments Related to the Contract/PO</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" type="text" ng-model="AwardReportCtrl.kuesioner.HistoricalInfo" rows="10" class="form-control input-sm"></textarea>
                                    <!--<div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" ng-if="AwardReportCtrl.awardReport.Summary!=null">Background Information:<br /><span ng-bind-html="AwardReportCtrl.awardReport.Summary"></span></td>
                                                    <td width="100%" ng-if="AwardReportCtrl.awardReport.Summary==null">&nbsp;<br />&nbsp;<br />&nbsp;<br /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>-->
                                    <!--
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td width="100%">
                                                        Background Information:<br />
                                                        The contracting party is to supply mechanical material like bearing, v-belt, gear, o-ring, seal etc to support Mubadala Petroleum operation in Sorowako.<br />
                                                        SLS bearing is the largest exclusive distributor in Indonesia for this type of material and also have long term contract with big mining in Indonesia like Freeport, KPC and Newmont.<br />
                                                        <br />
                                                        Strategy<br />
                                                        Contract extension for one year<br />
                                                        <br />
                                                        Baseline:<br />
                                                        The Baseline utilized for this analysis was historical value form current contract 4600030051 ($ 2,171,686.67)<br />
                                                        EPV calculated is ($ 2,199,288.30) increase 1.27% from historical<br />
                                                        <br />
                                                        Equalization:<br />
                                                        No Assumption required for analysis.<br />
                                                        <br />
                                                        Final outcome is below:<br />
                                                        1. During multiple rounds of negotiations, several options were discussed to form the new rates for this contract specifically. This included:<br />
                                                        - Demand increase<br />
                                                        - Manufacture increase<br />
                                                        - Annual inflation<br />
                                                        - Exchange rate<br />
                                                        - Other sevice, since they have free onsite  service if we need help to solve problem regarding bearing, v-belt, gear, o-ring, seal etc<br />
                                                        <br />
                                                        During this negotiation we also discuss regarding repair bearing. They will give us proposal to learn more about this process.<br />
                                                        <br />
                                                        2. Supplier agreed using same price for 2019 periode, but we ask them to give 5% discount<br />
                                                        3. Supplier insist using 2018 price since there will price increase 7% from manufacture on April 2019<br />
                                                        4. We negotiated using demand increase, since one of candidate supermarket for mechanical items is SLS Bearing<br />
                                                        5. Supplier finally agreed to give discount with detail below :<br />
                                                        - Cost Avoidance : 1.28%<br />
                                                        - Cost Reduction :  1.03%<br />
                                                        - Total Saving : 2.31%<br />
                                                        <br />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4>Controls and Exception Information</h4>
                        </div>
                        <div class="col-md-12">
                            <label>> Exception Information </label>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="example1" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="35%" style="vertical-align:middle;">&nbsp;</th>
                                                <th class="text-center" width="10%" style="vertical-align:middle;">&nbsp;</th>
                                                <th class="text-left" width="25%" style="vertical-align:middle;"><small>Justifications of the selected options: </small></th>
                                                <th class="text-center" width="30%" style="vertical-align:middle;">Attach</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="kues in AwardReportCtrl.kuesioner.TenderAwardQuestAnswer">
                                                <td class="text-left">{{kues.MstAwardQuestQuestion.Question}}</td>
                                                <td class="text-center">
                                                    <select ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" class="form-control input-sm" ng-model="kues.Answer" ng-options="(item?'Yes':'No') for item in [true, false]">
                                                    </select>
                                                </td>
                                                <td class="text-center"><textarea ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" class="form-control input-sm" ng-model="kues.Remark" rows="1"></textarea></td>
                                                <td class="text-left">
                                                    <form class="form-horizontal">
                                                        <div class="form-group">
                                                            <div class="col-md-8">
                                                                <input ng-disabled="AwardReportCtrl.awardReport.Award.SendApprovalDate!=null && AwardReportCtrl.awardReport.Award.ApprovalStatus!=2073&&AwardReportCtrl.awardReport.Award.ApprovalStatus!=4230" class="form-control input-sm " type="file" ng-file-select="AwardReportCtrl.singleDoc" ng-change="AwardReportCtrl.uploadDoc($index)"
                                                                       ng-model="AwardReportCtrl.singleDoc" name="ownerIDFile" required accept="{{AwardReportCtrl.idFileTypes}}" />
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a class="btn btn-sm btn-primary" href="{{AwardReportCtrl.folderFile+kues.DocUrl}}" target="_blank" title="Download" ng-if="kues.DocUrl!=null"><i class="fa fa-download"></i></a>
                                                                <button class="btn btn-sm btn-danger" ng-click="AwardReportCtrl.deleteDoc($index)" title="{{'CANCEL'|translate}}" ng-if="kues.DocUrl!=null"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <small> ( <span ng-repeat="ft in AwardReportCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{AwardReportCtrl.idUploadConfigs[0].Size}} {{AwardReportCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                                            </div>
                                                        </div>
                                                    </form> 


                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <button ng-show="AwardReportCtrl.awardReport.Award.SendApprovalDate==null||AwardReportCtrl.awardReport.Award.ApprovalStatus==2073||AwardReportCtrl.awardReport.Award.ApprovalStatus==4230" class="btn btn-sm btn-success" ng-click="AwardReportCtrl.simpanKuesioner()" title="{{'SAVE'|translate}}"><i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4>Approval</h4>
                            <div class="row">
                                <div class="col-md-5 margin-atas-5">
                                    # Purchase Total Value (Competence Approval Calculation): 
                                </div>
                                <div class="col-md-1 margin-atas-5">
                                    <div class="text-right">
                                        USD
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="form-control input-sm" value="{{AwardReportCtrl.negoPriceDec}}" disabled />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--approval-->
                    <div class="row margin-atas">
                        <div class="col-md-2">
                            <div class="pull-left">
                                <div class="img-logo-vale-small">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="text-center margin-atas">
                                <label>PROCUREMENT AWARD REPORT<br />PROCUREMENT DEPARTMENT</label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="table-responsive">
                                        <table id="example1" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td class="text-left" width="50%">Procurement Analyst</td>
                                                    <td class="text-left" width="50%">{{AwardReportCtrl.awardReport.Employee.FullName}}&nbsp;{{AwardReportCtrl.awardReport.Employee.SurName}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" width="50%">PAR Identification</td>
                                                    <td class="text-left" width="50%">
                                                        <span ng-if="AwardReportCtrl.ProcPackType==4190 && AwardReportCtrl.awardReport.ListItemPr!=null">{{AwardReportCtrl.awardReport.ListItemPr[0].PONumber}}</span>
                                                        <span ng-if="AwardReportCtrl.ProcPackType==3168||AwardReportCtrl.ProcPackType==4189">{{AwardReportCtrl.awardReport.PONumber}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left" width="50%">PAR Amount in USD</td>
                                                    <td class="text-left" width="50%">{{AwardReportCtrl.negoPriceDec}}</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="text-center">
                                <label>ELECTRONIC APPROVAL</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <table id="example1" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="20%" style="vertical-align:middle;">Level</th>
                                                <th class="text-center" width="40%" style="vertical-align:middle;">Name</th>
                                                <th class="text-center" width="20%" style="vertical-align:middle;">Date</th>
                                                <th class="text-center" width="20%" style="vertical-align:middle;">Digitally Signed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">Procurement Analyst</td>
                                                <td class="text-center">{{AwardReportCtrl.awardReport.Employee.FullName}}&nbsp;{{AwardReportCtrl.awardReport.Employee.SurName}}</td>
                                                <td class="text-center">
                                                    <span ng-if="AwardReportCtrl.ProcPackType==4189">{{AwardReportCtrl.awardReport.ContractRequisition.PublishedDate|date:"dd-MM-yyyy"}}</span>
                                                    <span ng-if="AwardReportCtrl.ProcPackType!=4189">{{AwardReportCtrl.awardReport.RFQ.PublishedDate|date:"dd-MM-yyyy"}}</span>
                                                </td>
                                                <td class="text-center">&nbsp;</td>
                                            </tr>
                                            <tr ng-repeat="aw in AwardReportCtrl.awardReport.AwardApproval">
                                                <td class="text-center">{{aw.LevelInfoEmp}}</td>
                                                <td class="text-center">
                                                    {{aw.MstEmployee.FullName}}&nbsp;{{aw.MstEmployee.SurName}}
                                                </td>
                                                <td class="text-center">{{aw.ApprovalDate|date:"dd-MM-yyyy"}}</td>
                                                <td class="text-center">
                                                    {{aw.Remark}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="text-center">
                                <button class="btn btn-sm btn-success" ng-if="AwardReportCtrl.ProcPackType==4189 && AwardReportCtrl.isApprover.column==1" ng-click="AwardReportCtrl.approve()" title="{{'Approve'|translate}}"><i class="fa fa-check"></i></button>
                                <button class="btn btn-sm btn-danger" ng-if="AwardReportCtrl.ProcPackType==4189 && AwardReportCtrl.isApprover.column==1 " ng-click="AwardReportCtrl.reject()" title="{{'REJECT' | translate}}"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-primary" ng-click="AwardReportCtrl.back()" title="{{'BACK'|translate}}"><i class="fa fa-arrow-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>