﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div class="modal-content" ng-init="DetailItemPARCtrl.init()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <table id="example1" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center" width="100" style="vertical-align:middle;">Reference</th>
                            <th class="text-center" width="100" style="vertical-align:middle;">Project</th>
                            <th class="text-center" width="100" style="vertical-align:middle;">Base Date</th>
                            <th class="text-center" width="300" style="vertical-align:middle;">Items / Services Description</th>
                            <th class="text-center" width="200" style="vertical-align:middle;">Updated Value (USD)</th>
                            <th class="text-center" width="135" style="vertical-align:middle;">Percentage Compare to History (%)</th>
                        </tr>
                    </thead>
                    <tbody ng-if="DetailItemPARCtrl.ProcPackType==4190">
                        <tr ng-repeat="itempr in DetailItemPARCtrl.awardReport.ListItemPr">
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.PONumber}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.Tender.TenderName}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.RFQ.PublishedDate|date:"dd-MM-yyyy"}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{itempr.ShortText}} {{itempr.Mfr_No}} {{itempr.Mfr_Name}} {{itempr.Manu_Mat}}<br />{{itempr.Purch_OrderText}} {{itempr.PO_ItemText}} TARIFF CODE: {{itempr.TariffCode}} /CONC. CAT: {{itempr.ConcessCat}}</td>
                            <td class="text-right" style="vertical-align:middle;">{{itempr.UpdatedValue|currency:""}}</td>
                            <td class="text-right" style="vertical-align:middle;">{{itempr.ComparetoHistory}}</td>
                        </tr>
                    </tbody>
                    
                    <tbody ng-if="DetailItemPARCtrl.ProcPackType==3168">
                        <tr ng-repeat="itempr in DetailItemPARCtrl.awardReport.ListVHSItem">
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.PONumber}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.Tender.TenderName}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.RFQ.PublishedDate|date:"dd-MM-yyyy"}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{itempr.MaterialDescription}}</td>

                            <td class="text-right" style="vertical-align:middle;">{{itempr.UpdatedValue|currency:""}}</td>
                            <td class="text-right" style="vertical-align:middle;">{{itempr.ComparetoHistory}}</td>
                        </tr>
                        <!--<tr>
                            <th class="text-right" colspan="4">Total: </th>
                            <th class="text-right">{{DetailItemPARCtrl.awardReport.TotalUpdatedValue|currency:""}}</th>
                            <th class="text-right">{{DetailItemPARCtrl.awardReport.ComparetoHistory}}</th>
                        </tr>-->
                    </tbody>
                    <!--
                    <tbody ng-if="DetailItemPARCtrl.ProcPackType==4189">
                        <tr>
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.PONumber}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.Tender.TenderName}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.ContractRequisition.PublishedDate|date:"dd-MM-yyyy"}}</td>
                            <td class="text-center" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.ContractRequisition.ProjectTitle}}</td>

                            <td class="text-right" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.Negosiasi.UpdatedValue|currency:""}}</td>
                            <td class="text-right" style="vertical-align:middle;">{{DetailItemPARCtrl.awardReport.Negosiasi.ComparetoHistory}}</td>
                        </tr>
                        <tr>
                            <th class="text-right" colspan="4">Total: </th>
                            <th class="text-right">{{DetailItemPARCtrl.awardReport.TotalUpdatedValue|currency:""}}</th>
                            <th class="text-right">{{DetailItemPARCtrl.awardReport.ComparetoHistory}}</th>
                        </tr>
                    </tbody>
                        -->
                </table>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="DetailItemPARCtrl.close()" title="Kembali"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>