﻿<div class="modal-content" ng-init="ApprovalNoSAPModalCtrl.init()">
	<div class="modal-body">
		<form role="form" name="formAdd">
			<div class="row">
				<div class="col-md-12 center-block" style="float: none!important;">
					<div class="row">
						<div class="col-md-12">
							<div class="box-header">
								<h4 class="box-title afta-font" style="margin-left:10px;">{{'CONFIRM_APPROVE_NOSAP'|translate}} {{ApprovalNoSAPModalCtrl.item.TenderName}} ?</h4>
							</div>
							<div class="box-body pad">
								<textarea ng-model="ApprovalNoSAPModalCtrl.comment" name="editor1" cols="120" rows="7" placeholder="{{'DESC'|translate}}"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-success" ng-click="ApprovalNoSAPModalCtrl.approve()" title="Approve">
			<i class="glyphicon glyphicon-ok"></i>&nbsp;
		</button>
		<button type="button" class="btn btn-flat btn-danger" ng-click="ApprovalNoSAPModalCtrl.batal()" title="{{'CANCEL'|translate}}">
			<i class="glyphicon glyphicon-remove"></i>&nbsp;
		</button>
	</div>
</div>