﻿<div ng-init="viewVendorCtrl.init()" class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="viewVendorCtrl.cancel()" title="{{'CLOSE' | translate}}">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only"></span>
		</button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'SELECTED_VENDOR' | translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center" style="vertical-align:middle">No.</th>
							<th class="text-center" style="vertical-align:middle">{{'TABLE.VENDOR_NAME' | translate}}</th>
							<th class="text-center" style="vertical-align:middle" ng-if="viewVendorCtrl.result.ApprvTypeName != 'evaluasi-safety' && viewVendorCtrl.result.ApprvTypeName != 'evaluasi-teknis-barang' && viewVendorCtrl.result.ApprvTypeName !== 'evaluasi-teknis-vhs' && viewVendorCtrl.result.ApprvTypeName !== 'evaluation-technical' && viewVendorCtrl.result.ApprvTypeName !== 'aanwijzing' && viewVendorCtrl.result.ApprvTypeName != 'pengumuman-pengadaan'">{{'ENTRY_DATE' | translate}}</th>
							<th class="text-center" style="vertical-align:middle" ng-if="viewVendorCtrl.result.ApprvTypeName == 'evaluasi-safety' || viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-barang' || viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-vhs' || viewVendorCtrl.result.ApprvTypeName == 'evaluation-technical' || viewVendorCtrl.result.ApprvTypeName == 'aanwijzing'viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-vhs' || viewVendorCtrl.result.ApprvTypeName == 'evaluation-technical' ">{{'IS_PASSED' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle" ng-if="viewVendorCtrl.result.ApprvTypeName == 'pengumuman-pengadaan'">{{'REVIEWED_DATE' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="vendor in viewVendorCtrl.vendors">
							<td class="center-vertical">{{viewVendorCtrl.currentPage > 1 ? (viewVendorCtrl.maxSize * (viewVendorCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
							<td style="vertical-align: middle;">{{vendor.VendorName}}</td>
							<td style="vertical-align: middle;" ng-if="viewVendorCtrl.result.ApprvTypeName !== 'evaluasi-safety' && viewVendorCtrl.result.ApprvTypeName !== 'evaluasi-teknis-barang' && viewVendorCtrl.result.ApprvTypeName !== 'evaluasi-teknis-vhs' && viewVendorCtrl.result.ApprvTypeName !== 'evaluation-technical' && viewVendorCtrl.result.ApprvTypeName !== 'aanwijzing'">{{vendor.ActivedDate | date:'dd MMMM yyyy HH:mm'}}</td>
							<td style="vertical-align: middle;" ng-if="(viewVendorCtrl.result.ApprvTypeName === 'evaluasi-safety' || viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-barang' || viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-vhs' || viewVendorCtrl.result.ApprvTypeName == 'evaluation-technical' || viewVendorCtrl.result.ApprvTypeName == 'aanwijzing') && vendor.IsActive">{{'PASSED' | translate}}</td>
							<td style="vertical-align: middle;" ng-if="(viewVendorCtrl.result.ApprvTypeName === 'evaluasi-safety' || viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-barang' || viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-vhs' || viewVendorCtrl.result.ApprvTypeName == 'evaluation-technical' || viewVendorCtrl.result.ApprvTypeName == 'aanwijzing') && !vendor.IsActive">{{'NOT_PASSED' | translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row" ng-if="viewVendorCtrl.result.ApprvTypeName === 'evaluasi-safety' || viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-barang' || viewVendorCtrl.result.ApprvTypeName == 'evaluasi-teknis-vhs' || viewVendorCtrl.result.ApprvTypeName == 'evaluation-technical'">
			<div class="col-md-12">
				<p>
					<b>{{'APPROVAL_SUMMARY' | translate}}</b>
				</p>
				<p>{{viewVendorCtrl.result.ApprovalSummary}}</p>
			</div>
		</div>
        <div class="row" ng-if="viewVendorCtrl.result.ApprvTypeName == 'pengumuman-pengadaan'">
            <div class="col-md-12">
                <p>
                    <b>{{'APPROVAL_SUMMARY' | translate}}</b>
                </p>
                <br />
                <span ng-bind-html="viewVendorCtrl.result.ApprovalSummary"></span>
            </div>
        </div>
		<div class="modal-footer">
			<button class="btn btn-sm btn-flat btn-primary" type="button" ng-click="viewVendorCtrl.cancel()" title="{{'BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>&nbsp;
			</button>
		</div>
	</div>
</div>
