﻿<div class="modal-content" ng-init="AddFPANewItemCtrl.init()">
    <div class="modal-header">
        <h3 class="modal-title afta-font" id="myModalLabel">{{'ADD_ITEM'|translate}} </h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Material Code *</label>
                            <input type="text" class="form-control" value="" name="material_code" ng-model="AddFPANewItemCtrl.data.material_code" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Item Description *</label>
                            <input type="text" class="form-control" value="" name="item_des" ng-model="AddFPANewItemCtrl.data.item_des" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Manufacture *</label>
                            <input type="text" class="form-control" value="" name="Manufacture" ng-model="AddFPANewItemCtrl.data.manufacture" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="part_no">Part Number : </label>
                            <input type="text" class="form-control" value="" name="part_no" ng-model="AddFPANewItemCtrl.data.part_no" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="estimation">Estimation : </label>
                            <input type="number" class="form-control" value="" name="estimation" ng-model="AddFPANewItemCtrl.data.estimation" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="uop">UOP : </label>
                            <input type="text" class="form-control" value="" name="uop" ng-model="AddFPANewItemCtrl.data.uop" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="currency">Currency : </label>
                            <select ng-model="AddFPANewItemCtrl.data.currency" class="form-control">
                                <option ng-repeat="curr in AddFPANewItemCtrl.currencyList" value="{{curr.Symbol}}">{{curr.Symbol}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="price">Price : </label>
                            <input currency-mask type="text" class="form-control" value="" name="price" ng-model="AddFPANewItemCtrl.data.PriceIDR" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="eadtim">LeadTime (Days) : </label>
                            <input type="number" class="form-control" value="" name="eadtim" ng-model="AddFPANewItemCtrl.data.eadtim" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="country">Country of Origin : </label>
                            <input type="text" class="form-control" value="" ng-model="AddFPANewItemCtrl.data.CountryOfOrigin" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="country">Remark : </label>
                            <input type="text" class="form-control" value="" name="eadtim" ng-model="AddFPANewItemCtrl.data.Remark" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row col-md-12 pull-right">
            <button type="button" class="btn btn-danger" ng-click="AddFPANewItemCtrl.cancel()"><i class="fa fa-arrow-circle-left"></i> {{'KEMBALI'|translate}}</button>
            <button type="button" class="btn btn-primary" ng-click="AddFPANewItemCtrl.save()"><i class="fa fa-save"></i> {{'SIMPAN'|translate}}</button>
        </div>
    </div>
</div>