﻿<!--<script type="text/ng-template" id="atur-aanwjzing.html">-->
    <div class="modal-content" ng-init="DetailUploadVendorKPICtrl.init()">
        <div class="modal-header">
            <button type="button" ng-click="DetailUploadVendorKPICtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
            <h3 class="modal-title afta-font">{{'TABLE.DETAIL_UPLOAD'|translate}}</h3>
        </div>
        <form>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" ng-if="DetailUploadVendorKPICtrl.DocType==4351">
                        <div class="table table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 5%;">No.</th>
                                        <th class="text-center" style="width: 15%;">Purchasing Document</th>
                                        <th class="text-center" style="width: 15%;">Item</th>
                                        <th class="text-center" style="width: 15%;">Vendor</th>
                                        <th class="text-center" style="width: 15%;">Material</th>
                                        <th class="text-center" style="width: 15%;">Short Text</th>
                                        <th class="text-center" style="width: 15%;">Scheduled Qty</th>
                                        <th class="text-center" style="width: 15%;">Order Unit</th>
                                        <th class="text-center" style="width: 15%;">Qty Delivered</th>
                                        <th class="text-center" style="width: 15%;">Purchase Order Date</th>
                                        <th class="text-center" style="width: 15%;">Delivery Date</th>
                                        <th class="text-center" style="width: 15%;">Start. -Rel. Del. Date.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sp in DetailUploadVendorKPICtrl.dataDEL">
                                        <td style="vertical-align: middle;">{{DetailUploadVendorKPICtrl.currentPage > 1 ? (DetailUploadVendorKPICtrl.pageSize * (DetailUploadVendorKPICtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchasingDoc}}</td>
                                        <td style="vertical-align: middle;">{{sp.Item}}</td>
                                        <td style="vertical-align: middle;">{{sp.VendorSAP}}</td>
                                        <td style="vertical-align: middle;">{{sp.Material}}</td>
                                        <td style="vertical-align: middle;">{{sp.ShortText}}</td>
                                        <td style="vertical-align: middle;">{{sp.ScheduledQty}}</td>
                                        <td style="vertical-align: middle;">{{sp.OrderUnit}}</td>
                                        <td style="vertical-align: middle;">{{sp.QtyDelivered}}</td>
                                        <td style="vertical-align: middle;">{{sp.PODate|date:"dd-MM-yyyy"}}</td>
                                        <td style="vertical-align: middle;">{{sp.DeliveryDate|date:"dd-MM-yyyy"}}</td>
                                        <td style="vertical-align: middle;">{{sp.StartRelDelDate|date:"dd-MM-yyyy"}}</td>
                                    </tr>
                                    <tr ng-if="DetailUploadVendorKPICtrl.dataDEL.length==0">
                                        <td colspan="7">{{'TABLE.NO_DATA'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination boundary-links="true" total-items="DetailUploadVendorKPICtrl.totalItems" class="pagination-sm" max-number="10" max-size="10"
                                ng-model="DetailUploadVendorKPICtrl.currentPage" items-per-page="DetailUploadVendorKPICtrl.pageSize" first-text="&laquo;" last-text="&raquo;"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailUploadVendorKPICtrl.detailUploadDEL(DetailUploadVendorKPICtrl.currentPage)"></ul>
                            <br />
                            <strong>Total Data : {{DetailUploadVendorKPICtrl.totalItems}}</strong>
                        </div>
                    </div>

                    <div class="col-md-12" ng-if="DetailUploadVendorKPICtrl.DocType==4445">
                        <div class="table table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 5%;">No.</th>
                                        <th class="text-center" style="width: 15%;">Purchasing Document</th>
                                        <th class="text-center" style="width: 15%;">Item</th>
                                        <th class="text-center" style="width: 15%;">Vendor</th>
                                        <th class="text-center" style="width: 15%;">Material Group</th>
                                        <th class="text-center" style="width: 15%;">Material</th>
                                        <th class="text-center" style="width: 15%;">Purch. Organization</th>
                                        <th class="text-center" style="width: 15%;">Purchasing Group</th>
                                        <th class="text-center" style="width: 15%;">Plant</th>
                                        <th class="text-center" style="width: 15%;">Storage Location</th>
                                        <th class="text-center" style="width: 15%;">Document Date</th>
                                        <th class="text-center" style="width: 15%;">Order Quantity</th>
                                        <th class="text-center" style="width: 15%;">Order Unit</th>
                                        <th class="text-center" style="width: 15%;">Net Order Value</th>
                                        <th class="text-center" style="width: 15%;">Currency</th>
                                        <th class="text-center" style="width: 15%;">Order Price Unit</th>
                                        <th class="text-center" style="width: 15%;">Purchasing Doc. Type</th>
                                        <th class="text-center" style="width: 15%;">Supplying Plant</th>
                                        <th class="text-center" style="width: 15%;">Short Text</th>
                                        <th class="text-center" style="width: 15%;">GR-Based Inv. Verif.</th>
                                        <th class="text-center" style="width: 15%;">Purchasing Doc. Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sp in DetailUploadVendorKPICtrl.dataHdr">
                                        <td style="vertical-align: middle;">{{DetailUploadVendorKPICtrl.currentPage > 1 ? (DetailUploadVendorKPICtrl.pageSize * (DetailUploadVendorKPICtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchasingDoc}}</td>
                                        <td style="vertical-align: middle;">{{sp.Item}}</td>
                                        <td style="vertical-align: middle;">{{sp.VendorSAP}}</td>
                                        <td style="vertical-align: middle;">{{sp.MaterialGroup}}</td>
                                        <td style="vertical-align: middle;">{{sp.Material}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchOrg}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchasingGroup}}</td>
                                        <td style="vertical-align: middle;">{{sp.Plant}}</td>
                                        <td style="vertical-align: middle;">{{sp.StorageLoc}}</td>
                                        <td style="vertical-align: middle;">{{sp.DocumentDate|date:"dd-MM-yyyy"}}</td>
                                        <td style="vertical-align: middle;">{{sp.OrderQty}}</td>
                                        <td style="vertical-align: middle;">{{sp.OrderUnit}}</td>
                                        <td style="vertical-align: middle;">{{sp.NetOrderValue}}</td>
                                        <td style="vertical-align: middle;">{{sp.Currency}}</td>
                                        <td style="vertical-align: middle;">{{sp.OrderPriceUnit}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchasingDocType}}</td>
                                        <td style="vertical-align: middle;">{{sp.SupplyingPlant}}</td>
                                        <td style="vertical-align: middle;">{{sp.ShortText}}</td>
                                        <td style="vertical-align: middle;">{{sp.GRBasedInvVerif}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchasingDocCategory}}</td>
                                    </tr>
                                    <tr ng-if="DetailUploadVendorKPICtrl.dataHDR.length==0">
                                        <td colspan="7">{{'TABLE.NO_DATA'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination boundary-links="true" total-items="DetailUploadVendorKPICtrl.totalItems" class="pagination-sm" max-number="10" max-size="10"
                                ng-model="DetailUploadVendorKPICtrl.currentPage" items-per-page="DetailUploadVendorKPICtrl.pageSize" first-text="&laquo;" last-text="&raquo;"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailUploadVendorKPICtrl.detailUploadHdrItm(DetailUploadVendorKPICtrl.currentPage)"></ul>
                            <br />
                            <strong>Total Data : {{DetailUploadVendorKPICtrl.totalItems}}</strong>
                        </div>
                    </div>

                    <div class="col-md-12" ng-if="DetailUploadVendorKPICtrl.DocType==4352">
                        <div class="table table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 5%;">No.</th>
                                        <th class="text-center" style="width: 15%;">Purchasing Document</th>
                                        <th class="text-center" style="width: 15%;">Item</th>
                                        <th class="text-center" style="width: 15%;">Posting Date</th>
                                        <th class="text-center" style="width: 15%;">Quantity</th>
                                        <th class="text-center" style="width: 15%;">Order Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sp in DetailUploadVendorKPICtrl.dataPOH">
                                        <td style="vertical-align: middle;">{{DetailUploadVendorKPICtrl.currentPage > 1 ? (DetailUploadVendorKPICtrl.pageSize * (DetailUploadVendorKPICtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchasingDoc}}</td>
                                        <td style="vertical-align: middle;">{{sp.Item}}</td>
                                        <td style="vertical-align: middle;">{{sp.PostingDate|date:"dd-MM-yyyy"}}</td>
                                        <td style="vertical-align: middle;">{{sp.Quantity}}</td>
                                        <td style="vertical-align: middle;">{{sp.OrderUnit}}</td>
                                    </tr>
                                    <tr ng-if="DetailUploadVendorKPICtrl.dataPOH.length==0">
                                        <td colspan="7">{{'TABLE.NO_DATA'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination boundary-links="true" total-items="DetailUploadVendorKPICtrl.totalItems" class="pagination-sm" max-number="10" max-size="10"
                                ng-model="DetailUploadVendorKPICtrl.currentPage" items-per-page="DetailUploadVendorKPICtrl.pageSize" first-text="&laquo;" last-text="&raquo;"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailUploadVendorKPICtrl.detailUploadPOH(DetailUploadVendorKPICtrl.currentPage)"></ul>
                            <br />
                            <strong>Total Data : {{DetailUploadVendorKPICtrl.totalItems}}</strong>
                        </div>
                    </div>

                    <div class="col-md-12" ng-if="DetailUploadVendorKPICtrl.DocType==4354">
                        <div class="table table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 5%;">No.</th>
                                        <th class="text-center" style="width: 15%;">Notification</th>
                                        <th class="text-center" style="width: 15%;">Notification Date</th>
                                        <th class="text-center" style="width: 15%;">Description</th>
                                        <th class="text-center" style="width: 15%;">Purchasing Group</th>
                                        <th class="text-center" style="width: 15%;">Vendor</th>
                                        <th class="text-center" style="width: 15%;">Purchasing Document</th>
                                        <th class="text-center" style="width: 15%;">Item Purchasing Doc.</th>
                                        <th class="text-center" style="width: 15%;">Material</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sp in DetailUploadVendorKPICtrl.dataMDR">
                                        <td style="vertical-align: middle;">{{DetailUploadVendorKPICtrl.currentPage > 1 ? (DetailUploadVendorKPICtrl.pageSize * (DetailUploadVendorKPICtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                        <td style="vertical-align: middle;">{{sp.Notification}}</td>
                                        <td style="vertical-align: middle;">{{sp.NotificationDate|date:"dd-MM-yyyy"}}</td>
                                        <td style="vertical-align: middle;">{{sp.Description}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchasingGroup}}</td>
                                        <td style="vertical-align: middle;">{{sp.VendorSAP}}</td>
                                        <td style="vertical-align: middle;">{{sp.PurchasingDoc}}</td>
                                        <td style="vertical-align: middle;">{{sp.ItemPurchDoc}}</td>
                                        <td style="vertical-align: middle;">{{sp.Material}}</td>
                                    </tr>
                                    <tr ng-if="DetailUploadVendorKPICtrl.dataMDR.length==0">
                                        <td colspan="7">{{'TABLE.NO_DATA'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul uib-pagination boundary-links="true" total-items="DetailUploadVendorKPICtrl.totalItems" class="pagination-sm" max-number="10" max-size="10"
                                ng-model="DetailUploadVendorKPICtrl.currentPage" items-per-page="DetailUploadVendorKPICtrl.pageSize" first-text="&laquo;" last-text="&raquo;"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailUploadVendorKPICtrl.detailUploadMDR(DetailUploadVendorKPICtrl.currentPage)"></ul>
                            <br />
                            <strong>Total Data : {{DetailUploadVendorKPICtrl.totalItems}}</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 pull-right">
                        <button ng-click="DetailUploadVendorKPICtrl.batal()" class="btn btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>