<section class="content" ng-init="KPICtrl.init()" style="overflow: visible!important;">
<ol class="breadcrumb">
    <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
    <li><a href="#/kpi" class="active">Supplier Performance Report</a></li>
</ol>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
        <div class="box">
            <!--notife flow-->
            <div class="box-header" >
                
            </div>
            <div class="box-body"> 
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="afta-font text-center">Supplier Performance Report</h3>
                    </div>
                </div>
                <div class="row margintop20">
                    <div class="col-md-8">
                        <button class="btn btn-sm btn-primary" ng-click="KPICtrl.sinkronisasi()" title="{{'BTN.SINKRON'|translate}}"><i class="fa fa-refresh"></i> </button>
                    </div>
                    <div class="col-md-4 pull-right">
                        <div class="form-group input-group">
                            <input type="text" class="form-control input-sm" ng-model="KPICtrl.keyword" ng-change="KPICtrl.supplierPerformance(1)"  />
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-primary" title="{{'BTN.SEARCH'|translate}}"><i class="fa fa-search"></i> </button>
                            </div>
                        </div>
                    </div>
                       
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                    <th class="text-center" style="width: 5%;">No.</th>
                                    <th class="text-center" style="width: 25%;">{{'TABLE.VENDOR_NAME'|translate}}</th>
                                    <th class="text-center" style="width: 15%;">Ontime Delivery Weighted Score</th>
                                    <th class="text-center" style="width: 15%;">MDR Weighted Score</th>
                                    <th class="text-center" style="width: 15%;">Warning Letter Weighted Score</th>
                                    <th class="text-center" style="width: 15%;">Total Weighted Score</th>
                                    <th class="text-center" style="width: 10%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sp in KPICtrl.supplierPerform" >
                                    <td style="vertical-align: middle;">{{KPICtrl.currentPage > 1 ? (KPICtrl.pageSize * (KPICtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td style="vertical-align: middle;">{{sp.Vendor.VendorName}}</td> 
                                    <td style="vertical-align: middle;">{{sp.OntimeDelivWeightedScore}}%</td> 
                                    <td style="vertical-align: middle;">{{sp.MDRWeightedScore}}%</td>
                                    <td style="vertical-align: middle;">{{sp.WarningLetterWeightedScore}}%</td>
                                    <td style="vertical-align: middle;">{{sp.TotalWeightedScore}}%</td>
                                    <td style="vertical-align: middle;">
                                        <button class="btn btn-sm btn-warning" ng-click="KPICtrl.viewHistory(sp)" title="{{'BTN.DETAIL'|translate}}"><i class="fa fa-file-archive-o"></i></button>
                                        <button class="btn btn-sm btn-primary" ng-click="KPICtrl.countScore(sp)" title="{{'BTN.HITUNG'|translate}}"><i class="fa fa-refresh"></i> </button>
                                    </td>
                                    </tr>
                                    <tr ng-if="KPICtrl.supplierPerform.length==0">
                                        <td colspan="7">{{'TABLE.NO_DATA'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul  uib-pagination boundary-links="true" total-items="KPICtrl.totalItems" class="pagination-sm" max-number="10" max-size="10"
                                ng-model="KPICtrl.currentPage" items-per-page="KPICtrl.pageSize" first-text="&laquo;" last-text="&raquo;"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="KPICtrl.supplierPerformance(KPICtrl.currentPage)"></ul>
                            <br />
                            <strong>Total Data : {{KPICtrl.totalItems}}</strong> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer text-center">
                <button ng-click="KPICtrl.formupload()" class="btn btn-sm btn-primary"title="{{'BTN.UPLOAD_SAP'|translate}}"><i class="fa fa-upload"></i></button>
            </div>
        </div>
    </div>
</div>
</section>