﻿<!--<script type="text/ng-template" id="atur-aanwjzing.html">-->
    <div class="modal-content" ng-init="ScoreHistoryVendorKPICtrl.init()">
        <div class="modal-header">
            <button type="button" ng-click="ScoreHistoryVendorKPICtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
            <h3 class="modal-title afta-font">{{'TABLE.HISTORY'|translate}}</h3>
        </div>
        <form>
            <div class="modal-body">
                <div class="row margin-atas">
                    <div class="col-md-12">
                        <strong>
                            {{'TABLE.COMPANY_NAME'|translate}}: {{ScoreHistoryVendorKPICtrl.vendorName}}
                        </strong>
                    </div>
                </div>
                <div class="row margin-atas">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 5%;">No.</th>
                                        <th class="text-center" style="width: 20%;">Ontime Delivery Weighted Score</th>
                                        <th class="text-center" style="width: 20%;">MDR Weighted Score</th>
                                        <th class="text-center" style="width: 20%;">Warning Letter Weighted Score</th>
                                        <th class="text-center" style="width: 20%;">Total Weighted Score</th>
                                        <th class="text-center" style="width: 15%;">{{'TABLE.LAST_CALC'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sp in ScoreHistoryVendorKPICtrl.dataHistory">
                                        <td style="vertical-align: middle;">{{$index+1}}</td>
                                        <td style="vertical-align: middle;">{{sp.OntimeDelivWeightedScore}}%</td>
                                        <td style="vertical-align: middle;">{{sp.MDRWeightedScore}}%</td>
                                        <td style="vertical-align: middle;">{{sp.WarningLetterWeightedScore}}%</td>
                                        <td style="vertical-align: middle;">{{sp.TotalWeightedScore}}%</td>
                                        <td style="vertical-align: middle;">{{sp.CreatedDate | date:"dd-MM-yyyy HH:mm"}}</td>
                                    </tr>
                                    <tr ng-if="ScoreHistoryVendorKPICtrl.dataHistory.length==0">
                                        <td colspan="6">{{'TABLE.NO_DATA'|translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--
                            <ul uib-pagination total-items="KPICtrl.count" max-size="10"
                                ng-model="KPICtrl.currentPage" items-per-page="KPICtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="KPICtrl.supplierPerformance(KPICtrl.currentPage)"></ul>
                                -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 pull-right">
                        <button ng-click="ScoreHistoryVendorKPICtrl.batal()" class="btn btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>