﻿<!-- Main content -->
<section class="content" ng-init="EquipmentQualificationCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.QUAL_TECH'|translate}}</a></li>
    </ol>
    <div class="row center">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.EVALUATION_TECH'|translate}}</h3>
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-md-8">
                            <label>{{'FORM.START_DATE'|translate}}: {{EquipmentQualificationCtrl.listqualification[0].evaluation.tender.StartDate| date: "dd-MM-yyyy HH:mm"}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>{{'FORM.END_DATE'|translate}}: {{EquipmentQualificationCtrl.listqualification[0].evaluation.tender.EndDate| date: "dd-MM-yyyy HH:mm"}}</label>
                        </div>
                        <div class="col-md-9">
                            <label>Tender: {{EquipmentQualificationCtrl.listqualification[0].evaluation.tender.tender.TenderName}}</label>
                        </div>
                    </div>
                    <div class="row center-block well" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'TABLE.TECH_REQ'|translate}}</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive" style="padding-bottom: 20px;">
                                    <table class="table table-bordered table-striped" id="table-rekanan">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No</th>
                                                <th class="text-center">{{'TABLE.CODE'|translate}}</th>
                                                <th class="text-center">{{'TABLE.FORM_NAME'|translate}}</th>
                                                <th class="text-center">{{'TABLE.DETAIL_FORM'|translate}}</th>
                                                <th class="text-center">{{'TABLE.SUBMIT_DATE'|translate}}</th>
                                                <!--<th class="text-center">Action</th>
                                                <th class="text-center">Keterangan</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="rek in EquipmentQualificationCtrl.listqualification">
                                                <td class="center-vertical">{{EquipmentQualificationCtrl.currentPage > 1 ? (EquipmentQualificationCtrl.pageSize * (EquipmentQualificationCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{rek.vendorOffer.DocumentCode}}</td>
                                                <td style="vertical-align: middle;">{{rek.vendorOffer.DocumentName}}</td>
                                                <td class="text-center">
                                                 <button ng-click="EquipmentQualificationCtrl.gotoDetail(rek)" ng-disabled="dt.notNeeded" class="btn btn-sm btn-success" title="Detail"><i class="fa fa-external-link"></i> </button>
                                                </td>
                                                <td style="vertical-align: middle;">{{rek.vendorOffer.ApproveDate| date: "dd-MM-yyyy"}}</td>
                                                <!--<td style="vertical-align: middle;"><input type="checkbox" ng-model="rek.IsValid" /></td>
                                                <td style="vertical-align: middle;"><input type="text" ng-model="rek.Remark" /></td>-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="EquipmentQualificationCtrl.kembali()" title="{{'BTN.BACK'|translate}}">
                                            <i class='fa fa-arrow-left'></i>&nbsp; 
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
