﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div class="modal-content" ng-init="DetailItemPRViewCtrl.init()">
    <div class="modal-body">
        <div class="row margin-atas">
            <div class="col-md-2">
                <label> {{'Tanggal Approval'|translate}}</label>
            </div>
            <div class="col-md-10">
                : {{DetailItemPRViewCtrl.data.ApprovalDate|date:"dd-MM-yyyy"}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>{{'Kode RFQ'|translate}}</label>
            </div>
            <div class="col-md-10" ng-if="DetailItemPRViewCtrl.data.RFQ!=null">
                : {{DetailItemPRViewCtrl.data.RFQ.RFQCode}}
            </div>
            <div class="col-md-10" ng-if="DetailItemPRViewCtrl.data.RFQ==null">
                : &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>{{'Nama Tender'|translate}}</label> 
            </div>
            <div class="col-md-10" ng-if="DetailItemPRViewCtrl.data.RFQ!=null">
                : {{DetailItemPRViewCtrl.data.RFQ.RFQName}}
            </div>
            <div class="col-md-10" ng-if="DetailItemPRViewCtrl.data.RFQ==null">
                : &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label> {{'Tanggal Publish'|translate}} </label>
            </div>
            <div class="col-md-10" ng-if="DetailItemPRViewCtrl.data.RFQ!=null &&DetailItemPRViewCtrl.data.RFQ.PublishedDate!=null">
                : {{DetailItemPRViewCtrl.data.RFQ.PublishedDate|date:"dd-MM-yyyy"}}
            </div>
            <div class="col-md-10" ng-if="DetailItemPRViewCtrl.data.RFQ==null || (DetailItemPRViewCtrl.data.RFQ!=null&&DetailItemPRViewCtrl.data.RFQ.PublishedDate==null)">
                : &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label> {{'Status Tender'|translate}} </label>
            </div>
            <div class="col-md-10" ng-if="DetailItemPRViewCtrl.data.RFQ!=null">
                : <span ng-if="DetailItemPRViewCtrl.data.RFQ.IsCancelled==false">{{'Tidak dibatalkan'|translate}}</span>
                <span ng-if="DetailItemPRViewCtrl.data.RFQ.IsCancelled==true">{{'Dibatalkan'|translate}}</span>
            </div>
            <div class="col-md-10" ng-if="DetailItemPRViewCtrl.data.RFQ==null">
                : &nbsp;
            </div>
        </div>
        <div class="row margin-atas">
            <div class="col-md-2">
                <label> {{'Tahapan'|translate}} </label>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-striped"
                       style="table-layout: fixed!important;">
                    <thead>
                        <tr>
                            <th class="text-center" width="10%" style="font-weight: bolder;">No</th>
                            <th class="text-center" width="50%" style="font-weight: bolder;">{{'Nama Tahapan'|translate}}</th>
                            <th class="text-center" width="20%" style="font-weight: bolder;">{{'Tanggal Mulai'|translate}}</th>
                            <th class="text-center" width="20%" style="font-weight: bolder;">{{'Tanggal Selesai'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="DetailItemPRViewCtrl.data.RFQ.TenderStepData.length == 0 || DetailItemPRViewCtrl.data.RFQ==null">
                            <td colspan="4">
                                {{'Data tidak ada'|translate}}
                            </td>
                        </tr>
                        <tr ng-repeat="fl in DetailItemPRViewCtrl.data.RFQ.TenderStepData">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-center">{{fl.step.TenderStepName|translate}}</td>
                            <td class="text-center">{{fl.StartDate|date:"dd-MM-yyyy HH:mm"}}</td>
                            <td class="text-center">{{fl.EndDate|date:"dd-MM-yyyy HH:mm"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="DetailItemPRViewCtrl.close()" title="{{'BTN_BACK'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>