<div class="container-fluid viewpengalaman" ng-init="DataPengalamanController.initialize()">
	<ol class="breadcrumb" style="margin-top: 20px;">
		<li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.PENGALAMAN'|translate}}</a></li>
	</ol>
    <div class="box">
        <div class="box-body">
	<div class="row" style="padding-top: 20px!important; padding-bottom: 15px;">
		<!--<div class="col-md-12" ng-if="DataPengalamanController.Vendor.Isverified === null">
			<div class="text-center">
				<a  ng-click="DataPengalamanController.addExp(null, true, DataPengalamanController.isApprovedCR)" class="btn btn-flat btn-primary" title="Tambah Data">
					<i class="fa fa-plus-circle"></i>&nbsp;
				</a>
			</div>
		</div>-->
        <div class="center-vertical" style="margin-bottom: 20px;">
            <h3 class="afta-font">{{'FORM.TITLE' | translate}}</h3>
        </div>
		<div class="col-md-12" ng-if="DataPengalamanController.isCR === true">
			<div class="alert alert-info alert-dismissable">
				<a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
				<strong>Info!</strong> {{'MESSAGE.NOTIF1' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
			</div>
		</div>
		<div class="col-md-12" ng-if="DataPengalamanController.pqWarning!=''">
			<div class="alert alert-info alert-dismissable">
				<strong>{{DataPengalamanController.pqWarning}}</strong>
			</div>
		</div>
       
	</div>
    <div class="row" ng-if="DataPengalamanController.revisiVendor">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissable text-center">
                <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                <strong>Info!</strong> {{'MESSAGE.NOTIF_DLU' | translate}} <strong> {{DataPengalamanController.revisiName}}</strong> {{'MESSAGE.NOTIF_TIDAK_VALID' | translate}} <button class="btn btn-xs btn-warning" ng-click="DataPengalamanController.revisiVendorDetail()" title="{{'DETAIL' | translate}}"><i class="fa fa-eye"></i> {{'DETAIL' | translate}}</button>
            </div>
        </div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin-bottom: 20px;" ng-if="DataPengalamanController.isApprovedCR === true && DataPengalamanController.vendorCategoryID != 32">
			<div class="text-center">
				<button ng-click="DataPengalamanController.addExp(DataPengalamanController.Vendor, true, DataPengalamanController.isApprovedCR)" class="btn btn-flat btn-success">
					<i class="fa fa-plus"></i>&nbsp; {{'TAMBAH_DATA'|translate}}
				</button>
			</div>
		</div>
		<div class="col-md-12" ng-if="DataPengalamanController.vendorCategoryID == 32">
            <div class="text-center">
                <button ng-click="DataPengalamanController.insertVendorExperiences()" class="btn btn-flat btn-primary" title="{{'GET_DATA_CIVD_PENGALAMAN'|translate}}">
                    <i class="fa fa-download"></i>&nbsp;{{'GET_DATA_CIVD_PENGALAMAN' | translate}}
                </button>
            </div>
        </div>
	</div>
	<div class="row">
		<div class="col-md-6 center-block" style="float: none!important;">
			<h4 class="text-center afta-font">{{'PEKERJAAN_SELESAI'|translate}}</h4>
			<h6 class="text-center afta-font">
				<em>{{'TAHUN_TERAKHIR'|translate}}</em>
			</h6>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
							<!-- <th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th> -->
							<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;" ng-if="DataPengalamanController.vendorCategoryID != 32">{{'TABLE.TENDER_TYPE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;width: 12%;">{{'ACTION'|translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="obj in DataPengalamanController.listFinishExp">
							<td class="text-center">{{$index+1}}</td>
							<td>{{obj.ContractName || '-'}}</td>
							<!-- <td>{{obj.AddressInfo || '-'}}</td> -->
							<td class="text-center">{{obj.Agency || '-'}}</td>
							<td class="text-center" class="text-center">{{obj.ContractValue == null ? '-' : obj.ContractValue | currency: ""+ obj.CurrencyRef +" "}}</td>
							<td class="text-center" ng-if="obj.FieldType === 3090 && DataPengalamanController.vendorCategoryID != 32">{{'VENDOR_TYPE_GOODS'|translate}}</td>
							<td class="text-center" ng-if="obj.FieldType === 3091 && DataPengalamanController.vendorCategoryID != 32">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
							<td class="text-center" ng-if="obj.FieldType === 3092 && DataPengalamanController.vendorCategoryID != 32">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
							<td class="text-center">{{obj.FieldRef.Name || '-'}}</td>
							<td class="text-center">{{obj.StartDate == null ? '-' : obj.StartDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center">{{obj.EndDate == null ? '-' : obj.EndDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center">
								<button ng-click="DataPengalamanController.detailExp(obj)" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
									<i class="fa fa-external-link"></i>
								</button>
								<button ng-if="DataPengalamanController.isApprovedCR === true && DataPengalamanController.vendorCategoryID != 32" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.EDIT' | translate}}">
									<i class="fa fa-pencil"></i>
								</button>
								<button ng-if="DataPengalamanController.isApprovedCR === true && DataPengalamanController.vendorCategoryID != 32" ng-click="DataPengalamanController.editActive(obj, false)" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.DELETE' | translate}}">
									<i class="fa fa-trash-o"></i>
								</button>
								<!--<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="label label-flat label-sm label-primary" title="Ubah">
									<i class="fa fa-edit"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.editActive(obj, false)" class="label label-flat label-sm label-danger" title="Hapus">
									<i class="fa fa-trash-o"></i>
								</a>-->
							</td>
						</tr>
						<tr ng-if="DataPengalamanController.listFinishExp.length === 0">
							<td colspan="10">{{'NO_DATA'|translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><br />
	<div class="row">
		<div class="col-md-6 center-block" style="float: none!important;">
			<h4 class="text-center afta-font">{{'PEKERJAAN_BERLANGSUNG'|translate}}</h4>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
							<!-- <th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_ADDRESS'|translate}}</th> -->
							<th class="text-center" width="10%" style="vertical-align: middle;">{{'TABLE.INSTANCE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;" ng-if="DataPengalamanController.vendorCategoryID != 32">{{'TABLE.TENDER_TYPE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;">{{'TABLE.FINISH_DATE'|translate}}</th>
							<th class="text-center" style="vertical-align: middle;width: 12%;">{{'ACTION'|translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="obj in DataPengalamanController.listCurrentExp">
							<td class="text-center">{{$index+1}}</td>
							<td>{{obj.ContractName || '-'}}</td>
							<!-- <td style="vertical-align: middle;">{{obj.AddressInfo || '-'}}</td> -->
							<td class="text-center">{{obj.Agency || '-'}}</td>
							<td class="text-center">{{obj.ContractValue == null ? '-' : obj.ContractValue | currency: ""+ obj.CurrencyRef +" "}}</td>
							<td class="text-center" ng-if="obj.FieldType === 3090 && DataPengalamanController.vendorCategoryID != 32">{{'VENDOR_TYPE_GOODS'|translate}}</td>
							<td class="text-center" ng-if="obj.FieldType === 3091 && DataPengalamanController.vendorCategoryID != 32">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
							<td class="text-center" ng-if="obj.FieldType === 3092 && DataPengalamanController.vendorCategoryID != 32">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
							<td class="text-center">{{obj.FieldRef.Name || '-'}}</td>
							<td class="text-center">{{obj.StartDate == null ? '-' : obj.StartDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center">{{obj.EndDate == null ? '-' : obj.EndDate | date:'dd-MM-yyyy'}}</td>
							<td class="text-center">
								<button ng-click="DataPengalamanController.detailExp(obj)" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
									<i class="fa fa-external-link"></i>
								</button>
								<button ng-if="DataPengalamanController.isApprovedCR === true && DataPengalamanController.vendorCategoryID != 32" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.EDIT' | translate}}">
									<i class="fa fa-pencil"></i>
								</button>
								<button ng-if="DataPengalamanController.isApprovedCR === true && DataPengalamanController.vendorCategoryID != 32" ng-click="DataPengalamanController.editActive(obj, false)" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.DELETE' | translate}}">
									<i class="fa fa-trash-o"></i>
								</button>
								<!--CR-->
								<!--<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.addExp(obj, false, DataPengalamanController.isApprovedCR)" class="label label-flat label-sm label-primary" title="Ubah">
									<i class="fa fa-edit"></i>
								</a> &nbsp;
								<a ng-if="DataPengalamanController.isApprovedCR === true" ng-click="DataPengalamanController.editActive(obj, false)" class="label label-flat label-sm label-danger" title="Hapus">
									<i class="fa fa-trash-o"></i>
								</a>-->
							</td>
						</tr>
						<tr ng-if="DataPengalamanController.listCurrentExp.length === 0">
							<td colspan="10">{{'NO_DATA'|translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">

                    <!--biru--><button ng-if="DataPengalamanController.vendorCategoryID != 32" disabled style="background-color: #13ce3b; width: 35px; height:30px; border:none;"><i class="fa fa-plus"></i></button> <span ng-if="DataPengalamanController.vendorCategoryID != 32" style="margin-right: 10px;">: {{'TAMBAH_DATA'|translate}}</span>

                    <!--kuning--><button disabled style="background-color: #ecb42f; width: 35px; height:30px; border:none;"><i class="fa fa-external-link"></i></button> <span style="margin-right: 10px;">: {{'BTN.VIEW_DETAIL' | translate}}</span>

                    <!--biru--><button ng-if="DataPengalamanController.vendorCategoryID != 32" disabled style="background-color: #337ab7; width: 35px; height:30px; border:none;"><i class="fa fa-edit"></i></button> <span ng-if="DataPengalamanController.vendorCategoryID != 32" style="margin-right: 10px;">: {{'BTN.EDIT' | translate}}</span>

                    <!--merah--><button ng-if="DataPengalamanController.vendorCategoryID != 32" disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-trash-o"></i></button> <span ng-if="DataPengalamanController.vendorCategoryID != 32" style="margin-right: 10px;">: {{'BTN.DELETE' | translate}}</span>
                </div>
            </div>
    </div>
</div>
    
	<!--
	<div class="row">
		<div class="col-md-7">
			<ul uib-pagination boundary-links="true" total-items="DataPengalamanController.totalItems" ng-model="DataPengalamanController.currentPage"
				class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
				ng-change="DataPengalamanController.loadAwal(DataPengalamanController.currentPage)"></ul>
			<br />
			<label>{{'TOTAL_DATA' | translate}} : {{DataPengalamanController.totalItems}}</label>
		</div>
	</div>-->

</div>



