<div class="modal-header" ng-init="formExpCtrl.init()">
	<button type="button" ng-click="formExpCtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
	<h3 class="modal-title afta-font">{{'DETAIL_TITLE' | translate}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-10 center-block" style="float: none!important;">
			<div class="row well">
				<div class="col-md-12">
					<dl class="dl-horizontal">
						<dt>{{'FORM.WORK_PROCESS' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.ExperienceRef.Value}}</dd>
						<dt>{{'FORM.CONTRACT_NAME' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.ContractName}}</dd>
						<dt>{{'FORM.TENDER_TYPE' | translate}}</dt>
						<dd>
							<span ng-if="formExpCtrl.dataExp.TenderType == 3090">{{'VENDOR_TYPE_GOODS' | translate}}</span>
							<span ng-if="formExpCtrl.dataExp.TenderType == 3091">{{'VENDOR_TYPE_SERVICE' | translate}}</span>
							<span ng-if="formExpCtrl.dataExp.TenderType == 3092">{{'VENDOR_TYPE_GOODSANDSERVICE' | translate}}</span>
						</dd>
						<dt>{{'FORM.LOCATION' | translate}} </dt>
						<dd>
							{{formExpCtrl.lokasidetail}}
						</dd>
						<dt>{{'FORM.INSTITUTE' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.Agency}}</dd>
						<dt>{{'FORM.ADDRESS' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.Address}}, {{formExpCtrl.lokasidetail}}</dd>
						<dt>{{'FORM.TELP' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.AgencyTelpNo}}</dd>
						<dt>{{'FORM.CONTRACT_NO' | translate}}</dt>
						<dd>{{formExpCtrl.dataExp.ContractNo}}</dd>
						<dt>{{'FORM.CONTRACT_VALUE' | translate}}</dt>
						<dd>{{formExpCtrl.CurrencyRef}} {{formExpCtrl.dataExp.ContractValue | currency:""}}</dd>
						<dt>{{'FORM.START_DATE' | translate}}</dt>
						<dd>{{formExpCtrl.datepelaksanaan | date:'dd-MM-yyyy'}}</dd>
						<dt>{{'FORM.END_DATE' | translate}}</dt>
						<dd>{{formExpCtrl.dateselesai | date:'dd-MM-yyyy'}}</dd>
						<dt>{{'TABLE.BUSINESS_FIELD' | translate}}</dt>
						<dd>
							<div class="row">
								<div class="col-md-12">
									<!-- <div class="col-md-12"> -->
										<div class="table table-responsive">
											<table class="table table-bordered table-striped">
												<thead>
													<tr>
														<th class="text-center">{{'TABLE.NO' | translate}}</th>
														<th class="text-center">{{'TABLE.GOLONGAN_BIDANG_USAHA' | translate}}</th>
														<th class="text-center">{{'TABLE.NAMA_BIDANG_USAHA' | translate}}</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-if="formExpCtrl.dataBidangUsaha.length == 0">
														<td colspan="4">
															<div>{{'NO_DATA' | translate}}</div>
														</td>
													</tr>
													<tr ng-repeat="dt in formExpCtrl.dataBidangUsaha">
														<td>{{$index + 1}}</td>
														<td>{{dt.BusinessFieldName}}</td>
														<td>{{dt.Name}}</td>
													</tr>
												</tbody>
											</table>
										</div>
			
									<!-- </div> -->
								</div>
							</div>
						</dd>
						<dt>{{'FORM.DOWNLOAD_DOC' | translate}}</dt>
						<dd ng-show="(formExpCtrl.dataExp.DocumentURL !== null && formExpCtrl.VendorCategoryID == 33 || formExpCtrl.dataExp.DocumentURL !== '' && formExpCtrl.VendorCategoryID == 33)">
							<a href="{{formExpCtrl.folderFile + formExpCtrl.dataExp.DocumentURL}}" class="label label-sm label-info" target="_BLANK" title="{{'FORM.DOWNLOAD_DOC' | translate}}">
								<i class="fa fa-download"></i> {{'FORM.DOWNLOAD_DOC' | translate}}
							</a>
						</dd>
                        <dd ng-show="(formExpCtrl.dataExp.DocumentURL !== null && formExpCtrl.VendorCategoryID == 32 || formExpCtrl.dataExp.DocumentURL !== '' && formExpCtrl.VendorCategoryID == 32)">
                            <button ng-click="formExpCtrl.downloadFileCivd(formExpCtrl.dataExp.DocumentURL,'Data_Pengalaman')" class="btn btn-sm btn-primary"title="Download File">
                                <i class="fa fa-download"></i>
                            </button>
                        </dd>
						<dd ng-show="(formExpCtrl.dataExp.DocumentURL === null || formExpCtrl.dataExp.DocumentURL === '')">
							<button class="btn btn-sm btn-default" title="{{'FORM.NO_DOC' | translate}}"><i class="fa fa-download"></i></button>
						</dd>
						<dt>{{'FORM.DESCRIPTION' | translate}}</dt>
						<dd>
							<p>
								{{formExpCtrl.dataExp.Remark || '-'}}
							</p>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" ng-click="formExpCtrl.batal()" class="btn btn-flat btn-danger"><i class="fa fa-reply"></i>&nbsp; {{'BTN.BACK' | translate}}</button>
</div>
