<section class="content" ng-init="KPIContractCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.KPI_CS' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>{{'HEAD_TITLE' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-3">
                            <label>{{'TABLE.TENDER_TYPE'|translate}} </label>
                            <select id="cmbStatus" name="cmbStatus" ng-model="KPIContractCtrl.jenistender" class="form-control"
                                    ng-options="item as item.Name | translate for item  in KPIContractCtrl.ddTender">
                                <option value="" selected disabled>
                                    {{'TABLE.TENDER_TYPE'|translate}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>{{'TABLE.DURRATION'|translate}} </label>
                            <select id="cmbStatus" name="cmbStatus" ng-model="KPIContractCtrl.durasi" class="form-control"
                                    ng-options="item as item.Name | translate for item  in KPIContractCtrl.ddDurasi">
                                <option value="" selected disabled>
                                    {{'TABLE.DURRATION'|translate}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6" ng-if="KPIContractCtrl.durasi != null && KPIContractCtrl.jenistender != null">
                            <div class="row" ng-if="KPIContractCtrl.durasi.Value == 0">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="KPIContractCtrl.datepickeroptionsTahun" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="KPIContractCtrl.isCalendarOpened[2]" ng-model="KPIContractCtrl.filterTahun" ng-change="KPIContractCtrl.cekFilterTahun()"
                                                   ng-click="KPIContractCtrl.openCalendar(2)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="KPIContractCtrl.openCalendar(2)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label><br /></label>
                                    <select id="cmbStatus" name="cmbStatus" ng-model="KPIContractCtrl.ma" class="form-control"
                                            ng-options="item as item.label | translate for item  in KPIContractCtrl.weeks">
                                        <option value="" selected disabled>
                                            Weeks
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <label><br /></label>
                                    <label style="padding-top:10px;">{{'s/d'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label><br /></label>
                                    <select id="cmbStatus" name="cmbStatus" ng-model="KPIContractCtrl.mb" class="form-control" ng-change="KPIContractCtrl.cekFilterDurasi()"
                                            ng-options="item as item.label | translate for item  in KPIContractCtrl.weeks">
                                        <option value="" selected disabled>
                                            Weeks
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" ng-if="KPIContractCtrl.durasi.Value == 1">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="yyyy" datepicker-mode="'year'" datepicker-options="KPIContractCtrl.datepickeroptionsTahun" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="KPIContractCtrl.isCalendarOpened[3]" ng-model="KPIContractCtrl.filterTahun" ng-change="KPIContractCtrl.cekFilterTahun()"
                                                   ng-click="KPIContractCtrl.openCalendar(3)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="KPIContractCtrl.openCalendar(3)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="KPIContractCtrl.datepickeroptions" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="KPIContractCtrl.isCalendarOpened[0]" ng-model="KPIContractCtrl.ba"
                                                   ng-click="KPIContractCtrl.openCalendar(0)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="KPIContractCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label><br /></label>
                                    <label style="padding-top:10px;">{{'s/d'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><br /></label>
                                        <div class="input-group date form_datetime">
                                            <input readonly required class="form-control" size="16" style="background-color: #ffffff;" type="text" uib-datepicker-popup="MMMM" datepicker-mode="'month'" datepicker-options="KPIContractCtrl.datepickeroptions" close-text="{{'BTN.TUTUP'|translate}}"
                                                   is-open="KPIContractCtrl.isCalendarOpened[1]" ng-model="KPIContractCtrl.bb"
                                                   ng-click="KPIContractCtrl.openCalendar(1)" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="KPIContractCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label><br /></label>
                            <button class="btn btn-primary" ng-click="KPIContractCtrl.filter()">{{'BTN.SEARCH'|translate}}</button>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4>Diagram</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <uib-tabset>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Ontime Contract
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="text-center">{{'DIAGRAM.ONTIME_CONTRACT' | translate}}</h4>
                                            <canvas id="bar" height="80%" class="chart chart-bar" chart-color="KPIContractCtrl.colours" chart-data="KPIContractCtrl.dataOntime" chart-labels="KPIContractCtrl.labelOntime" chart-dataset="KPIContractCtrl.datasetOntime" chart-options="KPIContractCtrl.optionOntime"></canvas>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Cost Saving
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="text-center">{{'DIAGRAM.COST_SAVING' | translate}}</h4>
                                            <canvas id="bar" height="80%" class="chart chart-bar" chart-color="KPIContractCtrl.colours" chart-data="KPIContractCtrl.dataSC" chart-labels="KPIContractCtrl.labelSC" chart-dataset="KPIContractCtrl.datasetSC" chart-options="KPIContractCtrl.optionSC"></canvas>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4>{{'TABLE.TABLE'|translate}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <uib-tabset>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Key Performance Indicator
                                    </uib-tab-heading>
                                    <div class="row margin-atas">
                                        <div class="col-md-12">
                                            <h4>Key Performance Indicator</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">{{'TABLE.YEAR' | translate}}</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;width:600px!important;">{{'TABLE.DURRATION' | translate}}</th>
                                                            <th class="text-center" colspan="6" style="background-color:#00B0CA;vertical-align:middle;">{{'TABLE.CONTRACT_PERFORMANCE.CONTRACT_PERFORMANCE_TITLE' | translate}}</th>
                                                            <th class="text-center" colspan="2" style="background-color:#BB133E;vertical-align:middle;">{{'TABLE.COST_SAVING.CONTRACT_CS' | translate}}</th>
                                                            <th class="text-center" colspan="3" style="background-color:#ECB11F;vertical-align:middle;">{{'TABLE.LBI_PNI.LBI_PNI_TITLE' | translate}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.CONTRACT_PERFORMANCE.APPRV_TENDER' | translate}}</th>
                                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.CONTRACT_PERFORMANCE.CREATED_CONTRACT' | translate}}</th>
                                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.CONTRACT_PERFORMANCE.ONTIME_CONTRACT' | translate}}</th>
                                                            <th class="text-left" style="width:200px;vertical-align:middle;">Ontime Contract (%)</th>
                                                            <th class="text-left" style="width:200px;vertical-align:middle;">Outstanding Contract Request</th>
                                                            <th class="text-left" style="width:200px;vertical-align:middle;">Contract Productivity</th>
                                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.COST_SAVING.FINAL_VALUE' | translate}}</th>
                                                            <th class="text-left" style="width:200px;vertical-align:middle;">{{'TABLE.COST_SAVING.BUDGETED_VALUE' | translate}}</th>
                                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.LBI_PNI.LOCAL' | translate}}</th>
                                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.LBI_PNI.NATIONAL' | translate}}</th>
                                                            <th class="text-left" style="width:100px;vertical-align:middle;">{{'TABLE.LBI_PNI.INTERNATIONAL' | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="data in KPIContractCtrl.arrKPI">
                                                            <td style="vertical-align: middle;" class="text-right">{{KPIContractCtrl.currentPage > 1 ? (KPIContractCtrl.maxSize * (KPIContractCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.Year}}</td>
                                                            <td style="vertical-align: middle;" width="600px" class="text-left">{{data.Durration}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.ApprovedTender}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.CreatedContract}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.OntimeContract}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.PrecentageOntimeContract}}%</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.OutstandingContractReq}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.ContractProductivity}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.FinalContractValue | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.BudgetedContractValue  | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.ContractLocal  | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.ContractNational  | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{data.ContractInternational | currency}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <ul uib-pagination boundary-links="true" total-items="KPIContractCtrl.totalItems" ng-model="KPIContractCtrl.currentPage"
                                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                                    ng-change="KPIContractCtrl.dataKPI(KPIContractCtrl.currentPage)"></ul>
                                                <br />
                                                <label>{{'TABLE.TOTAL_DATA' | translate}}: {{KPIContractCtrl.totalItems}}</label>

                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Contract Performance
                                    </uib-tab-heading>
                                    <div class="row margin-atas">
                                        <div class="col-md-12">
                                            <h4>Contract Performance</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left" style="vertical-align: middle;">No.</th>
                                                            <th class="text-left" style="vertical-align: middle;">{{'TABLE.TENDER_NO'|translate}}</th>
                                                            <th class="text-left"  style="vertical-align: middle;">{{'TABLE.CONTRACT_NO'|translate}}</th>
                                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_TITLE'|translate}}</th>
                                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
                                                            <th class="text-left" style="vertical-align: middle;">Contract Start Date</th>
                                                            <th class="text-left"  style="vertical-align: middle;">Contract End Date</th>
                                                            <th class="text-left" style="vertical-align: middle;">Requested Date</th>
                                                            <th class="text-left" style="vertical-align: middle;">Contract Assigned Date (CE)</th>
                                                            <th class="text-left" style="vertical-align: middle;">Last EEC Completed Date</th>
                                                            <th class="text-left" style="vertical-align: middle;">Contract Engineer</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="dcp in KPIContractCtrl.dataCP">
                                                            <td style="vertical-align: middle;" class="text-right">{{KPIContractCtrl.currentPageCP > 1 ? (KPIContractCtrl.maxSize * (KPIContractCtrl.currentPageCP - 1)) + $index + 1 : $index + 1}}</td>
                                                            <td style="vertical-align: middle;" class="text-left">{{dcp.TenderCode}}</td>
                                                            <td style="vertical-align: middle;" class="text-left">{{dcp.ContractNo}}</td>
                                                            <td style="vertical-align: middle;" class="text-center">{{dcp.ContractDetailsInfo}}</td>
                                                            <td style="vertical-align: middle;" class="text-center">{{dcp.TenderType}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcp.ContractStartDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcp.ContractEndDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcp.RequestedDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcp.ContractAssignedByCEDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcp.EECCompletedDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-center">{{dcp.CEName}}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <ul uib-pagination boundary-links="true" total-items="KPIContractCtrl.totalItemsCP" ng-model="KPIContractCtrl.currentPageCP"
                                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                                    ng-change="KPIContractCtrl.dataContractPerformance(KPIContractCtrl.currentPageCP)"></ul>
                                                <br />
                                                <label>{{'TABLE.TOTAL_DATA' | translate}}: {{KPIContractCtrl.totalItemsCP}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        Cost Saving
                                    </uib-tab-heading>
                                    <div class="row margin-atas">
                                        <div class="col-md-12">
                                            <h4>Cost Saving</h4>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table class="table table-bordered table-striped" id="table-kpiProc">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">{{'TABLE.TENDER_NO'|translate}}</th>
                                                            <th class="text-center" rowspan="2" style="vertical-align: middle;">{{'TABLE.TENDER_TITLE'|translate}}</th>
                                                            <th class="text-center" rowspan="2" style="vertical-align: middle;">{{'TABLE.TENDER_TYPE'|translate}}</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">Requested Date</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">Awarded Date</th>
                                                            <th class="text-center" colspan="2" style="vertical-align: middle;">{{'TABLE.DURRATION'|translate}}</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">Budget Request</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">Vendor Offer Entry Price</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">Final Price</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">Budget Saving</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">Cost Saving</th>
                                                            <th class="text-left" rowspan="2" style="vertical-align: middle;">Contract Engineer</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-left"style="vertical-align: middle;">Start Date</th>
                                                            <th class="text-left" style="vertical-align: middle;">Finish Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="dcs in KPIContractCtrl.dataCS">
                                                            <td style="vertical-align: middle;" class="text-right">{{KPIContractCtrl.currentPageCS > 1 ? (KPIContractCtrl.maxSize * (KPIContractCtrl.currentPageCS - 1)) + $index + 1 : $index + 1}}</td>
                                                            <td style="vertical-align: middle;" class="text-left">{{dcs.TenderCode}}</td>
                                                            <td style="vertical-align: middle;" class="text-center">{{dcs.ContractDetailsInfo}}</td>
                                                            <td style="vertical-align: middle;" class="text-center">{{dcs.TenderType}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.RequestedDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.EECCompletedDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.DurrationStartDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.DurrationFinishDate | date:"dd/MM/yyyy"}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.BudgetedContractValueToUSD | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.OEPriceToUSD  | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.FinalValueToUSD | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.BudgetSavingToUSD  | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-right">{{dcs.ProcurementSavingToUSD  | currency}}</td>
                                                            <td style="vertical-align: middle;" class="text-center">{{dcs.CEName}}</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <ul uib-pagination boundary-links="true" total-items="KPIContractCtrl.totalItemsCS" ng-model="KPIContractCtrl.currentPageCS"
                                                    class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                                                    ng-change="KPIContractCtrl.dataCostSaving(KPIContractCtrl.currentPageCS)"></ul>
                                                <br />
                                                <label>{{'TABLE.TOTAL_DATA' | translate}}: {{KPIContractCtrl.totalItemsCS}}</label>
                                                <br/>
                                                <button ng-disabled="!KPIContractCtrl.totalItemsCS" ng-click="KPIContractCtrl.exportExcelDataCostSaving()" class="btn btn-flat btn-success turun-15" title="Export Cost Saving"><i class="fa fa-file-excel-o"></i></button>
                                                <button ng-disabled="!KPIContractCtrl.totalItemsCS" ng-click="KPIContractCtrl.exportExcelDataIndividualCostSaving()" class="btn btn-flat btn-success turun-15" title="Export Individual Cost Saving"><i class="fa fa-file-excel-o"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        {{'TABLE.JUMLAH'|translate}}
                                    </uib-tab-heading>
                                    <div class="row margin-atas">
                                        <div class="col-md-12">
                                            <h4>{{'TABLE.JUMLAH'|translate}}</h4>
                                        </div>
                                        <div class="col-md-12">
                                                <div class="table table-responsive">
                                                    <table class="table table-bordered table-striped" id="table-kpiProc">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">No.</th>
                                                                <th class="text-center" rowspan="2" style="vertical-align: middle;">{{'TABLE.STAGE_NAME'|translate}}</th>
                                                                <th class="text-left" rowspan="2" style="vertical-align: middle;">{{'TABLE.AMOUNT'|translate}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="tsc in KPIContractCtrl.tenderstepcount">
                                                                <td style="vertical-align: middle;" class="text-right">{{$index+1}}</td>
                                                                <td style="vertical-align: middle;" class="text-center">{{tsc.StepName |translate}}</td>
                                                                <td style="vertical-align: middle;" class="text-right">{{tsc.Count}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-click="KPIContractCtrl.exportContract()" class="btn btn-flat btn-success turun-15" title="{{'BTN.EXPORT'|translate}}" style="float:right!important"><i class="fa fa-file-excel-o"></i></button>
                            <button ng-disabled="!KPIContractCtrl.totalItems" ng-click="KPIContractCtrl.exportExcelDataKPI()" class="btn btn-flat btn-success turun-15" style="float:right!important" title="Export KPI"><i class="fa fa-file-excel-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>