﻿<section ng-init="GoodsAwardCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.GOODSAWARD' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.GOODSAWARD' | translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>{{'TENDER.STARTDATE'| translate}} : {{GoodsAwardCtrl.detail[0].StartDate}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'TENDER.ENDDATE'| translate}} : {{GoodsAwardCtrl.detail[0].EndDate}}</label>
						</div>
						<div class="col-md-12">
							<label>{{'TENDER.TENDERNAME'| translate}} : {{GoodsAwardCtrl.detail[0].TenderName}}</label>
						</div>
						<div class="col-md-12" ng-if="GoodsAwardCtrl.detail[0].TenderIsCancelled">
							<label class="text-red"><i>({{'TENDER.CANCELTENDER'| translate}})</i></label>
						</div>
					</div>
					<!--<div class="row pull-right">
						<div class="col-md-12">
						   <button ng-if="GoodsAwardCtrl.detail[0].ApprovalStatusReff.Name == 'CR_APPROVED'" type="button" class="btn btn-flat btn-warning" ng-click="GoodsAwardCtrl.Export('#tableToExport')">
								<i class="fa fa-file-excel-o"></i> {{'EXPORTDATA'| translate}}
							</button>
						</div>
					</div>-->
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px; height: 500px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">{{'TABLE.NO'| translate}}</th>
											<th class="text-center">{{'TABLE.VENDORNAME'| translate}}</th>
											<th class="text-center">{{'TABLE.OFFERTOTAL'| translate}}</th>
											<!--<th class="text-center">{{'TABLE.GOODSSENTDATE'| translate}}</th>-->
											<th class="text-center">{{'TABLE.TAXCODE'| translate}}</th>
											<th class="text-center">{{'TABLE.STORAGELOCATION'| translate}}</th>
											<th class="text-center">{{'TABLE.SUMMARY'| translate}}</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="GoodsAwardCtrl.count !== 0" ng-repeat="eval in GoodsAwardCtrl.detail">
											<td class="center-vertical">{{$index + 1}}</td>
											<td style="vertical-align: middle;">{{eval.VendorName}}</td>
											<td class="center-vertical">{{eval.VendorCurency}} {{eval.TotalNego | currency: ""+ labelcurr +" "}}</td>
											<!--<td class="center-vertical">
												<div class="input-group date form_datetime">
													<input ng-disabled="!GoodsAwardCtrl.isAllowedEdit || (eval.ID !== 0 && eval.flagApprove === false)" required class="form-control" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="GoodsAwardCtrl.isCalendarOpened[$index]" ng-model="eval.PODate" ng-click="GoodsAwardCtrl.openCalendar($index)" />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="GoodsAwardCtrl.openCalendar($index)"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
											</td>-->
											<td class="center-vertical">
												<select ng-disabled="!GoodsAwardCtrl.isAllowedEdit || (eval.ID !== 0 && eval.flagApprove === false)" class="form-control input-sm" ng-model="eval.selectTaxCode"
														ng-options="item as item.Code + ' | ' + item.Description for item in eval.listTaxCode">
													<option value="" selected>
														-- {{'TABLE.TAXCODE'| translate}} --
													</option>
												</select>
											</td>
											<td class="center-vertical">
												<select ng-disabled="!GoodsAwardCtrl.isAllowedEdit || (eval.ID !== 0 && eval.flagApprove === false)" class="form-control input-sm" ng-model="eval.selectStorageLocation"
														ng-options="item as item.Code + ' | ' + item.Description for item in eval.listStorageLocation">
													<option value="" selected>
														-- {{'TABLE.STORAGELOCATION'| translate}} --
													</option>
												</select>
											</td>
											<td class="text-center">
												<div class="input-group date form_datetime">
													<input class="form-control input-sm" ng-click="GoodsAwardCtrl.openSummary(eval)" ng-readonly="true" type="text" ng-model="eval.Summary" />
												</div>
											</td>
											<td class="center-vertical">
												<button ng-disabled="GoodsAwardCtrl.detail[0].TenderIsCancelled" title="{{'BTN.SEND_SAP' | translate}}" ng-if="GoodsAwardCtrl.isAllowedEdit && eval.flagEmp == 0 && eval.Status ==='Draft'&& eval.flagTemp == 1 && (eval.VendorSAPCode === '' || eval.VendorSAPCode === null) && (eval.NoSAPApprovalStatus === '' || eval.NoSAPApprovalStatus === 'REJECT')" class="btn btn-flat btn-success" ng-click="GoodsAwardCtrl.sendToApproveL1L2(eval)">
													<i class="fa fa-check"></i>
												</button>
												<button ng-disabled="GoodsAwardCtrl.detail[0].TenderIsCancelled" title="{{'BTN.DETAIL_APPROVAL_SAP' | translate}}" ng-if="GoodsAwardCtrl.isAllowedEdit && eval.flagEmp == 0 && eval.flagTemp == 1 && (eval.VendorSAPCode === '' || eval.VendorSAPCode === null) && (eval.NoSAPApprovalStatus === 'ONPROCESS' || eval.NoSAPApprovalStatus === 'APPROVE' || eval.NoSAPApprovalStatus === 'REJECT')" class="btn btn-flat btn-warning " ng-click="GoodsAwardCtrl.detailApprovalL1L2(eval)">
													<i class="fa fa-sitemap"></i>
												</button>
												<button ng-hide="(eval.VendorSAPCode === '' || eval.VendorSAPCode === null) && eval.NoSAPApprovalStatus !== 'APPROVE'" ng-disabled="GoodsAwardCtrl.detail[0].TenderIsCancelled" title="{{'BTN.SEND' | translate}}" ng-if="GoodsAwardCtrl.isAllowedEdit && eval.flagEmp == 0 && eval.Status ==='Draft'&& eval.flagTemp == 1" class="btn btn-flat btn-primary " ng-click="GoodsAwardCtrl.sendToApprove(eval)">
													<i class="fa fa-check"></i>
												</button>
												<button ng-disabled="GoodsAwardCtrl.detail[0].TenderIsCancelled" ng-if="GoodsAwardCtrl.isAllowedEdit && eval.ID !== 0 && PPGVHSCtrl.flagSave === true " type="button" class="btn btn-flat btn-warning" ng-click="GoodsAwardCtrl.edit(eval)" title="{{'BTN.UPLOAD' | translate}}">
													<i class="fa fa-upload" aria-hidden="true"></i>
												</button>
												<a ng-if="eval.ID !== 0 && eval.DocumentUrl != null" target="_blank" type="button" class="btn btn-flat btn-success" title="{{'BTN.DOWNLOAD' | translate}}" href="{{PPGVHSCtrl.folderFile+eval.DocumentUrl}}">
													<i class="fa fa-download" aria-hidden="true"></i>
												</a>
												<button ng-if="eval.Status !== 'Draft'" class="btn btn-sm btn-flat btn-success" title="{{'BTN.DETAIL_APPROVAL' | translate}}" ng-click="GoodsAwardCtrl.detailApproval(2, eval)">
													<i class="fa fa-sitemap"></i>
												</button>
												<button ng-if="GoodsAwardCtrl.detail[$index].ApprovalStatusReff.Name == 'CR_APPROVED'" title="{{'EXPORTDATA'| translate}}" type="button" class="btn btn-sm btn-flat btn-warning" ng-click="GoodsAwardCtrl.Export($index)">
													<i class="fa fa-file-excel-o"></i>
												</button>
												<button ng-if="GoodsAwardCtrl.isAllowedEdit && GoodsAwardCtrl.detail[$index].ApprovalStatusReff.Name == 'CR_APPROVED'" class="btn btn-sm btn-flat btn-danger" title="{{'BTN.CANCEL_WINNER' | translate}}" ng-click="GoodsAwardCtrl.cancelVendor(eval)">
													<i class="fa fa-trash"></i>
												</button>
												<button type="button" title="Standard Award Report" class="btn btn-flat btn-sm btn-default" ng-click="GoodsAwardCtrl.awardReport(eval.VendorID)">
													<i class='fa fa-file-o'></i>&nbsp;
												</button>
											</td>
										</tr>
										<tr ng-if="GoodsAwardCtrl.count === 0">
											<td colspan=6> {{'NODATA'| translate}} </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-10"></div>
						<div class="col-md-2 text-right">
							<button ng-disabled="GoodsAwardCtrl.detail[0].TenderIsCancelled" ng-if="GoodsAwardCtrl.flagSave === true && GoodsAwardCtrl.flagApprove === true" type="button" class="btn btn-flat btn-primary" ng-click="GoodsAwardCtrl.simpan()">
								<i class="fa fa-floppy-o" aria-hidden="true"></i> {{'BTN.SAVE' | translate}}
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<pagination total-items="totalItems" page="currentPage" items-per-page="10" max-size="maxSize" on-select-page="jLoad2(page)" ng-show="totalItems > 10"></pagination>
						</div>
						<div ng-if="userBisaMengatur" class="col-md-2">
							<div class="col-md-12 turun-15" style="float:right"><label>{{'TOTAL_DATA' | translate}} : {{totalItems}}</label></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<!--<a ng-click="GoodsAwardCtrl.backpengadaan()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i> {{'BTN.BACK'|translate}}</a>-->
								<button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="GoodsAwardCtrl.print()">
									<i class='fa fa-print'></i>&nbsp;
								</button>

							</div>
						</div>
					</div>
					<div ng-hide="true" class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div id="tableToExport{{$index}}" ng-repeat="exc in GoodsAwardCtrl.vendorExcels" class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">Identifier</th>
											<th class="text-center">Vendor</th>
											<th class="text-center">Order Type</th>
											<th class="text-center">Purch. Organization</th>
											<th class="text-center">Purchasing Group</th>
											<th class="text-center">Plant</th>
											<th class="text-center">Storage Location</th>
											<th class="text-center">Payment Terms</th>
											<th class="text-center">Currency</th>
											<th class="text-center">Incoterms1</th>
											<th class="text-center">Incoterms2</th>
											<th class="text-center">Quotation Date</th>
											<th class="text-center">Quotation</th>
											<th class="text-center">Your Reference</th>
											<th class="text-center">Our Reference</th>
											<th class="text-center">Sarbox</th>
											<th class="text-center">Purchase Requisition</th>
											<th class="text-center">Item</th>
											<th class="text-center">Order Quantity</th>
											<th class="text-center">Net Price</th>
											<th class="text-center">per</th>
											<th class="text-center">Unit</th>
											<th class="text-center">Delivery Date</th>
											<th class="text-center">Tax code</th>
											<th class="text-center">Concession Category</th>
											<th class="text-center">Harmonized Code</th>
											<th class="text-center">Pl. Deliv. Time</th>
											<th class="text-center">Header Text</th>
											<th class="text-center">Item Text</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in exc.list">
											<td class="text-center">{{eval.RFQGoodsCode}}</td>
											<td class="text-center">{{eval.VendorCode}}</td>
											<td class="text-center">NB</td>
											<td class="text-center">{{eval.PurchasingOrg}}</td>
											<td class="text-center">{{eval.itemPR.PurchGroup}}</td>
											<td class="text-center">{{eval.itemPR.Plant}}</td>
											<td class="text-center">{{eval.StorageLocation}}</td>
											<td class="text-center">{{eval.PaymentTerm}}</td>
											<td class="text-center">{{eval.Curency}}</td>
											<td class="text-center">{{eval.Incoterms1}}</td>
											<td class="text-center">{{eval.Incoterms2}}</td>
											<td class="text-center">{{eval.QuotationDate}}</td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.RFQGoodsCode}}</td>
											<td class="text-center" style="mso-number-format:'\@';">{{eval.Sarbox}}</td>
											<td class="text-center">{{eval.itemPR.PurchaseReq}}</td>
											<td class="text-center">{{eval.RequisnItem}}</td>
											<td class="text-center">{{eval.OrderQuantity}}</td>
											<td class="text-center">{{eval.NetPrice}}</td>
											<td class="text-center"></td>
											<td class="text-center">{{eval.itemPR.UnitMeasure}}</td>
											<td class="text-center">{{eval.DeliveryDate}}</td>
											<td class="text-center">{{eval.TaxCode}}</td>
											<td class="text-center">{{eval.ConcessionCategory}}</td>
											<td class="text-center">{{eval.HarmonizedCode}}</td>
											<td class="text-center">{{eval.PlDelivTime}}</td>
											<td class="text-center">{{eval.Quotation}}</td>
											<td class="text-center">{{eval.Alternative}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
