﻿<section ng-init="GoodsAwardPrintCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin">{{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.GOODSAWARD' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="GoodsAwardPrintCtrl.cetak()">
                                <i class='fa fa-print'></i>&nbsp;
                            </button>
                        </div>
                    </div>
                    <div id="print">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.GOODSAWARD' | translate}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>{{'TENDER.STARTDATE'| translate}} : {{GoodsAwardPrintCtrl.detail[0].StartDate}}</label>
                            </div>
                            <div class="col-md-4">
                                <label>{{'TENDER.ENDDATE'| translate}} : {{GoodsAwardPrintCtrl.detail[0].EndDate}}</label>
                            </div>
                            <div class="col-md-12">
                                <label>{{'TENDER.TENDERNAME'| translate}} : {{GoodsAwardPrintCtrl.detail[0].TenderName}}</label>
                            </div>
                            <div class="col-md-12" ng-if="GoodsAwardPrintCtrl.detail[0].TenderIsCancelled">
                                <label class="text-red"><i>({{'TENDER.CANCELTENDER'| translate}})</i></label>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-12">
                                <div class="table table-responsive" style="padding-bottom: 20px; height: 500px;">
                                    <table class="table table-bordered " id="table-rekanan">
                                        <thead>
                                            <tr>
                                                <th class="text-center"style="border:1px solid black;">{{'TABLE.NO'| translate}}</th>
                                                <th class="text-center"style="border:1px solid black;">{{'TABLE.VENDORNAME'| translate}}</th>
                                                <th class="text-center"style="border:1px solid black;">{{'TABLE.OFFERTOTAL'| translate}}</th>
                                                <th class="text-center"style="border:1px solid black;">{{'TABLE.GOODSSENTDATE'| translate}}</th>
                                                <th class="text-center"style="border:1px solid black;">{{'TABLE.TAXCODE'| translate}}</th>
                                                <th class="text-center"style="border:1px solid black;">{{'TABLE.STORAGELOCATION'| translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="GoodsAwardPrintCtrl.count !== 0" ng-repeat="eval in GoodsAwardPrintCtrl.detail">
                                                <td class="center-vertical"style="border:1px solid black;">{{$index + 1}}</td>
                                                <td style="border:1px solid black;">{{eval.VendorName}}</td>
                                                <td class="center-vertical"style="border:1px solid black;">{{eval.VendorCurency}} {{eval.TotalNego | currency: ""+ labelcurr +" "}}</td>
                                                <td class="center-vertical"style="border:1px solid black;">
                                                    {{eval.PODate|date:"dd-MM-yyyy"}}
                                                </td>
                                                <td class="center-vertical"style="border:1px solid black;">
                                                    {{eval.selectTaxCode.Code + ' | ' + eval.selectTaxCode.Description}}
                                                </td>
                                                <td class="center-vertical"style="border:1px solid black;">

                                                    {{eval.selectStorageLocation.Code + ' | ' + eval.selectStorageLocation.Description}}
                                                </td>
                                            </tr>
                                            <tr ng-if="GoodsAwardPrintCtrl.count === 0">
                                                <td colspan=5 style="border:1px solid black;"> {{'NODATA'| translate}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
