<link rel="stylesheet" type="text/css" href="assets/css/rolas-design.css" />
<style>
    .btn:hover, .btn:focus, .btn.focus {
        color: #00694f;
    }
</style><!--style="background-image: url(assets/img/oil-price.jpg);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;"-->
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
});
</script>
<div style="background-image: url(assets/img/image-login.jpg);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;overflow-y:auto;padding-bottom:100px">
    <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
        <section class="content" style="background: transparent;">
            <div ng-init="loginAdmCtrl.init()" class="form-box" id="login-box" style="margin-top: 80px;">
                <div class="header header-login-background" style="background:#ffffff!important; padding-bottom: 5px;opacity: 0.7;">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="assets/img/Logo petrosea backup.png" class="img-responsive center-block" style="padding: 15px;" width="250px" height="50px" />
                        </div>
                    </div>
                    <div class="text-center">
                        <h4 class="text-center"><strong> PT. Petrosea Tbk</strong></h4>
                        <h4 class="text-center">e-Procurement Login</h4>
                    </div>
                </div>
                <div class="row" ng-show="showMsg">
                    <div class="col-md-12">
                        <div class="alert alert-warning alert-dismissable">
                            <i class="fa fa-warning"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b>Attention!</b> {{AdminLoginController.failedMsg}}
                        </div>
                    </div>
                </div>
                <form id="formLogin">
                    <div class="body main-login-background2">
                        <div class="form-group">
                            <input id="username" class="form-control" type="text" autocomplete="off" placeholder="Username" ng-model="loginAdmCtrl.username" />
                        </div>
                        <div class="form-group">
                            <input id="password" class="form-control" type="password" autocomplete="off" placeholder="Password" ng-model="loginAdmCtrl.password" />
                        </div>
                        <div class="form-inline" style="margin-bottom: -5px;">
                            <div class="text-center">
                                <canvas id='textCanvas' ng-show="false" height=20></canvas>
                                <img id='image' height="40">
                                <button class="btn btn-primary" ng-click="loginAdmCtrl.captcha()" style="margin-bottom: 10px;margin-left: 10px;background: #ee7214;">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-inline" style="margin-bottom: 20px;">
                            <div class="text-center">
                                <input ng-keypress="loginAdmCtrl.submitCaptcha($event)" class="form-control" type="text" autocomplete="off" placeholder="Input The Word Above" id="txtInput" />
                                <!--<a href="" data-toggle="tooltip" data-placement="top" title="{{'CAPTCHA_NOTIFIKASI' | translate}}">
                                    <i class="fa fa-info-circle fa-lg"></i>
                                </a>-->
                            </div>
                        </div>
                    </div>
                    <div class="footer main-login-background">
                        <button type="submit" ng-click="loginAdmCtrl.login()" name="submit" value="submit" class="btn btn-block" style="background :#FFFFFF; margin-bottom: 0px;">
                            <i class="fa fa-arrow-circle-right"></i>&nbsp;{{'FORM.LOGIN' | translate}}
                        </button>
                    </div>
                </form>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <div class="text-center">
                        <a style="color:#6f7072;" ui-sref="lupa-password"><label style="color:#ffffff;font-weight:bold">{{'FORM.FORGOTPASS' | translate}}</label></a>&nbsp;
                        <label style="color:#dde3bd">/</label>&nbsp;
                        <a style="color:#6f7072;" ui-sref="pre-daftar"><label style="color:#ffffff;font-weight:bold">{{'FORM.CREATEACCOUNT' | translate}}</label></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

