﻿<!--<script type="text/ng-template" id="atur-aanwjzing.html">-->
    <div class="modal-content" ng-init="AturAssessmentCtrl.init()">
        <div class="modal-header">
            <button type="button" ng-click="AturAssessmentCtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT'|translate}}</span></button>
            <h3 class="modal-title afta-font">{{'SET_ASSESSMENT'|translate}}</h3>
        </div>
        <form>
            <div class="modal-body">
                <div class="row">   
                    <div class="col-md-2"></div>
                    <div class="col-md-10 center-block">
                        <div class="col-md-10">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <label class="control-label">{{'START_DATE_ENTRY'|translate}}</label>
                                        <div class="form-control-static">{{AturAssessmentCtrl.data.PrequalSetupStep.StartDate | date:"dd-MM-yyyy HH:mm"}}</div>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <label class="control-label">{{'END_DATE_ENTRY'|translate}}</label>
                                        <div class="form-control-static">{{AturAssessmentCtrl.data.PrequalSetupStep.EndDate | date:"dd-MM-yyyy HH:mm"}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">{{'ASSESS_DATE'|translate}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group date form_datetime atmod" datepicker-abc data-date-format="dd-MM-yyyy">
                                                    <input readonly required class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yy" close-text="{{'TUTUP'|translate}}"
                                                           is-open="AturAssessmentCtrl.isCalendarOpened[0]" ng-model="AturAssessmentCtrl.AssessmentStartDate" ng-click="AturAssessmentCtrl.openCalendar(0)" ng-change="AturAssessmentCtrl.cekAssessmentDate()"/>
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="AturAssessmentCtrl.openCalendar(0)"></span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div uib-timepicker ng-model="AturAssessmentCtrl.AssessmentStartDate" show-meridian="ismeridian"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group date form_datetime atmod" datepicker-abc data-date-format="dd-MM-yyyy">
                                                    <input readonly required class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yy" close-text="{{'TUTUP'|translate}}"
                                                           is-open="AturAssessmentCtrl.isCalendarOpened[1]" ng-model="AturAssessmentCtrl.AssessmentEndDate" ng-click="AturAssessmentCtrl.openCalendar(1)" ng-change="AturAssessmentCtrl.cekAssessmentDate()" />
                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="AturAssessmentCtrl.openCalendar(1)"></span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div uib-timepicker ng-model="AturAssessmentCtrl.AssessmentEndDate" show-meridian="ismeridian" ng-change="AturAssessmentCtrl.changEndDateVendor()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">*{{'NOTIF'|translate}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 pull-right">
                        <button ng-click="AturAssessmentCtrl.batal()" class="btn btn-sm btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i></button>
                        <button ng-click="AturAssessmentCtrl.save()" class="btn btn-sm btn-success" title="{{'BTN.SAVE'|translate}}"><i class="fa fa-save"></i> </button>
                    </div>
                </div>
            </div>
        </form>
    </div>