﻿<div class="modal-content" ng-init="formListProcurementPlanCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formListProcurementPlanCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3>{{'LABEL.MODAL_TAMBAH' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2">
                <label>{{'LABEL.DEPT' | translate}}* </label>
            </div>
            <div class="col-md-4">
                <!--<input type="text" class="form-control"
                       ng-model="formListProcurementPlanCtrl.deptName"
                       uib-typeahead="b as b.DepartmentName for b in formListProcurementPlanCtrl.datadept | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formListProcurementPlanCtrl.ubahDept($item, $model, $label)' ng-change="formListProcurementPlanCtrl.ubahManualDept(formListProcurementPlanCtrl.deptName)"
                       placeholder="{{'LABEL.DEPT' | translate}}">-->
                <selectize name="selectModule" placeholder="Department" ng-change='formListProcurementPlanCtrl.ubahManualDept(formListProcurementPlanCtrl.deptName)'
                           options="formListProcurementPlanCtrl.datadept" config="formListProcurementPlanCtrl.myConfig" ng-model="formListProcurementPlanCtrl.deptName"></selectize>

            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Local Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formListProcurementPlanCtrl.localNumber" placeholder="Local Number" disabled>
            </div>
            <div class="col-md-2">
                <label>{{'LABEL.DESC' | translate}}*</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formListProcurementPlanCtrl.description" placeholder="{{'LABEL.DESC' | translate}}">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Entity*</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formListProcurementPlanCtrl.entity" ng-change="formListProcurementPlanCtrl.ubahEntity(formListProcurementPlanCtrl.entity)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ent.EntityID}}" ng-repeat="ent in formListProcurementPlanCtrl.dataEntity" ng-selected="ent.EntityID == formListProcurementPlanCtrl.entity">{{ent.EntityName}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Material/Service*</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formListProcurementPlanCtrl.materialService" ng-change="formListProcurementPlanCtrl.ubahMaterialService(formListProcurementPlanCtrl.materialService)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{mtsv.RefID}}" ng-repeat="mtsv in formListProcurementPlanCtrl.dataMaterialService" ng-selected="mtsv.RefID == formListProcurementPlanCtrl.materialService">{{mtsv.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>PP Reference</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formListProcurementPlanCtrl.ppReference" placeholder="PP Reference">
            </div>
            <div class="col-md-2">
                <label>Current Supplier</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formListProcurementPlanCtrl.currentSupplier" placeholder="Current Supplier">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>SCM Focal Point</label>
            </div>
            <div class="col-md-4">
                <!--<input type="text" class="form-control"
                       ng-model="formListProcurementPlanCtrl.scmFocalPoint" ng-disabled="formListProcurementPlanCtrl.isDataSCM == 0"
                       uib-typeahead="b as b.FullName for b in formListProcurementPlanCtrl.dataSCMFocalPoint | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formListProcurementPlanCtrl.ubahSCM($item, $model, $label)'
                       placeholder="SCM Focal Point">-->
                <selectize name="selectModule" id="dept" placeholder="SCM Focal Point" ng-change="formListProcurementPlanCtrl.ubahSCM(formListProcurementPlanCtrl.scmFocalPoint)"
                           options="formListProcurementPlanCtrl.dataSCMFocalPoint"
                           config="formListProcurementPlanCtrl.myConfig2" ng-model="formListProcurementPlanCtrl.scmFocalPoint"></selectize>
            </div>
            <div class="col-md-2">
                <label>Technical Focal Point*</label>
            </div>
            <div class="col-md-4">
                <!--<input ng-disabled="formListProcurementPlanCtrl.isDept == 0" type="text" class="form-control"
                       ng-model="formListProcurementPlanCtrl.techFocalPointName"
                       uib-typeahead="b as b.FullName for b in formListProcurementPlanCtrl.dataTFP | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formListProcurementPlanCtrl.ubahTech($item, $model, $label)'
                       placeholder="Technical Focal Point">-->
                <selectize name="selectModule" id="selectModule" ng-disabled="!formListProcurementPlanCtrl.isDept"
                           placeholder="Technical Focal Point" options="formListProcurementPlanCtrl.dataTFP" config="formListProcurementPlanCtrl.myConfig2"
                           ng-model="formListProcurementPlanCtrl.techFocalPointName" ng-change="formListProcurementPlanCtrl.ubahTech(formListProcurementPlanCtrl.techFocalPointName)"></selectize>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Market Sector</label>
            </div>
            <div class="col-md-4">
                <selectize name="selectModule" id="selectModule" placeholder="Market Sector" options="formListProcurementPlanCtrl.dataMarketSec"
                           config="formListProcurementPlanCtrl.myConfig3" ng-model="formListProcurementPlanCtrl.marketSector"
                           ng-change="formListProcurementPlanCtrl.ubahMarket(formListProcurementPlanCtrl.marketSector)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formListProcurementPlanCtrl.marketSector" ng-disabled="formListProcurementPlanCtrl.isDataMarket == 0"
                       uib-typeahead="b as b.CategoryName for b in formListProcurementPlanCtrl.dataMarketSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formListProcurementPlanCtrl.ubahMarket($item, $model, $label)'
                       placeholder="Market Sector">-->
            </div>
            <div class="col-md-2">
                <label>Sub Sector</label>
            </div>
            <div class="col-md-4">
                <selectize name="selectModule" id="selectModule" placeholder="Sub Sector" options="formListProcurementPlanCtrl.dataSubSec"
                           config="formListProcurementPlanCtrl.myConfig3" ng-model="formListProcurementPlanCtrl.subSector"
                           ng-change="formListProcurementPlanCtrl.ubahSub(formListProcurementPlanCtrl.subSector)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formListProcurementPlanCtrl.subSector" ng-disabled="formListProcurementPlanCtrl.isDataSub == 0"
                       uib-typeahead="b as b.CategoryName for b in formListProcurementPlanCtrl.dataSubSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formListProcurementPlanCtrl.ubahSub($item, $model, $label)'
                       placeholder="Sub Sector">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Category</label>
            </div>
            <div class="col-md-4">
                <selectize name="selectModule" id="selectModule" placeholder="Category" options="formListProcurementPlanCtrl.dataCategory"
                           config="formListProcurementPlanCtrl.myConfig3" ng-model="formListProcurementPlanCtrl.categoryName"
                           ng-change="formListProcurementPlanCtrl.ubahCategory(formListProcurementPlanCtrl.categoryName)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formListProcurementPlanCtrl.categoryName" ng-disabled="formListProcurementPlanCtrl.isDataCat == 0"
                       uib-typeahead="b as b.CategoryName for b in formListProcurementPlanCtrl.dataCategory | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formListProcurementPlanCtrl.ubahCategory($item, $model, $label)'
                       placeholder="Category">-->
            </div>
            <div class="col-md-2">
                <label>Sourcing Activity</label>
            </div>
            <div class="col-md-4">
                <selectize name="selectModule" id="selectModule" placeholder="Sourcing Activity" options="formListProcurementPlanCtrl.dataSourcingActivity"
                           config="formListProcurementPlanCtrl.myConfig4" ng-model="formListProcurementPlanCtrl.sourcingActivity"
                           ng-change="formListProcurementPlanCtrl.ubahSourcing(formListProcurementPlanCtrl.sourcingActivity)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formListProcurementPlanCtrl.sourcingActivity" ng-disabled="formListProcurementPlanCtrl.isDataSourcing == 0"
                       uib-typeahead="b as b.MethodName for b in formListProcurementPlanCtrl.dataSourcingActivity | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formListProcurementPlanCtrl.ubahSourcing($item, $model, $label)'
                       placeholder="Sourcing Activity">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Contract Type</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formListProcurementPlanCtrl.contractType" ng-change="formListProcurementPlanCtrl.ubahDept(formListProcurementPlanCtrl.departemen)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ct.RefID}}" ng-repeat="ct in formListProcurementPlanCtrl.dataContractType" ng-selected="ct.RefID == formListProcurementPlanCtrl.contractType">{{ct.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Existing Contract</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formListProcurementPlanCtrl.existingContract">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ec.RefID}}" ng-repeat="ec in formListProcurementPlanCtrl.dataExistingContract" ng-selected="ec.RefID == formListProcurementPlanCtrl.existingContract">{{ec.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Existing Contract Award</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formListProcurementPlanCtrl.existingContractAward">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{eca.RefID}}" ng-repeat="eca in formListProcurementPlanCtrl.dataExistingContractAward" ng-selected="eca.RefID == formListProcurementPlanCtrl.existingContractAward">{{eca.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>PR Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formListProcurementPlanCtrl.prNumber" placeholder="PR Number">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Current Contract Start Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">
                    <input readonly placeholder="Current Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[0]" ng-model="formListProcurementPlanCtrl.CCStartDate" ng-click="formListProcurementPlanCtrl.openCalendar(0)"
                           ng-change="formListProcurementPlanCtrl.ubahCCStart(formListProcurementPlanCtrl.CCStartDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(0)"></span></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Current Contract End Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Current Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[1]" ng-model="formListProcurementPlanCtrl.CCEndDate" ng-click="formListProcurementPlanCtrl.openCalendar(1)"
                           ng-change="formListProcurementPlanCtrl.ubahCCEnd(formListProcurementPlanCtrl.CCEndDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(1)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Start Date *</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly required placeholder="New Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[2]" ng-model="formListProcurementPlanCtrl.newContractStartDate" ng-click="formListProcurementPlanCtrl.openCalendar(2)"
                           ng-change="formListProcurementPlanCtrl.UbahNewStartDate(formListProcurementPlanCtrl.newContractStartDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(2)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract End Date *</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly required placeholder="New Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[3]" ng-model="formListProcurementPlanCtrl.newContractEndDate" ng-click="formListProcurementPlanCtrl.openCalendar(3)"
                           ng-change="formListProcurementPlanCtrl.UbahNewEndDate(formListProcurementPlanCtrl.newContractEndDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(3)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Duration</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" ng-model="formListProcurementPlanCtrl.newContractDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract Extensions Option</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formListProcurementPlanCtrl.newContractExtensionsDuration"
                           ng-change="formListProcurementPlanCtrl.ubahNewContractExt(formListProcurementPlanCtrl.newContractExtensionsDuration)">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Value Including Extension Options</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formListProcurementPlanCtrl.newContractIncludeExtensionsDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" disabled ng-model="formListProcurementPlanCtrl.status">
                    <option value="{{pps.RefID}}" ng-repeat="pps in formListProcurementPlanCtrl.ProcPlanStatusData" ng-selected="pps.RefID == formListProcurementPlanCtrl.status">{{pps.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Sourcing Date Start</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Sourcing Date Start" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[4]" ng-model="formListProcurementPlanCtrl.sourcingDateStart" ng-click="formListProcurementPlanCtrl.openCalendar(4)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(4)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>CGC Approval Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="CGC Approval Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[5]" ng-model="formListProcurementPlanCtrl.cgcApprovalDate" ng-click="formListProcurementPlanCtrl.openCalendar(5)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(5)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Bid Issue Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Bid Issue Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[6]" ng-model="formListProcurementPlanCtrl.bidIssueDate" ng-click="formListProcurementPlanCtrl.openCalendar(6)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(6)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Bid Due Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Bid Due Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[7]" ng-model="formListProcurementPlanCtrl.bidDuedDate" ng-click="formListProcurementPlanCtrl.openCalendar(7)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(7)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Bid Evaluation Completion Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Bid Evaluation Completion Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[8]" ng-model="formListProcurementPlanCtrl.bidEvalCompletionDate" ng-click="formListProcurementPlanCtrl.openCalendar(8)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(8)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Negotiation Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Negotiation Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[9]" ng-model="formListProcurementPlanCtrl.negotiationDate" ng-click="formListProcurementPlanCtrl.openCalendar(9)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(9)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Award Recommendation</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Award Recommendation" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[10]" ng-model="formListProcurementPlanCtrl.awardRecomDate" ng-click="formListProcurementPlanCtrl.openCalendar(10)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(10)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Excom/Board Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Excom/Board Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[11]" ng-model="formListProcurementPlanCtrl.excomBoardApproval" ng-click="formListProcurementPlanCtrl.openCalendar(11)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(11)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-2">
                <label>Concessionaire / Partners Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Concessionaire / Partners Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[12]" ng-model="formListProcurementPlanCtrl.consessPartApproval" ng-click="formListProcurementPlanCtrl.openCalendar(12)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(12)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Contract Execution Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly placeholder="Contract Execution Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formListProcurementPlanCtrl.isCalendarOpened[13]" ng-model="formListProcurementPlanCtrl.contractExecutionDate" ng-click="formListProcurementPlanCtrl.openCalendar(13)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formListProcurementPlanCtrl.openCalendar(13)"></span></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Comments</label>
            </div>
            <div class="col-md-10">
                <textarea ng-model="formListProcurementPlanCtrl.comments" style="resize:none; width: 100%; height:30%;"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formListProcurementPlanCtrl.batal()" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="formListProcurementPlanCtrl.simpan()" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>