﻿<div class="modal-content" ng-init="formUbahListProcurementPlanCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formUbahListProcurementPlanCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" ng-if="formUbahListProcurementPlanCtrl.ubah == 1">{{'LABEL.MODAL_UBAH' | translate}}</h3>
        <h3 class="modal-title afta-font" ng-if="formUbahListProcurementPlanCtrl.ubah == 0">{{'LABEL.MODAL_LIHAT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2">
                <label>{{'LABEL.DEPT' | translate}}* </label>
            </div>
            <div class="col-md-4">
                <!--<input type="text" class="form-control"
                       ng-model="formUbahListProcurementPlanCtrl.deptName"
                       uib-typeahead="b as b.DepartmentName for b in formUbahListProcurementPlanCtrl.datadept | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahListProcurementPlanCtrl.ubahDept($item, $model, $label)' ng-change="formUbahListProcurementPlanCtrl.ubahManualDept(formUbahListProcurementPlanCtrl.deptName)"
                       placeholder="{{'LABEL.DEPT' | translate}}" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0">-->

                <selectize name="selectModule" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Department" ng-change='formUbahListProcurementPlanCtrl.ubahManualDept(formUbahListProcurementPlanCtrl.deptName)'
                           options="formUbahListProcurementPlanCtrl.datadept" config="formUbahListProcurementPlanCtrl.myConfig" ng-model="formUbahListProcurementPlanCtrl.deptName"></selectize>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Local Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahListProcurementPlanCtrl.localNumber" placeholder="Local Number" disabled>
            </div>
            <div class="col-md-2">
                <label>{{'LABEL.DESC' | translate}}*</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahListProcurementPlanCtrl.description" placeholder="{{'LABEL.DESC' | translate}}" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Entity*</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formUbahListProcurementPlanCtrl.entity" ng-change="formUbahListProcurementPlanCtrl.ubahEntity(formUbahListProcurementPlanCtrl.entity)" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ent.EntityID}}" ng-repeat="ent in formUbahListProcurementPlanCtrl.dataEntity" ng-selected="ent.EntityID == formUbahListProcurementPlanCtrl.entity">{{ent.EntityName}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Material/Service*</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" ng-model="formUbahListProcurementPlanCtrl.materialService" ng-change="formUbahListProcurementPlanCtrl.ubahMaterialService(formUbahListProcurementPlanCtrl.materialService)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{mtsv.RefID}}" ng-repeat="mtsv in formUbahListProcurementPlanCtrl.dataMaterialService" ng-selected="mtsv.RefID == formUbahListProcurementPlanCtrl.materialService">{{mtsv.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>PP Reference</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahListProcurementPlanCtrl.ppReference" placeholder="PP Reference" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0">
            </div>
            <div class="col-md-2">
                <label>Current Supplier</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahListProcurementPlanCtrl.currentSupplier" placeholder="Current Supplier" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>SCM Focal Point</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" name="selectModule" id="dept" placeholder="SCM Focal Point" ng-change="formUbahListProcurementPlanCtrl.ubahSCM(formUbahListProcurementPlanCtrl.scmFocalPoint)"
                           options="formUbahListProcurementPlanCtrl.dataSCMFocalPoint"
                           config="formUbahListProcurementPlanCtrl.myConfig2" ng-model="formUbahListProcurementPlanCtrl.scmFocalPoint"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahListProcurementPlanCtrl.scmFocalPoint" ng-disabled="formUbahListProcurementPlanCtrl.isDataSCM == 0 || formUbahListProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.FullName for b in formUbahListProcurementPlanCtrl.dataSCMFocalPoint | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahListProcurementPlanCtrl.ubahSCM($item, $model, $label)'
                       placeholder="SCM Focal Point">-->
            </div>
            <div class="col-md-2">
                <label>Technical Focal Point*</label>
            </div>
            <div class="col-md-4">
                <selectize ng-if="formUbahListProcurementPlanCtrl.ubah == 1" name="selectModule" id="selectModule" ng-disabled="!formUbahListProcurementPlanCtrl.isDept"
                           placeholder="Technical Focal Point" options="formUbahListProcurementPlanCtrl.dataTFP" config="formUbahListProcurementPlanCtrl.myConfig2"
                           ng-model="formUbahListProcurementPlanCtrl.techFocalPointName" ng-change="formUbahListProcurementPlanCtrl.ubahTech(formUbahListProcurementPlanCtrl.techFocalPointName)"></selectize>
                <selectize ng-if="formUbahListProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0"
                           placeholder="Technical Focal Point" options="formUbahListProcurementPlanCtrl.dataTFP" config="formUbahListProcurementPlanCtrl.myConfig2"
                           ng-model="formUbahListProcurementPlanCtrl.techFocalPointName" ng-change="formUbahListProcurementPlanCtrl.ubahTech(formUbahListProcurementPlanCtrl.techFocalPointName)"></selectize>

                <!--<input ng-disabled="formUbahListProcurementPlanCtrl.isDept == 0 || formUbahListProcurementPlanCtrl.ubah == 0" type="text" class="form-control"
                       ng-model="formUbahListProcurementPlanCtrl.techFocalPointName"
                       uib-typeahead="b as b.FullName for b in formUbahListProcurementPlanCtrl.dataTFP | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahListProcurementPlanCtrl.ubahTech($item, $model, $label)'
                       placeholder="Technical Focal Point">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Market Sector</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" placeholder="Market Sector" options="formUbahListProcurementPlanCtrl.dataMarketSec"
                           config="formUbahListProcurementPlanCtrl.myConfig3" ng-model="formUbahListProcurementPlanCtrl.marketSector"
                           ng-change="formUbahListProcurementPlanCtrl.ubahMarket(formUbahListProcurementPlanCtrl.marketSector)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahListProcurementPlanCtrl.marketSector" ng-disabled="formUbahListProcurementPlanCtrl.isDataMarket == 0 || formUbahListProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.CategoryName for b in formUbahListProcurementPlanCtrl.dataMarketSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahListProcurementPlanCtrl.ubahMarket($item, $model, $label)'
                       placeholder="Market Sector">-->
            </div>
            <div class="col-md-2">
                <label>Sub Sector</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" placeholder="Sub Sector" options="formUbahListProcurementPlanCtrl.dataSubSec"
                           config="formUbahListProcurementPlanCtrl.myConfig3" ng-model="formUbahListProcurementPlanCtrl.subSector"
                           ng-change="formUbahListProcurementPlanCtrl.ubahSub(formUbahListProcurementPlanCtrl.subSector)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahListProcurementPlanCtrl.subSector" ng-disabled="formUbahListProcurementPlanCtrl.isDataSub == 0 || formUbahListProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.CategoryName for b in formUbahListProcurementPlanCtrl.dataSubSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahListProcurementPlanCtrl.ubahSub($item, $model, $label)'
                       placeholder="Sub Sector">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Category</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" placeholder="Category" options="formUbahListProcurementPlanCtrl.dataCategory"
                           config="formUbahListProcurementPlanCtrl.myConfig3" ng-model="formUbahListProcurementPlanCtrl.categoryName"
                           ng-change="formUbahListProcurementPlanCtrl.ubahCategory(formUbahListProcurementPlanCtrl.categoryName)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahListProcurementPlanCtrl.categoryName" ng-disabled="formUbahListProcurementPlanCtrl.isDataCat == 0 || formUbahListProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.CategoryName for b in formUbahListProcurementPlanCtrl.dataCategory | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahListProcurementPlanCtrl.ubahCategory($item, $model, $label)'
                       placeholder="Category">-->
            </div>
            <div class="col-md-2">
                <label>Sourcing Activity</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" placeholder="Sourcing Activity" options="formUbahListProcurementPlanCtrl.dataSourcingActivity"
                           config="formUbahListProcurementPlanCtrl.myConfig4" ng-model="formUbahListProcurementPlanCtrl.sourcingActivity"
                           ng-change="formUbahListProcurementPlanCtrl.ubahSourcing(formUbahListProcurementPlanCtrl.sourcingActivity)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahListProcurementPlanCtrl.sourcingActivity" ng-disabled="formUbahListProcurementPlanCtrl.isDataSourcing == 0 || formUbahListProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.MethodName for b in formUbahListProcurementPlanCtrl.dataSourcingActivity | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahListProcurementPlanCtrl.ubahSourcing($item, $model, $label)'
                       placeholder="Sourcing Activity">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Contract Type</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" ng-model="formUbahListProcurementPlanCtrl.contractType" ng-change="formUbahListProcurementPlanCtrl.ubahDept(formUbahListProcurementPlanCtrl.departemen)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ct.RefID}}" ng-repeat="ct in formUbahListProcurementPlanCtrl.dataContractType" ng-selected="ct.RefID == formUbahListProcurementPlanCtrl.contractType">{{ct.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Existing Contract</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" ng-model="formUbahListProcurementPlanCtrl.existingContract">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ec.RefID}}" ng-repeat="ec in formUbahListProcurementPlanCtrl.dataExistingContract" ng-selected="ec.RefID == formUbahListProcurementPlanCtrl.existingContract">{{ec.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Existing Contract Award</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" ng-model="formUbahListProcurementPlanCtrl.existingContractAward">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{eca.RefID}}" ng-repeat="eca in formUbahListProcurementPlanCtrl.dataExistingContractAward" ng-selected="eca.RefID == formUbahListProcurementPlanCtrl.existingContractAward">{{eca.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>PR Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" ng-model="formUbahListProcurementPlanCtrl.prNumber" placeholder="PR Number">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Current Contract Start Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">
                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Current Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[0]" ng-model="formUbahListProcurementPlanCtrl.CCStartDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(0)"
                           ng-change="formUbahListProcurementPlanCtrl.ubahCCStart(formUbahListProcurementPlanCtrl.CCStartDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(0)"></span></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Current Contract End Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Current Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[1]" ng-model="formUbahListProcurementPlanCtrl.CCEndDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(1)"
                           ng-change="formUbahListProcurementPlanCtrl.ubahCCEnd(formUbahListProcurementPlanCtrl.CCEndDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(1)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Start Date *</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly required ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="New Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[2]" ng-model="formUbahListProcurementPlanCtrl.newContractStartDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(2)"
                           ng-change="formUbahListProcurementPlanCtrl.UbahNewStartDate(formUbahListProcurementPlanCtrl.newContractStartDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(2)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract End Date *</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly required ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="New Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[3]" ng-model="formUbahListProcurementPlanCtrl.newContractEndDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(3)"
                           ng-change="formUbahListProcurementPlanCtrl.UbahNewEndDate(formUbahListProcurementPlanCtrl.newContractEndDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(3)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Duration</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" ng-model="formUbahListProcurementPlanCtrl.newContractDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract Extensions Option</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formUbahListProcurementPlanCtrl.newContractExtensionsDuration"
                           ng-change="formUbahListProcurementPlanCtrl.ubahNewContractExt(formUbahListProcurementPlanCtrl.newContractExtensionsDuration)">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Value Including Extension Options</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formUbahListProcurementPlanCtrl.newContractIncludeExtensionsDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" disabled ng-model="formUbahListProcurementPlanCtrl.status">
                    <option value="{{pps.RefID}}" ng-repeat="pps in formUbahListProcurementPlanCtrl.ProcPlanStatusData" ng-selected="pps.RefID == formUbahListProcurementPlanCtrl.status">{{pps.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Sourcing Date Start</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Sourcing Date Start" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[4]" ng-model="formUbahListProcurementPlanCtrl.sourcingDateStart" ng-click="formUbahListProcurementPlanCtrl.openCalendar(4)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(4)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>CGC Approval Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="CGC Approval Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[5]" ng-model="formUbahListProcurementPlanCtrl.cgcApprovalDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(5)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(5)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Bid Issue Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Bid Issue Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[6]" ng-model="formUbahListProcurementPlanCtrl.bidIssueDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(6)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(6)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Bid Due Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Bid Due Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[7]" ng-model="formUbahListProcurementPlanCtrl.bidDuedDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(7)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(7)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Bid Evaluation Completion Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Bid Evaluation Completion Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[8]" ng-model="formUbahListProcurementPlanCtrl.bidEvalCompletionDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(8)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(8)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Negotiation Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Negotiation Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[9]" ng-model="formUbahListProcurementPlanCtrl.negotiationDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(9)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(9)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Award Recommendation</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Award Recommendation" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[10]" ng-model="formUbahListProcurementPlanCtrl.awardRecomDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(10)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(10)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Excom/Board Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Excom/Board Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[11]" ng-model="formUbahListProcurementPlanCtrl.excomBoardApproval" ng-click="formUbahListProcurementPlanCtrl.openCalendar(11)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(11)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-2">
                <label>Concessionaire / Partners Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Concessionaire / Partners Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[12]" ng-model="formUbahListProcurementPlanCtrl.consessPartApproval" ng-click="formUbahListProcurementPlanCtrl.openCalendar(12)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(12)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Contract Execution Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" placeholder="Contract Execution Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahListProcurementPlanCtrl.isCalendarOpened[13]" ng-model="formUbahListProcurementPlanCtrl.contractExecutionDate" ng-click="formUbahListProcurementPlanCtrl.openCalendar(13)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahListProcurementPlanCtrl.openCalendar(13)"></span></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Comments</label>
            </div>
            <div class="col-md-10">
                <textarea ng-disabled="formUbahListProcurementPlanCtrl.ubah == 0" ng-model="formUbahListProcurementPlanCtrl.comments" style="resize:none; width: 100%; height:30%;"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formUbahListProcurementPlanCtrl.batal()" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" ng-if="formUbahListProcurementPlanCtrl.ubah == 1" class="btn btn-flat btn-success" ng-click="formUbahListProcurementPlanCtrl.simpan()" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>