﻿<div class="modal-content" ng-init="publishListProcurementPlanCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="publishListProcurementPlanCtrl.tidak()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'LABEL.KELUAR'|translate}}</span>
        </button>
        <h4 style="font-size:21px;">{{'MESSAGE.CONFIRM_PUBLISH' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{'LABEL.NOTES' | translate}}<span style="color: red;">*</span></label>
                    <textarea ng-model="publishListProcurementPlanCtrl.catatan" placeholder="{{'LABEL.NOTES' | translate}}" style="resize: none; height: 175px; width:100%;"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="publishListProcurementPlanCtrl.tidak()" title="{{'BTN.TIDAK' | translate}}">
            <i> X </i>
        </button>
        <button type="submit" class="btn btn-primary" ng-click="publishListProcurementPlanCtrl.ya()" title="{{'BTN.YA' | translate}}">
            <i class="fa fa-check"></i>
        </button>
    </div>
</div>