﻿<div class="modal-content" ng-init="viewListProcurementPlanCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewListProcurementPlanCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" ng-if="viewListProcurementPlanCtrl.ubah == 0">{{'LABEL.MODAL_LIHAT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-bottom:10px;" ng-if="viewListProcurementPlanCtrl.scm == 1">
            <div class="col-md-3">
                <label>Local Number</label>
            </div>
            <div class="col-md-3">
                <!--<input type="text" class="form-control" ng-model="viewListProcurementPlanCtrl.localNumber" placeholder="Local Number" disabled>-->
                <span><label>:</label> {{viewListProcurementPlanCtrl.localNumber ? viewListProcurementPlanCtrl.localNumber: '-'}}</span>
            </div>
            <div class="col-md-3">
                <label>SKK Migas Number</label>
            </div>
            <div class="col-md-3">
                <!--<input type="text" class="form-control" ng-disabled="viewListProcurementPlanCtrl.ubah == 0" ng-model="viewListProcurementPlanCtrl.skkMigasNumber" placeholder="SKK Migas Number">-->
                <span><label>:</label> {{viewListProcurementPlanCtrl.skkMigasNumber ? viewListProcurementPlanCtrl.skkMigasNumber: '-'}}</span>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px;" ng-if="viewListProcurementPlanCtrl.scm == 1">
            <div class="col-md-3">
                <label>Global Number</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.globalNumber ? viewListProcurementPlanCtrl.globalNumber : '-'}}</span>
                <!--<input type="text" class="form-control" ng-disabled="viewListProcurementPlanCtrl.ubah == 0" ng-model="viewListProcurementPlanCtrl.globalNumber" placeholder="Global Number">-->
            </div>
            <div class="col-md-3">
                <label>Status Procurement Plan</label>
            </div>
            <div class="col-md-3">
                <span ng-if="viewListProcurementPlanCtrl.statusProc == '0'"><label>:</label>  -</span>
                <span ng-if="viewListProcurementPlanCtrl.statusProc == '4510'"><label>:</label> Planned</span>
                <span ng-if="viewListProcurementPlanCtrl.statusProc == '4511'"><label>:</label> Unplanned</span>
                <!--<div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="optradio" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" ng-model="viewListProcurementPlanCtrl.statusProc" value="4510">Planned
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" ng-model="viewListProcurementPlanCtrl.statusProc" value="4511">Unplanned
                    </label>
                </div>-->
            </div>
        </div>
        <p></p>
        <div class="row" ng-if="viewListProcurementPlanCtrl.scm == 1">
            <div class="col-md-3">
                <label>{{'LABEL.DEPT' | translate}}* </label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.deptName ? viewListProcurementPlanCtrl.deptName : '-'}}</span>
                <!--<input type="text" class="form-control"
                       ng-model="viewListProcurementPlanCtrl.deptName"
                       uib-typeahead="b as b.DepartmentName for b in viewListProcurementPlanCtrl.datadept | filter:$viewValue | limitTo:10"
                       typeahead-on-select='viewListProcurementPlanCtrl.ubahDept($item, $model, $label)' ng-change="viewListProcurementPlanCtrl.ubahManualDept(viewListProcurementPlanCtrl.deptName)"
                       placeholder="{{'LABEL.DEPT' | translate}}" disabled>-->
            </div>
            <div class="col-md-3">
                <label>{{'LABEL.DESC' | translate}}*</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.description ? viewListProcurementPlanCtrl.description :'-'}}</span>
                <!--<input type="text" class="form-control" ng-model="viewListProcurementPlanCtrl.description" placeholder="{{'LABEL.DESC' | translate}}" disabled>-->
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;" ng-if="viewListProcurementPlanCtrl.scm == 0">
            <div class="col-md-3">
                <label>{{'LABEL.DEPT' | translate}}* </label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.deptName ? viewListProcurementPlanCtrl.deptName : '-'}}</span>
                <!--<input type="text" class="form-control"
                ng-model="viewListProcurementPlanCtrl.deptName"
                uib-typeahead="b as b.DepartmentName for b in viewListProcurementPlanCtrl.datadept | filter:$viewValue | limitTo:10"
                typeahead-on-select='viewListProcurementPlanCtrl.ubahDept($item, $model, $label)' ng-change="viewListProcurementPlanCtrl.ubahManualDept(viewListProcurementPlanCtrl.deptName)"
                placeholder="{{'LABEL.DEPT' | translate}}" disabled>-->
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;" ng-if="viewListProcurementPlanCtrl.scm == 0">
            <div class="col-md-3">
                <label>Local Number</label>
            </div>
            <div class="col-md-3">
                <!--<input type="text" class="form-control" ng-model="viewListProcurementPlanCtrl.localNumber" placeholder="Local Number" disabled>-->
                <span><label>:</label> {{viewListProcurementPlanCtrl.localNumber ? viewListProcurementPlanCtrl.localNumber: '-'}}</span>
            </div>
            <div class="col-md-3">
                <label>{{'LABEL.DESC' | translate}}*</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.description ? viewListProcurementPlanCtrl.description :'-'}}</span>
                <!--<input type="text" class="form-control" ng-model="viewListProcurementPlanCtrl.description" placeholder="{{'LABEL.DESC' | translate}}" disabled>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Entity*</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.entityName ? viewListProcurementPlanCtrl.entityName : '-'}}</span>
                <!--<select class="form-control" ng-model="viewListProcurementPlanCtrl.entity" ng-change="viewListProcurementPlanCtrl.ubahEntity(viewListProcurementPlanCtrl.entity)" disabled>
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ent.EntityID}}" ng-repeat="ent in viewListProcurementPlanCtrl.dataEntity" ng-selected="ent.EntityID == viewListProcurementPlanCtrl.entity">{{ent.EntityName}}</option>
                </select>-->
            </div>
            <div class="col-md-3">
                <label>Material/Service*</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.materialServiceName ? viewListProcurementPlanCtrl.materialServiceName : '-'}}</span>
                <!--<select class="form-control" disabled ng-model="viewListProcurementPlanCtrl.materialService" ng-change="viewListProcurementPlanCtrl.ubahMaterialService(viewListProcurementPlanCtrl.materialService)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{mtsv.RefID}}" ng-repeat="mtsv in viewListProcurementPlanCtrl.dataMaterialService" ng-selected="mtsv.RefID == viewListProcurementPlanCtrl.materialService">{{mtsv.Value}}</option>
                </select>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>PP Reference</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.ppReference ? viewListProcurementPlanCtrl.ppReference : '-'}}</span>
                <!--<input type="text" class="form-control" ng-model="viewListProcurementPlanCtrl.ppReference" placeholder="PP Reference" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')">-->
            </div>
            <div class="col-md-3">
                <label>Current Supplier</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.currentSupplier ? viewListProcurementPlanCtrl.currentSupplier : '-'}}</span>
                <!--<input type="text" class="form-control" ng-model="viewListProcurementPlanCtrl.currentSupplier" placeholder="Current Supplier" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>SCM Focal Point</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.scmFocalPoint ? viewListProcurementPlanCtrl.scmFocalPoint : '-'}}</span>
                <!--<selectize ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" name="selectModule" id="dept" placeholder="SCM Focal Point" ng-change="viewListProcurementPlanCtrl.ubahSCM(viewListProcurementPlanCtrl.scmFocalPoint)"
                           options="viewListProcurementPlanCtrl.dataSCMFocalPoint"
                           config="viewListProcurementPlanCtrl.myConfig2" ng-model="viewListProcurementPlanCtrl.scmFocalPoint"></selectize>-->
                <!--<input type="text" class="form-control"
                       ng-model="viewListProcurementPlanCtrl.scmFocalPoint" ng-disabled="(viewListProcurementPlanCtrl.isDataSCM == 0 || viewListProcurementPlanCtrl.ubah == 0) && viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review'"
                       uib-typeahead="b as b.FullName for b in viewListProcurementPlanCtrl.dataSCMFocalPoint | filter:$viewValue | limitTo:10"
                       typeahead-on-select='viewListProcurementPlanCtrl.ubahSCM($item, $model, $label)'
                       placeholder="SCM Focal Point">-->
            </div>
            <div class="col-md-3">
                <label>Technical Focal Point*</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.techFocalPointName ? viewListProcurementPlanCtrl.techFocalPointName : '-'}}</span>
                <!--<input type="text" disabled class="form-control"
                       ng-model="viewListProcurementPlanCtrl.techFocalPointName"
                       uib-typeahead="b as b.FullName for b in viewListProcurementPlanCtrl.dataTFP | filter:$viewValue | limitTo:10"
                       typeahead-on-select='viewListProcurementPlanCtrl.ubahTech($item, $model, $label)'
                       placeholder="Technical Focal Point">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Market Sector</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.marketSector ? viewListProcurementPlanCtrl.marketSector : '-'}}</span>
                <!--<selectize ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Market Sector" options="viewListProcurementPlanCtrl.dataMarketSec"
                           config="viewListProcurementPlanCtrl.myConfig3" ng-model="viewListProcurementPlanCtrl.marketSector"
                           ng-change="viewListProcurementPlanCtrl.ubahMarket(viewListProcurementPlanCtrl.marketSector)"></selectize>-->
                <!--<input type="text" class="form-control"
                       ng-model="viewListProcurementPlanCtrl.marketSector" ng-disabled="(viewListProcurementPlanCtrl.isDataMarket == 0 || viewListProcurementPlanCtrl.ubah == 0) && viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review'"
                       uib-typeahead="b as b.CategoryName for b in viewListProcurementPlanCtrl.dataMarketSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='viewListProcurementPlanCtrl.ubahMarket($item, $model, $label)'
                       placeholder="Market Sector">-->
            </div>
            <div class="col-md-3">
                <label>Sub Sector</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.subSector ? viewListProcurementPlanCtrl.subSector : '-'}}</span>
                <!--<selectize ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Sub Sector" options="viewListProcurementPlanCtrl.dataSubSec"
                           config="viewListProcurementPlanCtrl.myConfig3" ng-model="viewListProcurementPlanCtrl.subSector"
                           ng-change="viewListProcurementPlanCtrl.ubahSub(viewListProcurementPlanCtrl.subSector)"></selectize>-->
                <!--<input type="text" class="form-control"
                       ng-model="viewListProcurementPlanCtrl.subSector" ng-disabled="(viewListProcurementPlanCtrl.isDataSub == 0 || viewListProcurementPlanCtrl.ubah == 0) && viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review'"
                       uib-typeahead="b as b.CategoryName for b in viewListProcurementPlanCtrl.dataSubSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='viewListProcurementPlanCtrl.ubahSub($item, $model, $label)'
                       placeholder="Sub Sector">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Category</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.subSector ? viewListProcurementPlanCtrl.subSector : '-'}}</span>
                <!--<selectize ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Category" options="viewListProcurementPlanCtrl.dataCategory"
                           config="viewListProcurementPlanCtrl.myConfig3" ng-model="viewListProcurementPlanCtrl.categoryName"
                           ng-change="viewListProcurementPlanCtrl.ubahCategory(viewListProcurementPlanCtrl.categoryName)"></selectize>-->
                <!--<input type="text" class="form-control"
                       ng-model="viewListProcurementPlanCtrl.categoryName" ng-disabled="(viewListProcurementPlanCtrl.isDataCat == 0 || viewListProcurementPlanCtrl.ubah == 0) && viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review'"
                       uib-typeahead="b as b.CategoryName for b in viewListProcurementPlanCtrl.dataCategory | filter:$viewValue | limitTo:10"
                       typeahead-on-select='viewListProcurementPlanCtrl.ubahCategory($item, $model, $label)'
                       placeholder="Category">-->
            </div>
            <div class="col-md-3">
                <label>Sourcing Activity</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.sourcingActivity ? viewListProcurementPlanCtrl.sourcingActivity : '-'}}</span>
                <!--<selectize ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Sourcing Activity" options="viewListProcurementPlanCtrl.dataSourcingActivity"
                           config="viewListProcurementPlanCtrl.myConfig4" ng-model="viewListProcurementPlanCtrl.sourcingActivity"
                           ng-change="viewListProcurementPlanCtrl.ubahSourcing(viewListProcurementPlanCtrl.sourcingActivity)"></selectize>-->
                <!--<input type="text" class="form-control"
                       ng-model="viewListProcurementPlanCtrl.sourcingActivity" ng-disabled="(viewListProcurementPlanCtrl.isDataSourcing == 0 || viewListProcurementPlanCtrl.ubah == 0)"
                       uib-typeahead="b as b.MethodName for b in viewListProcurementPlanCtrl.dataSourcingActivity | filter:$viewValue | limitTo:10"
                       typeahead-on-select='viewListProcurementPlanCtrl.ubahSourcing($item, $model, $label)'
                       placeholder="Sourcing Activity">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Contract Type</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.contractTypeName ? viewListProcurementPlanCtrl.contractTypeName :'-'}}</span>
                <!--<select class="form-control" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" ng-model="viewListProcurementPlanCtrl.contractType" ng-change="viewListProcurementPlanCtrl.ubahDept(viewListProcurementPlanCtrl.departemen)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ct.RefID}}" ng-repeat="ct in viewListProcurementPlanCtrl.dataContractType" ng-selected="ct.RefID == viewListProcurementPlanCtrl.contractType">{{ct.Value}}</option>
                </select>-->
            </div>
            <div class="col-md-3">
                <label>Existing Contract</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.existingContractName ? viewListProcurementPlanCtrl.existingContractName : '-'}}</span>
                <!--<select class="form-control" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" ng-model="viewListProcurementPlanCtrl.existingContract">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ec.RefID}}" ng-repeat="ec in viewListProcurementPlanCtrl.dataExistingContract" ng-selected="ec.RefID == viewListProcurementPlanCtrl.existingContract">{{ec.Value}}</option>
                </select>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Existing Contract Award</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.existingContractAwardName ? viewListProcurementPlanCtrl.existingContractAwardName : '-'}}</span>
                <!--<select class="form-control" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" ng-model="viewListProcurementPlanCtrl.existingContractAward">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{eca.RefID}}" ng-repeat="eca in viewListProcurementPlanCtrl.dataExistingContractAward" ng-selected="eca.RefID == viewListProcurementPlanCtrl.existingContractAward">{{eca.Value}}</option>
                </select>-->
            </div>
            <div class="col-md-3">
                <label>PR Number</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.prNumber ? viewListProcurementPlanCtrl.prNumber : '-'}}</span>
                <!--<input type="text" class="form-control" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" ng-model="viewListProcurementPlanCtrl.prNumber" placeholder="PR Number">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Current Contract Start Date</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.CCStartDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">
                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Current Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[0]" ng-model="viewListProcurementPlanCtrl.CCStartDate" ng-click="viewListProcurementPlanCtrl.openCalendar(0)"
                           ng-change="viewListProcurementPlanCtrl.ubahCCStart(viewListProcurementPlanCtrl.CCStartDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(0)"></span></span>
                </div>-->
            </div>
            <div class="col-md-3">
                <label>Current Contract End Date</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.CCEndDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Current Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[1]" ng-model="viewListProcurementPlanCtrl.CCEndDate" ng-click="viewListProcurementPlanCtrl.openCalendar(1)"
                           ng-change="viewListProcurementPlanCtrl.ubahCCEnd(viewListProcurementPlanCtrl.CCEndDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(1)"></span></span>

                </div>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>New Contract Start Date *</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.newContractStartDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input disabled placeholder="New Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[2]" ng-model="viewListProcurementPlanCtrl.newContractStartDate" ng-click="viewListProcurementPlanCtrl.openCalendar(2)"
                           ng-change="viewListProcurementPlanCtrl.UbahNewStartDate(viewListProcurementPlanCtrl.newContractStartDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(2)"></span></span>

                </div>-->
            </div>
            <div class="col-md-3">
                <label>New Contract End Date *</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.newContractEndDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input disabled placeholder="New Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[3]" ng-model="viewListProcurementPlanCtrl.newContractEndDate" ng-click="viewListProcurementPlanCtrl.openCalendar(3)"
                           ng-change="viewListProcurementPlanCtrl.UbahNewEndDate(viewListProcurementPlanCtrl.newContractEndDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(3)"></span></span>

                </div>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>New Contract Duration</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.newContractDuration ? viewListProcurementPlanCtrl.newContractDuration : '0'}} {{'LABEL.MONTH' | translate}}</span>
                <!--<div class="input-group">
                    <input type="text" disabled class="form-control" ng-model="viewListProcurementPlanCtrl.newContractDuration">
                    <span class="input-group-addon" id="basic-addon1">Month</span>
                </div>-->
            </div>
            <div class="col-md-3">
                <label>New Contract Extensions Option</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.newContractExtensionsDuration ? viewListProcurementPlanCtrl.newContractExtensionsDuration : '0'}} {{'LABEL.MONTH' | translate}}</span>
                <!--<div class="input-group">
                    <input type="text" ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="viewListProcurementPlanCtrl.newContractExtensionsDuration"
                           ng-change="viewListProcurementPlanCtrl.ubahNewContractExt(viewListProcurementPlanCtrl.newContractExtensionsDuration)">
                    <span class="input-group-addon" id="basic-addon1">Month</span>
                </div>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>New Contract Value Including Extension Options</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.newContractIncludeExtensionsDuration ? viewListProcurementPlanCtrl.newContractIncludeExtensionsDuration : '0'}} {{'LABEL.MONTH' | translate}}</span>
                <!--<div class="input-group">
                    <input type="text" disabled class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="viewListProcurementPlanCtrl.newContractIncludeExtensionsDuration">
                    <span class="input-group-addon" id="basic-addon1">Month</span>
                </div>-->
            </div>
            <div class="col-md-3">
                <label>Status</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.statName ? viewListProcurementPlanCtrl.statName : '-'}}</span>
                <!--<select class="form-control" disabled ng-if="viewListProcurementPlanCtrl.procPlanStatusName == 'Completed' && viewListProcurementPlanCtrl.scmStatusName == ''">
                    <option value="{{viewListProcurementPlanCtrl.procPlanStatus}}">{{viewListProcurementPlanCtrl.procPlanStatusName}}</option>
                </select>
                <select class="form-control" disabled ng-if="viewListProcurementPlanCtrl.procPlanStatusName == 'Completed' && viewListProcurementPlanCtrl.scmStatusName != ''">
                    <option value="{{viewListProcurementPlanCtrl.scmStatus}}">{{viewListProcurementPlanCtrl.scmStatusName}}</option>
                </select>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Sourcing Date Start</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.sourcingDateStart | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Sourcing Date Start" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[4]" ng-model="viewListProcurementPlanCtrl.sourcingDateStart" ng-click="viewListProcurementPlanCtrl.openCalendar(4)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(4)"></span></span>

                </div>-->
            </div>
            <div class="col-md-3">
                <label>CGC Approval Date</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.cgcApprovalDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="CGC Approval Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[5]" ng-model="viewListProcurementPlanCtrl.cgcApprovalDate" ng-click="viewListProcurementPlanCtrl.openCalendar(5)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(5)"></span></span>

                </div>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Bid Issue Date</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.bidIssueDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Bid Issue Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[6]" ng-model="viewListProcurementPlanCtrl.bidIssueDate" ng-click="viewListProcurementPlanCtrl.openCalendar(6)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(6)"></span></span>

                </div>-->
            </div>
            <div class="col-md-3">
                <label>Bid Due Date</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.bidDuedDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Bid Due Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[7]" ng-model="viewListProcurementPlanCtrl.bidDuedDate" ng-click="viewListProcurementPlanCtrl.openCalendar(7)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(7)"></span></span>

                </div>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Bid Evaluation Completion Date</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.bidEvalCompletionDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Bid Evaluation Completion Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[8]" ng-model="viewListProcurementPlanCtrl.bidEvalCompletionDate" ng-click="viewListProcurementPlanCtrl.openCalendar(8)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(8)"></span></span>

                </div>-->
            </div>
            <div class="col-md-3">
                <label>Negotiation Date</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.negotiationDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Negotiation Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[9]" ng-model="viewListProcurementPlanCtrl.negotiationDate" ng-click="viewListProcurementPlanCtrl.openCalendar(9)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(9)"></span></span>

                </div>-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-3">
                <label>Award Recommendation</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.awardRecomDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Award Recommendation" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[10]" ng-model="viewListProcurementPlanCtrl.awardRecomDate" ng-click="viewListProcurementPlanCtrl.openCalendar(10)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(10)"></span></span>

                </div>-->
            </div>
            <div class="col-md-3">
                <label>Excom/Board Approval</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.excomBoardApproval | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Excom/Board Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[11]" ng-model="viewListProcurementPlanCtrl.excomBoardApproval" ng-click="viewListProcurementPlanCtrl.openCalendar(11)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(11)"></span></span>

                </div>-->
            </div>
        </div>
        <p></p>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-3">
                <label>Concessionaire / Partners Approval</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.consessPartApproval | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Concessionaire / Partners Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[12]" ng-model="viewListProcurementPlanCtrl.consessPartApproval" ng-click="viewListProcurementPlanCtrl.openCalendar(12)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(12)"></span></span>

                </div>-->
            </div>
            <div class="col-md-3">
                <label>Contract Execution Date</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.contractExecutionDate | date:'dd MMMM yyyy'}}</span>
                <!--<div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" placeholder="Contract Execution Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="viewListProcurementPlanCtrl.isCalendarOpened[13]" ng-model="viewListProcurementPlanCtrl.contractExecutionDate" ng-click="viewListProcurementPlanCtrl.openCalendar(13)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="viewListProcurementPlanCtrl.openCalendar(13)"></span></span>

                </div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>Comments</label>
            </div>
            <div class="col-md-3">
                <span><label>:</label> {{viewListProcurementPlanCtrl.comments ? viewListProcurementPlanCtrl.comments : '-'}}</span>
                <!--<textarea ng-disabled="viewListProcurementPlanCtrl.ubah == 0 || (viewListProcurementPlanCtrl.statName == 'Reviewed' && viewListProcurementPlanCtrl.statName == 'Approval Review')" ng-model="viewListProcurementPlanCtrl.comments" style="resize:none; width: 100%; height:30%;"></textarea>-->
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="viewListProcurementPlanCtrl.batal()" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" ng-if="viewListProcurementPlanCtrl.ubah == 1" class="btn btn-flat btn-success" ng-click="viewListProcurementPlanCtrl.simpan()" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>