﻿<!-- Main content -->
<div ng-init="AddVHSCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/monitoring-vhs">{{'BREADCRUMB.MONITORING_TENDER' | translate}}</a></li>
            <li><a class="active">{{'BREADCRUMB.ADDENDUM' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'JUDUL_ADENDUM' | translate}}</h3>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row form-group">
                            <div class="col-lg-2" style="width:14%;">
                                <div class="form-group" style="line-height:30px;"><label for="vendor">Vendor Name</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">Storage Location</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">Date Request</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">Type Budget</label></div>
                                <div class="form-group" style="line-height:30px;"><label></label></div>
                                <div class="form-group" style="line-height:25px;"><label></label></div>
                                <div class="form-group" style="line-height:30px;"><label></label></div>
                                <div class="form-group"style="line-height:60px;"><label for="vendord">Remark</label></div>
                                <div class="form-group" style="line-height:70px;"><label></label></div>
                               <div class="form-group" ><label for="vendord">Doc Addendum</label></div>
                            </div>
                            <div class="col-lg-1" style="width:2%; margin-left:-30px;">
                                <div class="form-group" style="line-height:30px;"><label for="vendor">:</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                                <div class="form-group" style="line-height:30px;"><label></label></div>
                                <div class="form-group" style="line-height:25px;"><label></label></div>
                                <div class="form-group" style="line-height:30px;"><label></label></div>
                                <div class="form-group" style="line-height:60px;"><label for="vendord">:</label></div>
                                <div class="form-group" style="line-height:70px;"><label></label></div>
                                <div class="form-group"><label for="vendord">:</label></div>
                            </div>
                            <div class="col-lg-4" style="margin-left:-20px;">
                                <div class="form-group">
                                    <div class="form-control"style="border:hidden;">
                                        {{AddVHSCtrl.VHSdata.VendorName}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-control" style="border:hidden;">
                                        {{AddVHSCtrl.VHSdata.StorageLocation}}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group date form_datetime">
                                        <input style="background-color: #ffffff;" placeholder="Input Date Request" readonly required class="form-control datepicker" size="4" ng-model="AddVHSCtrl.RequestDate" type="text" uib-datepicker-popup="dd-MM-yyyy"
                                               is-open="AddVHSCtrl.isCalendarOpened[0]" ng-click="AddVHSCtrl.openCalendar(0)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success" ng-click="AddVHSCtrl.openCalendar(0)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group form-control">
                                        <input type="radio" name="typeBudget" id="typeBudget" class="radio radio-inline  " ng-model="AddVHSCtrl.TypeAddendum" value="1" ng-checked="false" /> <label for="typeBudget"><span>&nbsp;</span>Budget</label> <br />

                                    </div>
                                    <div class="col-lg-6 form-control" style="width:50%">
                                        <input type="radio" name="typeDuration" id="typeDuration" class="radio radio-inline" ng-model="AddVHSCtrl.TypeAddendum" value="2" /> <label for="typeDuration"><span>&nbsp;</span>Duration<span>&nbsp;</span> </label>
                                    </div>
                                    <input class="col-lg-1 form-control" style="width:1%;border:hidden;" />
                                    <input class="col-lg-6 form-control"  ng-if="AddVHSCtrl.TypeAddendum == '2'"type="text" name="typeDurationMonth" style="width:15%" id="typeDurationMonth" ng-model="AddVHSCtrl.TypeAddendumMonth" ng-change="AddVHSCtrl.getMon(AddVHSCtrl.TypeAddendumMonth)" />
                                    <input class="col-lg-6 form-control" ng-if="AddVHSCtrl.TypeAddendum == '2'" type="text" style="width:25%;border:hidden;" ng-model="AddVHSCtrl.AddendumMonth" />
                                    
                                    <div class="input-group form-control">
                                        <input ng-click="AddVHSCtrl.modalNewItem()" type="radio" name="typeNewItem" id="typeNewItem" class="radio radio-inline" ng-model="AddVHSCtrl.TypeAddendum" value="3" /><label for="typeNewItem"><span>&nbsp;</span>New Item</label><br />
                                    </div>
                                    <div class="input-group form-control">
                                        <input type="radio" name="typePrice" id="typePrice" class="radio radio-inline" ng-model="AddVHSCtrl.TypeAddendum" value="4" /><label for="typePrice"><span>&nbsp;</span>Price</label><span class="input-group-btn"></span>

                                    </div>
                                        

                                    </div>

                                <div class="form-group">
                                    <textarea cols="50" rows="5" class="form-control input-append" name="" placeholder="Input Remark" ng-model="AddVHSCtrl.Remask"> </textarea>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="control-label">
                                            <small> ( <span ng-repeat="ft in AddVHSCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{AddVHSCtrl.idUploadConfigs[0].Size}} {{AddVHSCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                                            {{AddVHSCtrl.DocUrl ? '**' : ''}}
                                        </label>
                                        <input type="file" class="form-control" ng-file-select="AddVHSCtrl.selectUpload(fileUpload)"
                                               ng-model="fileUpload" required accept="{{AddVHSCtrl.idFileTypes}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2" style="width:15%;">
                                <div class="form-group" style="line-height:30px;"><label for="vendor">Addendum Code</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">Title Document</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">Requestor</label></div>
                                <div class="form-group" style="line-height:30px;" ng-if="(AddVHSCtrl.TypeAddendum === '1')"><label for="Storag">Addendum Value</label></div>
                                <div class="form-group" style="line-height:30px;" ng-if="!(AddVHSCtrl.TypeAddendum === '1')"><label for="Storag"></label></div>
                                <div class="form-group" style="line-height:30px;" ng-if="(AddVHSCtrl.TypeAddendum === '2')"><label for="Storag">Addendum Contract</label></div>
                            </div>
                            <div class="col-lg-1" style="width:2%; margin-left:-30px;">
                                <div class="form-group" style="line-height:30px;"><label for="vendor">:</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                                <div class="form-group" style="line-height:30px;"><label for="Storag">:</label></div>
                                <div class="form-group" style="line-height:30px;" ng-if="(AddVHSCtrl.TypeAddendum === '1')"><label for="Storag">:</label></div>
                                <div class="form-group" style="line-height:30px;" ng-if="!(AddVHSCtrl.TypeAddendum === '1')"><label for="Storag"></label></div>
                                <div class="form-group" style="line-height:30px;" ng-if="(AddVHSCtrl.TypeAddendum === '2')"><label for="Storag">:</label></div>
                            </div>
                            <div class="col-lg-4"  style="margin-left:-20px;">
                                <div class="form-group">
                                    <input type="text" class="form-control" value="" placeholder="Input Addendum Code" name="AddendumCode" ng-model="AddVHSCtrl.AddendumCode" />
                                </div>
                                <div class="form-group">
                                    <div class="form-control"  style="border:hidden;">
                                        {{AddVHSCtrl.VHSdata.TitleDoc}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-control" style="border:hidden;">
                                        <input type="radio" name="type" class="checkbox checkbox-inline" value="1" ng-model="AddVHSCtrl.Requestor" /> <label> Vendor </label>
                                        <input type="radio" name="type" class="checkbox checkbox-inline" value="2" ng-model="AddVHSCtrl.Requestor" /> <label> Internal PTVI </label>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="(AddVHSCtrl.TypeAddendum === '1')">
                                    <input type="text" class="form-control" value="" placeholder="Input Addendum Value" name="AddendumValue" ng-model="AddVHSCtrl.AddendumValue" />
                                </div>
                                <div class="form-group" ng-if="!(AddVHSCtrl.TypeAddendum === '1')">
                                    <input type="text" class="form-control" value="" name="AddendumValue" style="border:hidden" />
                                </div>
                                <input ng-if="(AddVHSCtrl.TypeAddendum === '2')" style="background-color: #ffffff;width:30%;" placeholder="Input Start Date" readonly required
                                       class="col-lg-6 form-control" size="4" ng-model="AddVHSCtrl.RequestDate"
                                       type="text" uib-datepicker-popup="dd-MM-yyyy"
                                       is-open="AddVHSCtrl.isCalendarOpened[0]" ng-click="AddVHSCtrl.openCalendar(0)" />
                                <button ng-if="(AddVHSCtrl.TypeAddendum === '2')" type="button" class="btn btn-success col-lg-6 form-control" style="width:10%;" ng-click="AddVHSCtrl.openCalendar(0)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                                <input class="col-lg-1 form-control" ng-if="AddVHSCtrl.TypeAddendum == '2'"style="width:1%;border:hidden;"  />
                                <label class="col-lg-1 form-control" ng-if="AddVHSCtrl.TypeAddendum == '2'" style="width:1%;border:hidden;">to</label>
                                <input class="col-lg-1 form-control" ng-if="AddVHSCtrl.TypeAddendum == '2'" style="width:1%;border:hidden;" />
                                <input disabled ng-if="(AddVHSCtrl.TypeAddendum === '2')" style="background-color: #ffffff;width:30%;" placeholder="Finish Date" readonly required
                                       class="col-lg-6 form-control" size="4" ng-model="AddVHSCtrl.EndDate"
                                       type="text" uib-datepicker-popup="dd-MM-yyyy"/>




                                <!--<div class="form-group" ng-hide="!(AddVHSCtrl.TypeAddendum === '2')" style="width:5%;margin-top:-45px;margin-left: 200px;">
                                    <label>to </label>
                                </div>

                                <div class="form-group" ng-hide="!(AddVHSCtrl.TypeAddendum === '2')" style="width:40%;margin-top:-45px;margin-left:250px;">
                                    <div class="input-group date form_datetime">
                                        <input ng-disabled="true" style="background-color: #ffffff;" placeholder="Input Date Request" readonly required class="form-control datepicker" size="4" ng-model="AddVHSCtrl.EndDate" type="text" uib-datepicker-popup="dd-MM-yyyy" />
                                        <span class="input-group-btn">
                                            <button ng-disabled="true" type="button" class="btn btn-success" ng-click="AddVHSCtrl.openCalendar(3)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left">
                                        <button class="btn btn-success" title="{{'SIMPAN' | translate}}" ng-click="AddVHSCtrl.save()"><i class="fa fa-cloud-download"></i>&nbsp;Export</button>
                                        <a class="btn btn-flat btn-primary" ng-click="AddVHSCtrl.upload()">
                                            <i class="fa fa-cloud-upload"></i> Import

                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.MATERIAL_CODE' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.ITEM_DES' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.MANUFACT' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.PART_NO' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.ESTIMATION' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.UOP' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.CURRENCY' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.PRICE' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">LeadTime</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.COUNTRY_OR' | translate }}</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.REMASK' | translate }}</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in AddVHSCtrl.DataDocList[0]">
                                                        <td style="vertical-align: middle;">{{$index + 1}}</td>
                                                        <td style="vertical-align: middle;">{{data.MaterialCode}}</td>
                                                        <td style="vertical-align: middle;">{{data.ItemDescrip}}</td>
                                                        <td style="vertical-align: middle;">{{data.Manufacture}}</td>
                                                        <td style="vertical-align: middle;">{{data.PartNo}}</td>
                                                        <td style="vertical-align: middle;">{{data.Estimate}}</td>
                                                        <td style="vertical-align: middle;">{{data.Unit}}</td>
                                                        <td style="vertical-align: middle;">{{data.Currency}}</td>
                                                        <td style="vertical-align: middle;">{{data.PriceIDR}}</td>
                                                        <td style="vertical-align: middle;">{{data.LeadTime}}</td>
                                                        <td style="vertical-align: middle;">{{data.CountryOfOrigin}}</td>
                                                        <td style="vertical-align: middle;">{{data.Remark}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right">
                                        <button class="btn btn-success turun-15" title="{{'SIMPAN' | translate}}" ng-click="AddVHSCtrl.save()"><i class="fa fa-save"></i>&nbsp;{{'SIMPAN' | translate}}</button>
                                        <a href="#/detail-data-adendum/{{AddVHSCtrl.VHSdata.ID}}" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
                                            <i class="fa fa-arrow-left"></i> Kembali

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
    </section>
</div>
