﻿<div class="modal-content" ng-init="UploadPriceCtrl.init()">
    <div class="modal-header">
        <h3 class="modal-title afta-font" id="myModalLabel">Price</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label">
                            Upload File
                            <small> ( <span ng-repeat="ft in UploadPriceCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{UploadPriceCtrl.idUploadConfigs[0].Size}} {{UploadPriceCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                        </label>
                        <input type="file" class="form-control" ng-file-select="UploadPriceCtrl.selectUpload()"
                               ng-model="UploadPriceCtrl.fileUpload" name="ownerIDFile" required accept="{{UploadPriceCtrl.idFileTypes}}" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" ng-click="UploadPriceCtrl.uploadFile()" title="Upload File"><i class="fa fa-save"></i></button>
            </div>
        </div>
    </form>
</div>