<div class="container-fluid" ng-init="PreqEvalEqCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi/tahapan/{{PreqEvalEqCtrl.PrequalSetupID}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/evaluasi-prakualifikasi/{{PreqEvalEqCtrl.PrequalSetupID}}/{{PreqEvalEqCtrl.PrequalStepID}}">{{'BREADCRUMB.PREQ_EVAL'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.EQUIP'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalEqCtrl.step.PrequalStepName |translate}}</h3>
                            <h4 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalEqCtrl.step.PrequalSetupName}}</h4>
                            <h4 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalEqCtrl.VendorName}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>{{'TABLE.STARTDATE'|translate}}: {{PreqEvalEqCtrl.step.StartDate}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>{{'TABLE.ENDDATE'|translate}}: {{PreqEvalEqCtrl.step.EndDate}}</label>
                        </div>
                    </div>
                    <br />
                    <br />        
                    <label>{{'TABLE.VEHICLE'|translate}} ({{'TABLE.OWN_PROP'|translate}})</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="center-vertical" width="10">No</th>
                                                        <th class="center-vertical">{{'TABLE.VEHICLE'|translate}}</th>
                                                        <th class="center-vertical">{{'TABLE.BRAND'|translate}}</th>
                                                        <th class="center-vertical" width="20">{{'TABLE.YEAR'|translate}}</th>
                                                        <th class="center-vertical" width="150">{{'TABLE.VALUE'|translate}}</th>
                                                        <th class="center-vertical" width="20">Useful Life</th>
                                                        <th class="center-vertical" width="150">{{'TABLE.DEPRECIATION'|translate}}</th>
                                                        <th class="center-vertical" width="10">%</th>
                                                        <th class="center-vertical" width="150">{{'TABLE.VALUE_DEP'|translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="objc in PreqEvalEqCtrl.listVehicle">
                                                        <td class="text-center">{{PreqEvalEqCtrl.currentPage > 1 ? (PreqEvalEqCtrl.maxSize * (PreqEvalEqCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                        <td>{{objc.Name}}</td>
                                                        <td class="center-vertical">{{objc.Brand}}</td>
                                                        <td class="center-vertical">{{objc.MfgDate | date:'yyyy'}}</td>
                                                        <td class="middle-vertical text-right">{{objc.Cost | currency:''}}</td>
                                                        <td class="center-vertical">{{objc.Life}}</td>
                                                        <td class="middle-vertical text-right">{{objc.Depreciation.toFixed(2) | currency:''}}</td>
                                                        <td class="center-vertical">{{objc.DepreciationPercent.toFixed(0)}}%</td>
                                                        <td class="middle-vertical text-right">{{objc.Depreciated.toFixed(2) | currency:''}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4">Total : </td>
                                                        <td class="middle-vertical text-right">{{PreqEvalEqCtrl.totalCostVehic.toFixed(2) | currency:''}}</td>
                                                        <td class="text-right" colspan="3">Total : </td>
                                                        <td class="middle-vertical text-right">{{PreqEvalEqCtrl.totalDeprVehic.toFixed(2) | currency:''}}</td>
                                                    </tr>
                                                    <tr ng-if="PreqEvalEqCtrl.listVehicle.length === 0">
                                                        <td colspan="9">{{'TABLE.NODATA' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label>{{'TABLE.HEAVY_TOOL'|translate}} ({{'TABLE.OWN_PROP'|translate}})</label>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="center-vertical" width="20">No</th>
                                                        <th class="center-vertical">{{'TABLE.TOOL'|translate}}</th>
                                                        <th class="center-vertical">{{'TABLE.BRAND'|translate}}</th>
                                                        <th class="center-vertical" width="20">{{'TABLE.YEAR'|translate}}</th>
                                                        <th class="center-vertical" width="150">{{'TABLE.VALUE'|translate}}</th>
                                                        <th class="center-vertical" width="20">Useful Life</th>
                                                        <th class="center-vertical" width="150">{{'TABLE.DEPRECIATION'|translate}}</th>
                                                        <th class="center-vertical" width="10">%</th>
                                                        <th class="center-vertical" width="150">{{'TABLE.VALUE_DEP'|translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="objc in PreqEvalEqCtrl.listEquipment" ng-class="{'bg-danger': objc.IsTemporary === true}">
                                                        <td class="text-center" style="vertical-align: middle;">{{PreqEvalEqCtrl.currentPage > 1 ? (PreqEvalEqCtrl.pageSize * (PreqEvalEqCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                        <td style="vertical-align: middle;">{{objc.Name}}</td>
                                                        <td class="center-vertical">{{objc.Brand}}</td>
                                                        <td class="center-vertical">{{objc.MfgDate | date:'yyyy'}}</td>
                                                        <td class="middle-vertical text-right">{{objc.Cost | currency:''}}</td>
                                                        <td class="center-vertical">{{objc.Life}}</td>
                                                        <td class="middle-vertical text-right">{{objc.Depreciation.toFixed(2) | currency:''}}</td>
                                                        <td class="center-vertical">{{objc.DepreciationPercent.toFixed(0)}}%</td>
                                                        <td class="middle-vertical text-right">{{objc.Depreciated.toFixed(2) | currency:''}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right" colspan="4">Total : </td>
                                                        <td class="middle-vertical text-right">{{PreqEvalEqCtrl.totalCostEquip.toFixed(2) | currency:''}}</td>
                                                        <td class="text-right" colspan="3">Total : </td>
                                                        <td class="middle-vertical text-right">{{PreqEvalEqCtrl.totalDeprEquip.toFixed(2) | currency:''}}</td>
                                                    </tr>
                                                    <tr ng-if="PreqEvalEqCtrl.listEquipment.length === 0">
                                                        <td colspan="9">{{'TABLE.NODATA' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <hr />
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="#/evaluasi-prakualifikasi/{{PreqEvalEqCtrl.PrequalSetupID}}/{{PreqEvalEqCtrl.PrequalStepID}}" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>