﻿<section class="content" ng-init="PreqEvalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi/tahapan/{{PreqEvalCtrl.PrequalSetupID}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.PREQ_EVAL'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalCtrl.step.PrequalStepName |translate}}</h3>
                            <h4 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalCtrl.step.PrequalSetupName}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>{{'TABLE.STARTDATE'|translate}}: {{PreqEvalCtrl.step.StartDate}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>{{'TABLE.ENDDATE'|translate}}: {{PreqEvalCtrl.step.EndDate}}</label>
                        </div>
                    </div>
                    <!--<div class="row margin-atas">
                        <div class="col-md-6 text-left">
                            <a class="btn btn-sm btn-flat btn-primary" ng-click="PreqEvalCtrl.do_summary()" title="Lakukan Summary"><i class="fa fa-play-circle-o"></i> Lakukan Summary</a>
                        </div>
                    </div>-->
                    <div class="row" style="padding-top: 10px!important;">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="tabelPeserta" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="5" class="text-center">{{'TABLE.VENDOR_DATA'|translate}}</th>
                                        </tr>
                                        <tr>
                                            <th class="center-vertical" width='20px'>No.</th>
                                            <th class="center-vertical">{{'TABLE.VENDOR_NAME'|translate}}</th>
                                            <th class="center-vertical" width="100">{{'TABLE.EVAL'|translate}}</th>
                                            <th class="center-vertical" width="100">{{'TABLE.SAVE_RESULT'|translate}}</th>
                                            <th class="center-vertical" width="100">{{'TABLE.EVALUATE'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pe in PreqEvalCtrl.evaluations">
                                            <td>{{$index + 1}}</td>
                                            <td>{{pe.VendorName}}</td>
                                            <td class="center-vertical">
                                                <a href="#/evaluasi-prakualifikasi/perlengkapan/{{PreqEvalCtrl.PrequalSetupID}}/{{PreqEvalCtrl.PrequalStepID}}/{{pe.VendorID}}" class="btn btn-xs btn-flat btn-primary" style="vertical-align: middle; cursor: pointer!important;" title="{{'BTN.EQUIP'|translate}}"><i class="fa fa-car"></i></a>
                                                <a href="#/evaluasi-prakualifikasi/neraca/{{PreqEvalCtrl.PrequalSetupID}}/{{PreqEvalCtrl.PrequalStepID}}/{{pe.VendorID}}" class="btn btn-xs btn-flat btn-primary" style="vertical-align: middle; cursor: pointer!important;" title="{{'BTN.BALANCE'|translate}}"><i class="fa fa-money"></i></a>
                                                <a href="#/evaluasi-prakualifikasi/pengalaman/{{PreqEvalCtrl.PrequalSetupID}}/{{PreqEvalCtrl.PrequalStepID}}/{{pe.VendorID}}" class="btn btn-xs btn-flat btn-primary" style="vertical-align: middle; cursor: pointer!important;" title="{{'BTN.EXP'|translate}}"><i class="fa fa-trophy"></i></a>
                                            </td>
                                            <td class="center-vertical">
                                                <a href="#/evaluasi-prakualifikasi/hasil/{{PreqEvalCtrl.PrequalSetupID}}/{{PreqEvalCtrl.PrequalStepID}}/{{pe.VendorID}}" class="btn btn-xs btn-flat btn-success" style="vertical-align: middle; cursor: pointer!important;"><i class="fa fa-pencil"></i></a>
                                            </td>
                                            <td class="center-vertical">
                                                <span ng-if="pe.IsNotEvaluatedYet === false"><i class="fa fa-check-circle"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <hr />
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="#/data-prakualifikasi/tahapan/{{PreqEvalCtrl.PrequalSetupID}}" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

