<div class="container-fluid" ng-init="PreqEvalResCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi/tahapan/{{PreqEvalResCtrl.PrequalSetupID}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/evaluasi-prakualifikasi/{{PreqEvalResCtrl.PrequalSetupID}}/{{PreqEvalResCtrl.PrequalStepID}}">{{'BREADCRUMB.PREQ_EVAL'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.ASSESS'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalResCtrl.step.PrequalStepName |translate}}</h3>
                            <h4 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalResCtrl.step.PrequalSetupName}}</h4>
                            <h4 class="afta-font judul-datatabel" style="text-align: center!important;">{{PreqEvalResCtrl.VendorName}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>{{'TABLE.STARTDATE'|translate}}: {{PreqEvalResCtrl.step.StartDate}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>{{'TABLE.ENDDATE'|translate}}: {{PreqEvalResCtrl.step.EndDate}}</label>
                        </div>
                    </div>
                    <br />
                    <br />        
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="center-vertical" width="10">No</th>
                                                        <th class="center-vertical">{{'TABLE.BUS_FIELD'|translate}}</th>
                                                        <th class="center-vertical" width="100">{{'TABLE.CORE_NONCORE'|translate}}</th>
                                                        <th class="center-vertical" width="100">{{'TABLE.QUALIFICATION'|translate}}</th>
                                                        <th class="center-vertical" width="100">{{'TABLE.PERFORM'|translate}} ({{'HSE'|translate}})</th>
                                                        <th class="center-vertical" width="100" ng-repeat="crit in PreqEvalResCtrl.questionnaireCriterias">
                                                            {{crit|translate}}
                                                        </th>
                                                        <th class="center-vertical" width="100">{{'TABLE.EXP'|translate}} ({{'TABLE.YEAR'|translate}} x 95)</th>
                                                        <th class="center-vertical" width="100">Total</th>
                                                        <th class="center-vertical" width="100">{{'TABLE.PERFORM'|translate}} (Pratama/Utama)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="field in PreqEvalResCtrl.fields">
                                                        <td class="text-center">{{$index + 1}}</td>
                                                        <td class="middle-vertical">
                                                            {{field.BusinessFieldName}} <span ng-if="field.CommodityName">({{field.CommodityName.substr(0,7)}})</span>
                                                        </td>
                                                        <td class="center-vertical">{{field.IsCore ? 'Inti' : 'Non-inti' |translate}}</td>
                                                        <td class="center-vertical">
                                                            {{(field.ResultScaleName ? field.ResultScaleName : 'NOT_QUALIFIED') | translate}}
                                                        </td>
                                                        <td class="center-vertical">
                                                            <span ng-if="field.ResultK3L === true">{{'TABLE.PASS'|translate}}</span>
                                                            <span ng-if="field.ResultK3L === false">{{'TABLE.FAIL'|translate}}</span>
                                                        </td>
                                                        <td class="center-vertical" ng-repeat="qscore in field.QuestionnaireScores">
                                                            {{qscore.Score}}
                                                        </td>
                                                        <td class="center-vertical">{{field.ResultExp || field.GoodsOrService === 'VENDOR_TYPE_SERVICE' ? field.ResultExp : 'N/A'}}</td>
                                                        <td class="center-vertical">{{field.ResultTotal}}</td>
                                                        <td class="center-vertical">{{field.ResultTechnicalName ? field.ResultTechnicalName : 'N/A' | translate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-right">
                                <button ng-if="!PreqEvalResCtrl.isNotSavedYet" ng-click="PreqEvalResCtrl.reloadEvaluations()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.RECALC_EVAL'|translate}}"><i class="fa fa-refresh"></i>&nbsp;{{'BTN.RE_CALC'|translate}}</button>
                                <button ng-if="PreqEvalResCtrl.isNotSavedYet" ng-disabled="!PreqEvalResCtrl.isTime" ng-click="PreqEvalResCtrl.saveEvaluations()" class="btn btn-sm btn-flat btn-success" title="{{'BTN.SAVE_EVAL'|translate}}"><i class="fa fa-save"></i>&nbsp;{{'BTN.SAVE'|translate}}</button>
                                <span ng-if="PreqEvalResCtrl.isNotSavedYet && !PreqEvalResCtrl.isTime">
                                    <br/>
                                    <i class="text-red" >{{'MESSAGE.NOTIF_TIME'|translate}}</i>
                                </span> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <hr />
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="#/evaluasi-prakualifikasi/{{PreqEvalResCtrl.PrequalSetupID}}/{{PreqEvalResCtrl.PrequalStepID}}" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>                   
            </div>
        </div>
    </div>
</div>