<div class="modal-content" ng-init="detailApprovalCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Keluar'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">Detail Approval </h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">Level Info</th>
                                        <th class="text-center">{{'TABLE.JABATAN'|translate}}</th>
                                        <th class="text-center">{{'TABLE.NAME'|translate}}</th>
                                        <th class="text-center">{{'TABLE.TGL_APPROVAL'|translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>{{detailApprovalCtrl.Employee.LevelInfoEmp}}</td>
                                        <td>{{detailApprovalCtrl.Employee.empModel.PositionName}}</td>
                                        <td class="text-center">{{detailApprovalCtrl.Employee.empModel.FullName}} {{detailApprovalCtrl.Employee.empModel.SurName}}</td>
                                        <td class="text-center">{{detailApprovalCtrl.Employee.ApprovalDate| date: "dd-MM-yyyy"}}</td>
                                        <td ng-if="detailApprovalCtrl.Employee.ApprovalStatus === null" class="text-center" ></td>
                                        <td ng-if="detailApprovalCtrl.Employee.ApprovalStatus === true" class="text-center" >Approve</td>
                                        <td ng-if="detailApprovalCtrl.Employee.ApprovalStatus === false" class="text-center" >Reject</td>
                                        <td>{{detailApprovalCtrl.Employee.Remark}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" title="{{'KEMBALI'|translate}}" ng-click="detailApprovalCtrl.cancel()"><i class="fa fa-arrow-circle-left"></i></button>
        </div>
    </div>
</div>