﻿<div class="modal-content" ng-init="FormIzinCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="FormIzinCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}Keluar</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'TABLE_DETAIL.TITLE' | translate}}</h3>
    </div>
    <div class="modal-body" >
        <div class="row blocked">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>{{'TABLE_DETAIL.NOMOR' | translate}}</dt>
                            <dd>{{FormIzinCtrl.dataLicensi.LicenseNo}}</dd>
                            <dt>{{'TABLE_DETAIL.TYPE_LICENSE' | translate}}</dt>
                            <dd>{{FormIzinCtrl.licensiname}}</dd>
                            <dt>{{'TABLE_DETAIL.DATE' | translate}}</dt>
                            <dd>{{FormIzinCtrl.dataLicensi.ExpiredDate}}</dd>
                            <dt>{{'TABLE_DETAIL.ISSUED_BY' | translate}}</dt>
                            <dd>{{FormIzinCtrl.dataLicensi.IssuedBy}}</dd>
                            <div ng-if="FormIzinCtrl.licensiname === 'SIUP'">
                                <dt>{{'TABLE_DETAIL.KUALIFIKASI' | translate}}</dt>
                                <dd>{{FormIzinCtrl.dataLicensi.CompanyScaleName}}</dd>
                                <dt>Modal</dt>
                                <dd>{{FormIzinCtrl.dataLicensi.CapitalAmount}}</dd>
                            </div>
                            <dt>{{'TABLE_DETAIL.DOC' | translate}}</dt>
                            <dd>
                                <a href="{{FormIzinCtrl.folderFile + FormIzinCtrl.dataLicensi.DocumentURL}}" target="_BLANK" class="btn btn-sm btn-primary" 
                                   ng-if="FormIzinCtrl.dataLicensi.DocumentURL != null" title="{{'TABLE_DETAIL.BTN_DOWNLOAD' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;
                                </a>
                                <label class="label label-sm label-default" ng-if="FormIzinCtrl.dataLicensi.DocumentURL === null">
                                    <i class="fa fa-times"></i>&nbsp;&nbsp;{{'TABLE_DETAIL.KET' | translate}}
                                </label>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="FormIzinCtrl.batal()" data-dismiss="modal" title="{{'TABLE_DETAIL.BTN_BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
    </div>
</div>