<section class="content" ng-init="questionnaireCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a href="#/purchase-requisition/synchronize" class="active">{{'BREADCRUMB.MASTER_QUEST' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="afta-font judul-datatabel">{{'DATA_QUEST' | translate}}</h3>
                        </div>
                        <div class="col-md-7">
                            <form method="post" role="form" ng-submit="questionnaireCtrl.searchData()">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{'LABEL_SEARCH' | translate}}..." ng-model="questionnaireCtrl.txtSearch">
                                    <span class="input-group-btn">
                                        <button ng-click="questionnaireCtrl.searchData()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'BTN_CARI'|translate}}">
                                            <i class="fa fa-search"></i>&nbsp;
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center">{{'TABLE.NAMA_QUEST' | translate}}</th>
                                            <th class="text-center">{{'TABLE.JENIS_FORM' | translate}}</th>
                                            <th width="10%" class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                            <th width="15%" class="text-center">{{'TABLE.ACTION' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="qt in questionnaireCtrl.listQuestionnaire">
                                            <td class="text-center">{{questionnaireCtrl.currentPage > 1 ? (questionnaireCtrl.maxSize * (questionnaireCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="text-left">{{qt.Name}}</td>
                                            <td class="text-left">{{qt.questionaireFormType.Name}}</td>
                                            <td ng-if="qt.IsActive" class="text-center" style="vertical-align: middle;">&nbsp;{{'AKTIF' | translate}}</td>
                                            <td ng-if="!qt.IsActive" class="text-center" style="vertical-align: middle;">&nbsp;{{'TIDAK_AKTIF' | translate}}</td>
                                            <td class="text-center">
                                                <!--
                                                <a ng-if="qt.IsActive === true" ng-click="questionnaireCtrl.formQuest(qt.QuestionareID)" class="btn btn-flat btn-xs btn-primary" title="{{'TABLE.BTN_TITLE_EDIT' | translate}}"><i class="fa fa-pencil"></i>&nbsp;</a>
                                                &nbsp;
                                                -->
                                                <a ng-if="qt.IsActive === true" ng-click="questionnaireCtrl.editActive(qt.QuestionareID,false)" class="btn btn-flat btn-xs btn-danger" title="{{'TABLE.BTN_TITLE_NONAKTIF' | translate}}"><i class="fa fa-trash-o"></i>&nbsp;</a>
                                                &nbsp;
                                                <a ng-if="qt.IsActive === false" ng-click="questionnaireCtrl.editActive(qt.QuestionareID,true)" class="btn btn-flat btn-xs btn-success" title="{{'TABLE.BTN_TITLE_AKTIF' | translate}}"><i class="fa fa-check"></i>&nbsp;</a>
                                                &nbsp;
                                                <a ng-if="qt.IsActive === true" ng-click="questionnaireCtrl.detailQuest(qt.QuestionareID)" class="btn btn-flat btn-xs btn-warning" title="{{'TABLE.BTN_TITLE_DETAIL' | translate}}"><i class="fa fa-external-link"></i>&nbsp;</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <ul uib-pagination boundary-links="true" total-items="asosiasiCtrl.totalItems" ng-model="questionnaireCtrl.currentPage"
                                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="questionnaireCtrl.jLoad(questionnaireCtrl.currentPage)"></ul>
                            <br />
                            <label>{{'TABLE.TOTAL_DATA' | translate}} : {{questionnaireCtrl.totalItems}}</label>
                        </div>
                        <div class="col-md-5">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="questionnaireCtrl.formQuest(0)" title="{{'BTN_TAMBAH'|translate}}">
                                    <i class='fa fa-plus-circle'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--
    <section class="content" ng-init="questionnaireCtrl.init()" style="overflow: visible!important;">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/purchase-requisition/synchronize">{{'BREADCRUMB.DATA_MASTER' | translate}}</a></li>
            <li><a href="#/purchase-requisition/synchronize" class="active">{{'BREADCRUMB.MASTER_QUEST' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="box">
                    <div class="box-header" >
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="afta-font judul-datatabel">{{'DATA_QUEST' | translate}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                        <th class="text-center" style="width: 5%;">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center" style="width: 15%;">{{'TABLE.KATEGORI' | translate}}</th>
                                        <th class="text-center" style="width: 15%;">{{'TABLE.SUB_KATEGORI' | translate}}</th>
                                        <th class="text-center" >{{'TABLE.PERTANYAAN' | translate}}</th>
                                        <th class="text-center" style="width: 9%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td style="vertical-align: middle;">1.</td>
                                        <td style="vertical-align: middle;">Pengelolaan K3L</td>
                                        <td style="vertical-align: middle;">Policy Statement (Kebijakan K3L)</td>
                                        <td style="vertical-align: middle;">Apakah perusahaan memiliki kebijakan tentang K3L dalam menjalankan kegiatan usahanya ?</td>
                                        <td style="vertical-align: middle;">
                                            <a class="btn btn-flat btn-xs btn-success" ><i class="fa fa-pencil"></i>&nbsp;</a>
                                            &nbsp; <a class="btn btn-flat btn-xs btn-danger" ><i class="fa fa-trash-o"></i>&nbsp;</a>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    -->
