﻿<div ng-init="fpaTechEntryCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/home-admin">{{'BREADCRUMB.HOME'|translate}}</a></li>
			<li><a class="active">{{'BREADCRUMB.PEMASUKAN_TEKNIS_VHS'|translate}}</a></li>
		</ol>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 center-block" style="float: none!important;">
					<div class="box box-info">
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.PEMASUKAN_TEKNIS_VHS' | translate}}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<label>{{'BREADCRUMB.STARTDATE' | translate}}: {{fpaTechEntryCtrl.StartDate| date: "dd-MM-yyyy HH:mm"}}</label>
								</div>
								<div class="col-md-4">
									<label>{{'BREADCRUMB.ENDDATE' | translate}}: {{fpaTechEntryCtrl.EndDate| date:"dd-MM-yyyy HH:mm"}}</label>
								</div>
								<div class="col-md-12">
									<label>{{'BREADCRUMB.TENDER' | translate}}:{{fpaTechEntryCtrl.TenderName}} </label>
								</div>
								<div class="col-md-12" ng-if="fpaTechEntryCtrl.isCancelled">
									<label class="text-red"><i>({{'BREADCRUMB.PENGADAAN_BATAL'}})</i></label>
								</div>
							</div>
							<div class="row" style="margin-top: 20px;">
								<div class="col-md-12">
									<div class="table table-responsive" style="padding-bottom: 20px;">
										<table class="table table-bordered table-striped" id="table-rekanan">
											<thead>
												<tr>
													<th class="text-center" width="20px">{{'TABLE.NO' | translate}}.</th>
													<th class="text-center">{{'TABLE.NAMA_VENDOR' | translate}}</th>
													<th class="text-center">{{'TABLE.TANGGAL_SUBMIT' | translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="dt in fpaTechEntryCtrl.GOEVendor">
													<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
													<td class="text-center" style="vertical-align: middle;">{{dt.VendorName}}</td>
													<td class="text-center" style="vertical-align: middle;">{{dt.SubmitDateTechnical | date: "dd-MM-yyyy HH:mm"}}</td>
												</tr>
												<tr ng-if="fpaTechEntryCtrl.GOEVendor.length === 0">
													<td colspan="3" class="text-center" style="vertical-align: middle;">{{'TABLE.DATA_NOT_FOUND' | translate}}</td>
												</tr>
											</tbody>
										</table>
									</div><br />
									<div>
										<button ng-disabled="fpaTechEntryCtrl.isCancelled" ng-if="fpaTechEntryCtrl.isNeedApproval" ng-click="fpaTechEntryCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.SEND_TO_APPROVAL' | translate}}">
											<i class="fa fa-paste"></i>
										</button>
										<button ng-if="fpaTechEntryCtrl.isApprovalSent" ng-click="fpaTechEntryCtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.DETAIL_APPROVAL' | translate}}">
											<i class="fa fa-sitemap"></i>
										</button>
									</div>
									<!--<div ng-if="PPBCtrl.isNeedApproval">
										<a ng-click="PPBCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="Send to Approval">
											<i class="fa fa-paste"></i>
										</a>
									</div>-->
								</div>
							</div>
							<div class="row" style="margin-top: 20px;">
								<div class="col-md-12">
									<label class="text-center">
										<b>
											<button type="button" ng-click="fpaTechEntryCtrl.backpengadaan()" class="btn btn-xs btn-default" title="{{'BTN.BACK' | translate }}">
												<i class="fa fa-arrow-circle-left"></i>
											</button>
										</b>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
