﻿<section ng-init="PrequalAnnounceVendorCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.PENGUMUMAN_PRAKUAL' | translate}}</a></li>
	</ol>
	<!-- tampilan pertama muncul -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="row well">
					<div class="col-md-12">
						<dl class="dl-horizontal">
							<dt>{{'REGIS_START' | translate}}</dt>
							<dd>: {{PrequalAnnounceVendorCtrl.dataPrequalRegist.StartDate}}</dd>
							<dt>{{'REGIS_END' | translate}}</dt>
							<dd>: {{PrequalAnnounceVendorCtrl.dataPrequalRegist.EndDate}}</dd>
							<dt>{{'DOCUMENT' | translate}}</dt>
							<dd ng-if="PrequalAnnounceVendorCtrl.dataPrequalAnnounce.DocUrl != null">: <a target="_blank" class="btn btn-xs btn-primary" href="{{PrequalAnnounceVendorCtrl.folderFile + PrequalAnnounceVendorCtrl.dataPrequalAnnounce.DocUrl}}"><i class="fa fa-download"> {{'DOWNLOAD_DOCUMENT' | translate}}</i></a></dd>
							<dd ng-if="PrequalAnnounceVendorCtrl.dataPrequalAnnounce.DocUrl == null">
								: <label class="label label-sm label-default">
									<i class="fa fa-download"></i>&nbsp; {{'NO_DOC' |translate}}
								</label>
							</dd>
							<dt>{{'DESCRIPTION_PREQUAL' | translate}}</dt>
							<dd>
								<label style="font-weight:normal" ng-bind-html="PrequalAnnounceVendorCtrl.dataPrequalAnnounce.Description"> </label>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-right">
				<a class="btn btn-sm btn-primary" href="#/detail-tahapan-prakual-vendor/{{PrequalAnnounceVendorCtrl.dataPrequalRegist.PrequalSetupID}}"  title="{{ 'BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></a>
			</div>
		</div>
	</div>
</section>
