﻿<div ng-init="SuratPernyataanPrequalController.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'FORM.HOME' | translate}}</a></li>
        <li><a class="active">{{'FORM.AGREEMENT' | translate}}</a></li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="afta-font text-center">{{'FORM.AGREEMENT' | translate}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 5px; min-width: 5px; vertical-align: middle;">No</th>
                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'Judul' | translate}}</th>
                                    <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1.</td>
                                    <td class="text-center">Business Conduct</td>
                                    <td class="text-center">
                                        <a class="btn btn-flat btn-sm btn-warning" ng-click="SuratPernyataanPrequalController.baca()" title="{{'BACA' | translate}}"><i class="fa fa-file-o"></i></a>
                                        <a ng-if="SuratPernyataanPrequalController.DocType === 4225" href="{{SuratPernyataanPrequalController.folderFile + SuratPernyataanPrequalController.DocUrlBConduct}}" target="_blank" class="btn btn-flat btn-sm btn-primary" title="Download">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalController.DocType === 4232" href="{{SuratPernyataanPrequalController.folderFile + SuratPernyataanPrequalController.DocUrlBConduct}}" target="_blank" class="btn btn-flat btn-sm btn-primary" title="Download">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalController.isEntry === true" class="btn btn-flat btn-sm btn-danger" ng-click="SuratPernyataanPrequalController.upload(SuratPernyataanPrequalController.DocType)" title="Upload" >
                                            <i class="fa fa-upload"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalController.IsBConductUploaded === true" href="{{SuratPernyataanPrequalController.folderFile + SuratPernyataanPrequalController.urlBConduct}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="Download Uploaded File">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="SuratPernyataanPrequalController.cek === true">
                                    <td class="text-center">2.</td>
                                    <td class="text-center">{{'SuratPernyataan' | translate}}</td>
                                    <td class="text-center">
                                        <a class="btn btn-flat btn-sm btn-warning" ng-click="SuratPernyataanPrequalController.baca2()" title="{{'BACA' | translate}}">
                                            <i class="fa fa-file-o"></i>
                                        </a>
                                        <a href="{{SuratPernyataanPrequalController.folderFile + SuratPernyataanPrequalController.DocUrlAgreement}}" target="_blank" class="btn btn-flat btn-sm btn-primary" title="Download">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalController.isEntry === true" class="btn btn-flat btn-sm btn-danger" ng-click="SuratPernyataanPrequalController.upload2(4226)" title="Upload">
                                            <i class="fa fa-upload"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalController.IsAgreementLetterUploaded === true" href="{{SuratPernyataanPrequalController.folderFile + SuratPernyataanPrequalController.urlAgreementLetter}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="Download Uploaded File">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" ng-if="SuratPernyataanPrequalController.cek === true">3.</td>
                                    <td class="text-center" ng-if="SuratPernyataanPrequalController.cek !== true">2.</td>
                                    <td class="text-center">Initial Risk Assessment Questionnaire</td>
                                    <td class="text-center">
                                        <a class="btn btn-flat btn-sm btn-warning" ng-click="SuratPernyataanPrequalController.editKuesioner()" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a ng-if="!(SuratPernyataanPrequalController.vendorQues.length == 0)" class="btn btn-flat btn-sm btn-primary" title="Download Kuesioner" ng-click="SuratPernyataanPrequalController.downloadQuestionnaire()">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a ng-if="SuratPernyataanPrequalController.isEntry === true"  class="btn btn-flat btn-sm btn-danger" ng-click="SuratPernyataanPrequalController.uploadKuesioner()" title="Upload">
                                            <i class="fa fa-upload"></i>
                                        </a>
                                        <a href="{{SuratPernyataanPrequalController.folderFile + SuratPernyataanPrequalController.UrlKuesioner}}" target="_blank" class="btn btn-flat btn-sm btn-success" title="Downloads File Upload" ng-if="SuratPernyataanPrequalController.UrlKuesioner !== null">
                                            <i class="fa fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 15px;">
                    <div class="text-center">
                        <a ng-click="SuratPernyataanPrequalController.back()" id="button" class="btn btn-primary" title="{{'BTN.BACK' | translate}}">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <a ng-if="SuratPernyataanPrequalController.isEntry === true" title="Submit" href="" class="btn btn-success" ng-click="SuratPernyataanPrequalController.Submit()">
                            <i class="fa fa-check"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="form" ng-hide="true" class="container-fluid">
    <div class="row" style="margin-top:50px;">
        <div class="row" style="width:100%;">
            <div class="pull-right">
                <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-left:85%;padding-top:5px; width:100px; height:40px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Kuesioner-title" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                    {{"KUESIONER.TITLE" | translate}}
                </div>
                <!--<hr style="border-top: 1px dotted darkgreen" />-->
            </div>
        </div>
        <br />
        <div class="row" style="width:1000px;">
            <div class="row vendor-info">
                <div class="col-md-3">{{"VENDOR_INFO" | translate}}</div>
                <div class="col-md-9">: {{SuratPernyataanPrequalController.VendorName}} / {{SuratPernyataanPrequalController.address}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"NOMOR_INFO" | translate}}</div>
                <div class="col-md-9">: {{SuratPernyataanPrequalController.npwp}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"CONTACT_INFO" | translate}}</div>
                <div class="col-md-9">: {{SuratPernyataanPrequalController.name}} / {{SuratPernyataanPrequalController.telp}}</div>
            </div>
            <div class="row vendor-info">
                <div class="col-md-3">{{"DATE_INFO" | translate}}</div>
                <div class="col-md-9">: {{SuratPernyataanPrequalController.tglSekarang | date: "dd-MM-yyyy"}}</div>
            </div>
            <br />
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger text-center">
                    <span class="kuesioner-note">
                        <p ng-bind-html="'KUESIONER.NOTE' | translate"></p>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <form name="SuratPernyataanPrequalController.questionForm">
                <div class="row rowQuestion" ng-repeat="pt in SuratPernyataanPrequalController.data">
                    <div class="col-md-1 number" style="width: 10px; display:inline-block!important;">{{$index + 1}}. </div>
                    <div class="col-md-11 col-question">
                        <div class="form-group form-question">
                            <label class="labelnonbold question"><span ng-bind-html="pt.question"></span></label>
                            <div class="row answer">
                                <label ng-repeat="n in pt.type" class="kuesioner-answer">
                                    <input class="col-answer" type="radio" ng-checked="n.DetailAnswer" />{{n.question}}
                                </label>
                            </div>
                            <div class="row  desc-print " ng-if="pt.DetailId === pt.Value">
                                <label class="labelnonbold">{{'DETAIL' | translate}}: </label>
                                <label class="labelnonbold Description">{{pt.Description}}</label>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <hr style="border-top: 1px dotted darkgreen" />
                <div class="row hidden-content" id="divInfo">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"DATE_INFO" | translate}}
                    </div>
                </div>
                <div class="row hidden-content" id="divInfo1">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        {{"SIGNATURE" | translate}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>