﻿<section ng-init="ContractSignOffApprovalController.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.HOME' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'TABLE.CONTRACTSIGNOFF' | translate}}</h3>
                        </div>
                    </div>
                    <form ng-submit="ContractSignOffApprovalController.loadData(1)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control input-sm" style="float: left;" ng-model="ContractSignOffApprovalController.approvalStatus"
                                            ng-change="ContractSignOffApprovalController.loadData(1)">
                                        <option disabled>-- {{ 'TABLE.STATUS' | translate}} --</option>
                                        <option value="all">{{ 'STATUS.ALL' | translate}}</option>
                                        <option value="1">{{ 'STATUS.APPROVED' | translate}}</option>
                                        <option value="0">{{ 'STATUS.REJECT' | translate}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" placeholder="{{'NAMA_PENGADAAN' | translate}} / {{'TABLE.TENDERCODE' | translate}}" class="form-control" ng-model="ContractSignOffApprovalController.Keyword" />
                                </div>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-flat btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom: 20px;">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDERCODE' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDERNAME' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.VENDORNAME' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.APPV_BUDGET' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTNO' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTSTART' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACTEND' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.DOWNLOADDOC' | translate}} <br />
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.REMARK' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.STATUS' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;" width="100"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="eval in ContractSignOffApprovalController.detail">
                                            <td class="text-center">{{ContractSignOffApprovalController.currentPage > 1 ? (ContractSignOffApprovalController.maxSize * (ContractSignOffApprovalController.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td>{{eval.TenderCode}}</td>
                                            <td>{{eval.TenderName}}</td>
                                            <td class="text-center">{{eval.VendorName}}</td>
                                            <td class="text-center" ng-if="eval.AwardValue != null">{{eval.curr}} {{eval.AwardValue | currency: ""+ labelcurr +" "}}</td>
                                            <td class="text-center" ng-if="eval.AwardValue == null"></td>
                                            <td class="text-center">{{eval.ContractNo}}</td>
                                            <td class="text-center">
                                                {{eval.ContractStartDate | date: "dd-MM-yyyy"}}
                                            </td>
                                            <td class="text-center">
                                                {{eval.ContractEndDate | date: "dd-MM-yyyy"}}
                                            </td>
                                            <td class="text-center">
                                                <a ng-if="eval.UploadURL !== null" class="btn btn-xs btn-primary" href="{{ContractSignOffApprovalController.folderFile+ eval.UploadURL}}" target="_BLANK"><i class="fa fa-download"></i></a>
                                            </td>
                                            <td class="text-center">{{eval.Description}}</td>
                                            <td class="text-center" ng-if="eval.ApprovalStatus === 1">{{'STATUS.APPROVED' | translate}}</td>
                                            <td class="text-center" ng-if="eval.ApprovalStatus === 0">{{'STATUS.REJECT' | translate}}</td>
                                            <td class="text-center" ng-if="eval.ApprovalStatus === null"></td>
                                            <td class="text-center">
                                                <button title="{{'APPROVE' | translate}}" ng-if="eval.flagEmp === 1" class="btn btn-sm btn-primary" ng-click="ContractSignOffApprovalController.approve(1, eval)">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </button>
                                                <button title="{{'REJECT' | translate}}" ng-if="eval.flagEmp === 1" class="btn btn-sm btn-danger" ng-click="ContractSignOffApprovalController.detailApproval(1, eval)">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                <button ng-if="eval.Status !== 'Draft'" class="btn btn-sm btn-success" title="{{'BTN.APPROVALDETAIL' | translate}}" ng-click="ContractSignOffApprovalController.detailApproval(2, eval)">
                                                    <i class="fa fa-sitemap"></i>
                                                </button>
                                                <button ng-if="eval.IsContractVariation==true" class="btn btn-sm btn-warning" ng-click="ContractSignOffApprovalController.contractAwardForm(eval)" title="{{'CVA_FORM' | translate}}">
                                                    <i class="fa fa-sticky-note-o"></i>
                                                </button>
                                                <button ng-if="eval.IsContractVariation==false || eval.IsContractVariation==null" class="btn btn-sm btn-warning" ng-click="ContractSignOffApprovalController.contractAwardForm(eval)" title="{{'CA_FORM' | translate}}">
                                                    <i class="fa fa-sticky-note-o"></i>
                                                </button>
                                                <button class="btn btn-flat btn-default" title="Standard Award Report" ng-click="ContractSignOffApprovalController.awardReport(eval.TenderStepID,eval.VendorID)">
                                                    <i class="fa fa-file-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="ContractSignOffApprovalController.detail.length == 0"> <td colspan="10"> {{'NO_APP' | translate }}</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-10">
                            <ul uib-pagination total-items="ContractSignOffApprovalController.totalItems" max-size="10"
                                ng-model="ContractSignOffApprovalController.currentPage" items-per-page="ContractSignOffApprovalController.maxSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="ContractSignOffApprovalController.loadData(ContractSignOffApprovalController.currentPage)"></ul>
                        </div>
                        <div class="col-md-10">
                            <label>Total Data : {{ContractSignOffApprovalController.totalItems}}</label>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
