﻿<section ng-init="VHSNegotiationAppCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.APP_NEGO' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.APP_NEGO' | translate}}</h3>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom: 20px;">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate}}</th>
                                            <th class="text-center">{{'TENDER_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_NAME' | translate}}</th>
                                            <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_PRICE' | translate}}</th>
                                            <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.KETERANGAN' | translate}}</th>
                                            <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.STATUS' | translate}}</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="VHSNegotiationAppCtrl.count !== 0" ng-repeat="eval in VHSNegotiationAppCtrl.detail">
                                            <td class="center-vertical">{{$index + 1}}</td>
                                            <td class="center-vertical">{{eval.nego.TenderName}}</td>
                                            <td style="vertical-align: middle;">{{eval.nego.VendorName}}</td>
                                            <td class="center-vertical">{{eval.nego.Curr}} {{eval.nego.VOENegoPrice | currency: ""+ labelcurr +" "}}</td>
                                            <td style="vertical-align: middle;" ng-if="eval.nego.IsNego == true">{{'AGREE_VENDOR'|translate}} {{eval.indexVendor}} ({{'REASON' | translate}}: {{eval.nego.Remark}})</td>
                                            <td style="vertical-align: middle;" ng-if="eval.nego.IsNego == false">{{'NEGO_VENDOR'|translate}} {{eval.indexVendor}} ({{'REASON' | translate}}: {{eval.nego.Remark}})</td>
                                            <td style="vertical-align: middle;" ng-if="eval.ApprovalStatus === true">{{'STATUS.APPROVED' | translate}}</td>
                                            <td style="vertical-align: middle;" ng-if="eval.ApprovalStatus === false">{{'STATUS.REJECT' | translate}}</td>
                                            <td style="vertical-align: middle;" ng-if="eval.ApprovalStatus === null"></td>

                                            <td class="text-center">
                                                <button title="{{'APPROVE' | translate}}" ng-if="eval.ApprovalStatus == null " class="btn btn-sm btn-primary" ng-click="VHSNegotiationAppCtrl.save(true, eval)">
                                                    <i class="fa fa-check-circle-o"></i>
                                                </button>
                                                <button title="{{'REJECT_NEGO' | translate}}" ng-if="eval.ApprovalStatus == null " class="btn btn-sm btn-warning" ng-click="VHSNegotiationAppCtrl.reject(eval, true)">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                                <button title="{{'CANCEL_TENDER' | translate}}" ng-if="eval.ApprovalStatus == null " class="btn btn-sm btn-danger" ng-click="VHSNegotiationAppCtrl.reject(eval, false)">
                                                    <i class="fa fa-ban"></i>
                                                </button>
                                                <button title="{{'BTN.DETAIL_APP' | translate}}" class="btn btn-sm btn-success" ng-click="VHSNegotiationAppCtrl.detailApproval(eval)">
                                                    <i class="fa fa-sitemap"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="VHSNegotiationAppCtrl.count === 0">
                                            <td colspan=6> {{'TIDAK_ADA_DATA' | translate}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-10"></div>
                        <div class="col-md-2 text-right">
                            <button ng-if="VHSNegotiationAppCtrl.flagSave === true && VHSNegotiationAppCtrl.detail[0].flagApprove === true" type="button" class="btn btn-flat btn-primary" ng-click="VHSNegotiationAppCtrl.simpan()" title="{{'BTN.SAVE' | translate}}">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{'BTN.SAVE' | translate}}
                            </button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <pagination total-items="totalItems" page="currentPage" items-per-page="10" max-size="maxSize" on-select-page="jLoad2(page)" ng-show="totalItems > 10"></pagination>
                        </div>
                        <div ng-if="userBisaMengatur" class="col-md-2">
                            <div class="col-md-12 turun-15" style="float:right"><label>{{'TABLE.GOODS_OFFERDETAIL.TOTAL_DATA' | translate}}: {{totalItems}}</label></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
