﻿<div class="modal-content" ng-init="FormQuestionnaireCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="FormQuestionnaireCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'KUESIONER.UPLOAD_FILE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="box box-success">
                    <!--notife flow-->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">
                                        <small> ( <span ng-repeat="ft in FormQuestionnaireCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{FormQuestionnaireCtrl.idUploadConfigs[0].Size}} {{FormQuestionnaireCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                    </label>
                                    <input type="file" class="form-control" ng-file-select="FormQuestionnaireCtrl.selectUpload()"
                                           ng-model="FormQuestionnaireCtrl.fileUpload" name="ownerIDFile" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="FormQuestionnaireCtrl.batal()" title="{{'KUESIONER.BTN_BATAL' | translate}}">
            <i class="fa fa-arrow-circle-left"></i>
        </button>
        <button class="btn btn-sm btn-primary" ng-click="FormQuestionnaireCtrl.upload()" title="{{'KUESIONER.BTN_UPLOAD' | translate}}"><i class="fa fa-upload"></i></button>


    </div>
</div>
