﻿<div class="modal-content" ng-init="wccvCtrl.init()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="wccvCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form role="form">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header">
                  <h4 class="box-title afta-font">{{'ISI_PESAN'|translate}}</h4>
                </div><!-- /.box-header -->

                <div class="box-body pad">
                  <textarea ng-model="wccvCtrl.message" name="editor1" rows="7" cols="80"></textarea>
                </div>


                <div class="box-body pad">
                  <label class="control-label">
                    {{ 'FILE_UPLOAD' | translate}}
                    <small> ( {{'FILE_TYPE' | translate}}: <span ng-repeat="ft in wccvCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / {{'SIZE_FILE' | translate}} : {{wccvCtrl.idUploadConfigs[0].Size}} {{wccvCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                  </label>
                  <div class="input-group">
                    <input type="file" class="form-control input-sm" ng-file-select="wccvCtrl.selectUpload()"
                           ng-model="wccvCtrl.fileUpload" name="ownerIDFile" required accept="{{FormSetupCtrl.idFileTypes}}" />

                  </div>
                </div>


              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-flat btn-danger" ng-click="wccvCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
    <button type="button" class="btn btn-flat btn-primary" ng-click="wccvCtrl.uploadFile()" title="{{'KIRIM'|translate}}"><i class="fa fa-paper-plane"></i>&nbsp;</button>
  </div>
</div>