<section class="content" ng-init="evalTVCtrl.init()">
	<ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{evalTVCtrl.TenderRefID}}/{{evalTVCtrl.ProcPackType}}/{{evalTVCtrl.tenderStepData.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
		<li><a class="active">{{evalTVCtrl.tenderStepData.step.TenderStepName |translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="box">
				<div class="box-body">
					<div class="row">
						<button class="btn btn-flat btn-default" title="Print Preview" ng-click="evalTVCtrl.printExport()">
							<i class="glyphicon glyphicon-print"></i>
						</button>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{evalTVCtrl.tenderStepData.step.TenderStepName |translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<label>{{'TANGGAL_MULAI'|translate}}: {{evalTVCtrl.tenderStepData.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-4">
							<label>{{'TANGGAL_SELESAI'|translate}}: {{evalTVCtrl.tenderStepData.EndDate | date: "dd-MM-yyyy HH:mm"}}</label>
						</div>
						<div class="col-md-12">
							<label>{{'TENDER'|translate}}: {{evalTVCtrl.tenderStepData.tender.TenderName}}</label>
						</div>
						<div class="col-md-12" ng-if="evalTVCtrl.tenderStepData.tender.IsCancelled">
							<label class="text-red"><i>({{'KET_BATAL'|translate}})</i></label>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped" id="table-rekanan">
									<thead>
										<tr>
											<th class="text-center">{{'TABLE.NO'|translate}}</th>
											<th class="text-center">{{'TABLE.VENDOR'|translate}}</th>
											<th class="text-center">{{'TABLE.STATUS'|translate}}</th>
											<th class="text-center">{{'TABLE.SKOR'|translate}}</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="eval in evalTVCtrl.evaluations">
											<td class="center-vertical">{{$index + 1}}</td>
											<td class="center-vertical">{{eval.VendorName}}</td>
											<td class="center-vertical" ng-if="eval.IsPassed === true">{{'LOLOS'|translate}}</td>
											<td class="center-vertical" ng-if="eval.IsPassed !== true">{{'TIDAK_LOLOS'|translate}}</td>
											<td class="center-vertical">{{eval.Score}}</td>
											<td class="center-vertical">
												<button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="evalTVCtrl.detailEvaluator(eval)" title="{{'DETAIL_EVALUATOR'|translate}}">
													<i class='fa fa-list'></i>&nbsp;
												</button>
												<button type="button" class="btn btn-flat btn-sm btn-success" ng-click="evalTVCtrl.detail(eval.VendorID)" title="{{'LAKUKAN_EVALUASI'|translate}}">
													<i class='fa fa-check-square'></i>&nbsp;
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button ng-disabled="evalTVCtrl.tenderStepData.tender.IsCancelled" ng-if="evalTVCtrl.isNeedApproval" ng-click="evalTVCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="Send to Approval">
								<i class="fa fa-paste"></i>
							</button>
							<button ng-if="evalTVCtrl.isApprovalSent" ng-click="evalTVCtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="Detail Approval">
								<i class="fa fa-sitemap"></i>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="pull-right">
								<button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="evalTVCtrl.kembali()">
									<i class='fa fa-arrow-left'></i>&nbsp; {{'KEMBALI'|translate}}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
