﻿<div class="modal-content" ng-init="detailAppWLCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailAppWLCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'KELUAR'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <!--<div class="row">-->
            <!--<div class="col-md-8">
                <label>Requestor: {{detailApprovalSignOffCtrl.list[0].requestor.FullName}} {{detailApprovalSignOffCtrl.list[0].requestor.SurName}}</label>
            </div>
            <div class="col-md-4">
                <label>Contract Engineer: {{detailApprovalSignOffCtrl.employeeFullNameCE}}</label>
            </div>-->
            <!--
            <div class="col-md-9">
                <label>Tender: {{ContractSignOffController.detail[0].TenderName}}</label>
            </div>-->
        <!--</div>-->
        <div>
            <div class="row" ng-if="detailAppWLCtrl.Status === 1 || detailAppWLCtrl.Status === 2">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detailAppWLCtrl.remark" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button ng-if="detailAppWLCtrl.Status === 1" class="btn btn-sm btn-danger" ng-click="detailAppWLCtrl.stateRejected()"><i class="fa fa-times"></i> {{'REJECT' | translate}}</button>
                                    <button ng-if="detailAppWLCtrl.Status === 2" class="btn btn-sm btn-success" ng-click="detailAppWLCtrl.stateApprove()"><i class="fa fa-check"></i> {{'APP_WL' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="detailAppWLCtrl.Status === 3">
                <h3 class="text-center afta-font">  {{'DETAIL_APPROVAL'|translate}}{{detailAppWLCtrl.crAppsActive}}</h3>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <!--<th class="text-center">{{'TABLE.LEVEL_INFO'|translate}}</th>-->
                                        <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailAppWLCtrl.crApps">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <!--<td></td>-->
                                        <td ng-class="{'text-bold':dt.EmployeeID == detailAppWLCtrl.EmployeeID}">{{dt.EmployeeFullName}}</td>
                                        <td>{{dt.EmployeePositionName}}</td>
                                        <td class="text-center">{{dt.ApprovalDate| date: "dd MMMM yyyy"}}</td>
                                        <td ng-if="dt.ApprovalDate === null">{{'NEED_APPROVAL' |translate}}</td>
                                        <td ng-if="dt.ApprovalDate !== null">{{dt.ApprovalStatus |translate}}</td>
                                        <td>{{dt.Remark}}</td>
                                        <!--<td ng-if="dt.ApprovalStatus === null" class="text-center"></td>
                                        <td ng-if="dt.ApprovalStatus === 1" class="text-center">Approve</td>
                                        <td ng-if="dt.ApprovalStatus === 0" class="text-center">Reject</td>-->                                       
                                    </tr>
                                    <tr ng-if="detailAppWLCtrl.crApps.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>                      
        </div>
    </div>
    <div class="modal-footer">     
        <div class="col-md-6">
            <div class="pull-right">
                <button class="btn btn-flat btn-primary" title="{{'BATAL'|translate}}" ng-click="detailAppWLCtrl.cancel()"><i class="fa fa-reply"></i></button>
            </div>
        </div>
    </div>    

</div>