﻿<section ng-init="warningLetterAppCtrl.init()" class="content" style="overflow:visible;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.WARNING_LETTER_APP'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float:none!important;">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="afta-font judul-datatabel" >{{'WARNING_LETTER_APP'|translate}}</h3>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" ng-model="warningLetterAppCtrl.searchBy" required>
                                <option value="1">{{'FILTER_VENDOR' | translate }}</option>
                                <option value="2">{{'FILTER_AREA' | translate }}</option>
                                <option value="3">{{'FILTER_DEPARTMENT' | translate }}</option>
                                <option value="4">{{'FILTER_JENIS_PENGADUAN' | translate }}</option>
                                <option value="5">{{'FILTER_STATUS' | translate }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <form method="post" role="form" ng-submit="warningLetterAppCtrl.cariApproval()">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="warningLetterAppCtrl.search" />
                                    <span class="input-group-btn">
                                        <button ng-click="warningLetterAppCtrl.cariWLApproval()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'CARI' | translate}}">
                                            <i class="fa fa-search"></i>&nbsp;
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom:20px;">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'TABLE.NO'|translate}}</th>
                                            <th class="text-center">{{'TABLE.REPORTDATE'|translate}}</th>
                                            <th class="text-center">{{'TABLE.REPORTERNAME'|translate}}</th>
                                            <th class="text-center">{{'TABLE.DEPARTMENT'|translate}}</th>
                                            <th class="text-center">{{'TABLE.AREA'|translate}}</th>
                                            <th class="text-center">{{'TABLE.COMPLAINT_DESC'|translate}}</th>
                                            <th class="text-center">{{'TABLE.JENIS_PERINGATAN' | translate }}</th>
                                            <th class="text-center">{{'TABLE.VENDORNAME'|translate}}</th>
                                            <th class="text-center">{{'TABLE.COMPLAINTYPE'|translate}}</th>
                                            <th class="text-center">{{'TABLE.STATUS_APP'|translate}}</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="warningLetterAppCtrl.count !== 0" ng-repeat="wl in warningLetterAppCtrl.wlApp">
                                            <td class="center-vertical">{{warningLetterAppCtrl.currentPage > 1 ? (warningLetterAppCtrl.maxSize * (warningLetterAppCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="center-vertical">{{wl.CreatedDate | date: 'dd MMMM yyyy'}}</td>
                                            <td class="center-vertical">{{wl.ReporterName}}</td>
                                            <td class="center-vertical">{{wl.DepartmentName}}</td>
                                            <td class="center-vertical">{{wl.Area |translate}}</td>
                                            <td class="center-vertical">{{wl.WarningLetter.Description}}</td>
                                            <td class="center-vertical">{{wl.LetterType | translate}}</td>
                                            <td class="center-vertical">{{wl.VendorName}}</td>
                                            <td class="center-vertical">{{wl.ComplainType |translate}}</td>
                                            <td class="center-vertical">{{wl.AppStatus.Name |translate}}</td>
                                            <td class="center-vertical">
                                                <!--Detail WL--><button title="{{'DETAIL_WL'|translate}}" class="btn btn-sm btn-primary" ng-click="warningLetterAppCtrl.detailWarningLetter(wl)"><i class="fa fa-info"></i></button>
                                                <!--Detail CPR--><button ng-if="wl.Type == 2 || wl.Type == 3" ng-click="warningLetterAppCtrl.lihatDetailCPR(wl)" class="btn btn-sm btn-warning" title="{{'CPR'|translate}}"><i class="fa fa-info"></i></button>
                                                <!--Detail Approval--><button title="{{'DETAIL_APPROVAL'|translate}}" class="btn btn-sm btn-info" ng-click="warningLetterAppCtrl.detailApproval(3, wl)"><i class="fa fa-sitemap"></i></button>
                                                <!--Reject L1 Proc Supp--><button ng-if="wl.AppStatus.Name == 'WL_SEND_APPROVAL' && warningLetterAppCtrl.role === 1 " title="{{'REJECT'|translate}}" class="btn btn-sm btn-danger" ng-click="warningLetterAppCtrl.detailApproval(1, wl)"><i class="glyphicon glyphicon-remove"></i></button>
                                                <!--Reject PM--><button ng-if="wl.AppStatus.Name == 'WL_APPROVE_L1_SUPP' && warningLetterAppCtrl.role === 3" title="{{'REJECT'|translate}}" class="btn btn-sm btn-danger" ng-click="warningLetterAppCtrl.detailApproval(1, wl)"><i class="glyphicon glyphicon-remove"></i></button>
                                                <!--Reject L1 Proc--><!--<button ng-if="wl.AppStatus.Name == 'WL_APPROVE_MGR' && warningLetterAppCtrl.role === 4" title="{{'REJECT'|translate}}" class="btn btn-sm btn-danger" ng-click="warningLetterAppCtrl.detailApproval(1, wl)"><i class="glyphicon glyphicon-remove"></i></button>-->
                                                <!--Reject L3--><button ng-if="wl.AppStatus.Name == 'WL_SEND_APPROVAL' && warningLetterAppCtrl.role === 5" title="{{'REJECT'|translate}}" class="btn btn-sm btn-danger" ng-click="warningLetterAppCtrl.detailApproval(1, wl)"><i class="glyphicon glyphicon-remove"></i></button>
                                                <!--Approve by L1 Proc Support--><button ng-show="wl.LetterType != 'WARNING_TYPE_TERMINATION' && wl.LetterType != 'WARNING_TYPE_SUSPENSION' && wl.LetterType != 'TYPE_EN_TERMINATION' && wl.LetterType != 'TYPE_EN_SUSPENSION' &&
                                                                                                  wl.LetterType != 'WARNING_TYPE_TERMINATION_GOODS' && wl.LetterType != 'WARNING_TYPE_SUSPENSION_GOODS' && wl.LetterType != 'TYPE_EN_TERMINATION_GOODS' && wl.LetterType != 'TYPE_EN_SUSPENSION_GOODS'"
                                                                                         ng-if="warningLetterAppCtrl.role === 1  && wl.AppStatus.Name == 'WL_SEND_APPROVAL'" title="{{'APP_WL'|translate}}" class="btn btn-sm btn-success" ng-click="warningLetterAppCtrl.detailApproval(2, wl, 'L1SUPP')">
                                                    <i class="fa fa-send-o"></i>
                                                </button>
                                                <!--Approve by PM/Mgr --><button ng-show="wl.LetterType == 'WARNING_TYPE_ADMONITION-2' || wl.LetterType == 'WARNING_TYPE_ADMONITION-3' || wl.LetterType =='TYPE_EN_ADMONITION_2' || wl.LetterType =='TYPE_EN_ADMONITION_3'"
                                                                                 ng-if="warningLetterAppCtrl.role === 3  && wl.AppStatus.Name == 'WL_APPROVE_L1_SUPP'" title="{{'APP_WL'|translate}}" class="btn btn-sm btn-success" ng-click="warningLetterAppCtrl.detailApproval(2, wl, 'PM')">
                                                    <i class="fa fa-send-o"></i>
                                                </button>
                                                <!--Approve by L1 Proc --><!--<button ng-show="wl.LetterType == 'WARNING_TYPE_ADMONITION-2' || wl.LetterType == 'WARNING_TYPE_ADMONITION-3' || wl.LetterType =='TYPE_EN_ADMONITION_2' || wl.LetterType =='TYPE_EN_ADMONITION_3' ||
                                                                                           wl.LetterType == 'WARNING_TYPE_ADMONITION-2_GOODS' || wl.LetterType == 'WARNING_TYPE_ADMONITION-3_GOODS' || wl.LetterType =='TYPE_EN_ADMONITION_2_GOODS' || wl.LetterType =='TYPE_EN_ADMONITION_3_GOODS'"
                                                                                  ng-if="warningLetterAppCtrl.role === 4 && wl.AppStatus.Name == 'WL_APPROVE_MGR'" title="{{'APP_WL'|translate}}" class="btn btn-sm btn-success" ng-click="warningLetterAppCtrl.stateApproveByL1(wl)">
                                                    <i class="fa fa-send-o"></i>
                                                </button>-->
                                                <!--Approve by L3--><button ng-show="wl.LetterType == 'WARNING_TYPE_TERMINATION' || wl.LetterType == 'WARNING_TYPE_SUSPENSION' || wl.LetterType == 'TYPE_EN_TERMINATION' || wl.LetterType == 'TYPE_EN_SUSPENSION' ||
                                                                                     wl.LetterType == 'WARNING_TYPE_TERMINATION_GOODS' || wl.LetterType == 'WARNING_TYPE_SUSPENSION_GOODS' || wl.LetterType == 'TYPE_EN_TERMINATION_GOODS' || wl.LetterType == 'TYPE_EN_SUSPENSION_GOODS'"
                                                                            ng-if="warningLetterAppCtrl.role === 5 && wl.AppStatus.Name == 'WL_SEND_APPROVAL'" title="{{'APP_L3'|translate}}" class="btn btn-sm btn-success" ng-click="warningLetterAppCtrl.detailApproval(2, wl, 'L3')">
                                                    <i class="fa fa-send-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr ng-if="warningLetterAppCtrl.totalItems === 0">
                                            <td colspan="10" class="text-center">{{'NO_DATA'|translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <ul uib-pagination total-items="warningLetterAppCtrl.totalItems"
                                ng-model="warningLetterAppCtrl.currentPage" items-per-page="warningLetterAppCtrl.maxSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="warningLetterAppCtrl.jLoad(warningLetterAppCtrl.currentPage)"></ul>
                        </div>
                        <div class="col-md-10">
                            <label>{{'TOTAL_DATA'|translate}} : {{warningLetterAppCtrl.totalItems}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>