<style type="text/css">
    .isEdit {
        background-color: #ffff66 !important;
    }
</style>

<section class="content" ng-init="aktaPendirianPrequalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.AKTA_PENDIRIAN'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="row">
                <div class="col-md-6 center-block" style="float: none!important;">
                    <h3 class="text-center afta-font">{{'DATA_PEMILIK_SAHAM'|translate}}</h3>
                </div>
            </div>
            <div class="row" style="padding-top: 20px!important;">
                <div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
                    <div class="col-md-12 text-center" ng-if="aktaPendirianPrequalCtrl.isEntry == true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                        <div class="form-group">
                            <span class="input-group-btn">
                                <button type="button" ng-click="aktaPendirianPrequalCtrl.addStock()" class="btn btn-sm btn-flat btn-success" title="{{'TAMBAH'|translate}}">
                                    <i class="fa fa-plus"></i> &nbsp;
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" style="width: 4%;">{{'NO' | translate}}</th>
                                            <th class="center-vertical" style="width: 10%;">{{'TIPE' | translate}}</th>
                                            <th class="center-vertical">{{'NAMA' | translate}}</th>
                                            <th class="center-vertical" style="width: 15%;">{{'TANGGAL' | translate}}</th>
                                            <th class="center-vertical" style="width: 15%;">{{'NOMINAL' | translate}}</th>
                                            <th class="center-vertical" style="width: 10%;">{{'SATUAN' | translate}}</th>
                                            <th class="center-vertical" style="width: 15%;">{{'NO_IDENTITAS' | translate}}</th>
                                            <th class="center-vertical" style="width: 5%;">{{'FILE' | translate}}</th>
                                            <th style="width: 10%;"> </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="aktaPendirianPrequalCtrl.stocksPrequal.length === 0">
                                            <td colspan="9">
                                                {{'TIDAK_ADA_DATA' | translate}}
                                            </td>
                                        </tr>
                                        <tr ng-repeat="dt in aktaPendirianPrequalCtrl.stocksPrequal">
                                            <td class="center-vertical">{{$index + 1}}</td>
                                            <td class="middle-vertical">{{dt.SysReference1.Value | translate}}</td>
                                            <td class="middle-vertical">{{dt.OwnerName}}</td>
                                            <td class="center-vertical">{{dt.OwnerDOBConverted}}</td>
                                            <td class="center-vertical">{{dt.Quantity | currency : ""}}</td>
                                            <td class="center-vertical">{{(dt.SysReference.Value != 'STOCK_UNIT_CURRENCY') ? dt.SysReference.Value : dt.MstCurrency.Symbol  | translate}}</td>
                                            <td class="center-vertical">{{dt.OwnerID}}</td>
                                            <td class="center-vertical"><a href="{{aktaPendirianPrequalCtrl.folderFile + dt.OwnerURL}}" target="_BLANK" class="btn btn-xs btn-success" title="{{'DOWNLOAD' | translate}}"><i class="fa fa-download"></i>&nbsp;</a></td>
                                            <td class="center-vertical">
                                                <button ng-if="aktaPendirianPrequalCtrl.isEntry == true || aktaPendirianPrequalCtrl.IsNeedRevision == true" class="btn btn-xs btn-danger" ng-click="aktaPendirianPrequalCtrl.removeStock(dt)" title="{{'HAPUS' | translate}}"><i class="fa fa-trash"></i></button>
                                                <button ng-if="aktaPendirianPrequalCtrl.isEntry == true || aktaPendirianPrequalCtrl.IsNeedRevision == true" class="btn btn-xs btn-info" ng-click="aktaPendirianPrequalCtrl.editStock(dt)" title="{{'UBAH' | translate}}"><i class="fa fa-pencil"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 center-block" style="float: none!important;">
                    <h3 class="text-center afta-font">{{'DATA_AKTA_PENDIRIAN'|translate}}</h3>
                </div>
            </div>
            <div class="row" style="padding-top: 10px!important;">
                <div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2">{{'JENIS_PERUSAHAAN'|translate}}</label>
                                <div class="col-md-1" style="margin-right:0px!important">:</div>
                                <div class="col-md-9"> {{aktaPendirianPrequalCtrl.businessName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2">{{'ALAMAT_PERUSAHAAN'|translate}}</label>
                                <div class="col-md-1">:</div>
                                <div class="col-md-9"> {{aktaPendirianPrequalCtrl.address1Prequal}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
                    <div class="row">
                        <div ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" class="col-md-6">
                            <div class="form-group">
                                <label>{{'NOMOR'|translate}}</label>
                                <input type="text" class="form-control" ng-model="aktaPendirianPrequalCtrl.data.no_aktapendirian" placeholder="{{'NOMOR'|translate}}" id="nomorAktaPendirian" />
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="aktaPendirianPrequalCtrl.isEntry == true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                            <div class="form-group">
                                <label>{{'TANGGAL_SURAT'|translate}} &nbsp;<em>(dd-mm-YYYY)</em></label>
                                <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy" style="background-color: #ffffff;">
                                    <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="aktaPendirianPrequalCtrl.isCalendarOpened[0]" ng-model="aktaPendirianPrequalCtrl.data.tgl_suratpendirian" ng-click="aktaPendirianPrequalCtrl.openCalendar(0)" style="background-color: #ffffff;" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th" ng-click="aktaPendirianPrequalCtrl.openCalendar(0)"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                            <div class="form-group">
                                <label>{{'NOTARIS'|translate}}</label>
                                <input type="text" class="form-control" ng-model="aktaPendirianPrequalCtrl.data.notaris_pendirian" placeholder="{{'NAMA_LENGKAP_NOTARIS'|translate}}" />
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                            <div class="form-group">
                                <label>{{'TEMPAT_NOTARIS'|translate}}</label>
                                <select class="form-control" ng-model="aktaPendirianPrequalCtrl.data.tempat_notaris" ng-options="city.CityID as city.Name for city in aktaPendirianPrequalCtrl.listKotaKab"></select>
                            </div>
                        </div>
                        <div class="col-md-1" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true"></div>
                        <div class="col-md-10 center-block" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                            <div class="form-group">
                                <label>
                                    {{'FILE_DOKUMEN'|translate}}
                                    <small>
                                        ( <span ng-repeat="ft in aktaPendirianPrequalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
                                        <span> / Max. {{aktaPendirianPrequalCtrl.idUploadConfigs[0].Size}} {{aktaPendirianPrequalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                                    </small>
                                    {{uploadSOWDModalCtrl.sowDoc.DocUrl ? '**' : ''}}
                                </label>
                                <input type="file" class="form-control" ng-file-select="aktaPendirianPrequalCtrl.file1Change(aktaPendirianPrequalCtrl.file1)" ng-model="aktaPendirianPrequalCtrl.file1" required accept="{{aktaPendirianPrequalCtrl.idFileTypes}}" />
                            </div>
                        </div>

                        <div class="col-md-12 text-center" ng-if="aktaPendirianPrequalCtrl.isEditPendirian">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <a href="{{aktaPendirianPrequalCtrl.folderFile + aktaPendirianPrequalCtrl.fUrl1}}" target="_BLANK" class="btn btn-sm btn-flat btn-primary" title="{{'DOWNLOAD_BERKAS'|translate}}">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 text-center" ng-if="!aktaPendirianPrequalCtrl.isEditPendirian">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <button ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" type="button" ng-click="aktaPendirianPrequalCtrl.addDocument(1)" class="btn btn-sm btn-flat btn-success" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i> &nbsp;</button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12 text-center" ng-if="aktaPendirianPrequalCtrl.isEditPendirian">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <button ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" type="button" ng-click="aktaPendirianPrequalCtrl.addDocument(1)" class="btn btn-sm btn-flat btn-success " style="margin-right: 10px!important;" title="{{'UBAH'|translate}}">
                                        <i class="fa fa-save"></i> &nbsp;
                                    </button>
                                    <button ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" type="button" ng-click="aktaPendirianPrequalCtrl.cancelUpdate(1)" class="btn btn-sm btn-flat btn-danger" title="{{'BATAL'|translate}}">
                                        <i class="fa fa-times"></i> &nbsp;
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 center-block">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped"
                                           style="table-layout: fixed!important;">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="font-weight: bolder;">{{'NOMOR'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'NOTARIS'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'TEMPAT_NOTARIS'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'BERKAS'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;"> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="aktaPendirianPrequalCtrl.files1Prequal.length === 0">
                                                <td colspan="6">
                                                    {{'TIDAK_ADA_DATA' | translate}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat="fl in aktaPendirianPrequalCtrl.files1Prequal">
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentNo}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentDateConverted}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.NotaryName}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.NotaryLocationName}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }"><a href="{{aktaPendirianPrequalCtrl.folderFile + fl.DocumentURL}}" target="_BLANK" ng-if="fl.DocumentURL" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-xs btn-success"><i class="fa fa-download"></i>&nbsp;</a></td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">
                                                    <a ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" class="btn btn-xs btn-danger" title="{{'HAPUS'|translate}}" ng-click="aktaPendirianPrequalCtrl.removeFile1(fl)"><i class="fa fa-trash-o"></i></a>
                                                    <a ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" ng-click="aktaPendirianPrequalCtrl.editDocument(1, fl)" class="btn btn-xs btn-primary" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 center-block" style="float: none!important;">
                    <h3 class="text-center afta-font">{{'DATA_AKTA_PERUBAHAN_TERAKHIR'|translate}}</h3>
                </div>
            </div>
            <div class="row" style="padding-top: 20px!important;">
                <div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
                    <div class="row" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'NOMOR'|translate}}</label>
                                <input type="text" class="form-control"
                                       ng-model="aktaPendirianPrequalCtrl.data.no_perubahanakhir" placeholder="{{'NOMOR'|translate}}" id="nomorAktaPerubahan" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'TANGGAL_SURAT'|translate}} &nbsp;<em>(dd-mm-YYYY)</em></label>
                                <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
                                    <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" style="background-color: #ffffff;" close-text="{{'TUTUP'|translate}}"
                                           is-open="aktaPendirianPrequalCtrl.isCalendarOpened[1]" ng-model="aktaPendirianPrequalCtrl.data.tgl_suratperubahan" ng-click="aktaPendirianPrequalCtrl.openCalendar(1)" />
                                    <span class="input-group-addon" ng-click="aktaPendirianPrequalCtrl.openCalendar(1)"><span class="glyphicon glyphicon-th"></span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 center-block" style="float: none!important;" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                            <div class="form-group">
                                <label>{{'NOTARIS'|translate}}</label>
                                <input type="text" class="form-control" placeholder="{{'NOTARIS'|translate}}"
                                       ng-model="aktaPendirianPrequalCtrl.data.notaris_perubahan" />
                            </div>
                        </div>
                        <div class="col-md-1" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true"></div>
                        <div class="col-md-10 center-block" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                            <div class="form-group">
                                <label>
                                    {{'FILE_DOKUMEN'|translate}}
                                    <small> ( <span ng-repeat="ft in aktaPendirianPrequalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{aktaPendirianPrequalCtrl.idUploadConfigs[0].Size}} {{aktaPendirianPrequalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                                    {{uploadSOWDModalCtrl.sowDoc.DocUrl ? '**' : ''}}
                                </label>
                                <input type="file" class="form-control" ng-file-select="aktaPendirianPrequalCtrl.file2Change(aktaPendirianPrequalCtrl.file2)"
                                       ng-model="aktaPendirianPrequalCtrl.file2" required accept="{{aktaPendirianPrequalCtrl.idFileTypes}}" />
                            </div>
                        </div>

                        <div class="col-md-12 text-center" ng-if="aktaPendirianPrequalCtrl.isEditPerubahan">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <a href="{{aktaPendirianPrequalCtrl.folderFile + aktaPendirianPrequalCtrl.fUrl2}}" target="_BLANK" class="btn btn-sm btn-flat btn-primary" title="{{'DOWNLOAD_BERKAS'|translate}}"><i class="fa fa-download"></i></a>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12 text-center" ng-if="!aktaPendirianPrequalCtrl.isEditPerubahan && (aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true)">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <button type="button" ng-click="aktaPendirianPrequalCtrl.addDocument(2)" class="btn btn-sm btn-flat btn-success" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i> &nbsp;</button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12 text-center" ng-if="aktaPendirianPrequalCtrl.isEditPerubahan">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <button type="button" ng-click="aktaPendirianPrequalCtrl.addDocument(2)" class="btn btn-sm btn-flat btn-success " style="margin-right: 10px!important;" title="{{'UBAH'|translate}}"><i class="fa fa-save"></i> &nbsp;</button>
                                    <button type="button" ng-click="aktaPendirianPrequalCtrl.cancelUpdate(2)" class="btn btn-sm btn-flat btn-danger" title="{{'BATAL'|translate}} "><i class="fa fa-times"></i> &nbsp;</button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-12 center-block">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped"
                                           style="table-layout: fixed!important;">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="font-weight: bolder;">{{'NOMOR'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'NOTARIS'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'BERKAS'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="aktaPendirianPrequalCtrl.files2Prequal.length === 0">
                                                <td colspan="5">
                                                    {{'TIDAK_ADA_DATA' | translate}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat="fl in aktaPendirianPrequalCtrl.files2Prequal">
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentNo}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentDateConverted}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.NotaryName}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }"><a href="{{aktaPendirianPrequalCtrl.folderFile + fl.DocumentURL}}" target="_BLANK" ng-if="fl.DocumentURL" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-xs btn-success"><i class="fa fa-download"></i>&nbsp;</a></td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">
                                                    <a ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" class="btn btn-xs btn-danger" title="{{'HAPUS'|translate}}" ng-click="aktaPendirianPrequalCtrl.removeFile2(fl)"><i class="fa fa-trash-o"></i></a>
                                                    <a ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" ng-click="aktaPendirianPrequalCtrl.editDocument(2, fl)" class="btn btn-xs btn-primary" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 center-block" style="float: none!important;">
                    <h3 class="text-center afta-font">{{'DATA_PENGESAHAN_KEMENKUMHAM_PRAKUAL'|translate}}</h3>
                    <h5 class="text-center"><em>({{'KHUSUS_PT'|translate}})*</em></h5>
                </div>
            </div>
            <div class="row" style="padding-top: 20px!important;">
                <div class="col-md-10 col-sm-12 center-block well" style="float: none!important;">
                    <div class="row" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'NOMOR'|translate}}</label>
                                <input type="text" class="form-control" placeholder="{{'NOMOR'|translate}}" ng-model="aktaPendirianPrequalCtrl.data.no_kemenkumham" id="nomorAktaPengesahan" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{'TANGGAL_SURAT'|translate}} &nbsp;<em>(dd/mm/YYYY)</em></label>
                                <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
                                    <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" style="background-color: #ffffff;" is-open="aktaPendirianPrequalCtrl.isCalendarOpened[2]" ng-model="aktaPendirianPrequalCtrl.data.tgl_kemenkumham" ng-click="aktaPendirianPrequalCtrl.openCalendar(2)" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th" ng-click="aktaPendirianPrequalCtrl.openCalendar(2)"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true"></div>
                        <div class="col-md-10 col-sm-10 col-xs-10 text-center" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                            <div class="form-group">
                                <label>
                                    {{'FILE_DOKUMEN'|translate}}
                                    <small>
                                        ( <span ng-repeat="ft in aktaPendirianPrequalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span>
                                        <span> / Max. {{aktaPendirianPrequalCtrl.idUploadConfigs[0].Size}} {{aktaPendirianPrequalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                                    </small>
                                    {{uploadSOWDModalCtrl.sowDoc.DocUrl ? '**' : ''}}
                                </label>
                                <input type="file" class="form-control" ng-file-select="aktaPendirianPrequalCtrl.file3Change(aktaPendirianPrequalCtrl.file3)" ng-model="aktaPendirianPrequalCtrl.file3" required accept="{{aktaPendirianPrequalCtrl.idFileTypes}}" />
                            </div>
                        </div>
                        <div class="col-md-1" ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true"></div>
                        <div class="col-md-12 text-center" ng-if="(aktaPendirianPrequalCtrl.isEditKemenkumham && (aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true))">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <a href="{{aktaPendirianPrequalCtrl.folderFile + aktaPendirianPrequalCtrl.fUrl3}}" target="_BLANK" class="btn btn-sm btn-flat btn-primary" title="{{'DOWNLOAD_BERKAS'|translate}}"><i class="fa fa-download"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 text-center" ng-if="!aktaPendirianPrequalCtrl.isEditKemenkumham && aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <button type="button" ng-click="aktaPendirianPrequalCtrl.addDocument(3)" class="btn btn-sm btn-flat btn-success" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i> &nbsp;</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 text-center" ng-if="(aktaPendirianPrequalCtrl.isEditKemenkumham && aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true)">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <button type="button" ng-click="aktaPendirianPrequalCtrl.addDocument(3)" class="btn btn-sm btn-flat btn-success " style="margin-right: 10px!important;" title="{{'UBAH'|translate}}"><i class="fa fa-save"></i> &nbsp;</button>
                                    <button type="button" ng-click="aktaPendirianPrequalCtrl.cancelUpdate(3)" class="btn btn-sm btn-flat btn-danger" title="{{'BATAL'|translate}}"><i class="fa fa-times"></i> &nbsp;</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 center-block">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped"
                                           style="table-layout: fixed!important;">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="font-weight: bolder;">{{'NOMOR'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'TANGGAL_SURAT'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;">{{'BERKAS'|translate}}</th>
                                                <th class="text-center" style="font-weight: bolder;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="aktaPendirianPrequalCtrl.files3Prequal.length === 0">
                                                <td colspan="4">
                                                    {{'TIDAK_ADA_DATA' | translate}}
                                                </td>
                                            </tr>
                                            <tr ng-repeat="fl in aktaPendirianPrequalCtrl.files3Prequal">
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentNo}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">{{fl.DocumentDateConverted}}</td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }"> <a href="{{aktaPendirianPrequalCtrl.folderFile + fl.DocumentURL}}" target="_BLANK" ng-if="fl.DocumentURL" title="{{fl.Filename}} ({{fl.FilesizeKB}} KB)" class="btn btn-xs btn-success"><i class="fa fa-download"></i>&nbsp;</a></td>
                                                <td class="text-center" ng-class="{ isEdit: fl.isEdit }">
                                                    <a ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" class="btn btn-xs btn-danger" title="{{'HAPUS'|translate}}" ng-click="aktaPendirianPrequalCtrl.removeFile3(fl)"><i class="fa fa-trash-o"></i></a>
                                                    <a ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" ng-click="aktaPendirianPrequalCtrl.editDocument(3, fl)" class="btn btn-xs btn-primary" title="{{'UBAH'|translate}}"><i class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 center-block text-center">
                <a href="#/assessment-prakualifikasi-detail/{{aktaPendirianPrequalCtrl.PrequalStepAssID}}/{{aktaPendirianPrequalCtrl.VendorPrequalID}}" title="{{'BACK'|translate}}" class="btn btn-primary btn-sm">
                    <i class="fa fa-arrow-circle-left"></i>
                </a>
                <a ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true"  class="btn btn-success btn-sm" ng-click="aktaPendirianPrequalCtrl.Submit(true)" title="{{'SETUJU' | translate}}">
                    <i class="fa fa-check"></i>
                </a>
                <a ng-if="aktaPendirianPrequalCtrl.isEntry === true || aktaPendirianPrequalCtrl.IsNeedRevision == true" class="btn btn-sm btn-danger" ng-click="aktaPendirianPrequalCtrl.notvalid()" title="{{'TIDAK_SETUJU'|translate}}"  ng-disabled="aktaPendirianPrequalCtrl.valid==false">
                    <i class="fa fa-close"></i>
                </a>
            </div>
            <div class="center-block text-center" ng-if="aktaPendirianPrequalCtrl.valid==false">
                <div class="row margin-atas">
                    <div class="col-md-6 col-md-offset-3">
                        <label>{{'Alasan'|translate}}</label>
                        <textarea class="form-control" ng-model="aktaPendirianPrequalCtrl.remark" placeholder="{{'Alasan'|translate}}"></textarea>
                        <a class="btn btn-success" ng-click="aktaPendirianPrequalCtrl.Submit(false)">
                            <i class="fa fa-save" title="{{'SIMPAN'|translate}}"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </section>
