﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div class="modal-content" ng-init="WriteChatVHSCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="WriteChatVHSCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span></button>
        <h3 class="modal-title afta-font">{{'BREADCRUMB.FORM_TANGGAPAN' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{'BREADCRUMB.JUDUL' | translate}}</label>
                                <input type="text" ng-model="WriteChatVHSCtrl.judule" class="form-control" disabled="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <div class="box-header">
                                    <h4 class="box-title afta-font">{{'RESP' | translate}} <small class="afta-font">{{'ENTER_RESP' | translate}}</small></h4>
                                </div><!-- /.box-header -->
                                <div class="box-body pad">
                                    <div text-angular="text-angular" name="htmlcontent2" ng-model="WriteChatVHSCtrl.isi"
                                         ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">
                                            {{'FILEDOC' | translate}}
                                            <small> ( <span ng-repeat="ft in WriteChatVHSCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / {{'SIZE' | translate}} : {{WriteChatVHSCtrl.idUploadConfigs[0].Size}} {{WriteChatVHSCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                        </label>
                                        <input type="file" class="form-control" ng-file-select="WriteChatVHSCtrl.selectUpload(fileUpload)"
                                               ng-model="fileUpload" name="ownerIDFile" accept="{{WriteChatVHSCtrl.idFileTypes}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="WriteChatVHSCtrl.batal()"><i class="fa fa-reply"></i>&nbsp;{{'BTN.CANCEL' | translate}}</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="WriteChatVHSCtrl.simpan()"><i class="fa fa-save"></i>&nbsp;{{'BTN.SEND' | translate}}</button>
    </div>
</div>