<ol class="breadcrumb" style="padding-top:0px!important; margin-top:30px;">
	<li><a class="active" href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
</ol>
<div class="container-fluid" ng-init="DVCtrl.init()" style="margin-top: 0px!important;">
	<div class="row">
		<div class="col-md-12 center-block" style="float: none!important;">
			<div class="panel panel-success panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-info-circle"></i> {{'NOTIFIKASI'|translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.paket.totalItems + DVCtrl.listVendorsReject.length}}  ]</strong> &nbsp;<button ng-click="show_notif = !show_notif" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_notif, 'fa-chevron-down': show_notif}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_notif">
					<div class="list-group">
						<div class="list-group-item">
							<h4 class="list-group-item-heading">{{'CHANGE'|translate}}</h4>
							<div class="row">
								<div class="col-md-12">
									<div class="table table-responsive">
										<table id="example1" class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="text-center" style="vertical-align: middle;max-width: 20px; min-width: 20px;">{{'TABLE.NO'|translate}}</th>
													<th class="text-center" style="vertical-align: middle;">{{'TABLE.TIPE_PERUBAHAN'|translate}}</th>
													<th class="text-center">{{'TABLE.TGL_PERMINTAAN'|translate}}</th>
													<th class="text-center">{{'TABLE.BATAS_PERUBAHAN'|translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="req in DVCtrl.listVendors">
													<td style="vertical-align: top;">{{$index + 1}}</td>
													<td style="vertical-align: middle;">{{req.Remark | translate}}</td>
													<td class="text-center">{{req.ChangeRequestDate | date : 'dd/MM/yyyy'}}</td>
													<td class="text-center">{{req.EndChangeDate | date : 'dd/MM/yyyy'}}</td>
												</tr>
												<tr ng-if="DVCtrl.paket.totalItems === 0">
													<td colspan="4">{{'TIDAK_ADA_LELANG'|translate}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

                    <div class="list-group">
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">{{'NOTIFIKASI'|translate}}</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="vertical-align: middle;max-width: 20px; min-width: 20px;">{{'TABLE.NO'|translate}}</th>
                                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.NAMA_DATA_PERUSAHAAN'|translate}}</th>
                                                    <th class="text-center">{{'TABLE.CATATAN_KOREKSI'|translate}}</th>
                                                    <th class="text-center">{{'TABLE.ACTION'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="a in DVCtrl.listVendorsReject">
                                                    <td style="vertical-align: top;">{{$index + 1}}</td>
                                                    <td style="vertical-align: middle;">{{DVCtrl.langID ? a.locale_id : a.locale_en}}</td>
                                                    <td class="text-center">{{a.Remarks | date : 'dd/MM/yyyy'}}</td>
                                                    <td class="text-center">
                                                        <a href="{{a.Url}}" class="btn btn-flat btn-info btn-sm" title="{{'GO' | translate}}"><i class="fa fa-share"></i></a>

                                                    </td>
                                                </tr>
                                                <tr ng-if="DVCtrl.listVendorsReject.length === 0">
                                                    <td colspan="4">{{'TIDAK_ADA_LELANG'|translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
				</div>
			</div>
			<div class="panel panel-default panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> {{'PRAKUALIFIKASI'|translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.prekual.totalItems}} ]</strong> &nbsp;<button ng-click="show_pre = !show_pre" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_reg, 'fa-chevron-down': show_reg}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_pre">
					<form ng-submit="DVCtrl.searchPrekual()">
						<div class="input-group" style="padding-bottom: 15px;">
							<div class="input-cont">
								<input type="text" ng-model="DVCtrl.prekual.keyword" placeholder="{{'TABLE.NAMA_PRAKUALIFIKASI'|translate}}" class="form-control">
							</div>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary" title="{{'CARI' | translate}}">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</form>
					<div class="table table-responsive">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
									<th class="text-center">{{'TABLE.NAMA_PRAKUALIFIKASI'|translate}}</th>
									<th class="text-center" style="width: 180px; min-width: 180px;">{{'TABLE.ACTION'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="td in DVCtrl.prekual.list">
									<td class="text-center" style="vertical-align: middle;">
										{{$index + 1 + (DVCtrl.prekual.pageSize * (DVCtrl.prekual.currentPage - 1))}}
									</td>
									<td style="vertical-align: middle;">{{td.PrequalName}}</td>
									<td class="text-center">
										<button class="btn btn-xs btn-primary" title="{{'DETAIL_TAHAPAN'|translate}}" ng-click="DVCtrl.detailtahapanPrakual(td)">
											<i class="fa fa-external-link"></i>
										</button>
									</td>
								</tr>
								<tr ng-if="DVCtrl.prekual.totalItems === 0">
									<td colspan="6">{{'TIDAK_ADA_LELANG'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul uib-pagination total-items="DVCtrl.prekual.totalItems"
						ng-model="DVCtrl.prekual.currentPage" items-per-page="DVCtrl.prekual.pageSize"
						previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.reloadPrekual()"></ul>
				</div>
			</div>
			<div class="panel panel-success panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-bullhorn"></i>&nbsp;{{'PREQUAL_ANNOUNCEMENT' | translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.prekualAnnounce.totalItems}} ]</strong>&nbsp;<button ng-click="show_prequalAnnonce = !show_prequalAnnonce" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_prequalAnnonce, 'fa-chevron-down': show_prequalAnnonce}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_prequalAnnonce">
					<div class="table table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center" style="vertical-align: middle;max-width: 20px; min-width: 20px;">{{'TABLE.NO'|translate}}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.PREQUAL_DATE'|translate}}</th>
									<th class="text-center">{{'TABLE.PREQUAL_NAME'|translate}}</th>
									<th class="text-center">{{'TABLE.IS_REGISTERED'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="preqAnncn in DVCtrl.prekualAnnounce.list">
									<td style="vertical-align: top;">{{$index + 1}}</td>
									<td class="text-center">{{preqAnncn.Publishdate | date : 'dd-MMM-yyyy'}}</td>
									<td style="vertical-align: middle;">{{preqAnncn.Name}}</td>
									<td class="text-center" ng-if="preqAnncn.IsRegistered">{{'REGISTERED' | translate}}</td>
									<td class="text-center" ng-if="!preqAnncn.IsRegistered">{{'NOT_REGISTERED' | translate}}</td>
									<!--<td class="text-center">{{req.EndChangeDate | date : 'dd/MM/yyyy'}}</td>-->
								</tr>
								<tr ng-if="DVCtrl.listPreqAnncn.length === 0">
									<td colspan="4">{{'PREQUAL_ANNOUNCEMENT_CONTAINS_NODATA' | translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="pull-right" href="#/prequal-announce-vendor">{{'SELENGKAPNYA'|translate}}...</a>
				</div>
			</div>
			<div class="panel panel-default panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-dashboard"></i> {{'TENDER_YANG_DIIKUTI'|translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.paket.totalItems}} ]</strong> &nbsp;<button ng-click="show_reg = !show_reg" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_reg, 'fa-chevron-down': show_reg}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_reg">
					<form ng-submit="DVCtrl.searchPaket()">
						<div class="input-group" style="padding-bottom: 15px;">
							<div class="input-cont">
								<input type="text" ng-model="DVCtrl.paket.keyword" placeholder="{{'TABLE.NAMA_PENGADAAN'|translate}}" class="form-control">
							</div>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary" title="{{'CARI' | translate}}">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</form>
					<div class="table table-responsive">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
									<th class="text-center">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
									<th class="text-center" style="width: 180px; min-width: 180px;">{{'TABLE.ACTION'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="td in DVCtrl.paket.list">
									<td class="text-center" style="vertical-align: middle;">
										{{$index + 1 + (DVCtrl.paket.pageSize * (DVCtrl.paket.currentPage - 1))}}
									</td>
									<td style="vertical-align: middle;">{{td.TenderName}}</td>
									<td class="text-center">
										<button class="btn btn-xs btn-primary" title="{{'DETAIL_TAHAPAN'|translate}}" ng-click="DVCtrl.detailtahapan(td)">
											<i class="fa fa-external-link"></i>
										</button>
									</td>
								</tr>
								<tr ng-if="DVCtrl.paket.totalItems === 0">
									<td colspan="6">{{'TIDAK_ADA_LELANG'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<ul uib-pagination total-items="DVCtrl.paket.totalItems" max-size="10"
						ng-model="DVCtrl.paket.currentPage" items-per-page="DVCtrl.paket.pageSize"
						previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.reloadPaket()"></ul>
				</div>
			</div>
			<div class="panel panel-success panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-trophy"></i> {{'TENDER_YANG_DIMENANGKAN'|translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.totalTenderAward}} ]</strong> <button ng-click="DVCtrl.show_regAward = !DVCtrl.show_regAward" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !DVCtrl.show_regAward, 'fa-chevron-down': DVCtrl.show_regAward}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="DVCtrl.show_regAward">
					<div class="panel panel-default panel-marginbot2">
						<div class="panel-heading">
							<span class="pull-left">
								<h3 class="panel-title"><i class="fa fa-tasks"></i> Tender PO</h3>
							</span>
							<span class="pull-right">
								<strong>[ {{DVCtrl.paketPO.totalItems}} ]</strong> &nbsp;<button ng-click="show_regPO = !show_regPO" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_regPO, 'fa-chevron-down': show_regPO}"></i></button>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body" ng-show="show_regPO">
							<form ng-submit="DVCtrl.loadPaket1(1)">
								<div class="input-group" style="padding-bottom: 15px;">
									<div class="input-cont">
										<input type="text" ng-model="DVCtrl.paketPO.keyword" placeholder="{{'TABLE.NAMA_PENGADAAN'|translate}}" class="form-control">
									</div>
									<span class="input-group-btn">
										<button type="submit" class="btn btn-primary" title="{{'CARI' | translate}}" ng-click="DVCtrl.loadPaket1(1)">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
							<div class="table table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
											<th class="text-center">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
											<th class="text-center">{{'TABLE.PO_TYPE' | translate}}</th>
											<th class="text-center">{{'TABLE.PO_JENIS' | translate}}</th>
											<th class="text-center">PO Number</th>
											<th class="text-center">PO Date</th>
											<th class="text-center">Date Status</th>
											<th class="text-center">PO Status</th>
											<th class="text-center">{{'TABLE.DESCRIPTION' | translate}}</th>
											<th class="text-center">{{'TABLE.ACTION'|translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="td in DVCtrl.paketPO.list">
											<td class="text-center" style="vertical-align: middle;">
												{{$index + 1 + (DVCtrl.paketPO.pageSize * (DVCtrl.paketPO.currentPage - 1))}}
											</td>
											<td style="vertical-align: middle;">{{td.MonitoringPO.TenderName}}</td>
											<td style="vertical-align: middle;">{{td.MonitoringPO.POmodel.POType}}</td>
											<td style="vertical-align: middle;">{{td.MonitoringPO.POmodel.POJenis}}</td>
											<td style="vertical-align: middle;">{{td.MonitoringPO.POmodel.PONumber}}</td>
											<td style="vertical-align: middle;">{{td.MonitoringPO.POmodel.CreatedDate| date: "dd-MM-yyyy"}}</td>
											<td style="vertical-align: middle;">{{td.DateStatus| date: "dd-MM-yyyy"}}</td>
											<td style="vertical-align: middle;">{{td.SysReference.Value | translate}}</td>
											<td style="vertical-align: middle;">{{td.Remark}}</td>
											<td class="text-center">
												<button class="btn btn-xs btn-primary" title="{{'DETAIL_TAHAPAN'|translate}}" ng-click="DVCtrl.detailmonitoringPO(td)">
													<i class="fa fa-external-link"></i>
												</button>
											</td>
										</tr>
										<tr ng-if="DVCtrl.paketPO.totalItems === 0">
											<td colspan="9">{{'TIDAK_ADA_LELANG'|translate}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul uib-pagination total-items="DVCtrl.paketPO.totalItems" max-size="5"
								ng-model="DVCtrl.paketPO.currentPage" items-per-page="DVCtrl.paketPO.pageSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.loadPaket1(DVCtrl.paketPO.currentPage)"></ul>
						</div>
					</div>

					<!--<div class="panel panel-success panel-marginbot2">
						<div class="panel-heading">
							<span class="pull-left">
								<h3 class="panel-title"><i class="fa fa-tasks"></i> Tender FPA</h3>
							</span>
							<span class="pull-right">
								<strong>[ {{DVCtrl.paketFPA.totalItems}} ]</strong> &nbsp;<button ng-click="show_regFPA = !show_regFPA" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_regFPA, 'fa-chevron-down': show_regFPA}"></i></button>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body" ng-show="show_regFPA">
							<form ng-submit="DVCtrl.searchPaket()">
								<div class="input-group" style="padding-bottom: 15px;">
									<div class="input-cont">
										<input type="text" ng-model="DVCtrl.paket.keyword" placeholder="{{'TABLE.NAMA_PENGADAAN'|translate}}" class="form-control">
									</div>
									<span class="input-group-btn">
										<button type="submit" class="btn btn-primary" title="{{'CARI' | translate}}">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
							<div class="table table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
											<th class="text-center">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
											<th class="text-center" style="width: 180px; min-width: 180px;">{{'TABLE.ACTION'|translate}}</th>
										</tr>
									</thead>
									<tr ng-if="DVCtrl.paketPO.totalItems === 0">
										<td colspan="3">{{'TIDAK_ADA_LELANG'|translate}}</td>
									</tr>
									<tbody>
										<tr ng-repeat="td in DVCtrl.paketFPA.list">
											<td class="text-center" style="vertical-align: middle;">
												{{$index + 1 + (DVCtrl.paket.pageSize * (DVCtrl.paket.currentPage - 1))}}
											</td>
											<td style="vertical-align: middle;">{{td.TenderName}}</td>
											<td class="text-center">
												<button class="btn btn-xs btn-primary" title="{{'DETAIL_TAHAPAN'|translate}}" ng-click="DVCtrl.detailtahapan(td)">
													<i class="fa fa-external-link"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul uib-pagination total-items="DVCtrl.paket.totalItems"
								ng-model="DVCtrl.paket.currentPage" items-per-page="DVCtrl.paket.pageSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.reloadPaket()"></ul>
						</div>
					</div>-->

					<div class="panel panel-success panel-marginbot2">
						<div class="panel-heading">
							<span class="pull-left">
								<h3 class="panel-title"><i class="fa fa-tasks"></i> Tender VHS</h3>
							</span>
							<span class="pull-right">
								<strong>[ {{DVCtrl.paketMRKO.totalItems}} ]</strong> &nbsp;<button ng-click="show_regVHS = !show_regVHS" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_regVHS, 'fa-chevron-down': show_regVHS}"></i></button>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body" ng-show="show_regVHS">
							<form ng-submit="DVCtrl.loadMonitoringVHS(1)">
								<div class="input-group" style="padding-bottom: 15px;">
									<div class="input-cont">
										<input type="text" ng-model="DVCtrl.paketMRKO.keyword" placeholder="{{'TABLE.NAMA_PENGADAAN'|translate}}" class="form-control">
									</div>
									<span class="input-group-btn">
										<button type="submit" class="btn btn-primary" title="{{'CARI' | translate}}" ng-click="DVCtrl.loadMonitoringVHS(1)">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
							<div class="table table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
											<th class="text-center">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
											<th class="text-center">{{'TABLE.STARTDATE_CSO'|translate}}</th>
											<th class="text-center">{{'TABLE.ENDDATE_CSO'|translate}}</th>
											<th class="text-center">{{'TABLE.STATUS'|translate}}</th>
											<th class="text-center" style="width: 180px; min-width: 180px;">{{'TABLE.ACTION'|translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in DVCtrl.paketMRKO.list">
											<td style="vertical-align: middle;">{{$index + 1 + (DVCtrl.paketMRKO.pageSize * (DVCtrl.paketMRKO.currentPage - 1))}}</td>
											<td style="vertical-align: middle;">{{data.TenderName}}</td>
											<td style="vertical-align: middle;" class="text-center">{{data.Periode1 | date : 'dd/MM/yyyy'}}</td>
											<td style="vertical-align: middle;" class="text-center">{{data.Periode2 | date : 'dd/MM/yyyy'}}</td>
											<td style="vertical-align: middle;" class="text-center">{{data.SysReference.Name | translate}}</td>
											<td class="text-center">
												<a class="btn btn-flat btn-primary" ng-if="data.Type !== 'VHS'" ng-click="DVCtrl.detailmonitoringMRKO(data)" title="Detail Item">
													<i class="fa fa-edit"></i>
												</a>
												<button ng-if="data.Type === 'VHS' && data.SysReference.Name === 'REVIEW_VENDOR'" class="btn btn-flat btn-success" title="{{'ACKNOWLEDGE' | translate}}" ng-click="DVCtrl.acknowledgeFPA(data)">
													<i class="fa fa-check"></i>
												</button>
											</td>
										</tr>
									</tbody>
									<tr ng-if="DVCtrl.paketMRKO.totalItems === 0">
										<td colspan="6">{{'TIDAK_ADA_LELANG'|translate}}</td>
									</tr>
								</table>
							</div>
							<ul uib-pagination total-items="DVCtrl.paketMRKO.totalItems" max-size="5"
								ng-model="DVCtrl.paketMRKO.currentPage" items-per-page="DVCtrl.paketMRKO.pageSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.loadMonitoringVHS(DVCtrl.paketMRKO.currentPage)"></ul>
						</div>
					</div>
					<div class="panel panel-default panel-marginbot2">
						<div class="panel-heading">
							<span class="pull-left">
								<h3 class="panel-title"><i class="fa fa-tasks"></i> Tender FPA</h3>
							</span>
							<span class="pull-right">
								<strong>[ {{DVCtrl.paketFPA.totalItems}} ]</strong> &nbsp;<button ng-click="show_regFPA = !show_regFPA" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_regFPA, 'fa-chevron-down': show_regFPA}"></i></button>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body" ng-show="show_regFPA">
							<form ng-submit="">
								<div class="input-group" style="padding-bottom: 15px;">
									<div class="input-cont">
										<input type="text" ng-model="" placeholder="{{'TABLE.NAMA_PENGADAAN'|translate}}" class="form-control" />
									</div>
									<span class="input-group-btn">
										<button ng-click="" type="submit" class="btn btn-primary" title="{{'CARI' | translate}}">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
							<div class="table table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
											<th class="text-center">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
											<th class="text-center">{{'TABLE.STARTDATE_CSO'|translate}}</th>
											<th class="text-center">{{'TABLE.ENDDATE_CSO'|translate}}</th>
											<th class="text-center">{{'TABLE.STATUS'|translate}}</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tr ng-if="DVCtrl.paketFPA.totalItems === 0">
										<td colspan="6">{{'TIDAK_ADA_LELANG'|translate}}</td>
									</tr>
									<tbody>
										<tr ng-repeat="td in DVCtrl.paketFPA.list">
											<td class="text-center" style="vertical-align: middle;">
												{{$index + 1 + (DVCtrl.paketFPA.pageSize * (DVCtrl.paketFPA.currentPage - 1))}}
											</td>
											<td style="vertical-align: middle;">{{td.TenderName}}</td>
											<td style="vertical-align: middle;" class="text-center">{{td.StartContractDate | date : 'dd/MM/yyyy'}}</td>
											<td style="vertical-align: middle;" class="text-center">{{td.FinishContractDate | date : 'dd/MM/yyyy'}}</td>
											<td style="vertical-align: middle;" class="text-center">{{td.StatusName | translate}}</td>
											<td class="text-center">
												<button class="btn btn-xs btn-primary" title="{{'ACKNOWLEDGE' | translate}}" ng-click="DVCtrl.acknowledgeFPA(td)" ng-if="td.StatusName === 'REVIEW_VENDOR'">
													<i class="fa fa-check"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul uib-pagination total-items="DVCtrl.paketCSO.totalItems"
								ng-model="DVCtrl.currentPageCSO" items-per-page="DVCtrl.paketCSO.pageSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.loadCSO(DVCtrl.currentPageCSO)"></ul>
						</div>
					</div>
					<div class="panel panel-success panel-marginbot2">
						<div class="panel-heading">
							<span class="pull-left">
								<h3 class="panel-title"><i class="fa fa-tasks"></i> Tender Services</h3>
							</span>
							<span class="pull-right">
								<strong>[ {{DVCtrl.paketCSO.totalItems}} ]</strong> &nbsp;<button ng-click="DVCtrl.show_regServices = !DVCtrl.show_regServices" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !DVCtrl.show_regServices, 'fa-chevron-down': DVCtrl.show_regServices}"></i></button>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body" ng-show="DVCtrl.show_regServices">
							<form ng-submit="DVCtrl.loadCSO(1)">
								<div class="input-group" style="padding-bottom: 15px;">
									<div class="input-cont">
										<input type="text" ng-model="DVCtrl.paketCSO.keyword" placeholder="{{'TABLE.NAMA_PENGADAAN'|translate}}" class="form-control" />
									</div>
									<span class="input-group-btn">
										<button ng-click="DVCtrl.loadCSO(1)" type="submit" class="btn btn-primary" title="{{'CARI' | translate}}">
											<i class="fa fa-search"></i>
										</button>
									</span>
								</div>
							</form>
							<div class="table table-responsive">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
											<th class="text-center">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
											<th class="text-center">{{'TABLE.STARTDATE_CSO'|translate}}</th>
											<th class="text-center">{{'TABLE.ENDDATE_CSO'|translate}}</th>
											<th class="text-center">{{'TABLE.STATUS'|translate}}</th>
											<th class="text-center">Action</th>
										</tr>
									</thead>
									<tr ng-if="DVCtrl.paketCSO.totalItems === 0">
										<td colspan="6">{{'TIDAK_ADA_LELANG'|translate}}</td>
									</tr>
									<tbody>
										<tr ng-repeat="td in DVCtrl.paketCSO.list">
											<td class="text-center" style="vertical-align: middle;">
												{{$index + 1 + (DVCtrl.paketCSO.pageSize * (DVCtrl.currentPageCSO - 1))}}
											</td>
											<td style="vertical-align: middle;">{{td.TenderName}}</td>
											<td style="vertical-align: middle;" class="text-center">{{td.ContractStartDate | date : 'dd/MM/yyyy'}}</td>
											<td style="vertical-align: middle;" class="text-center">{{td.ContractEndDate | date : 'dd/MM/yyyy'}}</td>
											<td style="vertical-align: middle;" class="text-center">{{td.StatusName | translate}}</td>
											<td class="text-center">
												<button class="btn btn-xs btn-primary" title="{{'ACKNOWLEDGE' | translate}}" ng-click="DVCtrl.acknowledgeContract(td)" ng-if="td.StatusName === 'REVIEW_VENDOR'">
													<i class="fa fa-check"></i>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul uib-pagination total-items="DVCtrl.paketCSO.totalItems"
								ng-model="DVCtrl.currentPageCSO" items-per-page="DVCtrl.paketCSO.pageSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.loadCSO(DVCtrl.currentPageCSO)"></ul>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-file-text"></i> {{'CONTRACT_PERFORMANCE_REVIEW'|translate}}</h3>
					</span>
					<span class="pull-right">
						<button ng-click="show_cpr_all = !show_cpr_all" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_cpr_all, 'fa-chevron-down': show_cpr_all}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_cpr_all">
					<div class="panel panel-success panel-marginbot2">
						<div class="panel-heading">
							<span class="pull-left">
								<h3 class="panel-title"><i class="fa fa-file-text-o"></i> {{'CPR'|translate}}</h3>
							</span>
							<span class="pull-right">
								<strong>[ {{DVCtrl.cpr.totalItems}} ]</strong> &nbsp;<button ng-click="show_cpr = !show_cpr" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_cpr, 'fa-chevron-down': show_cpr}"></i></button>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body" ng-show="show_cpr">
							<div class="table table-responsive">
								<table id="tabelcpr" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" width="5%">{{'TABLE.NO' | translate}}</th>
											<th class="text-center" width="25%">{{'TABLE.CONTRACT_NO' | translate}}</th>
											<th class="text-center">{{'TABLE.CONTRACT_NAME' | translate}}</th>
											<th class="text-center">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="cv in DVCtrl.listCPRVendor">
											<td class="text-center" style="vertical-align: middle;">{{$index + 1 + (DVCtrl.cpr.pageSize * (DVCtrl.cpr.currentPage - 1))}}</td>
											<td class="text-center" style="vertical-align: middle;">{{cv.ContractNo}}</td>
											<td class="text-center" style="vertical-align: middle;">{{cv.TanderName}}</td>
											<td class="text-center" style="vertical-align: middle;">
												<button class="btn btn-sm btn-warning" title="Detail" ng-click="DVCtrl.detailCPR(cv)"><i class="fa fa-edit"></i></button>
											</td>
										</tr>
										<tr ng-if="DVCtrl.cpr.totalItems === 0">
											<td colspan="4">{{'TIDAK_ADA_LELANG'|translate}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul uib-pagination total-items="DVCtrl.cpr.totalItems"
								ng-model="DVCtrl.cpr.currentPage" items-per-page="DVCtrl.cpr.pageSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.reloadCPR(DVCtrl.cpr.currentPage)"></ul>
							<!--
							<a class="pull-right" href="#/cpr-vendor">{{'SELENGKAPNYA'|translate}}...</a>
							 -->
						</div>
					</div>
					<div class="panel panel-success panel-marginbot2">
						<div class="panel-heading">
							<span class="pull-left">
								<h3 class="panel-title"><i class="fa fa-file-text-o"></i> {{'CPR_VHS'|translate}}</h3>
							</span>
							<span class="pull-right">
								<strong>[ {{DVCtrl.cprvhs.totalItems}} ]</strong> &nbsp;<button ng-click="show_cpr_vhs = !show_cpr_vhs" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_cpr_vhs, 'fa-chevron-down': show_cpr_vhs}"></i></button>
							</span>
							<div class="clearfix"></div>
						</div>
						<div class="panel-body" ng-show="show_cpr_vhs">
							<div class="table table-responsive">
								<table id="tabelcpr" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" width="5%">{{'TABLE.NO' | translate}}</th>
											<th class="text-center" width="25%">{{'TABLE.CONTRACT_NO' | translate}}</th>
											<th class="text-center">{{'TABLE.CONTRACT_NAME' | translate}}</th>
											<th class="text-center">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="cv in DVCtrl.listCPRVHSVendor">
											<td class="text-center" style="vertical-align: middle;">{{$index + 1 + (DVCtrl.cpr.pageSize * (DVCtrl.cpr.currentPage - 1))}}</td>
											<td class="text-center" style="vertical-align: middle;">{{cv.ContractNo}}</td>
											<td class="text-center" style="vertical-align: middle;">{{cv.TanderName}}</td>
											<td class="text-center" style="vertical-align: middle;">
												<button class="btn btn-sm btn-warning" title="Detail" ng-click="DVCtrl.detailCPRVHS(cv)"><i class="fa fa-edit"></i></button>
											</td>
										</tr>
										<tr ng-if="DVCtrl.cprvhs.totalItems === 0">
											<td colspan="4">{{'TIDAK_ADA_LELANG'|translate}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<ul uib-pagination total-items="DVCtrl.cprvhs.totalItems"
								ng-model="DVCtrl.cprvhs.currentPage" items-per-page="DVCtrl.cprvhs.pageSize"
								previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.reloadCPRVHS(DVCtrl.cprvhs.currentPage)"></ul>

							<!--<a class="pull-right" href="#/vhs-vendor">{{'SELENGKAPNYA'|translate}}...</a>-->
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-success panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-bullhorn"></i> {{'PENGUMUMAN_TENDER'|translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.pengumuman.totalItems}} ]</strong> &nbsp;<button ng-click="show_tender = !show_tender" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_tender, 'fa-chevron-down': show_tender}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_tender">
					<div class="table table-responsive">
						<table id="tabelPengumuman" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center" style="width: 20px; min-width: 20px; text-align: center; vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
									<th class="text-center" style="width: 195px; min-width: 195px; text-align: center; vertical-align: middle;">{{'TABLE.TANGGAL'|translate}}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
									<th class="text-center" style="vertical-align: middle; width: 195px; min-width: 195px;">{{'TABLE.KADALUARSA'|translate}}</th>
									<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'TABLE.STATUS'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pen in DVCtrl.pengumuman.list">
									<td class="text-center" style="vertical-align: middle;">{{PPVCtrl.currentPage > 1 ? (PPVCtrl.maxSize * (PPVCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
									<td class="text-center" style="vertical-align: middle;">{{pen.RegistrationStartDate}}</td>
									<td style="vertical-align: middle;">{{pen.TenderStepData.tender.TenderName}}</td>
									<td class="text-center" style="vertical-align: middle;">{{pen.RegistrationEndDate}}</td>
									<td ng-if="pen.IsAlreadyRegistered === true" class="text-center" style="vertical-align: middle;"> {{'TABLE.TERDAFTAR' | translate}}
									<td ng-if="pen.IsAlreadyRegistered === false" class="text-center" style="vertical-align: middle;"> {{'TABLE.BELUM_TERDAFTAR'|translate}}
								</tr>
								<tr ng-if="DVCtrl.pengumuman.totalItems === 0">
									<td colspan="5">{{'TIDAK_ADA_LELANG'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="pull-right" href="#/pengumuman-pengadaan-vendor-all">{{'SELENGKAPNYA'|translate}}...</a>
				</div>
			</div>
			<div class="panel panel-default panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-newspaper-o"></i> {{'BERITA'|translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.berita.length}} ]</strong> &nbsp;<button ng-click="show_news = !show_news" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_news, 'fa-chevron-down': show_news}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_news">
					<div class="table table-responsive">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center" style="vertical-align: middle; width: 20px; min-width:20px">{{'TABLE.NO' | translate}}</th>
									<th class="text-center" style="vertical-align: middle; width: 200px; min-width: 200px">{{'TABLE.JUDUL' | translate}}</th>
									<th class="text-center">{{'TABLE.ISI_BERITA' | translate}}</th>
									<th class="text-center" style="vertical-align: middle; width: 150px; min-width: 150px;">{{'TABLE.TANGGAL' | translate}}</th>
									<th class="text-center" style="vertical-align: middle">File</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ba in DVCtrl.berita">
									<td class="text-center">{{DVCtrl.currentPage > 1 ? (DVCtrl.maxSize * (DVCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
									<td>{{ba.NewsTitle}}</td>
									<td>
										<p class="col-lg-12" ng-bind-html="ba.NewsContent"></p>
									</td>
									<td>
										<span ng-if="ba.NewsDate">{{ba.NewsDate | date:"dd - MMM - yyyy"}}</span>
									</td>
									<td>
										<a ng-if="ba.DocUrl" class="btn btn-primary btn-xs" title="Download" href="{{DVCtrl.folderFile + ba.DocUrl}}" target="_blank">
											<i class="fa fa-download"></i>&nbsp;Download
										</a>
									</td>
								</tr>
								<tr ng-if="DVCtrl.berita.length == 0">
									<td colspan="4">{{'TIDAK_ADA_LELANG'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--
					<ul uib-pagination total-items="DVCtrl.totalItems"
						ng-model="DVCtrl.currentPage" items-per-page="3"
						previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DVCtrl.reloadNews(currentPage)"></ul>-->
				</div>
			</div>
			<div class="panel panel-success panel-marginbot2">
				<div class="panel-heading">
					<span class="pull-left">
						<h3 class="panel-title"><i class="fa fa-bullhorn"></i> {{'WARNING_LETTER'|translate}}</h3>
					</span>
					<span class="pull-right">
						<strong>[ {{DVCtrl.warning.totalItems}} ]</strong> &nbsp;<button ng-click="show_warning = !show_warning" class="btn btn-default btn-xs"><i class="fa" ng-class="{'fa-chevron-up': !show_warning, 'fa-chevron-down': show_warning}"></i></button>
					</span>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body" ng-show="show_warning">
					<div class="table table-responsive">
						<table id="tableWarning" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center" style="width: 20px; min-width: 20px; text-align: center; vertical-align: middle;">{{'TABLE.NO'|translate}}</th>
									<th class="text-center" style="width: 195px; min-width: 195px; text-align: center; vertical-align: middle;">{{'TABLE.TGL_MULAI'|translate}}</th>
									<th class="text-center" style="width: 195px; min-width: 195px; text-align: center; vertical-align: middle;">{{'TABLE.TGL_SELESAI'|translate}}</th>
									<th class="text-center" style="vertical-align: middle;">{{'TABLE.JENIS_PERINGATAN'|translate}}</th>
									<th class="text-center" style="vertical-align: middle; width: 195px; min-width: 195px;">{{'TABLE.NO_KONTRAKPO'|translate}}</th>
									<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'TABLE.STATUS'|translate}}</th>
									<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="wl in DVCtrl.warning.list">
									<td class="text-center" style="vertical-align: middle;">{{$index + 1 + (DVCtrl.warning.pageSize * (DVCtrl.warning.currentPage - 1))}}</td>
									<td class="text-center" style="vertical-align: middle;">{{wl.StartDate| date: "dd MMMM yyyy"}}</td>
									<td class="text-center" style="vertical-align: middle;">{{wl.EndDate| date: "dd MMMM yyyy"}}</td>
									<td class="text-center" style="vertical-align: middle;">{{wl.LetterType | translate}}</td>
									<td class="text-center" style="vertical-align: middle;">{{wl.DetailKontrak | translate}}</td>
									<td class="text-center" style="vertical-align: middle;">{{wl.StatusAppName|translate}}</td>
									<td class="text-center" style="vertical-align: middle;">
										<button class="btn btn-xs btn-primary" title="{{'DETAIL_WARNING'|translate}}" ng-click="DVCtrl.detailWarning(wl)">
											<i class="fa fa-external-link"></i>
										</button>
										<button ng-show="wl.LetterType == 'WARNING_TYPE_ADMONITION-2' || wl.LetterType == 'WARNING_TYPE_ADMONITION-3' || wl.LetterType =='TYPE_EN_ADMONITION_2' || wl.LetterType =='TYPE_EN_ADMONITION_3'
                                                        || wl.LetterType == 'WARNING_TYPE_ADMONITION-2_GOODS' || wl.LetterType == 'WARNING_TYPE_ADMONITION-3_GOODS' || wl.LetterType =='TYPE_EN_ADMONITION_2_GOODS' || wl.LetterType =='TYPE_EN_ADMONITION_3_GOODS'"
												ng-if="wl.StatusAppName == 'WL_SEND_TO_VENDOR'" title="Acknowledge" class="btn btn-xs btn-success" ng-click="DVCtrl.stateComplete(wl)">
											<i class="fa fa-check"></i>
										</button>
										<!--<button ng-show="wl.LetterType == 'WARNING_TYPE_ADMONITION-2' || wl.LetterType == 'WARNING_TYPE_ADMONITION-3' || wl.LetterType =='TYPE_EN_ADMONITION_2' || wl.LetterType =='TYPE_EN_ADMONITION_3'"
											  ng-if="wl.StatusAppName == 'WL_SEND_TO_VENDOR'"  title="{{'REVISE_WL'|translate}}" class="btn btn-xs btn-warning" ng-click="DVCtrl.stateReviseByVendor(wl)">
											<i class="fa fa-bell-o"></i>
										</button>-->
									</td>
								</tr>
								<tr ng-if="DVCtrl.warning.totalItems === 0">
									<td colspan="7">{{'TIDAK_ADA_DATA'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="pop-up-contract-detail.html">
	<div class="panel-body">
		<div class="table table-responsive">
			<table id="example1" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
						<th class="text-center">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
						<th class="text-center">{{'TABLE.STARTDATE_CSO'|translate}}</th>
						<th class="text-center">{{'TABLE.ENDDATE_CSO'|translate}}</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tr ng-if="DVCtrl.paketCSO.totalItems === 0">
					<td colspan="3">{{'TIDAK_ADA_LELANG'|translate}}</td>
				</tr>
				<tbody>
					<tr ng-repeat="td in DVCtrl.paketCSO.list">
						<td class="text-center" style="vertical-align: middle;">
							{{$index + 1}}
						</td>
						<td style="vertical-align: middle;">{{td.TenderName}}</td>
						<td ng-if="td.RFQType !== 2 && td.Periode1 === null" style="vertical-align: middle;" class="text-center">{{td.ContractStartDate | date : 'dd/MM/yyyy'}}</td>
						<td ng-if="td.RFQType === 2" style="vertical-align: middle;" class="text-center">{{td.StartContractDate | date : 'dd/MM/yyyy'}}</td>
						<td ng-if="td.RFQType !== 2 && td.Periode1 !== null" style="vertical-align: middle;" class="text-center">{{td.Periode1 | date : 'dd/MM/yyyy'}}</td>
						<td ng-if="td.RFQType !== 2 && td.Periode2 === null" style="vertical-align: middle;" class="text-center">{{td.ContractEndDate | date : 'dd/MM/yyyy'}}</td>
						<td ng-if="td.RFQType === 2" style="vertical-align: middle;" class="text-center">{{td.FinishContractDate | date : 'dd/MM/yyyy'}}</td>
						<td ng-if="td.RFQType !== 2 && td.Periode2 !== null" style="vertical-align: middle;" class="text-center">{{td.Periode2 | date : 'dd/MM/yyyy'}}</td>
						<td class="text-center">
							<button class="btn btn-xs btn-primary" title="{{'ACKNOWLEDGE' | translate}}" ng-click="DVCtrl.acknowledgeContract(td)" ng-if="td.RFQType !== 2 && td.StatusName === 'REVIEW_VENDOR'">
								<i class="fa fa-check"></i>
							</button>
							<button class="btn btn-xs btn-primary" title="{{'ACKNOWLEDGE' | translate}}" ng-click="DVCtrl.acknowledgeFPA(td)" ng-if="td.RFQType === 2 && td.StatusName === 'REVIEW_VENDOR'">
								<i class="fa fa-check"></i>
							</button>
							<button class="btn btn-xs btn-primary" title="{{'ACKNOWLEDGE' | translate}}" ng-click="DVCtrl.acknowledgeFPA(td)" ng-if="td.RFQType !== 2 && td.SysReference.Name === 'REVIEW_VENDOR'">
								<i class="fa fa-check"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pull-right">
			<button class="btn btn-primary btn-sm" ng-click="DVCtrl.closePopUp()">{{"CLOSE" | translate}}</button>
		</div>
	</div>
</script>