﻿<div class="modal-content" ng-init="detailWarningCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailWarningCtrl.batal()" title="{{'KELUAR'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'DETAIL_WARNING' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">                     
            <div class="row">
                <div class="col-sm-10 col-xs-12 well center-block" style="float: none!important;">
                    <div class="form-group">
                        <p ng-bind-html="detailWarningCtrl.TemplateDoc" name="editor1" rows="10" cols="80"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
