﻿<div class="modal-content" ng-init="PopUpAcknowledgementCtrl.initContract()" style="width:1000px!important;">
	<div class="modal-header">
		<h1 class="text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'POP_UP.WARNING' | translate}}</h1>
	</div>
	<div class="modal-body">
		<h3 class="text-center">{{'POP_UP.TEXT_FPA' | translate}}</h3>
		<h3 class="text-center">
			<button class="btn btn-primary btn-lg" ng-click="PopUpAcknowledgementCtrl.gotoAcknowledgementFPA()">{{'POP_UP.KLIK' | translate}}</button>
		</h3>
	</div>
</div>