﻿<div id="lakukanEvaluasi" class="modal-content" ng-init="dkpCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dkpCtrl.keluar()" title="{{'KELUAR'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'DETAIL_KUISIONER'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 center-block">
                <div class="box box-success">
                    <div class="box-header">
                        <h4 class="box-title afta-font">{{'TABLE.REKANAN'|translate}} : {{dkpCtrl.vendorName}}</h4>
                        <br/>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <i>{{'MESSAGE.NOTIF'|translate}}</i>
                            </div>
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table id="tabelHarga" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center-vertical" style="width: 40px; min-width: 40px;">{{'TABLE.NO'|translate}}</th>
                                                <th class="center-vertical"></th>
                                                <th class="center-vertical"></th>
                                                <th class="center-vertical"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sub in dkpCtrl.questionnaires">
                                                <td class="center-vertical">{{$index + 1}}</td>
                                                <td class="middle-vertical">{{sub.DocName |translate}}</td>
                                                <td class="center-vertical">
                                                    <i class="fa fa-check" ng-if="sub.IsChecked"></i>
                                                </td>
                                                <td class="center-vertical">
                                                    <a ng-if="sub.UploadURL !== null" class="btn btn-xs btn-primary ng-scope" title="Download File" target="_blank" href="{{dkpCtrl.folderFile+sub.UploadURL}}">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="modal-footer">
        <button ng-click="dkpCtrl.keluar()" type="button" class="btn btn-flat btn-default" title="{{'KEMBALI'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>