﻿<div id="lakukanEvaluasi" class="modal-content" ng-init="dspCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dspCtrl.keluar()" title="{{'KELUAR'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'DETAIL_PENAWARAN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 center-block">
                <div class="box box-success">
                    <div class="box-header">
                        <h4 class="box-title afta-font">{{'SUB_PEKERJAAN'|translate}} : {{dspCtrl.ceSubName}}</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table id="tabelHarga" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center-vertical" style="width: 40px; min-width: 40px;">{{'TABLE.NO'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.SUB_PEKERJAAN'|translate}}</th>
                                                <th class="center-vertical" style="width: 160px; min-width: 160px;">Action</th>
                                                <th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.COST_ESTIMATE'|translate}}</th>
                                                <th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.PENAWARAN'|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sub in dspCtrl.ceSubOffers">
                                                <td class="center-vertical">{{$index + 1}}</td>
                                                <td class="middle-vertical">{{sub.Name}}</td>
                                                <td class="center-vertical"><a ng-click="dspCtrl.detailSubPenawaran(sub)" class="btn btn-sm btn-flat btn-warning" title="{{'DETAIL_PEKERJAAN'|translate}}"><i class="fa fa-external-link"></i> </a></td>
                                                <td class="text-right middle-vertical">{{sub.TotalLineCost| currency: ""+ labelcurr +" "}}</td>
                                                <td class="text-right middle-vertical">{{sub.OfferTotalCost| currency: ""+ labelcurr +" "}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" class="text-right" style="vertical-align: middle;">
                                                    <strong>Total :</strong>
                                                </td>
                                                <td class="text-right middle-vertical">
                                                    {{dspCtrl.ceSubTotalCost| currency: ""+ labelcurr +" "}}
                                                </td>
                                                <td class="text-right middle-vertical">
                                                    {{dspCtrl.offerTotalCost| currency: ""+ labelcurr +" "}}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="modal-footer">
        <button ng-click="dspCtrl.keluar()" type="button" class="btn btn-flat btn-default" title="{{'TUTUP'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>