﻿<div id="lakukanEvaluasi" class="modal-content" ng-init="dlpCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dlpCtrl.keluar()" title="{{'KELUAR'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'DETAIL_PENAWARAN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 center-block">
                <div class="box box-success">
                    <div class="box-header">
                        <h4 class="box-title afta-font">{{'SUB_PEKERJAAN'|translate}} : {{dlpCtrl.ceSubName}}</h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table id="tabelHarga" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center-vertical" style="width: 40px; min-width: 40px;">{{'TABLE.NO'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.PEKERJAAN'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.UNIT_COST'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.PENAWARAN_SATUAN'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.QTY'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.LINE_COST'|translate}}</th>
                                                <th class="center-vertical">{{'TABLE.PENAWARAN'|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sub in dlpCtrl.ceLineOffers">
                                                <td class="center-vertical">{{$index + 1}}</td>
                                                <td class="middle-vertical">{{sub.Name}}</td>
                                                <td class="text-right middle-vertical" style="width: 120px; min-width: 120px;">{{sub.UnitCost| currency: ""+ labelcurr +" "}}</td>
                                                <td class="text-right middle-vertical" style="width: 120px; min-width: 120px;">{{sub.UnitOfferCost| currency: ""+ labelcurr +" "}}</td>
                                                <td class="center-vertical">{{sub.Quantity}} {{sub.OrderUnit}}</td>
                                                <td class="text-right middle-vertical" style="width: 120px; min-width: 120px;">{{sub.LineCost| currency: ""+ labelcurr +" "}}</td>
                                                <td class="text-right middle-vertical" style="width: 120px; min-width: 120px;">{{sub.LineOfferCost| currency: ""+ labelcurr +" "}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="5" class="text-right" style="vertical-align: middle;">
                                                    <strong>Total :</strong>
                                                </td>
                                                <td class="text-right middle-vertical">
                                                    {{dlpCtrl.ceSubTotalCost| currency: ""+ labelcurr +" "}}
                                                </td>
                                                <td class="text-right middle-vertical">
                                                    {{dlpCtrl.offerTotalCost| currency: ""+ labelcurr +" "}}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="modal-footer">
        <button ng-click="dlpCtrl.keluar()" type="button" class="btn btn-flat btn-default" title="{{'KEMBALI'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>