﻿<section class="content" ng-init="AssessmentPrequalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> Home</a></li>
        <li><a>{{'Detail Verifikasi Prakualifikasi'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'Verifikasi Prakualifikasi'|translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>{{'Tanggal Mulai'|translate}}: {{AssessmentPrequalCtrl.step.StartDate}}</label>
                        </div>
                        <div class="col-md-4">
                            <label>{{'Tanggal Selesai'|translate}}: {{AssessmentPrequalCtrl.step.EndDate}}</label>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px!important;">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="tabelPeserta" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="5" class="text-center">{{'Data Rekanan'|translate}}</th>
                                        </tr>
                                        <tr>
                                            <th class="center-vertical" width='20px'>No.</th>
                                            <th class="center-vertical">{{'Nama Rekanan'|translate}}</th>
                                            <th class="center-vertical">Status</th>
                                            <th  class="center-vertical" style="width: 100px; min-width: 100px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pe in AssessmentPrequalCtrl.list">
                                            <td>{{$index + 1}}</td>
                                            <td>{{pe.VendorPrequal.VendorName}}</td>
                                            <td><span ng-if="pe.IsPassed == true">{{'Lolos'|translate}}</span>
                                                <span ng-if="pe.IsPassed == false">{{'Tidak Lolos'|translate}}</span>
                                                <span ng-if="pe.IsPassed == null">{{'Belum diverifikasi'|translate}}</span>
                                                <span ng-if="pe.IsNeedRevision == true">({{'Revisi'|translate}})</span>
                                            </td>
                                            <td class="center-vertical" >
                                                <!--<a class="btn btn-xs btn-flat  btn-success" title="Print Preview"  ng-click="AssessmentPrequalCtrl.printAss(pe, 'exportPO')"><i class="fa fa-print"></i></a>-->
                                                <a href="#/assessment-prakualifikasi-detail/{{AssessmentPrequalCtrl.PrequalStepID}}/{{pe.VendorPrequalID}}" class="btn btn-xs btn-flat btn-warning" style="vertical-align: middle; cursor: pointer!important;" title="{{'Lihat Dokumen Kualifikasi'|translate}}"><i class="fa fa-eye"></i></a>
                                                <a href="#/kuisioner-prakualifikasi/{{AssessmentPrequalCtrl.PrequalStepID}}/{{pe.VendorPrequal.VendorID}}/{{AssessmentPrequalCtrl.PrequalSetupID}}" class="btn btn-xs btn-flat btn-primary" style="vertical-align: middle; cursor: pointer!important;" title="{{'Isi Kuesioner'|translate}}"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="AssessmentPrequalCtrl.evaltechnical.length===0"><td colspan="6">{{'Belum dilakukan summary evaluasi'|translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <hr />
                        <div class="col-md-12">
                            <div class="text-right">
                                <a href="#/data-prakualifikasi/tahapan/{{AssessmentPrequalCtrl.PrequalSetupID}}" class="btn btn-sm btn-primary" title="{{'Kembali'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<div class="row" id="exportPO" ng-hide="true">
    <div class="col-md-12 center-block" style="float: none!important;">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-responsive pull-left" src="assets/img/logo_vale2.png" style="padding-top:5%;width:100px;height:40px" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="afta-font judul-datatabel" style="text-align: center!important;">LEMBAR VERIFIKASI BERKAS</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="row margin-atas">
                        <div class="formEEC-col8">
                            <div style="width:105px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                <strong>
                                    Perusahaan<br />
                                    Pimpinan<br />
                                    Alamat
                                </strong>
                            </div>
                            <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                : {{AssessmentPrequalCtrl.dataReport.Vendor.business.Name}} {{AssessmentPrequalCtrl.dataReport.Vendor.VendorName}}<br />
                                : {{AssessmentPrequalCtrl.dataReport.Director.PersonName}}<br />
                                : {{AssessmentPrequalCtrl.addressPrequal}} 
                            </div>

                        </div>
                        <div class="formEEC-col6">
                            <div style="width:105px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                <strong>
                                    Assosiasi<br />
                                    Telp / Fax <br />
                                    Email
                                </strong>
                            </div>
                            <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                : {{AssessmentPrequalCtrl.dataReport.Association}}<br />
                                : {{AssessmentPrequalCtrl.Phone}} / {{AssessmentPrequalCtrl.Fax}}<br />
                                : {{AssessmentPrequalCtrl.Email}}
                            </div>
                        </div>
                        <div class="col-md-12" >
                            <div style="width:105px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                <strong>
                                    Tipe <br />
                                    Bidang<br />
                                </strong>
                            </div>
                            <div style="width:5px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                : <br />
                                : <br />
                            </div>
                            <div style="width:600px; display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                {{AssessmentPrequalCtrl.dataReport.Vendor.SysReference.Name | translate}}  <br />
                                <label ng-repeat="pe in AssessmentPrequalCtrl.dataReport.commodity">
                                    {{$index+1}} {{pe.BusinessField.Name}}<br />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" style="padding-top: 10px!important;">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table id="tabelPeserta" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td rowspan="2">NO</td>
                                        <td rowspan="2" colspan="2">URAIAN</td>
                                        <td rowspan="2">DATA FORMULIR</td>
                                        <td colspan="2">Penilaian</td>
                                        <td rowspan="2">KETERANGAN</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>Ada</td>
                                        <td>Tidak</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td rowspan="{{AssessmentPrequalCtrl.dataReport.RowModulAdm}}"> {{$index+1}}</td>
                                        <td colspan="6"><strong>{{AssessmentPrequalCtrl.dataReport.NameModulAdm}}</strong> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.1</td>
                                        <td> Akte Pendirian Perusahaan / Akte Perubahan Terakhir</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.LegalDoc.DocumentDate}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.2</td>
                                        <td> Surat Pengesahan Badan Hukum Perseroan dari Kemenkum HAM</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.Menkumham.DocumentNo}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.3</td>
                                        <td> Surat Ijin Usaha Perdagangan</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.SIUP.LicenseNo}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td rowspan="2">{{$index+1}}.4</td>
                                        <td> Surat Ijin Usaha Pertambangan Umum (IUJPU)</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.IUJPU.LicenseNo}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td> Surat Keterangan Terdaftar (SKT)</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.SKT.LicenseNo}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.5</td>
                                        <td> Surat Ijin Tempat Usaha (SITU)</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.SITU.LicenseNo}} {{AssessmentPrequalCtrl.dataReport.SITU.ExpiredDate}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.6</td>
                                        <td> Tanda Daftar Perusahaan (TDP)</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.TDP.LicenseNo}} {{AssessmentPrequalCtrl.dataReport.TDP.ExpiredDate}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.7</td>
                                        <td>Nomor Pokok Wajib Pajak (NPWP)</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.NPWPConverted}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.8</td>
                                        <td> Surat Pengukuhan Pengusaha Kena Pajak (SPPKP)</td>
                                        <td> {{AssessmentPrequalCtrl.dataReport.SPPKPConverted}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td rowspan="{{AssessmentPrequalCtrl.dataReport.SpecificLegal.length+1}}">{{$index+1}}.9</td>
                                        <td> Surat Ijin Khusus</td>
                                        <td></td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true" ng-repeat="lic in AssessmentPrequalCtrl.dataReport.SpecificLegal">
                                        <td>- {{lic.LicenseName}}</td>
                                        <td>{{lic.LicenseNo}}</td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.10</td>
                                        <td>Informasi Bank / Surat Keterangan Bank</td>
                                        <td> 
                                            <label ng-repeat="bank in AssessmentPrequalCtrl.dataReport.BankDetail">
                                               - {{bank.AccountName}} / {{bank.BankName}} <br />
                                            </label>
                                        
                                        </td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.11</td>
                                        <td>Bukti Kepesertaan Assosiasi, dikeluarkan oleh Assosiasi Kontraktor</td>
                                        <td></td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.12</td>
                                        <td>Pernyataan Minat Mengikuti Prakualifikasi</td>
                                        <td></td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr ng-if="AssessmentPrequalCtrl.dataReport.flagModulAdm == true">
                                        <td>{{$index+1}}.13</td>
                                        <td>Pakta Integritas & Pre - Qualification Questionnaire</td>
                                        <td></td>
                                        <td></td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

