﻿<div class="modal-content" ng-init="verKDPrintCtrl.init()">
	<div class="modal-body">
		<div class="row">
			<button class="btn btn-flat btn-default" title="Print Preview" ng-click="verKDPrintCtrl.makePDF()">
				<i class="glyphicon glyphicon-print"></i>
			</button>
		</div>
		<div id="print1" class="print-wrap">
			<div class="col-md-12">
				<h3 class="afta-font text-center">{{'TITLE' | translate}}</h3>
			</div>
			<div class="col-md-8">
				<label class="control-label">{{'TGL_MULAI' | translate}} {{verKDPrintCtrl.step.StartDate | date: "dd-MM-yyyy hh-mm"}}</label>
			</div>
			<div class="col-md-4">
				<label class="control-label pull-left">{{'TGL_SELESAI' | translate}} {{verKDPrintCtrl.step.EndDate | date: "dd-MM-yyyy hh-mm"}}</label>
			</div>
			<div class="col-md-12">
				<label class="control-label">{{'TENDER' | translate}} {{verKDPrintCtrl.step.tender.TenderName}}</label>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="table table-responsive">
						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th class="text-center" style="text-align: center;">{{'TABLE.COL_NO' | translate}}</th>
									<th class="text-center" style="text-align: center;">{{'TABLE.COL_NV' | translate}}</th>
									<th class="text-center" style="text-align: center;">{{'TABLE.COL_TGL_MP' | translate}}</th>
									<th class="text-center" style="text-align: center;">{{'TABLE.COL_TGL_VER' | translate}}</th>
									<th class="text-center" style="text-align: center;">{{'TABLE.COL_STATUS' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="td in verKDPrintCtrl.data">
									<td class="text-center">{{$index+1}}</td>
									<td class="text-center">{{td.VendorName}}</td>
									<td class="text-center">{{td.OEDate}}</td>
									<td class="text-center" ng-if="td.VerifiedDate !== null || td.VerifiedDate !== undefined">{{td.VerifiedDate}}</td>
									<td class="text-center" ng-if="td.VerifiedDate === null || td.VerifiedDate === undefined"></td>
									<td class="text-center" ng-if="td.IsStatus === false">{{'Belum Lolos'|translate}}</td>
									<td class="text-center" ng-if="td.IsStatus === true">{{'Lolos'|translate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="container-fluid"></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-4 pull-right">
			<button ng-click="verKDPrintCtrl.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</div>
