<div class="modal-content" ng-init="detailApprovalCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL_APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <label>Requestor: {{detailApprovalCtrl.list[0].requestor.FullName}} {{detailApprovalCtrl.list[0].requestor.SurName}}</label>
            </div>
        </div>
        <div>
            <div class="row" ng-if="detailApprovalCtrl.Status == 1">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detailApprovalCtrl.information" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-success" ng-click="detailApprovalCtrl.Approval()"><i class="fa fa-check"></i> {{'APPROVE' | translate}}</button>
                                    <button class="btn btn-sm btn-danger" ng-click="detailApprovalCtrl.Reject()"><i class="fa fa-times"></i> {{'REJECT' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th class="text-center">Level Info</th>
                                        <th class="text-center">{{'JABATAN' | translate}}</th>
                                        <th class="text-center">{{'APPROVALNAME' | translate}}</th>
                                        <th class="text-center">{{'TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'STATUS' | translate}}</th>
                                        <th class="text-center">{{'KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalCtrl.crApps">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.LevelInfo}}</td>
                                        <td>{{dt.EmployeePositionName}}</td>
                                        <td ng-class="{'text-bold':dt.EmployeeID == detailApprovalCtrl.employeeID}">{{dt.EmployeeFullName}}<br />
                                            <span ng-if="dt.DelegatedEmployeeName">({{'DELEGASI_KE'|translate}} : {{dt.DelegatedEmployeeName}})</span></td>
                                        <td class="text-center">{{dt.ApprovalDate}}</td>
                                        <td ng-if="dt.ApprovalStatus === null" class="text-center" ></td>
                                        <td ng-if="dt.ApprovalStatus === 1" class="text-center" >Approve</td>
                                        <td ng-if="dt.ApprovalStatus === 0" class="text-center" >Reject</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalCtrl.crApps.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detailApprovalCtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>