﻿<div ng-init="viewVendorRFQCtrl.init()" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewVendorRFQCtrl.batal()" title="{{'CLOSE' | translate}}">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'FORMINPUTRFQ.SELECTED_VENDOR' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <button ng-if="viewVendorRFQCtrl.flag == 1" class="btn btn-sm btn-flat btn-success" type="button" ng-click="viewVendorRFQCtrl.save()">
                    <i class="fa fa-save"></i> {{'SAVE'|translate}} &nbsp;
                </button>
            </div>
            <div class="col-md-6">
                <form ng-if="viewVendorRFQCtrl.flag != 2" method="post" role="form" ng-submit="viewVendorRFQCtrl.jloadvendor(1, viewVendorRFQCtrl.getData)">
                    <div class="input-group">
                        <input type="text" class="form-control" style="height:90%" placeholder="{{'SEARCH_BY_NAME'|translate}}" ng-model="viewVendorRFQCtrl.keyword">
                        <span class="input-group-btn">
                            <button ng-click="viewVendorRFQCtrl.jloadvendor(1, viewVendorRFQCtrl.getData)" type="button" name="search" id="search-btn" class="btn btn-sm btn-primary" title="{{'SEARCH'|translate}}">
                                <i class="fa fa-search"></i>&nbsp;
                            </button>
                        </span>
                    </div>
                </form>
                <form ng-if="viewVendorRFQCtrl.flag == 2" method="post" role="form" ng-submit="viewVendorRFQCtrl.jloadvendorSave(1)">
                    <div class="input-group">
                        <input type="text" class="form-control" style="height:90%" placeholder="{{'SEARCH_BY_NAME'|translate}}" ng-model="viewVendorRFQCtrl.keyword">
                        <span class="input-group-btn">
                            <button ng-click="viewVendorRFQCtrl.jloadvendorSave(1)" type="button" name="search" id="search-btn" class="btn btn-sm btn-primary" title="{{'SEARCH'|translate}}">
                                <i class="fa fa-search"></i>&nbsp;
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align:middle">{{'FORMINPUTRFQ.NO' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle;width:30%;">{{'FORMINPUTRFQ.VENDOR_NAME' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle">{{'FORMINPUTRFQ.VENDOR_EMAIL' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle">{{'FORMINPUTRFQ.AREA_TYPE' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle"><input ng-if="viewVendorRFQCtrl.flag != 2" ng-model="viewVendorRFQCtrl.IsCheckAll" ng-change="viewVendorRFQCtrl.checkAll(viewVendorRFQCtrl.IsCheckAll)" type="checkbox" class="form-control" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vendor in viewVendorRFQCtrl.vendors | orderBy :['-IsCheck','-IsLocal']">
                            <td class="center-vertical">{{viewVendorRFQCtrl.currentPage > 1 ? (viewVendorRFQCtrl.maxSize * (viewVendorRFQCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                            <td style="vertical-align: middle;">{{vendor.Name}}</td>
                            <td style="vertical-align: middle;">{{vendor.Email}}</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsLocal == 1">Local</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsNational == 1">National</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsInternational == 1">International</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsLocal == 0 && vendor.IsNational == 0 && vendor.IsInternational == 0"></td>
                            <td ng-if="vendor.IsLocal != 1 && viewVendorRFQCtrl.flag == 1" style="width:50px;vertical-align: middle;">
                                <input ng-model="vendor.IsCheck" type="checkbox" class="form-control" ng-change="viewVendorRFQCtrl.change(vendor)" />
                            </td>
                            <td ng-if="vendor.IsLocal == 1 && viewVendorRFQCtrl.flag == 1" style="vertical-align: middle;">
                                <input disabled ng-model="vendor.IsCheck" value="true" type="checkbox" />
                            </td>
                            <td style="vertical-align: middle;" ng-if="viewVendorRFQCtrl.flag == 2"><i class="fa fa-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               
                
                
                <br />
                <label>{{'TOTAL_DATA' | translate}} : {{viewVendorRFQCtrl.totalItems}}</label>
                <br />
                <label ng-if="viewVendorRFQCtrl.flag != 2">{{'TOTAL_DATA_SELECTED'|translate}} : {{viewVendorRFQCtrl.listSaveVendor.length}}</label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-flat btn-primary" type="button" ng-click="viewVendorRFQCtrl.batal()" title="{{'BTN_BACK'|translate}}">
                <i class="fa fa-arrow-circle-left"></i>&nbsp;
            </button>
        </div>
    </div>
</div>
