<div class="container-fluid" ng-init="DataPerlengkapanCtrl.init()">
	<ol class="breadcrumb">
		<li>
			<a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a>
		</li>
		<li>
			<a class="active">{{'BREADCRUMB.STUFFS' | translate}}</a>
		</li>
	</ol>
    <div class="row" ng-if="DataPerlengkapanCtrl.CR===true">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                <strong>Info!</strong> {{'MESSAGE.NOTIF1' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
            </div>
        </div>
    </div>
    <div class="row" ng-if="DataPerlengkapanCtrl.pqWarning!=''">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissable">
                <strong>{{DataPerlengkapanCtrl.pqWarning}}</strong>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-md-6 ">
			<h3 class="afta-font">{{'BUILDING' | translate}}</h3>
		</div>
		<div class="col-md-2 pull-right" ng-if="DataPerlengkapanCtrl.isApprovedCR === true">
			<a href="" class="btn btn-flat btn btn-primary turun-15" ng-click="DataPerlengkapanCtrl.openForm('building',null,true,DataPerlengkapanCtrl.isApprovedCR)" title="{{'BTN.TAMBAH' | translate}}">
				<i class="fa fa-plus-circle"></i>&nbsp;
			</a>
		</div>
		<!--<div class="col-md-2 pull-right" ng-if="DataPerlengkapanCtrl.isApprovedCR === true">
			<a href="" class="btn btn-flat btn btn-primary turun-15" ng-click="DataPerlengkapanCtrl.openForm('building',null,true,DataPerlengkapanCtrl.isApprovedCR)" title="Tambah Data">
				<i class="fa fa-plus-circle"></i>&nbsp;
			</a>
		</div>-->
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
							<th class="center-vertical">{{'TABLE.CATEGORY' | translate}}</th>
							<th class="center-vertical">{{'TABLE.LARGE' | translate}}(M<sup>2</sup>)</th>
							<th class="center-vertical" width="30%">{{'TABLE.ADDRESS' | translate}}</th>
							<th class="center-vertical">{{'TABLE.OWNERSHIP' |translate}}</th>
							<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="obj in DataPerlengkapanCtrl.listBuilding">
							<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
							<td style="vertical-align: middle;">{{obj.category.Value |translate}}</td>
							<td class="center-vertical">{{obj.BuildingArea}}</td>
							<td class="middle-vertical">{{obj.address.AddressInfo}} {{obj.address.AddressDetail}}</td>
							<td class="middle-vertical">{{obj.ownershipStatus.Value |translate}}</td>
							<td class="center-vertical">
								<a ng-click="DataPerlengkapanCtrl.detailForm('building',obj, false)" class="label label-flat label-sm label-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
									<i class="fa fa-external-link"></i>
								</a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.openForm('building',obj,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-primary" title="{{'BTN.UBAH' | translate}}">
									<i class="fa fa-edit"></i>
								</a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.editActiveBuilding(obj,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS' | translate}}">
									<i class="fa fa-trash-o"></i>
								</a>
								<!--change request data -->
								<!--<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.openForm('building',obj,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-primary" title="Ubah">
									<i class="fa fa-edit"></i>
								</a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.editActiveBuilding(obj,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-danger" title="Hapus">
									<i class="fa fa-trash-o"></i>
								</a>-->
							</td>
						</tr>
						<tr ng-if="DataPerlengkapanCtrl.listBuilding.length === 0">
							<td colspan="6">{{'TABLE.NODATA' | translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h3 class="afta-font">{{'VEHICLE' | translate}}</h3>
		</div>
		<div class="col-md-2 pull-right" ng-if="DataPerlengkapanCtrl.isApprovedCR === true">
			<a href="" class="btn btn-flat btn btn-primary turun-15" ng-click="DataPerlengkapanCtrl.openForm('vehicle',null,true,DataPerlengkapanCtrl.isApprovedCR)" title="{{'BTN.TAMBAH' | translate}}">
				<i class="fa fa-plus-circle"></i>&nbsp;
			</a>
		</div>
		<!--<div class="col-md-2 pull-right" ng-if="DataPerlengkapanCtrl.isApprovedCR === true">
			<a href="" class="btn btn-flat btn btn-primary turun-15" ng-click="DataPerlengkapanCtrl.openForm('vehicle',null,true,DataPerlengkapanCtrl.isApprovedCR)" title="Tambah Data">
				<i class="fa fa-plus-circle"></i>&nbsp;
			</a>
		</div>-->
	</div>
    <div class="col-md-7">
        <pagination total-items="DataPerlengkapanCtrl.totalDataVehicle" page="DataPerlengkapanCtrl.currentPage" items-per-page="10" ng-show="DataPerlengkapanCtrl.totalDataVehicle > 10"
                    max-size="10" on-select-page="DataPerlengkapanCtrl.loadEquipmentVehicle(page)"></pagination>
    </div>
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
							<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
							<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
							<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
							<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
							<th class="center-vertical">{{'TABLE.CAPACITYPERSON' | translate}}</th>
							<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
							<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.OWNERSHIP' | translate}}</th>
							<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="objc in DataPerlengkapanCtrl.listVehicle">
							<td class="text-center">{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.maxSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
							<td>{{objc.Name}}</td>
							<td class="center-vertical">{{objc.Brand}}</td>
							<td class="middle-vertical">{{objc.MfgDate | date:'yyyy'}}</td>
							<td class="middle-vertical">{{objc.SerialNo}}</td>
							<td class="center-vertical">{{objc.Capacity}}</td>
							<td class="middle-vertical">{{objc.ConditionRef.Value|translate}} </td>
							<td class="text-center">{{objc.OwnershipRef.Value |translate}}</td>
							<td class="center-vertical">
								<a ng-click="DataPerlengkapanCtrl.detailForm('vehicle',objc, false)" class="label label-flat label-sm label-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
									<i class="fa fa-external-link"></i>
								</a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.openForm('vehicle',objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-primary" title="{{'BTN.UBAH' | translate}}">
									<i class="fa fa-edit"></i>
								</a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.editActiveNonBuilding(objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS' | translate}}">
									<i class="fa fa-trash-o"></i>
								</a>
								<!--change request-->
								<!--<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.openForm('vehicle',objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-primary" title="Ubah">
									<i class="fa fa-edit"></i>
								</a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.editActiveNonBuilding(objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-danger" title="Hapus">
									<i class="fa fa-trash-o"></i>
								</a>-->
							</td>
						</tr>
						<tr ng-if="DataPerlengkapanCtrl.listVehicle.length === 0">
							<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    <!--
    <div class="row">
        <div class="col-md-10 pull-right">
            <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="DataPerlengkapanCtrl.totalDataVehicle" ng-model="DataPerlengkapanCtrl.currentPage"
                class="pagination-sm" previous-text="&lsaquo;" max-number="DataPerlengkapanCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                ng-change="DataPerlengkapanCtrl.loadEquipmentVehicle(DataPerlengkapanCtrl.currentPage)" max-size="10"></ul>
        </div>
    </div>
        

    <div class="row">
        <div class="col-md-7">
            <ul uib-pagination boundary-links="true" total-items="DataPerlengkapanCtrl.totalItems" ng-model="DataPerlengkapanCtrl.currentPage"
                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" max-size="10" last-text="&raquo;"
                ng-change="DataPerlengkapanCtrl.loadEquipmentVehicle(DataPerlengkapanCtrl.currentPage)"></ul>
            <br />
            <label>{{'TOTAL_DATA' | translate}} : {{DataPerlengkapanCtrl.totalDataVehicle}}</label>
        </div>
    </div>-->
	<div class="row">
		<div class="col-md-8 ">
			<h3 class="afta-font">{{'HEAVYEQUIPMENT' | translate}}</h3>
		</div>
		<div class="col-md-2 pull-right" ng-if="DataPerlengkapanCtrl.isApprovedCR === true">
			<a href="" class="btn btn-flat btn btn-primary turun-15" ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.openForm('equipment',null,true)" title="{{'BTN.TAMBAH' | translate}}">
				<i class="fa fa-plus-circle"></i>&nbsp;
			</a>
		</div>
		<!--<div class="col-md-2 pull-right" ng-if="DataPerlengkapanCtrl.isApprovedCR === true">
			<a href="" class="btn btn-flat btn btn-primary turun-15 pull-right" ng-click="DataPerlengkapanCtrl.openForm('equipment',null,true,DataPerlengkapanCtrl.isApprovedCR)" title="Tambah Data">
				<i class="fa fa-plus-circle"></i>&nbsp;
			</a>
		</div>-->
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="table table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="center-vertical">{{'TABLE.NO' | translate}}</th>
							<th class="center-vertical">{{'TABLE.EQUIPMENTNAME' | translate}}</th>
							<th class="center-vertical">{{'TABLE.BRAND' | translate}}</th>
							<th class="center-vertical">{{'TABLE.YEAR' | translate}}</th>
							<th class="center-vertical">{{'TABLE.SERIALNO' | translate}}</th>
							<th class="center-vertical">{{'TABLE.CAPACITYTON' | translate}}</th>
							<th class="center-vertical">{{'TABLE.CONDITION' | translate}}</th>
							<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.OWNERSHIP' | translate}}</th>
							<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="objc in DataPerlengkapanCtrl.listEquipmentTools" ng-class="{'bg-danger': objc.IsTemporary === true}">
							<td class="text-center" style="vertical-align: middle;">{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.pageSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
							<td style="vertical-align: middle;">{{objc.Name}}</td>
							<td class="center-vertical">{{objc.Brand}}</td>
							<td class="middle-vertical">{{objc.MfgDate}}</td>
							<td class="middle-vertical">{{objc.SerialNo}}</td>
							<td class="center-vertical">{{objc.Capacity}}</td>
							<td class="middle-vertical">{{objc.ConditionRef.Value|translate}} </td>
							<td class="text-center">{{objc.OwnershipRef.Value|translate}}</td>
							<td class="center-vertical">
								<a ng-click="DataPerlengkapanCtrl.detailForm('equipment',objc, false)" class="label label-flat label-sm label-warning" title="{{'BTN.VIEW_DETAIL' | translate}}">
									<i class="fa fa-external-link"></i>
								</a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.openForm('equipment',objc,false)" class="label label-flat label-sm label-primary" title="{{'BTN.UBAH' | translate}}">
									<i class="fa fa-edit"></i>
								</a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.editActiveNonBuilding(objc,false)" class="label label-flat label-sm label-danger" title="{{'BTN.HAPUS' | translate}}">
									<i class="fa fa-trash-o"></i>
								</a>
								<!--change request-->
								<!--<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.openForm('equipment',objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-primary" title="Ubah"><i class="fa fa-edit"></i></a>
								<a ng-if="DataPerlengkapanCtrl.isApprovedCR === true" ng-click="DataPerlengkapanCtrl.editActiveNonBuilding(objc,false,DataPerlengkapanCtrl.isApprovedCR)" class="label label-flat label-sm label-danger" title="Hapus"><i class="fa fa-trash-o"></i></a>-->
							</td>
						</tr>
						<tr ng-if="DataPerlengkapanCtrl.listEquipmentTools.length === 0">
							<td colspan="9">{{'TABLE.NODATA' | translate}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


