<section class="content" ng-init="mstQualCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BERANDA' | translate}}</a></li>
        <li><a class="active">{{'MASTER' | translate}}</a></li>
        <li><a class="active">{{'KUALIFIKASI' | translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <!--notife flow-->
                <div class="box-header" >
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="afta-font judul-datatabel">{{'KUALIFIKASI_PERUSAHAAN' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" rowspan="2" style="min-width: 10px; width: 10px;">{{'NO' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'KUALIFIKASI' | translate}}</th>
                                            <th class="text-center" colspan="2">{{'NOMINAL_KEKAYAAN' | translate}}</th>
                                            <th class="center-vertical" rowspan="2" style="min-width: 100px; width: 100px;"></th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">{{'BIDANG_INTI' | translate}}</th>
                                            <th class="text-center">{{'BIDANG_NON_INTI' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="as in mstQualCtrl.listAllData">
                                            <td class="text-center">{{$index + 1}}</td>
                                            <td>{{as.QualificationName | translate}}</td>
                                            <td class="text-right">> {{as.MinAmountInti.toFixed(2) | currency : "Rp "}}</td>
                                            <td class="text-right">> {{as.MinAmountNonInti.toFixed(2) | currency : "Rp "}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a class="btn btn-flat btn-xs btn-primary" title="{{'UBAH' | translate}}" ng-click="mstQualCtrl.formEdit(as)" ><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>