﻿<section ng-init="NegosiasiBarangPrintCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.NEGOSIASI'|translate}}</a></li>
    </ol>

    <!-- tampilan pertama muncul -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="NegosiasiBarangPrintCtrl.cetak()">
                                    <i class='fa fa-print'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="print">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="afta-font text-center"> {{'BREADCRUMB.NEGOSIASI'|translate}}</h3>
                                </div>
                            </div>
                            <div class="row margin-atas">
                                <div class="col-md-8">
                                    <label class="control-label">{{'START_DATE'|translate}} : {{NegosiasiBarangPrintCtrl.listTenderStep.StartDate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label pull-right">{{'END_DATE'|translate}} : {{NegosiasiBarangPrintCtrl.listTenderStep.EndDate}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">{{'NAMA_TENDER'|translate}} : {{NegosiasiBarangPrintCtrl.listTenderStep.tender.TenderName}}</label>
                                    <!--<label class="pull-right text-red" ng-if="NegosiasiBarangPrintCtrl.overtime == false">{{'BELUM_WAKTU'|translate}}</label>-->
                                </div>
                            </div>
                            <div class="row" style="padding-top: 5px!important;">
                                <br />
                                <!--<div class="col-md-12">
                    <label ng-if="isEBidding == false">Data Rekanan Yang Mengikuti Negosiasi</label>
                    <label ng-if="online && isEBidding == true">Data Peserta</label>
                </div>-->
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered" id="tabelPesertaNegosiasi">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="20px" style="border:1px solid black;">No.</th>
                                                    <th class="text-center" style="border:1px solid black;">{{'VENDOR'|translate}}</th>
                                                    <th class="text-center" style="border:1px solid black;">{{'EVALUATION'|translate}}</th>
                                                    <th class="text-center" style="border:1px solid black;">{{'VENDOR_PRICE'|translate}}</th>
                                                    <th class="text-center" style="border:1px solid black;">{{'NEGO_PRICE'|translate}}</th>
                                                    <th class="text-center" style="border:1px solid black;">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pnb in NegosiasiBarangPrintCtrl.nb">
                                                    <td style="border:1px solid black;">{{$index + 1}}</td>
                                                    <td style="border:1px solid black;">{{pnb.VendorName}}</td>
                                                    <td class="text-center" style="border:1px solid black;">{{pnb.ScoreEvaluation}}</td>
                                                    <td class="text-center" style="border:1px solid black;">{{pnb.GOENegoPrice | currency: ""+ pnb.Curr +" "}}</td>
                                                    <td class="text-center" style="border:1px solid black;">{{pnb.NegotiationPrice | currency: ""+ pnb.Curr +" "}}</td>
                                                    <td class="text-center" style="border:1px solid black;" ng-if="pnb.IsDeal === true">{{'AGREED'|translate}}</td>
                                                    <td class="text-center" style="border:1px solid black;" ng-if="pnb.IsDeal === false">{{'DISAGREE'|translate}}t</td>
                                                    <td class="text-center" style="border:1px solid black;" ng-if="pnb.IsDeal === null">{{'NOT_AGREED'|translate}}</td>
                                                </tr>
                                                <tr ng-if="NegosiasiBarangPrintCtrl.nb.length === 0"><td colspan="6" style="border:1px solid black;">{{'DATA'|translate}}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top:50px !important;">
                                <div class="col-md-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a ng-click="NegosiasiBarangPrintCtrl.backpengadaan()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-circle-left"></i> {{'BTN.BACK'|translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
