﻿<section ng-init="TenderAnnAppCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'ANNOUNCEMENT_APPROVAL'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'ANNOUNCEMENT_APPROVAL'|translate}}</h3>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 2px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-1">Filter &nbsp; </label>
                                <div class="col-md-6">
                                    <form ng-submit="TenderAnnAppCtrl.onSearch(keyword)">
                                        <input type="text" class="form-control input-sm" ng-model="keyword" 
                                               placeholder="{{'TABLE.KODE'|translate}}/{{'TABLE.NAMA_PENGADAAN'|translate}}"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom: 20px;">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center">No</th>
                                            <th class="text-center">{{'TABLE.KODE'|translate}}</th>
                                            <th class="text-center">{{'TABLE.NAMA_PENGADAAN'|translate}}</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">{{'TABLE.TANGGAL_APPROVE'|translate}}</th>
                                            <th class="text-center">{{'TABLE.KETERANGAN'|translate}}</th>
                                            <th class="text-center" style="min-width:75px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="appr in TenderAnnAppCtrl.list">
                                            <td class="center-vertical">{{((TenderAnnAppCtrl.currentPage - 1) * TenderAnnAppCtrl.pageSize) + $index + 1}}</td>
                                            <td class="center-vertical">{{appr.TenderCode}}</td>
                                            <td style="vertical-align: middle;">{{appr.TenderName}}</td>
                                            <td class="center-vertical">
                                                <span ng-if="appr.ApprovalStatus == null">On Process</span>
                                                <span ng-if="appr.ApprovalStatus == true">Approved</span>
                                                <span ng-if="appr.ApprovalStatus == false">Rejected</span>
                                            </td>
                                            <td class="center-vertical">{{appr.ApprovalDate | date:"dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{appr.Remark}}</td>
                                            <td class="center-vertical">
                                                <button title="Approve" ng-if="appr.ApprovalStatus == null && appr.IsApprover" class="btn btn-xs btn-success" ng-click="TenderAnnAppCtrl.approve(appr)">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                                <button title="Reject" ng-if="appr.ApprovalStatus == null && appr.IsApprover" class="btn btn-xs btn-danger" ng-click="TenderAnnAppCtrl.reject(appr)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                                <a class="btn btn-flat btn-xs btn-info" ng-click="TenderAnnAppCtrl.detailPengumuman(appr)" title="{{'DETAIL_PENGUMUMAN' | translate}}"><i class="fa fa-sitemap"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="TenderAnnAppCtrl.count === 0">
                                            <td colspan=7>{{'TIDAK_ADA_DATA'|translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <ul uib-pagination total-items="TenderAnnAppCtrl.count" max-size="10"
                                ng-model="TenderAnnAppCtrl.currentPage" items-per-page="TenderAnnAppCtrl.pageSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="TenderAnnAppCtrl.jLoad()"></ul>
                        </div>
                        <div class="col-md-2">
                            <div class="col-md-12 turun-15" style="float:right"><label>Total Data : {{TenderAnnAppCtrl.count}}</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
