﻿<style>
	.ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
		min-height: 300px;
		height: auto;
		overflow: auto;
		font-family: inherit;
		font-size: 100%;
	}

	.form-control.myform1-height > .ta-bind {
		height: auto;
		min-height: 300px;
		padding: 6px 12px;
	}



	/* ====== ====== */

	.ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
		height: 300px;
		min-height: 300px;
		overflow: auto;
		font-family: inherit;
		font-size: 100%;
	}

	.form-control.myform2-height > .ta-bind {
		min-height: 300px;
		padding: 6px 12px;
	}
</style>
<div id="buatPengumuman" class="modal-content" ng-init="formPPCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="formPPCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span></button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'FORM.TITLE'|translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-11 center-block well" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
						<h4 class="afta-font text-center" style="margin-top: 0px; padding-bottom: 5px;">
							{{'FORM.TEXT'|translate}}
						</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label>{{'FORM.TENDER_CODE'|translate}}</label>
							<input class="form-control" ng-model="formPPCtrl.TenderCode" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>{{'FORM.TENDER_NAME'|translate}}</label>
							<input class="form-control" ng-model="formPPCtrl.TenderName" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" id="div_isi_pengumuman_create">
						<div class="form-group">
							<label>{{'FORM.DESC'|translate}}</label>
							<div text-angular="text-angular" ta-disabled=true name="htmlcontent2" ng-model="formPPCtrl.EmailContent"
								 ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<label class="control-label">
							{{ 'LB_UPLOAD' | translate}}
							<small> ( <span ng-repeat="ft in formPPCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / {{'SIZE_FILE' | translate}} : {{formPPCtrl.idUploadConfigs[0].Size}} {{formPPCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
						</label>
						<div class="input-group">
							<input type="file" class="form-control input-sm" ng-file-select="formPPCtrl.selectUpload()"
								   ng-model="formPPCtrl.fileUpload" name="ownerIDFile" required accept="{{formPPCtrl.idFileTypes}}" />

						</div>
					</div>
					<div class="col-md-4 turun-15 ">
						<a ng-disabled="(formPPCtrl.DocUrl === '')" href="{{formPPCtrl.folderFile + formPPCtrl.DocUrl}}" target="_blank" class="btn btn-sm btn-primary" title="{{'BTN.DOWNLOAD'|translate}}"><i class="fa fa-download"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 center-block" style="float: none!important;border:dotted 1px #808080 !important;">
				<fieldset>
					<legend>
					</legend>
				</fieldset>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">{{'FORM.BIDANG'|translate}}</label>
							<select class="form-control input-sm" ng-model="formPPCtrl.selectedComodity"
									ng-options="item as item.Name for item in formPPCtrl.listComodity"
									ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-change="formPPCtrl.changeComodity()">
								<option></option>
							</select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">{{'FORM.KLASIFIKASI'|translate}}</label>
							<select class="form-control input-sm" ng-model="formPPCtrl.selectedClasification"
									ng-options="item as item.Name | translate for item in formPPCtrl.listClasification"
									ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-change="formPPCtrl.changeClasification()"></select>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">{{'FORM.TEKNIKAL'|translate}}</label>
							<select class="form-control input-sm" ng-model="formPPCtrl.selectedTechnical"
									ng-options="item as item.Name | translate for item in formPPCtrl.listTechnical"
									ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-change="formPPCtrl.changeTechnical()"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						<div class="form-group">
							<label class="control-label col-md-3">{{'FORM.SELECT_AREA'|translate}}</label>
							<div class="col-md-9">
								<div class="form-inline">
									:
									<input type="checkbox" ng-change="formPPCtrl.changeArea()" ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-model="formPPCtrl.IsLocal" /> {{ 'CK_LOCAL' | translate}} <span style="padding-right: 25px;"></span>
									<input type="checkbox" ng-change="formPPCtrl.changeArea()" ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-model="formPPCtrl.IsNational" /> {{ 'CK_NATIONAL' | translate}} <span style="padding-right: 25px;"></span>
									<input type="checkbox" ng-change="formPPCtrl.changeArea()" ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-model="formPPCtrl.IsInternational" /> {{ 'CK_INTERNATIONAL' | translate}} <span style="padding-right: 25px;"></span>
									<button class="btn btn-sm btn-primary" ng-click="formPPCtrl.openDataCommVendor()"><i class="fa fa-search"></i></button>
									<span ng-if="formPPCtrl.vendorByAreaNotSaved"><label class="text-red">{{'BELUM_SIMPAN_VENDOR_BY_AREA' | translate}}</label></span>
								</div>
							</div>
						</div>
					</div>
					<!--<div class="col-md-4 text-center">
						<div class="form-group">
							<button class="btn btn-sm btn-warning"><i class="fa fa-search"></i> Tampilkan Vendor</button>
						</div>
					</div>-->
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label><input type="checkbox" ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-model="formPPCtrl.IsVendorEmails" ng-checked="formPPCtrl.IsVendorEmails" /> {{'FORM.EMAIL'|translate}}</label>
							<input type="text" ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-model="formPPCtrl.Emails" class="form-control input-sm" />
							<i style="font-size:12px;margin-top:0px!important">** {{'FORM.NOTIF_EMAIL'|translate}}</i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 center-block margintop20" style="float: none!important;border:dotted 1px #808080 !important;">
				<fieldset>
					<legend>
					</legend>
					<div class="row">
						<div class="col-md-12 text-center">
							<h4 class="afta-font">{{'FORM.VENDOR_LIST'|translate}}</h4>
							<span class="pull-right">
								<button ng-disabled="!(formPPCtrl.TypeTender === 'CR')" ng-click="formPPCtrl.openDataVendor()" class="btn btn-sm btn-primary" title="{{'BTN.ADD'|translate}}"><i class="fa fa-plus-circle"></i></button>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 marginBottom-1">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical" width="5%">{{'TABLE_VENDOR.NO' | translate}}</th>
											<th class="center-vertical" width="25%">{{'TABLE_VENDOR.CODE' | translate}}</th>
											<th class="center-vertical">{{'TABLE_VENDOR.NAMEV' | translate}}</th>
											<th class="center-vertical" width="10%"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dt in formPPCtrl.Vendors">
											<td class="center-vertical">{{$index + 1}}</td>
											<td style="vertical-align: middle;">{{dt.Code}}</td>
											<td style="vertical-align: middle;">{{dt.VendorName}}</td>
											<td class="text-center">
												<a ng-disabled="!(formPPCtrl.TypeTender === 'CR')" class="btn btn-flat btn-xs btn-danger" title="{{'TABLE_VENDOR.BTN_DEL'|translate}}"
												   ng-click="formPPCtrl.hapusVendor($index, dt)">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<i style="font-size:12px;margin-top:0px!important">** {{'FORM.NOTIF_DIRECT'|translate}}</i>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 center-block" style="float: none!important;">
				<div class="form-group" style="margin-bottom: 10px;">
					<div class="checkbox" style="padding-left: 20px;">
						<label>
							<input ng-model="formPPCtrl.IsOpen" ng-checked="formPPCtrl.IsOpen" type="checkbox" />
							{{'FORM.OPEN'|translate}}
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-click="formPPCtrl.batal()" type="button" class="btn btn-flat btn-default" title="{{'BTN.BACK'|translate}}">
			<i class="fa fa-reply"></i>&nbsp;
		</button>
		<a ng-click="formPPCtrl.saveData()" class="btn btn-flat btn-primary pull-right" title="{{'BTN.SAVE'|translate}}">
			<i class="fa fa-save"></i>
		</a>
	</div>
</div> 