﻿<section ng-init="PPVHSCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{PPVHSCtrl.IDTender}}/{{PPVHSCtrl.ProcPackType}}/{{PPVHSCtrl.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
		<li><a class="active">{{'PEMASUKAN_PENAWARAN'|translate}}</a></li>
	</ol>

	<!-- tampilan pertama muncul -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-body">
						<div class="row">
							<button class="btn btn-flat btn-default" title="Print Preview" ng-click="PPVHSCtrl.printExport()">
								<i class="glyphicon glyphicon-print"></i>
							</button>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'PP_KK'|translate}}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<label>{{'Tanggal Mulai'|translate}}: {{PPVHSCtrl.StartDate| date: "dd-MM-yyyy HH:mm"}}</label>
							</div>
							<div class="col-md-4">
								<label>{{'Tanggal Selesai'|translate}}: {{PPVHSCtrl.EndDate| date: "dd-MM-yyyy HH:mm"}}</label>
							</div>
							<div class="col-md-9">
								<label>Tender:{{PPVHSCtrl.TenderName}} </label>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="row" style="padding-top: 10px!important;">
							<br />
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
										<thead>
											<tr>
												<th class="text-center" width="20px">No.</th>
												<th class="text-center">{{'TABLE.VENDOR_NAME'|translate}}</th>
												<th class="text-center">{{'TABLE.TANGGAL_MASUK'|translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="dt in PPVHSCtrl.VOFVendor">
												<td style="vertical-align: middle;">{{$index + 1}}</td>
												<td class="text-center" style="vertical-align: middle;">{{dt.VendorName}}</td>
												<td class="text-center" style="vertical-align: middle;">{{dt.VHSDate| date: "dd-MM-yyyy HH:mm"}}</td>
											</tr>
											<tr ng-if="PPVHSCtrl.VOFVendor.length === 0"><td colspan="6" class="text-center" style="vertical-align: middle;">{{'TABLE.DATA_NOT_FOUND'|translate}}</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div>
							<button ng-disabled="PPBCtrl.isCancelled" ng-if="PPVHSCtrl.isNeedApproval" ng-click="PPVHSCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.SEND_TO_APPROVAL'|translate}}">
								<i class="fa fa-paste"></i>
							</button>
							<button ng-if="PPVHSCtrl.isApprovalSent" ng-click="PPVHSCtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="Detail Approval">
								<i class="fa fa-sitemap"></i>
							</button>
						</div>
						<!--<div ng-if="PPVHSCtrl.isNeedApproval">
							<a ng-click="PPVHSCtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="Send to Approval">
								<i class="fa fa-paste"></i>
							</a>
						</div>-->
						<!--tombol-->
						<div class="box-footer">
							<label class="text-center"><b><button type="button" ng-click="PPVHSCtrl.backpengadaan()" class="btn btn-xs btn-default" title="{{'BTN.KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i></button></b></label>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
