<div ng-init="prakualTahapanCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/home">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
            <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
            <li><a class="active">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="afta-font judul-datatabel">{{'TAHAP_PRAKUALIFIKASI'|translate}}</h3>
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding-bottom: 8px; padding-top: 8px;">
                                <label>{{'NAMA_PRAKUALIFIKASI'|translate}} : </label>
                                <label>{{prakualTahapanCtrl.data.Name}}</label>
                            </div>
                            <!--
                            <div ng-if="prakualTahapanCtrl.isCancelled" class="col-md-12">
                                <label style="color: red">
                                    <i>({{'KET_BATAL'|translate}})</i>
                                </label>
                            </div>
                            <div ng-if="!prakualTahapanCtrl.isCancelled" class="col-md-12">
                                <button class="btn btn-xs btn-flat btn-danger" ng-click="prakualTahapanCtrl.batalTender()" title="{{'BATAL_TENDER'|translate}}"><i class="fa fa-ban"></i>&nbsp;{{'BATAL_TENDER'|translate}}</button>
                            </div>
                            -->
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-md-12 center-block text-right">
                                <a class="btn btn-sm btn-primary" ng-click="prakualTahapanCtrl.kembali()" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i></a>
                            </div>
                        </div>-->
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table id="listTahapan" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 50px; min-width: 30px; text-align: center;">{{'TABLE.NO'|translate}}</th>
                                                <th class="text-center">{{'TABLE.TAHAPAN'|translate}}</th>
                                                <th class="text-center" style="width: 190px; min-width: 190px;">{{'TABLE.TGL_MULAI'|translate}}</th>
                                                <th class="text-center" style="width: 190px; min-width: 190px;">{{'TABLE.TGL_SELESAI'|translate}}</th>
                                                <th class="text-center" style="width: 100px; min-width: 100px;">{{'TABLE.STATUS'|translate}}</th>
                                                <th class="text-center" style="width: 180px; min-width: 180px;">{{'TABLE.ACTION'|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="fl in prakualTahapanCtrl.step">
                                                <td class="text-center" style="vertical-align: middle;">{{fl.Sequence}}</td>
                                                <td style="vertical-align: middle;">{{fl.PrequalStepName | translate}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{fl.StartDate | date : "dd/MM/yyyy HH:mm"}}</td>
                                                <td class="text-center" style="vertical-align: middle;">{{fl.EndDate | date : "dd/MM/yyyy HH:mm"}}</td>

                                                <td ng-if="fl.SysReference.Name === 'PROCUREMENT_TYPE_NOTSTARTED'" class="text-center" style="vertical-align: middle;">
                                                    <label class="label label-sm label-warning col-md-12">{{'BELUM_MULAI'|translate}}</label>
                                                </td>
                                                <td ng-if="fl.SysReference.Name  === 'PROCUREMENT_TYPE_PROCESS'" class="text-center" style="vertical-align: middle;">
                                                    <label class="label label-sm label-primary col-md-12">{{'PROSES'|translate}}</label>
                                                </td>
                                                <td ng-if="fl.SysReference.Name  === 'PROCUREMENT_TYPE_END'" class="text-center" style="vertical-align: middle;">
                                                    <label class="label label-sm label-success col-md-12">{{'SELESAI'|translate}}</label>
                                                </td>

                                                <td class="text-center" style="vertical-align: middle;">
                                                    <button ng-click="prakualTahapanCtrl.menujuTahapan(fl)" class="btn btn-flat btn-sm btn-warning" title="{{'DETAIL'|translate}}"><i class="fa fa-external-link"></i></button>
                                                    <button ng-disabled="prakualTahapanCtrl.isCancelled" class="btn btn-flat btn-sm btn-primary" ng-click="prakualTahapanCtrl.aturTahapan(fl)" title="{{'ATUR_TAHAPAN'|translate}}"><i class="fa fa-gear"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 center-block text-right">
                                        <a class="btn btn-sm btn-primary" ng-click="prakualTahapanCtrl.kembali()" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

