<div class="container-fluid" ng-init="VendorDDQuestCtrl.initialize()">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'FORM.HOME' | translate}}</a></li>
		<li><a href="#/suratPernyataan">{{'FORM.AGREEMENT' | translate}}</a></li>
		<li><a class="active">{{'Kuesioner' | translate}}</a></li>
	</ol>
	<div class="box">
		<div class="box-body">
			<div class="row margin-atas">
				<div class="col-md-12" ng-if="VendorDDQuestCtrl.ddQuest.MstDDQuestionnaire.IsUseTableLayout==true">
					<table class="table table-bordered">
						<tbody ng-repeat="data in VendorDDQuestCtrl.ddQuest.MstDDQuestionnaire.DDQuestion">
							<tr ng-if="data.QuestionAnswerType.IsHasAnswer==true">
								<td width="50%">
									<div ng-if="data.IsShowNumber==true">
										<div class="col-md-1" style="width:10px;">
											{{data.NumberInQuest}}.
										</div>
										<div class="col-md-11">
											<span ng-bind-html="data.Question"></span>
										</div>
									</div>
									<div ng-if="data.IsShowNumber==false">
										<div class="col-md-12">
											<span ng-bind-html="data.Question"></span>
										</div>
									</div>
								</td>
								<td width="50%">
									<label ng-if="data.QuestionAnswerType.AnswerTypeName=='Option'" ng-repeat="questDetail in data.DDQuestionDetail" class="radio-inline">
										<input ng-disabled="VendorDDQuestCtrl.IsSent || VendorDDQuestCtrl.IsVerified == true" type="radio" name="optradio{{data.ID}}" ng-change="VendorDDQuestCtrl.loadradio(data.ID,questDetail.ID)" value="{{questDetail.ID}}" ng-model="questDetail.VendorComplianceQuestionnaire[0].Answer"><span ng-bind-html="questDetail.QuestionDetail"></span>&nbsp;&nbsp;&nbsp;
									</label>
									<!--<div ng-if="data.QuestionAnswerType.AnswerTypeName=='Option'" ng-repeat="questDetail in data.DDQuestionDetail">
										<div class="radio">
											<label><input type="radio" name="optradio" ng-change="VendorDDQuestCtrl.loadradio(data.ID,questDetail.ID)" value="{{questDetail.ID}}" ng-model="questDetail.VendorComplianceQuestionnaire.Answer"><span ng-bind-html="questDetail.QuestionDetail"></span> </label>
										</div>
									</div>-->
									<p ng-if="data.QuestionAnswerType.AnswerTypeName=='Text' && data.DDQuestionDetail[0].QuestionDetail!=''" ng-bind-html="data.DDQuestionDetail[0].QuestionDetail"></p>
									<textarea rows="5" ng-disabled="VendorDDQuestCtrl.IsSent || VendorDDQuestCtrl.IsVerified == true" class="form-control input-sm" ng-if="data.QuestionAnswerType.AnswerTypeName=='Text' && data.DDQuestionDetail[0].QuestionDetail==''" ng-model="data.DDQuestionDetail[0].VendorComplianceQuestionnaire[0].Answer" ng-bind-html="data.DDQuestionDetail[0].VendorComplianceQuestionnaire[0].Answer"></textarea>
									<table class="table table-bordered" ng-if="data.QuestionAnswerType.AnswerTypeName=='Table'">
										<thead>
											<tr>
												<th ng-repeat="questDetail in data.DDQuestionDetail">
													<span ng-bind-html="questDetail.QuestionDetail"></span>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="rows in data.ArrayRow">
												<td ng-repeat="staticColumn in data.DDQuestionDetail"><textarea ng-disabled="VendorDDQuestCtrl.IsSent || VendorDDQuestCtrl.IsVerified == true" ng-bind-html="staticColumn.VendorComplianceQuestionnaire[rows-1].Answer" class="form-control input-sm" ng-model="staticColumn.VendorComplianceQuestionnaire[rows-1].Answer"></textarea></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr ng-if="data.QuestionAnswerType.IsHasAnswer==false" style="border:1px solid white;">
								<td colspan="2" style="border:1px solid white;">
									<p ng-bind-html="data.Question"></p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="margin-atas" ng-if="VendorDDQuestCtrl.ddQuest.MstDDQuestionnaire.IsUseTableLayout==false" ng-repeat="data in VendorDDQuestCtrl.ddQuest.MstDDQuestionnaire.DDQuestion">
					<div ng-if="data.QuestionAnswerType.IsHasAnswer==true">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-1" style="width:15px!important;">
									{{data.NumberInQuest}}.
								</div>
								<div class="col-md-11">
									<span ng-bind-html="data.Question"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-1" style="width:15px!important;">&nbsp;</div>
								<div class="col-md-11">
									<label ng-if="data.QuestionAnswerType.AnswerTypeName=='Option'" ng-repeat="questDetail in data.DDQuestionDetail" class="radio-inline">
										<input type="radio" ng-disabled="VendorDDQuestCtrl.IsSent || VendorDDQuestCtrl.IsVerified == true" name="optradio{{data.ID}}" ng-change="VendorDDQuestCtrl.loadradio(data.ID,questDetail.ID)" value="{{questDetail.ID}}" ng-model="questDetail.VendorComplianceQuestionnaire[0].Answer"><span ng-bind-html="questDetail.QuestionDetail"></span>&nbsp;&nbsp;&nbsp;
									</label>
									<!--<div ng-if="data.QuestionAnswerType.AnswerTypeName=='Option'" ng-repeat="questDetail in data.DDQuestionDetail">
										<div class="radio">
											<label><input type="radio" name="optradio" ng-change="VendorDDQuestCtrl.loadradio(data.ID,questDetail.ID)" value="{{questDetail.ID}}" ng-model="questDetail.VendorComplianceQuestionnaire.Answer"><span ng-bind-html="questDetail.QuestionDetail"></span> </label>
										</div>
									</div>-->
									<table class="table table-bordered" ng-if="data.QuestionAnswerType.AnswerTypeName=='Table'">
										<thead>
											<tr>
												<th ng-repeat="questDetail in data.DDQuestionDetail">
													<span ng-bind-html="questDetail.QuestionDetail"></span>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="rows in data.ArrayRow">
												<td ng-repeat="staticColumn in data.DDQuestionDetail"><textarea ng-disabled="VendorDDQuestCtrl.IsSent || VendorDDQuestCtrl.IsVerified == true" ng-bind-html="staticColumn.VendorComplianceQuestionnaire[rows-1].Answer" class="form-control input-sm" ng-model="staticColumn.VendorComplianceQuestionnaire[rows-1].Answer"></textarea></td>
											</tr>
										</tbody>
									</table>
									<p ng-if="data.QuestionAnswerType.AnswerTypeName=='Text' && data.DDQuestionDetail[0].QuestionDetail!=''" ng-bind-html="data.DDQuestionDetail[0].QuestionDetail"></p>
									<textarea rows="5" ng-disabled="VendorDDQuestCtrl.IsSent || VendorDDQuestCtrl.IsVerified == true" class="form-control input-sm" ng-if="data.QuestionAnswerType.AnswerTypeName=='Text' && data.DDQuestionDetail[0].QuestionDetail==''" ng-bind-html="data.DDQuestionDetail[0].VendorComplianceQuestionnaire[0].Answer" ng-model="data.DDQuestionDetail[0].VendorComplianceQuestionnaire[0].Answer"></textarea>
								</div>
							</div>
						</div>

					</div>
					<div ng-if="data.QuestionAnswerType.IsHasAnswer==false">
						<div class="col-md-11">
							<p ng-bind-html="data.Question"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center" style="float:right">
						<button class="btn btn-flat btn-success" ng-hide="VendorDDQuestCtrl.IsSent || VendorDDQuestCtrl.IsVerified == true" ng-click="VendorDDQuestCtrl.simpan()" title="Simpan Kuesioner"><i class="fa fa-save"></i> Simpan Kuesioner</button>
						<!--<button class="btn btn-sm btn-warning" ng-disabled="VendorDDQuestCtrl.IsSent" ng-click="VendorDDQuestCtrl.kirim()" title="Kirim Kuesioner"><i class="fa fa-send"></i></button>-->
						<button class="btn btn-flat btn-danger" ng-click="VendorDDQuestCtrl.back()" title="Kembali"><i class="fa fa-reply"></i> Kembali</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>