<div class="modal-content" ng-init="detRevCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detRevCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'FINANCE_REVIEWER'|translate}}</h3>
        <h5 class="modal-title afta-font" id="myModalLabel">{{detRevCtrl.tenderCode}} - {{detRevCtrl.projectTitle}}</h5>
    </div>
    <div class="modal-body">
        <div>
            <div class="row" ng-if="detRevCtrl.isProcess1 && !detRevCtrl.hasApproved">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detRevCtrl.remark" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-success" ng-click="detRevCtrl.approve()"><i class="fa fa-check"></i> {{'APPROVE' | translate}}</button>
                                    <button class="btn btn-sm btn-danger" ng-click="detRevCtrl.reject()"><i class="fa fa-times"></i> {{'REJECT' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'REVIEWERS'|translate}} : </label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.NAMA' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detRevCtrl.crRevs">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td ng-class="{'text-bold':dt.isToApprove === true}">{{dt.EmployeeFullName}}</td>
                                        <td ng-class="{'text-bold':dt.isToApprove === true}">{{dt.EmployeePositionName}}</td>
                                        <td class="text-center">{{dt.ReviewDate | date: 'dd/MM/yyyy'}}</td>
                                        <td ng-class="{'text-bold':dt.isToApprove === true}" class="text-center">{{dt.ReviewStatus | translate}}</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detRevCtrl.crRevs.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detRevCtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>