﻿<div class="modal-content" ng-init="formProcurementPlanCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formProcurementPlanCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3>{{'LABEL.MODAL_TAMBAH' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2">
                <label>{{'LABEL.DEPT' | translate}} <label style="color:red">*</label> </label>
            </div>
            <div class="col-md-4">
                <!--<input type="text" class="form-control"
                       ng-model="formProcurementPlanCtrl.deptName"
                       uib-typeahead="b as b.DepartmentName for b in formProcurementPlanCtrl.datadept | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formProcurementPlanCtrl.ubahDept($item, $model, $label)' ng-change="formProcurementPlanCtrl.ubahManualDept(formProcurementPlanCtrl.deptName)"
                       placeholder="{{'LABEL.DEPT' | translate}}">-->
                <selectize name="selectModule" placeholder="Department" ng-change='formProcurementPlanCtrl.ubahManualDept(formProcurementPlanCtrl.deptName)'
                 options="formProcurementPlanCtrl.datadept" config="formProcurementPlanCtrl.myConfig" ng-model="formProcurementPlanCtrl.deptName"></selectize>

            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Local Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formProcurementPlanCtrl.localNumber" placeholder="Local Number" disabled>
            </div>
            <div class="col-md-2">
                <label>{{'LABEL.DESC' | translate}} <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formProcurementPlanCtrl.description" placeholder="{{'LABEL.DESC' | translate}}">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Entity <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formProcurementPlanCtrl.entity" ng-change="formProcurementPlanCtrl.ubahEntity(formProcurementPlanCtrl.entity)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ent.EntityID}}" ng-repeat="ent in formProcurementPlanCtrl.dataEntity" ng-selected="ent.EntityID == formProcurementPlanCtrl.entity">{{ent.EntityName}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Procurement Type<label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formProcurementPlanCtrl.materialService" ng-change="formProcurementPlanCtrl.ubahMaterialService(formProcurementPlanCtrl.materialService)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{mtsv.RefID}}" ng-repeat="mtsv in formProcurementPlanCtrl.dataMaterialService" ng-selected="mtsv.RefID == formProcurementPlanCtrl.materialService">{{mtsv.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>PP Reference</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formProcurementPlanCtrl.ppReference" placeholder="PP Reference">
            </div>
            <div class="col-md-2">
                <label>Current Supplier</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formProcurementPlanCtrl.currentSupplier" placeholder="Current Supplier">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>SCM Focal Point</label>
            </div>
            <div class="col-md-4">
                <!--<input type="text" class="form-control"
                       ng-model="formProcurementPlanCtrl.scmFocalPoint" ng-disabled="formProcurementPlanCtrl.isDataSCM == 0"
                       uib-typeahead="b as b.FullName for b in formProcurementPlanCtrl.dataSCMFocalPoint | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formProcurementPlanCtrl.ubahSCM($item, $model, $label)'
                       placeholder="SCM Focal Point">-->
                <selectize name="selectModule" id="dept" placeholder="SCM Focal Point" ng-change="formProcurementPlanCtrl.ubahSCM(formProcurementPlanCtrl.scmFocalPoint)"
                  options="formProcurementPlanCtrl.dataSCMFocalPoint"
                  config="formProcurementPlanCtrl.myConfig2" ng-model="formProcurementPlanCtrl.scmFocalPoint"></selectize>
            </div>
            <div class="col-md-2">
                <label>Technical Focal Point <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <!--<input ng-disabled="formProcurementPlanCtrl.isDept == 0" type="text" class="form-control"
                       ng-model="formProcurementPlanCtrl.techFocalPointName"
                       uib-typeahead="b as b.FullName for b in formProcurementPlanCtrl.dataTFP | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formProcurementPlanCtrl.ubahTech($item, $model, $label)'
                       placeholder="Technical Focal Point">-->
                <selectize name="selectModule" id="selectModule" ng-disabled="!formProcurementPlanCtrl.isDept"
                 placeholder="Technical Focal Point" options="formProcurementPlanCtrl.dataTFP" config="formProcurementPlanCtrl.myConfig2"
                 ng-model="formProcurementPlanCtrl.techFocalPointName" ng-change="formProcurementPlanCtrl.ubahTech(formProcurementPlanCtrl.techFocalPointName)"></selectize>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Market Sector</label>
            </div>
            <div class="col-md-4">
                <selectize name="selectModule" id="selectModule" placeholder="Market Sector" options="formProcurementPlanCtrl.dataMarketSec" 
                config="formProcurementPlanCtrl.myConfig3" ng-model="formProcurementPlanCtrl.marketSector" 
                ng-change="formProcurementPlanCtrl.ubahMarket(formProcurementPlanCtrl.marketSector)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formProcurementPlanCtrl.marketSector" ng-disabled="formProcurementPlanCtrl.isDataMarket == 0"
                       uib-typeahead="b as b.CategoryName for b in formProcurementPlanCtrl.dataMarketSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formProcurementPlanCtrl.ubahMarket($item, $model, $label)'
                       placeholder="Market Sector">-->
            </div>
            <div class="col-md-2">
                <label>Sub Sector</label>
            </div>
            <div class="col-md-4">
                <selectize name="selectModule" id="selectModule" placeholder="Sub Sector" options="formProcurementPlanCtrl.dataSubSec"
                           config="formProcurementPlanCtrl.myConfig3" ng-model="formProcurementPlanCtrl.subSector"
                            ng-change="formProcurementPlanCtrl.ubahSub(formProcurementPlanCtrl.subSector)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formProcurementPlanCtrl.subSector" ng-disabled="formProcurementPlanCtrl.isDataSub == 0"
                       uib-typeahead="b as b.CategoryName for b in formProcurementPlanCtrl.dataSubSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formProcurementPlanCtrl.ubahSub($item, $model, $label)'
                       placeholder="Sub Sector">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Category</label>
            </div>
            <div class="col-md-4">
                <selectize name="selectModule" id="selectModule" placeholder="Category" options="formProcurementPlanCtrl.dataCategory"
                           config="formProcurementPlanCtrl.myConfig3" ng-model="formProcurementPlanCtrl.categoryName"
                           ng-change="formProcurementPlanCtrl.ubahCategory(formProcurementPlanCtrl.categoryName)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formProcurementPlanCtrl.categoryName" ng-disabled="formProcurementPlanCtrl.isDataCat == 0"
                       uib-typeahead="b as b.CategoryName for b in formProcurementPlanCtrl.dataCategory | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formProcurementPlanCtrl.ubahCategory($item, $model, $label)'
                       placeholder="Category">-->
            </div>
            <div class="col-md-2">
                <label>Sourcing Activity</label>
            </div>
            <div class="col-md-4">
                <selectize name="selectModule" id="selectModule" placeholder="Sourcing Activity" options="formProcurementPlanCtrl.dataSourcingActivity"
                           config="formProcurementPlanCtrl.myConfig4" ng-model="formProcurementPlanCtrl.sourcingActivity"
                           ng-change="formProcurementPlanCtrl.ubahSourcing(formProcurementPlanCtrl.sourcingActivity)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formProcurementPlanCtrl.sourcingActivity" ng-disabled="formProcurementPlanCtrl.isDataSourcing == 0"
                       uib-typeahead="b as b.MethodName for b in formProcurementPlanCtrl.dataSourcingActivity | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formProcurementPlanCtrl.ubahSourcing($item, $model, $label)'
                       placeholder="Sourcing Activity">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Contract Type</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formProcurementPlanCtrl.contractType" ng-change="formProcurementPlanCtrl.ubahDept(formProcurementPlanCtrl.departemen)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ct.RefID}}" ng-repeat="ct in formProcurementPlanCtrl.dataContractType" ng-selected="ct.RefID == formProcurementPlanCtrl.contractType">{{ct.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Existing Contract</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formProcurementPlanCtrl.existingContract">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ec.RefID}}" ng-repeat="ec in formProcurementPlanCtrl.dataExistingContract" ng-selected="ec.RefID == formProcurementPlanCtrl.existingContract">{{ec.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Existing Contract Award</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formProcurementPlanCtrl.existingContractAward">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{eca.RefID}}" ng-repeat="eca in formProcurementPlanCtrl.dataExistingContractAward" ng-selected="eca.RefID == formProcurementPlanCtrl.existingContractAward">{{eca.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>PR Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formProcurementPlanCtrl.prNumber" placeholder="PR Number">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Existing Contract Number</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="formProcurementPlanCtrl.ECNumber" placeholder="Existing Contract Number">

                    <span class="input-group-btn"><button class="btn btn-primary" ng-click="formProcurementPlanCtrl.search(0)"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Existing Contract Value</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" currency-mask ng-change="formProcurementPlanCtrl.ECValueChange(formProcurementPlanCtrl.ECValue)" ng-model="formProcurementPlanCtrl.ECValue" placeholder="Existing Contract Value">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Remaining Contract Value</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" currency-mask ng-change="formProcurementPlanCtrl.RCValueChange(formProcurementPlanCtrl.RCValue)" ng-model="formProcurementPlanCtrl.RCValue" placeholder="Remaining Contract Value">
            </div>
            <div class="col-md-2">
                <label>Remaining Contract Value (%)</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formProcurementPlanCtrl.RCValueP" disabled placeholder="Remaining Contract Value (%)">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Current Contract Start Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">
                    <input placeholder="Current Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[0]" ng-model="formProcurementPlanCtrl.CCStartDate"
                           ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"
                           ng-blur="formProcurementPlanCtrl.ubahCCStart(formProcurementPlanCtrl.CCStartDate)"/>
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"  ng-click="formProcurementPlanCtrl.openCalendar(0)"></span></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Current Contract End Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Current Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[1]" ng-model="formProcurementPlanCtrl.CCEndDate"
                           ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"
                           ng-blur="formProcurementPlanCtrl.ubahCCEnd(formProcurementPlanCtrl.CCEndDate)"  />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formProcurementPlanCtrl.openCalendar(1)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Start Date <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input required placeholder="New Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[2]" ng-model="formProcurementPlanCtrl.newContractStartDate"
                           ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"
                           ng-blur="formProcurementPlanCtrl.UbahNewStartDate(formProcurementPlanCtrl.newContractStartDate)"/>
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formProcurementPlanCtrl.openCalendar(2)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract End Date <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input required placeholder="New Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[3]" ng-model="formProcurementPlanCtrl.newContractEndDate"
                           ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"
                           ng-blur="formProcurementPlanCtrl.UbahNewEndDate(formProcurementPlanCtrl.newContractEndDate)"/>
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formProcurementPlanCtrl.openCalendar(3)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Duration</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control"  ng-model="formProcurementPlanCtrl.newContractDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract Extensions Option</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formProcurementPlanCtrl.newContractExtensionsDuration"
                           ng-change="formProcurementPlanCtrl.ubahNewContractExt(formProcurementPlanCtrl.newContractExtensionsDuration)">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Value Including Extension Options</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formProcurementPlanCtrl.newContractIncludeExtensionsDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" disabled ng-model="formProcurementPlanCtrl.status">
                    <option value="{{pps.RefID}}" ng-repeat="pps in formProcurementPlanCtrl.ProcPlanStatusData" ng-selected="pps.RefID == formProcurementPlanCtrl.status">{{pps.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Sourcing Date Start</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Sourcing Date Start" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[4]" ng-blur="formProcurementPlanCtrl.cekDateSourcing(formProcurementPlanCtrl.sourcingDateStart,true,'MESSAGE.SOURCINGDATESTARTNOTVALID')" ng-model="formProcurementPlanCtrl.sourcingDateStart" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formProcurementPlanCtrl.openCalendar(4)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>CGC Approval Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="CGC Approval Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[5]" ng-blur="formProcurementPlanCtrl.cekDateCgc(formProcurementPlanCtrl.cgcApprovalDate,true,'MESSAGE.CGCAPPROVALDATE')" ng-model="formProcurementPlanCtrl.cgcApprovalDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formProcurementPlanCtrl.openCalendar(5)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Tender Issue Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Tender Issue Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[6]" ng-blur="formProcurementPlanCtrl.cekDateBidIssue(formProcurementPlanCtrl.bidIssueDate,true,'MESSAGE.BIDISSUEDATENOTVALID')" ng-model="formProcurementPlanCtrl.bidIssueDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formProcurementPlanCtrl.openCalendar(6)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Tender Due Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Tender Due Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[7]" ng-model="formProcurementPlanCtrl.bidDuedDate" ng-blur="formProcurementPlanCtrl.cekDateBidDued(formProcurementPlanCtrl.bidDuedDate,true,'MESSAGE.BIDDUEDATENOTVALID')" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"  ng-click="formProcurementPlanCtrl.openCalendar(7)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Tender Evaluation Completion Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Tender Evaluation Completion Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[8]" ng-blur="formProcurementPlanCtrl.cekDateBidEval(formProcurementPlanCtrl.bidEvalCompletionDate,true,'MESSAGE.BIDEVALCOMPLETIONDATENOTVALID')" ng-model="formProcurementPlanCtrl.bidEvalCompletionDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formProcurementPlanCtrl.openCalendar(8)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Negotiation Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Negotiation Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[9]" ng-blur="formProcurementPlanCtrl.cekDateNegotiationDate(formProcurementPlanCtrl.negotiationDate,true,'MESSAGE.NEGOTIATIONDATENOTVALID')" ng-model="formProcurementPlanCtrl.negotiationDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formProcurementPlanCtrl.openCalendar(9)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Award Recommendation</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Award Recommendation" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[10]" ng-blur="formProcurementPlanCtrl.cekDateAward(formProcurementPlanCtrl.awardRecomDate,true,'MESSAGE.AWARDRECOMDATENOTVALID')" ng-model="formProcurementPlanCtrl.awardRecomDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" style="cursor:pointer;" ng-click="formProcurementPlanCtrl.openCalendar(10)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Excom/Board Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Excom/Board Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[11]" ng-blur="formProcurementPlanCtrl.cekDateExcom(formProcurementPlanCtrl.excomBoardApproval,true,'MESSAGE.EXCOMBOARDAPPROVALNOTVALID')" ng-model="formProcurementPlanCtrl.excomBoardApproval" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" style="cursor:pointer;" ng-click="formProcurementPlanCtrl.openCalendar(11)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-2">
                <label>Concessionaire / Partners Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Concessionaire / Partners Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[12]" ng-blur="formProcurementPlanCtrl.cekDateConsess(formProcurementPlanCtrl.consessPartApproval,true,'MESSAGE.CONSESSPARTAPPROVALNOTVALID')" ng-model="formProcurementPlanCtrl.consessPartApproval" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"  ng-click="formProcurementPlanCtrl.openCalendar(12)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Contract Execution Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input placeholder="Contract Execution Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formProcurementPlanCtrl.isCalendarOpened[13]" ng-blur="formProcurementPlanCtrl.cekDateContractExe(formProcurementPlanCtrl.contractExecutionDate,true,'MESSAGE.CONTRACTEXECUTIONDATENOTVALID')" ng-model="formProcurementPlanCtrl.contractExecutionDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar"  ng-click="formProcurementPlanCtrl.openCalendar(13)"></span></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Comments</label>
            </div>
            <div class="col-md-10">
                <textarea ng-model="formProcurementPlanCtrl.comments" style="resize:none; width: 100%; height:30%;"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formProcurementPlanCtrl.batal()" title="{{'BTN.BACK' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK' | translate}}</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="formProcurementPlanCtrl.simpan()" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;{{'BTN.SIMPAN' | translate}}</button>
    </div>
</div>