﻿<div class="modal-content" ng-init="formUbahProcurementPlanCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formUbahProcurementPlanCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" ng-if="formUbahProcurementPlanCtrl.ubah == 1">{{'LABEL.MODAL_UBAH' | translate}}</h3>
        <h3 class="modal-title afta-font" ng-if="formUbahProcurementPlanCtrl.ubah == 0">{{'LABEL.MODAL_LIHAT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2">
                <label>{{'LABEL.DEPT' | translate}} <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanCtrl.deptName"
                       uib-typeahead="b as b.DepartmentName for b in formUbahProcurementPlanCtrl.datadept | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanCtrl.ubahDept($item, $model, $label)' ng-change="formUbahProcurementPlanCtrl.ubahManualDept(formUbahProcurementPlanCtrl.deptName)"
                       placeholder="{{'LABEL.DEPT' | translate}}" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0">-->

                <selectize name="selectModule" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Department" ng-change='formUbahProcurementPlanCtrl.ubahManualDept(formUbahProcurementPlanCtrl.deptName)'
                           options="formUbahProcurementPlanCtrl.datadept" config="formUbahProcurementPlanCtrl.myConfig" ng-model="formUbahProcurementPlanCtrl.deptName"></selectize>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Local Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanCtrl.localNumber" placeholder="Local Number" disabled>
            </div>
            <div class="col-md-2">
                <label>{{'LABEL.DESC' | translate}} <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanCtrl.description" placeholder="{{'LABEL.DESC' | translate}}" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Entity <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formUbahProcurementPlanCtrl.entity" ng-change="formUbahProcurementPlanCtrl.ubahEntity(formUbahProcurementPlanCtrl.entity)" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ent.EntityID}}" ng-repeat="ent in formUbahProcurementPlanCtrl.dataEntity" ng-selected="ent.EntityID == formUbahProcurementPlanCtrl.entity">{{ent.EntityName}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Procurement Type<label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" ng-model="formUbahProcurementPlanCtrl.materialService" ng-change="formUbahProcurementPlanCtrl.ubahMaterialService(formUbahProcurementPlanCtrl.materialService)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{mtsv.RefID}}" ng-repeat="mtsv in formUbahProcurementPlanCtrl.dataMaterialService" ng-selected="mtsv.RefID == formUbahProcurementPlanCtrl.materialService">{{mtsv.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>PP Reference</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanCtrl.ppReference" placeholder="PP Reference" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0">
            </div>
            <div class="col-md-2">
                <label>Current Supplier</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanCtrl.currentSupplier" placeholder="Current Supplier" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>SCM Focal Point</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" name="selectModule" id="dept" placeholder="SCM Focal Point" ng-change="formUbahProcurementPlanCtrl.ubahSCM(formUbahProcurementPlanCtrl.scmFocalPoint)"
                           options="formUbahProcurementPlanCtrl.dataSCMFocalPoint"
                           config="formUbahProcurementPlanCtrl.myConfig2" ng-model="formUbahProcurementPlanCtrl.scmFocalPoint"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanCtrl.scmFocalPoint" ng-disabled="formUbahProcurementPlanCtrl.isDataSCM == 0 || formUbahProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.FullName for b in formUbahProcurementPlanCtrl.dataSCMFocalPoint | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanCtrl.ubahSCM($item, $model, $label)'
                       placeholder="SCM Focal Point">-->
            </div>
            <div class="col-md-2">
                <label>Technical Focal Point <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <selectize ng-if="formUbahProcurementPlanCtrl.ubah == 1" name="selectModule" id="selectModule" ng-disabled="!formUbahProcurementPlanCtrl.isDept"
                 placeholder="Technical Focal Point" options="formUbahProcurementPlanCtrl.dataTFP" config="formUbahProcurementPlanCtrl.myConfig2"
                 ng-model="formUbahProcurementPlanCtrl.techFocalPointName" ng-change="formUbahProcurementPlanCtrl.ubahTech(formUbahProcurementPlanCtrl.techFocalPointName)"></selectize>
                <selectize ng-if="formUbahProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0"
                           placeholder="Technical Focal Point" options="formUbahProcurementPlanCtrl.dataTFP" config="formUbahProcurementPlanCtrl.myConfig2"
                           ng-model="formUbahProcurementPlanCtrl.techFocalPointName" ng-change="formUbahProcurementPlanCtrl.ubahTech(formUbahProcurementPlanCtrl.techFocalPointName)"></selectize>

                <!--<input ng-disabled="formUbahProcurementPlanCtrl.isDept == 0 || formUbahProcurementPlanCtrl.ubah == 0" type="text" class="form-control"
                       ng-model="formUbahProcurementPlanCtrl.techFocalPointName"
                       uib-typeahead="b as b.FullName for b in formUbahProcurementPlanCtrl.dataTFP | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanCtrl.ubahTech($item, $model, $label)'
                       placeholder="Technical Focal Point">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Market Sector</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" placeholder="Market Sector" options="formUbahProcurementPlanCtrl.dataMarketSec"
                           config="formUbahProcurementPlanCtrl.myConfig3" ng-model="formUbahProcurementPlanCtrl.marketSector"
                           ng-change="formUbahProcurementPlanCtrl.ubahMarket(formUbahProcurementPlanCtrl.marketSector)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanCtrl.marketSector" ng-disabled="formUbahProcurementPlanCtrl.isDataMarket == 0 || formUbahProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.CategoryName for b in formUbahProcurementPlanCtrl.dataMarketSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanCtrl.ubahMarket($item, $model, $label)'
                       placeholder="Market Sector">-->
            </div>
            <div class="col-md-2">
                <label>Sub Sector</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" placeholder="Sub Sector" options="formUbahProcurementPlanCtrl.dataSubSec"
                           config="formUbahProcurementPlanCtrl.myConfig3" ng-model="formUbahProcurementPlanCtrl.subSector"
                           ng-change="formUbahProcurementPlanCtrl.ubahSub(formUbahProcurementPlanCtrl.subSector)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanCtrl.subSector" ng-disabled="formUbahProcurementPlanCtrl.isDataSub == 0 || formUbahProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.CategoryName for b in formUbahProcurementPlanCtrl.dataSubSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanCtrl.ubahSub($item, $model, $label)'
                       placeholder="Sub Sector">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Category</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" placeholder="Category" options="formUbahProcurementPlanCtrl.dataCategory"
                           config="formUbahProcurementPlanCtrl.myConfig3" ng-model="formUbahProcurementPlanCtrl.categoryName"
                           ng-change="formUbahProcurementPlanCtrl.ubahCategory(formUbahProcurementPlanCtrl.categoryName)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanCtrl.categoryName" ng-disabled="formUbahProcurementPlanCtrl.isDataCat == 0 || formUbahProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.CategoryName for b in formUbahProcurementPlanCtrl.dataCategory | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanCtrl.ubahCategory($item, $model, $label)'
                       placeholder="Category">-->
            </div>
            <div class="col-md-2">
                <label>Sourcing Activity</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" name="selectModule" id="selectModule" placeholder="Sourcing Activity" options="formUbahProcurementPlanCtrl.dataSourcingActivity"
                           config="formUbahProcurementPlanCtrl.myConfig4" ng-model="formUbahProcurementPlanCtrl.sourcingActivity"
                           ng-change="formUbahProcurementPlanCtrl.ubahSourcing(formUbahProcurementPlanCtrl.sourcingActivity)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanCtrl.sourcingActivity" ng-disabled="formUbahProcurementPlanCtrl.isDataSourcing == 0 || formUbahProcurementPlanCtrl.ubah == 0"
                       uib-typeahead="b as b.MethodName for b in formUbahProcurementPlanCtrl.dataSourcingActivity | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanCtrl.ubahSourcing($item, $model, $label)'
                       placeholder="Sourcing Activity">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Contract Type</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" ng-model="formUbahProcurementPlanCtrl.contractType">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ct.RefID}}" ng-repeat="ct in formUbahProcurementPlanCtrl.dataContractType" ng-selected="ct.RefID == formUbahProcurementPlanCtrl.contractType">{{ct.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Existing Contract</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" ng-model="formUbahProcurementPlanCtrl.existingContract">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ec.RefID}}" ng-repeat="ec in formUbahProcurementPlanCtrl.dataExistingContract" ng-selected="ec.RefID == formUbahProcurementPlanCtrl.existingContract">{{ec.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Existing Contract Award</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" ng-model="formUbahProcurementPlanCtrl.existingContractAward">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{eca.RefID}}" ng-repeat="eca in formUbahProcurementPlanCtrl.dataExistingContractAward" ng-selected="eca.RefID == formUbahProcurementPlanCtrl.existingContractAward">{{eca.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>PR Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" ng-model="formUbahProcurementPlanCtrl.prNumber" placeholder="PR Number">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Existing Contract Number</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="formUbahProcurementPlanCtrl.ECNumber" placeholder="Existing Contract Number" maxlength="50">

                    <span class="input-group-btn"><button class="btn btn-primary" ng-click="formUbahProcurementPlanCtrl.search(0)"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Existing Contract Value</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" currency-mask ng-change="formUbahProcurementPlanCtrl.ECValueChange(formUbahProcurementPlanCtrl.ECValue)" ng-model="formUbahProcurementPlanCtrl.ECValue" placeholder="Existing Contract Value">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Remaining Contract Value</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" currency-mask ng-change="formUbahProcurementPlanCtrl.RCValueChange(formUbahProcurementPlanCtrl.RCValue)" ng-model="formUbahProcurementPlanCtrl.RCValue" placeholder="Remaining Contract Value">
            </div>
            <div class="col-md-2">
                <label>Remaining Contract Value (%)</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanCtrl.RCValueP" disabled placeholder="Remaining Contract Value (%)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Current Contract Start Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">
                    <input  ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Current Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[0]" ng-model="formUbahProcurementPlanCtrl.CCStartDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"
                           ng-blur="formUbahProcurementPlanCtrl.ubahCCStart(formUbahProcurementPlanCtrl.CCStartDate)" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(0)"></span></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Current Contract End Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Current Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[1]" ng-model="formUbahProcurementPlanCtrl.CCEndDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"
                           ng-blur="formUbahProcurementPlanCtrl.ubahCCEnd(formUbahProcurementPlanCtrl.CCEndDate)" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(1)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Start Date <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input required ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="New Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[2]" ng-model="formUbahProcurementPlanCtrl.newContractStartDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"
                           ng-blur="formUbahProcurementPlanCtrl.UbahNewStartDate(formUbahProcurementPlanCtrl.newContractStartDate)" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(2)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract End Date <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input required ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="New Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[3]" ng-model="formUbahProcurementPlanCtrl.newContractEndDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"
                           ng-blur="formUbahProcurementPlanCtrl.UbahNewEndDate(formUbahProcurementPlanCtrl.newContractEndDate)" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(3)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Duration</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" ng-model="formUbahProcurementPlanCtrl.newContractDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract Extensions Option</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formUbahProcurementPlanCtrl.newContractExtensionsDuration"
                           ng-change="formUbahProcurementPlanCtrl.ubahNewContractExt(formUbahProcurementPlanCtrl.newContractExtensionsDuration)">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Value Including Extension Options</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formUbahProcurementPlanCtrl.newContractIncludeExtensionsDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" disabled ng-model="formUbahProcurementPlanCtrl.status">
                    <option value="{{pps.RefID}}" ng-repeat="pps in formUbahProcurementPlanCtrl.ProcPlanStatusData" ng-selected="pps.RefID == formUbahProcurementPlanCtrl.status">{{pps.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Sourcing Date Start</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Sourcing Date Start" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[4]" ng-blur="formUbahProcurementPlanCtrl.cekDateSourcing(formUbahProcurementPlanCtrl.sourcingDateStart,true,'MESSAGE.SOURCINGDATESTARTNOTVALID')" ng-model="formUbahProcurementPlanCtrl.sourcingDateStart" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(4)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>CGC Approval Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="CGC Approval Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[5]" ng-blur="formUbahProcurementPlanCtrl.cekDateCgc(formUbahProcurementPlanCtrl.cgcApprovalDate,true,'MESSAGE.CGCAPPROVALDATE')" ng-model="formUbahProcurementPlanCtrl.cgcApprovalDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(5)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Tender Issue Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Bid Issue Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[6]" ng-blur="formUbahProcurementPlanCtrl.cekDateBidIssue(formUbahProcurementPlanCtrl.bidIssueDate,true,'MESSAGE.BIDISSUEDATENOTVALID')" ng-model="formUbahProcurementPlanCtrl.bidIssueDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(6)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Tender Due Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Bid Due Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[7]" ng-blur="formUbahProcurementPlanCtrl.cekDateBidDued(formUbahProcurementPlanCtrl.bidDuedDate,true,'MESSAGE.BIDDUEDATENOTVALID')" ng-model="formUbahProcurementPlanCtrl.bidDuedDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(7)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Tender Evaluation Completion Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Bid Evaluation Completion Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[8]" ng-blur="formUbahProcurementPlanCtrl.cekDateBidEval(formUbahProcurementPlanCtrl.bidEvalCompletionDate,true,'MESSAGE.BIDEVALCOMPLETIONDATENOTVALID')" ng-model="formUbahProcurementPlanCtrl.bidEvalCompletionDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(8)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Negotiation Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Negotiation Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[9]" ng-blur="formUbahProcurementPlanCtrl.cekDateNegotiationDate(formUbahProcurementPlanCtrl.negotiationDate,true,'MESSAGE.NEGOTIATIONDATENOTVALID')" ng-model="formUbahProcurementPlanCtrl.negotiationDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(9)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Award Recommendation</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input  ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Award Recommendation" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[10]" ng-blur="formUbahProcurementPlanCtrl.cekDateAward(formUbahProcurementPlanCtrl.awardRecomDate,true,'MESSAGE.AWARDRECOMDATENOTVALID')" ng-model="formUbahProcurementPlanCtrl.awardRecomDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(10)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Excom/Board Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input  ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Excom/Board Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[11]" ng-blur="formUbahProcurementPlanCtrl.cekDateExcom(formUbahProcurementPlanCtrl.excomBoardApproval,true,'MESSAGE.EXCOMBOARDAPPROVALNOTVALID')" ng-model="formUbahProcurementPlanCtrl.excomBoardApproval" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(11)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-2">
                <label>Concessionaire / Partners Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Concessionaire / Partners Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[12]"  ng-blur="formUbahProcurementPlanCtrl.cekDateConsess(formUbahProcurementPlanCtrl.consessPartApproval,true,'MESSAGE.CONSESSPARTAPPROVALNOTVALID')" ng-model="formUbahProcurementPlanCtrl.consessPartApproval" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(12)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Contract Execution Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" placeholder="Contract Execution Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanCtrl.isCalendarOpened[13]" ng-blur="formUbahProcurementPlanCtrl.cekDateContractExe(formUbahProcurementPlanCtrl.contractExecutionDate,true,'MESSAGE.CONTRACTEXECUTIONDATENOTVALID')" ng-model="formUbahProcurementPlanCtrl.contractExecutionDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
                    <span class="input-group-addon" style="cursor:pointer;"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanCtrl.openCalendar(13)"></span></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Comments</label>
            </div>
            <div class="col-md-10">
                <textarea ng-disabled="formUbahProcurementPlanCtrl.ubah == 0" ng-model="formUbahProcurementPlanCtrl.comments" style="resize:none; width: 100%; height:30%;"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formUbahProcurementPlanCtrl.batal()" title="{{'BTN.BACK' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK' | translate}}</button>
        <button type="button" ng-if="formUbahProcurementPlanCtrl.ubah == 1" class="btn btn-flat btn-success" ng-click="formUbahProcurementPlanCtrl.simpan()" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;{{'BTN.SIMPAN' | translate}}</button>
    </div>
</div>