﻿<div class="modal-content" ng-init="formUbahProcurementPlanSCMCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formUbahProcurementPlanSCMCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" ng-if="formUbahProcurementPlanSCMCtrl.ubah == 1">{{'LABEL.MODAL_UBAH' | translate}}</h3>
        <h3 class="modal-title afta-font" ng-if="formUbahProcurementPlanSCMCtrl.ubah == 0">{{'LABEL.MODAL_LIHAT' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-2">
                <label>Local Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanSCMCtrl.localNumber" placeholder="Local Number" disabled>
            </div>
            <div class="col-md-2">
                <label>SKK Migas Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0" ng-model="formUbahProcurementPlanSCMCtrl.skkMigasNumber" placeholder="SKK Migas Number">
            </div>
        </div>
        <div class="row" style="margin-bottom:30px;">
            <div class="col-md-2">
                <label>Global Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0" ng-model="formUbahProcurementPlanSCMCtrl.globalNumber" placeholder="Global Number">
            </div>
            <div class="col-md-2">
                <label>Status Procurement Plan</label>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="optradio" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" ng-model="formUbahProcurementPlanSCMCtrl.statusProc" value="4510">Planned
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" ng-model="formUbahProcurementPlanSCMCtrl.statusProc" value="4511">Unplanned
                    </label>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>{{'LABEL.DEPT' | translate}} <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanSCMCtrl.deptName"
                       uib-typeahead="b as b.DepartmentName for b in formUbahProcurementPlanSCMCtrl.datadept | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanSCMCtrl.ubahDept($item, $model, $label)' ng-change="formUbahProcurementPlanSCMCtrl.ubahManualDept(formUbahProcurementPlanSCMCtrl.deptName)"
                       placeholder="{{'LABEL.DEPT' | translate}}" disabled>
            </div>
            <div class="col-md-2">
                <label>{{'LABEL.DESC' | translate}} <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanSCMCtrl.description" placeholder="{{'LABEL.DESC' | translate}}" disabled>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Entity <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="formUbahProcurementPlanSCMCtrl.entity" ng-change="formUbahProcurementPlanSCMCtrl.ubahEntity(formUbahProcurementPlanSCMCtrl.entity)" disabled>
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ent.EntityID}}" ng-repeat="ent in formUbahProcurementPlanSCMCtrl.dataEntity" ng-selected="ent.EntityID == formUbahProcurementPlanSCMCtrl.entity">{{ent.EntityName}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Procurement Type<label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <select class="form-control" disabled ng-model="formUbahProcurementPlanSCMCtrl.materialService" ng-change="formUbahProcurementPlanSCMCtrl.ubahMaterialService(formUbahProcurementPlanSCMCtrl.materialService)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{mtsv.RefID}}" ng-repeat="mtsv in formUbahProcurementPlanSCMCtrl.dataMaterialService" ng-selected="mtsv.RefID == formUbahProcurementPlanSCMCtrl.materialService">{{mtsv.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>PP Reference</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanSCMCtrl.ppReference" placeholder="PP Reference" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')">
            </div>
            <div class="col-md-2">
                <label>Current Supplier</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanSCMCtrl.currentSupplier" placeholder="Current Supplier" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>SCM Focal Point</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" name="selectModule" id="dept" placeholder="SCM Focal Point" ng-change="formUbahProcurementPlanSCMCtrl.ubahSCM(formUbahProcurementPlanSCMCtrl.scmFocalPoint)"
                           options="formUbahProcurementPlanSCMCtrl.dataSCMFocalPoint"
                           config="formUbahProcurementPlanSCMCtrl.myConfig2" ng-model="formUbahProcurementPlanSCMCtrl.scmFocalPoint"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanSCMCtrl.scmFocalPoint" ng-disabled="(formUbahProcurementPlanSCMCtrl.isDataSCM == 0 || formUbahProcurementPlanSCMCtrl.ubah == 0) && formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review'"
                       uib-typeahead="b as b.FullName for b in formUbahProcurementPlanSCMCtrl.dataSCMFocalPoint | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanSCMCtrl.ubahSCM($item, $model, $label)'
                       placeholder="SCM Focal Point">-->
            </div>
            <div class="col-md-2">
                <label>Technical Focal Point <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <input type="text" disabled class="form-control"
                       ng-model="formUbahProcurementPlanSCMCtrl.techFocalPointName"
                       uib-typeahead="b as b.FullName for b in formUbahProcurementPlanSCMCtrl.dataTFP | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanSCMCtrl.ubahTech($item, $model, $label)'
                       placeholder="Technical Focal Point">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Market Sector</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Market Sector" options="formUbahProcurementPlanSCMCtrl.dataMarketSec"
                           config="formUbahProcurementPlanSCMCtrl.myConfig3" ng-model="formUbahProcurementPlanSCMCtrl.marketSector"
                           ng-change="formUbahProcurementPlanSCMCtrl.ubahMarket(formUbahProcurementPlanSCMCtrl.marketSector)"></selectize>

                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanSCMCtrl.marketSector" ng-disabled="(formUbahProcurementPlanSCMCtrl.isDataMarket == 0 || formUbahProcurementPlanSCMCtrl.ubah == 0) && formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review'"
                       uib-typeahead="b as b.CategoryName for b in formUbahProcurementPlanSCMCtrl.dataMarketSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanSCMCtrl.ubahMarket($item, $model, $label)'
                       placeholder="Market Sector">-->
            </div>
            <div class="col-md-2">
                <label>Sub Sector</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Sub Sector" options="formUbahProcurementPlanSCMCtrl.dataSubSec"
                           config="formUbahProcurementPlanSCMCtrl.myConfig3" ng-model="formUbahProcurementPlanSCMCtrl.subSector"
                           ng-change="formUbahProcurementPlanSCMCtrl.ubahSub(formUbahProcurementPlanSCMCtrl.subSector)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanSCMCtrl.subSector" ng-disabled="(formUbahProcurementPlanSCMCtrl.isDataSub == 0 || formUbahProcurementPlanSCMCtrl.ubah == 0) && formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review'"
                       uib-typeahead="b as b.CategoryName for b in formUbahProcurementPlanSCMCtrl.dataSubSec | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanSCMCtrl.ubahSub($item, $model, $label)'
                       placeholder="Sub Sector">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Category</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Category" options="formUbahProcurementPlanSCMCtrl.dataCategory"
                           config="formUbahProcurementPlanSCMCtrl.myConfig3" ng-model="formUbahProcurementPlanSCMCtrl.categoryName"
                           ng-change="formUbahProcurementPlanSCMCtrl.ubahCategory(formUbahProcurementPlanSCMCtrl.categoryName)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanSCMCtrl.categoryName" ng-disabled="(formUbahProcurementPlanSCMCtrl.isDataCat == 0 || formUbahProcurementPlanSCMCtrl.ubah == 0) && formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review'"
                       uib-typeahead="b as b.CategoryName for b in formUbahProcurementPlanSCMCtrl.dataCategory | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanSCMCtrl.ubahCategory($item, $model, $label)'
                       placeholder="Category">-->
            </div>
            <div class="col-md-2">
                <label>Sourcing Activity</label>
            </div>
            <div class="col-md-4">
                <selectize ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" name="selectModule" id="selectModule" placeholder="Sourcing Activity" options="formUbahProcurementPlanSCMCtrl.dataSourcingActivity"
                           config="formUbahProcurementPlanSCMCtrl.myConfig4" ng-model="formUbahProcurementPlanSCMCtrl.sourcingActivity"
                           ng-change="formUbahProcurementPlanSCMCtrl.ubahSourcing(formUbahProcurementPlanSCMCtrl.sourcingActivity)"></selectize>
                <!--<input type="text" class="form-control"
                       ng-model="formUbahProcurementPlanSCMCtrl.sourcingActivity" ng-disabled="(formUbahProcurementPlanSCMCtrl.isDataSourcing == 0 || formUbahProcurementPlanSCMCtrl.ubah == 0)"
                       uib-typeahead="b as b.MethodName for b in formUbahProcurementPlanSCMCtrl.dataSourcingActivity | filter:$viewValue | limitTo:10"
                       typeahead-on-select='formUbahProcurementPlanSCMCtrl.ubahSourcing($item, $model, $label)'
                       placeholder="Sourcing Activity">-->
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Contract Type</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" ng-model="formUbahProcurementPlanSCMCtrl.contractType" ng-change="formUbahProcurementPlanSCMCtrl.ubahDept(formUbahProcurementPlanSCMCtrl.departemen)">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ct.RefID}}" ng-repeat="ct in formUbahProcurementPlanSCMCtrl.dataContractType" ng-selected="ct.RefID == formUbahProcurementPlanSCMCtrl.contractType">{{ct.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Existing Contract</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" ng-model="formUbahProcurementPlanSCMCtrl.existingContract">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{ec.RefID}}" ng-repeat="ec in formUbahProcurementPlanSCMCtrl.dataExistingContract" ng-selected="ec.RefID == formUbahProcurementPlanSCMCtrl.existingContract">{{ec.Value}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Existing Contract Award</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" ng-model="formUbahProcurementPlanSCMCtrl.existingContractAward">
                    <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                    <option value="{{eca.RefID}}" ng-repeat="eca in formUbahProcurementPlanSCMCtrl.dataExistingContractAward" ng-selected="eca.RefID == formUbahProcurementPlanSCMCtrl.existingContractAward">{{eca.Value}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>PR Number</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" ng-model="formUbahProcurementPlanSCMCtrl.prNumber" placeholder="PR Number">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Existing Contract Number</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="formUbahProcurementPlanSCMCtrl.ECNumber" placeholder="Existing Contract Number" maxlength="50">

                    <span class="input-group-btn"><button class="btn btn-primary" ng-click="formUbahProcurementPlanSCMCtrl.search(0)"><i class="fa fa-search"></i></button></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Existing Contract Value</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" currency-mask ng-change="formUbahProcurementPlanSCMCtrl.ECValueChange(formUbahProcurementPlanSCMCtrl.ECValue)" ng-model="formUbahProcurementPlanSCMCtrl.ECValue" placeholder="Existing Contract Value">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Remaining Contract Value</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" currency-mask ng-change="formUbahProcurementPlanSCMCtrl.RCValueChange(formUbahProcurementPlanSCMCtrl.RCValue)" ng-model="formUbahProcurementPlanSCMCtrl.RCValue" placeholder="Remaining Contract Value">
            </div>
            <div class="col-md-2">
                <label>Remaining Contract Value (%)</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="formUbahProcurementPlanSCMCtrl.RCValueP" disabled placeholder="Remaining Contract Value (%)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Current Contract Start Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">
                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Current Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[0]" ng-model="formUbahProcurementPlanSCMCtrl.CCStartDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(0)"
                           ng-change="formUbahProcurementPlanSCMCtrl.ubahCCStart(formUbahProcurementPlanSCMCtrl.CCStartDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(0)"></span></span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Current Contract End Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Current Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[1]" ng-model="formUbahProcurementPlanSCMCtrl.CCEndDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(1)"
                           ng-change="formUbahProcurementPlanSCMCtrl.ubahCCEnd(formUbahProcurementPlanSCMCtrl.CCEndDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(1)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Start Date <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input disabled placeholder="New Contract Start Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[2]" ng-model="formUbahProcurementPlanSCMCtrl.newContractStartDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(2)"
                           ng-change="formUbahProcurementPlanSCMCtrl.UbahNewStartDate(formUbahProcurementPlanSCMCtrl.newContractStartDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(2)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract End Date <label style="color:red">*</label></label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input disabled placeholder="New Contract End Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[3]" ng-model="formUbahProcurementPlanSCMCtrl.newContractEndDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(3)"
                           ng-change="formUbahProcurementPlanSCMCtrl.UbahNewEndDate(formUbahProcurementPlanSCMCtrl.newContractEndDate)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(3)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Duration</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" ng-model="formUbahProcurementPlanSCMCtrl.newContractDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>New Contract Extensions Option</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formUbahProcurementPlanSCMCtrl.newContractExtensionsDuration"
                           ng-change="formUbahProcurementPlanSCMCtrl.ubahNewContractExt(formUbahProcurementPlanSCMCtrl.newContractExtensionsDuration)">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>New Contract Value Including Extension Options</label>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" disabled class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" ng-model="formUbahProcurementPlanSCMCtrl.newContractIncludeExtensionsDuration">
                    <span class="input-group-addon" id="basic-addon1">{{'LABEL.MONTH' | translate}}</span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Status</label>
            </div>
            <div class="col-md-4">
                <select class="form-control" disabled ng-if="formUbahProcurementPlanSCMCtrl.procPlanStatusName == 'Completed' && formUbahProcurementPlanSCMCtrl.scmStatusName == ''">
                    <option value="{{formUbahProcurementPlanSCMCtrl.procPlanStatus}}">{{formUbahProcurementPlanSCMCtrl.procPlanStatusName}}</option>
                </select>
                <select class="form-control" disabled ng-if="formUbahProcurementPlanSCMCtrl.procPlanStatusName == 'Completed' && formUbahProcurementPlanSCMCtrl.scmStatusName != ''">
                    <option value="{{formUbahProcurementPlanSCMCtrl.scmStatus}}">{{formUbahProcurementPlanSCMCtrl.scmStatusName}}</option>
                </select>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Sourcing Date Start</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Sourcing Date Start" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[4]" ng-model="formUbahProcurementPlanSCMCtrl.sourcingDateStart" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(4)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(4)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>CGC Approval Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="CGC Approval Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[5]" ng-model="formUbahProcurementPlanSCMCtrl.cgcApprovalDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(5)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(5)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Bid Issue Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Bid Issue Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[6]" ng-model="formUbahProcurementPlanSCMCtrl.bidIssueDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(6)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(6)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Bid Due Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Bid Due Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[7]" ng-model="formUbahProcurementPlanSCMCtrl.bidDuedDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(7)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(7)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Bid Evaluation Completion Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Bid Evaluation Completion Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[8]" ng-model="formUbahProcurementPlanSCMCtrl.bidEvalCompletionDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(8)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(8)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Negotiation Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Negotiation Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[9]" ng-model="formUbahProcurementPlanSCMCtrl.negotiationDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(9)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(9)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-2">
                <label>Award Recommendation</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Award Recommendation" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[10]" ng-model="formUbahProcurementPlanSCMCtrl.awardRecomDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(10)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(10)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Excom/Board Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Excom/Board Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[11]" ng-model="formUbahProcurementPlanSCMCtrl.excomBoardApproval" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(11)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(11)"></span></span>

                </div>
            </div>
        </div>
        <p></p>
        <div class="row" style="margin-bottom: 25px;">
            <div class="col-md-2">
                <label>Concessionaire / Partners Approval</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Concessionaire / Partners Approval" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[12]" ng-model="formUbahProcurementPlanSCMCtrl.consessPartApproval" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(12)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(12)"></span></span>

                </div>
            </div>
            <div class="col-md-2">
                <label>Contract Execution Date</label>
            </div>
            <div class="col-md-4">
                <div class="input-group" datepicker-abc data-date-format="dd-MM-yyyy">

                    <input readonly ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" placeholder="Contract Execution Date" class="form-control" style="background-color: #ffffff;" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                           is-open="formUbahProcurementPlanSCMCtrl.isCalendarOpened[13]" ng-model="formUbahProcurementPlanSCMCtrl.contractExecutionDate" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(13)" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" ng-click="formUbahProcurementPlanSCMCtrl.openCalendar(13)"></span></span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Comments</label>
            </div>
            <div class="col-md-10">
                <textarea ng-disabled="formUbahProcurementPlanSCMCtrl.ubah == 0 || (formUbahProcurementPlanSCMCtrl.statName == 'Reviewed' && formUbahProcurementPlanSCMCtrl.statName == 'Approval Review')" ng-model="formUbahProcurementPlanSCMCtrl.comments" style="resize:none; width: 100%; height:30%;"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formUbahProcurementPlanSCMCtrl.batal()" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" ng-if="formUbahProcurementPlanSCMCtrl.ubah == 1" class="btn btn-flat btn-success" ng-click="formUbahProcurementPlanSCMCtrl.simpan()" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>