﻿<section class="content" ng-init="procurementPlanningCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> <a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.PROC_PLAN' | translate}}</a></li>
    </ol>
    <div class="box box-info">
        <div class="box-body">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <h3 class="afta-font text-center">{{'LABEL.PROC_PLAN' | translate}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="margin-top: 5px;">
                    <div class="pull-right">
                        {{'LABEL.PENCARIAN' | translate}}
                    </div>
                </div>
                <div class="col-md-3">
                        <select class="form-control" ng-model="action" ng-change="procurementPlanningCtrl.act(action)">
                            <option value="">- {{'LABEL.PENCARIAN' | translate}} -</option>
                            <option value="1">Local Number</option>
                            <option value="2">{{'LABEL.DESC' | translate}}</option>
                            <option value="3">Procurement Type</option>
                            <option value="5">Technical Focal Point</option>
                            <option value="6">Status</option>
                            <option value="7">SCM Focal Point</option>
                        </select>
                </div>
                <div class="col-md-3">
                    <form class="input-group pull-left" ng-if="procurementPlanningCtrl.action == '1' || procurementPlanningCtrl.action == '2' || procurementPlanningCtrl.action == '5' || procurementPlanningCtrl.action == '7'">
                       
                        <input type="text" class="form-control" placeholder="{{'LABEL.FIND' | translate}} {{procurementPlanningCtrl.keyPlaceHolder}}" ng-model="keyword">
                        <span class="input-group-btn">
                            <button name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="procurementPlanningCtrl.cari(keyword)" title="{{'LABEL.FIND' | translate}} {{procurementPlanningCtrl.keyPlaceHolder}}">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </form>

                    <select ng-if="procurementPlanningCtrl.action == '3'" class="form-control" ng-model="materialService" ng-change="procurementPlanningCtrl.ubahMaterialService(materialService)">
                        <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                        <option value="4491">Material</option>
                        <option value="4492">Service</option>
                    </select>

                    <select ng-if="procurementPlanningCtrl.action == '6'" class="form-control" ng-model="status" ng-change="procurementPlanningCtrl.ubahStatus(status)">
                        <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                        <option value="4493">Plan</option>
                        <option value="4494">Ongoing</option>
                        <option value="4495">Delayed</option>
                        <option value="4496">Rejected</option>
                        <option value="4497">Completed</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="pull-right">
                        <a class="btn btn-sm btn-flat btn-success" ng-click="procurementPlanningCtrl.tambah()" title="{{'BTN.TAMBAH' | translate}}">
                            <i class='fa fa-plus-circle'></i>&nbsp;{{'BTN.TAMBAH' | translate}}
                        </a>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">No.</th>
                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">Local Number</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'LABEL.DESC' | translate}}</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">Procurement Type</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">SCM Focal Point</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">Technical Focal Point</th>
                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">Status</th>
                                    <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'LABEL.ACT' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in procurementPlanningCtrl.plans">
                                    <td class="text-center">{{procurementPlanningCtrl.currentPage > 1 ? (procurementPlanningCtrl.pageSize * (procurementPlanningCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td>{{data.LocalNumber ? data.LocalNumber : '-'}}</td>
                                    <td>{{data.Description}}</td>
                                    <td>
                                        <span ng-if="data.MaterialOrService == 4491">Material</span>
                                        <span ng-if="data.MaterialOrService == 4492">Service</span>
                                        <span ng-if="!data.MaterialOrService">-</span>
                                    </td>
                                    <td>{{data.SCMFocalPointName ? data.SCMFocalPointName : '-'}}</td>
                                    <td>{{data.TechFocalPointName}}</td>
                                    <td class="text-center">{{data.ProcPlanStatusName ? data.ProcPlanStatusName : '-'}}</td>
                                    <td class="text-center">
                                        <a ng-click="procurementPlanningCtrl.lihat(data)" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.LIHAT' | translate}}"><i class="fa fa-eye"></i></a>
                                        <a ng-click="procurementPlanningCtrl.ubah(data)" ng-if="data.ProcPlanStatusName == 'Plan' || data.ProcPlanStatusName == 'Delayed'" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></a>
                                        <a class="btn btn-flat btn-sm btn-danger" ng-if="data.ProcPlanStatusName == 'Plan' || data.ProcPlanStatusName == 'Delayed'" ng-click="procurementPlanningCtrl.hapus(data.ProcurementPlanID)" title="{{'BTN.HAPUS' | translate}}"><i class="fa fa-trash"></i></a>
                                        <a ng-if="data.ProcPlanStatusName == 'Plan' || data.ProcPlanStatusName == 'Delayed'" ng-click="procurementPlanningCtrl.publish(data)" class="btn btn-flat btn-sm" style="background-color: #8FBC8F;" title="{{'BTN.PUBLISH' | translate}}"><i class="fa fa-bullhorn"></i></a>
                                        <a ng-click="procurementPlanningCtrl.detailApproval(data)" ng-if="data.ProcPlanStatusName == 'Ongoing'" class="btn btn-flat btn-sm" style="background-color: #8FBC8F;" title="Detail Approval"><i class="fa fa-sitemap"></i></a>
                                    </td>
                                </tr>
                                <tr ng-if="procurementPlanningCtrl.plans.length === 0"> <td colspan="9"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Total items: {{procurementPlanningCtrl.totalItems}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sd-4 col-md-7" ng-if="procurementPlanningCtrl.totalItems > 10">
                    <ul uib-pagination total-items="procurementPlanningCtrl.totalItems" max-size="10"
                        ng-model="procurementPlanningCtrl.currentPage" items-per-page="procurementPlanningCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="procurementPlanningCtrl.jLoad(procurementPlanningCtrl.currentPage)"></ul>
                    
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">
                    <button disabled style="background-color: #ecb42f; width: 35px; height:30px; border:none;"><i class="fa fa-eye"></i></button> : <span style="margin-right: 10px;">{{'BTN.LIHAT' | translate}}</span>
                    <button disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class='fa fa-plus-circle'></i>&nbsp;</button> : {{'BTN.TAMBAH' | translate}}
                    <button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-edit"></i></button> : <span style="margin-right: 10px;">{{'BTN.UBAH' | translate}}</span>
                    <button disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-trash"></i></button> : <span style="margin-right: 10px;">{{'BTN.HAPUS' | translate}}</span>
                    <button disabled style="background-color: #8fbc8f; width: 35px; height:30px; border:none;"><i class="fa fa-bullhorn"></i></button> : <span style="margin-right: 10px;">{{'BTN.PUBLISH' | translate}}</span>
                </div>
            </div>
    </div>
</section>
