﻿<section class="content" ng-init="procurementPlanningSCMCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="#/dashboard-vendor"> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.PROC_PLAN' | translate}}</a></li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <h3 class="afta-font text-center">{{'LABEL.PROC_PLAN' | translate}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="margin-top: 5px;">
                    <div class="pull-right">
                        {{'LABEL.PENCARIAN' | translate}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pull-left">
                        <select class="form-control" ng-model="action" ng-change="procurementPlanningSCMCtrl.act(action)">
                            <option value="">{{'LABEL.PENCARIAN' | translate}}</option>
                            <option value="1">Local Number</option>
                            <option value="2">{{'LABEL.DESC' | translate}}</option>
                            <option value="3">Procurement Type</option>
                            <option value="5">Technical Focal Point</option>
                            <option value="6">Status</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group pull-left" ng-if="procurementPlanningSCMCtrl.action == '1' || procurementPlanningSCMCtrl.action == '2' || procurementPlanningSCMCtrl.action == '5'">
                        <input type="text" class="form-control" placeholder="{{'LABEL.FIND' | translate}}" ng-model="keyword">
                        <span class="input-group-btn">
                            <button type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" ng-click="procurementPlanningSCMCtrl.cari(keyword)" title="{{'LABEL.FIND' | translate}}'">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                    <select ng-if="procurementPlanningSCMCtrl.action == '3'" class="form-control" ng-model="materialService" ng-change="procurementPlanningSCMCtrl.ubahMaterialService(materialService)">
                        <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                        <option value="4491">Material</option>
                        <option value="4492">Service</option>
                    </select>

                    <select ng-if="procurementPlanningSCMCtrl.action == '6'" class="form-control" ng-model="status" ng-change="procurementPlanningSCMCtrl.ubahStatus(status)">
                        <option value="" disabled>{{'LABEL.PILIH' | translate}}</option>
                        <option value="1">Completed</option>
                        <option value="2">Reviewed</option>
                        <option value="3">Approval Review</option>
                        <option value="4">Cancelled</option>
                    </select>
                </div>
                <!--<div class="col-md-6">
                    <div class="pull-right">
                        <button type="button" class="btn btn-flat btn-primary" ng-click="procurementPlanningSCMCtrl.tambah()" title="{{'BTN.TAMBAH' | translate}}">
                            <i class='fa fa-plus-circle'></i>&nbsp;
                        </button>
                    </div>
                </div>-->
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px; min-width: 50px; vertical-align: middle;">No.</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">Local Number</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">{{'LABEL.DESC' | translate}}</th>
                                    <th class="text-center" style="width: 100px; min-width: 130px; vertical-align: middle;">Procurement Type</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">SCM Focal Point</th>
                                    <th class="text-center" style="width: 100px; min-width: 150px; vertical-align: middle;">Technical Focal Point</th>
                                    <th class="text-center" style="width: 100px; min-width: 90px; vertical-align: middle;">Status</th>
                                    <th class="text-center" style="width: 170px; min-width: 150px; vertical-align: middle;">{{'LABEL.ACT' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in procurementPlanningSCMCtrl.plans">
                                    <td class="text-center">{{procurementPlanningSCMCtrl.currentPage > 1 ? (procurementPlanningSCMCtrl.pageSize * (procurementPlanningSCMCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                    <td>{{data.LocalNumber ? data.LocalNumber:'-'}}</td>
                                    <td>{{data.Description}}</td>
                                    <td>
                                        <span ng-if="data.MaterialOrService == 4491">Material</span>
                                        <span ng-if="data.MaterialOrService == 4492">Service</span>
                                        <span ng-if="!data.MaterialOrService">-</span>
                                    </td>
                                    <td>{{data.SCMFocalPointName ? data.SCMFocalPointName : '-'}}</td>
                                    <td>{{data.TechFocalPointName}}</td>
                                    <td class="text-center">{{data.StatName ? data.StatName : '-'}}</td>
                                    <td class="text-center">
                                        <a ng-click="procurementPlanningSCMCtrl.ubah(data)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UBAH' | translate}}"><i class="fa fa-edit"></i></a>
                                        <a ng-click="procurementPlanningSCMCtrl.lihat(data)" class="btn btn-flat btn-sm btn-warning" title="{{'BTN.LIHAT' | translate}}"><i class="fa fa-eye"></i></a>
                                        <a ng-click="procurementPlanningSCMCtrl.detailApproval(data)" ng-if="data.StatName == 'Approval Review'" class="btn btn-flat btn-sm" style="background-color: #8FBC8F;" title="Detail Approval"><i class="fa fa-sitemap"></i></a>
                                        <a ng-click="procurementPlanningSCMCtrl.setuju(data)" ng-if="data.StatName == 'Reviewed' || data.StatName == 'Cancelled'" class="btn btn-flat btn-sm btn-success" title="{{'BTN.SETUJU' | translate}}"><i class="fa fa-check"></i></a>
                                        <a ng-click="procurementPlanningSCMCtrl.tolak(data)" ng-if="data.StatName == 'Reviewed' || data.StatName == 'Cancelled'" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.TOLAK' | translate}}"><i class="fa fa-close"></i></a>
                                        <!--<a class="btn btn-flat btn-sm btn-success" ng-if="data.IsActive == 0" ng-click="procurementPlanningSCMCtrl.aktif(data.ProcurementPlanID)" title="{{'BTN.AKTIF' | translate}}"><i class="fa fa-power-off"></i></a>
                                        <a ng-if="data.SCMStatusName == 'Review' && data.IsActive == 1" ng-click="procurementPlanningSCMCtrl.nonAktif(data.ProcurementPlanID)" class="btn btn-flat btn-sm btn-danger" title="{{'BTN.NONAKTIF' | translate}}"><i class="fa fa-power-off"></i></a>-->
                                    </td>
                                </tr>
                                <tr ng-if="procurementPlanningSCMCtrl.plans.length === 0"> <td colspan="9"> {{'LABEL.NO_DATA' | translate}}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" style="margin-top: 20px;">
                    <label>Total items: {{procurementPlanningSCMCtrl.totalItems}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sd-4 col-md-7" ng-if="procurementPlanningSCMCtrl.totalItems > 10">
                    <ul uib-pagination total-items="procurementPlanningSCMCtrl.totalItems" max-size="10"
                        ng-model="procurementPlanningSCMCtrl.currentPage" items-per-page="procurementPlanningSCMCtrl.pageSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="procurementPlanningSCMCtrl.jLoad(procurementPlanningSCMCtrl.currentPage)"></ul>

                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">
                    <button disabled style="background-color: #ecb42f; width: 35px; height:30px; border:none;"><i class="fa fa-eye"></i></button> : <span style="margin-right: 10px;">{{'BTN.LIHAT' | translate}}</span>
                    <button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-edit"></i></button> : <span style="margin-right: 10px;">{{'BTN.UBAH' | translate}}</span>
                    <button disabled style="background-color: #8fbc8f; width: 35px; height:30px; border:none;"><i class="fa fa-sitemap"></i></button> : <span style="margin-right: 10px;">Detail Approval</span>
                    <button disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class="fa fa-check"></i></button> : <span style="margin-right: 10px;">{{'BTN.SETUJU' | translate}}</span>
                    <button disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-close"></i></button> : <span style="margin-right: 10px;">{{'BTN.TOLAK' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
