﻿<div class="modal-content" ng-init="tolakSetujuProcPlanCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dissmiss="modal" ng-click="tolakSetujuProcPlanCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" style="margin-bottom: 30px;" ng-if="tolakSetujuProcPlanCtrl.setuju == 0">
            <h3 class="text-center">{{'MESSAGE.CONFIRM_DISAGREE' | translate}}</h3>
        </div>
        <div class="row" style="margin-bottom: 30px;" ng-if="tolakSetujuProcPlanCtrl.setuju == 1">
            <h3 class="text-center">{{'MESSAGE.CONFIRM_AGREE' | translate}}</h3>
        </div>
        <label>{{'LABEL.NOTES' | translate}}<span style="color: red;">*</span></label>
        <textarea ng-model="tolakSetujuProcPlanCtrl.remark" style="resize: none; width: 100%; height: 175px;"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="tolakSetujuProcPlanCtrl.batal()" title="{{'BTN.BATAL'|translate}}"><i class="fa fa-reply"></i></button>
        <button type="button" class="btn btn-success" ng-click="tolakSetujuProcPlanCtrl.simpan()" title="{{'BTN.SIMPAN'|translate}}"><i class="fa fa-save"></i></button>

    </div>
</div>