﻿<div class="modal-content" ng-init="editTemplateCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="editTemplateCtrl.cancel()">
			<span aria-hidden="true">&times;</span><span class="sr-only">{{'CLOSE'|translate}}</span>
		</button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'EDIT_TEMPLATE'|translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-10 col-xs-12 well center-block" style="float: none!important;">
				<div class="form-group">
					<div text-angular="text-angular" ta-disabled=false name="htmlcontent2" ng-model="editTemplateCtrl.TemplateDescription" ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-right">
			<button class="btn btn-sm btn-danger" ng-click="editTemplateCtrl.cancel()">
				<i class="fa fa-arrow-left"></i> {{'BACK'|translate}}
			</button>
			<button class="btn btn-sm btn-primary" ng-click="editTemplateCtrl.saveTemplate()">
				<i class="fa fa-save"></i> {{'SAVE'|translate}}
			</button>
		</div>
	</div>
</div>