﻿<style>
    .dl-horizontal dd {
        margin-left: 250px;
        padding-bottom: 5px;
    }

    .dl-horizontal dt {
        width: 250px;
    }
</style>
<section class="content" style="overflow: visible;" ng-init="DPVHSCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{DPVHSCtrl.TenderRefID}}/{{DPVHSCtrl.ProcPackType}}/{{DPVHSCtrl.nego[0].tender.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/negosiasi-vhs/{{DPVHSCtrl.TenderRefID}}/{{DPVHSCtrl.StepID}}/{{DPVHSCtrl.ProcPackType}}" class="active">
                {{'BREADCRUMB.NEGOSIASI_VHS' | translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/negosiasi-vhs-chat/{{DPVHSCtrl.Id}}/{{DPVHSCtrl.StepID}}/{{DPVHSCtrl.VendorID}}/{{DPVHSCtrl.Id}}/{{DPVHSCtrl.ProcPackType}}/{{DPVHSCtrl.TenderRefID}}" class="active">
                {{'BREADCRUMB.FORUM_NEGOSIASI' | translate}}
            </a>
        </li>
        <li><a class="active">{{'BREADCRUMB.DETAIL_PENAWARAN' | translate}}</a></li>
    </ol>
    <div class="container-fluid">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.DETAIL_PENAWARAN_VHS' | translate}}</h3>
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.PENGADAAN' | translate}}: {{DPVHSCtrl.nego[0].tender.tender.TenderName}}</h3>
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.REKANAN' | translate}}: {{DPVHSCtrl.nego[0].VendorName}}</h3>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <form role="form" name="formAdd">
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <pagination total-items="DPVHSCtrl.totalItems" page="DPVHSCtrl.currentPage" items-per-page="10" ng-show="DPVHSCtrl.totalItems > 10"
                                                    max-size="DPVHSCtrl.maxSize" on-select-page="DPVHSCtrl.jLoad(page)"></pagination>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center center-vertical" ng-if="DPVHSCtrl.nego[0].IsNego === false && DPVHSCtrl.nego[0].IsActive === true" colspan="4"></th>
                                                        <th class="text-center center-vertical" ng-if="DPVHSCtrl.nego[0].IsNego  === true || DPVHSCtrl.nego[0].IsActive === false" colspan="3"></th>
                                                        <th class="text-center center-vertical" colspan="2">Historical</th>
                                                        <th class="text-center center-vertical" colspan="2">EPV</th>
                                                        <th class="text-center center-vertical" colspan="2">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_PRICE' | translate}}</th>
                                                        <th class="text-center center-vertical" colspan="2">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PRICE' | translate}}</th>
                                                        <th class="text-center center-vertical" rowspan="2" width="50px">Action</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center center-vertical" width="20px">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.DESC_JOB' | translate}}</th>
                                                        <th class="text-center center-vertical" ng-if="DPVHSCtrl.nego[0].IsNego === false && DPVHSCtrl.nego[0].IsActive === true">{{'TABLE.GOODS_OFFERDETAIL.TERBUKA' | translate}}<input type="checkbox" ng-change="DPVHSCtrl.CheckedAll()" ng-model="DPVHSCtrl.IsOpenAll" /></th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.VOLUME' | translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE' | translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE' | translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE' | translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE' | translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE'|translate}}</th>
                                                        <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE'|translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="dp in DPVHSCtrl.nego">
                                                        <td class="middle-vertical">{{DPVHSCtrl.currentPage > 1 ? (DPVHSCtrl.pageSize * (DPVHSCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                        <td class="middle-vertical">
                                                            {{dp.ShortText}}
                                                        </td>
                                                        <td class="text-center middle-vertical" ng-if="dp.IsNego === false && DPVHSCtrl.nego[0].IsActive === true">
                                                            <input type="checkbox" ng-model="dp.IsOpen" ng-change="DPVHSCtrl.Checked(dp)" />
                                                        </td>
                                                        <td class="text-center center-vertical">{{dp.Quantity}}</td>
                                                        <td class="text-right middle-vertical">{{dp.HistoricalCurrency}} {{dp.HistoricalUnitPrice | currency: "" }}</td>
                                                        <td class="text-right middle-vertical">{{dp.HistoricalCurrency}} {{dp.HistoricalTotalPrice | currency: ""}}</td>
                                                        <td class="text-right middle-vertical">{{dp.EPVCurrency}} {{dp.EPVUnitPrice | currency: ""}}</td>
                                                        <td class="text-right middle-vertical">{{dp.EPVCurrency}} {{dp.EPVTotalPrice | currency: ""}}</td>
                                                        <td class="text-right middle-vertical">{{dp.UnitPriceVOE | currency:""+ dp.Currency +" "}}</td>
                                                        <td class="text-right middle-vertical">{{dp.TotalPriceVOE | currency:""+ dp.Currency +" "}}</td>
                                                        <td class="text-center center-vertical" ng-if="dp.UnitPrice !== null ">{{dp.UnitPrice | currency:""+ dp.Currency +" "}}</td>
                                                        <td class="text-center center-vertical" ng-if="dp.UnitPrice === null ">{{dp.Currency}} 0.00</td>
                                                        <td class="text-right middle-vertical" ng-if="dp.TotalPrice !== null">
                                                            {{dp.TotalPrice | currency:""+ dp.Currency +" "}}
                                                        </td>
                                                        <td class="text-right middle-vertical" ng-if="dp.TotalPrice === null">
                                                            {{dp.Currency}} 0.00
                                                        </td>
                                                        <td><a class="btn btn-sm btn-flat btn-primary" ng-if="dp.ID > 0" 
                                                               ng-click="DPVHSCtrl.history(dp)" title="{{'BTN.HISTORY_NEGO'|translate}}"><i class="fa fa-times-circle-o"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-right middle-vertical"><strong>{{'TABLE.GOODS_OFFERDETAIL.SUB_TOTAL' | translate}} : </strong></td>
                                                        <td ng-if="DPVHSCtrl.nego[0].IsNego === false && DPVHSCtrl.nego[0].IsActive === true"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td class="text-right middle-vertical"><strong title="Total Harga Historical">{{DPVHSCtrl.totalHistorical ? (DPVHSCtrl.totalHistorical| currency: "") : '-'}} </strong></td>
                                                        <td></td>
                                                        <td class="text-right middle-vertical"><strong title="Total Harga EPV">{{DPVHSCtrl.totalEPV ? (DPVHSCtrl.totalEPV| currency: "") : '-'}} </strong></td>
                                                        <td></td>
                                                        <td class="text-right middle-vertical"><strong>{{DPVHSCtrl.cost| currency: ""+ DPVHSCtrl.nego[0].Currency +" "}} </strong></td>
                                                        <td></td>
                                                        <td class="text-right middle-vertical"><strong>{{DPVHSCtrl.totalNego | currency: ""+ DPVHSCtrl.nego[0].Currency +" "}} </strong></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-7" ng-if="DPVHSCtrl.nego[0].IsNego !== true && DPVHSCtrl.nego[0].IsActive === true && DPVHSCtrl.overtime === true">
                                        <input type="checkbox" ng-model="DPVHSCtrl.generet" ng-click="DPVHSCtrl.generate()" /> <strong>{{'TABLE.GOODS_OFFERDETAIL.GENERATE_NEGOSIASI' | translate}}</strong> 
                                    </div>
                                    <div class="col-md-7" ng-if="!(DPVHSCtrl.nego[0].IsNego !== true && DPVHSCtrl.nego[0].IsActive === true && DPVHSCtrl.overtime === true)">
                                    </div>
                                    <div class="col-md-5" style="margin-top:18px !important;">
                                        <strong>{{'TABLE.GOODS_OFFERDETAIL.SELISIH_HARGA_REKANAN' | translate}}:</strong>
                                        <div class="pull-right" style="display:inline-block!important;">
                                            <strong>{{DPVHSCtrl.selisih | currency:""}}</strong>
                                        </div>
                                    </div><br />
                                    <strong>
                                        {{'TABLE.GOODS_OFFERDETAIL.PERSENTASE_PENURUNAN_HARGA' | translate}}:
                                        <div class="pull-right" style="display:inline-block!important;">
                                            {{DPVHSCtrl.presentase | number}}%
                                    </strong>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-7">
                                    <ul uib-pagination boundary-links="true" total-items="DPVHSCtrl.totalItems" ng-model="DPVHSCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="DPVHSCtrl.jLoad(DPVHSCtrl.currentPage)"></ul>
                                    <br />
                                    <label>{{'TABLE.GOODS_OFFERDETAIL.TOTAL_DATA' | translate}} : {{DPVHSCtrl.totalItems}}</label>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div class="col-md-6 pull-right text-right" style="padding-top: 15px;">
                                    <a class="btn btn-sm btn-flat btn-default" ng-click="DPVHSCtrl.back()"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK' | translate}}</a>
                                    &nbsp;
                                    <button  ng-if="DPVHSCtrl.nego[0].IsNego !== true && DPVHSCtrl.nego[0].IsActive === true && DPVHSCtrl.overtime === true" ng-click="DPVHSCtrl.save()" class="btn btn-sm btn-flat btn-primary"><i class="fa fa-save"></i>&nbsp;{{'BTN.SAVE' | translate}}</button>
                                   </div>
                            </div>
                            <div class="col-md-12" ng-if="DPVHSCtrl.nego[0].IsNego !== true && DPVHSCtrl.nego[0].IsActive === true && DPVHSCtrl.overtime === true">
                                <strong >{{'TABLE.GOODS_OFFERDETAIL.NOTE' | translate}}</strong>
                            </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>