﻿<div class="modal-content" ng-init="HistoryVHSCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="HistoryVHSCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font text-center">{{'BREADCRUMB.FORM_HISTORY_VHS'|translate}}</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="formAdd">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
                        <thead>
                            <tr>
                                <th class="text-center" width="20px">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate}}</th>
                                <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_NAME' | translate}}</th>
                                <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PRICE' | translate}}</th>
                                <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.HISTORY_NEGO' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pnb in HistoryVHSCtrl.dataHistory">
                                <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{HistoryVHSCtrl.VendorName}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{pnb.NegotiationPrice | currency:""}}</td>
                                <td class="text-center" style="vertical-align: middle;">Nego Ke {{$index + 1}}</td>
                            </tr>
                            <tr ng-if="HistoryVHSCtrl.nb.length === 0"><td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
       </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="HistoryVHSCtrl.batal()" title="{{'BTN.CANCEL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <!--<button type="button" class="btn btn-flat btn-success" ng-click="HistoryVHSCtrl.simpan()" title="{{'BTN.SAVE' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>-->
    </div>
</div>