﻿<div class="modal-content" ng-init="NegosiasiVHSPrintCtrl.init()">
	<div class="modal-body">
		<div class="row">
			<button class="btn btn-flat btn-default" title="Print Preview" ng-click="NegosiasiVHSPrintCtrl.makePDF()">
				<i class="glyphicon glyphicon-print"></i>
			</button>
		</div>
		<div id="print1" class="print-wrap">
			<div class="col-md-12">
				<h3 class="afta-font text-left">{{'BREADCRUMB.NEGO' | translate}}</h3>
				<hr />
			</div>
			<div class="col-md-8">
				<label class="control-label">{{'STARTDATE' | translate}} : {{NegosiasiVHSPrintCtrl.listTenderStep.StartDate}}</label>
			</div>
			<div class="col-md-4">
				<label class="control-label pull-left">{{'ENDDATE' | translate}} : {{NegosiasiVHSPrintCtrl.listTenderStep.EndDate}}</label>
			</div>
			<div class="col-md-12">
				<label class="control-label">{{'TENDER_NAME' | translate}} : {{NegosiasiVHSPrintCtrl.listTenderStep.tender.TenderName}}</label>
			</div>
			<div class="box-body">
				<br />
				<div class="col-md-12">
					<label ng-if="isEBidding == false">{{'DRYMN' | translate}}</label>
					<label ng-if="online && isEBidding == true">{{'DATA_PESERTA' | translate}}</label>
				</div>
				<div class="col-md-12">
					<div class="table table-responsive">
						<table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
							<thead>
								<tr>
									<th class="text-center" width="20px">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate}}</th>
									<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_NAME' | translate}}</th>
									<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.EVAL_SCORE' | translate}}</th>
									<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_PRICE' | translate}}</th>
									<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PRICE' | translate}}</th>
									<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.STATUS' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pnb in NegosiasiVHSPrintCtrl.nb">
									<td style="vertical-align: middle;">{{$index + 1}}</td>
									<td style="vertical-align: middle;">{{pnb.VendorName}}</td>
									<td style="vertical-align: middle;">{{pnb.scoreEval}}</td>
									<td style="vertical-align: middle;">{{pnb.VOENegoPrice | currency:""}}</td>
									<td style="vertical-align: middle;">{{pnb.NegotiationPrice | currency:""}}</td>
									<td style="vertical-align: middle;" ng-if="pnb.IsDeal == null">{{'TABLE.GOODS_OFFERDETAIL.BS' | translate }}</td>
									<td style="vertical-align: middle;" ng-if="pnb.IsDeal == 0">{{'TABLE.GOODS_OFFERDETAIL.TS' | translate }}</td>
									<td style="vertical-align: middle;" ng-if="pnb.IsDeal == 1">{{'TABLE.GOODS_OFFERDETAIL.S' | translate }}</td>
								</tr>
								<tr ng-if="NegosiasiVHSPrintCtrl.nb.length === 0"><td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="container-fluid"></div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-4 pull-right">
			<button ng-click="NegosiasiVHSPrintCtrl.backpengadaan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.BACK'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>
			</button>
		</div>
	</div>
</div>