﻿<section ng-init="NegosiasiVHSCtrl.init()" class="content" style="overflow: visible;">
	<ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{NegosiasiVHSCtrl.TenderRefID}}/{{NegosiasiVHSCtrl.ProcPackType}}/{{NegosiasiVHSCtrl.listTenderStep.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
		<li><a class="active">{{'BREADCRUMB.NEGOSIASI_VHS' | translate}}</a></li>
	</ol>
	<!-- tampilan pertama muncul -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<h3 class="afta-font text-left">{{'BREADCRUMB.NEGO' | translate}}</h3>
								<hr />
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<label class="control-label">{{'STARTDATE' | translate}} : {{NegosiasiVHSCtrl.listTenderStep.StartDate}}</label>
							</div>
							<div class="col-md-4">
								<label class="control-label pull-left">{{'ENDDATE' | translate}} : {{NegosiasiVHSCtrl.listTenderStep.EndDate}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label class="control-label">{{'TENDER_NAME' | translate}} : {{NegosiasiVHSCtrl.listTenderStep.tender.TenderName}}</label>
								<label class="pull-right text-red" ng-if="NegosiasiVHSCtrl.overtime == false">{{'BELUM_SAATNYA' | translate}}</label>
							</div>
						</div>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-6 text-left">
								<a class="btn btn-sm btn-flat btn-primary" ng-if="NegosiasiVHSCtrl.isAllowedEdit && NegosiasiVHSCtrl.flagSum === true" ng-click="NegosiasiVHSCtrl.do_summary()" title="{{'BTN.DO_SUMMARY' | translate}}"><i class="fa fa-play-circle-o"></i>{{'BTN.DO_SUMMARY' | translate}}</a>
								<a class="btn btn-sm btn-flat btn-warning" ng-if="NegosiasiVHSCtrl.isAllowedEdit && NegosiasiVHSCtrl.flagSum === false" ng-click="NegosiasiVHSCtrl.do_summary()" title="{{'BTN.CHANGE_SUMMARY' | translate}}"><i class="fa fa-play-circle-o"></i>{{'BTN.CHANGE_SUMMARY' | translate}}</a>
							</div>
						</div>
						<div class="row" style="padding-top: 5px!important;">
							<br />
							<div class="col-md-12">
								<label ng-if="isEBidding == false">{{'DRYMN' | translate}}</label>
								<label ng-if="online && isEBidding == true">{{'DATA_PESERTA' | translate}}</label>
							</div>
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
										<thead>
											<tr>
												<th class="text-center" width="20px">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate}}</th>
												<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_NAME' | translate}}</th>
												<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.EVAL_SCORE' | translate}}</th>
												<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_PRICE' | translate}}</th>
												<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PRICE' | translate}}</th>
												<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.STATUS' | translate}}</th>
												<th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.ACTION' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="pnb in NegosiasiVHSCtrl.nb">
												<td style="vertical-align: middle;">{{$index + 1}}</td>
												<td style="vertical-align: middle;">{{pnb.VendorName}}</td>
												<td style="vertical-align: middle;">{{pnb.scoreEval}}</td>
												<td style="vertical-align: middle;">{{pnb.VOENegoPrice | currency:""}}</td>
												<td style="vertical-align: middle;">{{pnb.NegotiationPrice | currency:""}}</td>
												<td style="vertical-align: middle;" ng-if="pnb.IsDeal == null">{{'TABLE.GOODS_OFFERDETAIL.BS' | translate }}</td>
												<td style="vertical-align: middle;" ng-if="pnb.IsDeal == 0">{{'TABLE.GOODS_OFFERDETAIL.TS' | translate }}</td>
												<td style="vertical-align: middle;" ng-if="pnb.IsDeal == 1">{{'TABLE.GOODS_OFFERDETAIL.S' | translate }}</td>
												<td class="text-center" style="vertical-align: middle;">
													<a class="btn btn-sm btn-flat btn-success" ng-if="NegosiasiVHSCtrl.isAllowedEdit && (pnb.ID == 0 ||pnb.ID > 0) && pnb.flagButton == true" ng-click="NegosiasiVHSCtrl.viewDetail($index, pnb, true, true)" title="{{'BTN.SEPAKAT_HARGA' | translate}}"><i class="fa fa-check-circle-o"></i></a>
													<a class="btn btn-sm btn-flat btn-primary" ng-if="NegosiasiVHSCtrl.isAllowedEdit && pnb.ID === 0 && pnb.flagButton == true" ng-click="NegosiasiVHSCtrl.viewDetail($index, pnb, true, false)" title="{{'BTN.MULAI_NEGO' | translate}}"><i class="fa fa-play-circle-o"></i></a>
                                                    <a class="btn btn-sm btn-flat btn-primary" ng-if="NegosiasiVHSCtrl.isAllowedEdit && pnb.ID > 0 && (!pnb.IsActive || pnb.IsNego) && !pnb.IsDeal && pnb.flagButton == true" ng-click="NegosiasiVHSCtrl.reOpen(pnb)" title="{{'BTN.REOPEN_NEGO'|translate}}"><i class="fa fa-play-circle-o"></i></a>
													<a class="btn btn-sm btn-flat btn-warning" ng-if="pnb.ID !== 0 && pnb.flagButton == true" ng-click="NegosiasiVHSCtrl.viewDetail($index, pnb, false)" title="{{'BTN.DETAIL_NEGO' | translate}}"><i class="fa fa-external-link"></i></a>
													<a class="btn btn-sm btn-flat btn-success" ng-if="pnb.ID !== 0 && pnb.flagButton == false" ng-click="NegosiasiVHSCtrl.detailApproval(pnb)" title="{{'BTN.DETAIL_APP' | translate}}"><i class="fa fa-sitemap"></i></a>
													<a class="btn btn-sm btn-flat btn-danger" ng-if="NegosiasiVHSCtrl.isAllowedEdit && pnb.ID !== 0 && pnb.flagButton == true && pnb.IsActive === true && NegosiasiVHSCtrl.overtime === true && pnb.IsNego == false" ng-click="NegosiasiVHSCtrl.endnego(pnb)" title="{{'BTN.AKHIRI_NEGO' | translate}}"><i class="fa fa-times"></i></a>
                                                    <a class="btn btn-sm btn-flat btn-primary" ng-if="NegosiasiVHSCtrl.isAllowedEdit && pnb.ID > 0 && pnb.flagButton == true" ng-click="NegosiasiVHSCtrl.history(pnb)" title="{{'BTN.HISTORY_NEGO'|translate}}"><i class="fa fa-times-circle-o"></i></a>

												</td>
											</tr>
											<tr ng-if="NegosiasiVHSCtrl.nb.length === 0"><td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td></tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<br />
							<hr />
							<div class="col-md-9">
								<button class="btn btn-flat btn-sm btn-success"><i class="fa fa-play-circle-o"></i></button>&nbsp<label> : {{'BTN.SN' | translate}}</label>&nbsp&nbsp
								<button class="btn btn-flat btn-sm btn-primary"><i class="fa fa-play-circle-o"></i></button>&nbsp<label> : {{'BTN.MN' | translate}}</label>&nbsp&nbsp
								<button class="btn btn-flat btn-sm btn-warning"><i class="fa fa-external-link"></i></button>&nbsp<label> : {{'BTN.DLN' | translate}}</label>&nbsp&nbsp
								<button class="btn btn-flat btn-sm btn-danger"><i class="fa fa-times"></i></button>&nbsp<label> : {{'BTN.AN' | translate}}</label>&nbsp&nbsp
							</div>
							<div class="col-md-3">
								<div class="text-right">
									<a ng-click="NegosiasiVHSCtrl.backpengadaan()" class="btn btn-sm btn-flat btn-primary"><i class="fa fa-arrow-circle-left"></i>&nbsp;{{'BTN.BACK' | translate}}</a>&nbsp;
									<button class="btn btn-flat btn-default" title="Print Preview" ng-click="NegosiasiVHSCtrl.printExport()">
										<i class="glyphicon glyphicon-print"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
