﻿<div class="modal-content" ng-init="SummaryVHSCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="SummaryVHSCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font">{{'BREADCRUMB.FORM_SUMMARY'|translate}}</h3>
    </div>
    <div class="modal-body">
        <form role="form" name="formAdd">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
                        <thead>
                            <tr>
                                <th class="text-center" width="20px">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate}}</th>
                                <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_NAME' | translate}}</th>
                                <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.STATUS' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pnb in SummaryVHSCtrl.nb">
                                <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                <td class="text-center" style="vertical-align: middle;">{{pnb.VendorName}}</td>
                                <td ng-if="pnb.NegotiationPrice !== 0" class="text-center" style="vertical-align: middle;">
                                    <input type="checkbox" ng-model="pnb.IsCheckDeal">{{'TABLE.GOODS_OFFERDETAIL.S' | translate}}
                                </td>
                                <td ng-if="pnb.NegotiationPrice === 0" class="text-center" style="vertical-align: middle;">
                                    <input disabled type="checkbox" title="{{'TABLE.GOODS_OFFERDETAIL.HARGA_NEGO_NOL' | translate}}" />

                                </td>
                            </tr>
                            <tr ng-if="SummaryVHSCtrl.nb.length === 0"><td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
       </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="SummaryVHSCtrl.batal()" title="{{'BTN.CANCEL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="SummaryVHSCtrl.simpan()" title="{{'BTN.SAVE' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>