﻿<div class="modal-content" ng-init="editEmailCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="editEmailCtrl.onCancelClick()" title="Keluar"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'UBAH_KONTEN_EMAIL' | translate}} - {{editEmailCtrl.konten_email.Name}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-12 well center-block" style="float: none!important;">
                <div class="form-group">
                    <label>{{'SUBJECT'|translate}}</label>
                    <input class="form-control" ng-model="editEmailCtrl.konten_email.EmailSubject" />
                </div>
                <br />
                <div class="form-group">
                    <label>{{'KONTEN'|translate}}</label>
                    <textarea rows="10" class="form-control" ng-model="editEmailCtrl.konten_email.EmailContent1"></textarea>
                </div>
                <div class="form-group">
                    <label>{{'DAFTAR_VARIABEL'|translate}}:</label>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="center-vertical" style="width: 20px; min-width: 20px;">{{'NO'|translate}}</th>
                                <th class="center-vertical" style="width: 150px; min-width: 150px;">{{'NAMA_VARIABEL'|translate}}</th>
                                <th class="center-vertical">{{'KETERANGAN'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="vel in editEmailCtrl.variabel_email_lokals">
                                <td class="center-vertical">{{$index + 1}}</td>
                                <td class="middle-vertical">#{{vel.Name}}</td>
                                <td class="middle-vertical">{{vel.Notes}}</td>
                            </tr>
                            <tr ng-if="editEmailCtrl.variabel_email_lokals.length === 0">
                                <td colspan="3">{{'TIDAK_ADA_VARIABEL' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="editEmailCtrl.onSimpanClick()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-default" ng-click="editEmailCtrl.onCancelClick()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>