﻿<style>
    hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

     .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div class="modal-content" ng-init="UbahwarningLetterCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close" title="{{'KELUAR'|translate}}" ng-click= "UbahwarningLetterCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'CHANGE_TEMPLATE_CONTENT'|translate}}</h3>
    </div>
    <div class="modal-body">
                             
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'LETTERDATE'|translate}}</label>
                    <div class="col-md-8">
                        <div class="input-group date form_datetime">
                            <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="UbahwarningLetterCtrl.isCalendarOpened[0]" ng-model="UbahwarningLetterCtrl.warningLetter.CreatedDate" ng-click="UbahwarningLetterCtrl.openCalendar(0)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="UbahwarningLetterCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'LETTERNOMOR'|translate}} </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="UbahwarningLetterCtrl.letterNumber" disabled/>
                    </div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <input type="radio" name="lang" ng-change="UbahwarningLetterCtrl.chooseLanguage('IN')" ng-model="UbahwarningLetterCtrl.langSelected" value="IN" />{{'IN' | translate}}
                </div>
                <div class="col-md-6">
                    <input type="radio" name="lang" ng-change="UbahwarningLetterCtrl.chooseLanguage('EN')" ng-model="UbahwarningLetterCtrl.langSelected" value="EN" />{{'EN' | translate}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'LOCATION'|translate}} </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="UbahwarningLetterCtrl.location" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">                       
            <div class="col-md-6" >
                <div class="form-group">
                    <label class="control-label col-md-4">{{'JENIS_PERINGATAN'|translate}}</label>
                    <div class="col-md-8" ng-if="UbahwarningLetterCtrl.selectedLang =='IN'">                     
                        <select class="form-control input-sm" ng-model="UbahwarningLetterCtrl.selectedWarningType"
                                ng-options="item as item.Name | translate for item  in UbahwarningLetterCtrl.listWarningType" ng-change="UbahwarningLetterCtrl.onChange()"></select>
                    </div>
                    <div class="col-md-8" ng-if="UbahwarningLetterCtrl.selectedLang =='EN'">                        
                        <select class="form-control input-sm" ng-model="UbahwarningLetterCtrl.selectedWarningType_EN"
                                ng-options="item as item.Name | translate for item  in UbahwarningLetterCtrl.listWarningType_EN" ng-change="UbahwarningLetterCtrl.onChangeEn()" ></select>
                    </div>
                </div>
            </div>
            <div class="col-md-6" ng-if="UbahwarningLetterCtrl.showSuspendOps">
                <div class="col-md-6">
                    <input type="checkbox" ng-model="UbahwarningLetterCtrl.isSuspendByField"/>&nbsp;{{'SUSPEND_BIDANG' | translate}}
                </div>
                <div class="col-md-6">
                    <input type="checkbox" ng-model="UbahwarningLetterCtrl.isSuspendContract"/>&nbsp;{{'SUSPEND_KONTRAK' | translate}}
                </div>
            </div>
            <div class="col-md-6" ng-if="!UbahwarningLetterCtrl.showSuspendOps && (UbahwarningLetterCtrl.rest === 'Barang' || UbahwarningLetterCtrl.rest === 'VHS')">
                <div class="col-md-12">
                    <input type="checkbox" ng-disabled="UbahwarningLetterCtrl.isFromDelayedPO" 
                           ng-model="UbahwarningLetterCtrl.isByCommodity" />&nbsp;{{'BY_COMMODITY' | translate}}
                </div>
            </div>
        </div>
       
        <div class="row" ng-if="UbahwarningLetterCtrl.showDate !== false" >
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'TABLE.STARTDATE' | translate}}</label>
                    <div class="col-md-8">
                        <div class="input-group date form_datetime">
                            <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="UbahwarningLetterCtrl.isCalendarOpened[1]" ng-model="UbahwarningLetterCtrl.warningLetter.StartDate" ng-click="UbahwarningLetterCtrl.openCalendar(1)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="UbahwarningLetterCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label class="control-label col-md-4">{{'TABLE.ENDDATE' | translate}}</label>
                    <div class="col-md-8">
                        <div class="input-group date form_datetime">
                            <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="UbahwarningLetterCtrl.isCalendarOpened[2]" ng-model="UbahwarningLetterCtrl.warningLetter.EndDate" ng-click="UbahwarningLetterCtrl.openCalendar(2)" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="UbahwarningLetterCtrl.openCalendar(2)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <hr />
        <div class="row" style="padding-bottom:10px;">
            <div class="col-md-12">
                <button type="button" class="btn btn-flat btn-primary" ng-click="UbahwarningLetterCtrl.jLoad(1)">
                    <i class='fa fa-plus-circle'></i>&nbsp; {{'LANJUT_DATA' | translate}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-xs-12 well center-block" style="float: none!important;">
                <div class="form-group">
                    <!--<p ng-bind-html="UbahwarningLetterCtrl.trusteddepartemen" name="editor1" rows="10" cols="80"></p>-->
                    <div text-angular="text-angular" ta-disabled=false name="htmlcontent2" ng-model="UbahwarningLetterCtrl.trusteddepartemen"
                         ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <!--<center>-->
            <!--<button type="button" class="btn btn-flat btn-primary" ng-click="UbahwarningLetterCtrl.jLoad(1)">
            <i class='fa fa-plus-circle'></i>&nbsp; {{'LANJUT_DATA' | translate}}
        </button>-->
            <!--</center>-->
            <div class="col-md-12" style="text-align:right;">
                <button type="button" class="btn btn-flat btn-default" ng-click="UbahwarningLetterCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
                <button ng-if="UbahwarningLetterCtrl.isActive === true" type="button" class="btn btn-flat btn-primary" ng-click="UbahwarningLetterCtrl.SimpanClick()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
            </div>
        </div>
        <!--<div ng-if="UbahwarningLetterCtrl.showReason1 === true" class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2">{{'REASON1'|translate}}</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="UbahwarningLetterCtrl.reason1" />
                    </div>
                </div>
            </div>         
        </div>
        <div ng-if="UbahwarningLetterCtrl.showKonsekuensi === true" class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2">{{'KONSEKUENSI'|translate}}</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="UbahwarningLetterCtrl.konsekuensi" />
                    </div>
                </div>
            </div>
        </div>      
        <div ng-if="UbahwarningLetterCtrl.showPanduan === true" class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label col-md-2">{{'PANDUAN'|translate}}</label>
                    <div class="col-md-10">
                        <textarea type="text" class="form-control" ng-model="UbahwarningLetterCtrl.panduan" />
                    </div>
                </div>
            </div>
        </div>-->
       
        
        <!--<div class="row">
            <center>
                <button type="button" class="btn btn-flat btn-primary" ng-click="UbahwarningLetterCtrl.jLoad(1)">
                    <i class='fa fa-plus-circle'></i>&nbsp; {{'LANJUT_DATA' | translate}}
                </button>
            </center>
        </div>
        <div class="row">
            <div class="col-sm-10 col-xs-12 well center-block" style="float: none!important;">
                 <div class="form-group">
                     <p ng-bind-html="UbahwarningLetterCtrl.trusteddepartemen" name="editor1" rows="10" cols="80"></p>
                 </div>
            </div>
        </div>-->
    </div>
    <div class="modal-footer" >
        <!--<button ng-if="UbahwarningLetterCtrl.isActive === true"  type="button" class="btn btn-flat btn-default" ng-click="UbahwarningLetterCtrl.batal()" title="{{'BATAL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button ng-if="UbahwarningLetterCtrl.isActive === true" type="button" class="btn btn-flat btn-primary" ng-click="UbahwarningLetterCtrl.SimpanClick()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>-->
    </div>
</div>