﻿<!-- Main content -->
<div ng-init="masterWbsOacCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a>{{'BREADCRUMB.MASTER' | translate}}</a></li>
            <li><a>{{'BREADCRUMB.WBSCODE' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="col-md-1">
                            <div class="text-left">
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="afta-font judul-datatabel">{{'TITLE_WBSCODE' | translate}}</h3>
                            </div>
                            <div class="col-md-5">
                                <form method="post" role="form" ng-submit="masterWbsOacCtrl.searchData()">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="{{'SEARCH_KEY' | translate}}" ng-model="masterWbsOacCtrl.keyword" />
                                        <span class="input-group-btn">
                                            <button ng-click="masterWbsOacCtrl.loadWbsOac()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <pagination ng-show="masterWbsOacCtrl.totalItems > 10" total-items="masterWbsOacCtrl.totalItems" page="masterWbsOacCtrl.currentPage" items-per-page="10" max-size="masterWbsOacCtrl.maxSize" on-select-page="masterWbsOacCtrl.loadWbsOac(page)"></pagination>
                            </div>
                            <div class="col-md-5">
                                <a class="btn btn-flat btn-primary turun-15" style="float:right!important" ng-if="masterWbsOacCtrl.allowAdd" ng-click="masterWbsOacCtrl.addWbsOac()" title="{{'ADD' | translate}}">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle; width: 20px; min-width: 20px;">{{'TABLE.NO' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; width: 400px; min-width: 400px;">{{'TABLE.WBSCODE' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.DESCRIPTION' | translate}}</th>
                                                <th class="text-center" style="vertical-align: middle; width: 90px; min-width: 90px;">{{'TABLE.ACTION' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in masterWbsOacCtrl.dataWbsOac">
                                                <td style="vertical-align: middle;">{{masterWbsOacCtrl.currentPage > 1 ? (masterWbsOacCtrl.maxSize * (masterWbsOacCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{data.WBSCode | translate}}</td>
                                                <td style="vertical-align: middle;">{{data.Description | translate}}</td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <button ng-if="masterWbsOacCtrl.allowDelete && data.IsActive" ng-click="masterWbsOacCtrl.inactivateWbsOac(data.ID,data.IsUsed)" class="btn btn-flat btn-sm btn-danger" title="{{'INACTIVATE' | translate }}">
                                                        <i class='fa fa-times-circle'></i>
                                                    </button>
                                                    <a ng-if="masterWbsOacCtrl.allowDelete && !data.IsActive" ng-click="masterWbsOacCtrl.activateWbsOac(data.ID)" class="btn btn-flat btn-sm btn-success" title="{{'ACTIVATE' | translate }}">
                                                        <i class='fa fa-check-square-o'></i>
                                                    </a>
                                                    <a ng-if="masterWbsOacCtrl.allowEdit && !data.IsActive" ng-click="masterWbsOacCtrl.editWbsOac(data.ID)" class="btn btn-flat btn-sm btn-warning" title="{{'EDIT' | translate}}">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr ng-if="masterWbsOacCtrl.totalItems === 0">
                                                <td colspan="5">{{'NO_DATA' | translate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <ul uib-pagination boundary-links="true" total-items="masterWbsOacCtrl.totalItems" ng-model="masterWbsOacCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="masterWbsOacCtrl.pageChanged()"></ul><br />
                                <!--<pagination ng-show="masterWbsOacCtrl.totalItems > 10" total-items="masterWbsOacCtrl.totalItems" page="masterWbsOacCtrl.currentPage" items-per-page="10" max-size="masterWbsOacCtrl.maxSize" on-select-page="masterWbsOacCtrl.loadWbsOac(page)"></pagination><br />-->
                                <label>{{'TOTAL_DATA' | translate }} : {{masterWbsOacCtrl.totalItems}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/ng-template" id="addModalWbsOac.html">
    <div class="modal-content">
        <form>
            <div class="modal-header">
                <h3 class="afta-font">{{'ADD_WBSCODE' | translate }}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-gorup">
                            <label>{{'WBSCODE_NAME'| translate }}</label>
                            <input type="text" class="form-control" ng-model="addWbsOacCtrl.wbsCode" required />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'WBSCODE_DESCRIPTION' | translate}}</label>
                            <textarea ng-model="addWbsOacCtrl.deskripsi" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-danger" ng-click="addWbsOacCtrl.closeModal()" title="{{'BACK'|translate}}">
                    <i class="fa fa-reply"></i>
                </button>
                <button type="submit" class="btn btn-flat btn-success" ng-click="addWbsOacCtrl.createWbsOac()" title="{{'SAVE'|translate}}">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="editModalWbsOac.html">
    <div class="modal-content">
        <form>
            <div class="modal-header">
                <h3 class="afta-font">{{'EDIT_WBSCODE_TITLE' | translate}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-gorup">
                            <label>{{'WBSCODE_NAME' | translate}}</label>
                            <input type="text" class="form-control" ng-model="editWbsOacCtrl.wbsCode" required />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'WBSCODE_DESKRIPSI' | translate}}</label>
                            <textarea ng-model="editWbsOacCtrl.deskripsi" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-danger" ng-click="editWbsOacCtrl.closeModal()" title="{{'BACK'|translate}}">
                    <i class="fa fa-reply"></i>
                </button>
                <button type="submit" class="btn btn-flat btn-success" ng-click="editWbsOacCtrl.updateWbsOacSave()" title="{{'SAVE'|translate}}">
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </form>
    </div>
</script>


<script type="text/ng-template" id="inactivateModalWbsOac.html">
    <div class="model-content">
        <div class="modal-header">
            <h3 class="box-title">{{'INACTIVATE_TITLE' | translate}}</h3>
        </div>
        <div class="modal-body">
            <h4 style="text-align: left;">{{'INACTIVATE_CONFIRM' | translate}}</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="inactivateWbsOacCtrl.closeModal()" title="{{'BACK'|translate}}">
                <i class="fa fa-reply"></i>
            </button>
            <button type="submit" class="btn btn-flat btn-success" ng-click="inactivateWbsOacCtrl.inactivateWbsOacSave()" title="{{'SAVE'|translate}}">
                <i class="fa fa-save"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="activateModalWbsOac.html">
    <div class="model-content">
        <div class="modal-header">
            <h3 class="box-title">{{'ACTIVATE_TITLE' | translate}}</h3>
        </div>
        <div class="modal-body">
            <h4 style="text-align: left;">{{'ACTIVATE_CONFIRM' | translate}}</h4>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="activateWbsOacCtrl.closeModal()" title="{{'BACK'|translate}}">
                <i class="fa fa-reply"></i>
            </button>
            <button type="submit" class="btn btn-flat btn-success" ng-click="activateWbsOacCtrl.activateWbsOacSave()" title="{{'SAVE'|translate}}">
                <i class="fa fa-save"></i>
            </button>
        </div>

    </div>
</script>

<script>
	$(document).ready(function () {
		$('[data-toggle="popover"]').popover({ html: true, placement: "right" });
		//        $("[data-toggle='popover']").popover('show');
	});

</script>