﻿<section class="content" ng-init="epbCtrl.init()" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{epbCtrl.tenderRefID}}/{{epbCtrl.procPackType}}/{{epbCtrl.tenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
		<li><a class="active">{{epbCtrl.tenderStepData.step.TenderStepName |translate}}</a></li>
	</ol>
	<div id="divEvaluasiHarga" class="container-fluid">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">

				<div class="box box-info">
					<div class="box-body">
						<div class="row" id="divInfo">
							<div class="col-md-12 post post-header-line" style="padding-bottom: 5px;">
								<h3 class="afta-font" style="margin-top: 5px!important;">
									{{epbCtrl.tenderStepData.step.TenderStepName |translate}}
								</h3>
								<label>{{epbCtrl.tenderStepData.tender.TenderName |translate}}</label><br />
								<label class="text-red" ng-if="epbCtrl.tenderStepData.tender.IsCancelled"><i>({{'KET_BATAL'|translate}})</i></label>
							</div>
						</div>
						<div class="row" style="padding-top: 3px;">
							<div class="col-md-6">
								<span class="time pull-left" style="color: black;"><i class="fa fa-tags"></i>{{'TGL_MULAI'|translate}} : {{epbCtrl.tenderStepData.StartDate | date : "dd/MM/yyyy"}}</span>
							</div>
							<div class="col-md-6">
								<span class="time pull-right" style="color: black;"><i class="fa fa-tags"></i>{{'TGL_SELESAI'|translate}} : {{epbCtrl.tenderStepData.EndDate | date : "dd/MM/yyyy"}}</span>
							</div>
						</div>
						<div id="divSummary" class="row" style="padding-top: 20px;">
							<div class="col-md-6">
								<a ng-click="epbCtrl.lihatSummary()" class="btn btn-flat btn-sm btn-info pull-left" title="{{'LIHAT_SUMMARY'|translate}}"><i class="fa fa-eye"></i> </a>
							</div>
							<div class="col-md-6">
								<button ng-disabled="!epbCtrl.isAllowedEdit || !epbCtrl.isProcess || epbCtrl.noEvaluation || epbCtrl.tenderStepData.tender.IsCancelled" ng-click="epbCtrl.buatSummary()" type="button" class="btn btn-flat btn-sm btn-success pull-right" title="{{'BUAT_SUMMARY'|translate}}">
									<i class="fa fa-pencil"></i>
								</button>
								<button ng-click="epbCtrl.lakukanEvaluasi()" type="button" class="btn btn-flat btn-sm btn-success pull-right" title="{{'LAKUKAN_EVALUASI'|translate}}">
									<i class="fa fa-check"></i>
								</button>
							</div>
						</div>
						<div class="row" style="padding-top: 10px!important;">
							<div class="col-md-12">
								<div class="table table-responsive">
									<table class="table table-bordered table-striped">
										<thead>
											<tr>
												<th class="center-vertical" width="20px">{{'TABLE.NO'|translate}}</th>
												<th class="center-vertical">{{'TABLE.REKANAN'|translate}}</th>
												<th class="center-vertical" style="width: 85px;">{{'TABLE.SKOR'|translate}}</th>
												<th ng-show="epbCtrl.isItemize" class="center-vertical" style="width: 20px;">Award</th>
                                                <!--<th class="center-vertical" style="width: 100px;">Delivery Date</th>-->
                                                <!--<th class="center-vertical" style="width: 20px;">Approval DD Status</th>-->
                                            </tr>
										</thead>
                                        <tbody>
                                            <tr ng-repeat="pe in epbCtrl.evaluasi.GoodsOfferEvaluationVendors">
                                                <td class="center-vertical">{{$index + 1}}</td>
                                                <td class="middle-vertical">{{pe.VendorName}}</td>
                                                <td class="center-vertical">{{pe.Score}}</td>
                                                <td ng-show="epbCtrl.isItemize" class="center-vertical">
                                                    <button ng-click="epbCtrl.viewItemPRAward(pe)" type="button" class="btn btn-flat btn-xs btn-warning" title="{{'LIHAT_ITEM'|translate}}">
                                                        <i class="fa fa-star"></i>
                                                    </button>
                                                </td>
                                                <!--<td class="center-vertical">
                                                    <button ng-click="epbCtrl.viewItemDeliveryDate(pe)" type="button" class="btn btn-flat btn-xs btn-info" title="Delivery Date">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                    <button ng-if="pe.IsNeedDeliveryDateApproval" ng-click="epbCtrl.detailApprovalDeliveryDate(pe)" type="button" class="btn btn-flat btn-xs btn-info" title="{{'DETAIL_APPROVAL_DD'|translate}}">
                                                        <i class="fa fa-list"></i>
                                                    </button>
                                                    <button ng-if="pe.allowSendDDApproval && epbCtrl.isAllowedEdit" ng-click="epbCtrl.sendApproval(pe)" type="button" class="btn btn-flat btn-xs btn-success" title="{{'KIRIM_APPROVAL' | translate}}">
                                                        <i class="fa fa-paper-plane"></i>
                                                    </button>
                                                </td>-->
                                                <!--<td class="center-vertical">{{pe.ddApprovalStatus | translate}}</td>-->
                                            </tr>
                                            <tr ng-if="epbCtrl.noEvaluation"><td colspan="4">{{'BELUM_ADA_EVALUASI'|translate}}</td></tr>
                                        </tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<br />
							<hr />
							<div class="col-md-12">
								<div class="text-right">
									<a href="#/data-pengadaan/tahapan/{{epbCtrl.tenderRefID}}/{{epbCtrl.procPackType}}/{{epbCtrl.tenderID}}" class="btn btn-sm btn-flat btn-primary" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                                    <button type="button" title="{{'PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="epbCtrl.print()">
                                        <i class='fa fa-print'></i>&nbsp;
                                    </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>