<div class="modal-content" ng-init="prAwardCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="prAwardCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'PILIH_PEMENANG_ITEM'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'PEMENANG_ITEM'|translate}} : </label>
                        <label ng-if="prAwardCtrl.awardedVendorName" class="control-label">
                            {{prAwardCtrl.awardedVendorName}}
                        </label>
                        <label ng-if="!prAwardCtrl.awardedVendorName" class="control-label text-red">
                            {{'NO_PEMENANG'|translate}}
                        </label>
                        <br />
                        <label class="control-label">{{'DESKRIPSI_ITEM'|translate}} : </label>
                        <p>
                            {{prAwardCtrl.itemPR.ShortText}} {{prAwardCtrl.itemPR.ItemText}} {{prAwardCtrl.itemPR.MaterialPOText}} {{prAwardCtrl.itemPR.HeaderNote}} {{prAwardCtrl.itemPR.ItemNote}} {{prAwardCtrl.itemPR.DeliveryText}} {{prAwardCtrl.itemPR.NoteForBuyer}}
                        </p>
                        <br/>
                        <label class="control-label">{{'DAFTAR_PENAWARAN'|translate}} : </label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" rowspan="2">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center" rowspan="2"> Supplier Name</th>
                                        <th class="text-center" rowspan="2">Unit Cost</th>
                                        <th class="text-center" rowspan="2">Total Cost</th>
                                        <th class="text-center" rowspan="2">Total Cost (USD)</th>
                                        <th class="text-center" rowspan="2">Lead Time (days)</th>
                                        <th class="text-center" colspan="{{prAwardCtrl.criterias.length + 1}}">Score</th>
                                        <th class="text-center" rowspan="2">{{'ALTERNATIVE' | translate}}</th>
                                        <th class="text-center" rowspan="2">{{'REMARK' | translate}}</th>
                                        <th class="text-center" rowspan="2">{{'DOWNLOAD' | translate}}</th>
                                        <th class="text-center" rowspan="2">Action</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center" ng-repeat="crit in prAwardCtrl.criterias">
                                            {{crit.CriteriaName}} ({{crit.Weight}}%)
                                        </th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="oe in prAwardCtrl.offerEntries">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td ng-class="{'text-bold':oe.isWinner}" style="width: 180px; min-width: 180px;">
                                            {{oe.VendorName}} <i class="fa fa-star" ng-if="oe.isWinner"></i>
                                        </td>
                                        <td style="text-align:right; width: 150px; min-width: 150px;">{{oe.CurrencySymbol}} {{oe.UnitPrice | currency : ''}}</td>
                                        <td style="text-align:right; width: 150px; min-width: 150px;">{{oe.CurrencySymbol}} {{oe.TotalPrice | currency : ''}}</td>
                                        <td style="text-align:right; width: 150px; min-width: 150px;">USD {{oe.TotalPriceInUSD | currency : ''}}</td>
                                        <td class="text-center">{{oe.LeadTime}}</td>
                                        <!--<td class="text-center" style="width: 110px; min-width: 110px;">{{oe.PriceScore.toFixed(2)}} ({{oe.WeightedPriceScore.toFixed(2)}})</td>-->
                                        <!--<td class="text-center" style="width: 110px; min-width: 110px;">{{oe.LeadTimeScore.toFixed(2)}} ({{oe.WeightedLeadTimeScore.toFixed(2)}})</td>-->
                                        <td class="text-center" style="width: 110px; min-width: 110px;" ng-repeat="det in oe.ScoreDetails">
                                            {{det.Score.toFixed(2)}} ({{det.CalculatedScore.toFixed(2)}})
                                        </td>
                                        <td class="text-center" style="width: 110px; min-width: 110px;">{{oe.TotalScore.toFixed(2)}}</td>
                                        <td style="width: 150px; min-width: 150px;">{{oe.Alternative}}</td>
                                        <td style="width: 150px; min-width: 150px;">{{oe.Remark}}</td>
                                        <td class="text-center">
                                            <a ng-show="oe.DocUrl" class="btn btn-xs btn-flat btn-primary" title="{{'DOWNLOAD' | translate}}"
                                               href="{{prAwardCtrl.folderFile + oe.DocUrl}}" target="_blank"><i class="fa fa-download"></i></a>
                                        </td>
                                        <td class="text-center">
                                            <button ng-disabled="!prAwardCtrl.isProcess || !prAwardCtrl.isAllowedEdit" ng-show="oe.UnitPrice > 0 && !oe.isWinner" class="btn btn-xs btn-success" ng-click="prAwardCtrl.setItemAward(oe)" title="{{'PILIH_SEBAGAI_PEMENANG_ITEM' | translate}}"><i class="fa fa-star"></i> {{'PILIH' | translate}}</button>
                                            <button ng-disabled="!prAwardCtrl.isProcess || !prAwardCtrl.isAllowedEdit" ng-show="oe.isWinner" class="btn btn-xs btn-danger" ng-click="prAwardCtrl.setItemAward(null)" title="{{'BATAL' | translate}}"><i class="fa fa-times"></i> {{'BATAL' | translate}}</button>
                                        </td>
                                    </tr>
                                    <tr ng-if="prAwardCtrl.offerEntries.length === 0">
                                        <td colspan="5">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-sm btn-default" ng-click="prAwardCtrl.cancel()" title="{{'TUTUP' | translate}}"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>
</div>