﻿<div class="modal-content" ng-init="summaryCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="summaryCtrl.tutup()" title="{{'TUTUP'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'SUMMARY'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>{{'TGL_DOKUMEN' | translate}}</dt>
                            <dd>{{summaryCtrl.documentDate | date : "dd MMM yyyy"}}</dd>
                            <dt ng-show="summaryCtrl.documentUrl">{{'DOWNLOAD_DOKUMEN' | translate}}</dt>
                            <dd ng-show="summaryCtrl.documentUrl"><a href="{{summaryCtrl.folderFile + summaryCtrl.documentUrl}}" target="_blank" class="label label-flat label-sm btn-primary"><i class="fa fa-download"></i> {{'DOWNLOAD'|translate}}</a>
                        </dl>
                        <div class="row">
                            <div class="col-md-12">
                                <p ng-bind-html="summaryCtrl.summary"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="summaryCtrl.tutup()" class="btn btn-sm btn-flat btn-primary" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
    </div>
</div>

