﻿<section class="content" ng-init="AdministrasiAssPrequalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.VERIFICATION'|translate}}</a></li>
        <li><a>{{'BREADCRUMB.ADMINISTRATION_DATA'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.ADMINISTRATION_DATA'|translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover">
                                            <tr>
                                                <th>{{'DATA.USER_EMAIL'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.EmailPrequal !== null">{{AdministrasiAssPrequalCtrl.EmailPrequal}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.EmailPrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr>
                                                <th>{{'DATA.COMPANY_NAME'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.VendorNamePrequal !== null">{{AdministrasiAssPrequalCtrl.VendorNamePrequal}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.VendorNamePrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr ng-if="AdministrasiAssPrequalCtrl.CountryPrequal == 'IDN'">
                                                <th>{{'DATA.COMPANY_TYPE'|translate}}</th>
                                                <td>{{AdministrasiAssPrequalCtrl.BusinessVendor | translate}}</td>
                                            </tr>
                                            <tr ng-if="AdministrasiAssPrequalCtrl.contact.Vendor.SysReference1!=null">
                                                <th>{{'DATA.SUPPLIER_TYPE'|translate}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.PemasokPrequal !== null">{{AdministrasiAssPrequalCtrl.PemasokPrequal | translate}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.PemasokPrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr>
                                                <th>{{'DATA.BUSINESS_TYPE'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.TipePrequal !== null">{{AdministrasiAssPrequalCtrl.TipePrequal | translate}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.TipePrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr ng-if="AdministrasiAssPrequalCtrl.CountryPrequal == 'IDN'">
                                                <th>{{'DATA.ASOSIASI'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.Associate !== null">{{AdministrasiAssPrequalCtrl.NamaAsosiasi}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.Associate === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>

                                            <tr ng-if="AdministrasiAssPrequalCtrl.CountryPrequal == 'IDN'">
                                                <th>{{'DATA.NPWP_DOC'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.NpwpUrlPrequal !== null"><a href="{{AdministrasiAssPrequalCtrl.folderFile+AdministrasiAssPrequalCtrl.NpwpUrlPrequal}}" target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-download"> </i></a></td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.NpwpUrlPrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr ng-if="AdministrasiAssPrequalCtrl.CountryPrequal == 'IDN'">
                                                <th>{{'DATA.SPPKP_NO'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.PKPNumberPrequal !== null">{{AdministrasiAssPrequalCtrl.PKPNumberPrequal}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.PKPNumberPrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr ng-if="AdministrasiAssPrequalCtrl.CountryPrequal == 'IDN'">
                                                <th>{{'DATA.SPPKP_DOC'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.PKPUrlPrequal !== null"><a href="{{AdministrasiAssPrequalCtrl.folderFile+AdministrasiAssPrequalCtrl.PKPUrlPrequal}}" target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-download"> </i></a></td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.PKPUrlPrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr>
                                                <th>{{'DATA.ADDRESS'|translate}} {{AdministrasiAssPrequalCtrl.ContactNamePrequal|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.address1Prequal !== null">{{AdministrasiAssPrequalCtrl.address1Prequal}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.address1Prequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr>
                                                <th>{{'DATA.TELP_NO'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.PhonePrequal !== undefined">{{AdministrasiAssPrequalCtrl.PhonePrequal}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.PhonePrequal === undefined">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr>
                                                <th>Fax</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.FaxPrequal != undefined || AdministrasiAssPrequalCtrl.FaxPrequal != null">{{AdministrasiAssPrequalCtrl.FaxPrequal}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.FaxPrequal == undefined || AdministrasiAssPrequalCtrl.FaxPrequal == null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr>
                                                <th>{{'DATA.COMPANY_EMAIL'|translate}}</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.EmailCompanyPrequal !== null">{{AdministrasiAssPrequalCtrl.EmailCompanyPrequal}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.EmailCompanyPrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                            <tr>
                                                <th>Website</th>
                                                <td ng-if="AdministrasiAssPrequalCtrl.WebsitePrequal !== null">{{AdministrasiAssPrequalCtrl.WebsitePrequal}}</td>
                                                <td ng-if="AdministrasiAssPrequalCtrl.WebsitePrequal === null">{{'DATA.NO_DATA'|translate}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px dotted darkgreen" />
                    <h4 class="text-center afta-font">{{'DATA.CURR_PREF'|translate}}</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <!--<div class="col-md-6">
                                        <h5 class="box-title"><strong>Data Sebelum Diubah</strong></h5>
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="vertical-align: middle;">No</th>
                                                        <th class="text-center" style="vertical-align: middle;">Mata Uang</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="obj in AdministrasiAssPrequalCtrl.listCurrency">
                                                        <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                                        <td style="vertical-align: middle;">{{obj.MstCurrency.Symbol}}</td>
                                                    </tr>
                                                    <tr ng-if="AdministrasiAssPrequalCtrl.listCurrency.length === 0">
                                                        <td colspan="7">Tidak ada data yang diubah</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>-->

                                    <div class="col-md-12">
                                        <!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="vertical-align: middle;">No</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.CURR'|translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="obj in AdministrasiAssPrequalCtrl.listCurrencyPrequal">
                                                        <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                                        <td style="vertical-align: middle;">{{obj.MstCurrency.Symbol}}</td>
                                                    </tr>
                                                    <tr ng-if="AdministrasiAssPrequalCtrl.listCurrencyPrequal.length === 0">
                                                        <td colspan="7">{{'Tidak ada data yang diubah'|translate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <hr style="border-top: 1px dotted darkgreen" />
                    <h4 class="text-center afta-font">{{'DATA.PERSON_CONTACT'|translate}}</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <!--<div class="col-md-6">
                                        <h5 class="box-title"><strong>Data Sebelum Diubah</strong></h5>
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="vertical-align: middle;">No</th>
                                                        <th class="text-center" style="vertical-align: middle;">Nama</th>
                                                        <th class="text-center" style="vertical-align: middle;">Email</th>
                                                        <th class="text-center" style="vertical-align: middle;">Telepon</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="obj in AdministrasiAssPrequalCtrl.listPersonal">
                                                        <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Contact.Name}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Contact.Email}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Contact.Phone}}</td>
                                                    </tr>
                                                    <tr ng-if="AdministrasiAssPrequalCtrl.ListPersonal.length === 0">
                                                        <td colspan="7">Tidak ada data yang diubah</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>-->

                                    <div class="col-md-12">
                                        <!--<h5 class="box-title"><strong>Data Setelah Diubah</strong></h5>-->
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="vertical-align: middle;">No</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.NAME'|translate}}</th>
                                                        <th class="text-center" style="vertical-align: middle;">Email</th>
                                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.TELP'|translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="obj in AdministrasiAssPrequalCtrl.listPersonalPrequal">
                                                        <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Contact.Name}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Contact.Email}}</td>
                                                        <td style="vertical-align: middle;">{{obj.Contact.Phone}}</td>
                                                    </tr>
                                                    <tr ng-if="AdministrasiAssPrequalCtrl.ListPersonalPrequal.length === 0">
                                                        <td colspan="7">{{'Tidak ada data yang diubah'|translate}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="center-block text-center">
                        <a href="#/assessment-prakualifikasi-detail/{{AdministrasiAssPrequalCtrl.PrequalStepAssID}}/{{AdministrasiAssPrequalCtrl.VendorPrequalID}}" class="btn btn-sm btn-primary" title="{{'BACK'|translate}}">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <a ng-if="AdministrasiAssPrequalCtrl.isEntry == true || AdministrasiAssPrequalCtrl.IsNeedRevision == true" href="#/edit-administrasi-assessment-prakualifikasi/{{AdministrasiAssPrequalCtrl.PrequalStepAssID}}/{{AdministrasiAssPrequalCtrl.VendorPrequalID}}/{{AdministrasiAssPrequalCtrl.VEPID}}" class="btn btn-sm btn-success" title="{{'EDIT'|translate}}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a ng-if="AdministrasiAssPrequalCtrl.isEntry == true || AdministrasiAssPrequalCtrl.IsNeedRevision == true" class="btn btn-success btn-sm" ng-click="AdministrasiAssPrequalCtrl.Submit(true)" title="{{'SETUJU' | translate}}">
                            <i class="fa fa-check"></i>
                        </a>
                        <a ng-if="AdministrasiAssPrequalCtrl.isEntry == true  || AdministrasiAssPrequalCtrl.IsNeedRevision == true" class="btn btn-danger btn-sm" ng-click="AdministrasiAssPrequalCtrl.notvalid()" ng-disabled="AdministrasiAssPrequalCtrl.valid==false" title="{{'TIDAK_SETUJU'|translate}}">
                            <i class="fa fa-close"></i>
                        </a>

                    </div>
                    <div class="center-block text-center" ng-if="AdministrasiAssPrequalCtrl.valid==false">
                        <div class="row margin-atas">
                            <div class="col-md-6 col-md-offset-3">
                                <label>{{'Alasan'|translate}}</label>
                                <textarea class="form-control" ng-model="AdministrasiAssPrequalCtrl.remark" placeholder="{{'Alasan'|translate}}"></textarea>
                                <a class="btn btn-success" ng-click="AdministrasiAssPrequalCtrl.Submit(false)">
                                    <i class="fa fa-save"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

