﻿<section class="content" ng-init="PrequalResultIndexCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.PREQUALRESULT' | translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 center-block" style="float:none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<div class="col-md-5">
							<h3 class="judul-datatabel afta-font">{{'PREQUAL_RESULT' | translate}}</h3>
						</div>
						<div class="col-md-7">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="{{'FIND_PREQUALRESULT' | translate}}" ng-model="PrequalResultIndexCtrl.srchText" />
								<span class="input-group-btn">
									<button ng-click="PrequalResultIndexCtrl.init()" type="submit" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate}}">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<a class="btn btn-flat btn-primary turun-15" style="float:right!important;" ng-if="PrequalResultIndexCtrl.allowAdd" ng-click="PrequalResultIndexCtrl.addSetup()">
								<i class="fa fa-plus-circle"></i>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-vertical">No.</th>
											<th class="center-vertical">{{'PREQUAL_SETUP_NAME' | translate}}</th>
											<th class="center-vertical">{{'PREQUAL_METHOD_NAME' | translate}}</th>
											<th class="center-vertical">{{'VP_EVAL_METHOD_NAME' | translate}}</th>
											<th class="center-vertical"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="vendor in PrequalResultIndexCtrl.vendors">
											<td class="center-vertical">{{PrequalResultIndexCtrl.currPage > 1 ? (PrequalResultIndexCtrl.maxSize * (PrequalResultIndexCtrl.currPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{vendor.VendorName}}</td>
											<td style="vertical-align: middle;">{{vendor.PrequalMethodName}}</td>
											<td style="vertical-align: middle;">{{setup.VPEvaluationMethodName}}</td>
											<td class="center-vertical">
												<a ng-click="PrequalResultIndexCtrl.ViewPrequal(vendor)" class="btn btn-flat btn-xs btn-primary" title="View">
													<i class='fa fa-edit'></i>&nbsp;
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="PrequalResultIndexCtrl.totalItems" ng-model="PrequalResultIndexCtrl.currPage"
								class="pagination-sm" previous-text="&lsaquo;" max-number="10" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
								ng-change="PrequalResultIndexCtrl.getVendorList()" max-size="10"></ul>
							<br />
						</div>
					</div><br />
					<label>{{'TOTAL_DATA' | translate}} : {{PrequalResultIndexCtrl.totalItems}}</label>
				</div>
			</div>
		</div>
	</div>
</section>