<div id="modal-content" ng-init="formExpCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="formExpCtrl.batal()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">{{'BTN.EXIT' | translate}}</span>
		</button>
		<h3 class="modal-title afta-font">{{'TITLEEXPERIENCE' | translate}}</h3>
	</div>
    <form>
	<div class="modal-body">
		<div class="row" style="padding-top: 10px!important;">
			<div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-11 center-block" style="float: none!important; padding-bottom: 15px;">
								<div class="form-inline">
									<div class="form-group">
										<label class="control-label">{{'FORM.WORK_PROCESS' | translate}} * : </label>&nbsp;&nbsp;
										<label class="radio-inline" ng-repeat="tipe in formExpCtrl.listTypeExp">
											<input ng-click="formExpCtrl.cek()" ng-checked="tipe.RefID === formExpCtrl.dataExp.ExperienceType" 
                                                   type="radio" value="{{tipe.RefID}}" ng-model="formExpCtrl.dataExp.ExperienceType" />&nbsp;{{tipe.Value|translate}}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'FORM.CONTRACT_NAME' | translate}} *</label>
							<input type="text" tabindex="1" class="form-control input-sm" required placeholder="{{'FORM.CONTRACT_NAME' | translate}}" ng-model="formExpCtrl.dataExp.ContractName" />
						</div>
					</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM.INSTITUTE' | translate}} *</label>
                            <input type="text" tabindex="2" class="form-control" placeholder="{{'FORM.INSTITUTE' | translate}}" ng-model="formExpCtrl.dataExp.Agency" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{'FORM.TENDER_TYPE' | translate}} *</label>
                            <select tabindex="3" required class="form-control input-sm" ng-model="formExpCtrl.selectedTypeTender"
                                    ng-options="item as item.Name | translate for item in formExpCtrl.listTypeTender"
                                    ng-change="formExpCtrl.changeTypeTender()">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'FORM.FIELD' | translate}} *</label>
                            <select tabindex="4" required class="form-control input-sm"
                                    ng-model="formExpCtrl.selectedBusinessField"
                                    ng-disabled="!formExpCtrl.listBusinessField"
                                    ng-options="item as item.Name  for item  in formExpCtrl.listBusinessField"
                                    ng-change="formExpCtrl.changeBusinessField()">
                                <option value="" selected disabled>--- {{'BUSINESS_FIELD' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">{{'FORM.COUNTRY' | translate}} *</label>
                            <select required class="form-control"
                                    ng-model="formExpCtrl.selectedCountry"
                                    ng-change="formExpCtrl.loadStates()"
                                    ng-options="item as item.Name for item in formExpCtrl.countryList">
                                <option value="" selected disabled class="text-center">--{{"FORM.COUNTRY" | translate}}--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">{{'FORM.REGION' | translate}}</label>
                            <input ng-disabled="true" class="form-control" data-toggle="tooltip" data-placement="right" placeholder="{{'FORM.REGION' | translate}} *" type="text" ng-model="formExpCtrl.selectedRegion.Name" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">{{'FORM.STATE' | translate}} *</label>
                            <select class="form-control"
                                    ng-model="formExpCtrl.selectedState"
                                    ng-disabled="!formExpCtrl.stateList || formExpCtrl.stateList.length == 0 || !formExpCtrl.selectedCountry"
                                    ng-options="item as item.Name for item in formExpCtrl.stateList" ng-change="formExpCtrl.changeState()">
                                <option value="" selected disabled>--{{'FORM.STATE' | translate}}--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="(formExpCtrl.selectedCountry.CountryID === 360)">
                        <label class="control-label">{{'FORM.CITY' | translate}} *</label>
                        <select tabindex="8" required class="form-control input-sm" ng-model="formExpCtrl.selectedCities"
                                ng-options="item as item.Name for item in formExpCtrl.listCities"
                                ng-change="formExpCtrl.changeCities()"></select>
                    </div>	
                </div>
                <div class="row">                    				
					<div class="col-md-12">
						<div class="form-group">
							<label>{{'FORM.ADDRESS' | translate}} *</label>
							<input tabindex="9" type="text" class="form-control input-sm" required placeholder="{{'FORM.ADDRESS' | translate}}" ng-model="formExpCtrl.dataExp.Address" />
						</div>
					</div>
                </div>
                <div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.TELP' | translate}} *</label>
							<input tabindex="10" type="text" class="form-control input-sm" required placeholder="{{'FORM.TELP' | translate}}"  ng-model="formExpCtrl.dataExp.AgencyTelpNo"  />
						</div>
					</div>
					<div class="col-md-4">
                        <div class="form-group">
                            <label>{{'FORM.CONTRACT_NO' | translate}} *</label>
                            <input tabindex="11" type="text" class="form-control input-sm" required placeholder="{{'FORM.CONTRACT_NO' | translate}}" ng-model="formExpCtrl.dataExp.ContractNo" />
                        </div>
					</div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'FORM.CURRENCY' | translate}} *</label>
                            <select tabindex="12" required class="form-control input-sm" ng-model="formExpCtrl.selectedCurrencies" ng-change="formExpCtrl.changeCurr(formExpCtrl.selectedCurrencies)"
                                    ng-options="item as item.Symbol for item in formExpCtrl.listCurrencies"></select>
                        </div>
                    </div>
					<div class="col-md-4">
						<div class="form-group">
							<label>{{'FORM.CONTRACT_VALUE' | translate}} *</label>
							<input tabindex="13" type="text" currency-mask class="form-control input-sm" 
                                   placeholder="{{'FORM.CONTRACT_VALUE' | translate}}" ng-model="formExpCtrl.dataExp.ContractValue" />
						</div>
					</div>
                </div>
                <div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'FORM.START_DATE' | translate}} *</label>
                            <div class="input-group date form_datetime">
                                <input style="background-color: #ffffff;" tabindex="14" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                       is-open="formExpCtrl.isCalendarOpened[0]" ng-model="formExpCtrl.dataExp.StartDate" ng-change="formExpCtrl.checkStartDate(formExpCtrl.dataExp.StartDate)"
                                       ng-click="formExpCtrl.openCalendar(0)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="formExpCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>{{'TABLE.ENDCONTRACT' | translate}} *</label>
                            <div class="input-group date form_datetime">
                                <input tabindex="15" style="background-color: #ffffff;" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                       is-open="formExpCtrl.isCalendarOpened[1]" ng-model="formExpCtrl.dataExp.EndDate" ng-change="formExpCtrl.checkEndDate(formExpCtrl.dataExp.EndDate,formExpCtrl.dataExp.StartDate,formExpCtrl.dataExp.ExperienceType)"
                                       ng-click="formExpCtrl.openCalendar(1)" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="formExpCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
						</div>
					</div>
                 </div>
                 <div class="row">					
					<div class="col-md-8">
						<div class="form-group">
                            <label class="control-label">
                                {{'FORM.UPLOAD' | translate}} *
                                <small>(<span ng-repeat="ft in formExpCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / 
                                    Size : {{formExpCtrl.idUploadConfigs[0].Size}} {{formExpCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )
                                </small>
                            </label>
                            <input type="file" tabindex="15" class="form-control" ng-file-select="formExpCtrl.selectUpload()"
                                   ng-model="formExpCtrl.fileUpload" name="ownerIDFile" accept="{{formExpCtrl.idFileTypes}}" />
						</div>
					</div>
                    <div class="col-md-4" ng-show="!(formExpCtrl.dataExp.DocumentURL === null || formExpCtrl.dataExp.DocumentURL === '')" >
                        <div class="form-group">
                            <label>{{'FORM.UPLOADED_DOC' | translate}}</label>
                            <a href="{{formExpCtrl.folderFile + formExpCtrl.dataExp.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="{{'DOWNLOAD' | translate}}">
                                <i class="fa fa-download"></i>&nbsp;
                            </a>
                        </div>
                    </div>
                     <div class="col-md-4" ng-show="formExpCtrl.dataExp.DocumentURL === null || formExpCtrl.dataExp.DocumentURL === ''">
                         <div class="form-group">
                             <label>{{'FORM.UPLOADED_DOC' | translate}}</label>
                             <button class="btn btn-sm btn-default" title="{{'BTN.NOUPLOADFILE' | translate}}"><i class="fa fa-download"></i></button>
                         </div>
                     </div>
                </div>
                <div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>{{'TABLE.KETERANGAN' | translate}} </label>
							<textarea class="form-control" tabindex="16" rows="2"  placeholder="{{'MORE'|translate}}" ng-model="formExpCtrl.dataExp.Remark"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" ng-click="formExpCtrl.batal()" class="btn btn-flat btn-primary" title="{{'BTN.BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
		<button type="submit" ng-click="formExpCtrl.saveData()" class="btn btn-flat btn-success" title="{{'BTN.SAVE' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
	</div>
    </form>
</div>
