﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="DetailPengaduanCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailPengaduanCtrl.cancel()" title="{{'KELUAR'|translate}}">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DATA_PENGADUAN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-xs-12 col-sm-10 center-block well"
                     style="float: none!important">
                    <dl class="dl-horizontal">
                        <dt>{{'TANGGAL'|translate}}</dt>
                        <dd>: {{DetailPengaduanCtrl.date | date: 'dd MMMM yyyy'}}</dd>
                        <dt>{{'NAMA_PELAPOR'|translate}}</dt>
                        <dd>: {{DetailPengaduanCtrl.name}}</dd>
                        <dt>{{'DEPARTMENT_PELAPOR'|translate}}</dt>
                        <dd>: {{DetailPengaduanCtrl.departement}} </dd>
                        <dt>{{'COMPLAINT_NAME'|translate}}</dt>
                        <dd>: {{DetailPengaduanCtrl.typeName}}</dd>
                        <dt>{{'NAMA_VENDOR'|translate}}</dt>
                        <dd>: {{DetailPengaduanCtrl.vendor}}</dd>                      
                        <dt>{{'DESCRIPTION'|translate}}</dt>
                        <dd>: {{DetailPengaduanCtrl.description}}</dd>
                        <dt>{{'DOC_PENGADUAN'|translate}}</dt>
                        <dd>: <a class="btn btn-xs btn-flat btn-info" target="_BLANK" ng-if="DetailPengaduanCtrl.docUrl" href="{{DetailPengaduanCtrl.endpointAttachment + DetailPengaduanCtrl.docUrl}}" download><i class="fa fa-download"></i>&nbsp;{{'DOWNLOAD'|translate}}</a> </dd>
                        <dt>{{'STATUS'|translate}}</dt>
                        <dd>: {{DetailPengaduanCtrl.statusApp | translate}}</dd>
                        <dt>{{'CATATAN'|translate}}</dt>
                        <dd>: {{DetailPengaduanCtrl.note}}</dd>
                        <dt ng-if="DetailPengaduanCtrl.noteDocUrl">{{'LAMPIRAN'|translate}}</dt>
                        <dd ng-if="DetailPengaduanCtrl.noteDocUrl">
                            : <a class="btn btn-xs btn-flat btn-info" target="_BLANK" href="{{DetailPengaduanCtrl.endpointAttachment + DetailPengaduanCtrl.noteDocUrl}}" download><i class="fa fa-download"></i>&nbsp;{{'DOWNLOAD'|translate}}</a><br />
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="DetailPengaduanCtrl.cancel()" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button> </div>
</div>

