<section class="content" ng-init="complaintCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.MASTER_COMPLAINT' | translate}}</a></li>
    </ol>
    <div id="utama" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="afta-font judul-datatabel">{{'DATA_COMPLAINT' | translate}}</h3>
                        </div>
                        <div class="col-md-3">
                            <select class="form-control" ng-model="complaintCtrl.searchBy" required>
                                <option value="1">{{'FILTER_REPORTER_NAME' | translate }}</option>
                                <option value="2">{{'FILTER_DEPARTMENT' | translate }}</option>
                                <option value="3">{{'FILTER_VENDOR' | translate }}</option>
                                <option value="4">{{'FILTER_COMPLAIN_TYPE' | translate }}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <form method="post" role="form" ng-submit="complaintCtrl.cariwarningLetter()">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="complaintCtrl.search" />
                                    <!--<input type="text" class="form-control" placeholder="{{'CARI_WARNINGLETTER' | translate}}" ng-model="warningLetterCtrl.srcText">-->
                                    <span class="input-group-btn">
                                        <button ng-click="complaintCtrl.cariReporter()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'CARI' | translate}}">
                                            <i class="fa fa-search"></i>&nbsp; 
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="complaintCtrl.tambah('',true)" title="{{'TAMBAH' | translate}}">
                                    <i class='fa fa-plus-circle'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" width="10">{{'TABLE.NO' | translate }}</th>
                                            <th class="text-center">{{'TABLE.REPORTER_NAME' | translate }}</th>
                                            <th class="text-center" style="width: 20%;">{{'TABLE.REPORTER_DEPARTEMENT' | translate }}</th>
                                            <th class="text-center" style="width: 15%;">{{'TABLE.VENDORNAME' | translate }}</th>
                                            <th class="text-center" style="width: 8%;">{{'TABLE.DATE' | translate }}</th>
                                            <th class="text-center" style="width: 25%;">{{'TABLE.COMPLAINT_DESC' | translate }}</th>
                                            <th class="text-center" style="width: 8%;">{{'TABLE.STATUS' | translate }}</th>
                                            <!--<th class="text-center">{{'TABLE.REMARK' | translate }}</th>-->
                                            <th class="text-center" style="width: 10%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pg in complaintCtrl.complaint" > 
                                            <td class="text-center" style="vertical-align: middle;">{{complaintCtrl.currentPage > 1 ? (complaintCtrl.pageSize * (complaintCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td style="vertical-align: middle;">{{pg.ReporterName}}</td>
                                            <td style="vertical-align: middle;">{{pg.department.DepartmentName}}</td>
                                            <td style="vertical-align: middle;">{{pg.vendor.VendorName}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{pg.Date | date: 'dd MMMM yyyy'}}</td>
                                            <td style="vertical-align: middle;">{{pg.Description}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{pg.SysReference1.Name | translate}}</td>
                                            <!--<td style="vertical-align: middle;">{{pg.IncompleteRemark}}</td>-->
                                            <td class="text-center" style="vertical-align: middle;">
                    <!-- Send to Procurement--> <a ng-show="pg.CreatedBy == complaintCtrl.currentUser" ng-if="pg.SysReference1.Name =='WL_DRAFT' || pg.SysReference1.Name =='WL_INCOMPLETE'" ng-click="complaintCtrl.sendToProc(pg)" class="btn btn-flat btn-xs btn-primary" title="{{'SEND_TO_PROC'|translate}}"><i class="fa fa-angellist"></i> </a>                                                   
                    <!-- Detail-->              <a ng-click="complaintCtrl.lihatDetail(pg)" class="btn btn-flat btn-xs btn-warning" title="{{'DETAIL'|translate}}"><i class="fa fa-external-link"></i></a>                                                
                    <!-- Edit-->                <a ng-if="pg.IsActive === true && (pg.SysReference1.Name =='WL_DRAFT' || pg.SysReference1.Name =='WL_INCOMPLETE') && (pg.CreatedBy == complaintCtrl.currentUser)" ng-click="complaintCtrl.tambah(pg,false)" class="btn btn-flat btn-xs btn-primary" title="{{'EDIT'|translate}}"><i class="fa fa-pencil"></i> </a>
                    <!-- Change active status--><a ng-if="pg.IsActive === true && (pg.SysReference1.Name =='WL_DRAFT' || pg.SysReference1.Name =='WL_INCOMPLETE') && (pg.CreatedBy == complaintCtrl.currentUser)" ng-click="complaintCtrl.ubah_aktif(pg,false)" class="btn btn-flat btn-xs btn-danger" title="{{'NON_ACTIVATE'|translate}}"><i class="fa fa-times-circle"></i> </a>
                    <!-- Change active status--><a ng-if="pg.IsActive === false && (pg.SysReference1.Name =='WL_DRAFT' || pg.SysReference1.Name =='WL_INCOMPLETE') && (pg.CreatedBy == complaintCtrl.currentUser)" ng-click="complaintCtrl.ubah_aktif(pg,true)" class="btn btn-flat btn-xs btn-success" title="{{'ACTIVATE'|translate}}"><i class="fa fa-check-square-o"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <ul uib-pagination boundary-links="true" total-items="complaintCtrl.totalItems" ng-model="complaintCtrl.currentPage" class="pagination-sm" max-number="10"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="complaintCtrl.jLoad(complaintCtrl.currentPage)"></ul>
                            <br />
                            <label>{{'TOTAL_DATA' | translate}} : {{complaintCtrl.totalItems}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
