﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<section class="content" ng-init="FormSetupCtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#/prequal-setup/"> {{'PREQUALIFICATION_SETUP' | translate }}</a></li>
        <li><a class="active"> {{'BREADCRUMB.FORM_SETUP' | translate }}</a>
        </li>
    </ol>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 class="afta-font text-center">{{'PREQUALIFICATION_SETUP' | translate }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-block" style="float: none!important">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{'PREQUAL_CODE' | translate }}</label>
                                        <input type="text" required ng-model="FormSetupCtrl.prequalCode" ng-disabled="true" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="form-group">
                                        <label>{{'SETUP_NAME' | translate }}</label>
                                        <input ng-disabled="FormSetupCtrl.IsPublish == true" type="text" required ng-model="FormSetupCtrl.setupName" class="form-control input-sm" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11" style="float: none!important;">
                                    <div class="form-group">
                                        <label class="control-label">{{'FORMPREQUALSTEP.PENGUMUMAN' | translate}}</label>
                                        <div text-angular="text-angular" ta-disabled=false name="htmlcontent2" ng-model="FormSetupCtrl.EmailContent"
                                             ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">
                                        {{ 'FORMPREQUALSTEP.UPLOAD' | translate}}
                                        <small> ( <span ng-repeat="ft in FormSetupCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / {{'FORMPREQUALSTEP.SIZE_FILE' | translate}} : {{FormSetupCtrl.idUploadConfigs[0].Size}} {{FormSetupCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                    </label>
                                    <div class="input-group">
                                        <input ng-disabled="FormSetupCtrl.IsPublish == true" type="file" class="form-control input-sm" ng-file-select="FormSetupCtrl.selectUpload()"
                                               ng-model="FormSetupCtrl.fileUpload" name="ownerIDFile" required accept="{{FormSetupCtrl.idFileTypes}}" />

                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top:2%;">
                                    <a ng-if="(FormSetupCtrl.DocUrl !== '')" href="{{FormSetupCtrl.folderFile + FormSetupCtrl.DocUrl}}" class="btn btn-sm btn-primary" title="Download"><i class="fa fa-download"></i></a>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-inline">
                                            <input ng-disabled="FormSetupCtrl.IsPublish == true" type="checkbox" ng-model="FormSetupCtrl.IsOpen" /> {{'FORMPREQUALSTEP.NEWVENDOR' | translate }}<span style="padding-right: 25px;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="control-label">{{'FORMPREQUALSTEP.CLASSIFICATION_PRAKUALIFIKASI' | translate}}</label>
                                    <select ng-disabled="FormSetupCtrl.IsPublish == true" class="form-control" ng-model="FormSetupCtrl.BusinessField"
                                            ng-options="item as item.Name | translate for item in FormSetupCtrl.listbfield" ng-change="FormSetupCtrl.addBField(FormSetupCtrl.BusinessField)">
                                        <option value="" disabled selected>{{'PREQUALCLASSIFICATION.CLASSIFICATION' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-inline">
                                            <input ng-disabled="FormSetupCtrl.IsPublish == true" type="checkbox" ng-model="FormSetupCtrl.listDetailPrequal[0].IsCheck" ng-change="FormSetupCtrl.checkClassification(FormSetupCtrl.listDetailPrequal[0])" /> {{ FormSetupCtrl.listDetailPrequal[0].Value | translate}} <span style="padding-right: 25px;"></span>
                                            <select ng-disabled="FormSetupCtrl.IsPublish == true || FormSetupCtrl.pilihbidangusaha == false" class="form-control" style="margin-top:7px!important;margin-right:20px!important;" ng-model="FormSetupCtrl.TechnicalRefID"
                                                    ng-options="tech as tech.Name | translate for tech in FormSetupCtrl.listtechnicalclassification" ng-change="FormSetupCtrl.selectedTechnical()">
                                                <option value="" disabled selected>{{'PREQUALCLASSIFICATION.TECHNICAL' | translate }}</option>
                                            </select>
                                            <select ng-disabled="FormSetupCtrl.IsPublish == true || FormSetupCtrl.pilihbidangusaha == false" class="form-control" style="margin-top:7px!important;" ng-model="FormSetupCtrl.CompanyScale"
                                                    ng-options="item as item.Name | translate for item in FormSetupCtrl.listcompanyscale" ng-change="FormSetupCtrl.selectedCompanyScale()">
                                                <option value="" disabled selected>{{'PREQUALCLASSIFICATION.QUALIFICATION' | translate }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">{{'FORMPREQUALSTEP.PILIH_AREA' | translate}}</label>
                                    <div class="form-group">
                                        <div class="form-inline">
                                            <input ng-disabled="FormSetupCtrl.IsPublish == true" type="checkbox" ng-change="FormSetupCtrl.cekarea()" ng-model="FormSetupCtrl.IsLocal" /> {{ 'FORMPREQUALSTEP.LOCAL' | translate}} <span style="padding-right: 25px;"></span>
                                            <input ng-disabled="FormSetupCtrl.IsPublish == true" type="checkbox" ng-change="FormSetupCtrl.cekarea()" ng-model="FormSetupCtrl.IsNational" /> {{ 'FORMPREQUALSTEP.NATIONAL' | translate}} <span style="padding-right: 25px;"></span>
                                            <input ng-disabled="FormSetupCtrl.IsPublish == true" type="checkbox" ng-change="FormSetupCtrl.cekarea()" ng-model="FormSetupCtrl.IsInternational" /> {{ 'FORMPREQUALSTEP.INTERNATIONAL' | translate}} <span style="padding-right: 25px;"></span>
                                            <button class="btn btn-sm btn-primary" ng-disabled="FormSetupCtrl.lihatvendor == false" ng-click="FormSetupCtrl.openDataCommVendor()"><i class="fa fa-search"></i> {{'FORMPREQUALSTEP.VIEW_VENDOR' | translate }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <!--
                            <div class="row">
                                <div class="col-md-10">
                                    <select ng-disabled="FormSetupCtrl.IsPublish == true" class="form-control" ng-model="FormSetupCtrl.BusinessField"
                                            ng-options="item as item.Name | translate for item in FormSetupCtrl.listbfield" ng-change="FormSetupCtrl.selectedbfield()">
                                        <option value="" disabled selected>{{'PREQUALCLASSIFICATION.CLASSIFICATION' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary" ng-disabled="FormSetupCtrl.IsPublish==true" ng-click="FormSetupCtrl.addBField(FormSetupCtrl.BusinessField)"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">No</th>
                                                        <th class="text-center">{{'BUSINESS_FIELD' | translate}}</th>
                                                        <th width="10%" ng-if="FormSetupCtrl.IsPublish!=true"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="det in FormSetupCtrl.listSelectedBusinessField">
                                                        <td class="text-center">{{$index+1}}</td>
                                                        <td>{{det.Name }}</td>
                                                        <td ng-if="FormSetupCtrl.IsPublish != true">
                                                            <button class="btn btn-xs btn-danger" ng-click="FormSetupCtrl.deleteRow($index+1)" title="Hapus">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="FormSetupCtrl.listSelectedBusinessField.length==0">
                                                        <td colspan="2" ng-if="FormSetupCtrl.IsPublish==true">Tidak ada data</td>
                                                        <td colspan="3" ng-if="FormSetupCtrl.IsPublish!=true">Tidak ada data</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'TABLE.PREQUAL_METHOD' | translate }}</label>
                                <select  class="form-control" ng-disabled="FormSetupCtrl.IsPublish == true" ng-model="FormSetupCtrl.selectedPrequalMethod" required ng-options="val.PrequalMethodId as val.PrequalMethodName for val in FormSetupCtrl.prequalMethods" ng-change="FormSetupCtrl.change(FormSetupCtrl.formTypeID)">
                                    <option value="" disabled selected>{{'PREQUAL_METHOD_NAME' | translate }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{'VP_EVAL_METHOD' | translate }}</label>
                                <select class="form-control" ng-disabled="FormSetupCtrl.IsPublish == true" ng-model="FormSetupCtrl.selectedVPEvalMethod" required ng-options="val.VPEvaluationMethodId as val.VPEvaluationMethodName for val in FormSetupCtrl.vpEvalMethods" ng-change="FormSetupCtrl.change(FormSetupCtrl.formTypeID)">
                                    <option value="" disabled selected>{{'VP_EVAL_METHOD_NAME' | translate }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button type="button" class="form-control btn btn-flat btn-primary" ng-click="FormSetupCtrl.setReviewer()" title="{{'SET_REVIEWER' | translate }}">
                                    {{'SET_REVIEWER' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-8">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 50px; min-width: 30px; text-align: center;">{{'NO' | translate }}</th>
                                        <th class="text-center">{{'STAGES_SEQUENCE' | translate }}</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="step in FormSetupCtrl.prequalSteps">
                                        <td class="text-center" style="vertical-align: middle;">{{$index +1}}</td>
                                        <td style="vertical-align: middle;">{{step.PrequalStepName | translate}}</td>
                                        <td style="vertical-align: middle;">
                                            <a class="btn btn-sm btn-success" ng-if="step.FormTypeURL == 'pemasukkan-prakualifikasi'" title="{{'ATUR_DATA'|translate}}" ng-click="FormSetupCtrl.loadKelengkapan()">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-if="FormSetupCtrl.prequalSteps.length == 0">
                                        <td colspan="3"> No Data </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button class="btn btn-sm btn-flat btn-primary" type="button" ng-click="FormSetupCtrl.back()" title="{{'FORMPREQUALSTEP.BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i> </button>
                            <button ng-if="FormSetupCtrl.IsPublish == false" type="submit" class="btn btn-flat btn-success" ng-click="FormSetupCtrl.uploadFile()" title="{{'FORMPREQUALSTEP.SAVE' | translate}}"><i class="fa fa-save"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>