<section class="content" ng-init="PendaftaranPrakualCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
        <li><a href="#/data-prakualifikasi/tahapan/{{PendaftaranPrakualCtrl.prequalId}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
		<li><a class="active">{{"BREADCRUMB.PENDAFTARAN_PRAKUALIFIKASI" | translate}}</a></li>

	</ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<!--div class="col-md-12">
							<h3 class="text-left afta-font" style="padding-bottom: 20px;">Tahapan Pendaftaran Pengadaan</h3>
							<label ng-if="PendaftaranPrakualCtrl.isCancelled" class="text-left afta-font text-red" style="padding-bottom: 20px;"><i>(Pengadaan ini telah dibatalkan)</i></label>
						</div-->
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" style="vertical-align: middle!important;">{{"NAMA_PRAKUALIFIKASI" | translate}}</th>
											<th class="text-center" style="width: 270px; min-width: 270px!important;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td style="vertical-align: middle;">{{PendaftaranPrakualCtrl.namaPrakualifikasi}}</td>
											<td class="text-center" style="vertical-align: middle!important;">
												<button ng-click="PendaftaranPrakualCtrl.lihatPendaftaranPrakualifikasi()" class="btn btn-flat btn-sm btn-warning" title="{{'LIHAT'|translate}}"><i class="fa fa-external-link"></i></button>
												<button ng-disabled="PendaftaranPrakualCtrl.isCancelled" ng-click="PendaftaranPrakualCtrl.uploadDokumen(PendaftaranPrakualCtrl.TenderID, PendaftaranPrakualCtrl.StepID)" class="btn btn-flat btn-sm btn-primary" title="{{'UPLOAD_DOKUMEN'|translate}}"><i class="fa fa-edit"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-md-12">
							<h5 class="afta-font" style="margin-top: 0px;">*) {{'KET_UPLOAD'|translate}}</h5>
						</div>
						<br /><br />
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-left afta-font" style="padding-bottom: 20px;">{{'REG_VENDOR'|translate}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" style="vertical-align: middle!important; width:20px">No.</th>
											<th class="text-center" style="vertical-align: middle!important;">{{'NAMA_PERUSAHAAN'|translate}}</th>
											<th class="text-center" style="width: 270px; min-width: 270px!important;">{{'TANGGAL_DAFTAR'|translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="pe in PendaftaranPrakualCtrl.register">
											<td class="center-vertical">{{$index + 1}}</td>
											<td style="vertical-align: middle;">
												{{pe.VendorName}}
											</td>
											<td class="text-center" style="vertical-align: middle!important;">
												{{pe.PrequalRegistrationDate | date: "dd/MM/yyyy HH:mm"}}
											</td>
										</tr>
										<tr ng-if="PendaftaranPrakualCtrl.register.length === 0">
											<td colspan="3">{{'NO_DATA'|translate}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-12 text-right">
							<button ng-click="PendaftaranPrakualCtrl.back()" class="btn btn-sm btn-primary" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>