﻿<div id="idTambahLibrary" class="modal-content" ng-init="FormUploadPendaftaranPrakualCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="FormUploadPendaftaranPrakualCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'UPLOAD_DOKUMEN_PENDAFTARAN_PRAKUALIFIKASI'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="box box-success">
                    <!--notife flow-->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">
                                        {{'UPLOAD_DOKUMEN'|translate}}
                                        <small> ( <span ng-repeat="ft in FormUploadPendaftaranPrakualCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{FormUploadPendaftaranPrakualCtrl.idUploadConfigs[0].Size}} {{FormUploadPendaftaranPrakualCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                                    </label>
                                    <input type="file" class="form-control" ng-file-select="FormUploadPendaftaranPrakualCtrl.selectUpload()"
                                           ng-model="FormUploadPendaftaranPrakualCtrl.fileUpload" name="ownerIDFile" required accept="{{FormUploadPendaftaranPrakualCtrl.idFileTypes}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" ng-click="FormUploadPendaftaranPrakualCtrl.batal()" title="{{'KEMBALI'|translate}}">
            <i class="fa fa-arrow-circle-left"></i> 
        </button>
        <button class="btn btn-sm btn-primary" ng-click="FormUploadPendaftaranPrakualCtrl.uploadFile()" title="Upload"><i class="fa fa-upload"></i>  </button>
    </div>
</div>
