﻿<div class="modal-content" ng-init="AddVHSNewItemCtrl.init()">
    <div class="modal-header">
        <h3 class="modal-title afta-font" id="myModalLabel">Tambah Item </h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Material Code *</label>
                            <input type="text" class="form-control" value="" name="material_code" ng-model="AddVHSNewItemCtrl.data.material_code" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Item Description *</label>
                            <input type="text" class="form-control" value=""  name="item_des" ng-model="AddVHSNewItemCtrl.data.item_des" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Manufacture *</label>
                            <input type="text" class="form-control" value="" name="Manufacture" ng-model="AddVHSNewItemCtrl.data.manufacture" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="part_no">Part Number : </label>
                            <input type="text" class="form-control" value="" name="part_no" ng-model="AddVHSNewItemCtrl.data.part_no" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="estimation">Estimation : </label>
                            <input type="number" class="form-control" value="" name="estimation" ng-model="AddVHSNewItemCtrl.data.estimation" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="uop">UOP : </label>
                            <input type="text" class="form-control" value="" name="uop" ng-model="AddVHSNewItemCtrl.data.uop" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="currency">Currency : </label>
                            <select ng-model="AddVHSNewItemCtrl.data.currency" class="form-control">
                                <option ng-repeat="curr in AddVHSNewItemCtrl.currencyList" value="{{curr.Symbol}}">{{curr.Symbol}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="price">Price : </label>
                            <input type="number" class="form-control" value="" name="price" ng-model="AddVHSNewItemCtrl.data.PriceIDR" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="eadtim">LeadTime (Days) : </label>
                            <input type="number" class="form-control" value="" name="eadtim" ng-model="AddVHSNewItemCtrl.data.eadtim" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="country">Country Origin : </label>
                            <select ng-model="AddVHSNewItemCtrl.data.country" class="form-control">
                                <option ng-repeat="countries in AddVHSNewItemCtrl.NegaraList" value="{{countries.Name}}">{{countries.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="country">Remark : </label>
                            <input type="text" class="form-control" value="" name="eadtim" ng-model="AddVHSNewItemCtrl.data.Remark" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="AddVHSNewItemCtrl.cancel()"><i class="fa fa-arrow-circle-left"></i> Kembali</button>
        <button type="button" class="btn btn-primary" ng-click="AddVHSNewItemCtrl.save()"><i class="fa fa-save"></i> Simpan</button>
    </div>
</div>