﻿<!-- Main content -->
<div ng-init="EditVHSCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/monitoring-vhs">{{'BREADCRUMB.MONITORING_TENDER' | translate}}</a></li>
            <li><a class="active">{{'BREADCRUMB.ADDENDUM' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'JUDUL_ADENDUM' | translate}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row form-group">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="vendor">Vendor Name : </label>
                                    <div class="form-control">
                                        {{EditVHSCtrl.VendorName}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="StorageLoc">Storage Location : </label>
                                    <div class="form-control">
                                        {{EditVHSCtrl.StorageLocation}}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Date Request : </label>
                                    <div class="input-group date form_datetime">
                                        <input style="background-color: #ffffff;" placeholder="{{EditVHSCtrl.RequestDate | date : 'dd-MM-yyyy'}}" readonly required class="form-control datepicker" size="4" ng-model="EditVHSCtrl.RequestDate" type="text" uib-datepicker-popup="dd-MM-yyyy"
                                               is-open="EditVHSCtrl.isCalendarOpened[3]" ng-click="EditVHSCtrl.openCalendar(3)" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success" ng-click="EditVHSCtrl.openCalendar(3)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Type Budget</label>
                                    <div class="input-group form-control">
                                        <input type="radio" name="typeBudget" id="typeBudget" class="radio radio-inline  " ng-model="EditVHSCtrl.TypeAddendum" value="1" /> <label for="typeBudget"><span>&nbsp;</span>Budget</label> <br />

                                    </div>
                                    <div class="col-md-12" ng-if="EditVHSCtrl.TypeAddendum === '1'">
                                        <div class="form-group">
                                            <label>Additional Value :</label>
                                            <input type="number" class="form-control input-sm" size="50" value="" name="addval" ng-model="EditVHSCtrl.AdditionalValue" />
                                        </div>
                                    </div>
                                    <div class="input-group form-control">
                                        <input type="radio" name="typeDuration" id="typeDuration" class="radio radio-inline" ng-model="EditVHSCtrl.TypeAddendum" value="2" /> <label for="typeDuration"><span>&nbsp;</span>Duration<span>&nbsp;</span> </label>
                                    </div>
                                    <div class="col-md-12 bg-gray" ng-if="EditVHSCtrl.TypeAddendum === '2'" >
                                        <div class="form-group">
                                            <label>Start :</label>
                                            <input required class="form-control" size="4" value="{{EditVHSCtrl.convertDate(EditVHSCtrl.VHSdata.FinishContractDate)}}" type="text" readonly />
                                            <input class="form-control" size="4" ng-model="EditVHSCtrl.datetoStart" type="hidden" />
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" size="4" ng-model="EditVHSCtrl.datetoEnd" type="hidden" />
                                            <label>Finish :</label>
                                            <input required class="form-control" size="4" value="{{EditVHSCtrl.datetoEnd | date :'dd-MM-yyyy'}}" type="text" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label>Additional : </label>
                                            <input type="number" class="input-sm" value="" name="duration" ng-model="EditVHSCtrl.Duration" ng-change="EditVHSCtrl.getMon(EditVHSCtrl.Duration)" /> <label> Months</label><br />
                                        </div>
                                    </div>
                                    <div class="input-group form-control">
                                        <input type="radio" name="typeNewItem" id="typeNewItem" class="radio radio-inline" ng-model="EditVHSCtrl.TypeAddendum" value="3" /><label for="typeNewItem"><span>&nbsp;</span>New Item</label><br />
                                    </div>
                                    <div class="col-md-12 bg-gray" ng-if="EditVHSCtrl.TypeAddendum === '3'">
                                        <div class="form-group">
                                            <label for="material_code">Material Code : </label>
                                            <input type="text" class="form-control" value="" placeholder="Input Material Code" name="material_code" ng-model="EditVHSCtrl.material_code" />
                                        </div>
                                        <div class="form-group">
                                            <label for="item_des">Item Description : </label>
                                            <input type="text" class="form-control" value="" placeholder="Input Item Description" name="item_des" ng-model="EditVHSCtrl.item_des" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Manufacture">Manufacture : </label>
                                            <input type="text" class="form-control" value="" placeholder="Input Manufacture" name="Manufacture" ng-model="EditVHSCtrl.manufacture" />
                                        </div>
                                        <div class="form-group">
                                            <label for="part_no">Part Number : </label>
                                            <input type="text" class="form-control" value="" placeholder="Input Part Number " name="part_no" ng-model="EditVHSCtrl.part_no" />
                                        </div>
                                        <div class="form-group">
                                            <label for="estimation">Estimation : </label>
                                            <input type="number" class="form-control" value="" placeholder="Input Estimation " name="estimation" ng-model="EditVHSCtrl.estimation" />
                                        </div>
                                        <div class="form-group">
                                            <label for="uop">UOP : </label>
                                            <input type="text" class="form-control" value="" placeholder="Input UOP " name="uop" ng-model="EditVHSCtrl.uop" />
                                        </div>
                                        <div class="form-group">
                                            <label for="currency">Currency : </label>
                                            <select ng-model="EditVHSCtrl.currency" class="form-control">
                                                <option ng-repeat="curr in EditVHSCtrl.currencyList" value="{{curr.CurrencyID}}">{{curr.Label}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Price : </label>
                                            <input type="number" class="form-control" value="" placeholder="Input Price " name="price" ng-model="EditVHSCtrl.PriceIDR" />
                                        </div>
                                        <div class="form-group">
                                            <label for="eadtim">EADTIM (Days) : </label>

                                            <input type="number" class="form-control" value="" placeholder="Input EADTIM " name="eadtim" ng-model="EditVHSCtrl.eadtim" />
                                        </div>
                                        <div class="form-group">
                                            <label for="country">Country Origin : </label>
                                            <select ng-model="EditVHSCtrl.country" class="form-control">
                                                <option ng-repeat="countries in EditVHSCtrl.NegaraList" value="{{countries.Name}}">{{countries.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-group form-control">
                                        <input ng-click="EditVHSCtrl.modalPrice()" type="radio" name="typePrice" id="typePrice" class="radio radio-inline" ng-model="EditVHSCtrl.TypeAddendum" value="4" /><label for="typePrice"><span>&nbsp;</span>Price</label><span class="input-group-btn"></span>

                                    </div>

                                </div>
                                <div class="margintop20">
                                </div>

                                <div class="form-group">
                                    <label>Doc Addendum</label>
                                    <div class="input-group">
                                        <label class="control-label">
                                            <small> ( <span ng-repeat="ft in EditVHSCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{EditVHSCtrl.idUploadConfigs[0].Size}} {{EditVHSCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                                            {{EditVHSCtrl.DocUrl ? '**' : ''}}
                                        </label>
                                        <input type="file" class="form-control" ng-file-select="EditVHSCtrl.selectUpload(fileUpload)"
                                               ng-model="fileUpload" required accept="{{EditVHSCtrl.idFileTypes}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="AddendumCode">Addendum Code : </label>
                                    <input type="text" class="form-control" value="" placeholder="Input Addendum Code" name="AddendumCode" ng-model="EditVHSCtrl.AddendumCode" />
                                </div>
                                <div class="form-group">
                                    <label for="vendor">Title Document :</label>
                                    <div class="form-control">
                                        {{EditVHSCtrl.VHSdata.TitleDoc}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Requestor</label>
                                    <div class="form-control">
                                        <input type="radio" name="type" class="checkbox checkbox-inline" value="1" ng-model="EditVHSCtrl.Requestor" /> <label> Vendor </label>
                                        <input type="radio" name="type" class="checkbox checkbox-inline" value="2" ng-model="EditVHSCtrl.Requestor" /> <label> Internal </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vendor">Remark</label>
                                    <textarea cols="50" rows="5" class="form-control input-append" name="" placeholder="Input Remark" ng-model="EditVHSCtrl.Remask"> </textarea>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">

                                    <div class="pull-right">
                                        <button class="btn btn-success turun-15" title="{{'SIMPAN' | translate}}" ng-click="EditVHSCtrl.save()"><i class="fa fa-save"></i>&nbsp;{{'SIMPAN' | translate}}</button>
                                        <a href="#/detail-data-adendum/{{EditVHSCtrl.VHSAwardId}}" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
                                            <i class="fa fa-arrow-left"></i> Kembali

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
