﻿<div class="modal-content" ng-init="BankDetModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="BankDetModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'EXIT' | translate}}</span></button>
        <h3 class="modal-title afta-font">{{BankDetModalCtrl.action}} {{'BREADCRUMB.BANK_DETAILS' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'ACCOUNT_NO' | translate}}<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" placeholder="{{'ACCOUNT_NO' | translate}}" ng-model="BankDetModalCtrl.NoRek">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'ACCOUNT_NAME' | translate}}<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" placeholder="{{'ACCOUNT_NAME' | translate}}" ng-model="BankDetModalCtrl.NamaAkun">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'BANK_NAME' | translate}}<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" placeholder="{{'BANK_NAME' | translate}}" ng-model="BankDetModalCtrl.NamaBank">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'BRANCH' | translate}}<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" placeholder="{{'BRANCH' | translate}}" ng-model="BankDetModalCtrl.Cabang">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'SWIFT_CODE' | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'SWIFT_CODE' | translate}}" ng-model="BankDetModalCtrl.Swift">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'CURRENCY' | translate}}<span style="color: red;">*</span></label>
                    <select class="form-control" ng-model="BankDetModalCtrl.currency"
                            ng-options="item as item.Symbol + ' | ' + item.Label for item in BankDetModalCtrl.currencyList"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        Upload File<span style="color: red;">*</span>
                        <small> ( <span ng-repeat="ft in BankDetModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{BankDetModalCtrl.idUploadConfigs[0].Size}} {{BankDetModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                    </label>
                    <input type="file" class="form-control" ng-file-select="BankDetModalCtrl.selectUpload()"
                           ng-model="BankDetModalCtrl.fileUpload" name="ownerIDFile" required accept="{{BankDetModalCtrl.idFileTypes}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'BANKADDRESS' | translate}}<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" placeholder="{{'BANKADDRESS' | translate}}" ng-model="BankDetModalCtrl.alamat">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>*) {{'ACCOUNT_INFO' | translate}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="BankDetModalCtrl.batal()" title="{{'BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="BankDetModalCtrl.uploadFile()" title="{{'SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>