﻿<div class="modal-content" ng-init="DetailKantorModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DetailKantorModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{'DETAIL_KANTOR' | translate}}</h3>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">{{'TABLE.STATUS_KANTOR' | translate}}</th>
                                <th class="text-center">{{'TABLE.ALAMAT' | translate}}</th>
                                <th class="text-center">{{'TABLE.ASOSIASI'| translate}}</th>
                                <!--<th class="text-center">{{'TABLE.EMAIL'| translate}}</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="DetailKantorModalCtrl.dataKantor.length <= 0">
                                <td colspan="4" cellpadding="0">
                                    <div class="alert alert-info text-center">
                                        <span>{{'No'| translate}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="d in DetailKantorModalCtrl.dataKantor">
                                <td class="text-center">{{masterAfiliasiCtrl.currentPage > 1 ? (masterAfiliasiCtrl.maxSize * (masterAfiliasiCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td >{{d.VendorContactType.Value | translate}}</td>
                                <td class="text-center" ng-if="d.Contact.Address.State.Country.Code === 'IDN'"> {{d.Contact.Address.State.Country.Name + ", " + d.Contact.Address.State.Name + ", " + d.Contact.Address.City.Name}}</td>
                                <td class="text-center" ng-if="d.Contact.Address.State.Country.Code !== 'IDN'"> {{d.Contact.Address.State.Country.Name + ", " + d.Contact.Address.State.Name}} </td>
                                <td class="text-center"> {{d.Vendor.AssociationDetail == null ? '-' : d.Vendor.AssociationDetail}} </td>
                                <!--<td class="text-center"> {{d.Contact.Email == null ? '-' : d.Contact.Email}} </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>{{'TOTAL_ITEMS'| translate}} : {{DetailKantorModalCtrl.totalItems}}</label>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sd-4 col-md-7" ng-if="DetailKantorModalCtrl.totalItems < 10">
                    <ul uib-pagination total-items="DetailKantorModalCtrl.totalItems" max-size="10"
                        ng-model="DetailKantorModalCtrl.currentPage" items-per-page="DetailKantorModalCtrl.fullSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailKantorModalCtrl.jLoad(DetailKantorModalCtrl.currentPage)" ng-if="DetailKantorModalCtrl.totalItems > 10"></ul>
                    <br />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="DetailKantorModalCtrl.batal()" title="{{'Batal' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>