﻿<div class="modal-content" ng-init="DetailKontakModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DetailKontakModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" >{{'DETAIL_KONTAK' | translate}}</h3>
    </div>
    <div class="modal-body">
       
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">{{'TABLE.NAME' | translate}}</th>
                                <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                <th class="text-center">{{'TABLE.EMAIL'| translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="DetailKontakModalCtrl.dataKontak.length <= 0">
                                <td colspan="4" cellpadding="0">
                                    <div class="alert alert-info text-center">
                                        <span>{{'No'| translate}}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="d in DetailKontakModalCtrl.dataKontak">
                                <td class="text-center">{{masterAfiliasiCtrl.currentPage > 1 ? (masterAfiliasiCtrl.maxSize * (masterAfiliasiCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td >{{d.Name == null ? '-' : d.Name}}</td>
                                <td class="text-center">{{d.Phone == null ? '-' : d.Phone}}</td>
                                <td class="text-center">{{d.Email == null ? '-' : d.Email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>{{'TOTAL_ITEMS'| translate}} : {{DetailKontakModalCtrl.totalItems}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sd-4 col-md-7" ng-if="DetailKontakModalCtrl.totalItems < 10">
                    <ul uib-pagination total-items="DetailKontakModalCtrl.totalItems" max-size="10"
                        ng-model="DetailKontakModalCtrl.currentPage" items-per-page="DetailKontakModalCtrl.fullSize"
                        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailKontakModalCtrl.jLoad(DetailKontakModalCtrl.currentPage)" ng-if="DetailKontakModalCtrl.totalItems > 10"></ul>
                    <br />
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="DetailKontakModalCtrl.batal()" title="{{'Batal' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>