﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="FrmActivedVendorCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="FrmActivedVendorCtrl.cancel()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'BREADCRUMB.VENDOR_DATA' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 center-block well" style="float: none!important">
                    <h4 class="text-center">{{'BREADCRUMB.VENDOR_REG_DATA' | translate}}</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <label>{{'COUNTRY' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.negara" readonly />
                        </div>
                        <div class="col-md-4">
                            <label>{{'CONTINENT' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.benua" readonly />
                        </div>
                        <div class="col-md-4">
                            <label>{{'STATES_PROVINCE' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.provinsi" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" ng-if="FrmActivedVendorCtrl.kota">
                            <label>{{'CITY' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.kota" readonly />
                        </div>
                        <div ng-if="FrmActivedVendorCtrl.kecamatan!=''" class="col-md-4">
                            <label>{{'SUB_DISTRICT' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.kecamatan" readonly />
                        </div>
                        <div class="col-md-4" ng-if="FrmActivedVendorCtrl.detail[1].Vendor.TenderCodeTemp !== null">
                            <label>{{'TENDER_CODE' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.detail[1].Vendor.TenderCodeTemp" readonly />
                        </div>
                    </div>
                    <legend class="h4" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                        {{'GEN_INFO' | translate}}
                    </legend>
                    <div class="row">
                        <div class="col-md-4" ng-if="FrmActivedVendorCtrl.detail[1].Vendor.BusinessID">
                            <label>{{'COM_TYPE' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.detail[1].Vendor.businessName" readonly />
                        </div>
                        <div class="col-md-4">
                            <label>{{'COM_NAME' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.detail[1].Vendor.VendorName" readonly />
                        </div>
                        <!--<div class="col-md-4">
                            <label>{{'STAND_DATE' | translate}}</label><br />
                            {{FrmActivedVendorCtrl.detail[1].Vendor.FoundedDate|date:"dd-MM-yyyy"}}
                        </div>-->
                        <div class="col-md-3" ng-if="!FrmActivedVendorCtrl.detail[1].Vendor.BusinessID">
                            <label>{{'NO_NPWP' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.detail[1].Vendor.Npwp" readonly />
                        </div>
                        <div class="col-md-1" ng-if="!FrmActivedVendorCtrl.detail[1].Vendor.BusinessID">
                            <br />
                            <a href="{{FrmActivedVendorCtrl.folderFile+FrmActivedVendorCtrl.detail[1].Vendor.NpwpUrl}}" class="btn btn-primary margin-atas-5" target="_BLANK" title="{{'DOWNLOAD_NPWP' | translate}}">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5" ng-if="FrmActivedVendorCtrl.detail[1].Vendor.BusinessID">
                            <label>{{'NO_NPWP' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.detail[1].Vendor.Npwp" readonly />
                        </div>
                        <div class="col-md-1" ng-if="FrmActivedVendorCtrl.detail[1].Vendor.BusinessID">
                            <br />
                            <a href="{{FrmActivedVendorCtrl.folderFile+FrmActivedVendorCtrl.detail[1].Vendor.NpwpUrl}}" class="btn btn-primary margin-atas-5" target="_BLANK" title="{{'DOWNLOAD_NPWP' | translate}}">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>
                        <!--<div class="col-md-5" ng-if="FrmActivedVendorCtrl.detail[1].Vendor.LegalNumber">
                            <label>{{'NO_IUJP' | translate}}</label><br />
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.detail[1].Vendor.LegalNumber" readonly />
                        </div>
                        <div class="col-md-1" ng-if="FrmActivedVendorCtrl.detail[1].Vendor.LegalDocument">
                            <br />
                            <a href="{{FrmActivedVendorCtrl.folderFile+FrmActivedVendorCtrl.detail[1].Vendor.LegalDocument}}" class="btn btn-primary margin-atas-5" target="_BLANK" title="{{'DOWNLOAD_DIU' | translate}}">
                                <i class="fa fa-download"></i>
                            </a>
                        </div>-->
                        <div class="form-group" ng-repeat="data in FrmActivedVendorCtrl.dataLicense">
                            <div class="col-md-5">
                                <label>{{data.LicenseName}}</label><br />
                                <input type="text" class="form-control" ng-model="data.LicenseNo" readonly />
                            </div>
                            <div class="col-md-1">
                                <br />
                                <a href="{{FrmActivedVendorCtrl.folderFile + data.DocumentURL}}" class="btn btn-primary margin-atas-5" target="_BLANK" title="{{'DOWNLOAD_DIU' | translate}}">
                                    <i class="fa fa-download"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <!--<div class="row">
                        <div class="col-md-6">
                            <label>{{'CURRENCY' | translate}}</label><br />
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'NO' | translate}}</th>
                                            <th class="text-center">{{'CURRENCY' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mu in FrmActivedVendorCtrl.detail[1].Vendor.Currency">
                                            <td class="text-left" style="vertical-align: middle;">{{ $index + 1}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{mu.MstCurrency.Symbol}} ({{mu.MstCurrency.Label}})</td>
                                        </tr>
                                        <tr ng-if="FrmActivedVendorCtrl.detail[1].Vendor.Currency.length == 0"><td colspan="2">{{'NO_DATA' | translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>-->
                    <legend class="h4" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                        {{'CONTACT_INFO' | translate}}
                    </legend>
                    <div class="row">
                        <div class="col-md-4">
                            <label>{{'COM_MAIL' | translate}}</label>
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.email" readonly />
                        </div>
                        <div class="col-md-4">
                            <label>{{'NOTELP' | translate}}</label>
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.telp" readonly />
                        </div>
                        <div class="col-md-4">
                            <label>{{'FAX' | translate}}</label>
                            <input type="text" class="form-control" ng-model="FrmActivedVendorCtrl.fax" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>{{'CP' | translate}}</label><br />
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'NO' | translate}}</th>
                                            <th class="text-center">{{'CONT_NANE' | translate}}</th>
                                            <th class="text-center">{{'NOTELP' | translate}}</th>
                                            <th class="text-center">{{'EMAIL' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="cp in FrmActivedVendorCtrl.cp">
                                            <td class="text-left" style="vertical-align: middle;">{{ $index + 1}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{cp.Name}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{cp.Phone}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{cp.Email}}</td>
                                        </tr>
                                        <tr ng-if="FrmActivedVendorCtrl.cp.length == 0"><td colspan="4">{{'NO_DATA' | translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <legend class="h4" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                        {{'ADDRESS_INFO' | translate}}
                    </legend>
                    <div class="row">
                        <div class="col-md-12">
                            <label>{{'CNTR_ADDRS' | translate}}</label><br />
                            {{FrmActivedVendorCtrl.addressMain}}
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <label>{{'BRNCH_ADDRS' | translate}}</label><br />
                            {{FrmActivedVendorCtrl.addressBranch}}
                        </div>
                    </div>
                    <legend class="h4" ng-if="FrmActivedVendorCtrl.detail[0].Vendor.Saham!=null" style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
                        {{'STOCK_INFO'|translate}}
                    </legend>
                    <div class="row" ng-if="FrmActivedVendorCtrl.detail[0].Vendor.Saham!=null">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'NO' | translate}}</th>
                                            <th class="text-center">{{'OWN_TYPE' | translate}}</th>
                                            <th class="text-center">{{'OWN_NAME' | translate}}</th>
                                            <th class="text-center">{{'NO_KTPDLL' | translate}}</th>
                                            <th class="text-center">{{'BIRTH_DATE_COM' | translate}}</th>
                                            <th class="text-center">{{'NOMINAL' | translate}}</th>
                                            <th class="text-center">{{'UNIT' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="saham in FrmActivedVendorCtrl.detail[0].Vendor.Saham">
                                            <td class="text-left" style="vertical-align: middle;">{{ $index + 1}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{saham.SysReference.Value | translate}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{saham.OwnerName}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{saham.OwnerID}} &nbsp;&nbsp;<a href="{{FrmActivedVendorCtrl.folderFile+saham.OwnerIDUrl}}" class="btn btn-xs btn-primary" target="_BLANK" title="{{'DOWNLOAD_DOC' | translate}}">
                                                <i class="fa fa-download"></i>
                                            </a></td>
                                            <td class="text-center" style="vertical-align: middle;">{{saham.OwnerDOB | date:"dd-MM-yyyy"}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{saham.Quantity}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{saham.Unit.Value | translate}}</td>
                                        </tr>
                                        <tr ng-if="FrmActivedVendorCtrl.detail[0].Vendor.Saham.length == 0"><td colspan="7">{{'NO_DATA' | translate}}</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="FrmActivedVendorCtrl.cancel()" title="{{'BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
        <!--<button type="button" class="btn btn-flat btn-danger" ng-if="FrmActivedVendorCtrl.act === 0" ng-click="FrmActivedVendorCtrl.tolakactived()" title="{{'ACT_DENY' | translate}}"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;</button>-->
        <button type="button" class="btn btn-flat btn-success" ng-if="FrmActivedVendorCtrl.act === 0" ng-click="FrmActivedVendorCtrl.acceptactived()" title="{{'ACC_ACT' | translate}}"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;</button>
    </div>
</div>
