﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="FrmActiveVendorCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="FrmActiveVendorCtrl.cancel()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{FrmActiveVendorCtrl.aktifasi |translate}} Vendor "{{FrmActiveVendorCtrl.VendorName}}"</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label">{{'REASON'| translate}} : </label>
                                        <textarea class="form-control" rows="5" ng-model="FrmActiveVendorCtrl.isAdd.Description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button type="button" class="btn btn-flat btn-default" ng-click="FrmActiveVendorCtrl.cancel()"><i class="fa fa-arrow-left"></i>  {{'BACK' | translate}}&nbsp;</button>
                                    <button type="button" class="btn btn-flat btn-primary" ng-click="FrmActiveVendorCtrl.save()"><i class="fa fa-save"></i> {{'SAVE_APPROVE' | translate}}&nbsp;&nbsp; </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
