﻿<div class="container-fluid" ng-init="ExportDataPerusahaanCtrl.init()">
    <ol class="breadcrumb" style="margin-top: 20px;">
		<li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/proses-verifikasi/{{ExportDataPerusahaanCtrl.id}}" class="active">{{'BREADCRUMB.VERIFICATION_PROCESS'|translate}}</a></li>
        <li><a class="active">{{'EXPORT'|translate}}</a></li>
    </ol>
    <div class="box">
        <div class="box-body">
            <div class="modal-body">
                <!-- <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-flat btn-primary" ng-click="ExportDataPerusahaanCtrl.kembali()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
                        <button class="btn btn-flat btn-default" ng-click="ExportDataPerusahaanCtrl.makePDF()"><i class="fa fa-print"></i> {{'PRINT'|translate}}</button>
                    </div>
                </div> -->
                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==1">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'TITLE_DOC'|translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row"  >
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered"  >
                                            <thead>
                                                <tr>
                                                    <th class="text-center" >No</th>
                                                    <th class="text-center" >{{'TABLE.DOC_NAME'|translate}}</th>
                                                    <th class="text-center"style=" width: 300px; min-width: 300px; vertical-align: middle;">{{'TABLE.DOC_NUMBER'|translate}}</th>
                                                    <th class="text-center"style=" width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.VALID_UNTIL'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dok in ExportDataPerusahaanCtrl.document" >
                                                    <td class="text-center" >{{$index + 1}}</td>
                                                    <td  >{{dok.DocumentName}}</td>
                                                    <td class="text-center" >{{dok.DocumentNo ? dok.DocumentNo : '-'}}</td>
                                                    <td class="text-center" >{{dok.ValidDateConverted ? dok.ValidDateConverted : '-'}}</td>
                                                </tr>
                                                <tr ng-if="ExportDataPerusahaanCtrl.document.length === 0" >
                                                    <td colspan="4" > {{'NO_DATA'|translate}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==2">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'FORM.LICENSEDATA'| translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                        <div class="row"  >
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered"  >
                                        <thead>
                                            <tr>
                                                <th class="text-center"  >No</th>
                                                <th class="text-center"  >{{'TABLE.LICENSETYPE' | translate}}</th>
                                                <th class="text-center"  >{{'TABLE.LICENSENO' | translate}}</th>
                                                <th class="text-center"  >{{'TABLE.STARTDATE_LICENSE'| translate}}</th>
                                                <th class="text-center"  >{{'TABLE.ENDDATE' | translate}}</th>
                                                <th class="text-center"  >{{'TABLE.INSTITUTION' | translate}}</th>
                                                <th class="text-center"  >{{'FORM.DOCUMENT'|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="ExportDataPerusahaanCtrl.license.List.length <= 0">
                                                <td colspan="6" cellpadding="0"  >
                                                    <span>{{'NO_DATA'| translate}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="obj in ExportDataPerusahaanCtrl.license.List">
                                                <td class="text-center" style="vertical-align: middle; ">{{IzinUsahaController.currentPage > 1 ? (IzinUsahaController.pageSize * (IzinUsahaController.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle; ">{{obj.LicenseName}}</td>
                                                <td class="text-center" style="vertical-align: middle; ">{{obj.LicenseNo}}</td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="!(obj.IssuedDate === null)">{{obj.IssuedDate | date: "dd-MM-yyyy"}}</span>
                                                    <span ng-if="(obj.IssuedDate === null)">-</span>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle; ">
                                                    <span ng-if="!(obj.ExpiredDate === null)">{{obj.ExpiredDate | date: "dd-MM-yyyy"}}</span>
                                                    <span ng-if="(obj.ExpiredDate === null)">-</span>
                                                </td>
                                                <td class="text-center" style="vertical-align: middle; ">{{obj.IssuedBy ? obj.IssuedBy:'-'}}</td>
                                                <td class="text-center" style="vertical-align: middle!important; ">
                                                    <span ng-if="obj.DocumentURL!=null">{{'Ada'|translate}}</span>
                                                    <span ng-if="obj.DocumentURL==null">{{'Tidak Ada'|translate}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==3">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'BANK_DETAIL' | translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row"  >
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 20px; min-width: 20px; vertical-align: middle;">{{'NO' | translate}}</th>
                                                <th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'ACCOUNT_NO' | translate}}</th>
                                                <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'ACCOUNT_NAME' | translate}}</th>
                                                <th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'BANK_NAME' | translate}}</th>
                                                <th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'BRANCH' | translate}}</th>
                                                <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;" ng-if="ExportDataPerusahaanCtrl.VendorCategoryID == 33">{{'SWIFT_CODE' | translate}}</th>
                                                <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'CURRENCY' | translate}}</th>
                                                <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'BANKADDRESS' | translate}}</th>
                                                <th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'PASSBOOK' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="bankDetail in ExportDataPerusahaanCtrl.bankdetail.List">
                                                <td class="text-center">{{$index + 1}}</td>
                                                <td >{{bankDetail.AccountNo ? bankDetail.AccountNo : '-'}}</td>
                                                <td class="text-center">{{bankDetail.AccountName ? bankDetail.AccountName : '-'}}</td>
                                                <td class="text-center">{{bankDetail.BankName ? bankDetail.BankName : '-'}}</td>
                                                <td class="text-center">{{bankDetail.Branch ? bankDetail.Branch : '-'}}</td>
                                                <td class="text-center">{{bankDetail.SwiftCode ? bankDetail.SwiftCode : '-'}}</td>
                                                <td class="text-center">{{bankDetail.CurrencyName ? bankDetail.CurrencyName : '-'}}</td>
                                                <td>{{bankDetail.BankAddress ? bankDetail.BankAddress : '-'}}</td>
                                                <td class="text-center">
                                                    <span ng-if="bankDetail.UrlDoc!=null">{{'Ada'|translate}}</span>
                                                    <span ng-if="bankDetail.UrlDoc==null">{{'Tidak Ada'|translate}}</span>
                                                </td>
                                            </tr>
                                            <tr ng-if="ExportDataPerusahaanCtrl.bankdetail.Count===0" ng-show="ExportDataPerusahaanCtrl.editAccess == true || ExportDataPerusahaanCtrl.deleteAccess == true"><td colspan="9"> {{'NO_DATA' | translate}}</td></tr>
                                            <tr ng-if="ExportDataPerusahaanCtrl.bankdetail.Count===0" ng-show="ExportDataPerusahaanCtrl.editAccess == false || ExportDataPerusahaanCtrl.deleteAccess == false"><td colspan="8"> {{'NO_DATA' | translate}}</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==4">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'DATA_AKTA_PENDIRIAN' | translate}}</h4>
                        </div>
                        <div class="col-md-12">
                            <label>{{'DATA_PEMILIK_SAHAM' | translate}}</label>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered "
                                            style="table-layout: fixed!important;">
                                            <thead>
                                                <tr>
                                                    <th class="center-vertical" style="font-weight: bolder; width: 4%; ">No</th>
                                                    <th class="center-vertical" style="width: 12%; ">{{'TIPE' | translate}}</th>
                                                    <th class="center-vertical" style="font-weight: bolder; ">{{'NAMA' | translate}}</th>
                                                    <th class="center-vertical" style="font-weight: bolder; width: 15%; ">{{'TANGGAL' | translate}}</th>
                                                    <th class="center-vertical" style="font-weight: bolder; width: 15%; ">Nominal</th>
                                                    <th class="center-vertical" style="font-weight: bolder; width: 10%; ">{{'SATUAN' | translate}}</th>
                                                    <th class="center-vertical" style="font-weight: bolder; width: 15%; ">{{'NO_IDENTITAS' | translate}}</th>
                                                    <th class="center-vertical" style="font-weight: bolder; width: 7%; ">{{'FORM.DOCUMENT'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.verifiedSaham.length <= 0">
                                                    <td colspan="8" cellpadding="0"  >
                                                        <span>{{'NO_DATA' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="dt in ExportDataPerusahaanCtrl.verifiedSaham">
                                                    <td class="text-center"  >{{$index + 1}}</td>
                                                    <td class="text-center"  >{{dt.SysReference.Value | translate}}</td>
                                                    <td  >{{dt.OwnerName}}</td>
                                                    <td class="text-center"  >{{dt.OwnerDOB | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center"  >{{dt.Quantity | currency : ""}}</td>
                                                    <td class="text-center"  >{{(dt.Unit.Value != 'STOCK_UNIT_CURRENCY') ? dt.Unit.Value : dt.CurrencySymbol  | translate}}</td>
                                                    <td class="text-center"  >{{dt.OwnerID}}</td>
                                                    <td class="text-center"  >
                                                        <span ng-if="dt.OwnerIDUrl!=null">{{'Ada'|translate}}</span>
                                                        <span ng-if="dt.OwnerIDUrl==null">{{'Tidak Ada'|translate}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label>{{'DATA_AKTA_PENDIRIAN' | translate}}</label>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row"  >
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered "
                                            style="table-layout: fixed!important;">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"  >No</th>
                                                    <th class="text-center"  >{{'TANGGAL_SURAT' | translate}}</th>
                                                    <th class="text-center"  >{{'NOTARIS' | translate}}</th>
                                                    <th class="text-center"  >{{'TEMPAT_NOTARIS' | translate}}</th>
                                                    <th class="text-center"  >{{'FORM.DOCUMENT' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.countPendirian == 0">
                                                    <td colspan="5"  cellpadding="0">
                                                            <span>{{'NO_DATA' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="fl in ExportDataPerusahaanCtrl.AktaPendirian">
                                                    <td class="text-center"  >{{fl.DocumentNo}}</td>
                                                    <td class="text-center"  >{{fl.DocumentDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center"  >{{fl.NotaryName}}</td>
                                                    <td class="text-center"  >{{fl.NotaryLocationName}}</td>
                                                    <td class="text-center"  >
                                                        <span ng-if="fl.DocumentURL!=null">{{'Ada'|translate}}</span>
                                                        <span ng-if="fl.DocumentURL==null">{{'Tidak Ada'|translate}}</span>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label>{{'DATA_AKTA_PERUBAHAN_TERAKHIR' | translate}}</label>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row"  >
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered "
                                            style="table-layout: fixed!important;">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"  >No</th>
                                                    <th class="text-center"  >{{'TANGGAL_SURAT' | translate}}</th>
                                                    <th class="text-center"  >{{'NOTARIS' | translate}}</th>
                                                    <th class="text-center"  >{{'FORM.DOCUMENT' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.countPerubahan == 0">
                                                    <td   colspan="4" cellpadding="0">
                                                            <span>{{'NO_DATA' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="fl in ExportDataPerusahaanCtrl.AktaPerubahan">
                                                    <td class="text-center"  >{{fl.DocumentNo}}</td>
                                                    <td class="text-center"  >{{fl.DocumentDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center"  >{{fl.NotaryName}}</td>
                                                    <td class="text-center"  >
                                                        <span ng-if="fl.DocumentURL!=null">{{'Ada'|translate}}</span>
                                                        <span ng-if="fl.DocumentURL==null">{{'Tidak Ada'|translate}}</span>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label>{{'DATA_PENGESAHAN_KEMENKUMHAM' | translate}}</label>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered "
                                            style="table-layout: fixed!important;">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"  >No</th>
                                                    <th class="text-center"  >{{'TANGGAL_SURAT' | translate}}</th>
                                                    <th class="text-center"  >{{'FORM.DOCUMENT' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.countPengesahan == 0">
                                                    <td colspan="3" cellpadding="0">
                                                        <span>{{'NO_DATA' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="fl in ExportDataPerusahaanCtrl.PengesahanKemenkumham">
                                                    <td class="text-center"  >{{fl.DocumentNo}}</td>
                                                    <td class="text-center"  >{{fl.DocumentDate | date: "dd-MM-yyyy"}}</td>
                                                    <td class="text-center"  >
                                                        <span ng-if="fl.DocumentURL!=null">{{'Ada'|translate}}</span>
                                                        <span ng-if="fl.DocumentURL==null">{{'Tidak Ada'|translate}}</span>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==5">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}n&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'FINANCIAL_COMPANY_DATA' | translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12 center-block" style="float: none!important;">
                                    <div class="row" style="margin-bottom: 15px;">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="width: 4%">No</th>
                                                            <th class="text-center">{{'TABLE.FINANCIAL_COMPANY' | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="sk in ExportDataPerusahaanCtrl.vendorbalance">
                                                            <td class="text-center">{{$index+1}}.</td>
                                                            <td>
                                                                <table class="table table-bordered" ng-if="sk.BalanceName == 'WEALTH_TYPE_MODAL'">
                                                                    <tr>
                                                                        <td><b>{{sk.BalanceName |translate}}</b></td>
                                                                        <td width="35%">{{ExportDataPerusahaanCtrl.modal | currency: ""+ ExportDataPerusahaanCtrl.labelCurr +" "}}</td>
                                                                    </tr>
                                                                </table>
                                                                <b ng-if="sk.BalanceName != 'WEALTH_TYPE_MODAL' && ExportDataPerusahaanCtrl.langID">{{sk.locale_in |translate}}</b>
                                                                <b ng-if="sk.BalanceName != 'WEALTH_TYPE_MODAL' && !ExportDataPerusahaanCtrl.langID">{{sk.locale_en |translate}}</b>
                                                                <table class="table table-bordered">
                                                                    <tr ng-repeat="pt in sk.listDataBalanceModel">
                                                                        <td ng-if="pt.subCategory.length !== 0">
                                                                            <p ng-if="pt.COAType !== null">{{$index+1}}. {{pt.COAType.Value |translate}}</p>
                                                                            <table class="table table-bordered">
                                                                                <tr ng-repeat="subcoa in pt.subCategory">
                                                                                    <td>
                                                                                        {{$index+1}}. {{subcoa.COA.Value |translate}}
                                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3106" style="display:inline-block !important;">{{subcoa.Amount}} {{'gram'|translate}}</span>
                                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3107" style="display:inline-block !important;">{{subcoa.Amount}} {{'unit'|translate}}</span>
                                                                                        <span class="pull-right" ng-if="subcoa.UnitType === 3108" style="display:inline-block !important;">{{subcoa.Amount}} {{'bulan'|translate}}</span>
                                                                                    </td>
                                                                                    <td width="20%">{{subcoa.Nominal | currency: ""+ ExportDataPerusahaanCtrl.labelCurr +" "}}</td>
                                                                                    <td width="15%" ng-show="(ExportDataPerusahaanCtrl.deleteAccess == true || ExportDataPerusahaanCtrl.editAccess == true)">
                                                                                        <a ng-show="ExportDataPerusahaanCtrl.editAccess == true" ng-click="ExportDataPerusahaanCtrl.openForm(subcoa,6,true)" class="btn btn-flat btn-sm btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
                                                                                        <a ng-show="ExportDataPerusahaanCtrl.deleteAccess == true" ng-if="subcoa.IsActive === true" ng-click="ExportDataPerusahaanCtrl.deleteObj(subcoa, 6)" class="btn btn-flat btn-sm btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-trash-o"></i></a>
                                                                                        <!-- <a ng-show="!(subcoa.DocUrl === '')" href="{{ExportDataPerusahaanCtrl.folderFile + subcoa.DocUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{'VIEW' | translate}}"><i class="fa fa-download"></i></a> -->
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                        <td ng-if="pt.subCategory.length === 0">
                                                                            <table class="table table-bordered">
                                                                                <tr>
                                                                                    <td>
                                                                                        {{$index+1}}. {{pt.COAType.Value}}
                                                                                        <span class="pull-right" ng-if="pt.Unit.RefID === 3106" style="display:inline-block !important;">{{pt.Amount}} gram</span>
                                                                                        <span class="pull-right" ng-if="pt.Unit.RefID === 3107" style="display:inline-block !important;">{{pt.Amount}} unit</span>
                                                                                        <span class="pull-right" ng-if="pt.Unit.RefID === 3108" style="display:inline-block !important;">{{pt.Amount}} {{'mounth'|translate}}</span>
                                                                                    </td>
                                                                                    <td width="20%">{{pt.nominal | currency: ""+ ExportDataPerusahaanCtrl.labelCurr +" "}}</td>
                                                                                    <td width="15%">
                                                                                        <a ng-show="ExportDataPerusahaanCtrl.editAccess == true" ng-click="ExportDataPerusahaanCtrl.openForm(sk.WealthType,6,pt)" class="btn btn-flat btn-xs btn-primary" title="{{'Edit'|translate}}"><i class="fa fa-pencil"></i></a>
                                                                                        <a ng-show="ExportDataPerusahaanCtrl.deleteAccess == true" ng-if="pt.IsActive === true" ng-click="ExportDataPerusahaanCtrl.deleteObj(subcoa, 6)" class="btn btn-flat btn-xs btn-danger" title="{{'NON_ACTIVE'|translate}}"><i class="fa fa-trash-o"></i></a>
                                                                                        <a ng-show="!(pt.DocUrl === '')" href="{{ExportDataPerusahaanCtrl.folderFile + pt.DocUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'VIEW' | translate}}"><i class="fa fa-download"></i></a>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                            </td>
                                                        </tr>

                                                        <tr ng-if="ExportDataPerusahaanCtrl.vendorbalance.length === 0">
                                                            <td colspan=3>{{'NO_DATA' | translate}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                                <h4 class="text-center">{{'SCALE_VENDOR' | translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" >No</th>
                                                    <th class="text-center" ng-if="ExportDataPerusahaanCtrl.dataComm[0].CommodityID == null" >{{'TABLE.NBU' | translate}} </th>
                                                    <th class="text-center" ng-if="ExportDataPerusahaanCtrl.dataComm[0].CommodityID != null" >{{'TABLE.COMMODITY' | translate}} </th>
                                                    <th class="text-center" >{{'TABLE.TEKNIS' | translate}}</th>
                                                    <th class="text-center" >{{'TABLE.SKALA' | translate}} </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pt in ExportDataPerusahaanCtrl.dataComm">
                                                    <td  class="text-center">{{$index+1}}</td>
                                                    <td   ng-if="pt.CommodityID !== null && pt.BusinessField.Name != 'Lain - lain'">{{pt.Commodity.Name}}</td>
                                                    <td   ng-if="pt.CommodityID == null  && pt.BusinessField.Name != 'Lain - lain'">{{pt.BusinessField.Name}}</td>
                                                    <td   ng-if="pt.BusinessField.Name == 'Lain - lain'">{{pt.BusinessField.Name}} ( {{pt.Remark}} )</td>
                                                    <td   class="text-center" >
                                                        <span ng-if="pt.TechnicalReffS!=null">{{pt.TechnicalReffS.Name|translate}}</span>
                                                        <span ng-if="pt.TechnicalReffS==null">&nbsp;</span>
                                                    </td>
                                                    <td   class="text-center" >
                                                        <span ng-if="pt.ScaleReffS!=null">{{pt.ScaleReffS.Name|translate}}</span>
                                                        <span ng-if="pt.ScaleReffS==null">&nbsp;</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==6">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'DATA_PENGURUS' | translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"   >No</th>
                                                    <th class="text-center"   >{{'NAMA' | translate}}</th>
                                                    <th class="text-center"   >{{'NO_KTP' | translate}}</th>
                                                    <th class="text-center"   >{{'TGL_LAHIR' | translate}}</th>
                                                    <th class="text-center"   >{{'JABATAN' | translate}}</th>
                                                    <th class="text-center"   >{{'Masa Jabatan'|translate}}</th>
                                                    <th class="text-center"  >{{'TABLE.ADDRESS'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.compPersons.length <= 0">
                                                    <td colspan="7" cellpadding="0">
                                                        <span>{{'NO_DATA' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="obj in ExportDataPerusahaanCtrl.compPersons">
                                                    <td class="text-center"   >{{$index+1}}</td>
                                                    <td   >{{obj.PersonName}}</td>
                                                    <td class="text-center"   >{{obj.NoID}}</td>
                                                    <td class="text-center"   >{{obj.DateOfBirth | date : "dd-MM-yyyy"}}</td>
                                                    <td class="text-center"  >{{('POSITION_PERSON.' + obj.PositionRef) | translate}}</td>
                                                    <td   >
                                                        {{obj.ServiceStartDate| date : "dd-MM-yyyy"}} s/d
                                                        <span ng-if="obj.ServiceEndDate==null">{{'sekarang'|translate}}</span>
                                                        <span ng-if="obj.ServiceEndDate!=null">{{obj.ServiceEndDate| date : "dd-MM-yyyy"}}</span>
                                                    </td>
                                                    <td  >
                                                        {{obj.Address.AddressInfo}} <br /> {{obj.Address.AddressDetail}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==7">
                    <div id="selesai">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'TITLEEXPERIENCE'|translate}}</h4>
                        </div>
                        <div class="col-md-12">
                            <label>{{'PEKERJAAN_SELESAI'|translate}}</label><small>&nbsp;({{'TAHUN_TERAKHIR'|translate}})</small>
                            
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"   >{{'TABLE.NO'|translate}}</th>
                                                    <th class="text-center"   >{{'TABLE.CONTRACTS_NAME'|translate}}</th>
                                                    <th class="text-center"   >{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
                                                    <th class="text-center" width="10%"   >{{'TABLE.INSTANCE'|translate}}</th>
                                                    <th class="text-center"   >{{'TABLE.CONTRACT_VALUE'|translate}}</th>
                                                    <th class="text-center"   >{{'TABLE.TENDER_TYPE'|translate}}</th>
                                                    <th class="text-center"   >{{'TABLE.BUSINESS_FIELD'|translate}}</th>
                                                    <th class="text-center"   >{{'TABLE.START_DATE'|translate}}</th>
                                                    <th class="text-center"   >{{'TABLE.FINISH_DATE'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.listFinishExp.length <= 0">
                                                    <td colspan="10" cellpadding="0">
                                                        <span>{{'NO_DATA' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="obj in ExportDataPerusahaanCtrl.listFinishExp">
                                                    <td class="text-center"   >{{$index+1}}</td>
                                                    <td >{{obj.ContractName}}</td>
                                                    <td >{{obj.Address}}</td>
                                                    <td class="text-center">{{obj.Agency}}</td>
                                                    <td class="text-center">{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
                                                    <td ng-if="obj.FieldType === 3090" class="text-center">{{'VENDOR_TYPE_GOODS'|translate}}</td>
                                                    <td ng-if="obj.FieldType === 3091" class="text-center">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
                                                    <td ng-if="obj.FieldType === 3092" class="text-center">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
                                                    <td class="text-center"   >{{obj.FieldRef.Name}}</td>
                                                    <td class="text-center"   >{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
                                                    <td class="text-center"   >{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div id="berlangsung">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'TITLEEXPERIENCE'|translate}}</h4>
                        </div>
                        <div class="col-md-12">
                            <label>{{'LIVE_WORK'|translate}}</label>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"  >{{'TABLE.NO'|translate}}</th>
                                                    <th class="text-center"  >{{'TABLE.CONTRACTS_NAME'|translate}}</th>
                                                    <th class="text-center"  >{{'TABLE.CONTRACT_ADDRESS'|translate}}</th>
                                                    <th class="text-center" width="10%"  >{{'TABLE.INSTANCE'|translate}}</th>
                                                    <th class="text-center"  >{{'TABLE.CONTRACT_VALUE'|translate}}</th>
                                                    <th class="text-center"  >{{'TABLE.TENDER_TYPE'|translate}}</th>
                                                    <th class="text-center"  >{{'TABLE.BUSINESS_FIELD'|translate}}</th>
                                                    <th class="text-center"  >{{'TABLE.START_DATE'|translate}}</th>
                                                    <th class="text-center"  >{{'TABLE.FINISH_DATE'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.listCurrentExp.length <= 0">
                                                    <td colspan="9" cellpadding="0">
                                                        <span>{{'NO_DATA' | translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="obj in ExportDataPerusahaanCtrl.listCurrentExp">
                                                    <td class="text-center"  >{{$index+1}}</td>
                                                    <td >{{obj.ContractName}}</td>
                                                    <td >{{obj.Address}}</td>
                                                    <td class="text-center">{{obj.Agency}}</td>
                                                    <td class="text-center"  >{{obj.ContractValue| currency: ""+ obj.CurrencyRef +" "}}</td>
                                                    <td ng-if="obj.FieldType === 3090" class="text-center">{{'VENDOR_TYPE_GOODS'|translate}}</td>
                                                    <td ng-if="obj.FieldType === 3091" class="text-center">{{'VENDOR_TYPE_SERVICE'|translate}}</td>
                                                    <td ng-if="obj.FieldType === 3092" class="text-center">{{'VENDOR_TYPE_GOODSANDSERVICE'|translate}}</td>
                                                    <td class="text-center"  >{{obj.FieldRef.Name}}</td>
                                                    <td class="text-center"  >{{obj.StartDate | date:'dd-MM-yyyy'}}</td>
                                                    <td class="text-center"  >{{obj.EndDate | date:'dd-MM-yyyy'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==8">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'VENDOR_EXPERT' | translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered"  >
                                            <thead>
                                                <tr>
                                                    <th class="text-center"   >No</th>
                                                    <th class="text-center"   >{{'NAMA' | translate}}</th>
                                                    <th class="text-center"   >{{'EDUCATION' | translate}}</th>
                                                    <th class="text-center"   >{{'JABATAN' | translate}}</th>
                                                    <th class="text-center" >{{'KEAHLIAN' | translate}}</th>
                                                    <th class="text-center"   >{{'EXPERIENCE' | translate}}</th>
                                                    <th class="text-center"   >{{'TABLE.ADDRESS'|translate}}</th>
                                                    <th class="text-center"  >{{'Kewarganegaraan'|translate}}</th>
                                                    <th class="text-center"  >Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.vendorexperts.length <= 0">
                                                    <td colspan="9" cellpadding="0">
                                                        <div class="alert alert-info text-center">
                                                            <span>{{'No' | translate}}</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="obj in  ExportDataPerusahaanCtrl.vendorexperts">
                                                    <td class="text-center"   >{{$index+1}}</td>
                                                    <td   >{{obj.Name}}</td>
                                                    <td class="text-center"   >{{obj.Education|translate}}</td>
                                                    <td   >{{obj.Position}}</td>
                                                    <td   >{{obj.Expertise}}</td>
                                                    <td class="text-center"   >{{obj.YearOfExperience}}</td>
                                                    <td class="text-center"   >
                                                        {{obj.AddressInfo}} {{obj.AddressDetail}}
                                                    </td>
                                                    <td class="text-center"   >
                                                        {{obj.country.Name}}
                                                    </td>
                                                    <td class="text-center"   >
                                                        <span ng-if="obj.Statusperson.RefID==3138">{{'TABLE.EMPLOYEE_CONTRACT' | translate}}</span>
                                                        <span ng-if="obj.Statusperson.RefID==3139">{{'TABLE.EMPLOYEE_INTERNSHIP' | translate}}</span>
                                                        <span ng-if="obj.Statusperson.RefID==3140">{{'TABLE.EMPLOYEE_PERMANENT' | translate}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==9">
                    <div id="bangunan">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'BREADCRUMB.STUFFS' | translate}}</h4>
                        </div>
                        <div class="col-md-12">
                            <label>{{'BUILDING' | translate}}</label><br />
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center-vertical"  >{{'TABLE.NO' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.CATEGORY' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.LARGE' | translate}}(M<sup>2</sup>)</th>
                                                    <th class="center-vertical" width="30%"  >{{'TABLE.ADDRESS' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.OWNERSHIP' |translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.listBuilding.length <= 0">
                                                    <td colspan="5" cellpadding="0">
                                                        
                                                            <span>{{'No' | translate}}</span>
                                                        
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="obj in ExportDataPerusahaanCtrl.listBuilding">
                                                    <td class="text-center"   >{{$index + 1}}</td>
                                                    <td class="text-center"   >{{obj.category.Value |translate}}</td>
                                                    <td class="text-center"   >{{obj.BuildingArea}}</td>
                                                    <td class="text-left"   >{{obj.address.AddressInfo}} {{obj.address.AddressDetail}}</td>
                                                    <td class="text-center"   >{{obj.ownershipStatus.Value |translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="kendaraan">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'BREADCRUMB.STUFFS' | translate}}</h4>
                        </div>
                        <div class="col-md-12">
                            <label>{{'VEHICLE' | translate}}</label>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered  ">
                                            <thead>
                                                <tr>
                                                    <th class="center-vertical"  >{{'TABLE.NO' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.EQUIPMENTNAME' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.BRAND' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.YEAR' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.SERIALNO' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.CAPACITYPERSON' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.CONDITION' | translate}}</th>
                                                    <th class="center-vertical" style="width: 160px; min-width: 160px; ">{{'TABLE.OWNERSHIP' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.listVehicle.length <= 0">
                                                    <td colspan="8" cellpadding="0">
                                                        
                                                            <span>{{'No' | translate}}</span>
                                                        
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="objc in ExportDataPerusahaanCtrl.listVehicle">
                                                    <td class="text-center"   >{{$index + 1}}</td>
                                                    <td   >{{objc.Name}}</td>
                                                    <td class="text-center"   >{{objc.Brand}}</td>
                                                    <td class="text-center"   >{{objc.MfgDate}}</td>
                                                    <td class="text-center"   >{{objc.SerialNo}}</td>
                                                    <td class="text-center"   >{{objc.Capacity}}</td>
                                                    <td class="text-center"   >{{objc.ConditionRef.Value |translate}} </td>
                                                    <td class="text-center"  >{{objc.OwnershipRef.Value |translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="alat-berat">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'BREADCRUMB.STUFFS' | translate}}</h4>
                        </div>
                        <div class="col-md-12">
                            <label>{{'HEAVYEQUIPMENT' | translate}}</label>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered ">
                                            <thead>
                                                <tr>
                                                    <th class="center-vertical"  >{{'TABLE.NO' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.EQUIPMENTNAME' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.BRAND' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.YEAR' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.SERIALNO' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.CAPACITYTON' | translate}}</th>
                                                    <th class="center-vertical"  >{{'TABLE.CONDITION' | translate}}</th>
                                                    <th class="center-vertical" style="width: 160px; min-width: 160px; ">{{'TABLE.OWNERSHIP' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.listEquipmentTools.length <= 0">
                                                    <td   colspan="8" cellpadding="0">
                                                        
                                                            <span>{{'No' | translate}}</span>
                                                        
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="objc in ExportDataPerusahaanCtrl.listEquipmentTools">
                                                    <td class="text-center"   >{{DataPerlengkapanCtrl.currentPage > 1 ? (DataPerlengkapanCtrl.pageSize * (DataPerlengkapanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                    <td   >{{objc.Name}}</td>
                                                    <td class="text-center"   >{{objc.Brand}}</td>
                                                    <td class="text-center"   >{{objc.MfgDate}}</td>
                                                    <td class="text-center"   >{{objc.SerialNo}}</td>
                                                    <td class="text-center"   >{{objc.Capacity}}</td>
                                                    <td class="text-center"   >{{objc.ConditionRef.Value |translate}} </td>
                                                    <td class="text-center"  >{{objc.OwnershipRef.Value |translate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==10">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'BREADCRUMB.ADMINISTRATION_DATA' | translate}}</h4>
                        </div>
                        <div class="col-md-12" style="float: none!important">
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-4">
                                    <label>{{'COUNTRY' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.negara" readonly style="background:none!important" />
                                </div>
                                <div class="col-md-4">
                                    <label>{{'CONTINENT' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.benua" readonly style="background:none!important" />
                                </div>
                                <div class="col-md-4">
                                    <label>{{'STATES_PROVINCE' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.provinsi" readonly style="background:none!important" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-4">
                                    <label>{{'CITY' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.kota" readonly style="background:none!important" />
                                </div>
                                <div ng-if="ExportDataPerusahaanCtrl.kecamatan!=''" class="col-md-4">
                                    <label>{{'SUB_DISTRICT' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.kecamatan" readonly style="background:none!important" />
                                </div>
                                <div class="col-md-4" ng-if="ExportDataPerusahaanCtrl.verified[1].Vendor.TenderCodeTemp !== null">
                                    <label>{{'TENDER_CODE' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.verified[1].Vendor.TenderCodeTemp" readonly style="background:none!important" />
                                </div>
                            </div>
                            <legend class="h4" style="border-bottom: 1px dotted darkgreen!important; ">
                                {{'GEN_INFO' | translate}}
                            </legend>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-4">
                                    <label>{{'COM_TYPE' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.verified[1].Vendor.businessName" readonly style="background:none!important" />
                                </div>
                                <div class="col-md-4">
                                    <label>{{'COM_NAME' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.verified[1].Vendor.VendorName" readonly style="background:none!important" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-5">
                                    <label>{{'NO_NPWP' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.verified[1].Vendor.Npwp" readonly style="background:none!important" />
                                </div>
                                <div class="col-md-5">
                                    <label>{{'NO_IUJP' | translate}}</label><br />
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.verified[1].Vendor.LegalNumber" readonly style="background:none!important" />
                                </div>

                            </div>
                            <legend class="h4" style="border-bottom: 1px dotted darkgreen!important; margin-top:20px;">
                                {{'CONTACT_INFO' | translate}}
                            </legend>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-4">
                                    <label>{{'COM_MAIL' | translate}}</label>
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.email" readonly style="background:none!important" />
                                </div>
                                <div class="col-md-4">
                                    <label>{{'NOTELP' | translate}}</label>
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.telp" readonly style="background:none!important" />
                                </div>
                                <div class="col-md-4">
                                    <label>{{'FAX' | translate}}</label>
                                    <input type="text" class="form-control input-sm" ng-model="ExportDataPerusahaanCtrl.fax" readonly style="background:none!important" />
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-8">
                                    <label>{{'CP' | translate}}</label><br />
                                    <div class="table table-responsive">
                                        <table class="table table-bordered" id="table-rekanan">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" >{{'NO' | translate}}</th>
                                                    <th class="text-center" >{{'CONT_NANE' | translate}}</th>
                                                    <th class="text-center" >{{'NOTELP' | translate}}</th>
                                                    <th class="text-center" >{{'EMAIL' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="cp in ExportDataPerusahaanCtrl.cp">
                                                    <td class="text-left"  >{{ $index + 1}}</td>
                                                    <td class="text-center"  >{{cp.Name}}</td>
                                                    <td class="text-center"  >{{cp.Phone}}</td>
                                                    <td class="text-center"  >{{cp.Email}}</td>
                                                </tr>
                                                <tr ng-if="ExportDataPerusahaanCtrl.cp.length == 0"><td colspan="4">{{'NO_DATA' | translate}}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <legend class="h4" style="border-bottom: 1px dotted darkgreen!important; margin-top:20px;">
                            {{'TITLE_BIDUSAHA' | translate}}
                            </legend>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" >No</th>
                                                        <th class="text-center" >{{'BUSINESS_FIELD' | translate}}</th>
                                                        <th class="text-center" >{{'TABLE_DETAIL.KUALIFIKASI'|translate}}</th>
                                                        <th class="text-center" >{{'TABLE.TEKNIS'|translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="det in ExportDataPerusahaanCtrl.listBussinesDetailField">
                                                        <td  class="text-center" >{{$index+1}}</td>
                                                        <td ng-if="det.BusinessField.Name != 'Lain - lain'"  >{{det.BusinessField.Name }}</td>
                                                        <td ng-if="det.BusinessField.Name == 'Lain - lain'"  >{{det.BusinessField.Name }} ( {{det.Remark}} )</td>
                                                        <td  class="text-center" >{{det.ScaleReffS.Value | translate}}</td>
                                                        <td  class="text-center" >{{det.TechnicalReffS.Value | translate }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <legend class="h4" style="border-bottom: 1px dotted darkgreen!important; margin-top:20px;">
                                {{'ADDRESS_INFO' | translate}}
                                </legend>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="table table-responsive" style="padding-bottom: 10px;">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="width: 50px;">{{'TABLE.NO' | translate}}</th>
                                                            <th class="text-center" style="width: 30%;">{{'OFFICE.OFFICE_TYPE' | translate}}</th>
                                                            <th class="text-center">{{'HEADERS.DETAIL' | translate}}</th>
                                                            <th class="text-center">{{'ASSOSIATION_TYPE' | translate}}</th>
                                                            <th class="text-center">{{'POST_CODE' | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="ExportDataPerusahaanCtrl.CompleteAddressInfo.length <= 0">
                                                            <td colspan="5">
                                                                {{'NO_DATA' | translate}}
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat="dt in ExportDataPerusahaanCtrl.CompleteAddressInfo">
                                                            <td class="text-center">{{$index + 1}}</td>
                                                            <td>
                                                                <span ng-if="dt.VendorContactType.Value == 'VENDOR_OFFICE_TYPE_MAIN'">{{'VENDOR_OFFICE_TYPE_MAIN' | translate}}</span>
                                                                <span ng-if="dt.VendorContactType.Value == 'VENDOR_OFFICE_TYPE_BRANCH'">{{'VENDOR_OFFICE_TYPE_BRANCH' | translate}}</span>
                                                            </td>
                                                            <td>
                                                                {{dt.Contact.Address.AddressInfo}}, {{dt.Contact.Address.AddressDetail}}
                                                            </td>
                                                            <td class="text-center">
                                                                <span ng-if="dt.VendorContactType.Value == 'VENDOR_OFFICE_TYPE_MAIN'">{{dt.Vendor.AssociationDetail.AssosiationName ? dt.Vendor.AssociationDetail.AssosiationName : '-'}}</span>
                                                                <span ng-if="dt.VendorContactType.Value != 'VENDOR_OFFICE_TYPE_MAIN'">-</span>
                                                            </td>
                                                            <td class="text-center">{{dt.Contact.Address.PostalCode ? dt.Contact.Address.PostalCode : '-'}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==11">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'SURAT.TITLE' | translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table  table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 5px; min-width: 5px; vertical-align: middle; ">{{'NO' | translate}}</th>
                                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle; ">{{'TITLE' | translate}}</th>
                                                    <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle; ">{{'FORM.DOCUMENT'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"  >1</td>
                                                    <td>{{'BISNIS' | translate}}</td>
                                                    <td class="text-center"  >
                                                        <span ng-if="ExportDataPerusahaanCtrl.urlBusinessConduct!=null">{{'Ada'|translate}}</span>
                                                        <span ng-if="ExportDataPerusahaanCtrl.urlBusinessConduct==null">{{'Tidak Ada'|translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="ExportDataPerusahaanCtrl.cek === true">
                                                    <td class="text-center"  >2</td>
                                                    <td>{{'SURATPERNYATAAN' | translate}}</td>
                                                    <td class="text-center" >
                                                        
                                                        <span ng-if="ExportDataPerusahaanCtrl.urlAggrement!=null">{{'Ada'|translate}}</span>
                                                        <span ng-if="ExportDataPerusahaanCtrl.urlAggrement==null">{{'Tidak Ada'|translate}}</span>
                                                    </td>
                                                <!-- </tr>
                                                <tr ng-if="ExportDataPerusahaanCtrl.cek === true">
                                                    <td class="text-center" >3.</td>
                                                    <td class="text-center" >{{'INITIAL_RISK' | translate}}</td>
                                                    <td class="text-center" >
                                                        
                                                        <span ng-if="ExportDataPerusahaanCtrl.QuestionnaireUrl!=null">{{'Ada'|translate}}</span>
                                                        <span ng-if="ExportDataPerusahaanCtrl.QuestionnaireUrl==null">{{'Tidak Ada'|translate}}</span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="ExportDataPerusahaanCtrl.cek !== true">
                                                    <td class="text-center" >2.</td>
                                                    <td class="text-center" >{{'KUESIONER' | translate}}</td>
                                                    <td class="text-center" >
                                                        <span ng-if="ExportDataPerusahaanCtrl.QuestionnaireUrl!=null">{{'Ada'|translate}}</span>
                                                        <span ng-if="ExportDataPerusahaanCtrl.QuestionnaireUrl==null">{{'Tidak Ada'|translate}}</span>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-atas" ng-if="ExportDataPerusahaanCtrl.moduleId==12">
                    <div id="print">
                        <div class="col-md-12">
                            <label>{{'COM_NAME'|translate}}&nbsp;&nbsp;&nbsp;&nbsp;: {{ExportDataPerusahaanCtrl.VendorName}}</label>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-center">{{'DATA_PENGURUS' | translate}}</h4>
                        </div>
                        <div class="col-md-12 center-block" style="float: none!important;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 20px; min-width: 20px;">{{'TABLE.NO' | translate}}</th>
                                                    <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;" ng-if="ExportDataPerusahaanCtrl.afiliasiID != 6">{{'TABLE.VENDOR_AFILIASI' | translate}}</th>
                                                    <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;" ng-if="ExportDataPerusahaanCtrl.afiliasiID != 6">{{'TABLE.TIPE_AFILIASI' | translate}}</th>
                                                    <th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;" ng-if="ExportDataPerusahaanCtrl.afiliasiID != 6">{{'TABLE.JUMLAH_SAHAM' | translate}}</th>
                                                    <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'TABLE.DESKRIPSI' | translate}}</th>
                                                    <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'TABLE.DOKUMEN' | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-if="ExportDataPerusahaanCtrl.hubIstimewa.length>0" ng-repeat="hubIstimewa in ExportDataPerusahaanCtrl.hubIstimewa">
                                                    <td class="text-center">{{$index + 1}}</td>
                                                    <td ng-if="hubIstimewa.AfiliasiID != 6">{{hubIstimewa.VendorName ? hubIstimewa.VendorName : '-'}}</td>
                                                    <td class="text-center" ng-if="hubIstimewa.AfiliasiID != 6">{{hubIstimewa.AffiliationName ? hubIstimewa.AffiliationName: '-'}}</td>
                                                    <td class="text-center" ng-if="hubIstimewa.AfiliasiID != 6">{{hubIstimewa.StockQuantity ? hubIstimewa.StockQuantity : '-'}}<span ng-if="hubIstimewa.StockQuantity"> %</span></td>
                                                    <td class="text-center">{{hubIstimewa.AfiliasiDetail ? hubIstimewa.AfiliasiDetail : '-'}}</td>
                                                    <td class="text-center" ng-if="hubIstimewa.VendorCategoryID == 33">
                                                        <span ng-if="hubIstimewa.Document_Url">{{'Ada'|translate}}</span>
                                                        <span ng-if="!hubIstimewa.Document_Url">{{'Tidak Ada'|translate}}</span>
                                                    </td>
                                                    <td class="text-center" ng-if="hubIstimewa.VendorCategoryID == 32">
                                                        <span ng-if="hubIstimewa.Document_Url">{{'Ada'|translate}}</span>
                                                        <span ng-if="!hubIstimewa.Document_Url">{{'Tidak Ada'|translate}}</span>
                                                    </td>
                                                    <td class="text-center" ng-show="ExportDataPerusahaanCtrl.editAccess == true || ExportDataPerusahaanCtrl.deleteAccess == true">
                                                        <button ng-show="ExportDataPerusahaanCtrl.editAccess == true" ng-click="ExportDataPerusahaanCtrl.afiliasiUpdateModal(hubIstimewa)" ng-if="ExportDataPerusahaanCtrl.VendorCategoryID == 33" title="{{'UBAH' | translate}}"><i class="fa fa-pencil"></i></button>
                                                        <button ng-show="ExportDataPerusahaanCtrl.deleteAccess == true" class="btn btn-flat btn-sm btn-danger" ng-if="ExportDataPerusahaanCtrl.VendorCategoryID == 33" ng-click="ExportDataPerusahaanCtrl.removeAfiliasi(hubIstimewa)" title="{{'HAPUS' | translate}}"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                                <tr ng-if="ExportDataPerusahaanCtrl.hubIstimewa.length===0" ng-show="ExportDataPerusahaanCtrl.editAccess == true || ExportDataPerusahaanCtrl.deleteAccess == true"><td colspan="6"> {{'NO_DATA' | translate}}</td></tr>
                                                <tr ng-if="ExportDataPerusahaanCtrl.hubIstimewa.length===0" ng-show="!(ExportDataPerusahaanCtrl.editAccess == true || ExportDataPerusahaanCtrl.deleteAccess == true")><td colspan="5"> {{'NO_DATA' | translate}}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top:30px;">
                        <button class="btn btn-flat btn-primary" ng-click="ExportDataPerusahaanCtrl.kembali()" title="{{'BACK' | translate}}"><i class="fa fa-reply"></i> {{'BACK' | translate}}</button>
                        <button class="btn btn-flat btn-default" ng-click="ExportDataPerusahaanCtrl.makePDF()"><i class="fa fa-print"></i> {{'PRINT'|translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-md-12">
            <div class="text-center">
                
                <!--<button class="btn btn-flat btn-primary" ng-click="ExportDataPerusahaanCtrl.kembali()" ><i class="fa fa-reply"></i></button>-->
            </div>
        </div>
    </div>
</div>
