﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="ModalLicenseCtrl.init()">
     <div class="modal-header">
                <button type="button" class="close" ng-click="ModalLicenseCtrl.batal()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
                <h3 class="modal-title afta-font" ng-if="ModalLicenseCtrl.isAdd === 1" id="myModalLabel">{{'TABLE_DETAIL.TITLE' | translate}}</h3>
                <h3 class="modal-title afta-font" ng-if="ModalLicenseCtrl.isAdd === 2" id="myModalLabel">{{'DATA_PENGURUS_PERUSAHAAN' | translate}}</h3>
                <h3 class="modal-title afta-font" ng-if="ModalLicenseCtrl.isAdd === 3" id="myModalLabel">{{'DET_TENAGA_AHLI' | translate}}</h3>
                <h3 class="modal-title afta-font" ng-if="ModalLicenseCtrl.isAdd === 4" id="myModalLabel">{{'DETAIL_PENGALAMAN' | translate}}</h3>
                <h3 class="modal-title afta-font" ng-if="ModalLicenseCtrl.isAdd === 16" id="myModalLabel">{{'DET_DOK_LAIN' | translate}}</h3>
     </div>
    <div class="modal-body" style="padding-bottom: 0px;">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 1 && ModalLicenseCtrl.VendorCategoryID == 33">
                        <dl class="dl-horizontal">
                            <dt>{{'TYPE_LICENSE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.tipeLicense  == 4537 ? 'Izin Usaha' : 'Izin Operasional' }}</dd>

                            <dt>{{'LICENSETYPE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.jenisIzinUsaha.Name || '-'}}</dd>

                            <dt>{{'LICENSENO' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.noJenisIzinUsaha || '-'}}</dd>

                            <dt>{{'TABLE.ENDDATE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.ExpiredDate == '' ? '-' : (ModalLicenseCtrl.ExpiredDate | date:'dd-MM-yyyy')}}</dd>

                            <dt>{{'INSTITUTION' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.instansiPemberi || '-'}}</dd>

                            <div ng-if="ModalLicenseCtrl.jenisIzinUsaha.Name === 'SIUP'">
                                <dt>{{'TABLE_DETAIL.KUALIFIKASI' | translate}}</dt>
                                <dd>{{ModalLicenseCtrl.CompanyScaleName || '-'}}</dd>
                                <dt>{{'NOMINAL' | translate}}</dt>
                                <dd>{{ModalLicenseCtrl.CapitalAmount | currency:ModalLicenseCtrl.currency + "."}}</dd>
                            </div>

                            <dt>{{'TABLE_DETAIL.PROVINSI' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.provinsiName || '-'}}</dd>

                            <dt>{{'TABLE_DETAIL.KOTA' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.cityName || '-'}}</dd>

                            <dt>{{'BIDANG_USAHA' | translate}}</dt>
                            <dd>
                                <div class="row" style="margin-bottom:0px;">
                                    <div class="col-md-12" style="padding-left: 0px;">
                                        <div class="col-md-12">
                                            <div class="table table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="width:10%;">{{'TABLE.NO' | translate}}</th>
                                                            <th class="text-center" style="width:20%;">{{'TABLE.GOLONGAN_BIDANG_USAHA' | translate}}</th>
                                                            <th class="text-center" style="width:70%;">{{'TABLE.NAMA_BIDANG_USAHA' | translate}}</th>
                                                            <!--<th class="text-center" style="width:50px">{{'TABLE.ACTION' | translate}}</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-if="ModalLicenseCtrl.dataBidangUsaha.length == 0">
                                                            <td colspan="3">
                                                                <div>{{'NO_DATA' | translate}}</div>
                                                            </td>
                                                        </tr>
                                                        <tr ng-repeat="dt in ModalLicenseCtrl.dataBidangUsaha" ng-if="dt.IsActive">
                                                            <td>{{$index + 1}}</td>
                                                            <td>{{dt.BusinessFieldName}}</td>
                                                            <td>{{dt.Name}}</td>
                                                            <!--<td><button class="btn btn-sm btn-flat btn-danger" ng-click="ModalLicenseCtrl.removeBidangUsaha(dt)"><i class="fa fa-close"></i></button></td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </dd>
                            <dt>{{'TABLE_DETAIL.DOC' | translate}}</dt>
                            <dd>
                                <a href="{{ModalLicenseCtrl.folderFile + ModalLicenseCtrl.DocUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" 
                                   ng-if="ModalLicenseCtrl.DocUrl != null" title="{{'TABLE_DETAIL.BTN_DOWNLOAD' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;{{'BTN.DOWNLOAD' | translate}}
                                </a>
                                <label class="label label-sm label-default" ng-if="ModalLicenseCtrl.DocUrl === null">
                                    <i class="fa fa-times"></i>&nbsp;{{'BTN.BELUM_ADA_FILE' | translate}}
                                </label>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 1 && ModalLicenseCtrl.VendorCategoryID == 32">
                        <dl class="dl-horizontal">
                            <dt>{{'TABLE_DETAIL.NOMOR' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseNo !== null">{{ModalLicenseCtrl.data.LicenseNo}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseNo === null">-</dd>
                            <dt>{{'TABLE_DETAIL.TYPE_LICENSE' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseName !== null">{{ModalLicenseCtrl.data.LicenseName}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseName == null">-</dd>
                            <dt>{{'DATE_BERLAKU' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.IssuedDate !== null">{{ModalLicenseCtrl.data.IssuedDate | date: 'dd-MM-yyyy'}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.IssuedDate === null">-</dd>
                            <dt>{{'DATE_SAMPAI' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.ExpiredDate !== null">{{ModalLicenseCtrl.data.ExpiredDate | date: 'dd-MM-yyyy'}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.ExpiredDate === null">-</dd>
                            <dt>{{'KUALIFIKASI' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseQualificationName !== null">{{ModalLicenseCtrl.data.LicenseQualificationName}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.LicenseQualificationName === null">-</dd>
                            <dt>{{'TABLE_DETAIL.DOC' | translate}}</dt>
                            <dd ng-if="!(ModalLicenseCtrl.data.DocumentURL ==='' || ModalLicenseCtrl.data.DocumentURL  ===null)">
                                <a ng-click="ModalLicenseCtrl.downloadFileCivd(ModalLicenseCtrl.data.DocumentURL,('FORM.LICENSEDATA' | translate))" class="btn btn-xs btn-primary" title="{{'TABLE_DETAIL.BTN_DOWNLOAD' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;
                                </a>

                            </dd>
                            <dd ng-if="ModalLicenseCtrl.data.DocumentURL==='' || ModalLicenseCtrl.data.DocumentURL===null">
                                <label class="label label-sm label-default">
                                    <i class="fa fa-download"></i>&nbsp;&nbsp;{{'TABLE_DETAIL.KET' | translate}}
                                </label>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 2">
                        <dl class="dl-horizontal">
                            <dt>{{'NAMA'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.PersonName}}</dd>
                            <dt>{{'TGL_LAHIR'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.DateOfBirth | date: "dd-MM-yyyy"}}</dd>
                            <dt>{{'NO_KTP'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.NoID}}</dd>
                            <dt>{{'FORM.ADDRESS'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Address.AddressInfo}} </dd>
                            <dd>{{ModalLicenseCtrl.data.Address.AddressDetail}}</dd>
                            <dt>{{'FORM.JABATAN'|translate}}</dt>
                            <dd>{{('POSITION_PERSON.' + ModalLicenseCtrl.data.PositionRef) | translate}}</dd>
                            <dt>{{'VERSIVENDOR'|translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.CompanyPosition}}</dd>
                            <dt>{{'MENJABAT_SEJAK'|translate}}</dt>
                            <dd><span>{{ModalLicenseCtrl.data.ServiceStartDate | date: "dd-MM-yyyy"}}</span></dd>
                            <dt>{{'SAMPAI'|translate}}</dt>
                            <dd ng-if="viewPPCtrl.data.ServiceEndDate != null">{{viewPPCtrl.data.ServiceEndDate}}</dd>
                            <dd ng-if="viewPPCtrl.data.ServiceEndDate == null">{{'MASIH_MENJABAT' | translate}}</dd>
                            <dt>{{'SCAN_KTP'|translate}}</dt>
                            <dd><a href="{{ModalLicenseCtrl.folderFile + ModalLicenseCtrl.data.IDUrl}}" target="_BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.DOWNLOAD'|translate}}"><i class="fa fa-download"></i> {{'BTN.DOWNLOAD'|translate}}</a></dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 3">
                        <dl class="dl-horizontal">
                            <dt>{{'TABLE.EXPERT_NAME' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Name}}</dd>
                            <dt>{{'TABLE.TGL_LAHIR' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.DateOfBirth | date: 'dd-mm-yyyy'}}</dd>
                            <dt>{{'TABLE.GENDER' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.Gender === 'M'">{{'TABLE.GENDER_MALE' | translate}}</dd>
                            <dd ng-if="ModalLicenseCtrl.data.Gender === 'F'">{{'TABLE.GENDER_FEMALE' | translate}}</dd>
                            <dt>{{'TABLE.ALAMAT' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.address.AddressInfo}}</dd>
                            <dt>{{'TABLE.LAST_EDUC' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Education|translate}}</dd>
                            <dt>{{'TABLE.CITIZEN' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.country.Name}}</dd>
                            <dt>{{'TABLE.JABATAN' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Position}}</dd>
                            <dt>{{'TABLE.JOB_EXPER' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.YearOfExperience}} {{'Tahun'|translate}}</dd>
                            <dt>{{'TABLE.EMPLOY_STATUS' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Statusperson.Value |translate}}</dd>
                            <dt>{{'TABLE.DESC_PROF' | translate}}</dt>
                            <dd>
                                <p>
                                    {{ModalLicenseCtrl.data.Expertise}}
                                </p>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 4">
                        <dl class="dl-horizontal">
                            <dt>{{'TABLE.CONTRACT_NAME' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.ContractName}}</dd>
                            <dt>{{'TABLE.LOC' | translate}} </dt>
                            <dd>
                                {{ModalLicenseCtrl.lokasidetail}}
                            </dd>
                            <dt>{{'TABLE.INSTANCE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Agency}}</dd>
                            <dt>{{'TABLE.ALAMAT' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.Address}}</dd>
                            <dt>{{'TABLE.NOTELP' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.AgencyTelpNo}}</dd>
                            <dt>{{'TABLE.CONTRACT_NUM' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.ContractNo}}</dd>
                            <dt>{{'TABLE.CONTRACT_VALUE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.CurrencyRef}} {{ModalLicenseCtrl.data.ContractValue | currency:""}}</dd>
                            <dt>{{'TABLE.STARTDATE'| translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.StartDate | date: "dd-MM-yyyy"}}</dd>
                            <dt>{{'TABLE.ENDCONTRACT'| translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.EndDate | date: "dd-MM-yyyy"}}</dd>
                            <dt>{{'TABLE.DOWNLOAD_DOC' | translate}}</dt>
                            <dd ng-show="!(ModalLicenseCtrl.data.DocumentURL === null || ModalLicenseCtrl.data.DocumentURL === '') && ModalLicenseCtrl.VendorCategoryID == 33">
                                <a href="{{ModalLicenseCtrl.folderFile + ModalLicenseCtrl.data.DocumentURL}}" class="btn btn-flat btn-xs btn-primary" target="_BLANK" title="{{'BTN.DOWNLOAD_FILE' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;{{'BTN.DOWNLOAD_FILE' | translate}}
                                </a>
                            </dd>
                            <dd ng-show="!(ModalLicenseCtrl.data.DocumentURL === null || ModalLicenseCtrl.data.DocumentURL === '') && ModalLicenseCtrl.VendorCategoryID == 32">
                                <a ng-click="ModalLicenseCtrl.downloadFileCivd(ModalLicenseCtrl.data.DocumentURL,'Data_Pengalaman')" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.DOWNLOAD_FILE' | translate}}">
                                    <i class="fa fa-download"></i>&nbsp;{{'BTN.DOWNLOAD_FILE' | translate}}
                                </a>
                            </dd>
                            <dd ng-show="(ModalLicenseCtrl.data.DocumentURL === null || ModalLicenseCtrl.data.DocumentURL === '')">
                                <button class="btn btn-flat btn-xs btn-default" disabled><i class="fa fa-download" title="{{'BTN.BELUM_ADA_FILE' | translate}}"></i> </button>
                            </dd>
                            <dt>{{'REMARK' | translate}}</dt>
                            <dd>
                                <p>
                                    {{ModalLicenseCtrl.data.Remark || '-'}}
                                </p>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-12" ng-if="ModalLicenseCtrl.isAdd === 16">
                        <dl class="dl-horizontal">
                            <dt>{{'FORM.DOCUMENTNAME' | translate}}</dt>
                            <dd ng-if="ModalLicenseCtrl.data.DocumentName">{{ModalLicenseCtrl.data.DocumentName|translate}}</dd>
                            <dd ng-if="!ModalLicenseCtrl.data.DocumentName">-</dd>
                            <dt>{{'FORM.DOCNO' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.data.DocumentNo ? ModalLicenseCtrl.data.DocumentNo: '-'}}</dd>
                            <dt>{{'FORM.EXPIREDDATE' | translate}}</dt>
                            <dd>{{ModalLicenseCtrl.ValidDateConverted ? ModalLicenseCtrl.ValidDateConverted: '-'}}</dd>
                            <dt>{{'FORM.DOCUMENT' | translate}}</dt>
                            <dd><a href="{{ModalLicenseCtrl.folderFile + ModalLicenseCtrl.data.DocumentUrl}}" ng-if="ModalLicenseCtrl.VendorCategoryID == 33" target="BLANK" class="btn btn-flat btn-xs btn-primary" title=""><i class="fa fa-download"></i>&nbsp;{{'BTN.DOWNLOAD' | translate}}</a></dd>
                            <dd><a ng-click="ModalLicenseCtrl.downloadFileCivd(ModalLicenseCtrl.data.DocumentUrl,ModalLicenseCtrl.data.DocumentName)" ng-if="ModalLicenseCtrl.VendorCategoryID == 32" target="BLANK" class="btn btn-flat btn-xs btn-primary" title="{{'BTN.DOWNLOAD' | translate}}"><i class="fa fa-download"></i>&nbsp;{{'BTN.DOWNLOAD' | translate}}</a></dd>
                        </dl>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-flat btn-danger" ng-click="ModalLicenseCtrl.batal()" title="{{'BTN.BACK' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'BTN.BACK' | translate}}</button>
            <div>
            </div>
        </div>

    </div>