﻿<style>
    .judul {
        width: 70%;
    }

    .child {
        width: 10%;
    }
</style>
<div class="modal-content" ng-init="PilihBidangUsahaTreeAdminModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="PilihBidangUsahaTreeAdminModalCtrl.simpanTree(false)">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'PILIH_BIDANG_USAHA' | translate}}</h3>
    </div>
    <div name="myForm">
        <div class="modal-body">
            <div class="row" style="padding-top: 20px!important;">
                <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                    <div class="row">
                        <div class="col-md-5">
                            <button ng-click="PilihBidangUsahaTreeAdminModalCtrl.expandAll()" id="expand" class="btn btn-info btn-sm btn-flat" title="{{'EXPAND_ALL'|translate}}"><i class="fa fa-plus-square"></i>&nbsp; {{'EXPAND_ALL'|translate}} </button>&nbsp;
                            <button ng-click="PilihBidangUsahaTreeAdminModalCtrl.collapseAll()" class="btn btn-warning btn-sm btn-flat" title="{{'COLLAPSE_ALL'|translate}}"><i class="fa fa-minus-square"></i>&nbsp; {{'COLLAPSE_ALL'|translate}} </button>&nbsp;
                        </div>

                        <div class="col-md-7">

                            <label style="padding-top:5px;" class="col-md-6 text-right control-label">{{'CARI' | translate}} </label>
                            <div class="col-md-6">
                                <form class="input-group">
                                    <input type="text" class="form-control" ng-model="PilihBidangUsahaTreeAdminModalCtrl.srcText" placeholder="Filter" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-flat btn-info" ng-click="PilihBidangUsahaTreeAdminModalCtrl.jLoad(1)" title="{{'CARI' | translate}}" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </form>

                            </div>


                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;margin-bottom:5px;">

                        <button type="button" class="btn btn-flat btn-success pull-right" ng-click="PilihBidangUsahaTreeAdminModalCtrl.simpanTree(true)" title="{{'FORM.BTN_SAVE' | translate}}"><i class="fa fa-save"></i> {{'FORM.BTN_SAVE' | translate}} &nbsp;</button>

                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <!--<button ng-click="my_tree.expand_all()" class="btn btn-info btn-sm btn-flat" title="{{'EXPAND_ALL'|translate}}"><i class="fa fa-plus-square"></i>&nbsp; </button>&nbsp;
                            <button ng-click="my_tree.collapse_all()" class="btn btn-warning btn-sm btn-flat" title="{{'COLLAPSE_ALL'|translate}}"><i class="fa fa-minus-square"></i>&nbsp; </button>&nbsp;-->
                            <div class="table table-responsive">
                                <tree-grid tree-data="PilihBidangUsahaTreeAdminModalCtrl.data" tree-control="my_tree" col-defs="PilihBidangUsahaTreeAdminModalCtrl.col_defs" expand-on="PilihBidangUsahaTreeAdminModalCtrl.expanding_property"></tree-grid>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label>{{'Total Data' | translate}} : {{PilihBidangUsahaTreeAdminModalCtrl.totalItems}}</label>
                    </div>
                    <div class="row">
                        <ul uib-pagination total-items="PilihBidangUsahaTreeAdminModalCtrl.totalItems" max-size="10"
                            ng-model="PilihBidangUsahaTreeAdminModalCtrl.currentPage" items-per-page="PilihBidangUsahaTreeAdminModalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="PilihBidangUsahaTreeAdminModalCtrl.jLoad(PilihBidangUsahaTreeAdminModalCtrl.currentPage)"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="PilihBidangUsahaTreeAdminModalCtrl.simpanTree(false)" title="{{'BACK' | translate}}"><i class="fa fa-save"></i> {{'BACK' | translate}} &nbsp;</button>
            <button type="button" class="btn btn-flat btn-success" ng-click="PilihBidangUsahaTreeAdminModalCtrl.simpanTree(true)" title="{{'SAVE' | translate}}"><i class="fa fa-save"></i> {{'SAVE' | translate}} &nbsp;</button>
        </div>
    </div>
</div>
