﻿<div class="modal-content" ng-init="PilihGolonganBidangUsahaAdminModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="PilihGolonganBidangUsahaAdminModalCtrl.batal()">
            <span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'PILIH_GOLONGAN_BIDANG_USAHA' | translate}}</h3>
    </div>
    <form name="myForm">
        <div class="modal-body">
            <div class="row" style="padding-top: 20px!important;">
                <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                                <th class="text-center">{{'TABLE.GOLONGAN_BIDANG_USAHA' | translate}}</th>
                                                <th class="text-center" style="width:50px">{{'TABLE.ACTION' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="PilihGolonganBidangUsahaAdminModalCtrl.data.length == 0">
                                                <td colspan="3">
                                                    <div>{{'NO_DATA' | translate}}</div>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="dt in PilihGolonganBidangUsahaAdminModalCtrl.data">
                                                <td>{{$index + 1}}</td>
                                                <td>{{dt.TypeName}}</td>
                                                <td><button class="btn btn-sm btn-flat btn-primary" ng-click="PilihGolonganBidangUsahaAdminModalCtrl.pilihBidangUsaha(dt)" title="{{'CMB_CLASIFICATION.LABEL' | translate}}"><i class="fa fa-check"> </i> {{'CMB_CLASIFICATION.LABEL' | translate}}</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="PilihGolonganBidangUsahaAdminModalCtrl.batal()" title="{{'FORM.BTN_CANCEL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
        </div>
    </form>
</div>
