﻿<!--<script type="text/ng-template" id="atur-aanwjzing.html">-->
    <div class="modal-content" ng-init="UpdateSAPCodeCtrl.init()">
        <div class="modal-header">
            <button type="button" ng-click="UpdateSAPCodeCtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">{{'EXIT' | translate}}</span></button>
            <h3 class="modal-title afta-font">{{'EDIT_CODE' | translate}}</h3>
        </div>
        <form>
            <div class="modal-body">
                <div class="row">   
                    <div class="col-md-6">
                        <label>{{'VENDOR_SAP_CODE' | translate}}</label><br />
                        <input type="text" class="form-control input-sm " ng-model="UpdateSAPCodeCtrl.SAPCode" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 pull-right">
                        <button ng-click="UpdateSAPCodeCtrl.batal()" class="btn btn-sm btn-primary" title="{{'BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
                        <button ng-click="UpdateSAPCodeCtrl.saveSAPCode(UpdateSAPCodeCtrl.SAPCode)" class="btn btn-sm btn-success" title="{{'SAVE' | translate}}"><i class="fa fa-save"></i> </button>
                    </div>
                </div>
            </div>
        </form>
    </div>