﻿<div class="modal-content" ng-init="DetailVerifikasiApprovalModalApprovalCtrl.initApproval()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DetailVerifikasiApprovalModalApprovalCtrl.batal()" title="{{'Keluar'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">
            <span>{{'MODAL.APPROVAL' | translate}}</span>
        </h3>
    </div>
    <div class="modal-body ">
        <div class="row">
            <div class="col-md-12">
                <h4>{{'MODAL.DETAIL_APPROVAL' | translate}} :</h4>
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-condensed text-nowrap">
                        <thead>
                            <tr>
                                <th class="center-vertical" width="10">{{'TABLE.NO' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.LEVEL' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.JABATAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.NAMA' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.TANGGAL_PERSETUJUAN' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.STATUS' | translate}}</th>
                                <th class="center-vertical">{{'TABLE.INFORMATION' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in DetailVerifikasiApprovalModalApprovalCtrl.dataApprover">
                                <td style="vertical-align: middle;">{{DetailVerifikasiApprovalModalApprovalCtrl.currentPage > 1 ? (DetailVerifikasiApprovalModalApprovalCtrl.maxSize * (DetailVerifikasiApprovalModalApprovalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                <td style="vertical-align: middle;">{{a.ApprovalLevel}}</td>
                                <td style="vertical-align: middle;">{{a.ApproverPosition}}</td>
                                <td style="vertical-align: middle;">{{a.FullName}}</td>
                                <td style="vertical-align: middle;">{{DetailVerifikasiApprovalModalApprovalCtrl.UIControl.convertDate(a.VerifiedApprovalSendDate)}}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == 0">{{'MODAL.DITOLAK' | translate }}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == 1">{{'MODAL.DISETUJUI' | translate }}</td>
                                <td style="vertical-align: middle;" ng-if="a.ApprovalStatus == null">-</td>
                                <td style="vertical-align: middle;" ng-bind-html="a.Remarks"></td>

                            </tr>
                            <tr ng-if="DetailVerifikasiApprovalModalApprovalCtrl.totalItems === 0">
                                <td colspan="10">{{'TIDAK_ADA_DATA' | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sd-4 col-md-10">
                        <ul uib-pagination total-items="DetailVerifikasiApprovalModalApprovalCtrl.totalItems"
                            ng-model="DetailVerifikasiApprovalModalApprovalCtrl.currentPage" ng-if="DetailVerifikasiApprovalModalApprovalCtrl.totalItems > 10" items-per-page="DetailVerifikasiApprovalModalApprovalCtrl.maxSize"
                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="DetailVerifikasiApprovalModalApprovalCtrl.jLoadApproval(DetailVerifikasiApprovalModalApprovalCtrl.currentPage)"></ul>
                        <br /><label>{{'TOTAL_DATA' | translate}} : {{DetailVerifikasiApprovalModalApprovalCtrl.totalItems}}</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" ng-click="DetailVerifikasiApprovalModalApprovalCtrl.batal()" class="btn btn-flat btn-default" title="{{'FORM.BTN_CANCEL'|translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>