﻿<!--<script type="text/ng-template" id="atur-aanwjzing.html">-->
    <style>
        .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
            min-height: 300px;
            height: auto;
            overflow: auto;
            font-family: inherit;
            font-size: 100%;
        }
    
        .form-control.myform1-height > .ta-bind {
            height: auto;
            min-height: 300px;
            padding: 6px 12px;
        }
    
    
    
        /* ====== ====== */
    
        .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
            height: 300px;
            min-height: 300px;
            overflow: auto;
            font-family: inherit;
            font-size: 100%;
        }
    
        .form-control.myform2-height > .ta-bind {
            min-height: 300px;
            padding: 6px 12px;
        }
        div.btn-toolbar{
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            vertical-align: top;
            background: transparent;
            text-decoration: none;
            color: #333;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            text-shadow: none;
            float: none;
            position: static;
            width: auto;
            height: auto;
            white-space: nowrap;
            cursor: inherit;
            -webkit-tap-highlight-color: transparent;
            line-height: normal;
            font-weight: normal;
            text-align: left;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            direction: ltr;
        }
    </style>

    <div class="modal-content" ng-init="VerifyVendorCtrl.init()">
        <div class="modal-header">
            <button type="button" ng-click="VerifyVendorCtrl.batal()" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">{{'EXIT' | translate}}</span></button>
            <h3 class="modal-title afta-font" ng-if="VerifyVendorCtrl.IsVerified">{{'VER_ACCEPTED' | translate}} </h3>
            <h3 class="modal-title afta-font" ng-if="!VerifyVendorCtrl.IsVerified">{{'VER_DENIED' | translate}} </h3>
        </div>
        <form>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'REASON'|translate}}</label>
                            <div style="
                            border: 1px solid #9e9e9e;
                            background-color: #f0f0f0;
                            " text-angular="text-angular" name="htmlcontent2" ng-model="VerifyVendorCtrl.verificationRemark"
                                 ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                            </div>
                            <!--
                            <textarea class="form-control" rows="10" ng-model="FormBeritaCtrl.newsContent"></textarea>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12 pull-right">
                        <button ng-click="VerifyVendorCtrl.batal()" class="btn btn-sm btn-primary" title="{{'BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
                        <button ng-click="VerifyVendorCtrl.simpan(VerifyVendorCtrl.verificationRemark)" class="btn btn-sm btn-success" title="{{'SAVE' | translate}}"><i class="fa fa-save"></i> </button>
                    </div>
                </div>
            </div>
        </form>
    </div>