﻿<div id="tambahKriteria" class="modal-content" ng-init="DetailSubLineCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DetailSubLineCtrl.batal()" title="Keluar"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.DETAIL_PENAWARAN' | translate}}</h3>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.PENGADAAN' | translate}}: {{DetailSubLineCtrl.detail.TenderName}}</h3>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.REKANAN' | translate}}: {{DetailSubLineCtrl.detail.VendorName}}</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center center-vertical" ng-if="DetailSubLineCtrl.isAllowedEdit && DetailSubLineCtrl.ceLineOffers[0].IsNego !== true && DetailSubLineCtrl.ceLineOffers[0].IsActive === true && DetailSubLineCtrl.overtime === true" colspan="5"></th>
                                    <th class="text-center center-vertical" ng-if="!DetailSubLineCtrl.isAllowedEdit || DetailSubLineCtrl.ceLineOffers[0].IsNego === true || DetailSubLineCtrl.ceLineOffers[0].IsActive === false || DetailSubLineCtrl.overtime === false" colspan="4"></th>

                                    <th class="text-center center-vertical" colspan="2">HPS</th>
                                    <th class="text-center center-vertical" colspan="2">{{'TABLE.GOODS_OFFERDETAIL.REKANAN' | translate }}</th>
                                    <th class="text-center center-vertical" colspan="5">{{'TABLE.GOODS_OFFERDETAIL.HASIL_NEGO' | translate }}</th>
                                </tr>
                                <tr>
                                    <th class="text-center center-vertical" width="20px">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.DESC_JOB' | translate }}</th>
                                    <th class="text-center center-vertical" ng-if="DetailSubLineCtrl.isAllowedEdit && DetailSubLineCtrl.ceLineOffers[0].IsNego !== true && DetailSubLineCtrl.ceLineOffers[0].IsActive === true && DetailSubLineCtrl.overtime === true" >{{'TABLE.GOODS_OFFERDETAIL.TERBUKA' | translate}}<input type="checkbox" ng-change="DetailSubLineCtrl.loadOpenAll()" ng-model="DetailSubLineCtrl.IsOpenAll" /></th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.VOLUME' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.VOLUME' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">HPS (Rev)</th>
                                    <th class="text-center center-vertical">Nego/HPS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="det in DetailSubLineCtrl.ceLineOffers">
                                    <td class="middle-vertical">{{$index+1}}</td>
                                    <td class="middle-vertical">
                                        {{det.Name}}
                                    </td>
                                    <td class="center-vertical" ng-if="DetailSubLineCtrl.isAllowedEdit && det.IsNego !== true && det.IsActive === true && DetailSubLineCtrl.overtime === true">
                                        <input type="checkbox" ng-model="det.IsOpen"  ng-click="DetailSubLineCtrl.saveIsOpen(det)"/>
                                    </td>
                                    <td class="text-center center-vertical">{{det.Quantity}}</td>
                                    <td class="text-center center-vertical">{{det.OrderUnit}}</td>
                                    <td class="text-right middle-vertical">{{det.UnitCost | currency: det.Curr + ' '}}</td>
                                    <td class="text-right middle-vertical">{{det.LineCost | currency: det.Curr + ' '}}</td>
                                    <td class="text-right middle-vertical">{{det.UnitOfferCost | currency: det.Curr + ' '}}</td>
                                    <td class="text-right middle-vertical">{{det.LineOfferCost | currency: det.Curr + ' '}}</td>
                                    <td class="text-center center-vertical">{{det.QuantityNego}}</td>
                                    <td class="text-right middle-vertical">{{det.UnitNegoCost | currency: det.Curr + ' '}}</td>
                                    <td class="text-right middle-vertical">{{det.LineNegoCost | currency: det.Curr + ' '}}</td>
                                    <td class="text-right middle-vertical">{{det.LineRevCost | currency: det.Curr + ' '}}</td>
                                    <td class="text-right middle-vertical">{{det.LineCost > 0 ? (det.LineNegoCost * 100 / det.LineCost).toFixed(2) : 0}} %</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td ng-if="DetailSubLineCtrl.isAllowedEdit && DetailSubLineCtrl.ceLineOffers[0].IsNego !== true && DetailSubLineCtrl.ceLineOffers[0].IsActive === true && DetailSubLineCtrl.overtime === true"></td>
                                    <td class="text-right middle-vertical"><strong>Total : </strong></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>{{DetailSubLineCtrl.ceLineOffers[0].Curr}} {{DetailSubLineCtrl.ceSubTotalCost | currency: ""}}</strong></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>{{DetailSubLineCtrl.ceLineOffers[0].Curr}} {{DetailSubLineCtrl.offerTotalCost | currency: ""}}</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>{{DetailSubLineCtrl.ceLineOffers[0].Curr}} {{DetailSubLineCtrl.negoTotalCost | currency: ""}}</strong></td>
                                    <td class="text-right middle-vertical"><strong>{{DetailSubLineCtrl.ceLineOffers[0].Curr}} {{DetailSubLineCtrl.ceSubRevTotalCost | currency: ""}}</strong></td>
                                    <td class="text-right middle-vertical"><strong>{{DetailSubLineCtrl.ceSubTotalCost > 0 ? (DetailSubLineCtrl.negoTotalCost * 100 / DetailSubLineCtrl.ceSubTotalCost).toFixed(2) : 0}} %</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right text-right" style="padding-top: 15px;">
                        <a class="btn btn-sm btn-flat btn-default" ng-click="DetailSubLineCtrl.batal()"><i class="fa fa-reply"></i> {{'BTN.BACK' | translate}} &nbsp;</a>
                        &nbsp;
                        <span ng-if="DetailSubLineCtrl.isAllowedEdit && DetailSubLineCtrl.ceLineOffers[0].IsNego !== true && DetailSubLineCtrl.overtime === true">
                            <button ng-click="DetailSubLineCtrl.editQuantity()" class="btn btn-sm btn-flat btn-success"><i class="fa fa-edit"></i> {{'BTN.EDIT_QTY' | translate}}&nbsp;</button>
                            <button ng-click="DetailSubLineCtrl.save()" class="btn btn-sm btn-flat btn-primary"><i class="fa fa-save"></i> {{'BTN.SAVE' | translate}}&nbsp;</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-12" ng-if="DetailSubLineCtrl.isAllowedEdit && DetailSubLineCtrl.ceLineOffers[0].IsNego !== true && DetailSubLineCtrl.overtime === true">
                    <strong> {{'TABLE.GOODS_OFFERDETAIL.NOTE2' | translate }}</strong>
                </div>
            </div>
        </div>
    </form>
</div>