﻿<section ng-init="NegosiasiPrintCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.HOME' | translate }}</a></li>
        <li><a class="active">{{'BREADCRUMB.NEGO' | translate }}</a></li>
    </ol>

    <!-- tampilan pertama muncul -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="NegosiasiPrintCtrl.cetak()">
                                <i class='fa fa-print'></i>&nbsp;
                            </button>
                        </div>
                    </div>

                        <div class="box-body">
                            <div id="print">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="afta-font text-center"> {{'BREADCRUMB.NEGO' | translate }}</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <label class="control-label">{{'STARTDATE' | translate}} : {{NegosiasiPrintCtrl.listTenderStep.StartDate}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">{{'ENDDATE' | translate}} : {{NegosiasiPrintCtrl.listTenderStep.EndDate}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label">{{'TENDER_NAME' | translate}} : {{NegosiasiPrintCtrl.listTenderStep.tender.TenderName}}</label>
                                        <!--<label class="pull-right text-red" ng-if="NegosiasiPrintCtrl.overtime == false">{{'BELUM_SAATNYA' | translate}}</label>-->
                                    </div>

                                </div>
                                <div class="row" style="padding-top: 5px!important;">
                                    <br />
                                    <div class="col-md-12">
                                        <div class="table table-responsive">
                                            <table class="table table-bordered" id="tabelPesertaNegosiasi">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" width="20px" style="border:1px solid black;">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate }}</th>
                                                        <th class="text-center" style="border:1px solid black;">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_NAME' | translate }}</th>
                                                        <th class="text-center" style="border:1px solid black;">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_PRICE' | translate }}</th>
                                                        <th class="text-center" style="border:1px solid black;">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PRICE' | translate }}</th>
                                                        <th class="text-center" style="border:1px solid black;">{{'TABLE.GOODS_OFFERDETAIL.STATUS' | translate }}</th>
                                                        <th class="text-center" style="border:1px solid black;">{{'TABLE.FINANCE_APPROVAL' | translate }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="peserta in NegosiasiPrintCtrl.nego">
                                                        <td style="vertical-align: middle;border:1px solid black;">{{$index + 1}}</td>
                                                        <td style="vertical-align: middle;border:1px solid black;">{{peserta.VendorName}}</td>
                                                        <td class="text-right" style="vertical-align: middle;border:1px solid black;">{{peserta.Curr}} {{peserta.TotalCost| currency: ""+ labelcurr +" "}}</td>
                                                        <td class="text-right" style="vertical-align: middle;border:1px solid black;">{{peserta.Curr}} {{peserta.NegotiationPrice| currency: ""+ labelcurr +" "}}</td>
                                                        <td style="vertical-align: middle;border:1px solid black;" ng-if="peserta.IsDeal === true">{{'TABLE.GOODS_OFFERDETAIL.S' | translate }}</td>
                                                        <td style="vertical-align: middle;border:1px solid black;" ng-if="peserta.IsDeal === false">{{'TABLE.GOODS_OFFERDETAIL.TS' | translate }}</td>
                                                        <td style="vertical-align: middle;border:1px solid black;" ng-if="peserta.IsDeal === null">{{'TABLE.GOODS_OFFERDETAIL.BS' | translate }}</td>
                                                        <td style="vertical-align: middle;border:1px solid black;">
                                                            <span ng-if="peserta.IsDeal === true">
                                                                <span ng-if="peserta.IsNeedApproval === false">{{'STATUS.NOT_NEEDED' | translate }}</span>
                                                                <span ng-if="peserta.IsNeedApproval === true">
                                                                    <span ng-if="peserta.IsFinanceApprovalSent === false">{{'STATUS.NOT_SENT' | translate }}</span>
                                                                    <span ng-if="peserta.IsFinanceApprovalSent === true">
                                                                        <span ng-if="peserta.FinanceApprovalStatus === null">{{'STATUS.ON_PROCESS' | translate }}</span>
                                                                        <span ng-if="peserta.FinanceApprovalStatus === true">{{'STATUS.APPROVED' | translate }}</span>
                                                                        <span ng-if="peserta.FinanceApprovalStatus === false">{{'STATUS.REJECT' | translate }}</span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="NegosiasiPrintCtrl.nego.length === 0"><td colspan="6" style="vertical-align: middle;border:1px solid black;">{{'TIDAK_ADA_DATA' | translate}}</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-atas">
                                <div class="pull-right">
                                    <a ng-click="NegosiasiPrintCtrl.backpengadaan()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i> {{'BTN.BACK' | translate}}</a>
                                </div>

                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>
</section>
