﻿<section class="content" ng-init="QuestTemplateFormCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.FORM_TEMP'|translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">{{'BREADCRUMB.FORM_TEMP'|translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-8">
                            <form class="form-horizontal">
                                <div class="form-group-sm">
                                    <label class="col-sm-3">{{'TABLE.QUEST_NAME'|translate}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="{{'TABLE.QUEST_NAME'|translate}}" ng-model="QuestTemplateFormCtrl.QuestName">
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <label class="col-sm-3">{{'TABLE.QUEST_TYPE'|translate}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" readonly class="form-control" placeholder="{{'TABLE.QUEST_TYPE'|translate}}" ng-model="QuestTemplateFormCtrl.QuestType">
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <label class="col-sm-3">{{'TABLE.CRITERIA'|translate}}</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="QuestTemplateFormCtrl.RiskCriteria" ng-options="val as val.RiskName for val in QuestTemplateFormCtrl.riskCriteria">
                                            <option value="" disabled selected>{{'TABLE.SELECT_CRIT'|translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <label class="col-sm-3">Layout</label>
                                    <div class="col-sm-8">
                                        <label><input type="checkbox"ng-model="QuestTemplateFormCtrl.IsUseTableLayout">&nbsp;&nbsp;{{'TABLE.TABLE'|translate}}</label>
                                    </div>
                                </div>
                                <!--<div class="form-group-sm">
                                    <label class="col-sm-3">&nbsp;</label>
                                    <div class="col-sm-8">
                                        <label><input type="checkbox" ng-model="QuestTemplateFormCtrl.IsForPrequal">&nbsp;&nbsp;{{'PREQ'|translate}}</label>
                                    </div>
                                </div>-->
                            </form>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body">
                            <div class="row margin-atas">
                                <div class="col-md-12">
                                    <label>{{'TABLE.SELECT_CONTENT'|translate}}</label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control input-sm" ng-model="QuestTemplateFormCtrl.jenisKonten" ng-change="QuestTemplateFormCtrl.ubahKonten()" required>
                                        <option value="0" disabled selected>{{'TABLE.SELECT_CONTENT'|translate}}</option>
                                        <option value="1">{{'TABLE.QUEST'|translate}}</option>
                                        <option value="2">{{'TABLE.NOTE'|translate}} (Text)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" ng-if="QuestTemplateFormCtrl.jenisKonten==1">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>{{'TABLE.QUEST'|translate}}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div text-angular="text-angular" ta-disabled=false ng-model="QuestTemplateFormCtrl.Question"
                                                 ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label><input type="checkbox" ng-model="QuestTemplateFormCtrl.IsShowNumber">&nbsp;&nbsp;{{'TABLE.SHOW_NUMB'|translate}}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <select class="form-control input-sm" ng-change="QuestTemplateFormCtrl.ubahTipeJawaban()" ng-disabled="QuestTemplateFormCtrl.disableTipeJawaban" ng-model="QuestTemplateFormCtrl.answerType" ng-options="val as val.AnswerTypeName for val in QuestTemplateFormCtrl.questAnswerType">
                                                <option value="" disabled selected>{{'TABLE.SELECT_ANSWER_TYPE'|translate}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-7" ng-if="QuestTemplateFormCtrl.answerType.AnswerTypeName=='Table'">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>{{'TABLE.TOTAL_ROW'|translate}}:</label>
                                                    <input type="number" class="form-control input-sm" ng-model="QuestTemplateFormCtrl.row">
                                                </div>
                                                <div class="form-group">
                                                    <label>{{'TABLE.TOTAL_COL'|translate}}:</label>
                                                    <input type="number" class="form-control input-sm" ng-model="QuestTemplateFormCtrl.column">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-4" ng-if="QuestTemplateFormCtrl.answerType.AnswerTypeName=='Option'">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>{{'TABLE.TOTAL_OPTION'|translate}}:</label>
                                                    <input type="number" class="form-control input-sm" ng-model="QuestTemplateFormCtrl.column">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-1"ng-if="QuestTemplateFormCtrl.answerType.AnswerTypeName=='Table'">
                                            <button ng-click="QuestTemplateFormCtrl.buatTabel()" ng-disabled="QuestTemplateFormCtrl.row==0||QuestTemplateFormCtrl.column==0" class="btn btn-sm btn-flat btn-warning" title="{{'BTN.CREATE_TABLE'|translate}}"><i class="fa fa-table"></i></button>
                                        </div>
                                        <div class="col-md-1" ng-if="QuestTemplateFormCtrl.answerType.AnswerTypeName=='Option'">
                                            <button ng-click="QuestTemplateFormCtrl.buatOption()" ng-disabled="QuestTemplateFormCtrl.column==0" class="btn btn-sm btn-flat btn-warning" title="{{'BTN.CREATE_OPT'|translate}}"><i class="fa fa-check-circle"></i></button>
                                        </div>
                                        <div class="col-md-1"ng-if="QuestTemplateFormCtrl.answerType.AnswerTypeName=='Text'">
                                            <button ng-click="QuestTemplateFormCtrl.tambahKonten()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.ADD'|translate}}"><i class="fa fa-plus-circle"></i></button>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="QuestTemplateFormCtrl.drawTable==true">
                                        <div class="col-md-12">
                                            <label>{{'TABLE.ANSWER'|translate}}</label>
                                        </div>
                                        <div class="col-md-10">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th ng-repeat="column in QuestTemplateFormCtrl.arrayColumn">
                                                            <input type="text" class="form-control input-sm" ng-model="QuestTemplateFormCtrl.questionDetail[$index]">
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="row in QuestTemplateFormCtrl.arrayRow">
                                                        <td ng-repeat="staticColumn in QuestTemplateFormCtrl.arrayColumn">&nbsp;&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-1">
                                            <button ng-click="QuestTemplateFormCtrl.tambahKonten()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.ADD'|translate}}"><i class="fa fa-plus-circle"></i></button>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="QuestTemplateFormCtrl.drawOption==true">
                                        <div class="col-md-12">
                                            <label>{{'TABLE.ANSWER'|translate}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="radio" ng-repeat="column in QuestTemplateFormCtrl.arrayOption">
                                                <label><input type="radio" name="optradio"><input type="text" class="form-control input-sm" ng-model="QuestTemplateFormCtrl.questionDetail[$index]"></label>
                                                <br />
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button ng-click="QuestTemplateFormCtrl.tambahKonten()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.ADD'|translate}}"><i class="fa fa-plus-circle"></i></button>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button ng-click="QuestTemplateFormCtrl.tambahKonten()" class="btn btn-sm btn-flat btn-primary" title="Tambah"><i class="fa fa-plus-circle"></i></button>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="row" ng-if="QuestTemplateFormCtrl.jenisKonten==2">
                                <div class="col-md-12">
                                    <div text-angular="text-angular" ta-disabled=false ng-model="QuestTemplateFormCtrl.Question"
                                         ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <form>
                                        <div class="input-group">
                                            <select class="form-control input-sm" ng-show="QuestTemplateFormCtrl.disableTipeJawaban==false" ng-model="QuestTemplateFormCtrl.answerType" ng-options="val as val.AnswerTypeName for val in QuestTemplateFormCtrl.questAnswerType">
                                                <option value="" disabled selected>{{'TABLE.SELECT_ANSWER_TYPE'|translate}}</option>
                                            </select>
                                            <div class="input-group-btn">
                                                <button ng-click="QuestTemplateFormCtrl.tambahKonten()" class="btn btn-sm btn-flat btn-primary" title="{{'BTN.ADD'|translate}}"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr />
                            <div class="row margin-atas" ng-if="QuestTemplateFormCtrl.listDDquestion.length>0">
                                <div class="col-md-12">
                                    <label>{{'BREADCRUMB.FORM_TEMP'|translate}}</label>
                                </div>
                                <div class="margin-atas" ng-repeat="data in QuestTemplateFormCtrl.listDDquestion" ng-if="QuestTemplateFormCtrl.IsUseTableLayout==false">
                                    <div ng-if="data.QuestionAnswerType.IsHasAnswer==true">
                                        <div class="col-md-12">
                                            <div class="row" ng-if="data.IsShowNumber==true">
                                                <div class="col-md-1">
                                                    {{data.NumberInQuest}}
                                                </div>
                                                <div class="col-md-10">
                                                    <div text-angular="text-angular" ta-disabled=false ng-model="data.Question"
                                                         ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <button ng-click="QuestTemplateFormCtrl.hapusKonten(data)" class="btn btn-flat btn-danger" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="data.IsShowNumber==false">
                                                <div class="col-md-11">
                                                    <div text-angular="text-angular" ta-disabled=false ng-model="data.Question"
                                                         ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <button ng-click="QuestTemplateFormCtrl.hapusKonten(data)" class="btn btn-flat btn-danger" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-1">&nbsp;</div>
                                                <div class="col-md-10">
                                                    <div class="radio" ng-if="data.QuestionAnswerType.AnswerTypeName=='Option'" ng-repeat="questDetail in data.DDQuestionDetail">
                                                        <label><input type="radio"><input type="text" class="form-control input-sm" ng-model="questDetail.QuestionDetail"></label>
                                                    </div>
                                                    <table class="table table-bordered" ng-if="data.QuestionAnswerType.AnswerTypeName=='Table'">
                                                        <thead>
                                                            <tr>
                                                                <th ng-repeat="questDetail in data.DDQuestionDetail">
                                                                    <input type="text" class="form-control input-sm" ng-model="questDetail.QuestionDetail">
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="rows in data.ArrayRow">
                                                                <td ng-repeat="staticColumn in data.DDQuestionDetail">&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div ng-if="data.QuestionAnswerType.AnswerTypeName=='Text'" text-angular="text-angular" ta-disabled=false ng-model="data.DDQuestionDetail[0].QuestionDetail"
                                                         ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div ng-if="data.QuestionAnswerType.IsHasAnswer==false">
                                        <div class="col-md-11">
                                            <div text-angular="text-angular" ta-disabled=false ng-model="data.Question"
                                                 ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <button ng-click="QuestTemplateFormCtrl.hapusKonten(data)" class="btn btn-flat btn-danger" title="Hapus"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="QuestTemplateFormCtrl.IsUseTableLayout==true">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <tbody ng-repeat="data in QuestTemplateFormCtrl.listDDquestion">
                                                <tr ng-if="data.QuestionAnswerType.IsHasAnswer==true">
                                                    <td width="50%">
                                                        <div ng-if="data.IsShowNumber==true">
                                                            <div class="col-md-1" style="width:10px;">
                                                                {{data.NumberInQuest}}.
                                                            </div>
                                                            <div class="col-md-11">
                                                                <div text-angular="text-angular" ta-disabled=false ng-model="data.Question"
                                                                     ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div ng-if="data.IsShowNumber==false">
                                                            <div class="col-md-12">
                                                                <div text-angular="text-angular" ta-disabled=false ng-model="data.Question"
                                                                     ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="50%">
                                                        <div class="col-md-10">
                                                            <div class="radio" ng-if="data.QuestionAnswerType.AnswerTypeName=='Option'" ng-repeat="questDetail in data.DDQuestionDetail">
                                                                <label><input type="radio"><input type="text" class="form-control input-sm" ng-model="questDetail.QuestionDetail"></label>
                                                            </div>
                                                            <div ng-if="data.QuestionAnswerType.AnswerTypeName=='Text'" text-angular="text-angular" ta-disabled=false ng-model="data.DDQuestionDetail[0].QuestionDetail"
                                                                 ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                                            </div>
                                                            <table class="table table-bordered" ng-if="data.QuestionAnswerType.AnswerTypeName=='Table'">
                                                                <thead>
                                                                    <tr>
                                                                        <th ng-repeat="questDetail in data.DDQuestionDetail">
                                                                            <input type="text" class="form-control input-sm" ng-model="questDetail.QuestionDetail">
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="rows in data.ArrayRow">
                                                                        <td ng-repeat="staticColumn in data.DDQuestionDetail">&nbsp;&nbsp;</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <button ng-click="QuestTemplateFormCtrl.hapusKonten(data)" class="btn btn-flat btn-danger" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr ng-if="data.QuestionAnswerType.IsHasAnswer==false" style="border:1px solid white;">
                                                    <td colspan="2" style="border:1px solid white;">
                                                        <div class="col-md-11">
                                                            <div text-angular="text-angular" ta-disabled=false ng-model="data.Question"
                                                                 ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <button ng-click="QuestTemplateFormCtrl.hapusKonten(data)" class="btn btn-flat btn-danger" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button ng-click="QuestTemplateFormCtrl.simpan()" class="btn btn-flat btn-success turun-15" title="{{'BTN.CREATE_TEMP'|translate}}" style="float:right!important"><i class="fa fa-save"></i></button>
                                <button ng-click="QuestTemplateFormCtrl.kembali()" class="btn btn-flat btn-primary turun-15" title="{{'BTN.BACK'|translate}}" style="float:right!important"><i class="fa fa-reply"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>