<div class="modal-content" ng-init="detailApprovalVHSCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detailApprovalVHSCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'TUTUP'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'BREADCRUMB.DETAIL_APPROVAL'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8">
                <label>Requestor: {{detailApprovalVHSCtrl.list[0].requestor.FullName}} {{detailApprovalVHSCtrl.list[0].requestor.SurName}}</label>
            </div>
            <!--
        <div class="col-md-9">
            <label>Tender: {{ContractSignOffController.detail[0].TenderName}}</label>
        </div>-->
        </div>
        <div>
            <div class="row" ng-if="detailApprovalVHSCtrl.Status == 1">
                <div class="col-md-12">
                    <div class="well">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">{{'TABLE.GOODS_OFFERDETAIL.KETERANGAN'|translate}} : </label>
                                    <input class="form-control input-sm" ng-model="detailApprovalVHSCtrl.information" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-sm btn-success" ng-click="detailApprovalVHSCtrl.approve()"><i class="fa fa-check"></i> {{'APPROVE' | translate}}</button>
                                    <button class="btn btn-sm btn-danger" ng-click="detailApprovalVHSCtrl.reject()"><i class="fa fa-times"></i> {{'REJECT' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.NO'|translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.LEVEL_INFO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.JABATAN'|translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.APPROVAL'|translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.GOODS_OFFERDETAIL.KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detailApprovalVHSCtrl.crApps">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.LevelInfo}}</td>
                                        <td>{{dt.EmployeePositionName}}</td>
                                        <td ng-class="{'text-bold':dt.EmployeeID == detailApprovalVHSCtrl.employeeID}">{{dt.EmployeeFullName}}<br />
                                            <span ng-if="dt.DelegatedEmployeeName">(Delegasi Ke : {{dt.DelegatedEmployeeName}})</span></td>
                                        <td class="text-center">{{dt.ApprovalDate| date: "dd-MM-yyyy"}}</td>
                                        <td ng-if="dt.ApprovalStatus === null" class="text-center" ></td>
                                        <td ng-if="dt.ApprovalStatus === 1" class="text-center" >{{'STATUS.APPROVED'|translate}}</td>
                                        <td ng-if="dt.ApprovalStatus === 0" class="text-center" >{{'STATUS.REJECT'|translate}}</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detailApprovalVHSCtrl.crApps.length === 0">
                                        <td colspan="6">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="detailApprovalVHSCtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>