﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div id="buatPengumuman" class="modal-content" ng-init="formPrakualCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formPrakualCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'FORM_PENGUMUMAN_PRAKUAL' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-11 center-block well" style="float: none!important;">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="afta-font text-center" style="margin-top: 0px; padding-bottom: 5px;">
                            {{'TEKS_PENGUMUMAN_PRAKUAL' | translate}}
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>{{'PRAKUALIFIKASI' | translate}}</label>
                            <input disabled class="form-control" ng-model="formPrakualCtrl.PrequalName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="div_isi_pengumuman_create">
                        <div class="form-group">
                            <label>{{'DESCRIPTION' | translate}}</label>
                            <div text-angular="text-angular" ta-disabled=true name="htmlcontent2" ng-model="formPrakualCtrl.EmailContent"
                                 ta-text-editor-class="form-control myform2-height" ta-html-editor-class="form-control myform2-height">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">
                            {{ 'LB_UPLOAD' | translate}}
                            <small> ( <span ng-repeat="ft in formPrakualCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / {{'SIZE_FILE' | translate}} : {{formPrakualCtrl.idUploadConfigs[0].Size}} {{formPrakualCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                        </label>
                        <div class="input-group">
                            <div class="form-inline">
                                <input disabled type="file" class="form-control input-sm" ng-file-select="formPrakualCtrl.selectUpload()"
                                    ng-model="formPrakualCtrl.fileUpload" name="ownerIDFile" required accept="{{formPrakualCtrl.idFileTypes}}" />
                                <a target="_blank" ng-if="formPrakualCtrl.DocUrl != ''" href="{{formPrakualCtrl.folderFile + formPrakualCtrl.DocUrl}}" class="btn btn-sm btn-primary" title="Download"><i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" disabled ng-model="formPrakualCtrl.IsOpen" /> {{'NEWVENDOR' | translate}}
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">{{'CLASSIFICATION_PRAKUALIFIKASI' | translate}}</label>
                            <br />
                            <select disabled class="form-control" ng-model="formPrakualCtrl.BusinessField"
                                    ng-options="item as item.Name | translate for item in formPrakualCtrl.listbfield" ng-change="formPrakualCtrl.addBField(formPrakualCtrl.BusinessField)">
                                <option value="" disabled selected>{{'PREQUALCLASSIFICATION.CLASSIFICATION' | translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-inline">
                                <input type="checkbox" disabled ng-model="formPrakualCtrl.listClassification[0].IsCheck" ng-change="formPrakualCtrl.checkClassification(item)" /> {{ formPrakualCtrl.listClassification[0].Value | translate}} <span style="padding-right: 25px;"></span>
                                <select disabled class="form-control" style="margin-top:7px!important;margin-right:20px!important;" ng-model="formPrakualCtrl.TechnicalRefID"
                                        ng-options="tech as tech.Name | translate for tech in formPrakualCtrl.listtechnicalclassification" ng-change="formPrakualCtrl.selectedTechnical()">
                                    <option value="" disabled selected>{{'PREQUALCLASSIFICATION.TECHNICAL' | translate }}</option>
                                </select>
                                <select disabled class="form-control" style="margin-top:7px!important;" ng-model="formPrakualCtrl.CompanyScale"
                                        ng-options="item as item.Name | translate for item in formPrakualCtrl.listcompanyscale" ng-change="formPrakualCtrl.selectedCompanyScale()">
                                    <option value="" disabled selected>{{'PREQUALCLASSIFICATION.QUALIFICATION' | translate }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">{{'PILIH_AREA' | translate}}</label>
                        <div class="form-group">
                            <div class="form-inline">
                                <input disabled type="checkbox" ng-model="formPrakualCtrl.IsLocal" /> {{ 'CK.LOCAL' | translate}} <span style="padding-right: 25px;"></span>
                                <input disabled type="checkbox" ng-model="formPrakualCtrl.IsNational" /> {{ 'CK.NATIONAL' | translate}} <span style="padding-right: 25px;"></span>
                                <input disabled type="checkbox" ng-model="formPrakualCtrl.IsInternational" /> {{ 'CK.INTERNATIONAL' | translate}} <span style="padding-right: 25px;"></span>
                                <button class="btn btn-sm btn-primary" ng-click="formPrakualCtrl.openDataCommVendor()"><i class="fa fa-search"></i> {{'VIEW_VENDOR' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <button ng-click="formPrakualCtrl.batal()" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-arrow-circle-left"></i>
        </button>
        <!--<a ng-if="formPrakualCtrl.data.IsPublish != true" ng-click="formPrakualCtrl.saveData()" class="btn btn-flat btn-primary pull-right">
            <i class="fa fa-save"></i> {{'SAVE'| translate}}
        </a>--> 
    </div>
</div> 