﻿<section class="content" ng-init="BudgetTypeController.loadTypes()">
    <ol class="breadcrumb">
        <li>
            <a href="#/homeadmin">
                <i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}
            </a>
        </li>
        <li>
            <a class="active">{{'BREADCRUMB.MASTER_BUDGET_TYPE' | translate}}</a>
        </li>
    </ol>
	<div class="row">
		<div class="col-md-11 col-sm-11 col-xs-11 center-block" style="float: none!important;">
			<div class="box box-info">
				<div class="box-body">
					<div class="row">
						<form method="post" role="form" ng-submit="BudgetTypeController.loadTypes()">
							<div class="col-md-7">
								<h3 class="judul-datatabel afta-font" style="padding-bottom: 20px;">{{'BUDGET_TYPE' | translate }}</h3>
							</div>
							<div class="col-md-5">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="{{'SEARCH_PLACEHOLDER' | translate }}" ng-model="BudgetTypeController.keyword" />
									<span class="input-group-btn">
										<button ng-click="BudgetTypeController.loadTypes()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'SEARCH' | translate }}">
											<i class="fa fa-search"></i>&nbsp;
										</button>
									</span>
								</div>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="button" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click="BudgetTypeController.addTypes()" title="{{'ADD' | translate }}">
								<i class='fa fa-plus-circle'></i>&nbsp;
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive" style="padding-bottom: 20px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" width="20px">{{'TABLE.NO' | translate }}</th>
											<th class="text-center">{{'TABLE.BUDGET_TYPE_CODE' | translate }}</th>
											<th class="text-center" style="width: 110px; min-width: 110px;">{{'TABLE.STATUS' | translate }}</th>
											<th class="text-center" style="width: 220px; min-width: 220px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="types in BudgetTypeController.types">
											<td style="vertical-align: middle;">{{BudgetTypeController.currentPage > 1 ? (BudgetTypeController.pageSize * (BudgetTypeController.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td style="vertical-align: middle;">{{types.Code}}</td>
											<td ng-if="types.IsActive" class="text-center" style="vertical-align: middle;">{{'ACTIVE' | translate }}</td>
											<td ng-if="!types.IsActive" class="text-center" style="vertical-align: middle;">{{'INACTIVE' | translate }}</td>
											<td class="text-center">
												<a ng-click="BudgetTypeController.editType(types.ID)" class="btn btn-flat btn-sm btn-primary" title="{{'EDIT' | translate }}">
													<i class="fa fa-edit"></i>
												</a>
												<a ng-if="types.IsActive" ng-click="BudgetTypeController.inactivate(types)" class="btn btn-flat btn-sm btn-danger" title="{{'INACTIVATE' | translate }}">
													<i class="fa fa-times-circle"></i>
												</a>
												<a ng-if="!types.IsActive" ng-click="BudgetTypeController.inactivate(types)" class="btn btn-flat btn-sm btn-success" title="{{'ACTIVATE' | translate }}">
													<i class="fa fa-check-square-o"></i>
												</a>
											</td>
										</tr>
										<tr ng-if="BudgetTypeController.totalItems === 0">
											<td colspan="4">{{'NO_DATA' | translate }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
							<ul uib-pagination boundary-links="true" total-items="BudgetTypeController.totalItems" ng-model="BudgetTypeController.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="BudgetTypeController.loadTypes()"></ul><br />
							<label>{{'TOTAL_DATA' | translate }} : {{BudgetTypeController.totalItems}}</label>
						</div>
						<div class="col-sd-2 col-md-5">
							<button type="button" style="float:right!important" class="btn btn-flat btn-primary turun-15" ng-click="BudgetTypeController.addTypes()" ng-if="BudgetTypeController.allowChange" title="{{'ADD' | translate }}">
								<i class='fa fa-plus-circle'></i>&nbsp;
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>