﻿<div class="modal-content" ng-init="DetailwarningLetterCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DetailwarningLetterCtrl.batal()"  title="{{'KELUAR'|translate}}" ><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'DETAIL_COMP' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.CREATEDDATE' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.CreatedDate | date: 'dd MMMM yyyy'}}
                        </div>
                    </div>
                </div>
            </div>         
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.VENDORNAME' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.businessType}}. {{DetailwarningLetterCtrl.VendorName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.NO_KONTRAKPO' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.DetailKontrak}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.AREA' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Area |translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.GOODSORSERVICE' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.GoodOrService |translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.WARNINGTYPE' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.WarningType | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.REPORTERNAME' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.ReporterName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.REPORTER' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Reporter}} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.JENIS_PERINGATAN' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.LetterType | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.COMPLAINT_DESC' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.DOKUMEN_PENGADUAN'|translate}}</label>
                        <div class="col-md-8">
                            : <a target="_BLANK" ng-if="DetailwarningLetterCtrl.docUrl" href="{{DetailwarningLetterCtrl.endpointAttachment + DetailwarningLetterCtrl.docUrl}}" download><i class="fa fa-download"></i>{{'DOWNLOAD_DOC'|translate}}</a> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.STATUS' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Status |translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.CATATAN' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Remark |translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
       
    </div>
</div>
