﻿<div class="modal-content" ng-init="DetailwarningLetterCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="DetailwarningLetterCtrl.batal()" title="{{'KELUAR'|translate}}"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;">{{'DETAIL_WARNING' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.CREATEDDATE' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.CreatedDate | date: 'dd MMMM yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.VENDORNAME' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.businessType}}. {{DetailwarningLetterCtrl.VendorName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.NO_KONTRAKPO' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.DetailKontrak}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.AREA' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Area}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.GOODSORSERVICE' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.GoodOrService}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.WARNINGTYPE' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.WarningType | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.REPORTERNAME' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.ReporterName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.REPORTER' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Reporter}} - ( {{DetailwarningLetterCtrl.DeptCode}} )
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.JENIS_PERINGATAN' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.LetterType | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.STARTDATE' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.StartDate | date: 'dd MMMM yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.ENDDATE' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.EndDate | date: 'dd MMMM yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.COMPLAINT_DESC' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.STATUS' | translate }}</label>
                        <div class="col-md-8">
                            : {{DetailwarningLetterCtrl.Status |translate}}
                        </div>
                    </div>
                </div>
            </div>                   
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label col-md-4">{{'TABLE.TEMPLATE'|translate}}</label>                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-10 col-xs-12 well center-block" style="float: none!important;">
                            <div class="form-group">
                                <p ng-bind-html="DetailwarningLetterCtrl.TemplateDoc" name="editor1" rows="10" cols="80"></p>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>            
        </div>
    </div>  
    <div class="modal-footer">        
        <div class="col-md-8">
            <div class="pull-left">
                <button class="btn btn-flat btn-default" title="{{'PRINT_PREVIEW'| translate }}" ng-click="DetailwarningLetterCtrl.printWL(DetailwarningLetterCtrl.TemplateDoc)"><i class="glyphicon glyphicon-print"></i></button>
            </div>
        </div>       
    </div>
</div>
