﻿<div class="modal-content" ng-init="listAppCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="listAppCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'KELUAR'|translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'DETAIL'|translate}}</h3>
    </div>
    <div class="modal-body">                   
        <h3 class="text-center afta-font">  {{'DETAIL_APPROVAL'|translate}}{{listAppCtrl.crAppsActive}}</h3>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                    <!--<th class="text-center">{{'TABLE.LEVEL_INFO'|translate}}</th>-->
                                    <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                    <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                    <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                    <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                    <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dt in listAppCtrl.crApps">
                                    <td class="text-center">{{$index + 1}}</td>
                                    <!--<td></td>-->
                                    <td ng-class="{'text-bold':dt.EmployeeID == listAppCtrl.EmployeeID}">{{dt.EmployeeFullName}}</td>
                                    <td>{{dt.EmployeePositionName}}</td>
                                    <td class="text-center">{{dt.ApprovalDate| date: "dd MMMM yyyy"}}</td>
                                    <td ng-if="dt.ApprovalDate === null">{{'NEED_APPROVAL' |translate}}</td>
                                    <td ng-if="dt.ApprovalDate !== null">{{dt.ApprovalStatus |translate}}</td>
                                    <td>{{dt.Remark}}</td>                                   
                                </tr>
                                <tr ng-if="listAppCtrl.crApps.length === 0">
                                    <td colspan="6">{{'NO_DATA' | translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>         
        </div>    
    <div class="modal-footer">
        <div class="col-md-6">
            <div class="pull-right">
                <button class="btn btn-flat btn-primary" title="{{'BATAL'|translate}}" ng-click="listAppCtrl.cancel()"><i class="fa fa-reply"></i></button>
            </div>
        </div>
    </div>

</div>