<section class="content" ng-init="warningLetterCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.MASTER_WARNINGLETTER' | translate}}</a></li>
    </ol>
    <div id="utama" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="afta-font judul-datatabel">{{'DATA_WARNINGLETTER' | translate}}</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <label>{{'FILTER_TANGGAL'|translate}}</label>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group date form_datetime">
                                    <input readonly class="form-control" size="16" type="text" style="background-color:white;" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="warningLetterCtrl.isCalendarOpened[0]" ng-model="warningLetterCtrl.dateFrom" ng-click="warningLetterCtrl.openCalendar(0)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="warningLetterCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                {{'s/d'|translate}}
                            </div>
                            <div class="col-md-4">
                                <div class="input-group date form_datetime">
                                    <input readonly class="form-control" size="16" type="text" style="background-color:white;" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="warningLetterCtrl.isCalendarOpened[1]" ng-model="warningLetterCtrl.dateTo" ng-click="warningLetterCtrl.openCalendar(1)" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="warningLetterCtrl.openCalendar(1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pull-right">
                            <div class="col-md-4">
                                <select class="form-control" ng-model="warningLetterCtrl.searchBy" required>
                                    <option value="1">{{'FILTER_VENDOR' | translate }}</option>
                                    <option value="2">{{'FILTER_AREA' | translate }}</option>
                                    <option value="3">{{'FILTER_DEPARTMENT' | translate }}</option>
                                    <option value="4">{{'FILTER_JENIS_PENGADUAN' | translate }}</option>
                                    <option value="5">{{'FILTER_JENIS_PERINGATAN' | translate }}</option>
                                    <option value="6">{{'FILTER_STATUS' | translate }}</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <form method="post" role="form" ng-submit="warningLetterCtrl.cariwarningLetter()">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="warningLetterCtrl.search" />
                                        <span class="input-group-btn">
                                            <button ng-click="warningLetterCtrl.cariwarningLetter()" type="button" name="search" id="search-btn" class="btn btn-flat btn-primary" title="{{'CARI' | translate}}">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--div class="col-md-7">
                            <pagination total-items="warningLetterCtrl.totalItems" page="warningLetterCtrl.currentPage" items-per-page="10" ng-show="warningLetterCtrl.totalItems > 10"
                                        max-size="warningLetterCtrl.maxSize" on-select-page="warningLetterCtrl.jLoad(page)"></pagination>
                        </div-->
                        <!--<div class="col-md-5">
                            <div ng-if="warningLetterCtrl.allowAdd" class="pull-right">
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="warningLetterCtrl.tambah('',true)">
                                    <i class='fa fa-plus-circle'></i>&nbsp; {{'TAMBAH' | translate}}
                                </button>
                            </div>
                        </div>-->
                        <div class="col-md-12 text-right" style="padding-bottom:15px;">
                            <button ng-click="warningLetterCtrl.kePODelay()" type="button" class="btn btn-sm btn-flat btn-warning" title="{{'PO_DELAY' | translate}}">
                                <i class="fa fa-list"></i>&nbsp;{{'PO_DELAY' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 5%;">{{'TABLE.NO' | translate }}</th>
                                            <th class="text-center" style="width: 10%;">{{'TABLE.CREATEDDATE' | translate }}</th>
                                            <th class="text-center" style="width: 8%;">{{'TABLE.NOTREVIEWEDSINCE' | translate }}</th>
                                            <th class="text-center">{{'TABLE.VENDORNAME' | translate }}</th>
                                            <th class="text-center">{{'TABLE.NO_KONTRAKPO' | translate }}</th>
                                            <th class="text-center" style="width: 7%;">{{'TABLE.AREA' | translate }}</th>
                                            <th class="text-center" style="width: 10%;">{{'TABLE.GOODSORSERVICE' | translate }}</th>
                                            <th class="text-center" style="width: 10%;">{{'TABLE.WARNINGTYPE' | translate }}</th>
                                            <th class="text-center">{{'TABLE.REPORTERNAME'|translate}}</th>
                                            <th class="text-center" style="width: 8%;">{{'TABLE.REPORTER' | translate }}</th>
                                            <th class="text-center">{{'TABLE.JENIS_PERINGATAN' | translate }}</th>
                                            <th class="text-center" style="width: 10%;">{{'TABLE.STARTDATE' | translate }}</th>
                                            <th class="text-center" style="width: 10%;">{{'TABLE.ENDDATE' | translate }}</th>
                                            <th class="text-center" style="width: 8%;">{{'TABLE.STATUS' | translate }}</th>
                                            <th class="text-center" style="width: 8%;">{{'TABLE.KETERANGAN' | translate }}</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="wl in warningLetterCtrl.warningletter">
                                            <td class="text-center" style="vertical-align: middle;">{{warningLetterCtrl.currentPage > 1 ? (warningLetterCtrl.pageSize * (warningLetterCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.CreatedDate | date: 'dd MMMM yyyy'}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <span ng-if="wl.StatusAppName === 'WL_SENT'">{{wl.DaysSinceCreated}} {{'DAYS'|translate}}</span>
                                                <span ng-if="wl.StatusAppName !== 'WL_SENT'"> - </span>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.Vendor.VendorName}}</td>
                                            <td class="text-center">{{wl.DetailKontrak}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.Area |translate}}</td>
                                            <td ng-if="wl.Type == 1" class="text-center" style="vertical-align: middle;">{{'PENGADUAN'|translate}}</td>
                                            <td ng-if="wl.Type == 2" class="text-center" style="vertical-align: middle;">{{'CPR'|translate}}</td>
                                            <td ng-if="wl.Type == 3" class="text-center" style="vertical-align: middle;">{{'VHS'|translate}}</td>
                                            <td ng-if="wl.Type == 4" class="text-center" style="vertical-align: middle;">{{'PO'|translate}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.ComplainType.TypeName |translate}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.ReporterName}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.DepartmentName}}</td>
                                            <td class="text-center">{{wl.LetterType | translate}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.StartDate | date: 'dd MMMM yyyy'}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{wl.EndDate | date: 'dd MMMM yyyy'}}</td>
                                            <td ng-if="wl.StatusAppName != null" class="text-center" style="vertical-align: middle;">{{wl.StatusAppName.indexOf('APPROVE') > 0 ? 'WL_SEND_APPROVAL' : wl.StatusAppName | translate}}</td>
                                            <td ng-if="wl.StatusAppName == null" class="text-center" style="vertical-align: middle;"> - </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <a ng-if="wl.StatusAppName === 'WL_CLOSED' || wl.StatusAppName === 'WL_INCOMPLETE' || wl.StatusAppName === 'WL_CANCEL_BY_PROC' || wl.StatusAppName === 'WL_CANCEL_POST' || wl.StatusAppName === 'WL_COMPLETED' || wl.StatusAppName === 'WL_ACCUMULATED'"
                                                   ng-click="warningLetterCtrl.listRemark(wl)" class="btn btn-flat btn-xs btn-info" title="{{'TABLE.KETERANGAN'|translate}}"><i class="fa fa-exclamation-circle"></i></a>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <!-- List Approval-->       <a ng-if="wl.StatusAppName=='WL_ACCUMULATED' || wl.StatusAppName=='WL_COMPLETED' || wl.StatusAppName=='WL_SEND_APPROVAL' || wl.StatusAppName=='WL_APPROVE_L1_SUPP'|| wl.StatusAppName=='WL_APPROVE_MGR' || wl.StatusAppName=='WL_APPROVE_L1' || wl.StatusAppName=='WL_APPROVE_L3_DIR' || wl.StatusAppName=='WL_REJECTED_BY_APP'" class="btn btn-flat btn-xs btn-primary" ng-click="warningLetterCtrl.listApproval(wl)" title="{{'LIST_APP'|translate}}"><i class="fa fa-user"></i></a>
                                                <!-- Create/edit template--><a ng-if="wl.StatusAppName=='WL_REVIEW_BY_PROC' || wl.StatusAppName=='WL_REJECTED_BY_APP'" class="btn btn-flat btn-xs btn-info" ng-click="warningLetterCtrl.tambahTemp(wl)" title="{{'GENERATE_TEMP'|translate}}"><i class="fa-file-archive-o"></i></a>
                                                <!-- Detail with Template--><a ng-if="wl.TemplateDoc != null" ng-click="warningLetterCtrl.detailTemplate(wl)" class="btn btn-flat btn-xs btn-warning" title="{{'DETAIL_TEMPLATE'|translate}}"><i class="fa-file-archive-o"></i></a>
                                                <!-- Detail pengaduan -->   <a ng-if="wl.StatusAppName =='WL_REVIEW_BY_PROC' || wl.StatusAppName =='WL_SENT'" ng-click="warningLetterCtrl.lihatDetail(wl)" class="btn btn-flat btn-xs btn-warning" title="{{'DETAIL'|translate}}"><i class="fa fa-external-link"></i></a>
                                                <!-- Detail CPR -->         <a ng-if="wl.Type == 2 || wl.Type == 3" ng-click="warningLetterCtrl.lihatDetailCPR(wl)" class="btn btn-flat btn-xs btn-warning" title="{{'CPR'|translate}}"><i class="fa fa-list"></i></a>
                                                <!-- Change active status--><a ng-if="wl.IsActive === true && wl.StateApproval == null" ng-click="warningLetterCtrl.ubah_aktif(wl,false)" class="btn btn-flat btn-xs btn-danger" title="{{'NONAKTIF'|translate}}"><i class="fa fa-times-circle"></i> </a>
                                                <!-- Change active status--><a ng-if="wl.IsActive === false" ng-click="warningLetterCtrl.ubah_aktif(wl,true)" class="btn btn-flat btn-xs btn-success" title="{{'AKTIF'|translate}}"><i class="fa fa-check-square-o"></i> </a>
                                                <!-- Incomplete-->          <a ng-if="warningLetterCtrl.role === 2 && wl.IsActive === true && wl.StatusAppName =='WL_SENT' && wl.TemplateDoc == null" ng-click="warningLetterCtrl.stateIncomplete(wl)" class="btn btn-flat btn-xs btn-primary" title="{{'INCOMPLETE'|translate}}"><i class="fa fa-briefcase"></i> </a>
                                                <!-- Review-->              <a ng-show="wl.StatusAppName =='WL_SENT' && wl.TemplateDoc == null && warningLetterCtrl.role === 2" ng-click="warningLetterCtrl.stateReview(wl)" class="btn btn-flat btn-xs btn-primary" title="{{'REVIEW'|translate}}"><i class="fa fa-angellist"></i> </a>
                                                <!-- Canceled-->            <a ng-if="warningLetterCtrl.role === 2 && wl.IsActive === true && wl.Type == 1 " ng-show="wl.StatusAppName !='WL_CLOSED' && wl.StatusAppName !='WL_INCOMPLETE'&& wl.StatusAppName !='WL_CANCEL_BY_PROC' && wl.StatusAppName != 'WL_APPROVE_MGR' && wl.StatusAppName !='WL_REVIEW_BY_PROC' && wl.StatusAppName!='WL_APPROVE_L1_SUPP' && wl.StatusAppName!='WL_APPROVE_L1' && wl.StatusAppName !='WL_SEND_APPROVAL' && wl.StatusAppName!='WL_COMPLETED' && wl.StatusAppName !='WL_CANCEL_POST' && wl.StatusAppName!='WL_ACCUMULATED'" ng-click="warningLetterCtrl.stateCanceled(wl)" class="btn btn-flat btn-xs btn-primary" title="{{'CANCELED'|translate}}"><i class="fa fa-gear"></i> </a>
                                                <!-- Send to Vendor-->      <!--<a ng-show="wl.StatusAppName=='WL_APPROVE_L1_SUPP' || wl.StatusAppName=='WL_APPROVE_L1' || wl.StatusAppName=='WL_APPROVE_L3_DIR'" ng-if="warningLetterCtrl.role === 2 && wl.IsActive === true " ng-click="warningLetterCtrl.stateSendVendor(wl)" class="btn btn-flat btn-xs btn-primary" title="{{'SEND_TO_VENDOR'|translate}}"><i class="fa fa-bitbucket"></i> </a>-->
                                                <!-- Send to Vendor-->      <a ng-show="wl.StatusAppName=='WL_APPROVE_MGR' || (wl.StatusAppName=='WL_APPROVE_L1_SUPP' && wl.LetterType.indexOf('GOODS') !== -1)" ng-if="warningLetterCtrl.role === 2 && wl.IsActive === true " ng-click="warningLetterCtrl.stateSendVendor(wl)" class="btn btn-flat btn-xs btn-primary" title="{{'SEND_TO_VENDOR'|translate}}"><i class="fa fa-bitbucket"></i> </a>
                                                <!-- Send to Approval-->    <a ng-if="warningLetterCtrl.role === 2 && wl.IsActive === true && wl.TemplateDoc != null && (wl.StatusAppName =='WL_REVIEW_BY_PROC' || wl.StatusAppName =='WL_REVISE' || wl.StatusAppName=='WL_REJECTED_BY_APP')" ng-click="warningLetterCtrl.stateOnProcess(wl)" class="btn btn-flat btn-xs btn-success" title="{{'SEND_APPROVAL'|translate}}"><i class="fa fa-send-o"></i> </a>
                                                <!-- Skip Vendor Approval--><a ng-if="warningLetterCtrl.role === 2 && wl.IsActive === true && wl.StatusAppName=='WL_SEND_TO_VENDOR'" ng-click="warningLetterCtrl.stateCompleteSkipVendor(wl)" class="btn btn-flat btn-xs btn-success" title="{{'SKIP_VENDOR'|translate}}"><i class="fa fa-check"></i> </a>
                                                <!-- Canceled Post-->       <a ng-if="warningLetterCtrl.role === 2 && wl.IsActive === true && wl.StatusAppName=='WL_COMPLETED'" ng-click="warningLetterCtrl.stateCanceledPost(wl)" class="btn btn-flat btn-xs btn-warning" title="{{'CANCELED_POST'|translate}}"><i class="fa fa-behance"></i> </a>
                                                <!-- Closed-->              <a ng-if="warningLetterCtrl.role === 2 && wl.IsActive === true && wl.StatusAppName=='WL_REVISE' " ng-click="warningLetterCtrl.stateClosed(wl)" class="btn btn-flat btn-xs btn-info" title="{{'CLOSED_POST'|translate}}"><i class="fa fa-venus"></i> </a>
                                            </td>
                                        </tr>
                                        <tr ng-if="warningLetterCtrl.totalItems === 0">
                                            <td colspan="14" class="text-center">{{'NO_DATA'|translate}}
                                            <td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <ul uib-pagination boundary-links="true" total-items="warningLetterCtrl.totalItems" ng-model="warningLetterCtrl.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="warningLetterCtrl.jLoad(warningLetterCtrl.currentPage)"></ul>
                            <br />
                            <label>{{'TOTAL_DATA' | translate}} : {{warningLetterCtrl.totalItems}}</label>
                        </div>
                        <!--<div class="col-md-5">
                            <div ng-if="warningLetterCtrl.allowAdd" class="pull-right">
                                <button type="button" class="btn btn-flat btn-primary turun-15" ng-click="warningLetterCtrl.tambah('',true)">
                                    <i class='fa fa-plus-circle'></i>&nbsp; {{'TAMBAH' | translate}}
                                </button>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
