﻿<!DOCTYPE html>
<html>
<head>
    <title>Menu Management</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
</head>
<body>
    <div class="container font-family="Arial" ng-app="app">
        <h1 class="text-center">Menu Management</h1>
        <br />
        <div class="clearfix"></div>

        <div class="panel panel-info" ng-controller="MenuController as menuCtrl">
            <div class="panel-heading">
                <h2 class="panel-title">Manage Menus</h2>
            </div>
            <div class="panel-body" ng-init="menuCtrl.loadMenus(0, 1)">
                <div class="form-group"></div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                        <label>Menu Segment</label>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <select class="form-control" ng-model="menuCtrl.menuSegment"
                                ng-options="item as item.Label for item in menuCtrl.menus" ng-change="menuCtrl.changeMenu(menuCtrl.menuSegment.MenuID, 2)">
                            <option value="" selected disabled> -- Select Menu Segment -- </option>
                            <option value="" selected disabled> MENU.ROOT </option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-if="menuCtrl.menuSegment.children.length > 0">
                        <select class="form-control" ng-model="menuCtrl.menuSegment.child"
                                ng-options="item as item.Label for item in menuCtrl.menuSegment.children" ng-change="menuCtrl.changeMenu(menuCtrl.menuSegment.child.MenuID, 3)">
                            <option value="" selected disabled> -- Select Menu Segment -- </option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12" ng-if="menuCtrl.menuSegment.child.children.length > 0">
                        <select class="form-control" ng-model="menuCtrl.menuSegment.child.child"
                                ng-options="item as item.Label for item in menuCtrl.menuSegment.child.children" ng-change="menuCtrl.changeMenu(menuCtrl.menuSegment.child.child.MenuID, 4)">
                            <option value="" selected disabled> -- Select Menu Segment -- </option>
                        </select>
                    </div>

                </div>
                <br />
                <br />
                <form class="form-horizontal" ng-submit="menuCtrl.save()">
                    <h4 ng-if="!menuCtrl.edit">Add Menu to {{(!menuCtrl.selectedNode) ? "Root" : menuCtrl.selectedNode.Label}}</h4>
                    <h4 ng-if="menuCtrl.edit">Edit Menu to {{(!menuCtrl.selectedNode) ? "Root" : menuCtrl.selectedNode.Label}}</h4>
                    <h4 ng-if="menuCtrl.move">Move Menu to {{(!menuCtrl.selectedNode) ? "Root" : menuCtrl.selectedNode.Label}}</h4>
                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Name<sup>*</sup></label>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input class="form-control" type="text" placeholder="Name" ng-model="menuCtrl.menuModel.Label" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Icon<sup>*</sup></label>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input class="form-control" type="text" placeholder="Icon" ng-model="menuCtrl.menuModel.Icon" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>State</label>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input class="form-control" type="text" placeholder="State Name" ng-model="menuCtrl.menuModel.StateName" ng-change="menuCtrl.menuModel.Url = '#/' + menuCtrl.menuModel.StateName" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label>Url</label>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input class="form-control" type="text" placeholder="Url" ng-model="menuCtrl.menuModel.Url" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success" ng-click="menuCtrl.save()"><i class="fa fa-plus"></i> Add Menu</button>
                        </div>
                    </div>
                </form>

            </div>
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th width="50" class="text-center">#</th>
                        <th width="55%" class="text-center">Menu Label</th>
                        <th width="20%" class="text-center">Menu Icon</th>
                        <th width="20%" class="text-center">Url</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in menuCtrl.menus">
                        <td>{{$index + 1}}</td>
                        <td>
                            {{item.Label}}
                            <br />
                            <label ng-if="item.Children.length > 0">Sub Menus</label>
                            <table class="table table-responsive table-striped">
                                <tbody>
                                    <tr ng-repeat="sub1 in item.Children">
                                        <td>{{sub1.Label}}</td>
                                        <td>{{sub1.Icon}}</td>
                                        <td>{{(!sub1.Url) ? 'N/A' : sub1.Url }}</td>
                                        <td><button class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>{{item.Icon}}</td>
                        <td>{{(!item.Url) ? 'N/A' : item.Url}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 class="text-center">Menu Role Management</h1>
        <br />
        <div class="clearfix"></div>

        <div class="panel panel-info" ng-controller="MenuController as menuCtrl">
        </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.js"></script>
    <script type="text/javascript" src="assets/js/lib/angular/angular-ui-tree.min.js"></script>
    <script>
        (function () {
            'use strict';

            angular.module('app', []).run(apprun);

            function apprun($rootScope, $http) {
            }

            angular.module('app').controller('MenuController', menuController);
            function menuController($http) {
                var host = "https://localhost";
                var port = "4443";
                var vm = this;
                vm.menus = [];
                vm.menuModel = {};
                vm.menuSegment = {};
                vm.selectedNode = "";
                vm.parent

                vm.loadMenus = loadMenus;
                vm.changeMenu = changeMenu;
                vm.save = save;

                function loadMenus(id, level) {
                    $http.get(host + ":" + port + "/apps/vale/api/admin/menus/" + id).
                        then(function (response) {
                            if (response.status == 200) {
                                var data = response.data;
                                if (level == 1) {
                                    vm.menus = data;
                                    vm.menuSegment = "";
                                    vm.selectedNode = "";
                                } else if (level == 2) {
                                    vm.menuSegment.children = data;
                                    vm.menuSegment.child = "";
                                    vm.selectedNode = vm.menuSegment;
                                } else {
                                    vm.menuSegment.child.children = data;
                                    vm.menuSegment.child.child = "";
                                    vm.selectedNode = vm.menuSegment.child;
                                }

                                vm.menuModel.Label = (!vm.selectedNode) ? "" : vm.selectedNode.Label;

                            }
                            else
                                alert(response.error);


                        });
                }

                function changeMenu(id, level) {
                    if (!id)
                        return;

                    vm.loadMenus(id, level);

                }

                function save() {
                    if (!vm.menuModel.Label) {
                        return;
                    }

                    if (!vm.menuModel.Icon) {
                        return;
                    }

                    vm.menuModel.HasSub = false
                    vm.menuModel.ParentID = (!vm.selectedNode) ? null : vm.selectedNode.MenuID;
                    $http.post(host + ":" + port + "/apps/vale/api/admin/menus/create", vm.menuModel).
                       then(function (response) {
                           if (response.status == 200) {
                               var message = response.data;
                               alert(message);
                               vm.loadMenus(0);
                           }
                           else
                               alert(response.error);

                       });

                }
            }

        })();
    </script>
</body>
</html>
