﻿<section ng-init="AddendumCtrl.init()" class="content" style="overflow: visible;">
    <ol class="breadcrumb">
        <li><a href="#/home-admin">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a href="#/daftar-lelang-panitia">{{'BREADCRUMB.APP_ADDENDUM'|translate}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'BREADCRUMB.APP_ADDENDUM'|translate}}</h3>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-md-12">
                            <div class="table table-responsive" style="padding-bottom: 20px;">
                                <table class="table table-bordered table-striped" id="table-rekanan">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">No</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_CODE'|translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.TENDER_NAME'|translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.ADENDUM' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">Addendum Type</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.DATE_REQ' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.START_CONT' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle; ">{{'TABLE.FINISH_CONT' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.ADD_BUDGET_CONT' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.NEW_BUDGET_CONT' | translate }}</th>
                                            <th class="text-center" style="vertical-align: middle;">Remark</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="data in AddendumCtrl.listFPA">
                                            <td class="text-center"style="vertical-align: middle;">{{AddendumCtrl.currentPage > 1 ? (AddendumCtrl.maxSize * (AddendumCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="text-center"style="vertical-align: middle;">{{data.addendum.TenderStepData.tender.TenderCode}}</td>
                                            <td class="text-center"style="vertical-align: middle;">{{data.addendum.TenderStepData.tender.TenderName}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{data.addendum.AddendumCode}}</td>
                                            <td class="text-center" style="vertical-align: middle;" ng-if="data.addendum.TypeAddendum == 1">Budget</td>
                                            <td class="text-center" style="vertical-align: middle;" ng-if="data.addendum.TypeAddendum == 2">Duration : {{data.addendum.Duration}} Month</td>
                                            <td class="text-center" style="vertical-align: middle;" ng-if="data.addendum.TypeAddendum == 3">New Item</td>
                                            <td class="text-center" style="vertical-align: middle;" ng-if="data.addendum.TypeAddendum == 4">Price</td>
                                            <td class="text-center" style="vertical-align: middle;">{{AddendumCtrl.convertDate(data.addendum.RequestDate)}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{AddendumCtrl.convertDate(data.addendum.StartDate)}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{AddendumCtrl.convertDate(data.addendum.EndDate)}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{data.addendum.Currency}} {{data.addendum.AdditionalValue | currency :"" }}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{data.addendum.Currency}} {{data.addendum.NewBudgetContract | currency :""}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{data.addendum.Remask}}</td>
                                            <td class="text-center">
                                                <a class="btn btn-sm btn-warning" title="{{'BTN.DETAIL_ADD'|translate}}" ng-click="AddendumCtrl.detailAddendum(data)"> <i class="fa fa-search"></i></a>
                                                <a ng-if="data.ApprovalStatus == null" class="btn btn-sm btn-primary" title="Approve" ng-click="AddendumCtrl.approve(data)"><i class="fa fa-check"></i></a>
                                                <a ng-if="data.ApprovalStatus == null" class="btn btn-sm btn-danger" title="Reject" ng-click="AddendumCtrl.reject(data)"><i class="fa fa-close"></i></a>
                                                <a class="btn btn-sm btn-success" title="{{'BTN.DETAIL_APPROVAL'|translate}}" ng-click="AddendumCtrl.detailApproval(data.AddendumId)"> <i class="fa fa-sitemap"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="AddendumCtrl.count === 0">
                                            <td colspan=6> {{'TIDAK_ADA_DATA'|translate}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-10"></div>
                        <div class="col-md-2 text-right">
                            <button ng-if="AddendumCtrl.flagSave === true && AddendumCtrl.detail[0].flagApprove === true" type="button" class="btn btn-flat btn-primary" ng-click="AddendumCtrl.simpan()" title="{{'SIMPAN'|translate}}">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> {{'SIMPAN'|translate}}
                            </button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <ul uib-pagination total-items="AddendumCtrl.totalItems"
                                ng-model="AddendumCtrl.currentPage" items-per-page="AddendumCtrl.maxSize"
                                previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="AddendumCtrl.jLoad(AddendumCtrl.currentPage)"></ul>
                        </div>
                        <div class="col-md-10">
                            <label>Total Data : {{AddendumCtrl.totalItems}}</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
