<div class="modal-content" ng-init="detailPersyaratanVendorCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="detailPersyaratanVendorCtrl.close()"><span aria-hidden="true" title="Keluar">&times;</span><span class="sr-only"></span></button>
        <h3 class="modal-title afta-font" style="margin-left:10px;">Detail Persyaratan</h3>
    </div>
    <div class="modal-body">
        <div class="box-body">
            <div class="row" style="padding-top: 10px!important;">
                <br />
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped" id="tabelPesertaNegosiasi">
                            <thead>
                                <tr>
                                    <th class="text-center" width="20px">No.</th>
                                    <th class="text-center">Persyaratan</th>
                                    <th class="text-center">Nama File</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in detailPersyaratanVendorCtrl.data">
                                    <td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
                                    <td style="vertical-align: middle;">{{data.DocName}}</td>
                                    <td class="text-center" style="vertical-align: middle;"> {{data.Filename}} </td>
                                </tr>
                                <tr ng-if="detailPersyaratanVendorCtrl.data.length === 0"><td colspan="6">Data Tidak Ada</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="detailPersyaratanVendorCtrl.close()" title="Batal"><i class="glyphicon glyphicon-remove"></i>&nbsp;</button>
    </div>
</div>