﻿<div class="modal-content" ng-init="PendaftaranPengadaanCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="PendaftaranPengadaanCtrl.batal()">
			<span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.KELUAR'|translate}}</span>
		</button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'TABLE_PENDAFTARAN.TITLE' |translate}}</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="row">
					<div class="col-md-12">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center">{{'TABLE_PENDAFTARAN.START_DATE' |translate}}</th>
										<th class="text-center">{{'TABLE_PENDAFTARAN.END_DATE' |translate}}</th>
										<th class="text-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-center" style="vertical-align: middle;">
											{{PendaftaranPengadaanCtrl.data.RegistrationStartDate | date: "dd/MM/yyyy"}}
										</td>
										<td class="text-center" style="vertical-align: middle;">
											{{PendaftaranPengadaanCtrl.data.RegistrationEndDate | date: "dd/MM/yyyy"}}
										</td>
										<td class="text-center" style="vertical-align: middle;">
											<a ng-if="PendaftaranPengadaanCtrl.data.RegistrationDocUrl" href="{{PendaftaranPengadaanCtrl.folderFile+PendaftaranPengadaanCtrl.data.RegistrationDocUrl}}" class="btn btn-flat btn-xs btn-primary" target="_BLANK" ng-click="PendaftaranPengadaanCtrl.changeStatusMinat()" title="{{'TABLE_PENDAFTARAN.DOWNLOAD' |translate}}">
												<i class="fa fa-download">&nbsp;Download</i>
											</a>
											<a ng-if="PendaftaranPengadaanCtrl.statusMinat === true && PendaftaranPengadaanCtrl.data.IsAlreadyRegistered !== true && PendaftaranPengadaanCtrl.data.IsOpen==false" class="btn btn-flat btn-xs btn-success" ng-click="PendaftaranPengadaanCtrl.minat()" title="{{'TABLE_PENDAFTARAN.INTEREST' |translate}}">
												<i class="fa fa-check">&nbsp;{{'TABLE_PENDAFTARAN.INTEREST' |translate}}</i>
											</a>
											<a ng-if="!PendaftaranPengadaanCtrl.data.RegistrationDocUrl">
												<label class="label label-sm label-default" title="{{'TABLE_PENDAFTARAN.NOFILE_UPLOADED' |translate}}">
													<i class="fa fa-download"></i>&nbsp;Download
												</label>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="PendaftaranPengadaanCtrl.data.IsOpen==true" ng-show="PendaftaranPengadaanCtrl.data.IsUploadDoc==false||PendaftaranPengadaanCtrl.data.IsUploadDoc==null">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<legend class="h4"
								style="border-bottom: 1px dotted darkgreen!important;padding-bottom: 5px;">
							{{'Dokumen Pendaftaran Tender'|translate}}
						</legend>
					</div>
					<div class="margin-atas">
						<div class="col-md-3">
							<div class="form-group">
								<input class="form-control" type="text" ng-model="PendaftaranPengadaanCtrl.tenderInterestDocData.DocumentName" name="ownerName" placeholder="{{'Nama Dokumen'|translate}}" required />
							</div>
						</div>
						<div class="col-md-3">
							<input class="form-control  marginBottom-1" type="file" ng-file-select="PendaftaranPengadaanCtrl.docTender" ng-model="PendaftaranPengadaanCtrl.docTender" name="ownerIDFile" required accept="{{PendaftaranPengadaanCtrl.idFileTypes}}" />
							<span>
								<small> ( <span ng-repeat="ft in PendaftaranPengadaanCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{PendaftaranPengadaanCtrl.idUploadConfigs[0].Size}} {{PendaftaranPengadaanCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
							</span>
						</div>
						<div class="col-md-2">
							<button class="btn btn-success" ng-click="PendaftaranPengadaanCtrl.addTenderDoc('')">
								<i class="fa fa-plus"></i> {{'BUTTONS.ADD' | translate}}
							</button>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="col-md-8">
						<div class="table table-responsive margin-atas">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="text-center" style="width: 4%;">No.</th>
										<th class="text-center" style="width: 10%;">{{'Nama Dokumen'|translate}}</th>
										<th class="text-center" style="width: 10%;">{{'Dokumen'|translate}}</th>
										<th style="width: 5%;"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="!PendaftaranPengadaanCtrl.tenderInterestDoc || PendaftaranPengadaanCtrl.tenderInterestDoc.length == 0">
										<td colspan="4" class="text-center">
											<div class="alert alert-info">{{'TABLE.NODATA'|translate}}</div>
											<div class="clearfix"></div>
										</td>
									</tr>
									<tr ng-repeat="dt in PendaftaranPengadaanCtrl.tenderInterestDoc">
										<td class="text-center">{{$index + 1}}</td>
										<td class="text-center">{{dt.DocumentName}}</td>
										<td class="text-center"><a ng-href="{{PendaftaranPengadaanCtrl.folderFile+dt.DocumentUrl}}" target="_blank"><i class="fa fa-download"></i></a></td>
										<td class="text-center"><button class="btn btn-xs btn-danger" ng-click="PendaftaranPengadaanCtrl.removeTenderDoc(dt)"><i class="fa fa-times"></i></button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="PendaftaranPengadaanCtrl.data.IsAlreadyRegistered !== true">
			<div class="col-md-12">
				<p ng-show="!(pendaftaran.dokumen_file === null)">*) {{'TABLE_PENDAFTARAN.NOTIF1' |translate}} </p>
				<p ng-show="pendaftaran.dokumen_file === null">*) {{'TABLE_PENDAFTARAN.NOTIF2' |translate}} </p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="col-md-12">
			<span ng-if="PendaftaranPengadaanCtrl.data.IsOpen==true">
				<a ng-show="PendaftaranPengadaanCtrl.data.IsUploadDoc==false||PendaftaranPengadaanCtrl.data.IsUploadDoc==null" ng-if="PendaftaranPengadaanCtrl.statusMinat === true && (PendaftaranPengadaanCtrl.data.IsAlreadyRegistered != true)"
				   class="btn btn-flat btn-success" ng-click="PendaftaranPengadaanCtrl.minatROI()" title="{{'TABLE_PENDAFTARAN.INTEREST' |translate}}">
					<i class="fa fa-check"></i>
				</a>
			</span>
			<button type="button" class="btn btn-flat btn-primary" ng-click="PendaftaranPengadaanCtrl.cancel()" title="{{'BTN_BACK' |translate}}"><i class="fa fa-arrow-circle-left"></i></button>
		</div>
	</div>
</div>