﻿<div class="modal-content" style="width:1100px!important" ng-init="vDupCtrl.init()">
    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" ng-click="vDupCtrl.batal()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="afta-font" style="font-weight:bold">Item Duplicate</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.NO' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.NO_PR' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.REQ_ITEM' | translate}}</th>
                                        <th class="center-vertical">{{'ITEMPR.TABLE.PURCH_GROUP' | translate}}</th>
                                        <th class="center-vertical">{{'TABLE.NAMA_RFQ' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pr in vDupCtrl.duplicateItems">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td class="text-center">{{pr.PurchaseReq}}</td>
                                        <td class="text-center">{{pr.RequisnItem}}</td>
                                        <td class="text-center">{{pr.PurchGroup}} - {{pr.Name}}</td>
                                        <td>{{pr.ItemNote}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>