<div class="content" ng-init="PPVCtrl.init()">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-primary">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.HOME' | translate}}</a></li>
                        <li><a class="active">{{'BREADCRUMB.ANNOUNCEMENT' | translate}}</a></li>
                    </ol>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h3 class="box-title afta-font">{{'FORM.TITLEANNOUNCEMENT' | translate}}</h3>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="input-group" style="padding-top: 15px;">
                                        <div class="input-cont">
                                            <input type="text" ng-model="PPVCtrl.srcText" placeholder="{{'BTNSEARCH' | translate}}" class="form-control">
                                        </div>
                                        <span class="input-group-btn">
                                            <button ng-click="PPVCtrl.jLoad(1)" type="button" class="btn btn-primary" title="{{'BTNSEARCH' | translate}}">
                                                 &nbsp; <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tabelPengumuman" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 20px; min-width: 20px; text-align: center; vertical-align: middle;">{{'TABLE.NO' | translate}}</th>
                                            <th class="text-center" style="width: 195px; min-width: 195px; text-align: center; vertical-align: middle;">{{'TABLE.DATE' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.NAMA_TENDER' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle; width: 195px; min-width: 195px;">{{'TABLE.MASA_BERLAKU' | translate}}</th>
                                            <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'TABLE.STATUS' | translate}}</th>
                                            <th class="text-center" style="vertical-align: middle;">Detail</th>
                                            <th class="text-center" style="vertical-align: middle;">{{'TABLE.INTERESTED' | translate}}(?)</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="pen in PPVCtrl.listPengumuman">
                                            <td class="text-center" style="vertical-align: middle;">{{PPVCtrl.currentPage > 1 ? (PPVCtrl.maxSize * (PPVCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{pen.RegistrationStartDate| date: "dd/MM/yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{pen.TenderStepData.tender.TenderName | translate}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{pen.RegistrationEndDate| date: "dd/MM/yyyy"}}</td>
                                            <td ng-if="pen.IsAlreadyRegistered === true" class="text-center" style="vertical-align: middle;"> {{'TERDAFTAR' | translate}}
                                            <td ng-if="pen.IsAlreadyRegistered === false" class="text-center" style="vertical-align: middle;"> {{'BELUMTERDAFTAR' | translate}}
                                            <td class="text-center" style="vertical-align: middle;"><a ng-click="PPVCtrl.detailPengumuman(pen)" class="btn btn-flat btn-sm btn-primary" role="button" title="Detail"><i class="fa fa-external-link"></i> </a></td>
                                                <td class="text-center" style="vertical-align: middle;">
                                                <a ng-if="pen.IsAlreadyRegistered === true" ng-click="PPVCtrl.lihatPendaftaran(pen)" class="btn btn-flat btn-sm btn-warning" role="button" title="Detail"><i class="fa fa-external-link"></i> </a>
                                                <a ng-if="(pen.IsUploadDoc == false && !pen.IsAlreadyClosed)" ng-show="pen.IsOpen==true" ng-click="PPVCtrl.lihatPendaftaran(pen)" class="btn btn-sm btn-primary" role="button" title="{{'TABLE.INTERESTED'| translate}}"><i class="fa fa-check-square"></i></a>
                                                 <a ng-if="pen.IsAlreadyRegistered === false && !pen.IsAlreadyClosed" ng-show="pen.IsOpen==false" ng-click="PPVCtrl.lihatPendaftaran(pen)" class="btn btn-sm btn-primary" role="button" title="{{'TABLE.INTERESTED'| translate}}"><i class="fa fa-check-square"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul uib-pagination boundary-links="true" total-items="PPVCtrl.total" ng-model="PPVCtrl.currentPage"
                                class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                ng-change="PPVCtrl.jLoad(PPVCtrl.currentPage)"></ul>
                            <br />
                            <label>{{'TABLE.TOTALDATA' | translate}} : {{PPVCtrl.total}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                             <div class="pull-right">
                                <a href="#/dashboard-vendor" class="btn btn-flat btn-primary"><i class="fa fa-arrow-circle-left"></i> {{'BTN_BACK' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="detail-pengumuman-pengadaan-vendor.html">
    <div class="modal-content" ng-init="detailPPVendorController.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="detailPPVendorController.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.KELUAR' | translate}}</span></button>
            <h3 class="modal-title afta-font" id="myModalLabel">{{'FORM.TENDERANNOUNCEMENTDETAIL' | translate}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-10 center-block" style="float: none!important;">
                    <dl class="dl-horizontal">
                        <dt>{{'TABLE.TENDERCODE' | translate}}</dt>
                        <dd> : &nbsp; {{detailPPVendorController.TenderCode}}</dd>
                        <dt>{{'TABLE.TENDERNAME' | translate}}</dt>
                        <dd> : &nbsp; {{detailPPVendorController.TenderName}}</dd>
                        <!--<dt>Pengumuman</dt>-->
                        <!--<dd> : &nbsp; {{detailPPVendorController.Description}}</dd>-->
                        <!--
                        <dt>Komoditas</dt>
                        <dd> : &nbsp; {{detailPPVendorController.selectedComodity.Name}}</dd>
                        <dt>Klasifikasi</dt>
                        <dd> : &nbsp; {{detailPPVendorController.selectedClasification.Value}}</dd>
                        <dt>Tehnikal</dt>
                        <dd> : &nbsp; {{detailPPVendorController.selectedTechnical.Value}}</dd>
                        <dt>Area</dt>
                        <dd>
                            : &nbsp; <span ng-if="detailPPVendorController.IsLocal === true">Lokal </span>
                            <span ng-if="detailPPVendorController.IsNational === true">, National </span>
                            <span ng-if="detailPPVendorController.IsInternational === true">, International </span>
                        </dd>
                            -->
                    </dl>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button ng-click="detailPPVendorController.batal()" type="button" class="btn btn-flat btn-primary" title="{{'BTN_BACK' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
        </div>
    </div>
</script>