﻿<style>
    .dl-horizontal dd {
        margin-left: 250px;
        padding-bottom: 5px;
    }

    .dl-horizontal dt {
        width: 250px;
    }
</style>
<section class="content" style="overflow: visible;" ng-init="ListSubNego.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate }}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{ListSubNego.TenderRefID}}/{{ListSubNego.ProcPackType}}/{{ListSubNego.nego[0].TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
        <li>
            <a href="#/tender/negosiasi/{{ListSubNego.TenderRefID}}/{{ListSubNego.nego[0].TenderStepDataID}}/{{ListSubNego.ProcPackType}}" class="active">
                {{'BREADCRUMB.NEGO' | translate }}
            </a>
        </li>
        <li>
            <a href="#/tender/negosiasi-chat/{{ListSubNego.nego[0].NegoId}}/{{ListSubNego.nego[0].TenderStepDataID}}/{{ListSubNego.VendorID}}" class="active">
                {{'BREADCRUMB.FORUM_NEGOSIASI' | translate }}
            </a>
        <li>
        <a class="active">{{'BREADCRUMB.DETAIL_PENAWARAN' | translate}}</a></li>
    </ol>
    <div class="container-fluid">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box box-info">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.DETAIL_PENAWARAN' | translate}}</h3>
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.PENGADAAN' | translate}}: {{ListSubNego.nego[0].TenderName}}</h3>
                            <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.REKANAN' | translate}}: {{ListSubNego.nego[0].VendorName}}</h3>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="table table-responsive">
                            <table id="tabelListSubPekerjaan" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="vertical-align: middle;" width="20px">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate}} </th>
                                        <th class="text-center" style="vertical-align: middle;">{{'TABLE.GOODS_OFFERDETAIL.SUB_CONTRACT' | translate}} </th>
                                        <th class="text-center" style="vertical-align: middle; width: 100px; min-width: 100px;">{{'TABLE.GOODS_OFFERDETAIL.ACTION' | translate}}</th>
                                        <th class="text-center" style="vertical-align: middle; width: 140px; min-width: 140px;">HPS</th>
                                        <th class="text-center" style="vertical-align: middle; width: 140px; min-width: 140px;">{{'TABLE.GOODS_OFFERDETAIL.VENDOR_PRICE' | translate}}</th>
                                        <th class="text-center" style="vertical-align: middle; width: 140px; min-width: 140px;">{{'TABLE.GOODS_OFFERDETAIL.NEGO_PRICE' | translate}}</th>
                                        <th class="text-center" style="vertical-align: middle; width: 140px; min-width: 140px;">HPS (Rev)</th>
                                        <th class="text-center" style="vertical-align: middle; width: 100px; min-width: 100px;">Nego/HPS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sp in ListSubNego.nego">
                                        <td style="vertical-align: middle;">{{$index+1}}</td>
                                        <td style="vertical-align: middle;">{{sp.Name}}</td>
                                        <td class="text-center" style="vertical-align: middle;">
                                            <a class="btn btn-xs btn-flat btn-primary" ng-click="ListSubNego.detail(sp)"><i class="fa fa-edit"></i>&nbsp;{{'TABLE.GOODS_OFFERDETAIL.DETAIL_CONTRACT' | translate}}</a>
                                        </td>
                                        <td class="text-right" style="vertical-align: middle;">{{sp.Curr}} {{sp.TotalLineCost | currency: ""}}</td>
                                        <td class="text-right" style="vertical-align: middle;">{{sp.Curr}} {{sp.OfferTotalCost | currency: ""}}</td>
                                        <td class="text-right" style="vertical-align: middle;">{{sp.Curr}} {{sp.NegoTotalCost | currency: ""}}</td>
                                        <td class="text-right" style="vertical-align: middle;">{{sp.Curr}} {{sp.TotalLineRevCost | currency: ""}}</td>
                                        <td class="text-right" style="vertical-align: middle;">{{sp.TotalLineCost > 0 ? (sp.NegoTotalCost * 100 / sp.TotalLineCost).toFixed(2) : 0}} %</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="text-right middle-vertical"><strong>{{'TABLE.GOODS_OFFERDETAIL.SUB_TOTAL' | translate}} : </strong></td>
                                        <td class="text-right middle-vertical"><strong>{{ListSubNego.nego[0].Curr}} {{ListSubNego.cosEstimate | currency: ""}} </strong></td>
                                        <td class="text-right middle-vertical"><strong>{{ListSubNego.nego[0].Curr}} {{ListSubNego.cost | currency: ""}} </strong></td>
                                        <td class="text-right middle-vertical"><strong>{{ListSubNego.nego[0].Curr}} {{ListSubNego.totalNego| currency: ""}} </strong></td>
                                        <td class="text-right middle-vertical"><strong>{{ListSubNego.nego[0].Curr}} {{ListSubNego.cosEstimateRev | currency: ""}} </strong></td>
                                        <td class="text-right middle-vertical"><strong>{{ListSubNego.cosEstimate > 0 ? (ListSubNego.totalNego * 100 / ListSubNego.cosEstimate).toFixed(2) : 0}} %</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12" style="padding-top: 15px; padding-bottom: 15px;">
                                    {{'TABLE.GOODS_OFFERDETAIL.SELISIH' | translate}} = <span>{{ListSubNego.total}} %</span>
                                </div>
                                <div class="col-md-12" ng-if="ListSubNego.isAllowedEdit == true && ListSubNego.nego[0].IsNego !== true && ListSubNego.nego[0].IsActive === true && ListSubNego.overtime === true">
                                    <dl class="dl-horizontal" style="margin-bottom: 0px;">
                                        <dt class="text-right"><input type="checkbox" ng-model="ListSubNego.Generate" ng-click="ListSubNego.generate()" /> {{'TABLE.GOODS_OFFERDETAIL.GENERATE_NEGOSIASI' | translate}} </dt>
                                        <dd>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="pull-right text-right" style="padding-top: 15px;">
                                    <a class="btn btn-sm btn-flat btn-default" ng-click="ListSubNego.back()" title="{{'BTN.BACK' | translate}}"><i class="fa fa-reply"></i>&nbsp;</a>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>