﻿<div id="tambahKriteria" class="modal-content" ng-init="editQtyCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="editQtyCtrl.batal()" title="Keluar"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.DETAIL_PENAWARAN' | translate}}</h3>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.PENGADAAN' | translate}}: {{editQtyCtrl.detail.TenderName}}</h3>
        <h3 class="afta-font text-center" style="margin-top: 0px; margin-bottom: 15px;">{{'BREADCRUMB.REKANAN' | translate}}: {{editQtyCtrl.detail.VendorName}}</h3>
    </div>
    <form role="form" name="formAdd">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center center-vertical" colspan="4"></th>
                                    <th class="text-center center-vertical" colspan="2">HPS</th>
                                    <th class="text-center center-vertical" colspan="2">{{'TABLE.GOODS_OFFERDETAIL.REKANAN' | translate }}</th>
                                    <th class="text-center center-vertical" colspan="3">{{'TABLE.GOODS_OFFERDETAIL.HASIL_NEGO' | translate }}</th>
                                </tr>
                                <tr>
                                    <th class="text-center center-vertical" width="20px">{{'TABLE.GOODS_OFFERDETAIL.NO' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.DESC_JOB' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.VOLUME' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical" style="min-width:100px;">{{'TABLE.GOODS_OFFERDETAIL.VOLUME' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.UNIT_PRICE' | translate }}</th>
                                    <th class="text-center center-vertical">{{'TABLE.GOODS_OFFERDETAIL.TOTAL_PRICE' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="det in editQtyCtrl.ceLineOffers">
                                    <td class="middle-vertical">{{$index+1}}</td>
                                    <td class="middle-vertical">
                                        {{det.Name}}
                                    </td>
                                    <td class="text-center center-vertical">
                                        {{det.Quantity}}
                                    </td>
                                    <td class="text-center center-vertical">
                                        {{det.OrderUnit}}
                                    </td>
                                    <td class="text-right middle-vertical">
                                        {{det.Curr}} {{det.UnitCost | currency: ""+ labelcurr +" "}}
                                    </td>
                                    <td class="text-right middle-vertical">
                                        {{det.Curr}} {{det.LineCost | currency: ""+ labelcurr +" "}}
                                    </td>
                                    <td class="text-right middle-vertical">{{det.Curr}} {{det.UnitOfferCost | currency: ""+ labelcurr +" "}}</td>
                                    <td class="text-right middle-vertical">{{det.Curr}} {{det.LineOfferCost | currency: ""+ labelcurr +" "}}</td>
                                    <td class="text-center center-vertical">
                                        <input min="0" type="number" ng-model="det.QuantityNego" class="form-control">
                                    </td>
                                    <td class="text-right middle-vertical">{{det.Curr}} {{det.UnitNegoCost | currency: ""+ labelcurr +" "}}</td>
                                    <td class="text-right middle-vertical">{{det.Curr}} {{det.LineNegoCost | currency: ""+ labelcurr +" "}}</td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>Total : </strong></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>{{editQtyCtrl.ceLineOffers[0].Curr}} {{editQtyCtrl.ceSubTotalCost | currency: ""+ labelcurr +" "}}</strong></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>{{editQtyCtrl.ceLineOffers[0].Curr}} {{editQtyCtrl.offerTotalCost | currency: ""+ labelcurr +" "}}</strong></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right middle-vertical"><strong>{{editQtyCtrl.ceLineOffers[0].Curr}} {{editQtyCtrl.negoTotalCost | currency: ""+ labelcurr +" "}}</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right text-right" style="padding-top: 15px;">
                        <a class="btn btn-sm btn-flat btn-default" ng-click="editQtyCtrl.batal()"><i class="fa fa-reply"></i> {{'BTN.BACK' | translate}} &nbsp;</a>
                        &nbsp;
                        <span>
                            <button ng-click="editQtyCtrl.save()" class="btn btn-sm btn-flat btn-primary"><i class="fa fa-save"></i> {{'BTN.SAVE' | translate}}&nbsp;</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>