<div class="modal-content" ng-init="detAppGOEDDCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="detAppGOEDDCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.EXIT' | translate}}</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'APPROVAL_DELIVERY_DATE' | translate}} </h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="table table-responsive">
                            <label class="control-label">{{'TABLE.REKANAN'|translate}} : {{detAppGOEDDCtrl.vendorName}}</label>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO' | translate}}</th>
                                        <th class="text-center">{{'TABLE.NAMA' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TGL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KET' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="detAppGOEDDCtrl.approval">
                                        <td class="text-center">1</td>
                                        <td class="text-center">{{detAppGOEDDCtrl.approval.ApproverEmployeeName}}</td>
                                        <td>{{detAppGOEDDCtrl.approval.ApproverPositionName}}</td>
                                        <td class="text-center">{{detAppGOEDDCtrl.approval.ApprovalDate| date: "dd/MM/yyyy"}}</td>
                                        <td ng-if="detAppGOEDDCtrl.approval.ApprovalStatus === null" class="text-center" ></td>
                                        <td ng-if="detAppGOEDDCtrl.approval.ApprovalStatus === true" class="text-center" >{{'APPROVE' | translate}}</td>
                                        <td ng-if="detAppGOEDDCtrl.approval.ApprovalStatus === false" class="text-center" >{{'REJECT' | translate}}</td>
                                        <td>{{detAppGOEDDCtrl.approval.Remark}}</td>
                                    </tr>
                                    <tr ng-if="!detAppGOEDDCtrl.approval">
                                        <td colspan="6">{{'STATUS.NOT_SENT' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button ng-if="detAppGOEDDCtrl.allowSendApprove === true && detAppGOEDDCtrl.isAllowedEdit === true" class="btn btn-flat btn-success" ng-click="detAppGOEDDCtrl.sendApproval()"><i class="fa fa-send"></i>&nbsp;{{'KIRIM_APPROVAL' | translate}}</button>
            <button class="btn btn-flat btn-primary" ng-click="detAppGOEDDCtrl.cancel()"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</div>