﻿<section class="content" ng-init="evaluasiPenawaranBarangPrintController.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/home">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{evaluasiPenawaranBarangPrintController.tenderStepData.step.TenderStepName |translate}}</a></li>
    </ol>
    <div id="divEvaluasiHarga" class="container-fluid">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">

                <div class="box box-info">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" title="{{'PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="evaluasiPenawaranBarangPrintController.cetak()">
                                    <i class='fa fa-print'></i>&nbsp;
                                </button>
                            </div>
                        </div>
                        <div id="print">
                            <div class="row" id="divInfo">
                                <div class="col-md-12" style="padding-bottom: 5px;">
                                    <h3 class="afta-font text-center" style="margin-top: 5px!important;">
                                        {{evaluasiPenawaranBarangPrintController.tenderStepData.step.TenderStepName |translate}}
                                    </h3>
                                    <label class="margin-atas">Nama Tender : {{evaluasiPenawaranBarangPrintController.tenderStepData.tender.TenderName |translate}}</label><br />
                                    <label class="text-red" ng-if="evaluasiPenawaranBarangPrintController.tenderStepData.tender.IsCancelled"><i>({{'KET_BATAL'|translate}})</i></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="time pull-left" style="color: black;">{{'TGL_MULAI'|translate}} : {{evaluasiPenawaranBarangPrintController.tenderStepData.StartDate | date : "dd/MM/yyyy"}}</label>
                                </div>
                                <div class="col-md-6">
                                    <label class="time pull-right" style="color: black;">{{'TGL_SELESAI'|translate}} : {{evaluasiPenawaranBarangPrintController.tenderStepData.EndDate | date : "dd/MM/yyyy"}}</label>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 10px!important;">
                                <div class="col-md-12">
                                    <div class="table table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="center-vertical" width="20px" style="border:1px solid black;">{{'TABLE.NO'|translate}}</th>
                                                    <th class="center-vertical" style="border:1px solid black;">{{'TABLE.REKANAN'|translate}}</th>
                                                    <th class="center-vertical" style="width: 85px;border:1px solid black;">{{'TABLE.SKOR'|translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="pe in evaluasiPenawaranBarangPrintController.evaluasi.GoodsOfferEvaluationVendors">
                                                    <td class="center-vertical" style="border:1px solid black;">{{$index + 1}}</td>
                                                    <td class="middle-vertical" style="border:1px solid black;">{{pe.VendorName}}</td>
                                                    <td class="center-vertical" style="border:1px solid black;">{{pe.Score}}</td>
                                                </tr>
                                                <tr ng-if="evaluasiPenawaranBarangPrintController.noEvaluation" style="border:1px solid black;"><td colspan="3">{{'BELUM_ADA_EVALUASI'|translate}}</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br />
                            <hr />
                            <div class="col-md-12">
                                <div class="text-right">
                                    <a href="#/data-pengadaan/tahapan/{{evaluasiPenawaranBarangPrintController.tenderRefID}}/{{evaluasiPenawaranBarangPrintController.procPackType}}/{{evaluasiPenawaranBarangPrintController.tenderID}}" class="btn btn-sm btn-flat btn-primary" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>