﻿<div class="container-fluid" ng-init="BusinessFieldPrequalCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA' | translate}}</a></li>
        <li><a class="active">{{'BUSINESS_FIELD' | translate}}</a></li>
    </ol>
    <div class="row" style="padding-top: 30px!important;">
        <div class="container-fluid">
            <div class="col-md-10" style="float: none!important;">
                <h3 class="text-center afta-font">{{'BUSINESS_FIELD_PRAKUAL' | translate}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11">
            <div class="row blok" style="padding-top: 20px!important;">
                <!-- right column -->
                    <div class="row center-block">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{'BUSINESS_FIELD' | translate}} </label>
                                <select required class="form-control"
                                        ng-model="BusinessFieldPrequalCtrl.selectedBusinessField"
                                        ng-disabled="!BusinessFieldPrequalCtrl.listBusinessField || BusinessFieldPrequalCtrl.isEntry === false"
                                        ng-options="item as item.Name  for item  in BusinessFieldPrequalCtrl.listBusinessField"
                                        ng-change="BusinessFieldPrequalCtrl.changeBussinesField()">
                                    <option value="" selected disabled>--- {{'BUSINESS_FIELD' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3" ng-if="BusinessFieldPrequalCtrl.selectedBusinessField.Name !== 'Lain - lain'">
                            <div class="form-group">
                                <label>{{'COMODITY' | translate}}</label>
                                <select required class="form-control" ng-model="BusinessFieldPrequalCtrl.selectedComodity" ng-disabled="!BusinessFieldPrequalCtrl.listComodity || BusinessFieldPrequalCtrl.isEntry === false"
                                        ng-options="item as item.Name for item in BusinessFieldPrequalCtrl.listComodity">
                                    <option value="" selected disabled>--- {{'COMODITY' | translate}} ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 margintop25" ng-if="BusinessFieldPrequalCtrl.selectedBusinessField.Name == 'Lain - lain'">
                            <div class="form-group">
                                <input ng-disabled="BusinessFieldPrequalCtrl.isEntry === false" class="form-control" ng-model="BusinessFieldPrequalCtrl.RemarkBusinessField" placeholder="Masukkan Alternatif Bidang Usaha" />
                            </div>
                        </div>
                        <div class="col-md-6 margintop25">
                            <button ng-disabled="BusinessFieldPrequalCtrl.isEntry === false" class="btn btn-sm btn-primary" ng-click="BusinessFieldPrequalCtrl.addDetailBussinesField()">
                                <i class="fa fa-plus-circle"></i> {{'BTN.TAMBAH' | translate}}
                            </button>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No</th>
                                                <th class="text-center">{{'BUSINESS_FIELD' | translate}}</th>
                                                <th class="text-center">{{'COMODITY' | translate}}</th>
                                                <th width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="det in BusinessFieldPrequalCtrl.listBussinesDetailField">
                                                <td>{{$index+1}}</td>
                                                <td ng-if="det.BusinessField.Name != 'Lain - lain'">{{det.BusinessField.Name }}</td>
                                                <td ng-if="det.BusinessField.Name == 'Lain - lain'">{{det.BusinessField.Name }} ( {{det.Remark}} )</td>
                                                <td>{{det.Commodity.Name }}</td>
                                                <td>
                                                    <button ng-disabled="BusinessFieldPrequalCtrl.isEntry === false" class="btn btn-xs btn-danger" ng-click="BusinessFieldPrequalCtrl.deleteLicense(det)" title="{{'DELETE' | translate}}">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="row" style="padding-top: 30px!important;">
                <div class="col-md-10 col-sm-12 center-block" style="float: none!important;">
                    <div class="center-block text-center">
                        <a href="#/prakualifikasi/pemasukkan-prakualifikasi-vendor/{{BusinessFieldPrequalCtrl.PrequalStepID}}" class="btn btn-primary" title="{{'BACK' | translate}}">
                            <i class="fa fa-arrow-circle-left"></i>
                        </a>
                        <a ng-if="BusinessFieldPrequalCtrl.isEntry === true" title="Submit" class="btn btn-success" ng-click="BusinessFieldPrequalCtrl.Submit()">
                            <i class="fa fa-check"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
