<section class="content" ng-init="ppCECtrl.init()" style="overflow: visible!important;">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li><a class="active">{{'BREADCRUMB.PAKET_PENGADAAN'|translate}}</a></li>
    </ol>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
            <div class="box box-success">                
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'PAKET_PENGADAAN'|translate}}</h3>
                        </div>
                    </div>                    
                    <!--button Tambah PR-->
                    <div class="row" style="margin-bottom: 2px;">
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label col-lg-1">Filter &nbsp; </label>
                                <div class="col-md-4"> 
                                    <select class="form-control input-sm" ng-change="ppCECtrl.onFilterTypeChange(column)" ng-model="column">
                                        <option value="1" ng-selected="true">{{'FILTER.NOMOR_TENDER' | translate}}</option>
                                        <option value="2">{{'FILTER.RFQ' | translate}}</option>
                                        <option value="3">{{'KONTRAK' | translate}}</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <form ng-submit="ppCECtrl.onSearchClick(keyword)">
                                        <input type="text" placeholder="{{'Masukkan kata kunci'|translate}}" class="form-control input-sm" ng-model="keyword" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" width="10">{{'TABLE.NO'|translate}}</th>
                                            <th class="center-vertical" width="80">{{'TABLE.NOMOR_TENDER'|translate}}</th>
                                            <th class="center-vertical" >{{'TABLE.RFQ'|translate}}</th>
                                            <th class="center-vertical" width="80">{{'TABLE.CSMS'|translate}}</th>
                                            <th class="center-vertical" width="80">{{'TABLE.TANGGAL_PUBLISH'|translate}}</th>
                                            <th class="center-vertical" width="100">{{'TABLE.JENIS_TENDER'|translate}}</th>
                                            <th class="center-vertical" width="80">{{'TABLE.STATUS'|translate}}</th>
                                            <th class="center-vertical" >{{'KONTRAK'|translate}}</th>
                                            <th class="center-vertical" width="150">Action</th>
                                        </tr>
                                    </thead> 
                                    <tbody>
                                        <tr ng-if="ppCECtrl.totalItems === 0">
                                            <td colspan="9">{{'TIDAK_ADA_DATA' | translate}}</td>
                                        </tr>	
                                        <tr ng-repeat="dt in ppCECtrl.contractRequisition">
                                            <td class="text-center" style="vertical-align: middle;">{{$index + 1 + (ppCECtrl.pageSize * (ppCECtrl.currentPage - 1))}}</td>
                                            <td style="vertical-align: middle;">{{dt.TenderCode}}</td>
                                            <td style="vertical-align: middle;">{{dt.ProjectTitle}}</td>
                                            <td style="vertical-align: middle;">{{dt.IsCSMS === true ? 'CSMS' : (dt.IsCSMS === false ? 'Non CSMS' : '')}}</td>
                                            <td class="text-center" style="vertical-align: middle;">{{dt.PublishedDateConverted}}</td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <span ng-if="dt.TenderTypeName">{{('TENDER_TYPE.' + dt.TenderTypeName) | translate}}</span>
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">
                                                <span ng-if="!dt.VariationIsCancelled">
                                                    <span ng-if="dt.IsPublished">
                                                        {{'STATUS.PUBLISHED' | translate}}
                                                    </span>
                                                    <span ng-if="!dt.IsPublished">
                                                        {{(dt.IsOERevision === true ? "STATUS.REVISI_OE" : "STATUS.UNPUBLISHED") | translate}}
                                                    </span>
                                                </span>
                                                <span ng-if="dt.VariationIsCancelled">{{'STATUS.CANCELLED' | translate}}</span>
                                            </td>
                                            <td>
                                                {{dt.VariationOfContractNo}} - {{dt.VariationOfContractWinner}}
                                            </td>
                                            <td class="text-center" style="vertical-align: middle;">       
                                                <a class="btn btn-flat btn-xs btn-primary" ng-click="ppCECtrl.detail(dt)" title="Detail"><i class='fa fa-external-link'></i></a>
                                                <a class="btn btn-flat btn-xs btn-warning" ng-click="ppCECtrl.dokumen(dt)" title="{{'DOKUMEN'|translate}}"><i class="fa fa-file-o"></i></a>
                                                <a ng-if="!dt.IsPublished && !dt.IsOERevision" class="btn btn-flat btn-xs btn-warning" ng-click="ppCECtrl.revisiOE(dt)" title="{{'REVISI_OE' | translate}}"><i class="fa fa-edit"></i></a>
                                                <a ng-if="dt.CanReTender" class="btn btn-flat btn-xs btn-success" ng-click="ppCECtrl.retender(dt)" title="Re-Tender"><i class="fa fa-reply"></i></a>
                                                <a ng-if="(dt.CanReTender || !dt.IsPublished) && dt.VariationOfContractNo && !dt.VariationIsCancelled" class="btn btn-flat btn-xs btn-danger" ng-click="ppCECtrl.cancelVariation(dt)" title="Cancel"><i class="fa fa-ban"></i></a>
                                                <a ng-if="dt.HasReTenderVendor" class="btn btn-flat btn-xs btn-primary" ng-click="ppCECtrl.lihatVendor(dt)" title="Vendor Re-tender"><i class="fa fa-list"></i></a>
                                                <!--<a class="btn btn-flat btn-xs btn-info" ng-click="aturPaket(8)" title="Edit"><i class="fa fa-link"></i>&nbsp;</a>-->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sd-4 col-md-10" >
                                        <ul uib-pagination total-items="ppCECtrl.totalItems" max-size="10"
                                            ng-model="ppCECtrl.currentPage" items-per-page="ppCECtrl.pageSize"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="ppCECtrl.loadContracts()"></ul>
                                        <br/><label>{{'TOTAL_DATA'|translate}} : {{ppCECtrl.totalItems}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>