<div class="modal-content" ng-init="rePVCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close"  ng-click="rePVCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'VENDOR_PESERTA_RETENDER'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div >
            <div class="row">
                <div class="col-md-12" >
                    <div class="form-group">
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">{{'TABLE.NO'|translate}}</th>
                                        <th class="text-center">{{'TABLE.VENDOR'|translate}}</th>
                                        <th class="text-center">{{'TABLE.REGISTERED'|translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in rePVCtrl.retenderVendors">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td>{{dt.VendorName}}</td>
                                        <td class="text-center">
                                            <input ng-if="rePVCtrl.editable" type="checkbox" ng-model="dt.IsRegistered"/>
                                            <span ng-if="!rePVCtrl.editable"><i class="fa fa-check-circle" ng-if="dt.IsRegistered"></i></span>
                                        </td>
                                        <td>
                                            <input class="input-sm form-control" ng-if="rePVCtrl.editable" type="text" ng-model="dt.Remark" />
                                            <span ng-if="!rePVCtrl.editable">{{dt.Remark}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button ng-if="rePVCtrl.editable" class="btn btn-sm btn-success" ng-click="rePVCtrl.save()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i></button>
            <button class="btn btn-sm btn-default" ng-click="rePVCtrl.cancel()" title="{{'TUTUP'|translate}}"><i class="fa fa-arrow-left"></i></button>
        </div>
    </div>
</div>