﻿<div class="modal-content" ng-init="uploadModalCtrl.init()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="uploadModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
            <h3 class="modal-title afta-font">{{uploadModalCtrl.action | translate}}{{'FORM.MODALTITLE' | translate}} </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-if="uploadModalCtrl.isForStructure==0">
                        <label>{{'FORM.DOCUMENTNAME' | translate}} *</label>
                        <input type="text" class="form-control" placeholder="{{'FORM.DOCUMENTNAME' | translate}}" ng-model="uploadModalCtrl.Nama">
                    </div>
                    <div class="form-group" ng-if="uploadModalCtrl.isForStructure==1">
                        <label>{{'FORM.DOCUMENTNAME' | translate}} *</label>
                        <input type="text" class="form-control" placeholder="{{'FORM.DOCUMENTNAME' | translate}}" ng-model="uploadModalCtrl.Nama" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'FORM.DOCNO' | translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'FORM.DOCNO' | translate}}" ng-model="uploadModalCtrl.No">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'FORM.EXPIREDDATE' | translate}}</label>
                        <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
                            <input readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                   is-open="uploadModalCtrl.isCalendarOpened[0]" ng-model="uploadModalCtrl.tgl.StartDate" ng-click="uploadModalCtrl.openCalendar(0)"/>
                            <span class="input-group-addon" ng-click="uploadModalCtrl.openCalendar(0)"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </div>
                
                
                        
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Upload File
                            <small> ( <span ng-repeat="ft in uploadModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{uploadModalCtrl.idUploadConfigs[0].Size}} {{uploadModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                        </label>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="file" class="form-control" ng-file-select="uploadModalCtrl.selectUpload()"
                                       ng-model="uploadModalCtrl.fileUpload" name="ownerIDFile" required accept="{{uploadModalCtrl.idFileTypes}}" />
                            </div>
                            <div class="col-md-1" ng-if="uploadModalCtrl.fileUpload!=null||uploadModalCtrl.fileUpload!=''">
                                <a href="{{uploadModalCtrl.folderFile + uploadModalCtrl.DocUrl}}" target="BLANK" class="btn btn-sm btn-primary" title="Download"><i class="fa fa-download"></i>&nbsp;&nbsp;</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-flat btn-danger" ng-click="uploadModalCtrl.batal()" title="{{'Batal' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
            <button type="button" class="btn btn-flat btn-success" ng-click="uploadModalCtrl.simpan()" title="{{'Simpan' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
        </div>
    </div>