﻿<div class="modal-content" ng-init="detAnnCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="detAnnCtrl.cancel()">
			<span aria-hidden="true">&times;</span><span class="sr-only">{{'BTN.CLOSE'|translate}}</span>
		</button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'ANNOUNCEMENT_PUBLISH_APPRV'|translate}}</h3>
	</div>
	<div class="modal-body">
		<div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">{{'TABLE.DETAIL_APPROVAL'|translate}} : </label>
						<div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <!--<th class="text-center">{{'TABLE.NO' | translate}}</th>-->
                                        <th class="text-center">{{'TABLE.APPROVAL' | translate}}</th>
                                        <th class="text-center">{{'TABLE.JABATAN' | translate}}</th>
                                        <th class="text-center">{{'TABLE.TANGGAL_APPROVE' | translate}}</th>
                                        <th class="text-center">{{'TABLE.STATUS' | translate}}</th>
                                        <th class="text-center">{{'TABLE.KETERANGAN' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dt in detAnnCtrl.list">
                                        <!--<td class="text-center">{{$index + 1}}</td>-->
                                        <td>{{dt.ApprovedByEmployeeName ? dt.ApprovedByEmployeeName : dt.ApproverEmployeeName}}</td>
                                        <td>{{dt.ApproverPositionName}}</td>
                                        <td class="text-center">{{dt.ApprovalDate| date: "dd/MM/yyyy"}}</td>
                                        <td ng-if="dt.ApprovalStatus === null" class="text-center"></td>
                                        <td ng-if="dt.ApprovalStatus === true" class="text-center">Approve</td>
                                        <td ng-if="dt.ApprovalStatus === false" class="text-center">Reject</td>
                                        <td>{{dt.Remark}}</td>
                                    </tr>
                                    <tr ng-if="detAnnCtrl.list.length === 0">
                                        <td colspan="5">{{'TIDAK_ADA_DATA' | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-right">
			<button class="btn btn-sm btn-default" ng-click="detAnnCtrl.cancel()" title="{{'BTN.BACK' | translate}}">
				<i class="fa fa-arrow-left"></i>
			</button>
		</div>
	</div>
</div>