﻿<div class="modal-content" ng-init="pengumumanPengadaanCtrl.init()">
	<div class="modal-body">
		<button class="btn btn-flat btn-default" ng-click="pengumumanPengadaanCtrl.makePDF()">
			<i class="fa fa-print"></i>
		</button>
		<div id="print1" class="print-wrap">
			<div class="col-md-12" ng-if="pengumumanPengadaanCtrl.ProcPackType == '4190'">
				<h3 class="box-title afta-font text-center">{{'ANNOUNC_TITLE'|translate}}</h3>
			</div>
			<div class="col-md-12" ng-if="pengumumanPengadaanCtrl.ProcPackType == '4190'">
				<h4 class="afta-font text-center">
					<strong>{{'FORM.ANNOUNCEMENTNAME'|translate}}</strong> ({{pengumumanPengadaanCtrl.dataTender.TenderName}})
				</h4>
			</div>
			<br />
			<br />
			<br />
			<div class="box-body">
				<div class="row" ng-if="pengumumanPengadaanCtrl.ProcPackType == '4189'">
					<div class="col-md-10 center-block" style="float: none!important;">
						<dl class="dl-horizontal">
							<dt>{{'FORM.TENDER_CODE'|translate}}</dt>
							<dd> : &nbsp; {{pengumumanPengadaanCtrl.listPengumuman[0].TenderAnnouncement.TenderStepData.tender.TenderCode}}</dd>
							<dt>{{'FORM.TENDER_NAME'|translate}}</dt>
							<dd> : &nbsp; {{pengumumanPengadaanCtrl.listPengumuman[0].TenderAnnouncement.TenderStepData.tender.TenderName}}</dd>
							<dt>{{'FORM.PENGUMUMAN'|translate}}</dt>
							<dd> : &nbsp; <p ng-bind-html="pengumumanPengadaanCtrl.listPengumuman[0].TenderAnnouncement.Description"></p></dd>
							<dt>{{'FORM.COMM'|translate}}</dt>
							<dd> : &nbsp; {{pengumumanPengadaanCtrl.selectedComodity.Name}}</dd>
							<dt>{{'FORM.KLASIFIKASI'|translate}}</dt>
							<dd> : &nbsp; {{pengumumanPengadaanCtrl.listPengumuman[0].TenderAnnouncement.SysReference.Value | translate}}</dd>
							<dt>{{'FORM.TEKNIKAL'|translate}}</dt>
							<dd> : &nbsp; {{pengumumanPengadaanCtrl.listPengumuman[0].TenderAnnouncement.Technical.Value |translate}}</dd>
							<dt>Area</dt>
							<dd>
								: &nbsp; <span ng-if="pengumumanPengadaanCtrl.listPengumuman[0].TenderAnnouncement.IsLokal === true">{{'CK_LOCAL'|translate}} </span>
								<span ng-if="pengumumanPengadaanCtrl.listPengumuman[0].TenderAnnouncement.IsNational === true">, {{'CK_NATIONAL'|translate}} </span>
								<span ng-if="pengumumanPengadaanCtrl.listPengumuman[0].TenderAnnouncement.IsInternational === true">, {{'CK_INTERNATIONAL'|translate}} </span>
							</dd>
							<dt>Email Vendor</dt>
							<dd> : &nbsp; {{formPPCtrl.EmailsView}}</dd>
						</dl>
					</div>
					<div class="col-md-10 center-block" style="float: none!important;">
						<div class="table table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="center-vertical" width="5%">{{'TABLE_VENDOR.NO' | translate}}</th>
										<th class="center-vertical" width="25%">{{'TABLE_VENDOR.NAMEV' | translate}}</th>
										<th class="center-vertical">Email</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="dt in pengumumanPengadaanCtrl.listPengumuman[0].DetailVendorComm">
										<td class="center-vertical">{{$index + 1}}</td>
										<td style="vertical-align: middle;">{{dt.Name}}</td>
										<td style="vertical-align: middle;">{{dt.Email}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row" ng-if="pengumumanPengadaanCtrl.ProcPackType == '4190'">
					<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.QUOTATIONNO' | translate}}</label><br />
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.goods[0].goods.QuotationNo" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.QUOTATIONVALIDITY' | translate}}</label><br />
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.goods[0].goods.StartDate" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.PAYMENTTERM' | translate}}</label>
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.selectedPaymentTerm.Name" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.DELIVERYTERMS' | translate}}</label><br />
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.selectedDeliveryTender.Name" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.INCOTERMS' | translate}}</label><br />
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.IncoTermsName" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.DELIVERYPOINT' | translate}}</label><br />
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.DeliveryStateName" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.TENDERTYPE' | translate}}</label>
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.selectedTypeTender.Name" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.TENDEROPTIONS' | translate}}</label>
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.selectedOptionsTender.Name" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.CURRENCY' | translate}}</label><br />
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.selectedCurrencies.Symbol" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">{{'FORM.SUBMISSIONLIMIT' | translate}}</label><br />
									<input type="text" class="form-control" style="background-color:white;" readonly="readonly" ng-model="pengumumanPengadaanCtrl.goods[0].goods.MaxOE" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h4>{{'DOK_INFORMASI_TENDER' | translate}}</h4>
								<div class="form-group">
									<div class="table table-responsive">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th width="10%">No.</th>
													<th>{{'FORM.DOCUMENT_NAME' | translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="mt in pengumumanPengadaanCtrl.listDoc">
													<td class="text-center">{{$index + 1}}</td>
													<td class="text-left">{{mt.DocName}}</td>
												</tr>
												<tr ng-if="pengumumanPengadaanCtrl.listDoc.length===0">
													<td colspan="2">{{"TABLE.NODATA" | translate}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table table-responsive" ng-if="pengumumanPengadaanCtrl.ProcPackType == '4190'">
					<table class="table table-bordered table-striped" id="table-rekanan">
						<thead>
							<tr>
								<th class="text-center">{{'TABLE.NO' | translate}}</th>
								<th class="text-center">{{'TABLE.ITEMDESCRIPTION' | translate}}</th>
								<th class="text-center" ng-if="pengumumanPengadaanCtrl.TenderType === 4171">{{'TABLE.ALTERNATIVE' | translate}}</th>
								<th class="text-center">{{'TABLE.LEADTIME'|translate}}(Days)</th>
								<th class="text-center">{{'TABLE.QTY'|translate}}</th>
								<th class="text-center">{{'TABLE.UNIT'|translate}}</th>
								<th class="text-center">{{'TABLE.PRICEUNIT'|translate}}</th>
								<th class="text-center">{{'TABLE.TOTALPRICE'|translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="gods in pengumumanPengadaanCtrl.goods">
								<td class="center-vertical">{{pengumumanPengadaanCtrl.currentPage > 1 ? (10 * (pengumumanPengadaanCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
								<td style="vertical-align: middle;">{{gods.item.ShortText}} {{gods.item.ItemText}} {{gods.item.MaterialPOText}} {{gods.item.HeaderNote}} {{gods.item.ItemNote}} {{gods.item.DeliveryText}} {{gods.item.NoteForBuyer}} {{gods.item.Manufacturer1}} {{gods.item.Manufacturer2}} {{gods.item.MPNMaterial}}</td>
								<td class="center-vertical" ng-if="pengumumanPengadaanCtrl.TenderType === 4171"><input type="text" ng-model="gods.Alternative" style="width: 160px;" disabled /></td>
								<td class="center-vertical"><input class="form-control input-sm" disabled currency-mask type="text" ng-model="gods.LeadTime" style="width: 80px;" /></td>
								<td class="center-vertical" style="width: 30px;">{{gods.item.Quantity}}</td>
								<td class="center-vertical" style="width: 30px;">{{gods.item.UnitMeasure}}</td>
								<td class="center-vertical"><input currency-mask type="text" disabled class="form-control input-sm" ng-model="gods.UnitPrice" style="width: 100px;" ng-blur="pengumumanPengadaanCtrl.changePrice(gods)" /></td>
								<td class="center-vertical"><input currency-mask disabled type="text" class="form-control input-sm" ng-model="gods.TotalPrice" style="text-align: right; width: 100px;" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-click="pengumumanPengadaanCtrl.backDetailTahapanPrint()" class="btn btn-flat btn-primary" title="{{'BTN.BACK'|translate}}">
			<i class="fa fa-reply"></i>
		</button>
	</div>
</div>