﻿<div ng-init="DataVendorCtrl.initComm()" class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="DataVendorCtrl.batal()" title="{{'BTN.CLOSE' | translate}}">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only"></span>
		</button>
		<h3 class="modal-title afta-font" id="myModalLabel">{{'FORMINPUTRFQ.SELECTED_VENDOR' | translate}}</h3>
	</div>
	<div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-sm btn-flat btn-success" ng-click="DataVendorCtrl.save()" title="{{'BTN.SAVE'|translate}}">
                    <i class="fa fa-save"></i>&nbsp; {{'BTN.SAVE'|translate}}
                </a>
            </div>
            <div class="col-md-6">
                <form ng-submit="DataVendorCtrl.jloadvendor(1, DataVendorCtrl.getData)">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{'FORM.SEARCH_VENDOR_NAME'|translate}}" ng-model="DataVendorCtrl.keyword" />
                        <span class="input-group-btn">
                            <button ng-click="DataVendorCtrl.jloadvendor(1, DataVendorCtrl.getData)" type="button" name="search" class="btn btn-flat btn-primary" title="{{'BTN_SEARCH' | translate }}">
                                <i class="fa fa-search"></i>&nbsp;
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center" style="vertical-align:middle">{{'FORMINPUTRFQ.NO' | translate}}</th>
							<th class="text-center" style="vertical-align:middle; width:30%;">{{'FORMINPUTRFQ.VENDOR_NAME' | translate}}</th>
							<th class="text-center" style="vertical-align:middle">{{'FORMINPUTRFQ.VENDOR_EMAIL' | translate}}</th>
                            <th class="text-center" style="vertical-align:middle">Area</th>
                            <th class="text-center" style="vertical-align:middle" width="50"><input ng-model="DataVendorCtrl.IsCheckAll" ng-change="DataVendorCtrl.checkAll(DataVendorCtrl.IsCheckAll)" type="checkbox" class="form-control" /></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="vendor in DataVendorCtrl.vendors | orderBy :['-IsCheck','-IsLocal']">
							<td class="center-vertical">{{DataVendorCtrl.currentPage > 1 ? (DataVendorCtrl.maxSize * (DataVendorCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
							<td style="vertical-align: middle;">{{vendor.Name}}</td>
							<td style="vertical-align: middle;">{{vendor.Email}}</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsLocal == 1">Lokal</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsNational == 1">National</td>
                            <td style="vertical-align: middle;" ng-if="vendor.IsInternational == 1">International</td>
                            <td ng-if="vendor.flagButton === true" style="vertical-align: middle;">
                                <input ng-model="vendor.IsCheck" ng-change="DataVendorCtrl.change(vendor)" type="checkbox" class="form-control" />
                            </td>
                            <td ng-if="vendor.flagButton === false" style="vertical-align: middle;">
                                <input disabled ng-model="vendor.IsCheck" type="checkbox" class="form-control" />
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
        <div class="row">
            <div class="col-md-12">
                <!--<ul ng-if="viewVendorRFQCtrl.flag == 2" ng-class="pull-right" uib-pagination boundary-links="true" total-items="viewVendorRFQCtrl.totalItems" ng-model="viewVendorRFQCtrl.currentPage"
                    class="pagination-sm" previous-text="&lsaquo;" max-number="viewVendorRFQCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                    ng-change="viewVendorRFQCtrl.jloadvendorSave(viewVendorRFQCtrl.currentPage)" max-size="10"></ul>-->
                <br />
                <label>{{'FORM.TOTAL'|translate}} : {{DataVendorCtrl.totalItems}}</label>
                <br />
                <label>{{'FORM.TOTAL_SELECT'|translate}} : {{DataVendorCtrl.listSaveVendor.length}}</label>
                <!--<label ng-if="viewVendorRFQCtrl.flag != 2">Total data yang dipilih : {{viewVendorRFQCtrl.listSaveVendor.length}}</label>-->
            </div>
        </div>
		<div class="modal-footer">
			<button ng-if="!DataVendorCtrl.IsLocalOnly" class="btn btn-sm btn-flat btn-primary" type="button" ng-click="DataVendorCtrl.batal()" title="{{'BTN.BATAL'|translate}}">
				<i class="fa fa-arrow-circle-left"></i>&nbsp;{{'BTN.BATAL'|translate}}
			</button>
            <button ng-if="DataVendorCtrl.IsLocalOnly" class="btn btn-sm btn-flat btn-success" ng-click="DataVendorCtrl.save()" title="{{'BTN.SAVE'|translate}}">
                <i class="fa fa-save"></i>&nbsp;{{'BTN.SAVE'|translate}}
            </button>
		</div>
	</div>
</div>
