<div ng-init="UploadDokumenPrequalCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.OTHER_DOCS'|translate}}</a></li>
	</ol>
	<div class="box">
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<h3 class="afta-font text-center">{{'TITLE_DOC'|translate}}</h3>
				</div>
			</div>
			<div class="col-md-12">
				<div class="pull-right">
					<button ng-if="UploadDokumenPrequalCtrl.isEntry === true" type="button" class="btn btn-flat btn-primary" ng-click="UploadDokumenPrequalCtrl.tambah()" title="{{'BTN.INSERT'|translate}}">
						<i class='fa fa-plus-circle'></i>&nbsp;
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center">{{'TABLE.NO'|translate}}</th>
									<th class="text-center">{{'TABLE.DOC_NAME'|translate}}</th>
									<th class="text-center" style="width: 300px; min-width: 300px; vertical-align: middle;">{{'TABLE.DOC_NUMBER'|translate}}</th>
									<th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="dok in UploadDokumenPrequalCtrl.document">
									<td class="text-center">{{UploadDokumenPrequalCtrl.currentPage > 1 ? (UploadDokumenPrequalCtrl.maxSize * (UploadDokumenPrequalCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
									<td class="text-left">{{dok.DocumentName}}</td>
									<td class="text-center">{{dok.DocumentNo}}</td>
									<td class="text-center">
										<a class="btn btn-flat btn-sm btn-warning" ng-click="UploadDokumenPrequalCtrl.view(dok)" title="{{'BTN.VIEW'|translate}}"><i class="fa fa-file-o"></i></a>
										<a ng-if="UploadDokumenPrequalCtrl.isEntry === true" ng-click="UploadDokumenPrequalCtrl.edit(dok)" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.UPDATE'|translate}}"><i class="fa fa-edit"></i></a>
										<a ng-if="UploadDokumenPrequalCtrl.isEntry === true" class="btn btn-flat btn-sm btn-danger" ng-click="UploadDokumenPrequalCtrl.remove(dok)" title="{{'BTN.DELETE'|translate}}"><i class="fa fa-trash-o"></i></a>
                                    </td>
								</tr>
                                <tr ng-if="UploadDokumenPrequalCtrl.document.length===0">
                                <td colspan="5">{{'NO_DATA'|translate}}</td></tr>
							</tbody>
						</table>
						<small><b></b> </small>
						

					</div>
                    <br />
                    <span>
                        <label>{{'INFO_OTHERDOC' | translate}}</label>
                    </span>
				</div>
                
			</div>
            <br />
            <div class="row">
                <div class="center-block text-center">
                    <button ng-click="UploadDokumenPrequalCtrl.back()" type="button" class="btn btn-primary" title="{{'BTN.BACK' | translate}}">
                        <i class="fa fa-arrow-circle-left"></i>
                    </button>
                    <a ng-if="UploadDokumenPrequalCtrl.isEntry === true" title="Submit" class="btn btn-success" ng-click="UploadDokumenPrequalCtrl.Submit()">
                        <i class="fa fa-check"></i>
                    </a>
                </div>
            </div>
		</div>
	</div>
</div>
