﻿<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="viewUploadDocPrequalCtrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'FORM.DETAILTITLE' | translate}}</h3>
    </div>
    <div class="modal-body" ng-init="init()">
        <div class="row">
            <div class="col-md-10 center-block" style="float: none!important;">
                <div class="row well">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>{{'FORM.DOCUMENTNAME' | translate}}</dt>
                            <dd>{{viewUploadDocPrequalCtrl.item.DocumentName}}</dd>
                            <dt>{{'FORM.DOCNO' | translate}}</dt>
                            <dd>{{viewUploadDocPrequalCtrl.item.DocumentNo}}</dd>
                            <dt>{{'FORM.DOCUMENT' | translate}}</dt>
                            <dd><a href="{{viewUploadDocPrequalCtrl.folderFile + viewUploadDocPrequalCtrl.item.DocumentUrl}}" target="BLANK" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></dd>
                        </dl>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="viewUploadDocPrequalCtrl.close()" title="{{'FORM.CLOSE' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
    </div>
</div>