﻿<style>
    .ta-editor.form-control.myform1-height, .ta-scroll-window.form-control.myform1-height {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform1-height > .ta-bind {
        height: auto;
        min-height: 300px;
        padding: 6px 12px;
    }



    /* ====== ====== */

    .ta-editor.form-control.myform2-height, .ta-scroll-window.form-control.myform2-height {
        height: 300px;
        min-height: 300px;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }

    .form-control.myform2-height > .ta-bind {
        min-height: 300px;
        padding: 6px 12px;
    }
</style>
<div class="modal-content" ng-init="LihatKuesionerAssPrequalCtrl.init()">
    <div class="modal-body">
        <div class="row margin-atas">
            <div class="col-md-2">
                Nama Kuesioner
            </div>
            <div class="col-md-4">
                : {{LihatKuesionerAssPrequalCtrl.data.MstDDQuestionnaire.DDQuestName}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Kriteria
            </div>
            <div class="col-md-4">
                : {{LihatKuesionerAssPrequalCtrl.data.MstDDQuestionnaire.RiskCriteria.RiskName}}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="margin-atas" ng-if="LihatKuesionerAssPrequalCtrl.data.MstDDQuestionnaire.IsUseTableLayout==false" ng-repeat="data in LihatKuesionerAssPrequalCtrl.data.MstDDQuestionnaire.DDQuestion">
                <div ng-if="data.QuestionAnswerType.IsHasAnswer==true">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1" style="width:15px!important;">
                                {{data.NumberInQuest}}.
                            </div>
                            <div class="col-md-10">
                                <span ng-bind-html="data.Question"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1" style="width:15px!important;">&nbsp;</div>
                            <div class="col-md-10">
                                <label ng-if="data.QuestionAnswerType.AnswerTypeName=='Option'" ng-repeat="questDetail in data.DDQuestionDetail" class="radio-inline">
                                    <input type="radio" disabled name="optradio" value="{{questDetail.ID}}" ng-model="questDetail.VendorComplianceQuestionnaire[0].Answer"><span ng-bind-html="questDetail.QuestionDetail"></span>&nbsp;&nbsp;&nbsp;
                                </label>
                                <table class="table table-bordered" ng-if="data.QuestionAnswerType.AnswerTypeName=='Table'">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="questDetail in data.DDQuestionDetail">
                                                <span ng-bind-html="questDetail.QuestionDetail"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rows in data.ArrayRow">
                                            <td ng-repeat="staticColumn in data.DDQuestionDetail">{{staticColumn.VendorComplianceQuestionnaire[rows-1].Answer}}&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p ng-if="data.QuestionAnswerType.AnswerTypeName=='Text' && data.DDQuestionDetail[0].QuestionDetail!=''" ng-bind-html="data.DDQuestionDetail[0].QuestionDetail"></p>
                                <textarea rows="5" class="form-control input-sm" readonly ng-if="data.QuestionAnswerType.AnswerTypeName=='Text' && data.DDQuestionDetail[0].QuestionDetail==''" ng-bind-html="data.DDQuestionDetail[0].VendorComplianceQuestionnaire[0].Answer"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div ng-if="data.QuestionAnswerType.IsHasAnswer==false">
                    <div class="col-md-11">
                        <p ng-bind-html="data.Question"></p>
                    </div>
                </div>
            </div>
            <div ng-if="LihatKuesionerAssPrequalCtrl.data.MstDDQuestionnaire.IsUseTableLayout==true">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tbody ng-repeat="data in LihatKuesionerAssPrequalCtrl.data.MstDDQuestionnaire.DDQuestion">
                            <tr ng-if="data.QuestionAnswerType.IsHasAnswer==true">
                                <td width="50%">
                                    <div ng-if="data.IsShowNumber==true">
                                        <div class="col-md-1" style="width:10px;">
                                            {{data.NumberInQuest}}.
                                        </div>
                                        <div class="col-md-11">
                                            <span ng-bind-html="data.Question"></span>
                                        </div>
                                    </div>
                                    <div ng-if="data.IsShowNumber==false">
                                        <div class="col-md-12">
                                            <span ng-bind-html="data.Question"></span>
                                        </div>
                                    </div>
                                </td>
                                <td width="50%">
                                    <label ng-if="data.QuestionAnswerType.AnswerTypeName=='Option'" ng-repeat="questDetail in data.DDQuestionDetail" class="radio-inline">
                                        <input type="radio" disabled name="optradio" value="{{questDetail.ID}}" ng-model="questDetail.VendorComplianceQuestionnaire[0].Answer"><span ng-bind-html="questDetail.QuestionDetail"></span>&nbsp;&nbsp;&nbsp;
                                    </label>
                                    <p ng-if="data.QuestionAnswerType.AnswerTypeName=='Text' && data.DDQuestionDetail[0].QuestionDetail!=''" ng-bind-html="data.DDQuestionDetail[0].QuestionDetail"></p>
                                    <textarea rows="5" class="form-control input-sm" readonly ng-if="data.QuestionAnswerType.AnswerTypeName=='Text' && data.DDQuestionDetail[0].QuestionDetail==''" ng-bind-html="data.DDQuestionDetail[0].VendorComplianceQuestionnaire[0].Answer"></textarea>
                                    <table class="table table-bordered" ng-if="data.QuestionAnswerType.AnswerTypeName=='Table'">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="questDetail in data.DDQuestionDetail">
                                                    <span ng-bind-html="questDetail.QuestionDetail"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="rows in data.ArrayRow">
                                                <td ng-repeat="staticColumn in data.DDQuestionDetail">{{staticColumn.VendorComplianceQuestionnaire[rows-1].Answer}}&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr ng-if="data.QuestionAnswerType.IsHasAnswer==false" style="border:1px solid white;">
                                <td colspan="2" style="border:1px solid white;">
                                    <p ng-bind-html="data.Question"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="LihatKuesionerAssPrequalCtrl.close()" title="Kembali"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>