﻿<div class="modal-content" ng-init="SrtPernyataanModalBacaAssCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="SrtPernyataanModalBacaAssCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{'SURAT.TITLE_SURAT' | translate}}</h3>
    </div>
    <div class="modal-body">
        {{'SURAT.OPENING' | translate}}<br /><br />
        {{SrtPernyataanModalBacaAssCtrl.NamaDir}}{{'SURAT.TEXT1' | translate}}Presiden Direktur
        {{'SURAT.TEXT2' | translate}}{{SrtPernyataanModalBacaAssCtrl.vendorName}}
        {{'SURAT.TEXT3' | translate}}{{SrtPernyataanModalBacaAssCtrl.NamaNotaris}}
        {{'SURAT.TEXT4' | translate}}{{SrtPernyataanModalBacaAssCtrl.DocNo}}
        {{'SURAT.TEXT5' | translate}}{{SrtPernyataanModalBacaAssCtrl.DocDateSub}}
        {{'SURAT.TEXT6' | translate}}{{SrtPernyataanModalBacaAssCtrl.Address}}<br /><br />
        {{'SURAT.TEXT7' | translate}}<br /><br />
        <ol>
            <li>{{'SURAT.LIST.1' | translate}}</li><br />
            <li>{{'SURAT.LIST.2' | translate}}</li><br />
            <li>{{'SURAT.LIST.3' | translate}}</li><br />
            <li>{{'SURAT.LIST.4' | translate}}</li>
        </ol><br /><br />
        ...............................,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/<br /><br /><br />
        <div class="row">
            <div class="col-md-6">
                {{'SURAT.TEXT9' | translate}}<br />
                <!--{{SrtPernyataanModalBacaAssCtrl.businessName}}--> {{SrtPernyataanModalBacaAssCtrl.vendorName}}<br /><br />
                <h6>{{'SURAT.TEXT11' | translate}}<br /><br /></h6>
                [{{SrtPernyataanModalBacaAssCtrl.NamaDir}}, Direktur]
            </div>
            <div class="col-md-6">
                {{'SURAT.TEXT12' | translate}}<br />
                {{'SURAT.TEXT13' | translate}}<br /><br /><br /><br />
                {{'SURAT.TEXT14' | translate}}
            </div>
        </div> 
    </div>
</div>