<section class="content" ng-init="formCRCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA'|translate}}</a></li>
        <li ng-repeat="b in formCRCtrl.breadcrumbs">
            <a ng-if="b.href" href="{{b.href}}">{{ b.title | translate}}</a>
            <a ng-if="!b.href">{{ b.title | translate}}</a>
        </li>
    </ol>
    <div class="row col-md-12 col-sm-12">
        <div class="box box-primary">
            <form name="formCRCtrl.crform">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="text-left">
                                <br />
                                <a href="javascript:void(0)" class="popovers" data-toggle="popover" title="Informasi Form" data-content="" data-original-title="test title"><i class="fa fa-info-circle"></i></a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3 class="afta-font text-center">{{'FORM.CREATE_CONTRACT_REQUISITION'|translate}}</h3>
                            <!--<h4 class="afta-font text-center">{{formCRCtrl.contractRequisition.ProjectTitle}}</h4>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{'FORM.CONTRACT_DETAIL'|translate}} *</label>
                                <input class="form-control input-sm" type="text" ng-readonly="true" value="{{formCRCtrl.contractRequisition.ProjectTitle}}" />
                                <!--<input type="text" ng-readonly="formCRCtrl.isTenderVerification" class="form-control input-sm" ng-model="formCRCtrl.contractRequisition.ContractDetailsInfo"
                            placeholder="{{'FORM.CONTRACT_DETAIL_DESC'|translate}}" />-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.requestType.$valid && formCRCtrl.crform.requestType.$touched }">
                                <label class="csontrol-label">{{'FORM.REQUEST_TYPE'|translate}} *</label>
                                <select name="requestType" required ng-if="!formCRCtrl.isTenderVerification" class="form-control input-sm" 
                                        ng-options="opt.RefID as opt.Name | translate for opt in formCRCtrl.requestTypeOptions" ng-model="formCRCtrl.contractRequisition.RequestType">
                                </select>
                                <input ng-if="formCRCtrl.isTenderVerification" class="form-control input-sm" type="text" ng-readonly="true" value="{{formCRCtrl.contractRequisition.RequestTypeName | translate}}" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.commodityType.$valid && formCRCtrl.crform.commodityType.$touched }">
                                <label class="csontrol-label">{{'FORM.COMMODITY_TYPE'|translate}} *</label>
                                <select name="requestType" disabled required class="form-control input-sm"
                                        ng-options="opt.RefID as opt.Value | translate for opt in formCRCtrl.commodityData" ng-model="formCRCtrl.contractRequisition.CommodityID"></select>
                            </div>
                        </div>
                    </div>
                    <!--ng-class blm--> 
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.leadEntity.$valid && formCRCtrl.crform.leadEntity.$touched }">
                                <label class="csontrol-label">{{'FORM.LEAD_ENTITY'|translate}} *</label>
                                <input  type="text" ng-readonly="formCRCtrl.isTenderVerification" class="form-control" ng-model="formCRCtrl.contractRequisition.LeadEntity" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.entitySelect.$valid && formCRCtrl.crform.entitySelect.$touched }">
                                <label class="csontrol-label">{{'FORM.ENTITY'|translate}} *</label>
                                <select name="requestType" disabled required  class="form-control input-sm"
                                        ng-options="opt.EntityID as opt.EntityName for opt in formCRCtrl.entityData" ng-model="formCRCtrl.contractRequisition.EntityID"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.requestedDate.$valid && formCRCtrl.crform.requestedDate.$touched }">
                                <label class="csontrol-label">{{'FORM.DATE_REQUESTED'|translate}} *</label>
                                <div class="input-group date form_datetime">
                                    <input name="requestedDate" readonly required class="form-control" style="{{!formCRCtrl.isTenderVerification ? 'background-color: #ffffff;' : ''}}" datepicker-options="formCRCtrl.requestedDateOptions" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="formCRCtrl.isCalendarOpened[0]" ng-change="formCRCtrl.getDuration()" ng-model="formCRCtrl.contractRequisition.RequestedDate" ng-click="formCRCtrl.openCalendar(0)" />
                                    <span ng-if="!formCRCtrl.isTenderVerification" class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="formCRCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.requiredDate.$valid && formCRCtrl.crform.requiredDate.$touched }">
                                <label class="csontrol-label">{{'FORM.DATE_REQUIRED'|translate}} *</label>
                                <div class="input-group date form_datetime">
                                    <input name="requiredDate" readonly required class="form-control" style="{{!formCRCtrl.isTenderVerification ? 'background-color: #ffffff;' : ''}}" datepicker-options="formCRCtrl.requiredDateOptions" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="formCRCtrl.isCalendarOpened[1]" ng-change="formCRCtrl.getDuration()" ng-model="formCRCtrl.contractRequisition.RequiredDate" ng-click="formCRCtrl.openCalendar(1)"/>
                                    <span ng-if="!formCRCtrl.isTenderVerification" class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.contractRequisition.ProjectOwnerName && formCRCtrl.crform.projectOwnerName.$touched }">
                                <label class="control-label">{{'FORM.PROJECT_OWNER'|translate}} *</label>
                                <div class="input-group">
                                    <input name="projectOwnerName" type="text" required style="{{!formCRCtrl.isTenderVerification ? 'background-color: #ffffff;' : ''}}" class="form-control" ng-click="formCRCtrl.selectOwner()" ng-model="formCRCtrl.contractRequisition.ProjectOwnerName" ng-readonly="true" />
                                    <span ng-if="!formCRCtrl.isTenderVerification" class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="formCRCtrl.selectOwner()"><i class="glyphicon glyphicon-pencil"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.startDate.$valid && formCRCtrl.crform.startDate.$touched }">
                                <label class="csontrol-label">{{'FORM.DATE_OF_PROJECT_START'|translate}} *</label>
                                <div class="input-group date form_datetime">
                                    <input name="startDate" readonly required class="form-control" style="{{!formCRCtrl.isTenderVerification ? 'background-color: #ffffff;' : ''}}" datepicker-options="formCRCtrl.startDateOptions" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="formCRCtrl.isCalendarOpened[2]" ng-change="formCRCtrl.getDuration()" ng-model="formCRCtrl.contractRequisition.StartDate" ng-click="formCRCtrl.openCalendar(2)" />
                                    <span ng-if="!formCRCtrl.isTenderVerification" class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="formCRCtrl.openCalendar(2)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.finishDate.$valid && formCRCtrl.crform.finishDate.$touched }">
                                <label class="csontrol-label">{{'FORM.DATE_OF_PROJECT_FINISH'|translate}} *</label>
                                <div class="input-group date form_datetime">
                                    <input name="finishDate" readonly required class="form-control" style="{{!formCRCtrl.isTenderVerification ? 'background-color: #ffffff;' : ''}}" datepicker-options="formCRCtrl.finishDateOptions" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="formCRCtrl.isCalendarOpened[3]" ng-change="formCRCtrl.getDuration()" ng-model="formCRCtrl.contractRequisition.FinishDate" ng-click="formCRCtrl.openCalendar(3)" />
                                    <span ng-if="!formCRCtrl.isTenderVerification" class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="formCRCtrl.openCalendar(3)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="csontrol-label">{{'FORM.DURATION_DAYS'|translate}}</label>
                                <div class="input-group">
                                    <input class="form-control" type="text" value="{{formCRCtrl.duration}}" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{'FORM.OUTSOURCING_REQUEST'|translate}} *</label>
                                <input ng-readonly="formCRCtrl.isTenderVerification" type="text" class="form-control input-sm" ng-model="formCRCtrl.contractRequisition.OutsourcingRequest"/>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="csontrol-label">
                                    {{'FORM.BUDGET_STATUS'|translate}} * (
                                    <i>{{'FORM.BUDGET_STATUS_DESC'|translate}}</i>)
                                </label>
                                <div class="input-group">
                                    <input type="radio" ng-disabled="formCRCtrl.isTenderVerification" ng-model="formCRCtrl.contractRequisition.BudgetStatus" value="1" /> {{'FORM.PLANNED'|translate}} &nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="radio" ng-disabled="formCRCtrl.isTenderVerification" ng-model="formCRCtrl.contractRequisition.BudgetStatus" value="0" /> {{'FORM.UNPLANNED'|translate}} &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="csontrol-label">{{'FORM.PROJECT'|translate}}</label>
                                <input ng-readonly="formCRCtrl.isTenderVerification" type="text" ng-model="formCRCtrl.contractRequisition.Project" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="csontrol-label">{{'FORM.BUDGET_TYPE'|translate}} *</label>
                                <select ng-if="!formCRCtrl.isTenderVerification" class="form-control input-sm" 
                                        ng-options="opt.ID as opt.BudgetName for opt in formCRCtrl.budgetOptions" ng-model="formCRCtrl.contractRequisition.OperatingOrCapital">
                                </select>
                                <input ng-if="formCRCtrl.isTenderVerification" class="form-control input-sm" type="text" ng-readonly="true" value="{{formCRCtrl.contractRequisition.BudgetName}}" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.wbs.$valid && formCRCtrl.crform.wbs.$touched }">
                                <label class="csontrol-label">{{'FORM.WBS'|translate}} / {{'FORM.OPERATING_ACCOUNT_CODE'|translate}} *</label>
                                <input name="wbs" required ng-readonly="formCRCtrl.isTenderVerification" type="text" ng-model="formCRCtrl.contractRequisition.WBS" class="form-control input-sm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-block" style="float: none!important;border:dotted 1px #808080 !important;">
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span>Currency : </span> <label>{{formCRCtrl.contractRequisition.PRCurrencySymbol}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.approvedBudget.$valid && formCRCtrl.crform.approvedBudget.$touched }">
                                        <label class="csontrol-label">{{'FORM.APPROVED_BUDGET_VALUE'|translate}} *</label>
                                        <input name="approvedBudget" required ng-readonly="formCRCtrl.isTenderVerification" type="text" ng-model="formCRCtrl.contractRequisition.ApprovedBudget" class="form-control input-sm" currency-mask />
                                       
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.outstandingBudget.$valid && formCRCtrl.crform.outstandingBudget.$touched }">
                                        <label class="csontrol-label">{{'FORM.OUTSTANDING_BUDGET_AMOUNT'|translate}} *</label>
                                        <input name="outstandingBudget" required ng-readonly="formCRCtrl.isTenderVerification" type="text"  ng-model="formCRCtrl.contractRequisition.OutstandingBudget" class="form-control input-sm" currency-mask />
                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.totalValue.$valid && formCRCtrl.crform.totalValue.$touched }">
                                        <label class="csontrol-label">{{'FORM.TOTAL_VALUE_OF_THIS_CONTRACT'|translate}} *</label>
                                        <input name="totalValue" required readonly type="text"  ng-model="formCRCtrl.contractRequisition.TotalValue" class="form-control input-sm" currency-mask />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <label class="csontrol-label">{{'FORM.BUDGET_DISTRIBUTION'|translate}}</label>
                        </div>
                    </div>
                    <div class="row" ng-if="!formCRCtrl.isTenderVerification">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" ng-model="formCRCtrl.budgetDistValue" placeholder="{{'FORM.VALUE'|translate}}" class="form-control input-sm" currency-mask />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <!--<input type="number" min="0" ng-model="formCRCtrl.budgetDistYear" placeholder="{{'FORM.YEAR'|translate}}" class="form-control input-sm" />-->
                                <select ng-model="formCRCtrl.budgetDistYear" class="input-sm form-control" ng-options="val for val in formCRCtrl.budgetDistYearOptions"></select>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group pull-right">
                                <button class="btn btn-sm btn-primary" ng-click="formCRCtrl.addBudgetDist()" ng-disabled="!(formCRCtrl.budgetDistValue > 0 && formCRCtrl.budgetDistYear > 0)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="20">{{'TABLE.NO'|translate}}.</th>
                                            <th class="text-center">{{'FORM.VALUE'|translate}}</th>
                                            <th class="text-center" width="100">{{'FORM.YEAR'|translate}}</th>
                                            <th class="text-center" width="100" ng-if="!formCRCtrl.isTenderVerification">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="formCRCtrl.contractRequisition.ContractRequisitionBudgetDists.length <= 0">
                                            <td colspan="4" cellpadding="0">
                                                <div class="alert alert-info text-center">
                                                    <span>No Data</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="dt in formCRCtrl.contractRequisition.ContractRequisitionBudgetDists">
                                            <td class="center-vertical">{{$index+1}}</td>
                                            <td class="text-right">{{dt.Value | currency : ''}}</td>
                                            <td class="center-vertical">{{dt.Year}}</td>
                                            <td class="center-vertical" ng-if="!formCRCtrl.isTenderVerification">
                                                <button class="btn btn-sm btn-danger" ng-click="formCRCtrl.removeBudgetDist($index)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--<br />-->
                    <!--<div class="row">
                        <div class="col-md-6">
                            <div class="form-group table table-responsive">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th colspan="2"> {{'FORM.SUGGESTED_VENDOR'|translate}}</th>
                                            <th class="center-vertical" width="20" ng-if="!formCRCtrl.isTenderVerification">
                                                <button class="btn btn-sm btn-info" ng-click="formCRCtrl.addVendorSugg()"><i class="fa fa-plus"></i></button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-if="formCRCtrl.contractRequisition.ContractRequisitionVendorSuggestions.length === 0">
                                            <td colspan="4" cellpadding="0">
                                                <div class="alert alert-info text-center">
                                                    <span>No Data</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="dt in formCRCtrl.contractRequisition.ContractRequisitionVendorSuggestions">
                                            <td width="20" class="text-center">{{$index+1}}</td>
                                            <td>{{dt.VendorName}}</td>
                                            <td class="center-vertical" ng-if="!formCRCtrl.isTenderVerification">
                                                <button class="btn btn-sm btn-danger" ng-click="formCRCtrl.removeVendorSugg($index)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>-->
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.justForRequest.$valid && formCRCtrl.crform.justForRequest.$touched }">
                                <label class="control-label">{{'FORM.JUSTIFICATION_FOR_REQUEST'|translate}} *</label>
                                <textarea name="justForRequest" required ng-readonly="formCRCtrl.isTenderVerification" type="text" ng-model="formCRCtrl.contractRequisition.JustForRequest" class="form-control input-sm"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': !formCRCtrl.crform.costAnalysis.$valid && formCRCtrl.crform.costAnalysis.$touched }">
                                <label class="control-label">{{'FORM.COST_ANALYSIS'|translate}} *</label>
                                <textarea name="costAnalysis" required ng-readonly="formCRCtrl.isTenderVerification" type="text" ng-model="formCRCtrl.contractRequisition.CostAnalysis" class="form-control input-sm" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button ng-if="!formCRCtrl.isTenderVerification && formCRCtrl.isRequestor" ng-click="formCRCtrl.save()" class="btn btn-flat btn-success" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i> </button>
                            <button ng-click="formCRCtrl.print('toPrint')" class="btn btn-flat btn-default" title="Print"><i class="glyphicon glyphicon-print"></i></button>
                            <button ng-click="formCRCtrl.back()" class="btn btn-flat btn-primary"><i class="fa fa-reply" title="{{'KEMBALI'|translate}}"></i> </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Untuk Print-->
    <div id="toPrint" class="formEEC-container" ng-hide="true" style="background-color:#ffffff;">
        <div class="row" style="width:100%;">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-top:10px;padding-left:690px;padding-bottom: 20px;display:block;text-align:right;" width="100px" height="40px" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="formEEC-title">
                    {{'FORM.CREATE_CONTRACT_REQUISITION'|translate}}
                    <p>{{formCRCtrl.contractRequisition.TenderCode}} - {{formCRCtrl.contractRequisition.ProjectTitle}}</p>
                </div>
                <br />
                <div class="formEEC-content">
                    <div class="formEEC-contentOutside">
                        <div class="row">
                            <div class="formEEC-col3">
                                {{'FORM.CONTRACT_DETAIL' | translate}} <br />
                                {{'FORM.REQUEST_TYPE' | translate}} <br />
                                {{'FORM.DIRECT_AWARD' | translate}} <br />
                                {{'FORM.DATE_REQUESTED' | translate}} <br />
                                {{'FORM.DATE_REQUIRED' | translate}} <br />
                                {{'FORM.PROJECT_OWNER' | translate}} <br />
                                {{'FORM.DATE_OF_PROJECT_START' | translate}} <br />
                                {{'FORM.DATE_OF_PROJECT_FINISH'|translate}} <br />
                                {{'FORM.DURATION_DAYS'|translate}} <br />
                                {{'FORM.BUDGET_STATUS'|translate}} <br />
                                <i>{{'FORM.BUDGET_STATUS_DESC'|translate}}</i>
                            </div>
                            <div class="formEEC-col9">
                                : {{formCRCtrl.contractRequisition.ProjectTitle}}<br />
                                : {{(formCRCtrl.contractRequisition.RequestType.Name ? formCRCtrl.contractRequisition.RequestType.Name : formCRCtrl.contractRequisition.RequestTypeName) | translate}}<br />
                                : {{formCRCtrl.contractRequisition.DirectAward === '1' ? 'Yes' : ''}}{{formCRCtrl.contractRequisition.DirectAward === '0' ? 'No' : ''}}<br />
                                : {{formCRCtrl.contractRequisition.RequestedDate | date : 'dd/MM/yyyy'}}<br />
                                : {{formCRCtrl.contractRequisition.RequiredDate | date : 'dd/MM/yyyy'}}<br />
                                : {{formCRCtrl.contractRequisition.ProjectOwnerName}}<br />
                                : {{formCRCtrl.contractRequisition.StartDate | date : 'dd/MM/yyyy'}}<br />
                                : {{formCRCtrl.contractRequisition.FinishDate | date : 'dd/MM/yyyy'}}<br />
                                : {{formCRCtrl.duration}} <br />
                                : {{formCRCtrl.contractRequisition.BudgetStatus === '1' ? 'FORM.PLANNED' : '' | translate}}{{formCRCtrl.contractRequisition.BudgetStatus === '0' ? 'FORM.UNPLANNED' : '' | translate }}<br />
                            </div>
                        </div>
                    </div>
                    <div class="formEEC-contentOutside">
                        <div class="row">
                            <div class="formEEC-col3">
                                {{'FORM.PROJECT' | translate}}<br />
                                {{'FORM.BUDGET_TYPE' | translate}}<br />
                                {{'FORM.WBS'|translate}} / {{'FORM.OPERATING_ACCOUNT_CODE'|translate}}<br />
                                {{'FORM.CURRENCY' | translate}}<br />
                                <span ng-if="formCRCtrl.contractRequisition.MstCurrency.Symbol === 'USD'">{{'FORM.EXCHANGE_RATE_TO_IDR'|translate}}</span>
                                <span ng-if="formCRCtrl.contractRequisition.MstCurrency.Symbol === 'IDR'">{{'FORM.EXCHANGE_RATE_TO_USD'|translate}}</span>
                                <br/>
                                {{'FORM.APPROVED_BUDGET_VALUE' | translate}}<br />
                                {{'FORM.OUTSTANDING_BUDGET_AMOUNT' | translate}}<br />
                                {{'FORM.TOTAL_VALUE_OF_THIS_CONTRACT' | translate}}<br />
                            </div>
                            <div class="formEEC-col9">
                                : {{formCRCtrl.contractRequisition.Project}}<br />
                                : {{formCRCtrl.contractRequisition.OperatingOrCapital.BudgetName ? formCRCtrl.contractRequisition.OperatingOrCapital.BudgetName : formCRCtrl.contractRequisition.BudgetName}}<br />
                                : {{formCRCtrl.contractRequisition.WBS}}<br />
                                : {{formCRCtrl.contractRequisition.MstCurrency.Symbol}}<br />
                                : <span ng-if="formCRCtrl.contractRequisition.MstCurrency.Symbol === 'USD'">{{formCRCtrl.contractRequisition.RateUSDToIDR}}</span>
                                <span ng-if="formCRCtrl.contractRequisition.MstCurrency.Symbol === 'IDR'">{{formCRCtrl.contractRequisition.RateIDRToUSD}}</span><br/>
                                : {{formCRCtrl.contractRequisition.MstCurrency.Symbol}} {{formCRCtrl.contractRequisition.ApprovedBudget | currency : ''}}<br />
                                : {{formCRCtrl.contractRequisition.MstCurrency.Symbol}} {{formCRCtrl.contractRequisition.OutstandingBudget | currency : ''}}<br />
                                : {{formCRCtrl.contractRequisition.MstCurrency.Symbol}} {{formCRCtrl.contractRequisition.TotalValue | currency : ''}}<br />
                            </div>
                        </div>
                    </div>
                    <table class="formEEC-table">
                        <thead>
                            <tr>
                                <th colspan="3">{{'FORM.BUDGET_DISTRIBUTION'|translate}}</th>
                            </tr>
                            <tr>
                                <th width="20">{{'TABLE.NO'|translate}}.</th>
                                <th class="text-center">{{'FORM.VALUE'|translate}}</th>
                                <th class="text-center" width="100">{{'FORM.YEAR'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!formCRCtrl.contractRequisition.ContractRequisitionBudgetDists.length">
                                <td colspan="3">No Data</td>
                            </tr>
                            <tr ng-repeat="dt in formCRCtrl.contractRequisition.ContractRequisitionBudgetDists">
                                <td class="center-vertical">{{$index+1}}</td>
                                <td class="text-right">{{dt.Value | currency : ''}}</td>
                                <td class="center-vertical">{{dt.Year}}</td>
                            </tr>
                        </tbody>
                    </table><br/>
                    <table class="formEEC-table">
                        <thead>
                            <tr>
                                <th colspan="2"> {{'FORM.SUGGESTED_VENDOR'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="!formCRCtrl.contractRequisition.ContractRequisitionVendorSuggestions.length">
                                <td colspan="2">No Data</td>
                            </tr>
                            <tr ng-repeat="dt in formCRCtrl.contractRequisition.ContractRequisitionVendorSuggestions">
                                <td width="20" class="text-center">{{$index+1}}</td>
                                <td>{{dt.VendorName}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="formEEC-contentOutside">
                        <div class="row">
                            <label><u>{{'FORM.JUSTIFICATION_FOR_REQUEST' | translate}}</u></label>
                        </div>
                        <div class="row">
                            {{formCRCtrl.contractRequisition.JustForRequest}}
                        </div>
                    </div>
                    <div class="formEEC-contentOutside">
                        <div class="row">
                            <label><u>{{'FORM.COST_ANALYSIS' | translate}}</u></label>
                        </div>
                        <div class="row">
                            {{formCRCtrl.contractRequisition.CostAnalysis}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>