<div class="modal-content" ng-init="ChangedDataDetailCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="ChangedDataDetailCtrl.batal()">
			<span aria-hidden="true" title="Keluar">&times;</span>
			<span class="sr-only"></span>
		</button>
		<h3 ng-if="ChangedDataDetailCtrl.param===1" class="modal-title afta-font">{{'OC_ADM_LEGAL'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param===2" class="modal-title afta-font">{{'BUSINESS_FIELDS'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param===3" class="modal-title afta-font">{{'BUSINESS_PERMIT'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param===4" class="modal-title afta-font">{{'KEPEMILIKAN_SAHAM'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param===5" class="modal-title afta-font">{{'OC_VENDORNERACA'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param===6" class="modal-title afta-font">{{'COMPANY_MANAGEMENT'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param===7" class="modal-title afta-font">{{'OC_VENDOREXPERTS'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param==='8a'" class="modal-title afta-font">{{'PERLENGKAPAN_DATA_BANGUNAN'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param==='8b'" class="modal-title afta-font">{{'PERALATAN_DATA_KENDARAAN'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param==='8c'" class="modal-title afta-font">{{'PERALATAN_DATA_PERALATAN   '|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param===9" class="modal-title afta-font">{{'OC_VENDOREXPERIENCE'|translate}}</h3>
		<!--<h3 ng-if="ChangedDataDetailCtrl.param===10" class="modal-title afta-font">Surat Pernyataan</h3>-->
		<h3 ng-if="ChangedDataDetailCtrl.param===10" class="modal-title afta-font">{{'OC_VENDORBANKDETAIL'|translate}}</h3>
		<h3 ng-if="ChangedDataDetailCtrl.param===11" class="modal-title afta-font">{{'OC_VENDOROTHERDOCS'|translate}}</h3>
        <h3 ng-if="ChangedDataDetailCtrl.param==='12a'" class="modal-title afta-font">{{'TABLE.KUESIONER'|translate}}</h3>
        <h3 ng-if="ChangedDataDetailCtrl.param==='12b'" class="modal-title afta-font">{{'TABLE.BERKAS_KUESIONER'|translate}}</h3>
	</div>
	<div class="modal-body">
		<!--tampilan historical data-->
		<div class="row" ng-if="ChangedDataDetailCtrl.action === 1">
			<div class="col-md-6">
				<div class="box-header">
					<!--data sebelum diubah-->
					<h5 class="box-title">
						<strong>{{'DATA_BEFORE_CHANGE'|translate}}</strong>
					</h5>

					<!-- Vendor Statement -->
					<div ng-if="ChangedDataDetailCtrl.param === '1067'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<td style="text-align:center">
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.listAgreement[0].DocumentUrl}}" target="_BLANK" class="label label-primary" title="{{'DOWNLOAD'|translate}}">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
								</td>
							</tr>
						</table>
					</div>

					<!--bidang usaha-->
					<div ng-if="ChangedDataDetailCtrl.param===2" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.BusinessField.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Commodity.Name}}</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: bangunan-->
					<div ng-if="ChangedDataDetailCtrl.param==='8a'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.KATEGORI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.category.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.LUAS'|translate}}(M<sup>2</sup>)</th>
								<td>{{ChangedDataDetailCtrl.item.item.BuildingArea}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.address.AddressInfo}} {{ChangedDataDetailCtrl.item.item.address.AddressDetail}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ownershipStatus.Value}}</td>
							</tr>
						</table>
					</div>

					<!--Vendor Legal Document-->
					<div ng-if="ChangedDataDetailCtrl.param === '1000'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TRANSLATE.NOMOR_DOKUMEN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.DocumentNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TANGGAL_DOKUMEN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.DocumentDate | date: 'dd-MMM-yyyy'}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{TABLE.NOTARIS_NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.NotaryName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NOTARIS_PLACE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.NotaryLocationName}}</td>
							</tr>
						</table>
					</div>

					<!--bank detail-->
					<div ng-if="ChangedDataDetailCtrl.param===10" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.BusinessField.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Commodity.Name}}</td>
							</tr>
						</table>
					</div>
					<!--izin usaha-->
					<div ng-if="ChangedDataDetailCtrl.param===3" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.BusinessField.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Commodity.Name}}</td>
							</tr>
						</table>
					</div>

					<!--pengurus perusahaan-->
					<div ng-if="ChangedDataDetailCtrl.param===6" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th>{{'TABLE.NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.PersonName}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.BIRTH_DATE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.DateOfBirth}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.KTP_NUMBER'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.NoID}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Address.AddressInfo}} {{ChangedDataDetailCtrl.item.item.Address.AddressDetail}}, {{ChangedDataDetailCtrl.item.item.Country}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.JABATAN'|translate}}</th>
								<td>{{ ChangedDataDetailCtrl.item.item.PositionRef|translate}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.JABATAN_VERSIVENDOR'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.CompanyPosition}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.MENJABAT_SEJAK'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ServiceStartDate}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.SAMPAI'|translate}}</th>
								<td>   
									<span ng-if="ChangedDataDetailCtrl.item.item.ServiceEndDate">{{ChangedDataDetailCtrl.item.item.ServiceEndDate}}</span>
								</td>
							</tr>
							<tr>
								<th>{{'TABLE.SCAN'translate}}</th>
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.item.item.IDUrl}}" target="_BLANK" class="label label-sm label-primary" title="{{'DOWNLOAD'|translate}}">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
								</td>
							</tr>
						</table>
					</div>

					<!--pengalaman-->
					<div ng-if="ChangedDataDetailCtrl.param===9" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ContractName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.LOCATION'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.lokasidetail}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.AGENCY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Agency}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Address}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TELEPON'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.AgencyTelpNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NOMOR_KONTRAK'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ContractNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.CurrencyRef}} {{ChangedDataDetailCtrl.item.item.ContractValue | currency:""}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.START_DATE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.datepelaksanaan}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.AKHIR_KONTRAK'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.dateselesai}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.DOWNLOAD_DOKUMENKONTRAK'|translate}}</th>
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.item.item.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="{{'BTN.DOWNLOAD_FILE'|translate}}"><i class="fa fa-download"></i>&nbsp;</a>
								</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KETERANGAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Remark}}</td>
							</tr>
						</table>
					</div>

					<!--administrasi -->
					<div ng-if="ChangedDataDetailCtrl.param===1" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th>{{'TABLE.NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ContactReff.Name}}</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>{{ChangedDataDetailCtrl.item.item.ContactReff.Email}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.PHONE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ContactReff.Phone}}</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: kendaraan-->
					<div ng-if="ChangedDataDetailCtrl.param==='8b'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.NAMA_ALAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Merk/Type</th>
								<td>{{ChangedDataDetailCtrl.item.item.Brand}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TAHUN_PEMBUATAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.MfgDate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NO_SERI_NO_POLISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.SerialNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KAPASITAS'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Capacity}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KONDISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ConditionRef.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.OwnershipRef.Value}}</td>
							</tr>
						</table>
					</div>

					<!-- Vendor balance -->


					<div ng-if="ChangedDataDetailCtrl.param==='1435'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.WEALTH'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Wealth.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">CoA</th>
								<td>{{ChangedDataDetailCtrl.item.item.COA.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.SATUAN_JUMLAH'|translate}}</th>
								<td>{{(ChangedDataDetailCtrl.item.item.Amount === null ? "" : ChangedDataDetailCtrl.item.item.Amount) + " " + ChangedDataDetailCtrl.item.item.Unit.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Nominal</th>
								<td>{{ChangedDataDetailCtrl.item.item.Nominal | currency: ""+ labelcurr +" "}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.DOCUMENT'|translate}}</th>
								<!--<td>{{ChangedDataDetailCtrl.item.item.Capacity}}</td>-->
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.item.item.DocUrl}}" target="_BLANK" class="label label-sm label-primary" title="{{'DOWNLOAD'|translate}}">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
								</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: alat berat-->
					<div ng-if="ChangedDataDetailCtrl.param==='8c'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.NAMA_ALAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Merk/Type</th>
								<td>{{ChangedDataDetailCtrl.item.item.Brand}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TAHUN_PEMBUATAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.MfgDate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NO_SERI_NO_POLISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.SerialNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KAPASITAS'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Capacity}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KONDISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ConditionRef.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.OwnershipRef.Value}}</td>
							</tr>
						</table>
					</div>

                    <!--kuesioner-->
                    <div ng-if="ChangedDataDetailCtrl.param==='12a'" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">No</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.PERTANYAAN'translate}}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.JAWABAN'translate}}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.KETERANGAN'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="obj in ChangedDataDetailCtrl.vendorQuestionnaire">
                                    <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                    <td style="vertical-align: middle;"><label class="labelnonbold" style="font-size:13px"><span ng-bind-html="obj.QuestionName"></span></label></td>
                                    <td style="vertical-align: middle;">{{obj.AnswerName}}</td>
                                    <td style="vertical-align: middle;">{{obj.Description}}</td>
                                </tr>
                                <tr ng-if="ChangedDataDetailCtrl.vendorQuestionnaire.length === 0">
                                    <td colspan="7">{{'NO_DATA'|translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!--kuesioner url-->
                    <div ng-if="ChangedDataDetailCtrl.param==='12b'" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">No</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.DOWNLOAD_KUESIONER'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrl != null">
                                    <td class="text-center" style="vertical-align: middle;">1</td>
                                    <td style="vertical-align: middle;">
                                        <a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrl}}" target="_BLANK" 
                                           class="label label-xs label-primary" title="{{'DOWNLOAD'|translate}}">
                                            <i class="fa fa-download"></i>&nbsp;&nbsp;
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrl == null">
                                    <td colspan="2">{{'NO_DATA'|translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

					<!--end: data sebelum diubah-->
				</div>
			</div>
			<div class="col-md-6">
				<div class="box-header">
					<!--data setelah diubah-->
					<h5 class="box-title">
						<strong>{{'DATA_AFTER_CHANGE'|translate}}</strong>
					</h5>

					<!-- Vendor Statement -->
					<div ng-if="ChangedDataDetailCtrl.param === '1067'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<td style="text-align:center">
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.listAgreement[1].DocumentUrl}}" target="_BLANK" class="label label-xs label-primary" title="{{'DOWNLOAD'|translate}}">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
								</td>
							</tr>
						</table>
					</div>

					<!-- Vendor balance -->
					<div ng-if="ChangedDataDetailCtrl.param==='1435'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.WEALTH'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Wealth.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">CoA</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].COA.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.SATUAN_JUMLAH'|translate}}</th>
								<td>{{(ChangedDataDetailCtrl.changedData[0].Amount === null ? "" : ChangedDataDetailCtrl.changedData[0].Amount) + " " + ChangedDataDetailCtrl.changedData[0].Unit.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Nominal</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Nominal | currency: ""+ labelcurr +" "}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.DOCUMENT'|translate}}</th>
								<!--<td>{{ChangedDataDetailCtrl.changedData[0].Capacity}}</td>-->
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.changedData[0].DocUrl}}" target="_BLANK" class="label label-sm label-primary" title="{{'DOWNLOAD'|translate}}">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
								</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: bangunan-->
					<div ng-if="ChangedDataDetailCtrl.param==='8a'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.KATEGORI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].category.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.LUAS'|translate}}(M<sup>2</sup>)</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].BuildingArea}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].address.AddressInfo}} {{ChangedDataDetailCtrl.item.item.address.AddressDetail}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Status Kepemilikan<br />(Sewa/Milik Sendiri *)</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].ownershipStatus.Value}}</td>
							</tr>
						</table>
					</div>

					<!--Vendor Legal Document-->
					<div ng-if="ChangedDataDetailCtrl.param === '1000'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.NOMOR_DOKUMEN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].DocumentNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TANGGAL_DOKUMEN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].DocumentDate | date: 'dd-MMM-yyyy'}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NOTARIS_NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].NotaryName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NOTARIS_PLACE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].NotaryLocationName}}</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: alat berat-->
					<div ng-if="ChangedDataDetailCtrl.param==='8c'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.NAMA_ALAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Merk/Type</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Brand}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TAHUN_PEMBUATAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].MfgDate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NO_SERI_NO_POLISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].SerialNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{'TABLE.KAPASITAS'|translate}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Capacity}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KONDISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].ConditionRef.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].OwnershipRef.Value}}</td>
							</tr>
						</table>
					</div>

					<!--pengurus perusahaan-->
					<div ng-if="ChangedDataDetailCtrl.param===6" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th>{{'TABLE.NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].PersonName}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.BIRTH_DATE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].DateOfBirth}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.KTP_NUMBER'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].NoID}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Address.AddressInfo}} {{ChangedDataDetailCtrl.changedData[0].Address.AddressDetail}}, {{ChangedDataDetailCtrl.changedData[0].Country}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.JABATAN'|translate}}</th>
								<td>{{ ChangedDataDetailCtrl.changedData[0].PositionRef|translate}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.JABATAN_VERSIVENDOR

								'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].CompanyPosition}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.MENJABAT_SEJAK'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].ServiceStartDate}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.SAMPAI'|translate}}</th>
								<td><span ng-if="ChangedDataDetailCtrl.changedData[0].ServiceEndDate">{{ChangedDataDetailCtrl.changedData[0].ServiceEndDate}}</span></td>
							</tr>
							<tr>
								<th>{{'TABLE.SCAN'|translate}}</th>
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.changedData[0].IDUrl}}" target="_BLANK" class="label label-sm label-primary" title="{{'DOWNLOAD'|translate}}">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
								</td>
							</tr>
						</table>
					</div>

					<!--bidang usaha-->
					<div ng-if="ChangedDataDetailCtrl.param===2" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData.BusinessField.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData.Commodity.Name}}</td>
							</tr>
						</table>
					</div>

					<!--administrasi -->
					<div ng-if="ChangedDataDetailCtrl.param===1" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th>{{'TABLE.NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Contact.Name}}</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>{{ChangedDataDetailCtrl.item.item.Contact.Email}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.PHONE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Contact.Phone}}</td>
							</tr>
						</table>
					</div>


					<!--pengalaman-->
					<div ng-if="ChangedDataDetailCtrl.param===9" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].ContractName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.LOCATION'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.lokasidetail}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.AGENCY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Agency}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Address}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TELEPON'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].AgencyTelpNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NOMOR_KONTRAK'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].ContractNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].CurrencyRef}}  {{ChangedDataDetailCtrl.changedData[0].ContractValue | currency:""}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.START_DATE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.datepelaksanaan}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.AKHIR_KONTRAK'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.dateselesai}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.DOWNLOAD_DOKUMENKONTRAK'|translate}}</th>
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.changedData[0].DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="Download File">
										<i class="fa fa-download"></i>&nbsp;
									</a>
								</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KETERANGAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Remark}}</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: kendaraan-->
					<div ng-if="ChangedDataDetailCtrl.param==='8b'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.NAMA_ALAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Merk/Type</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Brand}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TAHUN_PEMBUTAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].MfgDate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NO_SERI_NO_POLISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].SerialNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KAPASITAS'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].Capacity}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KONDISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].ConditionRef.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.changedData[0].OwnershipRef.Value}}</td>
							</tr>
						</table>
					</div>

                    <!--kuesioner-->
                    <div ng-if="ChangedDataDetailCtrl.param==='12a'" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">No</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.PERTANYAAN'translate}}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.JAWABAN'translate}}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.KETERANGAN'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="obj in ChangedDataDetailCtrl.vendorQuestionnaireTemp">
                                    <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                    <td style="vertical-align: middle;"><label class="labelnonbold" style="font-size:13px"><span ng-bind-html="obj.QuestionName"></span></label></td>
                                    <td style="vertical-align: middle;">{{obj.AnswerName}}</td>
                                    <td style="vertical-align: middle;">{{obj.Description}}</td>
                                </tr>
                                <tr ng-if="ChangedDataDetailCtrl.vendorQuestionnaireTemp.length === 0">
                                    <td colspan="4">{{'NO_DATA'|translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--kuesioner url-->
                    <div ng-if="ChangedDataDetailCtrl.param==='12b'" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">No</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.DOWNLOAD_KUESIONER'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrlTemp != null">
                                    <td class="text-center" style="vertical-align: middle;">1</td>
                                    <td style="vertical-align: middle;">
                                        <a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrlTemp}}" target="_BLANK"
                                           class="label label-xs label-primary" title="{{'DOWNLOAD'|translate}}">
                                            <i class="fa fa-download"></i>&nbsp;&nbsp;
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrlTemp == null">
                                    <td colspan="2">{{'NO_DATA_CHANGED'|translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

					<!--end data setelah diubah-->
				</div>
			</div>
		</div>

		<!--tampilan single data-->
		<div class="row" ng-if="ChangedDataDetailCtrl.action !== 1">
			<div class="col-md-12">
				<div class="box-header">
					<!--detail data-->
					<h5 class="box-title text-center">
						<strong>Detail Data</strong>
					</h5>

					<!-- Vendor Statement -->
					<div ng-if="ChangedDataDetailCtrl.param === '1067'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<td style="text-align:center">
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.listAgreement[0].DocumentUrl}}" target="_BLANK" class="label label-xs label-primary" title="{{'DOWNLOAD'|translate}}">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
								</td>
							</tr>
						</table>
					</div>

					<!--bank detail-->
					<div ng-if="ChangedDataDetailCtrl.param===7" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'EXPERT_NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.BIRTH_DATE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.DateOfBirth | date: 'dd-MM-yyyy'}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'GENDER'|translate}}</th>
								<td ng-if="ChangedDataDetailCtrl.item.item.Gender==='F'">{{'PEREMPUAN'|translate}}</td>
								<td ng-if="ChangedDataDetailCtrl.item.item.Gender==='M'">{{'LAKI'|translate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.ALAMAT'|translate}}</th>	
								<td>{{ChangedDataDetailCtrl.item.item.address.AddressInfo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.PENDIDIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Education}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'CITIZEN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.country.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.JABATAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Position|translate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.EXPERIENCE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.YearOfExperience}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'EMPLOYMENT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Statusperson.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.PROFESIONAL'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Expertise}}</td>
							</tr>
						</table>
					</div>

					<!--bank detail-->
					<div ng-if="ChangedDataDetailCtrl.param===10" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.REKENING'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.AccountNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'NAMA_AKUN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.AccountName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.BANK_NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.BankName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.BANK_BRANCH'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Branch}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Swift Code</th>
								<td>{{ChangedDataDetailCtrl.item.item.SwiftCode}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.ACCOUNT_PROOF'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.item.item.UrlDoc}}</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: bangunan-->
					<div ng-if="ChangedDataDetailCtrl.param==='8a'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.KATEGORI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.category.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.LUAS'|translate}}(M<sup>2</sup>)</th>
								<td>{{ChangedDataDetailCtrl.item.item.BuildingArea}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.address.AddressInfo}} {{ChangedDataDetailCtrl.item.item.address.AddressDetail}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ownershipStatus.Value}}</td>
							</tr>
						</table>
					</div>

					<!--Vendor Legal Document-->
					<div ng-if="ChangedDataDetailCtrl.param === '1000'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.NOMOR_DOKUMEN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.DocumentNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TANGGAL_DOKUMEN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.DocumentDate | date: 'dd-MMM-yyyy'}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NOTARIS_NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.NotaryName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.PLACE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.NotaryLocationName}}</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: kendaraan-->
					<div ng-if="ChangedDataDetailCtrl.param==='8b'" class="table-responsive">
						<table class="table table-bordered table-bordered">
							<tr>
								<th style="width:150px;">{{'TABLE.NAMA_ALAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Merk/Type</th>
								<td>{{ChangedDataDetailCtrl.item.item.Brand}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TAHUN_PEMBUATAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.MfgDate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NO_SERI_NO_POLISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.SerialNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KAPASITAS'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Capacity}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KONDISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ConditionRef.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.OwnershipRef.Value}}</td>
							</tr>
						</table>
					</div>

					<!-- Neraca -->
					<div ng-if="ChangedDataDetailCtrl.param==='1435'" class="table-responsive">
						<table class="table table-bordered table-bordered">
							<tr>
								<th style="width:150px;">{{'TABLE.WEALTH'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Wealth.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">CoA</th>
								<td>{{ChangedDataDetailCtrl.item.item.COA.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.SATUAN_JUMLAH'|translate}}</th>
								<td>{{(ChangedDataDetailCtrl.item.item.Amount === null ? "" : ChangedDataDetailCtrl.item.item.Amount) + " " + (ChangedDataDetailCtrl.item.item.Amount === null? "" : ChangedDataDetailCtrl.item.item.Amount)}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Nominal</th>
								<td>{{ChangedDataDetailCtrl.item.item.Nominal | currency: ""+ labelcurr +" "}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.DOCUMENT'|translate}}</th>
							<!--	<td>{{ChangedDataDetailCtrl.item.item.Capacity}}</td>-->
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.item.item.DocUrl}}" target="_BLANK" class="label label-sm label-primary" title="{{'DOWNLOAD'|translate}}">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
								</td>
							</tr>
						</table>
					</div>

					<!--perlengkapan: alat berat-->
					<div ng-if="ChangedDataDetailCtrl.param==='8c'" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.NAMA_ALAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">Merk/Type</th>
								<td>{{ChangedDataDetailCtrl.item.item.Brand}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TAHUN_PEMBUATAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.MfgDate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NO_SERI_NO_POLISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.SerialNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KAPASITAS'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Capacity}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KONDISI'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ConditionRef.Value}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.OwnershipRef.Value}}</td>
							</tr>
						</table>
					</div>

					<!--pengalaman-->
					<div ng-if="ChangedDataDetailCtrl.param===9" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ContractName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.LOCATION'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.lokasidetail}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.AGENCY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Agency}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Address}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.TELEPON'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.AgencyTelpNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.NOMOR_KONTRAK'translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ContractNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.CurrencyRef}} {{ChangedDataDetailCtrl.item.item.ContractValue | currency:""}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE,START_DATE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.datepelaksanaan}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.AKHIR_KONTRAK'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.dateselesai}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.DOWNLOAD_DOKUMENKONTRAK'|translate}}</th>
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.item.item.DocumentURL}}" class="btn btn-sm btn-primary" target="_BLANK" title="{{'BTN.DOWNLOAD_FILE'|translate}}"><i class="fa fa-download"></i>&nbsp;</a>
								</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.KETERANGAN'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Remark}}</td>
							</tr>
						</table>
					</div>

					<!--bidang usaha-->
					<div ng-if="ChangedDataDetailCtrl.param===2" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td ng-if="ChangedDataDetailCtrl.item.item.BusinessField.Name !== 'Lain - lain'">{{ChangedDataDetailCtrl.item.item.BusinessField.Name}}</td>
                                <td ng-if="ChangedDataDetailCtrl.item.item.BusinessField.Name === 'Lain - lain'">{{ChangedDataDetailCtrl.item.item.BusinessField.Name}} ({{ChangedDataDetailCtrl.item.item.Remark}})</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Commodity.Name}}</td>
							</tr>
						</table>
					</div>

					<!--pengurus perusahaan-->
					<div ng-if="ChangedDataDetailCtrl.param===6" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th>{{'TABLE.NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.PersonName}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.BIRTH_DATE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.DateOfBirth}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.KTP_NUMBER'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.NoID}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.ALAMAT'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Address.AddressInfo}} {{ChangedDataDetailCtrl.item.item.Address.AddressDetail}}, {{ChangedDataDetailCtrl.item.item.Address.State.Country.Name}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.JABATAN'|translate}}</th>
								<td>{{ ChangedDataDetailCtrl.item.item.PositionRef|translate}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.JABATAN_VERSIVENDOR'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.CompanyPosition}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.MENJABAT_SEJAK'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ServiceStartDate}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.SAMPAI'|translate}}</th>
								<td><span ng-if="ChangedDataDetailCtrl.item.item.ServiceEndDate">{{ChangedDataDetailCtrl.item.item.ServiceEndDate}}</span></td>
							</tr>
							<tr>
								<th>{{'TABLE.SCAN'|translate}}</th>
								<td><a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.item.item.IDUrl}}" target="_BLANK" class="label label-sm label-primary" title="{{'DOWNLOAD'|translate}}"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></td>
							</tr>
						</table>
					</div>

					<!--administrasi-->
					<div ng-if="ChangedDataDetailCtrl.param===1" class="table-responsive">
						<table class="table table-bordered table-hover" ng-if="ChangedDataDetailCtrl.item.item.Contact !== undefined">
							<tr>
								<th>{{'TABLE.NAME'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Contact.Name}}</td>
							</tr>
							<tr>
								<th>Email</th>
								<td>{{ChangedDataDetailCtrl.item.item.Contact.Email}}</td>
							</tr>
							<tr>
								<th>{{'TABLE.PHONE'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Contact.Phone}}</td>
							</tr>
						</table>
						<table class="table table-bordered table-hover" ng-if="ChangedDataDetailCtrl.item.item.Contact === undefined">
							<tr>
								<th>Simbol</th>
								<td>{{ChangedDataDetailCtrl.item.item.MstCurrency.Symbol}}</td>
							</tr>
							<tr>
								<th>Label</th>
								<td>{{ChangedDataDetailCtrl.item.item.MstCurrency.Label}}</td>
							</tr>
						</table>
					</div>

					<!--izin usaha-->
					<div ng-if="ChangedDataDetailCtrl.param===3" class="table-responsive">
						<table class="table table-bordered table-hover">
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.LicenseNo}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Commodity.Name}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.ExpiredDate}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.IssuedBy}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.CompanyScaleName}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.CapitalAmount}}</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'OC_VENDORBUSINESSFIELD'|translate}}</th>
								<td>
									<a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.item.item.DocumentURL}}" target="_BLANK" class="btn btn-sm btn-primary"
									   ng-if="ChangedDataDetailCtrl.item.item.DocumentURL != null" title="Download Dokumen Data Ijin Usaha">
										<i class="fa fa-download"></i>&nbsp;&nbsp;
									</a>
									<label class="label label-sm label-default" ng-if="ChangedDataDetailCtrl.item.item.DocumentURL === null">
										<i class="fa fa-times"></i>&nbsp;&nbsp;{{'DOKUMEN_DATAIJIN'|translate}}
									</label>
								</td>
							</tr>
							<tr>
								<th style="width:150px;">{{'TABLE.COMMODITY'|translate}}</th>
								<td>{{ChangedDataDetailCtrl.item.item.Commodity.Name}}</td>
							</tr>
						</table>
					</div>

                    <!--kuesioner-->
                    <div ng-if="ChangedDataDetailCtrl.param==='12a'" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">No</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.PERTANYAAN'|translate}}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.JAWABAN'|translate}}</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.KETERANGAN'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="obj in ChangedDataDetailCtrl.vendorQuestionnaireTemp">
                                    <td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
                                    <td style="vertical-align: middle;"><label class="labelnonbold" style="font-size:13px"><span ng-bind-html="obj.QuestionName"></span></label></td>
                                    <td style="vertical-align: middle;">{{obj.AnswerName}}</td>
                                    <td style="vertical-align: middle;">{{obj.Description}}</td>
                                </tr>
                                <tr ng-if="ChangedDataDetailCtrl.vendorQuestionnaireTemp.length === 0">
                                    <td colspan="4">{{'NO_DATA'|translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--kuesioner url-->
                    <div ng-if="ChangedDataDetailCtrl.param==='12b'" class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" style="vertical-align: middle;">No</th>
                                    <th class="text-center" style="vertical-align: middle;">{{'TABLE.DOWNLOAD_KUESIONER'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrlTemp != null">
                                    <td class="text-center" style="vertical-align: middle;">1</td>
                                    <td style="vertical-align: middle;">
                                        <a href="{{ChangedDataDetailCtrl.folderFile + ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrlTemp}}" target="_BLANK"
                                           class="label label-xs label-primary" title="{{'DOWNLOAD'|translate}}">
                                            <i class="fa fa-download"></i>&nbsp;&nbsp;
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="ChangedDataDetailCtrl.QuestionnaireUrl.QuestionnaireUrlTemp == null">
                                    <td colspan="2">{{'NO_DATA_CHANGED'|translate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

					<!--end: detail data-->
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-danger" ng-click="ChangedDataDetailCtrl.batal()" title="{{'BTN.BATAL'|translate}}">
			<i class="fa fa-arrow-circle-left"></i>&nbsp;
		</button>
	</div>
</div>