﻿<div class="modal-content" ng-init="detCRVCtrl.init()">
	<form>
		<div class="modal-header">
			<h3 class="modal-title">{{'REQUEST_DATA'|translate}}</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="form-group">
							<label class="control-label col-md-4">{{'VENDOR_NAME'|translate}}</label>
							<div class="col-md-8">
								<!--input type="text" class="form-control input-sm" ng-model="detCRVCtrl.VendorName" readonly /-->
								{{detCRVCtrl.VendorName}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="control-label col-md-4">{{'REQUEST_DATE'|translate}}</label>
							<div class="col-md-8">
								<!--input type="text" class="form-control input-sm" ng-model="detCRVCtrl.CRDate" readonly /-->
								{{detCRVCtrl.CRDate | date : 'dd-MM-yyyy'}}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="control-label col-md-4">{{'TABLE.CHANGE_LIMIT'|translate}} <span style="color: red;">*</span></label>
							<div class="col-md-8">
								<!--<input type="text" class="form-control input-sm" ng-model="detCRVCtrl.CREndDate" readonly />-->
								<div class="input-group date form_datetime">
									<input required class="form-control" style="background-color:#ffffff;" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'BTN.TUTUP'|translate}}"
										   is-open="detCRVCtrl.isCalendarOpened[0]" ng-blur="detCRVCtrl.cekDate(detCRVCtrl.CREndDate,'MESSAGE.CRENDDATENOTVALID')" ng-model="detCRVCtrl.CREndDate" ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="detCRVCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<div class="table-responsive">
							<table class="table table-bordered table-striped" id="table-rekanan">
								<thead>
									<tr>
										<th style="display:none;" class="text-center"></th>
										<th width="40%">{{'TABLE.CHANGE_DATA_REQUEST'|translate}}</th>
										<th>{{'TABLE.KETERANGAN'|translate}}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="cr in detCRVCtrl.listCR">
										<td style="display:none;" class="text-center">
											<input type="checkbox" ng-checked="true" ng-model="cr.IsApproved" />
											<!--<input type="checkbox" ng-checked="!(cr.IsApproved === 0)" ng-model="cr.IsApproved" />-->
										</td>
										<td>{{cr.OpsiName | translate}}</td>
										<td>{{cr.Description}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-md-12 text-right">
					<button ng-click="detCRVCtrl.batal()" class="btn btn-sm btn-default" title="{{'BTN.BACK'|translate}}"><i class="fa fa-arrow-left"></i> {{'BTN.BACK'|translate}} </button>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="collapse" data-target="#rejectCR" title="{{'BTN.REJECT_REQUEST'|translate}}"><i class="fa fa-close"></i> {{'BTN.REJECT'|translate}} </button>
					<button type="submit" ng-click="detCRVCtrl.approvedCR(true)" class="btn btn-sm btn-success" title="{{'BTN.APPROVE_AND_OPEN'|translate}}">
						<i class="fa fa-save"></i> {{'BTN.SAVE'|translate}} 
					</button>
                    <!--
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
                    <div id="demo" class="collapse">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>-->
				</div>
			</div>
		</div>
        <div id="rejectCR" class="collapse modal-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                       <div class="form-group">
                        <label class="control-label col-md-4">{{'Alasan'|translate}} <span style="color: red;">*</span></label>
                        <div class="col-md-8">
                            <textarea ng-model="detCRVCtrl.remarkRejectCR" class="form-control" name="editor1" cols="80" rows="3" placeholder="{{'Alasan mereject permintaan ubah data vendor'|translate}}"></textarea>
                        </div>
                </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 text-right">
                    <!--
                    <button ng-click="detCRVCtrl.cancelrejectCR()" class="btn btn-sm btn-danger" title="Cancel Reject Change Request">
                        <i class="fa fa-close"></i>
                    </button>-->
                    <button type="submit" ng-click="detCRVCtrl.rejectCRfinal()" class="btn btn-sm btn-success" title="Reject Change Request">
                        <i class="fa fa-save"></i> {{'BTN.SAVE'|translate}} 
                    </button>
                </div>
            </div>
        </div>
        <!--
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button ng-click="detCRVCtrl.cancelrejectCR()" class="btn btn-sm btn-danger" title="Cancel Reject Change Request">
                        <i class="fa fa-close"></i>
                    </button>
                    <button type="submit" ng-click="detCRVCtrl.rejectCRfinal()" class="btn btn-sm btn-success" title="Reject Change Request">
                        <i class="fa fa-save"></i>
                    </button>
                </div>
            </div>
        </div>-->
	</form>
</div>