﻿<section class="content" ng-init="detOLCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-rekanan/cr-openlock/////" class="active">{{'BREADCRUMB.OPEN_LOCK'|translate}}</a></li>
        <li><a href="#/data-rekanan/detail-openlock/{{detOLCtrl.CRID}}/{{detOLCtrl.currentMainPage}}">{{'REQUEST_DATA_CHANGE'|translate}}</a></li>
    </ol>
	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title afta-font text-center">{{'REQUEST_DATA_CHANGE'|translate}}</h3>
		</div>
		<form ng-submit="detOLCtrl.save()">
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label col-md-3">{{'VENDOR_NAME'|translate}}</label>
							<div class="col-md-8">
								: {{detOLCtrl.VendorName}}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="control-label col-md-3">{{'REQUEST_DATA_CHANGE'|translate}}</label>
							<div class="col-md-8">
								: {{detOLCtrl.CRDate}}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_ADM_LEGAL'">
							<div class="col-md-6">
								<!--data sebelum diubah-->
								<h5 class="box-title"><strong>{{'DATA_BEFORE_CHANGE'|translate}}</strong></h5>

								<!--administrasi -->
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<tr>
											<th>{{'TABLE.USERNAME'|translate}}</th>
											<td>{{detOLCtrl.verified.Vendor.user.Username}}</td>
										</tr>

										<tr>
											<th>{{'TABLE.EMAIL_USER'|translate}}</th>
											<td ng-if="detOLCtrl.Email !== null">{{detOLCtrl.Email}}</td>
											<td ng-if="detOLCtrl.Email === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.COMPANY_NAME'|translate}}</th>
											<td ng-if="detOLCtrl.verified.Vendor.VendorName !== null">{{detOLCtrl.verified.Vendor.VendorName}}</td>
											<td ng-if="detOLCtrl.verified.Vendor.VendorName === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompany.State.Country.Code == 'IDN'">
											<th>{{'TABLE.COMPANY_TYPE'|translate}}</th>
											<td ng-if="detOLCtrl.verified.Business.Name !== null">{{detOLCtrl.verified.Business.Name | translate}}</td>
											<td ng-if="detOLCtrl.verified.Business.Name === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.SUPPLIER_TYPE'|translate}}</th>
											<td ng-if="detOLCtrl.verified.SupplierTemp !== null">{{detOLCtrl.verified.SupplierTemp.Name | translate}}</td>
											<td ng-if="detOLCtrl.verified.SupplierTemp === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'COMPANY_TYPE'|translate}}</th>
											<td ng-if="detOLCtrl.verified.VendorType.Name !== null">{{detOLCtrl.verified.VendorType.Name | translate}}</td>
											<td ng-if="detOLCtrl.verified.VendorType.Name === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompany.State.Country.Code == 'IDN'">
											<th>{{'TABLE.ASSOCIATION'|translate}}</th>
											<td ng-if="detOLCtrl.verified.Association !== null">{{detOLCtrl.verified.AssociationTemp.AssosiationName | translate}}</td>
											<td ng-if="detOLCtrl.verified.Association === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompany.State.Country.Code == 'IDN'">
											<th>{{'TABLE.NPWP_DOCUMENT'|translate}}</th>
											<td ng-if="detOLCtrl.verified.NpwpUrl !== null"><a href="{{detOLCtrl.folderFile+detOLCtrl.verified.NpwpUrl}}" target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-download"> </i></a></td>
											<td ng-if="detOLCtrl.verified.NpwpUrl === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompany.State.Country.Code == 'IDN'">
											<th>{{'TABLE.SPPKP_NUMBER'|translate}}</th>
											<td ng-if="detOLCtrl.verified.PKPNumber !== null">{{detOLCtrl.verified.PKPNumber}}</td>
											<td ng-if="detOLCtrl.verified.PKPNumber === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompany.State.Country.Code == 'IDN'">
											<th>{{'TABLE.SPPKP_DOCUMENT'|translate}}</th>
											<td ng-if="detOLCtrl.verified.PKPUrl !== null"><a href="{{detOLCtrl.folderFile+detOLCtrl.verified.PKPUrl}}" target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-download"> </i></a></td>
											<td ng-if="detOLCtrl.verified.PKPUrl === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.ALAMAT'|translate}} {{detOLCtrl.ContactName}}</th>
											<td ng-if="detOLCtrl.address1 !== null">{{detOLCtrl.address1}}</td>
											<td ng-if="detOLCtrl.address1 === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.TELEPON'|translate}}</th>
											<td ng-if="detOLCtrl.Phone !== undefined">{{detOLCtrl.Phone}}</td>
											<td ng-if="detOLCtrl.Phone === undefined">Tidak Ada</td>
										</tr>
										<tr>
											<th>Fax</th>
											<td ng-if="detOLCtrl.Fax !== undefined">{{detOLCtrl.Fax}}</td>
											<td ng-if="detOLCtrl.Fax === undefined">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.COMPANY_EMAIL'|translate}}</th>
											<td ng-if="detOLCtrl.Email !== null">{{detOLCtrl.Email}}</td>
											<td ng-if="detOLCtrl.Email === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>Website</th>
											<td ng-if="detOLCtrl.Website !== null">{{detOLCtrl.Website}}</td>
											<td ng-if="detOLCtrl.Website === null">Tidak Ada</td>
										</tr>
									</table>
								</div>
							</div>

							<div ng-if="detOLCtrl.isEdited" class="col-md-6">
								<!--data sebelum diubah-->
								<h5 class="box-title"><strong>{{'DATA_AFTER_CHANGE'|translate}}</strong></h5>

								<!--administrasi -->
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<tr>
											<th>{{'TABLE.USERNAME'|translate}}</th>
											<td>{{detOLCtrl.verified.Vendor.user.Username}}</td>
										</tr>
										<tr>
											<th>{{'TABLE.EMAIL_USER'|translate}}</th>
											<td ng-if="detOLCtrl.Email !== null">{{detOLCtrl.Email}}</td>
											<td ng-if="detOLCtrl.Email === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.COMPANY_NAME'|translate}}</th>
											<td ng-if="detOLCtrl.verified.VendorName !== null">{{detOLCtrl.verified.VendorName}}</td>
											<td ng-if="detOLCtrl.verified.VendorName === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompanyTemp.State.Country.Code == 'IDN'">
											<th>{{'TABLE.COMPANY_TYPE'|translate}}</th>
											<td ng-if="detOLCtrl.verified.BusinessTemp.Name !== null">{{detOLCtrl.verified.BusinessTemp.Name | translate}}</td>
											<td ng-if="detOLCtrl.verified.BusinessTemp.Name === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.SUPPLIER_TYPE'|translate}}</th>
											<td ng-if="detOLCtrl.verified.Supplier !== null">{{detOLCtrl.verified.Supplier.Name | translate}}</td>
											<td ng-if="detOLCtrl.verified.Supplier === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'COMPANY_TYPE'|translate}}</th>
											<td ng-if="detOLCtrl.verified.VendorTypeTemp.Name !== null">{{detOLCtrl.verified.VendorTypeTemp.Name | translate}}</td>
											<td ng-if="detOLCtrl.verified.VendorTypeTemp.Name === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompanyTemp.State.Country.Code == 'IDN'">
											<th>{{'TABLE.ASSOCIATION'|translate}}</th>
											<td ng-if="detOLCtrl.verified.AssociationTemp !== null">{{detOLCtrl.verified.Association.AssosiationName | translate}}</td>
											<td ng-if="detOLCtrl.verified.AssociationTemp === null">Tidak Ada</td>
										</tr>

										<tr ng-if="detOLCtrl.AddressCompanyTemp.State.Country.Code == 'IDN'">
											<th>{{'TABLE.NPWP_DOCUMENT'|translate}}</th>
											<td ng-if="detOLCtrl.verified.Vendor.NpwpUrl !== null"><a href="{{detOLCtrl.folderFile+detOLCtrl.verified.Vendor.NpwpUrl}}" target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-download"> </i></a></td>
											<td ng-if="detOLCtrl.verified.Vendor.NpwpUrl === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompanyTemp.State.Country.Code == 'IDN'">
											<th>{{'TABLE.SPPKP_NUMBER'|translate}}</th>
											<td ng-if="detOLCtrl.verified.Vendor.PKPNumber !== null">{{detOLCtrl.verified.Vendor.PKPNumber}}</td>
											<td ng-if="detOLCtrl.verified.PVendor.PKPNumber === null">Tidak Ada</td>
										</tr>
										<tr ng-if="detOLCtrl.AddressCompanyTemp.State.Country.Code == 'IDN'">
											<th>{{'SPPKP_DOCUMENT'|translate}}</th>
											<td ng-if="detOLCtrl.verified.Vendor.PKPUrl !== null"><a href="{{detOLCtrl.folderFile+detOLCtrl.verified.Vendor.PKPUrl}}" target="_blank" class="btn btn-sm btn-primary"><i class="fa fa-download"> </i></a></td>
											<td ng-if="detOLCtrl.verified.Vendor.PKPUrl === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.ADDRESS'|translate}} {{detOLCtrl.ContactName}}</th>
											<td ng-if="detOLCtrl.addressTemp !== null">{{detOLCtrl.addressTemp}}</td>
											<td ng-if="detOLCtrl.addressTemp === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.TELEPON'|translate}}</th>
											<td ng-if="detOLCtrl.PhoneTemp !== undefined">{{detOLCtrl.PhoneTemp}}</td>
											<td ng-if="detOLCtrl.PhoneTemp === undefined">Tidak Ada</td>
										</tr>
										<tr>
											<th>Fax</th>
											<td ng-if="detOLCtrl.FaxTemp !== undefined">{{detOLCtrl.FaxTemp}}</td>
											<td ng-if="detOLCtrl.FaxTemp === undefined">Tidak Ada</td>
										</tr>
										<tr>
											<th>{{'TABLE.COMPANY_EMAIL'|translate}}</th>
											<td ng-if="detOLCtrl.EmailTemp !== null">{{detOLCtrl.EmailTemp}}</td>
											<td ng-if="detOLCtrl.EmailTemp === null">Tidak Ada</td>
										</tr>
										<tr>
											<th>Website</th>
											<td ng-if="detOLCtrl.WebsiteTemp !== null">{{detOLCtrl.WebsiteTemp}}</td>
											<td ng-if="detOLCtrl.WebsiteTemp === null">Tidak Ada</td>
										</tr>
									</table>
								</div>
							</div>


							<div class="col-md-12">
								<div class="form-group">
									<div class="row margin-atas">
										<div class="col-md-6 center-block" style="float: none!important;">
											<h4 class="text-center afta-font">{{'CHANGE'|translate}}</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="table table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th class="text-center" style="vertical-align: middle;">No</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.NAME'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">Email</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.TELEPON'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">Status</th>
															<th class="text-center" style="vertical-align: middle;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="obj in detOLCtrl.ListPersonal">
															<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
															<td style="vertical-align: middle;">{{obj.Contact.Name}}</td>
															<td style="vertical-align: middle;">{{obj.Contact.Email}}</td>
															<td style="vertical-align: middle;">{{obj.Contact.Phone}}</td>
															<td ng-if="obj.Action === 0" style="vertical-align: middle;">Added</td>
															<td ng-if="obj.Action === 1" style="vertical-align: middle;">Modified</td>
															<td ng-if="obj.Action === 2" style="vertical-align: middle;">Deleted</td>
															<td ng-if="obj.Action === null" style="vertical-align: middle;">&nbsp;</td>
															<td class="text-center" style="vertical-align: middle;">
																<a ng-click="detOLCtrl.detailChangedData(1,obj)" class="label label-flat label-sm label-warning">
																	<i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i>
																</a>&nbsp;
															</td>
														</tr>
														<tr ng-if="detOLCtrl.ListPersonal.length === 0">
															<td colspan="7">{{'NO_DATA_CHANGED'|translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="row margin-atas">
										<div class="col-md-6 center-block" style="float: none!important;">
											<h4 class="text-center afta-font">{{'CHANGE_TO_CURRENCY'|translate}}</h4>
										</div>
									</div>

									<div class="col-md-12">
										<div class="table table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th class="text-center" style="vertical-align: middle;">No</th>
														<th class="text-center" style="vertical-align: middle;">Simbol</th>
														<th class="text-center" style="vertical-align: middle;">Label</th>
														<th class="text-center" style="vertical-align: middle;">Status</th>
														<th class="text-center" style="vertical-align: middle;"></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="obj in detOLCtrl.Currency">
														<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
														<td style="vertical-align: middle;">{{obj.MstCurrency.Symbol}}</td>
														<td style="vertical-align: middle;">{{obj.MstCurrency.Label}}</td>
														<td ng-if="obj.Action === 0" style="vertical-align: middle;">Added</td>
														<td ng-if="obj.Action === 1" style="vertical-align: middle;">Modified</td>
														<td ng-if="obj.Action === 2" style="vertical-align: middle;">Deleted</td>
														<td ng-if="obj.Action === null" style="vertical-align: middle;">&nbsp;</td>
														<td class="text-center" style="vertical-align: middle;">
															<a ng-click="detOLCtrl.detailChangedData(1,obj)" class="label label-flat label-sm label-warning">
																<i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i>
															</a>&nbsp;
														</td>
													</tr>
													<tr ng-if="detOLCtrl.Currency.length === 0">
														<td colspan="7">{{'NO_DATA_CHANGED'|translate}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDOREXPERTS'">
							<div class="col-md-12">
								<div class="form-group">
									<h3 class="afta-font text-center">{{'EXPERT_DATA'|translate}}</h3>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-10 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th class="text-center" style="vertical-align: middle;">No</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.NAME'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.PENDIDIKAN'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.JABATAN'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.EXPERIENCE'|translate}}</th>
																	<th class="text-center">{{'TABLE.EXPERTISE'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;"></th>
																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.vendorexperts.length <= 0">
																	<td colspan="7" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA'|translate}}</span>
																		</div>
																	</td>
																</tr>
																<tr ng-repeat="obj in  detOLCtrl.vendorexperts">
																	<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
																	<td style="vertical-align: middle;">{{obj.Name}}</td>
																	<td class="text-center" style="vertical-align: middle;">{{obj.Education}}</td>
																	<td style="vertical-align: middle;">{{obj.Position}}</td>
																	<td class="text-center" style="vertical-align: middle;">{{obj.YearOfExperience}}</td>
																	<td style="vertical-align: middle;">{{obj.Expertise}}</td>
																	<td class="text-center" style="vertical-align: middle!important;">
																		<a ng-click="detOLCtrl.detailChangedData(7, obj)" class="btn btn-sm btn-warning"><i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i></a>
																		<a ng-click="detOLCtrl.viewDetail(obj)" class="btn btn-sm btn-success"><i class="fa fa-external-link" title="Curricullum Vitae"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-show="detOLCtrl.flag === true">
										<hr style="margin-bottom: 5px; margin-top: 5px;" />
										<div class="row">
											<div class="col-md-12">
												<h4 class="text-center afta-font">CURRICULUM VITAE</h4>
											</div>
										</div>
										<hr style="margin-top: 5px;" />
										<div class="row">
											<div class="col-md-11 center-block well" style="float: none!important;">
												<div class="row">
													<div class="col-md-3 col-sm-12 col-xs-12 center-block">
														<label class="afta-font" style="font-size: 1.5em;">Pengalaman Kerja</label>
													</div>
													<div class="col-md-12">
														<div class="table-responsive">
															<table class="table table-striped table-bordered">
																<thead>
																	<tr>
																		<th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
																		<th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">Mulai</th>
																		<th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">Hingga</th>
																		<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
																		<th class="text-center" style="vertical-align: middle;">Job Deskripsi</th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="obj in detOLCtrl.CertificatePengalaman">
																		<td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-mm-yyyy"}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-mm-yyyy"}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">
																			<a href="{{detOLCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary" title="Download"><i class="fa fa-download"></i>&nbsp;</a>
																		</td>
																		<td style="vertical-align: middle!important;">{{obj.Description}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<hr />
												<div class="row">
													<div class="col-md-3 col-sm-12 col-xs-12 center-block">
														<label class="afta-font" style="font-size: 1.5em;">Pendidikan</label>
													</div>
													<div class="col-md-12">
														<div class="table-responsive">
															<table class="table table-striped table-bordered">
																<thead>
																	<tr>
																		<th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
																		<th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">Mulai</th>
																		<th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">Hingga</th>
																		<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
																		<th class="text-center" style="vertical-align: middle;">Job Deskripsi</th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="obj in detOLCtrl.CertificatePendidikan">
																		<td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">
																			<a href="{{detOLCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary"><i class="fa fa-download"></i>&nbsp;Download</a>
																		</td>
																		<td style="vertical-align: middle!important;">{{obj.Description}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<hr />
												<div class="row">
													<div class="col-md-3 col-sm-12 col-xs-12 center-block">
														<label class="afta-font" style="font-size: 1.5em;">Sertifikat</label>
													</div>
													<div class="col-md-12">
														<div class="table-responsive">
															<table class="table table-striped table-bordered">
																<thead>
																	<tr>
																		<th class="text-center" style="width: 40px; min-width: 40px; vertical-align: middle;">No</th>
																		<th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">Mulai</th>
																		<th class="text-center" style="width: 160px; min-width: 160px; vertical-align: middle;">Hingga</th>
																		<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">File</th>
																		<th class="text-center" style="vertical-align: middle;">Job Deskripsi</th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="obj in detOLCtrl.CertificateSertifikat">
																		<td class="text-center" style="vertical-align: middle!important;">{{$index+1}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">{{obj.StartDate | date: "dd-MM-yyyy"}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">{{obj.EndDate | date: "dd-MM-yyyy"}}</td>
																		<td class="text-center" style="vertical-align: middle!important;">
																			<a href="{{detOLCtrl.folderFile + obj.DocUrl}}" target="_BLANK" ng-if="obj.DocUrl !== null" class="label label-sm label-primary"><i class="fa fa-download"></i>&nbsp;Download</a>
																		</td>
																		<td style="vertical-align: middle!important;">{{obj.Description}}</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
												<hr />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDOREQUIPMENT'">
							<div class="row">
								<div class="col-md-12">
									<h3 class="afta-font text-center">{{'PERLENGKAPAN'|translate}}</h3>
								</div>
							</div>
							<div class="row">
								<!--
								<div class="col-md-12">
									<div class="table table-responsive">
										<table class="table table-bordered">
											<thead>
												<tr>
													<th class="center-vertical">No</th>
													<th class="center-vertical">Kategori</th>
													<th class="center-vertical">Luas(M<sup>2</sup>)</th>
													<th class="center-vertical" width="30%">Alamat</th>
													<th class="center-vertical">Status Kepemilikan(Sewa/Milik Sendiri *)</th>
													<th class="center-vertical" style="width: 120px; min-width: 120px;">Status</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="obj in detOLCtrl.listBuilding" ng-class="{'bg-danger': obj.IsTemporary === true}">
													<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
													<td style="vertical-align: middle;">{{obj.category.Value}}</td>
													<td class="center-vertical">{{obj.BuildingArea}}</td>
													<td class="middle-vertical">{{obj.address.AddressInfo}} {{obj.address.AddressDetail}}</td>
													<td class="middle-vertical">{{obj.ownershipStatus.Value}}</td>
													<td ng-if="obj.Action === 0" style="vertical-align: middle;">Added</td>
													<td ng-if="obj.Action === 1" style="vertical-align: middle;">Modified</td>
													<td ng-if="obj.Action === 2" style="vertical-align: middle;">Deleted</td>
													<td class="text-center" style="vertical-align: middle!important;">
														<a ng-click="detOLCtrl.detail(1, obj)" class="btn btn-xs btn-primary">
															<i class="fa fa-eye"></i>&nbsp; Lihat
														</a>
													</td>
												</tr>
												<tr ng-if="DataPerlengkapanCtrl.listBuilding.length === 0">
													<td colspan="6">Data Tidak ada</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>-->
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<h4 class="afta-font text-center">{{'DATA_BANGUNAN'|translate}}</h4>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
											<div class="table table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th class="center-vertical">No</th>
															<th class="center-vertical">{{'TABLE.KATEGORI'|translate}}</th>
															<th class="center-vertical">{{'TABLE.LUAS'|translate}}(M<sup>2</sup>)</th>
															<th class="center-vertical" width="30%">{{'TABLE.ALAMAT'|translate}}</th>
															<th class="center-vertical">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
															<th class="center-vertical">Status</th>
															<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="obj in detOLCtrl.dataBuilding" ng-class="{'bg-danger': obj.IsTemporary === true}">
															<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
															<td style="vertical-align: middle;">{{obj.category.Value}}</td>
															<td class="center-vertical">{{obj.BuildingArea}}</td>
															<td class="middle-vertical">{{obj.address.AddressInfo}} {{obj.address.AddressDetail}}</td>
															<td class="middle-vertical">{{obj.ownershipStatus.Value}}</td>
															<td ng-if="obj.Action===0" class="middle-vertical">Added</td>
															<td ng-if="obj.Action===1" class="middle-vertical">Modified</td>
															<td ng-if="obj.Action===2" class="middle-vertical">Deleted</td>
															<td ng-if="obj.Action===null" class="middle-vertical"></td>
															<td class="center-vertical">
																<a ng-click="detOLCtrl.detailChangedData('8a', obj)" class="label label-flat label-sm label-warning">
																	<i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i>
																</a>
															</td>
														</tr>
														<tr ng-if="detOLCtrl.listBuilding.length === 0">
															<td colspan="6">{{'NO_DATA'|translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<h4 class="afta-font text-center">{{'DATA_KENDARAAN'|translate}}</h4>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
											<div class="table table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th class="center-vertical">No</th>
															<th class="center-vertical">{{'TABLE.NAMA_ALAT'|translate}}</th>
															<th class="center-vertical">{{'TABLE.MERK/TIPE'|translate}}</th>
															<th class="center-vertical">{{'TABLE.TAHUN_PEMBUATAN'|translate}}</th>
															<th class="center-vertical">{{'TABLE.NO_SERI_NO_POLISI'|translate}}</th>
															<th class="center-vertical">{{'TABLE.KAPASITAS'|translate}}</th>
															<th class="center-vertical">{{'TABLE.KONDISI'|translate}}</th>
															<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
															<th class="center-vertical">Status</th>
															<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="objc in detOLCtrl.dataVehicle" ng-class="{'bg-danger': objc.IsTemporary === true}">
															<td class="text-center">{{detOLCtrl.currentPage > 1 ? (detOLCtrl.maxSize * (detOLCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
															<td>{{objc.Name}}</td>
															<td class="center-vertical">{{objc.Brand}}</td>
															<td class="middle-vertical">{{objc.MfgDate}}</td>
															<td class="middle-vertical">{{objc.SerialNo}}</td>
															<td class="center-vertical">{{objc.Capacity}}</td>
															<td class="middle-vertical">{{objc.ConditionRef.Value}} </td>
															<td class="text-center">{{objc.OwnershipRef.Value}}</td>
															<td ng-if="objc.Action===0" class="middle-vertical">Added</td>
															<td ng-if="objc.Action===1" class="middle-vertical">Modified</td>
															<td ng-if="objc.Action===2" class="middle-vertical">Deleted</td>
															<td ng-if="objc.Action===null" class="middle-vertical"></td>
															<td class="center-vertical">
																<a ng-click="detOLCtrl.detailChangedData('8b', objc)" class="label label-flat label-sm label-warning"><i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i></a>
															</td>
														</tr>
														<tr ng-if="detOLCtrl.listVehicle.length === 0">
															<td colspan="9">{{'NO_DATA'|translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<h4 class="afta-font text-center">{{'DATA_PERALATAN'|translate}}</h4>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
											<div class="table table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th class="center-vertical">No</th>
															<th class="center-vertical">{{'TABLE.NAMA_ALAT'|translate}}</th>
															<th class="center-vertical">{{'TABLE.MERK/TIPE'|translate}}</th>
															<th class="center-vertical">{{'TABLE.TAHUN_PEMBUATAN'|translate}}</th>
															<th class="center-vertical">{{'TABLE.NO_SERI_NO_POLISI'|translate}}</th>
															<th class="center-vertical">{{'TABLE.KAPASITAS'|translate}}</th>
															<th class="center-vertical">{{'TABLE.KONDISI'|translate}}</th>
															<th class="center-vertical" style="width: 160px; min-width: 160px;">{{'TABLE.STATUS_KEPEMILIKAN'|translate}}</th>
															<th class="center-vertical" style="width: 160px; min-width: 160px;">Status</th>
															<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="objc in detOLCtrl.dataEquipment" ng-class="{'bg-danger': objc.IsTemporary === true}">
															<td class="text-center" style="vertical-align: middle;">{{detOLCtrl.currentPage > 1 ? (detOLCtrl.maxSize * (detOLCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
															<td style="vertical-align: middle;">{{objc.Name}}</td>
															<td class="center-vertical">{{objc.Brand}}</td>
															<td class="middle-vertical">{{objc.MfgDate}}</td>
															<td class="middle-vertical">{{objc.SerialNo}}</td>
															<td class="center-vertical">{{objc.Capacity}} CC</td>
															<td class="middle-vertical">{{objc.ConditionRef.Value}} </td>
															<td class="text-center">{{objc.OwnershipRef.Value}}</td>
															<td ng-if="objc.Action===0" class="middle-vertical">Added</td>
															<td ng-if="objc.Action===1" class="middle-vertical">Modified</td>
															<td ng-if="objc.Action===2" class="middle-vertical">Deleted</td>
															<td ng-if="objc.Action===null" class="middle-vertical"></td>
															<td class="center-vertical">
																<a ng-click="detOLCtrl.detailChangedData('8c', objc)" class="label label-flat label-sm label-warning"><i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i></a>
															</td>
														</tr>
														<tr ng-if="detOLCtrl.listEquipmentTools.length === 0">
															<td colspan="9">{{'NO_DATA'|translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDORSTOCK'">
							<div class="col-md-12">
								<div class="form-group">
									<h3 class="text-center afta-font">{{'KEPEMILIKAN_SAHAM'|translate}}</h3>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-11 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th class="text-center" style="vertical-align: middle;">No</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.TIPE_PEMILIK'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.NAME'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.KTP_NUMBER'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.SAHAM'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.BERKAS'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">Status</th>

																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.verified <= 0">
																	<td colspan="5" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA'|translate}}</span>
																		</div>

																	</td>
																</tr>
																<tr ng-repeat="dt in detOLCtrl.changedData">
																	<td class="text-center" style="vertical-align: middle!important;">{{$index + 1}}</td>
																	<td class="text-left" ng-if="dt.stockTypeID===4309" style="vertical-align: middle!important;">Perseorangan</td>
																	<td class="text-left" ng-if="dt.stockTypeID===4310" style="vertical-align: middle!important;">Perusahaan</td>
																	<td class="text-left" style="vertical-align: middle!important;">{{dt.OwnerName}}</td>
																	<td class="text-center" style="vertical-align: middle!important;">{{dt.OwnerID}}</td>
																	<td class="text-center" style="vertical-align: middle!important;">{{dt.Quantity}} {{dt.Unit.Value | translate}}</td>
																	<td ng-if="dt.OwnerIDUrl" class="text-center"><a href="{{detOLCtrl.folderFile + dt.OwnerIDUrl}}" class="btn btn-xs btn-primary" target="_BLANK"><i class="fa fa-download" title="Download"></i>&nbsp;&nbsp;</a></td>
																	<td ng-if="!dt.OwnerIDUrl" class="text-center">Tidak Ada</td>
																	<td ng-if="dt.Action===0">Added</td>
																	<td ng-if="dt.Action===1">Modified</td>
																	<td ng-if="dt.Action===2">Deleted</td>
																	<td ng-if="dt.Action===null"></td>
																</tr>
																<tr ng-if="detOLCtrl.changedData.length===0">
																	<td colspan="6">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA_CHANGED_YET'|translate}}</span>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<h3 class="text-center afta-font">{{'DEED_OF_INCORPORATION'|translate}}</h3>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-11 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th class="text-center" style="vertical-align: middle;">No</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.LETTER_DATE'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.NOTARIS_NAME'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.NOTARIS_PLACE'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.BERKAS'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">Status</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.verified <= 0">
																	<td colspan="5" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA'|translate}}</span>
																		</div>
																	</td>
																</tr>
																<tr ng-repeat="dl in detOLCtrl.legalDocChangedData">
																	<td class="text-center" style="vertical-align: middle!important;">{{dl.DocumentNo}}</td>
																	<td class="text-left" style="vertical-align: middle!important;">{{dl.DocumentDate | date: "dd-MMM-yyyy"}}</td>
																	<td class="text-center" style="vertical-align: middle!important;">{{dl.NotaryName}}</td>
																	<td class="text-center" style="vertical-align: middle!important;">{{dl.NotaryLocationName}}</td>
																	<td ng-if="dl.DocumentURL" class="text-center"><a href="{{detOLCtrl.folderFile + dl.DocumentURL}}" class="btn btn-xs btn-primary" target="_BLANK"><i class="fa fa-download" title="Download"></i>&nbsp;&nbsp;</a></td>
																	<td ng-if="!dl.DocumentURL" class="text-center">Tidak Ada</td>
																	<td ng-if="dl.Action===0">Added</td>
																	<td ng-if="dl.Action===1">Modified</td>
																	<td ng-if="dl.Action===2">Deleted</td>
																	<td ng-if="dl.Action===null"></td>
																	<td class="text-center">
																		<a ng-click="detOLCtrl.detailChangedData('1000',dl)" class="btn btn-xs btn-primary">
																			<i class="fa fa-eye"></i>&nbsp; Lihat
																		</a>
																	</td>
																</tr>
																<tr ng-if="detOLCtrl.legalDocChangedData.length === 0">
																	<td colspan="6">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA_CHANGED_YET'|translate}}</span>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<h3 class="text-center afta-font">{{'LAST_CHANGE'|translate}}</h3>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-11 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th class="text-center" style="vertical-align: middle;">No</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.LETTER_DATE'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.NOTARIS_NAME'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.BERKAS'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">Status</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.verified <= 0">
																	<td colspan="5" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA'|translate}}</span>
																		</div>
																	</td>
																</tr>
																<tr ng-repeat="dp in detOLCtrl.perubahanDocListDocChangedData">
																	<td class="text-center" style="vertical-align: middle!important;">{{dp.DocumentNo}}</td>
																	<td class="text-left" style="vertical-align: middle!important;">{{dp.DocumentDate | date: "dd-MMM-yyyy"}}</td>
																	<td class="text-center" style="vertical-align: middle!important;">{{dp.NotaryName}}</td>
																	<td ng-if="dp.DocumentURL" class="text-center">
																		<a href="{{detOLCtrl.folderFile + dp.DocumentURL}}" class="btn btn-xs btn-primary" target="_BLANK">
																			<i class="fa fa-download" title="Download"></i>&nbsp;&nbsp;
																		</a>
																	</td>
																	<td ng-if="!dp.DocumentURL" class="text-center">Tidak Ada</td>
																	<td ng-if="dp.Action===0">Added</td>
																	<td ng-if="dp.Action===1">Modified</td>
																	<td ng-if="dp.Action===2">Deleted</td>
																	<td ng-if="dp.Action===null"></td>
																	<td class="text-center">
																		<a ng-click="detOLCtrl.detailChangedData('1000',dp)" class="btn btn-xs btn-primary">
																			<i class="fa fa-eye"></i>&nbsp; Lihat
																		</a>
																	</td>
																</tr>
																<tr ng-if="detOLCtrl.perubahanChangedData.length === 0">
																	<td colspan="6">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA_CHANGED_YET'|translate}}</span>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<h3 class="text-center afta-font">{{'DATA_PENGESAHAN'|translate}}</h3>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-md-11 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th class="text-center" style="vertical-align: middle;">No</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.LETTER_DATE'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.BERKAS'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">Status</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.verified <= 0">
																	<td colspan="5" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA'|translate}}</span>
																		</div>
																	</td>
																</tr>
																<tr ng-repeat="dk in detOLCtrl.kemkumhamDocListDocChangedData">
																	<td class="text-center" style="vertical-align: middle!important;">{{dk.DocumentNo}}</td>
																	<td class="text-left" style="vertical-align: middle!important;">{{dk.DocumentDate | date: "dd-MMM-yyyy"}}</td>
																	<td ng-if="dk.DocumentURL" class="text-center">
																		<a href="{{detOLCtrl.folderFile + dk.DocumentURL}}" class="btn btn-xs btn-primary" target="_BLANK">
																			<i class="fa fa-download" title="Download"></i>&nbsp;&nbsp;
																		</a>
																	</td>
																	<td ng-if="!dk.DocumentURL" class="text-center">Tidak Ada</td>
																	<td ng-if="dk.Action===0">Added</td>
																	<td ng-if="dk.Action===1">Modified</td>
																	<td ng-if="dk.Action===2">Deleted</td>
																	<td ng-if="dk.Action===null"></td>
																	<td class="text-center">
																		<a ng-click="detOLCtrl.detailChangedData('1000',dk)" class="btn btn-xs btn-primary">
																			<i class="fa fa-eye"></i>&nbsp; Lihat
																		</a>
																	</td>
																</tr>
																<tr ng-if="detOLCtrl.perubahanChangedData.length === 0">
																	<td colspan="6">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA_CHANGED_YET'|translate}}</span>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDORLICENSI'">
							<div class="col-md-12">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
											<h3 class="text-center afta-font">{{'BUSINESS_PERMIT'|translate}}</h3>
										</div>
									</div>
									<div class="row">
										<div class="col-md-10 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-bordered table-striped">
															<thead>
																<tr>
																	<th class="text-center">No</th>
																	<th class="text-center">{{'TABLE.JENIS_IJIN'|translate}}</th>
																	<th class="text-center">{{'TABLE.OUT_DATE'|translate}}</th>
																	<th class="text-center">{{'TABLE.VALIDITY_PERIOD'|translate}}</th>
																	<th class="text-center">{{'TABLE.GIVER_AGENCY'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">Status</th>
																	<th class="text-center"></th>
																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.verified.length <= 0">
																	<td colspan="6" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA'|translate}}</span>
																		</div>
																	</td>
																</tr>
																<tr ng-repeat="obj in detOLCtrl.verified">
																	<td class="text-center" style="vertical-align: middle;">{{detOLCtrl.currentPage > 1 ? (detOLCtrl.maxSize * (detOLCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
																	<td style="vertical-align: middle;">{{obj.LicenseName}}</td>
																	<td class="text-center" style="vertical-align: middle;">
																		<span ng-if="!(obj.IssuedDate === null)">{{obj.IssuedDate | date: "dd-MM-yyyy"}}</span>
																	</td>
																	<td class="text-center" style="vertical-align: middle;">{{obj.ExpiredDate | date: "dd-MM-yyyy"}}</td>
																	<td style="vertical-align: middle;">{{obj.IssuedBy}}</td>
																	<td ng-if="obj.Action === 0" style="vertical-align: middle;">Added</td>
																	<td ng-if="obj.Action === 1" style="vertical-align: middle;">Modified</td>
																	<td ng-if="obj.Action === 2" style="vertical-align: middle;">Deleted</td>
																	<td ng-if="obj.Action === null" style="vertical-align: middle;">&nbsp;</td>
																	<td class="text-center" style="vertical-align: middle!important;">
																		<a ng-click="detOLCtrl.detailChangedData(3, obj)" class="btn btn-xs btn-primary"><i class="fa fa-eye"></i>&nbsp; {{'BTN.LOOK'|translate}}</a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDOREXPERIENCE'">
							<div class="col-md-12">
								<div class="form-group">
									<div class="row">
										<div class="col-md-6 center-block" style="float: none!important;">
											<h3 class="text-center afta-font">{{'COMPANY_EXPERIENCE'|translate}}</h3>
											<h4 class="text-center afta-font">{{'COMPLETE_WORK_DATA'|translate}}</h4>
											<h5 class="text-center afta-font">
												<em>5 {{'FIVE_YEAR_AGO'|translate}}</em>
											</h5>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="table table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th class="text-center" style="vertical-align: middle;">No</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.LOCATION'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.AGENCY'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">Status</th>
															<th class="text-center" style="vertical-align: middle;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="obj in detOLCtrl.modifiedDataFinExp" ng-class="{'bg-danger': obj.IsTemporary === true}">
															<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
															<td style="vertical-align: middle;">{{obj.ContractName}}</td>
															<td style="vertical-align: middle;">{{obj.CityLocation.Name}}</td>
															<td style="vertical-align: middle;">{{obj.Agency}}</td>
															<td class="text-center" style="vertical-align: middle;">{{obj.CurrencyRef}} {{obj.ContractValue| currency:""}}</td>
															<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:"dd/MM/yyyy HH:mm"}}</td>
															<td ng-if="obj.Action === 0" style="vertical-align: middle;">Added</td>
															<td ng-if="obj.Action === 1" style="vertical-align: middle;">Modified</td>
															<td ng-if="obj.Action === 2" style="vertical-align: middle;">Deleted</td>
															<td ng-if="obj.Action === null" style="vertical-align: middle;">&nbsp;</td>
															<td class="text-center" style="vertical-align: middle;">
																<a ng-click="detOLCtrl.detailChangedData(9,obj)" class="label label-flat label-sm label-warning">
																	<i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i>
																</a>&nbsp;
															</td>
														</tr>
														<tr ng-if="detOLCtrl.modifiedDataFinExp.length === 0">
															<td colspan="7">{{'NO_DATA'|translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-md-6 center-block" style="float: none!important;">
											<h4 class="text-center afta-font">{{'WORK_IN_PROGRESS'|translate}}</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="table table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th class="text-center" style="vertical-align: middle;">No</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_NAME'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.LOCATION'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.AGENCY'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.CONTRACT_VALUE'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.START_DATE'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">Status</th>
															<th class="text-center" style="vertical-align: middle;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="obj in detOLCtrl.modifiedDataCurrExp" ng-class="{'bg-danger': obj.IsTemporary === true}">
															<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
															<td style="vertical-align: middle;">{{obj.ContractName}}</td>
															<td style="vertical-align: middle;">{{obj.CityLocation.Name}}</td>
															<td style="vertical-align: middle;">{{obj.Agency}}</td>
															<td class="text-center" style="vertical-align: middle;">{{obj.CurrencyRef}} {{obj.ContractValue| currency:""}}</td>
															<td class="text-center" style="vertical-align: middle;">{{obj.StartDate | date:"dd/MM/yyyy"}}</td>
															<td ng-if="obj.Action === 0" style="vertical-align: middle;">Added</td>
															<td ng-if="obj.Action === 1" style="vertical-align: middle;">Modified</td>
															<td ng-if="obj.Action === 2" style="vertical-align: middle;">Deleted</td>
															<td ng-if="obj.Action === null" style="vertical-align: middle;">&nbsp;</td>
															<td class="text-center" style="vertical-align: middle;">
																<a ng-click="detOLCtrl.detailChangedData(9,obj)" class="label label-flat label-sm label-warning">
																	<i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i>
																</a>&nbsp;
															</td>
														</tr>
														<tr ng-if="detOLCtrl.modifiedDataCurrExp.length === 0">
															<td colspan="7">{{'NO_DATA'|translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_COMPANYPERSON'">
							<div class="col-md-12">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12 text-center">
											<h3 class="afta-font">{{'COMPANY_MANAGEMENT'|translate}}</h3>
										</div>
									</div>
									<div class="row">
										<div class="col-md-11 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th style="text-align: center;">No</th>
																	<th style="text-align: center;">{{'TABLE.NAME'|translate}}</th>
																	<th style="text-align: center;">{{'TABLE.KTP_NUMBER'|translate}}</th>
																	<th style="text-align: center;">{{'TABLE.BIRTH_DATE'|translate}}</th>
																	<th style="text-align: center;">{{'TABLE.JABATAN'|translate}}</th>
																	<th style="text-align: center;">Status</th>
																	<th style="text-align: center;"></th>
																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.verified.length <= 0">
																	<td colspan="6" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>Tidak ada data</span>
																		</div>
																	</td>
																</tr>
																<tr ng-repeat="obj in detOLCtrl.changedData">
																	<td style="text-align: left;">{{$index+1}}</td>
																	<td style="text-align: left;">{{obj.PersonName}}</td>
																	<td style="text-align: left;">{{obj.NoID}}</td>
																	<td style="text-align: center;">{{obj.DateOfBirth | date : "dd-MM-yyyy"}}</td>
																	<td style="text-align: left;">{{('POSITION_PERSON.' + obj.PositionRef) | translate}}</td>
																	<td ng-if="obj.Action === 0" style="text-align: left;">Added</td>
																	<td ng-if="obj.Action === 1" style="text-align: left;">Modified</td>
																	<td ng-if="obj.Action === 2" style="text-align: left;">Deleted</td>
																	<td ng-if="obj.Action === null" style="text-align: center;">&nbsp;</td>
																	<td class="text-center">
																		<a ng-click="detOLCtrl.detailChangedData(6,obj)" class="btn btn-xs btn-primary">
																			<i class="fa fa-eye"></i>&nbsp; {{'BTN.LOOK'|translate}}
																		</a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDORBANKDETAIL'">
							<div class="col-md-12">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12 text-center">
											<h3 class="afta-font">{{'OC_VENDORBANKDETAIL'|translate}}</h3>
										</div>
									</div>
									<div class="row">
										<div class="col-md-11 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th class="text-center">No</th>
																	<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'TABLE.REKENING'|translate}}</th>
																	<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'TABLE.ACCOUNT_NAME'|translate}}</th>
																	<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'TABLE.BANK_NAME'|translate}}</th>
																	<th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'TABLE.BANK_BRANCH'|translate}}</th>
																	<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Swift Code</th>
																	<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'TABLE.ACCOUNT_PROOF'|translate}}</th>
																	<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">Status</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.changedData.length <= 0">
																	<td colspan="6" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA'|translate}}</span>
																		</div>
																	</td>
																</tr>
																<tr ng-repeat="data in detOLCtrl.changedData">
																	<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
																	<td class="text-center">{{data.AccountNo}}</td>
																	<td class="text-center">{{data.AccountName}}</td>
																	<td class="text-center">{{data.BankName}}</td>
																	<td class="text-center">{{data.Branch}}</td>
																	<td class="text-center">{{data.SwiftCode}}</td>
																	<td class="text-center"><a href="{{detOLCtrl.folderFile + data.UrlDoc}}" target="BLANK" class="label label-sm label-primary" title="{{'BTN.DOWNLOAD'|translate}}"><i class="fa fa-download"></i>&nbsp;&nbsp;</a></td>
																	<td ng-if="data.Action===0" class="text-center">Added</td>
																	<td ng-if="data.Action===1" class="text-center">Modified</td>
																	<td ng-if="data.Action===2" class="text-center">Deleted</td>
																	<td ng-if="data.Action===null" class="text-center"></td>
																	<td class="text-center">
																		<a ng-click="detOLCtrl.detailChangedData(10,data)" class="btn btn-xs btn-primary">
																			<i class="fa fa-eye"></i>&nbsp; {{'BTN.LOOK'|translate}}
																		</a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDORBUSINESSFIELD'">
							<div class="col-md-12">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12 text-center">
											<h3 class="afta-font">{{'BUSINESS_FIELDS'|translate}}</h3>
										</div>
									</div>
									<div class="row">
										<div class="col-md-11 center-block" style="float: none!important;">
											<div class="row" style="margin-bottom: 15px;">
												<div class="col-md-12">
													<div class="table-responsive">
														<table class="table table-striped table-bordered">
															<thead>
																<tr>
																	<th class="text-left" style="vertical-align: middle;">No</th>
																	<th class="text-left" style="vertical-align: middle;">{{'TABLE.BUSINESS_FIELD'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">{{'TABLE.COMMODITY'|translate}}</th>
																	<th class="text-center" style="vertical-align: middle;">Status</th>
																	<th class="text-center" style="vertical-align: middle;"></th>
																</tr>
															</thead>
															<tbody>
																<tr ng-if="detOLCtrl.changedData.length <= 0">
																	<td colspan="6" cellpadding="0">
																		<div class="alert alert-info text-center">
																			<span>{{'NO_DATA'|translate}}</span>
																		</div>
																	</td>
																</tr>
																<tr ng-repeat="obj in detOLCtrl.changedData">
																	<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
																	<td style="vertical-align: middle;" ng-if="obj.BusinessField.Name !== 'Lain - lain'">{{obj.BusinessField.Name}}</td>
																	<td style="vertical-align: middle;" ng-if="obj.BusinessField.Name === 'Lain - lain'">{{obj.BusinessField.Name}} ({{obj.Remark}})</td>
																	<td class="text-center" style="vertical-align: middle;">{{obj.Commodity.Name}}</td>
																	<!--<td class="text-center" style="vertical-align: middle;">{{obj.DateOfBirth | date : "dd-MM-yyyy"}}</td>
																	<td style="vertical-align: middle;">{{('POSITION_PERSON.' + obj.PositionRef) | translate}}</td>-->
																	<td ng-if="obj.Action === 0" style="vertical-align: middle;">Added</td>
																	<td ng-if="obj.Action === 1" style="vertical-align: middle;">Modified</td>
																	<td ng-if="obj.Action === 2" style="vertical-align: middle;">Deleted</td>
																	<td ng-if="obj.Action === null" style="vertical-align: middle;">&nbsp;</td>
																	<td class="text-center">
																		<a ng-click="detOLCtrl.detailChangedData(2,obj)" class="btn btn-xs btn-primary">
																			<i class="fa fa-eye"></i>&nbsp; {{'BTN.LOOK'|translate}}
																		</a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                        <div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDORAFFILIATION'">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 center-block" style="float:none!important;">
                                            <h3 class="text-center afta-font">{{'AFILIASI'|translate}}</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="width: 20px; min-width: 20px;">{{'TABLE.NO' | translate}}</th>
                                                            <th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;" ng-if="detOLCtrl.afiliasiID != 6">{{'TABLE.VENDOR_AFILIASI' | translate}}</th>
                                                            <th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;" ng-if="detOLCtrl.afiliasiID != 6">{{'TABLE.TIPE_AFILIASI' | translate}}</th>
                                                            <th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;" ng-if="detOLCtrl.afiliasiID != 6">{{'TABLE.JUMLAH_SAHAM' | translate}}</th>
                                                            <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;">{{'TABLE.DESKRIPSI' | translate}}</th>
                                                            <th class="text-center" style="width: 170px; min-width: 170px; vertical-align: middle;" ng-if="VerifiedProcessCtrl.afiliasiID == 6">{{'TABLE.DOKUMEN' | translate}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="hubIstimewa in detOLCtrl.hubIstimewa">
                                                            <td class="text-center">{{$index + 1}}</td>
                                                            <td class="text-center" ng-if="hubIstimewa.VendorAfiliasiID != 6">{{hubIstimewa.VendorName ? hubIstimewa.VendorName : '-'}}</td>
                                                            <td class="text-center" ng-if="hubIstimewa.VendorAfiliasiID != 6">{{hubIstimewa.AffiliationName ? hubIstimewa.AffiliationName: '-'}}</td>
                                                            <td class="text-center" ng-if="hubIstimewa.VendorAfiliasiID != 6">{{hubIstimewa.StockQuantity ? hubIstimewa.StockQuantity : '-'}}</td>
                                                            <td class="text-center">{{hubIstimewa.AfiliasiDetail ? hubIstimewa.AfiliasiDetail : '-'}}</td>
                                                            <td class="text-center" ng-if="hubIstimewa.VendorAfiliasiID == 6">
                                                                <a href="{{detOLCtrl.folderFile + hubIstimewa.Document_Url}}" class="btn btn-flat btn-sm btn-primary" title="{{'DOWNLOAD' | translate}}" ng-if="hubIstimewa.Document_Url"><i class="fa fa-download"></i></a>
                                                                <span ng-if="!hubIstimewa.Document_Url">-</span>
                                                            </td>
                                                           
                                                        </tr>
                                                        <tr ng-if="detOLCtrl.hubIstimewa.length===0"><td colspan="6"> {{'NO_DATA' | translate}}</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>

						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_VENDORBALANCE'">
							<div class="col-md-12">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12 text-center">
											<h3 class="afta-font">{{'OC_VENDORBALANCE'|translate}}</h3>
										</div>
										<!--<div class="col-md-12 text-right">
											<button ng-click="detOLCtrl.viewOldData()" class="btn btn-flat btn-success turun-15" title="{{'OLD_DATA' | translate}}">
												<i class='fa fa-download'></i>
											</button>
										</div>-->
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="table table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th class="center-vertical">No</th>
															<th class="center-vertical">{{'TABLE.WEALTH'|translate}}</th>
															<th class="center-vertical">CoA</th>
															<th class="center-vertical">{{'TABLE.SATUAN_JUMLAH'|translate}}<th>
															<th class="center-vertical">Nominal</th>
															<th class="center-vertical">Status</th>
															<th class="center-vertical" style="width: 120px; min-width: 120px;"></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="objc in detOLCtrl.dataNeraca" ng-class="{'bg-danger': objc.IsTemporary === true}">
															<td class="text-center">{{detOLCtrl.currentPage > 1 ? (detOLCtrl.maxSize * (detOLCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
															<td>{{objc.Wealth.Value}}</td>
															<td class="center-vertical">{{objc.COA.Value}}</td>
															<td class="middle-vertical">{{(objc.Amount === null ? "" : objc.Amount) + " " + objc.Unit.Value}}</td>
															<td class="middle-vertical">{{objc.Nominal | currency: ""+ labelcurr +" "}}</td>
															<td ng-if="objc.Action===0" class="middle-vertical">Added</td>
															<td ng-if="objc.Action===1" class="middle-vertical">Modified</td>
															<td ng-if="objc.Action===2" class="middle-vertical">Deleted</td>
															<td ng-if="objc.Action===null" class="middle-vertical"></td>
															<td class="center-vertical">
																<a ng-click="detOLCtrl.detailChangedData('1435', objc)" class="label label-flat label-sm label-warning"><i class="fa fa-external-link" title="{{'BTN.VIEW_DETAIL'|translate}}"></i></a>
															</td>
														</tr>
														<tr ng-if="detOLCtrl.dataNeraca.length === 0">
															<td colspan="9">{{'NO_DATA'|translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
							</div>
						</div>
						<div class="row" ng-if="detOLCtrl.OpsiCode === 'OC_STATEMENTLETTER'">
							<div class="col-md-12">
								<div class="form-group">
									<div class="row">
										<div class="col-md-6 center-block" style="float:none!important;">
											<h3 class="text-center afta-font">{{'PERSETUJUAN'|translate}}</h3>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="table table-responsive">
												<table class="table table-bordered">
													<thead>
														<tr>
															<th class="text-center" style="vertical-align: middle;">No</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.DOCUMENT'|translate}}</th>
															<th class="text-center" style="vertical-align: middle;">Status</th>
															<th class="text-center" style="vertical-align: middle;">{{'TABLE.ACTION'|translate}}</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="obj in detOLCtrl.verified" ng-class="{'bg-danger': obj.IsTemporary === true}">
															<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
															<td style="vertical-align: middle;">{{obj.DocTypeName | translate}}</td>
															<td ng-if="obj.Action === null" style="vertical-align: middle;">&nbsp;</td>
															<td ng-if="obj.Action === 0" style="vertical-align: middle;">Added</td>
															<td ng-if="obj.Action === 1" style="vertical-align: middle;">Modified</td>
															<td ng-if="obj.Action === 2" style="vertical-align: middle;">Deleted</td>
															<td ng-if="obj.Action === null" style="vertical-align: middle;">&nbsp;</td>
															<td class="text-center" ng-if="(obj.Action === 1 || obj.Action===0) && obj.DocTypeName !== 'Questionnaire'" style="vertical-align: middle;">
																<a href="{{detOLCtrl.folderFile+obj.DocumentUrl}}" target="_blank"
																   class="btn btn-sm btn-warning">
																	<i class="fa fa-download" title="Lihat File"></i>
																</a>
															</td>
															<td ng-if="obj.DocTypeName === 'Questionnaire' && obj.Action !== null" class="text-center" style="vertical-align: middle;">
																<button class="btn btn-sm btn-success " title="Detail Questionnaire" ng-click="detOLCtrl.detailChangedData('12a',obj)">
																	<i class="fa fa-edit"></i>
																</button>
																<button class="btn btn-sm btn-primary" title="Detail File Upload" ng-click="detOLCtrl.detailChangedData('12b',obj)">
																	<i class="fa fa-pencil-square"></i>
																</button>
															</td>
														</tr>
														<tr ng-if="detOLCtrl.verified.length === 0">
															<td colspan="7">{{'NO_DATA'|translate}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div><br />
								</div>
							</div>
						</div>
                        
						<!--<uib-tabset>
							<uib-tab ng-repeat="cr in detOLCtrl.listCR" ng-if="!(cr.IsApproved === 0)">
								<uib-tab-heading class="text-center">
									{{cr.OpsiName | translate}}
									<input type="checkbox" title="Open Lock" ng-model="cr.IsApproved" />
								</uib-tab-heading>
							</uib-tab>
						</uib-tabset>-->
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-md-12 text-right">
						<button class="btn btn-default btn-sm" ng-click="detOLCtrl.back()" title="{{'BTN.BACK'|translate}}">
							<i class="fa fa-arrow-left"></i>
						</button>
						<button class="btn btn-success btn-sm" ng-click="detOLCtrl.approve()" ng-if="detOLCtrl.isEdited" title="Approve">
							<i class="fa fa-check"></i>
						</button>
						<button class="btn btn-danger btn-sm" ng-click="detOLCtrl.reject()" ng-if="detOLCtrl.isEdited" title="Reject">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>
