<link rel="stylesheet" type="text/css" href="assets/css/rolas-design.css" />
<style>
    .btn:hover, .btn:focus, .btn.focus {
        color: #00694f;
    }
</style><!--style="background-image: url(assets/img/oil-price.jpg);height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;"-->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script type="text/javascript" src="app/common/global.directive.js?v=1.000002"></script>
<script type="text/javascript" src="app/layouts/visitor-menu.directive.js"></script>
<script type="text/javascript" src="app/layouts/admin-top-menu.js"></script>
<script type="text/javascript" src="app/layouts/page-header.directive.js"></script>
<script type="text/javascript" src="app/layouts/sidemenu.directive.js"></script>
<script type="text/javascript" src="app/layouts/eproc-menu.directive.js"></script>
<script type="text/javascript" src="app/layouts/page-footer.directive.js"></script>
<div class="container" ng-init="PreDaftar.initialize()">
    <div class="container-fluid">
        <div class="row" style="margin-top:50px; float: none!important;">
            <div class="col-xs-12 col-sm-12 col-md-12 well center-block" style="padding: 15px!important;line-height: 25px!important;">
                <div class="row" style="text-align: justify!important;">
                    <div class="col-md-12 center-block" style="text-align: justify!important;">
                        <h3 class="afta-font text-center">{{'CONTENT_1' | translate}}</h3>
                        {{"CONTENT_2" | translate}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: justify!important;">
                        <ul class="list-unstyled" style="line-height:30px; padding: 5px!important;">
                            <li><i class="fa fa-arrow-circle-o-right"></i>{{"CONTENT_3" | translate}}</li>
                            <li><i class="fa fa-arrow-circle-o-right"></i>{{"CONTENT_4" | translate}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center-block " style="text-align: justify!important;">
                        {{"CONTENT_5" | translate}}
                        {{"CONTENT_6" | translate}}
                        {{"CONTENT_7" | translate}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center-block">
                        <h3 class="afta-font text-center">{{"CONTENT_8" | translate}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="text-align: justify!important;">
                        <p>
                            {{"CONTENT_9" | translate}}
                            {{"CONTENT_10" | translate}}
                            {{"CONTENT_11" | translate}}<br />
                            {{"CONTENT_12" | translate}}
                            <br /><br />
                            PT. PETROSEA TBK<br />
                            {{"CONTENT_13" | translate}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 center-block text-center">
                        <a href="#/daftar/0">
                            <button class="btn btn-lg btn-success"><i class="fa fa-folder-open-o"></i> {{"CONTENT_14" | translate}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<page-footer></page-footer>