﻿<form name="daftarCtrl.companyContact">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <button type="button" class="close"
                        data-dismiss="alert" aria-hidden="true">
                    ×
                </button>
                <span>
                    {{'FORM.NOTE_USERNAME' | translate}}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>{{'FORM.EMAIL_PERUSAHAAN' | translate}} <span style="color:red;">*</span></label>
                <input ng-blur="daftarCtrl.checkEmail(true)" class="form-control " ng-style="{ background: daftarCtrl.vendor.email === '' || daftarCtrl.vendor.email === null || daftarCtrl.vendor.email === undefined ? '#f2dede' : 'white' }" name="vendorEmail" placeholder="{{'FORM.EMAIL_PERUSAHAAN' | translate}} *" type="email"
                       ng-model="daftarCtrl.vendor.email" required maxlength="64" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.companyContact.vendorUsername.$valid && !daftarCtrl.companyContact.vendorUsername.$pristine}">
                <label>{{'FORM.USERNAME' | translate}} <span style="color:red;">*</span></label>
                <input name="vendorUsername" class="form-control " ng-style="{ background: daftarCtrl.vendor.username === '' || daftarCtrl.vendor.username === null || daftarCtrl.vendor.username === undefined ? '#f2dede' : 'white' }" placeholder="{{'FORM.USERNAME' | translate}} *" type="text"
                       ng-model="daftarCtrl.vendor.username" disabled required />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.companyContact.vendorPassword.$valid && !daftarCtrl.companyContact.vendorPassword.$pristine}">
                <label>{{'FORM.PASSWORD' | translate}} <span style="color:red;">*</span></label>
                <input name="vendorPassword" type="{{showPass ? 'text' : 'password'}}" style="margin-bottom:0px !important;" class="form-control " ng-style="{ background: daftarCtrl.vendor.password === '' || daftarCtrl.vendor.password === null || daftarCtrl.vendor.password === undefined ? '#f2dede' : 'white' }" placeholder="{{'FORM.PASSWORD' | translate}} *"
                       ng-model="daftarCtrl.vendor.password" no-space required maxlength="256" />
                <div class="row">
                    <div class="col-md-12">
                        <i data-toggle="collapse" data-target="#demo" class="glyphicon glyphicon-info-sign"></i>
                        <div id="demo" class="collapse">
                            <span class="font10">
                                {{'FORM.INFO_PASS' | translate}}
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': daftarCtrl.vendor.password != daftarCtrl.vendor.confirmPassword && !daftarCtrl.companyContact.confirmPassword.$pristine}">
                <label>{{'FORM.SHOW_PASS' | translate}} <span style="color:red;">*</span></label>
                <input name="confirmPassword" type="{{showPass ? 'text' : 'password'}}" class="form-control " ng-style="{ background: daftarCtrl.vendor.confirmPassword === '' || daftarCtrl.vendor.confirmPassword === null || daftarCtrl.vendor.confirmPassword === undefined ? '#f2dede' : 'white' }" placeholder="{{'FORM.CONFIRM_PASSWORD' | translate}} *"
                       ng-model="daftarCtrl.vendor.confirmPassword" no-space required maxlength="256" />
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <input type="checkbox" ng-model="showPass">&nbsp;{{'FORM.SHOW_PASS' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>{{'FORM.WEBSITE' | translate}}</label>
                <input class="form-control" placeholder="{{'FORM.WEBSITE' | translate}}" type="text"
                       ng-model="daftarCtrl.vendor.website" maxlength="64" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>{{'FORM.COUNTRY_CODE_TITLE' | translate}} <span style="color:red;">*</span></label>
                <select required class="form-control " ng-style="{ background: daftarCtrl.phoneCode === '' ||daftarCtrl.phoneCode === null || daftarCtrl.phoneCode === undefined ? '#f2dede' : 'white' }" style="margin-bottom:0px !important;"
                        name="countryCode"
                        ng-model="daftarCtrl.phoneCode" ng-disabled="!daftarCtrl.phoneCodeList"
                        ng-options="item as item.Name + '(' + item.PhonePrefix + ')' for item in daftarCtrl.phoneCodeList">
                    <option value="" selected disabled>{{'FORM.COUNTRY_CODE_TITLE' | translate}}</option>
                </select>
                <i class="font10">
                    {{'FORM.COUNTRY_CODE' | translate}}*
                </i>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>{{'FORM.NO_TELP' | translate}} <span style="color:red;">*</span></label>
                <input required class="form-control " ng-style="{ background: daftarCtrl.vendor.phone === '' ||daftarCtrl.vendor.phone === null || daftarCtrl.vendor.phone === undefined ? '#f2dede' : 'white' }" style="margin-bottom:0px !important;"
                       placeholder="{{'FORM.NO_TELP' | translate}}*" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="contactPhone"
                       ng-model="daftarCtrl.vendor.phone" maxlength="16" />
                <i class="font10">
                    {{'FORM.PHONE_FORMAT' | translate}}
                </i>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>{{'FORM.FAX' | translate}}</label>
                <input class="form-control" placeholder="{{'FORM.FAX' | translate}}" type="tel"
                       ng-model="daftarCtrl.vendor.fax"
                       ui-mask="999-?9?9?9?9?9?9?9?9?9?9" ui-mask-placeholder ui-mask-placeholder-char="_" maxlength="32" />
            </div>
        </div>
    </div>
</form>
<form name="daftarCtrl.vendorContactForm">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>{{'FORM.KONTAK_PERSON' | translate}} <span style="color:red;">*</span></label>
                <input class="form-control " ng-style="{ background: daftarCtrl.contact.name === '' ||daftarCtrl.contact.name === null || daftarCtrl.contact.name === undefined ? '#f2dede' : 'white' }" style="text-transform: uppercase"
                       placeholder="{{'FORM.KONTAK_PERSON' | translate}} * "
                       type="text" required
                       name="contactName"
                       ng-model="daftarCtrl.contact.name" maxlength="64" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>{{'FORM.MOBILE_PHONE' | translate}} </label>
                <input class="form-control" placeholder="{{'FORM.MOBILE_PHONE' | translate}}"
                       ng-model="daftarCtrl.contact.phone" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="16" ng-blur="daftarCtrl.checkTelp(true)" required />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>{{'FORM.EMAIL' | translate}} </label>
                <input ng-blur="daftarCtrl.checkEmail(false)" class="form-control" maxlength="64" placeholder="{{'FORM.EMAIL' | translate}}" ng-model="daftarCtrl.contact.email" type="email" name="contactEmail" required />
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 24px;">
            <button class="btn btn-success" ng-click="daftarCtrl.addContact()" ng-disabled="daftarCtrl.vendorContactForm.$invalid"><i class="fa fa-plus"></i> {{'BUTTONS.ADD' | translate}}</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="table table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 50px;">{{'FORM.CONTACT_TABLE.HEADERS.NO' | translate}}</th>
                        <th class="text-center" style="width: 30%;">{{'FORM.CONTACT_TABLE.HEADERS.NAME' | translate}}</th>
                        <th class="text-center" style="width: 30%">{{'FORM.CONTACT_TABLE.HEADERS.NUMBER' | translate}}</th>
                        <th class="text-center">{{'FORM.CONTACT_TABLE.HEADERS.EMAIL' | translate}}</th>
                        <th style="width: 50px;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="daftarCtrl.contacts.length <= 0">
                        <td colspan="5">
                            <div class="text-center alert alert-info">{{'FORM.CONTACT_TABLE.NO_DATA' | translate}}</div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr ng-repeat="dt in daftarCtrl.contacts">
                        <td>{{$index + 1}}</td>
                        <td>{{dt.name | ucwords}}</td>
                        <!--
                        <td>{{'(' + dt.countryCode.PhonePrefix + ') ' + dt.phone}}</td>-->
                        <td>{{dt.phone}}</td>
                        <td>{{dt.email}}</td>
                        <td><button class="btn btn-danger" ng-click="daftarCtrl.removeContact(dt)"><i class="fa fa-close"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>