﻿<form name="daftarCtrl.stockForm">
    <div class="row">
        <div class="col-md-3">
            <label>{{"FORM.PEMILIK_SHM" | translate}}</label>
            <select name="stockOption" required class="form-control marginBottom-1" style="margin-bottom:0px !important;" ng-model="daftarCtrl.stockOpt"
                    ng-options="item as item.Value | translate for item in daftarCtrl.stockOption" ng-change="daftarCtrl.labelChange()" ng-disabled="!daftarCtrl.vendor.business">
                <option value="" selected disabled class="text-center">--{{"FORM.PEMILIK_SHM" | translate}}--</option>
            </select>
            <i class="font10">
                {{'FORM.TIPE_PEMILIK' | translate}}
            </i>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.ownerName.$valid && !daftarCtrl.stockForm.ownerName.$pristine}">
                <label>{{daftarCtrl.nama | translate}}</label>
                <input class="form-control marginBottom-1" maxlength="64" ng-disabled="!daftarCtrl.vendor.business" style="margin-bottom:0px !important;text-transform: uppercase" type="text" ng-model="daftarCtrl.stock.owner.name" name="ownerName" placeholder="{{daftarCtrl.nama | translate}}" required />
                <span ng-if="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                    <i class="font10">
                        {{'FORM.NM_PEMILIK_SHM' | translate}}
                    </i>
                </span>
                <span ng-if="daftarCtrl.stockOpt.Name=='STOCK_COMPANY'">
                    <i class="font10">
                        {{'FORM.NM_PERUSAHAAN' | translate}}
                    </i>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.ownerDOB.$valid && !daftarCtrl.stockForm.ownerDOB.$pristine}">
                <label>{{daftarCtrl.tgl| translate}}</label>
                <div class="input-group date form_datetime">
                    <input ng-blur="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL' && daftarCtrl.calculateAge(daftarCtrl.stock.owner.dob)" class="form-control" size="16"
                           style="background-color: #ffffff;" placeholder="{{daftarCtrl.tgl| translate}}"
                           type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="FORM.LABELS.CLOSE"
                           is-open="daftarCtrl.isDobCalendarOpened" ng-model="daftarCtrl.stock.owner.dob"
                           ng-click="daftarCtrl.openDobCalendar()" ng-change="daftarCtrl.changeDateDOB(daftarCtrl.stock.owner.dob)" readonly name="ownerDOB" datepicker-options="daftarCtrl.stockOwnerMaxDate"
                           ng-disabled="daftarCtrl.stockOpt == '' || daftarCtrl.stockOpt == null || !daftarCtrl.vendor.business" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="daftarCtrl.openDobCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <span ng-if="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                    <i class="font10">
                        {{'FORM.TGL_LAHIR_PERSONAL' | translate}}
                    </i>
                </span>
                <span ng-if="daftarCtrl.stockOpt.Name=='STOCK_COMPANY'">
                    <i class="font10">
                        {{'FORM.TGL_BERDIRI' | translate}}
                    </i>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.ownerID.$valid && !daftarCtrl.stockForm.ownerID.$pristine}">
                <label>{{daftarCtrl.identitas | translate}}</label>
                <input ng-disabled="!daftarCtrl.vendor.business" class="form-control marginBottom-1" style="margin-bottom:0px !important;" maxlength="32" placeholder="{{daftarCtrl.identitas | translate}}" type="text" ng-model="daftarCtrl.stock.owner.id" name="ownerID" required />
                <span ng-if="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                    <i class="font10">
                        {{'FORM.NO_KTP' | translate}}
                    </i>
                </span>
                <span ng-if="daftarCtrl.stockOpt.Name=='STOCK_COMPANY'">
                    <i class="font10">
                        {{'FORM.NO_NPWP' | translate}}
                    </i>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.ownerIDFile.$valid && !daftarCtrl.stockForm.ownerIDFile.$pristine}">
                <label>{{"FORM.KET_FILE_PERSONAL" | translate}}</label>
                <input ng-file-select="daftarCtrl.stockOwnerIDSelected()" class="form-control  marginBottom-1" type="file"
                       ng-model="daftarCtrl.stockOwnerID" name="ownerIDFile" required ng-disabled="!daftarCtrl.vendor.business" />
                <span ng-if="daftarCtrl.stockOpt.Name=='STOCK_PERSONAL'">
                    <i class="font10">
                        {{'FORM.KET_FILE_PERSONAL' | translate}} <small> ( <span ng-repeat="ft in daftarCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{daftarCtrl.idUploadConfigs[0].Size}} {{daftarCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                    </i>
                </span>
                <span ng-if="daftarCtrl.stockOpt.Name=='STOCK_COMPANY'">
                    <i class="font10">
                        {{'FORM.KET_FILE_COMPANY' | translate}} <small> ( <span ng-repeat="ft in daftarCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{daftarCtrl.idUploadConfigs[0].Size}} {{daftarCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
                    </i>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.stockUnit.$valid && !daftarCtrl.stockForm.stockUnit.$pristine}">
                <label>{{"FORM.SATUAN_SHM" | translate}}</label>
                <select name="stockUnit" required class="form-control" ng-model="daftarCtrl.stockUnit"
                        ng-options="item as item.Value | translate for item in daftarCtrl.stockUnits"
                        ng-disabled="daftarCtrl.stockUnit && daftarCtrl.flag === 1 || !daftarCtrl.vendor.business">
                    <option value="" selected disabled class="text-center">--{{"FORM.SATUAN_SHM" | translate}}--</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.stockQty.$valid && !daftarCtrl.stockForm.stockQty.$pristine}">
                <label>{{"FORM.NOMINAL_SHM" | translate}}</label>
                <input onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" ng-disabled="!daftarCtrl.vendor.business" maxlength="53" placeholder="{{'FORM.NOMINAL_SHM' | translate}} *" name="stockQty" ng-model="daftarCtrl.stock.quantity" required />
            </div>
        </div>
        <div class="col-md-3" ng-if="daftarCtrl.stockUnit.Name == 'STOCK_UNIT_CURRENCY'">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.stockForm.stockUnitCurrency.$valid && !daftarCtrl.stockForm.stockUnitCurrency.$pristine}">
                <label>{{"FORM.SATUAN_SHM_MATAUANG" | translate}}</label>
                <select ng-disabled="!daftarCtrl.vendor.business" name="stockUnitCurrency" required class="form-control" ng-model="daftarCtrl.stockUnitCurrency"
                        ng-options="item as item.Symbol + ' | ' + item.Label for item in daftarCtrl.currencyList">
                    <option value="" selected disabled class="text-center">--{{"FORM.SATUAN_SHM_MATAUANG" | translate}}--</option>
                </select>
            </div>
        </div>
        <div class="col-md-3" style="margin-top: 25px;">
            <button class="btn btn-success" style="float:left;margin-bottom:10px" ng-click="daftarCtrl.addStockData()" ng-disabled="!daftarCtrl.stockForm.$valid"><i class="fa fa-plus-circle"></i> {{'FORM.BTN_SAHAM' | translate}}</button>
        </div>
       
    </div>
    <!--<div class="row">
        <div class="col-md-12 center-block">
            <button class="btn btn-success" style="float:right;margin-bottom:10px" ng-click="daftarCtrl.addStockData()" ng-disabled="!daftarCtrl.stockForm.$valid"><i class="fa fa-plus-circle"></i> {{'FORM.BTN_SAHAM' | translate}}</button>
        </div>
    </div>-->
</form> 
<div class="row">
    <div class="col-md-12">
        <div class="table table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 4%;">{{'FORM.TABEL.COL_NO' | translate}}</th>
                        <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_TIPE' | translate}}</th>
                        <th class="text-center">{{'FORM.TABEL.COL_NAMA' | translate}}</th>
                        <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_TGL_LAHIR' | translate}}</th>
                        <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_NOMINAL' | translate}}</th>
                        <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_SATUAN' | translate}}</th>
                        <th class="text-center" style="width: 15%;">{{'FORM.TABEL.COL_NO_KTP' | translate}}</th>
                        <th class="text-center" style="width: 10%;">{{'FORM.TABEL.COL_FILE' | translate}}</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="!daftarCtrl.stocks || daftarCtrl.stocks.length == 0">
                        <td colspan="9" class="text-center">
                            <div class="alert alert-info">{{'NO_DATA' | translate}}</div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                    <tr ng-repeat="dt in daftarCtrl.stocks">
                        <td class="text-center">{{$index + 1}}</td>
                        <td class="text-center">{{dt.type.Value | translate}}</td>
                        <td>{{dt.owner.name}}</td>
                        <td class="text-center">{{dt.owner.dob | date: "dd-MM-yyyy"}}</td">
                        <td class="text-center">{{dt.quantity | currency : ""}}</td>
                        <td class="text-center">{{(dt.unit.Value != 'STOCK_UNIT_CURRENCY') ? dt.unit.Value : dt.CurrencySymbol | translate}}</td>
                        <td class="text-center">{{dt.owner.id}}</td>
                        <td class="text-center"><a ng-href="{{main.api_endpoint + '/' + dt.owner.idDoc}}" target="_blank"><i class="fa fa-download"></i></a></td>
                        <td class="text-center"><button class="btn btn-xs btn-danger" ng-click="daftarCtrl.removeStock(dt)"><i class="fa fa-times"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr style="border-top: 1px dotted darkgreen" class="margin-hilang" />
