﻿<form name="daftarCtrl.informationForm">
    <div class="row">
        <div class="col-md-4"  ng-if="daftarCtrl.vendor.country.Code == 'ID'">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.businessType.$valid && !daftarCtrl.informationForm.businessType.$pristine}">
                <label>{{"FORM.JNS_PERUSAHAAN" | translate}} <span style="color:red;">*</span></label>
                <select name="businessType" class="form-control " ng-style="{ background: daftarCtrl.vendor.business === '' || daftarCtrl.vendor.business === null || daftarCtrl.vendor.business === undefined ? '#f2dede' : 'white' }"
                        ng-model="daftarCtrl.vendor.business"
                        ng-disabled="!daftarCtrl.businessList"
                        ng-change="daftarCtrl.cekBusinessReq()"
                        ng-options="item as item.Name + ' | ' + item.Description for item in daftarCtrl.businessList">
                    <option value="" selected disabled>-- {{"FORM.JNS_PERUSAHAAN" | translate}} * --</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.companyName.$valid && !daftarCtrl.informationForm.companyName.$pristine}">
                <label>{{"FORM.NM_PERUSAHAAN" | translate}} <span style="color:red;">*</span></label>
                <input class="form-control " ng-style="{ background: daftarCtrl.vendor.name === '' || daftarCtrl.vendor.name === null || daftarCtrl.vendor.name === undefined ? '#f2dede' : 'white' }" style="text-transform: uppercase" maxlength="64" name="companyName" placeholder="{{'FORM.NM_PERUSAHAAN' | translate}} *" type="text"
                       ng-model="daftarCtrl.vendor.name" ng-change="daftarCtrl.vendorNameChanged()" />
                <i class="font10">{{"FORM.NOTE_NAMA" | translate}}</i>

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.foundedDate.$valid && !daftarCtrl.informationForm.foundedDate.$pristine}">
                <label>{{"FORM.TGL_BERDIRI" | translate}} <span style="color:red;">*</span></label>
                <div class="input-group date form_datetime">
                    <input name="foundedDate" style="background-color: #ffffff;" readonly class="form-control " ng-style="{ background: daftarCtrl.vendor.founded === '' || daftarCtrl.vendor.founded === null || daftarCtrl.vendor.founded === undefined ? '#f2dede' : 'white' }" size="16" placeholder="{{'FORM.TGL_BERDIRI' | translate}}*" datepicker-options="daftarCtrl.companyMaxDate" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'FORM.LABELS.CLOSE' | translate}}" is-open="daftarCtrl.isCalendarOpened" ng-model="daftarCtrl.vendor.founded" ng-click="daftarCtrl.openCalendar()" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="daftarCtrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" ng-if="daftarCtrl.vendor.country.Code == 'ID'">
            <div class="form-group">
                <label>{{"FORM.NO_NPWP" | translate}} <span style="color:red;">*</span></label>
                <div class="input-group ">
                    <div class="input-cont" ng-if="daftarCtrl.businessReq.IsNeedNpwp==null||daftarCtrl.businessReq.IsNeedNpwp==true">
                        <input class="form-control " ng-style="{ background: daftarCtrl.vendor.npwp === '' || daftarCtrl.vendor.npwp === null || daftarCtrl.vendor.npwp === undefined ? '#f2dede' : 'white' }" data-toggle="tooltip" data-placement="right" title="{{'FORM.NO_NPWP' | translate}}" placeholder="{{'FORM.NO_NPWP' | translate}} *" type="text" ng-model="daftarCtrl.vendor.npwp" ui-mask="99.999.999.9.999.999" ui-mask-placeholder ui-mask-placeholder-char="_" name="npwp" />
                    </div>
                    <div class="input-cont" ng-if="daftarCtrl.businessReq.IsNeedNpwp==false">
                        <input class="form-control " ng-style="{ background: daftarCtrl.vendor.npwp === '' || daftarCtrl.vendor.npwp === null || daftarCtrl.vendor.npwp === undefined ? '#f2dede' : 'white' }" data-toggle="tooltip" data-placement="right" title="Company Registration" placeholder="Company Registration *" type="text" ng-model="daftarCtrl.vendor.npwp" ng-change="daftarCtrl.npwpChanged()" ui-mask="99.999.999.9.999.999" ui-mask-placeholder ui-mask-placeholder-char="_" name="npwp" />
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="daftarCtrl.npwpChanged()"><i class="fa fa-search"></i>&nbsp;Check</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-if="daftarCtrl.vendor.country.Code !== 'ID'">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.npwp.$valid && !daftarCtrl.informationForm.npwp.$pristine, 'has-success': daftarCtrl.npwpAvailable == true && daftarCtrl.npwp}">
                <label>{{"FORM.NO_NPWP" | translate}} <span style="color:red;">*</span></label>
                <div class="input-group ">
                    <div class="input-cont">
                        <input class="form-control " ng-style="{ background: daftarCtrl.vendor.npwp === '' || daftarCtrl.vendor.npwp === null || daftarCtrl.vendor.npwp === undefined ? '#f2dede' : 'white' }" ng-disabled="!daftarCtrl.vendor.country" data-toggle="tooltip" data-placement="right" title="{{'FORM.NO_NPWP' | translate}}" placeholder="Company Registration *" type="text" ng-model="daftarCtrl.vendor.npwp" name="npwp" maxlength="64" />
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-disabled="!daftarCtrl.vendor.country" ng-click="daftarCtrl.npwpChanged()"><i class="fa fa-search"></i>&nbsp;Check</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.ownerIDFile.$valid && !daftarCtrl.informationForm.ownerIDFile.$pristine}">
                <label>{{"FORM.NOTE_NPWP" | translate}} </label>
                <input ng-file-select="daftarCtrl.npwpDocSelected()" class="form-control marginBottom-1 " ng-style="{ background:daftarCtrl.npwpDoc === '' || daftarCtrl.npwpDoc=== null || daftarCtrl.npwpDoc === undefined ? '#f2dede' : 'white' }" type="file"
                       ng-model="daftarCtrl.npwpDoc" name="ownerIDFile" />
                <i class="font10">
                    {{'FORM.NOTE_NPWP' | translate}} <small> ( <span ng-repeat="ft in daftarCtrl.npwpUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{daftarCtrl.npwpFileSize.Size}} {{daftarCtrl.npwpFileSize.SizeUnitName | translate}}</span> )<a ng-if="daftarCtrl.NpwpUrl !== undefined" target="_blank" ng-href="{{main.api_endpoint + '/' + daftarCtrl.NpwpUrl}}" class="btn btn-flat btn-xs btn-primary" style="cursor: pointer;"><i class="fa fa-download">Unduh File</i></a> </small>
                </i>
            </div>
        </div>
    </div>
    <div class="row" ng-if="daftarCtrl.vendor.country.Code == 'ID'">
        <div class="col-md-4" ng-if="daftarCtrl.vendor.country.Code == 'ID' && daftarCtrl.businessReq.BusinessEntityRequirement == null">
            <div class="form-group">
                <label>{{"FORM.LEGAL_TYPE" | translate}} <span style="color:red;">*</span></label>
                <select name="LegalType"  class="form-control " ng-style="{ background:daftarCtrl.vendor.legal === '' || daftarCtrl.vendor.legal=== null || daftarCtrl.vendor.legal === undefined ? '#f2dede' : 'white' }"
                        ng-model="daftarCtrl.vendor.legal"
                        ng-disabled="!daftarCtrl.LegalList"
                        ng-options="item as item.Name for item in daftarCtrl.LegalList">
                    <option value="" selected disabled>-- {{"FORM.LEGAL_TYPE" | translate}}* --</option>
                </select>
            </div>
        </div>
        <div class="col-md-4" ng-if="daftarCtrl.vendor.country.Code == 'ID' && daftarCtrl.businessReq.BusinessEntityRequirement != null">
            <div class="form-group">
                <label>{{"FORM.LEGAL_TYPE" | translate}} <span style="color:red;">*</span></label>
                <select name="LegalType" class="form-control " ng-style="{ background:daftarCtrl.vendor.legal === '' || daftarCtrl.vendor.legal=== null || daftarCtrl.vendor.legal === undefined ? '#f2dede' : 'white' }"
                        ng-model="daftarCtrl.vendor.legal"
                        ng-disabled="!daftarCtrl.businessReq.BusinessEntityRequirement"
                        ng-options="item as item.License.Name for item in daftarCtrl.businessReq.BusinessEntityRequirement">
                    <option value="" selected disabled>-- {{"FORM.LEGAL_TYPE" | translate}}* --</option>
                </select>
            </div>
        </div>
        <div class="col-md-4" >
            <div class="form-group">
                <label>No {{daftarCtrl.vendor.legal.Name}}</label>
                <div class="input-group ">
                    <input class="form-control" data-toggle="tooltip" data-placement="right" maxlength="64" title="{{'FORM.NO_SKT' | translate}}" placeholder="{{daftarCtrl.vendor.legal.Name}}" type="text" ng-model="daftarCtrl.vendor.siup" ng-blur="daftarCtrl.checkLegal()" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="daftarCtrl.checkLegal()"><i class="fa fa-search"></i>&nbsp;Check</button>
                    </span>
                </div>
                <div class="input-group">
                    <small> {{'FORM.NOTE_SKT' | translate}} </small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Upload {{daftarCtrl.vendor.legal.Name}}</label>
                <input ng-file-select="daftarCtrl.sktDocSelected()" class="form-control  marginBottom-1" type="file"
                       ng-model="daftarCtrl.sktDoc" name="ownerIDFile" />
                <i class="font10">
                    {{'FORM.NOTE_SKT' | translate}} <small> ( <span ng-repeat="ft in daftarCtrl.siupUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{daftarCtrl.siupFileSize.Size}} {{daftarCtrl.siupFileSize.SizeUnitName | translate}}</span> ) <a ng-if="daftarCtrl.siupUrl !== undefined" target="_blank" ng-href="{{main.api_endpoint + '/' + daftarCtrl.siupUrl}}" class="btn btn-flat btn-xs btn-primary" style="cursor: pointer;"><i class="fa fa-download">Download File</i></a></small>
                </i>
            </div>
        </div>
    </div>
        <!--<div class="row" ng-if="daftarCtrl.vendor.country.Code != 'IDN' && daftarCtrl.vendor.country.Code">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-error': !daftarCtrl.informationForm.intlTax.$valid && !daftarCtrl.informationForm.intlTax.$pristine}">
                    <input class="form-control" name="intlTax" placeholder="{{'FORM.COMPANY_REG' | translate}}*" ng-blur="daftarCtrl.checkCekCompany()" type="text" ng-model="daftarCtrl.vendor.npwp" required />
                </div>
            </div>
        </div>-->

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{'FORM.MATA_UANG' | translate}}</label>
                    <select class="form-control" ng-model="daftarCtrl.vendor.currency" ng-disabled="!daftarCtrl.currencyList"
                            ng-options="item as item.Symbol + ' | ' + item.Label for item in daftarCtrl.currencyList">
                        <option value="" selected disabled>--{{'FORM.MATA_UANG' | translate}}--</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3" style="margin-top: 24px;"><button class="btn btn-success" ng-click="daftarCtrl.addCurrency()"><i class="fa fa-plus"></i> {{"BUTTONS.ADD" | translate}}</button></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 50px;">{{'FORM.CURRENCY_TABLE.HEADERS.NO' | translate}}</th>
                                <th class="text-center" style="width: 30%;">{{'FORM.CURRENCY_TABLE.HEADERS.SYMBOL' | translate}}</th>
                                <th class="text-center">{{'FORM.CURRENCY_TABLE.HEADERS.LABEL' | translate}}</th>
                                <th style="width: 50px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="daftarCtrl.currencies.length <= 0">
                                <td colspan="4">
                                    <div class="alert alert-info">{{'FORM.ADDRESS_TABLE.NO_DATA' | translate}}</div>
                                    <div class="clearfix"></div>
                                </td>
                            </tr>
                            <tr ng-repeat="dt in daftarCtrl.currencies">
                                <td>{{$index + 1}}</td>
                                <td>{{dt.Symbol}}</td>
                                <td>{{dt.Label}}</td>
                                <td><button class="btn btn-danger" ng-if="dt.IsDelete !== true" ng-click="daftarCtrl.removeCurrency(dt)"><i class="fa fa-close"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</form>