﻿<div class="container-fluid" style="padding-left: 10px; padding-right: 10px;">
    <div class="row">
        <div class="col-md-12 well" style="border: 1px dashed darkgrey;">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="modal-title afta-font text-center" id="myModalLabel" style="padding-bottom: 30px;">{{'FORM.TNC.TITLE0' | translate}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 center-block" style="float: none!important;">
                    <h3 class="afta-font text-center">{{'FORM.TNC.TITLE1' | translate}}</h3>
                </div>
            </div>

            <p>
                {{'FORM.TNC.LINE_0' | translate}}
            </p>
            <ol>
                <li>
                    {{'FORM.TNC.LINE_1' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_2' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_3' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_4' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_5' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_6' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_7' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_8' | translate}}
                    <ul>
                        <li>
                            {{'FORM.TNC.LINE_81' | translate}}
                        </li>
                        <li>
                            {{'FORM.TNC.LINE_82' | translate}}
                        </li>
                            <ul style="list-style: disc;">
                                <li>
                                    {{'FORM.TNC.LINE_83' | translate}}
                                </li>
                                <li>
                                    {{'FORM.TNC.LINE_84' | translate}}
                                </li>
                                <li>
                                    {{'FORM.TNC.LINE_85' | translate}}
                                </li>
                                <li>
                                    {{'FORM.TNC.LINE_86' | translate}}
                                </li>
                            </ul>
                        <li>
                            {{'FORM.TNC.LINE_9' | translate}}
                        </li>
                        <li>
                            {{'FORM.TNC.LINE_10' | translate}}
                        </li>
                        <li>
                            {{'FORM.TNC.LINE_11' | translate}}
                        </li>
                        <li>
                            {{'FORM.TNC.LINE_12' | translate}}
                        </li>
                    </ul>
                </li>
                <li>
                    {{'FORM.TNC.LINE_13' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_14' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_15' | translate}}
                </li>
                <li>
                    {{'FORM.TNC.LINE_16' | translate}}
                </li>
            </ol>
        </div>
    </div>
</div>