﻿<div class="modal-content" ng-init="BankDetModalCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="BankDetModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
		<h3 class="modal-title afta-font">{{BankDetModalCtrl.action | translate}} Bank Detail</h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'ACCOUNT_NO' | translate}} <span style="color:red;">*</span>
					<input type="text" ng-style="{ background: BankDetModalCtrl.NoRek === '' || BankDetModalCtrl.NoRek === null || BankDetModalCtrl.NoRek === undefined ? '#f2dede' : 'white' }" class="form-control" placeholder="{{'ACCOUNT_NO' | translate}}" ng-model="BankDetModalCtrl.NoRek">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'ACCOUNT_NAME' | translate}} <span style="color:red;">*</span>
					<input type="text" ng-style="{ background: BankDetModalCtrl.NamaAkun === '' || BankDetModalCtrl.NamaAkun === null || BankDetModalCtrl.NamaAkun === undefined ? '#f2dede' : 'white' }" class="form-control" placeholder="{{'ACCOUNT_NAME' | translate}}" ng-model="BankDetModalCtrl.NamaAkun">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'BANK_NAME' | translate}} <span style="color:red;">*</span>
					<!--<input type="text" class="form-control" placeholder="{{'BANK_NAME' | translate}}" ng-model="BankDetModalCtrl.NamaBank">-->
                    <select class="form-control" ng-model="BankDetModalCtrl.NamaBank" ng-style="{ background: BankDetModalCtrl.NamaBank === '' || BankDetModalCtrl.NamaBank === null || BankDetModalCtrl.NamaBank === undefined ? '#f2dede' : 'white' }"
                            ng-options="item as item.Name for item in BankDetModalCtrl.bankList">
                    <option value="" selected disabled class="text-center">-- {{"BANK_NAME" | translate}} --</option>
                    </select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'BRANCH' | translate}} <span style="color:red;">*</span>
					<input type="text" class="form-control" ng-style="{ background: BankDetModalCtrl.Cabang === '' || BankDetModalCtrl.Cabang === null || BankDetModalCtrl.Cabang === undefined ? '#f2dede' : 'white' }" placeholder="{{'BRANCH' | translate}}" ng-model="BankDetModalCtrl.Cabang">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>{{'SWIFT_CODE' | translate}} <span style="color:red;">*</span>
					<!--<input type="text" class="form-control" placeholder="{{'SWIFT_CODE' | translate}}" ng-model="BankDetModalCtrl.Swift">-->
                    <select class="form-control" ng-model="BankDetModalCtrl.NamaBank" ng-style="{ background: BankDetModalCtrl.NamaBank === '' || BankDetModalCtrl.NamaBank === null || BankDetModalCtrl.NamaBank === undefined ? '#f2dede' : 'white' }"
                            ng-options="item as item.Swift for item in BankDetModalCtrl.bankList" disabled>
						<option value="">--- {{'SWIFT_CODE' | translate}} ---</option>
					</select>

				</div>
			</div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'CURRENCY' | translate}} <span style="color:red;">*</span>
                    <select class="form-control" ng-model="BankDetModalCtrl.currency" ng-style="{ background: BankDetModalCtrl.currency === '' || BankDetModalCtrl.currency === null || BankDetModalCtrl.currency === undefined ? '#f2dede' : 'white' }"
                            ng-options="item as item.Symbol + ' | ' + item.Label for item in BankDetModalCtrl.currencyList">
						<option value="">--- {{'CURRENCY' | translate}} ---</option>
                        </select>
                </div>
            </div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">
						Upload File <span style="color:red;">*</span>
						<small> ( <span ng-repeat="ft in BankDetModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{BankDetModalCtrl.idUploadConfigs[0].Size}} {{BankDetModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
					</label>
					<input type="file" class="form-control" ng-style="{ background: BankDetModalCtrl.fileUpload === '' || BankDetModalCtrl.fileUpload === null || BankDetModalCtrl.fileUpload === undefined ? '#f2dede' : 'white' }" ng-file-select="BankDetModalCtrl.selectUpload()" ng-model="BankDetModalCtrl.fileUpload" name="ownerIDFile" required/>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-md-6">
                <label><span style="color:red;">*</span>) {{'ACCOUNT_INFO' | translate}}</label>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-danger" ng-click="BankDetModalCtrl.batal()" title="{{'Batal' | translate}}"><i class="fa fa-reply"></i>&nbsp;{{'Batal' | translate}}</button>
		<button type="button" class="btn btn-flat btn-success" ng-click="BankDetModalCtrl.uploadFile()" title="{{'Simpan' | translate}}"><i class="fa fa-save"></i>&nbsp;{{'Simpan' | translate}}</button>
	</div>
</div>