﻿<div ng-init="BankDetCtrl.init()">
	<ol class="breadcrumb" style="margin-top: 20px;">
		<li><a href="#/dashboard-vendor"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.BANK_DETAILS' | translate}}</a></li>
	</ol>
	<div class="box">
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<h3 class="afta-font text-center">{{'BANK_DETAIL' | translate}}</h3>
				</div>
			</div>
            <div class="row" ng-if="BankDetCtrl.isCR == true">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF1' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
                    </div>
                </div>
            </div>
            <div class="row" ng-if="BankDetCtrl.revisiVendor">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable text-center">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOTIF_DLU' | translate}} <strong> {{BankDetCtrl.revisiName}}</strong> {{'MESSAGE.NOTIF_TIDAK_VALID' | translate}} <button class="btn btn-xs btn-warning" ng-click="BankDetCtrl.revisiVendorDetail()" title="{{'DETAIL' | translate}}"><i class="fa fa-eye"></i> {{'DETAIL' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="BankDetCtrl.show == 1">
                <div class="col-md-12">
                    <div class="alert alert-info alert-dismissable text-center">
                        <a href="" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        <strong>Info!</strong> {{'MESSAGE.NOT_CHECKED' | translate}}
                    </div>
                </div>
            </div>
			<div class="col-md-12">
				<div class="col-md-12" style="text-align: center; margin-bottom: 20px">
					<button type="button" ng-if="BankDetCtrl.IsApprovedCR===true && BankDetCtrl.vendorCategoryID == 33" class="btn btn-flat btn-success" ng-click="BankDetCtrl.tambah()">
						<i class='fa fa-plus'></i>&nbsp; {{'Tambah' | translate}}
					</button>
                    <button type="button" ng-if="BankDetCtrl.vendorCategoryID == 32 && BankDetCtrl.isDataCIVD == true" class="btn btn-flat btn-success" ng-click="BankDetCtrl.getDataCIVD()">
                        <i class='fa fa-download'></i>&nbsp; {{'GET_DATA_CIVD' | translate}}
                    </button>
                    <button type="button" ng-if="BankDetCtrl.IsApprovedCR===true && BankDetCtrl.vendorCategoryID == 33" class="btn btn-flat btn-primary" ng-click="BankDetCtrl.upload()" title="{{'UPLOAD' | translate}}">
                        <i class="fa fa-upload"></i> {{'UPLOAD_STATEMENT' | translate}}
                    </button>
                    <!--<button type="button" ng-if="BankDetCtrl.IsApprovedCR===true && BankDetCtrl.vendorCategoryID == 33" class="btn btn-flat btn-success" ng-click="BankDetCtrl.upload()" title="{{'UPLOAD' | translate}}">
                        <i class="fa fa-upload"></i>
                    </button>-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th class="text-center" style="width: 20px; min-width: 20px; vertical-align: middle;">{{'NO' | translate}}</th>
									<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'ACCOUNT_NO' | translate}}</th>
									<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">{{'ACCOUNT_NAME' | translate}}</th>
									<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'BANK_NAME' | translate}}</th>
									<th class="text-center" style="width: 120px; min-width: 120px; vertical-align: middle;">{{'BRANCH' | translate}}</th>
									<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;" ng-if="BankDetCtrl.vendorCategoryID == 33">{{'SWIFT_CODE' | translate}}</th>
									<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'CURRENCY' | translate}}</th>
									<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">{{'PASSBOOK' | translate}}</th>
                                    <th class="text-center" style="width: 200px; min-width: 200px; vertical-align: middle;">{{'BANKADDRESS' | translate}}</th>
									<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;" ng-if="BankDetCtrl.vendorCategoryID == 33">{{'ACTION' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="data in BankDetCtrl.bank">
									<td class="text-center">{{BankDetCtrl.currentPage > 1 ? (BankDetCtrl.maxSize * (BankDetCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
									<td>{{data.AccountNo}}</td>
									<td class="text-center">{{data.AccountName}}</td>
									<td class="text-center">{{data.BankName}}</td>
									<td class="text-center">{{data.Branch}}</td>
									<td ng-if="BankDetCtrl.vendorCategoryID == 33">{{data.SwiftCode ? data.SwiftCode:'-'}}</td>
									<td class="text-center">{{data.CurrencyName}}</td>
									<td class="text-center">
										<a ng-if="BankDetCtrl.vendorCategoryID == 33" href="{{BankDetCtrl.folderFile + data.UrlDoc}}" target="_blank" class="btn btn-flat btn-sm btn-primary" title="{{'DOWNLOAD' | translate}}">
											<i class="fa fa-download"></i>
										</a>
                                        <a ng-if="BankDetCtrl.vendorCategoryID == 32" ng-click="BankDetCtrl.downloadFileCivd(data.UrlDoc,('BANK_DETAIL' | translate))" class="btn btn-flat btn-sm btn-primary" title="{{'DOWNLOAD' | translate}}">
                                            <i class="fa fa-download"></i>
										</a>
                                        
									</td>
                                    <td>{{data.BankAddress}}</td>
									<td class="text-center" ng-if="BankDetCtrl.vendorCategoryID == 33">
										<button ng-if="BankDetCtrl.IsApprovedCR===true" ng-click="BankDetCtrl.edit(data)" class="btn btn-flat btn-sm btn-primary" title="{{'Ubah' | translate}}"><i class="fa fa-pencil"></i></button>
										<button ng-if="BankDetCtrl.IsApprovedCR===true" class="btn btn-flat btn-sm btn-danger" ng-click="BankDetCtrl.remove(data)" title="{{'Hapus' | translate}}"><i class="fa fa-trash"></i></button>
									</td>
								</tr>
								<tr ng-if="BankDetCtrl.bank.length === 0"> <td colspan="10"> {{'NO_DATA' | translate}}</td></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12">

                    <!--biru--><button ng-if="BankDetCtrl.vendorCategoryID != 32" disabled style="background-color: #65c140; width: 35px; height:30px; border:none;"><i class="fa fa-plus"></i></button> <span ng-if="BankDetCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'Tambah' | translate}}</span>

                    <!--kuning--><!--<button disabled style="background-color: #ecb42f; width: 35px; height:30px; border:none;"><i class="fa fa-external-link"></i></button> <span style="margin-right: 10px;">: {{'BTN.VIEW_DETAIL' | translate}}</span>-->                   
                    
                    <!--hijau--><button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class='fa fa-upload'></i>&nbsp;</button> <span style="margin-right: 10px;">: {{'UPLOAD' | translate}}</span>

                    <!-- biru<button disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-download"></i></button> <span style="margin-right: 10px;">: {{'DOWNLOAD' | translate}}</span> -->

                    <!--biru--><button ng-if="BankDetCtrl.vendorCategoryID != 32" disabled style="background-color: #13c0ce; width: 35px; height:30px; border:none;"><i class="fa fa-pencil"></i></button> <span ng-if="BankDetCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'Ubah' | translate}}</span>

                    <!--merah--><button ng-if="BankDetCtrl.vendorCategoryID != 32" disabled style="background-color: #c72e4d; width: 35px; height:30px; border:none;"><i class="fa fa-trash"></i></button> <span ng-if="BankDetCtrl.vendorCategoryID != 32" style="margin-right: 10px;">: {{'Hapus' | translate}}</span>
                </div>
            </div>
		</div>
	</div>
</div>
