﻿<div class="modal-content" ng-init="bankDetailUploadModalCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="bankDetailUploadModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
		<h3 class="modal-title afta-font">{{"UPLOAD_STATEMENT" | translate}}</h3>
	</div>
	<div class="modal-body">
        <div class="row">
            <div class="col-md-12 center-block" style="float:none!important">
                <div class="row">
                    <div class="col-md-10 center-block" style="float:none!important">
                        <div class="form-group">
                            <label>{{"UPLOAD_STATEMENT" |  translate}} <small> ( <span ng-repeat="ft in bankDetailUploadModalCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size : {{bankDetailUploadModalCtrl.idUploadConfigs[0].Size}} {{bankDetailUploadModalCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small> &nbsp;</label>
                            
                            <a class="btn btn-primary" href="{{bankDetailUploadModalCtrl.folderFile + bankDetailUploadModalCtrl.documentForDownload}}" target="_blank" ng-if="bankDetailUploadModalCtrl.documentForDownload != null" title="{{'DOWNLOAD_FOR_DOCUMENT'| translate}}"><i class="fa fa-download"></i></a>
                            <a class="btn btn-success" href="{{bankDetailUploadModalCtrl.folderFile + bankDetailUploadModalCtrl.documentStatementLetter}}" target="_blank" ng-if="bankDetailUploadModalCtrl.documentStatementLetter != null" title="{{'DOWNLOAD_STATEMENT'| translate}}" ><i class="fa fa-download"></i></a><br />

                            <input type="file" class="form-control" ng-file-select="bankDetailUploadModalCtrl.selectUpload()" ng-model="bankDetailUploadModalCtrl.fileUpload" title="{{'UPLOAD_DOKUMEN'|translate}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-danger" ng-click="bankDetailUploadModalCtrl.batal()"><i class="fa fa-reply"></i>&nbsp; {{'BATAL' | translate}}</button>
		<button type="button" class="btn btn-flat btn-success" ng-if="bankDetailUploadModalCtrl.IsApprovedCR" ng-click="bankDetailUploadModalCtrl.uploadFile()"><i class="fa fa-save"></i>&nbsp; {{'Simpan' | translate}}</button>
	</div>
</div>