﻿<div ng-init="prequalCertificateCtrl.init()">
	<section class="content">
		<ol class="breadcrumb">
			<li><a href="#/home-admin">Home</a></li>
            <li><a href="#/data-prakualifikasi">{{'BREADCRUMB.DATA_PRAKUALIFIKASI'|translate}}</a></li>
            <li><a href="#/data-prakualifikasi/tahapan/{{prequalCertificateCtrl.prequalId}}">{{'BREADCRUMB.DETAIL_TAHAPAN_PRAKUALIFIKASI'|translate}}</a></li>
			<li><a class="active">{{'BREADCRUMB.PREQUAL_CERTIFICATE' | translate}}</a></li>
		</ol>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 center-block" style="float: none!important;">
					<div class="box box-info">
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									<h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'TITLE.PREQUAL_CERTIFICATE' | translate}}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<label>{{'START_DATE' | translate}}: {{prequalCertificateCtrl.StartDate | date: "dd/MM/yyyy HH:mm"}}</label>
								</div>
								<div class="col-md-4">
									<label>{{'END_DATE' | translate}}: {{prequalCertificateCtrl.EndDate | date:"dd/MM/yyyy HH:mm"}}</label>
								</div>
								<div class="col-md-12">
									<label>{{'PREQUAL_NAME' | translate}}: {{prequalCertificateCtrl.PrequalSetupName}} </label>
								</div>
							</div>
							<hr />
							<div class="row" style="margin-top: 20px;">
								<div class="col-md-12">
									<div class="table table-responsive" style="padding-bottom: 20px;">
										<table class="table table-bordered table-striped" id="table-rekanan">
											<thead>
												<tr>
													<th class="text-center" width="20px">No.</th>
													<th class="text-center">{{'VENDOR_NAME' | translate}}</th>
													<th class="text-center">{{'EVAL_RESULT' | translate}}</th>
													<th class="text-center">{{'Action' | translate}}</th>
													<th class="text-center">{{'Status' | translate}}</th>
													<th ng-hide="!prequalCertificateCtrl.IsAllowPublish" class="text-center"><input type="checkbox" ng-change="prequalCertificateCtrl.changeAll()" ng-model="prequalCertificateCtrl.IsPublishAll" /></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="dt in prequalCertificateCtrl.Vendors">
													<td class="text-center" style="vertical-align: middle;">{{$index + 1}}</td>
													<td class="text-center" style="vertical-align: middle;">{{dt.VendorName}}</td>
													<td ng-if="dt.IsPassed" class="text-center" style="vertical-align: middle;">{{'PASSED' | translate}}</td>
													<td ng-if="!dt.IsPassed" class="text-center" style="vertical-align: middle;">{{'FAILED' | translate}}</td>
													<td class="text-center" style="vertical-align: middle">
														<button ng-if="dt.IsPassed" type="button" ng-click="prequalCertificateCtrl.downloadCert(dt)" class="btn btn-success" title="Download">
															<i class="fa fa-download"></i>
														</button>
														<button ng-if="dt.IsPassed && prequalCertificateCtrl.IsAllowPublish" type="button" ng-click="prequalCertificateCtrl.uploadCert(dt)" class="btn btn-primary" title="Upload">
															<i class="fa fa-upload"></i>
														</button>
														<a ng-if="dt.CertificateUrl !== null" href="{{prequalCertificateCtrl.folderFile+dt.CertificateUrl}}" target="_blank" class="btn btn-default" title="Download Result">
															<i class="fa fa-cloud-download"></i>
														</a>
													</td>
													<!--<td ng-if="dt.IsCertSent" class="text-center" style="vertical-align:middle;">{{'SENT' | translate}}</td>
													<td ng-if="!dt.IsCertSent" class="text-center" style="vertical-align:middle;">{{'NOT_SENT' | translate}}</td>-->
													<td>
														<label ng-hide="dt.IsCertSent || dt.CertificateUrl === null || dt.CertificateUrl === ''">{{'SEND_CERT?' | translate}}</label>
														<label ng-hide="!dt.IsCertSent">{{'CERTIFICATE_SENT' | translate}}</label>
														<label ng-show="dt.CertificateUrl === null || dt.CertificateUrl === ''">{{'CERT_NOT_UPLOADED_YET' | translate}}</label>
													</td>
													<td ng-hide="!prequalCertificateCtrl.IsAllowPublish">
														<input type="checkbox" ng-hide="dt.IsCertSent || dt.CertificateUrl === null || dt.CertificateUrl === ''" ng-model="dt.IsSendCert" />
													</td>
												</tr>
												<tr ng-if="prequalCertificateCtrl.Vendors.length === 0">
													<td colspan="5" class="text-center" style="vertical-align: middle;">Data Tidak Ada</td>
												</tr>
											</tbody>
										</table>
									</div><br />
								</div>
							</div>
							<div class="row" style="margin-top: 20px;">
								<div class="col-md-12">
									<!--<button ng-hide="goodsTechEvalResulDetermineCtrl.IsPublished" class="pull-right btn btn-success" ng-click="goodsTechEvalResulDetermineCtrl.Determine()">
										<i class="fa fa-save"></i>&nbsp;{{'FORM.SAVE' | translate}}
									</button>-->
									<div class="col-md-6 center-block">
										<button ng-show="prequalCertificateCtrl.IsAllowPublish" type="button" ng-click="prequalCertificateCtrl.publish()" class="btn btn-success" title="Publish">
											<i class="fa fa-send"></i>&nbsp;{{'FORM.PUBLISH' | translate}}
										</button>
									</div>
									<div class="col-md-6 center-block text-right">
										<a href="#/data-prakualifikasi/tahapan/{{prequalCertificateCtrl.prequalId}}" class="btn btn-primary" title="Back">
											<i class="fa fa-arrow-circle-left"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>