﻿<!DOCTYPE html>

<html data-ng-app="uploadDemo">
<head>
    <title>Upload</title>
    <script src="assets/js/lib/angular/angular.js"></script>
    <script src="assets/js/lib/angular/angular-file-upload.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/common/global-constants.service.js"></script>
    <script src="app/common/uploader.service.js"></script>
    <script src="app/common/ui-control.service.js"></script>
    <script type="text/javascript">
        angular.module('uploadDemo', ['angularFileUpload'])
            .controller('uploadCtrl', ['$scope', '$upload', 'UploaderService', 'UIControlService', function ($scope, $upload, UploaderService, UIControlService) {

                $scope.upload = function (file) {
                    if (file) {
                        UploaderService.upload(file, 'vendor', '3',
                            function (response) {
                                console.info(JSON.stringify(response));
                                UIControlService.msg_growl('notice', 'Upload Succees!', '200 - File Uploaded');
                            },
                            function (response) {
                                UIControlService.handleRequestError('Upload Failed!', '500 - Internal Server Error');
                            });
                    }
                };

            }])
    </script>
</head>
<body data-ng-controller="uploadCtrl">

    <form name="uploadForm">
        <fieldset>
            <legend>Upload file</legend>
            <div>
                <label>Username:</label>
                <input type="text" name="userName" ng-model="username" size="48" required="">
            </div>
            <div>
                <label>File:</label>
                <input type="file" ng-file-select="" ng-model="file" name="file">
            </div>

            <button ng-click="upload(file)">Submit</button>
        </fieldset>
        <br>
    </form>

</body>
</html>