﻿<!-- Main content -->
<div ng-init="AknowSheetCtrl.init()">
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'JUDUL'|translate}}</h3>
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <table border="0">
                                    <tr>
                                        <td width="100px">
                                            {{'TO'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{AknowSheetCtrl.export.vendorcontact[0].Vendor.VendorName}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'ATTN'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetCtrl.contactCP[0].Contact.Name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'FAX'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetCtrl.contactCompany.Contact.Fax}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'EMAIL'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetCtrl.contactCompany.Contact.Email}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table border="0">
                                    <tr>
                                        <td width="100px">
                                            {{'DATE'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetCtrl.export.POSent | date:"dd/MM/yyyy"}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'PO_REF'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetCtrl.export.POmodel.PONumber}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="100px">
                                            {{'BUYER'|translate}}
                                        </td>
                                        <td width="10px">
                                            :
                                        </td>
                                        <td width="200px">
                                            {{AknowSheetCtrl.export.buyer.FullName}} {{AknowSheetCtrl.export.buyer.SurName}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="clearfix">
                                   {{'PO_NUMBER_DESC'|translate}} <br />
                                    {{'PO_NUMBER_DESC2'|translate}} <br />
                                    {{'PO_NUMBER_DESC3'|translate}}  <b> {{'PO_NUMBER_DESC4'|translate}}</b> {{'PO_NUMBER_DESC5'|translate}} <br />
                                    {{'PO_NUMBER_DESC6'|translate}} <br />
                                    {{'PO_NUMBER_DESC7'|translate}} <br />
                                    <hr class="align-center" style="border-style:double" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <strong>
                                    {{'TO'|translate}} : PT. PETROSEA TBK
                                </strong>
                                <p>
                                    {{'TEXT1'|translate}}
                                </p>
                                <strong>{{'TEXT2'|translate}}</strong>
                                <p>
                                    {{'TEXT3'|translate}}
                                </p>
                                <div class="panel-body col-md-6">
                                    <form class="form-horizontal">
                                        <div class="form-group" ng-repeat="dt in AknowSheetCtrl.ack">
                                            <div class="col-sm-1">
                                                <input ng-disabled="true" ng-model="dt.IsCheck" type="checkbox" class="form-group-lg" />
                                            </div>
                                            <label class="col-sm-10">{{dt.SysReference.Value | translate}} </label>
                                            <div class="col-md-12" ng-if="dt.IsCheck === false">
                                                <label class="labelnonbold"> {{'LABEL_KETERANGAN' | translate}}: </label>
                                                <textarea disabled name="Remark{{dt.ID}}" class="form-control" required ng-model="dt.Remark"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="pull-left">
                                    <button class="btn btn-flat btn-default turun-15" title="Print Preview" ng-click="AknowSheetCtrl.printAck('acknow')"><i class="glyphicon glyphicon-print"></i></button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    <a ng-click="AknowSheetCtrl.back()"class=" btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
                                        <i class="fa fa-arrow-left"></i>

                                    </a>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    <div id="acknow" class="formEEC-container" ng-hide="true" style="background-color:#ffffff;">
        <div class="watermark">PT. PETROSEA TBK</div>
        <div style="position:fixed;z-index:99;">
            <div class="row" style="width:100%;">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <img src="assets/img/logo_vale2.png" class="img-responsive pull-right" style="padding-top:10px;padding-left:690px;padding-bottom: 20px;display:block;text-align:right;" width="100px" height="40px" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="formEEC-title">
                        ACKNOWLEDGEMENT SHEET
                    </div>
                    <br />
                    <div class="formEEC-content">
                        <div class="formEEC-contentOutside">
                            <div class="row">
                                <div class="formEEC-col6">
                                    <div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                        <strong>
                                            {{'TO'|translate}}<br />
                                            {{'ATTN'|translate}}<br />
                                            {{'FAX'|translate}}<br />
                                            {{'EMAIL'|translate}}<br />
                                        </strong>
                                    </div>
                                    <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                        : {{AknowSheetCtrl.export.vendorcontact[0].Vendor.business.Name}}. {{AknowSheetCtrl.export.vendorcontact[0].Vendor.VendorName}}<br />
                                        : {{AknowSheetCtrl.contactCP[0].Contact.Name}}  <br />
                                        : {{AknowSheetCtrl.contactCompany.Contact.Fax}}<br />
                                        : {{AknowSheetCtrl.contactCompany.Contact.Email}}<br />
                                    </div>
                                </div>
                                <div class="formEEC-col6">
                                    <div style="width:100px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                        <strong>
                                            {{'DATE'|translate}}<br />
                                            {{'PO_REF'|translate}}<br />
                                            {{'BUYER'|translate}}<br />
                                        </strong>
                                    </div>
                                    <div style="width:250px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                        : {{AknowSheetCtrl.export.POSent | date:"dd/MM/yyyy"}}<br />
                                        : {{AknowSheetCtrl.export.POmodel.PONumber}} <br />
                                        : {{AknowSheetCtrl.export.buyer.FullName}} {{AknowSheetCtrl.export.buyer.SurName}}<br />
                                    </div>                            
                                </div>
                            </div>
                            <div class="row">
                                <p>
                                    {{'PO_NUMBER_DESC'|translate}}<br />
                                    {{'PO_NUMBER_DESC_2'|translate}}<br />
                                    {{'PO_NUMBER_DESC2'|translate}} <br />
                                    {{'PO_NUMBER_DESC3'|translate}}  <b> {{'PO_NUMBER_DESC4'|translate}}</b> {{'PO_NUMBER_DESC5'|translate}} <br />
                                    {{'PO_NUMBER_DESC6'|translate}} <br />
                                    {{'PO_NUMBER_DESC7'|translate}} <br />
                                </p>                              
                            </div>
                            <div class="row">
                                <b>
                                    {{'TO2'|translate}} : PT. PETROSEA TBK
                                </b>
                                <p>
                                     {{'TEXT1'|translate}}
                                </p>
                                <b>{{'TEXT2'|translate}}</b>
                                <p>
                                   {{'TEXT3'|translate}}
                                </p>
                            </div>
                        </div>
                        <form>
                            <div ng-repeat="dt in AknowSheetCtrl.ack">
                                <div style="width:20px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">
                                    <input ng-disabled="true" ng-model="dt.IsCheck" type="checkbox" class="form-control" />
                                </div>
                                <label style="width:300px;display:inline-block;margin-top:0px !important;position:relative;vertical-align:top;">{{dt.SysReference.Value}} </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
