<div class="modal-content" ng-init="viewDAppCtrl.init()" >
    <div class="modal-header">
        <button type="button" class="close"  ng-click="viewDAppCtrl.cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{viewDAppCtrl.tenderCode}} - {{viewDAppCtrl.tenderName}}</h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">{{'STEP_DATES_ACTUAL'|translate}} : </label>
                        <div class="table table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 50px; min-width: 30px; text-align: center;">No.</th>
                                        <th class="text-center">{{'TABLE.TAHAPAN'|translate}}</th>
                                        <th class="text-center" style="width: 150px; min-width: 150px;">{{'TABLE.TGL_MULAI'|translate}}</th>
                                        <th class="text-center" style="width: 150px; min-width: 150px;">{{'TABLE.TGL_SELESAI'|translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="fl in viewDAppCtrl.steps">
                                        <td class="text-center" style="vertical-align: middle;">{{fl.StepOrder}}</td>
                                        <td style="vertical-align: middle;">{{fl.step.TenderStepName |translate}}</td>
                                        <td class="text-center" style="vertical-align: middle;">{{fl.StartDate | date : "dd/MM/yyyy HH:mm"}}</td>
                                        <td class="text-center" style="vertical-align: middle;">{{fl.EndDate | date : "dd/MM/yyyy HH:mm"}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right">
            <button class="btn btn-flat btn-primary" ng-click="viewDAppCtrl.cancel()" title="{{'TUTUP' | translate}}"><i class="fa fa-reply"></i> </button>
        </div>
    </div>
</div>