﻿<section class="content" ng-init="PrequalResultCtrl.init()" style="overflow: visible;">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.PREQUALRESULT' | translate}}</a></li>
	</ol>
	<div class="container-fluid">
		<div class="box">
			<div class="box-header text-center" style="padding:10px!important;">
				<button class="btn btn-flat btn-primary" ng-click="VerifiedProcessCtrl.cancel()" title="Back">
					<i class="fa fa-reply"></i>
				</button>
				<hr style="margin-bottom: 0px;" />
			</div>
			<div class="box-body">
				<div class="row" style="padding-left:15px;">
					<div class="col-md-12">
						<div class="form-horizontal">
							<div class="form-group">
								<div class="row">
									<label class="col-sm-3 control-label" style="font-size:1.5em;padding-top:0px;text-align:left;">{{'COMPANY_NAME' | translate}}<span class="pull-right text-right"></span></label>
									<div class="col-md-9">
										<label style="font-size:1.5em">{{VerifiedProcessCtrl.verified[0].Vendor.VendorName}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<uib-tabset>
					<uib-tab>
						<uib-tab-heading>
							{{'SURAT.TITLE' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'SURAT.TITLE' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th class="text-center" style="width: 5px; min-width: 5px; vertical-align: middle;">No</th>
												<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">Judul</th>
												<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center">1.</td>
												<td class="text-center">Business</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(null, 17,true)" title="Baca"><i class="fa fa-file-o"></i></a>
													<a ng-if="VerifiedProcessCtrl.DocType === 4225" ng-disabled="VerifiedProcessCtrl.flagBC == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlBusinessConduct}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleBC}}"><i class="fa fa-download"></i></a>
													<a ng-if="VerifiedProcessCtrl.DocType === 4232" ng-disabled="VerifiedProcessCtrl.flagBC == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlBusinessConduct}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleBC}}"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek === true">
												<td class="text-center">2.</td>
												<td class="text-center">Surat Pernyataan</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(null, 18,true)" title="Baca"><i class="fa fa-file-o"></i></a>
													<a ng-disabled="VerifiedProcessCtrl.flagAG == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlAggrement}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleAG}}"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek === true">
												<td class="text-center">3.</td>
												<td class="text-center">Kuesioner</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.id, 19,true)" title="Lihat Kuesioner"><i class="fa fa-file-o"></i></a>
													<a g-if="VerifiedProcessCtrl.QuestionnaireUrl != null" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.QuestionnaireUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="File Upload Questionnaire"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek !== true">
												<td class="text-center">2.</td>
												<td class="text-center">Kuesioner</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.id, 19,true)" title="Lihat Kuesioner"><i class="fa fa-file-o"></i></a>
													<a ng-if="VerifiedProcessCtrl.QuestionnaireUrl != null" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.QuestionnaireUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="File Upload Questionnaire"><i class="fa fa-download"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab>
						<uib-tab-heading>
							{{'SURAT.TITLE' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'SURAT.TITLE' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th class="text-center" style="width: 5px; min-width: 5px; vertical-align: middle;">No</th>
												<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">Judul</th>
												<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center">1.</td>
												<td class="text-center">Business</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(null, 17,true)" title="Baca"><i class="fa fa-file-o"></i></a>
													<a ng-if="VerifiedProcessCtrl.DocType === 4225" ng-disabled="VerifiedProcessCtrl.flagBC == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlBusinessConduct}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleBC}}"><i class="fa fa-download"></i></a>
													<a ng-if="VerifiedProcessCtrl.DocType === 4232" ng-disabled="VerifiedProcessCtrl.flagBC == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlBusinessConduct}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleBC}}"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek === true">
												<td class="text-center">2.</td>
												<td class="text-center">Surat Pernyataan</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(null, 18,true)" title="Baca"><i class="fa fa-file-o"></i></a>
													<a ng-disabled="VerifiedProcessCtrl.flagAG == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlAggrement}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleAG}}"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek === true">
												<td class="text-center">3.</td>
												<td class="text-center">Kuesioner</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.id, 19,true)" title="Lihat Kuesioner"><i class="fa fa-file-o"></i></a>
													<a g-if="VerifiedProcessCtrl.QuestionnaireUrl != null" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.QuestionnaireUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="File Upload Questionnaire"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek !== true">
												<td class="text-center">2.</td>
												<td class="text-center">Kuesioner</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.id, 19,true)" title="Lihat Kuesioner"><i class="fa fa-file-o"></i></a>
													<a ng-if="VerifiedProcessCtrl.QuestionnaireUrl != null" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.QuestionnaireUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="File Upload Questionnaire"><i class="fa fa-download"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab>
						<uib-tab-heading>
							{{'SURAT.TITLE' | translate}}
						</uib-tab-heading>
						<div class="row">
							<div class="col-md-12">
								<h3 class="text-center">
									<label>{{'SURAT.TITLE' | translate}}</label>
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-striped table-bordered">
										<thead>
											<tr>
												<th class="text-center" style="width: 5px; min-width: 5px; vertical-align: middle;">No</th>
												<th class="text-center" style="width: 100px; min-width: 100px; vertical-align: middle;">Judul</th>
												<th class="text-center" style="width: 150px; min-width: 150px; vertical-align: middle;">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="text-center">1.</td>
												<td class="text-center">Business</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(null, 17,true)" title="Baca"><i class="fa fa-file-o"></i></a>
													<a ng-if="VerifiedProcessCtrl.DocType === 4225" ng-disabled="VerifiedProcessCtrl.flagBC == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlBusinessConduct}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleBC}}"><i class="fa fa-download"></i></a>
													<a ng-if="VerifiedProcessCtrl.DocType === 4232" ng-disabled="VerifiedProcessCtrl.flagBC == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlBusinessConduct}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleBC}}"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek === true">
												<td class="text-center">2.</td>
												<td class="text-center">Surat Pernyataan</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(null, 18,true)" title="Baca"><i class="fa fa-file-o"></i></a>
													<a ng-disabled="VerifiedProcessCtrl.flagAG == true" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.urlAggrement}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="{{VerifiedProcessCtrl.titleAG}}"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek === true">
												<td class="text-center">3.</td>
												<td class="text-center">Kuesioner</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.id, 19,true)" title="Lihat Kuesioner"><i class="fa fa-file-o"></i></a>
													<a g-if="VerifiedProcessCtrl.QuestionnaireUrl != null" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.QuestionnaireUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="File Upload Questionnaire"><i class="fa fa-download"></i></a>
												</td>
											</tr>
											<tr ng-if="VerifiedProcessCtrl.cek !== true">
												<td class="text-center">2.</td>
												<td class="text-center">Kuesioner</td>
												<td class="text-center">
													<a class="btn btn-flat btn-sm btn-warning" ng-click="VerifiedProcessCtrl.openForm(VerifiedProcessCtrl.id, 19,true)" title="Lihat Kuesioner"><i class="fa fa-file-o"></i></a>
													<a ng-if="VerifiedProcessCtrl.QuestionnaireUrl != null" href="{{VerifiedProcessCtrl.folderFile + VerifiedProcessCtrl.QuestionnaireUrl}}" target="_BLANK" class="btn btn-flat btn-sm btn-primary" title="File Upload Questionnaire"><i class="fa fa-download"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</div>
</section>