﻿<section id="sidebar" class="sidebar">
	<ul class="sidebar-menu side-menu-tree" ng-if="menuItems.length > 0">
		<li ng-class="{ active: main.isActive() }" class="treeview side-menu" ng-repeat="menu in menuItems">
			<a ui-sref="{{menu.StateName}}" style="cursor: pointer!important;">
				<i class="{{menu.Icon}}"></i>&nbsp;<span>{{menu.Label}}</span>
				<!-- <i class="fa fa-angle-left pull-right"></i>-->
			</a>
			<ul class="treeview-menu side-menu" ng-show="menu.Children.length > 0">
				<li class="treeview side-menu" ng-repeat="sub in menu.Children" ng-class="">
					<a ui-sref="{{sub.StateName}}" style="cursor: pointer!important;">
						<i class="{{sub.Icon}}"></i> <span>{{sub.Label}}</span>
						<!--<i class="fa fa-angle-left pull-right"></i>-->
					</a>
					<!-- tambahan sub sub menu -->
					<!--<ul class="treeview-menu">
						<li ng-show="sub.page_id === 170 || sub.page_id === '170'"><a href="#/cpr-list"><i class="fa fa-arrow-circle-o-right"></i> CPR</a></li>
						<li ng-show="sub.page_id === 170 || sub.page_id === '170'"><a href="#/kpi-list"><i class="fa fa-arrow-circle-o-right"></i> KPI(Barang)</a></li>
						<li ng-show="sub.page_id === 170 || sub.page_id === '170'"><a href="#"><i class="fa fa-arrow-circle-o-right"></i>VHS</a></li>
						<li ng-show="sub.page_id === 170 || sub.page_id === '170'"><a href="#/warning-letter"><i class="fa fa-arrow-circle-o-right"></i> Warning Letter</a></li>
						<li ng-show="sub.page_id === 170 || sub.page_id === '170'"><a href="#/pengaturan-vp"><i class="fa fa-arrow-circle-o-right"></i> Pengaturan CPR KPI </a></li>
						<li ng-show="sub.page_id === 170 || sub.page_id === '170'"><a href="#/pengaturan-vp-vhs"><i class="fa fa-arrow-circle-o-right"></i> Pengaturan CPR VHS </a></li>
						<li ng-show="sub.page_id === 170 || sub.page_id === '170'"><a href="#/pengaduan-departemen"><i class="fa fa-arrow-circle-o-right"></i> Pengaduan</a></li>
						<li ng-show="sub.page_id === 183 || sub.page_id === '183'"><a href="#/rfq-dataupload"><i class="fa fa-arrow-circle-o-right"></i> Data Upload</a></li>
						<li ng-show="sub.page_id === 183 || sub.page_id === '183'"><a href="#/list-rfq"><i class="fa fa-arrow-circle-o-right"></i> RFQ</a></li>
					</ul>-->
					<!-- end subsub menu-->
					<!--<ul class="treeview-menu side-menu" ng-show="sub.childs !== null" ng-class="{ active: $root.isActive(sub.page_id)}">
						<li ng-repeat="subsub in sub.childs">
							<a ui-sref="{{subsub.page_link}}" ng-click="$root.setActive(rl.page_id)" style="cursor: pointer!important;">
							</a>
						</li>
					</ul>-->
				</li>
			</ul>
		</li>
	</ul>
</section>

