﻿<!-- Main content -->
<div ng-init="detaildataUploadCtrl.init()">
    <section class="content">
        <ol class="breadcrumb">
            <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.BERANDA' | translate}}</a></li>
            <li><a href="#/monitoring-po">{{'BREADCRUMB.MONITORING' | translate}}</a></li>
            <li><a href="#/dataupload-po">{{'BREADCRUMB.DATA_UPLOAD_PO' | translate}}</a></li>
            <li><a class="active">{{'BREADCRUMB.DETAIL_UPLOAD_PO' | translate}}</a></li>
        </ol>
        <div class="row">
            <div class="col-md-12 center-block" style="float: none!important;">
                <div class="box box-info">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-md-12 align-center">
                                <h3 class="afta-font center text-center">{{'JUDUL_DETAIL'|translate}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="clearfix">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <table class="table table-bordered table-striped" >
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{'TABLE.NO' | translate }}</th>
                                                <th class="text-center" style="vertical-align: middle;">Purch.Doc.</th>
                                                <th class="text-center" style="vertical-align: middle;">Item</th>
                                                <th class="text-center" style="vertical-align: middle;">Type</th>
                                                <th class="text-center" style="vertical-align: middle;">Cat</th>
                                                <th class="text-center" style="vertical-align: middle; ">PGR</th>
                                                <th class="text-center" style="vertical-align: middle;">Vendor Code</th>
                                                <th class="text-center" style="vertical-align: middle;">Vendor Name</th>
                                                <th class="text-center" style="vertical-align: middle;">Short Text</th>
                                                <th class="text-center" style="vertical-align: middle;">A</th>
                                                <th class="text-center" style="vertical-align: middle;">POrg</th>
                                                <th class="text-center" style="vertical-align: middle;">Agreement</th>
                                                <th class="text-center" style="vertical-align: middle;">Item</th>
                                                <th class="text-center" style="vertical-align: middle;">Doc Date</th>
                                                <th class="text-center" style="vertical-align: middle;">Net Price</th>
                                                <th class="text-center" style="vertical-align: middle;">Currency</th>
                                                <th class="text-center" style="vertical-align: middle;">To be Del.</th>
                                                <th class="text-center" style="vertical-align: middle; ">To be Inv.</th>
                                                <th class="text-center" style="vertical-align: middle;">Net Value</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr ng-repeat="data in detaildataUploadCtrl.listItemPO">

                                                <td style="vertical-align: middle;">{{detaildataUploadCtrl.currentPage > 1 ? (detaildataUploadCtrl.maxSize * (detaildataUploadCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
                                                <td style="vertical-align: middle;">{{data.PurchDoc}}</td>
                                                <td style="vertical-align: middle;">{{data.Item}}</td>
                                                <td style="vertical-align: middle;">{{data.Type}}</td>
                                                <td style="vertical-align: middle;">{{data.Cat}}</td>
                                                <td style="vertical-align: middle;">{{data.Pgr}}</td>
                                                <td style="vertical-align: middle;">{{data.SAPCode}}</td>
                                                <td style="vertical-align: middle;">{{data.VendorName}}</td>
                                                <td style="vertical-align: middle;">{{data.ShortText}}</td>
                                                <td style="vertical-align: middle;">{{data.A}}</td>
                                                <td style="vertical-align: middle;">{{data.POrg}}</td>
                                                <td style="vertical-align: middle;">{{data.Agreement}}</td>
                                                <td style="vertical-align: middle;">{{data.ItemPO}}</td>
                                                <td style="vertical-align: middle;">{{data.DocDate}}</td>
                                                <td style="vertical-align: middle;">{{data.NetPrice | currency}}</td>
                                                <td style="vertical-align: middle;">{{data.Currency}}</td>
                                                <td style="vertical-align: middle;">{{data.ToBeDel}}</td>
                                                <td style="vertical-align: middle;">{{data.ToBeInv}}</td>
                                                <td style="vertical-align: middle;">{{data.NetValue | currency}}</td>
                                            </tr>
                                            <tr ng-if="detaildataUploadCtrl.totalItems === 0">
                                                <td colspan="13">{{'TIDAK_ADA_DATA' | translate }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>{{'TOTAL_DATA' | translate }} : {{detaildataUploadCtrl.totalItems}}</label>
                            </div>
                            <div class="col-md-10">
                                <ul ng-class="pull-right" uib-pagination boundary-links="true" total-items="detaildataUploadCtrl.totalItems" ng-model="detaildataUploadCtrl.currentPage"
                                    class="pagination-sm" previous-text="&lsaquo;" max-number="detaildataUploadCtrl.maxSize" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                    ng-change="detaildataUploadCtrl.loadData(detaildataUploadCtrl.currentPage)" max-size="10"></ul>

                            </div>
                            <div class="col-md-12 text-right">

                                <a href="#/dataupload-po-contract" class="btn btn-flat btn-primary turun-15" title="{{'BACK' | translate}}">
                                    <i class="fa fa-arrow-left"></i>{{'BACK' | translate}}

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
