﻿<div class="container-fluid" ng-init="pengPerCtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/dashboard-vendor">{{'BREADCRUMB.BERANDA'|translate}}</a></li>
		<li><a class="active">{{'BREADCRUMB.PENGURUS_PERUSAHAAN'|translate}}</a></li>
	</ol>
	<div class="row" style="padding-top: 10px;margin-right:10px">
		<div class="col-md-12" style="margin-top: -10px;">
			<h3 class="text-center afta-font" style="padding-bottom: 20px;font-weight:bold">{{'DATA_PENGURUS_PERUSAHAAN'|translate}}</h3>
		</div>
        <div class="col-md-12" ng-if="pengPerCtrl.CR===true && pengPerCtrl.isChangeData == true">
            <div class="alert alert-info alert-dismissable">
                <a class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                <strong>Info!</strong> {{'MESSAGE.NOTIF1' | translate}} <strong>Save</strong> {{'MESSAGE.NOTIF2' | translate}} <strong> {{'MESSAGE.NOTIF3' | translate}}</strong> {{'MESSAGE.NOTIF4' | translate}}
            </div>
        </div>
		<div class="col-md-12">
			<div class="row">
				<button ng-if="pengPerCtrl.isApprovedCR === true" style="float:right" class="btn btn-flat btn-success" role="button" ng-click="pengPerCtrl.addCP()" title="{{'TAMBAH'|translate}} ">
					<i class="fa fa-plus-circle"></i> {{'TAMBAH'|translate}}
				</button>
			</div>
			<div class="row turun-15">
				<div class="table table-responsive">
					<table class="table table-bordered table-striped blocktable">
						<thead>
							<tr>
								<th class="text-center" style="width: 5%;">{{'NO'|translate}}</th>
								<th class="text-center">{{'NAMA'|translate}}</th>
								<th ng-if="pengPerCtrl.vendorLocation === 'ID'" class="text-center" style="width: 20%;">{{'NO_KTP'|translate}}</th>
								<th ng-if="pengPerCtrl.vendorLocation !== 'ID'" class="text-center" style="width: 20%;">{{'NO_PASPOR'|translate}}</th>
								<th class="text-center" style="width: 15%;">{{'TGL_LAHIR'|translate}}</th>
								<th class="text-center" style="width: 20%;">{{'JABATAN'|translate}}</th>
								<th class="text-center" style="width: 15%;">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="pengPerCtrl.compPersons.length === 0">
								<td colspan="6">
									{{'TIDAK_ADA_DATA' | translate}}
								</td>
							</tr>
							<tr ng-repeat="obj in pengPerCtrl.compPersons">
								<td class="text-center" style="vertical-align: middle;">{{$index+1}}</td>
								<td style="vertical-align: middle;">{{obj.PersonName}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.NoID}}</td>
								<td class="text-center" style="vertical-align: middle;">{{obj.DateOfBirthConverted}}</td>
								<td style="vertical-align: middle;">{{('POSITION_PERSON.' + obj.PositionRef) | translate}}</td>
								<td class="text-center">
									<button class="btn btn-flat btn-sm btn-primary" ng-click="pengPerCtrl.viewCP(obj)" title="{{'LIHAT'|translate}}">
										<i class="fa fa-eye"></i>
									</button>
									<button ng-if="pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-warning" ng-click="pengPerCtrl.editCP(obj)" title="{{'UBAH'|translate}}">
										<i class="fa fa-edit"></i>
									</button>
									<button ng-if="pengPerCtrl.isApprovedCR === true" class="btn btn-flat btn-sm btn-danger" ng-click="pengPerCtrl.deleteCP(obj)" title="{{'HAPUS'|translate}}">
										<i class="fa fa-times-circle"></i>
									</button>
									<!--jika ada perubahan data-->
									<!--<a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true && pengPerCtrl.isEditedByVendor === false" class="btn btn-flat btn-sm btn-primary" ng-click="pengPerCtrl.editCP(obj)" title="{{'UBAH'|translate}}">
							<i class="fa fa-edit"></i>
						</a>
						<a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true && pengPerCtrl.isEditedByVendor === false" class="btn btn-flat btn-sm btn-danger" ng-click="pengPerCtrl.deleteCP(obj)" title="{{'HAPUS'|translate}}">
							<i class="fa fa-times-circle"></i>
						</a>-->
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row" style="margin-top:-30px;margin-bottom:30px">
				<!--<div class="col-md-12">-->
					<button class="btn btn-flat btn-xs btn-primary" title="{{'LIHAT'|translate}}">
						<i class="fa fa-eye"></i>
					</button> : {{'LIHAT'|translate}}&nbsp;&nbsp;
					<button class="btn btn-flat btn-xs btn-warning" title="{{'UBAH'|translate}}">
						<i class="fa fa-edit"></i>
					</button> : {{'UBAH'|translate}}&nbsp;&nbsp;
					<button class="btn btn-flat btn-xs btn-danger" title="{{'HAPUS'|translate}}">
						<i class="fa fa-times-circle"></i>
					</button> : {{'HAPUS'|translate}}&nbsp;&nbsp;
			</div>
		</div>
	</div>
	<div class="row" ng-if="pengPerCtrl.noPresDir">
		<div class="col-md-7 center-block" style="float: none!important;">
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<span><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;&nbsp;{{'MESSAGE.ERR_NO_PRESIDENT_DIRECTOR'|translate}}<br /></span>
			</div>
		</div>
	</div>
	<div class="row" ng-if="pengPerCtrl.noFinDir">
		<div class="col-md-7 center-block" style="float: none!important;">
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<span><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;&nbsp;{{'MESSAGE.ERR_NO_DIRECTOR_OF_FINANCE'|translate}}<br /></span>
			</div>
		</div>
	</div>
	<div class="row" ng-if="pengPerCtrl.noOperDir">
		<div class="col-md-7 center-block" style="float: none!important;">
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<span><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;&nbsp;{{'MESSAGE.ERR_NO_DIRECTOR_OF_OPERATIONS'|translate}}<br /></span>
			</div>
		</div>
	</div>
	<!--<div class="row" style="padding-bottom: 20px;">
		<div class="col-md-12">
			<div class="center-block text-center">
<<<<<<< .mine
				<button ng-if="pengPerCtrl.isApprovedCR === true" href="" class="btn btn-flat btn-success" role="button" ng-click="pengPerCtrl.addCP()" title="{{'TAMBAH'|translate}} ">
					<i class="fa fa-plus-circle"></i> {{'TAMBAH'|translate}}
				</button>
				<a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true && pengPerCtrl.isEditedByVendor === false" href="" class="btn btn-flat btn-primary" role="button" ng-click="pengPerCtrl.addCP()" title="{{'TAMBAH'|translate}}">
=======
				<a  href="" class="btn btn-flat btn-primary" ng-if="pengPerCtrl.isApprovedCR === true" role="button" ng-click="pengPerCtrl.addCP()" title="{{'TAMBAH'|translate}} ">
>>>>>>> .r536
					<i class="fa fa-plus-circle"></i>
				</a>
				<a ng-if="pengPerCtrl.isChangeData === true && pengPerCtrl.isApprovedCR === true && pengPerCtrl.isEditedByVendor === false" href="" class="btn btn-flat btn-success" role="button" ng-click="pengPerCtrl.submitCP()" title="{{'SUBMIT'|translate}}">
					<i class="fa fa-check"></i>
				</a>
			</div>
		</div>
	</div>-->
</div>