﻿<div class="modal-content" ng-init="formVariabelCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formVariabelCtrl.onCancelClick()"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h3 class="afta-font" style="margin-top: 5px; margin-bottom: 5px;"></h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 col-sm-10 col-xs-12 well center-block" style="float: none!important;">
                <div class="form-group">
                    <label>{{'NAMA_VARIABEL' | translate}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <input class="form-control" ng-model="formVariabelCtrl.variabel_email_global.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label>{{'ISI_VARIABEL' | translate}}</label>
                    <input class="form-control" ng-model="formVariabelCtrl.variabel_email_global.Value"/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="formVariabelCtrl.onSimpanClick()" title="{{'SIMPAN' | translate}}"><i class="fa fa-save"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-default" ng-click="formVariabelCtrl.onCancelClick()" title="{{'BATAL' | translate}}"><i class="fa fa-reply"></i>&nbsp;</button>
    </div>
</div>
