﻿<section class="content" style="overflow: visible!important;">
	<ol class="breadcrumb">
		<li><a href="#/dashboard">{{'Beranda'|translate}}</a></li>
		<li><a href="#/detail-tahapan-vendor/{{ccvCtrl.TenderID}}" class="active">{{'Detail Tahapan'|translate}}</a></li>
		<li><a class="active">{{'Klarifikasi Hasil Prakualifikasi'|translate}}</a></li>
	</ol>
	<div class="container-fluid" ng-init="ccvCtrl.init()">
		<div class="row">
			<div class="col-md-12 center-block" style="float: none!important;">
				<div class="box box-info">
					<div class="box-body">
						<div class="row" style="padding-bottom: 20px;">
							<div class="col-md-12" style="padding-top: 15px;">
								<div class="col-md-12 center-block" style="float: none!important;">
									<div class="row">
										<div class="col-md-12">
											<h3 class="afta-font text-center">{{'FORUM_KLARIFIKASI'|translate}}</h3>
											<h4 class="afta-font text-center">{{ccvCtrl.PrequalSetupName}}</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<label>{{'TANGGAL_MULAI' | translate}}: {{ccvCtrl.StartDate | date:'dd/MM/yyyy'}}</label>
										</div>
										<div class="col-md-6">
											<label class="pull-right">{{'TANGGAL_SELESAI' | translate}}: {{ccvCtrl.EndDate | date:'dd/MM/yyyy'}}</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 center-block">
								<div class="row" ng-show="ccvCtrl.IsPeriodOpen">
									<div class="col-md-12">
										<div class="center-block text-right">
											<button ng-click="ccvCtrl.tulis()" class="text-right btn btn-sm btn-flat btn-primary" style="margin-bottom: 15px;" title="{{'TULIS_PESAN'|translate}}">
												<i class="fa fa-pencil"></i>&nbsp;{{'TULIS_PESAN'|translate}}
											</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="row" style="padding-top: 3px!important; padding-bottom: 5px!important;">
											<div class="col-md-12">
												<div class="message-wrap col-md-12 center-block" style="float: none!important;">
													<div class="msg-wrap">
														<div id="divChat" class="media msg" ng-repeat="chat in ccvCtrl.chats">
															<div class="media-body">
																<div>
																	<small class="pull-right time"><i class="fa fa-clock-o"></i> {{chat.Date | date: "dd/MM/yyyy HH:mm"}}</small>
																	<h5 ng-if="(chat.IsFromCE)" class="media-heading afta-font">{{'COMMITTEE'|translate}}</h5>
																	<h5 ng-if="!(chat.IsFromCE)" class="media-heading afta-font" style="color: red;">{{chat.VendorName}}</h5>
																	<p class="col-lg-10" style="margin-top: 10px;" ng-bind-html="chat.Message"></p>
																	<a ng-if="chat.UrlDoc != null" href="{{ccvCtrl.folderFile + chat.UrlDoc}}" title="Download File" target="_blank" class="btn btn-sm btn-primary btn-flat pull-right">
																		<i class="fa fa-download"></i> Download
																	</a>
																</div>
																<br />
															</div>
														</div>
														<div id="divChat" class="media msg" ng-if="ccvCtrl.chats.length === 0">
															<h4> {{'BELUM_ADA_PERCAKAPAN' | translate}} </h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- paging -->
									<hr />
								</div>
								<div class="row">
									<div class="col-md-12">
										<ul uib-pagination total-items="ccvCtrl.totalItems" max-number="10"
											ng-model="ccvCtrl.currentPage" items-per-page="ccvCtrl.pageSize"
											previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="ccvCtrl.loadChats(ccvCtrl.currentPage)"></ul>
										<br /><label>{{'TOTAL_PERCAKAPAN' | translate}} : {{ccvCtrl.totalItems}}</label>
									</div>
								</div>
								<div class="row">
									<hr />
									<div class="col-md-12">
										<div class="text-right">
											<a ng-click="ccvCtrl.back()" class="btn btn-sm btn-flat btn-primary" title="{{'KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</a>&nbsp;
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>