﻿<div class="modal-content" ng-init="formTenagaAhliCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formTenagaAhliCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'FORM.TITLE' | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'FORM.NAME' | translate}} *</label>
                    <input type="text" class="form-control" placeholder="{{'FORM.NAME' | translate}}" ng-model="formTenagaAhliCtrl.Name" ng-required="true" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'FORM.DATE_OF_BIRTH' | translate}} *</label>
                    <div class="input-group date form_datetime">
                        <input ng-change="formTenagaAhliCtrl.validateAge()" style="background-color:#ffffff;" readonly required class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}" is-open="formTenagaAhliCtrl.isCalendarOpened[0]" ng-model="formTenagaAhliCtrl.tenagaahli.BirthDate" ng-click="formTenagaAhliCtrl.openCalendar(0)" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="formTenagaAhliCtrl.openCalendar(0)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 25px;">
                <div class="form-group">
                    <label>{{'FORM.GENDER' | translate}}</label>
                    <input ng-checked="formTenagaAhliCtrl.radio.tipeM === formTenagaAhliCtrl.Gender" type="radio" value="{{formTenagaAhliCtrl.radio.tipeM}}" ng-model="formTenagaAhliCtrl.Gender" style="opacity: 1!important;" />&nbsp;{{'FORM.GENDER_MALE' | translate}}
                    <input ng-checked="formTenagaAhliCtrl.radio.tipeF === formTenagaAhliCtrl.Gender" type="radio" value="{{formTenagaAhliCtrl.radio.tipeF}}" ng-model="formTenagaAhliCtrl.Gender" style="opacity: 1!important;" />&nbsp;{{'FORM.GENDER_FEMALE' | translate}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'FORM.ADDRESS' | translate}}</label>
                    <input type="text" class="form-control" placeholder="{{'FORM.ADDRESS' | translate}}" ng-model="formTenagaAhliCtrl.address" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'FORM.EDUCATION' | translate}} *</label>
                    <select class="form-control" ng-model="formTenagaAhliCtrl.Education">
                        <option value="SMA">{{'FORM.HIGHSCHOOL' | translate}}</option>
                        <option value="SMA">{{'FORM.VOCHIGHSCHOOL' | translate}}</option>
                        <option value="D1">{{'FORM.D1' | translate}}</option>
                        <option value="D2">{{'FORM.D2' | translate}}</option>
                        <option value="D3">{{'FORM.D3' | translate}}</option>
                        <option value="D4">{{'FORM.D4' | translate}}</option>
                        <option value="S1">{{'FORM.S1' | translate}}</option>
                        <option value="S2">{{'FORM.S2' | translate}}</option>
                        <option value="S3">{{'FORM.S3' | translate}}</option>
                    </select>
                    <!--
                    <input type="text" class="form-control" placeholder="Pendidikan Terakhir"
                           ng-model="formTenagaAhliCtrl.Education" ng-required="true" />
                    -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'FORM.CITIZENSHIP' | translate}}</label>
                    <select class="form-control" ng-model="formTenagaAhliCtrl.Nationality" ng-options="item.Name as item.Name for item in formTenagaAhliCtrl.nationalities"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{'FORM.POSITION' | translate}} *</label>
                    <input type="text" class="form-control" placeholder="{{'FORM.POSITION_EXPERTS' | translate}}" ng-model="formTenagaAhliCtrl.Position" ng-required="true" />
                </div>
            </div>
            <!--
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email *</label>
                    <input type="email" class="form-control"
                           ng-model="formTenagaAhliCtrl.Email" ng-required="true" /><em></em>
                </div>
            </div>
                -->
            <div class="col-md-6" style="padding-top: 25px;">
                <div class="form-group">
                    <label>{{'FORM.EMPLOYEE_STATUS' | translate}}</label>
                    <input ng-checked="formTenagaAhliCtrl.radio.StatusK === formTenagaAhliCtrl.Status" type="radio" value="{{formTenagaAhliCtrl.radio.StatusK}}" ng-model="formTenagaAhliCtrl.Status" style="opacity: 1!important;" />&nbsp;{{'FORM.EMPLOYEE_CONTRACT' | translate}}
                    <input ng-checked="formTenagaAhliCtrl.radio.StatusI === formTenagaAhliCtrl.Status" type="radio" value="{{formTenagaAhliCtrl.radio.StatusI}}" ng-model="formTenagaAhliCtrl.Status" style="opacity: 1!important;" />&nbsp;{{'FORM.EMPLOYEE_INTERNSHIP' | translate}}
                    <input ng-checked="formTenagaAhliCtrl.radio.StatusP === formTenagaAhliCtrl.Status" type="radio" value="{{formTenagaAhliCtrl.radio.StatusP}}" ng-model="formTenagaAhliCtrl.Status" style="opacity: 1!important;" />&nbsp;{{'FORM.EMPLOYEE_PERMANENT' | translate}}
                </div>
            </div>
            <div class="col-md-6 center-block" style="float: none!important;">
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{'FORM.EXPERTIZE' | translate}} *</label>
                    <textarea class="form-control" rows="2" placeholder="{{'FORM.EXPERTIZE_DESC' | translate}}" ng-model="formTenagaAhliCtrl.Expertise" ng-required="true"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label><em>*) {{'FORM.MANDATORY' | translate}}</em></label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="formTenagaAhliCtrl.batal()" class="btn btn-primary" title="{{'BTN.BATAL' | translate}}"><i class="fa fa-arrow-circle-left"></i></button>
        <button type="button" ng-click="formTenagaAhliCtrl.update()" class="btn btn-success" title="{{'BTN.SIMPAN' | translate}}"><i class="fa fa-save"></i></button>
    </div>
</div>
