﻿<div class="modal-content" ng-init="SrtPernyataanModalUpCtrl.init()">
	<div class="modal-header">
		<button type="button" class="close" ng-click="SrtPernyataanModalUpCtrl.batal()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Keluar</span>
		</button>
		<h3 class="modal-title afta-font"></h3>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">
						Upload File
						<small> ( <span ng-repeat="ft in SrtPernyataanModalUpCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Size < {{SrtPernyataanModalUpCtrl.idUploadConfigs[0].Size}} {{SrtPernyataanModalUpCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> )</small>
					</label>
					<input type="file" class="form-control" ng-file-select="SrtPernyataanModalUpCtrl.selectUpload()" ng-model="SrtPernyataanModalUpCtrl.fileUpload" name="ownerIDFile" />
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-danger" ng-click="SrtPernyataanModalUpCtrl.batal()" title="{{'BTN.BATAL' | translate}}">
			<i class="fa fa-reply"></i>&nbsp;
		</button>
		<button type="button" class="btn btn-flat btn-primary" ng-click="SrtPernyataanModalUpCtrl.uploadFile()" title="Upload">
			<i class="fa fa-upload"></i>&nbsp;
		</button>
	</div>
</div>