﻿<div class="modal-content" ng-init="SrtPernyataanModalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="SrtPernyataanModalCtrl.batal()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{'BUSINESS.TITLE_BUSINESS' | translate}}</h3>
    </div>
    <div class="modal-body">
        {{SrtPernyataanModalCtrl.monthnow | translate}} {{SrtPernyataanModalCtrl.yearnow}}<br /><br /><br />
        {{'BUSINESS.OPENING1' | translate}}<br /><br />
        {{'BUSINESS.TEXT1' | translate}}<br /><br />
        {{'BUSINESS.TEXT2' | translate}}<br /><br />
        {{'BUSINESS.TEXT3' | translate}}<br /><br />
        {{'BUSINESS.TEXT4' | translate}}<br /><br />
        <h4>{{'BUSINESS.ENDING1' | translate}}</h4><br /><br /><br />
        <h3>{{'BUSINESS.MISSIONTITLE' | translate}}</h3><br />
        {{'BUSINESS.MISSION' | translate}}<br /><br />
        <h3>{{'BUSINESS.VISIONTITLE' | translate}}</h3><br />
        {{'BUSINESS.VISION' | translate}}<br /><br />
        <h3>{{'BUSINESS.VALUETITLE' | translate}}</h3><br />
        <ul>
            <li>{{'BUSINESS.VALUE.1' | translate}}<br /></li>
            <li>{{'BUSINESS.VALUE.2' | translate}}<br /></li>
            <li>{{'BUSINESS.VALUE.3' | translate}}<br /></li>
            <li>{{'BUSINESS.VALUE.4' | translate}}<br /></li>
            <li>{{'BUSINESS.VALUE.5' | translate}}<br /></li>
            <li>{{'BUSINESS.VALUE.6' | translate}}<br /></li>
        </ul><br />
        <h3>{{'BUSINESS.INTRODUCTION' | translate}}</h3><br />
        {{'BUSINESS.TEXT5' | translate}}<br /><br />
        {{'BUSINESS.TEXT6' | translate}}<br /><br />
        {{'BUSINESS.TEXT7' | translate}}<br /><br />
        <h3>{{'BUSINESS.COUVERAGE' | translate}}</h3><br />
        {{'BUSINESS.TEXT8' | translate}}<br /><br /><br />
        <h4>{{'BUSINESS.TITLE2' | translate}}</h4><br />
        <h3>{{'BUSINESS.1' | translate}}</h3><br />
        {{'BUSINESS.TEXT9' | translate}}<br /><br />
        {{'BUSINESS.TEXT10' | translate}}<br /><br /><br />
        <h4>{{'BUSINESS.LEGISLATION' | translate}}</h4><br />
        {{'BUSINESS.TEXT11' | translate}}<br /><br /><br />
        <h4>{{'BUSINESS.CONTRACT' | translate}}</h4><br />
        {{'BUSINESS.TEXT12' | translate}}<br /><br />
        {{'BUSINESS.TEXT13' | translate}}<br /><br /><br />
        <h4>{{'BUSINESS.AGREEMENTS' | translate}}</h4><br />
        {{'BUSINESS.TEXT14' | translate}}<br /><br /><br />
        <h4>{{'BUSINESS.ANTI' | translate}}</h4><br />
        {{'BUSINESS.TEXT15' | translate}}<br /><br /><br />
        <h3>{{'BUSINESS.2' | translate}}</h3><br />
        {{'BUSINESS.TEXT16' | translate}}<br /><br />
        <ul>
            <li>{{'BUSINESS.2LIST.1' | translate}}</li>
            <li>{{'BUSINESS.2LIST.2' | translate}}</li>
            <li>{{'BUSINESS.2LIST.3' | translate}}</li>
            <li>{{'BUSINESS.2LIST.4' | translate}}</li>
            <li>{{'BUSINESS.2LIST.5' | translate}}</li>
        </ul><br /><br />
        <h3>{{'BUSINESS.3' | translate}}</h3><br />
        {{'BUSINESS.TEXT17' | translate}}<br /><br />
        <h4>{{'BUSINESS.CORRUPT' | translate}}</h4><br />
        {{'BUSINESS.TEXT18' | translate}}<br /><br />
        <ul>
            <li>{{'BUSINESS.CORRUPTLIST.1' | translate}}</li>
            <li>{{'BUSINESS.CORRUPTLIST.2' | translate}}</li>
            <li>{{'BUSINESS.CORRUPTLIST.3' | translate}}</li>
            <li>{{'BUSINESS.CORRUPTLIST.4' | translate}}</li>
        </ul><br />
        <h4>{{'BUSINESS.OFFER' | translate}}</h4><br />
        {{'BUSINESS.TEXT19' | translate}}<br /><br />
        <h4>{{'BUSINESS.CONFLICT' | translate}}</h4><br />
        {{'BUSINESS.TEXT20' | translate}}<br /><br />
        <h4>{{'BUSINESS.ABUSE' | translate}}</h4><br />
        {{'BUSINESS.TEXT21' | translate}}<br /><br />
        <h4>{{'BUSINESS.UNFAIR' | translate}}</h4><br />
        {{'BUSINESS.TEXT22' | translate}}<br /><br />
        <h4>{{'BUSINESS.SOCIAL' | translate}}</h4><br />
        {{'BUSINESS.TEXT23' | translate}}<br /><br /><br />
        <h3>{{'BUSINESS.4' | translate}}</h3><br />
        {{'BUSINESS.TEXT24' | translate}}<br /><br />
        <ul>
            <li>{{'BUSINESS.4LIST.1' | translate}}</li>
            <li>{{'BUSINESS.4LIST.2' | translate}}</li>
            <li>{{'BUSINESS.4LIST.3' | translate}}</li>
            <li>{{'BUSINESS.4LIST.4' | translate}}</li>
            <li>{{'BUSINESS.4LIST.5' | translate}}</li>
            <li>{{'BUSINESS.4LIST.6' | translate}}</li>
            <li>{{'BUSINESS.4LIST.7' | translate}}</li>
            <li>{{'BUSINESS.4LIST.8' | translate}}</li>
        </ul><br /><br />
        <h3>{{'BUSINESS.5' | translate}}</h3><br />
        {{'BUSINESS.TEXT25' | translate}}<br /><br />
        {{'BUSINESS.TEXT26' | translate}}<br /><br />
        <ul>
            <li>{{'BUSINESS.5LIST.1' | translate}}</li>
            <li>{{'BUSINESS.5LIST.2' | translate}}</li>
            <li>{{'BUSINESS.5LIST.3' | translate}}</li>
            <li>{{'BUSINESS.5LIST.4' | translate}}</li>
            <li>{{'BUSINESS.5LIST.5' | translate}}</li>
        </ul><br /><br />
        <h3>{{'BUSINESS.6' | translate}}</h3><br />
        {{'BUSINESS.TEXT27' | translate}}<br /><br />
        {{'BUSINESS.TEXT28' | translate}}<br /><br />
        <ul>
            <li>{{'BUSINESS.6LIST.1' | translate}}</li>
            <li>{{'BUSINESS.6LIST.2' | translate}}</li>
        </ul><br /><br />
        <h3>{{'BUSINESS.7' | translate}}</h3><br />
        {{'BUSINESS.TEXT29' | translate}}<br /><br />
        <h4>{{'BUSINESS.WORKING' | translate}}</h4><br />
        {{'BUSINESS.TEXT30' | translate}}<br /><br />
        <h4>{{'BUSINESS.DIVERSITY' | translate}}</h4><br />
        {{'BUSINESS.TEXT31' | translate}}<br /><br />
        <h4>{{'BUSINESS.INCLUSION' | translate}}</h4><br />
        {{'BUSINESS.TEXT32' | translate}}<br /><br />
        <h4>{{'BUSINESS.CHILD' | translate}}</h4><br />
        {{'BUSINESS.TEXT33' | translate}}<br /><br />
        {{'BUSINESS.TEXT34' | translate}}<br /><br />
        <h4>{{'BUSINESS.GENDER' | translate}}</h4><br />
        {{'BUSINESS.TEXT35' | translate}}<br /><br />
        {{'BUSINESS.TEXT36' | translate}}<br /><br />
        <h3>{{'BUSINESS.8' | translate}}</h3><br />
        {{'BUSINESS.TEXT37' | translate}}<br /><br />
        {{'BUSINESS.TEXT38' | translate}}<br /><br />
        <ul>
            <li>{{'BUSINESS.8LIST.1' | translate}}</li>
            <li>{{'BUSINESS.8LIST.2' | translate}}</li>
            <li>{{'BUSINESS.8LIST.3' | translate}}</li>
        </ul><br />
        {{'BUSINESS.TEXT39' | translate}}<br /><br />
        <h3>{{'BUSINESS.9' | translate}}</h3><br />
        {{'BUSINESS.TEXT40' | translate}}<br /><br />
        <h3>{{'BUSINESS.10' | translate}}</h3><br />
        {{'BUSINESS.TEXT41' | translate}}<br /><br />
        {{'BUSINESS.TEXT42' | translate}}<br /><br />
        {{'BUSINESS.TEXT43' | translate}}<br /><br />
        {{'BUSINESS.TEXT44' | translate}}<br /><br />
        <h3>{{'BUSINESS.11' | translate}}</h3><br />
        {{'BUSINESS.TEXT45' | translate}}<br /><br />
        {{'BUSINESS.TEXT46' | translate}}<br /><br />
        {{'BUSINESS.TEXT47' | translate}}<br /><br />
        <h3>{{'BUSINESS.12' | translate}}</h3><br />
        {{'BUSINESS.TEXT48' | translate}}<br /><br />
        {{'BUSINESS.TEXT49' | translate}}<br /><br />
        {{'BUSINESS.TEXT50' | translate}}<br /><br /><br />
        <h3>{{'BUSINESS.COMMITMENT' | translate}}</h3><br />
        {{'BUSINESS.TEXT51' | translate}} {{SrtPernyataanModalCtrl.vendorName}}
        {{'BUSINESS.TEXT52' | translate}} {{SrtPernyataanModalCtrl.Country}}
        {{'BUSINESS.TEXT53' | translate}} {{SrtPernyataanModalCtrl.StateName}}
        {{'BUSINESS.TEXT54' | translate}} {{SrtPernyataanModalCtrl.NamaDir}}, {{SrtPernyataanModalCtrl.Country}}, President Direktur
        {{'BUSINESS.TEXT55' | translate}} {{SrtPernyataanModalCtrl.noID}}
        {{'BUSINESS.TEXT56' | translate}}<br />
        <ul>
            <li>{{'BUSINESS.DECLARE.1' | translate}}</li>
            <li>{{'BUSINESS.DECLARE.2' | translate}}</li>
            <li>{{'BUSINESS.DECLARE.3' | translate}}</li>
            <li>{{'BUSINESS.DECLARE.4' | translate}}</li>
        </ul><br />
        {{SrtPernyataanModalCtrl.convertedDateNow}}<br /><br /><br />
        <center><a class="btn btn-flat btn-sm btn-success" ng-if="SrtPernyataanModalCtrl.flag == false" ng-click="SrtPernyataanModalCtrl.setuju()" title="{{'BTN.AGREE' | translate}}"><i class="fa fa-check"></i>{{'BTN.AGREE'|translate}}</a></center>
    </div>
</div>