﻿<section class="content" ng-init="ClarificationPrintController.init()">
    <ol class="breadcrumb">
        <li><a href="#/home">{{'BERANDA'|translate}}</a></li>
        <li><a class="active">{{ClarificationPrintController.tenderStepData.step.TenderStepName}}</a></li>
    </ol>
    <div class="row">
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default" ng-click="ClarificationPrintController.cetak()">
                                <i class='fa fa-print'></i>&nbsp;
                            </button>
                        </div>
                    </div>
                    <div id="print">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{ClarificationPrintController.tenderStepData.step.TenderStepName |translate}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>{{'TANGGAL_MULAI'|translate}}: {{ClarificationPrintController.tenderStepData.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
                            </div>
                            <div class="col-md-4">
                                <label>{{'TANGGAL_SELESAI'|translate}}: {{ClarificationPrintController.tenderStepData.EndDate | date: "dd-MM-yyyy HH:mm"}}</label>
                            </div>
                            <div class="col-md-12">
                                <label>{{'TENDER'|translate}}: {{ClarificationPrintController.tenderStepData.tender.TenderName}}</label>
                            </div>
                            <div class="col-md-12 text-red" ng-if="ClarificationPrintController.tenderStepData.tender.IsCancelled">
                                <label><i>({{'KET_BATAL'|translate}})</i></label>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-md-12">
                                <div class="table table-responsive" style="padding-bottom: 20px;">
                                    <table class="table table-bordered " id="table-rekanan">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="border:1px solid black;">{{'NO'|translate}}</th>
                                                <th class="text-center"style="border:1px solid black;">{{'VENDOR'|translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="vendor in ClarificationPrintController.vendors">
                                                <td class="center-vertical"style="border:1px solid black;">{{$index + 1}}</td>
                                                <td style="border:1px solid black;">{{vendor.Name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--<div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-flat btn-sm btn-warning" ng-click="ClarificationPrintController.kembali()">
                                    <i class='fa fa-arrow-left'></i>&nbsp; {{'KEMBALI'|translate}}
                                </button>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
