<div class="container-fluid" ng-init="lupaPasswordRekananCtrl.init()">
    <div class="row" style="padding-top: 30px!important;">
        <div class="col-md-6 center-block" style="float: none!important;">
            <h3 class="text-center afta-font">Reset Password</h3>
        </div> 
    </div>
    <form method="post" class="form" role="form" id="myForm"
          ng-submit="lupaPasswordRekananCtrl.simpan()">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-3 col-sm-6 col-xs-12 center-block well" style="float: none!important;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="text-center">
                                        <label>Username atau Email</label>
                                    </div>
                                    <input type="text" class="form-control"
                                           ng-required="true" ng-model="lupaPasswordRekananCtrl.input"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="text-center">
                            <button class="btn btn-success" role="button" title="Reset Password"><i class="fa fa-upload"></i></button>
                            <a href="javascript:history.back()" class="btn btn-flat btn-default" title="Kembali"><i class="fa fa-reply"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </form>
</div>