﻿<section class="content">
    <div class="box box-primary" ng-init="QuestionnaireTenderAnnouncementCtrl.init()">
        <div class="box-header margintop20">
            <h4 class="afta-font text-center modal-title ">{{'TITLE.QUESTIONNAIRE_TENDER'|translate}}</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{'QUESTIONNAIRE'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="q in QuestionnaireTenderAnnouncementCtrl.listQuest">
                                            <td>{{q.DocName | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right">
                                <button ng-click="QuestionnaireTenderAnnouncementCtrl.back()" class="btn btn-sm btn-default" title="{{'BTN_BACK'|translate}}"><i class="fa fa-arrow-circle-o-left"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
