﻿<section class="content" ng-init="OECtrl.init()">
	<ol class="breadcrumb">
		<li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME'|translate}}</a></li>
        <li><a href="#/data-pengadaan" class="active">{{'BREADCRUMB.DATA_PENGADAAN'|translate}}</a></li>
        <li>
            <a href="#/data-pengadaan/tahapan/{{OECtrl.IDTender}}/{{OECtrl.ProcPackType}}/{{OECtrl.TenderID}}" class="active">
                {{'BREADCRUMB.DETAIL_TAHAPAN_PENGADAAN'|translate}}
            </a>
        </li>
		<li><a class="active">{{'BREADCRUMB.TITLE_SUBMISSION'|translate}}</a></li>
	</ol>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 center-block" style="float: none!important;">
			<div class="box box-success">
				<div class="box-body">
					<div class="row">
						<div class="col-md-12">
                            <h3 class="afta-font judul-datatabel" style="text-align: center!important;">{{'TABLE.OFFER_SUBMISSION'|translate}}</h3>
						</div>
					</div>
					<div class="row" style="padding-top: 1px!important; padding-bottom: 0px!important;">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">{{'FORM.STARTDATE'|translate}}</label>
								<label class="form-control-static"> : &nbsp; {{OECtrl.StartDate | date: "dd-MM-yyyy HH:mm"}}</label>
							</div>
						</div>
						<div class="col-md-6 ">
							<div class="form-group pull-right">
								<label class="control-label">{{'FORM.ENDDATE'|translate}}</label>
								<label class="form-control-static"> : &nbsp; {{OECtrl.EndDate | date: "dd-MM-yyyy HH:mm"}}</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group" style="margin-top:1px!important;">
								<label class="control-label">Tender</label>
								<label class="form-control-static"> : &nbsp; {{OECtrl.TenderName}}</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="table table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="text-center" width="5%">No.</th>
											<th class="text-center">{{'TABLE.VENDOR_NAME'|translate}}</th>
											<th class="text-center">{{'TABLE.SUBMIT_DATE'|translate}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="dt in OECtrl.SOEVendor">
											<td class="text-center" style="vertical-align: middle;">{{OEComNonCtrl.currentPage > 1 ? (OEComNonCtrl.maxSize * (OEComNonCtrl.currentPage - 1)) + $index + 1 : $index + 1}}</td>
											<td class="text-center" style="vertical-align: middle;">{{dt.VendorName}}</td>
											<td class="text-center" style="vertical-align: middle;">{{dt.EntryDate | date: "dd-MM-yyyy HH:mm"}}</td>
										</tr>
                                        <tr ng-if="OECtrl.SOEVendor.length === 0"><td colspan="3" class="text-center" style="vertical-align: middle;">{{'TABLE.NODATA'|translate}}</td></tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<br />
					<!--<div class="row">
						
					</div>-->

					<div class="row">
						<div class="col-md-8">
							<button ng-click="OECtrl.kelengkapanTender()" class="btn btn-primary btn-sm" title="{{'TABLE.TENDERREQUIREMENTS'|translate}}"><i class="fa fa-book"></i> </button>
							<a ng-if="OECtrl.isNeedApproval" ng-click="OECtrl.sendToApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'BTN.SEND'|translate}}">
								<i class="fa fa-paste"></i>
							</a>
							<a ng-if="OECtrl.isApprovalSent" ng-click="OECtrl.detailApproval()" class="btn btn-flat btn-sm btn-primary" title="{{'DETAIL_APPROVAL'|translate}}">
								<i class="fa fa-sitemap"></i>
							</a>
						</div>
						<div class="col-md-4 pull-right">
							<button ng-click="OECtrl.backDetailTahapan()" class="btn btn-sm btn-default pull-right" title="{{'BTN.KEMBALI'|translate}}"><i class="fa fa-arrow-circle-left"></i> </button>
                            <button type="button" title="{{'BTN.PRINT'|translate}}" class="btn btn-flat btn-sm btn-default pull-right" ng-click="OECtrl.print()">
                                <i class='fa fa-print'></i>&nbsp;
                            </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>