<section class="content" ng-init="PrequalReportDetailCtrl.init()">
    <ol class="breadcrumb">
        <li><a href="#/homeadmin"><i class="fa fa-home"></i> {{'BREADCRUMB.HOME' | translate}}</a></li>
        <li><a href="#/prequal-report">{{'BREADCRUMB.KPI_CS' | translate}}</a></li>
        <li><a class="active">{{'PREQUAL_REPORT_DETAIL' | translate}}</a></li>
    </ol>
    <div class="row">
        <!-- style="padding-top: 20px;" -->
        <div class="col-md-12 center-block" style="float: none!important;">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">{{'PREQUAL_REPORT_DETAIL' | translate}}</h3>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-12">
                            <h4>Diagram</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <uib-tabset>
                                <uib-tab>
                                    <uib-tab-heading>
                                        {{'ALL' | translate}}
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="text-center">{{'ALL_VENDOR' | translate}}</h4>
                                            <canvas id="bar" height="80%" class="chart chart-bar" chart-data="PrequalReportDetailCtrl.dataSemua" chart-labels="PrequalReportDetailCtrl.labelSemua" chart-dataset="PrequalReportDetailCtrl.datasetSemua" chart-options="PrequalReportDetailCtrl.optionSemua"></canvas>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        {{'GOODS' | translate}}
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="text-center">{{'Diagram Lulus Prakualifikasi'|translate}}</h4>
                                            <canvas id="bar" height="200%" class="chart chart-bar" chart-data="PrequalReportDetailCtrl.dataBarang" chart-labels="PrequalReportDetailCtrl.labelBarang" chart-dataset="PrequalReportDetailCtrl.datasetBarang" chart-options="PrequalReportDetailCtrl.optionBarang"></canvas>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="text-center">{{'Diagram Tidak Lulus Prakualifikasi'|translate}}</h4>
                                            <canvas id="bar" height="200%" class="chart chart-bar" chart-data="PrequalReportDetailCtrl.dataBarangTidakLolos" chart-labels="PrequalReportDetailCtrl.labelBarangTidakLolos" chart-dataset="PrequalReportDetailCtrl.datasetBarangTidakLolos" chart-options="PrequalReportDetailCtrl.optionBarangTidakLolos"></canvas>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        {{'SERVICES' | translate}}
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="text-center">{{'Diagram Lulus Prakualifikasi'|translate}}</h4>
                                            <canvas id="bar" height="200%" class="chart chart-bar" chart-data="PrequalReportDetailCtrl.dataJasa" chart-labels="PrequalReportDetailCtrl.labelJasa" chart-dataset="PrequalReportDetailCtrl.datasetJasa" chart-options="PrequalReportDetailCtrl.optionJasa"></canvas>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="text-center">{{'Diagram Tidak Lulus Prakualifikasi'|translate}}</h4>
                                            <canvas id="bar" height="200%" class="chart chart-bar" chart-data="PrequalReportDetailCtrl.dataJasaTidakLolos" chart-labels="PrequalReportDetailCtrl.labelJasaTidakLolos" chart-dataset="PrequalReportDetailCtrl.datasetJasaTidakLolos" chart-options="PrequalReportDetailCtrl.optionJasaTidakLolos"></canvas>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        {{'GOODS_SERVICES' | translate}}
                                    </uib-tab-heading>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="text-center">{{'Diagram Lulus Prakualifikasi'|translate}}</h4>
                                            <canvas id="bar" height="200%" class="chart chart-bar" chart-data="PrequalReportDetailCtrl.dataBarangJasa" chart-labels="PrequalReportDetailCtrl.labelBarangJasa" chart-dataset="PrequalReportDetailCtrl.datasetBarangJasa" chart-options="PrequalReportDetailCtrl.optionBarangJasa"></canvas>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="text-center">{{'Diagram Tidak Lulus Prakualifikasi'|translate}}</h4>
                                            <canvas id="bar" height="200%" class="chart chart-bar" chart-data="PrequalReportDetailCtrl.dataBarangJasaTidakLolos" chart-labels="PrequalReportDetailCtrl.labelBarangJasaTidakLolos" chart-dataset="PrequalReportDetailCtrl.datasetBarangJasaTidakLolos" chart-options="PrequalReportDetailCtrl.optionBarangJasaTidakLolos"></canvas>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>

                    <div class="row margin-atas">
                        <h4 class="text-center">{{'PASS_NOTPASS' | translate}}</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" rowspan="2">{{'AREA' | translate}}</th>
                                            <th class="center-vertical" colspan="3">{{'PASS' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">Total</th>
                                        </tr>
                                        <tr>
                                            <td class="center-vertical">{{'GOODS' | translate}}</td>
                                            <td class="center-vertical">{{'SERVICES' | translate}}</td>
                                            <td class="center-vertical">{{'GOODS_SERVICES' | translate}}</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in PrequalReportDetailCtrl.pqReport.PassedByArea">
                                            <td ng-if="p.DistrictArea!=null" class="center-vertical">{{p.DistrictArea.Name |translate}}</td>
                                            <td ng-if="p.CountryArea!=null" class="center-vertical">{{'NATIONAL' | translate}}</td>
                                            <td ng-if="p.CountryArea==null && p.DistrictArea==null" class="center-vertical">{{'INTERNATIONAL' | translate}}</td>
                                            <td style="vertical-align: middle;">{{p.Goods}}</td>
                                            <td style="vertical-align: middle;">{{p.Service}}</td>
                                            <td style="vertical-align: middle;">{{p.GoodsService}}</td>
                                            <td style="vertical-align: middle;">{{p.Total}}</td>
                                        </tr>
                                        <tr ng-if="PrequalReportDetailCtrl.pqReport.PassedByArea.length==0">
                                            <td colspan="6">{{'TABLE.NO_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" rowspan="2">{{'AREA' | translate}}</th>
                                            <th class="center-vertical" colspan="3">{{'NOT_PASS' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">Total</th>
                                        </tr>
                                        <tr>
                                            <td class="center-vertical">{{'GOODS' | translate}}</td>
                                            <td class="center-vertical">{{'SERVICES' | translate}}</td>
                                            <td class="center-vertical">{{'GOODS_SERVICES' | translate}}</td>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in PrequalReportDetailCtrl.pqReport.NotPassedByArea">
                                            <td ng-if="p.DistrictArea!=null" class="center-vertical">{{p.DistrictArea.Name}}</td>
                                            <td ng-if="p.CountryArea!=null" class="center-vertical">{{'NATIONAL' | translate}}</td>
                                            <td ng-if="p.CountryArea==null && p.DistrictArea==null" class="center-vertical">{{'INTERNATIONAL' | translate}}</td>
                                            <td style="vertical-align: middle;">{{p.Goods}}</td>
                                            <td style="vertical-align: middle;">{{p.Service}}</td>
                                            <td style="vertical-align: middle;">{{p.GoodsService}}</td>
                                            <td style="vertical-align: middle;">{{p.Total}}</td>
                                        </tr>
                                        <tr ng-if="PrequalReportDetailCtrl.pqReport.NotPassedByArea.length==0">
                                            <td colspan="6">{{'TABLE.NO_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-hide="true">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <table class="table table-bordered table-striped" id="print">
                                    <thead>
                                        <tr>
                                            <th class="center-vertical" rowspan="2">No.</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.REGIS_CODE' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.VENDOR_CODE' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.COMP_TYPE' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.VENDOR_NAME' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.ASSESS_ADDRESS' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.ASSOCIATION' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.TELP' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.DIRECTOR' | translate}}</th>
                                            <th class="center-vertical" colspan="3">{{'TABLE.NOTARIS_DEED' | translate}}</th>
                                            <th class="center-vertical" colspan="2">MENKUMHAM</th>
                                            <th class="center-vertical" colspan="4">SIUP (Surat Ijin Usaha Perdagangan)</th>
                                            <th class="center-vertical" colspan="4">IUJPU (Surat Ijin Usaha Jasa Pertambangan)</th>
                                            <th class="center-vertical" colspan="4">SKT (Surat Keterangan Terdaftar)</th>
                                            <th class="center-vertical" colspan="4">HO (Izin Gangguan)</th>
                                            <th class="center-vertical" colspan="4">TDP (Tanda Daftar Perusahaan)</th>
                                            <th class="center-vertical" rowspan="2">NPWP (Nomor Pokok Wajib Pajak)</th>
                                            <th class="center-vertical" rowspan="2">SPPKP (Surat Pengukuhan Pengusaha Kena Pajak)</th>
                                            <th class="center-vertical" colspan="4">Ijin Operasional Penyedia Jasa Tenaga Kerja (SIOPJ)</th>
                                            <th class="center-vertical" colspan="4">Rekomendasi Laik Hygiene Sanitasi Jasa Boga</th>
                                            <th class="center-vertical" colspan="4">Surat Ijin Security (dari POLRI)</th>
                                            <th class="center-vertical" colspan="2">Bank Account</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.ASSOCIATION' | translate}}</th>
                                            <th class="center-vertical" colspan="2">{{'TABLE.ASSOCIATION_MEMBERSHIP' | translate}}</th>
                                            <th class="center-vertical" colspan="1">{{'TABLE.STATEMENT_INTEREST' | translate}}</th>
                                            <th class="center-vertical" colspan="1">{{'TABLE.INTEGRITY_PACT' | translate}}</th>
                                            <th class="center-vertical" rowspan="2">{{'TABLE.STATEMENT' | translate}}</th>
                                        </tr>
                                        
                                        <tr>
                                            <!--akta notaris-->
                                            <th class="center-vertical">{{'TABLE.DIRECTOR_COMM' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.DATE' | translate}}</th>
                                            <!--menkumham-->
                                            <th class="center-vertical">{{'TABLE.NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.DATE' | translate}}</th>
                                            <!--SIUP-->
                                            <th class="center-vertical">{{'TABLE.LETTER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.LETTER_DATE' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.VALID_PERIOD' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.EXP_DATE' | translate}}</th>
                                            <!--IUJPU-->
                                            <th class="center-vertical">{{'TABLE.LETTER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.LETTER_DATE' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.VALID_PERIOD' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.EXP_DATE' | translate}}</th>
                                            <!--SKT-->
                                            <th class="center-vertical">{{'TABLE.LETTER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.LETTER_DATE' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.VALID_PERIOD' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.EXP_DATE' | translate}}</th>
                                            <!--HO-->
                                            <th class="center-vertical">{{'TABLE.LETTER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.LETTER_DATE' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.VALID_PERIOD' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.EXP_DATE' | translate}}</th>
                                            <!--TDP-->
                                            <th class="center-vertical">{{'TABLE.LETTER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.LETTER_DATE' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.VALID_PERIOD' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.EXP_DATE' | translate}}</th>
                                            <!--SIOPJ-->
                                            <th class="center-vertical">{{'TABLE.LETTER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.LETTER_DATE' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.VALID_PERIOD' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.EXP_DATE' | translate}}</th>
                                            <!--Rekomendasi Laik Hygiene... -->
                                            <th class="center-vertical">{{'TABLE.LETTER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.LETTER_DATE' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.VALID_PERIOD' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.EXP_DATE' | translate}}</th>
                                            <!--Surat Ijin Security... -->
                                            <th class="center-vertical">{{'TABLE.LETTER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.LETTER_DATE' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.VALID_PERIOD' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.EXP_DATE' | translate}}</th>
                                            <!--Bank Account-->
                                            <th class="center-vertical">{{'TABLE.OWNER_NAME' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.REK_NO' | translate}}</th>
                                            <!--Bukti Kepesertaan Asosiasi-->
                                            <th class="center-vertical">{{'TABLE.MEMBER_NO' | translate}}</th>
                                            <th class="center-vertical">{{'TABLE.PERIOD' | translate}}</th>
                                            <!--Pernyataan Minat-->
                                            <th class="center-vertical">{{'TABLE.EXIST_NOEXIST' | translate}}</th>
                                            <!--Pakta Integritas-->
                                            <th class="center-vertical">{{'TABLE.EXIST_NOEXIST' | translate}}</th>
                                        </tr>
                                            
                                    </thead>
                                    
                                    <tbody>
                                        <tr ng-repeat="p in PrequalReportDetailCtrl.pqReportVendor.Migrated">
                                            <td style="vertical-align: middle;">{{p.ID}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.Code}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.SAPCode}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.businessName}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.VendorName}}</td>
                                            <td style="vertical-align: middle;">{{p.Company.AddressInfo}}</td>
                                            <td style="vertical-align: middle;">{{p.Association.AssosiationName}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.contact.Phone.toString()}}</td>
                                            <td style="vertical-align: middle;">{{p.Director.PersonName}}</td>
                                            <td style="vertical-align: middle;">{{p.Director.PersonName}}</td>
                                            <td style="vertical-align: middle;">{{p.LegalDoc.DocumentNo}}</td>
                                            <td style="vertical-align: middle;">{{p.LegalDoc.DocumentDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.Menkumham.DocumentNo}}</td>
                                            <td style="vertical-align: middle;">{{p.Menkumham.DocumentDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.SIUP.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.SIUP.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.SIUP.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.SIUP.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.IUJPU.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.IUJPU.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.IUJPU.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.IUJPU.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.SKT.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.SKT.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.SKT.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.SKT.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.HO.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.HO.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.HO.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.HO.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.TDP.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.TDP.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.TDP.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.TDP.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.NPWPConverted}}</td>
                                            <td style="vertical-align: middle;">{{p.SPPKPConverted}}</td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;">{{p.BankDetail.AccountName}}</td>
                                            <td style="vertical-align: middle;">{{p.BankDetail.AccountNo}}</td>
                                            <td style="vertical-align: middle;">{{p.Association.AssosiationName}}</td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                        </tr>
                                        <tr ng-repeat="p in PrequalReportDetailCtrl.pqReportVendor.Unmigrated">
                                            <td style="vertical-align: middle;">{{p.ID}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.Code}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.SAPCode}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.businessName}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.VendorName}}</td>
                                            <td style="vertical-align: middle;">{{p.Company.AddressInfo}}</td>
                                            <td style="vertical-align: middle;">{{p.Association.AssosiationName}}</td>
                                            <td style="vertical-align: middle;">{{p.Vendor.contact.Phone.toString()}}</td>
                                            <td style="vertical-align: middle;">{{p.Director.PersonName}}</td>
                                            <td style="vertical-align: middle;">{{p.Director.PersonName}}</td>
                                            <td style="vertical-align: middle;">{{p.LegalDoc.DocumentNo}}</td>
                                            <td style="vertical-align: middle;">{{p.LegalDoc.DocumentDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.Menkumham.DocumentNo}}</td>
                                            <td style="vertical-align: middle;">{{p.Menkumham.DocumentDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.SIUP.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.SIUP.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.SIUP.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.SIUP.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.IUJPU.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.IUJPU.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.IUJPU.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.IUJPU.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.SKT.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.SKT.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.SKT.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.SKT.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.HO.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.HO.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.HO.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.HO.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.TDP.LicenseNo}}</td>
                                            <td style="vertical-align: middle;">{{p.TDP.IssuedDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.TDP.Validity}}</td>
                                            <td style="vertical-align: middle;">{{p.TDP.ExpiredDate | date:"dd-MM-yyyy"}}</td>
                                            <td style="vertical-align: middle;">{{p.NPWPConverted}}</td>
                                            <td style="vertical-align: middle;">{{p.SPPKPConverted}}</td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;">{{p.BankDetail.AccountName}}</td>
                                            <td style="vertical-align: middle;">{{p.BankDetail.AccountNo}}</td>
                                            <td style="vertical-align: middle;">{{p.Association.AssosiationName}}</td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                            <td style="vertical-align: middle;"></td>
                                        </tr>
                                        <tr ng-if="PrequalReportDetailCtrl.pqReport.Passed.length==0">
                                            <td colspan="6">{{'TABLE.NO_DATA' | translate}}</td>
                                        </tr>
                                    </tbody>
                                
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-atas">
                        <div class="col-md-2">
                            <button ng-click="PrequalReportDetailCtrl.exportToExcel()" class="btn btn-primary btn-sm">{{'EXPORT_VENDOR_DATA' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>