﻿<div id="idTambahVerifiedData" class="modal-content" ng-init="DetailContactAdministrasiPrequalCtrl.init()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="DetailContactAdministrasiPrequalCtrl.cancel()" title="Keluar">
            <span aria-hidden="true">&times;</span><span class="sr-only"></span>
        </button>
        <h3 class="modal-title afta-font" id="myModalLabel">{{'Ubah Data Kontak Person'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row" style="padding-top: 20px!important;">
            <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{'Nama Personal'|translate}} *</label>
                            <input type="text" class="form-control" ng-model="DetailContactAdministrasiPrequalCtrl.Name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="text" class="form-control" ng-model="DetailContactAdministrasiPrequalCtrl.Email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">{{'Nomor Telepon'|translate}}</label>
                            <input type="text" class="form-control" ng-model="DetailContactAdministrasiPrequalCtrl.Telp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-primary" ng-click="DetailContactAdministrasiPrequalCtrl.cancel()" title="{{'BATAL'|translate}}"><i class="fa fa-arrow-circle-left"></i>&nbsp;</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="DetailContactAdministrasiPrequalCtrl.savedata()" title="{{'SIMPAN'|translate}}"><i class="fa fa-save"></i>&nbsp;</button>
    </div>
</div>