﻿<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div ng-init="formPPCtrl.init()" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="formPPCtrl.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Keluar</span></button>
        <h3 class="modal-title afta-font">{{'DATA_PENGURUS_PERUSAHAAN'|translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'NAMA'|translate}}<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="{{'NAMA'|translate}}"
                                   ng-model="formPPCtrl.compPerson.PersonName" maxlength="64"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'TGL_LAHIR'|translate}}<span style="color: red;">*</span></label>
                            <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
                                <input style="background-color: #ffffff;" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                       is-open="formPPCtrl.isCalendarOpened[0]" ng-model="formPPCtrl.compPerson.DateOfBirth"
                                       ng-blur="formPPCtrl.validateAge(formPPCtrl.compPerson.DateOfBirth)" style="background-color: #ffffff;" 
                                       ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                                <span class="input-group-addon" ng-click="formPPCtrl.openCalendar(0)"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-if="formPPCtrl.vendorLocation !== 'IDN'">
                            <label>{{'NO_PASPOR'|translate}} <span style="color: red;">*</span> </label>
                            <input type="text" class="form-control" placeholder="{{'NO_PASPOR'|translate}}"
                                   ng-model="formPPCtrl.compPerson.NoID" maxlength="32"/>
                        </div>
                        <div class="form-group" ng-if="formPPCtrl.vendorLocation === 'IDN'">
                            <label>{{'NO_KTP'|translate}} <span style="color: red;">*</span> </label>
                            <input type="text" class="form-control" placeholder="{{'NO_KTP'|translate}}" required
                                   ng-model="formPPCtrl.compPerson.NoID" maxlength="32" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span class="input-group">
                            <label>{{'SCAN_KTP'|translate}} <span ng-if = "!(formPPCtrl.compPerson.ID > 0)" style="color: red;">*</span> </label>&nbsp;
                            <small> ( <span ng-repeat="ft in formPPCtrl.idUploadConfigs">{{ft.Name}}{{$last ? '' : ', '}}</span><span> / Max. {{formPPCtrl.idUploadConfigs[0].Size}} {{formPPCtrl.idUploadConfigs[0].SizeUnitName | translate}}</span> ) </small>
                            <input type="file" class="form-control" ng-model="formPPCtrl.file"
                                   ng-file-select="formPPCtrl.fileSelect(formPPCtrl.file)"/>
                            <a ng-if="(formPPCtrl.dataDokumen !=null || formPPCtrl.dataDokumen != '') && formPPCtrl.action == 'edit'" href="{{formPPCtrl.folderFile + formPPCtrl.url}}" target="BLANK" class="btn btn-sm btn-primary" title="Download"><i class="fa fa-download"></i></a>
                        </span>
                    </div>
                    <!--<div class="col-md-1" ng-if="(formPPCtrl.dataDokumen !=null || formPPCtrl.dataDokumen != '') && formPPCtrl.action == 'edit'">
                        <a href="{{formPPCtrl.folderFile + formPPCtrl.url}}" target="BLANK" class="btn btn-sm btn-primary" title="Download"><i class="fa fa-download"></i>&nbsp;&nbsp;</a>
                    </div>-->
                </div>
            </div>
            <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-12 center-block" style="float: none!important;">
                        <div class="form-group">
                            <label>{{'ALAMAT'|translate}}<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" placeholder="{{'ALAMAT'|translate}}"
                                   ng-model="formPPCtrl.compPerson.Address.AddressInfo" maxlength="256"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{'COUNTRY'|translate}}<span style="color: red;">*</span></label>
                            <selectize name="selectModule" placeholder="Country" ng-change='formPPCtrl.defineCountry(formPPCtrl.countryID)'
                                       options="formPPCtrl.countryList" config="formPPCtrl.myConfig" ng-model="formPPCtrl.countryID"></selectize>

                            <!--<select class="form-control input-sm" required ng-model="formPPCtrl.selectedCountry"
                                    ng-options="item as item.Name for item in formPPCtrl.countryList"
                                    ng-change="formPPCtrl.changeCountry(true, formPPCtrl.selectedCountry)"></select>-->
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">{{'STATE'|translate}}<span style="color: red;">*</span></label>
                            <selectize name="selectModule" placeholder="State" ng-change='formPPCtrl.defineState(formPPCtrl.stateID)'
                                       options="formPPCtrl.listProvinsi" config="formPPCtrl.myConfig2" ng-model="formPPCtrl.stateID"
                                       ng-disabled="formPPCtrl.countryID == undefined"></selectize>

                            <!--<select class="form-control input-sm" required ng-model="formPPCtrl.compPerson.Address.StateID"
                                    ng-options="item.StateID as item.Name for item in formPPCtrl.listProvinsi"
                                    ng-change="formPPCtrl.changeProvince()"></select>-->
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="formPPCtrl.countryCode === 'IDN'">
                        <div class="form-group">
                            <label class="control-label">{{'CITY'|translate}}</label>
                            <selectize ng-disabled="formPPCtrl.stateID == undefined" name="selectModule" placeholder="City"
                                       ng-change='formPPCtrl.defineCity(formPPCtrl.cityID)'
                                       options="formPPCtrl.listKabupaten" config="formPPCtrl.myConfig3" ng-model="formPPCtrl.cityID"></selectize>

                            <!--<select class="form-control input-sm" required ng-model="formPPCtrl.compPerson.Address.CityID"
                                    ng-options="item.CityID as item.Name for item in formPPCtrl.listKabupaten"
                                    ng-change="formPPCtrl.changeCities()">
                                <option></option>
                            </select>-->
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="formPPCtrl.countryCode === 'IDN'">
                        <div class="form-group">
                            <label class="control-label">{{'DISTRICT'|translate}}</label>
                            <selectize ng-disabled="formPPCtrl.cityID == undefined" name="selectModule" placeholder="District"
                                       ng-change='formPPCtrl.defineDistrict(formPPCtrl.districtID)'
                                       options="formPPCtrl.listKecamatan" config="formPPCtrl.myConfig4" ng-model="formPPCtrl.districtID"></selectize>

                            <!--<select class="form-control input-sm" required ng-model="formPPCtrl.compPerson.Address.DistrictID"
                                    ng-options="item.DistrictID as item.Name for item in formPPCtrl.listKecamatan">
                                <option></option>
                            </select>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 col-sm-12 center-block" style="float: none!important;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{'JABATAN'|translate}}<span style="color: red;">*</span></label>
                            <select disabled class="form-control" ng-model="formPPCtrl.compPerson.PositionRef">
                                <option ng-repeat="item in formPPCtrl.positionTypes" selected value="{{item.Name}}">{{'POSITION_PERSON.'+ item.Name | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">{{'VERSIVENDOR'| translate}}</label>
                            <input type="text" class="form-control" placeholder="{{'VERSIVENDOR'| translate}}"
                                   ng-model="formPPCtrl.compPerson.CompanyPosition" maxlength="256"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'MENJABAT_SEJAK'|translate}}<span style="color: red;"> * </span></label>
                            <a ng-show="formPPCtrl.countryCode === 'IDN'" href="" data-toggle="tooltip" data-placement="top" title="Dapat dilihat pada dokumen serah terima jabatan">
                                <i class="fa fa-info-circle fa-lg"></i>
                            </a>
                            <a ng-show="formPPCtrl.countryCode !== 'IDN'" href="" data-toggle="tooltip" data-placement="top" title="Check on handover position document">
                                <i class="fa fa-info-circle fa-lg"></i>
                            </a>
                            <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
                                <input style="background-color: #ffffff;" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                       is-open="formPPCtrl.isCalendarOpened[1]" ng-model="formPPCtrl.compPerson.ServiceStartDate" ng-change="formPPCtrl.selectedStartDate(formPPCtrl.compPerson.ServiceStartDate)"
                                       style="background-color: #ffffff!important;" 
                                       ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                                <span class="input-group-addon" ng-click="formPPCtrl.openCalendar(1)"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{'SAMPAI'|translate}}</label>&nbsp;<em><small>({{'KOSONGKAN'| translate}})</small></em>
                            <div class="input-group date form_datetime" datepicker-abc data-date-format="dd-MM-yyyy">
                                <input style="background-color: #ffffff;" class="form-control" size="16" type="text" uib-datepicker-popup="dd-MM-yyyy" close-text="{{'TUTUP'|translate}}"
                                       is-open="formPPCtrl.isCalendarOpened[2]" ng-model="formPPCtrl.compPerson.ServiceEndDate" ng-change="formPPCtrl.selectedFinishDate(formPPCtrl.compPerson.ServiceEndDate)" 
                                       style="background-color: #ffffff!important;"
                                       ui-mask="99-99-9999" ui-mask-placeholder ui-mask-placeholder-char="_" model-view-value="true"/>
                                <span class="input-group-addon" ng-click="formPPCtrl.openCalendar(2)"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div ng-show="isEdit === 1" class="col-md-6">
                        <div class="form-group">
                            <label>Scan KTP yang Telah Diupload</label><br />
                            <a href="{{$root.url_api+datapp.file_ktp}}" target="_BLANK" class="btn btn-xs btn-primary"><i class="fa fa-download"></i>&nbsp; Download Scan KTP</a>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-danger" ng-click="formPPCtrl.close()"><i class="fa fa-reply"></i>&nbsp; {{'KEMBALI'|translate}}</button>
        <button type="button" class="btn btn-flat btn-success" ng-click="formPPCtrl.save()"><i class="fa fa-save"></i>&nbsp; {{'SIMPAN'|translate}}</button>
    </div>
</div>